@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";

}
<link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
<script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/common.js"></script>
<!--webUploader文件上传组件-->
<link href="~/content/scripts/plugins/webuploader/webuploader.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/webuploader/webuploader-demo.css" rel="stylesheet" />
<script type="text/javascript" src="~/content/scripts/plugins/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/fileupload.js"></script>
<link href="/ERCHTMS/content/scripts/plugins/icheck/skins/square/_all.css" type="text/css" rel="stylesheet" />
<script src="/ERCHTMS/content/scripts/plugins/icheck/js/icheck.min.js" type="text/javascript"></script>
<script src="/ERCHTMS/content/scripts/plugins/icheck/js/custom.min.js" type="text/javascript"></script>
<style type="text/css">
    table {
        margin: 0px auto;
        padding: 0px;
        width: 100%;
        text-align: center;
    }

        table tr td {
            height: 32px;
        }

    .moveleft {
        text-align: left;
    }

    input {
        text-align: left;
    }

    .txtshow {
        text-align: left;
        float: left;
        padding-left: 5px;
    }

    .childform tr td {
        width: 12.5%;
    }
</style>
<script>
    var keyValue = request('keyValue');
    var actiontype = request("action");
    var DrillName = request('DrillName');
    var OrganizeDept = request('OrganizeDept');
    var DrillTime = request('DrillTime');
    var DrillType = request('DrillType');
    var DrillTypeVal = request('DrillTypeVal');
    var DrillMode = request('DrillMode');
    var DrillModeVal = request('DrillModeVal');
    var CreateUserName = request("CreateUserName");
    var CreateDate = request("CreateDate");
    var OrgDept = request("OrgDept");
    var CompereName = request("CompereName");
    var CreateUserId = request("CreateUserId");

    var curUserId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().UserId";
    var curUserName = "@ERCHTMS.Code.OperatorProvider.Provider.Current().UserName";
    var curDateTime = "@DateTime.Now.ToString("yyyy-MM-dd")";
    $(function () {
        initControl();
        if (actiontype == "show") {
            $("input").attr("disabled", "disabled");
            $("div").attr("disabled", "disabled");
            $("textarea").attr("disabled", "disabled");
        }
    });
    $.ajaxSetup({ async: false });
    //初始化控件
    function initControl() {

        $.SetForm({
            url: "../../EmergencyPlatform/Drillplanrecord/GetEvaluationTemplate",
            success: function (data) {
                if (!!data) {
                    $("#evaluationbody").html(data.result);
                }
            }
        });
        
        if (!!keyValue) {
            $("#btnExport").css("display", "");
        }
        if (!!$("#DrillName") && !!DrillName) {
            $("#DrillName").val(DrillName);
        }
     
        if (!!$("#OrganizeDept") && !!OrganizeDept) {
            $("#OrganizeDept").val(OrganizeDept);
        }
        if (!!$("#OrgDept") && !!OrgDept) {
            $("#OrgDept").val(OrgDept);
        }
        if (!!$("#DrillTime") && !!DrillTime) {
            $("#DrillTime").val(formatDate(DrillTime, 'yyyy-MM-dd'));
        }
        if (!!$("#DrillType").length > 0 && !!DrillType) {
            $("#DrillType").val(DrillType);
        }
        if (!!$("input[name='DrillType']").length > 0 && !!DrillTypeVal) {
            var key = "#DrillType" + DrillTypeVal;
            $(key).prop("checked", "checked");
            $("input[name='DrillType']").each(function (index, ele) { $(this).attr("disabled", "disabled"); })
        }
        if (!!$("#DrillContent").length > 0) {
            var drillcontent = "";
            if (undefined != top.Form) {
                if (!!top.Form.$("#MAINCONTENT")) {
                    drillcontent = top.Form.$("#MAINCONTENT").val()
                }
            }
            $("#DrillContent").val(drillcontent);
        }
        if (!!$("#MainContent").length > 0) {
            var drillcontent = "";
            if (undefined != top.Form) {
                if (!!top.Form.$("#MAINCONTENT")) {
                    drillcontent = top.Form.$("#MAINCONTENT").val()
                }
            }
            $("#MainContent").val(drillcontent);
        }
        if (!!$("#DrillPlace").length > 0) {
            var drillplace = "";
            if (undefined != top.Form) {
                if (!!top.Form.$("#DRILLPLACE")) {
                    drillplace = top.Form.$("#DRILLPLACE").val()
                }
            }
            $("#DrillPlace").val(drillplace);
        }
     
        if (!!$("#DrillMode").length > 0 && !!DrillMode) {
            $("#DrillMode").val(DrillMode);
        }
        if (!!$("input[name='DrillMode']").length > 0 && !!DrillModeVal) {
            var key = "#DrillMode" + DrillModeVal;
            $(key).prop("checked", "checked");
            $("input[name='DrillMode']").each(function (index, ele) { $(this).attr("disabled", "disabled"); })
        }

        $("#ValuatePersonName").val(curUserName);
        $("#ValuatePerson").val(curUserId);

        var rows = top.Form.$("#QuestionTable").jqGrid("getRowData");
        var question = "";
        var Measure = "";
        if (rows.length > 0) {
            $(rows).each(function (i, item) {
                question += (i + 1) + ":" + item.questiondescribe + "\r\n";
                Measure += (i + 1) + ":" + item.reformmeasure + "\r\n";
            })
        }
        $("#Problem").val(question);
        $("#Measure").val(Measure);

        if (!!keyValue) {
            if (!!$("#CreateUserName") && !!CreateUserName) {
                $("#CreateUserName").val(CreateUserName);
            }
            if (!!$("#CreateDate") && !!CreateDate) {
                $("#CreateDate").val(CreateDate);
            }
            if (!!$("#CreateUserId") && !!CreateUserId) {
                $("#CreateUserId").val(CreateUserId);
            }
        }
        else {
            $("#CreateUserName").val(curUserName);
            $("#CreateDate").val(curDateTime);
            $("#CreateUserId").val(curUserId);
        }
        //创建人
        var createuserid = $("#CreateUserId").val();
        //组织者
        if (!!$("#CompereName") && !!CompereName)
        {
            $("#CompereName").val(CompereName);
        }

        var jsondata = top.Form.window.$("#ASSESSDATA").val();
        if (!!jsondata) {
            var data =$.parseJSON(jsondata);
            $(data).each(function (index, ele) {
                var value = ele.value;
                var key = ele.key;
                var objid = "#" + key;
                var type = ele.type;
                if (type == "radio") {
                    objid = "#" + key + "_" + value;
                    if ($(objid).length > 0) {
                        //$(objid).prop("checked", "checked");
                        document.getElementById(key + "_" + value).checked = true;
                        if (value == 2) {
                            $(objid).next().removeAttr("disabled");
                        }
                    }
                    else {
                        objid = "#" + key  + value;
                        $(objid).prop("checked", "checked");
                    }
                }
                else {
                    if (!!value)
                    {
                        $(objid).val(value);
                    }
                }
            });
        }
        $('.result').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%'
        });
        $('.result').on("ifChecked", function () {
            var id = $(this).attr("name").replace("content", "reason");
            var value = $(this).val();
            if (value == 2) {
                $("#" + id).removeAttr("disabled");
            }
            else {
                $("#" + id).val("");
                $("#" + id).attr("disabled", "disabled");
            }

        })
        if (!!createuserid) {
            $.SetForm({
                url: "../../BaseManage/User/GetUserInfo?keyValue=" + $("#CreateUserId").val(),
                success: function (data) {
                    if (!!data) {
                        if (!!$("#Mobile") && !!data.Mobile) {
                            $("#Mobile").val(data.Mobile);
                        }
                        if (!!$("#DutyName") && !!data.DutyName) {
                            $("#DutyName").val(data.DutyName);
                        }
                    }
                }
            });
        }
    }


    //保存表单;
    function AcceptClick() {
        var array = new Array();
        var keyarray = new Array();
        $(".form input").each(function (index, ele) {
            if (!!ele.id && ele.type != "radio") {
                var key = ele.id;
                var value = ele.value.replace(/"/g,"“");
                var type = ele.type;
                if (keyarray.indexOf(key) < 0) {
                    keyarray.push(key);
                    array.push({ key: key, value: value, type: type });
                }
            }
            else {
                var key = ele.name;
                var value = $("input[name='" + key + "']:checked").val();
                var type = ele.type;
                if (keyarray.indexOf(key) < 0) {
                    keyarray.push(key);
                    array.push({ key: key, value: value, type: type });
                }
            }
        });
        $(".form textarea").each(function (index, ele) {
            if (!!ele.id) {
                var key = ele.id;
                var value = ele.value.replace(/"/g, "“");
                var type = ele.type;
                if (keyarray.indexOf(key) < 0) {
                    array.push({ key: key, value: value, type: type });
                }
            }
        });
        var jsondata = JSON.stringify(array);
        top.Form.window.$("#ASSESSDATA").val(jsondata);
    }

    function setUserValue(Id) {
        selectUser({ deptId: "", checkMode: 1, mode: 0, winObject: document.body, domId: "ValuatePersonName,,ValuatePerson" });
    }
    function setUserValue2(Id) {
        selectUser({ deptId: "", checkMode: 1, mode: 0, winObject: document.body, domId: "CheckPersonName,,CheckPerson" });
    }

    function exportData() {
        //window.location.href = "ExportDrillAssess?keyValue=" + keyValue;
        var array = new Array();
        var keyarray = new Array();
        $(".form input").each(function (index, ele) {
            if (!!ele.id && ele.type != "radio") {
                var key = ele.id;
                var value = ele.value;
                var type = ele.type;
                if (keyarray.indexOf(key) < 0) {
                    keyarray.push(key);
                    array.push({ key: key, value: value, type: type });
                }
            }
            else {
                var key = ele.name;
                var value = $("input[name='" + key + "']:checked").val();
                var type = ele.type;
                if (keyarray.indexOf(key) < 0) {
                    keyarray.push(key);
                    array.push({ key: key, value: value, type: type });
                }
            }
        });
        $(".form textarea").each(function (index, ele) {
            if (!!ele.id) {
                var key = ele.id;
                var value = ele.value;
                var type = ele.type;
                if (keyarray.indexOf(key) < 0) {
                    array.push({ key: key, value: value, type: type });
                }
            }
        });
        var jsondata = JSON.stringify(array);

        PostFile({ assessdata: jsondata }, "ExportDrillAssess?keyValue=" + keyValue);
    }

    function PostFile(params, url)
    {
        var form = document.createElement("form");
        form.style.display = "none";
        form.action = url;
        form.method = "post";
        document.body.appendChild(form);
        for (var key in params)
        {
            var input = document.createElement("input");
            input.style = "hidden";
            input.name = key;
            input.value = params[key];
            form.appendChild(input);
        }
        form.submit();
        form.remove();
    }

</script>
<div style="margin-top: 20px; margin-right: 30px;">

    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;评估表</strong>
            <span class="tools pull-right">
                <a class="btn btn-primary btn-xs" id="btnExport" style="display:none" onclick="exportData()">导出</a>
                <a class="fa fa-chevron-down" title="展开/收起"></a>
                <input id="ID" type="hidden" class="form-control" />
            </span>
        </div>
        <div class="panel-body" id="evaluationbody">
            
        </div>
    </div>
</div>
