@{;
ViewBag.Title = "列表页面";
Layout = "~/Views/Shared/_KMIndex.cshtml";
}
<script src="~/Content/scripts/jqueryFy/common/jquery.min.js"></script>
<script src="~/Content/scripts/jqueryFy/jquery.pagination.js"></script>
<link href="~/Content/scripts/jqueryFy/pagination.css" rel="stylesheet" />


<link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
<script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script src="~/Content/scripts/business/Grid.js"></script>

<style type="text/css">
    $ {
        demo .css;
    }

    .css1 {
        width: 50px;
        font-weight: bold;
    }

    .css2 {
        width: 100px;
    }
</style>




<script>
    var pageindex = 1;
    var rowNum = 5;
    var PageConut = 1;
    var pageindex1 = 1;
    var rowNum1 = 5;
    var PageConut1 = 1;
    $(function () {

        GetList();
        GetList1();
        PageIni();
        PageIni1();
        //查询条件
        $("#queryCondition .dropdown-menu li").click(function () {
            var text = $(this).find('a').html();
            var value = $(this).find('a').attr('data-value');
            $("#queryCondition .dropdown-text").html(text).attr('data-value', value);
        });
        $("#type .dropdown-menu li").click(function () {
            var text = $(this).find('a').html();
            var value = $(this).find('a').attr('data-value');
            $("#type .dropdown-text").html(text).attr('data-value', value);
        });

        $("#queryCondition1 .dropdown-menu li").click(function () {
            var text = $(this).find('a').html();
            var value = $(this).find('a').attr('data-value');
            $("#queryCondition1 .dropdown-text").html(text).attr('data-value', value);
        });
        $("#type1 .dropdown-menu li").click(function () {
            var text = $(this).find('a').html();
            var value = $(this).find('a').attr('data-value');
            $("#type1 .dropdown-text").html(text).attr('data-value', value);
        });


        var html = "";
        $.ajax({//今日来访车辆
            url: '../../CarManage/Visitcar/GetOutCarNum',
            type: "GET",
            async: false,
            dataType: "text",
            success: function (result) {
                var list = eval("(" + result + ")");
                $("#OutCarNum").html("今日外来车辆：" + list[0] + "辆，目前在厂：" + list[1] + "辆");
            }
        });

        $.ajax({//今日来访人员
            url: '../../CarManage/Visitcar/GetForeignUserNum',
            type: "GET",
            async: false,
            dataType: "text",
            success: function (result) {
                var list = eval("(" + result + ")");
                $("#OutUserNum").html("今日拜访人员： " + list[0] + "人，当前在厂拜访人员：" + list[1] + "人");
            }
        });


    });

    //初始化页面
    function InitialPage() {
        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 108.5);
            },
                200);
            e.stopPropagation();
        });
    }

    //加载拜访车辆
    function GetList() {
        var sttime = $("#StartTime").val();
        var endtime = $("#EndTime").val();
        var type = $("#type").find('.dropdown-text').attr('data-value');
        var queryCondition = $("#queryCondition").find('.dropdown-text').attr('data-value');
        var keyword = $.trim($("#txt_Keyword").val());
        var pagination =
        {
            page: pageindex,
            rows: rowNum
        }
        var queryJson = {
            sttime: sttime,
            endtime: endtime,
            type: type,
            condition: queryCondition,
            keyword: keyword
        }
        $.ajax({
            url: '../../CarManage/Visitcar/GetListPageJson',
            data: { queryJson: JSON.stringify(queryJson), paginations: JSON.stringify(pagination) },
            type: "GET",
            async: false,
            dataType: "Json",
            success: function (result) {
                var html = "";
                for (var i = 0; i < result.rows.length; i++) {

                    html += "<div class=\"carsItem\">";
                    html += "<div class=\"carsImgWrap\">";
                    html += "<img src=\"" + top.contentPath + "/Content/images/off-line.png\" alt=\"\" />";
                    html += "</div>";
                    html += "<div   class=\"carsinfoWrap\">";
                    html += "<div class=\"carsInfoItem1\">";
                    if (result.rows[i].carno != null) {
                        html += "<h4>车牌号:" + result.rows[i].carno + "</h4>";
                    } else {
                        html += "<h4>车牌号:</h4>";
                    }
                    html += "<ul class=\"carsInfoItemUl\">";
                    html += " <li>";
                    html += "<i class=\"carOrder\">进厂目的:</i>";
                    if (result.rows[i].purpose != null) {
                        html += " <span>" + result.rows[i].purpose + "</span>";
                    } else {
                        html += " <span></span>";
                    }
                    html += " </li>";
                    html += " <li>";
                    html += "<i class=\"carOrder\">进厂时间:</i>";
                    if (result.rows[i].intime != null) {
                        html += " <span>" + result.rows[i].intime + "</span>";
                    } else {
                        html += " <span></span>";
                    }
                    html += " </li>";
                    html += "<li>";
                    html += "<i class=\"carOrder\">出厂时间:</i>";
                    if (result.rows[i].outtime != null) {
                        html += " <span>" + result.rows[i].outtime + "</span>";
                    } else {
                        html += " <span></span>";
                    }
                    html += "</li>";
                    html += "<li>";
                    html += "<i class=\"carOrder\">异常处理措施:</i>";
                    if (result.rows[i].note != null) {
                        html += " <span>" + result.rows[i].note + "</span>";
                    } else {
                        html += " <span></span>";
                    }
                    html += " </li>";
                    html += "</ul>";
                    html += "</div>";
                    html += "<div class=\"carsInfoItem2\">";
                    html += " <ul class=\"carsInfoItemUl\">";
                    html += " <li>";
                    html += "<i class=\"carOrder\">驾驶人:</i>";
                    if (result.rows[i].dirver != null) {
                        html += " <span>" + result.rows[i].dirver + "</span>";
                    } else {
                        html += " <span></span>";
                    }
                    html += "</li>";
                    html += "<li>";
                    html += " <i class=\"carOrder\">驾驶人电话:</i>";
                    if (result.rows[i].phone != null) {
                        html += " <span>" + result.rows[i].phone + "</span>";
                    } else {
                        html += " <span></span>";
                    }
                    html += "</li>";
                    html += "</ul>";
                    html += "</div>";
                    html += "<div class=\"carsInfoItem3\">";
                    html += " <ul class=\"carsInfoItemUl\">";
                    html += " <li>";
                    html += " <i class=\"carOrder\">随行人员:</i>";
                    if (result.rows[i].type == 0 || result.rows[i].type == 2) {
                        if (result.rows[i].anumber != null) {
                            html += " <span>" + result.rows[i].anumber + "</span>";
                        } else {
                            html += " <span></span>";
                        }
                    } else {
                        html += " <span></span>";
                    }
                    html += "</li>";
                    html += "<li>";
                    html += " <i class=\"carOrder\">厂内情况:</i>";
                    if (result.rows[i].vnum == 0) {
                        html += " <span>正常</span>";
                    } else {
                        html += " <span>异常</span>";
                    }
                    html += "</li>";
                    html += "</ul>";
                    html += "</div>";
                    html += "</div>";
                    html += "</div>";

                }

                $("#main").html(html);

                PageConut = result.total;
            }
        });
    }


    //加载拜访人员
    function GetList1() {
        var sttime = $("#StartTime1").val();
        var endtime = $("#EndTime1").val();
        var type = $("#type1").find('.dropdown-text').attr('data-value');
        var queryCondition = $("#queryCondition1").find('.dropdown-text').attr('data-value');
        var keyword = $.trim($("#txt_Keyword1").val());
        var pagination =
        {
            page: pageindex1,
            rows: rowNum1
        }
        var queryJson = {
            sttime: sttime,
            endtime: endtime,
            type: type,
            condition: queryCondition,
            keyword: keyword
        }
        $.ajax({
            url: '../../CarManage/Visitcar/GetListPageJsonNew',
            data: { queryJson: JSON.stringify(queryJson), paginations: JSON.stringify(pagination) },
            type: "GET",
            async: false,
            dataType: "Json",
            success: function (result) {
                var html = ""; var itmes = "";
                for (var i = 0; i < result.rows.length; i++) {
                    $.ajax({
                        url: '../../CarManage/Visitcar/GetUserRecodelist',
                        type: "POST",
                        data: { keyValue: result.rows[i].id, name: result.rows[i].dirver },
                        async: false,
                        dataType: "Json",
                        success: function (itmes) {
                            html += "<div class=\"carsItem\">";
                            html += "<div class=\"carsImgWrap\">";
                            html += "<img src=\"" + top.contentPath + "/Content/images/carImg.png\" alt=\"\" />";
                            html += "</div>";
                            html += "<div onclick=\"f_show('" + result.rows[i].id + "')\"  class=\"carsinfoWrap\">";
                            html += "<div class=\"carsInfoItem1\">";
                            if (result.rows[i].dirver != null) {
                                html += "<h4>申请人：" + result.rows[i].dirver + "</h4>";
                            } else {
                                html += "<h4>申请人:</h4>";
                            }
                            html += "<ul class=\"carsInfoItemUl\">";
                            html += " <li>";
                            html += "<i class=\"carOrder\">进厂目的:</i>";
                            if (result.rows[i].purpose != null) {
                                html += " <span>" + result.rows[i].purpose + "</span>";
                            } else {
                                html += " <span></span>";
                            }
                            html += " </li>";
                            html += " <li>";
                            html += "<i class=\"carOrder\">进厂时间:</i>";
                            if (itmes != "" && itmes[0].intime != null) {
                                html += " <span>" + itmes[0].intime + "</span>";
                            } else {
                                html += " <span>" + result.rows[i].intime + "</span>";
                            }
                            html += " </li>";
                            html += "<li>";
                            html += "<i class=\"carOrder\">出厂时间:</i>";
                            if (itmes != "" && itmes[0].outtime != null) {
                                html += " <span>" + itmes[0].outtime + "</span>";
                            } else {
                                html += " <span>" + result.rows[i].outtime + "</span>";
                            }
                            html += "</li>";
                            html += "<li>";
                            html += "<i class=\"carOrder\">异常处理措施:</i>";
                            if (result.rows[i].note != null) {
                                html += " <span>" + result.rows[i].note + "</span>";
                            } else {
                                html += " <span></span>";
                            }
                            html += " </li>";
                            html += "</ul>";
                            html += "</div>";
                            html += "<div class=\"carsInfoItem2\">";
                            html += " <ul class=\"carsInfoItemUl\">";
                            html += " <li>";
                            html += "<i class=\"carOrder\">申请人电话:</i>";
                            if (result.rows[i].phone != null) {
                                html += " <span>" + result.rows[i].phone + "</span>";
                            } else {
                                html += " <span></span>";
                            }
                            html += "</li>";

                            html += "</ul>";

                            html += "</div>";
                            html += "<div class=\"carsInfoItem3\">";
                            html += " <ul class=\"carsInfoItemUl\">";

                            html += "<li>";
                            html += " <i class=\"carOrder\">厂内情况:</i>";
                            if (result.rows[i].vnum == 0) {
                                html += " <span>正常</span>";
                            } else {
                                html += " <span>正常</span>";
                            }
                            html += "</li>";
                            html += "</ul>";

                            html += " <ul class=\"carsInfoItemUl\">";
                            html += "<li>";
                            html += " <i class=\"carOrder\">状态:</i>";
                           
                            if (itmes != "" && itmes[0].sum == itmes[0].outnum) {
                                html += " <span>已全部出厂</span>";
                            } else {
                                if (itmes != "") {
                                    html += " <span>" + parseInt(Number(itmes[0].sum) - Number(itmes[0].outnum)) + "人未出厂</span>";
                                }
                            }
                            html += "</li>";
                            html += "</ul>";
                            html += "</div>";
                            html += "</div>";
                            html += "</div>";
                        }
                    });
                }

                $("#main1").html(html);
                $("#divstr").val(html);
                PageConut1 = result.total;
            }
        });
    }

    //人员记录查看详情
    function f_show(id) {
        idx = dialogOpen({
            id: 'Form',
            title: '查看详情',
            url: '/CarManage/Visitcar/ShowUserRecord?keyValue=' + id + "&Type=3",
            width: '1200px',
            height: '600px',
            btn: ["关闭"],
            callBack: function (iframeId) {
                top.layer.close(idx);
            }
        });
    }

    function PageIni() {
        $('.Pagination').pagination({
            pageCount: PageConut,
            jump: true,
            coping: true,
            homePage: '首页',
            endPage: '末页',
            prevContent: '上页',
            nextContent: '下页',
            callback: function (api) {
                pageindex = api.getCurrent();
                GetList();

            }
        });
    }
    //人
    function PageIni1() {
        $('.Pagination1').pagination({
            pageCount: PageConut1,
            jump: true,
            coping: true,
            homePage: '首页',
            endPage: '末页',
            prevContent: '上页',
            nextContent: '下页',
            callback: function (api) {
                pageindex1 = api.getCurrent();
                GetList1();

            }
        });
    }


    //车全部
    function All() {
        $("#StartTime").val("");
        $("#EndTime").val("");
        $("#txt_Keyword").val("");
        $("#queryCondition .dropdown-text").html("选择条件").attr("data-value", "");
        $("#type .dropdown-text").html("选择条件").attr("data-value", "");
        pageindex = 1;
        GetList();
        PageIni();
    }

    //车查询
    function Search() {
        pageindex = 1;
        GetList();
        PageIni();
    }

    //人员全部
    function All1() {
        $("#StartTime1").val("");
        $("#EndTime1").val("");
        $("#txt_Keyword1").val("");
        $("#queryCondition1 .dropdown-text").html("选择条件").attr("data-value", "");
        $("#type1 .dropdown-text").html("选择条件").attr("data-value", "");
        pageindex1 = 1;
        GetList1();
        PageIni1();
    }

    //人员查询
    function Search1() {
        pageindex1 = 1;
        GetList1();
        PageIni1();
    }


</script>


<div class="toolbar">
    <div class="btn-group">
        <button id="btntj"  class="btn btn-primary btn10" type="button" onclick="state = 1; $('.carRecordWrap').show(); $('.UserRecordWrap').hide(); $('.btn10').removeClass('btn-primary'); $('.btn10').addClass('btn-default'); $(this).addClass('btn-primary');">&nbsp;车辆历史记录</button>
        <button id="btnqs" class="btn btn-default btn10" type="button" onclick="state = 2; $('.UserRecordWrap').show(); $('.carRecordWrap').hide(); $('.btn10').removeClass('btn-primary'); $('.btn10').addClass('btn-default'); $(this).addClass('btn-primary');">&nbsp;人员历史记录</button>
    </div>
</div>



@*车辆历史记录*@
<div class="carRecordWrap" style="width: 100%;">
    <div class="row">
        <div class="col-md-12 carRecordHead clear">
            <h4 class="recordHead_l">车辆历史记录</h4>
            <div class="recordHead_r" id="OutCarNum"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 carRordHeader">
            <div class="carRordTable">
                <div class="carRordTableBox">
                    <div class="carRordTableMsg1">车辆来厂目的:</div>
                    <div class="dropPadding">
                        <div id="type" class="btn-group" style="width: 100%">
                            <a class="btn btn-default dropdown-text" data-toggle="dropdown">选择目的</a>
                            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a data-value="">全部</a></li>
                                <li><a data-value="0">拜访</a></li>
                                <li><a data-value="1">提货/转运</a></li>
                                <li><a data-value="2">危化品</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="carRordTableMsg2" style="padding-left: 10px">
                        时间:
                    </div>
                    <div class="timePicker">
                        <input id="StartTime" type="text" class="form-control" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" placeholder="开始日期" style="display: inline-block" />
                    </div>
                    <div class="carRordTableMsg3">
                        至
                    </div>
                    <div class="timePicker2">
                        <input id="EndTime" type="text" class="form-control" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" placeholder="结束日期" style="display: inline-block" />
                    </div>
                    <div class="carRordTableMsg4">选择条件:</div>
                    <div class="rulePicker" style="padding-left: 10px">
                        <div id="queryCondition" class="btn-group" style="width: 100%">
                            <a class="btn btn-default dropdown-text" data-toggle="dropdown">选择条件</a>
                            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a data-value="Dirver">驾驶人</a></li>
                                <li><a data-value="CarNo">车牌号</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="searchPicker" style="padding-left: 10px">
                        <input id="txt_Keyword" type="text" class="form-control searchText" placeholder="请输入要查询关键字" />
                    </div>
                    <div class="carRordTableBtns" style="padding-left: 15px;">
                        <a id="btn_Search" class="btn btn-primary" onclick="Search()"><i class="fa fa-search"></i>搜索</a>
                        <a id="btn_SearchAll" class="btn btn-primary" onclick="All()"><i class="fa fa-search-plus"></i>&nbsp;全部</a>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="carsInfo" id="main">
                   
                </div>
            </div>
        </div>
    </div>
    <div class="setPageDiv">
        <div class="Pagination" id="pagination"></div>
    </div>
</div>

@*人员历史记录*@

<div class="UserRecordWrap" style="width: 100%; display:none;">
    <div class="row">
        <div class="col-md-12 carRecordHead clear">
            <h4 class="recordHead_l">人员历史记录</h4>
            <div class="recordHead_r" id="OutUserNum"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 carRordHeader">
            <div class="carRordTable">
                <div class="carRordTableBox">
                    <div class="carRordTableMsg1">人员状态:</div>
                    <div class="dropPadding">
                        <div id="type1" class="btn-group" style="width: 100%">
                            <a class="btn btn-default dropdown-text" data-toggle="dropdown">选择状态</a>
                            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a data-value="">全部</a></li>
                                <li><a data-value="3">在厂</a></li>
                                <li><a data-value="4">已离厂</a></li>
                           </ul>
                        </div>
                    </div>
                    <div class="carRordTableMsg2" style="padding-left: 10px">
                        时间:
                    </div>
                    <div class="timePicker">
                        <input id="StartTime1" type="text" class="form-control" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" placeholder="开始日期" style="display: inline-block" />
                    </div>
                    <div class="carRordTableMsg3">
                        至
                    </div>
                    <div class="timePicker2">
                        <input id="EndTime1" type="text" class="form-control" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" placeholder="结束日期" style="display: inline-block" />
                    </div>
                    <div class="carRordTableMsg4">选择条件:</div>
                    <div class="rulePicker" style="padding-left: 10px">
                        <div id="queryCondition1" class="btn-group" style="width: 100%">
                            <a class="btn btn-default dropdown-text" data-toggle="dropdown">选择条件</a>
                            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a data-value="Dirver">姓名</a></li>
                                <li><a data-value="Phone">手机号</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="searchPicker" style="padding-left: 10px">
                        <input id="txt_Keyword1" type="text" class="form-control searchText" placeholder="请输入要查询关键字" />
                    </div>
                    <div class="carRordTableBtns" style="padding-left: 15px;">
                        <a id="btn_Search" class="btn btn-primary" onclick="Search1()"><i class="fa fa-search"></i>搜索</a>
                        <a id="btn_SearchAll" class="btn btn-primary" onclick="All1()"><i class="fa fa-search-plus"></i>&nbsp;全部</a>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="carsInfo" id="main1">
                </div>
            </div>
        </div>
    </div>
    <div class="setPageDiv">
        <div class="Pagination1" id="pagination1"></div>
    </div>
</div>



<style>
    .setPageDiv {
        width: 1100px;
        margin: auto;
        padding-bottom: 30px;
        margin-top: 37px;
    }

    #pagination, #Pagination1 {
        margin: auto;
        margin-left: 100px;
    }

    .img-responsive {
        width: 30px;
        height: 30px;
    }

    ul, li, body, p {
        margin: 0;
        padding: 0;
    }

    html {
        height: 100%;
    }

    body {
        height: 100%;
        font-size: 16px;
        font-family: 微软雅黑,宋体,Arial,Helvetica,Verdana,sans-serif;
    }

    li {
        list-style: none;
    }

    .clear:after {
        content: "";
        display: block;
        height: 0;
        overflow: hidden;
        clear: both;
    }

    .clear {
        zoom: 1;
    }

    .carRecordWrap {
        background-color: #f8f8f8;
    }

    .carRecordHead {
        height: 50px;
        line-height: 62px;
        border-bottom: 1px solid #e2e2e2;
    }

    .carRordHeader {
        height: 70px;
        line-height: 70px;
    }

    .recordHead_l {
        float: left;
        color: #379ad3;
        font-size: 18px;
        font-weight: 600;
        line-height: 62px;
    }

    .recordHead_r {
        float: right;
        color: #3a9bd2;
        font-size: 16px;
    }

    .todoDropClass {
        width: 15%;
        display: flex;
    }

        .todoDropClass .dropdown-text {
            flex: 1;
        }

        .todoDropClass .dropdown-menu {
            width: 100%;
        }

    .carRordTable td {
        padding-left: 25px;
    }

    .carRordTable .searchText {
        display: inline-block;
    }

    .carRordTableBox {
        display: flex;
        line-height: 70px;
    }

    .dropPadding {
        padding-left: 10px;
        width: 18%;
    }

    .timePicker, .timePicker2 {
        display: flex;
        align-items: center;
        padding-left: 10px;
        width: 8%;
    }

    .carRordTableMsg2, .carRordTableMsg3, .carRordTableMsg4 {
        padding-left: 10px;
    }

    .searchPicker {
        display: flex;
        align-items: center;
        padding-left: 10px;
        width: 15%;
    }

    .btn-group .dropdown-text {
        display: inline-block;
        width: 85%;
    }

    .btn-group .dropdown-menu {
        width: 85%;
    }

    .rulePicker {
        width: 18%;
    }

    .carsItem {
        display: flex;
        margin-bottom: 10px;
    }

        .carsItem:last-child {
            margin-bottom: 0;
        }

    .carsinfoWrap {
        flex: 1;
        display: flex;
    }

    .carsItem {
        height: 220px;
        background: #FFF;
        padding-left: 32px;
    }

    .carsImgWrap {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }

    .carsInfoItem1 {
        width: 30%;
    }

    .carsInfoItem2 {
        width: 28%;
        margin-top: 94px;
    }

    .carsInfoItem3 {
        width: 40%;
        margin-top: 94px;
    }

    .carsInfoItem1 h4 {
        font-size: 20px;
        line-height: 65px;
        color: #555;
    }

    .carsInfoItemUl li {
        height: 30px;
        line-height: 30px;
    }

    .carsInfoItemUl .carOrder {
        color: #a0acc2;
        margin-right: 18px;
        font-style: normal;
    }

    .carsInfoItemUl span {
        color: #555;
    }

    .carsItem .unable {
        color: #ff221f;
    }

    #pagination, #Pagination1 {
        width: 300px;
        line-height: 30px;
        margin: 0 auto;
    }

        #pagination a, #pagination span {
            margin-left: 12px;
            font-size: 15px;
        }

            #pagination a.next {
                margin-right: 15px;
            }

            #pagination a:hover {
                color: #29acee;
            }


        #pagination1 a, #pagination1 span {
            margin-left: 12px;
            font-size: 15px;
        }

            #pagination1 a.next {
                margin-right: 15px;
            }

            #pagination1 a:hover {
                color: #29acee;
            }
        #pagination input {
            float: none;
            width: 50px;
            height: 25px;
            line-height: 25px;
        }
        #pagination1 input {
            float: none;
            width: 50px;
            height: 25px;
            line-height: 25px;
        }

</style>