@{
    ViewBag.Title = "设备查看图片";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<script>

    var KeyValue = request("KeyValue");
    $(function () {

        var html = "";
        html += " <div class='device-img-warp'>";
        html += "<div class='img-container'>";
        //html += " <img style='margin:0 auto 10px;display:block;' height='183' width='96'  src=" + top.contentPath + "/Resource/Equpment/" + obj.ID + "/" + end + " >";
        html += " <img style='margin:0 auto 10px;display:block;' height='600' width='800'  src=" + KeyValue + " >";
        html += "</div>";

        $("#ImgDiv").html(html);

    });


</script>

<div id="ImgDiv" style="text-align: center; margin-top: 25px;">



</div>