@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<!DOCTYPE html>



<style>
    .setPageDiv {
        width: 1100px;
        margin: auto;
        padding-bottom: 30px;
        margin-top: 37px;
    }

    #pagination {
        margin: auto;
        margin-left: 100px;
    }

    .img-responsive {
        width: 30px;
        height: 30px;
    }

    ul, li, body, p {
        margin: 0;
        padding: 0;
    }

    html {
        height: 100%;
    }

    body {
        height: 100%;
        font-size: 16px;
        font-family: 微软雅黑,宋体,Arial,Helvetica,Verdana,sans-serif;
    }

    li {
        list-style: none;
    }

    .clear:after {
        content: "";
        display: block;
        height: 0;
        overflow: hidden;
        clear: both;
    }

    .clear {
        zoom: 1;
    }

    .carRecordWrap {
        background-color: #f8f8f8;
    }

    .carRecordHead {
        height: 50px;
        line-height: 62px;
        border-bottom: 1px solid #e2e2e2;
    }

    .carRordHeader {
        height: 70px;
        line-height: 70px;
    }

    .recordHead_l {
        float: left;
        color: #379ad3;
        font-size: 18px;
        font-weight: 600;
        line-height: 62px;
    }

    .recordHead_r {
        float: right;
        color: #3a9bd2;
        font-size: 16px;
    }

    .todoDropClass {
        width: 15%;
        display: flex;
    }

        .todoDropClass .dropdown-text {
            flex: 1;
        }

        .todoDropClass .dropdown-menu {
            width: 100%;
        }

    .carRordTable td {
        padding-left: 25px;
    }

    .carRordTable .searchText {
        display: inline-block;
    }

    .carRordTableBox {
        display: flex;
        line-height: 70px;
    }

    .dropPadding {
        padding-left: 10px;
        width: 18%;
    }

    .timePicker, .timePicker2 {
        display: flex;
        align-items: center;
        padding-left: 10px;
        width: 8%;
    }

    .carRordTableMsg2, .carRordTableMsg3, .carRordTableMsg4 {
        padding-left: 10px;
    }

    .searchPicker {
        display: flex;
        align-items: center;
        padding-left: 10px;
        width: 15%;
    }

    .btn-group .dropdown-text {
        display: inline-block;
        width: 85%;
    }

    .btn-group .dropdown-menu {
        width: 85%;
    }

    .rulePicker {
        width: 18%;
    }

    .carsItem {
        display: flex;
        margin-bottom: 10px;
    }

        .carsItem:last-child {
            margin-bottom: 0;
        }

    .carsinfoWrap {
        flex: 1;
        display: flex;
    }

    .carsItem {
        height: 220px;
        background: #FFF;
        padding-left: 32px;
    }

    .carsImgWrap {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }

    .carsInfoItem1 {
        width: 80%;
    }

    .carsInfoItem2 {
        width: 28%;
        margin-top: 94px;
    }

    .carsInfoItem3 {
        width: 40%;
        margin-top: 94px;
    }

    .carsInfoItem1 h4 {
        font-size: 20px;
        line-height: 65px;
        color: #555;
    }

    .carsInfoItemUl li {
        height: 30px;
        line-height: 30px;
    }

    .carsInfoItemUl .carOrder {
        color: #a0acc2;
        margin-right: 18px;
        font-style: normal;
    }

    .carsInfoItemUl span {
        color: #555;
    }

    .carsItem .unable {
        color: #ff221f;
    }

    #pagination {
        width: 300px;
        line-height: 30px;
        margin: 0 auto;
    }

        #pagination a, #pagination span {
            margin-left: 12px;
            font-size: 15px;
        }

            #pagination a.next {
                margin-right: 15px;
            }

            #pagination a:hover {
                color: #29acee;
            }

        #pagination input {
            float: none;
            width: 50px;
            height: 25px;
            line-height: 25px;
        }

    #carsInfoItemUl li i {
        margin-left:30px;
    }


</style>

<script>

    var keyValue = request('keyValue');
    var Type = request('Type');
    var stime = ""; var etime = "";
  

    $(function () {

        $.ajax({
            url: '../../CarManage/Visitcar/GetPersongpslist?keyValue=' + keyValue,
            type: "post",
            async: false,
            dataType: "Json",
            success: function (result) {
                if (result != null) {
                    var html = "";
                    stime = result[0].InTime;
                    etime = result[0].OutTime;
                    for (var i = 0; i < result.length; i++) {
                        var outtime = result[i].OutTime == null ? "" : result[i].OutTime
                        html += " <li> <i class=\"carOrder\">姓名:</i> <span>" + result[i].UserName + "</span>";
                        html += " <i class=\"carOrder\">进厂时间:</i> <span>" + result[i].InTime + "</span>";
                        html += " <i class=\"carOrder\">出厂时间:</i> <span>" + outtime + "</span> </li>";
                    }
                    $("#carsInfoItemUl").html(html);
                }
            }
        });

        $.ajax({
            url: '../../CarManage/Visitcar/GetEntity?keyValue=' + keyValue + "&type=" + Type,
            type: "get",
            async: false,
            dataType: "Json",
            success: function (result) {
                if (result != null) {
                    debugger;
                    $("#dirver").html("申请人：" + result.Dirver + "");
                    $("#purpose").html("拜访-" + result.VisitDept + "-" + result.VisitUser);
                    $("#Note").html(result.Note);
                    $("#Phone").html(result.Phone);
                    $("#InTime").html(stime);
                    $("#OutTime").html(etime);
                }
            }
        });
      

    });



</script>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>

    <div class="carsItem">
        <div class="carsImgWrap"><img src="/ERCHTMS/Content/images/carImg.png" alt="" /></div>
        <div class="carsinfoWrap">
            <div class="carsInfoItem1">
                <h4 id="dirver"></h4>
                <ul class="carsInfoItemUl">
                    <li><i class="carOrder">进厂目的:</i> <span id="purpose"></span> </li>
                    <li><i class="carOrder">进厂时间:</i> <span id="InTime"></span> </li>
                    <li><i class="carOrder">出厂时间:</i> <span id="OutTime"></span></li>
                    <li><i class="carOrder">异常处理措施:</i> <span id="Note">违章已考核。</span> </li>
                </ul>
                <div style="padding-top:30px; float:left;">
                    <ul id="carsInfoItemUl" class="carsInfoItemUl">
                   </ul>
                </div>
            </div>
            <div class="carsInfoItem2">
                <ul class="carsInfoItemUl">
                    <li><i class="carOrder">申请人电话:</i> <span id="Phone"></span></li>
                    <li><i class="carOrder">厂内情况:</i> <span>正常</span></li>
                </ul>
            </div>
        </div>
    </div>


</body>
</html>

<style>
    .ContenSumTitle {
        /*height: 74px;*/
        padding: 10px;
        /*border: 1px solid #ccc;*/
        margin-left: 10px;
        text-align: center;
        width: 100%;
    }

        .ContenSumTitle td {
            border: 1px solid #ccc;
            width: 120px;
        }

    .bodyClass tr {
        height: 35px;
    }

    #UserList td {
    }
</style>


