@{
    ViewBag.Title = "违章人员扣分信息";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
<script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script src="~/Content/scripts/business/Common.js"></script>
<script src="~/Content/scripts/business/Grid.js"></script>
<script>
    //加载页面
    $(function () {
        //页面初始化
        InitialPage();
        // 列表
        GetGrid();

    });
    //初始化页面
    function InitialPage() {
        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 108.5);
            }, 200);
            e.stopPropagation();
        });
    }

    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            url: "../../LllegalManage/LllegalPointRecover/GetListJson",
            datatype: "json",
            height: $(window).height() - 170,
            autowidth: true,
            colModel: [
                { label: '主键', name: 'id', hidden: true },
                 {
                     label: '操作', name: 'oper', index: 'id', width: 120, align: 'center',
                     formatter: function (cellvalue, options, rowObject) {
                         var html = "<a href=javascript:viewdata('" + rowObject.id + "')  title='查看'><i class='fa fa-eye'></i></a>";
                         return html;
                     }
                 },
                { label: '积分恢复人员', name: 'username', index: 'username', align: 'center', sortable: true },
                { label: '操作人', name: 'createusername', index: 'createusername', align: 'center', sortable: true },
                {
                    label: '操作时间', name: 'createdate', index: 'createdate', align: 'center', sortable: true, formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd');
                    }
                }
            ],
            viewrecords: true,
            rowNum: 10,
            rowList: [10, 20, 30],
            pager: "#gridPager",
            sortname: 'createdate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: true,
            multiselect: false,
            gridview: true,
            onSelectRow: function (rowid, status) {
            },
            onSelectAll: function (aRowids, status) {

            },
            gridComplete: function () {
                $("#" + this.id).setSelection(selectedRowIndex, false);
            }
        });

    }


    //查看视图
    function viewdata(obj) {
        dialogOpen({
            id: 'RecoverForm',
            title: "查看积分恢复详情",
            url: '/LllegalManage/LllegalPointRecover/RecordForm?keyValue=' + obj ,
            width: ($(top.window).width() - 100) + "px",
            height: ($(top.window).height() - 100) + "px",
            btn: null
        });
    }


</script>

<div class="titlePanel">
    <div class="toolbar">

        <div class="btn-group">
            <a class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>刷新</a>
        </div>

    </div>
</div>
<div class="gridPanel">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>
