.sec_top{
    height: 0.51rem;
    border-bottom: 1px solid #eff6ff;
}
.sec_top h3{
    padding-left: 0.2rem;
    font-size: 0.18rem;
    line-height: 0.5rem;
    font-weight: bold;
}
.sec4_con{
    height: 3.2rem;
}
.sec4_list{
    margin-right: 0.1rem;
}
.sec4_list li{
    float: left;
    height: 0.51rem;
    line-height: 0.5rem;
    margin: 0 0.15rem;
    cursor: pointer;
}
.sec4_list li.active{
    color: #2e99d4;
    border-bottom: 1px solid #2e99d4;
}
.range_box{
    width: 30%;
    padding: 0.15rem 0.15rem 0 0.1rem;
}
.range_title{
    height: 0.24rem;
    line-height: 0.24rem;
    margin-bottom: 0.4rem;
    padding-right: 0.05rem;
}
.range_title img{
    height: 0.24rem;
    width: 0.24rem;
    float: right;
    cursor: pointer;
}
.rangeList{
    height: 2.31rem;
}
.rangeList li{
    height: 0.18rem;
    line-height: 0.18rem;
    font-size: 0.12rem;
    margin-bottom: 0.15rem;
    padding-right: 0.15rem;
}
.rangeList li i{
    display: block;
    float: left;
    width: 0.18rem;
    height: 0.18rem;
    font-style: normal;
    border-radius: 0.09rem;
    text-align: center;
    background: #f0f2f5;
    margin-right: 0.1rem;
}
.rangeList li i.top3{
    background: #0da9ff;
    color: #fff;
}
.rangeList li .rangeNum{
    color: #0da9ff;
}
#chart1{
    width: 69%;
    height: 3.2rem;
}
.sec5_con{
    height: 3rem;
}
#chart2{
    width: 45%;
    height: 3rem;
}
.legend_box1{
    width: 55%;
    padding-top: 0.7rem;
}
.legendList1 li{
    height: 0.2rem;
    margin-bottom: 0.2rem;
    line-height: 0.2rem;
}
.legendList1 li img{
    margin-right: 0.1rem;
}
.legendList1 li span,.legendList1 li img{
    display: block;
    height: 0.2rem;
    float: left;
}
.legendList1 li .danger{
    width: 28%;
}
.legendList1 li .per_span{
    margin-right: 0.3rem;
    color: #999;
    height: 0.2rem;
    border-left: 1px solid #ccc;
    padding-left: 0.2rem;
}
.sec6_con{
    height: 3.2rem;
}
#chart3{
    width: 45%;
    height: 3.2rem;
}
.legend_box2{
    width: 55%;
    padding-top: 0.7rem;
}
.legendList2 li{
    height: 0.2rem;
    margin-bottom: 0.2rem;
    line-height: 0.2rem;
}
.legendList2 li img{
    margin-right: 0.1rem;
}
.legendList2 li span,.legendList2 li img{
    display: block;
    height: 0.2rem;
    float: left;
}
.legendList2 li .danger{
    width: 45%;
}
.legendList2 li .per_span{
    margin-right: 0.2rem;
    color: #999;
    height: 0.2rem;
    border-left: 1px solid #ccc;
    padding-left: 0.1rem;
}

.date_select {
    height: 0.35rem;
    line-height:0.35rem;
    text-align: center;
    border-radius: 0.05rem;
    border:1px solid #2e99d4;
    font-size: 0.14rem;
    width: 2.6rem;
    float: right;
    margin: 0.07rem 0.2rem 0 0;
    text-align: left;
    padding: 0 0.2rem 0 0.1rem;
    background: url('../images/date_icon1.png') no-repeat right 5px center;
    background-size: 0.16rem 0.17rem;
}
.date_select:focus{
    background: url('../images/date_icon2.png') no-repeat right 5px center;
    background-size: 0.16rem 0.17rem;
}
.btn-default {
    background-color: #fff !important;
    border: 1px solid #828080 !important;
    border-radius: 3px !important;
    cursor: pointer;
}
.btn-primary {
    background-color: #08c !important;
    border: 1px solid #08c !important;
    border-radius: 3px !important;
    color: #fff !important;
    cursor: pointer;
}
.btn-primary:hover{
    background-color: #357ebd !important;
}
.secTit_list li{
    height: 0.51rem;
    line-height: 0.5rem;
    margin: 0 0.15rem;
    cursor: pointer;
    font-weight: bold;
    float: left;
    font-size: 0.18rem;
}
.secTit_list li.active{
    color: #2e99d4;
    border-bottom: 2px solid #2e99d4;
}

/**************************/
.main_right{
    width: 4.3rem;
}
.main_left{
    width: 7.6rem;
}
.main_center{
    width: 6.8rem;
}
.left2{
    width: 8.25rem !important;
}
.swiperBody{
    width: 6.5rem !important;
}
.left3{
    border-right: 0rem !important;
}
.nav{
    width: 6.5rem !important;
}
.swiper-container1{
    width: 5.8rem !important;
}
.nav1 li{
    width: 1.14rem !important;
}
.nav1 li:hover{
    cursor: pointer;
}
.nav li p{
    cursor: pointer;
}
.nav li p:hover{
  color: #2e99d4;
}
.more-p{
    color: #2e99d4;
    height: 100%;
    line-height: 0.51rem;
    padding-right: 0.2rem;
    cursor: pointer;
    padding-left: 0.2rem;
    font-size: 0.14rem;
    font-weight: 400;
}
.more-p:hover{
    opacity: 0.8;
}
.pr{
    padding-right: 0rem;
}
.navs{
    margin: 0.2rem;
}
.navs li{
    position: relative;
    height:0.6rem;
    border-bottom: 1px dashed #ddd;
    margin-top: 0.1rem;
    cursor:pointer;
}
.navs li:hover>p{
   color: #2e99d4;
}
.navs li:last-child{
    margin-bottom: 0;
}
.navs li:first-child{
    margin-top:0
}
.navs li::before{
    content:'';
    width:0.05rem;
    height:0.05rem;
    background: #999;
    border-radius: 50%;
    position: absolute;
    top:15%;
    left:0.05rem;
    border:none;
    
}
.navs li.currened{
    color:#999;
}
.navs li.current::before{
    content:'';
    width:0.12rem;
    height:0.12rem;
    background:url(../images/collect.png) no-repeat left center;
    background-size:100%;
    position: absolute;
    top:6%;
    left:0;
}
.navs li p{
    margin-left:0.15rem;
    /* position: relative; */
    font-size:0.14rem;
    
}
.navs li .content{
   float: left;
   display: block;
   font-size: 0.14rem;
   color: #999;
   margin-left: 0.15rem;
   margin-top: 0.02rem;
}
.navs li span{
    float: right;
    display: block;
    font-size: 0.14rem;
    color: #999;
}
.table th{
    background: #eaf5fb !important;
    height: 0.3rem !important;
    font-weight: bold;
}
.table-blue{
    color: #3198d3;
    text-decoration: underline;
    cursor: pointer;
}
.table1-tbody{
    height:2.4rem;
}

.table tbody {
    width:100%;
    display: inline-block;
}
.table thead, .table tbody tr{
    display:table;
    width:100%
}
.center_left{
    width: 100% !important;
}
.nav2{
    width: 5rem;
}
.nav2 li{
    margin:0.07rem 0.07rem  !important;
    cursor: pointer;
}
.destitle{
    margin-top: -10px;
    display: block;
    width: 0.8rem;
    margin: 0 auto;
    font-size: 0.12rem;
}
.desicon{
    margin-bottom: 0.05rem !important;
    margin-top: -0.06rem !important;
}
.swiperBody4{
    width: 92%;
    margin-top: 0.6rem;
    position: relative;
    margin: 0 auto;
    height: 3rem;
}
.swiper-container4 .swiper-slide{
    width: 2rem;
    /* height: 1.5rem; */
    margin-top: 0.5rem;
}
.swiper-img{
    width: 33.3%;
    height: 100%;
}
.swiper-img img{
    width: 1.89rem;
    height: 1.41rem;
}
.slider-text{
    margin-top: 0.1rem;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.slider-date{
    color: #999;
    margin-top: 0.03rem;
}
.icon{
    margin-bottom: 0.05rem !important;
}

@media (max-width: 1366px){
    .icon{
       margin-bottom: 0.00rem  !important;
       margin-top: -0.13rem  !important;
    }
    .destitle{
       width: 0.9rem  !important;
    }
    .desicon{
       margin-bottom: -0.02rem !important;
       margin-top: -0.13rem !important;
    }
    .nav2 li span{
       width: 0.9rem;
       display: block;
       margin: 0 auto;
    }
}
/*********************************************************************************/
.filter-section{
    
}
.filter-section select{
    width: 1.3rem;
    height: 0.35rem;
    border-radius: 0.05rem;
    border: 0.01rem solid #bce7ff;
    font-size: 0.14rem;
    margin: 0.08rem 0.3rem 0 0;
    color: #333;
}

.filter-section a{
    line-height: 0.51rem;
    color:#2b98d1;
    font-size: .14rem;
    margin-right: .16rem;
    cursor: pointer;
}
.filter-section a:hover{
    opacity: 0.8;
}
.side-nav{
    width: 1.5rem;
    margin-right: 0.2rem;
}
.side-nav li{
    line-height: .36rem;
    color: #333436;
    background: #eaf4fd;
    border-radius: .04rem;
    margin-bottom: .1rem;
    text-align: center;
    font-size: .14rem;
    cursor: pointer;
}
.side-nav li.active{
    background: #2f99d5;
    color: #fff;
}
.zk-swiper{
    width: 5.6rem;
    padding-bottom: .2rem;
}
.zk-swiper table,.my-table{
    width: 100%;
}
.zk-swiper th,.my-table th{
    height: .3rem;
    font-size: .14rem;
    color: #2d3333;
    background: #eaf5fb;
    font-weight: bold;
    text-align: center;
}
.zk-swiper td{
    height: .46rem;
    text-align: center;
}
.zk-swiper{
    display: none;
}
.zk-swiper0{
    display: block;
}
.my-table{
    display: none;
}
.my-table tbody tr:nth-child(even){
    background: #f5fafe;
}
.my-table td{
    padding: .1rem 0;
    text-align: center;
}
.my-table .img-wrap{
    position: relative;
    width: 1.02rem;
    height: .68rem;
    border-radius: .04rem;
    overflow: hidden;
    margin: 0 auto;
}
.my-table img{
    width: 100%;
    height: 100%;
}

.my-table span{
    position: absolute;
    right: 0;
    top: 0;
    width: .56rem;
    height: .2rem;
    line-height: .2rem;
    text-align: center;
    font-size: .12rem;
    color: #fff;
    border-radius:0 0 0 .04rem;
}
.my-table .orange{
    background:#ff9f0d
}
.my-table .red{
    background:#fe0a0a;
}