@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
<script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/common.js"></script>
<!--webUploader文件上传组件-->
<link href="~/content/scripts/plugins/webuploader/webuploader.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/webuploader/webuploader-demo.css" rel="stylesheet" />
<script type="text/javascript" src="~/content/scripts/plugins/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/fileupload.js"></script>
<script>
    var superviseIds = request('superviseIds');//督办数据id
    var win = top.Confirm.window;
    var b = false;
    var flowstate;
    $(function () {
        initControl();
    });

    //初始化控件
    function initControl() {
        
    }
    //保存表单;
    function AcceptClick(type) {
            var singurlT = $("#SignUrlT").val();
            if (!singurlT) {
                dialogMsg('请获取签名！', 0);
                return false;
            }
        var postData = {};
        postData["signImg"] = $('#SignUrlT').val();
        var url;
            //督办提交
            if (document.getElementById("SuperviseResult1").checked) {//督办结果
                postData["result"] = "0";
            } else {
                postData["result"] = "1";
            }
        url = "../../SafetyWorkSupervise/Safetyworksupervise/MultiConfirm?SuperviseIds=" + superviseIds;
        $.SaveForm({
            url: url,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }

    //获取反馈人签名
    function getUserSignPicFeedback(type) {
        
        var currUserId = top.currUserId;
       
        var signImg = "";
        $.ajax({
            url: "../../BaseManage/User/GetEntity?keyValue=" + currUserId,
            dataType: "JSON",
            async: false,
            success: function (result) {
                if (result != null) {
                    signImg = result.SignImg;
                }
            }
        });
        if (!!signImg) {
            if (type == "0") {
                $('#SignUrl').val(signImg);
                if (signImg.indexOf("http") >= 0) {
                    $("#signPreview").attr("src", signImg);
                } else {
                    $("#signPreview").attr("src", "../.." + signImg);
                }
            } else {
                $('#SignUrlT').val(signImg);
                if (signImg.indexOf("http") >= 0) {
                    $("#signPreview1").attr("src", signImg);
                } else {
                    $("#signPreview1").attr("src", "../.." + signImg);
                }
            }
        }
        else {
            var idx = dialogConfirm("请先上传签名图片？", function (isSure) {
                if (isSure) {
                    dlg = dialogOpen({
                        id: 'SetForm',
                        title: '个人设置',
                        url: '/PersonCenter/Index?mode=0&callframeid=&currUserId=' + currUserId,
                        width: "800px",
                        height: "800px",
                        btn: null
                    })
                    top.layer.close(idx);
                }
            });
        }
    }
</script>
<div style="margin: 30px; ">
       <table class="form">
                    <tr>
                        <td class="formTitle" id="tddept">督办结果<font face="宋体">*</font></td>
                        <td class="formValue" colspan="2">
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="SuperviseResult" id="SuperviseResult1" value="0" checked="checked" />通过
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="SuperviseResult" id="SuperviseResult2" value="1" />不通过
                                </label>
                            </div>
                            <input type="hidden" id="SuperviseResult" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle" style="width:100px;">督办意见</td>
                        <td class="formValue" colspan="3">
                            <textarea id="SuperviseOpinion" class="form-control" style="height: 120px;" checkexpession="NotNull"></textarea>
                        </td>
                    </tr>
                    <tr id="HandleTr">
                        <td class="formTitle">党组织成员签字<font face="宋体">*</font></td>
                        <td class="formValue">
                            <input id="SignUrlT" type="hidden" />
                            <img id="signPreview1" style="width: 100px; height: 40px; " src="" />
                            <a id="btn_c" class="btn btn-primary" style="background-color: #2e99d4; border-color: #2e99d4; " onclick="getUserSignPicFeedback(1)">获取签名</a>
                        </td>
                        <td class="formTitle">确认时间<font face="宋体">*</font></td>
                        <td class="formValue">
                            <input id="ConfirmationDate" type="text" isvalid="yes" checkexpession="NotNull" disabled="disabled" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                        </td>
                    </tr>

                </table>
</div>
