@{
    ViewBag.Title = "奖惩标准";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<script>
;
    $(function () {
        InitialPage();
        GetGrid();
    });
    //初始化页面
    function InitialPage() {
        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(500);
                $('#gridTable').setGridHeight($(window).height());
            }, 200);
            e.stopPropagation();
        });
    }
    //加载表格
    function GetGrid() {
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height(),
            url: "../../SafeReward/Safereward/GetStandardJson",
            datatype: "json",
            colModel: [
                { label: '安全文明生产特殊贡献奖奖励描述', name: 'ItemName',  width: 500, align: 'left', sortable: true },
                { label: '奖励参考范围', name: 'ItemValue',  width: 200, align: 'left', sortable: true }]
        });      
    }
</script>



<div class="gridPanel">
    <table id="gridTable"></table>
</div>