@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<!--webUploader文件上传组件-->
<link href="~/content/scripts/plugins/webuploader/webuploader.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/webuploader/webuploader-demo.css" rel="stylesheet" />
<script type="text/javascript" src="~/content/scripts/plugins/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/fileupload.js"></script>
<script type="text/javascript">
    var keyValue = request("keyValue"); //主键 隐患信息主键
    $(function () {
        if (!!keyValue) {
            $.SetForm({
                url: "../../HiddenTroubleManage/HTEstimate/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                    //评估结果
                    if (data.ESTIMATERESULT == "1") {
                        $("input[name='ESTIMATERESULT']:eq(1)").removeAttr("checked");
                        $("input[name='ESTIMATERESULT']:eq(0)").prop("checked", "checked");
                    }
                    else {
                        $("input[name='ESTIMATERESULT']:eq(0)").removeAttr("checked");
                        $("input[name='ESTIMATERESULT']:eq(1)").prop("checked", "checked");
                    }
               

                    var folderId = $("#ESTIMATEPHOTO").val();
                    //file_upload.init({
                    //    keyValue: folderId, extensions: fileType, isImage: true, el: '#uploader_estimatephoto'
                    //});
                    $.ajax({
                        url: '../../PublicInfoManage/ResourceFile/GetFilesByRecId',
                        data: { recId: folderId },
                        type: "post",
                        success: function (data) {
                            var objdata = eval("(" + data + ")"); //转化为对象类型
                            file_upload.bind(objdata, false, true, folderId, "uploader_estimatephoto");
                        }
                    });
                }
            })
        }
    });


</script>

<div class="center-Panel" style="overflow-y: scroll; height: 600px;">
    <div style="margin-top: 5px;"></div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;整改效果评估详情</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <div style="margin-right: 30px;">
                <table class="form">
                    <tr>
                        <td class="formTitle">效果评估人</td>
                        <td class="formValue">
                            <input id="ESTIMATEPERSONNAME" type="text" class="form-control" disabled="disabled" />
                            <input id="ESTIMATEPERSON" type="hidden" />
                            <input id="ID" type="hidden" />
                            <input id="HIDCODE" type="hidden" />
                        </td>
                        <td class="formTitle">效果评估单位</td>
                        <td class="formValue">
                            <input id="ESTIMATEDEPARTNAME" type="text" class="form-control" disabled="disabled" />
                            <input id="ESTIMATEDEPARTCODE" type="hidden" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">效果评估日期</td>
                        <td class="formValue">
                            <input id="ESTIMATEDATE" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" disabled="disabled" />
                        </td>
                        <td class="formTitle">效果评估情况</td>
                        <td class="formValue">
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="ESTIMATERESULT" id="ESTIMATERESULT1" value="1" disabled="disabled" checked="checked" />效果评估通过
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="ESTIMATERESULT" id="ESTIMATERESULT2" value="0" disabled="disabled" />效果评估不通过
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">效果评估图片</td>
                        <td class="formValue" colspan="3">
                            <input type="hidden" id="ESTIMATEPHOTO" />
                            <div id="uploader_estimatephoto" class="uploader" style="border: 1px solid #ccc; margin-top: 10px; min-height: 120px; margin-bottom: 10px;">
                                <div class="queueList">
                                    <div id="uploader_estimatephoto_place" class="placeholder">
                                        <div class="filePicker" style="margin-left:25px; margin-top:10px;"></div>
                                    </div>
                                </div>
                                <div class="statusBar" style="display:none;">
                                    <div class="progress">
                                        <span class="text">0%</span>
                                        <span class="percentage"></span>
                                    </div>
                                    <div class="info"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    body {
        overflow: hidden;
    }
</style>