@{
    ViewBag.Title = "选择角色";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var deptId = request('deptId');
    var checkMode = request('checkMode');
    var mode = request('mode');
    var roleIDs = request('roleIDs');
    $(function () {
        initControl();
    })
    //初始化数据
    function initControl() {
        var item = {
            cascadecheck:false,
            height: 540,
            showcheck: true,
            url: "../../BaseManage/Role/GetRoleTreeJson?Ids=" + deptId + "&roleIDs=" + roleIDs + "&checkMode=" + checkMode + "&mode=" + mode,
            isTool: true
        };
        $("#DeptTree").treeview(item);
    }
    //返回选择后的结果并赋值到dom控件
    //winObject:窗体中需要查找domId的对象，一般可写成window.document.body
    //domId：接收返回值的dom节点的ID，多个用逗号分隔，顺序依次为部门名称,部门Code，部门Id（多选用逗号分隔）
    function AcceptClick(winObject, domId, _win, callback) {
        var selVal = new Array();
        if (winObject!=undefined && domId!=undefined) {
            if (domId.length > 0) {                                                                                                              
                var deptTree = $("#DeptTree");
                if (checkMode == 1) {
                    selVal = new Array(deptTree.getCheckedTexts(), deptTree.getCheckedValues(), deptTree.getCheckedIds());
                } else {
                    var currentNode = deptTree.getCurrentNode();
                    var manager = "";
                    var managerId = "";
                    if (currentNode.manager != undefined && currentNode.manager !=null) {
                        var arr = currentNode.manager.split(',');
                        if (arr.length>0) {
                            manager = arr[0]; managerId=arr[1];
                        }
                    }
                    selVal = new Array(currentNode.text, currentNode.value, currentNode.id, manager, managerId);
                }

                var ids = domId.split(',');
                for (var j = 0; j < ids.length; j++) {
                    if (ids[j].length>0) {
                     var dom = $(winObject).find("#"+ids[j]).eq(0);
                      if (dom!=undefined) {
                          dom.val(selVal[j]);
                      }
                    }

                }
            }
            if (_win != undefined) {
                if (typeof (_win.callBackSelect) == "function") {
                    _win.callBackSelect();
                }

            }
            if (callback) {
                callback();
            }
            dialogClose();
        }
    }
</script>
<div style="margin: 10px; ">
    <div id="DeptTree"></div>
</div>
