@{;
ViewBag.Title = "列表页面";
Layout = "~/Views/Shared/_Index.cshtml";
}
<script type="text/javascript" src="~/content/scripts/business/common.js"></script>
<script>

    $(function () {
        InitialPage();
        GetGrid();
    });
    //初始化页面
    function InitialPage() {
        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 108.5);
            }, 200);
            e.stopPropagation();
        });
    }

    //加载表格
    function GetGrid() {
        var queryJson = {
            keyword: $("#txt_Keyword").val()
        }
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGridEx({
            autowidth: true,
            height: $(window).height() - 170,
            url: "../../SystemManage/Weather/GetPageListJson",
            datatype: "json",
            postData: { queryJson: JSON.stringify(queryJson) },
            colModel: [
                { label: '主键', name: 'id', hidden: true },
                {
                    label: '创建用户id',
                    name: 'createuserid',
                    index: 'createuserid',

                    align: 'left',
                    sortable: true,
                    hidden: true
                },
                {
                    label: '创建时间',
                    name: 'createdate',
                    index: 'createdate',

                    align: 'left',
                    sortable: true,
                    hidden: true
                },
                {
                    label: '创建用户',
                    name: 'createusername',
                    index: 'createusername',

                    align: 'left',
                    sortable: true,
                    hidden: true
                },
                {
                    label: '修改用户id',
                    name: 'modifyuserid',
                    index: 'modifyuserid',

                    align: 'left',
                    sortable: true,
                    hidden: true
                },
                {
                    label: '修改时间',
                    name: 'modifydate',
                    index: 'modifydate',

                    align: 'left',
                    sortable: true,
                    hidden: true
                },
                {
                    label: '修改用户',
                    name: 'modifyusername',
                    index: 'modifyusername',

                    align: 'left',
                    sortable: true,
                    hidden: true
                },
                {
                    label: '创建用户所属部门编码',
                    name: 'createuserdeptcode',
                    index: 'createuserdeptcode',

                    align: 'left',
                    sortable: true,
                    hidden: true
                },
                {
                    label: '创建用户所属机构编码',
                    name: 'createuserorgcode',
                    index: 'createuserorgcode',

                    align: 'left',
                    sortable: true,
                    hidden: true
                },             
                {
                    label: '操作', name: 'Oper', width: 100, align: 'center', width: 50, sortable: false
                },
               { label: '天气', name: 'weather', index: 'weather', align: 'center', width: 50, sortable: true },
               { label: '作业要求', name: 'require', index: 'require', align: 'center', sortable: true },
                {
                    label: "启用", name: "initiatemode", index: "initiatemode", width: 50, align: "center",
                    formatter: function (cellvalue, options, rowObject) {
                        return cellvalue == 1 ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                    }
                }
            ],
            viewrecords: true,
            rowNum: 15,
            rowList: [15, 30, 50],
            pager: "#gridPager",
            sortname: 'createdate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: true,
            gridview: true,
            //multiselect: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            }
        });
        //查询事件
        $("#btn_Search").click(function () {
            var queryJson = {
                keyword: $("#txt_Keyword").val()
            }

            $gridTable.jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify(queryJson) }, page: 1
            }).trigger('reloadGrid');
        });
        //查询回车
        $('#txt_Keyword').bind('keypress', function (event) {
            if (event.keyCode == "13") {
                $('#btn_Search').trigger("click");
            }
        });

    }
    //新增
    function add() {
        dialogOpen({
            id: 'Form',
            title: '添加天气预警',
            url: '/SystemManage/Weather/Form',
            width: ($(top.window).width() - 700) + "px",
            height: ($(top.window).height() - 300) + "px",
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
            }
        });
    }
    //编辑
    function edit() {
        var keyValue = $('#gridTable').jqGridRowValue('id');
        if (checkedRow(keyValue)) {
            dialogOpen({
                id: 'Form',
                title: '编辑天气预警',
                url: '/SystemManage/Weather/Form?keyValue=' + keyValue,
                width: ($(top.window).width() - 700) + "px",
                height: ($(top.window).height() - 300) + "px",
                callBack: function (iframeId) {
                    top.frames[iframeId].AcceptClick();
                }
            })
        }
    }
    //删除
    function del() {
        var keyValue = $('#gridTable').jqGridRowValue('id');
        if (keyValue) {
            $.RemoveForm({
                url: '../../SystemManage/Weather/RemoveForm',
                param: { keyValue: keyValue },
                success: function (data) {
                    $('#gridTable').trigger('reloadGrid');
                }
            })
        } else {
            dialogMsg('请选择需要删除的天气预警！', 0);
        }
    }

    //查看
    function show() {
        var keyValue = $('#gridTable').jqGridRowValue('id');
        if (checkedRow(keyValue)) {
            var dlg = dialogOpen({
                id: "Form",
                title: '查看天气预警',
                url: '/SystemManage/Weather/Form?action=show&keyValue=' + keyValue,
                width: ($(top.window).width() - 700) + "px",
                height: ($(top.window).height() - 300) + "px",
                btn: ["关闭"],
                callBack: function (iframeId) {
                    top.layer.close(dlg);
                }
            });
        }
    }

    //导出Excel
    function exportData() {
        var queryJson = {
            keyword: $("#txt_Keyword").val()
        }
        window.location.href = "exportExcelData?queryJson=" + JSON.stringify(queryJson);
    }

</script>
<div class="titlePanel">
    <div class="title-search">
        <table>
            <tr>
                <td>
                    <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;" />
                </td>
                <td style="padding-left: 5px;">
                    <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>查询</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="toolbar">

        <div class="btn-group">
            <a class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>刷新</a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
</div>
<div class="gridPanel">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>
