* {
    box-sizing: border-box;
    font-family: "微软雅黑";
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, pre, form, fieldset, legend, input, button, textarea, p, th, td, textarea {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    border: 0 !important;
}

li {
    list-style: none;
}

input {
    outline: none;
}

body, html, .container {
    width: 100%;
    height: 100%;
    position: relative;
}

dl {
    display: none;
    padding: 20px 40px;
    width: 460px;
    line-height: 20px;
    position: absolute;
    top: -164px;
    background: url(../images/t.png)no-repeat 0px 0;
    background-size: 100% 100%;
    left: 155px;
    text-align: left;
    color: #3d3d3d;
    font-size: 14px;
    z-index: 10;
}

    dl i {
        color: #fff;
    }

input::-webkit-input-placeholder {
    color: #d6d6d6;
}

textarea {
}

.swiper-slide {
    height: 326px !important;
    position: relative;
}

    .swiper-slide p {
        width: 100%;
        height: 46px;
        color: #fff;
        line-height: 46px;
        background: #000000;
        opacity: 0.5;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: break-word;
        position: absolute;
        bottom: 0;
        padding: 0 30px;
        text-align: center;
    }

    .swiper-slide img {
        width: 558px;
        height: 325px;
    }

.swiper-wrapper {
    border-top: 1px solid #d1d1d1 !important;
    padding-top: 10px;
}

.swiper-container {
    height: 340px;
    width: 556px;
}

.content-slide {
    padding: 20px;
    color: #fff;
}

.pagination {
    position: absolute;
    right: 18px;
    text-align: center;
    top: 20px;
    width: 100px;
}

.swiper-pagination-switch {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #d1d1d1;
    margin: 0 5px;
    cursor: pointer;
}

.swiper-active-switch {
    background: #f21212;
}

.common {
    background-image: url(../images/c.png);
}

.btn:hover {
    cursor: pointer;
    background-color: #0c73da;
}

.main1_box li:hover {
    cursor: pointer;
    background-color: #0c73da;
}

.banner {
    width: 1440px;
    height: 560px;
    margin: 0 auto;
}

.search {
    height: 52px;
    width: 1200px;
    margin: 40px auto 40px;
    position: relative;
}

    .search input {
        width: 750px;
        height: 52px;
        line-height: 52px;
        margin-left: 223px;
        border: 1px solid #1487fa;
        border-radius: 4px;
        text-indent: 16px;
    }

    .search p {
        width: 132px;
        height: 52px;
        line-height: 52px;
        font-size: 18px;
        color: #fff;
        background: url(../images/search.png)no-repeat 28px center #1487fa;
        border-radius: 6px;
        text-indent: 60px;
        position: absolute;
        top: 0;
        right: 224px;
    }

.main1_box {
    width: 100%;
    height: 556px;
    background: #f9f9f9;
}

    .main1_box > div {
        width: 1200px;
        height: 100%;
        overflow: hidden;
        margin: 0 auto;
    }

    .main1_box h1, .main2 h1, .main3 h1 {
        font-size: 29px;
        font-weight: 700;
        color: #1487fa;
        height: 30px;
        line-height: 30px;
        text-indent: 65px;
        margin: 56px 0 12px 0;
        background: url(../images/icon4.png)no-repeat 20px center;
    }

    .main1_box .con {
        height: 400px;
        width: 100%;
        position: relative;
        padding-top: 44px;
        border-top: 1px solid #dddddd;
    }

.con div {
    float: left;
    width: 806px;
    height: 100%;
    background: url(../images/icon3.png)no-repeat 76px 48px;
}

.con img {
    float: right;
}

.con p, .con span {
    width: 145px;
    height: 50px;
    line-height: 20px;
    display: block;
    padding: 5px 16px;
    position: absolute;
    top: 44px;
    left: 350px;
}

    .con span dl {
        display: none;
    }

.con span {
    display: inline-block;
    left: 502px;
    top: 126px;
}

.con li, .con p, .con span {
    font-size: 14px;
    color: #fff !important;
    background: #1487fa;
    text-align: center;
    border-radius: 6px;
}

.con .dept {
    width: 100%;
    height: 50px;
    position: absolute;
    left: 20px;
    bottom: 0;
}

.dept li {
    width: 115px;
    height: 50px;
    line-height: 50px;
    float: left;
    position: relative;
}

.meet {
    width: 594px;
    height: 56px;
    position: absolute;
    bottom: 112px;
    left: 130px;
}

    .meet li {
        width: 77px;
        height: 56px;
        line-height: 20px;
        padding: 8px 10px;
        position: relative;
        float: left;
    }

.main2 {
    margin: 70px auto 70px;
    width: 1200px;
    height: 384px;
}

    .main2 h1 {
        margin-top: 0;
        width: 100%;
    }

        .main2 h1 span {
            float: right;
            line-height: 16px;
            text-align: left;
            height: 16px;
            font-weight: normal;
            margin-top: 14px;
            font-size: 16px;
            color: #acacac;
        }

    .main2 ul {
        border-top: 1px solid #d1d1d1;
        padding: 16px 8px 0 8px;
    }

.main2_left h1 {
    background-image: url(../images/icon1.png);
}

.main2_right h1 {
    background-image: url(../images/icon5.png);
}

.main2_left {
    width: 620px;
    float: left;
}

.main2_right {
    float: right;
    width: 556px;
}

.main2_left li {
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    color: #3d3d3d;
    text-indent: 36px;
    padding-right: 20px;
    background: url(../images/n_03.jpg)no-repeat 26px center;
    border-bottom: 1px dashed #dfdfdf;
}

    .main2_left li p {
        float: left;
        width: 445px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: break-word;
    }

    .main2_left li:hover {
        cursor: pointer;
        background-color: #e5f1ff;
    }

    .main2_left li i {
        font-size: 20px;
        margin-right: 4px;
    }

    .main2_left li span {
        float: right;
    }

.main3 {
    width: 1200px;
    margin: 0 auto 174px;
}

    .main3 h1 {
        background-image: url(../images/icon6.png);
        margin: 0 0 20px 0;
    }

    .main3 span {
        color: #7e7e7e;
        font-size: 14px;
    }

.my_input {
    width: 100%;
    height: 240px;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    position: relative;
    margin-bottom: 52px;
    padding: 0 1px;
}

    .my_input textarea {
        width: 100%;
        height: 178px;
        margin: 0 auto;
        line-height: 22px;
        resize: none;
        padding: 10px;
        outline: none;
        overflow: auto;
        border: 0;
        border-bottom: 1px solid #ebebeb;
    }

    .my_input span {
        position: absolute;
        top: 152px;
        right: 18px;
    }

    .my_input p, .main3 li > div p {
        width: 98px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        border-radius: 4px;
        color: #fff;
        background: #1487fa;
        position: absolute;
        bottom: 12px;
        right: 16px;
    }

.main3 .btn {
    font-size: 14px;
}

.main3 li {
    padding: 10px 0 0 80px;
    margin-bottom: 26px;
    border-bottom: 1px dashed #ebebeb;
    background: url(../images/user.png)no-repeat 0 0;
}

    .main3 li > div {
        height: 82px;
        position: relative;
        margin-bottom: 24px;
        border-bottom: 1px dashed #ebebeb;
    }

    .main3 li input {
        width: 100%;
        height: 46px;
        text-indent: 18px;
        border-radius: 4px;
        border: 1px solid #ebebeb;
    }

    .main3 li > div span {
        position: absolute;
        top: 15px;
        right: 85px;
    }

    .main3 li > div p {
        width: 58px;
        top: 5px;
    }

.main3 .name {
    font-size: 14px;
    color: #7e7e7e;
}

    .main3 .name i {
        float: right;
        font-style: normal;
        color: #acacac;
    }

    .main3 .name span {
        color: #1487fa;
        font-size: 16px;
        margin-right: 15px;
    }

.main3 .desc {
    margin: 19px 0 36px 0;
    font-size: 14px;
    color: #666666;
}

.main3 .name i:hover {
    cursor: pointer;
    color: #1487fa;
}

.dialog {
    width: 214px;
    height: 392px;
    background: url(../images/d.png)no-repeat;
    background-size: 100% 100%;
    position: fixed;
    top: 400px;
    right: 122px;
    z-index: 10;
}

    .dialog p {
        width: 30px;
        height: 30px;
        margin-left: 184px;
    }

    .dialog ul {
        width: 136px;
        height: 290px;
        margin: 60px auto;
        overflow: hidden;
    }

        .dialog ul li {
            font-size: 14px;
            color: #3d3d3d;
            height: 46px;
            line-height: 46px;
        }

            .dialog ul li:hover {
                cursor: pointer;
                color: #0094e8;
            }

    .dialog:hover {
        cursor: pointer;
    }

.main2 h1 span:hover {
    cursor: pointer;
    color: #1487fa;
}
