@charset "UTF-8";

.section {
    width: 1200px;
    margin: 0 auto;
}

.infoTop {
    background: url("../images/info_banner.jpg") no-repeat;
    height: 450px;
    width: 1200px;
    position: relative;
    margin-bottom: 50px;
}

.infoBtn {
    display: inline-block;
    width: 160px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    border-radius: 18px;
    background: url("../images/infoBtn_bg1.png") no-repeat;
    cursor: pointer;
    position: absolute;
    right: 66px;
    bottom: 118px;
}

    .infoBtn:hover {
        background: url("../images/infoBtn_bg2.png") no-repeat;
    }

.main_title {
    color: #1487fa;
    font-size: 30px;
    background-repeat: no-repeat;
    background-position: left 20px center;
    padding-left: 60px;
    padding-right: 10px;
    height: 60px;
    line-height: 60px;
}

    .main_title a {
        float: right;
        line-height: 16px;
        text-align: left;
        height: 16px;
        font-weight: normal;
        margin-top: 34px;
        font-size: 16px;
        color: #acacac;
        cursor: pointer;
    }

        .main_title a:hover {
            color: #1487fa;
        }

.info2_left {
    width: 616px;
    float: left;
}

    .info2_left h1 {
        background-image: url(../images/notice_icon.png);
    }

.infoMiddle ul {
    border-top: 1px solid #d1d1d1;
    padding: 16px 8px 0 8px;
}

.info2_left li {
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    color: #3d3d3d;
    text-indent: 36px;
    padding-right: 20px;
    background: url(../images/n_03.jpg)no-repeat 26px center;
    border-bottom: 1px dashed #dfdfdf;
}

    .info2_left li p {
        float: left;
        width: 445px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: break-word;
    }

    .info2_left li:hover {
        cursor: pointer;
        background-color: #e5f1ff;
    }

    .info2_left li i {
        font-size: 20px;
        margin-right: 4px;
    }

    .info2_left li span {
        float: right;
    }

.info2_right {
    float: right;
    width: 554px;
}

    .info2_right h1 {
        background-image: url(../images/title_icon3.png);
    }

    .info2_right dl {
        border-top: 1px solid #d1d1d1;
        padding: 30px 8px 0;
        font-size: 14px;
        color: #3d3d3d;
    }

        .info2_right dl dd {
            width: 100%;
            margin-bottom: 10px;
        }

            .info2_right dl dd strong, .info2_right dl dd span {
                display: inline-block;
                float: left;
            }

            .info2_right dl dd strong {
                width: 70px;
            }

            .info2_right dl dd span {
                width: calc(100% - 70px);
            }

.infoBottom {
    width: 100%;
    background: #fbfbfb;
    margin-bottom: 100px;
    margin-top: 45px;
    height: 470px;
    padding-top: 40px;
}

    .infoBottom h1 {
        background-image: url(../images/title_icon4.png);
        margin-bottom: 45px;
    }

.infoBox {
    position: relative;
    width: 1050px;
    margin: 0 auto;
}

    .infoBox .swiper-slide a {
        display: block;
        width: 240px;
    }

        .infoBox .swiper-slide a img {
            height: 170px;
            width: 240px;
        }

        .infoBox .swiper-slide a p {
            font-size: 14px;
            color: #4f5f6f;
            line-height: 22px;
            margin-top: 10px;
        }

.swiper-button-next, .swiper-button-prev {
    width: 33px !important;
    background-size: 33px 33px !important;
    top: 39% !important;
    outline: none;
}

.swiper-button-next {
    background-image: url(../images/next_icon1.png) !important;
    right: -42px !important;
}

.swiper-button-prev {
    background-image: url(../images/pre_icon1.png) !important;
    left: -50px !important;
}

.swiper-button-next:hover {
    background-image: url(../images/next_icon.png) !important;
}

.swiper-button-prev:hover {
    background-image: url(../images/pre_icon.png) !important;
}
