@{
    Layout = null;
    //Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,inital-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link type="text/css" rel="stylesheet" href="~/Content/styles/kbscss/index.css">
    <link type="text/css" rel="stylesheet" href="~/Content/styles/kbscss/bigScreen.css">
    <link rel="stylesheet" href="~/Content/styles/kbscss/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/styles/kbscss/daterangepicker.css" />
    <script src="~/Content/scripts/kbsjs/jquery-2.2.4.min.js"></script>




    @*<title>华电可门-首页</title>*@
    <script>
        var apiUrl = "@(new ERCHTMS.Busines.SystemManage.DataItemDetailBLL().GetItemValue("WebApiUrl", "AppSettings"))";
        var selectTop = 1;
        $(function () {
            //注册三维方法
            window.addEventListener('message', receiveMessage, false);
            Iniiframe();
            refreshData();
            window.setInterval("refreshData()", 300000);
            $("#daytime").change(function() {
                if (selectTop == 1) {
                    StationTop();
                } else if (selectTop == 2) {
                    CameraTop();
                } else {
                    DeviceTop();
                }

            });
        });

        //三维图全屏
        function receiveMessage(event) {
            var name = event.data.name;
            if (name == "fullscreen") {
                top.tablist.newTab({ id: '4434', url: top.contentPath + '/KbsDeviceManage/Kbsdevice/ShowThreePage?type=0&date=' + new Date(), title: '三维地图' })
            }
            else if (name == "smallscreen") {
            }
        }

        function refreshData() {
            IndexLable();
            IndexCamera();
            //IndexDevice();
            getDays();
            DeviceNum();
            Indexstat();
        }

        //基站管理查看列表(0在线1离线)
        function ShowBaseStation(code, num) {
            if (code != "") {
                top.tablist.newTab({ id: 'd724f92d-a87e-4c14-964f-245be4a22f8f', url: top.contentPath + '/KbsDeviceManage/BaseStation/Index?DistrictCode=' + code + "&selectStatus=" + num + "&date=" + new Date(), title: '基站管理' })

            }
            else {
                top.tablist.newTab({ id: 'd724f92d-a87e-4c14-964f-245be4a22f8f', url: top.contentPath + '/KbsDeviceManage/BaseStation/Index?date=' + new Date(), title: '基站管理' })
            }
        }
        //标签管理
        function showLablemanage(code, num) {
            if (code != "") {

            }
            else {
                top.tablist.newTab({ id: '34cb0304-23a1-42c9-a821-500bd303f9c0', url: top.contentPath + '/KbsDeviceManage/Lablemanage/Index?date=' + new Date(), title: '标签管理' })
            }
        }
        //门禁管理
        function showKbsdevice(code, num) {
            if (code != "") {
                top.tablist.newTab({ id: 'e114317d-16ae-4167-9952-644c9b89e24b', url: top.contentPath + '/KbsDeviceManage/Kbsdevice/Index?DistrictCode=' + code + "&selectStatus=" + num + "&date=" + new Date(), title: '门禁管理' })

            }
            else {
                top.tablist.newTab({ id: 'e114317d-16ae-4167-9952-644c9b89e24b', url: top.contentPath + '/KbsDeviceManage/Kbsdevice/Index?date=' + new Date(), title: '门禁管理' })
            }
        }
        //视频监控管理
        function showKbscameramanage(code, num) {
            if (code != "") {
                top.tablist.newTab({ id: '7ec990a0-7d26-4286-b047-a9f34840a49c', url: top.contentPath + '/KbsDeviceManage/Kbscameramanage/Index?DistrictCode=' + code + "&selectStatus=" + num + "&date=" + new Date(), title: '门禁管理' })

            }
            else {
                top.tablist.newTab({ id: '7ec990a0-7d26-4286-b047-a9f34840a49c', url: top.contentPath + '/KbsDeviceManage/Kbscameramanage/Index?date=' + new Date(), title: '视频监控管理' })
            }
        }

        function DeviceNum() {
            var Sum = 0;
            //基站离线数量
            $.ajax({
                url: top.contentPath + "/KbsDeviceManage/BaseStation/GetBaseStationNum?status=离线",
                type: "get",
                dataType: "text",
                async: false,
                success: function (data) {
                    Sum += Number(data);
                    $('#BsNum').html(data);
                }
            });

            //摄像头离线数量
            $.ajax({
                url: top.contentPath + "/KbsDeviceManage/Kbscameramanage/GetCameraNum?status=离线",
                type: "get",
                dataType: "text",
                async: false,
                success: function (data) {
                    Sum += Number(data);
                    $('#CaNum').html(data);
                }
            });


            //门禁离线数量
            $.ajax({
                url: top.contentPath + "/KbsDeviceManage/Kbsdevice/GetDeviceNum?status=离线",
                type: "get",
                dataType: "text",
                async: false,
                success: function (data) {
                    Sum += Number(data);
                    $('#DeNum').html(data);
                }
            });

            $("#Db").html("(共" + Sum + "条)");
        }

        function Iniiframe() {
            //初始化三维地图
            $.ajax({
                url: top.contentPath + "/KbsDeviceManage/Kbsdevice/WebGetThreeUrl",
                type: "post",
                dataType: "text",
                async: false,
                success: function (data) {

                    $('#ZbMap').attr('src', data + '/gisbcdl/index.html#/showhome');
                }
            });
        }

        //获取安全生产天数
        function getDays() {
            $.get(apiUrl + "basedata/GetSafeDays", function (data) {
                if (data.length > 0) {
                    var html = "<span>安全生产天数<em>" + data + "</em>天</span>";
                    $("#day").html(html);
                }
            });
        }
    </script>
    <style>
        .center_left1 {
            position: absolute;
            z-index: 266;
            width: 100%;
            height: 8.12rem;
        }
    </style>
</head>
<body>
    <div class="main">
        <div class="main_top">
            <div class="topDiv">
                <div class="topDiv_left left1">
                    <div class="swiperBody">
                        <div class="swiper-container swiper-container1">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide" id="day">

                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-prev swiper-button-prev1"></div>
                        <div class="swiper-button-next swiper-button-next1"></div>
                    </div>
                </div>
                <div class="topDiv_left left2">
                    <div class="needDealt">
                        <span>待办事项</span>
                        <p id="Db"></p>
                    </div>
                    <div class="swiperBody">
                        <div class="swiper-container swiper-container2">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <ul class="nav1">
                                        <li>
                                            <span id="BsNum" class="buleColor"></span>
                                            <p>基站离线</p>
                                        </li>
                                        <li>
                                            <span id="CaNum" class="buleColor">08</span>
                                            <p>摄像头离线</p>
                                        </li>
                                        @*<li>
                                            <span id="DeNum" class="buleColor">04</span>
                                            <p>门禁离线</p>
                                        </li>*@
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-prev swiper-button-prev2"></div>
                        <div class="swiper-button-next swiper-button-next2"></div>
                    </div>
                </div>
                <div class="topDiv_left left3">
                    <label>快捷入口</label>
                    <ul class="nav">
                        <li>
                            <p onclick="ShowBaseStation('','')">基站管理</p>
                            <p onclick="showLablemanage('','')">标签管理</p>
                        </li>
                        <li>
                            @*<p onclick="showKbsdevice('','')">门禁管理</p>*@
                            <p onclick="showKbscameramanage('','')">视频监控管理</p>
                        </li>
                    </ul>
                </div>
                <div class="topDiv_left left4">
                    <span><span class="setImg"></span>设置<span class="upDownImg"></span></span>
                </div>
            </div>
        </div>

        <div class="fl main_center">
            <div class="section3">
                <!-- <span class="warningIndex">
                    安全风险四色分布图
                    <span> 区塔安全风险数量排行</span>
                </span> -->
                <div class="" id="zmap" style="width:100%;height:100%;">
                    @*<img src="~/Content/images/kbs/yujigntu.png" alt="">*@
                    <iframe id="ZbMap" style="width: 100%;height: 100%;border: medium none;"></iframe>
                    @*<div class="opt">
                                <ul>
                                    <li class="active">门禁</li>
                                    <li>基站</li>
                                    <li>摄像头</li>
                                    <li>电子围栏</li>
                                </ul>
                                <div class="on-off">
                                    <img src="~/Content/images/kbs/on-off.png" alt="">
                        </div>
                            </div>*@
                </div>
                @*<div class="center_right">
                        <div class="sec_top clearfix">
                            <h3 class="fl">实时预警</h3>
                        </div>
                        <div class="sec3_con clearfix">
                            <div id="RealtimeWarning" class="fr legend_box3" style="overflow-y: auto; overflow-x: hidden; width: 98%; height: 3.6rem; ">
                                <ul class="" tabindex="1" style="overflow: hidden;outline: none;">
                                    <li>
                                        <span class="titleNum active">1</span>
                                        <span>基站1918E0011D0F已</span>
                                        <span class="buleColor2">离线</span>
                                    </li>
                                    <li>
                                        <span class="titleNum active">2</span>
                                        <span>基站1918E0011A0F已</span>
                                        <span class="buleColor2">离线</span>
                                    </li>
                                    <li>
                                        <span class="titleNum active">1</span>
                                        <span>基站1918E0011D0F已</span>
                                        <span class="buleColor2">离线</span>
                                    </li>
                                    <li>
                                        <span class="titleNum active">2</span>
                                        <span>基站1918E0011A0F已</span>
                                        <span class="buleColor2">离线</span>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>*@
            </div>
            <div class="section4">
                <div class="sec_top clearfix">
                    <ul class="secTitChar_list clearfix fl">
                        <li class="active">离线基站</li>
                        <li>离线摄像头</li>
                        @*<li>离线门禁</li>*@
                    </ul>
                    <span class="sec4_sel">
                        <select id="daytime">
                            <option value="1">全部</option>
                            <option value="2">本周</option>
                        </select>
                    </span>
                </div>
                <div class="sec4_con">
                    <div id="chart1" class="fl"></div>
                    <div class="fr range_box">
                        <div class="range_box_title">
                            <h3 class="fl">离线次数</h3>
                        </div>
                        <div class="fr legend_box4" id="ChartTable">
                            <ul class="" tabindex="1" style="overflow: hidden;outline: none;">
                                <li>
                                    <span class="titleNum active">1</span>
                                    <span>基站1918E0011D0F</span>
                                    <span class="buleColor3">15</span>
                                </li>
                                <li>
                                    <span class="titleNum active">2</span>
                                    <span>基站1918E0023B0F</span>
                                    <span class="buleColor3">14</span>
                                </li>
                                <li>
                                    <span class="titleNum active">3</span>
                                    <span>基站1918A9011D0F</span>
                                    <span class="buleColor3">13</span>
                                </li>
                                <li>
                                    <span class="titleNum active">4</span>
                                    <span>基站1918E1911D0F</span>
                                    <span class="buleColor3">8</span>
                                </li>
                                <li>
                                    <span class="titleNum active">5</span>
                                    <span>基站1918E0011D1F</span>
                                    <span class="buleColor3">7</span>
                                </li>
                                <li>
                                    <span class="titleNum active">6</span>
                                    <span>基站1918E0011D0B</span>
                                    <span class="buleColor3">4</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="fr main_right">
            <div class="section5">
                <div class="sec_top clearfix">
                    <ul class="secTit_list clearfix fl">
                        <li class="active">基站分布</li>
                        <li>摄像头分布</li>
                        <li>@*门禁分布*@</li>
                    </ul>
                    <div class="f2">
                        <span id="ZNum0">总数：0</span>
                        <span id="ZNum1" style="display: none;">总数：0</span>
                        @*<span id="ZNum2" style="display: none;">总数：0</span>*@
                    </div>
                </div>
                <div class="sec5_con clearfix">
                    <div class="tableDiv1" id="TD0">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="28%">区域<span class=""></span></th>
                                    <th width="18%">在线数量<span class=" active"></span></th>
                                    <th width="18%">占比<span class=""></span></th>
                                    <th width="18%">离线数量</th>
                                    <th width="18%">占比<span class=""></span></th>

                                </tr>
                            </thead>
                            <tbody id="BaseStationbody"></tbody>
                        </table>
                    </div>
                    <div class="tableDiv1" style="display: none;" id="TD1">
                        @*<table class="table">
                                <thead>
                                    <tr>
                                        <th width="28%">区域<span class=""></span></th>
                                        <th width="18%">在线数量<span class=" active"></span></th>
                                        <th width="18%">占比<span class=""></span></th>
                                        <th width="18%">离线数量</th>
                                        <th width="18%">占比<span class=""></span></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>汽机房 0 米</td>
                                        <td>13</td>
                                        <td>11%</td>
                                        <td>4</td>
                                        <td>11%</td>
                                    </tr>
                                    <tr>
                                        <td class="group_interal">汽机房 12 米</td>
                                        <td class="group_interal">19</td>
                                        <td class="group_interal">22%</td>
                                        <td class="group_interal">3</td>
                                        <td class="group_interal">22%</td>
                                    </tr>
                                    <tr>
                                        <td>锅炉房 0 米</td>
                                        <td>16</td>
                                        <td>9%</td>
                                        <td>6</td>
                                        <td>9%</td>
                                    </tr>
                                    <tr>
                                        <td class="group_interal">锅炉房 36 米</td>
                                        <td class="group_interal">4</td>
                                        <td class="group_interal">22%</td>
                                        <td class="group_interal">2</td>
                                        <td class="group_interal">11%</td>
                                    </tr>
                                    <tr>
                                        <td>吸收塔区</td>
                                        <td>11</td>
                                        <td>14%</td>
                                        <td>8</td>
                                        <td>14%</td>
                                    </tr>
                                </tbody>
                            </table>*@
                    </div>
                    <div class="tableDiv1" style="display: none;" id="TD2">
                        @*<table class="table">
                                <thead>
                                    <tr>
                                        <th width="28%">区域<span class=""></span></th>
                                        <th width="18%">在线数量<span class=" active"></span></th>
                                        <th width="18%">占比<span class=""></span></th>
                                        <th width="18%">离线数量</th>
                                        <th width="18%">占比<span class=""></span></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>汽机房 0 米</td>
                                        <td>15</td>
                                        <td>18%</td>
                                        <td>3</td>
                                        <td>18%</td>
                                    </tr>
                                    <tr>
                                        <td class="group_interal">汽机房 12 米</td>
                                        <td class="group_interal">13</td>
                                        <td class="group_interal">22%</td>
                                        <td class="group_interal">7</td>
                                        <td class="group_interal">22%</td>
                                    </tr>
                                    <tr>
                                        <td>锅炉房 0 米</td>
                                        <td>16</td>
                                        <td>9%</td>
                                        <td>6</td>
                                        <td>9%</td>
                                    </tr>
                                    <tr>
                                        <td class="group_interal">锅炉房 36 米</td>
                                        <td class="group_interal">15</td>
                                        <td class="group_interal">22%</td>
                                        <td class="group_interal">7</td>
                                        <td class="group_interal">11%</td>
                                    </tr>
                                    <tr>
                                        <td>吸收塔区</td>
                                        <td>11</td>
                                        <td>14%</td>
                                        <td>8</td>
                                        <td>14%</td>
                                    </tr>
                                </tbody>
                            </table>*@
                    </div>
                </div>
            </div>
            <div class="section6">
                <div class="sec_top clearfix">
                    <h3 class="fl">标签类别</h3>
                    <!-- <ul class="sec4_list fr clearfix">
                        <li class="active">最近一个月</li>
                        <li>本月</li>
                        <li>本季度</li>
                        <li>本年</li>
                    </ul> -->
                </div>
                <div class="sec6_con clearfix">
                    <div id="chart3" class="fl"></div>
                    <div class="fr legend_box2" id="LableBox">
                        @*<ul class="legendList2">
                                <li>
                                    <img src="~/Content/images/kbs/legend_icon1.png">
                                    <span class="danger">管理人员</span><span class="per_span">20%</span>200
                                </li>
                                <li>
                                    <img src="~/Content/images/kbs/legend_icon2.png">
                                    <span class="danger">班组员工</span><span class="per_span">10%</span>100
                                </li>
                                <li>
                                    <img src="~/Content/images/kbs/legend_icon3.png">
                                    <span class="danger">外包人员</span><span class="per_span">5%</span>50
                                </li>
                                <li>
                                    <img src="~/Content/images/kbs/legend_icon4.png">
                                    <span class="danger">临时人员</span><span class="per_span">5%</span>50
                                </li>
                                <li>
                                    <img src="~/Content/images/kbs/legend_icon5.png">
                                    <span class="danger">场内车辆</span><span class="per_span">20%</span>200
                                </li>
                                <li>
                                    <img src="~/Content/images/kbs/legend_icon6.png">
                                    <span class="danger">临时车辆</span><span class="per_span">20%</span>200
                                </li>
                            </ul>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="~/Content/scripts/kbsjs/rem.js"></script>
<script src="~/Content/scripts/kbsjs/echarts.min.js"></script>
<script src="~/Content/scripts/kbsjs/nicescroll.min.js"></script>
<script src="~/Content/scripts/kbsjs/index.js"></script>
<script src="~/Content/scripts/kbsjs/swiper.jquery.min.js"></script>
<script type="text/javascript" src="~/Content/scripts/kbsjs/moment.min.js"></script>
<script type="text/javascript" src="~/Content/scripts/kbsjs/daterangepicker.min.js"></script>
<script src="~/Content/scripts/business/LableStatic.js"></script>
<script src="~/Content/scripts/kbsjs/BaseHome.js"></script>
<script>
    $('.on-off').click(function () {
        $('.opt ul').toggle()
    })
</script>
<script src="~/Content/scripts/business/BaseStationStatic.js"></script>
</html>