@using ERCHTMS.Code
@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = request('keyValue');
    $(function () {
        iniDropDown();
        initControl();
    });

    function iniDropDown() {
        $("#OutType").ComboBox({
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            param: { EnCode: "KbsOutType" },
            id: "ItemValue",
            text: "ItemName",
            description: "==请选择==",
            height: "200px",
            allowSearch: true
        });
        var url = top.contentPath + "/BaseManage/District/GetTreeJson";
        //加载区域
        $("#AreaId").ComboBoxTree({
            url: url,
            height: "100px",
            description: "请选择"
        }).bind("change", function () {
            $("#AreaName").val($("#AreaId").attr("data-text"));
            $("#AreaCode").val($("#AreaId").attr("data-code"));
            
        });
        var time = "@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")";
        var opername = "@OperatorProvider.Provider.Current().UserName";
        $("#CreateDate").val(time);
        $("#OperUserName").val(opername);
    }
    //初始化控件
    function initControl() {
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../KbsDeviceManage/Kbsdevice/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                }
            })
        }
    }
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize(keyValue);
        $.SaveForm({
            url: "../../KbsDeviceManage/Kbsdevice/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().Search();
            }
        })
    }

    //新增
    function GetPos() {
        var dlg = dialogOpen({
            id: 'GetPos',
            title: '标注',
            url: '/KbsDeviceManage/Kbsdevice/GetPos',
            width: '1003px',
            height: '800px',
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
                top.layer.close(dlg);
            }
        });
    }
</script>
<div style="margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle">门禁ID<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="DeviceId" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">控制器ID<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="ControllerId" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">进出类型<font face="宋体">*</font></td>
            <td class="formValue">
                <div id="OutType" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull">
                </div>
            </td>
        </tr>
        <tr>
            <td class="formTitle">门禁名称<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="DeviceName" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" maxlength="20" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">门禁型号<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="DeviceModel" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" maxlength="20" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">区域名称<font face="宋体">*</font></td>
            <td class="formValue">
                <div id="AreaId" type="selectTree" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
                <input id="AreaName" type="hidden" />
                <input id="AreaCode" type="hidden" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">楼层编号<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="FloorNo" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" maxlength="20" readonly="readonly" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">门禁坐标<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="DevicePoint" type="text" class="form-control" class="form-control" isvalid="yes" checkexpession="NotNull" readonly="readonly" style="float: left; width: 70%; margin-right: 5px;" />
                <a id="btn_Sea" style="float: left; width: 25%; " onclick="GetPos()" class="btn btn-primary">标注</a>
            </td>
        </tr>
        <tr>
            <td class="formTitle">门禁IP<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="DeviceIP" type="text" class="form-control" isvalid="yes" checkexpession="IsIP" maxlength="20" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">操作人名称<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="OperUserName" type="text" class="form-control" readonly="readonly" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">创建时间<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="CreateDate" type="text" class="form-control" readonly="readonly" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
       
    </table>
</div>
