@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/kbsjs/ThreeD.js"></script>
<script>
    var keyValue = request('keyValue');
    var DistrictId = request('DistrictId');
    var point = "";
    $(function () {
        Iniiframe();
    });
    

    //保存表单;
    function AcceptClick() {
        top.Form.window.$("#DevicePoint").val(point);
        top.Form.window.$("#FloorNo").val(floorId);
    }

</script>
<div>
    <iframe name="ZbMap" id="ZbMap" style="width: 1000px;height: 700px;border: medium none;"></iframe>
</div>
