@using ERCHTMS.Code
@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}


<script>
    var keyValue = request('keyValue');
    $(function () {
        initControl();
        Iniiframe();
    });

    //初始化控件
    function initControl() {
        //注册三维方法
        window.addEventListener('message', RealTimePlay, false);
    }

    function Iniiframe() {
        //初始化职位json
        $.ajax({
            url: top.contentPath + "/KbsDeviceManage/Kbsdevice/WebGetThreeUrl",
            type: "post",
            dataType: "text",
            async: false,
            success: function (data) {
                $('#ZbMap').attr('src', data + '/gisbcdl/index.html#/showhome');
            }
        });
    }
    //获取当前Tab下索引
    function RealTimePlay(event) {
        var name = event.data.name;
        if (name === 'startWork') {
            for (let i = 0; i < 20; i++) {
                if (top[i].name === 'iframe4434') {
                    let frame = document.getElementById('ZbMap');
                    let iframe = top.document.getElementById('iframe4434');
                    let vtop = frame.clientTop + frame.offsetTop + iframe.clientTop + iframe.offsetTop;
                    let vleft = frame.clientLeft + frame.offsetLeft;
                    let IndexNum = {
                        name: 'getTabIndex',
                        data: {
                            index: i,
                            top: vtop,
                            left: vleft
                        }
                    };
                    frame.contentWindow.postMessage(IndexNum, '*');
                    break;
                }
            }
        }
    };



</script>
<div style="margin-top: 20px; margin-right: 30px;">

    <div class="center_left" style="width:100%; height:900px" id="zmap">
        <iframe id="ZbMap" style="width: 100%;height: 100%;border: medium none;"></iframe>
    </div>




</div>
