@{
    ViewBag.Title = "门禁统计";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<!--第三方统计图start-->
<script src="~/Content/Scripts/plugins/highcharts/highcharts.js"></script>
<script src="~/Content/Scripts/plugins/highcharts/highcharts-more.js"></script>
<script src="~/Content/Scripts/plugins/highcharts/modules/exporting.js"></script>
<link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
<script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script src="~/Content/scripts/business/LableStatic.js"></script>

<style type="text/css">
    .dropdown-menu > li > a:active {
        color: rgb(38, 38, 38);
        background-color: transparent;
        text-decoration: none;
    }

    table, table tr th, table tr td {
        border: 1px solid #000000;
    }

    table {
        width: 580px;
        min-height: 25px;
        line-height: 25px;
        text-align: center;
        border-collapse: collapse;
    }
</style>
@*<script src="~/Content/scripts/business/Common.js"></script>
    <script src="~/Content/scripts/business/RiskStat.js"></script>*@
<!--第三方统计图end-->
<script>
    var state = 1;
    var deptCode = ""; var CarType = "";
    var InLog = "";
    $(function () {
        InitialPage();
        Devicestat();
    })
</script>
<div class="border" id="desktop" style=" background: #fff; overflow-y: auto;overflow-x:hidden; ">
    <div style="margin-top:10px;">
        <div class="row">

        </div>

    </div>

    <div id="con1">
        <div class="panel panel-default" style="margin-top:10px;">
            <div class="panel-heading">
                <strong id="str"></strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <div class="row" style="overflow: hidden; height: 460px;">
                    <div style="width: 100%;" id="div1">

                        <div class="portal-panel-content" style="margin-top: 10px; overflow: hidden;">
                            <div id="piecontainer">
                                <center style="margin-top:50px;">正在加载数据……</center>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;统计数据</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <div id="tabcontent" class="row" style="margin:10px;">

                </div>
            </div>
        </div>
    </div>

</div>

