@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<link href="~/content/scripts/plugins/icheck/skins/square/_all.css" type="text/css" rel="stylesheet" />
<script src="~/content/scripts/plugins/icheck/js/icheck.min.js" type="text/javascript"></script>
<script src="~/content/scripts/plugins/icheck/js/custom.min.js" type="text/javascript"></script>
<script src="~/Content/scripts/business/Common.js"></script>

<script>
    var keyValue = request('keyValue');
    var mode = request('mode');
    $(function () {
        initControl();
    });
    
    //初始化控件
    function initControl() {
        
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../BaseManage/MessageSet/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                    if(data.Status==1){
                        document.getElementById("yes").checked = true;
                    }
                    else{
                        document.getElementById("no").checked = true;
                    }
                    if (data.IsPush == 1) {
                        document.getElementById("yes1").checked = true;
                    }
                    else {
                        document.getElementById("no1").checked = true;
                    }
                    if(mode=="Copy"){
                        keyValue = "";
                    }
                }
            })
        }
        $('.icheck input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%'
        });
    }
    //保存表单;
    function AcceptClick() {
       
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize(keyValue);
        var status = "是";
        if(document.getElementById("yes").checked){
            status = "1";
        } else {
            status = "0";
        }
        postData["Status"] = status;
        if (document.getElementById("yes1").checked) {
            status = "1";
        } else {
            status = "0";
        }
        postData["IsPush"] = status;
        $.SaveForm({
            url: "../../BaseManage/MessageSet/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }
</script>
<div style="margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle">类别<font face="宋体" style="color:red;">*</font></td>
            <td class="formValue">
                <select class="form-control" id="Kind">
                    <option value="">请选择</option>
                    <option value="高风险作业">高风险作业</option>
                    <option value="外包工程">外包工程</option>
                    <option value="隐患排查">隐患排查</option>
                    <option value="反违章">反违章</option>
                    <option value="问题管理">问题管理</option>
                    <option value="人员管理">人员管理</option>
                    <option value="设备设施">设备设施</option>
                    <option value="风险管控">风险管控</option>
                    <option value="事故事件">事故事件</option>
                    <option value="重大危险源">重大危险源</option>
                    <option value="例行安全工作">例行安全工作</option>
                    <option value="应急演练">应急演练</option>
                    <option value="Nosa工作总结">Nosa工作总结</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="formTitle">项目<font face="宋体" style="color:red;">*</font></td>
            <td class="formValue">
                <input id="Name" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">编码<font face="宋体" style="color:red;">*</font></td>
            <td class="formValue">
                <input id="Code" type="text" class="form-control" isvalid="yes" checkexpession="NotNull"/>
            </td>
        </tr>
        <tr>
            <td class="formTitle">触发条件</td>
            <td class="formValue">
                <input id="Event" type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">标题<font face="宋体" style="color:red;">*</font></td>
            <td class="formValue">
                <input id="Title" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">跳转地址</td>
            <td class="formValue">
                <input id="Url" type="text" class="form-control" placeholder="如：/PersonManage/Person/Form?keyValue={Id}" />
            </td>
        </tr>
        <tr>
            <td  colspan="2" valign="top" style="color:red;padding-left:50px;">说明：
               地址中{Id}为需要查看的业务记录Id,在运行时将自动解析
            </td>
        </tr>
        <tr>
            <td class="formTitle">是否启用<font face="宋体" style="color:red;">*</font></td>
            <td class="formValue icheck">
                <input type="radio" value="1" id="yes" name="Status" />&nbsp;<label for="yes1">是</label>&nbsp;&nbsp;&nbsp;
                <input type="radio" value="0" id="no" name="Status" />&nbsp;<label for="no1">否</label>

            </td>
        </tr>
        <tr>
            <td class="formTitle">是否极光推送<font face="宋体" style="color:red;">*</font></td>
            <td class="formValue icheck">
                <input type="radio" value="1" id="yes1" name="IsPush"  />&nbsp;<label for="yes1">是</label>&nbsp;&nbsp;&nbsp;
                <input type="radio" value="0" id="no1" name="IsPush" />&nbsp;<label for="no1">否</label>

            </td>
        </tr>
        <tr>
            <td class="formTitle">内容</td>
            <td class="formValue icheck">
                <textarea id="Content" class="form-control" rows="5" ></textarea>
            </td>
        </tr>
        <tr>
            <td class="formTitle">备注</td>
            <td class="formValue">
                <textarea id="Remark" class="form-control" rows="3"></textarea>
            </td>
        </tr>
    </table>
</div>
