@{
    ViewBag.Title = "BuilderImage";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script type="text/javascript">
    var equiptype = request("equiptype");
    function AcceptClick() {
        Loading(true, "正在生成……");
        var jqGrid = $.currentIframe().window.$("#gridTable");
        var speEquIndex = top.layer.getFrameIndex("speEquIndex");
        if (!!speEquIndex)//通过特种设备统计数量弹出层选择的二维码
            jqGrid = $(top.layer.getChildFrame("#gridTable", speEquIndex));
        var param = { Ids: jqGrid.jqGridRowValue("id"), partNames: jqGrid.jqGridRowValue("partname"), dutyDepts: jqGrid.jqGridRowValue("dutydept"), dutyUsers: jqGrid.jqGridRowValue("dutyuser"), equiptype: equiptype };
        $.post("BuilderImg", param, function (data) {
            Loading(false);
            var json = eval("("+data+")");
            window.location.href = "../../Utility/DownloadFile?filePath=~/Resource/temp/" + json.resultdata.fileName;
        });
    }
    $(function () {
        var jqGrid = $.currentIframe().window.$("#gridTable");
        var speEquIndex = top.layer.getFrameIndex("speEquIndex");
        if (!!speEquIndex)//通过特种设备统计数量弹出层选择的二维码
            jqGrid = $(top.layer.getChildFrame("#gridTable", speEquIndex));
        var equipIds = jqGrid.jqGridRowValue("id");
        var equipNames = jqGrid.jqGridRowValue("partname");
        var equipNos = jqGrid.jqGridRowValue("dutydept");
        var equipUsers = jqGrid.jqGridRowValue("dutyuser");
        var arrIds = equipIds.split(",");
        var arrNames = equipNames.split(",");
        var arrNos = equipNos.split(",");
        var arrUsers = equipUsers.split(",");
        var html = "";
        var equMaxLen = 15;
        $(arrIds).each(function (i, id) {
            var j = i + 1;
            if (j % 6 == 0) {
                html += "<div class='row'>";
            }
            html += '<div class="col-sm-2" style="text-center:center;"><img src="' + top.contentPath + '/Utility/BuilderImage?keyValue=' + id + '|' + equiptype + '" /><div style="text-align:center;" title="' + arrNames[i] + '">' + (arrNames[i].length > equMaxLen ? arrNames[i].substring(0, equMaxLen) + '...' : arrNames[i]) + '</div><div style="text-align:center;">' + arrNos[i] + '</div><div style="text-align:center;">' + arrUsers[i] + '</div></div>';
            if (j % 6 == 0) {
                html += "</div>";
            }
        });
        $("#container").append(html);
    });
</script>
 <div id="container" style="margin:10px;">
 </div>