
@{
    ViewBag.Title = "关联关系";
    Layout = "~/Views/Shared/_Form.cshtml";
    string moduleIds = Newtonsoft.Json.JsonConvert.SerializeObject(Model);
}
<script>
    var deptId = request("DepartId");
    var departCode = request("DepartCode");
    var departName = request("DepartName");
    var themeType = request("themeType");
    var keyValue = request('keyValue');
    var columnId = request('ColumnId');
    console.log(columnId);
    var dataSourceType = request('dataSourceType');
    var parentName = request('ParentName');
    var platform = request('platform');
    var checkdata = JSON.parse('@Html.Raw(moduleIds)');
    console.log(checkdata)
    var dfop =
    {
        cbiconpath: top.contentPath + "/Content/scripts/plugins/tree/images/icons/",
        icons: ["checkbox_0.png", "checkbox_1.png", "checkbox_2.png"],
    };
    $(function () {

        var htmlstr = "";


        //$("#ModuleId").ComboBoxTree({
        //    url: "../../SystemManage/MenuAuthorize/GetMenuAuthCheckBoxData?deptId=" + deptId + "&platform=" + platform,
        //    description: "==请选择==",
        //    height: "195px",
        //    allowSearch: true,
        //    showcheck: true
        //});

        //$.ajax({
        //    url: "../../SystemManage/MenuAuthorize/GetMenuAuthCheckBoxData?deptId=" + deptId + "&platform=" + platform,
        //    type: "GET",
        //    success: function (data) {
        //        $.each(data, function (i, item) {
        //            htmlstr += "<option value='" + item.id + "'>" + item.text + "</option>"
        //        })
        //        $("#ModuleId").append(htmlstr);
        //        FullForm();
        //    }
        //})
        var item = {
            height: $(window).height() - 50,
            showcheck: true,
            cascadecheck: false,
            url: "../../SystemManage/MenuAuthorize/GetMenuAuthCheckBoxData?deptId=" + deptId + "&platform=" + platform + "&columnId=" + columnId + "&themeType=" + themeType ,
            onnodeclick: function (item) {
                //setTimeout("log()", 100)
            },
            oncheckboxclick: function (item, state) {
                cascade(check, item, state);
            }
        };
        $("#ModuleId").treeview(item);
        FullForm();
     
     
  
    })
    //保存
    function AcceptClick(winObj) {
        if (!$('#form1').Validform()) {
            return false;
        }
        var checkdata = $("#ModuleId").getCheckedAllNodes();
        var postData = {
            ColumnId: $("#ColumnId").val(),
            DeptId: $("#DeptId").val(),
            ColumnName: $("#ColumnName").val(),
            ModuleIds: checkdata,
            PaltformType: platform,
            themeType: themeType
        }
        console.log(postData)
        $.SaveForm({
            url: "../../SystemManage/MenuAuthorize/BatchSaveAssociationSetting",
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                //$.currentIframe().$("#gridMenuTable").jqGrid().trigger("reloadGrid");
                //winObj.aaa();
                winObj.trigger("reloadGrid");
            }
        })
    }
    function FullForm() {
        //获取表单
        //if (!!keyValue) {
        //    $.SetForm({
        //        url: "../../SystemManage/MenuAuthorize/GetAssociationSettingFormJson?ColumnId=" + columnId + "&keyValue=" + keyValue,//此处的KeyValue并不是Association关系表的主键，而是菜单的ID
        //        success: function (data) {
        //            $("#form1").formDeserialize(data);
        //        }
        //    });
        //}
        if (!!deptId) {
            $("#DeptId").val(deptId);
        }
        if (!!columnId) {
            $("#ColumnId").val(columnId);
        }
        if (!!parentName) {
            $("#ColumnName").val(parentName);
        }
    }

    function cascade(fn, item, args) {
        if (fn(item, args, 1) != false) {
            if (item.ChildNodes != null && item.ChildNodes.length > 0) {
                var cs = item.ChildNodes;
                for (var i = 0, len = cs.length; i < len; i++) {
                    cascade(fn, cs[i], args);
                }
            }
        }
    }

    function check(item, state, type) {
        var id = "ModuleId";//控件的Id
        var pstate = item.checkstate;
        if (type == 1) {
            item.checkstate = state;
        }
        else {// go to childnodes
            var cs = item.ChildNodes;
            var l = cs.length;
            var ch = true;
            for (var i = 0; i < l; i++) {
                if ((state == 1 && cs[i].checkstate != 1) || state == 0 && cs[i].checkstate != 0) {
                    ch = false;
                    break;
                }
            }
            if (ch) {
                item.checkstate = state;
            }
            else {
                item.checkstate = 2;
            }
        }
        //change show
        if (item.render && pstate != item.checkstate) {
            var nid = item.id.replace(/[^\w]/gi, "_");
            var et = $("#" + id + "_" + nid + "_cb");
            if (et.length == 1) {
                et.attr("src", dfop.cbiconpath + dfop.icons[item.checkstate]);
            }
        }
    }
</script>
<div class="border-left border-right border-top" style="margin: 5px; margin-bottom: 0px; padding-bottom: 2px;">
    <div>
        <table class="form">
            <tr>
                <th class="formTitle" style="text-align: left; padding-left: 7px; width: 70px;">
                    上级
                    <input type="hidden" id="Id" />
                </th>
                <td class="formValue">
                    <input id="ColumnName" type="text" class="form-control" style="" readonly />
                    <input type="hidden" id="DeptId" />
                    <input type="hidden" id="ColumnId" />
                </td>
            </tr>
            @*<tr>
                <th class="formTitle" style="text-align: left; padding-left: 7px; width: 50px;">排序<font face="宋体">*</font></th>
                <td class="formValue">
                    <input id="Sort" type="text" class="form-control" style="" placeholder="请输入数字" isvalid="yes" checkexpession="Num" />
                </td>
            </tr>*@
            <tr>
                <th class="formTitle" style="text-align: left; padding-left: 7px; width: 70px;">功能模块<font face="宋体">*</font></th>
                <td class="formValue">
                    @*<select id="ModuleId" class="form-control"></select>*@
                    <div id="ModuleId" style="border: 1px solid #ccc">

                    </div>
                </td>
            </tr>

        </table>
    </div>
</div>

