
@{
    ViewBag.Title = "CopyForm";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script type="text/javascript" src="~/content/scripts/business/common.js"></script>
<script>
    var keyValue = request('keyValue');
    var deptName = request('deptName');
    $(function () {
        if (!!keyValue) {
            $("#Id").val(keyValue);
        }
        if (!!deptName) {
            $("#ThisName").val(deptName);
        }
    })

    //选择搭设单位
    function selectCompany() {
        var setupcompanytype = $("input[type=radio]:checked").val();
        /**
        1.选择电厂内部时，工程名称隐藏,当前角色为“厂级部门”，搭设单位为所有单位，否则为搭设单位本部门及以下单位。
        2.选择外包单位时，工程名称显示,当前角色为“厂级部门”，搭设单位为所有外包单位,否则搭设单位为本部门及以下级部门管辖的外包单位。
        3.另工程名称为选择搭设单位后单位管辖的工程，选择工程后把作业区域代入文本框。
        **/
        if (setupcompanytype == "0") {
            selectDept('', 1, 25, '选择所属单位', document.body, 'DeptName,DeptCode,DeptId', "", function () {

            });
        } else {
            selectDept('', 1, 25, '选择所属单位', document.body, 'DeptName,DeptCode,DeptId', "0", function () {

            });
        }
    }
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize(keyValue);
        $.SaveForm({
            url: "../../SystemManage/MenuAuthorize/CopyInfo",
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }
</script>
<div class="border-left border-right border-top" style="margin: 5px; margin-bottom: 0px; padding-bottom: 2px;">
    <div style="height: 200px;">
        <table class="form">
            <tr>
                <th class="formTitle" style="text-align: left; padding-left: 7px; width: 100px;">说明：</th>
                <td class="formValue">
                    复制后的数据里，单位显示名称默认是单位的名称，Logo图片地址与上级单位为空
                </td>

            </tr>
            <tr>
                <th class="formTitle" style="text-align: left; padding-left: 7px; width: 100px;">当前复制的对象</th>
                <td class="formValue">
                    <input id="ThisName" type="text" class="form-control" placeholder="" readonly="readonly" />
                    <input type="hidden" id="Id" />
                </td>

            </tr>
            <tr>
                <th class="formTitle" style="text-align: left; padding-left: 7px; width: 100px;">复制到<font face="宋体">*</font></th>
                <td class="formValue">
                    <input id="DeptName" type="text" class="form-control" readonly onclick="selectCompany()" isvalid="yes" checkexpession="NotNull" />
                    <input id="DeptCode" type="hidden" />
                    <input id="DeptId" type="hidden" />
                </td>
            </tr>
        </table>
    </div>
</div>
