
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = request('keyValue');
    var action = request('action');
    var parentId = request("ParentId");
    var parentName = request("ParentName");
    var departId = request("DepartId");
    var departName = request("DepartName");
    var departCode = request("DepartCode");
    $(function () {
        FullForm();
        GetThemeList();
        GetCulturalList();
        GetIndexUrlList();
    })
    function FullForm() {
        if (action == "show") {
            $("input").attr("readonly", "readonly");
            $("input").attr("disabled", "disabled");
            $("a").attr("disabled", "disabled");
            $("div").attr("disabled", "disabled");
            $("textarea").attr("disabled", "disabled");
            top.window.$(".layui-layer-btn0").hide();
        }
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../SystemManage/MenuAuthorize/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                    $("#PaltformType").ComboBoxSetValue(data.PaltformType);
                    $("#ModuleName").ComboBoxSetValue(data.ModuleId);
                }
            });
        }


        if (!!parentId) $("#ParentId").val(parentId)
        if (!!parentName) $("#ParentName").val(parentName)
        if (!!departId) $("#DepartId").val(departId)
        if (!!departName) $("#DepartName").val(departName)
        if (!!departCode) $("#DepartCode").val(departCode)
    }
    //保存表单
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize(keyValue);
        console.log(postData)
        $.SaveForm({
            url: "../../SystemManage/MenuAuthorize/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }

    function GetThemeList() {
        var $gridTable = $("#gridThemeType");
        $gridTable.jqGridEx({
            url: "../../SystemManage/MenuAuthorize/GetTCRuleList",
            postData: { infotype: 1, authId: keyValue},
            datatype: "json",
            height: "300",
            autowidth: true,
            colModel: [
                { label: '主键', name: 'Id', hidden: true },
                {
                    label: '操作', name: 'Oper', width: 120, align: 'center', sortable: false, formatter: function (cellva, options, row) {
                        var htmlStr = "";
                        htmlStr += '<a href="javascript:edit(\'' + row.Id + '\',' + row.InfoType + ',\'gridThemeType\')" title="修改"><i class="fa fa-pencil-square-o"></i></a>'
                        htmlStr += '<a href="javascript:del(\'' + row.Id + '\',\'gridThemeType\')" title="删除"><i class="fa fa-trash-o"></i></a>'
                        return htmlStr;
                    }
                },
                { label: '所属单位', name: 'DeptName', index: 'DeptName', width: 200, align: 'center' },
                { label: '值', name: 'InfoValue', index: 'InfoValue', width: 200, align: 'center' },
                { label: '适用角色', name: 'RuleNames', index: 'RuleNames', width: 200, align: 'center' },
            ],
            viewrecords: true,
            rowNum: 30,
            // rowList: [30, 50, 100],

            pager: false,
            sortname: 'CreateDate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $("#" + this.id).getGridParam('selrow');
            },
            loadError: function (xhr, status, error) {
                //top.location.href = "../../Login/Index?Login_Error=1";
            },
        });
    }

    function GetCulturalList() {
        var $gridTable = $("#gridCultural");
        $gridTable.jqGridEx({
            url: "../../SystemManage/MenuAuthorize/GetTCRuleList",
            postData: { infotype: 2, authId: keyValue },
            datatype: "json",
            height: "300",
            autowidth: true,
            colModel: [
                { label: '主键', name: 'Id', hidden: true },
                {
                    label: '操作', name: 'Oper', width: 120, align: 'center', sortable: false, formatter: function (cellva, options, row) {
                        var htmlStr = "";
                        htmlStr += '<a href="javascript:edit(\'' + row.Id + '\',' + row.InfoType + ',\'gridCultural\')" title="修改"><i class="fa fa-pencil-square-o"></i></a>'
                        htmlStr += '<a href="javascript:del(\'' + row.Id + '\',\'gridCultural\')" title="删除"><i class="fa fa-trash-o"></i></a>'
                        return htmlStr;
                    }
                },
                { label: '所属单位', name: 'DeptName', index: 'DeptName', width: 200, align: 'center' },
                { label: '值', name: 'InfoValue', index: 'InfoValue', width: 200, align: 'center' },
                { label: '适用角色', name: 'RuleNames', index: 'RuleNames', width: 200, align: 'center' },
            ],
            viewrecords: true,
            rowNum: 30,
            // rowList: [30, 50, 100],

            pager: false,
            sortname: 'CreateDate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $("#" + this.id).getGridParam('selrow');
            },
            loadError: function (xhr, status, error) {
                //top.location.href = "../../Login/Index?Login_Error=1";
            },
        });
    }

    function GetIndexUrlList() {
        var $gridTable = $("#gridIndexUrl");
        $gridTable.jqGridEx({
            url: "../../SystemManage/MenuAuthorize/GetTCRuleList",
            postData: { infotype: 3, authId: keyValue },
            datatype: "json",
            height: "300",
            autowidth: true,
            colModel: [
                { label: '主键', name: 'Id', hidden: true },
                {
                    label: '操作', name: 'Oper', width: 120, align: 'center', sortable: false, formatter: function (cellva, options, row) {
                        var htmlStr = "";
                        htmlStr += '<a href="javascript:edit(\'' + row.Id + '\',' + row.InfoType + ',\'gridIndexUrl\')" title="修改"><i class="fa fa-pencil-square-o"></i></a>'
                        htmlStr += '<a href="javascript:del(\'' + row.Id + '\',\'gridIndexUrl\')" title="删除"><i class="fa fa-trash-o"></i></a>'
                        return htmlStr;
                    }
                },
                { label: '所属单位', name: 'DeptName', index: 'DeptName', width: 200, align: 'center' },
                { label: '值', name: 'InfoValue', index: 'InfoValue', width: 200, align: 'center' },
                { label: '适用角色', name: 'RuleNames', index: 'RuleNames', width: 200, align: 'center' },
            ],
            viewrecords: true,
            rowNum: 30,
            // rowList: [30, 50, 100],

            pager: false,
            sortname: 'CreateDate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $("#" + this.id).getGridParam('selrow');
            },
            loadError: function (xhr, status, error) {
                //top.location.href = "../../Login/Index?Login_Error=1";
            },
        });
    }

    function add(infotype, gridtableId) {
        if (!keyValue) {
            dialogMsg('新增单位授权信息时无法添加此数据！请先保存基础数据再来新增', 0);
            return false;
        }
        var parameter = "?DepartId=" + departId + "&DepartName=" + departName + "&DepartCode=" + departCode + "&infoType=" + infotype + "&authId=" + keyValue;
        dialogOpen({
            id: "Form1",
            title: '新增',
            url: '/..@Url.Action("RuleInfoForm")' + parameter,
            width: "500px",
            height:"300px",
            //btn: null,
            callBack: function (iframeId) {
                top.document.getElementById(iframeId).contentWindow.AcceptClick($("#"+gridtableId));
            }
        });
    }

    //编辑
    function edit(id, infotype, gridtableId) {
            dialogOpen({
                id: "Form1",
                title: '修改单位授权信息',
                url: '/..@Url.Action("RuleInfoForm")?keyValue=' + id + "&infoType=" + infotype ,
                width: "500px",
                height: "300px",
                //btn: null,
                callBack: function (iframeId) {
                    top.document.getElementById(iframeId).contentWindow.AcceptClick($("#"+gridtableId));
                }
            });
    }

    //删除
    function del(keyValue,gridtableId) {
        if (!!keyValue) {
            $.RemoveForm({
                msg: "数据删除后无法恢复，确认删除吗？",
                url: "../../SystemManage/MenuAuthorize/RemoveRule",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#" + gridtableId).trigger("reloadGrid");
                }
            })
        } else {
            dialogMsg('请选择需要删除的信息！', 0);
        }
    }
</script>
<div class="border-left border-right border-top" style="margin: 5px; margin-bottom: 0px; padding-bottom: 2px;">
    <div style="height: 350px;">
        <table class="form">
            <tr>
                <th class="formTitle" style="text-align: left; padding-left: 7px; width: 100px;">单位名称<font face="宋体">*</font></th>
                <td class="formValue">
                    <input id="DepartName" type="text" class="form-control" style="" placeholder="单位名称" isvalid="yes" checkexpession="NotNull" readonly="readonly" />
                    <input type="hidden" id="DepartId" />
                    <input type="hidden" id="DepartCode" />
                </td>
                <th class="formTitle" style="text-align: left; padding-left: 7px; width: 100px;">上级单位</th>
                <td class="formValue">
                    <input id="ParentName" type="text" class="form-control" placeholder="" readonly="readonly" />
                    <input type="hidden" id="ParentId" />
                </td>
            </tr>
            <tr>
                <th class="formTitle" style="text-align: left; padding-left: 7px; width: 55px;">公司名称<font face="宋体">*</font></th>
                <td class="formValue">
                    <input id="DisplayName" type="text" class="form-control" placeholder="公司展示用的名称" isvalid="yes" checkexpession="NotNull" />
                </td>

                <th class="formTitle" style="text-align: left; padding-left: 7px; width: 55px;">注册码<font face="宋体">*</font></th>
                <td class="formValue">
                    <input id="RegistCode" type="text" class="form-control" placeholder="注册码" isvalid="yes" checkexpession="NotNull" />
                </td>
            </tr>
            <tr>
                <th class="formTitle" style="text-align: left; padding-left: 7px; width: 55px;">Logo图片地址</th>
                <td class="formValue">
                    <input id="LogoUrl" type="text" class="form-control" placeholder="图片的链接地址" />
                </td>
                <th class="formTitle" style="text-align: left; padding-left: 7px; width: 55px;">班组终端使用主题</th>
                <td class="formValue">
                    <input id="ThemeType" type="text" class="form-control" />
                    <input id="VersionCode" type="hidden" />
                </td>
                @*<th class="formTitle" style="text-align: left; padding-left: 7px; width: 55px;">班组后台接口地址</th>
                    <td class="formValue">
                        <input id="BZApiUrl" type="text" class="form-control" />
                    </td>*@
            </tr>
            @*<tr>
                    <th class="formTitle" style="text-align: left; padding-left: 7px; width: 55px;">双控后台接口地址</th>
                    <td class="formValue">
                        <input id="SKApiUrl" type="text" class="form-control" />
                    </td>
                    <th class="formTitle" style="text-align: left; padding-left: 7px; width: 55px;">培训平台接口地址</th>
                    <td class="formValue">
                        <input id="PXApiUrl" type="text" class="form-control" />
                    </td>
                </tr>*@
            <tr>
                <th class="formTitle" style="text-align: left; padding-left: 7px; width: 55px;">班组文化墙地址</th>
                <td class="formValue">
                    <input id="CulturalUrl" type="text" class="form-control" />
                </td>
                <th class="formTitle" style="text-align: left; padding-left: 7px; width: 100px;">对接培训平台</th>
                <td class="formValue">
                    <input id="TerminalCode" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <th class="formTitle" style="text-align: left; padding-left: 7px; width: 55px;">首页地址</th>
                <td class="formValue">
                    <input id="IndexUrl" type="text" class="form-control" />
                </td>
                <th class="formTitle" style="text-align: left; padding-left: 7px; width: 55px;">视频等级</th>
                <td class="formValue">
                    <select id="VedioLevel" class="form-control">
                        <option value="低">标准</option>
                        <option value="中">清晰</option>
                    </select>
                </td>
            </tr>
        </table>
        <div class="ui-layout-center">
            <div class="center-Panel">
                <div class="panel-Title">角色主题管理</div>
                <div class="titlePanel">
                    <div class="title-search">
                        <table>
                            @*<tr>
                                    <td style="padding-left: 2px;">
                                        <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;" />
                                    </td>
                                    <td style="padding-left: 5px;">
                                        <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;查询</a>
                                    </td>
                                </tr>*@
                        </table>
                    </div>
                    <div class="toolbar">
                        <div class="btn-group">
                            <a class="btn btn-default" onclick="reload();"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
                            <a id="add" class="btn btn-default" onclick="add(1,'gridThemeType')"><i class="fa fa-plus"></i>&nbsp;新增</a>
                        </div>
                    </div>
                </div>
                <div class="gridPanel">
                    <table id="gridThemeType"></table>
                </div>
            </div>
        </div>
        <br />
        <div class="ui-layout-center">
            <div class="center-Panel">
                <div class="panel-Title">角色文化墙地址管理</div>
                <div class="titlePanel">
                    <div class="title-search">
                        <table>
                            @*<tr>
                                    <td style="padding-left: 2px;">
                                        <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;" />
                                    </td>
                                    <td style="padding-left: 5px;">
                                        <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;查询</a>
                                    </td>
                                </tr>*@
                        </table>
                    </div>
                    <div class="toolbar">
                        <div class="btn-group">
                            <a class="btn btn-default" onclick="reload();"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
                            <a id="add" class="btn btn-default" onclick="add(2,'gridCultural')"><i class="fa fa-plus"></i>&nbsp;新增</a>
                        </div>
                    </div>
                </div>
                <div class="gridPanel">
                    <table id="gridCultural"></table>
                </div>
            </div>
        </div>
        <div class="ui-layout-center">
            <div class="center-Panel">
                <div class="panel-Title">角色首页地址管理</div>
                <div class="titlePanel">
                    <div class="title-search">
                        <table>
                            @*<tr>
                                    <td style="padding-left: 2px;">
                                        <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;" />
                                    </td>
                                    <td style="padding-left: 5px;">
                                        <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;查询</a>
                                    </td>
                                </tr>*@
                        </table>
                    </div>
                    <div class="toolbar">
                        <div class="btn-group">
                            <a class="btn btn-default" onclick="reload();"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
                            <a id="add" class="btn btn-default" onclick="add(3,'gridIndexUrl')"><i class="fa fa-plus"></i>&nbsp;新增</a>
                        </div>
                    </div>
                </div>
                <div class="gridPanel">
                    <table id="gridIndexUrl"></table>
                </div>
            </div>
        </div>
    </div>
</div>

