
@{
    ViewBag.Title = "MenuSettingForm";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/plugins/uploadify/ajaxfileupload.js"></script>
<link href="~/content/scripts/plugins/webuploader/webuploader.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/webuploader/webuploader-demo.css" rel="stylesheet" />
<script type="text/javascript" src="~/content/scripts/plugins/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/fileupload.js"></script>

<style type="text/css">
    .file {
        position: relative;
        display: inline-block;
        overflow: hidden;
        text-decoration: none;
        text-indent: 0;
        cursor: pointer !important;
    }

        .file input {
            position: absolute;
            font-size: 100px;
            right: 0;
            top: 0;
            opacity: 0;
            cursor: pointer !important;
        }

        .file:hover {
            text-decoration: none;
            cursor: pointer !important;
        }
</style>
<script>
    var deptId = request("DepartId");
    var departCode = request("DepartCode");
    var departName = request("DepartName");
    var themeType = request("themeType");
    var keyValue = request('keyValue');
    var columnId = request('columnId');
    var dataSourceType = request('dataSourceType');
    var platform = request("platform");
    $(function () {
        InitUpload();
        FullForm();

    })
    //保存
    function AcceptClick(winObj) {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize(keyValue);
        console.log(postData)
        $.SaveForm({
            url: "../../SystemManage/MenuAuthorize/SaveMenuSetting?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                //$.currentIframe().$("#gridMenuTable").jqGrid().trigger("reloadGrid");
                //winObj.aaa();
                winObj.trigger("reloadGrid");
            }
        })
    }
    function FullForm() {


        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../SystemManage/MenuAuthorize/GetMenuSettingFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                    if (data.Icon) {
                        document.getElementById('uploadPreview').src = top.contentPath + data.Icon;
                    }
                }
            });
        }
        if (!!deptId) {
            $("#DeptId").val(deptId);
        }
        if (!!departCode) {
            $("#DeptCode").val(departCode);
        }
        if (!!departName) {
            $("#DeptName").val(departName)
        }
        if (!!themeType) {
            $("#ThemeCode").val(themeType)
        }
        if (!!platform) {
            $("#PlatformType").val(platform)
        }
    }

    //上传图片
    function Upload(self) {
        var file = self.get(0).files[0];
        if (file.type.indexOf("image") >= 0) {
            var size = file.size;
            var file_id = self.attr("id");
            var img_id = self.attr("img_id");
            //上传应用图标
            $.ajaxFileUpload({
                url: top.contentPath + "/SystemManage/MenuConfig/SaveImg",
                secureuri: false,
                fileElementId: file_id,
                dataType: 'json',
                success: function (data) {
                    document.getElementById('uploadPreview').src = top.contentPath + data.resultdata;
                    $("#Icon").val(data.resultdata);
                    dialogMsg(data.message, 1);
                },
                complete: function () {
                    $("#uploadFile").change(function () {
                        Upload($(this), file_id, img_id);
                    })
                }
            });
        } else {
            dialogMsg("仅支持上传图片！", 2);
        }
    }
    //上传图片
    function InitUpload() {
        $('#uploadFile').change(function () {
            Upload($(this));
        });

    }
</script>
<div class="border-left border-right border-top" style="margin: 5px; margin-bottom: 0px; padding-bottom: 2px;">
    <div>
        <table class="form">
            <tr>
                <th class="formTitle" style="text-align: left; padding-left: 7px; width: 50px;">
                    名称<font face="宋体">*</font>
                    <input type="hidden" id="PlatformType" />
                    <input type="hidden" id="ThemeCode" />
                    <input type="hidden" id="DeptName" />
                </th>
                <td class="formValue">
                    <input id="Name" type="text" class="form-control" style="" placeholder="名称" isvalid="yes" checkexpession="NotNull" />
                    <input type="hidden" id="DeptId" />
                    <input type="hidden" id="DeptCode" />


                </td>
            </tr>
            <tr>
                <th class="formTitle" style="text-align: left; padding-left: 7px; width: 55px;">图标</th>
                <td>
                    <div style="margin-top: 10px; text-align: left;">
                        <div class="file" title="点击上传图标">
                            <img id="uploadPreview" style="width: 115px; height: 115px;" src="~/Content/images/icon_app_add.png" />
                            <input type="file" name="uploadFile" id="uploadFile" accept=" image/jpg, image/png, image/jpeg, image/gif, image/bmp">
                            <input type="hidden" id="Icon" />
                        </div>
                        <div style="line-height: 14px; color: #75777A; text-align: left;" id="divTips">
                            点击图片可上传新的图标
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle" style="text-align: left; padding-left: 7px; width: 50px;">排序<font face="宋体">*</font></th>
                <td class="formValue">
                    <input id="Sort" type="text" class="form-control" style="" placeholder="请输入数字" isvalid="yes" checkexpession="Num" />
                </td>
            </tr>
            <tr>
                <th class="formTitle" style="text-align: left; padding-left: 7px; width: 50px;">备注</th>
                <td class="formValue">
                    <textarea id="Remark" rows="5" style="width:100%;"></textarea>
                </td>
            </tr>
        </table>
    </div>
</div>

