
@{
    ViewBag.Title = "RegistManageForm";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = request('keyValue');
    //保存表单
    $(function () {
        FullForm();
    })
    function FullForm() {
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../SystemManage/MenuAuthorize/GetRegistManageForm",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                }
            });
        }
    }
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize(keyValue);
        console.log(postData)
        $.SaveForm({
            url: "../../SystemManage/MenuAuthorize/SaveRegistCode?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }
</script>
<div class="border-left border-right border-top" style="margin: 5px; margin-bottom: 0px; padding-bottom: 2px;">
    <div style="height: 200px;">
        <table class="form">
            <tr>
                <th class="formTitle" style="text-align: left; padding-left: 7px; width: 100px;">注册码<font face="宋体">*</font></th>
                <td class="formValue">
                    <input id="RegistCode" type="text" class="form-control" placeholder="注册码" isvalid="yes" checkexpession="NotNull" />
                </td>
            </tr>
            <tr>
                <th class="formTitle" style="text-align: left; padding-left: 7px; width:100px;">API接口地址</th>
                <td class="formValue">
                    <input id="ApiUrl" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <th class="formTitle" style="text-align: left; padding-left: 7px; width:100px;">班组后台接口地址</th>
                <td class="formValue">
                    <input id="BZApiUrl" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <th class="formTitle" style="text-align: left; padding-left: 7px; width: 100px;">双控后台接口地址</th>
                <td class="formValue">
                    <input id="SKApiUrl" type="text" class="form-control" />
                </td>

            </tr>
            <tr>
                <th class="formTitle" style="text-align: left; padding-left: 7px; width: 100px;">培训平台接口地址</th>
                <td class="formValue">
                    <input id="PXApiUrl" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <th class="formTitle" style="text-align: left; padding-left: 7px; width: 100px;">备注</th>
                <td class="formValue">
                    <input id="Remark" type="text" class="form-control" />
                </td>
            </tr>
        </table>
    </div>
</div>

