
@{
    ViewBag.Title = "注册码管理";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script>
    var _parentId = "";
    var _isOrg = "";
    var userId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().UserId"; //当前用户Id
    var deptCode = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptCode";//当前用户所属部门Code
    var orgCode = "@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeCode";//当前用户所属机构Code
    $(function () {
        InitialPage();
        //GetTree();
        GetGrid();
    });
    //初始化页面
    function InitialPage() {

    }

    //加载组织机构树
    function GetTree() {
        var json = JSON.stringify(
            {
                SelectMode: 0,
                Mode: 25
            }
          );
        var item = {
            height: $(window).height() - 50,
            url: "../../BaseManage/Department/GetDepartTreeJson?json=" + json,
            onnodeclick: function (item) {
                _parentId = item.value;
                _isOrg = item.Sort;
                $('#btn_Search').trigger("click");
            }
        };
        //初始化
        $("#itemTree").treeview(item);
        if ($("#itemTree").html().length == 0) {
            $(".ui-layout-west").hide();
            $('.ui-layout-center').css({ "padding-left": "5px" });
            $('#gridTable').setGridWidth(($('.gridPanel').width()));
            $("#gridTable").setGridHeight($(window).height() - 170);
        } else {
            $('#layout').layout({
                applyDemoStyles: false,
                onresize: function () {
                    $(window).resize()
                }
            });
        }

    }

    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            url: "../../SystemManage/MenuAuthorize/GetRegistCodeList",
            datatype: "json",
            height: $(window).height() - 170,
            autowidth: true,
            colModel: [
                { label: '主键', name: 'Id', hidden: true },
                { label: '注册码', name: 'RegistCode', index: 'RegistCode', width: 200, align: 'center', sortable: false },
                { label: 'API接口地址', name: 'ApiUrl', index: 'ApiUrl', width: 300, align: 'center', sortable: false },
                { label: '备注', name: 'Remark', index: 'Remark', width: 300, align: 'center', sortable: false },
                { label: '班组后台接口地址', name: 'BZApiUrl', index: 'BZApiUrl', width: 300, align: 'center', sortable: false },
                { label: '双控后台接口地址', name: 'SKApiUrl', index: 'SKApiUrl', width: 300, align: 'center', sortable: false },
                { label: '培训平台后台接口地址', name: 'PXApiUrl', index: 'PXApiUrl', width: 300, align: 'center', sortable: false },
            ],
            viewrecords: true,
            rowNum: 30,
            rowList: [30, 50, 100],
            pager: "#gridPager",
            sortname: 'CreateDate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $("#" + this.id).getGridParam('selrow');
            },
            loadError: function (xhr, status, error) {
                top.location.href = "../../Login/Index?Login_Error=1";
            },
        });
        //$gridTable.authorizeColModel()
        //查询条件
        $("#queryCondition .dropdown-menu li").click(function () {
            var text = $(this).find('a').html();
            var value = $(this).find('a').attr('data-value');
            $("#queryCondition .dropdown-text").html(text).attr('data-value', value)
        });
        //查询事件
        $("#btn_Search").click(function () {
           
            var queryJson = {
                keyword: $("#txt_Keyword").val(),
            }
            $gridTable.jqGrid('setGridParam', {
                postData: queryJson
            }).trigger('reloadGrid');
        });
        //查询回车
        $('#txt_Keyword').bind('keypress', function (event) {
            if (event.keyCode == "13") {
                $('#btn_Search').trigger("click");
            }
        });
    }



    //新增
    function add() {
      
        dialogOpen({
            id: "Form",
            title: '新增',
            url: '/SystemManage/MenuAuthorize/RegistManageForm',
            width: "500px",
            height: ($(top.window).height()-100)+"px",
            //btn: null,
            callBack: function (iframeId) {
                top.document.getElementById(iframeId).contentWindow.AcceptClick();
            }
        });
    };
    //查看
    function show(id) {
        var keyValue = id;
        if (checkedRow(keyValue)) {
           var dlg= dialogOpen({
                id: "Form",
                title: '查看单位授权信息',
               url: '/SystemManage/MenuAuthorize/Form?action=show&keyValue=' + keyValue,
                width: "800px",
                height: "720px",
                btn: ["关闭"],
                callBack: function (iframeId) {
                    top.layer.close(dlg);
                }
            });
        }
    }
    //编辑
    function edit(id) {
        var keyValue = !!id ? id : $("#gridTable").jqGridRowValue("Id");
        if (checkedRow(keyValue)) {
            dialogOpen({
                id: "Form",
                title: '编辑',
                url: '/SystemManage/MenuAuthorize/RegistManageForm?keyValue=' + keyValue,
                width: "500px",
                height: ($(top.window).height() - 100) + "px",
                //btn: null,
                callBack: function (iframeId) {
                    top.document.getElementById(iframeId).contentWindow.AcceptClick();
                }
            });
        }
    }
    //删除
    function del(id) {
        var keyValue = !!id?id: $("#gridTable").jqGridRowValue("Id");
        if (keyValue) {
            $.RemoveForm({
                url: "../../SystemManage/MenuAuthorize/RemoveRegistManage",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#gridTable").trigger("reloadGrid");
                }
            })
        } else {
            dialogMsg('请选择需要删除的信息！', 0);
        }
    }
    function MenuAuth(departId, departCode, departName) {
        var parameter = "?DepartId=" + departId + "&DepartName=" + departName + "&DepartCode=" + departCode;
        dialogOpen({
            id: "AuthForm",
            title: '新增',
            url: '/SystemManage/MenuAuthorize/AuthorizeForm' + parameter,
            width: "1000px",
            height: ($(top.window).height() - 50) + "px",
            //btn: null,
            callBack: function (iframeId) {
                top.document.getElementById(iframeId).contentWindow.AcceptClick();
            }
        });
    }
    function MenuSetting(departId, departCode, departName, platformType) {
        var parameter = "?DepartId=" + departId + "&DepartName=" + departName + "&DepartCode=" + departCode + "&platform=" + platformType;
        dialogOpen({
            id: "SettingForm",
            title: '新增',
            url: '/SystemManage/MenuAuthorize/MenuSetting' + parameter,
            width: "1000px",
            height: ($(top.window).height() - 200) + "px",
            //btn: null,
            callBack: function (iframeId) {
                top.document.getElementById(iframeId).contentWindow.AcceptClick();
            }
        });
    }

</script>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">

    <div class="ui-layout-center">
        <div class="center-Panel">
            <div class="panel-Title">注册码管理</div>
            <div class="titlePanel">
                <div class="title-search">
                    <table>
                        <tr>
                            <td style="padding-left: 2px;">
                                <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;" />
                            </td>
                            <td style="padding-left: 5px;">
                                <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;查询</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="toolbar">
                    <div class="btn-group">
                        <a class="btn btn-default" onclick="reload();"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
                        <a id="add" class="btn btn-default" onclick="add()"><i class="fa fa-plus"></i>&nbsp;新增</a>
                        <a id="edit" class="btn btn-default" onclick="edit()"><i class="fa fa-pencil-square-o"></i>&nbsp;编辑</a>
                        <a id="delete" class="btn btn-default" onclick="del()"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
                    </div>
         
                </div>
            </div>
            <div class="gridPanel">
                <table id="gridTable"></table>
                <div id="gridPager"></div>
            </div>
        </div>
    </div>
</div>