@{
    ViewBag.Title = "选择部门";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var deptId = request('deptId');
    $(function () {
        initControl();
    })
    //初始化数据
    function initControl() {
        $.get("GetTrainDeptTreeJson", { deptId: deptId }, function (data) {
            var json = JSON.parse(data);
            if(json.type==1){
                var item = {
                    cascadecheck: false,
                    data:JSON.parse(json.resultdata),
                    // height: 540,
                        showcheck: true,
                   // url: "../../BaseManage/Department/GetTrainDeptTreeJson?deptId=" + deptId
                };
                $("#DeptTree").treeview(item);
            } else {
               dialogAlert(json.message,0);
            }
        });
       
    }
    //返回选择后的结果并赋值到dom控件
    //winObject:窗体中需要查找domId的对象，一般可写成window.document.body
    //domId：接收返回值的dom节点的ID，多个用逗号分隔，顺序依次为部门名称,部门Code，部门Id（多选用逗号分隔）
    //callback:回调函数
    function AcceptClick() {
        var deptTree = $("#DeptTree");
        var currentNode = deptTree.getCurrentNode();
        if (currentNode != undefined) {
            var code = currentNode.value == undefined || currentNode.value == "null" ? "" : currentNode.value;
            top.Form.window.$("#DeptKey").val(currentNode.id + "|" + code);
            top.Form.window.$("#Fax").val(currentNode.text);
         }
         dialogClose();
    }
</script>
<div style="margin: 10px;">
    <div id="DeptTree"></div>
</div>
