@{
    ViewBag.Title = "选择部门";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var key = request('key');
    $(function () {
        initControl();
    })
    //初始化数据
    function initControl() {
        key = !!key ? key : "C8E52648921869CE5BF5C80569046C11";
        var item = {
            cascadecheck: false,
            // height: 540,
            showcheck: true,
            url: "../../BaseManage/Department/GetToolsDepts?key="+key
        };
        $("#DeptTree").treeview(item);
    }
    //返回选择后的结果并赋值到dom控件
    //winObject:窗体中需要查找domId的对象，一般可写成window.document.body
    //domId：接收返回值的dom节点的ID，多个用逗号分隔，顺序依次为部门名称,部门Code，部门Id（多选用逗号分隔）
    //callback:回调函数
    function AcceptClick() {
        var deptTree = $("#DeptTree");
        var currentNode = deptTree.getCurrentNode();
        if (currentNode != undefined) {
            var dept = top.Form.window.$("#ToolsKey");
            var key = "";
            if (dept.val().length>0) {
                if (dept.val().split('|').length==3) {
                    key = dept.val().split('|')[2];
                }
            }
            if (key.length>0) {
                top.Form.window.$("#ToolsKey").val(currentNode.id + "|" + currentNode.value + "|" + key);
            } else {
                top.Form.window.$("#ToolsKey").val(currentNode.id + "|" + currentNode.value);
            }
            top.Form.window.$("#Fax").val(currentNode.text);
         }
         dialogClose();
    }
</script>
<div style="margin: 10px;">
    <div id="DeptTree"></div>
</div>
