@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>
<script>
    var keyValue = request('keyValue');
    $(function () {
        initControl();
    });
    //初始化控件
    function initControl() {
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../CarManage/Cameramanage/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                }
            })
        }
    }
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize(keyValue);
        $.SaveForm({
            url: "../../CarManage/Cameramanage/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }
</script>
<div style="margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle">摄像头名称<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="CameraName" isvalid="yes" checkexpession="NotNull" type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">摄像头ID<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="CameraId" type="text" isvalid="yes" checkexpession="NotNull" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">排序字段</td>
            <td class="formValue">
                <input id="Sort" type="text"  class="form-control"  />
            </td>
        </tr>
        <tr>
            <td class="formTitle">区域名称<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="AreaName" type="text" length="300" class="form-control" isvalid="yes" checkexpession="LenStr" placeholder="请选择区域" readonly onclick="selectArea(window.document.body, 'AreaName,AreaID,,,,,');" />
                <input id="AreaId" type="hidden" class="form-control" />
            </td>
        </tr>
    </table>
</div>
