@{;
  ViewBag.Title = "表单页面";
  Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>
<script>
    var keyValue = request('keyValue');
    $(function () {
        initControl();
    });
    //初始化控件
    function initControl() {
        //旁站监督级别
        $("#SideUserLevel").ComboBox({
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            param: { EnCode: "SideLevel" },
            id: "ItemValue",
            text: "ItemName",
            description: "",
            height: "200px"
        });

        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../HighRiskWork/SidePerson/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                }
            })
        }
    }
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize(keyValue);

        $.SaveForm({
            url: "../../HighRiskWork/SidePerson/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })

    }
</script>
<div style="margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle">旁站监督人员<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="SideUserName" type="text" class="form-control" errormsg="旁站监督员" placeholder="请选择旁站监督人员" isvalid="yes" checkexpession="NotNull" readonly onclick="selectUser({ deptId: '', checkMode: 0, mode: 2, winObject: window.document.body, domId: 'SideUserName,,SideUserId,SideUserDeptId,,SideUserDeptName,,SideUserSex,,', eliminateUserIds: '',special:1});" />
                <input id="SideUserId" type="hidden" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">性别</td>
            <td class="formValue">
                <input id="SideUserSex" type="text" class="form-control" readonly />
            </td>
        </tr>
        <tr>
            <td class="formTitle">单位名称</td>
            <td class="formValue">
                <input id="SideUserDeptName" type="text" class="form-control" readonly />
                <input type="hidden" id="SideUserDeptId" value="" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">旁站监督级别<font face="宋体">*</font></td>
            <td class="formValue">
                <div id="SideUserLevel" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
            </td>
        </tr>

    </table>
</div>
