@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = request('keyValue');
    var Pid = request('pid');//整个职工体检的ID
    var userids;
    var userid = "";//已经添加过的职业病人id
    var myid;
    var type = request('type');
    var ycuserid = "";//已经添加过的异常人员ID
    $(function () {
        initControl();
    });
    //初始化控件
    function initControl() {
        userids = top.Form.window.$("#CHECKMAN").val();
        $("#OccId").val(Pid);//记录父id
        if (type==2) {
            $("#zyb").hide();
            $("#SickTypeName").removeAttr("isvalid");
            $("#bz").hide();
            $("#ycms").show();
            $("#UnusualNote").attr("isvalid", "yes");
        }
        else {
            $("#zyb").show();
            $("#SickTypeName").attr("isvalid", "yes");
            $("#bz").show();
            $("#ycms").hide();
            $("#UnusualNote").removeAttr("isvalid");
        }
        //加载职业病种类
        $("#SickType").ComboBox({
            url: top.contentPath + "/OccupationalHealthManage/Occupationalstaffdetail/GetCmbJson?Code=SICKTYPE",
            id: "ItemValue",
            text: "ItemName",
            height: '100px',
            description: "==请选择==",
            allowSearch: true
        });


        //加载人员
        $("#UserId").ComboBox({
            url: top.contentPath + "/OccupationalHealthManage/Occupationalstaffdetail/GetUserJson",
            param: { UserIDs: userids },
            type: "POST",
            id: "userid",
            text: "realname",
            height: '100px',
            description: "==请选择==",
            allowSearch: true
        }).bind("change", function () {
            $("#UserName").val($(this).attr('data-text'));
        });

        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../OccupationalHealthManage/Occupationalstaffdetail/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                    myid = data.UserId;
                    //初始化职业病数据
                    $("#SickTypeName").val(data.SickTypeName);
                    $("#SickType").val(data.SickType);
                }
            })
        }
    }
    //保存表单;
    function AcceptClick() {
        GetUser(4);
        if (!$('#form1').Validform()) {
            return false;
        }
        if (!!keyValue) {
            var selectid = $("#UserId").attr('data-value');
            if (selectid != myid) {//先判断下拉框选择的还是不是原来的人员id 如果是则不判断重复选择
                var uids = userid.split(',');

                if (userid != null && userid.trim() != "") {
                    for (var i = 0; i < uids.length; i++) {
                        if (selectid == uids[i]) {
                            alert("请不要添加相同人员");
                            return false;
                        }
                    }
                }
            }
            

        } else//新增数据
        {
            var selectid = $("#UserId").attr('data-value');
            var uids = userid.split(',');
            if (userid != null && userid.trim() != "") {
                for (var i = 0; i < uids.length; i++) {
                    if (selectid == uids[i]) {
                        alert("请不要添加相同人员");
                        return false;
                    }
                }
            }
           

        }
        var postData = $("#form1").formSerialize(keyValue);
        if (type == 2) {
            postData["Issick"] = 2;
        }
        else {
            postData["Issick"] = 1;
        }
        $.SaveForm({
            url: "../../OccupationalHealthManage/Occupationalstaffdetail/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                if (type == 2) {
                    var queryJson = {
                        condition: Pid,//父节点id
                        keyword: 2
                    }
                    top.Form.window.$("#gridTable2").jqGrid('setGridParam', {
                        postData: { queryJson: JSON.stringify(queryJson) }, page: 1
                    }).trigger('reloadGrid');
                }
                else {
                    var queryJson = {
                        condition: Pid,//父节点id
                        keyword: 1
                    }
                    top.Form.window.$("#gridTable").jqGrid('setGridParam', {
                        postData: { queryJson: JSON.stringify(queryJson) }, page: 1
                    }).trigger('reloadGrid');
                }

            }
        })
    }

    /// <summary>
    /// 选择职业病种类
    /// </summary>
    ///<param name="deptId">查询条件，根据mode的值查询方式会不同</param>
    /// <param name="checkMode">单选或多选，0:单选，1:多选</param>
    /// <param name="mode">查询模式，0:获取机构ID为Ids下所有的部门(即EnCode=Ids)，1:获取部门ParentId为Ids下所有部门(即ParentId=Ids)，2:获取部门的parentId在Ids中的部门(即EnCode in(Ids))，3:获取部门Id在Ids中的部门(即DepartmentId in(Ids))4.获取承包商和分包商</param>
    ///<param name="title">弹出层标题</param>
    ///<param name="winObject">窗体中需要查找domId的对象，一般可写成window.document.body或this.parentNode</param>
    ///<param name="domId">接收返回值的dom节点的ID，多个用逗号分隔，顺序依次为部门名称,部门Code，部门Id,部门负责人姓名,部门负责人ID（多选用逗号分隔）</param>
    function selectTree(Code, checkMode, mode, title, winObject, domId, deptIds) {
        return dialogOpen({
            id: "Staff",
            title: title,
            url: '/OccupationalHealthManage/Occupationalstaffdetail/Select?Code=' + Code + "&checkMode=" + checkMode + "&mode=" + mode + "&deptIds=" + deptIds,
            width: "700px",
            height: "500px",
            callBack: function (iframeId) {
                top.document.getElementById(iframeId).contentWindow.AcceptClick(winObject, domId, window);
            }
        });
    }


    //查询有哪些人职业病人 不允许重复添加
    function GetUser(type) {
        //初始化职位json
        $.ajax({
            url: top.contentPath + "/OccupationalHealthManage/Occupationalstaffdetail/GetList",
            data: { "Pid": Pid, "type": type },
            type: "post",
            dataType: "json",
            async: false,
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    if (i == 0) {
                        userid = data[i].UserId;
                    } else {
                        userid += "," + data[i].UserId;
                    }
                }
            }
        });
    }

</script>
<div style="margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle">人员姓名<font face=“宋体”>*</font></td>
            <td class="formValue">
                <div id="UserId" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
                <input id="UserName" type="hidden" />
                <input id="OccId" type="hidden" />
            </td>
        </tr>
        <tr id="zyb">
            <td class="formTitle">职业病种类<font face=“宋体”>*</font></td>
            <td class="formValue">
                @*<div id="SickType" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>*@
                <input id="SickTypeName" type="text" class="form-control" errormsg="职业病种类" placeholder="请选择职业病种类" isvalid="yes" checkexpession="NotNull" readonly onclick="selectTree('SICKTYPE', 1, 0, '选择职业病种类', window.document.body, 'SickTypeName,,SickType,,,', $('#SickType').val())" />
                <input id="SickType" type="hidden" />
            </td>
        </tr>
        <tr id="bz">
            <td class="formTitle">备注</td>
            <td class="formValue">
                <input id="Note" type="text" class="form-control" />
            </td>
        </tr>
        <tr id="ycms">
            <td class="formTitle">异常描述<font face=“宋体”>*</font></td>
            <td class="formValue">
                <input id="UnusualNote" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
    </table>
</div>
