@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<script>
    var keyValue = request('keyValue');
    var isSick = request('isSick');
    //var Sicktype;//职业病种类
    $(function () {
        //Init();
        GetGrid();

    });


    //function Init()//初始化
    //{
    //    //初始化职位json
    //    $.ajax({
    //        url: top.contentPath + "/OccupationalHealthManage/Occupationalstaffdetail/GetCmbJson?Code=SICKTYPE",
    //        type: "post",
    //        dataType: "json",
    //        async: false,
    //        success: function (data) {
    //            Sicktype = data;
    //        }
    //    });
    //}
    //加载表格
    function GetGrid() {
        var queryJson = {
            condition: keyValue,//父节点id
            keyword: isSick  //查询人员类型
        }

        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        var colModel = [];
        if (isSick==3) {
            colModel =  [
               { label: '主键', name: 'occdetailid', hidden: true, hidden: true, width: 150, sortable: false },
               {
                   label: '人员姓名', name: 'username', width: 150, align: 'center', sortable: false
               },
               {
                   label: '体检时间', name: 'inspectiontime', width: 150, align: 'center', sortable: false,
                   formatter: function (cellvalue, options, rowObject) {
                       return formatDate(cellvalue, 'yyyy-MM-dd');
                   }
               },
               {
                   label: '是否有职业病', name: 'issick', width: 150, align: 'center', sortable: false,
                   formatter: function (cellvalue, options, rowObject) {
                       if (cellvalue == 1) {
                           return "是";
                       } else {
                           return "否";
                       }
                   }
               },
               {
                   label: '是否异常', name: 'issick', width: 150, align: 'center', sortable: false,
                   formatter: function (cellvalue, options, rowObject) {
                       if (cellvalue == 2) {
                           return "是";
                       } else {
                           return "否";
                       }
                   }
               }
            ];
        }
        else if (isSick == 2) {
            colModel =  [
               { label: '主键', name: 'occdetailid', hidden: true, hidden: true, width: 150, sortable: false },
               {
                   label: '人员姓名', name: 'username', width: 150, align: 'center', sortable: false
               },
               {
                   label: '体检时间', name: 'inspectiontime', width: 150, align: 'center', sortable: false,
                   formatter: function (cellvalue, options, rowObject) {
                       return formatDate(cellvalue, 'yyyy-MM-dd');
                   }
               },
               {
                   label: '是否异常', name: 'issick', width: 150, align: 'center', sortable: false,
                   formatter: function (cellvalue, options, rowObject) {
                       if (cellvalue == 2) {
                           return "是";
                       } else {
                           return "否";
                       }
                   }
               },
               {
                   label: '异常描述', name: 'unusualnote', width: 150, align: 'center', sortable: false
               }
            ];
        }
        else if (isSick == 1) {
            colModel = [
               { label: '主键', name: 'occdetailid', hidden: true, hidden: true, width: 150, sortable: false },
               {
                   label: '人员姓名', name: 'username', width: 150, align: 'center', sortable: false
               },
               {
                   label: '体检时间', name: 'inspectiontime', width: 150, align: 'center', sortable: false,
                   formatter: function (cellvalue, options, rowObject) {
                       return formatDate(cellvalue, 'yyyy-MM-dd');
                   }
               },
               {
                   label: '是否职业病人员', name: 'issick', width: 150, align: 'center', sortable: false,
                   formatter: function (cellvalue, options, rowObject) {
                       if (cellvalue == 1) {
                           return "是";
                       } else {
                           return "否";
                       }
                   }
               },
               {
                   label: '职业病种类', name: 'sicktypename', width: 150, align: 'center', sortable: false
               }
            ];
        }
        $gridTable.jqGrid({
            autowidth: true,
            height: 300,
            url: "../../OccupationalHealthManage/Occupationalstaffdetail/GetListJson",
            postData: { queryJson: JSON.stringify(queryJson) },
            datatype: "json",
            colModel: colModel,
            viewrecords: true,
            rowNum: 10,
            // rowList: [30, 50, 100],
            pager: "#gridPager",
            sortname: 'CreateDate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);
            }
        });
    }

    //导出到Excel
    function btn_Exc() {
        var queryJson = {
            condition: keyValue,//父节点id
            keyword: isSick  //查询人员类型
        }
        //var queryJson = {
        //    condition: $("#queryCondition").find('.dropdown-text').attr('data-value'),
        //    keyword: $("#txt_Keyword").val()
        //    //code: _parentId,
        //    //isOrg: _isOrg
        //}

        location.href = "../../OccupationalHealthManage/Occupationalstaffdetail/Excel?queryJson=" + JSON.stringify(queryJson);
    }
</script>

<div class="titlePanel">
    <div class="title-search">

    </div>
    <div class="toolbar">
        <div class="btn-group">
            <a id="lr-excel" class="btn btn-default" onclick="btn_Exc()"><i class="fa fa-download"></i>导出Excel</a>
        </div>
    </div>
</div>
<div class="gridPanel">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>
