@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>
<script>
    var keyValue = request('keyValue');
    var action = request('action');
    var userName = "@ERCHTMS.Code.OperatorProvider.Provider.Current().UserName";
    var userId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().UserId";
    $(function () {
        if (action == "show") {
            $("input").attr("readonly", "readonly");
            $("input").attr("disabled", "disabled");
            $("a").attr("disabled", "disabled");
            $("div").attr("disabled", "disabled");
            $("textarea").attr("disabled", "disabled");
            top.window.$(".layui-layer-btn0").hide();
        }
        initControl();
    });
    //初始化控件
    function initControl() {
        $("#CheckUserName").val(userName);
        $("#CheckUserId").val(userId);

        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 108.5);
            }, 200);
            e.stopPropagation();
        });

        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../EnvironmentalManage/Noisecheck/GetFormJson",
                param: { keyValue: keyValue },
                success: function(data) {
                    $("#form1").formDeserialize(data);
                }
            });
        }
    }

    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize(keyValue);
        $.SaveForm({
            url: "../../EnvironmentalManage/Noisecheck/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function() {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        });
    }
</script>
<div class="panel panel-default" id="panel0">
    <div style="margin-top: 20px; margin-right: 30px;">
        <table class="form">
            <tr style="margin-top: 20px; margin-right: 30px;">
                <td class="formTitle" style="width: 150px">检测人员<font face="宋体">*</font></td>
                <td class="formValue">
                    <input id="CheckUserName" type="text" class="form-control" style="display: inline-block;" readonly isvalid="yes" checkexpession="NotNull" />
                    <input id="CheckUserId" type="hidden" />
                   @* <a id="btn_Select" class="btn btn-primary" href="javascript:selectUser({ deptId: '', checkMode: 0, mode: 0, winObject: window.document.body, domId: 'CheckUserName,,CheckUserId' });" style="background-color: #2e99d4; border-color: #2e99d4; display: inline-block; vertical-align: top; line-height: 14px;">&nbsp;选&nbsp;&nbsp;择</a>*@
                </td>
                <td class="formTitle" style="width: 150px">检测日期<font face="宋体">*</font></td>
                <td class="formValue">
                    <input id="CheckDate" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" isvalid="yes" checkexpession="NotNull" />
                </td>
            </tr>
            <tr>
                <td class="formTitle">单位：<font face="宋体"></font></td>
                <td class="formValue" colspan="3">
                    <input id="unint" type="text" class="form-control" style="display: inline-block;" disabled="disabled" value="dBA" />
                </td>
            </tr>       
</table>
    </div>
    <div class="panel-heading">
        <strong>&nbsp;&nbsp;检测点详情</strong>
    </div>
    <div style="margin-top: 20px; margin-right: 30px;">
        <table class="form" id="checkform">
            <tr>
                <td class="formTitle" style="width: 150px">1#厂界噪声点位&nbsp:&nbsp昼间<font face="宋体"></font></td>
                <td class="formValue">
                    <input id="zj1" type="text" class="form-control" style="width: 80%;  display: inline-block;" isvalid="yes" checkexpession="DoubleOrNull" />
                </td>
                <td class="formTitle" style="width: 150px">1#厂界噪声点位&nbsp:&nbsp夜间<font face="宋体"></font></td>
                <td class="formValue">
                    <input id="yj1" type="text" class="form-control" style="width: 80%; display: inline-block;" isvalid="yes" checkexpession="DoubleOrNull" />
                </td>
            </tr>
            <tr>
                <td class="formTitle" style="width: 150px">2#厂界噪声点位&nbsp:&nbsp昼间<font face="宋体"></font></td>
                <td class="formValue">
                    <input id="zj2" type="text" class="form-control" style="width: 80%;  display: inline-block;" isvalid="yes" checkexpession="DoubleOrNull" />
                </td>
                <td class="formTitle" style="width: 150px">2#厂界噪声点位&nbsp:&nbsp夜间<font face="宋体"></font></td>
                <td class="formValue">
                    <input id="yj2" type="text" class="form-control" style="width: 80%; display: inline-block;" isvalid="yes" checkexpession="DoubleOrNull" />
                </td>
            </tr>
            <tr>
                <td class="formTitle" style="width: 150px">3#厂界噪声点位&nbsp:&nbsp昼间<font face="宋体"></font></td>
                <td class="formValue">
                    <input id="zj3" type="text" class="form-control" style="width: 80%;  display: inline-block;" isvalid="yes" checkexpession="DoubleOrNull" />
                </td>
                <td class="formTitle" style="width: 150px">3#厂界噪声点位&nbsp:&nbsp夜间<font face="宋体"></font></td>
                <td class="formValue">
                    <input id="yj3" type="text" class="form-control" style="width: 80%; display: inline-block;" isvalid="yes" checkexpession="DoubleOrNull" />
                </td>
            </tr>
            <tr>
                <td class="formTitle" style="width: 150px">4#厂界噪声点位&nbsp:&nbsp昼间<font face="宋体"></font></td>
                <td class="formValue">
                    <input id="zj4" type="text" class="form-control" style="width: 80%;  display: inline-block;" isvalid="yes" checkexpession="DoubleOrNull" />
                </td>
                <td class="formTitle" style="width: 150px">4#厂界噪声点位&nbsp:&nbsp夜间<font face="宋体"></font></td>
                <td class="formValue">
                    <input id="yj4" type="text" class="form-control" style="width: 80%; display: inline-block;" isvalid="yes" checkexpession="DoubleOrNull" />
                </td>
            </tr>
            <tr>
                <td class="formTitle" style="width: 150px">5#厂界噪声点位&nbsp:&nbsp昼间<font face="宋体"></font></td>
                <td class="formValue">
                    <input id="zj5" type="text" class="form-control" style="width: 80%;  display: inline-block;" isvalid="yes" checkexpession="DoubleOrNull" />
                </td>
                <td class="formTitle" style="width: 150px">5#厂界噪声点位&nbsp:&nbsp夜间<font face="宋体"></font></td>
                <td class="formValue">
                    <input id="yj5" type="text" class="form-control" style="width: 80%; display: inline-block;" isvalid="yes" checkexpession="DoubleOrNull" />
                </td>
            </tr>
            <tr>
                <td class="formTitle" style="width: 150px">6#厂界噪声点位&nbsp:&nbsp昼间<font face="宋体"></font></td>
                <td class="formValue">
                    <input id="zj6" type="text" class="form-control" style="width: 80%;  display: inline-block;" isvalid="yes" checkexpession="DoubleOrNull" />
                </td>
                <td class="formTitle" style="width: 150px">6#厂界噪声点位&nbsp:&nbsp夜间<font face="宋体"></font></td>
                <td class="formValue">
                    <input id="yj6" type="text" class="form-control" style="width: 80%; display: inline-block;" isvalid="yes" checkexpession="DoubleOrNull" />
                </td>
            </tr>

        </table>
    </div>
</div>