@{
    ViewBag.Title = "化学品安全技术说明书";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
<script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script src="~/Content/scripts/business/Common.js"></script>
<script src="~/Content/scripts/business/Grid.js"></script>
<script>
    var _parentId = "";
    var _isOrg = "";
    var IsDanger = "";
    var type = request("type");

    //加载页面
    $(function () {
        ComBoxForData("PLANTYPE", "MAE_PlanType");

        //页面初始化
        InitialPage();
        //加载列表
        var arrCol = new Array();
        arrCol.push(
     { label: '主键', name: 'id', index: 'id', align: 'center', sortable: true, hidden: true },
                           { label: '创建人', name: 'createuserid', index: 'createuserid', align: 'center', sortable: true, hidden: true },
                  { label: '创建人部门code', name: 'createuserdeptcode', index: 'createuserdeptcode', align: 'center', sortable: true, hidden: true },
                  { label: '创建人组织code', name: 'createuserorgcode', index: 'createuserorgcode', align: 'center', sortable: true, hidden: true },
                { label: '应急预案名称', name: 'name', index: 'name', align: 'center', sortable: true },
                { label: '应急预案类型', name: 'plantypename', index: 'plantypename', align: 'center', sortable: true },
                { label: '应急预案类型code', name: 'plantype', index: 'plantype', align: 'center', sortable: true, hidden: true },
                { label: '编制部门', name: 'departname_bz', index: 'departname_bz', align: 'center', sortable: true },
                { label: '编制人', name: 'username_bz', index: 'username_bz', align: 'center', sortable: true },
                {
                    label: '编制时间', name: 'datatime_bz', index: 'datatime_bz', align: 'center', sortable: true, formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd');
                    }
                },
                { label: '是否评审', name: 'isauditname', index: 'isauditname', align: 'center', sortable: true }
        );
        GetGrid("../../EmergencyPlatform/Reserverplan/GetPageListJson", arrCol, "desc", "createdate", false, false, $(window).height() - 170, 40);
    });
    //初始化页面
    function InitialPage() {
        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 108.5);
            }, 200);
            e.stopPropagation();
        });
    }

    //加载搜索条件
    function GetQueryJson() {
        var queryJson = {
            Name: $("#Name").val(),
            code: _parentId,
            isOrg: _isOrg,
            PlanType: $("#PLANTYPE").attr('data-value'),
        }
        return queryJson;
    }
    function AcceptClick(options) {

        var winObject = options.winObject;
        var domId = options.domId;//传参获取的ID
        var checkmode = options.checkMode;
        var selVal = new Array();//获取的返回值
        var rowIndex = options.rowIndex;

        if (winObject != undefined && domId != undefined) {
            if (domId.length > 0) {
                var rowNow = $('#gridTable').jqGrid('getRowData');
                var rowObject = $('#gridTable').jqGrid("getRowData", selectedRowIndex);
                if (selectedRowIndex <= 0) {
                    dialogAlert("请选择一条记录！", 2);
                    return;
                }
                //遍历获取数据
                var ids = domId.split(',');
                //当前选中行的id集合
                var arr = $("#gridTable").jqGrid("getGridParam", "selarrrow");

                //var arr = $('#gridTable').jqGrid("getRowData");
                //单选
                var selVal = new Array(rowObject["id"], rowObject["name"], rowObject["plantype"], rowObject["plantypename"]);
                if (rowIndex == undefined) {
                    for (var i = 0; i < ids.length; i++) {
                        var dom = $(winObject).find("#" + ids[i]).eq(0);
                        if (dom != undefined) {
                            if (dom[0].tagName=="DIV") {
                                dom.ComboBoxSetValue(selVal[i], winObject);
                            }
                            else {
                                dom.val(selVal[i]);
                            }
                            
                        }
                    }
                }
                else {
                    for (var i = 0; i < ids.length; i++) {
                        var dom = $(winObject).find("#" + ids[i]).eq(0);
                        if (dom != undefined) {
                            //父页需要的元素id跟子页选择的元素id相同时赋值
                            if (ids[i] == "Name_" + rowIndex) {
                                dom.val(rowObject["name"]);
                            }
                            else {
                                dom.val(rowObject["id"]);
                            }

                        }
                    }
                }
                

            }
            if (options.callBack) {
                options.callBack();
            }
            dialogClose();
        }

    }

</script>

<div class="titlePanel">
    <div class="title-search">
        <table>
            <tr>
                <td>应急预案名称:</td>
                <td>
                    <input id="Name" type="text" class="form-control" placeholder="请输入应急预案名称" />
                </td>
                <td>应急预案类型:</td>
                <td>
                    <div id="PLANTYPE" type="select" class="ui-select" style="width:150px"></div>
                </td>
                <td style="padding-left: 5px;">
                    <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>查询</a>
                </td>
            </tr>
        </table>
    </div>



    <div class="toolbar" id="divToolBar">

    </div>
</div>
<div class="gridPanel">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>
