@{
    ViewBag.Title = "未遂事件";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script type="text/javascript" src="~/content/scripts/business/common.js"></script>
<script>
    var _parentId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeCode";
    var _isOrg = "Organize";
    var checkMode = request('checkMode');
    var userId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().UserId"; //当前用户Id
    var deptCode = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptCode";//当前用户所属部门Code
    var orgCode = "@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeCode";//当前用户所属机构Code
    $.ajaxSetup({ async: false });
    //var mode = request('mode');
    //var userIds = request('userIds');
    $(function () {
        ComBoxForData("WSSJTYPE", "AEM_WSSJTYPE");
        if (checkMode == 0) {
            $(".ui-layout-east").remove();
        }
        InitialPage();
        GetTree();
        GetGrid();
    });
    //初始化页面
    function InitialPage() {
        $('#layout').layout({
            applyDemoStyles: true,
            onresize: function () {
                $(window).resize();
            }
        });

        //resize重设(表格、树形)宽高
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $("#gridTable").setGridHeight($(window).height() - 141.5);
                $("#itemTree").setTreeHeight($(window).height() - 50);

            }, 200);
            e.stopPropagation();
        });
        $("#users").height($(window).height() - 50);


    }
    //加载组织机构树
    function GetTree() {
        json = JSON.stringify(
            {
                SelectMode: 0,
                Mode: 0
            }
        );

        var item = {
            height: $(window).height() - 50,
            url: "../../BaseManage/Department/GetDepartTreeJson?json=" + json,
            onnodeclick: function (item) {
                _parentId = item.value;
                _isOrg = item.Sort;
                $('#btn_Search').trigger("click");
            }
        };
        //初始化
        $("#itemTree").treeview(item);
    }
    var selectedRowIndex = -1;
    //加载表格
    function GetGrid() {
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            url: "../../AccidentEvent/Wssjbg/GetPageListJson",
            datatype: "json",
            height: $(window).height() - 200,
            autowidth: true,
            colModel: [
                { label: '是否提交', name: 'issubmit', index: 'issubmit', hidden: true },
                { label: 'createuserid', name: 'createuserid', hidden: true },
                { label: '主键', name: 'id', index: 'id', align: 'left', sortable: true, hidden: true },
                { label: '', name: 'departmentcode', hidden: true }, { label: '', name: 'organizecode', hidden: true },
                { label: '未遂事件名称', name: 'wssjname', index: 'wssjname', align: 'center', sortable: true },

                { label: '未遂事件类型', name: 'wssjtypename', index: 'wssjtypename', align: 'center', sortable: true },
                { label: '发生时间', name: 'happentime', index: 'happentime', align: 'center', sortable: true },
                { label: '地点', name: 'areaname', index: 'areaname', align: 'center', sortable: true },
                { label: '快报人', name: 'wssjbgusername', index: 'wssjbgusername', align: 'center', sortable: true }, {
                    label: '是否提交', name: 'Status', index: 'issubmit', align: 'center', sortable: true, formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.issubmit == 1) {
                            return "<div class='data-warn'>已提交</div>";
                        }
                        else {
                            return "<div class='data-danger'>未提交</div>";
                        }
                    }
                }
            ],

            viewrecords: true,
            rowNum: 30,
            // rowList: [30, 50, 100],
            pager: "#gridPager",
            sortname: 'createdate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);
            }
        });
        //$gridTable.authorizeColModel()
        //查询条件
        $("#queryCondition .dropdown-menu li").click(function () {
            var text = $(this).find('a').html();
            var value = $(this).find('a').attr('data-value');
            $("#queryCondition .dropdown-text").html(text).attr('data-value', value)
        });
        //查询事件
        $("#btn_Search").click(function () {
            var queryJson = {
                condition: $("#queryCondition").find('.dropdown-text').attr('data-value'),
                keyword: $("#txt_Keyword").val(),
                code: _parentId,
                isOrg: _isOrg
            }
            $gridTable.jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify(queryJson) }, page: 1
            }).trigger('reloadGrid');
        });
        //查询回车
        $('#txt_Keyword').bind('keypress', function (event) {
            if (event.keyCode == "13") {
                $('#btn_Search').trigger("click");
            }
        });
    }
    //返回选择后的结果并赋值到dom控件,多个值用逗号分隔
    //winObject:窗体中需要查找domId的对象，一般可写成window.document.body
    //domId：接收返回值的dom节点的ID，多个用逗号分隔，顺序必须依次为设备ID,设备名称，设备编号,区域名称,区域ID,区域编码（多选用逗号分隔）
    function AcceptClick(options) {

        var winObject = options.winObject;
        var domId = options.domId;
        var selVal = new Array();

        if (winObject != undefined && domId != undefined) {
            if (domId.length > 0) {
                var wssjname = "";
                //checkMode = 0  单选
                if (checkMode == 0) {
                    if (selectedRowIndex <= 0) {
                        dialogAlert("请选择未遂事件！", 2);
                        return;
                    } else {
                        var rowObject = $('#gridTable').jqGrid("getRowData", selectedRowIndex);
                        wssjname = rowObject.wssjname;                      
                    }

                }
                var ids = domId.split(',');
                var selVal = new Array(wssjname);
                for (var j = 0; j < ids.length; j++) {
                    if (ids[j].length >= 0) {
                        if (ids[j] != "") {
                            var dom = $(winObject).find("#" + ids[j]).eq(0);
                            if (dom != undefined) {
                                dom.val(selVal[j]);
                            }
                        }
                    }
                }
            }
            if (options.callBack) {
                options.callBack();
            }
            dialogClose();
        }

    }
</script>
@*<script>$('.toolbar').authorizeButton()</script>*@
<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-west">
        <div class="west-Panel">
            <div class="panel-Title">
                <div class="col-md-10">
                    组织机构
                </div>
                <div class="col-md-2 text-right" style="padding-right:8px;">
                    <i class="fa fa-arrow-left" onclick="setBar(this)" style="cursor:pointer;" title="展开/收起"></i>
                </div>
            </div>
            <div id="itemTree"></div>
        </div>
    </div>
    <div class="ui-layout-center">
        <div class="center-Panel">
            <div class="panel-Title">未遂事件</div>
            <div class="titlePanel">
                <div class="title-search">
                    <table>
                        <tr>
                            <td>查询条件</td>
                            <td style="padding-left: 10px;">
                                <div class="ui-filter" style="width: 200px;">
                                    <div class="ui-filter-text">
                                        <input id="see" type="hidden" />
                                        请选择过滤条件
                                    </div>
                                    <div class="ui-filter-list" style="width: 350px;">
                                        <table class="form" id="filter-form">
                                            <tr>
                                                <th class="formTitle">发生时间起：</th>
                                                <td class="formValue">
                                                    <input id="Category" type="hidden" value="1" />
                                                    <div style="float: left; ">
                                                        <input id="HAPPENTIMES" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm' })" />
                                                    </div>

                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="formTitle">发生时间止：</th>
                                                <td class="formValue">
                                                    <div style="float: left;">
                                                        <input id="HAPPENTIMEE" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm' })" />
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="formTitle">事件类型：</td>
                                                <td class="formValue">
                                                    <div id="WSSJTYPE" type="select" class="ui-select" style="width: 180px;"></div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="formTitle">事件名称：</td>
                                                <td class="formValue">
                                                    <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 180px;" />
                                                </td>
                                            </tr>

                                        </table>
                                        <div class="ui-filter-list-bottom">
                                            <a id="btn_Search" class="btn btn-primary">&nbsp;查&nbsp;&nbsp;询</a>

                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                未遂事件快报共:<span style="color:red" id="sSGKB">0</span> 起
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="panel-body">
                <table id="gridTable"></table>
                <div id="gridPager"></div>
            </div>
        </div>
    </div>
</div>







