@{;
    ViewBag.Title = "列表页面";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script>
    var keyValue = request('keyValue');
    $(function () {
        InitialPage();
        GetGrid();
    });
    //初始化页面
    function InitialPage() {
        $('#layout').layout({
           applyDemoStyles: false,
            onresize: function () {
               $(window).resize();
             }
        });
        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 110);
            }, 200);
            e.stopPropagation();
        });
    }
    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() - 110,
            url: "../../SafetyWorkSupervise/Safetyworkfeedback/GetPageListJson?keyValue=" + keyValue,
            datatype: "json",
            colModel: [
                { label: '主键', name: 'Id', hidden: true },
                {
                    label: '操作', name: 'Oper', width: 150, align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        var html = "<a href=javascript:show('" + rowObject.superviseid + "','" + rowObject.id + "','" + rowObject.cid + "') title='查看' ><i class='fa fa-eye'></i></a>";
                        return html;
                    }
                },
                {
                    label: '反馈时间', name: 'feedbackdate', width: 250, align: 'center', sortable: false, formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd');
                    } },
                { label: '完成情况', name: 'finishinfo', width: 400, align: 'center', sortable: false },
                {
                    label: '督办结果', name: 'superviseresult', width: 150, align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.superviseresult == "0") {
                            return "通过";
                        } else {
                            return "不通过";
                        }
                    }},
                { label: '督办意见', name: 'superviseopinion', width: 150, align: 'center', sortable: false },
                { label: '督办id', name: 'superviseid', width: 150, align: 'center', sortable: false, hidden: true },
                { label: '督办确认id', name: 'cid', width: 150, align: 'center', sortable: false, hidden: true }
            ],
            viewrecords: true,
            rowNum: 10,
            rowList: [10, 15, 20],
            pager: "#gridPager",
            sortname: 't1.createdate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: true,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);
            }
        });
    }
    function show(id, fid, cid) {
        dialogOpen({
            id: "Form2",
            title: "查看督办历史",
            url: '/SafetyWorkSupervise/Safetyworksupervise/FeedbackDetail?superviseid=' + id + '&action=view&datatype=' + 0 + "&fid=" + fid,
            width: "800px",
            height: ($(top.window).height() - 150) + "px",
            btn: false
        });
    }
</script>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
 <div class="ui-layout-center">
   <div class="center-Panel" style="margin-left: 10px; margin-right: 10px;">

       <div class="gridPanel">
           <table id="gridTable"></table>
           <div id="gridPager"></div>
       </div>
   </div>
 </div>
</div>
