@{
    ViewBag.Title = "隐患台账记录";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
<script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script src="~/Content/scripts/business/Common.js"></script>
<script src="~/Content/scripts/business/Grid.js"></script>
<script>
    var _parentId = "";
    var _isOrg = "";
    var IsDanger = "";
    var keyValue = request("RelevanceId");
    var keyValue = request("relevanceType");
    //加载页面
    $(function () {
        //页面初始化
        InitialPage();
        //加载列表
        loadGrid();
    });
    //初始化页面
    function InitialPage() {
        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 108.5);
            }, 200);
            e.stopPropagation();
        });
    }

    //绑定grid
    function loadGrid() {
        var arrYH = new Array();

        arrYH.push(
               { label: '主键', name: 'id', index: 'id', width: 100, align: 'center', hidden: true },
               { label: '临时流程用户', name: 'participant', index: 'participant', align: 'center', hidden: true },
                { label: '登记类型', name: 'addtype', index: 'addtype', width: 100, align: 'center', hidden: true },
                { label: '隐患编码', name: 'hidcode', index: 'hidcode', align: 'center', sortable: true },
                { label: '隐患类别', name: 'hidtypename', index: 'hidtypename', align: 'center', sortable: true },
                { label: '隐患级别', name: 'hidrankname', index: 'hidrankname', align: 'center', sortable: true },
                { label: '检查类型', name: 'checktypename', index: 'checktypename', align: 'center', sortable: true },
                { label: '排查单位', name: 'checkdepartname', index: 'checkdepartname', align: 'center', sortable: true },
                { label: '事故隐患描述(简题)', name: 'hiddescribe', index: 'hiddescribe', align: 'center', sortable: false },


           {
               label: '操作', name: 'Operfiles', align: 'center', sortable: true, width: 50,
               formatter: function (cellvalue, options, rowObject) {
                   var html = "<a href=javascript:viewdata('" + rowObject.id + "','" + rowObject.addtype + "','" + rowObject.workstream + "')  title='查看'><i class='fa fa-eye'></i></a>";
                   return html;
               }
           });
        var queryJson = {
            code: "",
            isOrg: "",
            action: "Ledger",
            checkId: "",
            checkType: "",
            StartTime: "", //创建开始时间
            EndTime: "",//创建结束时间
            HidRank: "", //隐患级别
            ChangeStatus: "", //隐患状态
            WorkStream: "", //流程状态
            SaftyCheckType: "", //检查类型
            HidType: "", //隐患类型
            HidDescribe: "", //事故隐患描述(简题)
            HidPoint: "",
            IsExposureState: "", // $("input[name='IsExposureState']:checked").val()  //是否曝光
            qWorkstream: "",
            RelevanceId: keyValue,  //关联程序
            RelevanceType: relevanceType
        };
        GetGrid("../../HiddenTroubleManage/HTBaseInfo/GetListJson?queryJson=" + JSON.stringify(queryJson), arrYH, "desc", "id", false, false, $(window).height() - 170, 40, queryJson)

    }


    //查看视图
    function viewdata(obj, atype, workstream) {
        var rqUrl = "";
        var title = "";

        //未整改隐患的查看页面
        if (workstream == "隐患登记") {
            if (atype == "0") {
                title = "查看隐患";
                rqUrl = '/HiddenTroubleManage/HTBaseInfo/Form?keyValue=' + obj + '&actiontype=view';
            }
            else  //已整改的查看页面
            {
                title = "已整改隐患查看";
                rqUrl = '/HiddenTroubleManage/HTBaseInfo/NewForm?keyValue=' + obj + '&actiontype=view';
            }
        }
        else if (workstream == "隐患评估") {
            title = "查看隐患";
            rqUrl = '/HiddenTroubleManage/HTApproval/Form?keyValue=' + obj + '&actiontype=view';
        }
        else if (workstream == "隐患整改") {
            title = "查看隐患";
            rqUrl = '/HiddenTroubleManage/HTChangeInfo/Form?keyValue=' + obj + '&actiontype=view';
        }
        else if (workstream == "隐患验收") {
            title = "查看隐患";
            rqUrl = '/HiddenTroubleManage/HTAcceptInfo/Form?keyValue=' + obj + '&actiontype=view';
        }
        else if (workstream == "整改效果评估" || workstream == "整改结束") {
            title = "查看隐患";
            rqUrl = '/HiddenTroubleManage/HTEstimate/Form?keyValue=' + obj + '&actiontype=view';
        }
        else {
            title = "查看违章";
            rqUrl = '/HiddenTroubleManage/HTBaseInfo/Form?keyValue=' + obj + '&actiontype=view';
        }

        dialogOpen({
            id: 'HidForm',
            title: title,
            url: rqUrl,
            width: ($(top.window).width() - 100) + "px",
            height: ($(top.window).height() - 100) + "px",
            btn: null
        });
    }
</script>

<div class="titlePanel">
    @*<div class="title-search">
            <table>
                <tr>
                    <td>查询条件</td>
                    <td style="padding-left: 10px;">
                        <div class="ui-filter" style="width: 200px;">
                            <div class="ui-filter-text">
                                <input id="see" type="hidden" />
                                请选择过滤条件
                            </div>
                            <div class="ui-filter-list" style="width: 350px;">
                                <table class="form" id="filter-form" style="margin-left:-20%">
                                    <tr>
                                        <td style="float: right; ">时间范围：</td>
                                        <td class="formValue">
                                            <div style="float: left; ">
                                                <input id="TimeStart" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
                                            </div>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="float:right; "></td>
                                        <td class="formValue">
                                            <div style="float: left;">
                                                <input id="TimeEnd" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="float: right; ">清单名称：</td>
                                        <td class="formValue">
                                            <input id="txtDangerSourceName" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 180px;" />
                                        </td>
                                    </tr>
                                </table>
                                <div class="ui-filter-list-bottom">
                                    <a id="btn_Search" class="btn btn-primary">&nbsp;查&nbsp;&nbsp;询</a>

                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>*@



    <div class="toolbar">

        <div class="btn-group">
            <a class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>刷新</a>
        </div>

    </div>
</div>
<div class="gridPanel">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>
