@{
    ViewBag.Title = "区域管理";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/business/Common.js"></script>
<script>
    var keyValue = request('keyValue');
    var parentId = request('parentId');
    var mode = request('mode');
    var areaId = request('areaId');
    var orgId = request('orgId');
    var areaName = request('areaName');
    var deptCode = request('deptCode');
    var deptName = request('deptName');
    $(function () {
        initControl();
    })
    //初始化控件
    function initControl() {
      
        if (mode==0) {
            $("#tdTitle").html('风险点<font face="宋体">*</font>');
        }
        if (mode == 1) {
            $("#tdTitle").html('操作项目<font face="宋体">*</font>');
        }
        if (mode ==2) {
            $("#tdTitle").html('作业工序<font face="宋体">*</font>');
        }
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../RiskDatabase/DangerSource/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                }
            });
        } else {
            $("#ParentId").val(parentId);
            $("#DataType").val(mode);
            $("#AreaId").val(areaId);
            $("#OrganizeId").val(orgId);
            $("#AreaName").val(areaName);
            $("#DeptCode").val(deptCode);
            $("#DeptName").val(deptName);
        }
     
    }
    //保存表单
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize(keyValue);
        if (mode == 0 && top.Risk != undefined) {
            postData["OtherId"] = top.Risk.planId;
        }
        if (mode == 0 && $.currentIframe().window.planId != undefined) {
            postData["OtherId"] = $.currentIframe().window.planId;
        }
        $.SaveForm({
            url: "../../RiskDatabase/DangerSource/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                if(top.Risk!=null){
                    top.Risk.GetTree();
                }
                else {
                    if(typeof($.currentIframe().GetTree) != "undefined") {
                        $.currentIframe().GetTree();
                    }
                }
                if ($.currentIframe().window!=undefined) {
                    $.currentIframe().window.$("#gridTable").trigger("reloadGrid");
                }
            }
        })
    }
</script>
<div style="margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle" id="tdTitle">名称<font face="宋体">*</font></td>
            <td class="formValue">
                <textarea id="Name" class="form-control" placeholder="请输入名称" isvalid="yes" checkexpession="NotNull" style="height: 50px;"></textarea>
                <input id="ParentId" type="hidden" /><input id="DataType" type="hidden" value="0" />
                <input id="OrganizeId" type="hidden" /><input id="AreaId" type="hidden" /><input id="AreaName" type="hidden" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">管控责任单位<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="DeptName" type="text" class="form-control" placeholder="请选择管控责任单位" isvalid="yes" checkexpession="NotNull" onclick="selectDept('', 1, 2, '选择管控责任单位', this.parentNode, 'DeptName,DeptCode');" />
                <input id="DeptCode" type="hidden" />
            </td>
        </tr>
        <tr>
            <th class="formTitle" valign="top" style="padding-top: 4px;">备注
            </th>
            <td class="formValue">
                <textarea id="Description" class="form-control" style="height: 70px;"></textarea>
            </td>
        </tr>
    </table>
</div>
