@charset "UTF-8";
body,html{
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}
body {
    background: #fff;
    color: #333;
    font-size: 0.72917vw;
    font-family: 'Microsoft YaHei', sans-serif !important;
}
td,
th,
caption {
    font-size: 0.72917vw;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 100%;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
i {
    font-style: normal;
    font-weight: normal;
}
a {
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    text-decoration: none;
}
a:focus,
a:hover {
    text-decoration: none;
}
em {
    font-style: normal;
}
img {
    border: 0;
    vertical-align: middle;
}
img {
    border: none;
}
ol,
ul,
li {
    list-style: none;
}
input,
textarea,
select,
button {
    vertical-align: middle;
    font-size: 0.72917vw;
    font-family: inherit;
    line-height: normal;
    outline: none;
}
button {
    cursor: pointer;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    *zoom: 1;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clear {
    clear: both;
    zoom: 1;
}
*{
   box-sizing: border-box;
}

.header{
    position: relative;
    height: 5.72917vw;
    line-height: 4.6875vw;
}
.header .logo{
    width: auto;
    height: 1.82292vw;
    margin-left: 1.92708vw;
}
.header .header-title{
    position: absolute;
    width: auto;
    height: 4.47917vw;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.header-date{
    position: absolute;
    display: flex;
    top: 0;
    right: 2.60417vw;
    color: #a9aaac;
    font-size: 0.625vw;
}
.header-date p{
    margin-left: 1.04167vw;
}
.header-date .date{
    background: url('../img/date.png') no-repeat left center;
    padding-left: 1.5625vw;
}
.header-date p span{
    padding: 0.15625vw 0.3125vw;
    background: #5c5e5d;
    color: #fff;
    border-radius: 0.10417vw;
    margin-left: 0.20833vw;
}