/* 初始化 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  color: #666;
  font-family: '微软雅黑', sans-serif;
}
td,
th,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
a {
  color: #333;
  text-decoration: none;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
a:hover {
  text-decoration: none !important;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
a:focus,
a:hover {
  text-decoration: none;
}
em {
  font-style: normal;
}
img {
  border: 0;
  vertical-align: middle;
}
img {
  border: none;
}
ol,
ul,
li {
  list-style: none;
}
input,
textarea,
select,
button {
  vertical-align: middle;
  font-size: 14px;
  font-family: inherit;
  line-height: normal;
  outline: none;
}
button {
  cursor: pointer;
}
table {
  border-collapse: collapse;
}
video {
  object-fit: contain;
}
.clearfix::after,.clearfix::before {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  line-height:0;
  visibility: hidden;
}
/* .clearfix {
  *zoom: 1;
} */
.fl {
  float: left;
}
.fr {
  float: right;
}
body{
background-color:#020441;
}
#container{
    width:100%;
}
.content{
    width:1200px;
    max-width:1920px;
    height:800px;
    background:#020441 url("./img/bg.png") no-repeat;
    position: relative;
    cursor: pointer;
    margin:0 auto;
}
.content>div{
    position: absolute;
}

.content>div ul{
    display:none;
}
.content>div:hover>ul{
    display: block;
}
.content .itemul{
    position: absolute;
    top: 0;
    right: -120px;
    width: 120px;
    z-index: 2;
    background-color: pink;
    display: none;
}
.content .index14 .itemul{
    position: absolute;
    top: 135px;
    right: 77px;
    width: 120px;
    z-index: 2;
    background-color: pink;
    display: none;
}
.content .index14:hover .itemul{
    display: block;
}
.content .index15 .itemul{
    position: absolute;
    top: 30px;
    left: 46px;
    width: 120px;
    z-index: 2;
    background-color: pink;
    display: none;
}
.content .index15:hover .itemul{
    display: block;
}
.content>div:nth-child(14) .importAccident{
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.content>div:nth-child(13) .importAccident{
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50%);
}
.content>div:nth-child(18) .importAccident{
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.importAccident{
    width: 10px;
    height: 10px;
    display: block;
    background-color: #f08200;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: 64%;
    transform: translate(-50%, -50%);
    border: 1px solid #fff
}
.index1{
    top: 25px;
    left: 559px;
}
.word-1{
    position: absolute;
    top: 77px;
    left: 35px;
    width:135px;
    color: #000;
    font-size: 16px;
    /* font-weight: bold;    */
    letter-spacing: 5px;
}

.index2{
    top: 140px;
    left: 432px;
}
.word-2{
    position: absolute;
    top: 11px;
    left: 49px;
    width:40px;
    color: #000;
    font-size: 12px;
    /* font-weight: bold;    */
    letter-spacing: 2px;
}
.word-2-2{
    position: absolute;
    top: 95px;
    left: 10px;
    width:60px;
    color: #000;
    font-size: 12px;
    /* font-weight: bold;    */
    letter-spacing: 2px;
}
.index3{
    top: 104px;
    right: 356px;
}
.word-3{
    position: absolute;
    top: 14px;
    left: 19px;
    width:45px;
    color: #000;
    font-size: 14px;
    /* font-weight: bold;    */
    letter-spacing: 2px;
}
.index4{
    top: 244px;
    left: 541px;
}
.word-4{
    position: absolute;
    top: 4px;
    left: 19px;
    width:75px;
    color: #000;
    font-size: 14px;
    /* font-weight: bold;    */
    letter-spacing: 1px;
}
.index5{
    top: 357px;
    left: 660px;
}
.word-5{
    position: absolute;
    top: 7px;
    left: 24px;
    width:39px;
    color: #000;
    font-size: 14px;
    /* font-weight: bold;    */
    letter-spacing: 1px;
}
.index6{
    top: 271px;
    left: 660px;
}
.word-6{
    position: absolute;
    top: 5px;
    left: 24px;
    width:39px;
    color: #000;
    font-size: 14px;
    letter-spacing: 1px;
}
.index7{
    top: 300px;
    left: 357px;
}
.word-7-1{
    position: absolute;
    top: 27px;
    left: 17px;
    width:20px;
    color: #000;
    font-size: 10px;
}
.word-7-1 span:nth-child(1){
    position:absolute;
    top:14px;
    left:0;
}
.word-7-1 span:nth-child(2){
    position:absolute;
    top:28px;
    left:0;
}
.word-7-2{
    position: absolute;
    top: 75px;
    left: 17px;
    width:20px;
    color: #000;
    font-size: 10px;
}
.word-7-2 span:nth-child(1){
    position:absolute;
    top:14px;
    left:0;
}
.word-7-2 span:nth-child(2){
    position:absolute;
    top:28px;
    left:0;
}
.word-7-3{
    position: absolute;
    top: 50px;
    left: 60px;
    width:25px;
    color: #000;
    font-size: 10px;
    letter-spacing: 1px;
}
.word-7-3 span{
  position: absolute;
  left:0;
  top:23px;
}
.word-7-4{
    position: absolute;
    top: 41px;
    left: 93px;
    width:25px;
    color: #000;
    font-size: 12px;
    letter-spacing: 1px;
}
.word-7-5{
    position: absolute;
    top: 15px;
    left: 126px;
    width:20px;
    color: #000;
    font-size: 16px;
    letter-spacing: 1px;
}
.index8{
    top: 280px;
    left: 535px;
}
.word-8-1{
    position: absolute;
    top: 11px;
    left: 9px;
    width:50px;
    color: #000;
    font-size: 12px;
    letter-spacing: 1px;
}
.word-8-2{
    position: absolute;
    top: 60px;
    left: 8px;
    width:30px;
    color: #000;
    font-size: 12px;
    letter-spacing: 1px;
}
.word-8-3{
    position: absolute;
    top: 104px;
    left: 8px;
    width:45px;
    color: #000;
    font-size: 12px;
    letter-spacing: 1px;
}
.word-8-4{
    position: absolute;
    top: 40px;
    left: 80px;
    width:15px;
    color: #000;
    font-size: 14px;
    letter-spacing: 1px;
}
.index9{
    top: 270px;
    right: 429px;
}
.word-9{
    position: absolute;
    top: 25px;
    left: 8px;
    width:15px;
    color: #000;
    font-size: 14px;
    letter-spacing: 1px;
}
.index10{
    top: 270px;
    right: 365px;
}
.word-10{
    position: absolute;
    top: 37px;
    left: 27px;
    width:18px;
    color: #000;
    font-size: 14px;
    letter-spacing: 1px;
}
.index11{
    top: 354px;
    right: 286px;
}
.word-11{
    position: absolute;
    top: 28px;
    left: 10px;
    width:85px;
    color: #000;
    font-size: 16px;
    letter-spacing: 1px;
}
.index12{
    top: 253px;
    right: 287px;
}
.word-12{
    position: absolute;
    top: 38px;
    left: 10px;
    width:85px;
    color: #000;
    font-size: 16px;
    letter-spacing: 1px;
}
.index13{
    top: 206px;
    right: 175px;
}
.word-13-1{
    position: absolute;
    top: 88px;
    left: 22px;
    width:20px;
    color: #000;
    font-size: 16px;
    letter-spacing: 1px;
}
.word-13-2{
    position: absolute;
    top: 88px;
    left: 75px;
    width:20px;
    color: #000;
    font-size: 16px;
    letter-spacing: 1px;
}
.index14{
    top: 468px;
    left: 124px;
}
.word-14-1{
    position: absolute;
    top: 36px;
    left: 55px;
    width:110px;
    color: #000;
    font-size: 16px;
    letter-spacing: 10px;
}
.word-14-2{
    position: absolute;
    top: 206px;
    left: 53px;
    width:15px;
    color: #000;
    font-size: 16px;
    letter-spacing: 1px;
}
.word-14-3{
    position: absolute;
    top: 107px;
    left: 40px;
    width:50px;
    color: #000;
    font-size: 12px;
    letter-spacing: 1px;
}
.word-14-4{
    position: absolute;
    top: 92px;
    left: 215px;
    width:46px;
    color: #000;
    font-size: 12px;
    letter-spacing: 1px;
}
.word-14-5{
    position: absolute;
    top: 90px;
    left: 266px;
    width:48px;
    color: #000;
    font-size: 12px;
    letter-spacing: 1px;
}
.index15{
    top: 422px;
    left: 428px;
}
.word-15-1{
    position: absolute;
    top: 11px;
    left: 76px;
    width:230px;
    color: #000;
    font-size: 12px;
    letter-spacing: 45px;
}
.word-15-2{
    position: absolute;
    top: 1px;
    left: 4px;
    width:43px;
    color: #000;
    font-size: 12px;
    letter-spacing: 1px;
    z-index:1;
}
.index16{
    top: 460px;
    left: 434px;
}
.word-16{
    position: absolute;
    top: 44px;
    left: 4px;
    width:22px;
    color: #000;
    font-size: 12px;
    letter-spacing: 1px;
}
.index17{
    top: 525px;
    left: 198px;
}
.word-17{
    position: absolute;
    top: 3px;
    left: 50px;
    width:240px;
    color: #000;
    font-size: 14px;
    letter-spacing: 20px;
}
.index18{
    top: 496px;
    left: 493px;
}
.word-18-1{
    position: absolute;
    top: 4px;
    left: 16px;
    width:23px;
    color: #000;
    font-size: 14px;
    letter-spacing: 1px;
}
.word-18-2{
    position: absolute;
    top: 0;
    left: 48px;
    width:25px;
    color: #000;
    font-size:12px;
}
.word-18-2 span:nth-of-type(1) {
    position: absolute;
    top:14px;
    left:0

}
.word-18-2 span:nth-of-type(2) {
    position: absolute;
    top:27px;
    left:0

}
.word-18-2 span:nth-of-type(3) {
    position: absolute;
    top:41px;
    left:0

}
.index19{
    top: 500px;
    left: 595px;
}
.word-19{
    position: absolute;
    top: 5px;
    left: 15px;
    width:35px;
    color: #000;
    font-size: 12px;
    letter-spacing: 1px;
}
.index20{
    top: 537px;
    left: 604px;
}
.word-20{
    position: absolute;
    top: 5px;
    left: 1px;
    width:80px;
    color: #000;
    font-size: 12px;
    letter-spacing: 1px;
}
.index21{
    top: 485px;
    right: 319px;
}
.word-21{
    position: absolute;
    top: 20px;
    left: 17px;
    width:160px;
    color: #000;
    font-size: 16px;
    letter-spacing: 1px;
}
.index22{
    top: 538px;
    right: 381px;
}
.word-22{
    position: absolute;
    top: 0;
    left: 5px;
    width:20px;
    color: #000;
    font-size: 12px;
    letter-spacing: 1px;
}
.word-22 span:nth-of-type(1) {
    position: absolute;
    top:15px;
    left:0

}
.word-22 span:nth-of-type(2) {
    position: absolute;
    top:28px;
    left:0

}
.word-22 span:nth-of-type(3) {
    position: absolute;
    top:42px;
    left:0

}
.index23{
    top: 538px;
    right: 359px;
}
.word-23{
    position: absolute;
    top: 0px;
    left: 5px;
    width:20px;
    color: #000;
    font-size: 12px;
    letter-spacing: 1px;
}
.word-23 span:nth-of-type(1) {
    position: absolute;
    top:15px;
    left:0

}
.word-23 span:nth-of-type(2) {
    position: absolute;
    top:28px;
    left:0

}
.word-23 span:nth-of-type(3) {
    position: absolute;
    top:42px;
    left:0

}
.index24{
    top: 536px;
    right: 408px;
}
.word-24{
    position: absolute;
    top: 5px;
    left: 1px;
    width:65px;
    color: #000;
    font-size: 12px;
    letter-spacing: 1px;
}
.index25{
    top: 557px;
    right: 408px;
}
.word-25{
    position: absolute;
    top: 5px;
    left: 9px;
    width:50px;
    color: #000;
    font-size: 12px;
    letter-spacing: 1px;
}
.index26{
    top:432px;
    left:372px;
}
.word-26{
    position: absolute;
    top: 0px;
    left: 3px;
    width:45px;
    color: #000;
    font-size: 12px;

}
.index27{
    top:496px;
    left:355px;
}
.word-27{
    position: absolute;
    top: 7px;
    left: 3px;
    width:120px;
    color: #000;
    font-size: 12px;
}

.bottom{
    position:absolute;
    bottom:30px;
    right:120px;
    width:165px;
    height:110px;
    border:2px solid #243776;
    border-radius: 5px;
}
.bottom h2{
    background: #243776;
    width:165px;
    height:22px;
    color:#fff;
    font-size:12px;
    line-height: 22px;
    height:22px;
    text-align: center;
}
.content .bottom  ul{
    width:155px;
    overflow: hidden;
    display: block;
    margin:0 auto;
}
.bottom  ul li{
    float:left;
    height:30px;
    line-height: 35px;
    color:#818181;;
    font-size:12px;
    width:70px;
    
}
.bottom  ul li:nth-child(2n){
    margin-left:14px;
}
.bottom  ul li span{
    display: inline-block;
    width:20px;
    height:10px;
    margin-right:2px;
}
.bottom  ul li:nth-child(1) span{
    background: #d6000f
}
.bottom  ul li:nth-child(2) span{
    background: #f08200
}
.bottom  ul li:nth-child(3) span{
    background: #fff100
}
.bottom  ul li:nth-child(4) span{
    background: #4b8eff
}
.bottom  ul li:nth-child(5) span{
    background: #d6000f;
    border:2px solid #fff;
    width:8px;
    height:8px;
    border-radius: 50%;
    margin-left:6px;
    margin-right:4px;
    margin-bottom:-1px;
}
.bottom  ul li:nth-child(6) span{
    background: #f08200;
    border:2px solid #fff;
    width:8px;
    height:8px;
    border-radius: 50%;
    margin-left:6px;
    margin-right:4px;
    margin-bottom:-1px;

}
