@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}

<script type="text/javascript">
    var keyValue = request("keyValue"); //主键 隐患信息主键
    $(function () {
        if (!!keyValue) {
            $.SetForm({
                url: "../../HiddenTroubleManage/HTApproval/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                    //评估结果
                    if (data.APPROVALRESULT == "1") {
                        $("input[name='APPROVALRESULT']:eq(1)").removeAttr("checked");
                        $("input[name='APPROVALRESULT']:eq(0)").prop("checked", "checked");
                    }
                    else {
                        $("input[name='APPROVALRESULT']:eq(0)").removeAttr("checked");
                        $("input[name='APPROVALRESULT']:eq(1)").prop("checked", "checked");
                    }
                }
            })
        }
    });
</script>

<div class="center-Panel" style="overflow-y: scroll; height: 600px;">
    <div style="margin-top: 5px;"></div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;隐患评估详情</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <div style="margin-right:30px;">
                <table class="form">
                    <tr>
                        <td class="formTitle">评估人</td>
                        <td class="formValue">
                            <input id="APPROVALPERSONNAME" type="text" class="form-control" disabled="disabled" />
                            <input id="APPROVALPERSON" type="hidden" />
                            <input id="APPROVALDEPARTCODE" type="hidden" />
                            <input id="APPROVALDEPARTNAME" type="hidden" />
                            <input id="ID" type="hidden" />
                            <input id="HIDCODE" type="hidden" />
                        </td>
                        <td class="formTitle">评估时间</td>
                        <td class="formValue">
                            <input id="APPROVALDATE" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" disabled="disabled" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">评估结果</td>
                        <td class="formValue" colspan="3">
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="APPROVALRESULT" id="APPROVALRESULT1" value="1" disabled="disabled" checked="checked" />评估通过
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="APPROVALRESULT" id="APPROVALRESULT2" value="0" disabled="disabled" />评估不通过
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">不予评估原因</td>
                        <td class="formValue" colspan="3">
                            <textarea id="APPROVALREASON" class="form-control" disabled="disabled"></textarea>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    body {
        overflow: hidden;
    }
</style>