@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>
<script>
    var keyValue = request("keyValue"); //主键 隐患信息主键

    //提交延期申请
    function AcceptClick() {
        if (!$('#form1').Validform())
        {
            return false;
        }

        if (!!$("#POSTPONEDAYS").val()) {
            var postData = $("#form1").formSerialize(keyValue);
            postData["POSTPONEDAYS"] = $("#POSTPONEDAYS").val();
            postData["POSTPONEREASON"] = $("#POSTPONEREASON").val();
            var url = "../../LllegalManage/LllegalReform/SaveSettingForm?keyValue=" + keyValue;

            $.SaveForm({
                url: url,  //提交延期天数
                param: postData,  //参数
                loading: "正在保存数据...",
                success: function () {
                    $.currentIframe().$("#gridTable").trigger("reloadGrid");
                }
            })
        }
        else
        {
            dialogMsg("延期天数未填写!", 0);
        }
    }
</script>

<div class="center-Panel" style="overflow-y: scroll; ">
    <div class="gridPanel">
        <div style="margin-top: 20px; margin-left:10px;">
            <table class="form">
                <tr>
                    <td class="formTitle">延期天数<span style="color:red;">*</span></td>
                    <td class="formValue" colspan="3">
                        <input id="POSTPONEDAYS" type="text" class="form-control" errormsg="延期天数" isvalid="yes"  checkexpession="PositiveNumNotNullCompare" value="0" eqvalue="730" />
                        <input id="APPSIGN" type="hidden" value="Web" />
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">延期理由<span style="color:red;">*</span></td>
                    <td class="formValue" colspan="3">
                        <textarea id="POSTPONEREASON" class="form-control" style="width: 98%; height: 80px;" errormsg="延期理由" isvalid="yes" checkexpession="LenStr" length="2000"></textarea>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>