@{;
    ViewBag.Title = "设置表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>
<link href="~/content/scripts/plugins/icheck/skins/square/_all.css" type="text/css" rel="stylesheet" />
<script src="~/content/scripts/plugins/icheck/js/icheck.min.js" type="text/javascript"></script>
<script src="~/content/scripts/plugins/icheck/js/custom.min.js" type="text/javascript"></script>
<!--webUploader文件上传组件-->
<link href="~/content/scripts/plugins/webuploader/webuploader.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/webuploader/webuploader-demo.css" rel="stylesheet" />
<script type="text/javascript" src="~/content/scripts/plugins/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/fileupload.js"></script>
<script>

    var reids = request('reids');
    $(function () {
        initControl();
    });
    //初始化控件
    function initControl() {

        //getContentList();

        getdeptList();
    }

    // 取消
    function cancel() {
        dialogClose();
    }

    // 获取检查内容列表
    function getContentList() {
        var queryJson = {

        };
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            autowidth: true,
            height: "410px",
            url: "../../HiddenTroubleManage/Matrixsafecheck/GetContentPageJson",
            postData: { queryJson: JSON.stringify(queryJson) },
            datatype: "json",
            colModel: [
                { label: 'id', name: 'id', hidden: true },
                { label: 'edit', name: 'edit', hidden: true },
                { label: '序号', name: 'code', width: 100, align: 'center' },
                {
                    label: '检查内容', name: 'content', width: 420, align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.edit == "" || rowObject.edit == "0" || cellvalue.indexOf('input')>0) {
                            var html = "";
                            html += '<input type="text" name="checkcontent" isvalid="yes" value="' + (((cellvalue != "undefined") && (cellvalue != "")) ? cellvalue:"") + '" checkexpession="PositiveDouble" class="form-control" />';
                            return html;

                        }else {
                            return (rowObject.content == null ? "" : rowObject.content);

                        }

                    }
                }
            ],
            viewrecords: true,
            rowNum: 100
        });
    }

    // 获取检查部门列表
    function getdeptList() {
        var queryJson = {

        };
        var $gridTable = $('#gridTableApply');
        $gridTable.jqGrid({
            autowidth: true,
            height: "410px",
            url: "../../HiddenTroubleManage/Matrixsafecheck/GetDeptPageJson",
            postData: { queryJson: JSON.stringify(queryJson) },
            datatype: "json",
            colModel: [
                { label: 'id', name: 'id', hidden: true },
                { label: 'edit', name: 'edit', hidden: true },
                { label: 'dept', name: 'dept', hidden: true },
                { label: 'deptcode', name: 'deptcode', hidden: true },
                { label: '序号', name: 'code', width: 100, align: 'center' },
                { label: '检查部门', name: 'deptname', width: 420, align: 'center' },

            ],
            viewrecords: true,
            multiselect: true,
            rowNum: 100,
            gridComplete: function () {
                var arrl = reids.split(',');
                $(arrl).each(function (i, val) {
                    $('#gridTableApply').jqGrid("setSelection", val, false);
                });

            }
        });
    }

    //选择标准并返回
    function AcceptClick(options) {
        var arr = $("#gridTableApply").getGridParam('selarrrow');
        var ids = "";
        var codes = "";
        var contents = "";
        var nums = "";
        var depts = "";
        $(arr).each(function (i, val) {
            if (val != "") {
                var rowD = $("#gridTableApply").jqGrid('getRowData', val);
                if (ids == "") {
                    ids = rowD.id;
                    codes = rowD.deptcode;
                    contents = rowD.deptname;
                    nums = rowD.code;
                    depts = rowD.dept;
                } else {
                    ids += "," + rowD.id;
                    codes += "," + rowD.deptcode;
                    contents += "," + rowD.deptname;
                    nums += "," + rowD.code;
                    depts += "," + rowD.dept;
                }
            }

        });
 
        if (options != undefined) {
            if (options.callBack) {
                options.callBack(ids, codes, contents, nums, depts);
            }

        }
        dialogClose();
    }



</script>
<div style="margin: 10px;">
    <input type="hidden" id="Deptname" value="" />
    <input type="hidden" id="DeptCode" value="" />
    <input type="hidden" id="DeptId" value="" />
    <div class="panel panel-default" style="margin-top:47px;">
        <div class="panel-body" style="height:270px;" id="gridTableApplydiv">
            <table id="gridTableApply"></table>
            <div id="gridPagerApply"></div>
        </div>
    </div>
</div>


