@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script type="text/javascript" src="~/content/scripts/business/common.js"></script>
<script src="~/Content/scripts/business/Grid.js"></script>
<style>
    .form .formTitle {
        width: 110px;
    }
</style>
<script>
    var keyValue = request('keyValue');//旁站监督id
    $(function () {
        initControl();
        GetGrid();
    });


    function initControl() {


    }

    //加载签到信息和检查内容
    function GetGrid() {
        var selectedRowIndex = 0
        var $gridTable = $('#gridTable');
        var queryJson = {
            superviseid: keyValue
        }
        $gridTable.jqGrid({
            url: "../../HighRiskWork/TaskSign/GetTaskSignTable",
            postData: { queryJson: JSON.stringify(queryJson) }, page: 1,
            datatype: "json",
            height: 200,
            autowidth: true,
            colModel: [
                { label: '主键', name: 'id', hidden: true },
              {
                  label: '签到时间', name: 'supervisetime', width: 300, align: 'center', sortable: false, formatter: function (cellvalue, options, rowObject) {
                      return formatDate(cellvalue, 'yyyy-MM-dd hh:mm')
                  }
              },
            { label: '签到状态', name: 'supervisestate', width: 150, align: 'center', sortable: false },
            {
                label: '图片', name: 'signfile', width: 100, align: 'center', sortable: false,
                formatter: function (cellvalue, options, rowObject) {
                    return loadFile(cellvalue);
                }
            }],
            viewrecords: true,
            rowNum: 10,
            rowList: [10, 15, 20],
            pager: "#gridPager",
            sortname: 'supervisetime',
            sortorder: 'asc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);
            }
        });

        var queryJson = {
            superviseid: keyValue
        }
        $gridTable = $('#gridTable1');
        $gridTable.jqGrid({
            url: "../../HighRiskWork/TaskRelevanceProject/GetPageListJson",
            postData: { queryJson: JSON.stringify(queryJson) }, page: 1,
            datatype: "json",
            height: 250,
            autowidth: true,
            colModel: [
                { label: '主键', name: 'checkprojectid', hidden: true },
                {
                    label: '检查项目', name: 'checkcontent', width: 350, align: 'center', sortable: false, formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.parentid == "-1") {
                            var process = "<div style='background-color:gray;color:#fff;'>" + cellvalue + "</div>";
                        }
                        else {
                            var process = cellvalue;
                        }
                        return process;
                    }
                },
                 {
                     label: '结果', name: 'iscorrespond', width: 80, align: 'center', sortable: false,
                     formatter: function (cellvalue, options, rowObject) {
                         if (rowObject.parentid == "-1") {
                             if (cellvalue == "1")//不适宜
                             {
                                 return "<div style='background-color:gray;color:#fff;'>不适宜</div>";
                             }
                             else {
                                 return "<div style='background-color:gray;color:#fff;'></div>";
                             }

                         }
                         else {
                             if (cellvalue == "1")
                                 cellvalue = "是";
                             else if (cellvalue == "2")
                                 cellvalue = "否";
                             else if (cellvalue == "3")
                                 cellvalue = "无此项";
                             else
                                 cellvalue = "";
                             return cellvalue;
                         }
                     }
                 },
                {
                    label: '备注', name: 'remark', width: 150, align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.parentid == "-1") {
                            return "<div style='background-color:gray;color:#fff;'>  </div>";
                        }
                        else {
                            return cellvalue == null ? "" : cellvalue;
                        }
                    }
                },
                {
                    label: '图片', name: 'cfiles', width: 80, align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.parentid == "-1") {
                            return "<div style='background-color:gray;color:#fff;'>  </div>";
                        }
                        else {
                            return loadFile(cellvalue);
                        }
                    }
                }, {
                    label: '隐患数量', name: 'hidcount', width: 60, align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.parentid == "-1") {
                            return "<div style='background-color:gray;color:#fff;'>  </div>";
                        }
                        else {
                            if (cellvalue != "0") {
                                return "<a href=javascript:DialogOpenShow('/HiddenTroubleManage/HTBaseInfo/AppIndex?relevanceType=" + rowObject.checkprojectid + "&relevanceId=" + keyValue + "','隐患','',''," + true + ") style='color:blue; text-decoration:underline'  title='隐患'>" + cellvalue + "</a>";
                            }
                            else return cellvalue;
                        }
                    }
                }
                ,
                 {
                     label: '违章数量', name: 'breakcount', width: 60, align: 'center', sortable: false,
                     formatter: function (cellvalue, options, rowObject) {
                         if (rowObject.parentid == "-1") {
                             return "<div style='background-color:gray;color:#fff;'>  </div>";
                         }
                         else {
                             if (cellvalue != "0") {
                                 return "<a href=javascript:DialogOpenShow('/LllegalManage/LllegalRegister/AppIndex?resevertwo=" + rowObject.checkprojectid + "&reseverone=" + keyValue + "','违章','',''," + true + ") style='color:blue; text-decoration:underline'  title='违章'>" + cellvalue + "</a>";
                             }
                             else return cellvalue;
                         }
                     }
                 }

            ],
            viewrecords: true,
            rowNum: 10,
            rowList: [10, 15, 20],
            pager: "#gridPager1",
            sortname: 'checknumber',
            sortorder: 'asc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);
            }
        });
    }

    //加载附件
    function loadFile(cellvalue) {
        $.ajax({
            url: '../../SaftProductTargetManage/SafeProductDutyBook/GetFiles',
            data: { fileId: cellvalue },
            dataType: "JSON",
            async: false,
            success: function (result) {
                if (result == "" || result == undefined || result == null) {
                    cellvalue = "&nbsp;&nbsp;无";
                }
                else {
                    cellvalue = "<a href=javascript:funcAction('" + cellvalue + "') style='color:blue; text-decoration:underline'  title='查看文件'>有</a>";
                }
            }
        });
        return cellvalue;
    }


    //文件显示
    function funcAction(a) {
        var idx = dialogOpen({
            id: "FileForm",
            title: "查看文件",
            url: '/HighRiskWork/StaffInfo/ShowFiles?filesid=' + a,
            width: "500px",
            height: "320px",
            btns: 1,
            btn: ["关闭"],
            callBack: function (iframeId) {
                top.layer.close(idx);
            }
        });
    }
</script>
<div style="margin: 0px; margin-top: 40px; background-color: white;">
    <div class="panel panel-default" id="WorkInfo">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;监督签到</strong>
        </div>
        <div class="panel-body">
            <table id="gridTable"></table>
            <div id="gridPager"></div>
        </div>
    </div>
    <div class="panel panel-default" id="TeamInfo">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;检查记录</strong>
        </div>
        <div class="panel-body">
            <table id="gridTable1"></table>
            <div id="gridPager1"></div>
        </div>
    </div>
