@{
    ViewBag.Title = "列表页面";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<!--第三方统计图start-->
<script src="~/Content/Scripts/plugins/highcharts/highcharts.js"></script>
<script src="~/Content/Scripts/plugins/highcharts/highcharts-more.js"></script>
<script src="~/Content/Scripts/plugins/highcharts/modules/exporting.js"></script>
<link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
<script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>

<style type="text/css">
    /*$ {
        demo .css;
    }

    .css1 {
        width: 50px;
        font-weight: bold;
    }

    .css2 {
        width: 100px;
    }*/

    .tdtime {
        width: 80px;
        padding-left: 10px;
    }

    .tdname {
        width: 75px;
        display: none;
        font-weight: bold;
        padding-left: 10px;
    }
    .tdin {
        width: 155px;
        padding-left: 10px;
    }
</style>
<script src="~/Content/scripts/business/Common.js"></script>
<!--第三方统计图end-->
<script>
    var state = 1;
    $(function () {
        InitialPage();
        Ini();
        GetGrid();
        //DeptGetGrid();
        //Image();
        //YearGetGrid();
    });
    //初始化页面
    function InitialPage() {
        $('#desktop').height(1000);
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#desktop').height(1000);
            }, 800);
            e.stopPropagation();
        });
    }
    //初始化控件
    function Ini() {
        $("#Year").ComboBox({
            url: top.contentPath + "/OccupationalHealthManage/Statistics/GetYearCmbList",
            id: "itemValue",
            text: "itemName",
            height: '100px',
        });
        $("#Year").attr('data-value', "5");
        $("#Year").attr('data-text', "近5年");
        $("#Year").find('.ui-select-text').html("近5年").css('color', '#000');
        $("#Year").find('ul').find('[data-value=5]').addClass('liactive')
        @*$("#Dept").ComboBoxTree({
            url: top.contentPath + "/BaseManage/Department/GetTreeCodeJson?organizeCode=" + '@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeCode',
            description: "==请选择==",
            height: '100px',
            allowSearch: true
        });*@
    }

    //加载表格
    function GetGrid() {
        display();
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            autoheight: true,
            height: $(window).height() - 240.5,
            width: $(window).width() - 100,
            url: "../../OccupationalHealthManage/Statistics/GetSickType",
            postData: { "year": $("#Time").val() },
            datatype: "json",
            colModel: [
                { label: '职业病种类', name: 'Sicktype', align: 'center', sortable: false },
                { label: '职业病值', name: 'SickValue', hidden: true, align: 'center', sortable: false },
                {
                    label: '数量', name: 'SickUserNum', align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        html = "<a href=javascript:show('" + rowObject.SickValue + "','SickType'," + $("#Time").val() + ") style='color:blue; text-decoration:underline;padding-left:0px;'  title='查看'>" + cellvalue + "</a>";
                        return html;

                    }
                },
                { label: '比例', name: 'Proportion', align: 'center', sortable: false },
            ],
            rowNum: 100,
            rownumbers: true
            , gridComplete: function () {

            }
        });
        ////查询事件
        //$("#btn_Search").click(function () {
        //    $gridTable.jqGrid('setGridParam', {
        //        postData: { "year": $("#InspectionTime").val() }
        //    }).trigger('reloadGrid');
        //});
        ////查询回车
        //$('#txt_Keyword').bind('keypress', function (event) {
        //    if (event.keyCode == "13") {
        //        $('#btn_Search').trigger("click");
        //    }
        //});
    }
    //根据部门来统计
    function DeptGetGrid() {
        display();
        var selectedRowIndex = 0;
        var $gridTable = $('#DeptgridTable');
        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() - 240.5,
            width: $(window).width() - 100,
            url: "../../OccupationalHealthManage/Statistics/GetDeptSick",
            postData: { "year": $("#Time").val() },
            datatype: "json",
            colModel: [
                 { label: '单位/部门', name: 'Sicktype', align: 'center', sortable: false },
                { label: '部门Code', name: 'SickValue', hidden: true, align: 'center', sortable: false },
                {
                    label: '数量', name: 'SickUserNum', align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        html = "<a href=javascript:show('" + rowObject.SickValue + "','DeptCode'," + $("#Time").val() + ") style='color:blue; text-decoration:underline;padding-left:0px;' title='查看'>" + cellvalue + "</a>";
                        return html;

                    }
                },
                { label: '比例', name: 'Proportion', align: 'center', sortable: false },

            ],
            rowNum: 100,
            rownumbers: true
            , gridComplete: function () {

            }
        });
        ////查询事件
        //$("#Search").click(function () {
        //    $gridTable.jqGrid('setGridParam', {
        //        postData: { "year": $("#Time").val() }
        //    }).trigger('reloadGrid');
        //});
        ////查询回车
        //$('#Librarytxt_Keyword').bind('keypress', function (event) {
        //    if (event.keyCode == "13") {
        //        $('#Librarybtn_Search').trigger("click");
        //    }
        //});
    }

    //统计图
    function Image() {
        $.get("GetYearImageSick", { "year": $("#Year").attr('data-value'), dept: $("#DeptCode").val() }, function (data) {

            var json = eval("(" + data + ")");
            $('#dbcontainer').highcharts({
                chart: {
                    type: 'column',
                    borderWidth: 1
                },
                title: {
                    text: '职业病年度变化趋势'
                },
                xAxis: {
                    categories: json.y
                },
                yAxis: {
                    //alternateGridColor: '#FDFFD5',
                    //gridLineColor: '#ff0000',
                    lineWidth: 1,
                    minorGridLineWidth: 0,
                    minorTickInterval: 'auto',
                    minorTickWidth: 1,
                    gridLineDashStyle: 'longdash',
                    allowDecimals: false,
                    min: 0,
                    title: {
                        text: '数量'
                    },
                    labels: {
                        formatter: function () {
                            return this.value + '个'
                        }
                    },
                    stackLabels: {
                        enabled: true,
                        style: {
                            fontWeight: 'bold',
                            color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                        }
                    }

                },
                exporting: {
                    enabled: false
                },
                credits: {
                    enabled: false
                },
                tooltip: {
                    crosshairs: true,
                    shared: true
                },
                plotOptions: {
                    column: {
                        stacking: 'normal',
                        dataLabels: {
                            enabled: true,
                            color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                            style: {
                                textShadow: '0 0 3px black'
                            }
                        }
                    }
                },
                series: json.x
                , lang: { noData: "暂无数据可显示!" },
                noData: {
                    position: {
                        align: 'center',
                        verticalAlign: 'middle'
                    },
                    attr: {
                        'stroke-width': 1
                    },
                    style: {
                        fontWeight: 'bold',
                        fontSize: '15px',
                        color: '#202030'
                    }
                }
            });
        });
    }

    function display() {
        if (state == 3) {
            $("#tdtime").attr("style", "display:none");
            $("#tdDeptname").removeAttr("style");
            $("#tdDept").removeAttr("style");
            $("#tdYearname").removeAttr("style");
            $("#tdYear").removeAttr("style");
            $("#tdtime").removeClass("tdtime");
            $("#tdDeptname").addClass("tdname");
            $("#tdYearname").addClass("tdname");
            $("#tdDept").addClass("tdin");
            $("#tdYear").addClass("tdin");

        } else {
            $("#tdDeptname").attr("style", "display:none");
            $("#tdDept").attr("style", "display:none");
            $("#tdYearname").attr("style", "display:none");
            $("#tdYear").attr("style", "display:none");
            $("#tdtime").addClass("tdtime");
            $("#tdtime").removeAttr("style");
            $("#tdDeptname").removeClass("tdname");
            $("#tdYearname").removeClass("tdname");
            $("#tdDept").removeClass("tdin");
            $("#tdYear").removeClass("tdin");
        }
    }

    //根据年份来统计
    function YearGetGrid() {
        display();
        var selectedRowIndex = 0;
        var $gridTable = $('#YeargridTable');
        $gridTable.jqGrid({
            autowidth: true,
            width: $(window).width() - 100,
            height:330,
            url: "../../OccupationalHealthManage/Statistics/GetYearSick",
            postData: { "year": 5, "dept": "" },
            datatype: "json",
            colModel: [
                 { label: '年份', name: 'Sicktype', align: 'center', sortable: false },
                {
                    label: '职业病人数量', name: 'SickUserNum', align: 'center', sortable: false
                }


            ],
            rowNum: 100,
            rownumbers: true
            , gridComplete: function () {

            }
        });
        ////查询事件
        //$("#YearSearch").click(function () {
        //    Image();
        //    $gridTable.jqGrid('setGridParam', {
        //        postData: { "year": $("#Year").attr('data-value'), "dept": $("#Dept").attr('data-value') }
        //    }).trigger('reloadGrid');
        //});
        ////查询回车
        //$('#Yeartxt_Keyword').bind('keypress', function (event) {
        //    if (event.keyCode == "13") {
        //        $('#Yearbtn_Search').trigger("click");
        //    }
        //});
    }

    //查看
    function show(id, type, year) {
        var keyValue = id;
        var dlg = dialogOpen({
            id: "Form",
            title: '查看人员档案',
            url: '/OccupationalHealthManage/StaffList/Index?SickType=' + keyValue + '&year=' + year + '&type=' + type,
            width: "1400px",
            height: ($(top.window).height() - 300) + "px",
            btn: ["关闭"],
            callBack: function (iframeId) {
                top.layer.close(dlg);
            }
        });
    }

    function query() {
        if (state == 1) {
            //$("#btntj").trigger("click");
            $("#gridTable").jqGrid('setGridParam', {
                postData: { "year": $("#Time").val() }
            }).trigger('reloadGrid');
        }
        if (state == 2) {

            //$("#btnqs").trigger("click");
            $("#DeptgridTable").jqGrid('setGridParam', {
                postData: { "year": $("#Time").val() }
            }).trigger('reloadGrid');
        }
        if (state == 3) {
            Image();
            // $("#btndb").trigger("click");
            $("#YeargridTable").jqGrid('setGridParam', {
                postData: { "year": $("#Year").attr('data-value'), "dept": $("#DeptCode").val() }
            }).trigger('reloadGrid');
        }

    }

    //重置查询
    function reset() {
        var year = '@DateTime.Now.Year';
        $("#DeptCode").val(""); $("#DeptName").val(""); $("#Time").val(year);
        $("#Year").attr('data-value', "5");
        $("#Year").attr('data-text', "近5年");
        $("#Year").find('.ui-select-text').html("近5年").css('color', '#000');
        $("#Year").find('ul').find('[data-value=5]').addClass('liactive')
        query();
        
    }

</script>


<div class="border" id="desktop" style="background: #fff; overflow-y: auto; overflow-x: hidden;">
    <div style="margin-top: 10px;">
        <div class="row">
            <table style="width: 100%;">
                <tr>
                    <td id="tdtime">
                        <div style=" width: 70px;">
                            <input id="Time" type="text" class="form-control input-wdatepicker" value="@DateTime.Now.ToString("yyyy")" onfocus="WdatePicker({ dateFmt: 'yyyy' })" readonly="readonly" />
                        </div>
                    </td>
                    <td id="tdDeptname" align="right">
                        单位部门
                    </td>
                    <td id="tdDept" >
                        <input id="DeptName" type="text" style="width: 140px;" class="form-control" placeholder="请选择单位" readonly onclick="selectDept('', 0, 0, '选择单位', window.document.body, 'DeptName,DeptCode,,,,IsOrg');" />
                        <input id="DeptCode" type="hidden" /><input id="IsOrg" type="hidden" />
                        @*<div id="Dept" type="select" class="ui-select"></div>*@
                    </td>
                    <td id="tdYearname" align="right">
                        比较年份
                    </td>
                    <td id="tdYear">
                        <div id="Year" type="select" class="ui-select"></div>
                    </td>
                    <td align="right" style="width: 70px;">
                        <a id="btn_Search" class="btn btn-primary" onclick="query()"><i class="fa fa-search"></i>&nbsp;查询</a>
                    </td>
                    <td align="right" style="width: 70px;">
                        <a id="btn_Reset" class="btn btn-primary" onclick="reset()"><i class="fa fa-undo"></i>&nbsp;重置</a>
                    </td>
                    <td align="right">
                        <div class="toolbar">
                            <div class="btn-group">
                                <button id="btntj" class="btn btn-primary btn10" type="button" onclick="state = 1; $('#divZl').show(); $('#divDept').hide(); $('#divYear').hide(); $('.btn10').removeClass('btn-primary'); $('.btn10').addClass('btn-default'); $(this).addClass('btn-primary'); DeptGetGrid();"><i class="fa fa-bar-chart"></i>&nbsp;职业病种类统计</button>
                                <button id="btnqs" class="btn btn-default btn10" type="button" onclick="state = 2; $('#divDept').show(); $('#divZl').hide(); $('#divYear').hide(); $('.btn10').removeClass('btn-primary'); $('.btn10').addClass('btn-default'); $(this).addClass('btn-primary'); DeptGetGrid();"><i class="fa fa-bar-chart"></i>&nbsp;职业病部门分布统计</button>
                                <button id="btndb" class="btn btn-default btn10" type="button" onclick="state = 3; $('#divYear').show(); $('#divZl').hide(); $('#divDept').hide(); $('.btn10').removeClass('btn-primary'); $('.btn10').addClass('btn-default'); $(this).addClass('btn-primary'); YearGetGrid();Image()"><i class="fa fa fa-bar-chart"></i>&nbsp;职业病年度变化趋势</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div id="divZl">
        <div class="row" id="grid1">
            <div class="panel panel-default" style="margin: 10px;">
                <div class="panel-heading">
                    <strong>&nbsp;&nbsp;统计数据</strong>
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" title="展开/收起"></a>
                    </span>
                </div>
                <div class="panel-body">
                    <table id="gridTable"></table>
                </div>
            </div>
        </div>
    </div>

    <div id="divDept" style="display: none;">
        <div class="row" id="grid2">
            <div class="panel panel-default" style="margin: 10px;">
                <div class="panel-heading">
                    <strong>&nbsp;&nbsp;统计数据</strong>
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" title="展开/收起"></a>
                    </span>
                </div>
                <div class="panel-body">
                    <table id="DeptgridTable"></table>
                </div>
            </div>
        </div>
    </div>


    <div id="divYear" style="display: none;">
        <div class="panel panel-default" style="margin-top:10px;">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;统计图表</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <div id="dbcontainer" style="margin:10px;">
                    <center style="margin-top:50px;">正在加载数据……</center>
                </div>
            </div>
        </div>
        <div class="row" id="grid3">
            <div class="panel panel-default" style="margin:10px;">
                <div class="panel-heading">
                    <strong>&nbsp;&nbsp;统计数据</strong>
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" title="展开/收起"></a>
                    </span>
                </div>
                <div class="panel-body">
                    <table id="YeargridTable"></table>
                </div>
            </div>
        </div>
    </div>


</div>

