<?xml version="1.0" encoding="utf-8"?>
<unity>
  <typeAliases>
    <typeAlias alias="IDatabase" type="BSFramework.Data.IDatabase,BSFramework.Data" />
    <typeAlias alias="EFDatabase" type="BSFramework.Data.EF.Database,BSFramework.Data.EF" />
    <typeAlias alias="IDbContext" type="BSFramework.Data.EF.IDbContext,BSFramework.Data.EF" />
    <typeAlias alias="MySql" type="BSFramework.Data.EF.MySqlDbContext,BSFramework.Data.EF" />
    <typeAlias alias="SqlServer" type="BSFramework.Data.EF.SqlServerDbContext,BSFramework.Data.EF" />
    <typeAlias alias="Oracle" type="BSFramework.Data.EF.OracleDbContext,BSFramework.Data.EF" />
  </typeAliases>
  <containers>
    <container name="DBcontainer">
      <type type="IDatabase" mapTo="EFDatabase" ></type >
      <type type="IDbContext" mapTo="Oracle" ></type>
      <type type="IDbContext" mapTo="SqlServer" name="SqlServer"></type>
      <type type="IDbContext" mapTo="MySql" name="MySql"></type>
    </container>
  </containers>
</unity>