@{
    ViewBag.Title = "Example";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/jquery/jquery-1.10.2.min.js"></script>
<style>
    table, table tr th, table tr td {
        border: 1px solid #000000;
    }

    table {
        width: 580px;
        min-height: 25px;
        line-height: 25px;
        text-align: center;
        border-collapse: collapse;
    }
</style>
<script>
    var url = request('url');
    var topurl = request('top');
    $(function () {
        $.post(topurl + "/OccupationalHealthManage/Hazarddetection/GetTableHtml", { keyValue: url }, function (data) {
            document.getElementById("tablepanel").innerHTML = data;
        });
    });
</script>
<div style="margin: 10px;">
    <div id="tablepanel">
    </div>
</div>
