@using ERCHTMS.Busines.OccupationalHealthManage
@{
    ViewBag.Title = "新增人员";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script>
    var _parentId = "";
    var _isOrg = "";
    var _deptId = "";
    var deptCode = request("deptCode");
    var mode = request("mode");
    var pType = request("pType");
    var pMode = request("pMode");
    var datatype = request("dataType");
    var score = "";
    var issj = true;
    var softName = "@BSFramework.Util.Config.GetValue("SoftName").ToLower()";
    $(function () {
        InitialPage();
        GetTree();
        GetGrid();
    });
    //初始化页面
    function InitialPage() {
        //if (softName=="xss") {
        //    $(".enterinfo").show();
        //} else {
        //    $(".enterinfo").hide();
        //}
        //resize重设(表格、树形)宽高
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $("#gridTable").setGridHeight($(window).height() - 210);
                $("#itemTree").setTreeHeight($(window).height()-55);
            }, 200);
            e.stopPropagation();
        });
        if (!!pType) {
            $("#userType").val("安全管理人员");
        }
    }

    //加载组织机构树
    function GetTree() {
        var json = JSON.stringify(
            {
                SelectMode: 0,
                Mode: 400
            }
        );
        var item = {
            height: $(window).height() - 53,
            url: "../../BaseManage/Department/GetDepartTreeJson?json=" + json,
            onnodeclick: function (item) {
                _parentId = item.value;
                _isOrg = item.Sort;
                _deptId = item.id;
                $('#btn_Search').trigger("click");
            }
        };
        //初始化
        $("#itemTree").treeview(item);
        if ($("#itemTree").html().length == 0) {
            $(".ui-layout-west").hide();
            $('.ui-layout-center').css({ "padding-left": "5px" });
            $('#gridTable').setGridWidth(($('.gridPanel').width()));
            $("#gridTable").setGridHeight($(window).height() - 200);
        } else {
            $('#layout').layout({
                applyDemoStyles: false,
                onresize: function () {
                    $(window).resize()
                }
            });
        }
    }

    //加载表格
    function GetGrid() {

        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            url: "../../PersonManage/Person/GetPageListJson",
            postData: { mode: mode, queryJson: JSON.stringify({ notPresence: 1, userType: pType, userStatus:$("#userStatus").val(),departmentCode: deptCode, pMode: pMode, datatype: datatype }) },
            datatype: "json",
            height: $(window).width()>1333?$(window).height() - 210:$(window).height()-310,
            autowidth: true,
            colModel: [
                { label: '主键', name: 'userid', hidden: true },
                { label: 'username', name: 'username', hidden: true }, { label: '', name: 'isblack', hidden: true },
                { label: '是否在职', name: 'ispresence', hidden: true },
                { label: '', name: 'deptcode', hidden: true },
                { label: '', name: 'organizecode', hidden: true },

                {
                    label: '姓名', name: 'realname', index: 'RealName', width: 100, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = "";
                        if (rowObject.iscl == 1) {
                            html= "<div class='blacklist' title='超龄人员'>" + cellvalue + "</div>";
                        }
                        else {

                            //已经过期
                            if ($gridTable.getGridParam('userData').certInfo[rowObject.userid] == "1") {
                                html= "<div class='cert1' title='证件已经过期'>" + cellvalue + "</div>";
                            } else if ($gridTable.getGridParam('userData').certInfo[rowObject.userid] == "2") {  //即将过期
                                html= "<div class='cert2' title='证件即将过期'>" + cellvalue + "</div>";
                            } else {
                                if ((rowObject.nature == "厂级" || rowObject.nature == "部门" || rowObject.nature == "专业" || rowObject.nature == "班组") && rowObject.isepiboly == "是") {
                                    html = "<div style='background-color:green;color:white;' title='外派人员'>" + cellvalue + "</div>";
                                } else {
                                    html = cellvalue;
                                }
                            }
                        }
                        if (rowObject.isleave == 0) {
                            html += "&nbsp;&nbsp;<span style='color:white;background-color:green;padding-left:3px;padding-right:3px; border-radius:5px;'>在厂</span>";
                        }

                        return html;

                    }
                },
                {
                    label: '性别', name: 'gender', index: 'Gender', width: 45, align: 'center'
                },
                {
                    label: '身份证号', name: 'identifyid', width: 140, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue != null) {
                            var value = cellvalue.toString();
                            var sta = value.substring(0, 4);
                            var end = value.substring(value.length - 4, value.length);
                            return sta + "**********" + end;
                        } else {
                            return "";
                        }
                        return cellvalue;


                    }
                },
                { label: '手机', name: 'mobile', index: 'Mobile', width: 90, align: 'center' },
                {
                    label: '单位', name: 'organizename', index: 'OrganizeName', width: 120, align: 'center'

                },
                {
                    label: '部门', name: 'deptname', index: 'DeptName', width: 180, align: 'center'

                },
                { label: '岗位', name: 'dutyname', index: 'DutyName', width: 120, align: 'center' },
                {
                    label: '人员类型', name: 'usertype', index: 'RoleName', width: 100, align: 'center'
                    //,formatter: function (cellvalue, options, rowObject) {
                    //    if (cellvalue!=null) {
                    //        switch (cellvalue) {
                    //            case "01":
                    //                return "公司领导";
                    //                break;
                    //            case "02":
                    //                return "安全管理人员";
                    //                break;
                    //            case "03":
                    //                return "一般管理人员";
                    //                break;
                    //            default:
                    //                return "一般工作人员";
                    //                break;
                    //        }
                    //    } else {
                    //        return "";
                    //    }

                    //}
                },
                { label: '是否转岗', name: 'istransfer', index: 'istransfer', width: 90, align: 'center', hidden: true },

                {
                    label: "本年度安全积分", name: "score", index: "score", align: "center",
                    formatter: function (cellvalue, options, rowObject) {
                        var score = 0;
                        if (cellvalue != null && cellvalue != undefined) {
                            score = parseInt($gridTable.getGridParam('userData').score) + cellvalue;
                        } else {
                            score = $gridTable.getGridParam('userData').score;
                        }
                        return "<a onclick=\"details(this,'" + rowObject.userid + "')\" style='text-decoration:underline;cursor:pointer;' title='查看详细'>" + score + "</a>";
                    }

                }
            ],
            viewrecords: true,
            rowNum: 30,
            multiboxonly: true,
            multiselect: true,
            pager: "#gridPager",
            sortname: 'deptsort asc,sortcode asc,userid',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: true,
            gridview: true,
            userdata: "userdata",
            onSelectRow: function () {
                selectedRowIndex = $("#" + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                if (issj) {
                    $gridTable.hideCol("score");
                    $gridTable.setGridWidth($(".center-Panel").width());
                }
                $("#" + this.id).setSelection(selectedRowIndex, false);
                var rows = $gridTable.jqGrid("getRowData");//获取当前页记录行数据
                //查询用户对该模块的数据操作权限
                $.post(top.contentPath + "/AuthorizeManage/PermissionJob/GetDataAuthority", { __RequestVerificationToken: $("input[name='__RequestVerificationToken']").val() }, function (data) {
                    var jsonArr = eval("(" + data + ")");
                    $(rows).each(function (i, item) {
                        var uId = item.userid;
                        var dCode = item.deptcode; //获取记录创建人的所属部门Code
                        var oCode = item.organizecode;  //获取记录创建人的所属机构Code
                        var btns = $("td[aria-describedby='gridTable_Oper']").eq(i).children();//获取操作列中定义的操作按钮
                        var html = "";
                        //如果操作列中没有定义任何按钮则根据系统权限设置自动绑定操作按钮
                        if (btns.length == 0) {
                            $(jsonArr).each(function (j, item1) {
                                var authType = parseInt(item1.authorizetype);//获取数据操作权限范围.1：本人,2：本部门，3：本部门及下属部门，4：本机构，5：全部

                                var str = rows[i].istransfer;
                                if (str == "1") {//如果是转出岗则标黄
                                    $('#' + (i + 1)).find("td").css("background-color", "#ffd800");
                                    html = "<a href=\"javascript:showTransfer('" + uId + "')\" title=\"查看转岗\"><i class=\"fa fa-eye\"></i></a>";
                                    //如果标黄则跳过按钮设置
                                    return true;
                                } else {
                                    //$('#' + (i + 1)).find("td").css("background-color", "#ffffff");
                                }


                                switch (authType) {
                                    //本用户
                                case 1:
                                    if (top.currUserId == uId) {
                                        html += "<a href=\"javascript:" + item1.actionname + "('" + uId + "')\" title=\"" + item1.fullname + "\"><i class=\"" + item1.faimage + "\"></i></a>";
                                    }
                                    break;
                                //本部门
                                case 2:
                                    if (top.currUserDeptCode == dCode) {
                                        html += "<a href=\"javascript:" + item1.actionname + "('" + uId + "')\" title=\"" + item1.fullname + "\"><i class=\"" + item1.faimage + "\"></i></a>";
                                    }
                                    break;
                                //本子部门
                                case 3:
                                    if (dCode.indexOf(top.currUserDeptCode) >= 0) {
                                        html += "<a href=\"javascript:" + item1.actionname + "('" + uId + "')\" title=\"" + item1.fullname + "\"><i class=\"" + item1.faimage + "\"></i></a>";
                                    }
                                    break;
                                //本机构
                                case 4:
                                    if (oCode == top.currUserOrgCode) {
                                        html += "<a href=\"javascript:" + item1.actionname + "('" + uId + "')\" title=\"" + item1.fullname + "\"><i class=\"" + item1.faimage + "\"></i></a>";
                                    }
                                    break;
                                case 5:
                                    html += "<a href=\"javascript:" + item1.actionname + "('" + uId + "')\" title=\"" + item1.fullname + "\"><i class=\"" + item1.faimage + "\"></i></a>";
                                    break;
                                }


                            });

                            $("td[aria-describedby='gridTable_Oper']").eq(i).html(html);
                        } else {

                            html = "";
                            //遍历用户对该模块的数据操作权限
                            $(jsonArr).each(function (j, item1) {
                                html += item1.encode + ",";
                                var authType = item1.authorizetype;//获取数据操作权限范围.1：本人,2：本部门，3：本部门及下属部门，4：本机构，5：全部
                                switch (authType) {
                                    //本用户
                                case 1:
                                    if (top.currUserId != uId) {
                                        $(btns).find("a[name='" + item1.itemcode + "']").remove();
                                    }
                                    break;
                                //本部门
                                case 2:
                                    if (top.currUserDeptCode != dCode) {
                                        $(btns).find("a[name='" + item1.itemcode + "']").remove();
                                    }
                                    break;
                                //本子部门
                                case 3:
                                    if (dCode.indexOf(top.currUserDeptCode) < 0) {
                                        $(btns).find("a[name='" + item1.itemcode + "']").remove();
                                    }
                                    break;
                                //本机构
                                case 4:
                                    if (oCode != top.currUserOrgCode) {
                                        $(btns).find("a[name='" + item1.itemcode + "']").remove();
                                    }
                                    break;
                                }
                            });

                            $(btns).each(function (j, dom) {
                                if (html.indexOf(dom.attr("name")) < 0) {
                                    $(dom).remove();
                                }
                            });
                        }

                    });
                });

            }
        });
        //$gridTable.authorizeColModel()
        //查询条件
        $("#queryCondition .dropdown-menu li").click(function () {
            var text = $(this).find('a').html();
            var value = $(this).find('a').attr('data-value');
            $("#queryCondition .dropdown-text").html(text).attr('data-value', value)
        });
        //$("#userType .dropdown-menu li").click(function () {
        //    var text = $(this).find('a').html();
        //    var value = $(this).find('a').attr('data-value');
        //    $("#userType .dropdown-text").html(text).attr('data-value', value)
        //});
        //查询事件
        $("#btn_Search").click(function () {
            var queryJson = {
                condition: $("#queryCondition").find('.dropdown-text').attr('data-value'),
                keyword: $.trim($("#txt_Keyword").val()),
                code: _parentId,
                isOrg: _isOrg,
                notPresence: 1,
                userType: $("#userType").val(),
                userStatus:$("#userStatus").val()
            }
            $gridTable.jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify(queryJson) }, page: 1
            }).trigger('reloadGrid');
        });
        $("#btn_SearchAll").click(function () {
            $("#txt_Keyword").val("");
            $("#userType").val("");
            $("#userStatus").val("");
            var queryJson = {
                condition: '',
                keyword: '',
                code: _parentId,
                isOrg: _isOrg,
                notPresence: 1
            }
            $gridTable.jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify(queryJson) }, page: 1
            }).trigger('reloadGrid');
        });
        //查询回车
        $('#txt_Keyword').bind('keypress', function (event) {
            if (event.keyCode == "13") {
                $('#btn_Search').trigger("click");
            }
        });
    }

    function showTransfer(id) {
        var keyValue = id;
        if (checkedRow(keyValue)) {
            var dlg = dialogOpen({
                id: "Form",
                title: '查看转岗信息',
                url: '/PersonManage/Transfer/Transfering?action=show&keyValue=' + keyValue,
                width: "400px",
                height: "400px",
                btn: ["关闭"],
                callBack: function (iframeId) {
                    // top.document.getElementById(iframeId).contentWindow.AcceptClick();
                    top.layer.close(dlg);
                }
            });
        }
    }

    //新增
    function add() {
        dialogOpen({
            id: "Form",
            title: '添加用户',
            url: '/PersonManage/Person/Form',
            width: ($(top.window).width() - 150) + "px",
            height: ($(top.window).height() - 50) + "px",
            //btn: null,
            callBack: function (iframeId) {
                top.document.getElementById(iframeId).contentWindow.AcceptClick();
            }
        });
    }
    function details(obj, userId) {
        $("#gridTable").resetSelection();
        $("#gridTable").setSelection($(obj).parent().parent().attr("id"), false);
        var dlg = dialogOpen({
            id: "Score",
            title: '查看人员积分明细',
            url: '/PersonManage/UserScore/Details',
            width: ($(top.window).width() - 150) + "px",
            height: ($(top.window).height() - 100) + "px",
            btn: ["关闭"],
            callBack: function (iframeId) {
                top.layer.close(dlg);
            }
        });
    }
    //查看
    function show(id) {
        var keyValue = id;
        if (checkedRow(keyValue)) {
            var dlg = dialogOpen({
                id: "Form",
                title: '查看人员档案',
                url: '/PersonManage/Person/Form?action=show&keyValue=' + keyValue,
                width: ($(top.window).width() - 100) + "px",
                height: ($(top.window).height() - 100) + "px",
                btn: ["导出", "关闭"],
                callBack: function (iframeId) {
                    var score = $($("#gridTable").jqGridRowValue("score")).text();
                    window.location.href = "../PersonManage/Person/ExportUserInfo?userId=" + keyValue + "&score=" + score;
                    //top.layer.close(dlg);
                }
            });
        }
    }
    //编辑
    function edit(id) {
        var keyValue = id;
        if (checkedRow(keyValue)) {
            top.layer.open({
                type: 2,
                id: "Form",
                title: '修改人员档案',
                content: top.contentPath + '/PersonManage/Person/Form?keyValue=' + keyValue,
                area: [($(top.window).width() - 100) + "px", ($(top.window).height() - 100) + "px"],
                btn: ["保存", "导出", "关闭"],
                yes: function (iframeId, idx) {
                    top.Form.AcceptClick();
                }
                , complate: function () {

                }
                , btn2: function (idx) {
                    var score = $($("#gridTable").jqGridRowValue("score")).text();
                    window.location.href = "../PersonManage/Person/ExportUserInfo?userId=" + keyValue + "&score=" + score;
                    return false;
                }
                , btn3: function (idx) {
                    return true;
                }
            });
        }
    }
    //删除
    function del(id) {
        var keyValue = id;
        if (keyValue) {
            $.RemoveForm({
                url: "../../PersonManage/Person/RemoveForm",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#gridTable").trigger("reloadGrid");
                }
            })
        } else {
            dialogMsg('请选择需要删除的记录！', 0);
        }
    }
    //重置密码
    function revisepassword() {
        var keyValue = $("#gridTable").jqGridRowValue("userid");
        var Account = $("#gridTable").jqGridRowValue("account");
        var RealName = $("#gridTable").jqGridRowValue("realname");
        if (checkedRow(keyValue)) {
            dialogOpen({
                id: "RevisePassword",
                title: '重置密码',
                url: '/PersonManage/Person/RevisePassword?keyValue=' + keyValue + "&Account=" + escape(Account) + '&RealName=' + encodeURIComponent(RealName),
                width: "500px",
                height: "260px",
                callBack: function (iframeId) {
                    top.document.getElementById(iframeId).contentWindow.AcceptClick();
                }
            });
        }
    }
    //导出
    function exportData() {

        var queryJson = {
            condition: $("#queryCondition").find('.dropdown-text').attr('data-value'),
            keyword: $.trim($("#txt_Keyword").val()),
            code: _parentId,
            isOrg: _isOrg,
            notPresence: 1,
            userType: $("#userType").val()
        }
        window.location.href = "../../PersonManage/Person/ExportUserList?condition=&queryJson=" + JSON.stringify(queryJson);
    }

    //导入
    var idx;
    var isImport = false;
    function importData() {
        //  top.layer.open({
        //      id: "Import",
        //      type: 2,
        //      title: "导入",
        //      fix: false,
        //      area: ["500px", "450px"],
        //      content: '../PersonManage/Person/Import',
        //      btn: ["确认", "关闭"]
        // , yes: function (idx1) {
        //     top.document.getElementById("Import").contentWindow.AcceptClick();
        // }
        // , cancel: function (idx) {
        //     if (isImport) {
        //         isImport = false;
        //         $("#gridTable").jqGrid('setGridParam', {
        //             postData: { keyWord: "" }
        //         }).trigger('reloadGrid');
        //     }
        // }
        //, btn2: function (idx) {
        //    if (isImport) {
        //        isImport = false;
        //        $("#gridTable").jqGrid('setGridParam', {
        //            postData: { keyWord: "" }
        //        }).trigger('reloadGrid');
        //    }
        //}
        //  });

        idx = dialogOpen({
            id: "Import",
            title: '导入人员',
            url: '/PersonManage/Person/Import',
            width: "500px",
            height: "450px",
            btn: ["确认", "关闭"],
            callBack: function (iframeId) {
                top.document.getElementById(iframeId).contentWindow.AcceptClick();
            },
            cancel: function (index) {

                if (isImport) {
                    isImport = false;
                    $("#gridTable").jqGrid('setGridParam', {
                        postData: { keyWord: "" }
                    }).trigger('reloadGrid');
                }

            }
        });
    }
    //加入黑名单
    function black() {
        var ids = $("#gridTable").jqGridRowValue("userid");
        if (ids.length == 0) {
            dialogMsg("请选择至少一条记录！", 0);
            return false;
        } else {
            idx = dialogOpen({
                id: "BlackForm",
                title: '加入黑名单',
                url: '/PersonManage/Blacklist/Form',
                width: "600px",
                height: "400px",
                callBack: function (iframeId) {
                    top.document.getElementById(iframeId).contentWindow.AcceptClick();
                }
            });
        }
    }
    function Transfer() {
        var dlg = dialogConfirm("您确认要进行转岗操作吗？为避免在处理的数据异常，建议通知被转岗人员事先处理完系统的待办事项后再进行转岗操作！",
            function (isSure) {
                if (isSure) {
                    top.layer.close(dlg);
                    var rowids = $("#gridTable").jqGridRowValue("userid");
                    var istransfer = $("#gridTable").jqGridRowValue("istransfer");
                    var ids = rowids.split(',');
                    if (ids.length == 0) {
                        dialogMsg("请选择一条记录！", 0);
                        return false;
                    } else if (ids.length > 1) {
                        dialogMsg("只能选择一条记录进行转岗！", 0);
                        return false;
                    } else {
                        if (istransfer[0] == "1") {
                            dialogMsg("该人员正在转岗中！", 0);
                            return false;
                        }
                        if (ids[0] == "") {
                            dialogMsg("请选择一条记录！", 0);
                            return false;
                        }
                        idx = dialogOpen({
                            id: "TransferForm",
                            title: '转岗',
                            url: '/PersonManage/Transfer/Form',
                            width: "600px",
                            height: "400px",
                            callBack: function (iframeId) {
                                top.document.getElementById(iframeId).contentWindow.AcceptClick();
                            }
                        });
                    }
                }
            });
    }
    //人员离厂
    function leave() {
        var ids = $("#gridTable").jqGridRowValue("userid");
        var istransfer = $("#gridTable").jqGridRowValue("istransfer");
        if (ids.length == 0) {
            dialogMsg("请选择至少一条记录！", 0);
            return false;
        } else {
            for (var i = 0; i < istransfer.length; i++) {
                if (istransfer[i] == "1") {
                    dialogMsg("该人员正在转岗中！", 0);
                    return false;
                }
            }
            idx = dialogOpen({
                id: "LeaveForm",
                title: '人员离厂',
                url: '/PersonManage/Person/Leave',
                width: "600px",
                height: "400px",
                callBack: function (iframeId) {
                    top.document.getElementById(iframeId).contentWindow.AcceptClick();
                }
            });
        }
    }
    //生成二维码
    function builderImg() {
        var ids = $("#gridTable").jqGridRowValue("userid");
        if (ids.length == 0) {
            dialogMsg("请选择至少一条记录！", 0);
            return false;
        } else {
            idx = dialogOpen({
                id: "Builder",
                title: '生成二维码',
                url: '/PersonManage/Person/BuilderImage',
                width: "800px",
                height: ($(window).height() - 80) + "px",
                btn: ["导出", "关闭"],
                callBack: function (iframeId) {
                    top.document.getElementById(iframeId).contentWindow.AcceptClick();
                }
            });
        }
    }
    //积分考核
    function setScore() {
        var ids = $("#gridTable").jqGridRowValue("userid");
        if (ids.length == 0) {
            dialogMsg("请选择一条记录！", 0);
            return false;
        } else {
            idx = dialogOpen({
                id: "ScoreForm",
                title: "积分考核",
                url: '/PersonManage/UserScore/Form',
                width: "1000px",
                height: "550px",
                callBack: function (iframeId) {
                    top.document.getElementById(iframeId).contentWindow.AcceptClick();
                }
            });
        }
    }
</script>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-west">
        <div class="west-Panel">
            <div class="panel-Title">
                <div class="col-md-10">
                    组织机构
                </div>
                <div class="col-md-2 text-right" style="padding-right:8px;">
                    <i class="fa fa-arrow-left" onclick="setBar(this)" style="cursor:pointer;" title="展开/收起"></i>
                </div>
            </div>
            <div id="itemTree"></div>
        </div>
    </div>
    <div class="ui-layout-center">
        <div class="center-Panel">
            <div class="panel-Title">人员列表</div>
            <div class="titlePanel">
                <div class="title-search">
                    <table>
                        <tr>
                            <td>
                                <div id="queryCondition" class="btn-group">
                                    <a class="btn btn-default dropdown-text" data-toggle="dropdown" aria-expanded="false" data-value="RealName">姓名</a>
                                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a data-value="RealName">姓名</a></li>
                                        <li><a data-value="Mobile">手机</a></li>
                                        <li><a data-value="identifyid">身份证号</a></li>
                                    </ul>
                                </div>
                            </td>
                            <td style="padding-left: 2px;">
                                <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入关键字" style="width: 100px;" />
                            </td>
                            <td>人员类型</td>
                            <td style="padding-left: 2px;">

                                <select id="userType" class="form-control">
                                    <option value="">全部</option>
                                    <option value="公司领导">公司领导</option>
                                    <option value="部门负责人">部门负责人</option>
                                    <option value="安全管理人员">安全管理人员</option>
                                    <option value="监理人员">监理人员</option>
                                    <option value="专业负责人">专业负责人</option>
                                    <option value="一般管理人员">一般管理人员</option>
                                    <option value="班组负责人">班组负责人</option>
                                    <option value="普通员工">普通员工</option>
                                    <option value="项目负责人">项目负责人</option>
                                    <option value="现场负责人">现场负责人</option>
                                    <option value="一般作业人员">一般作业人员</option>
                                </select>
                            </td>
                            <td>状态</td>
                            <td style="padding-left: 2px;">

                                <select id="userStatus" class="form-control">
                                    <option value="">全部</option>
                                    <option value="01">超龄</option>
                                </select>
                            </td>
                            <td style="padding-left: 2px;">
                                <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;查询</a>
                                <a id="btn_SearchAll" class="btn btn-primary"><i class="fa fa-search-plus"></i>&nbsp;全部</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="gridPanel">
                <table id="gridTable"></table>
                <div id="gridPager"></div>
            </div>

        </div>
    </div>








