@{
    ViewBag.Title = "岗位管理";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>
<script>
    var keyValue = request('keyValue');
    var organizeId = request('organizeId');
    $(function () {
        initControl();
    })
    //初始化控件
    function initControl() {
        //所在公司
        $("#OrganizeId").ComboBoxTree({
            url: "../../BaseManage/Organize/GetTreeJson?mode=1",
            description: "==请选择==",
            height: "200px"
        })
            //.bind("change", function () {
            //ClearValue();
            //var value = $(this).attr('data-value');
            ////加载部门
            //$("#DepartName").ComboBoxTree({
            //    url: top.contentPath + "/BaseManage/Department/GetTreeJson?organizeId=" + value,
            //    description: "==请选择==",
            //    allowSearch: true
            //});
        //});
        //$("#DepartName").ComboBoxTree({
        //    description: "==请选择==",
        //    height: "200px",
        //    allowSearch: true
        //})
        //层级
        $("#Nature").ComboBox({
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            param: { EnCode: "DepartmentNature" },
            id: "ItemValue",
            text: "ItemName",
            description: "",
            height: "200px"
        });
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../BaseManage/Role/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                    //$("#OrganizeId").trigger("change");
                }
            });
        }
        $("#Nature-option").find("li").each(function (j, dom) {
            if (IsAdmin() == false) {
                if ($(dom).text() == "集团" || $(dom).text() == "省级") {
                    $(dom).remove();
                }
            }
        });
    }
    function ClearValue() {
        //清空角色
        $("#RoleNames").attr('data-value', '').attr('data-text', '');
        $("#RoleIds").val("");
    }
    //保存表单
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize(keyValue);
  
        $.SaveForm({
            url: "../../BaseManage/Post/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }
    function selRole(obj) {
        var orgId = !!$('#OrganizeId').attr('data-value') ? $('#OrganizeId').attr('data-value') : "";
        //if (!!$('#OrganizeId').attr('data-value') == true) {
        selectRole($('#RoleIds').val(), orgId, 1, 2, window.document.body, 'RoleNames,RoleIds');
        //} else {
        //    dialogMsg('请先选择所属公司！', 0);
        //}
    }
</script>
<div style="margin-left: 10px; margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <th class="formTitle">所在公司</th>
            <td class="formValue">
                <div id="OrganizeId" type="selectTree" class="ui-select">
                </div>
            </td>
        </tr>
        <tr>
            <td class="formTitle">岗位编号<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="EnCode" type="text" onblur="$.ExistField(this.id,'../../BaseManage/Post/ExistEnCode')" class="form-control" placeholder="请输入编号" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">岗位名称<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="FullName" type="text"  class="form-control" placeholder="请输入名称" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">层级<font face="宋体">*</font></th>
            <td class="formValue">
                <div id="Nature" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
            </td>
        </tr>
        <tr>
            <th class="formTitle">所属部门</th>
            <td class="formValue">
                <input id="DeptId" type="hidden" class="form-control" />
                <input id="DeptName" type="text" class="form-control"  onclick="selectDept($('#OrganizeId').attr('data-value'), 1, 1, '所属部门', document.body, 'DeptName,,DeptId')" />

               @* <div id="DepartName" type="select" class="ui-select" onclick="selectDept(organizeId, 0, 0, '管控责任部门', document.body, 'DeptName,DeptCode')"></div>*@
            </td>
        </tr>
        <tr>
            <td class="formTitle">角色<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="RoleNames" type="text" class="form-control" placeholder="请选择角色" isvalid="yes" checkexpession="NotNull" readonly onclick="selRole(this)" />
                <input id="RoleIds" type="hidden" /><input id="DeptId" type="hidden" />
            </td>
        </tr>
        <tr>
            
            <th class="formTitle" valign="top" style="padding-top: 4px; width:120px;">
                顺序号
            </th>
            <td class="formValue">
                <input id="SortCode" type="text" class="form-control" isvalid="yes" checkexpession="NumOrNull" />
            </td>
        </tr>
        <tr>
            <th class="formTitle" style="height: 37px;"></th>
            <td class="formValue">
                <div class="checkbox">
                    <label>
                        <input id="EnabledMark" type="checkbox" checked="checked" />
                        有效
                    </label>
                    <label>
                        <input id="IsPublic" type="checkbox" />
                        公共
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <th class="formTitle" valign="top" style="padding-top: 4px;">岗位描述
            </th>
            <td class="formValue">
                <textarea id="Description" class="form-control" style="height: 70px;"></textarea>
            </td>
        </tr>
    </table>
</div>