@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>
<!--webUploader文件上传组件-->
<link href="~/content/scripts/plugins/webuploader/webuploader.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/webuploader/webuploader-demo.css" rel="stylesheet" />
<script type="text/javascript" src="~/content/scripts/plugins/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/fileupload.js"></script>
<script src="~/Content/scripts/business/listAgency.js"></script>
<script src="~/Content/scripts/business/detailAgency.js"></script>
<script>
    //=================
    //用户信息
    //=================
    var userId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().UserId"; //当前用户ID
    var userName = "@ERCHTMS.Code.OperatorProvider.Provider.Current().UserName"; //当前用户姓名
    var deptId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptId";//当前用户所属部门Id
    var deptName = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptName";//当前用户所属部门名称
    //页面请求参数
    var keyValue = request('keyValue');
    var actiontype = request('actiontype');
    var workId = request('workid');
    $(function () {
        keyValue = !!keyValue ? keyValue : newGuid();
        //
        //创建代理
        //
        var detailAgc = new detailAgency({
            keyValue: keyValue,
            actiontype: actiontype,
            saveParam: {
                url: '../../NosaManage/Nosaworkresult/SaveForm'
            }
        });
        //
        //绑定页面控件
        //
        detailAgc.bindPageControls();
        //
        //初始化数据
        //
        detailAgc.initialPage([
            {
                url: '../../NosaManage/Nosaworkresult/GetFormJson',
                param: { keyValue: keyValue },
                callBack:setPageData,
                forms: [{ Id: 'form1', dataProName: 'data.data', extData: { WorkId: workId } }]
            }
        ]);
        //
        //保存
        //
        AcceptClick = function () {
            var frm = $("#form1");
            if (!frm.Validform()) {
                return false;
            }
            top.window.$(".layui-layer-btn0").hide();
            $.currentIframe().window.isImport = true;
            Loading(true, "请稍候,正在保存数据……");
            frm.attr({ method: 'post', enctype: 'multipart/form-data', action: 'SaveForm' })
            frm.trigger("submit");
            dialogClose();
        }
    })
    //
    //页面数据设置
    //
    function setPageData(data) {
        if (!!data.data && !!data.data.TemplateName) {
            $("#templateName").html("<a target='_blank' style='color:#0033ee;text-decoration:underline;' href='" + top.contentPath + data.data.TemplatePath.replace("~", "") + "' title=''>" + data.data.TemplateName + "</a>");
        }
    }
</script>
<style type="text/css">
    .form .formTitle {
        width: 120px;
    }
</style>
<div class="center-Panel" style="margin-top:42px;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;基本信息</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <div style="margin-right: 30px;">
                <table class="form">
                    <tr>
                        <td class="formTitle">工作成果<span style="color:red;">*</span></td>
                        <td class="formValue" colspan="3">
                            <input id="Name" name="Name" type="text" class="form-control" errormsg="工作成果不能为空，" isvalid="yes" checkexpession="LenStr" length="200" />
                            <input id="ID" name="ID" type="hidden" />
                            <input id="WorkId" name="WorkId" type="hidden" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">模板文件</td>
                        <td class="formValue" colspan="3">
                            <input type="file" id="file1" name="file1" class="form-control" style="width:420px;display:inline-block;"/>&nbsp;<div style="display:inline-block;" id="templateName"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="form-button" style="top: 40px; text-align: left; padding-left: 20px; position: fixed; bottom: auto; z-index: 1000;">
    <div style="float:left;">
        <a id="btn_Save" class="btn btn-primary"><i class="fa fa-check"></i>&nbsp;保&nbsp;&nbsp;存</a>
        &nbsp; &nbsp;
    </div>
    <div id="HidMessage" style="width:360px; margin-left:20px; float:left;"></div>
</div>
