/* 分布图样式 */
.contentBox{
    box-sizing: border-box;
    padding-left: 0px;
    padding-bottom: 30px;
    background-color: #00034a;
    width:100%;
    height:100%;
}
.svgBox{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.mainbg{
    width: 100%;
    height: 100%;
    border: 0;
}
.content{
    /* width: 100%;
    height: 100%; */
    width: 1680px;
    height: 1343px;
    margin: 0 auto;
    background: url('./../image/bg.png') no-repeat;
    background-color: #00034a;
    /* position: absolute; */
    position: relative;
    color: #000;
    left: 0;
    top: 0;
    
}
@media screen and (max-width:1000px) {
    .content {
        transform: scale(0.5);
        left: -400px;
        top: -330px;
    }
}

.content .instruct_section{
    position: absolute;
    right: 20px;
    bottom: 236px;
}
.content .itemul：hover{
    display: block;
}
.wordInf{
    position: absolute;
    text-align: center;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.instruct_section h3{
    height: 188px;
    line-height: 188px;
    font-size: 34px;
    font-weight: bold;
    color: #333;
}
.warning-section{
    padding-left: 18px;
}
.riskul1{
    float: left;
    width: 272px;
}
.riskul2{
    margin-top: 40px;
    float: left;
    width: 190px;
}
.riskul1 li,.riskul2 li{
    height: 20px;
    line-height: 20px;
    margin-bottom: 18px;
    vertical-align: middle;
}
.riskul1 li span{
    float: left;
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 17px;
}
.riskul2>li:nth-child(1) {
    padding-left: 38px;
    background: url(../images/danger2.png) no-repeat left center;
}
.riskul2>li:nth-child(2) {
    padding-left: 38px;
    background: url(../images/danger1.png) no-repeat left center;
}
.content>div:hover>ul{
    display: block;
}
.content .itemul{
    position: absolute;
    top: 0;
    right: -120px;
    width: 120px;
    z-index: 3;
    background-color: pink;
    display: none;
}
.content .itemuls{
    right: 0;
    left: -120px;
}
.content div{
    position: absolute;
}
.newIcon{
    display: block;
    /* width: 20px;
    height: 20px; */
    width: 15px;
    height: 15px;
    background-size: 100% 100%;
    position: absolute;
    left: 90%;
    top: 85%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.importAccident{
    /* width: 20px;
    height: 20px; */
    width: 15px;
    height: 15px;
    display: block;
    position: absolute;
    top: 85%;
    left: 10%;
    transform: translate(-50%, -50%);
    background: url(../images/danger2.png) no-repeat;
    background-size: contain;
    z-index: 1;
}


/* 弹窗样式 */
.pop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 10;
    display: none;
}
.pop-conetent {
    width: 930px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: #fff;
    border-radius: 8px;
}
.pop-header {
    height: 48px;
    font-size: 18px;
    color: #333;
    padding: 0 20px;
}
.pop-header h3 {
    line-height: 64px;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}
.pop-header span {
    margin-top: 10px;
    cursor: pointer;
}
.import-pop-content .pop-main {
    padding: 0 20px 20px;
}
/* 按钮入口 */
.area-sectionBox{
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    flex-flow: wrap;
    min-height: 80px;
    border-bottom: 1px solid #f2f2f2;
    /* padding-bottom: 16px; */
    padding: 0 20px 16px;
}
.area-sectionBox li{
    width: 140px;
    height: 50px;
    line-height: 50px;
    background-color: #165ed6;
    border-radius: 8px;
    text-align: center;
    margin-right: 37px;
    margin-bottom: 30px;
}
.area-sectionBox li:nth-of-type(5n){
    margin-right: 0;
}
.area-sectionBox li.active{
    background-color: #3e87ff;
}
.area-sectionBox li a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: #fff;
    /* font-weight: bold; */
}
.warning-area{
    padding: 28px 0 0 28px;
}
.warning-area .risk-item{
    display: block;
}
.warning-area .risk1{
    width: 600px;
    float: left;
}
.warning-area .risk2{
    width: 200px;
    float: left;
}
.risk1>li,.risk2>li{
    float: left;
    /* width: 50%; */
    height: 20px;
    font-size: 16px;
    color: #333;
    line-height: 20px;
    margin-bottom: 25px;
}
.risk1>li{
    width: 50%;
}
/* .risk1 .risk-item-last{
  width: 210px;
} */
.risk1>li>span{
    float: left;
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 17px;
}
.redColor{
    background-color: #ff0000;
}
.orangeColor{
    background-color: #f27e18;
}
.yellowColor{
    background-color: #fff100;
}
.blueColor{
    background-color: #1186f2;
}
.risk2>li{
    float: left;
    font-size: 16px;
    padding-left: 38px;
}
.risk2>li:nth-child(3){
    width: 165px;
}
.risk2>li:nth-child(1){
    background: url('../images/danger2.png') no-repeat left center;
}
.risk2>li:nth-child(2){
    background: url('../images/danger.png') no-repeat left center;
}
.risk2>li:nth-child(3){
    background: url('../images/danger2.png') no-repeat left center;
}
.detailnum{
    color: #eb3838;
    cursor: pointer;
}
.detailnum:hover{
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.msgnum{
    margin-left: 15px;
    color: #1c50c4;
    cursor: pointer;
}
.msgnum:hover{
    opacity: 0.6;
    filter: alpha(opacity=60);
}

/* 弹窗表格区域 */
.highrisk-section{
    margin-top: 13px;
}
.highriskTable{
    max-height: 295px;
    display: inline-block;
    overflow-y: auto;
    width: 100%;
    table-layout: fixed;
    border-collapse:separate;
    text-align: center;
    border-spacing: 0;
    position: relative;
    z-index: 11;
}
.highrisktab td{
    padding: 0 3px;
}
.highriskTable tr{
    height: 40px;
    /* line-height: 40px; */
}
.highriskTable tr th{
    font-weight: bold;
}
.highriskTable td{
    /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */
}
.highriskTable tr:first-child th:first-child{
    border-top-left-radius: 8px;
}
.highriskTable tr:first-child th:last-child{
    border-top-right-radius: 8px;
}
.highriskTable tr:last-child td:last-child{
    border-bottom-right-radius: 8px;
}
.highriskTable tr:last-child td:first-child{
    border-bottom-left-radius: 8px;
}
.highriskTable tr:nth-of-type(2n){
    background: #e2e2e2;
}
.highriskTable tr:nth-of-type(2n+1){
    background: #fafafa
}


/* 区域定位 */
.index-1{
    left: 306px;
    top: 310px;
    cursor: pointer;
}
.index-1 .word-1{
    left: 56px;
    top: 51px;
    width: 56px;
    line-height: 16px;
    z-index: 2;
}
.index-1 .word-2{
    left: 0px;
    top: 0px;
    width: 56px;
    line-height: 16px;
    z-index: 2;
}
.index-1 .word-3{
    left: 22px;
    top: 91px;
    width: 56px;
    line-height: 16px;
    z-index: 2;
}
.index-1 .word-4{
    left: 21px;
    top: 167px;
    width: 56px;
    line-height: 16px;
    z-index: 2;
}
.index-1 .itemul{
    top: 100px;
}
.index-2-1{
    left: 494px;
    top: 313px;
    cursor: pointer;
}
.index-2-1 .word-2{
    left: 3px;
    top: 100px;
    z-index: 2;
}
.index-2-1 .itemul{
    top: 40px;
}
.index-2-2{
    left: 588px;
    top: 448px;
}
.index-2-2 .word-2{
    left: 18px;
    top: 30px;
    z-index: 2;
}
.index-2-3{
    left: 494px;
    top: 527px;
}
.index-2-3 .word-2{
    top: 7px;
    left: 90px;
    z-index: 2;
}
.index-3-1{
    left: 769px;
    top: 357px;
}
.index-3-1 .word-2{
    left: 60px;
    top: 82px;
    z-index: 2;
}
.index-3-1 .itemul{
    left: 130px;
}
.index-3-2{
    left: 950px;
    top: 369px;
}
.index-3-2 .word-2{
    width: 50px;
    left: -11px;
    z-index: 2;
}
.index-3-3{
    left: 951px;
    top: 481px;
}
.index-3-4{
    left: 1015px;
    top: 358px;
}
.index-3-4 .word-2{
    left: 55px;
    top: 75px;
    z-index: 2;
}
.index-3-4 .itemul{
    left: 125px;
}
.index-4{
    left: 511px;
    top: 594px;
}
.index-4 .word-2{
    left: 33px;
    top: 15px;
    z-index: 2;
}
.index-4 .word-3{
    left: 150px;
    top: 15px;
    z-index: 2;
}
.index-5{
    left: 511px;
    top: 642px;
}
.index-5 .word-2{
     left: 40px;
     top: 14px;
    z-index: 2;
 }
.index-5 .word-3{
    left: 151px;
    top: 14px;
    z-index: 2;
}
.index-6{
    left: 536px;
    top: 717px;
}
.index-6 .word-2{
    left: -59px;
    top: -1px;
    z-index: 2;
}
.index-6 .word-3{
    left: 11px;
    top: 30px;
    z-index: 2;
}
.index-6 .word-4{
    left: 66px;
    top: -3px;
    width: 39px;
    z-index: 2;
}
.index-6 .word-5{
    left: 131px;
    top: 30px;
    z-index: 2;
}
.index-6 .word-6{
    left: 155px;
    top: -1px;
    width: 100px;
    z-index: 2;
}
.index-7{
    left: 782px;
    top: 757px;
}
.index-7 .word-2{
    left: -4px;
    top: 10px;
    width: 43px;
    z-index: 2;
}
.index-7 .word-3{
    left: 39px;
    top: -13px;
    z-index: 2;
}
.index-7 .word-4{
    left: -29px;
    top: 69px;
    width: 60px;
    z-index: 2;
}
.index-7 .word-5{
    left: 30px;
    top: 66px;
    z-index: 2;
}
.index-8{
    left: 790px;
    top: 577px;
}
.index-8 .word-2{
    left: 15px;
    top: 12px;
    z-index: 2;
}
.index-8 .word-3{
    left: 100px;
    top: 12px;
    z-index: 2;
}
.index-9{
    top: 645px;
    left: 785px;
}
.index-9 .word-2{
    top: 15px;
    width: 100px;
    left: -15px;
    z-index: 2;
}
.index-9 .word-3{
    top: 57px;
    width: 100px;
    left: -15px;
    z-index: 2;
}
.index-10{
    left: 879px;
    top: 658px;
    width: 27px;
}
.index-10 .word-2{
    left: 6px;
    top: 3px;
    z-index: 2;
}
.index-11{
    top: 800px;
    left: 232px;
}
.index-11 .word-3{
    left: 110px;
    height: 400px;
    line-height: 110px;
    position: relative;
    top: -177px;
    font-size: 18px;
    z-index: 2;
}
.index-12{
    top: 1070px;
    left: 220px;
}
.index-12  .word-2{
    top: 45px;
    left: 20px;
    z-index: 2;
}
.index-13{
    top: 1024px;
    left: 274px;
}
.index-13 .word-2{
    left: -3px;
    top: -1px;
    width: 50px;
    z-index: 2;
}
.index-13 .word-3{
    width: 50px;
    top: 19px;
    left: -3px;
    z-index: 2;
}
.index-14{
    left: 985px;
    top: 687px;
}
.index-14 .word-2{
    top: -45px;
    left: 10px;
    z-index: 2;
}
.index-14 .word-3{
    left: 30px;
    top: 70px;
    z-index: 2;
}
.index-14 .itemul{
    top: 50px;
}
.index-15{
    left: 511px;
    top: 689px;
}

.index-16-1{
    top: 709px;
    left: 721px;
}
.index-16-1 .word-2{
    top: 62px;
    width: 50px;
    left: -9px;
    z-index: 2;
}
.index-16-1 .itemul{
    top: 7px;
    left: 18px;
}
.index-16-2{
    top: 808px;
    left: 721px;
}
.index-16-2 .word-2{
    top: 95px;
    width: 50px;
    left: -9px;
    z-index: 2;
}
.index-16-2 .itemul{
    top: 40px;
    left: 18px;
}
.index-16-3{
    top: 925px;
    left: 721px;
}
.index-16-3 .word-2{
    top: 82px;
    width: 50px;
    left: -9px;
    z-index: 2;
}
.index-16-3 .itemul{
    top: 20px;
    left: 20px;
}
.index-16-4{
    top: 1025px;
    left: 721px;
}
.index-16-4 .word-2{
    top: 99px;
    width: 50px;
    left: -8px;
    z-index: 2;
}
.index-16-4 .itemul{
    top:33px;
    left: 20px;
}
.index-16-5{
    top: 1144px;
    left: 729px;
}
.index-16-5 .word-2{
    top: 123px;
    width: 50px;
    left: -8px;
    z-index: 2;
}
.index-16-5 .itemul{
    top: 38px;
    left: 13px;
}
.index-16-1 .word-3{
    width: 50px;
}
.index-17{
    top: 1271px;
    left: 743px;
}
.index-17 .itemul{
    left: 70px;
}
.index-18{
    left: 885px;
    top: 754px;
}
.index-19{
    left: 881px;
    top: 798px;
}
.index-19 .word-2{
    left: 5px;
    top: -2px;
    z-index: 2;
}
.index-19 .word-3{
    left: 20px;
    top: 37px;
    z-index: 2;
}
.index-20{
    left: 1008px;
    top: 874px;
}
.index-20 .word-2{
    z-index: 2;
    left: 10px;
}
.index-21{
    left: 532px;
    top: 900px;
}
.index-21 .word-2{
    top: -30px;
    z-index: 2;
}
.index-21 .word-3{
    top: 10px;
    z-index: 2;
}
.index-21 .word-4{
    top: 10px;
    left: 75px;
    z-index: 2;
}
.index-21 .word-5{
    left: 138px;
    top: 10px;
    z-index: 2;
}
.index-21 .word-6{
    top: 50px;
    left: 65px;
    z-index: 2;
}
.index-22{
    left: 499px;
    top: 988px;
}
.index-22 .word-2{
    top: 17px;
    left: 22px;
    z-index: 2;
}
.index-23{
    left: 675px;
    top: 994px;
}
.index-23 .word-2{
    width: 31px;
    left: 0px;
    z-index: 2;
}
.index-24{
    left: 782px;
    top: 900px;
    z-index: 2;
}

.index-24 .word-3{
    top: 38px;
    left: -10px;
    z-index: 2;
}
.index-24 .word-4{
    top: 15px;
    left: 39px;
    width: 39px;
    z-index: 2;
}
.index-24 .word-5{
    top: 25px;
    left: 80px;
    width: 39px;
    z-index: 2;
}
.index-25{
    left: 750px;
    top: 1000px;
}
.index-25 .word-2{
    left: 50px;
    top: -16px;
    z-index: 2;
}
.index-26{
    left: 930px;
    top: 903px;
}
.index-26 .word-2{
    top: 20px;
    left: 2px;
    z-index: 2;
}
.index-26 .word-3{
    top: 95px;
    left: 5px;
    z-index: 2;
}
.index-27{
    top: 906px;
    left: 996px;
}
.index-27 .word-2{
    left: -10px;
    z-index: 2;
}
.index-27 .word-3{
    left: 46px;
    top: -10px;
    z-index: 2;
}
.index-28{
    top: 952px;
    left: 994px;
}
.index-29{
    top: 943px;
    left: 1041px;
}
.index-29 .word-2{
    left: 5px;
    z-index: 2;
}
.index-29 .word-3{
    left: 5px;
    top: 36px;
    z-index: 2;
}
.index-30{
    top: 1011px;
    left: 1041px;
}
.index-31{
    top: 1060px;
    left: 415px;
}
.index-31 .word-2{
    left: 60px;
    top: 65px;
    z-index: 2;
}
.index-31 .word-3{
    left: 170px;
    top: 65px;
    z-index: 2;
}
.index-31 .itemul{
    left: 230px;
}
.index-32{
    top: 1160px;
    left: 702px;
}
.index-32 .word-2{
    width: 40px;
    left: -10px;
    top: -3px;
    z-index: 2;
}
.index-33{
    left: 757px;
    top: 1060px;
}
.index-33 .word-2{
    width: 50px;
    left: -15px;
    z-index: 2;
}
.index-34{
    top: 1060px;
    left: 793px;
}
.index-34 .word-2{
    left: 170px;
    top: 60px;
    z-index: 2;
}
.index-34 .itemul{
    left: 325px;
}
.index-35{
    left: 679px;
    top: 1273px;
}
.index-36{
    left: 759px;
    top: 1221px;
}
.index-36 .word-2{
    width: 50px;
    left: -15px;
    top: 10px;
    z-index: 2;
}
.index-37{
    left: 825px;
    top: 1254px;
}
.index-37 .word-2{
    width: 100px;
    left: -5px;
    top: 20px;
    z-index: 2;
}
.index-38{
    left: 901px;
    top: 1303px;
}
.index-39{
    left: 1032px;
    top: 1248px;
}
.index-39 .word-2{
    width: 50px;
    left: -5px;
    z-index: 2;
}