@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>
<link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
<script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>
<link href="~/content/scripts/plugins/icheck/skins/square/_all.css" type="text/css" rel="stylesheet" />
<script src="~/content/scripts/plugins/icheck/js/icheck.min.js" type="text/javascript"></script>
<script src="~/content/scripts/plugins/icheck/js/custom.min.js" type="text/javascript"></script>
<script src="~/Content/scripts/plugins/combo-select/jquery.combo.select.js"></script>
<link rel="stylesheet" href="~/Content/scripts/plugins/combo-select/combo.select.css">
<script>
    var keyValue = request('keyValue');
    $(function () {
        initControl();
    });
    //初始化控件
    function initControl() {
        $(".formTitle").css("width", "145px");
        $('select').comboSelect();
        //模块名称
        //var data = [
        //    //{ no: "KGSQ", name: "开工申请" },
        //    { no: "SCLA", name: "三措两案" },
        //    { no: "SBGQJ", name: "设备工器具" },
        //    { no: "TZSBGQJ", name: "特种设备工器具" },
        //    { no: "RYZZ", name: "人员资质审查" },
        //    { no: "DWZZ", name: "单位资质审查" },
        //    { no: "KGSQSC", name: "开工申请审查" },
        //    { no: "RCXKSC", name: "入厂许可审查" },
        //    { no: "NBONETYZY", name: "(内部-一级)通用作业" },
        //    { no: "WBONETYZY", name: "(外部-一级)通用作业" },
        //    { no: "NBTWOTYZY", name: "(内部-二级)通用作业" },
        //    { no: "WBTWOTYZY", name: "(外部-二级)通用作业" },
        //    { no: "NBTHREETYZY", name: "(内部-三级)通用作业" },
        //    { no: "WBTHREETYZY", name: "(外部-三级)通用作业" },
        //    { no: "NBFOURTYZY", name: "(内部-四级)通用作业" },
        //    { no: "WBFOURTYZY", name: "(外部-四级)通用作业" },
        //    { no: "RCKH", name: "日常考核" },
        //    { no: "NBSBBDSQ", name: "(内部)设施变动申请审核" },
        //    { no: "WBSBBDSQ", name: "(外包)设施变动申请审核" },
        //    { no: "NBSBBDYS", name: "(内部)设施变动验收审核" },
        //    { no: "WBSBBDYS", name: "(外包)设施变动验收审核" },
        //    { no: "DSSQNB6MYS", name: "(搭设申请-内部-6米以上)审核" },
        //    { no: "DSSWNB6MYX", name: "(搭设申请-内部-6米以下)审核" },
        //    { no: "DSSQWB6MYS", name: "(搭设申请-外包-6米以上)审核" },
        //    { no: "DSSQWB6MYS", name: "(搭设申请-外包-6米以下)审核" },
        //    { no: "DSYSNB6MYX", name: "(搭设验收-内部-6米以下)审核" },
        //    { no: "DSYSNB6MYS", name: "(搭设验收-内部-6米以上)审核" },
        //    { no: "DSYSWB6MYX", name: "(搭设验收-外包-6米以下)审核" },
        //    { no: "DSYSWB6MYS", name: "(搭设验收-外包-6米以上)审核" },
        //    { no: "DSCCNB6MYS", name: "(搭设拆除-内部-6米以上)审核" },
        //    { no: "DSCCNB6MYX", name: "(搭设拆除-内部-6米以下)审核" },
        //    { no: "DSCCWB6MYS", name: "(搭设拆除-外包-6米以上)审核" },
        //    { no: "DSCCWB6MYX", name: "(搭设拆除-外包-6米以下)审核" },
        //    { no: "QZDZZY30TYX", name: "(起重吊装作业30T以下)审核" },
        //    { no: "QZDZZY30TYS", name: "(起重吊装作业30T以上)审核" },
        //    { no: "QZDZZDZSH", name: "(起重吊装准吊证)审核" },
        //    { no: "SFSSYNBSH", name: "消防水使用-内部审核" },
        //    { no: "SFSSYWBSH", name: "消防水使用-外部审核" },
        //    { no: "NBSGSJSH", name: "事故事件快报-内部审核" }
        //];
        $("#MODULENO").ComboBox({
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            param: { EnCode: "AuditModule" },
            id: "ItemValue",
            text: "ItemName",
            description: "==请选择==",
            height: "200px",
            allowSearch: true
        })
        $("#BelongModule").ComboBox({
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            param: { EnCode: "BelongModule" },
            id: "ItemValue",
            text: "ItemName",
            description: "==请选择==",
            height: "200px",
            allowSearch: true
        })
        //$("#MODULENO").ComboBox({
        //    id: "no",
        //    text: "name",
        //    description: "==请选择==",
        //    height: '400px',
        //    allowSearch: false,
        //    data: data
        //});
        $("input[name='ChooseMajor']").bind('change', function (event) {
            var checkValue = $(this).val();
            if (checkValue == 0) {
                $("#td_title_specialtytype").hide();
                $("#td_value_specialtytype").hide();
                $("#SpecialtyType").removeAttr("isvalid");
            }
            else if (checkValue == 1) {
                $("#td_title_specialtytype").show();
                $("#td_value_specialtytype").show();
                $("#SpecialtyType").attr("isvalid", "yes");
            }
        })
        $("#ChooseMajor1").trigger("change");
        $("input[name='ApplyType']").bind('change',function (event) {
            var checkValue = $(this).val();
            if (checkValue == "0") {
                $("#ApplyType1_row1").show();
                $("#ApplyType1_row2").show();
                $("#ApplyType1_row3").show();
                $("#ApplyType1_row4").show();
                $("#ApplyType1_row5").show();
                $("#ApplyType2_row1").hide();
                $("#ApplyType3_row1").hide();
                $("#ApplyType4_row1").hide();
                $("#ApplyType4_row2").hide();
                $("#CHECKDEPTNAME").attr("isvalid", "yes");
                $("#CHECKROLENAME").attr("isvalid", "yes");
                $("#ScriptCurcontent").removeAttr("isvalid");
                $("#CheckUserName").removeAttr("isvalid");
                $("#ScriptCurcontent").val("");
                $("#CheckUserName").val("");
                $("#CheckUserId").val("");
                $("#CheckUserAccount").val("");
                $("#ChoosePersonTitle").val("");
                $("#ChoosePersonWarn").val("");
            }
            else if (checkValue == "1") {
                $("#ApplyType1_row1").hide();
                $("#ApplyType1_row2").hide();
                $("#ApplyType1_row3").hide();
                $("#ApplyType1_row4").hide();
                $("#ApplyType1_row5").hide();
                $("#ApplyType2_row1").show();
                $("#ApplyType3_row1").hide();
                $("#ApplyType4_row1").hide();
                $("#ApplyType4_row2").hide();
                $("#CHECKDEPTNAME").removeAttr("isvalid");
                $("#CHECKROLENAME").removeAttr("isvalid");
                $("#ScriptCurcontent").attr("isvalid", "yes");
                $("#CHECKDEPTNAME").val("");
                $("#CHECKDEPTCODE").val("");
                $("#CHECKDEPTID").val("");
                $("#CHECKROLENAME").val("");
                $("#CHECKROLEID").val("");
                $("#REMARK").attr("checked", false);
                $("#CheckUserName").val("");
                $("#CheckUserId").val("");
                $("#CheckUserAccount").val("");
                $("#ChoosePersonTitle").val("");
                $("#ChoosePersonWarn").val("");
                $("#ChooseMajor1").trigger("change");
            }
            else if (checkValue == "2") {
                $("#ApplyType1_row1").hide();
                $("#ApplyType1_row2").hide();
                $("#ApplyType1_row3").hide();
                $("#ApplyType1_row4").hide();
                $("#ApplyType1_row5").hide();
                $("#ApplyType2_row1").hide();
                $("#ApplyType3_row1").show();
                $("#ApplyType4_row1").hide();
                $("#ApplyType4_row2").hide();
                $("#CHECKDEPTNAME").removeAttr("isvalid");
                $("#CHECKROLENAME").removeAttr("isvalid");
                $("#ScriptCurcontent").removeAttr("isvalid");
                $("#CheckUserName").attr("isvalid", "yes");
                $("#CHECKDEPTNAME").val("");
                $("#CHECKDEPTCODE").val("");
                $("#CHECKDEPTID").val("");
                $("#CHECKROLENAME").val("");
                $("#CHECKROLEID").val("");
                $("#REMARK").attr("checked", false);
                $("#ScriptCurcontent").val("");
                $("#ChoosePersonTitle").val("");
                $("#ChoosePersonWarn").val("");
                $("#ChooseMajor1").trigger("change");
            }
            else if (checkValue == "3") {
                $("#ApplyType1_row1").hide();
                $("#ApplyType1_row2").hide();
                $("#ApplyType1_row3").hide();
                $("#ApplyType1_row4").hide();
                $("#ApplyType1_row5").hide();
                $("#ApplyType2_row1").hide();
                $("#ApplyType3_row1").hide();
                $("#ApplyType4_row1").show();
                $("#ApplyType4_row2").show();
                $("#CHECKDEPTNAME").removeAttr("isvalid");
                $("#CHECKROLENAME").removeAttr("isvalid");
                $("#SCRIPTCURCONTENT").removeAttr("isvalid");
                $("#CHECKDEPTNAME").removeAttr("isvalid");
                $("#CHECKROLENAME").removeAttr("isvalid");
                $("#ScriptCurcontent").removeAttr("isvalid");
                $("#CheckUserName").removeAttr("isvalid");
                $("#CHECKDEPTNAME").val("");
                $("#CHECKDEPTCODE").val("");
                $("#CHECKDEPTID").val("");
                $("#CHECKROLENAME").val("");
                $("#CHECKROLEID").val("");
                $("#REMARK").attr("checked", false);
                $("#ScriptCurcontent").val("");
                $("#ChooseMajor1").trigger("change");
            }
        });
        $("#ApplyType1").trigger("change");
        
        if (!!keyValue) {
            $.SetForm({
                url: "../../ManyPowerCheck/ManyPowerCheck/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data.data);
                    if (data.data.BelongModuleCode != "" && data.data.BelongModuleCode != null && data.data.BelongModuleCode != undefined) {
                        $("#BelongModule").ComboBoxSetValue(data.data.BelongModuleCode);
                    }
                    if (data.data.ApplyType != "" && data.data.ApplyType != null && data.data.ApplyType != undefined) {
                        if (data.data.ApplyType == "0") {
                            document.getElementById("ApplyType1").checked = true;
                            $("#ApplyType1").trigger("change");
                        } else if (data.data.ApplyType == "1") {
                            document.getElementById("ApplyType2").checked = true;
                            $("#ApplyType2").trigger("change");
                        }
                        else if (data.data.ApplyType == "2") {
                            document.getElementById("ApplyType3").checked = true;
                            $("#ApplyType3").trigger("change");
                        }
                        else if (data.data.ApplyType == "3") {
                            document.getElementById("ApplyType4").checked = true;
                            $("#ApplyType4").trigger("change");
                        }
                        //$("input[name='ApplyType']").trigger("change");
                    }
                    if (data.data.ChooseMajor != "" && data.data.ChooseMajor != null && data.data.ChooseMajor != undefined) {
                        if (data.data.ChooseMajor == "0") {
                            document.getElementById("ChooseMajor1").checked = true;
                            $("#ChooseMajor1").trigger("change");
                        } else if (data.data.ChooseMajor == "1") {
                            document.getElementById("ChooseMajor2").checked = true;
                            $("#ChooseMajor2").trigger("change");
                        }
                    }
                    if (data.data.SpecialtyType != null && data.data.SpecialtyType != undefined) {
                        $("#SpecialtyType").val(data.data.SpecialtyType);

                        $("#SpecialtyType").find("option").each(function (i, dom) {
                            if (("," + data.data.SpecialtyType + ",").indexOf("," + $(dom).val() + ",") >= 0 && dom.value.length > 0) {
                                $(dom).attr("selected", "selected");
                            }
                        });
                    }
                    if (data.data.ChooseDeptRange != "" && data.data.ChooseDeptRange != null && data.data.ChooseDeptRange != undefined) {
                        if (data.data.ChooseDeptRange == "0") {
                            document.getElementById("ChooseDeptRange1").checked = true;
                        } else if (data.data.ChooseDeptRange == "1") {
                            document.getElementById("ChooseDeptRange2").checked = true;
                        }
                        else if (data.data.ChooseDeptRange == "2") {
                            document.getElementById("ChooseDeptRange3").checked = true;
                        }
                    }
                }
            })
        }
        $("#btnUseExecDept").click(function () {
            $("#CHECKDEPTNAME").val("执行部门");
            $("#CHECKDEPTCODE").val("-1");
            $("#CHECKDEPTID").val("-1");
        });
        $("#btnUseSendDept").click(function () {
            $("#CHECKDEPTNAME").val("外包单位");
            $("#CHECKDEPTCODE").val("-2");
            $("#CHECKDEPTID").val("-2");
        });
        $("#btnUseCreateDept").click(function () {
            $("#CHECKDEPTNAME").val("创建部门");
            $("#CHECKDEPTCODE").val("-3");
            $("#CHECKDEPTID").val("-3");
        });
        $("#btnUseCheckMajor").click(function () {
            $("#CHECKDEPTNAME").val("专业部门");
            $("#CHECKDEPTCODE").val("-4");
            $("#CHECKDEPTID").val("-4");
        });
        $("#btnUseNonWorking").click(function () {
            $("#CHECKDEPTNAME").val("值班部门");
            $("#CHECKDEPTCODE").val("-5");
            $("#CHECKDEPTID").val("-5");
        });
        $("#btnUseSupervisor").click(function () {
            $("#CHECKDEPTNAME").val("监理单位");
            $("#CHECKDEPTCODE").val("-6");
            $("#CHECKDEPTID").val("-6");
        })
    }
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize(keyValue);
        postData.MODULENAME = $("#MODULENO").attr("data-text");
        postData.MODULENO = $("#MODULENO").attr("data-value");
        postData.FLOWTYPE = $("#FLOWTYPE").text();
        postData.BelongModule = $("#BelongModule").attr("data-text");
        postData.BelongModuleCode = $("#BelongModule").attr("data-value");
        postData.ApplyType = $("input[name='ApplyType']:checked").val();
        postData.ChooseMajor = $("input[name='ChooseMajor']:checked").val();
        postData.ChooseDeptRange = $("input[name='ChooseDeptRange']:checked").val();
        if ($("button[data-id='SpecialtyType']").attr("title") != undefined) {
            var title = "";
            $("#td_value_specialtytype").find("li[class='selected']").each(function (i, dom) {
                title += $("#SpecialtyType").find("option").eq($(dom).attr("data-original-index")).val() + ",";
            });
            postData["SpecialtyType"] = title.substring(0, title.length - 1);
        }
        if ($.trim($("#ScriptCurcontent").val()).length > 0) {
            postData.ScriptCurcontent = encodeURIComponent($("#ScriptCurcontent").val());
        }
        $.SaveForm({
            url: "../../ManyPowerCheck/ManyPowerCheck/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }
    function selectDepart() {
        selectDept("", 0, 2, '选择单位', window.document.body, 'CHECKDEPTNAME,CHECKDEPTCODE,CHECKDEPTID');
    }
    function selectCheckRole() {
        selectRole($('#CHECKROLEID').val(), '@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeId', 1, 2, window.document.body, 'CHECKROLENAME,CHECKROLEID');
    }
    function setCheckUser() {
        selectUser({ deptId: "", checkMode: 1, mode: 0, winObject: document.body, domId: "CheckUserName,CheckUserAccount,CheckUserId" });
    }
</script>
<div style="margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle">模块名称<span style="color: red;">*</span></td>
            <td class="formValue">
                <div id="MODULENO" type="select" errormsg="模块名称" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
            </td>
            <td class="formTitle">节点名称<span style="color: red;">*</span></td>
            <td class="formValue">
                <input id="FLOWNAME" type="text" errormsg="节点名称" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">顺序号<span style="color: red;">*</span></td>
            <td class="formValue">
                <input id="AUTOID" type="text" errormsg="顺序号" class="form-control" value="1" isvalid="yes" checkexpession="NumNotNull" />
            </td>
            <td class="formTitle">审核序号<span style="color: red;">*</span></td>
            <td class="formValue">
                <input id="SERIALNUM" type="text" errormsg="审核序号" class="form-control" value="1" isvalid="yes" checkexpession="NumNotNull" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">所属模块</td>
            <td class="formValue" colspan="3">
                <div id="BelongModule" type="select" errormsg="所属模块" class="ui-select"></div>
            </td>
        </tr>
        <tr>
            <td class="formTitle">查询审核人应用方式</td>
            <td class="formValue">
                <input type="radio" value="0" checked="checked" id="ApplyType1" name="ApplyType" />&nbsp;<label for="ApplyType">部门加角色判断审核人</label>&nbsp;&nbsp;&nbsp;
                <input type="radio" value="1" id="ApplyType2" name="ApplyType" />&nbsp;<label for="ApplyType">执行脚本获取审核人</label>&nbsp;&nbsp;&nbsp;
                <input type="radio" value="2" id="ApplyType3" name="ApplyType" />&nbsp;<label for="ApplyType">指定审核人</label>
                <input type="radio" value="3" id="ApplyType4" name="ApplyType" />&nbsp;<label for="ApplyType">上一步审核人指定下一步审核人</label>
            </td>
        </tr>
        <tr id="ApplyType1_row1">
            <td class="formTitle">审核部门<span style="color: red;">*</span></td>
            <td class="formValue" colspan="3">
                <div style="display: flex">
                    <input id="CHECKDEPTNAME" type="text" value="执行部门" placeholder="请选择单位" readonly onclick="selectDepart()" errormsg="审核部门" class="form-control" isvalid="yes" checkexpession="NotNull" />
                    <input id="CHECKDEPTCODE" type="hidden" value="-1" />
                    <input id="CHECKDEPTID" type="hidden" value="-1" />
                    <a id="btnUseExecDept" class="btn btn-primary">使用执行部门审核</a>
                    <a id="btnUseSendDept" class="btn btn-primary">使用外包单位审核</a>
                    <a id="btnUseCreateDept" class="btn btn-primary">使用创建部门审核</a>
                    <a id="btnUseCheckMajor" class="btn btn-primary">使用专业部门审核</a>
                    <a id="btnUseNonWorking" class="btn btn-primary">使用值班部门审核</a>
                    <a id="btnUseSupervisor" class="btn btn-primary">使用监理单位审核</a>
                </div>
            </td>
        </tr>
        <tr id="ApplyType1_row2">
            <td class="formTitle">审核角色名称<span style="color: red;">*</span></td>
            <td class="formValue" colspan="3">
                <input id="CHECKROLENAME" type="text" placeholder="请选择角色" readonly onclick="selectCheckRole()" errormsg="审核角色名称" class="form-control" isvalid="yes" checkexpession="NotNull" />
                <input id="CHECKROLEID" type="hidden" />
            </td>

        </tr>
        <tr id="ApplyType1_row3">
            <td class="formTitle">使用专业类别</td>
            <td class="formValue">
                <input type="checkbox" id="REMARK" />
                @*
                <input id="REMARK" type="text" class="form-control" />*@
            </td>
        </tr>
        <tr id="ApplyType1_row4">
            <td class="formTitle">是否选择专业</td>
            <td class="formValue">
                <input type="radio" value="0" checked="checked" id="ChooseMajor1" name="ChooseMajor" />&nbsp;<label for="ChooseMajor">否</label>&nbsp;&nbsp;&nbsp;
                <input type="radio" value="1" id="ChooseMajor2" name="ChooseMajor" />&nbsp;<label for="ChooseMajor">是</label>&nbsp;&nbsp;&nbsp;
            </td>
            <td class="formTitle" id="td_title_specialtytype">专业类别</td>
            <td class="formValue" id="td_value_specialtytype">
                <select id="SpecialtyType" class="form-control selectpicker show-menu-arrow" multiple placeholder="请选择专业类别" isvalid="yes" checkexpession="NotNull" >
                    @Html.Raw(new ERCHTMS.Busines.SystemManage.DataItemDetailBLL().GetOptionsString("SpecialtyType"))
                </select>
            </td>
        </tr>
        <tr id="ApplyType1_row5">
            <td class="formTitle">查询部门范围</td>
            <td class="formValue">
                <input type="radio" value="0" checked="checked" id="ChooseDeptRange1" name="ChooseDeptRange" />&nbsp;<label for="ChooseDeptRange">本级</label>&nbsp;&nbsp;&nbsp;
                <input type="radio" value="1" id="ChooseDeptRange2" name="ChooseDeptRange" />&nbsp;<label for="ChooseDeptRange">上级部门</label>&nbsp;&nbsp;&nbsp;
                <input type="radio" value="2" id="ChooseDeptRange3" name="ChooseDeptRange" />&nbsp;<label for="ChooseDeptRange">上级部门本子部门</label>&nbsp;&nbsp;&nbsp;
            </td>
        </tr>
        <tr id="ApplyType2_row1" style="display:none">
            <td class="formTitle">获取审批人执行脚本<span style="color: red;">*</span></td>
            <td class="formValue" colspan="3">
                <textarea id="ScriptCurcontent" class="form-control" isvalid="yes" rows="6" checkexpession="LenStr" length="2000"></textarea>
            </td>
        </tr>
        <tr id="ApplyType3_row1" style="display:none">
            <td class="formTitle">指定审核人<span style="color: red;">*</span></td>
            <td class="formValue" colspan="3">
                <input type="text" id="CheckUserName" class="form-control" readonly="readonly" isvalid="yes"  onclick="setCheckUser()" checkexpession="NotNull" placeholder="请选择指定审核人" />
                <input type="hidden" id="CheckUserId" />
                <input type="hidden" id="CheckUserAccount" />
            </td>
        </tr>
        <tr id="ApplyType4_row1" style="display:none">
            <td class="formTitle">选择审核人标题</td>
            <td class="formValue" colspan="3">
                <input type="text" id="ChoosePersonTitle" class="form-control"  placeholder="请输入选择审核人标题" />
            </td>
        </tr>
        <tr id="ApplyType4_row2" style="display:none">
            <td class="formTitle">选择审核人提示语</td>
            <td class="formValue" colspan="3">
                <input type="text" id="ChoosePersonWarn" class="form-control" placeholder="请输入选择审核人提示语" />
            </td>
        </tr>
    </table>
</div>
