@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<!--webUploader文件上传组件-->
<link href="~/content/scripts/plugins/webuploader/webuploader.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/webuploader/webuploader-demo.css" rel="stylesheet" />
<script type="text/javascript" src="~/content/scripts/plugins/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/fileupload.js"></script>
<script type="text/javascript">
    var keyValue = request("keyValue"); //主键 违章信息主键
    var id = request("Id"); //整改主键
    $(function () {
        if (!!keyValue) {
            $.SetForm({
                url: "../../LllegalManage/LllegalReform/GetEntityJson",
                param: {
                    keyValue: id
                },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                    //整改结果
                    if (data.REFORMSTATUS == "1") {
                        $("input[name='REFORMSTATUS']:eq(1)").removeAttr("checked");
                        $("input[name='REFORMSTATUS']:eq(0)").prop("checked", "checked");
                    }
                    else {
                        $("input[name='REFORMSTATUS']:eq(0)").removeAttr("checked");
                        $("input[name='REFORMSTATUS']:eq(1)").prop("checked", "checked");
                    }

                    uploadify("uploader_reformpic"); //整改图片
                }
            })
        }
    });


    function uploadify(objId) {
        var folderId = "";
        var fileType = 'bmp,ico,gif,jpeg,jpg,png,psd';
        var isimage = true;
        folderId = $("#REFORMPIC").val();
        $.ajax({
            url: '../../PublicInfoManage/ResourceFile/GetFilesByRecId',
            data: { recId: folderId },
            type: "post",
            success: function (data) {
                var objdata = eval("(" + data + ")"); //转化为对象类型
                file_upload.bind(objdata, false, isimage, folderId, objId);
            }
        });
    }

    function exportReport() {  //违章整改通知单
        window.location.href = "../../LllegalManage/LllegalRegister/ExportReformReport?keyValue=" + keyValue;
    }

    function exportKhReport() {  //违章考核通知单
        window.location.href = "../../LllegalManage/LllegalRegister/ExportExamReport?keyValue=" + keyValue;
    }
</script>

<div class="center-Panel" style="overflow-y: scroll; height: 600px;">
    <div style="margin-top: 5px;"></div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;违章整改详情</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <div style="margin-right: 30px;">
                <table class="form">
                    <tr>
                        <td class="formTitle">整改责任人</td>
                        <td class="formValue">
                            <input id="REFORMPEOPLE" class="form-control" placeholder="请选择整改责任人" errormsg="整改责任人" isvalid="yes" checkexpession="NotNull" disabled="disabled" />
                            <input id="REFORMPEOPLEID" type="hidden" />
                            <input id="REFORMID" type="hidden" />
                        </td>
                        <td class="formTitle">整改责任单位</td>
                        <td class="formValue">
                            <input id="REFORMDEPTNAME" type="text" class="form-control" readonly errormsg="整改责任单位" isvalid="yes" disabled="disabled" />
                            <input id="REFORMDEPTCODE" type="hidden" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">整改截至时间</td>
                        <td class="formValue">
                            <input id="REFORMDEADLINE" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" isvalid="yes" checkexpession="NotNull" errormsg="整改截至时间" disabled="disabled" />
                        </td>
                        <td class="formTitle">整改完成时间<span style="color:red;">*</span></td>
                        <td class="formValue">
                            <input id="REFORMFINISHDATE" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" isvalid="yes" checkexpession="NotNull" errormsg="整改完成时间" disabled="disabled" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">整改措施</td>
                        <td class="formValue" colspan="3">
                            <textarea id="REFORMMEASURE" class="form-control" isvalid="yes" checkexpession="NotNull" length="2000" errormsg="整改措施" disabled="disabled"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">整改完成情况</td>
                        <td class="formValue" colspan="3">
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="REFORMSTATUS" id="REFORMSTATUS1" value="1" checked="checked" disabled="disabled" />完成
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="REFORMSTATUS" id="REFORMSTATUS2" value="0" disabled="disabled" />未完成
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">整改图片</td>
                        <td class="formValue" colspan="3">
                            <input id="REFORMPIC" type="hidden" /><!--整改相片-->
                            <div id="uploader_reformpic" class="uploader" style="border:1px solid #ccc; margin-top:10px; min-height:200px; margin-bottom:10px;">
                                <div class="queueList">
                                    <div id="uploader_reformpic_place" class="placeholder">
                                        <div class="filePicker" style="margin-left:25px; margin-top:10px;"></div>
                                    </div>
                                </div>
                                <div class="statusBar" style="display:none;">
                                    <div class="progress">
                                        <span class="text">0%</span>
                                        <span class="percentage"></span>
                                    </div>
                                    <div class="info"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="form-button" style=" top: 40px; text-align: left; padding-left: 20px; position: fixed; bottom: auto; z-index: 1000;">
    <div style="float:left;">
        &nbsp; &nbsp;
        <a id="btn_KhExport" onclick="exportKhReport()" class="btn btn-primary">违章考核通知单</a>
        &nbsp; &nbsp;
        <a id="btn_Export" onclick="exportReport()" class="btn btn-primary">违章整改通知单</a>
    </div>
    <div id="HidMessage" style="width:360px; margin-left:20px; float:left;"></div>
</div>
<style type="text/css">
    body {
        overflow: hidden;
    }
</style>