@{
    ViewBag.Title = "OpenWordReport";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<script>
    var filename = request("filename");
    var topUrl = request("topUrl");
    $(function () {
        InitialPage();

    });
    //初始化数据
    function InitialPage() {
        //记载文档
        OpenDocument(topUrl + '/AssessmentManage/AssessmentSum/GetWordSelfReprot?filename=' + encodeURIComponent(filename));
    }
    function OpenDocument(strUrl) {
        $.post(strUrl, { param2: "" }, function (data) {
            $("#EmerDetail").html(data);
        });
    }
</script>
<link href="~/Content/static/css/help.css" rel="stylesheet" />
<link href="~/Content/static/css/extend.css" rel="stylesheet" />

<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12 my-title">
                <div class="pull-left" id="ShowT">
                </div>
                <div class="pull-right">
                </div>
            </div>
        </div>

        <div class="bd-fdfdfd pd-20 main" id="EmerDetail" style="height: 800px">
        </div>

    </div>
</div>
