@{
    ViewBag.Title = "SumUp";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<!--第三方统计图start-->
<script src="~/Content/Scripts/plugins/highcharts/highcharts.js"></script>
<script src="~/Content/Scripts/plugins/highcharts/highcharts-more.js"></script>
<script src="~/Content/Scripts/plugins/highcharts/modules/exporting.js"></script>
<link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
<script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>

<style type="text/css">
    $ {
        demo .css;
    }
</style>
<script src="~/Content/scripts/business/Common.js"></script>
<!--第三方统计图end-->
<script>

    var planid = request('planid');//计划id

    $(function () {
        initControl();
        statTJ();
    });

    //初始化控件
    function initControl() {
        $.ajax({
            url: '../../AssessmentManage/AssessmentSum/GetSumDataInfo',
            data: { planid: planid },
            dataType: "JSON",
            async: false,
            success: function (data) {
                if (data != null || data != undefined) {
                    $("#sumdetail").val(data[0].leadersum);
                    $("#sp1").html("&nbsp;&nbsp;标准得分:" + data[0].bscore + "&nbsp;&nbsp;&nbsp;总扣分:" + data[0].kscore + "&nbsp;&nbsp;&nbsp;不适宜项得分:" + data[0].nosuitscore + "&nbsp;&nbsp;&nbsp;总得分:" + data[0].sum + "&nbsp;&nbsp;&nbsp;&nbsp;最终得分:" + data[0].zscore + "&nbsp;&nbsp;&nbsp;&nbsp;评定等级:" + data[0].grade);
                }
            }
        });

    }

    function statTJ() {
        $.get("GetSumDataCount", { planid: planid }, function (data) {
            var json = jQuery.parseJSON(data);
            $('#container').highcharts({
                chart: {
                    polar: true,
                    type: 'line'
                },

                title: {
                    text: '各要素分数雷达图',
                    x: -20
                },

                pane: {
                    size: '80%'
                },

                xAxis: {
                    categories: json.Fields,
                    tickmarkPlacement: 'on',
                    lineWidth: 0
                },

                yAxis: {
                    gridLineInterpolation: 'polygon',
                    lineWidth: 0,
                    min: 0,
                    max: 100,
                    tickInterval: 20
                },

                tooltip: {
                    shared: true,
                    pointFormat: '<span style="color:{series.color}">{series.name}: <b>{point.y:,.2f}</b><br/>'
                },

                legend: {
                    align: 'right',
                    verticalAlign: 'top',
                    y: 70,
                    layout: 'vertical'
                },
                credits: { enabled: false },
                exporting: { enabled: false },//导出按钮
                series: [{
                    name: '评分',
                    data: eval(json.data),
                    pointPlacement: 'on'
                }]
            });
        });
    }

    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }

        $.SaveForm({
            url: "../../AssessmentManage/AssessmentSum/SaveSummarizeInfo?planid=" + planid + "&sumdetail=" + $("#sumdetail").val(),
            param: { __RequestVerificationToken: $("input[name='__RequestVerificationToken']").val() },
            loading: "正在生成...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }
</script>
<div style="margin: 0px; margin-top: 20px; background-color: white; margin-left: 20px;margin-right:20px;">
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="form">
                <tr>
                    <td class="formTitle">综述<font face="宋体">*</font></td>
                    <td class="formValue" colspan='3'>
                        <textarea id="sumdetail" class="form-control" isvalid="yes" checkexpession="NotNull" style="min-height: 120px;"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan='4'><span id="sp1" style="margin-right:10px;"></span></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="4">
                       <div id="container" style="min-width: 400px; max-width: 680px; height: 350px; margin: 0 auto"></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
