@{;
  ViewBag.Title = "表单页面";
  Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>
<script src="~/Content/scripts/plugins/combo-select/jquery.combo.select.js"></script>
<link rel="stylesheet" href="~/Content/scripts/plugins/combo-select/combo.select.css">
<style>
    .form .formTitle {
        width: 110px;
    }
</style>
<script>
    var teamname = top.Form.window.parmteamname;
    var teamstarttime = top.Form.window.parmteamstarttime;
    var teamendtime = top.Form.window.parmteamendtime;
    var workinfoname = top.Form.window.parmworkinfoname;
    var workinfoid = top.Form.window.parmworkinfoid;
    var taskshareid = request('taskshareid');
    var tasktype = request("tasktype");
    var mode = request('mode');
    var workdeptid = request('workdeptid');

    var rolenames = "@ERCHTMS.Code.OperatorProvider.Provider.Current().RoleName"; //当前用户角色
    var deptid = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptId";

    $(function () {
        $("#TeamName").val(teamname);
        $("#TeamStartTime").val(teamstarttime);
        $("#TeamEndTime").val(teamendtime);
        $("#WorkInfoName").val(workinfoname);
        $("#WorkInfoId").val(workinfoid);

        if (mode == "view") {
            $("#form1 input,textarea,select, .ui-select, .ui-select-text , .ui-select-option-content").each(function (ele, index) {
                $(this).attr("disabled", "disabled");
            });
        }

        if (tasktype == "0") {
            //班组旁站开始时间和结束时间需在部门旁站时间范围内
            $("#StartTime").val(top.Form.$("#DeptStartTime").val());
            $("#EndTime").val(top.Form.$("#DeptEndTime").val());
        }
    });

    //选择旁站监督班组
    function selectCompany() {
        selectDept(workdeptid, 0, 12, '选择旁站监督班组', document.body, 'TeamName,TeamCode,TeamId', "1", function () {
            //清空作业信息
            $("#WorkInfoName,#WorkInfoId").val("");
        });
    }

    //返回选择后的结果并赋值到dom控件
    //callback:回调函数
    function AcceptClick(callback) {
        if (!$('#form1').Validform()) {
            return false;
        }
        else {
            var start = $("#TeamStartTime").val();
            var end = $("#TeamEndTime").val();
            if (start > end && !!start && !!end) {
                dialogMsg('班组旁站开始时间不能大于班组旁站结束时间！', 0);
                return false;
            }
        }
        if (callback) {
            var teamname = $("#TeamName").val();
            var teamid = $("#TeamId").val();
            var teamcode = $("#TeamCode").val();
            var teamstarttime = $("#TeamStartTime").val();
            var teamendtime = $("#TeamEndTime").val();
            var workinfoname = $("#WorkInfoName").val();
            var workinfoid = $("#WorkInfoId").val();

            callback({ teamname: teamname, teamid: teamid, teamcode: teamcode, teamstarttime: teamstarttime, teamendtime: teamendtime, workinfoname: workinfoname, workinfoid: workinfoid });
        }
        dialogClose();
    }

    //选择作业信息
    function selectWork() {
        var teamname = $("#TeamName").val();
        if (!!teamname) {
            selectWorkInfo({ taskshareid: taskshareid, teamid: '', mode: 1, checkmode: 1, winObject: window.document.body, domId: 'WorkInfoId,WorkInfoName', workids: '1' });
        }
        else {
            dialogMsg('请先选择旁站监督班组！', 0);
            return;
        }

    }
</script>
<div style="margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle">旁站监督班组<font face="宋体">*</font>
                <!--部门旁站开始时间及结束时间-->
                <input type="hidden" id="StartTime" />
                <input type="hidden" id="EndTime" />
            </td>
            <td class="formValue" colspan="5">
                <input id="TeamName" type="text" class="form-control" placeholder="请选择旁站监督班组" isvalid="yes" checkexpession="NotNull" readonly onclick="selectCompany()" />
                <input type="hidden" id="TeamId" />
                <input type="hidden" id="TeamCode" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">班组旁站开始时间<font face="宋体">*</font></td>
            <td class="formValue" colspan="2">
                <input id="TeamStartTime" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm', minDate: '#F{$dp.$D(\'StartTime\')}', maxDate: '#F{$dp.$D(\'EndTime\')}' })" isvalid="yes" checkexpession="NotNull">
            </td>
            <td class="formTitle">班组旁站结束时间<font face="宋体">*</font></td>
            <td class="formValue" colspan="2">
                <input id="TeamEndTime" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm', minDate: '#F{$dp.$D(\'StartTime\')}', maxDate: '#F{$dp.$D(\'EndTime\')}' })" isvalid="yes" checkexpession="NotNull">
            </td>
        </tr>
        <tr>
            <td class="formTitle">作业信息<font face="宋体">*</font></td>
            <td class="formValue" colspan="5">
                <input id="WorkInfoName" type="text" class="form-control" placeholder="请选择作业信息" isvalid="yes" checkexpession="NotNull" readonly onclick="selectWork()" isvalid="yes" checkexpession="NotNull" />
                <input type="hidden" id="WorkInfoId" />
            </td>
        </tr>
    </table>
</div>
