@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<link href="~/content/scripts/plugins/icheck/skins/square/_all.css" type="text/css" rel="stylesheet" />
<script src="~/content/scripts/plugins/icheck/js/icheck.min.js" type="text/javascript"></script>
<script src="~/content/scripts/plugins/icheck/js/custom.min.js" type="text/javascript"></script>

<script src="~/Content/scripts/plugins/jquery.md5.js"></script>


<script type="text/javascript" src="~/content/scripts/business/common.js"></script>
<script src="~/Content/scripts/plugins/combo-select/jquery.combo.select.js"></script>
<link rel="stylesheet" href="~/Content/scripts/plugins/combo-select/combo.select.css">

<link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
<script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script>
    var keyValue = request('keyValue');
    var userId = request('userId');
    $(function() {

        initControl();
    });


    //初始化控件
    function initControl() {
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../PersonManage/WorkRecord/GetFormJson",
                param: { keyValue: keyValue },
                success: function(data) {
                    $("#form1").formDeserialize(data);
                    if (data.LeaveTime == "0001-01-01 00:00:00") {
                        $("#LeaveTime").val("");
                    }
                }
            });
        } else {
            $("#UserId").val(userId);
        }
    }


    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize(keyValue);
        //结束时间不等于空时判断
        if ($("#LeaveTime").val() != "") {
            if (!compareDate($("#EnterDate").val(), $("#LeaveTime").val())) {
                dialogMsg('开始时间请大于结束时间！', 0);
                return false;
            }
        }

        $.SaveForm({
            url: "../../PersonManage/WorkRecord/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function() {
                top.frames["Form"].window.$("#gridWork").trigger("reloadGrid");
            }
        })
    }

    function compareDate(logintime, logouttime) {
        var arys1 = new Array();
        var arys2 = new Array();
        if (logintime != null && logouttime != null) {
            arys1 = logintime.split('-');
            var logindate = new Date(arys1[0], parseInt(arys1[1] - 1), arys1[2]);
            arys2 = logouttime.split('-');
            var logoutdate = new Date(arys2[0], parseInt(arys2[1] - 1), arys2[2]);
            if (logindate > logoutdate) {
                return false;
            } else {
                return true;
            }
        }
    }
</script>
<style>
    .formTitle {
        width: 40%;
    }

    .formValue {
        width: 60%;
    }
</style>

<div style="margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle">工作时间<font face="宋体">*</font></td>
            <td class="formValue">
                <table style="width: 100%; height: 100%">
                    <tr>
                        <td style="width: 40%"><input id="EnterDate" class="form-control input-wdatepicker" isvalid="yes" checkexpession="NotNull" onfocus="WdatePicker({ readOnly: true })" /></td>
                        <td>--</td>
                        <td style="width: 40%"><input id="LeaveTime" class="form-control input-wdatepicker" onfocus="WdatePicker({ readOnly: true })" /></td>
                        <td>为空表示至今</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="formTitle">公司<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="OrganizeName" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" maxlenth="10"></input>
                <input id="UserId" type="hidden" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">部门</td>
            <td class="formValue">
                <input id="DeptName" type="text" class="form-control"  maxlenth="10" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">岗位<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="PostName" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" maxlenth="10" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">职务</td>
            <td class="formValue">
                <input id="JobName" type="text" class="form-control"  maxlenth="10" />
            </td>
        </tr>

    </table>
</div>
