@{;
  ViewBag.Title = "表单页面";
  Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = request('keyValue');
    var typecode = request('typecode');
    var typename = request('typename');
    $(function () {
        initControl();
    });
    //初始化控件
    function initControl() {
        //显示类型
        $("#IType").ComboBox({
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            param: { EnCode: "ShowType" },
            id: "ItemValue",
            text: "ItemName",
            description: "",
            height: "200px"
        });

        $("#IType").attr("data-value", typecode);
        $("#IType").attr("data-text", typename);
        $("#IType div:eq(0)").text(typename);
        $("#IType").attr("disabled", "disabled");

        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../HighRiskWork/HighImportType/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                    if (data.IsImport == "0") {
                        $("input[name='IsImport']:eq(0)").prop("checked", "checked");
                    }
                    if (data.IsImport == "1") {
                        $("input[name='IsImport']:eq(1)").prop("checked", "checked");
                    }
                }
            })
        }
    }
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize(keyValue);
        var unittype = $("input[name='IsImport']:checked").val();
        postData["IsImport"] = unittype;
        $.SaveForm({
            url: "../../HighRiskWork/HighImportType/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }
</script>
<div style="margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle">类型<font face="宋体">*</font></td>
            <td class="formValue">
                <div id="IType" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull" ></div>
            </td>
        </tr>
        <tr>
            <td class="formTitle">是否手动输入<font face="宋体">*</font></td>
            <td class="formValue">
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="IsImport" id="IsImport1" value="0" checked="checked" />否
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="IsImport" id="IsImport2" value="1" />是
                    </label>
                </div>
            </td>
        </tr>

    </table>
</div>
