@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = request('keyValue');
    $(function () {
        initControl();
    });
    //初始化控件
    function initControl() {
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../KbsDeviceManage/Workcameracapture/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                }
            })
        }
    }
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize(keyValue);
        $.SaveForm({
            url: "../../KbsDeviceManage/Workcameracapture/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }
</script>
<div style="margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle">主键ID</td>
            <td class="formValue">
                <input id="ID" type="text" class="form-control"  />
            </td>
        </tr>
        <tr>
            <td class="formTitle">创建时间</td>
            <td class="formValue">
                <input id="CREATEDATE" type="text" class="form-control"  />
            </td>
        </tr>
        <tr>
            <td class="formTitle">创建人ID</td>
            <td class="formValue">
                <input id="CREATEUSERID" type="text" class="form-control"  />
            </td>
        </tr>
        <tr>
            <td class="formTitle">创建人所属机构</td>
            <td class="formValue">
                <input id="CREATEUSERORGCODE" type="text" class="form-control"  />
            </td>
        </tr>
        <tr>
            <td class="formTitle">创建人所属部门</td>
            <td class="formValue">
                <input id="CREATEUSERDEPTCODE" type="text" class="form-control"  />
            </td>
        </tr>
        <tr>
            <td class="formTitle">操作时间</td>
            <td class="formValue">
                <input id="MODIFYDATE" type="text" class="form-control"  />
            </td>
        </tr>
        <tr>
            <td class="formTitle">操作用户</td>
            <td class="formValue">
                <input id="MODIFYUSERID" type="text" class="form-control"  />
            </td>
        </tr>
        <tr>
            <td class="formTitle">设备类型 0标签 1基站 2门禁 3摄像头</td>
            <td class="formValue">
                <input id="CAMERAID" type="text" class="form-control"  />
            </td>
        </tr>
        <tr>
            <td class="formTitle"></td>
            <td class="formValue">
                <input id="WORKID" type="text" class="form-control"  />
            </td>
        </tr>
        <tr>
            <td class="formTitle">设备关联ID</td>
            <td class="formValue">
                <input id="USERID" type="text" class="form-control"  />
            </td>
        </tr>
        <tr>
            <td class="formTitle">离线发现时间</td>
            <td class="formValue">
                <input id="OFFLINEDEVICE" type="text" class="form-control"  />
            </td>
        </tr>
       
    </table>
</div>
