@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<link href="~/Content/scripts/plugins/jqgrid/jqgrid.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/dialog/dialog.css" rel="stylesheet" />
<script src="~/Content/scripts/plugins/layout/jquery.layout.js"></script>
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>
<script src="~/Content/scripts/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="~/Content/scripts/plugins/jqgrid/jqgrid.min.js"></script>
<link href="~/content/scripts/plugins/icheck/skins/square/_all.css" type="text/css" rel="stylesheet" />
<script src="~/content/scripts/plugins/icheck/js/icheck.min.js" type="text/javascript"></script>
<script src="~/content/scripts/plugins/icheck/js/custom.min.js" type="text/javascript"></script>
<!--webUploader文件上传组件-->
<link href="~/content/scripts/plugins/webuploader/webuploader.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/webuploader/webuploader-demo.css" rel="stylesheet" />
<script type="text/javascript" src="~/content/scripts/plugins/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/fileupload.js"></script>
<script>
    var orgId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeId";//当前用户所属机构id
    var currUserId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().UserId";
    var keyValue = request('keyValue');
    var actiontype = request('mode');
    var Recid = "";
    $(function () {
        InputControl();
        initControl();
    });

    //初始化控件
    function initControl() {

        //获取表单
        if (!!keyValue) {
            Recid = keyValue;
            $.SetForm({
                url: "../../HseManage/SelfEvaluate/getEntity",
                param: { keyValue: keyValue },
                success: function (data) {
                    JsonHtml(data);

                }
            })

        } @*else {
            Recid = "@Guid.NewGuid().ToString()";
            file_upload.init({
                keyValue: Recid, extensions: 'jpg,gif,bmp,png', isImage: true, fileNumLimit: 9, fileDir: 'HseObserve'
            });
            var isDel = actiontype == "view" ? false : true;
            file_upload.bindFiles(isDel, true, Recid, "uploader", isDel);
        }*@


    }

    function InputControl() {
        OneChecked('BDGPX');
        OneChecked('BQZDZPX');
        OneChecked('BCNJDCPX');
        OneChecked('BYLRQ');
        OneChecked('BGLSPX');
        OneChecked('BGLZYPX');
        OneChecked('BDHZYPX');
        OneChecked('BJSJZYPX');
        OneChecked('BGKZYPX');
        OneChecked('BJJPX');
        OneChecked('BNONEPX');
        OneChecked('CAQGCK');
        OneChecked('CLXZBK');
        OneChecked('CAQHY');
        OneChecked('CZYAQJD');
        OneChecked('CAQJC');
        OneChecked('CAQPX');
    }
    function OneChecked(name) {
        $("input[name='" + name + "']").click(function (o) {
            var clickInput = this;
            $("input[name='" + name + "']").each(function (i, j) {
                if ($(j).is(":checked")) {
                    var ckInput = j;
                    if (clickInput != ckInput) {
                        jQuery(j).attr("checked", false);
                    }
                }
            })
        });
    }
    function JsonHtml(data) {
        if (data) {
            $('#Id').val(data['Id']);
            $('#Summary').val(data['Summary']);
            var A = data['A'];
            $("#AId").val(A['Id']);
            //安全危害
            setInputCheckData('ADanger', 'Danger', A);
            //使用的PPE
            setInputCheckData('AUsePPE', 'UsePPE', A);
            //其他防护装备
            $("#OtherEquip").val(A['OtherEquip']);
            var B = data['B'];
            $("#BId").val(B['Id']);
            //电工培训
            setInputCheckData('BDGPX', 'DGPX', B);
            //起重吊装培训
            setInputCheckData('BQZDZPX', 'QZDZPX', B);
            //场内机动车培训
            setInputCheckData('BCNJDCPX', 'CNJDCPX', B);
            //压力容器
            setInputCheckData('BYLRQ', 'YLRQ', B);
            //锅炉水培训
            setInputCheckData('BGLSPX', 'GLSPX', B);
            //锅炉作业培训
            setInputCheckData('BGLZYPX', 'GLZYPX', B);
            //电焊作业培训
            setInputCheckData('BDHZYPX', 'DHZYPX', B);
            //脚手架作业培训
            setInputCheckData('BJSJZYPX', 'JSJZYPX', B);
            //高空作业培训
            setInputCheckData('BGKZYPX', 'GKZYPX', B);
            //急救培训
            setInputCheckData('BJJPX', 'JJPX', B);
            //无具体培训要求
            setInputCheckData('BNONEPX', 'NONEPX', B);
            var C = data['C'];
            $("#CId").val(C['Id']);
            //安全观察卡
            setInputCheckData('CAQGCK', 'AQGCK', C);
            //领先指标卡
            setInputCheckData('CLXZBK', 'LXZBK', C);
            //安全会议
            setInputCheckData('CAQHY', 'AQHY', C);
            //作业安全交底
            setInputCheckData('CZYAQJD', 'ZYAQJD', C);
            //安全检查
            setInputCheckData('CAQJC', 'AQJC', C);
            //安全培训
            setInputCheckData('CAQPX', 'AQPX', C);
            var D = data['D'];
            $("#DId").val(D['Id']);
            //本月岗位主要任务
            $("#MainTask").val(D['MainTask']);
            //潜在安全风险
            $("#SafeRisk").val(D['SafeRisk']);
            //关键控制措施
            $("#ControlMeasure").val(D['ControlMeasure']);
            var E = data['E'];
            $("#EId").val(E['Id']);
            //交通 其他
            $("#TraOther").val(E['TraOther']);
            //用电 其他
            $("#EleOther").val(E['EleOther']);
            //防火 其他
            $("#FireOther").val(E['FireOther']);
            //体力操作 其他
            $("#PowOther").val(E['PowOther']);
            // 其他 其他
            $("#OthOther").val(E['OthOther']);
            //交通
            setInputCheckData('ETraffic', 'Traffic', E);
            //用电
            setInputCheckData('EElectricity', 'Electricity', E);
            //防火
            setInputCheckData('EFire', 'Fire', E);
            //体力操作
            setInputCheckData('EPower', 'Power', E);
            //其他
            setInputCheckData('EOther', 'Other', E);

        }
    }
    //保存表单;
    function AcceptClick(worktype) {
        var postData = $("#form1").formSerialize();
        if (worktype == 0) {
            postData["IsSubmit"] = 0;
        } else {
            postData["IsSubmit"] = 1;
        }
        var ck = getData(postData);
        if (!ck) {
            return false;
        }
        savePost(postData);
    }

    function getData(postData) {
        var A = {};
        var B = {};
        var C = {};
        var D = {};
        var E = {};
        //是否填报
        //postData['IsFill'] = '1';

        postData['A'] = A;
        A["Id"] = $("#AId").val();
        //安全危害
        getInputCheckData('ADanger', 'Danger', A);
        if (!A['Danger']) {
            dialogMsg('请选择安全危害项！', 0);
            return false
        }
        //使用的PPE
        getInputCheckData('AUsePPE', 'UsePPE', A);
        if (!A['UsePPE']) {
            dialogMsg('请选择使用的PPE项！', 0);
            return false
        }
        //其他防护装备
        A['OtherEquip'] = postData['OtherEquip'];
        //是否填报
        A['IsFill'] = '1';


        postData['B'] = B;
        B["Id"] = $("#BId").val();
        //电工培训
        getInputCheckData('BDGPX', 'DGPX', B);
        if (!B['DGPX']) {
            dialogMsg('请选择电工培训项！', 0);
            return false
        }
        //起重吊装培训
        getInputCheckData('BQZDZPX', 'QZDZPX', B);
        if (!B['QZDZPX']) {
            dialogMsg('请选择起重吊装培训项！', 0);
            return false
        }
        //场内机动车培训
        getInputCheckData('BCNJDCPX', 'CNJDCPX', B);
        if (!B['CNJDCPX']) {
            dialogMsg('请选择场内机动车培训项！', 0);
            return false
        }
        //压力容器
        getInputCheckData('BYLRQ', 'YLRQ', B);
        if (!B['YLRQ']) {
            dialogMsg('请选择压力容器项！', 0);
            return false
        }
        //锅炉水培训
        getInputCheckData('BGLSPX', 'GLSPX', B);
        if (!B['GLSPX']) {
            dialogMsg('请选择锅炉水培训项！', 0);
            return false
        }
        //锅炉作业培训
        getInputCheckData('BGLZYPX', 'GLZYPX', B);
        if (!B['GLZYPX']) {
            dialogMsg('请选择锅炉作业培训项！', 0);
            return false
        }
        //电焊作业培训
        getInputCheckData('BDHZYPX', 'DHZYPX', B);
        if (!B['DHZYPX']) {
            dialogMsg('请选择电焊作业培训项！', 0);
            return false
        }
        //脚手架作业培训
        getInputCheckData('BJSJZYPX', 'JSJZYPX', B);
        if (!B['JSJZYPX']) {
            dialogMsg('请选择脚手架作业培训项！', 0);
            return false
        }
        //高空作业培训
        getInputCheckData('BGKZYPX', 'GKZYPX', B);
        if (!B['GKZYPX']) {
            dialogMsg('请选择高空作业培训项！', 0);
            return false
        }
        //急救培训
        getInputCheckData('BJJPX', 'JJPX', B);
        if (!B['JJPX']) {
            dialogMsg('请选择急救培训项！', 0);
            return false
        }
        //无具体培训要求
        getInputCheckData('BNONEPX', 'NONEPX', B);
        if (!B['NONEPX']) {
            dialogMsg('请选择无具体培训要求项！', 0);
            return false
        }
        //是否填报
        B['IsFill'] = '1';


        postData['C'] = C;
        C["Id"] = $("#CId").val();
        //安全观察卡
        getInputCheckData('CAQGCK', 'AQGCK', C);
        if (!C['AQGCK']) {
            dialogMsg('请选择安全观察卡项！', 0);
            return false
        }
        //领先指标卡
        getInputCheckData('CLXZBK', 'LXZBK', C);
        if (!C['LXZBK']) {
            dialogMsg('请选择领先指标卡项！', 0);
            return false
        }
        //安全会议
        getInputCheckData('CAQHY', 'AQHY', C);
        if (!C['AQHY']) {
            dialogMsg('请选择安全会议项！', 0);
            return false
        }
        //作业安全交底
        getInputCheckData('CZYAQJD', 'ZYAQJD', C);
        if (!C['ZYAQJD']) {
            dialogMsg('请选择作业安全交底项！', 0);
            return false
        }
        //安全检查
        getInputCheckData('CAQJC', 'AQJC', C);
        if (!C['AQJC']) {
            dialogMsg('请选择安全检查项！', 0);
            return false
        }
        //安全培训
        getInputCheckData('CAQPX', 'AQPX', C);
        if (!C['AQPX']) {
            dialogMsg('请选择安全培训项！', 0);
            return false
        }
        //是否填报
        C['IsFill'] = '1';

        postData['D'] = D;
        D["Id"] = $("#DId").val();
        //本月岗位主要任务
        D['MainTask'] = postData['MainTask'];
        //潜在安全风险
        D['SafeRisk'] = postData['SafeRisk'];
        //关键控制措施
        D['ControlMeasure'] = postData['ControlMeasure'];
        //是否填报
        if (D['MainTask'] || D['SafeRisk'] || D['ControlMeasure']) {
            D['IsFill'] = '1';
        }

        postData['E'] = E;
        E["Id"] = $("#EId").val();
        //交通 其他
        E['TraOther'] = postData['TraOther'];
        //用电 其他
        E['EleOther'] = postData['EleOther'];
        //防火 其他
        E['FireOther'] = postData['FireOther'];
        //体力操作 其他
        E['PowOther'] = postData['PowOther'];
        // 其他 其他
        E['OthOther'] = postData['OthOther'];
        //交通
        getInputCheckData('ETraffic', 'Traffic', E);
        //用电
        getInputCheckData('EElectricity', 'Electricity', E);
        //防火`
        getInputCheckData('EFire', 'Fire', E);
        //体力操作
        getInputCheckData('EPower', 'Power', E);
        //其他
        getInputCheckData('EOther', 'Other', E);
        //是否填报
        if (E['TraOther'] || E['EleOther'] || E['FireOther'] || E['PowOther'] || E['OthOther']) {
            E['IsFill'] = '1';
        }
        if (E['Other'] || E['Power'] || E['Fire'] || E['Electricity'] || E['Traffic']) {
            E['IsFill'] = '1';
        }
        return true;
    }

    function setInputCheckData(name, realName, postData) {
        $("input[name='" + name + "']").each(function (i, j) {
            var o = $(j).val();
            var model = postData[realName];
            if (!isNaN(model)) {
                if (model == parseInt(o)) {
                    $(j).attr("checked", true);
                }
            } else if (model) {
                if (model.indexOf(o) >= 0) {
                    $(j).attr("checked", true);
                }
            }
        });

    }
    function getInputCheckData(name, realName, postData) {
        var model = '';
        $("input[name='" + name + "']:checked").each(function (i, j) {
            var o = $(j);
            model += o.val() + ',';
        });
        model = model.substr(0, model.length - 1);
        postData[realName] = model;
    }


    function savePost(postData) {
        $.SaveForm({
            url: "../../HseManage/SelfEvaluate/SaveForm",
            param: { entity: postData },
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }
</script>
<div style="padding-top: 50px; margin-right: 30px;">

    <div id="obstype" class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;工作危害与个人防护</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <div class="panel-default"> <strong>我的工作环境中有如下的安全危害</strong><font face="宋体" color="red">*</font></div>
            <div class="panel-body">
                <ul id="">
                    <li style='float:left;width:10.1%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='垂直交叉' name="ADanger" />&nbsp;&nbsp;垂直交叉
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:10.1%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='落物可能' name="ADanger" />&nbsp;&nbsp;落物可能
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:10.1%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='飞溅作业' name="ADanger" />&nbsp;&nbsp;飞溅作业
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:10.1%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='粉尘' name="ADanger" />&nbsp;&nbsp;粉尘
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:10.1%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='烟尘' name="ADanger" />&nbsp;&nbsp;烟尘
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:10.1%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='噪音' name="ADanger" />&nbsp;&nbsp;噪音
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:10.1%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='振动' name="ADanger" />&nbsp;&nbsp;振动
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:10.1%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='高处/临边' name="ADanger" />&nbsp;&nbsp;高处/临边
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:10.1%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='脚手架' name="ADanger" />&nbsp;&nbsp;脚手架
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:10.1%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='夜间' name="ADanger" />&nbsp;&nbsp;夜间
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:10.1%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='带电设备' name="ADanger" />&nbsp;&nbsp;带电设备
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:10.1%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='强酸' name="ADanger" />&nbsp;&nbsp;强酸
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:10.1%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='强碱' name="ADanger" />&nbsp;&nbsp;强碱
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:10.1%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='受限空间' name="ADanger" />&nbsp;&nbsp;受限空间
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:10.1%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='高温' name="ADanger" />&nbsp;&nbsp;高温
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:10.1%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='低温' name="ADanger" />&nbsp;&nbsp;低温
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:10.1%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='特殊气体' name="ADanger" />&nbsp;&nbsp;特殊气体
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:10.1%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='照明不足' name="ADanger" />&nbsp;&nbsp;照明不足
                            </li>
                        </ul>

                    </li>
                    <li style='float:left;width:10.1%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='无' name="ADanger" />&nbsp;&nbsp;无
                            </li>
                        </ul>

                    </li>
                </ul>
            </div>
            <div class="panel-default"> <strong>适用的PPE</strong><font face="宋体" color="red">*</font></div>
            <div class="panel-body">
                <ul id="">
                    <li style='float:left;width:10.1%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='安全帽' name='AUsePPE' />&nbsp;&nbsp;安全帽
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:10.1%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='防护眼镜' name='AUsePPE' />&nbsp;&nbsp;防护眼镜
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:10.1%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='防护眼罩' name='AUsePPE' />&nbsp;&nbsp;防护眼罩
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:10.1%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='防护面罩' name='AUsePPE' />&nbsp;&nbsp;防护面罩
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:10.1%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='防尘口罩' name='AUsePPE' />&nbsp;&nbsp;防尘口罩
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:10.1%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='焊接口罩' name='AUsePPE' />&nbsp;&nbsp;焊接口罩
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:10.1%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='防尘面罩' name='AUsePPE' />&nbsp;&nbsp;防尘面罩
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:10.1%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='耳塞' name='AUsePPE' />&nbsp;&nbsp;耳塞
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:10.1%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='耳罩' name='AUsePPE' />&nbsp;&nbsp;耳罩
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:10.1%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='安全带' name='AUsePPE' />&nbsp;&nbsp;安全带
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:10.1%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='防坠器' name='AUsePPE' />&nbsp;&nbsp;防坠器
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:10.1%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='锚点' name='AUsePPE' />&nbsp;&nbsp;锚点
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:10.1%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='手电' name='AUsePPE' />&nbsp;&nbsp;手电
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:10.1%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='对讲机' name='AUsePPE' />&nbsp;&nbsp;对讲机
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:10.1%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='绝缘手套' name='AUsePPE' />&nbsp;&nbsp;绝缘手套
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:10.1%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='绝缘靴' name='AUsePPE' />&nbsp;&nbsp;绝缘靴
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:10.1%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='绝缘服' name='AUsePPE' />&nbsp;&nbsp;绝缘服
                            </li>
                        </ul>

                    </li>
                    <li style='float:left;width:10.1%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='防护服' name='AUsePPE' />&nbsp;&nbsp;防护服
                            </li>
                        </ul>

                    </li>
                    <li style='float:left;width:10.1%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='气体检测仪' name='AUsePPE' />&nbsp;&nbsp;气体检测仪
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:10.1%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='隔热手套' name='AUsePPE' />&nbsp;&nbsp;隔热手套
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:10.1%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='隔热鞋' name='AUsePPE' />&nbsp;&nbsp;隔热鞋
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:10.1%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='隔热服' name='AUsePPE' />&nbsp;&nbsp;隔热服
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:10.1%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='棉手套' name='AUsePPE' />&nbsp;&nbsp;棉手套
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:10.1%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='皮手套' name='AUsePPE' />&nbsp;&nbsp;皮手套
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:10.1%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='线手套' name='AUsePPE' />&nbsp;&nbsp;线手套
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:10.1%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='无' name='AUsePPE' />&nbsp;&nbsp;无
                            </li>
                        </ul>

                    </li>
                </ul>
            </div>
            <div class="panel-default"> <strong>其他防护装备</strong></div>
            <div class="panel-body">
                <textarea id="OtherEquip" type="text" class="form-control"></textarea>
                <input id="Id" type="text" class="form-control" style="display:none" />
                <input id="AId" type="text" class="form-control" style="display:none" />
                <input id="BId" type="text" class="form-control" style="display:none" />
                <input id="CId" type="text" class="form-control" style="display:none" />
                <input id="DId" type="text" class="form-control" style="display:none" />
                <input id="EId" type="text" class="form-control" style="display:none" />
            </div>
        </div>
    </div>

    <div id="" class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;HSE培训于获取</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">

            <div class="panel-body">

                <ul id="">
                    <li style='float:left;width:13%;padding-left: 30px;'>
                        <strong>电工培训</strong><font face="宋体" color="red">*</font>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='1' name="BDGPX" />&nbsp;&nbsp;完成
                            </li>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='2' name="BDGPX" />&nbsp;&nbsp;获取帽贴
                            </li>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='0' name="BDGPX" />&nbsp;&nbsp;未完成
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:13%;padding-left: 30px;'>
                        <strong>起重吊装培训</strong><font face="宋体" color="red">*</font>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='1' name="BQZDZPX" />&nbsp;&nbsp;完成
                            </li>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='2' name="BQZDZPX" />&nbsp;&nbsp;获取帽贴
                            </li>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='0' name="BQZDZPX" />&nbsp;&nbsp;未完成
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:13%;padding-left: 30px;'>
                        <strong>场内机动车培训</strong><font face="宋体" color="red">*</font>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='1' name="BCNJDCPX" />&nbsp;&nbsp;完成
                            </li>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='2' name="BCNJDCPX" />&nbsp;&nbsp;获取帽贴
                            </li>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='0' name="BCNJDCPX" />&nbsp;&nbsp;未完成
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:13%;padding-left: 30px;'>
                        <strong>压力容器</strong><font face="宋体" color="red">*</font>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='1' name="BYLRQ" />&nbsp;&nbsp;完成
                            </li>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='2' name="BYLRQ" />&nbsp;&nbsp;获取帽贴
                            </li>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='0' name="BYLRQ" />&nbsp;&nbsp;未完成
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:13%;padding-left: 30px;'>
                        <strong>锅炉水培训</strong><font face="宋体" color="red">*</font>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='1' name="BGLSPX" />&nbsp;&nbsp;完成
                            </li>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='2' name="BGLSPX" />&nbsp;&nbsp;获取帽贴
                            </li>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='0' name="BGLSPX" />&nbsp;&nbsp;未完成
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:13%;padding-left: 30px;'>
                        <strong>锅炉作业培训</strong><font face="宋体" color="red">*</font>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='1' name="BGLZYPX" />&nbsp;&nbsp;完成
                            </li>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='2' name="BGLZYPX" />&nbsp;&nbsp;获取帽贴
                            </li>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='0' name="BGLZYPX" />&nbsp;&nbsp;未完成
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:13%;padding-left: 30px;'>
                        <strong>电焊作业培训</strong><font face="宋体" color="red">*</font>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='1' name="BDHZYPX" />&nbsp;&nbsp;完成
                            </li>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='2' name="BDHZYPX" />&nbsp;&nbsp;获取帽贴
                            </li>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='0' name="BDHZYPX" />&nbsp;&nbsp;未完成
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:13%;padding-left: 30px;'>
                        <strong>脚手架作业培训</strong><font face="宋体" color="red">*</font>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='1' name="BJSJZYPX" />&nbsp;&nbsp;完成
                            </li>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='2' name="BJSJZYPX" />&nbsp;&nbsp;获取帽贴
                            </li>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='0' name="BJSJZYPX" />&nbsp;&nbsp;未完成
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:13%;padding-left: 30px;'>
                        <strong>高空作业培训</strong><font face="宋体" color="red">*</font>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='1' name="BGKZYPX" />&nbsp;&nbsp;完成
                            </li>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='2' name="BGKZYPX" />&nbsp;&nbsp;获取帽贴
                            </li>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='0' name="BGKZYPX" />&nbsp;&nbsp;未完成
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:13%;padding-left: 30px;'>
                        <strong>急救培训</strong><font face="宋体" color="red">*</font>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='1' name="BJJPX" />&nbsp;&nbsp;完成
                            </li>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='2' name="BJJPX" />&nbsp;&nbsp;获取帽贴
                            </li>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='0' name="BJJPX" />&nbsp;&nbsp;未完成
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:13%;padding-left: 30px;'>
                        <strong>无具体培训需求</strong><font face="宋体" color="red">*</font>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='1' name="BNONEPX" />&nbsp;&nbsp;是
                            </li>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='0' name="BNONEPX" />&nbsp;&nbsp;否
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div id="" class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;安全参与</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">

            <div class="panel-body">

                <ul id="">
                    <li style='float:left;width:13%;padding-left: 30px;'>
                        <strong>安全观察卡</strong><font face="宋体" color="red">*</font>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='4' name="CAQGCK" />&nbsp;&nbsp;&ge;4
                            </li>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='3' name="CAQGCK" />&nbsp;&nbsp;3
                            </li>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='2' name="CAQGCK" />&nbsp;&nbsp;2
                            </li>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='1' name="CAQGCK" />&nbsp;&nbsp;1
                            </li>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='0' name="CAQGCK" />&nbsp;&nbsp;0
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:13%;padding-left: 30px;'>
                        <strong>领先指标卡</strong><font face="宋体" color="red">*</font>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='4' name="CLXZBK" />&nbsp;&nbsp;&ge;4
                            </li>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='3' name="CLXZBK" />&nbsp;&nbsp;3
                            </li>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='2' name="CLXZBK" />&nbsp;&nbsp;2
                            </li>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='1' name="CLXZBK" />&nbsp;&nbsp;1
                            </li>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='0' name="CLXZBK" />&nbsp;&nbsp;0
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:13%;padding-left: 30px;'>
                        <strong>安全会议</strong><font face="宋体" color="red">*</font>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='4' name="CAQHY" />&nbsp;&nbsp;&ge;4
                            </li>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='3' name="CAQHY" />&nbsp;&nbsp;3
                            </li>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='2' name="CAQHY" />&nbsp;&nbsp;2
                            </li>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='1' name="CAQHY" />&nbsp;&nbsp;1
                            </li>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='0' name="CAQHY" />&nbsp;&nbsp;0
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:13%;padding-left: 30px;'>
                        <strong>作业安全交底</strong><font face="宋体" color="red">*</font>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='4' name="CZYAQJD" />&nbsp;&nbsp;&ge;4
                            </li>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='3' name="CZYAQJD" />&nbsp;&nbsp;3
                            </li>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='2' name="CZYAQJD" />&nbsp;&nbsp;2
                            </li>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='1' name="CZYAQJD" />&nbsp;&nbsp;1
                            </li>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='0' name="CZYAQJD" />&nbsp;&nbsp;0
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:13%;padding-left: 30px;'>
                        <strong>安全检查</strong><font face="宋体" color="red">*</font>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='4' name="CAQJC" />&nbsp;&nbsp;&ge;4
                            </li>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='3' name="CAQJC" />&nbsp;&nbsp;3
                            </li>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='2' name="CAQJC" />&nbsp;&nbsp;2
                            </li>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='1' name="CAQJC" />&nbsp;&nbsp;1
                            </li>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='0' name="CAQJC" />&nbsp;&nbsp;0
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:13%;padding-left: 30px;'>
                        <strong>安全培训</strong><font face="宋体" color="red">*</font>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='4' name="CAQPX" />&nbsp;&nbsp;&ge;4
                            </li>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='3' name="CAQPX" />&nbsp;&nbsp;3
                            </li>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='2' name="CAQPX" />&nbsp;&nbsp;2
                            </li>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='1' name="CAQPX" />&nbsp;&nbsp;1
                            </li>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='0' name="CAQPX" />&nbsp;&nbsp;0
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div id="" class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;岗位安全</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <div class="panel-default"> <strong>本月主要岗位任务</strong></div>
            <div class="panel-body">
                <textarea id="MainTask" type="text" maxlength="200" class="form-control"></textarea>
            </div>
            <div class="panel-default"> <strong>潜在安全风险</strong></div>
            <div class="panel-body">
                <textarea id="SafeRisk" type="text" maxlength="200" class="form-control"></textarea>
            </div>
            <div class="panel-default"> <strong>关键控制风险措施</strong></div>
            <div class="panel-body">
                <textarea id="ControlMeasure" type="text" maxlength="200" class="form-control"></textarea>
            </div>
        </div>
    </div>
    <div id="" class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;工余安健环</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">

            <div class="panel-default"> <strong>交通</strong></div>
            <div class="panel-body">
                <ul id="">
                    <li style='float:left;width:20%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='超过限制速度驾驶' name="ETraffic" />&nbsp;&nbsp;超过限制速度驾驶
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:20%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='饮酒后驾驶' name="ETraffic" />&nbsp;&nbsp;饮酒后驾驶
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:20%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='驾驶中打电话、疲劳、精力分散' name="ETraffic" />&nbsp;&nbsp;驾驶中打电话、疲劳、精力分散
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:20%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='逆行驾车、开斗气车' name="ETraffic" />&nbsp;&nbsp;逆行驾车、开斗气车
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:20%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='驾车前行调头、违规停车' name="ETraffic" />&nbsp;&nbsp;驾车前行调头、违规停车
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:20%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='搭顺风车' name="ETraffic" />&nbsp;&nbsp;搭顺风车
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:20%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='上、下车未注意头上、脚下安全' name="ETraffic" />&nbsp;&nbsp;上、下车未注意头上、脚下安全
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:20%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='私自允许本单位人员乘坐本单位车辆' name="ETraffic" />&nbsp;&nbsp;私自允许本单位人员乘坐本单位车辆
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:20%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='非停靠站点拦截车辆' name="ETraffic" />&nbsp;&nbsp;非停靠站点拦截车辆
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:20%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='骑车未佩戴安全头盔' name="ETraffic" />&nbsp;&nbsp;骑车未佩戴安全头盔
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:20%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='行走、驾驶抢道路、闯红灯' name="ETraffic" />&nbsp;&nbsp;行走、驾驶抢道路、闯红灯
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:20%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <table><tr><td>其他  &nbsp;&nbsp; </td><td> <input type='text' value='' maxlength="200" id="TraOther" onmousemove="this.title=this.value" class="form-control" /></td></tr></table>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="panel-default"> <strong>用电</strong></div>
            <div class="panel-body">
                <ul id="">
                    <li style='float:left;width:20%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='不合格的家电设备' name="EElectricity" />&nbsp;&nbsp;不合格的家电设备
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:20%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='破损的家电设备' name="EElectricity" />&nbsp;&nbsp;破损的家电设备
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:20%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='电器设备安全装置缺失' name="EElectricity" />&nbsp;&nbsp;电器设备安全装置缺失
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:20%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='人离开未切断电源' name="EElectricity" />&nbsp;&nbsp;人离开未切断电源
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:20%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <table><tr><td>其他  &nbsp;&nbsp; </td><td> <input type='text' value='' onmousemove="this.title=this.value" id="EleOther" maxlength="200" class="form-control" /></td></tr></table>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="panel-default"> <strong>防火</strong></div>
            <div class="panel-body">
                <ul id="">
                    <li style='float:left;width:20%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='电气超载过热' name="EFire" />&nbsp;&nbsp;电气超载过热
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:20%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='气瓶、管道老化' name="EFire" />&nbsp;&nbsp;气瓶、管道老化
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:20%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='错误使用微波炉/烤炉/电饭煲/电熨斗' name="EFire" />&nbsp;&nbsp;错误使用微波炉/烤炉/电饭煲/电熨斗
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:20%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='消防器材失效或缺失' name="EFire" />&nbsp;&nbsp;消防器材失效或缺失
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:20%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='堆积大量的可燃易燃材料未处理' name="EFire" />&nbsp;&nbsp;堆积大量的可燃易燃材料未处理
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:20%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <table><tr><td>其他  &nbsp;&nbsp; </td><td> <input type='text' id="FireOther" onmousemove="this.title=this.value" value='' maxlength="200" class="form-control" /></td></tr></table>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="panel-default"> <strong>体力操作</strong></div>
            <div class="panel-body">
                <ul id="">
                    <li style='float:left;width:20%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='地板水渍、油污' name="EPower" />&nbsp;&nbsp;地板水渍、油污
                            </li>
                        </ul>
                    </li>

                    <li style='float:left;width:20%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='地面或通道有杂物' name="EPower" />&nbsp;&nbsp;地面或通道有杂物
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:20%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='超出体力搬运' name="EPower" />&nbsp;&nbsp;超出体力搬运
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:20%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='操作遮挡视线' name="EPower" />&nbsp;&nbsp;操作遮挡视线
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:20%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='无防护擦窗' name="EPower" />&nbsp;&nbsp;无防护擦窗
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:20%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='阳台外有易坠重物' name="EPower" />&nbsp;&nbsp;阳台外有易坠重物
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:20%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='用椅子高处取物' name="EPower" />&nbsp;&nbsp;用椅子高处取物
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:20%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='弯腰取物' name="EPower" />&nbsp;&nbsp;弯腰取物
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:20%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <table><tr><td>其他  &nbsp;&nbsp; </td><td> <input type='text' id="PowOther" onmousemove="this.title=this.value" maxlength="200" value='' class="form-control" /></td></tr></table>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="panel-default"> <strong>其他</strong></div>
            <div class="panel-body">
                <ul id="">


                    <li style='float:left;width:20%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='机场闹事' name="EOther" />&nbsp;&nbsp;机场闹事
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:20%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='乘坐扶梯(滚梯)注意力不集中' name="EOther" />&nbsp;&nbsp;乘坐扶梯(滚梯)注意力不集中
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:20%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='非游泳区游泳' name="EOther" />&nbsp;&nbsp;非游泳区游泳
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:20%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='宿舍存放危险品' name="EOther" />&nbsp;&nbsp;宿舍存放危险品
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:20%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='宿舍私自容留外人住宿' name="EOther" />&nbsp;&nbsp;宿舍私自容留外人住宿
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:20%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='因声音过大影响他人而产生矛盾、纠纷' name="EOther" />&nbsp;&nbsp;因声音过大影响他人而产生矛盾、纠纷
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:20%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='遭遇诈骗' name="EOther" />&nbsp;&nbsp;遭遇诈骗
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:20%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='违反当地法规、风俗' name="EOther" />&nbsp;&nbsp;违反当地法规、风俗
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:20%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='与社会人员发生纠纷' name="EOther" />&nbsp;&nbsp;与社会人员发生纠纷
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:20%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='喝酒误事、酒后闹事' name="EOther" />&nbsp;&nbsp;喝酒误事、酒后闹事
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:20%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='聚众闹事、聚众赌博、吸毒' name="EOther" />&nbsp;&nbsp;聚众闹事、聚众赌博、吸毒
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:20%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='破坏草坪、花卉、树木' name="EOther" />&nbsp;&nbsp;破坏草坪、花卉、树木
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:20%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <input type='checkbox' value='陷入拥挤、踩踏危险境地' name="EOther" />&nbsp;&nbsp;陷入拥挤、踩踏危险境地
                            </li>
                        </ul>
                    </li>
                    <li style='float:left;width:20%;padding-left: 30px;'>
                        <ul>
                            <li style='font-size:16px;padding-bottom: 20px'>
                                <table><tr><td>其他  &nbsp;&nbsp; </td><td> <input type='text' value='' onmousemove="this.title=this.value" id="OthOther" maxlength="200" class="form-control" /></td></tr></table>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="" class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;员工HSE自我评估小结</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">

            <div class="panel-body">
                <textarea id="Summary" type="text" class="form-control" maxlength="500"></textarea>
            </div>

        </div>
    </div>
    <div id="btngroup" class="form-button" style="top:40px; text-align:left; padding-left:20px; position:fixed;bottom:auto;z-index:1000;">
        <a onclick="AcceptClick(0)" class="btn btn-primary"><i class="fa fa-mail-forward"></i>&nbsp;确&nbsp;&nbsp;认</a>
        &nbsp;&nbsp;
        <a onclick="AcceptClick(1)" class="btn btn-primary"><i class="fa fa-mail-forward"></i>&nbsp;提&nbsp;&nbsp;交</a>
        &nbsp;&nbsp;
    </div>
    @*<div id="btnExport" class="form-button" style=" top:40px; text-align left; padding-left 20px; position fixed; bottom auto; z-index 1000;">
        <a onclick="ExportData()" class="btn btn-primary"><i class="fa fa-mail-forward"></i>&nbsp;导&nbsp;&nbsp;出</a>
        &nbsp;&nbsp;
    </div>*@
</div>





