@{;
    ViewBag.Title = "列表页面";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<style type="text/css">
    .panel-TitlePage {
        border-color: #c5c5c5;
        background-color: #fff;
        color: #666;
        height: 32px;
        line-height: 32px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-weight: bold;
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        padding-left: 9px;
    }
</style>
<link href="~/content/scripts/plugins/webuploader/webuploader.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/webuploader/webuploader-demo.css" rel="stylesheet" />
<script type="text/javascript" src="~/content/scripts/plugins/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/fileupload.js"></script>
<script src="~/Content/scripts/business/Common.js"></script>

<script>
    var _deptId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptId";//当前用户部门ID
    var _deptCode = "";//当前用户部门编码
    var userId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().UserId";//当前用户ID
    var role = "@ERCHTMS.Code.OperatorProvider.Provider.Current().RoleName";//获取当前用户权限集合
    var roleName = "@ERCHTMS.Code.OperatorProvider.Provider.Current().RoleName";

    $(function () {
        InitialPage();
        GetTree();
        GetGrid();
    });
    //加载组织机构树
    function GetTree() {
        var json;
        if (roleName.indexOf("省级") >= 0) {
            json = JSON.stringify(
                {
                    SelectMode: 0,
                    Mode: 5
                }
            );
        } else {
            json = JSON.stringify(
                {
                    SelectMode: 0,
                    Mode: 0
                }
            );
        }
        var item = {
            height: $(window).height() - 50,
            url: "../../BaseManage/Department/GetDepartTreeJson?json=" + json,
            onnodeclick: function (item) {
                _deptCode = item.Code;
                _parentId = item.value;
                _isOrg = item.Sort;
                _deptId = item.id;
                $('#search').trigger("click");
            }
        };
        //初始化
        $("#itemTree").treeview(item);

        if ($("#itemTree").html().length == 0) {
            $(".ui-layout-west").hide();
            $('.ui-layout-center').css({ "padding-left": "5px" });
            $('#gridTable').setGridWidth(($('.gridPanel').width()));
            $("#gridTable").setGridHeight($(window).height() - 170);
        } else {
            $('#layout').layout({
                applyDemoStyles: false,
                onresize: function () {
                    $(window).resize()
                }
            });
        }
        //$('#itemTree').setNodeChecked(_deptId);
    }
    //初始化页面
    function InitialPage() {

        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 170);
            }, 200);
            e.stopPropagation();
        });

    }

    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        var queryJson = {
            DeptCode: "",
            keyword: "",
            year: "",
            month: "",
            mydata:""
        };
        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() - 170,
            url:  "/..@Url.Action("GetDataList")",
            postData: { queryJson: JSON.stringify(queryJson) },
            datatype: "json",
            colModel: [
                { label: '主键', name: 'id', index: 'id', width: 100, align: 'left', sortable: true, hidden: true },
                { label: '是否提交', name: 'issubmit', index: 'issubmit', align: 'center', width: 330, sortable: false, hidden: true },
                {
                    label: '操作', name: 'oper', index: 'oper', width: 160, align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        var html = "";

                        html += "<a href=javascript:show('" + rowObject.id + "')  title='查看' name='show'><i class='fa fa-eye'></i></a>";
                        if (rowObject.issubmit && $("#myData").is(":checked")) {
                            html += "<a href=javascript:edit('" + rowObject.id + "')  title='编辑' name='edit'><i class='fa fa-pencil-square-o'></i></a>";
                            html += "<a href=javascript:del('" + rowObject.id + "')  title='删除' name='del'><i class='fa fa-trash-o'></i></a>";
                        }
                        return html;
                    }
                },
                { label: '姓名', name: 'name', index: 'name',align: 'center',width:330, sortable: false },
                { label: '部门', name: 'dept', index: 'dept', width: 330, align: 'center', sortable: false },
                { label: '岗位', name: 'rolename', index: 'rolename', width: 330, align: 'center', sortable: false },
                {
                    label: '提交时间', name: 'time', index: 'time', width: 330, align: 'center', sortable: false, formatter: "date",
                    formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
                }

            ],
            multiboxonly: true,
            multiselect: false,
            viewrecords: true,
            rowNum: 30,
            rowList: [30, 50, 100],
            pager: "#gridPager",
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);
                $gridTable.setGridWidth(($('.gridPanel').width() - 2));
            }
        });
        //查询事件
        $("#search").click(function () {
            var ck = "";
            if ($("#myData").is(":checked")) {
                ck = "1";
            }
            var queryJson = {
                year: $("#Year").val(),
                keyword: $('#txt_Keyword').val(),
                month: $("#month").val(),
                mydata:ck,
                DeptCode: _deptCode
            }
            $gridTable.jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify(queryJson) }, page: 1
            }).trigger('reloadGrid');
        });
        //查询回车
        $('#txt_Keyword').bind('keypress', function (event) {
            if (event.keyCode == "13") {
                $('#search').trigger("click");
            }
        });
    }

    //查看
    function show(keyValue) {
        var idx0 = dialogOpen({
            id: 'HESZWPG',
            title: '员工HES 自我评估详情',
            url:'/..@Url.Action("DetailRecord")?keyValue=' + keyValue,
            width:"900px",
            height:"900px",
            btn: ["关闭"],
            callBack: function (iframeId) {
                top.layer.close(idx0);
            }
        });
    }
    //删除
    function del(id) {
        var keyValue = id;
        if (keyValue) {
            $.RemoveForm({
                url: '/..@Url.Action("DelEntity")?keyValue=' + keyValue,
                param: { keyValue: keyValue },
                success: function (data) {
                    $('#gridTable').trigger('reloadGrid');
                }
            })
        } else {
            dialogMsg('请选择需要删除的观察记录表！', 0);
        }
    }
    function add() {
            var dlg = dialogOpen({
                id: 'Form',
                title: '新增自我评估',
                url: '/..@Url.Action("Form")?mode=add',
                width: ($(top.window).width() - 100) + "px",
                height: ($(top.window).height() - 100) + "px",
                btn: null,
                callBack: function (iframeId) {
                    top.layer.close(dlg);
                }
            })

    }
        function edit(id) {

        var keyValue = id;
        if (checkedRow(keyValue)) {
            var dlg = dialogOpen({
                id: 'Form',
                title: '编辑安全观察卡',
                url: '/..@Url.Action("Form")?keyValue=' + keyValue + '&mode=edit',
                width: ($(top.window).width() - 100) + "px",
                height: ($(top.window).height() - 100) + "px",
                btn: null,
                callBack: function (iframeId) {
                    top.layer.close(dlg);
                }
            })
        }
    }
</script>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-west">
        <div class="west-Panel">
            <div class="panel-Title">
                <div class="col-md-10">
                    组织机构
                </div>
                <div class="col-md-2 text-right" style="padding-right:8px;">
                    <i class="fa fa-arrow-left" onclick="setBar(this)" style="cursor:pointer;" title="展开/收起"></i>
                </div>
            </div>
            <div id="itemTree"></div>
        </div>
    </div>
    <div class="ui-layout-center">
        <div class="center-Panel">
            <div class="panel-Title">HSE自我评估台账</div>
            <div class="titlePanel">
                <div class="title-search">
                    <table>
                        <tr>
                            <td style="padding-left: 10px;">年份</td>
                            <td style="padding-left: 10px;">
                                <input id="Year" type="text" style="width: 120px; " class="form-control input-datepicker" onfocus="WdatePicker({ dateFmt: 'yyyy' })" />
                            </td>
                            <td style="padding-left: 10px;">月份</td>
                            <td style="padding-left: 10px;">
                                <input id="month" type="text" style="width: 120px; " class="form-control input-datepicker" onfocus="WdatePicker({ dateFmt: 'M' })" />
                            </td>

                            <td style="padding-left: 10px;">&nbsp;&nbsp;&nbsp;姓名</td>
                            <td>
                                <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入人员名称" style="width: 200px;" />
                            </td>

                            <td style="padding-left: 10px;"><input type="checkbox" id="myData" /></td>
                            <td>
                                我的
                            </td>
                            <td style="padding-left: 5px;">
                                <a id="search" class="btn btn-primary"><i class="fa fa-search"></i>搜索</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="toolbar">
                    <div class="btn-group">
                        <a class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
                    </div>
                    <script>$('.toolbar').authorizeButton()</script>


                </div>
            </div>
            <div class="gridPanel">
                <table id="gridTable"></table>
                <div id="gridPager"></div>
            </div>
        </div>
    </div>
</div>

