
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/content/scripts/plugins/highcharts/highcharts.7.0.js"></script>
<script src="~/content/scripts/plugins/highcharts/modules/exporting.7.0.js"></script>
<script src="~/content/scripts/plugins/highcharts/modules/drilldown.7.0.js"></script> @*下钻获取图表数据*@
<script>

    $(function () {
        LoadData();
        GetGrid();
    });

    function LoadData() {
        //    series: [{ "name": "需监督", "id": "ybyh", "data": [{ "name": "财务部", "y": 0, "drilldown": "yb001008" }, { "name": "综合部", "y": 0, "drilldown": "yb001007" }, { "name": "安环部", "y": 11, "drilldown": "yb001001" }, { "name": "生技部", "y": 17, "drilldown": "yb001002" }, { "name": "运行部", "y": 4, "drilldown": "yb001003" }, { "name": "配电部", "y": 0, "drilldown": "yb001005" }, { "name": "煤质燃料中心", "y": 0, "drilldown": "yb001006" }, { "name": "F发电有限责任公司承包商", "y": 0, "drilldown": "yb001004" }] }, { "name": "已监督", "id": "zdyh", "data": [{ "name": "财务部", "y": 0, "drilldown": "zd001008" }, { "name": "综合部", "y": 0, "drilldown": "zd001007" }, { "name": "安环部", "y": 9, "drilldown": "zd001001" }, { "name": "生技部", "y": 6, "drilldown": "zd001002" }, { "name": "运行部", "y": 2, "drilldown": "zd001003" }, { "name": "配电部", "y": 0, "drilldown": "zd001005" }, { "name": "煤质燃料中心", "y": 0, "drilldown": "zd001006" }, { "name": "F发电有限责任公司承包商", "y": 0, "drilldown": "zd001004" }] }],
        //    drilldown: {
        //        series: [{ "name": "需监督", "id": "yb001008", "data": [{ "name": "szf", "y": 0, "drilldown": "next_yb_" }, { "name": "财务部", "y": 0, "drilldown": "next_yb_" }] }, { "name": "已监督", "id": "zd001008", "data": [{ "name": "szf", "y": 0, "drilldown": "next_zd_" }, { "name": "财务部", "y": 0, "drilldown": "next_zd_" }] }, { "name": "需监督", "id": "yb001007", "data": [{ "name": "综合部", "y": 0, "drilldown": "next_yb_" }] }, { "name": "已监督", "id": "zd001007", "data": [{ "name": "综合部", "y": 0, "drilldown": "next_zd_" }] }, { "name": "需监督", "id": "yb001001", "data": [{ "name": "安环部", "y": 11, "drilldown": "next_yb_001001" }] }, { "name": "已监督", "id": "zd001001", "data": [{ "name": "安环部", "y": 9, "drilldown": "next_zd_001001" }] }, { "name": "需监督", "id": "yb001002", "data": [{ "name": "生计班组B", "y": 0, "drilldown": "next_yb_" }, { "name": "123", "y": 0, "drilldown": "next_yb_" }, { "name": "生技班组A", "y": 13, "drilldown": "next_yb_001002001" }, { "name": "生技部", "y": 4, "drilldown": "next_yb_001002" }] }, { "name": "已监督", "id": "zd001002", "data": [{ "name": "生计班组B", "y": 0, "drilldown": "next_zd_" }, { "name": "123", "y": 0, "drilldown": "next_zd_" }, { "name": "生技班组A", "y": 6, "drilldown": "next_zd_001002001" }, { "name": "生技部", "y": 0, "drilldown": "next_zd_001002" }] }, { "name": "需监督", "id": "yb001003", "data": [{ "name": "汽机运行班组", "y": 3, "drilldown": "next_yb_001003001" }, { "name": "化学专业", "y": 0, "drilldown": "next_yb_" }, { "name": "运行部", "y": 1, "drilldown": "next_yb_001003" }] }, { "name": "已监督", "id": "zd001003", "data": [{ "name": "汽机运行班组", "y": 2, "drilldown": "next_zd_001003001" }, { "name": "化学专业", "y": 0, "drilldown": "next_zd_" }, { "name": "运行部", "y": 0, "drilldown": "next_zd_001003" }] }, { "name": "需监督", "id": "yb001005", "data": [{ "name": "配电部", "y": 0, "drilldown": "next_yb_" }] }, { "name": "已监督", "id": "zd001005", "data": [{ "name": "配电部", "y": 0, "drilldown": "next_zd_" }] }, { "name": "需监督", "id": "yb001006", "data": [{ "name": "燃料专业", "y": 0, "drilldown": "next_yb_" }, { "name": "燃料运行班组", "y": 0, "drilldown": "next_yb_" }, { "name": "锅炉运行班组", "y": 0, "drilldown": "next_yb_" }, { "name": "煤质燃料中心", "y": 0, "drilldown": "next_yb_" }] }, { "name": "已监督", "id": "zd001006", "data": [{ "name": "燃料专业", "y": 0, "drilldown": "next_zd_" }, { "name": "燃料运行班组", "y": 0, "drilldown": "next_zd_" }, { "name": "锅炉运行班组", "y": 0, "drilldown": "next_zd_" }, { "name": "煤质燃料中心", "y": 0, "drilldown": "next_zd_" }] }, { "name": "需监督", "id": "yb001004", "data": [{ "name": "测试承包商一", "y": 0, "drilldown": "next_yb_" }, { "name": "承包商C", "y": 0, "drilldown": "next_yb_" }, { "name": "承包商A", "y": 0, "drilldown": "next_yb_" }, { "name": "承包商B", "y": 0, "drilldown": "next_yb_" }, { "name": "承包商", "y": 0, "drilldown": "next_yb_" }, { "name": "F发电有限责任公司承包商", "y": 0, "drilldown": "next_yb_" }] }, { "name": "已监督", "id": "zd001004", "data": [{ "name": "测试承包商一", "y": 0, "drilldown": "next_zd_" }, { "name": "承包商C", "y": 0, "drilldown": "next_zd_" }, { "name": "承包商A", "y": 0, "drilldown": "next_zd_" }, { "name": "承包商B", "y": 0, "drilldown": "next_zd_" }, { "name": "承包商", "y": 0, "drilldown": "next_zd_" }, { "name": "F发电有限责任公司承包商", "y": 0, "drilldown": "next_zd_" }] }]
        //    },
          var year = $("#year").val();
        var month = $("#month").val();
        $.ajax({
            url: "/..@Url.Action("GetChartsData")",
            type: "POST",
            data: { year: year, month: month },
            success: function (data) {
                $('#Charts').highcharts({
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: '<b>HSE自我评估填报情况统计</b>'
                    },
                    subtitle: {
                        text: '点击可查看各班组的具体数据</a>.'
                    },
                    xAxis: {
                        type: 'category'
                    },
                    yAxis: {
                        title: {
                            text: '填报率'
                        }
                    },
                    exporting: {
                        enabled: false
                    },
                    legend: {
                        enabled: false
                    },
                    plotOptions: {
                        series: {
                            borderWidth: 0,
                            dataLabels: {
                                enabled: true,
                                format: '{point.y:.1f}%'
                            }
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:11px;">{series.name}</span><br>',
                        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b><br/>'
                    },
                    series: [{
                        name: '填报率',
                        colorByPoint: true,
                        data: data.Data.Xseriess
                    }],
                    drilldown: {
                        series: data.Data.Seriess
                    }
                })
                },
                error: function (error) {
                    console.log(error)
                    dialogMsg('请求失败！', 0);
                }
            });
    }

    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        var year = $("#year").val();
        var month = $("#month").val();
        var queryJson = { year: year, month: month };
        $gridTable.jqGrid({
            url: "/..@Url.Action("GetTableData")",
            datatype: "json",
            postData: { queryJson: JSON.stringify(queryJson) },
            height: $(window).height() - 120,
            autowidth: true,
            colModel: [
                { label: "DeptCode", name: "DeptCode", index: "DeptCode", width: 50, hidden: true },
                { label: "Id", name: "Id", index: "Id", width: 50, hidden: true },
                { label: "DeptId", name: "DeptId", index: "DeptId", width: 50, hidden: true },
                { label: '部门名称', name: 'Name' },
                { label: '已提交张数', name: 'SubmitCount', align: "center", sortable: false},
                { label: '应提交人数', name: 'AllUserCount', align: "center", sortable: false},
                { label: '未提交人数', name: 'NotSubmitCount', align: "center", sortable: false },
                { label: "参与度", name: "CYD", width: 200, align: "center", sortable: false },
                {
                    label: "提报情况小结", name: "Nature", index: "Nature", align: "center", sortable: false, formatter: function (val, d, row) {
                        if (val !="厂级") {
                            return '<a class="btn btn-default" onclick="Detail(\'' + row.DeptId + '\');">&nbsp;填报情况小结</a>'
                        }
                        return "";
                    }
                },
            ],
            treeGrid: true,
            treeGridModel: "nested",
            ExpandColumn: "SubmitCount",
            rowNum: "all",
            rownumbers: true,
            onSelectRow: function (rowid) {
                selectedRowIndex = $("#" + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $("#" + this.id).setSelection(selectedRowIndex, false);
            }
        });
    }

    function Detail(deptId) {
        var year = $("#year").val();
        var month = $("#month").val();
        dialogOpen({
            id: 'Form',
            title: "填报情况",
            url: '/..@Url.Action("Detail")?deptid=' + deptId + "&year=" + year + "&month=" + month,
            width: ($(top.window).width() - 300) + "px",
            height: ($(top.window).height() - 150) + "px",
            btn: null,
            callBack: function () {

            }
        })
    }

    function Search() {
        LoadData();
        var year = $("#year").val();
        var month = $("#month").val();
        var queryJson = { year: year, month: month };
        $('#gridTable').jqGrid('setGridParam', {
            postData: { queryJson: JSON.stringify(queryJson) },
            page: 1
        }).trigger('reloadGrid');
    }
</script>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="center-Panel" style="margin-left:10px;">

        <div class="titlePanel">
            <div class="title-search">
                <table>
                    <tr>
                        <td>
                            年份&nbsp;&nbsp;
                        </td>
                        <td style="padding-left: 2px;">
                            @Html.DropDownList("year", ViewBag.YearList as IEnumerable<SelectListItem>, new { @style = "width:100px;" })
                        </td>
                        <td style="padding-left: 2px;">
                            &nbsp;&nbsp;月份&nbsp;&nbsp;
                        </td>
                        <td style="padding-left: 2px;">
                            @Html.DropDownList("month", ViewBag.MonthList as IEnumerable<SelectListItem>)
                        </td>
                        <td style="padding-left: 2px;">
                            <a class="btn btn-default" onclick="Search();"><i class="fa fa-refresh"></i>&nbsp;查询</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="Charts" style=" float:left; width:100%;"></div>
        <div style="padding-top:20px; float:left; width:100%;">
            <table id="gridTable"></table>
        </div>
    
    </div>
</div>

