@{
    ViewBag.Title = "BuilderImage";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script type="text/javascript">
    var arrIds = new Array();
    var arrNames = new Array();
    function AcceptClick() {
        var userIds = "", userNames = "";
        $(arrIds).each(function (i,item) {
            userIds += item + ",";
            userNames += arrNames[i] + ",";
        });
        Loading(true, "正在生成……");
        $.post("../../PersonManage/Person/BuilderImg", { userId: userIds, userName: userNames, pType: "区域" }, function (data) {
            Loading(false);
            var json = eval("("+data+")");
            window.location.href = "../../Utility/DownloadFile?filePath=~/Resource/temp/" + json.resultdata.fileName;
        });
    }
    $(function () {
        var userIds = $.currentIframe().window.$("#gridTable").jqGridRowValue("DistrictID");
        var userNames = $.currentIframe().window.$("#gridTable").jqGridRowValue("LinkMail");
       
        if (userIds.length==0) {
            $($.currentIframe().window.$("#gridTable").getRowData()).each(function (j, item) {
                arrIds.push(item.DistrictID);
                arrNames.push(item.LinkMail);

            });
        } else {
            arrIds = userIds.split(",");
            arrNames = userNames.split(",");
        }
        var html = "";
        $(arrIds).each(function (i, id) {
            var j = i + 1;
            if (j % 6 == 0) {
                html += "<div class='row'>";
            }
            html += '<div class="col-sm-2" style="text-center:center;"><img src="' + top.contentPath + '/Utility/BuilderImage?keyValue=' + id + '|区域" /><div style="text-align:center;">' + arrNames[i] + '</div></div>';
            if (j % 6 == 0) {
                html += "</div>";
            }
        });
        $("#container").append(html);
    });
</script>
 <div id="container" style="margin:10px;">
 </div>