@{;
ViewBag.Title = "列表页面";
Layout = "~/Views/Shared/_Index.cshtml";
}
<script type="text/javascript">
    var areaIds = request('areaIds');
    var checkAreaids = "";
    $(function () {
        initControl();

    });
    //初始化数据
    function initControl() {
        if (areaIds != "" && areaIds != undefined) {
            checkAreaids=top.Form.$("#" + areaIds).val();
        }
        var item = {
            cascadecheck: false,
            showcheck: true,
            method: "post",
            url: "../../BaseManage/District/GetTreeJson",
            param: { orgID: top.currUserOrgId, checkAreaids: checkAreaids }
        };
        $("#AreaTree").treeview(item);
    }
    function AcceptClick(winObject, domId, _win, callback) {
        var selVal = new Array();
        if (winObject != undefined && domId != undefined) {
            if (domId.length > 0) {
                var AreaTree = $("#AreaTree");
                selVal = new Array(AreaTree.getCheckedTexts(), AreaTree.getCheckedValues(), AreaTree.getCheckedIds());
                var ids = domId.split(',');
                for (var j = 0; j < ids.length; j++) {
                    if (ids[j].length > 0) {
                        var dom = $(winObject).find("#" + ids[j]).eq(0);
                        if (dom != undefined) {
                            dom.val(selVal[j]);
                        }
                    }
                }
            }
            if (AreaTree.getCheckedTexts() == null) {
                    dialogMsg("请选择区域", 0);
                    return;
                }
            if (_win != undefined) {
                if (typeof (_win.callBackSelect) == "function") {
                    _win.callBackSelect();
                }
            }
            if (callback) {
                callback();
            }
            dialogClose();
        }
    }

</script>
<div style="margin: 10px;">
    <div id="AreaTree"></div>
</div>

