@{;
ViewBag.Title = "报表";
Layout = "~/Views/Shared/_Form.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>报表</title>
    <script src="~/Content/Scripts/plugins/highcharts/highcharts.js"></script>
    <script src="~/Content/Scripts/plugins/highcharts/highcharts-more.js"></script>
    <script src="~/Content/Scripts/plugins/highcharts/modules/exporting.js"></script>
    <link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
    <script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="~/content/scripts/business/common.js"></script>
    <script src="~/Content/scripts/business/Grid.js"></script>




    <style type="text/css">
        .li {
        }

        .tab0 {
            width: 100%;
            border: 1px solid #ccc;
        }

            .tab0 td {
                background-color: #f7f7f7;
                height: 40px;
                text-align: center;
                border: 1px solid #ccc;
                width: 16.666%;
            }

            .tab0 th {
                background-color: #f7f7f7;
                height: 40px;
                text-align: center;
                border-color: #ccc;
                width: 16.666%;
            }

        .tab1 {
            width: 100%;
            border: 1px solid #ccc;
        }

            .tab1 td {
                background-color: white;
                height: 30px;
                border: 1px solid #ccc;
            }

        a {
            color: black;
        }

        .stat_number {
            text-decoration: underline;
        }
    </style>

    <script>
        var mode = 0;
        var id = 0;
        var roleNames = "@ERCHTMS.Code.OperatorProvider.Provider.Current().RoleName";
        $(function () {
            InitialPage();
            changeTab(1, $("#btnWarn1"))
        })

        //初始化
        function InitialPage() {
            $('#desktop').height($(window).height() - 22);
            $(window).resize(function (e) {
                window.setTimeout(function () {
                    $('#desktop').height($(window).height() - 22);
                }, 200);
                e.stopPropagation();
            });
            var width = ($(window).width() / 3) - 30;
            //$("#divFX").width(width); $("#divJC").width(width); $("#divSGYH").width(width);
        }
        var isWork = false;//双控工作ajax请求加载标识
        var isRank = false;//隐患曝光与风险排名ajax请求加载标识
        //导航切换
        //导航切换
        function changeTab(idx, obj) {
            id = idx;
            if (id == 1) {
                $("#c1").show();
                $("#c2").hide();
            }
            else {
                $("#c2").show();
                $("#c1").hide();
            }
            $(".btn-default").removeClass("btn-primary");
            $(".li").removeClass("btn-primary");
            $(obj).addClass("btn-primary");
            $(".btn-default").addClass("btn-default");
            drawChart(idx);
        }
        function Search() {

            drawChart(id);

        }

    </script>

    <script type="text/javascript">
        var chatObj = {};


        function drawChart(type) {
            var Time = $("#Time").val();
            $.post("../../HazardsourceManage/Hisrelationhd_qd/GetReport?type=" + type + "&Time=" + Time, function (riskVal) {
                var json = eval("(" + riskVal + ")");
                //alert(JSON.stringify(json));
                var arr = new Array();
                //X轴显示
                var arrdatasjX = new Array();
                var arrdatasjYOne = new Array();
                var arrdatasjYTwo = new Array();
                var arrdatasjYThree = new Array();
                var arrdatasjYFour = new Array();
                var html1 = '<table cellpadding="0" cellspacing="0" class="tab1" border="1" style="width:100%;">';
                html1 += '<tr  style="font-weight: bold;">';
                html1 += '<td align="center">重大危险源等级</td>';
                html1 += '<td align="center">数量</td>';
                html1 += '<td align="center">所占比例</td>';
                html1 += '</tr>';
                var html2 = '<table cellpadding="0" cellspacing="0" class="tab1" border="1" style="width:100%;">';
                html2 += '<tr  style="font-weight: bold;">';
                html2 += '<td align="center">区域\重大危险源等级</td>';
                html2 += '<td align="center">一级重大危险源</td>';
                html2 += '<td align="center">二级重大危险源</td>';
                html2 += '<td align="center">三级重大危险源</td>';
                html2 += '<td align="center">四级重大危险源</td>';
                html2 += '<td align="center">合计</td>';
                html2 += '</tr>';

                for (var i = 0; i < json.list.length; i++) {
                    if (type == 1) {
                        if (json.list[i].text == undefined || json.list[i].text == null) continue;
                        arr.push([json.list[i].text, json.list[i].value])

                        html1 += "<tr>"
                        html1 += '<td align="center">' + json.list[i].text + '</td>';
                        html1 += '<td align="center">'
                        if (json.list[i].value == 0)
                            html1 += json.list[i].value;
                        else
                            html1 += ("<a href=javascript:DialogOpenShow('/HazardsourceManage/Hisrelationhd_qd/Select?IsDanger=1&Grade=" + json.list[i].text + "','查看重大危险源','',''," + true + ") style='color:blue; text-decoration:underline'  title='查看'>" + json.list[i].value + "</a>");
                        html1 += '</td>'
                        html1 += '<td align="center">' + json.list[i].bfb + '%</td>';
                        html1 += "</tr>"
                    }
                    if (type == 2) {
                        arrdatasjX.push(json.list[i].text);
                        arrdatasjYOne.push(json.list[i].one);
                        arrdatasjYTwo.push(json.list[i].two);
                        arrdatasjYThree.push(json.list[i].three);
                        arrdatasjYFour.push(json.list[i].four);
                        html2 += "<tr>"
                        html2 += '<td align="center">' + json.list[i].text + '</td>';
                        html2 += '<td align="center">' + ("<a href=javascript:DialogOpenShow('/HazardsourceManage/Hisrelationhd_qd/Select?IsDanger=1&Grade=一级&DistrictName=" + json.list[i].text + "&TimeYear=" + Time + "','查看重大危险源','',''," + true + ") style='color:blue; text-decoration:underline'  title='查看'>" + json.list[i].one + "</a>") + '</td>';
                        html2 += '<td align="center">' + ("<a href=javascript:DialogOpenShow('/HazardsourceManage/Hisrelationhd_qd/Select?IsDanger=1&Grade=二级&DistrictName=" + json.list[i].text + "&TimeYear=" + Time + "','查看重大危险源','',''," + true + ") style='color:blue; text-decoration:underline'  title='查看'>" + json.list[i].two + "</a>") + '</td>';
                        html2 += '<td align="center">' + ("<a href=javascript:DialogOpenShow('/HazardsourceManage/Hisrelationhd_qd/Select?IsDanger=1&Grade=三级&DistrictName=" + json.list[i].text + "&TimeYear=" + Time + "','查看重大危险源','',''," + true + ") style='color:blue; text-decoration:underline'  title='查看'>" + json.list[i].three + "</a>") + '</td>';
                        html2 += '<td align="center">' + ("<a href=javascript:DialogOpenShow('/HazardsourceManage/Hisrelationhd_qd/Select?IsDanger=1&Grade=四级&DistrictName=" + json.list[i].text + "&TimeYear=" + Time + "','查看重大危险源','',''," + true + ") style='color:blue; text-decoration:underline'  title='查看'>" + json.list[i].four + "</a>") + '</td>';
                        html2 += '<td align="center">' + ("<a href=javascript:DialogOpenShow('/HazardsourceManage/Hisrelationhd_qd/Select?IsDanger=1&Grade=All&DistrictName=" + json.list[i].text + "&&TimeYear=" + Time + "','查看重大危险源','',''," + true + ") style='color:blue; text-decoration:underline'  title='查看'>" + json.list[i].value + "</a>") + '</td>';

                        //html2 += '<td align="center">' + json.list[i].two + '</td>';
                        //html2 += '<td align="center">' + json.list[i].three + '</td>';
                        //html2 += '<td align="center">' + json.list[i].four + '</td>';
                        //html2 += '<td align="center">' + json.list[i].value + '</td>';
                        html2 += "</tr>"
                    }

                }

                switch (type) {

                    case 1:
                        html1 += '</tr>';
                        html1 += "</table>";
                        $("#gridTable1").html(html1);
                        LoadContainer1();
                        $("#c1").highcharts().series[0].setData(arr);
                        break;
                    case 2:
                        var data2 = [

                     {
                         name: '一级重大危险源',
                         type: "column",
                         colorByPoint: false,
                         data: arrdatasjYOne,
                         stack: "0",
                     }, {
                         name: '二级重大危险源',
                         type: "column",
                         colorByPoint: false,
                         data: arrdatasjYTwo,
                         stack: "1",
                     }, {
                         name: '三级重大危险源',
                         type: "column",
                         colorByPoint: false,
                         data: arrdatasjYThree,
                         stack: "2",
                     },
                 {
                     name: '四级重大危险源',
                     type: "column",
                     colorByPoint: false,
                     data: arrdatasjYFour,
                     stack: "3",
                 }
                        ];
                        html2 += '</tr>';
                        html2 += "</table>";
                        //按事故等级统计
                        $("#gridTable1").html(html2);
                        LoadContainer2(data2, arrdatasjX);
                        break
                    default:
                        break;
                }




            });
        }

        //加载病状
        function LoadContainer1() {
            //图形
            $("#c1").highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                tooltip: { pointFormat: '{series.name}: <b>{point.percentage:.2f}%</b>' },
                exporting: { enabled: false },
                title: { text: '按重大危险源级别统计' },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.2f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        },
                        showInLegend: true
                    }
                },
                series: [{
                    name: '百分比',
                    colorByPoint: true

                }],

                lang: { noData: "暂无数据可显示!" },
                noData: {
                    position: {
                        align: 'center',
                        verticalAlign: 'middle'
                    },
                    attr: {
                        'stroke-width': 1
                    },
                    style: {
                        fontWeight: 'bold',
                        fontSize: '15px',
                        color: '#202030'
                    }
                }
            });
        }

        //加载柱状
        function LoadContainer2(data, dataX) {
            //图形
            $("#c2").highcharts({

                chart: {

                    zoomtype: "xy",


                },

                xAxis: { categories: dataX },
                yAxis: { title: { text: '数量统计' } },

                tooltip: { pointFormat: '{series.name}: <b>{point.y}</b>' },
                exporting: { enabled: false },
                title: { text: '按重大危险源区域统计' },
                plotOptions: {
                    column: {
                        stacking: 'normal',
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,

                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        },
                    }

                },
                series: data,
                lang: { noData: "暂无数据可显示!" },
                noData: {
                    position: {
                        align: 'center',
                        verticalAlign: 'middle'
                    },
                    attr: {
                        'stroke-width': 1
                    },
                    style: {
                        fontWeight: 'bold',
                        fontSize: '15px',
                        color: '#202030'
                    }
                }
            });
        }

    </script>
</head>
<body>




    <div class="center-Panel">
        <div class="panel-Title">重大危险源统计</div>
        <div class="titlePanel">
            <div class="title-search" id="search">

                <table class="queryform" id="searchTab">
                    <tr>

                        <td class="formTitle" id="td4"> 时间范围：</td>
                        <td class="formValue" id="td44">
                            <input id="Time" type="text" value="@DateTime.Now.ToString("yyyy")" class="form-control input-datepicker" onfocus="WdatePicker({ dateFmt: 'yyyy' })" />
                        </td>

                        <td class="formValue">
                            <a id="btn_Search" class="btn btn-primary" onclick="Search();"><i class="fa fa-search"></i>查询</a>
                            <a id="btn" class="btn btn-primary" onclick="printme();"><i class="fa fa-download"></i>导出</a>
                            <script type="text/javascript">
                                function printme() {
                                    //document.body.innerHTML = document.getElementById("divContent").innerHTML;

                                    window.print();
                                }</script>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="toolbar">
                <div class="btn-group">
                    <a id="btnWarn1" class="btn btn-default" onclick="changeTab(1, this)"><i class="fa fa fa-pie-chart"></i>&nbsp;重大危险源级别统计</a>
                    <a id="btnWarn2" class="btn btn-default" onclick="changeTab(2, this)"><i class="fa fa fa-area-chart"></i>&nbsp;重大危险源区域统计</a>

                </div>
            </div>
        </div>


        <div class="portal-panel" style="margin-left:0px;" id="divContent">
            <div class="panel panel-default" id="divTB">
                <div class="panel-heading">
                    <strong>&nbsp;&nbsp;统计图表</strong>
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" title="展开/收起"></a>
                    </span>
                </div>
                <div class="panel-body">
                    <div id="dbcontainer" style="margin:10px;">
                        <div class="portal-panel" style="margin-left:0px;">
                            <div class="row" style="margin-top: 10px;">
                                <div class="row" style="margin-top: 10px;">
                                    <div class="btn-group">
                                    </div>
                                </div>
                            </div>
                            @*事故事件报表*@
                            <div id="divSGSJBB">
                                <div id="c1" style="width: 100%; float: left;" class="con0">

                                    <div class="portal-panel-title" style="font-weight: bold; color: #41b1c6;">

                                        <div id="c1" style="position: relative; left: -15px;">
                                            <center style="margin-top:50px;"><img src="../../content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</center>
                                        </div>



                                    </div>
                                </div>
                                <!---按重大危险源区域统计--->

                                <div id="c2" style="width: 85%; float: left; " class="con0">
                                    <div class="portal-panel-title" style="font-weight: bold; color: #41b1c6;">


                                        <div id="c2" style="position: relative; left: -15px; width: 80%;">
                                            <center style="margin-top:50px;"><img src="../../content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</center>
                                        </div>



                                    </div>
                                </div>



                            </div>

                        </div>
                    </div>

                </div>

            </div>
            <div class="row" id="grid1">
                <div class="panel panel-default" style="margin:10px;">
                    <div class="panel-heading">
                        <strong>&nbsp;&nbsp;统计数据</strong>
                        <span class="tools pull-right">
                            <a class="fa fa-chevron-down" title="展开/收起"></a>
                        </span>
                    </div>
                    <div class="panel-body">
                        <table class="tab1" id="gridTable1"></table>
                    </div>
                </div>
            </div>

        </div>

    </div>



</body>
</html>
