@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
<script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/common.js"></script>
<script>
    var keyValue = request('keyValue');
    var type = request('type');
    var action = request('action');
    $(function () {
        $("#tbDEC").hide();
        $("#tbLEC").show();
        GetGrid();
        initControl();

        if (action == "show") {
            $("input").attr("readonly", "readonly");
            $("input").attr("disabled", "disabled");
            $("div").attr("disabled", "disabled");
            $("textarea").attr("disabled", "disabled");
        }
    });

    var selectedRowIndex = -1;
    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            datatype: "json",
            url: "",
            height: $(window).height() - 170,
            autowidth: true,
            colModel: [
                         {
                             label: "具体措施", name: 'name', align: 'center', sortable: false
                     , formatter: function (cellvalue, options, rowObject) {
                         return cellvalue;

                     }
                         }

            ],
            viewrecords: true,
            rowNum: 50000,
            rownumbers: true,
            shrinkToFit: true,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $("#" + this.id).getGridParam('selrow');
            },
            loadError: function (xhr, status, error) {
                //top.location.href = "../../Login/Index?Login_Error=1";
            },

        });
    }





    //初始化控件
    function initControl() {
        ComboxArea("DistrictId", top.contentPath + "/BaseManage/District/GetTreeJson");
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../HazardsourceManage/Hisrelationhd_qd/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                    //安全管控措施
                    if (data.MeaSure != null && data.MeaSure != undefined) {
                        var measurearr = data.MeaSure.split(";");
                        for (var i = 0; i < measurearr.length; i++) {
                            $("#gridTable").addRowData(i, { id: (i + 1), name: measurearr[i] });
                        }
                    }
                }
            })
        }
    }
</script>
<body>
    <div style="margin-left: 10px; margin-right: 10px;">
        <div id="BaseInfo" class="tab-pane active" style="padding-right: 30px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>&nbsp;&nbsp;安全控制措施</strong>
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" title="展开/收起"></a>
                    </span>
                </div>
                <div class="panel-body">
                    <div class="gridPanel">
                        <table id="gridTable"></table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
