@{
    ViewBag.Title = "统计分析";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script src="~/Content/Scripts/plugins/highcharts/highcharts.js"></script>
<script src="~/Content/Scripts/plugins/highcharts/highcharts-more.js"></script>
<script src="~/Content/Scripts/plugins/highcharts/modules/exporting.js"></script>
<link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
<script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script>
    var type = "Unit";
    $(function () {
        StaQuery("Unit");
        $("#btn_Search").click(function () {
            StaQuery(type);
        })
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.panel-body').width() - 2));
            }, 200);
            e.stopPropagation();
        });
    })
    function Stat(str, obj) {
        $(".btn1").removeClass("btn-primary");

        $(obj).addClass("btn-primary");
        $(".btn1").addClass("btn-default");
        type = str;
        StaQuery(str);
    }

    function StaQuery(type) {
        var queryJson = { type: type, year: $("#Year").val() };
        $.get("StaQueryList", { queryJson: JSON.stringify(queryJson) }, function (data) {
            var json = eval("(" + data + ")");
            switch (type) {
                case "Unit":
                    $("#pie").hide();
                    $("#line").show();
                    UnitChar(json);
                    break;
                case "Grade":
                    $("#line").hide();
                    $("#pie").show();
                    LevelChar(json);
                    break;
                default:

            }
            CreateUnitGrid(json);

            $("#yhsl").html(json.result.yyh);
            $("#wdjsl").html(json.result.wdj);
            $("#wjksl").html(json.result.wjk);
        });
    }
    function UnitChar(json) {
        $('#line').highcharts({
            chart: {
                type: 'column',
                borderWidth: 1
            },
            title: {
                text: '重大危险源单位对比图'
            },
            xAxis: {
                categories: json.y
               
            },
            yAxis: {
                lineWidth: 1,
                minorGridLineWidth: 0,
                minorTickInterval: 'auto',
                minorTickWidth: 1,
                gridLineDashStyle: 'longdash',
                allowDecimals: false,
                min: 0,
                title: {
                    text: '数量（个）'
                },
                labels: {
                    formatter: function () {
                        return this.value + '个'
                    }
                },
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    }
                }
            },
            exporting: {
                enabled: false
            },
            credits: {
                enabled: false
            },
            tooltip: {
                crosshairs: true,
                shared: true
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: true,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                        style: {
                            textShadow: '0 0 3px black'
                        }
                    }
                }
            },
            series: json.x
               , lang: { noData: "暂无数据可显示!" },
            noData: {
                position: {
                    align: 'center',
                    verticalAlign: 'middle'
                },
                attr: {
                    'stroke-width': 1
                },
                style: {
                    fontWeight: 'bold',
                    fontSize: '15px',
                    color: '#202030'
                }
            }
        });
    }

    function CreateUnitGrid(json) {
        $("#gridTable").jqGrid("clearGridData");
        var $gridTable = $("#gridTable");
        $gridTable.jqGrid({
            datatype: "local",
            data: json.list,
            mtype: "post",
            autoheight: true,
            autowidth: true,
            colModel: [
                { label: '电厂名称', name: 'name', align: 'center' },
                {
                    label: "四级危险重大源", name: 'l4', align: 'center', formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == "0") return cellvalue;
                        return "<a href=javascript:f_detail('" + rowObject.deptcode + "','4','" + rowObject.name + "')   style='text-decoration:underline;color:blue;'>" + cellvalue + "</a>";
                    }
                },
                {
                    label: '所占比例', name: 'p4', align: 'center', formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue != null) {
                            return cellvalue + '%';
                        }
                    }
                },
                 {
                     label: "三级危险重大源", name: 'l3', align: 'center', formatter: function (cellvalue, options, rowObject) {
                         if (cellvalue == "0") return cellvalue;
                         return "<a href=javascript:f_detail('" + rowObject.deptcode + "','3','" + rowObject.name + "')   style='text-decoration:underline;color:blue;'>" + cellvalue + "</a>";
                     }
                 },
                {
                    label: '所占比例', name: 'p3', align: 'center', formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue != null) {
                            return cellvalue + '%';
                        }
                    }
                },
                 {
                     label: "二级危险重大源", name: 'l2', align: 'center', formatter: function (cellvalue, options, rowObject) {
                         if (cellvalue == "0") return cellvalue;
                         return "<a href=javascript:f_detail('" + rowObject.deptcode + "','2','" + rowObject.name + "')   style='text-decoration:underline;color:blue;'>" + cellvalue + "</a>";
                     }
                 },
                {
                    label: '所占比例', name: 'p2', align: 'center', formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue != null) {
                            return cellvalue + '%';
                        }
                    }
                },
                 {
                     label: "一级危险重大源", name: 'l1', align: 'center', formatter: function (cellvalue, options, rowObject) {
                         if (cellvalue == "0") return cellvalue;
                         return "<a href=javascript:f_detail('" + rowObject.deptcode + "','1','" + rowObject.name + "')   style='text-decoration:underline;color:blue;'>" + cellvalue + "</a>";
                     }
                 },
                {
                    label: '所占比例', name: 'p1', align: 'center', formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue != null) {
                            return cellvalue + '%';
                        }
                    }
                }
            ],
            viewrecords: true,
            rowNum: 100,
            rownumbers: true,
            gridComplete: function () {
                $('#gridTable').setGridWidth(($('.panel-body').width() - 2));
            }
        });
        $gridTable.jqGrid("setGridParam", {
            datatype: "local",
            data: json.list,
            rowNums: json.list.length
        }).trigger("reloadGrid");
    }

    function LevelChar(json) {
        var chart = new Highcharts.Chart({
            chart: {
                renderTo: 'pie',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                defaultSeriesType: 'pie'
            },
            title: {
                text: '重大危险源级别统计'
            },
            exporting: {
                enabled: false
            },
            credits: {
                enabled: false
            },
            tooltip: {
                formatter: function () {
                    return '<b>数量：' + this.y + '个，占比：' + Highcharts.numberFormat(this.percentage, 2) + '%</b> ';
                }
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true, //点击切换
                    cursor: 'pointer'
                    , dataLabels: {
                        enabled: true,
                        formatter: function () {
                            return '<b>' + this.point.name + '</b>:' + Highcharts.numberFormat(this.percentage, 2) + ' %';
                        }
                    },
                    showInLegend: true
                }
            },
            series: [{ data: json.pie }],
            lang: { noData: "暂无数据可显示!" },
            noData: {
                position: {
                    align: 'center',
                    verticalAlign: 'middle'
                },
                attr: {
                    'stroke-width': 1
                },
                style: {
                    fontWeight: 'bold',
                    fontSize: '15px',
                    color: '#202030'
                }
            }
        });
    }

    function f_detail(DeptCode, Level, Name) {
        top.tablist.newTab({
            id: '6af7c8c6-9962-40e9-afc0-cf60b6bd0c58',
            url: top.contentPath + "/HazardsourceManage/Hisrelationhd_qd/DangerList?GradeVal=" + Level + "&TimeYear=" + $("#Year").val() + '&fullName=' + Name,
            title: "重大危险源清单"
        });
    }
    function Jump(obj, num) {
        var url = "";
        var id = "";
        var title = "";
        switch (num) {
            case 1:
                url = "/HazardsourceManage/Jkjc/Index?TimeYear=" + $("#Year").val()+"&State=1";
                id = "8c1d03b9-fd19-45f5-acd2-812b6aa81748";
                title = "存在隐患的重大危险源数量";
                break;
            case 2:
                url = "/HazardsourceManage/Djjd/Index?TimeYear=" + $("#Year").val() + "&State=3";
                id = "dd18194d-c68f-42c8-b450-56ddc53be570";
                title = "未登记建档的重大危险源数量";
                break;
            case 3:
                url = "/HazardsourceManage/Jkjc/Index?TimeYear=" + $("#Year").val() + "&State=2";
                id = "8c1d03b9-fd19-45f5-acd2-812b6aa81748";
                title = "未监控的重大危险源数量";
                break;
            default:

        }
        top.tablist.newTab({
            id: id,
            url: top.contentPath + url,
            title: title
        });
    }
</script>

<div class="center-Panel">
    <div class="panel-Title">统计分析</div>
    <div class="titlePanel">
        <div class="title-search">
            <table class="queryform">
                <tr id="QueryTab">
                    <th style="padding-left: 10px;">时间范围</th>
                    <td>
                        <input id="Year" type="text" style="width: 120px; " value="@DateTime.Now.ToString("yyyy")" class="form-control input-datepicker" onfocus="WdatePicker({ dateFmt: 'yyyy' })" />
                    </td>
                    <td style="padding-left: 20px;">
                        <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;查询</a>&nbsp;&nbsp;
                        <a id="btn" class="btn btn-primary" onclick="printme();"><i class="fa fa-download"></i>导出</a>
                        <script type="text/javascript">
                            function printme() {
                                //document.body.innerHTML = document.getElementById("divContent").innerHTML;

                                window.print();
                            }</script>

                    </td>
                </tr>
            </table>
        </div>
        <div class="toolbar">
            <div class="btn-group">
                <label id="btnYh" class="btn">&nbsp;存在隐患的重大危险源数量&nbsp;:&nbsp;<a id="yhsl" style="text-decoration:underline; color:blue" onclick="Jump(this,1)"></a></label>
                <label id="btnWjd" class="btn">&nbsp;未登记建档的重大危险源数量&nbsp;:&nbsp;<a id="wdjsl" style="text-decoration:underline; color:blue" onclick="Jump(this,2)"></a></label>
                <label id="btnWjk" class="btn">&nbsp;未监控的重大危险源数量&nbsp;:&nbsp;<a id="wjksl" style="text-decoration:underline; color:blue" onclick="Jump(this,3)"></a></label>
                <button id="btnUnit" class="btn btn-primary btn1" onclick="Stat('Unit',this)" type="button"><i class="fa fa-exclamation-triangle"></i>&nbsp;重大危险源单位统计</button>
                <button id="btnGrade" class="btn btn-default btn1" onclick="Stat('Grade', this)" type="button"><i class="fa fa-bell-o"></i>&nbsp;重大危险源级别统计</button>
            </div>
        </div>
    </div>
    <div class="portal-panel" style="margin-left: -20px; margin-right: -20px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;统计图表</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <div id="line">
                </div>
                <div id="pie">
                </div>
            </div>
        </div>
        <div class="row" style="margin-left: -10px; margin-right: -10px;">
            <div class="panel panel-default" style="margin:10px;">
                <div class="panel-heading">
                    <strong>&nbsp;&nbsp;统计数据</strong>
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" title="展开/收起"></a>
                    </span>
                </div>
                <div class="panel-body" id="div0">
                    <table class="tab" id="gridTable"></table>
                </div>
                <div class="panel-body" id="div1">
                    <table class="tab1" id="gridTable1"></table>
                </div>
            </div>
        </div>
    </div>
</div>

