@{;
    ViewBag.Title = "±íµ¥Ò³Ãæ";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = request('keyValue');
    $(function () {
        $.ajax({
            url: '../../CarManage/Carride/GetCarRide?lid='+keyValue,
            type: "GET",
            async: false,
            dataType: "text",
            success: function (result) {
                $("#con").html(result);
            }
        });
    });

</script>
<div style="margin-top: 5px; margin-right: 5px; margin-left: 5px;" id="con">
    
</div>
