@{;
    ViewBag.Title = "列表页面";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>
<script>;
    $(function () {
        InitialPage();
        GetGrid();
    });
    //初始化页面
    function InitialPage() {
        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 108.5);
            }, 200);
            e.stopPropagation();
        });

        ComBoxForData("SuppliesType", "MAE_SUPPLIESTYPE");
    }
    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGridEx({
            autowidth: true,
            height: $(window).height() - 108.5,
            url: "../../EmergencyPlatform/Suppliesfactory/GetPageListJson",
            datatype: "json",
            colModel: [
                { label: '主键', name: 'id', index: 'Id', width: 100, align: 'left', sortable: true, hidden: true },
                { label: '', name: 'createuserid', hidden: true, index: 'createuserid' }, { label: '', name: 'createuserdeptcode', hidden: true, index: 'createuserdeptcode' }, { label: '', name: 'createuserorgcode', hidden: true, index: 'createuserorgcode' },
                {
                    label: '操作', name: 'Oper', width: 150, align: 'center', sortable: false
                },
                { label: '物资名称', name: 'name', index: 'name', width: 300, align: 'center', sortable: true },
                { label: '物资类型', name: 'suppliestypename', index: 'suppliestypename', width: 300, align: 'center', sortable: true },
                { label: '使用方法', name: 'usemethod', index: 'usemethod', width: 100, align: 'center', sortable: true }],
            viewrecords: true,
            rowNum: 30,
            rowList: [30, 50, 100],
            pager: "#gridPager",
            sortname: '',
            sortorder: 'desc',
            rownumbers: true,
            multiboxonly: true,
            shrinkToFit: true,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            }
        });
        $("#btn_Search").click(function () {
            var postdata = {
                name: $("#name").val(),
                suppliestype: $("#SuppliesType").attr('data-value')
            };
            $gridTable.jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify(postdata) }, page: 1
            }).trigger('reloadGrid');
        });
    }
    //新增
    function btn_add() {
        dialogOpen({
            id: 'Form',
            title: '添加应急物资库表',
            url: '/EmergencyPlatform/Suppliesfactory/Form',
            width: "800px",
            height: ($(top.window).height() - 50) + "px",
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
            }
        });
    }
    function show(id)
    {
        var keyValue = $('#gridTable').jqGridRowValue('id');
        if (checkedRow(keyValue)) {
            var dlg = dialogOpen({
                id: 'Form',
                title: '编辑应急物资库表',
                url: '/EmergencyPlatform/Suppliesfactory/Form?keyValue=' + keyValue + "'&actiontype=view",
                width: "800px",
                btn: ["关闭"],
                height: ($(top.window).height() - 50) + "px",
                callBack: function (iframeId) {
                    top.layer.close(dlg);
                }
            });
        }
    }
    function edit(id)
    {
        var keyValue = $('#gridTable').jqGridRowValue('id');
        if (checkedRow(keyValue)) {
            dialogOpen({
                id: 'Form',
                title: '编辑应急物资库表',
                url: '/EmergencyPlatform/Suppliesfactory/Form?keyValue=' + keyValue + "'&actiontype=edit",
                width: "800px",
                height: ($(top.window).height() - 50) + "px",
                callBack: function (iframeId) {
                    top.frames[iframeId].AcceptClick();
                }
            })
        }
    }
    function del(id) {
        var keyValue = $('#gridTable').jqGridRowValue('id');
        if (keyValue) {
            $.RemoveForm({
                url: '../../EmergencyPlatform/Suppliesfactory/RemoveForm',
                param: { keyValue: keyValue },
                success: function (data) {
                    $('#gridTable').trigger('reloadGrid');
                }
            })
        } else {
            dialogMsg('请选择需要删除的应急物资库表！', 0);
        }
    }
</script>
<div class="titlePanel">
    <div class="title-search">
        <table>
            <tr>
                <td>物资名称</td>
                <td style="padding-left:5px">
                    <input id="name" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;" />
                </td>
                <td style="padding-left:5px">物资类型</td>
                <td style="padding-left:5px">
                    <div id="SuppliesType" type="select" class="ui-select" style="width:200px"></div>
                </td>
                <td style="padding-left: 5px;">
                    <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>查询</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="toolbar">
        <div class="btn-group">
            <a id="replace" class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>刷新</a>
            <a id="add" class="btn btn-default" onclick="btn_add()"><i class="fa fa-plus"></i>新增</a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
</div>
<div class="gridPanel">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>
