@{;
    ViewBag.Title = "列表页面";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>
<script>    ;
    var recid = "";
    $(function () {
        InitialPage();
        GetGrid();
    });
    //初始化页面
    function InitialPage() {
        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 108.5);
            }, 200);
            e.stopPropagation();
        });

        ComBoxForData("SuppliesType", "MAE_SUPPLIESTYPE");
    }
    var selectedRowIndex = 0;
    //加载表格
    function GetGrid() {
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() - 108.5,
            url: "../../EmergencyPlatform/Suppliesfactory/GetPageListJson",
            datatype: "json",
            colModel: [
                { label: '主键', name: 'id', index: 'Id', width: 100, align: 'left', sortable: true, hidden: true },
                { label: '', name: 'createuserid', hidden: true, index: 'createuserid' }, { label: '', name: 'createuserdeptcode', hidden: true, index: 'createuserdeptcode' }, { label: '', name: 'createuserorgcode', hidden: true, index: 'createuserorgcode' },
                { label: '物资名称', name: 'name', index: 'name', width: 300, align: 'center', sortable: true },
                { label: '物资类型', name: 'suppliestypename', index: 'suppliestypename', width: 300, align: 'center', sortable: true },
                { label: '使用方法', name: 'usemethod', index: 'usemethod', width: 100, align: 'center', sortable: true },
            { label: '物资类型id', name: 'suppliestype', index: 'name', width: 300, align: 'center', sortable: true, hidden: true },
            { label: '关联id', name: 'recid', index: 'name', width: 300, align: 'center', sortable: true, hidden: true }],
            viewrecords: true,
            rowNum: 30,
            rowList: [30, 50, 100],
            pager: "#gridPager",
            sortname: '',
            sortorder: 'desc',
            rownumbers: true,
            multiboxonly: true,
            shrinkToFit: true,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            }
        });
        $("#btn_Search").click(function () {
            var postdata = {
                name: $("#name").val(),
                suppliestype: $("#SuppliesType").attr('data-value')
            };
            $gridTable.jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify(postdata) }, page: 1
            }).trigger('reloadGrid');
        });
    }

    //返回选择后的结果并赋值到dom控件,多个值用逗号分隔
    //winObject:窗体中需要查找domId的对象，一般可写成window.document.body
    //domId：接收返回值的dom节点的ID，多个用逗号分隔，顺序必须依次为设备ID,设备名称，设备编号,区域名称,区域ID,区域编码（多选用逗号分隔）
    function AcceptClick(options) {

        var winObject = options.winObject;
        var domId = options.domId;
        var selVal = new Array();

        if (winObject != undefined && domId != undefined) {
            if (domId.length > 0) {
                var rowNow = $('#gridTable').jqGrid('getRowData');
                var rowObject = $('#gridTable').jqGrid("getRowData", selectedRowIndex);
                if (selectedRowIndex <= 0) {
                    dialogAlert("请选择一条记录！", 2);
                    return;
                }
                //遍历获取数据
                var ids = domId.split(',');
                //当前选中行的id集合
                var arr = $("#gridTable").jqGrid("getGridParam", "selarrrow");

                //单选
                var selVal = new Array(rowObject["name"], rowObject["suppliestype"], rowObject["recid"], rowObject["suppliestypename"]);
                for (var i = 0; i < ids.length; i++) {
                    if (ids[i] == "uploader") {
                        recid = selVal[i];
                        //file_upload.bindFiles(true, true, selVal[i], "uploader", true);
                    }
                    else if (ids[i] == "SUPPLIESTYPE") {
                        var dom = $(winObject).find("#" + ids[i]).eq(0);
                        dom.val(selVal[3]);
                        var dom1 = $(winObject).find("." + ids[i]).eq(0);
                        dom1.val(selVal[i]);
                    }
                    else {
                        var dom = $(winObject).find("#" + ids[i]).eq(0);
                        if (dom != undefined) {
                            if (dom[0].tagName == "DIV") {
                                dom.ComboBoxSetValue(selVal[i], winObject);
                            }
                            else {
                                dom.val(selVal[i]);
                            }

                        } 
                    }
                }
            }
            if (options.callBack) {
                options.callBack();
            }
            dialogClose();
        }

    }

    function getRecid()
    {
        return recid;
    }
</script>
<div class="titlePanel">
    <div class="title-search">
        <table>
            <tr>
                <td>物资名称</td>
                <td style="padding-left:5px">
                    <input id="name" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;" />
                </td>
                <td style="padding-left:5px">物资类型</td>
                <td style="padding-left:5px">
                    <div id="SuppliesType" type="select" class="ui-select" style="width:200px"></div>
                </td>
                <td style="padding-left: 5px;">
                    <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>查询</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="toolbar">
        <div class="btn-group">
            <a id="replace" class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>刷新</a>
        </div>
    </div>
</div>
<div class="gridPanel">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>
