@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyCode = request("keyCode"); //编码
    var keyValue = request("keyValue"); //主键 隐患信息主键
    $(function () {
        GetEstimateGrid();
    });

    function GetEstimateGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#htextensionGridTable');
        $gridTable.jqGrid({
            url: "../../HiddenTroubleManage/HTExtension/GetListByCondition?keyValue=" + keyCode,
            datatype: "json",
            height: $(window).height() - 150,
            autowidth: true,
            colModel: [
                {
                    label: '操作', name: 'ID', index: 'ID', width: 120, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = "<a href=javascript:viewdata('" + rowObject.HIDCODE + "','" + rowObject.HANDLEID + "')  title='查看'><i class='fa fa-eye'></i></a>";
                        return html;
                    }
                },
                { label: '处理单号', name: 'HANDLEID', index: 'HANDLEID', width: 150, align: 'center' },
                { label: '申请延期天数', name: 'POSTPONEDAYS', index: 'POSTPONEDAYS', width: 150, align: 'center' },
                { label: '处理人', name: 'HANDLEUSERNAME', index: 'HANDLEUSERNAME', width: 150, align: 'center' },
                { label: '处理单位', name: 'HANDLEDEPTNAME', index: 'HANDLEDEPTNAME', width: 150, align: 'center' },
                {
                    label: '处理结果', name: 'POSTPONERESULT', index: 'POSTPONERESULT', width: 150, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = "";
                        if (rowObject.POSTPONERESULT == "1") {
                            html = "同意";
                        }
                        else if (rowObject.POSTPONERESULT == "0") {
                            html = "不同意";
                        }
                        else {
                            html = "无";
                        }
                        return html;
                    }
                },
                {
                    label: '延期理由', name: 'POSTPONEREASON', index: 'POSTPONEREASON', width: 150, align: 'center'
                },
                {
                    label: '临时管控措施', name: 'CONTROLMEASURE', index: 'CONTROLMEASURE', width: 150, align: 'center'
                },
                {
                    label: '处理时间', name: 'HANDLEDATE', index: 'HANDLEDATE', width: 150, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = formatDate(cellvalue, 'yyyy-MM-dd');

                        if (html.length > 10) {
                            html = html.substring(0, 10);
                        }
                        return html;
                    }
                }
            ],
            pager: false,
            rowNum: "30",
            sortname: 'HANDLEDATE',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            ondblClickRow: function (id) {

            }
        });
    }

    function viewdata(hidcode,obj) {
        dialogOpen({
            id: 'GroupListForm',
            title: '查看整改延期审批处理单列表',
            url: '/HiddenTroubleManage/HTExtension/GroupList?handleid=' + obj + '&hidcode=' + hidcode + '&keyValue=' + keyValue,
            width: ($(top.window).width() - 100) + "px",
            height: ($(top.window).height() - 200) + "px",
            btn: null
        });
    }

</script>

<div class="center-Panel" style="overflow-y: scroll; height: 600px; padding-top: 10px; ">
    <div class="panel-Title">整改延期申请审批/批复处理记录</div>
    <div class="gridPanel">
        <div style="margin-top: 20px; margin-left:10px;">
            <table id="htextensionGridTable"></table>
        </div>
    </div>
</div>
<style type="text/css">
    body {
        overflow: hidden;
    }
</style>