@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}

<script type="text/javascript">
    var keyValue = request("keyValue"); //主键 隐患信息主键
    $(function () {
        if (!!keyValue) {
            $.SetForm({
                url: "../../HiddenTroubleManage/HTChangeInfo/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                    //整改结果
                    if (data.CHANGERESULT == "1") {
                        $("input[name='CHANGERESULT']:eq(1)").removeAttr("checked");
                        $("input[name='CHANGERESULT']:eq(0)").prop("checked", "checked");
                    }
                    else {
                        $("input[name='CHANGERESULT']:eq(0)").removeAttr("checked");
                        $("input[name='CHANGERESULT']:eq(1)").prop("checked", "checked");
                    }
                    GetGrid("change"); //整改图片
                    GetGrid("attach"); //整改附件
                }
            })
        }
    });

    function GetGrid(obj) {
        var folderId = "";
        var $gridTable;
        var selectedRowIndex = 0;
        //隐患整改图片
        if (obj == "change") {
            folderId = $("#HIDCHANGEPHOTO").val();
            $gridTable = $('#changePicGridTable');
        }
        else //隐患整改附件
        {
            folderId = $("#ATTACHMENT").val();
            $gridTable = $('#AttachmentGridTable');
        }

        $gridTable.jqGrid({
            url: "../../PublicInfoManage/ResourceFile/GetImageListJsonByFolder?folderId=" + folderId,
            datatype: "json",
            height: $(window).height() - 300,
            autowidth: true,
            colModel: [
                { label: '标记', name: 'FilePath', hidden: true },
                { label: 'FolderId', name: 'FolderId', hidden: true },
                { label: 'FileType', name: 'FileType', hidden: true },
                {
                    label: '文件名', width: $(".profile-content").width() - 350, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        return "<div style='cursor:pointer;'><div style='float: left;'><img src='" + top.contentPath + "/Content/images/filetype/" + rowObject.FileType +
                            ".png' style='width:35px;height:35px;padding:5px;margin-left:-7px;margin-right:5px;' /></div>" +
                            "<div style='float: left;line-height:35px;'><a href='" + top.contentPath + rowObject.FilePath.replace("~", "") + "' target='_blank'>" + rowObject.FileName + "</a></div></div>";
                    }
                },
            ],
            pager: false,
            rowNum: "10",
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            ondblClickRow: function (id) {

            }
        });
    }
</script>

<div class="center-Panel" style="overflow-y: scroll; height: 600px;">
    <div style="margin-top: 5px;"></div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;隐患整改详情</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <div style="margin-right: 30px;">
                <table class="form">
                    <tr>
                        <td class="formTitle">整改责任人</td>
                        <td class="formValue">
                            <input id="CHANGEPERSONNAME" type="text" class="form-control" disabled="disabled" />
                            <input id="CHANGEPERSON" type="hidden" />
                            <input id="ID" type="hidden" />
                            <input id="HIDCODE" type="hidden" />
                        </td>
                        <td class="formTitle">整改人电话</td>
                        <td class="formValue">
                            <input id="CHANGEDUTYTEL" type="text" class="form-control" disabled="disabled" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">整改责任单位</td>
                        <td class="formValue" colspan="3">
                            <input id="CHANGEDUTYDEPARTNAME" type="text" class="form-control" disabled="disabled" />
                            <input id="CHANGEDUTYDEPARTCODE" type="hidden" />
                        </td>
                    </tr>
                    <tr>
                        @*<td class="formTitle">整改期限</td>
                            <td class="formValue">
                                <input id="CHANGEDEADINENUM" type="text" class="form-control" disabled="disabled" />
                            </td>*@
                        <td class="formTitle">整改截至时间</td>
                        <td class="formValue" colspan="3">
                            <input id="CHANGEDEADINE" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" disabled="disabled" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">整改完成时间</td>
                        <td class="formValue" colspan="3">
                            <input id="CHANGEFINISHDATE" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" disabled="disabled" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">整改措施</td>
                        <td class="formValue" colspan="3">
                            <textarea id="CHANGEMEASURE" class="form-control" disabled="disabled"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">整改情况描述</td>
                        <td class="formValue" colspan="3">
                            <textarea id="CHANGERESUME" class="form-control" disabled="disabled"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">整改结果</td>
                        <td class="formValue" colspan="3">
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="CHANGERESULT" id="CHANGERESULT1" value="1" checked="checked" disabled="disabled" />已完成
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="CHANGERESULT" id="CHANGERESULT2" value="0" disabled="disabled" />未完成
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">计划治理资金</td>
                        <td class="formValue">
                            <input id="PLANMANAGECAPITAL" type="text" class="form-control" disabled="disabled" />
                        </td>
                        <td class="formTitle">实际治理资金</td>
                        <td class="formValue">
                            <input id="REALITYMANAGECAPITAL" type="text" class="form-control" disabled="disabled" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">整改附件</td>
                        <td class="formValue" colspan="3">
                            <input id="ATTACHMENT" type="hidden" /><!--整改附件-->
                            <table id="AttachmentGridTable"></table> <!--附件-->
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">整改图片</td>
                        <td class="formValue" colspan="3">
                            <input type="hidden" id="HIDCHANGEPHOTO" />
                            <!--照片-->
                            <table id="changePicGridTable"></table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    body {
        overflow: hidden;
    }
</style>