@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<script type="text/javascript">
    $(function () {
        GetGrid();
    });

    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            url: "../../SystemManage/Classification/GetAllFactory",
            datatype: "json",
            height: $(window).height() - 108.5,
            autowidth: true,
            colModel: [
                { label: '主键', name: 'DepartmentId', hidden: true },
                 //{ label: '父键', name: 'ParentId', hidden: true },
                { label: "名称", name: "FullName", width: 300, align: "center", sortable: false },
                { label: "编码", name: "EnCode", width: 150, align: "center", sortable: false },
                //{ label: "简称", name: "ShortName", width: 150, align: "center", sortable: false },
                //{ label: "性质", name: "Nature", width: 100, align: "center", sortable: false },
                //{
                //    label: "成立时间", name: "FoundedTime", width: 100, align: "center", sortable: false,
                //    formatter: function (cellvalue, options, rowObject) {
                //        return formatDate(cellvalue, 'yyyy-MM-dd');
                //    }
                //},
                { label: "负责人", name: "Manager", width: 100, align: "center", sortable: false },
                {
                    label: "操作", name: "edit", width: 200, align: "center", formatter: function (cellvalue, options, rowObject) {
                        var html = "<button type=\"button\" class=\"btn btn-primary\" onclick =\"editParam('" + rowObject.DepartmentId + "')\"><i class=\"fa fa-edit\"></i>&nbsp;初始化数据</button>&nbsp;";
                        html += "<button type=\"button\" class=\"btn btn-primary\" onclick =\"EditDCData('" + rowObject.DepartmentId + "')\"><i class=\"fa fa-edit\"></i>&nbsp;编辑数据</button>&nbsp;";
                        return html;
                    }
                }
            ],
            treeGrid: true,
            treeGridModel: "nested",
            ExpandColumn: "EnCode",
            rowNum: "all",
            rownumbers: true,
            onSelectRow: function () {
                selectedRowIndex = $("#" + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $("#" + this.id).setSelection(selectedRowIndex, false);
            }
        });
    }

    //初始化操作
    function editParam(keyValue) {
        dialogConfirm("确定要对当前机构进行初始化操作", function (r) {
            if (r) {
                $.SaveForm({
                    url: "../../SystemManage/Classification/InitOrganizeData",
                    param: { keyValue: keyValue },
                    loading: "正在保存数据...",
                    success: function () {
                        $("#gridTable").trigger("reloadGrid");
                    }
                });
            }
        });
        //dialogMsg('功能正在开发中......', 1);
    }


    //初始化数据
    function EditDCData(orgId) {
        dialogOpen({
            id: "EditDCNewForm",
            title: "单位考核指标数据设置",
            url: "/SystemManage/Classification/EditIndex?orgId=" + orgId,
            width: $(window).width() * 1.5 + "px",
            height: $(window).height() * 2 + "px",
            btn: null
        });
    }
</script>
<div class="gridPanel">
    <table id="gridTable"></table>
</div>