@{;
    ViewBag.Title = "列表页面";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
<script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/common.js"></script>
<script>
    var _path = "";
    $(function () {
        InitialPage();
        GetTree();
       
    });
    function Bind() {
        $.get("../../SystemManage/OnlineFile/BindFiles", { path: _path }, function (data) {
            $("#Description").val(data);
        });
    }
    //初始化页面
    function InitialPage() {
        var h = $(window).height()-150;
        $("#Description").attr("style", "height: " +h +"px");
        $('#layout').layout({
            applyDemoStyles: true,
            onresize: function () {
                $(window).resize()
            }
        });

        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width() - 100));
                $("#gridTable").setGridHeight($(window).height() - 141);

            }, 200);
            e.stopPropagation();
        });
        $("#itemTree").height($(window).height() - 45);
    }
    //加载组织机构树
    function GetTree() {

        var item = {
            height: $(window).height() - 52,
            url: "../../SystemManage/OnlineFile/GetDepartTreeJson",
            onnodeclick: function (item) {
                _path = item.MapPath;//路径
                $("#txt_Path").val(decodeURIComponent(_path));
                $('#btn_Search').trigger("click");
            }
        };
        //初始化
        $("#itemTree").treeview(item);

        $("#btn_Search").click(function () {
            Bind();
        });
    }



    //保存表单;
    function btn_add() {
        if (confirm("是否确定修改?")) {
            var queryJson = {
                path: $("#txt_Path").val(),
                projectItem: encodeURIComponent($("#Description").val())
            }
            //保存文档
            $.SaveForm({
                url: "../../SystemManage/OnlineFile/SaveForm",
                param: queryJson,
                loading: "正在保存数据...",
                success: function (data) {
                    //$.currentIframe().$("#gridTable").trigger("reloadGrid");
                }
            })
        }
    }
</script>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-west">
        <div class="west-Panel">
            <div class="panel-Title">
                文档树
            </div>
            <div id="itemTree"></div>
        </div>
    </div>
    <div class="ui-layout-center">
        <div class="center-Panel">
            <div class="panel-Title">
                文档信息
            </div>

            <div class="titlePanel">
                <div class="title-search">
                    <table>
                        <tr>
                            <td>路径(绝对路径)：</td>
                            <td>
                                <input id="txt_Path" type="text" class="form-control" style="width: 400px;" />
                            </td>

                            <td style="padding-left: 5px;">

                                <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>加&nbsp;&nbsp;载</a>

                            </td>
                            <td style="padding-left: 5px;">
                                <a id="Defind" class="btn btn-default" onclick="btn_add()">保&nbsp;&nbsp;存</a>

                            </td>
                        </tr>
                    </table>
                </div>
               
            </div>
            @*<div class="gridPanel">
                    <table id="gridTable"></table>
                </div>*@
            <div class="gridPanel">
                <div><textarea id="Description" class="form-control"></textarea></div>
            </div>
        </div>
    </div>
</div>
