@{
    ViewBag.Title = "菜单配置";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script>
    $(function () {
        InitialPage();
        GetGrid();
        GetTree();
    });
    //初始化页面
    function InitialPage() {
        //resize重设(表格、树形)宽高
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $("#gridTable").setGridHeight($(window).height() - 136.5);
            }, 200);
            e.stopPropagation();
        });
    }
    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGridEx({
            url: "../../SystemManage/MenuConfig/GetPageListJson",
            datatype: "json",
            height: $(window).height() - 180,
            autowidth: true,
            colModel: [
                { label: '主键', name: 'Id', hidden: true },
                {
                    label: '创建用户id',
                    name: 'createuserid',
                    index: 'createuserid',

                    align: 'left',
                    sortable: true,
                    hidden: true
                },
                {
                    label: '创建时间',
                    name: 'createdate',
                    index: 'createdate',

                    align: 'left',
                    sortable: true,
                    hidden: true
                },
                {
                    label: '创建用户',
                    name: 'createusername',
                    index: 'createusername',

                    align: 'left',
                    sortable: true,
                    hidden: true
                },
                {
                    label: '修改用户id',
                    name: 'modifyuserid',
                    index: 'modifyuserid',

                    align: 'left',
                    sortable: true,
                    hidden: true
                },
                {
                    label: '修改时间',
                    name: 'modifydate',
                    index: 'modifydate',

                    align: 'left',
                    sortable: true,
                    hidden: true
                },
                {
                    label: '修改用户',
                    name: 'modifyusername',
                    index: 'modifyusername',

                    align: 'left',
                    sortable: true,
                    hidden: true
                },
                {
                    label: '创建用户所属部门编码',
                    name: 'createuserdeptcode',
                    index: 'createuserdeptcode',

                    align: 'left',
                    sortable: true,
                    hidden: true
                },
                {
                    label: '创建用户所属机构编码',
                    name: 'createuserorgcode',
                    index: 'createuserorgcode',

                    align: 'left',
                    sortable: true,
                    hidden: true
                },
                {
                    label: '操作', name: 'Oper', width: 100, align: 'center', sortable: false
                },
                {
                    label: '功能名称', name: 'ModuleName', index: 'ModuleName', width: 300, align: 'center'
                },
                { label: '编码', name: 'ModuleCode', index: 'ModuleCode', width: 300, align: 'center' },
                //{
                //    label: '平台类型', name: 'PaltformType', index: 'PaltformType', width: 200, align: 'center', formatter: function (val) {
                //        var typeName = "";
                //        switch (val) {
                //            case 0:
                //                typeName = "Windows终端"
                //                break;
                //            case 1:
                //                typeName = "Android终端"
                //                break;
                //            case 2:
                //                typeName = "手机APP"
                //                break;
                //            default:
                //                typeName = "Web端"
                //                break;
                //        }
                //        return typeName;
                //    }
                //},
               
                {
                    label: '角色授权', name: 'AuthorizeName', index: 'AuthorizeName', width: 200, align: 'center'
                },
                {
                    label: '排序字段', name: 'Sort', index: 'Sort', width: 100, align: 'center'
                },
                {
                    label: '备注', name: 'Remark', index: 'Remark', width: 150, align: 'center'
                },
            ],
            viewrecords: true,
            rowNum: 30,
            rowList: [30, 50, 100],
            pager: "#gridPager",
            sortname: 'Sort',
            sortorder: 'asc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $("#" + this.id).getGridParam('selrow');
            }
        });
        //查询条件
        $("#queryCondition .dropdown-menu li").click(function () {
            var text = $(this).find('a').html();
            var value = $(this).find('a').attr('data-value');
            $("#queryCondition .dropdown-text").html(text).attr('data-value', value)
        });
        //查询事件
        $("#btn_Search").click(function () {
            var checkNode = $("#ModuleTree").getCurrentNode();
            var queryJson = {
                condition: "ModuleName",
                keyword: $("#txt_Keyword").val(),
                parentId: !!checkNode ? checkNode.id : ""
            }
            $gridTable.jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify(queryJson) },
                page: 1
            }).trigger('reloadGrid');
        });
        //查询回车
        $('#txt_Keyword').bind('keypress', function (event) {
            if (event.keyCode == "13") {
                $('#btn_Search').trigger("click");
            }
        });
    }
    //新增
    function add() {
        if (checkNodeId == "") {
            dialogMsg('请选择要添加的节点！', 0);
            return false;
        }
        dialogOpen({
            id: "Form",
            title: '添加菜单配置',
            url: '/SystemManage/MenuConfig/Form?ParentId=' + checkNodeId + "&platform=" + platform + "&checkNodeName=" + checkNodeName,
            width: "800px",
            height: "450px",
            callBack: function (iframeId) {
                top.document.getElementById(iframeId).contentWindow.AcceptClick();
            }
        });
    };
    //编辑
    function edit(keyValue) {
        if (checkedRow(keyValue)) {
            dialogOpen({
                id: "Form",
                title: '修改菜单配置',
                url: '/SystemManage/MenuConfig/Form?keyValue=' + keyValue,
                width: "800px",
                height: "450px",
                callBack: function (iframeId) {
                    top.document.getElementById(iframeId).contentWindow.AcceptClick();
                }
            });
        }
    }
    //删除
    function del(keyValue) {
        if (keyValue) {
            $.RemoveForm({
                url: "../../SystemManage/MenuConfig/Remove",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#gridTable").trigger("reloadGrid");
                    GetTree();
                }
            })
        } else {
            dialogMsg('请选择需要删除的数据！', 0);
        }
    }


    //查看
    function show(keyValue) {
        if (checkedRow(keyValue)) {
            var dlg = dialogOpen({
                id: "Form",
                title: '查看菜单配置',
                url: '/SystemManage/MenuConfig/Form?action=show&keyValue=' + keyValue,
                width: ($(top.window).width() - 550) + "px",
                height: ($(top.window).height() - 150) + "px",
                btn: ["关闭"],
                callBack: function (iframeId) {
                    top.layer.close(dlg);
                }
            });
        }
    }

    var checkNodeId = "";//选中的节点的Id
    var platform = "";//选中的节点的平台类型
    var checkNodeName = ""//选中的节点的名称
    function GetTree() {
        var item = {
            height: $(window).height() - 50,
            showcheck: true,
            url: "../../SystemManage/MenuConfig/GetTreeJson",
            onnodeclick: function (item) {
                if (item.checkstate == 0) {
                    $("#ModuleTree").setCheckedNodeOne(item.id);
                    checkNodeId = item.id;
                    platform = item.platformType;
                    checkNodeName = item.text;
                    //取该节点底下的数据
                    $("#gridTable").jqGrid('setGridParam', {
                        postData: { queryJson: JSON.stringify({ parentId: checkNodeId }) },
                        page: 1
                    }).trigger('reloadGrid');
                }

                //moduleId = item.id;
                //var $gridTable = $('#gridTable');
                //GetDataAuthorize();
                //var postData = $gridTable.jqGrid("getGridParam", "postData");
                //delete postData["moduleId"];
                //$gridTable.jqGrid('setGridParam', {
                //    postData: { moduleId: item.id, jobId: objectId },
                //}).trigger('reloadGrid');
            }
        };
        $("#ModuleTree").treeview(item);

    }

</script>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-west col-md-2">
        <div class="west-Panel">
            <div class="panel-Title">
                <div class="col-md-10">
                    组织机构
                </div>
            </div>
            <div id="ModuleTree"></div>
        </div>
    </div>
    <div class="ui-layout-center col-md-10">
        <div class="center-Panel">
            <div class="panel-Title">菜单结构</div>
            <div class="titlePanel">
                <div class="title-search">
                    <table>
                        <tr>
                            @*<td>
                                <div id="queryCondition" class="btn-group">
                                    <a class="btn btn-default dropdown-text" data-toggle="dropdown">选择条件</a>
                                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a data-value="DeptName">电厂名称</a></li>
                                        <li><a data-value="ModuleName">菜单名称</a></li>
                                    </ul>
                                </div>
                            </td>*@
                            <td style="padding-left: 2px;">
                                <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;" />
                            </td>
                            @*<td style="padding-left: 5px;">
                                <select id="paltformType" class="form-control">
                                    <option value="">==全部==</option>
                                    <option value="0">Windows终端</option>
                                    <option value="1">Android终端</option>
                                    <option value="2">手机App</option>
                                </select>
                            </td>*@
                            <td style="padding-left: 5px;">
                                <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;查询</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="toolbar">
                    <div class="btn-group">
                        <a class="btn btn-default" onclick="reload();"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
                    </div>
                   
                    <script>$('.toolbar').authorizeButton()</script>
                </div>
            </div>
            <div class="gridPanel">
                <table id="gridTable"></table>
                <div id="gridPager"></div>
            </div>
        </div>
    </div>
</div>



@*<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-west" style="width:300px;">
        <div class="west-Panel">
            <div class="panel-Title">功能菜单</div>
            <div id="ModuleTree" style="margin: 10px;"></div>
        </div>
    </div>
    <div class="ui-layout-center">
        <div class="center-Panel">
            <div class="panel-Title">功能及数据权限</div>

                <div class="titlePanel">
                    <div class="title-search">
                        <table>
                            <tr>
                                <td>
                                    <div id="queryCondition" class="btn-group">
                                        <a class="btn btn-default dropdown-text" data-toggle="dropdown">选择条件</a>
                                        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a data-value="DeptName">电厂名称</a></li>
                                            <li><a data-value="ModuleName">菜单名称</a></li>
                                        </ul>
                                    </div>
                                </td>
                                <td style="padding-left: 2px;">
                                    <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;" />
                                </td>
                                <td style="padding-left: 5px;">
                                    <select id="paltformType" class="form-control">
                                        <option value="">==全部==</option>
                                        <option value="0">Windows终端</option>
                                        <option value="1">Android终端</option>
                                        <option value="2">手机App</option>
                                    </select>
                                </td>
                                <td style="padding-left: 5px;">
                                    <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;查询</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="toolbar">
                        <div class="btn-group">
                            <a class="btn btn-default" onclick="reload();"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
             
                        </div>
                        <script>$('.toolbar').authorizeButton()</script>
                    </div>
                </div>
                <div class="gridPanel">
                    <table id="gridTable"></table>
                    <div id="gridPager"></div>
                </div>
            </div>
        </div>
    </div>*@
    @*<div class="titlePanel">
            <div class="title-search">
                <table>
                    <tr>
                        <td>
                            <div id="queryCondition" class="btn-group">
                                <a class="btn btn-default dropdown-text" data-toggle="dropdown">选择条件</a>
                                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a data-value="DeptName">电厂名称</a></li>
                                    <li><a data-value="ModuleName">菜单名称</a></li>
                                </ul>
                            </div>
                        </td>
                        <td style="padding-left: 2px;">
                            <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;" />
                        </td>
                        <td style="padding-left: 5px;">
                            <select id="paltformType" class="form-control">
                                <option value="">==全部==</option>
                                <option value="0">Windows终端</option>
                                <option value="1">Android终端</option>
                                <option value="2">手机App</option>
                            </select>
                        </td>
                        <td style="padding-left: 5px;">
                            <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;查询</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="toolbar">
                <div class="btn-group">
                    <a class="btn btn-default" onclick="reload();"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
                    @*<a id="add" class="btn btn-default" onclick="add()"><i class="fa fa-plus"></i>&nbsp;新增</a>
                        <a id="edit" class="btn btn-default" onclick="edit()"><i class="fa fa-pencil-square-o"></i>&nbsp;编辑</a>
                        <a id="delete" class="btn btn-default" onclick="del()"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
                        <a id="detail" class="btn btn-default" onclick="detail()"><i class="fa fa-list-alt"></i>&nbsp;详细</a>
                </div>
                <script>$('.toolbar').authorizeButton()</script>
            </div>
        </div>
        <div class="gridPanel">
            <table id="gridTable"></table>
            <div id="gridPager"></div>
        </div>*@

