@{
    Layout = null;
    //Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,inital-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link type="text/css" rel="stylesheet" href="~/Content/styles/kbscss/index.css">
    <link type="text/css" rel="stylesheet" href="~/Content/styles/kbscss/bigScreen.css">
    <link rel="stylesheet" href="~/Content/styles/kbscss/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/styles/kbscss/daterangepicker.css" />
    <script src="~/Content/scripts/kbsjs/jquery-2.2.4.min.js"></script>





    <script>
        var apiUrl = "@(new ERCHTMS.Busines.SystemManage.DataItemDetailBLL().GetItemValue("WebApiUrl", "AppSettings"))";
        $(function () {
            //注册三维方法
            window.addEventListener('message', receiveMessage, false);
            Iniiframe();
            IndexLable();
            //IndexCamera();
            //IndexDevice();
            getDays();
            window.setInterval("getDays()", 300000);
        });
        //预警信息
        function ShowUserWarning() {
            top.tablist.newTab({ id: '71b1ffd2-091d-478c-bd66-7993e0ffec11', url: top.contentPath + '/KbsDeviceManage/SafeUserControl/Index?date=' + new Date(), title: '预警信息' })
        }


        function Iniiframe() {
            //初始化三维地图
            $.ajax({
                url: top.contentPath + "/KbsDeviceManage/Kbsdevice/WebGetThreeUrl",
                type: "post",
                dataType: "text",
                async: false,
                success: function (data) {

                    $('#ZbMap').attr('src', data + '/gisbcdl/index.html#/showhome');
                }
            });
        }

        //获取安全生产天数
        function getDays() {
            $.get(apiUrl + "basedata/GetSafeDays", function (data) {
                if (data.length > 0) {
                    var html = "<span>安全生产天数<em>" + data + "</em>天</span>";
                    $("#day").html(html);
                }
            });
        }

        //三维图全屏
        function receiveMessage(event) {
            var name = event.data.name;
            if (name == "fullscreen") {
                top.tablist.newTab({ id: '4434', url: top.contentPath + '/KbsDeviceManage/Kbsdevice/ShowThreePage?type=0&date=' + new Date(), title: '三维地图' })
            }
            else if (name == "smallscreen") {
            }
        }

    </script>

    <style>
        .center_left1 {
            position: absolute;
            z-index: 266;
            width: 100%;
            height: 8.12rem;
        }
    </style>
</head>
<body>
    <div class="main">
        <div class="main_top">
            <div class="topDiv">
                <div class="topDiv_left left1">
                    <div class="swiperBody">
                        <div class="swiper-container swiper-container1">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide" id="day">

                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-prev swiper-button-prev1"></div>
                        <div class="swiper-button-next swiper-button-next1"></div>
                    </div>
                </div>
                <div class="topDiv_left left2">
                    <div class="needDealt">
                        @*<span>待办事项</span>
                            <p>(共15条)</p>*@
                    </div>
                    <div class="swiperBody">
                        <div class="swiper-container swiper-container2">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    @*<ul class="nav1">
                                            <li>
                                                <span class="buleColor">03</span>
                                                <p>基站离线</p>
                                            </li>
                                            <li>
                                                <span class="buleColor">08</span>
                                                <p>摄像头离线</p>
                                            </li>
                                            <li>
                                                <span class="buleColor">04</span>
                                                <p>门禁离线</p>
                                            </li>
                                        </ul>*@
                                </div>
                            </div>
                        </div>
                        @*<div class="swiper-button-prev swiper-button-prev2"></div>
                            <div class="swiper-button-next swiper-button-next2"></div>*@
                    </div>
                </div>
                <div class="topDiv_left left3">
                    <label>快捷入口</label>
                    <ul class="nav">
                        <li>
                            <p onclick="ShowUserWarning('','')">预警信息</p>

                        </li>
                    </ul>
                </div>
                <div class="topDiv_left left4">
                    <span><span class="setImg"></span>设置<span class="upDownImg"></span></span>
                </div>
            </div>
        </div>

        <div class="fl main_center">
            <div class="section3">
                <!-- <span class="warningIndex">
                    安全风险四色分布图
                    <span> 区塔安全风险数量排行</span>
                </span> -->
                <div class="" style="width:100%;height:100%" id="zmap">
                    <iframe id="ZbMap" style="width: 100%;height: 100%;border: medium none;"></iframe>
                    @*<img src="~/Content/images/kbs/yujigntu.png" alt="">
                        <div class="opt">
                            <ul>
                                <li class="active">门禁</li>
                                <li>基站</li>
                                <li>摄像头</li>
                                <li>电子围栏</li>
                            </ul>
                            <div class="on-off">
                                <img src="~/Content/images/kbs/on-off.png" alt="">
                            </div>
                        </div>*@
                </div>
                @*<div class="center_right">
                        <div class="sec_top clearfix">
                            <h3 class="fl">实时预警</h3>
                        </div>
                        <div class="sec3_con clearfix">
                            <div id="UserRealtimeWarning" class="fr legend_box3" style="overflow-y: auto; overflow-x: hidden; width: 98%; height: 3.6rem; ">
                                <ul class="" tabindex="1" style="overflow: hidden;outline: none;">
                                    <li>
                                        <span class="titleNum active">1</span>
                                        <span>基站1918E0011D0F已</span>
                                        <span class="buleColor2">离线</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>*@
            </div>
            <div class="section4">
                <div class="sec_top clearfix">
                    <ul class="secTitChar_list clearfix fl">
                        <li class="active">各时段人数</li>
                        @*<li>离线摄像头</li>
                            <li>离线门禁</li>*@
                    </ul>
                    @*<span class="sec4_sel">
                            <select>
                                <option>全部</option>
                                <option>本周</option>
                            </select>
                        </span>*@
                </div>
                <div class="sec4_con">
                    <div id="chart1" class="fl"></div>
                    <div class="fr range_box">
                        <div class="range_box_title">
                            <h3 class="fl">外包人数</h3>
                        </div>
                        <div class="fr legend_box4" id="ChartTable">
                            <ul class="" tabindex="1" style="overflow: hidden;outline: none;">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="fr main_right">
            <div class="section5">
                <div class="sec_top clearfix">
                    <ul class="secTit_list clearfix fl">
                        <li class="active">人员实时分布</li>
                        @*<li>摄像头分布</li>
                            <li>门禁分布</li>*@
                    </ul>
                    <div class="f2">
                        <span id="ZNum0">总数：90</span>
                        @*<span id="ZNum1" style="display: none;">总数：90</span>
                            <span id="ZNum2" style="display: none;">总数：90</span>*@
                    </div>
                </div>
                <div class="sec5_con clearfix">
                    <div class="tableDiv1" id="TD0">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="28%">区域<span class=""></span></th>
                                    <th width="18%">人员数量数量<span class=" active"></span></th>
                                    <th width="18%">占比<span class=""></span></th>
                                </tr>
                            </thead>
                            <tbody id="BaseStationbody">
                                <tr>
                                    <td>汽机房 0 米</td>
                                    <td><a href="javascript:ShowBaseStation(this,0)">5</a></td>
                                    <td>18%</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="tableDiv1" style="display: none;" id="TD1">

                    </div>
                    <div class="tableDiv1" style="display: none;" id="TD2">

                    </div>
                </div>
            </div>
            <div class="section6">
                <div class="sec_top clearfix">
                    <h3 class="fl">人员类别</h3>
                    <!-- <ul class="sec4_list fr clearfix">
                        <li class="active">最近一个月</li>
                        <li>本月</li>
                        <li>本季度</li>
                        <li>本年</li>
                    </ul> -->
                </div>
                <div class="sec6_con clearfix">
                    <div id="chart3" class="fl"></div>
                    <div class="fr legend_box2" id="LableBox">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="~/Content/scripts/kbsjs/rem.js"></script>
<script src="~/Content/scripts/kbsjs/echarts.min.js"></script>
<script src="~/Content/scripts/kbsjs/nicescroll.min.js"></script>
<script src="~/Content/scripts/kbsjs/userindex.js"></script>
<script src="~/Content/scripts/kbsjs/swiper.jquery.min.js"></script>
<script type="text/javascript" src="~/Content/scripts/kbsjs/moment.min.js"></script>
<script type="text/javascript" src="~/Content/scripts/kbsjs/daterangepicker.min.js"></script>
<script src="~/Content/scripts/kbsjs/UserLableStatic.js"></script>
<script src="~/Content/scripts/kbsjs/UserHome.js"></script>


<script>
    $('.on-off').click(function () {
        $('.opt ul').toggle()
    })
</script>

</html>