<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--Sqlite数据库连接信息-->
  <add key="SqliteConnect" value="Data Source=|DataDirectory|\TaskManager.db;Pooling=False;Max Pool Size=3000;FailIfMissing=false;Cache Size=20000;"/>

  <!--SqlServer数据库连接信息-->
  <!--<add key="SqlServerConnect" value="Data Source = mssql9.zzidc.ha.cn;Initial Catalog=TaskManager;User ID=TaskManager_f;Password=959380"/>-->
  <!--<add key="SqlServerConnect" value="Server=.;Database=TaskManager;Trusted_Connection=True"/>-->

  <!--类库记日志必须：右键此文件-属性-设置“始终复制”。更改后要生效此配置文件需要清理解决方案再生成-->
  <!--生成的时候把Web类库下的Content、Views目录拷贝到ConsoleHosting的debug目录里需要在类库上右键属性修改生成事件-->
</configuration>