@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = request("keyValue"); //主键问题信息主键
    $(function () {
        GetReformGrid();
    });

    function GetReformGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#reformGridTable');
        $gridTable.jqGrid({
            url: "../../QuestionManage/QuestionReform/GetHistoryListJson?keyValue=" + keyValue,
            datatype: "json",
            height: $(window).height() - 300,
            autowidth: true,
            colModel: [
                {
                    label: '操作', name: 'ID', index: 'ID', width: 120, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = "<a href=javascript:Detail('" + rowObject.ID + "')  title='查看'><i class='fa fa-eye'></i></a>";
                        return html;
                    }
                },
                { label: '整改单位', name: 'REFORMDEPTNAME', index: 'REFORMDEPTNAME', width: 150, align: 'center' },
                { label: '整改责任人', name: 'REFORMPEOPLENAME', index: 'REFORMPEOPLENAME', width: 120, align: 'center' },
                {
                    label: '整改结果', name: 'REFORMSTATUS', index: 'REFORMSTATUS', width: 150, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = rowObject.REFORMSTATUS == "1" ? "完成" : "未完成";
                        return html;
                    }
                },
                {
                    label: '整改完成时间', name: 'REFORMFINISHDATE', index: 'REFORMFINISHDATE', width: 150, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = formatDate(cellvalue, 'yyyy-MM-dd');
                        return html;
                    }
                }
            ],
            pager: false,
            rowNum: "20",
            sortname: 'REFORMFINISHDATE',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            ondblClickRow: function (id) {
            }
        });
    }

    function Detail(id) {
        dialogOpen({
            id: 'DetailForm',
            title: '问题整改详情',
            url: '/QuestionManage/QuestionReform/Detail?keyValue=' + keyValue + "&Id=" + id,
            width: ($(top.window).width() - 300) + "px",
            height: ($(top.window).height() - 300) + "px",
            btn: null
        });
    }
</script>

<div class="center-Panel">
    <div style="margin-top: 10px;"></div>
    <div class="panel-Title">问题整改信息</div>
    <div class="gridPanel">
        <div style="margin-top: 20px; margin-left:10px;">
            <table id="reformGridTable"></table>
        </div>
    </div>
</div>
<style type="text/css">
    body {
        overflow: hidden;
    }
</style>