@{
    ViewBag.Title = "查看图片";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<script>

    var Url = request("Url");
    $(function () {

        var html = "";
        html += " <div class='device-img-warp'>";
        html += "<div class='img-container'>";
        html += " <img style='margin:0 auto 10px;display:block;' height='800' width='600'  src=" + Url + " >";
        html += "</div>";

        $("#ImgDiv").html(html);

    });


</script>

<div id="ImgDiv" style="text-align:center">



</div>