@{
    ViewBag.Title = "选择关联的脚手架搭设申请信息";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var scaffoldtype = request('scaffoldtype'); //0-搭设 1-验收 2-拆除
    var setuptype = request('setuptype');
    var compantype = request('companytype');
    $(function () {
        GetGrid();
    });

    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() - 108.5,
            url: "../../HighRiskWork/Scaffold/GetListJson",
            postData: { queryJson: getQueryJson() },
            datatype: "json",
            colModel: [
                { label: 'ID', name: 'id', index: 'id', align: 'left', hidden: true },
                { label: '申请用户ID', name: 'applyuserid', hidden: true },
                { label: '搭设单位ID', name: 'setupcompanyid', hidden: true },
                { label: '作业状态标识', name: 'auditstate', hidden: true },
                { label: '搭设类型', name: 'scaffoldtype', hidden: true },
                {
                    label: '作业状态', name: 'auditstatestr', index: 'auditstatestr', width: 180, align: 'center', formatter: function (cellvalue, options, rowObject) {
                        //搭设申请、拆除申请作业状态
                        if (rowObject.auditstate == 0) {
                            return "申请中";
                        }
                        if (rowObject.auditstate == 1) {
                            return '审核中';
                        }
                        if (rowObject.auditstate == 2) {
                            return '审核未通过';
                        }
                        if (rowObject.auditstate == 3) {
                            return '审核通过';
                        }
                        if (rowObject.auditstate == 4) {
                            return '<a href="#">验收中</a>';
                        }
                        if (rowObject.auditstate == 5) {
                            return '<a href="#">验收未通过</a>';
                        }
                        if (rowObject.auditstate == 6) {
                            return '<a href="#">验收通过</a>';
                        }
                    }
                },
                {
                    label: '申请类型', name: 'scaffoldtypestr', index: 'scaffoldtypestr', width: 150, align: 'center', formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.scaffoldtype == 0) {
                            return "搭设申请";
                        }
                        if (rowObject.scaffoldtype == 1) {
                            return "验收申请";
                        }
                        if (rowObject.scaffoldtype == 2) {
                            return "拆除申请";
                        }
                    }
                },
                { label: '申请编号', name: 'applycode', index: 'applycode', width: 100, align: 'center' },
                { label: '工程名称', name: 'outprojectname', index: 'outprojectname', width: 150, align: 'center' },
                { label: '搭设单位', name: 'setupcompanyname', index: 'senddeptname', width: 220, align: 'center' },
                {
                    label: '搭设时间', name: 'setupdate', index: 'setupdate', width: 280, align: 'center', formatter: function (cellvalue, options, rowObject) {
                        return formatDate(rowObject.setupstartdate, 'yyyy-MM-dd hh:mm') + " - " + formatDate(rowObject.setupenddate, 'yyyy-MM-dd hh:mm');
                    }
                },
                { label: '申请人', name: 'applyusername', index: 'applyreturntime', width: 100, align: 'center' },
                { label: '申请时间', name: 'applydate', index: 'applypeople', width: 110, align: 'center', formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' } },
                { label: '搭设开始时间', name: 'setupstartdate', hidden: true },
                { label: '搭设结束时间', name: 'setupenddate', hidden: true }
            ],
            viewrecords: true,
            rowNum: 20,
            rowList: [20, 30, 50],
            pager: "#gridPager",
            sortname: 'createdate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: true,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);
            }
        });
    }

    function getQueryJson() {
        var type = 0;
        var audit = 3;
        var isnodismentle = "true";
        //拆除申请时-查验收申请通过，默认为搭设申请通过
        if (scaffoldtype == 2) {
            type = 1;
        }
        var query = {
            ScaffoldType: type,
            AuditState: audit,
            SetupType: setuptype,
            SetupCompanyType: compantype,
            IsNoDismentle: isnodismentle
        }
        console.log(query);
        return JSON.stringify(query);
    }

    //返回选择后的结果并赋值到dom控件
    //callback:回调函数
    function AcceptClick(callback) {
        var keyValue = keyValue = $('#gridTable').jqGridRowValue('id');
        //如果
        if (!keyValue) {
            dialogMsg('请选择脚手架信息！', 0);
            return;
        }
        if (callback) {
            callback(keyValue);
        }
        dialogClose();
    }
</script>
<div style="margin-top: 20px; margin-right: 30px;">
    <div class="gridPanel">
        <table id="gridTable"></table>
        <div id="gridPager"></div>
    </div>
</div>
