/* 分布图样式 */
.instruct_section{
    position: absolute;
    padding-left: 12px;
    margin-top: 3px;
}
.instruct_section h2{
  line-height: 39px;
  font-size: 20px;
  font-weight: bold;
}
.bgwrap{
    width: 1920px;
    height: 920px;
    margin: 0 auto;
    cursor: pointer;
    /* background: url('../../images/guolu/floor1/bg2.jpg') no-repeat left top; */
    position: absolute;
    top: 0;
    left: -230px;
    /* z-index: 10; */
}
.container{
    width: 100%;
}
.contentBox{
    width: 1528px;
    height: 793px;
    margin: 64px auto 0;
    box-sizing: border-box;
    /* padding-top: 21px; */
    cursor: pointer;
    background: url('../../images/guolu/floor1/bg.png') no-repeat;
    position: relative;
    /* position: absolute;
    top: 0;
    left: 0;
    transform: translate(0,64px); */
}
.content{
    width: 100%;
    height: 100%;
    font-size: 12px;
    color: #000;
    position: absolute;
}
.content>div{
    position: absolute;
}
.floorview{
  position: absolute;
  left: -71px;
  top: 296px;
  width: 38px;
  border: 1px solid #90969d;
}
.floorview li{
  width: 100%;
  font-size: 16px;
  line-height: 48px;
  text-align: center;
  background-color: #cccccc;
  border-bottom: 1px solid #90969d;
}
.floorview li:last-child{
  border-bottom: none;
}
.floorview li.active{
  background-color: #f4f4f4;
}
.newIcon{
    display: block;
    width: 15px;
    height: 15px;
    background-size: 100% 100%;
    position: absolute;
    left: 90%;
    top: 85%;
    transform: translate(-50%, -50%);
}
.importAccident{
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 85%;
  left: 10%;
  transform: translate(-50%, -50%);
  background: url(../../images/lv1.png) no-repeat;
  background-size: contain;
}

.content>div:hover>ul{
  display: block;
}
.content .itemul{
  display: none;
  position: absolute;
  width: 90px;
  right: -90px;
  color: #000;
  top: 0;
  background: pink;
  z-index: 2;
}

/* 色块定位 */
.index-1{
    left: 25px;
    top: 180px;
}
.word-1{
  position: absolute;
  left: 0;
  top: -34px;
  width: 56px;
  line-height: 16px;
  text-align: center;
}
.infa-1{
  position: absolute;
  left: -5px;
  top: 4px;
  width: 30px;
  text-align: center;
}
.infb-1{
  position: absolute;
  left: 19px;
  top: 4px;
  width: 30px;
  text-align: center;
}

.index-2{
  left: 22px;
  top: 216px;
}
.word-2{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 42px;
    line-height: 16px;
    text-align: center;
}

.index-3{
  left: 15px;
  top: 292px;
}
.word-3{
    position: absolute;
    left: 0;
    top: 0;
    width: 105%;
    height: 42px;
    line-height: 16px;
    text-align: center;
}

.index-4{
  left: 12px;
  top: 350px;
}
.word-4{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 46px;
    line-height: 16px;
    text-align: center;
}

.index-5{
  left: 68px;
  top: 287px;
}
.word-5{
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    line-height: 15px;
    text-align: center;
}
.importAccident-5{
  top: 5px;
}

.index-6{
  left: 52px;
  top: 443px;
}
.word-6{
    position: absolute;
    left: -19px;
    top: -19px;
    width: 60px;
    line-height: 16px;
    text-align: center;
}

.index-7{
  left: 35px;
  top: 470px;
}
.word-7{
    position: absolute;
    left: 0;
    top: 21px;
    width: 60px;
    line-height: 16px;
    text-align: center;
}

.index-8{
  left: 107px;
  top: 238px;
}
.word-8{
    position: absolute;
    left: 18px;
    top: -9px;
    width: 34px;
    line-height: 15px;
    text-align: center;
}
.infa-8{
  position: absolute;
  left: -8px;
  top: 0px;
  width: 34px;
  text-align: center;
}
.infb-8{
  position: absolute;
  left: -8px;
  top: 25px;
  width: 34px;
  text-align: center;
}
.newIcon-8{
  left: 100%;
  top: 100%;
}
.importAccident-8{
  top: 0%;
  left: 0%;
}

.index-9{
  left: 103px;
  top: 321px;
}
.word-9{
    position: absolute;
    left: 18px;
    top: 0px;
    width: 34px;
    line-height: 15px;
    text-align: center;
}

.index-10{
  left: 156px;
  top: 148px;
}
.word-10{
    position: absolute;
    left: 13px;
    top: 25px;
    width: 20px;
    font-size: 16px;
    line-height: 37px;
    text-align: center;
}

.index-11{
  left: 225px;
  top: 148px;
}
.word-11{
    position: absolute;
    left: 13px;
    top: 25px;
    width: 20px;
    font-size: 16px;
    line-height: 37px;
    text-align: center;
}

.index-12{
  left: 369px;
  top: 148px;
}
.word-12{
    position: absolute;
    left: 13px;
    top: 25px;
    width: 20px;
    font-size: 16px;
    line-height: 37px;
    text-align: center;
}

.index-13{
  left: 420px;
  top: 148px;
}
.word-13{
    position: absolute;
    left: 27px;
    top: 25px;
    width: 20px;
    font-size: 16px;
    line-height: 37px;
    text-align: center;
}
.importAccident-13{
  top: 15%;
  left: 95%;
}

.index-14{
  left: 97px;
  top: 467px;
}
.word-14{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    font-size: 16px;
    line-height: 71px;
    text-align: center;
}
.importAccident-14{
  top: 50%;
}

.index-15{
  left: 99px;
  top: 552px;
}
.word-15{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 46px;
  line-height: 16px;
  text-align: center;
}

.index-16{
  left: 290px;
  top: 631px;
}
.word-16{
  position: absolute;
  left: -15px;
  top: -22px;
  width: 73px;
  line-height: 16px;
  text-align: center;
}
.infa-16{
  position: absolute;
  left: -5px;
  top: 0px;
  width: 30px;
  text-align: center;
}
.infb-16{
  position: absolute;
  left: 19px;
  top: 0px;
  width: 30px;
  text-align: center;
}
.importAccident-16{
  top: 100%;
  left: 0%;
}
.newIcon-16{
  top: 100%;
  left: 100%;
}

.index-17{
  left: 126px;
  top: 695px;
}
.word-17{
  position: absolute;
  left: -15px;
  top: -22px;
  width: 73px;
  line-height: 16px;
  text-align: center;
}
.infa-17{
  position: absolute;
  left: 347px;
  top: 9px;
  font-size: 16px;
  width: 30px;
  text-align: center;
}
.infb-17{
  position: absolute;
  left: 277px;
  top: 9px;
  font-size: 16px;
  width: 30px;
  text-align: center;
}
.infc-17{
  position: absolute;
  left: 209px;
  top: 9px;
  font-size: 16px;
  width: 30px;
  text-align: center;
}
.infd-17{
  position: absolute;
  left: 143px;
  top: 9px;
  font-size: 16px;
  width: 30px;
  text-align: center;
}
.infe-17{
  position: absolute;
  left: 73px;
  top: 9px;
  font-size: 16px;
  width: 30px;
  text-align: center;
}
.inff-17{
  position: absolute;
  left: 6px;
  top: 9px;
  font-size: 16px;
  width: 30px;
  text-align: center;
}
.newIcon-17a{
  left: 99%;
  top: 50%;
}
.newIcon-17b{
  left: 80%;
  top: 50%;
}
.newIcon-17c{
  left: 63%;
  top: 50%;
}
.newIcon-17d{
  left: 45%;
  top: 50%;
}
.newIcon-17e{
  left: 27%;
  top: 50%;
}
.newIcon-17f{
  left: 9%;
  top: 50%;
}
.importAccident-17a{
  left: 92%;
}
.importAccident-17b{
  left: 72%;
}
.importAccident-17c{
  left: 56%;
}
.importAccident-17d{
  left: 39%;
}
.importAccident-17e{
  left: 21%;
}
.importAccident-17f{
  left: 3%;
}


.index-18{
  left: 542px;
  top: 371px;
}
.word-18{
  position: absolute;
  left: 11px;
  top: 51px;
  width: 50px;
  line-height: 24px;
  font-size: 16px;
  text-align: center;
}

.index-19{
  left: 666px;
  top: 144px;
}
.word-19{
  position: absolute;
  left: 1px;
  top: 4px;
  width: 46px;
  line-height: 20px;
  text-align: center;
}

.index-20{
  left: 723px;
  top: 144px;
}
.infa-20{
  position: absolute;
  left: 3px;
  top: 5px;
  font-size: 12px;
  line-height: 20px;
  width: 42px;
  text-align: center;
}
.infb-20{
  position: absolute;
  left: 67px;
  top: 5px;
  font-size: 12px;
  line-height: 20px;
  width: 42px;
  text-align: center;
}
.infc-20{
  position: absolute;
  left: 124px;
  top: 5px;
  font-size: 12px;
  line-height: 20px;
  width: 42px;
  text-align: center;
}
.importAccident-20a{
  left: 5%;
}
.importAccident-20b{
  left: 43%;
}
.importAccident-20c{
  left: 77%;
}
.newIcon-20a{
  left: 25%;
  top: 50%;
}
.newIcon-20b{
  left: 64%;
  top: 50%;
}
.newIcon-20c{
  left: 97%;
  top: 50%;
}

.index-21{
  left: 666px;
  top: 204px;
}
.word-21{
  position: absolute;
  left: 1px;
  top: 15px;
  width: 46px;
  line-height: 20px;
  text-align: center;
}

.index-22{
  left: 722px;
  top: 204px;
}
.word-22{
  position: absolute;
  left: 1px;
  top: 15px;
  width: 46px;
  line-height: 20px;
  text-align: center;
}

.index-23{
  left: 781px;
  top: 202px;
}
.word-23{
  position: absolute;
  left: 1px;
  top: 9px;
  width: 100%;
  line-height: 20px;
  text-align: center;
}

.index-24{
  left: 663px;
  top: 268px;
}
.word-24{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
}

.index-25{
  left: 663px;
  top: 322px;
}
.word-25{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  line-height: 56px;
  font-size: 16px;
  text-align: center;
}

.index-26{
  left: 663px;
  top: 382px;
}
.word-26{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  line-height: 71px;
  font-size: 16px;
  text-align: center;
}

.index-27{
  left: 663px;
  top: 459px;
}
.word-27{
  position: absolute;
  left: 26px;
  top: 47px;
  width: 50px;
  line-height: 32px;
  font-size: 16px;
  text-align: center;
}

.index-28{
  right: 645px;
  top: 459px;
}
.word-28{
  position: absolute;
  left: 26px;
  top: 47px;
  width: 50px;
  line-height: 32px;
  font-size: 16px;
  text-align: center;
}

.index-29{
  right: 534px;
  top: 371px;
}
.word-29{
  position: absolute;
  left: 11px;
  top: 51px;
  width: 50px;
  line-height: 24px;
  font-size: 16px;
  text-align: center;
}

.index-30{
  right: 347px;
  top: 148px;
}
.word-30{
    position: absolute;
    left: 13px;
    top: 25px;
    width: 20px;
    font-size: 16px;
    line-height: 37px;
    text-align: center;
}
.importAccident-30{
  top: 95%;
  left: 90%;
}

.index-31{
  right: 401px;
  top: 148px;
}
.word-31{
    position: absolute;
    left: 13px;
    top: 18px;
    width: 20px;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
}

.index-32{
  right: 212px;
  top: 148px;
}
.word-32{
    position: absolute;
    left: 13px;
    top: 18px;
    width: 20px;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
}

.index-33{
  right: 152px;
  top: 147px;
}
.word-33{
    position: absolute;
    right: 13px;
    top: 25px;
    width: 20px;
    font-size: 16px;
    line-height: 37px;
    text-align: center;
}

.index-34{
  right: 123px;
  top: 238px;
}
.word-34{
    position: absolute;
    left: 18px;
    top: -9px;
    width: 34px;
    line-height: 15px;
    text-align: center;
}
.infa-34{
  position: absolute;
  left: -8px;
  top: 0px;
  width: 34px;
  text-align: center;
}
.infb-34{
  position: absolute;
  left: -8px;
  top: 25px;
  width: 34px;
  text-align: center;
}
.newIcon-34{
  left: 100%;
  top: 100%;
}
.importAccident-34{
  top: 0%;
  left: 0%;
}

.index-35{
  right: 120px;
  top: 321px;
}
.word-35{
    position: absolute;
    left: 18px;
    top: 0px;
    width: 34px;
    line-height: 15px;
    text-align: center;
}

.index-36{
  right: 83px;
  top: 476px;
}
.word-36{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    font-size: 16px;
    line-height: 71px;
    text-align: center;
}
.importAccident-36{
  top: 50%;
}

.index-37{
  right: 89px;
  top: 558px;
}
.word-37{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 46px;
  line-height: 16px;
  text-align: center;
}

.index-38{
  right: 273px;
  top: 631px;
}
.word-38{
  position: absolute;
  left: -15px;
  top: -22px;
  width: 73px;
  line-height: 16px;
  text-align: center;
}
.infa-38{
  position: absolute;
  left: -5px;
  top: 0px;
  width: 30px;
  text-align: center;
}
.infb-38{
  position: absolute;
  left: 19px;
  top: 0px;
  width: 30px;
  text-align: center;
}
.importAccident-38{
  top: 100%;
  left: 0%;
}
.newIcon-38{
  top: 100%;
  left: 100%;
}

.index-39{
  right: 125px;
  top: 695px;
}
.word-39{
  position: absolute;
  left: -15px;
  top: -22px;
  width: 73px;
  line-height: 16px;
  text-align: center;
}
.infa-39{
  position: absolute;
  left: 347px;
  top: 9px;
  font-size: 16px;
  width: 30px;
  text-align: center;
}
.infb-39{
  position: absolute;
  left: 277px;
  top: 9px;
  font-size: 16px;
  width: 30px;
  text-align: center;
}
.infc-39{
  position: absolute;
  left: 209px;
  top: 9px;
  font-size: 16px;
  width: 30px;
  text-align: center;
}
.infd-39{
  position: absolute;
  left: 143px;
  top: 9px;
  font-size: 16px;
  width: 30px;
  text-align: center;
}
.infe-39{
  position: absolute;
  left: 73px;
  top: 9px;
  font-size: 16px;
  width: 30px;
  text-align: center;
}
.inff-39{
  position: absolute;
  left: 6px;
  top: 9px;
  font-size: 16px;
  width: 30px;
  text-align: center;
}
.newIcon-39a{
  left: 99%;
  top: 50%;
}
.newIcon-39b{
  left: 80%;
  top: 50%;
}
.newIcon-39c{
  left: 63%;
  top: 50%;
}
.newIcon-39d{
  left: 45%;
  top: 50%;
}
.newIcon-39e{
  left: 27%;
  top: 50%;
}
.newIcon-39f{
  left: 9%;
  top: 50%;
}
.importAccident-39a{
  left: 92%;
}
.importAccident-39b{
  left: 72%;
}
.importAccident-39c{
  left: 56%;
}
.importAccident-39d{
  left: 39%;
}
.importAccident-39e{
  left: 21%;
}
.importAccident-39f{
  left: 3%;
}

.index-40{
  right: 29px;
  top: 181px;
}
.word-40{
position: absolute;
left: 0;
top: -34px;
width: 56px;
line-height: 16px;
text-align: center;
}
.infa-40{
position: absolute;
left: -5px;
top: 4px;
width: 30px;
text-align: center;
}
.infb-40{
position: absolute;
left: 19px;
top: 4px;
width: 30px;
text-align: center;
}

.index-41{
  right: 16px;
  top: 220px;
}
.word-41{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 42px;
    line-height: 16px;
    text-align: center;
}

.index-42{
  right: 54px;
  top: 307px;
}
.word-42{
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    line-height: 15px;
    text-align: center;
}
.importAccident-42{
  top: 5px;
}

.index-43{
  right: 40px;
  top: 449px;
}
.word-43{
    position: absolute;
    left: -4px;
    top: -19px;
    width: 60px;
    line-height: 16px;
    text-align: center;
}

.index-44{
  right: 27px;
  top: 481px;
}
.word-44{
    position: absolute;
    left: 0;
    top: 21px;
    width: 60px;
    line-height: 16px;
    text-align: center;
}