/* 分布图样式 */
.instruct_section{
    padding-left: 12px;    
    transform: translateX(-49px);
}
.instruct_section h2{
  line-height: 39px;
  font-size: 20px;
  font-weight: bold;
}
.bgwrap{
    width: 1920px;
    height: 920px;
    margin: 0 auto;
    cursor: pointer;
    /* background: url('../../images/guolu/floor3/bg2.jpg') no-repeat left top; */
    position: absolute;
    top: 0;
    left: -280px;
    /* z-index: 10; */
}
.container{
    width: 100%;
}
.contentBox{
    width: 1415px;
    height: 793px;
    box-sizing: border-box;
    padding-top: 21px;
    margin: 64px auto 0;
    cursor: pointer;
    background: url('../../images/guolu/floor3/bg.png') no-repeat;
    position: relative;
}
.content{
    width: 100%;
    height: 100%;
    font-size: 12px;
    color: #000;
    position: relative;
}
.content>div{
    position: absolute;
}
.floorview{
  position: absolute;
  left: -121px;
  top: 296px;
  width: 38px;
  border: 1px solid #90969d;
}
.floorview li{
  width: 100%;
  font-size: 16px;
  line-height: 48px;
  text-align: center;
  background-color: #cccccc;
  border-bottom: 1px solid #90969d;
}
.floorview li:last-child{
  border-bottom: none;
}
.floorview li.active{
  background-color: #f4f4f4;
}
.newIcon{
    display: block;
    width: 15px;
    height: 15px;
    background-size: 100% 100%;
    position: absolute;
    left: 90%;
    top: 10%;
    transform: translate(-50%, -50%);
}
.importAccident{
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 85%;
  left: 10%;
  transform: translate(-50%, -50%);
  background: url(../../images/lv1.png) no-repeat;
  background-size: contain;
}

.content>div:hover>ul{
  display: block;
}
.content .itemul{
  display: none;
  position: absolute;
  width: 90px;
  right: -90px;
  color: #000;
  top: 0;
  background: pink;
  z-index: 2;
}

/* 色块定位 */
.index-1{
    left: 185px;
    top: 323px;
}
.word-1{
    position: absolute;
    left: -83px;
    top: 4px;
    width: 75px;
    line-height: 16px;
    text-align: center;
}

.index-2{
    left: 260px;
    top: 323px;
}
.word-2{
    position: absolute;
    left: 45px;
    top: 4px;
    width: 75px;
    line-height: 16px;
    text-align: center;
}

.index-3{
    left: 118px;
    top: 389px;
}
.word-3{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 16px;
    line-height: 160px;
    text-align: center;
}

.index-4{
    left: 77px;
    top: 392px;
}
.word-4{
    position: absolute;
    left: -95px;
    top: 4px;
    width: 90px;
    line-height: 16px;
    text-align: center;
}

.index-5{
    left: 77px;
    top: 421px;
}
.word-5{
    position: absolute;
    left: -95px;
    top: 3px;
    width: 90px;
    line-height: 16px;
    text-align: center;
}

.index-6{
    left: 77px;
    top: 453px;
}
.word-6{
    position: absolute;
    left: -108px;
    top: 1px;
    width: 105px;
    line-height: 16px;
    text-align: center;
}

.index-7{
    left: 77px;
    top: 481px;
}
.word-7{
    position: absolute;
    left: -84px;
    top: 1px;
    width: 105px;
    line-height: 16px;
    text-align: center;
}

.index-8{
    left: 77px;
    top: 513px;
}
.word-8{
    position: absolute;
    left: -103px;
    top: 3px;
    width: 105px;
    line-height: 16px;
    text-align: center;
}

.index-9{
    left: 351px;
    top: 392px;
}
.inf-9a{
    position: absolute;
    left: 11px;
    top: 0px;
    width: 90px;
    line-height: 16px;
    text-align: center;
}
.inf-9b{
    position: absolute;
    left: 11px;
    top: 30px;
    width: 90px;
    line-height: 16px;
    text-align: center;
}
.inf-9c{
    position: absolute;
    left: 11px;
    top: 140px;
    width: 90px;
    line-height: 16px;
    text-align: center;
}
.newIcon-9a{
    top: 2%;
}
.newIcon-9b{
    top: 22%;
}
.newIcon-9c{
    top: 88%;
}
.importAccident-9a{
    top: 10%;
    left: 0%;
}
.importAccident-9b{
    top: 28%;
    left: 0%;
}
.importAccident-9c{
    top: 96%;
    left: 0%;
}

.index-10{
    left: 36px;
    top: 636px;
}
.word-10{
    position: absolute;
    left: -15px;
    top: -22px;
    width: 73px;
    line-height: 16px;
    text-align: center;
}
.inf-10a{
    position: absolute;
    left: 429px;
    top: 14px;
    font-size: 16px;
    width: 30px;
    text-align: center;
}
.inf-10b{
    position: absolute;
    left: 347px;
    top: 14px;
    font-size: 16px;
    width: 30px;
    text-align: center;
}
.inf-10c{
    position: absolute;
    left: 262px;
    top: 14px;
    font-size: 16px;
    width: 30px;
    text-align: center;
}
.inf-10d{
    position: absolute;
    left: 178px;
    top: 14px;
    font-size: 16px;
    width: 30px;
    text-align: center;
}
.inf-10e{
    position: absolute;
    left: 94px;
    top: 14px;
    font-size: 16px;
    width: 30px;
    text-align: center;
}
.inf-10f{
    position: absolute;
    left: 11px;
    top: 14px;
    font-size: 16px;
    width: 30px;
    text-align: center;
}

.newIcon-10a{
    left: 99%;
    top: 50%;
}
.newIcon-10b{
    left: 81%;
    top: 50%;
}
.newIcon-10c{
    left: 63%;
    top: 50%;
}
.newIcon-10d{
    left: 45%;
    top: 50%;
}
.newIcon-10e{
    left: 27%;
    top: 50%;
}
.newIcon-10f{
    left: 10%;
    top: 50%;
}
.importAccident-10a{
    left: 92%;
}
.importAccident-10b{
    left: 73%;
}
.importAccident-10c{
    left: 55%;
}
.importAccident-10d{
    left: 38%;
}
.importAccident-10e{
    left: 20%;
}
.importAccident-10f{
    left: 2%;
}

.index-11{
    left: 542px;
    top: 185px;
}
.word-11{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 16px;
    line-height: 171px;
    text-align: center;
}

.index-12{
    left: 542px;
    top: 359px;
}
.word-12{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 16px;
    line-height: 66px;
    text-align: center;
}

.index-13{
    left: 541px;
    top: 627px;
}
.word-13{
    position: absolute;
    left: 0;
    top: 9px;
    width: 100%;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}

.index-14{
    right: 597px;
    top: 185px;
}
.word-14{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 16px;
    line-height: 171px;
    text-align: center;
}

.index-15{
    right: 597px;
    top: 359px;
}
.word-15{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 16px;
    line-height: 94px;
    text-align: center;
}

.index-16{
    right: 597px;
    top: 456px;
}
.word-16{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 16px;
    line-height: 114px;
    text-align: center;
}

.index-17{
    right: 595px;
    top: 627px;
}
.word-17{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 16px;
    line-height: 75px;
    text-align: center;
}

.index-18{
    right: 294px;
    top: 323px;
}
.word-18{
    position: absolute;
    left: -83px;
    top: 4px;
    width: 75px;
    line-height: 16px;
    text-align: center;
}

.index-19{
    right: 219px;
    top: 323px;
}
.word-19{
    position: absolute;
    left: 45px;
    top: 4px;
    width: 75px;
    line-height: 16px;
    text-align: center;
}

.index-20{
    right: 181px;
    top: 389px;
}
.word-20{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 16px;
    line-height: 160px;
    text-align: center;
}

.index-21{
    right: 405px;
    top: 392px;
}
.word-21{
    position: absolute;
    left: -95px;
    top: 4px;
    width: 90px;
    line-height: 16px;
    text-align: center;
}

.index-22{
    right: 405px;
    top: 421px;
}
.word-22{
    position: absolute;
    left: -95px;
    top: 3px;
    width: 90px;
    line-height: 16px;
    text-align: center;
}

.index-23{
    right: 405px;
    top: 453px;
}
.word-23{
    position: absolute;
    left: -99px;
    top: 1px;
    width: 105px;
    line-height: 16px;
    text-align: center;
}

.index-24{
    right: 405px;
    top: 481px;
}
.word-24{
    position: absolute;
    left: -82px;
    top: 2px;
    width: 105px;
    line-height: 16px;
    text-align: center;
}

.index-25{
    right: 405px;
    top: 513px;
}
.word-25{
    position: absolute;
    left: -100px;
    top: 3px;
    width: 105px;
    line-height: 16px;
    text-align: center;
}

.index-26{
    right: 141px;
    top: 392px;
}
.inf-26a{
    position: absolute;
    left: 11px;
    top: 0px;
    width: 90px;
    line-height: 16px;
    text-align: center;
}
.inf-26b{
    position: absolute;
    left: 11px;
    top: 30px;
    width: 90px;
    line-height: 16px;
    text-align: center;
}
.inf-26c{
    position: absolute;
    left: 11px;
    top: 140px;
    width: 90px;
    line-height: 16px;
    text-align: center;
}
.newIcon-26a{
    top: 2%;
}
.newIcon-26b{
    top: 22%;
}
.newIcon-26c{
    top: 88%;
}
.importAccident-26a{
    top: 10%;
    left: 0%;
}
.importAccident-26b{
    top: 28%;
    left: 0%;
}
.importAccident-26c{
    top: 96%;
    left: 0%;
}

.index-27{
    right: 93px;
    top: 636px;
}
.word-27{
    position: absolute;
    left: -15px;
    top: -22px;
    width: 73px;
    line-height: 16px;
    text-align: center;
}
.inf-27a{
    position: absolute;
    left: 429px;
    top: 14px;
    font-size: 16px;
    width: 30px;
    text-align: center;
}
.inf-27b{
    position: absolute;
    left: 347px;
    top: 14px;
    font-size: 16px;
    width: 30px;
    text-align: center;
}
.inf-27c{
    position: absolute;
    left: 262px;
    top: 14px;
    font-size: 16px;
    width: 30px;
    text-align: center;
}
.inf-27d{
    position: absolute;
    left: 178px;
    top: 14px;
    font-size: 16px;
    width: 30px;
    text-align: center;
}
.inf-27e{
    position: absolute;
    left: 94px;
    top: 14px;
    font-size: 16px;
    width: 30px;
    text-align: center;
}
.inf-27f{
    position: absolute;
    left: 11px;
    top: 14px;
    font-size: 16px;
    width: 30px;
    text-align: center;
}
.newIcon-27a{
    left: 99%;
    top: 50%;
}
.newIcon-27b{
    left: 81%;
    top: 50%;
}
.newIcon-27c{
    left: 63%;
    top: 50%;
}
.newIcon-27d{
    left: 45%;
    top: 50%;
}
.newIcon-27e{
    left: 27%;
    top: 50%;
}
.newIcon-27f{
    left: 10%;
    top: 50%;
}
.importAccident-27a{
    left: 92%;
}
.importAccident-27b{
    left: 73%;
}
.importAccident-27c{
    left: 55%;
}
.importAccident-27d{
    left: 38%;
}
.importAccident-27e{
    left: 20%;
}
.importAccident-27f{
    left: 2%;
}
