@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<!--webUploader文件上传组件-->
<link href="~/content/scripts/plugins/webuploader/webuploader.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/webuploader/webuploader-demo.css" rel="stylesheet" />
<script type="text/javascript" src="~/content/scripts/plugins/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/fileupload.js"></script>
<script type="text/javascript">
    var keyValue = request("keyValue"); //主键 隐患信息主键
    $(function ()
    {
        if (!!keyValue) {
            $.SetForm({
                url: "../../LllegalManage/LllegalConfirm/GetEntityJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
     
                    //验收确认结果
                    if (data.CONFIRMRESULT == "1") {
                        $("input[name='CONFIRMRESULT']:eq(1)").removeAttr("checked");
                        $("input[name='CONFIRMRESULT']:eq(0)").prop("checked", "checked");
                    }
                    else {
                        $("input[name='CONFIRMRESULT']:eq(0)").removeAttr("checked");
                        $("input[name='CONFIRMRESULT']:eq(1)").prop("checked", "checked");
                        $(".form:eq(0) tr:eq(2) td:eq(0)").html("不通过原因"); //验收确认日期
                    }
                }
            })
        }
    });

</script>

<div class="center-Panel" style="overflow-y: scroll; height: 600px;">
    <div style="margin-top: 5px;"></div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;违章验收确认详情</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <div style="margin-right: 30px;">
                <table class="form">
                    <tr>
                        <td class="formTitle">确认人</td>
                        <td class="formValue">
                            <input id="CONFIRMPEOPLE" class="form-control" placeholder="请选择确认人" errormsg="确认人" checkexpession="NotNull" disabled="disabled" />
                            <input id="CONFIRMPEOPLEID" type="hidden" />
                            <input id="CONFIRMID" type="hidden" />
                        </td>
                        <td class="formTitle">确认单位</td>
                        <td class="formValue">
                            <input id="CONFIRMDEPTNAME" type="text" class="form-control" disabled="disabled" disabled="disabled" />
                            <input id="CONFIRMDEPTCODE" type="hidden" />
                        </td>
                    </tr>
                    <tr>

                        <td class="formTitle">确认情况</td>
                        <td class="formValue">
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="CONFIRMRESULT" id="CONFIRMRESULT1" value="1" checked="checked" disabled="disabled" />通过
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="CONFIRMRESULT" id="CONFIRMRESULT2" value="0" disabled="disabled" />不通过
                                </label>
                            </div>
                        </td>
                        <td class="formTitle">确认日期</td>
                        <td class="formValue">
                            <input id="CONFIRMTIME" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" isvalid="yes" checkexpession="NotNull" errormsg="确认日期" disabled="disabled" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">确认意见</td>
                        <td class="formValue" colspan="3">
                            <textarea id="CONFIRMMIND" class="form-control" isvalid="yes" checkexpession="NotNull" length="2000" errormsg="确认意见" disabled="disabled"></textarea>
                        </td>
                    </tr>                    
                </table>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    body {
        overflow: hidden;
    }
</style>