@{
    ViewBag.Title = "特种设备管理";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script>
    $.ajaxSetup({
        async: false
    });
    var _parentId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptCode";
    var _isOrg = '@(ERCHTMS.Code.OperatorProvider.Provider.Current().RoleName.Contains("公司级")?"Organize":"Department")';
    var checkMode = request('checkMode');
    var mode = request('mode');
    var userIds = request('userIds');
    var DeptIds = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptId";
    var _roleName= "@ERCHTMS.Code.OperatorProvider.Provider.Current().RoleName";
    $(function () {

        if (checkMode == 0) {
            $(".ui-layout-east").remove();
        }
        InitialPage();
        GetTree();
        GetGrid();
    });
    //初始化页面
    function InitialPage() {
        $('#layout').layout({
            applyDemoStyles: true,
            onresize: function () {
                $(window).resize();
            }
        });

        //resize重设(表格、树形)宽高
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $("#gridTable").setGridHeight($(window).height() - 141.5);
                $("#itemTree").setTreeHeight($(window).height() - 50);

            }, 200);
            e.stopPropagation();
        });
        $("#users").height($(window).height() - 50);


    }

    //加载组织机构树
    function GetTree() {
        json = JSON.stringify(
            {
                SelectMode: 0,
                Mode: 0,
                DeptIds: DeptIds
            }
        );

        var item = {
            height: $(window).height() - 50,
            url: "../../BaseManage/Department/GetDepartTreeJson?json=" + json,
            onnodeclick: function (item) {
                _parentId = item.value;
                _isOrg = item.Sort;
                $('#btn_Search').trigger("click");
            }
        };
        //var item = {
        //    height: $(window).height() - 35,
        //    url: "../../BaseManage/Department/GetDeptTreeJson",
        //    onnodeclick: function (item) {
        //        _parentId = item.value;
        //        _isOrg = item.Sort;
        //        $('#btn_Search').trigger("click");
        //    }
        //};
        //初始化
        $("#itemTree").treeview(item);
        $("#itemTree_" + DeptIds.replace(/-/g, "_")).toggleClass("bbit-tree-selected");
    }
    var selectedRowIndex = -1;
    //加载表格
    function GetGrid() {
        var $gridTable = $('#gridTable');
        var queryJson = {
            code: _parentId,
            isOrg: _isOrg
        }
        $gridTable.jqGrid({
            url: "../../EmergencyPlatform/Drillplan/GetPageListJson",
            datatype: "json",
            postData: { queryJson: JSON.stringify(queryJson) },
            height: $(window).height() - 170,
            autowidth: true,
            colModel: [
                { label: '主键', name: 'id', index: 'id', width: 300, align: 'left', sortable: true, hidden: true },
                { label: '演练预案类型', name: 'drilltype', index: 'drilltype', width: 300, align: 'left', sortable: true, hidden: true },
                { label: '演练方式', name: 'drillmode', index: 'drillmode', width: 300, align: 'left', sortable: true, hidden: true },
                { label: '演练部门', name: 'departid', hidden: true }, { label: '组织部门', name: 'orgdeptid', hidden: true }, { label: '组织部门', name: 'orgdeptcode', hidden: true },
                { label: '组织部门', name: 'orgdept', width: 300, align: 'center', sortable: false, editable: true },
                { label: '演练部门', name: 'departname', width: 300, align: 'center', sortable: false, editable: true },
                { label: '演练预案名称', name: 'name', index: 'name', width: 300, align: 'center', sortable: false, editable: true },
                { label: '演练预案类型', name: 'drilltypename', width: 200, index: 'drilltypename', align: 'center', sortable: false, editable: true },
                { label: '演练方式', name: 'drillmodename', width: 200, index: 'drilltypename', align: 'center', sortable: false, editable: true },
                { label: '演练计划费用（元）', name: 'drillcost', width: 200, index: 'drilltypename', align: 'center', sortable: false, editable: true },
                {
                    label: ' 计划时间', name: 'plantime', width: 200, index: 'plantime', align: 'center', editable: true
                }],

            viewrecords: true,
            rowNum: 30,
            // rowList: [30, 50, 100],
            pager: "#gridPager",
            sortname: 'createdate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);
            }
        });
        //$gridTable.authorizeColModel()
        //查询条件
        $("#queryCondition .dropdown-menu li").click(function () {
            var text = $(this).find('a').html();
            var value = $(this).find('a').attr('data-value');
            $("#queryCondition .dropdown-text").html(text).attr('data-value', value)
        });
        //查询事件
        $("#btn_Search").click(function () {
            var queryJson = {
                condition: $("#queryCondition").find('.dropdown-text').attr('data-value'),
                keyword: $("#txt_Keyword").val(),
                code: _parentId,
                isOrg: _isOrg
            }
            $gridTable.jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify(queryJson) }, page: 1
            }).trigger('reloadGrid');
        });
        //查询回车
        $('#txt_Keyword').bind('keypress', function (event) {
            if (event.keyCode == "13") {
                $('#btn_Search').trigger("click");
            }
        });
    }
    //返回选择后的结果并赋值到dom控件,多个值用逗号分隔
    //winObject:窗体中需要查找domId的对象，一般可写成window.document.body
    //domId：接收返回值的dom节点的ID，多个用逗号分隔，顺序必须依次为设备ID,设备名称，设备编号,区域名称,区域ID,区域编码（多选用逗号分隔）
    function AcceptClick(options) {

        var winObject = options.winObject;
        var domId = options.domId;
        var selVal = new Array();

        if (winObject != undefined && domId != undefined) {
            if (domId.length > 0) {
                var id = ""; var name = "";
                var departname = ""; var departid = "";
                var drilltypename = ""; var drilltype = "";
                var drillmodename = ""; var drillmode = ""; var drillcost = "";
                if (checkMode == 1) {
                    var arr = $("#users").find("input:checked");

                    if (arr.length == 0) {
                        dialogAlert("请选择应急演练计划！", 2);
                        return;
                    } else {
                        arr.each(function (i, dom) {
                            id += dom.id + ",";
                            name += $(dom).attr("name") + ",";
                            departname += $(dom).attr("departname") + ",";
                            departid += $(dom).attr("departid") + ",";

                            drilltypename += $(dom).attr("drilltypename") + ",";
                            drilltype += $(dom).attr("drilltype") + ",";

                            drillmodename += $(dom).attr("drillmodename") + ",";
                            drillmode += $(dom).attr("drillmode") + ",";
                        });
                        id = id.substring(0, id.length - 1);
                        name = name.substring(0, name.length - 1);

                        departname = departname.substring(0, departname.length - 1);
                        departid = departid.substring(0, departid.length - 1);

                        drilltypename = drilltypename.substring(0, drilltypename.length - 1);
                        drilltype = name.substring(0, drilltype.length - 1);

                        drillmodename = name.substring(0, name.length - 1);
                        drillmode = name.substring(0, name.length - 1);
                    }
                } else {
                    if (selectedRowIndex <= 0) {
                        dialogAlert("请选择应急演练计划！", 2);
                        return;
                    } else {
                        var rowObject = $('#gridTable').jqGrid("getRowData", selectedRowIndex);
                        id = rowObject.id;
                        name = rowObject.name;
                        departname = rowObject.departname;
                        departid = rowObject.departid;
                        drilltypename = rowObject.drilltypename;
                        drilltype = rowObject.drilltype;
                        drillmodename = rowObject.drillmodename;
                        drillmode = rowObject.drillmode;
                        drillcost = rowObject.drillcost;
                    }

                }
                var ids = domId.split(',');
                var selVal = new Array(id, name, departname, departid, drilltypename, drilltype, drillmodename, drillmode, drillcost);
                for (var j = 0; j < ids.length; j++) {
                    if (ids[j].length >= 0) {
                        if (ids[j] != "") {
                            var dom = $(winObject).find("#" + ids[j]).eq(0);
                            if (dom[0].tagName == "DIV") {
                                $(dom).ComboBoxSetValue(selVal[j], winObject);
                            }
                            else {
                                dom.val(selVal[j]);
                            }
                        }
                    }
                }
            }
            if (options.callBack) {
                options.callBack();
            }
            dialogClose();
        }

    }
</script>
@*<script>$('.toolbar').authorizeButton()</script>*@
<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-west">
        <div class="west-Panel">
            <div class="panel-Title">
                <div class="col-md-10">
                    组织机构
                </div>
                <div class="col-md-2 text-right" style="padding-right:8px;">
                    <i class="fa fa-arrow-left" onclick="setBar(this)" style="cursor:pointer;" title="展开/收起"></i>
                </div>
            </div>
            <div id="itemTree"></div>
        </div>
    </div>
    <div class="ui-layout-center">
        <div class="center-Panel">
            <div class="panel-Title">应急任务</div>
            <div class="titlePanel">
                <div class="title-search">
                    <table>
                        <tr>
                            <td>
                                <div id="queryCondition" class="btn-group">
                                    <a class="btn btn-default dropdown-text" data-toggle="dropdown">选择条件</a>
                                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a data-value="Name">演练预案名称</a></li>
                                        <li><a data-value="DrillTypeName">演练预案类型</a></li>
                                        <li><a data-value="DrillModeName">演练方式</a></li>
                                    </ul>
                                </div>
                            </td>
                            <td style="padding-left: 2px;">
                                <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;" />
                            </td>
                            <td style="padding-left: 5px;">
                                <a id="btn_Search" class="btn btn-primary   "><i class="fa fa-search"></i>&nbsp;查询</a>
                                @*<a id="btn_Save" class="btn btn-primary   "><i class="fa fa-save"></i>&nbsp;保存</a>*@
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="panel-body">
                <table id="gridTable"></table>
                <div id="gridPager"></div>
            </div>
        </div>
    </div>
</div>







