@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<!--webUploader文件上传组件-->
@*<link href="~/content/scripts/plugins/webuploader/webuploader.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/webuploader/webuploader-demo.css" rel="stylesheet" />
<script type="text/javascript" src="~/content/scripts/plugins/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/fileupload.js"></script>*@
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>


<script>
    var keyValue = request('keyValue');
    var EditFlag = false;
    var Mode = request('Mode');

    $(function () {
        if (Mode == "view") {
            $("input").attr("disabled", "disabled");
            EditFlag = false;
        } else if (Mode == "edit") {
            EditFlag = true;
        } else {
            EditFlag = true;
        }
        initControl();
       
    });
    //初始化控件
    function initControl() {
        keyValue = keyValue.length == 0 ? "@Guid.NewGuid().ToString()" : keyValue;
        //file_upload.init({
        //    fileNumLimit: 1,
        //    keyValue: keyValue,
        //    extensions: '',
        //    isImage: false,
        //    el: '#uploader1',
        //    fileDir: 'TempManager'
        //});
        $("#ModuleName").ComboBox({
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            param: { EnCode: "TempModule" },
            id: "ItemValue",
            text: "ItemName",
            description: "==请选择==",
            height: "200px"
        })
        $("#ProessMode").ComboBox({
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            param: { EnCode: "TempProessMode" },
            id: "ItemValue",
            text: "ItemName",
            description: "==请选择==",
            height: "200px"
        })
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../OutsourcingProject/TempConfig/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                    $("#ModuleName").ComboBoxSetValue(data.ModuleCode);
                    //file_upload.bindFiles(EditFlag, false, keyValue, 'uploader1', EditFlag);
                }
            })
        }
    }
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        ////判断是否上传附件
        //if (!($("#uploader1 .queueList .filelist").find("tr").length > 1)) {
        //    dialogMsg('请先上传附件！', 0);
        //    return false
        //}
        var postData = $("#form1").formSerialize(keyValue);
        postData["ModuleName"] = $("#ModuleName").attr("data-text");
        postData["ModuleCode"] = $("#ModuleName").attr("data-value");
        $.SaveForm({
            url: "../../OutsourcingProject/TempConfig/SaveForm?keyValue=" + keyValue+'&Mode='+Mode,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }
</script>
<div style="margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle">模块名称<font face="宋体">*</font></td>
            <td class="formValue">
                <div id="ModuleName" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
            </td>
        </tr>
        <tr>
            <td class="formTitle">所属电厂<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="DeptId" type="hidden" class="form-control" />
                <input id="DeptCode" type="hidden" class="form-control" />
                <input id="DeptName" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" onclick="selectDept('', 0, 13, '所属部门', document.body, 'DeptName,DeptCode,DeptId')" />
            </td>

        </tr>

        <tr>
            <td class="formTitle">处理方式<font face="宋体">*</font></td>
            <td class="formValue">
                <div id="ProessMode" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
            </td>
        </tr>
        <tr>
            <td class="formTitle">备注</td>
            <td class="formValue">
                <input id="Remark" type="text" class="form-control"  />
            </td>
        </tr>
       
    </table>
    @*<div id="uploader1" class="uploader" style="border:1px solid #ccc; margin-top:10px; min-height:80px; margin-bottom:10px;">
        <div class="queueList">
            <div id="File1" class="placeholder">
                <div class="filePicker" style="margin-left:25px; margin-top:10px;"></div>
            </div>
        </div>
        <div class="statusBar" style="display:none;">
            <div class="progress">
                <span class="text">0%</span>
                <span class="percentage"></span>
            </div>
            <div class="info"></div>
        </div>
    </div>*@
</div>
