@{;
ViewBag.Title = "列表页面";
Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script>
    ;
    $(function () {
        InitialPage();
        GetGrid();
    });
    //初始化页面
    function InitialPage() {
        //layout布局
        $('#layout').layout({
            applyDemoStyles: true,
            onresize: function () {
                $(window).resize()
            }
        });
        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 145);
            }, 200);
            e.stopPropagation();
        });
    }
    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGridEx({
            autowidth: true,
            height: $(window).height() - 145,
            url: "../../OutsourcingProject/TempConfig/GetTempConfigPageJson",
            datatype: "json",
            colModel: [
                { label: '', name: 'id', hidden: true },
                { label: '', name: 'createuserid', hidden: true },
                { label: '', name: 'createuserdeptcode', hidden: true },
                { label: '', name: 'createuserorgcode', hidden: true },
                { label: '操作', name: 'Oper', width: 150, align: 'center' },
                { label: '模块名称', name: 'modulename', index: 'modulename', width: 200, align: 'center', sortable: true },
                { label: '模块Code', name: 'modulecode', hidden: true },
                { label: '所属电厂', name: 'deptname', index: 'tempname', width: 200, align: 'center', sortable: true },
                {
                    label: '处理方式', name: 'proessmode', width:100, align: 'center', formatter: function (cellvalue, options, rowObject) {
                        switch (cellvalue) {
                            case "HRCB":
                                cellvalue = "华润赤壁";
                                break;
                            case "GDXY":
                                cellvalue = "国电荥阳";
                                break;
                            case "TY":
                                cellvalue = "通用";
                                break;
                            default:
                        }
                        return cellvalue;
                    }
                },
                { label: '创建时间', name: 'createdate', index: 'createdate', width: 200, align: 'center' },
                { label: '创建人', name: 'createusername', index: 'createusername', width: 100, align: 'center' }
            ],
            viewrecords: true,
            rowNum: 15,
            rowList: [15, 30, 50],
            pager: "#gridPager",
            sortname: 'createdate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: true,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            }
        });
    }
    //新增
    function btn_add() {
        dialogOpen({
            id: 'TempConfigForm',
            title: '添加电厂模板管理',
            url: '/OutsourcingProject/TempConfig/Form?Mode=add',
            width: '800px',
            height: '600px',
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
            }
        });
    }
    //编辑
    function btn_edit(id) {
        var keyValue = id;
        if (checkedRow(keyValue)) {
            dialogOpen({
                id: 'TempConfigForm',
                title: '编辑电厂模板管理',
                url: '/OutsourcingProject/TempConfig/Form?keyValue=' + keyValue + '&Mode=eidt',
                width: '800px',
                height: '600px',
                callBack: function (iframeId) {
                    top.frames[iframeId].AcceptClick();
                }
            })
        }
    }
    //删除
    function btn_delete(id) {
        var keyValue = id;
        if (keyValue) {
            $.RemoveForm({
                url: '../../OutsourcingProject/TempConfig/RemoveForm',
                param: { keyValue: keyValue },
                success: function (data) {
                    $('#gridTable').trigger('reloadGrid');
                }
            })
        } else {
            dialogMsg('请选择需要删除的电厂模板管理！', 0);
        }
    }
</script>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-center">
        <div class="center-Panel">
            <div class="titlePanel">
                <div class="title-search">
                    <table>
                        <tr>
                            <td>
                                <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;" />
                            </td>
                            <td style="padding-left: 5px;">
                                <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>查询</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="toolbar">
                    <div class="btn-group">
                        <a id="replace" class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>刷新</a>
                        @*<a id="add" class="btn btn-default" onclick="btn_add()"><i class="fa fa-plus"></i>新增</a>
                            <a id="edit" class="btn btn-default" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>编辑</a>
                            <a id="delete" class="btn btn-default" onclick="btn_delete()"><i class="fa fa-trash-o"></i>删除</a>*@
                    </div>
                    <script>$('.toolbar').authorizeButton()</script>
                </div>
            </div>
            <div class="gridPanel">
                <table id="gridTable"></table>
                <div id="gridPager"></div>
            </div>
        </div>
    </div>
</div>