@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>
<link href="~/Content/scripts/plugins/combo-select/combo.select.css" rel="stylesheet" />
<script src="~/Content/scripts/plugins/combo-select/jquery.combo.select.js"></script>
<style type="text/css">
    /*.combo-select select {
        left: -1px;
        top: -1px;
        width: 0;
        height: 0;
        margin: 0;
    }*/
</style>
<script>
    var keyValue = request('keyValue');
    var win = top.Form.window;
    var type = request('type');
    $(function () {
       
        $("#HidStandard").click(function () {
            dialogOpen({
                id: 'PunishStandard',
                title: '奖惩管理标准',
                url: '/SafePunish/SafePunish/PunishStandard',
                width: ($(top.window).width() - 700) + "px",
                height: ($(top.window).height() - 500) + "px",
                btn: []
            });
        });

        initControl();

    });
    //初始化控件
    function initControl() {
        $("#PunishType").change(function () {
            $("#PunishName").val("");
            $("#PunishNameId").val("");
        })
        //获取表单
        if (!!keyValue && keyValue != "-1") {
            $.SetForm({
                url: "../../SafePunish/SafePunishdetail/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                }
            })
        }
        if (win.PunishName.length > 0) {
            $("#PunishType").val(win.PunishType);
            $("#PunishName").val(win.PunishName);
            $("#PunishNameId").val(win.PunishNameId);
            $("#PunishNum").val(win.PunishNum);
            $("#PunishPerformance").val(win.PunishPerformance);
        }
    }
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize(keyValue);
        var jqGridTable = "";
        if (type == "0") {
            jqGridTable = top.Form.window.$("#gridTable1");
        }
        else if (type=="1") {
            jqGridTable = top.Form.window.$("#gridTable2");
        }

        //win.$("#gbox_gridTable").find(".unwritten").hide();
        //修改
        if (win.PunishName.length > 0) {
            rowId = win.selectedRowIndex;
            jqGridTable.delRowData(rowId);
            jqGridTable.addRowData(rowId, postData, 'first');
        }
            //新增
        else {
            rowId = jqGridTable.jqGrid('getRowData').length + 1;
            //新添加的数据放到最上面
            jqGridTable.addRowData(rowId, postData, 'first');
        }
        dialogClose();
    }

    //选择奖励人
    function setPunish() {
        var type = $("#PunishType").val();
        if (type == '人员') {
            selectUser({ deptId: "", checkMode: 0, mode: 0, winObject: document.body, domId: 'PunishName,,PunishNameId' });
        }
        else if (type == '部门') {
            selectDept('', 0, 0, '选择部门', document.body, 'PunishName,,PunishNameId');
        }
        
    }
</script>
<div style="margin-top: 30px; margin-right: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle">考核对象类型<font face="宋体">*</font></td>
            <td class="formValue">
                @* <div id="TargetProject" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>*@
                <select id="PunishType" class="form-control">
                    <option value="人员">人员</option>
                    <option value="部门">部门</option>
                </select>
            </td>
            <td class="formTitle" id="titleperson">选择被考核对象<font face="宋体">*</font></td>
            <td class="formValue" id="valueperson">
                <input id="PunishName" type="text" class="form-control" isvalid="yes" onclick="setPunish()" checkexpession="NotNull" readonly  />
                <input type="hidden" id="PunishNameId" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">考核金额</td>
            <td class="formValue">
                <div style="float:left;width:70%">
                    <input id="PunishNum" type="text" class="form-control" isvalid="yes" checkexpession="PositiveNumOrNull" />
                </div>
                @*<div style="float:left;width:30%;padding-left:10px">
                    <a href="#" id="HidStandard" class="btn btn-primary" title='参考标准'><i class='fa fa-pencil-square-o'></i>参考标准</a>
                </div>*@
            </td>
            <td class="formTitle">考核EHS绩效</td>
            <td class="formValue">
                <input id="PunishPerformance" type="text" class="form-control" isvalid="yes" checkexpession="PositiveNumOrNull" />
            </td>
        </tr>
    </table>
</div>
