@{
    ViewBag.Title = "WarningDetail";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<style type="text/css">
    table {
        margin: 20px;
    }

        table tr th {
            border: 1px solid #515b5a;
            text-align: center;
            font: 16px bold;
            height: 36px;
            background: #d3d3d3;
        }

        table tr td {
            border: 1px solid #515b5a;
            font: 14px bold;
            text-align: left;
            height: 40px;
        }
</style>

<table>
    <tr>
        <th style="width:20%;">           
        </th>
        <th colspan="6" style="width: 55%;">主要责任部门</th>
        <th colspan="4" style="width: 25%;">次要责任部门</th>
    </tr>
    <tr>
        <td style="text-align:center;">
            事件性质
        </td>
        <td style="text-align: center; width: 7%;">主要责任人</td>
        <td style="text-align: center; width: 7%;">次要责任人</td>
        <td style="text-align: center; width: 7%;">专工</td>
        <td style="text-align: center; width: 7%;">主管</td>
        <td style="text-align: center; width: 7%;">部门副职</td>
        <td style="text-align: center; width: 7%;">部门正职</td>
        <td style="text-align: center; width: 7%;">专工或值班负责人</td>
        <td style="text-align: center; width: 7%;">主任工程师</td>
        <td style="text-align: center; width: 7%;">部门副职</td>
        <td style="text-align: center; width: 7%;">部门正职</td>
    </tr>
    <tr>
        <td style="text-align:center;">
            未遂
        </td>
        <td style="text-align: center;">
            5
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td style="text-align:center;">
            异常
        </td>
        <td style="text-align: center;">
            5
        </td>
        <td>10</td>
        <td>5</td>
        <td>3</td>
        <td>3</td>
        <td>2</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td style="text-align:center;">
            二类障碍
        </td>
        <td style="text-align: center;">
            50
        </td>
        <td>20</td>
        <td>15</td>
        <td>15</td>
        <td>15</td>
        <td>10</td>
        <td>5</td>
        <td>5</td>
        <td>5</td>
        <td>5</td>
    </tr>
</table>
