@{
    ViewBag.Title = "安全惩罚统计";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<!--第三方统计图start-->
<script src="~/Content/Scripts/plugins/highcharts/highcharts.js"></script>
<script src="~/Content/Scripts/plugins/highcharts/highcharts-more.js"></script>
<script src="~/Content/Scripts/plugins/highcharts/modules/exporting.js"></script>
<link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
<script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>

<style type="text/css">
    $ {
        demo .css;
    }

    .css1 {
        width: 50px;
        font-weight: bold;
    }

    .css2 {
        width: 100px;
    }
</style>
<script src="~/Content/scripts/business/Common.js"></script>
<!--第三方统计图end-->
<script>
    var queryJson = "";
    var state = 1;//默认按照类型统计
    var year = "";
    $(function() {
        InitialPage();
        statTJ();
    });

    function InitialPage() {
        $('#desktop').height(1000);
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#desktop').height(1000);
                $("#gridTable1").setGridWidth($(window).width() - 100);
                $("#gridTable2").setGridWidth($(window).width() - 100);
            }, 800);
            e.stopPropagation();
        });
    }

    //安全惩罚金额
    function statTJ() {
        year = $("#StartDate").val();
        $.get("GetPunishStatisticsCount", { year: year, statMode:1 }, function (data) {
            var json = eval("(" + data + ")");
            $('#tjcontainer').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: '安全惩罚金额统计'
                },
                xAxis: {
                    categories: json.x
                },
                exporting: { enabled: false },
                yAxis: {
                    min: 0,
                    title: {
                        text: '金额(元)'
                    },
                    labels: {
                        formatter: function () {
                            return this.value;
                        }
                    },
                    stackLabels: {
                        enabled: true,
                        style: {
                            fontWeight: 'bold',
                            color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                        }
                    }, tickInterval: 1
                },
                legend: {
                    align: 'right',
                    x: -30,
                    verticalAlign: 'top',
                    y: 25,
                    floating: true,
                    backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                    borderColor: '#CCC',
                    borderWidth: 1,
                    shadow: false
                },
                tooltip: {
                    headerFormat: '<b>{point.x}</b><br/>',
                    pointFormat: '{series.name}: {point.y}<br/>共计： {point.stackTotal}'
                },
                plotOptions: {
                    column: {
                        stacking: 'normal',
                        dataLabels: {
                            enabled: true,
                            color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                            style: {
                                textShadow: '0 0 3px black'
                            }
                        }
                    }
                },
                series: json.y
            });
        });
        loadtj();
    }

    //安全惩罚金额表格
    function loadtj() {
        var $gridTable = $("#gridTable1");
        var selectedRowIndex = "";
        $gridTable.jqGrid({
            url: "../../SafePunish/SafePunish/GetPunishStatisticsList",
            postData: { year: year, statMode: 1 },
            datatype: "json",
            mtype: "post",
            autoheight: true,
            height: 300,
            width: $(window).width() - 100,
            colModel: [
                { label: '考核类型', name: 'TypeName', align: 'center', sortable: false },
                { label: '1月', name: 'num1', align: 'center', sortable: false },
                { label: '2月', name: 'num2', align: 'center', sortable: false },
                { label: '3月', name: 'num3', align: 'center', sortable: false },
                { label: '4月', name: 'num4', align: 'center', sortable: false },
                { label: '5月', name: 'num5', align: 'center', sortable: false },
                { label: '6月', name: 'num6', align: 'center', sortable: false },
                { label: '7月', name: 'num7', align: 'center', sortable: false },
                { label: '8月', name: 'num8', align: 'center', sortable: false },
                { label: '9月', name: 'num9', align: 'center', sortable: false },
                { label: '10月', name: 'num10', align: 'center', sortable: false },
                { label: '11月', name: 'num11', align: 'center', sortable: false },
                { label: '12月', name: 'num12', align: 'center', sortable: false },
                { label: '总计', name: 'Total', align: 'center', sortable: false }


            ],
            rowNum: 100,
            rownumbers: true
            , gridComplete: function () {

            }
        });
    }

    //安全惩罚次数
    function statDW() {
        year = $("#StartDate").val();
        $.get("GetPunishStatisticsCount", { year: year , statMode:0}, function (data) {
            var json = eval("(" + data + ")");

            $('#dwcontainer').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: ''
                },
                xAxis: {
                    categories: json.x
                },
                exporting: { enabled: false },
                yAxis: {
                    min: 0,
                    title: {
                        text: '次数'
                    },
                    labels: {
                        formatter: function () {
                            return this.value;
                        }
                    },
                    stackLabels: {
                        enabled: true,
                        style: {
                            fontWeight: 'bold',
                            color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                        }
                    }, tickInterval: 1
                },
                legend: {
                    align: 'right',
                    x: -30,
                    verticalAlign: 'top',
                    y: 25,
                    floating: true,
                    backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                    borderColor: '#CCC',
                    borderWidth: 1,
                    shadow: false
                },
                tooltip: {
                    headerFormat: '<b>{point.x}</b><br/>',
                    pointFormat: '{series.name}: {point.y}<br/>共计： {point.stackTotal}'
                },
                plotOptions: {
                    column: {
                        stacking: 'normal',
                        dataLabels: {
                            enabled: true,
                            color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                            style: {
                                textShadow: '0 0 3px black'
                            }
                        }
                    }
                },
                series: json.y
            });
        });
        loadDW();
    }

    //安全惩罚次数表格
    function loadDW() {
        var $gridTable = $("#gridTable2");
        var selectedRowIndex = "";
        $gridTable.jqGrid({
            url: "../../SafePunish/SafePunish/GetPunishStatisticsList",
            postData: { year: year,  statMode: 0 },
            datatype: "json",
            mtype: "post",
            autoheight: true,
            height: 300,
            width: $(window).width() - 100,
            colModel: [
                { label: '考核类型', name: 'TypeName', align: 'center', sortable: false },
                { label: '1月', name: 'num1', align: 'center', sortable: false },
                { label: '2月', name: 'num2', align: 'center', sortable: false },
                { label: '3月', name: 'num3', align: 'center', sortable: false },
                { label: '4月', name: 'num4', align: 'center', sortable: false },
                { label: '5月', name: 'num5', align: 'center', sortable: false },
                { label: '6月', name: 'num6', align: 'center', sortable: false },
                { label: '7月', name: 'num7', align: 'center', sortable: false },
                { label: '8月', name: 'num8', align: 'center', sortable: false },
                { label: '9月', name: 'num9', align: 'center', sortable: false },
                { label: '10月', name: 'num10', align: 'center', sortable: false },
                { label: '11月', name: 'num11', align: 'center', sortable: false },
                { label: '12月', name: 'num12', align: 'center', sortable: false },
                { label: '总计', name: 'Total', align: 'center', sortable: false }


            ],
            rowNum: 100,
            rownumbers: true
            , gridComplete: function () {

            }
        });
    }

    function query() {
        year = $("#StartDate").val();
        if (state == 1) {
            $("#btntj").trigger("click");
            $("#gridTable1").jqGrid('setGridParam', {
                postData: { year: year, statMode:1 }, page: 1
            }).trigger('reloadGrid');
        }
        else if (state == 2) {
            $('#divTJ').hide();
            $('#divDW').show();
            $(this).addClass('btn-primary');
            statDW();
            $("#gridTable2").jqGrid('setGridParam', {
                postData: { year: year,statMode:0 }, page: 1
            }).trigger('reloadGrid');
        }
    }

    function reset() {
        //时间
        $("#StartDate").val("@DateTime.Now.ToString("yyyy")");
        query();
    }


    function exportDataExcel() {

        year = $("#StartDate").val();
        var queryJson = "";
        if (state == 1) {
            queryJson = { 'year': year, 'statMode': 1 };
        }
        else if (state == 2) {
            queryJson = { 'year': year, 'statMode': 0 };
        }
        window.location.href = "ExportStatisticsExcel?queryJson=" + JSON.stringify(queryJson);
    }

</script>
<div class="border" id="desktop" style="background: #fff; overflow-y: auto; overflow-x: hidden;">
    <div style="margin-top: 10px;">
        <div class="row">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 65px; font-weight: bold;" align="right">年度：</td>
                    <td style="width: 80px;">
                        <div style="float: left; width: 70px;">
                            <input id="StartDate" type="text" class="form-control input-wdatepicker" value="@DateTime.Now.ToString("yyyy")" onfocus="WdatePicker({dateFmt:'yyyy'})">
                        </div>
                    </td>
                    <td align="right" style="width: 200px;">
                        <a id="btn_Search" class="btn btn-primary" onclick="query()"><i class="fa fa-search"></i>&nbsp;查询</a>
                        &nbsp;<a id="btn_Reset" class="btn btn-primary" onclick="reset()"><i class="fa fa-undo"></i>&nbsp;重置</a>
                        &nbsp;<a id="btn_export" class="btn btn-primary" onclick="exportDataExcel()"><i class="fa fa-undo"></i>&nbsp;导出</a>
                    </td>
                    <td align="right">
                        <div class="toolbar">
                            <div class="btn-group">
                                <button id="btntj" class="btn btn-primary btn10" type="button" onclick="state = 1; $('#divTJ').show(); $('#divDW').hide(); $('.btn10').removeClass('btn-primary'); $('.btn10').addClass('btn-default'); $(this).addClass('btn-primary'); statTJ();"><i class="fa fa fa-pie-chart"></i>&nbsp;金额统计</button>
                                <button id="btndw" class="btn btn-default btn10" type="button" onclick="state = 2; $('#divDW').show(); $('#divTJ').hide();$('.btn10').removeClass('btn-primary'); $('.btn10').addClass('btn-default'); $(this).addClass('btn-primary'); statDW();"><i class="fa fa fa-bar-chart"></i>&nbsp;次数统计</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

        </div>

    </div>

    <div id="divTJ">
        <div class="panel panel-default" style="margin-top: 10px;">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;统计图表</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <div id="tjcontainer" style="margin: 10px;"></div>
            </div>
        </div>
        <div class="row" id="grid1">
            <div class="panel panel-default" style="margin: 10px;">
                <div class="panel-heading">
                    <strong>&nbsp;&nbsp;金额统计数据（单位：元）</strong>
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" title="展开/收起"></a>
                    </span>
                </div>
                <div class="panel-body">
                    <table id="gridTable1" title="aaaa"></table>
                </div>
            </div>
        </div>

    </div>
    <div id="divDW" style="display:none">
        <div class="panel panel-default" style="margin-top: 10px;">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;统计图表</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <div id="dwcontainer" style="margin: 10px;"></div>
            </div>
        </div>
        <div class="row" id="griddw">
            <div class="panel panel-default" style="margin: 10px;">
                <div class="panel-heading">
                    <strong>&nbsp;&nbsp;次数统计数据（单位：次）</strong>
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" title="展开/收起"></a>
                    </span>
                </div>
                <div class="panel-body">
                    <table id="gridTable2" title="aaaa"></table>
                </div>
            </div>
        </div>
    </div>
</div>



