
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script src="~/Content/scripts/business/gridhelper.js"></script>
<script>
    var grid, selectedRowIndex, userid = '@ViewBag.userid';
    jQuery(function () {
        grid = jQuery('#gridTable');
        grid.jqGrid({
            autowidth: true,
            height: $(top.window).height() - 280,
            url: "/../@Url.Action("GetData")",
            datatype: "json",
            colModel: [
                { label: '主键', name: 'CardId', hidden: true, key: true },
                { label: 'CreateUserId', name: 'CreateUserId', hidden: true, key: true },
                { label: '操作', name: 'Oper', index: 'Oper', width: 150, align: 'center' },
                { label: '类别', name: 'Category', index: 'Category', width: 200, align: 'center' },
                { label: '名称', name: 'CardName', index: 'CardName', width: 800, align: 'center' },
                { label: '提交人', name: 'SubmitUser', index: 'SubmitUser', width: 200, align: 'center' },
                { label: '提交时间', name: 'SubmitTime', index: 'SubmitTime', width: 300, align: 'center', formatter: 'date', formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' } },
            ],
            onSelectRow: function () {
                selectedRowIndex = grid.jqGrid('getGridParam', 'selrow');
            },
            gridComplete: function () {
                gridqx(grid);
            },
            viewrecords: true,
            rowNum: 10,
            pager: "#gridPager",
            rownumbers: true,
        });
    });

    function reload() {
        grid.trigger('reloadGrid');
    }

    function add() {
        dialogOpen({
            id: 'Edit',
            title: '新增',
            url: '/../@Url.Action("Edit")',
            width: '800px',
            height: '600px',
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
            }
        });
    }

    function view() {
        if (selectedRowIndex) {
            var dlg = dialogOpen({
                id: 'Form',
                title: '查看',
                url: '/../@Url.Action("Edit")/' + selectedRowIndex,
                width: '800px',
                height: '600px',
                btn: ["关闭"],
                callBack: function (iframeId) {
                    top.layer.close(dlg);
                }
            })
        } else {
            dialogMsg('请选择需要删除预警指标卡！', 0);
        }
    }

    function del() {
        if (selectedRowIndex) {
            var record = grid.getRowData(selectedRowIndex);
            if (record.CreateUserId != userid) {
                dialogMsg('禁止删除他人的指标卡！', 0);
                return;
            }

            $.RemoveForm({
                url: '/../@Url.Action("Delete")/' + selectedRowIndex,
                param: { CardId: selectedRowIndex },
                success: function (data) {
                    grid.trigger('reloadGrid');
                }
            });
        } else {
            dialogMsg('请选择需要删除预警指标卡！', 0);
        }
    }

    function edit() {
        if (selectedRowIndex) {
            var record = grid.getRowData(selectedRowIndex);
            if (record.CreateUserId != userid) {
                dialogMsg('禁止编辑他人的指标卡！', 0);
                return;
            }

            dialogOpen({
                id: 'Form',
                title: '修改',
                url: '/../@Url.Action("Edit")/' + selectedRowIndex,
                width: '800px',
                height: '600px',
                callBack: function (iframeId) {
                    top.frames[iframeId].AcceptClick();
                }
            });
        } else {
            dialogMsg('请选择需要删除预警指标卡！', 0);
        }
    }
</script>

<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-center">
        <div class="center-Panel" style="margin-left: 10px;">
            <div class="titlePanel">
                <div class="toolbar">
                    <div class="btn-group">
                        <a id="replace" class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>刷新</a>
                    </div>
                    <script>$('.toolbar').authorizeButton()</script>
                </div>
            </div>
            <div class="gridPanel">
                <table id="gridTable"></table>
                <div id="gridPager"></div>
            </div>
        </div>
    </div>
</div>
