
@{
    ViewBag.Title = "Statistics";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/Scripts/plugins/highcharts/highcharts.js"></script>
<script src="~/Content/Scripts/plugins/highcharts/highcharts-more.js"></script>
<script src="~/Content/Scripts/plugins/highcharts/modules/exporting.js"></script>
<script>
    var type = 0;
    $(function () {
        //加载部门
        //var json = JSON.stringify(
        //    {
        //        SelectMode: 0,
        //        Mode: 3
        //    }
        //);
        $("#DepartmentId").ComboBoxTree({
            url: top.contentPath + "/BaseManage/Department/GetTreeJsonByDeptId?deptId=@ViewBag.DpetId",
            description: "==请选择==",
            allowSearch: true,
            width: "300px",
            height: "500px"

        });

        LoadAQB($("#a_aqb"));//页面加载默认显示安全比趋势图


    })
    function Search() {
        if (type == 0) {
            LoadAQB($("#a_aqb"));
        } else {
            LoadCYD($("#a_cyd"));
        }
    }
    //安全比
    function LoadAQB(elemt) {
        type = 0;
 //       $("#tab_time").hide().siblings().show()
        var deptId = $("#DepartmentId").ComboBoxGetValue();
        var year = $("#Year").val();
        console.log({ deptId: deptId, year: year });
        $.ajax({
            url: "/..@Url.Action("GetCountData")",
            type: "POST",
            data: { Dept: deptId, Year: year },
            success: function (data) {
                if (data.Code == 0) {
                    var keys = [];
                    var values = [];
                    for (var i = 0; i < data.Data.length; i++) {
                        keys.push(data.Data[i].Key);
                        values.push(data.Data[i].Value);
                    }
                    $('#aqb').highcharts({
                        chart: {
                            type: 'line'
                        },
                        title: {
                            text: '预警指标卡安全比'
                        },
                        xAxis: {
                            categories: keys,
                        },
                        yAxis: {
                            allowDecimals: false,
                            title: {
                                text: '安全比 (单位：%)'
                            },
                            labels: {
                                formatter: function () {
                                    return this.value
                                }
                            }
                        },
                        exporting: {
                            enabled: false
                        },
                        credits: {
                            enabled: false
                        },
                        tooltip: {
                            enabled: true,
                            crosshairs: true,
                            shared: true,
                            formatter: function () {
                                return '<b>月份：' + this.x + '</b><br/>安全比： ' + this.y+"%";
                            }
                        },
                        plotOptions: {
                            line: {
                                marker: {
                                    enable: false,
                                    radius: 4,

                                    lineWidth: 1
                                }, dataLabels: {
                                    enabled: true,
                                    formatter: function () {
                                        //return '安全比： ' + this.y ;
                                    }
                                }, showInLegend: true
                            }


                        },
                        series: [{
                            name: '预警指标卡安全比',
                            marker: {
                                symbol: 'square',
                                enabled: false,
                            },
                            data: values

                        }]
                        , lang: { noData: "暂无数据可显示!" },
                        noData: {
                            position: {
                                align: 'center',
                                verticalAlign: 'middle'
                            },
                            attr: {
                                'stroke-width': 1
                            },
                            style: {
                                fontWeight: 'bold',
                                fontSize: '15px',
                                color: '#202030'
                            }
                        }
                    });

                } else {
                    dialogMsg('请求失败！', 0);
                }
            },
            error: function (error) {
                console.log(error)
                dialogMsg('请求失败！', 0);
            }
        });


        $("#aqb").show();
        $("#cyd").hide();
        $(elemt).addClass("btn-primary").siblings().removeClass("btn-primary")


    }
    //参与度
    function LoadCYD(elemt) {
        type = 1;
      //  $("#tab_time").show().siblings().hide()
        var deptId = $("#DepartmentId").ComboBoxGetValue();
        var year = $("#Year").val();
        $.ajax({
            url: "/..@Url.Action("GetCYDCount")",
            type: "POST",
            data: { Dept: deptId, Year: year },
            success: function (data) {
                if (data.Code == 0) {
                    var keys = [];
                    var values = [];
                    for (var i = 0; i < data.Data.length; i++) {
                        keys.push(data.Data[i].Key);
                        values.push(data.Data[i].Value);
                      
                    }
                    $('#cyd').highcharts({
                        chart: {
                            type: 'line'
                        },
                        title: {
                            text: '预警检查卡参与度'
                        },
                        xAxis: {
                            categories: keys,
                        },
                        yAxis: {
                            allowDecimals: false,
                            min: 0,
                            title: {
                                text: '参与度 (单位：%)'
                            },
                            labels: {
                                formatter: function () {
                                    return this.value
                                }
                            }
                        },
                        exporting: {
                            enabled: false
                        },
                        credits: {
                            enabled: false
                        },
                        tooltip: {
                            enabled: true,
                            crosshairs: true,
                            shared: true,
                            formatter: function () {
                                return '<b>月份：' + this.x + '</b><br/>预警检查卡参与度： ' + this.y+"%";
                            }
                        },
                        plotOptions: {
                            line: {
                                marker: {
                                    enable: false,
                                    radius: 4,
                                    lineWidth: 1
                                }, dataLabels: {
                                    enabled: true,
                                    formatter: function () {
                                        //return '安全比： ' + this.y ;
                                    }
                                }, showInLegend: true
                            }


                        },
                        series: [{
                            name: '预警检查卡参与度',
                            marker: {
                                symbol: 'square',
                                enabled: false,
                            },
                            data: values

                        }]
                        , lang: { noData: "暂无数据可显示!" },
                        noData: {
                            position: {
                                align: 'center',
                                verticalAlign: 'middle'
                            },
                            attr: {
                                'stroke-width': 1
                            },
                            style: {
                                fontWeight: 'bold',
                                fontSize: '15px',
                                color: '#202030'
                            }
                        }
                    });
                } else {
                    dialogMsg('请求失败！', 0);
                }
            }, error: function (error) {
                console.log(error)
                dialogMsg('请求失败！', 0);
            }
        });

        $("#cyd").show();
        $("#aqb").hide();
        $(elemt).addClass("btn-primary").siblings().removeClass("btn-primary")
    }


</script>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="center-Panel" style="margin-left:10px;">

        <div class="titlePanel">
            <div class="title-search">
                <table>
                    <tr>
                        <td>
                            年份&nbsp;&nbsp;
                        </td>
                        <td style="padding-left: 2px;">
                            @Html.DropDownList("Year", ViewBag.YearList as IEnumerable<SelectListItem>, new { @style = "width:100px;" })
                        </td>
                        <td style="padding-left: 2px;">
                            &nbsp;&nbsp;查看单位&nbsp;&nbsp;
                        </td>
                        <td style="padding-left: 2px;">
                            <div id="DepartmentId" type="selectTree" style="width:300px;" class="ui-select"></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5"></td>
                    </tr>
                </table>
                @*<table id="tab_time">
                    <tr>
                        <td name="td_time">
                            时间范围&nbsp;&nbsp;
                        </td>
                        <td name="td_time">
                            <input type="text" class="form-control " style="float:left;" id="start" onfocus="WdatePicker();" readonly="readonly" placeholder="开始时间">
                        </td>
                        <td name="td_time">
                            <lable style="float:left; width:10%;text-align:center;">&nbsp;&nbsp;—&nbsp;&nbsp;</lable>
                        </td>
                        <td name="td_time">
                            <input type="text" class="form-control" style="float:left;" id="end" onfocus="WdatePicker();" readonly="readonly" placeholder="结束时间">
                        </td>
                    </tr>
                </table>*@
            </div>
            <div class="toolbar">
                <div class="btn-group">
                    <a class="btn btn-primary" onclick="Search();"><i class="fa fa-refresh"></i>&nbsp;查询</a>
                </div>
            </div>
        </div>

        <div style="margin-top:10px; float:left; width:100%; background-color:white;">
            <a id="a_aqb" class="btn btn-default btn-primary" onclick="LoadAQB(this);">&nbsp;安全比趋势图</a>
            <a class="btn btn-default" onclick="LoadCYD(this);">&nbsp;参与度趋势图</a>
        </div>
        <div id="aqb" style=" float:left; width:100%;"></div>
        <div id="cyd" style="display:none; float:left; width:100%;"></div>
    </div>
</div>

