
@{
    ViewBag.Title = "TJT";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/Scripts/plugins/highcharts/highcharts.js"></script>
<script src="~/Content/Scripts/plugins/highcharts/highcharts-more.js"></script>
<script src="~/Content/Scripts/plugins/highcharts/modules/exporting.js"></script>
<style>
    #tab_info {
        width: 100%;
        float: left;
        margin-top: 30px;
        background-color: white;
        text-align: center;
        vertical-align: middle;
    }

        #tab_info tr {
            height: 30px;
        }
</style>
<script>

    $(function () {
        LoadCount();
    })

    function LoadCount() {
        var start = $("#start").val();
        var end = $("#end").val();
         $.ajax({
            url: "/..@Url.Action("GetWarningCardCount")",
            type: "POST",
             data: { start: start, end: end },
            success: function (data) {
                if (data.Code == 0) {
                    var keys = [];
                    var values = [];
                    $("#body_info").html("");
                    var tabHtml = "";

                    if (data.Data != null && data.Data.length > 0) {

                        for (var i = 0; i < data.Data.length; i++) {
                            keys.push(data.Data[i].Key);
                            values.push(data.Data[i].Num1);
                            tabHtml += "<tr>"
                            tabHtml += "<td>" + (i + 1) + "</td>";
                            tabHtml += "<td>" + data.Data[i].Key + "</td>";
                            tabHtml += "<td>" + data.Data[i].Num1 + "</td>";
                            tabHtml += "<td>" + data.Data[i].Num2 + "</td>";
                            tabHtml += "<td>" + data.Data[i].Num3 + "</td>";
                            tabHtml += "<td>" + data.Data[i].Num4 + "</td>";
                            tabHtml += "<td>" + data.Data[i].Num5 + "%</td>";
                            tabHtml += "</tr>"
                        }
                    } else {
                        tabHtml += "<tr><td colspan=\"7\" style=\"color:red;\">查无数据</td></tr>"
                    }
                    $("#body_info").html(tabHtml);

                    $('#tjt').highcharts({
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: '预警检查卡数量'
                        },
                        xAxis: {
                            categories: keys,
                        },
                        yAxis: {
                            allowDecimals: false,
                            min: 0,
                            title: {
                                text: '预警检查卡数量'
                            },
                            labels: {
                                formatter: function () {
                                    return this.value
                                }
                            }
                        },
                        exporting: {
                            enabled: false
                        },
                        credits: {
                            enabled: false
                        },
                        tooltip: {
                            enabled: true,
                            crosshairs: true,
                            shared: true,
                            formatter: function () {
                                return '<b>部门：' + this.x + '</b><br/>预警检查卡数量： ' + this.y;
                            }
                        },
                        plotOptions: {
                            line: {
                                marker: {
                                    enable: false,
                                    radius: 4,
                                    lineWidth: 1
                                }, dataLabels: {
                                    enabled: true,
                                    formatter: function () {
                                        //return '安全比： ' + this.y ;
                                    }
                                }, showInLegend: true
                            }


                        },
                        series: [{
                            name: '预警检查卡数量',
                            marker: {
                                symbol: 'square',
                                enabled: false,
                            },
                            data: values

                        }]
                        , lang: { noData: "暂无数据可显示!" },
                        noData: {
                            position: {
                                align: 'center',
                                verticalAlign: 'middle'
                            },
                            attr: {
                                'stroke-width': 1
                            },
                            style: {
                                fontWeight: 'bold',
                                fontSize: '15px',
                                color: '#202030'
                            }
                        }
                    });
                } else {
                    dialogMsg('请求失败！', 0);
                }
            },
            error: function (error) {
                console.log(error)
                dialogMsg('请求失败！', 0);
            }
        });



    }
</script>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="center-Panel" style="margin-left:10px;">

        <div class="titlePanel">
            <div class="title-search">

                <table id="tab_time">
                    <tr>
                        <td name="td_time">
                            时间范围&nbsp;&nbsp;
                        </td>
                        <td name="td_time">
                            <input type="text" class="form-control " style="float:left;" id="start" onfocus="WdatePicker();" readonly="readonly" placeholder="开始时间">
                        </td>
                        <td name="td_time">
                            <lable style="float:left; width:10%;text-align:center;">&nbsp;&nbsp;—&nbsp;&nbsp;</lable>
                        </td>
                        <td name="td_time">
                            <input type="text" class="form-control" style="float:left;" id="end" onfocus="WdatePicker();" readonly="readonly" placeholder="结束时间">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="toolbar">
                <div class="btn-group">
                    <a class="btn btn-primary" onclick="LoadCount();"><i class="fa fa-refresh"></i>&nbsp;查询</a>
                </div>
            </div>
        </div>
        <div id="tjt" style=" float:left; width:100%;"></div>
        <table id="tab_info" border="1" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        序号
                    </th>
                    <th style="width:20%;">
                        部门
                    </th>
                    <th>
                        填写预警检查卡数量
                    </th>
                    <th>
                        人均填写预警检查卡数量
                    </th>
                    <th>
                        安全观察项总数
                    </th>
                    <th>
                        有风险的观察项
                    </th>
                    <th>
                        安全比
                    </th>
                </tr>
            </thead>
            <tbody id="body_info"></tbody>
        </table>
    </div>
</div>

