@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
<script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/common.js"></script>
<style type="text/css">
    .ui-jqgrid tr.jqgrow td {
        white-space: normal !important;
        height: auto;
        vertical-align: text-top;
    }
</style>
<script>
    var riskId1 = request('riskId1');
    var riskId2 = request('riskId2');
    var type = request('type');
    var action = request('action');
    $(function () {
        $("#tbDEC").hide();
        $("#tbLEC").show();
        GetGrid();
        if (action == "show") {
            $("input").attr("readonly", "readonly");
            $("input").attr("disabled", "disabled");
            $("div").attr("disabled", "disabled");
            $("textarea").attr("disabled", "disabled");
        }
    });

    var selectedRowIndex = -1;
    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            datatype: "json",
            url: "../../RiskDatabase/Measures/GetListJsonForRiskId?riskId1=" + riskId1,
            height: $(window).height() - 170,
            autowidth: true,
            colModel: [
                         {
                             label: "具体措施", name: 'Content', align: 'left', headerAlign: 'center', sortable: false
                         }

            ],
            viewrecords: true,
            rowNum: 50000,
            rownumbers: true,
            shrinkToFit: true,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $("#" + this.id).getGridParam('selrow');
            },
            loadError: function (xhr, status, error) {
                //top.location.href = "../../Login/Index?Login_Error=1";
            },

        });
    }

</script>
<body>
    <div style="margin-left: 10px; margin-right: 10px;">
        <div id="BaseInfo" class="tab-pane active" style="padding-right: 30px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>&nbsp;&nbsp;安全控制措施</strong>
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" title="展开/收起"></a>
                    </span>
                </div>
                <div class="panel-body">
                    <div class="gridPanel">
                        <table id="gridTable"></table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
