@{;
ViewBag.Title = "列表页面";
Layout = "~/Views/Shared/_KMIndex.cshtml";
}

<script>
    $(function () {
        InOutLog();
    });

    function InOutLog() {
        $("#OutCarList").attr("src", top.contentPath + "/CarManage/Visitcar/Index");
        ChangeClass(0);
    }

    function Person() {
        $("#OutCarList").attr("src", top.contentPath + "/home/MgMap");
        ChangeClass(1);
    }

    function CarRecord() {
        $("#OutCarList").attr("src", top.contentPath + "/CarManage/Visitcar/CarRecord");
        ChangeClass(2);
    }

    function ChangeClass(num) {
        var list = document.getElementsByTagName("li");
        for (var i = 0; i < list.length; i++) {
            if (i == num) {
                list[i].className = "sideBarLis active";

            } else {
                list[i].className = "sideBarLis";
            }
        }
    }
</script>

<div class="contentWrap" style="width: 100%; height: 100%;">
    <div class="contentBox clear">
        <ul class="sideBar">
            <li class="sideBarLis" onclick="InOutLog()">
                <div class="sideBarImage"></div>
                <p>出入厂审核</p>
            </li>
            <li class="sideBarLis" onclick="Person()">
                <div class="sideBarImage"></div>
                <p>过程监控</p>
            </li>
            <li class="sideBarLis" onclick="CarRecord()">
                <div class="sideBarImage"></div>
                <p>车辆人员记录</p>
            </li>

        </ul>
        <div class="content">
            <iframe class="LRADMS_iframe" width="100%" height="100%" frameborder="0" style="margin:0" data-id="OutCarList" scrolling="auto" id="OutCarList" name="OutCarList"></iframe>
        </div>
    </div>
</div>

<style>
    ul, li, body, p {
        margin: 0;
        padding: 0;
    }

    html {
        height: 100%;
    }

    body {
        height: 100%;
        font-size: 16px;
        font-family: 微软雅黑,宋体,Arial,Helvetica,Verdana,sans-serif;
    }

    li {
        list-style: none;
    }

    .clear:after {
        content: "";
        display: block;
        height: 0;
        overflow: hidden;
        clear: both;
    }

    .clear {
        zoom: 1;
    }

    .mt10 {
        margin-top: 10px;
    }

    .contentBox {
        display: flex;
        height: 100%;
    }

    .sideBar {
        float: left;
        width: 200px;
        height: 100%;
        background: #174c6b;
        cursor: pointer;
    }

    .content {
        float: left;
        flex: 1;
    }

    .sideBarLis {
        width: 85%;
        height: 120px;
        text-align: center;
    }

        .sideBarLis p {
            font-size: 17px;
            color: #6b8697;
        }

        .sideBarLis.active p {
            color: #fff;
        }

    .sideBarImage {
        height: 75px;
    }

    .sideBarLis:nth-of-type(1) .sideBarImage {
        background: url('../Content/images/car1.png') no-repeat center 28px;
    }

    .sideBarLis:nth-of-type(1).active .sideBarImage {
        background: url('../Content/images/car1_1.png') no-repeat center 28px;
    }

    .sideBarLis:nth-of-type(2) .sideBarImage {
        background: url('../Content/images/car2.png') no-repeat center 28px;
    }

    .sideBarLis:nth-of-type(2).active .sideBarImage {
        background: url('../Content/images/car2_2.png') no-repeat center 28px;
    }

    .sideBarLis:nth-of-type(3) .sideBarImage {
        background: url('../Content/images/car3.png') no-repeat center 28px;
    }

    .sideBarLis:nth-of-type(3).active .sideBarImage {
        background: url('../Content/images/car3_3.png') no-repeat center 28px;
    }
</style>