@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>华润集团EHS</title>
    <style>
        /* css样式重置 */
        body, p, dl, dt, dd, h1, h2, h3, h4, h5, h6, dl, dt, dd, form, fieldset, input, button, th, td {
            padding: 0;
            margin: 0;
            font-display: '微软雅黑';
        }

        body {
            font-size: 14px;
        }

        ul, ol, li {
            padding: 0;
            margin: 0;
            list-style: none;
        }

        i {
            font-style: normal;
        }

        a {
            text-decoration: none;
            color: '';
        }

        img {
            border: 0;
            vertical-align: middle;
        }

        .clearfix:after {
            display: block;
            content: '';
            clear: both;
            visibility: hidden;
            height: 0;
        }

        input, textarea, select, option, fieldset, button {
            margin: 0;
            padding: 0;
            vertical-align: top;
            outline: none;
            border: 0;
            line-height: normal;
        }

        .clearfix {
            zoom: 1;
        }

        .fl {
            float: left;
        }

        .fr {
            float: right;
        }

        tr:hover {
            cursor: pointer;
        }

        /* ehs弹窗样式 */
        #ehsdialogWrap {
            width: 1100px;
            height: 636px;
            background: #0e143e;
            margin: 10px auto 10px;
            color: #fff;
        }

        .ehs_header {
            height: 50px;
            background: #142d6d;
            padding: 0 22px;
            line-height: 50px;
        }

            .ehs_header h2 {
                font-size: 16px;
                font-weight: 500;
            }

        .ehs_close {
            cursor: pointer;
        }

        .ehs_body {
            height: 550px;
            overflow-y: scroll;
            margin-top: 20px;
            padding: 0 30px;
        }

        #ehs_table {
            width: 100%;
            border-collapse: collapse;
            text-align: center;
        }

            #ehs_table th {
                font-weight: normal;
                background: #121e4f;
                color: #f2f2f2;
            }

            #ehs_table tr {
                height: 42px;
                line-height: 25px;
                color: #ccc;
            }

        tr td:first-child, tr th:first-child {
            text-align: left;
            text-indent: 100px;
        }

        #ehs_table tr:nth-of-type(even) {
            background: #121e4f;
        }

        .ehs_rule {
            /* width: 150px; */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .ehs_rule_box {
            margin-right: 8px;
            position: relative;
        }

        .ehs_down_ico {
            display: inline-block;
            width: 30px;
            height: 30px;
            cursor: pointer;
            background: url('../content/images/icon2.png') no-repeat 8px 20px;
        }

        .ehs_up_ico {
            display: inline-block;
            width: 30px;
            height: 30px;
            cursor: pointer;
            background: url('../content/images/icon3.png') no-repeat 8px 20px;
        }

        .ehs_rule_msg {
            /* float: left;
            width: 120px; */
            padding: 0 8px;
        }

        .ehs_rule_span {
            margin-right: 15px;
        }

        .ehs_select_ul {
            position: relative;
            z-index: 2;
            display: none;
            position: absolute;
            top: 40px;
            left: 50%;
            height: 80px;
            overflow-y: scroll;
            margin: 0 auto;
            margin-left: -83px;
            width: 192px;
            border: 1px solid #0f82f8;
            background: #0e143e;
        }

            .ehs_select_ul li {
                height: 30px;
                line-height:30px;
                cursor: pointer;
            }

        .ehs_select_active {
            background: #0f82f8;
            color: #ccc;
        }
    </style>
    <script src="~/Content/scripts/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        function openDlg(id, url, title) {
            top.layer.close(top.dlgIndex);
            top.openTab(id, url, title);
        }
    </script>
</head>
<body>
    <div id="ehsdialogWrap">
        <div class="ehs_header clearfix">
            <h2 class="fl">华润集团EHS管理要素</h2>
            <div class="ehs_close fr"><img src="../content/images/icon1.png" alt=""></div>
        </div>
        <div class="ehs_body">
            <table id="ehs_table">
                <thead class="ehs_thead">
                    <tr>
                        <th>要素</th>
                        <th>平台对应模块</th>
                    </tr>
                </thead>
                <tbody class="ehs_tbody">
                    <tr>
                        <td>01 领导作用</td>
                        <td><a onclick="openDlg('9b36bf74-cec5-498a-97a3-8b4c6b6e92ec', '../ComprehensiveManage/Conceptpolicy/Index', 'EHS理念政策')">EHS理念政策</a></td>
                    </tr>
                    <tr>
                        <td>02 文化理念</td>
                        <td><a onclick="openDlg('0a3db3ef-1ddd-430f-94d8-3568fd35dd93', '../ComprehensiveManage/MainPage/Index', '综合信息')">综合信息</a></td>
                    </tr>
                    <tr>
                        <td>03 持续改进</td>
                        <td>/</td>
                    </tr>
                    <tr>
                        <td>04 组织机构</td>
                        <td><a onclick="openDlg('401b62ec-e71e-4b43-af6d-600397479ac8', '../ComprehensiveManage/MainPage/Organ', 'EHS组织机构')">EHS组织机构</a></td>
                    </tr>
                    <tr>
                        <td>05 制度标准</td>
                        <td><a onclick="openDlg('87a94b75-e287-4fb0-a44b-7fd8efff3ae6', '../EvaluateManage/Evaluate/Index', '法律法规合规性评价')">法律法规合规性评价</a>、<a onclick="openDlg('03390f7f-eeff-4dc0-bf56-c3390266548f', '../StandardSystem/StandardHome/Index', '标准体系')">标准体系</a></td>
                    </tr>
                    <tr>
                        <td>06 教育培训</td>
                        <td><a target="_blank" style="color:#ccc;" href="@ViewData["Url"]">安全教育培训</a></td>
                    </tr>
                    <tr>
                        <td>07 资质证照</td>
                        <td>
                            <div class="ehs_rule">
                                <div class="ehs_rule_box clearfix">
                                    <div id="ehs_sel1">
                                        <span class="ehs_rule_msg">人员管理</span><i class="ehs_sel_icon ehs_up_ico"></i>
                                    </div>
                                    <ul class="ehs_select_ul">
                                        <li class="ehs_select_active"><a onclick="openDlg('ea93dc6b-83fc-4ac2-a1b7-56ef6909445c', '../PersonManage/Person/Index', '人员档案')">人员档案</a></li>
                                        <li><a onclick="openDlg('', '../PersonManage/Person/List?mode=1', '特种作业人员清单')">特种作业人员清单</a></li>
                                        <li><a onclick="openDlg('', '../PersonManage/Person/List?mode=2', '特种设备作业人员清单')">特种设备作业人员清单</a></li>
                                    </ul>
                                </div>
                                <div class="ehs_rule_box clearfix">
                                    <div id="ehs_sel2">
                                        <span class="ehs_rule_msg">相关方管理</span><i class="ehs_sel_icon ehs_up_ico"></i>
                                    </div>
                                    <ul class="ehs_select_ul">
                                        <li class="ehs_select_active"><a onclick="openDlg('e4165558-23f6-4a47-9863-057e811cb2b6', '../OutsourcingProject/Aptitudeinvestigateinfo/Index', '单位资质审查')">单位资质审查</a></li>
                                        <li><a onclick="openDlg('439836d4-b17f-4c4e-bcfb-109178e1d798', '../OutsourcingProject/Aptitudeinvestigateinfo/PeopleList', '人员资质审查')">人员资质审查</a></li>
                                    </ul>
                                </div>
                                <span><a onclick="openDlg('bc9ad409-9f74-4549-9d0b-3b22ca7e246b', '../EquipmentManage/SpecialEquipment/Index', '设备及工器具管理')">设备及工器具管理</a></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>08 目标和责任</td>
                        <td><a onclick="openDlg('c69db36e-83c2-44db-a56b-b1f57e571894', '../SaftProductTargetManage/SafeProduct/Index', 'EHS目标职责')">EHS目标职责</a></td>
                    </tr>
                    <tr>
                        <td>09 监测和检验</td>
                        <td>
                            <div class="ehs_rule">
                                <div class="ehs_rule_box clearfix">
                                    <div id="ehs_sel3">
                                        <span class="ehs_rule_msg">设备及工器具管理</span><i class="ehs_sel_icon ehs_up_ico"></i>
                                    </div>
                                    <ul class="ehs_select_ul">
                                        <li class="ehs_select_active"><a onclick="openDlg('7cf1f55e-a71a-48f5-bbb4-611e97d2296b', '../EquipmentManage/Equipment/Index', '普通设备管理')">普通设备管理</a></li>
                                        <li><a onclick="openDlg('bc9ad409-9f74-4549-9d0b-3b22ca7e246b', '../EquipmentManage/SpecialEquipment/Index', '特种设备管理')">特种设备管理</a></li>
                                        <li><a onclick="openDlg('d5a7d6ea-02e9-4cb8-8ec6-7956016f1081', '../ToolEquipmentManage/Toolequipment/SafeTool', '安全工具器')">安全工具器</a></li>
                                        <li><a onclick="openDlg('7b8d6f68-50c0-4cf9-81ee-cd8d4c1356ee', '../ToolEquipmentManage/Toolequipment/SgTool', '手工器具')">手工器具</a></li>
                                    </ul>
                                </div>
                                <span class="ehs_rule_span"><a onclick="openDlg('42357804-9ab0-4b95-a366-9a44ab536a86', '../OccupationalHealthManage/Hazarddetection/Index', '职业健康')">职业健康</a></span>
                                <div class="ehs_rule_box clearfix">
                                    <div id="ehs_sel4">
                                        <span class="ehs_rule_msg">环保管理</span><i class="ehs_sel_icon ehs_up_ico"></i>
                                    </div>
                                    <ul class="ehs_select_ul">
                                        <li class="ehs_select_active"><a onclick="openDlg('6f9fdea7-c679-4c58-8c22-5c8c2e8a46eb', '../EnvironmentalManage/DiscardMonitor/Index', '废气监测')">废气监测</a></li>
                                        <li><a onclick="openDlg('1ddce57e-d4c9-417c-82ec-013847393188', '../EnvironmentalManage/WaterQuality/Index', '水质分析')">水质分析</a></li>
                                        <li><a onclick="openDlg('6c6a38ef-7408-4723-8fd1-810a7948e2a1', '../EnvironmentalManage/NoiseCheck/Index', '噪音检测')">噪音检测</a></li>
                                        <li><a onclick="openDlg('19079b0a-f26b-46e7-920c-2d3fd3a0fe73', '../EnvironmentalManage/OwnCheck/Index', '自行检测')">自行检测</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>10 标志标识</td>
                        <td><a onclick="openDlg('42357804-9ab0-4b95-a366-9a44ab536a86', '../OccupationalHealthManage/Staffinformcard/Index', '职业健康管理')">职业健康管理</a></td>
                    </tr>
                    <tr>
                        <td>11 文档管理</td>
                        <td>
                            <div class="ehs_rule">
                                <div class="ehs_rule_box clearfix">
                                    <div id="ehs_sel5">
                                        <span class="ehs_rule_msg">综合信息管理</span><i class="ehs_sel_icon ehs_up_ico"></i>
                                    </div>
                                    <ul class="ehs_select_ul">
                                        <li class="ehs_select_active"><a onclick="openDlg('fe8d5f36-64a1-408e-8aa7-42469400ef0c', '../RoutineSafetyWork/Announcement/Index', '通知公告')">通知公告</a></li>
                                        <li><a onclick="openDlg('e04e0fd4-d7ec-49cb-a44a-a27de3ca9387', '../ComprehensiveManage/MeetingRecord/Index', '会议纪要')">会议纪要</a></li>
                                        <li><a onclick="openDlg('82dd99be-3d69-4911-83f6-ce5664eceaa0', '../ComprehensiveManage/BriefReport/Index', 'EHS简报')">EHS简报</a></li>
                                        <li><a onclick="openDlg('8a528d75-a11f-4dc0-9ad8-a973442d5fbd', '../ComprehensiveManage/InfoSubmit/Index', 'EHS信息报送')">EHS信息报送</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>12 并购和剥离</td>
                        <td>/</td>
                    </tr>
                    <tr>
                        <td>13 危险源及隐患</td>
                        <td>
                            <div class="ehs_rule">
                                <div class="ehs_rule_box clearfix">
                                    <div id="ehs_sel6">
                                        <span class="ehs_rule_msg">危险源管理</span><i class="ehs_sel_icon ehs_up_ico"></i>
                                    </div>
                                    <ul class="ehs_select_ul">
                                        <li class="ehs_select_active"><a onclick="openDlg('f5a19674-e8aa-4d86-a9c1-c7a4f9b11434', '../HazardsourceManage/Hazardsource/Index', '危险源辨识评估')">危险源辨识评估</a></li>
                                        <li><a onclick="openDlg('7ad3e6ad-e136-4d3b-95ba-22975188bf5c', '../HazardsourceManage/Hisrelationhd_qd/Index', '危险源清单')">危险源清单</a></li>
                                        <li><a onclick="openDlg('6af7c8c6-9962-40e9-afc0-cf60b6bd0c58', '../HazardsourceManage/Hisrelationhd_qd/DangerList', '重大危险源清单')">重大危险源清单</a></li>
                                        <li><a onclick="openDlg('dd18194d-c68f-42c8-b450-56ddc53be570', '../HazardsourceManage/Djjd/Index', '重大危险源建档')">重大危险源建档</a></li>
                                        <li><a onclick="openDlg('8c1d03b9-fd19-45f5-acd2-812b6aa81748', '../HazardsourceManage/Jkjc/Index', '重大危险源监控')">重大危险源监控</a></li>
                                        <li><a onclick="openDlg('e3af3714-94ad-4710-a9e2-af0aa5c060a4', '../HazardsourceManage/Hisrelationhd_qd/Report', '统计分析')">统计分析</a></li>
                                    </ul>
                                </div>
                                <div class="ehs_rule_box clearfix">
                                    <div id="ehs_sel7">
                                        <span class="ehs_rule_msg">隐患排查</span><i class="ehs_sel_icon ehs_up_ico"></i>
                                    </div>
                                    <ul class="ehs_select_ul">
                                        <li class="ehs_select_active"><a onclick="openDlg('ab8f45eb-40df-47c6-8562-7aa98f097002', '../SaftyCheck/SaftyCheckDataRecord/ZXIndex?ctype=1&cname=日常安全检查', '日常安全检查')">日常安全检查</a></li>
                                        <li><a onclick="openDlg('b614f91e-452d-412e-815d-ef7685eb164f', '../SaftyCheck/SaftyCheckDataRecord/ZXIndex?ctype=2&cname=专项安全检查', '专项安全检查')">专项安全检查</a></li>
                                        <li><a onclick="openDlg('9b9b9aec-deb1-4f7f-b7b5-f388b1d009b2', '../SaftyCheck/SaftyCheckDataRecord/ZXIndex?ctype=3&cname=节假日安全检查', '节假日安全检查')">节假日安全检查</a></li>
                                        <li><a onclick="openDlg('9fe8fd55-ec08-4334-9bdb-1e0fe0d6bbb3', '../SaftyCheck/SaftyCheckDataRecord/ZXIndex?ctype=4&cname=季节性安全检查', '季节性安全检查')">季节性安全检查</a></li>
                                        <li><a onclick="openDlg('352ebea4-017f-43c2-b840-e830a3141342', '../SaftyCheck/SaftyCheckDataRecord/ZXIndex?ctype=5&cname=综合性安全检查', '综合性安全检查')">综合性安全检查</a></li>
                                        <li><a onclick="openDlg('a0d36d2e-0f7f-49e4-84e7-2e42b295bf51', '../HiddenTroubleManage/HTRegister/Index', '隐患登记')">隐患登记</a></li>
                                        <li><a onclick="openDlg('67fdd0b7-6629-48dc-a70f-3eb7ba2df1f0', '../HiddenTroubleManage/HTBaseInfo/Index', '隐患台账')">隐患台账</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>14 相关方管理</td>
                        <td>
                            <div class="ehs_rule">
                                <div class="ehs_rule_box clearfix">
                                    <div id="ehs_sel8">
                                        <span class="ehs_rule_msg">相关方管理</span><i class="ehs_sel_icon ehs_up_ico"></i>
                                    </div>
                                    <ul class="ehs_select_ul">
                                        <li class="ehs_select_active"><a onclick="openDlg('63a713bc-1df5-4071-b9b5-114332e5b636', '../OutsourcingProject/Tempmanager/Index', '模板管理')">模板管理</a></li>
                                        <li><a onclick="openDlg('e4165558-23f6-4a47-9863-057e811cb2b6', '../OutsourcingProject/Aptitudeinvestigateinfo/Index', '单位资质审查')">单位资质审查</a></li>
                                        <li><a onclick="openDlg('439836d4-b17f-4c4e-bcfb-109178e1d798', '../OutsourcingProject/Aptitudeinvestigateinfo/PeopleList', '人员资质审查')">人员资质审查</a></li>
                                        <li><a onclick="openDlg('0412e8fa-d133-4c35-971d-7e3688129c85', '../OutsourcingProject/Compact/Index', '合同与协议管理')">合同与协议管理</a></li>
                                        <li><a onclick="openDlg('bf5bc031-0e16-4098-b01a-b64cf4a0dcf0', '../OutsourcingProject/TechDisclosure/Index', '安全技术交底')">安全技术交底</a></li>
                                        <li><a onclick="openDlg('1b2e9c8b-4143-4869-8ed1-b26ff567906a', '../OutsourcingProject/SchemeMeasure/Index', '三措两案')">三措两案</a></li>
                                        <li><a onclick="openDlg('eb9b069e-cf7f-4447-bad0-5dc7f81c3c1d', '../OutsourcingProject/ToolsCheckMain', '安全电动工器具验收')">安全电动工器具验收</a></li>
                                        <li><a onclick="openDlg('7ad9145e-2d3e-4d8a-adaf-f0d66289e0d8', '../OutsourcingProject/ToolsCheckMain/IndexSp', '特种设备验收')">特种设备验收</a></li>
                                        <li><a onclick="openDlg('d39862cb-eb85-446f-a690-401387b110a2', '../OutsourcingProject/Startapplyfor/Index', '开工申请')">开工申请</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>15 作业环境与许可</td>
                        <td><a onclick="openDlg('d472030f-3094-4ad8-89cd-90c949fd4d91', '../RiskDatabase/DangerSource/List', 'EHS风险预控管理')">EHS风险预控管理</a></td>
                    </tr>
                    <tr>
                        <td>16 员工行为</td>
                        <td>/</td>
                    </tr>
                    <tr>
                        <td>17 变更管理</td>
                        <td>/</td>
                    </tr>
                    <tr>
                        <td>18 预警和应急管理</td>
                        <td>
                            <div class="ehs_rule">
                                <span class="ehs_rule_span"><a onclick=" top.layer.close(top.dlgIndex); top.$.tab.addTab('Desktop', 'Desktop', '首页')">领导驾驶舱</a></span>
                                <div class="ehs_rule_box clearfix">
                                    <div id="ehs_sel9">
                                        <span class="ehs_rule_msg">应急管理</span><i class="ehs_sel_icon ehs_up_ico"></i>
                                    </div>
                                    <ul class="ehs_select_ul">
                                        <li class="ehs_select_active"><a onclick="openDlg('cb711d43-9679-4ba6-bc8e-8d4b3ffa3c43', '../EmergencyPlatform/Team/Index', '应急队伍管理')">应急队伍管理</a></li>
                                        <li><a onclick="openDlg('d371aadb-6295-4197-a51e-34bc69fde7f6', '../EmergencyPlatform/Reserverplan/Index', '应急预案管理')">应急预案管理</a></li>
                                        <li><a onclick="openDlg('1c96f9b4-4add-4a63-a4af-9b5a80461084', '../EmergencyPlatform/Drillplan/Index', '应急演练计划')">应急演练计划</a></li>
                                        <li><a onclick="openDlg('dc6d830a-6f26-4c89-b4f0-84f704898bdb', '../EmergencyPlatform/Drillplanrecord/Index', '应急演练记录')">应急演练记录</a></li>
                                        <li><a onclick="openDlg('8c0e940f-320f-4135-874a-eaa6ec614d57', '../EmergencyPlatform/Supplies/Index', '应急物资管理')">应急物资管理</a></li>
                                        <li><a onclick="openDlg('887c8b2b-1bea-4c27-9f1f-50bf9984cd42', '../EmergencyPlatform/Statistical/Index', '应急演练统计')">应急演练统计</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>19 工艺和设备</td>
                        <td>
                            <div class="ehs_rule">
                                <div class="ehs_rule_box clearfix">
                                    <div id="ehs_sel10">
                                        <span class="ehs_rule_msg">设备及工器具管理</span><i class="ehs_sel_icon ehs_up_ico"></i>
                                    </div>
                                    <ul class="ehs_select_ul">
                                        <li class="ehs_select_active"><a onclick="openDlg('7cf1f55e-a71a-48f5-bbb4-611e97d2296b', '../EquipmentManage/Equipment/Index', '普通设备管理')">普通设备管理</a></li>
                                        <li><a onclick="openDlg('bc9ad409-9f74-4549-9d0b-3b22ca7e246b', '../EquipmentManage/SpecialEquipment/Index', '特种设备管理')">特种设备管理</a></li>
                                        <li><a onclick="openDlg('d5a7d6ea-02e9-4cb8-8ec6-7956016f1081', '../ToolEquipmentManage/Toolequipment/SafeTool', '安全工器具')">安全工器具</a></li>
                                        <li><a onclick="openDlg('7b8d6f68-50c0-4cf9-81ee-cd8d4c1356ee', '../ToolEquipmentManage/Toolequipment/SgTool', '手工器具')">手工器具</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>20 不符合项管理</td>
                        <td>/</td>
                    </tr>
                    <tr>
                        <td>21 能源管理</td>
                        <td>/</td>
                    </tr>
                    <tr>
                        <td>22 生态保护</td>
                        <td>
                            <div class="ehs_rule">
                                <div class="ehs_rule_box clearfix">
                                    <div id="ehs_sel11">
                                        <span class="ehs_rule_msg">环保管理</span><i class="ehs_sel_icon ehs_up_ico"></i>
                                    </div>
                                    <ul class="ehs_select_ul">
                                        <li class="ehs_select_active"><a onclick="openDlg('6f9fdea7-c679-4c58-8c22-5c8c2e8a46eb', '../EnvironmentalManage/DiscardMonitor/Index', '废气监测')">废气监测</a></li>
                                        <li><a onclick="openDlg('1ddce57e-d4c9-417c-82ec-013847393188', '../EnvironmentalManage/WaterQuality/Index', '水质分析')">水质分析</a></li>
                                        <li><a onclick="openDlg('6c6a38ef-7408-4723-8fd1-810a7948e2a1', '../EnvironmentalManage/NoiseCheck/Index', '噪音检测')">噪音检测</a></li>
                                        <li><a onclick="openDlg('19079b0a-f26b-46e7-920c-2d3fd3a0fe73', '../EnvironmentalManage/OwnCheck/Index', '自行检测')">自行检测</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>23 检查与审核</td>
                        <td>
                            <div class="ehs_rule">
                                <div class="ehs_rule_box clearfix">
                                    <div id="ehs_sel12">
                                        <span class="ehs_rule_msg">隐患排查治理</span><i class="ehs_sel_icon ehs_up_ico"></i>
                                    </div>
                                    <ul class="ehs_select_ul">
                                        <li class="ehs_select_active"><a onclick="openDlg('ab8f45eb-40df-47c6-8562-7aa98f097002', '../SaftyCheck/SaftyCheckDataRecord/ZXIndex?ctype=1&cname=日常安全检查', '日常安全检查')">日常安全检查</a></li>
                                        <li><a onclick="openDlg('b614f91e-452d-412e-815d-ef7685eb164f', '../SaftyCheck/SaftyCheckDataRecord/ZXIndex?ctype=2&cname=专项安全检查', '专项安全检查')">专项安全检查</a></li>
                                        <li><a onclick="openDlg('9b9b9aec-deb1-4f7f-b7b5-f388b1d009b2', '../SaftyCheck/SaftyCheckDataRecord/ZXIndex?ctype=3&cname=节假日安全检查', '节假日安全检查')">节假日安全检查</a></li>
                                        <li><a onclick="openDlg('9fe8fd55-ec08-4334-9bdb-1e0fe0d6bbb3', '../SaftyCheck/SaftyCheckDataRecord/ZXIndex?ctype=4&cname=季节性安全检查', '季节性安全检查')">季节性安全检查</a></li>
                                        <li><a onclick="openDlg('352ebea4-017f-43c2-b840-e830a3141342', '../SaftyCheck/SaftyCheckDataRecord/ZXIndex?ctype=5&cname=综合性安全检查', '综合性安全检查')">综合性安全检查</a></li>
                                        <li><a onclick="openDlg('18e2a7d1-73f6-484c-b2c7-c77f88f0f3e1', '../HiddenTroubleManage/HTApproval/Index', '隐患评估')">隐患评估</a></li>
                                        <li><a onclick="openDlg('98210480-3531-4441-a913-2ccb93e2f605', '../HiddenTroubleManage/HTChangeInfo/Index', '隐患整改')">隐患整改</a></li>
                                        <li><a onclick="openDlg('2a9d84a3-01b3-4faa-b8d8-0a601355ceab', '../HiddenTroubleManage/HTExtension/Index', '延期审（核）批')">延期审（核）批</a></li>
                                        <li><a onclick="openDlg('8463a55b-cc36-439a-bcab-f8fb993c0190', '../HiddenTroubleManage/HTAcceptInfo/Index', '隐患验收')">隐患验收</a></li>
                                        <li><a onclick="openDlg('f87023f5-c1ca-4d8d-a57b-0354f052a02e', '../HiddenTroubleManage/HTEstimate/Index', '整体效果评估')">整体效果评估</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>24 沟通与促进</td>
                        <td>/</td>
                    </tr>
                    <tr>
                        <td>25 事故事件管理</td>
                        <td>
                            <div class="ehs_rule">
                                <div class="ehs_rule_box clearfix">
                                    <div id="ehs_sel13">
                                        <span class="ehs_rule_msg">事故事件管理</span><i class="ehs_sel_icon ehs_up_ico"></i>
                                    </div>
                                    <ul class="ehs_select_ul">
                                        <li class="ehs_select_active"><a onclick="openDlg('dc5519a5-5788-4901-a1d0-9f8ee924d676', '../PowerPlantInside/PowerPlantInside/Index', '单位内部快报')">单位内部快报</a></li>
                                        <li><a onclick="openDlg('c5e19c4f-b203-4a3a-81d6-d7a52e92c717', '../AccidentEvent/Bulletin/Index', '事故事件快报')">事故事件快报</a></li>
                                        <li><a onclick="openDlg('912a6cef-39a1-4bbc-8327-8041a24f6ed9', '../AccidentEvent/Bulletin_Deal/Index', '事故事件调查处理')">事故事件调查处理</a></li>
                                        <li><a onclick="openDlg('054a320f-1ab3-4b16-b4e7-3f5b1a4d9282', '../AccidentEvent/WSSJBG/Index', '未遂事件报告')">未遂事件报告</a></li>
                                        <li><a onclick="openDlg('09dab85d-8070-4b97-a51f-0eb9f1577532', '../AccidentEvent/Wssjbg_Deal/Index', '未遂事件调查处理')">未遂事件调查处理</a></li>
                                        <li><a onclick="openDlg('dd5642fc-0802-4331-97d3-efc147fc12e9', '../SafetyLawManage/AccidentCaseLaw/Index', '事故事件库')">事故事件库</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>26 管理工具</td>
                        <td><div class="ehs_rule">
    <div class="ehs_rule_box clearfix">
        <div id="ehs_sel100">
            <span class="ehs_rule_msg">NOSA管理</span><i class="ehs_sel_icon ehs_up_ico"></i>
        </div>
        <ul class="ehs_select_ul">
            <li class="ehs_select_active"><a onclick="openDlg('3e31b357-8d35-4156-815d-ae6f39abdf34', '../NosaManage/Nosaele/Index', '分配元素负责人')">分配元素负责人</a></li>
            <li class="ehs_select_active"><a onclick="openDlg('aa623026-76c1-47c5-b732-bc0583a667e9', '../NosaManage/NosaArea/Index', '分配区域代表')">分配区域代表</a></li>
            <li class="ehs_select_active"><a onclick="openDlg('cf340886-d998-4f41-974b-0b08e8459032', '../NosaManage/Nosaworks/Index', 'NOSA工作清单')">NOSA工作清单</a></li>
            <li class="ehs_select_active"><a onclick="openDlg('b8ae20f7-970f-424b-8e9b-3d8ca826dc6b', '../NosaManage/Nosaworks/UploadIndex', '工作成果上传')">工作成果上传</a></li>
            <li class="ehs_select_active"><a onclick="openDlg('6471b5fe-fdb4-4004-9ad0-4050f5b89b9a', '../NosaManage/Nosatrafiles/Index', 'NOSA培训')">NOSA培训</a></li>
            <li class="ehs_select_active"><a onclick="openDlg('ac9c09ff-8b90-4fba-a8b8-3c0b32c14e32', '../NosaManage/NosaMonthManager/PersonWorkSummaryIndex', '元素负责人工作总结')">元素负责人工作总结</a></li>
            <li class="ehs_select_active"><a onclick="openDlg('26c6f702-7209-4baa-9d0b-de46780b07ad', '../NosaManage/NosaMonthManager/AreaWorkSummaryIndex', '区域代表工作总结')">区域代表工作总结</a></li>
        </ul>
    </div>
</div></td>
                    </tr>
                    <tr>
                        <td>27 考核评价</td>
                        <td><a onclick="openDlg('aa7341cf-50c5-436a-a6b3-a227eb7cfa5e', '../OutsourcingProject/SafetyEvaluate/Index', '安全评价')">安全评价</a></td>
                    </tr>
                    <tr>
                        <td>28 奖励和处罚</td>
                        <td>
                            <div class="ehs_rule">
                                <div class="ehs_rule_box clearfix">
                                    <div id="ehs_sel14">
                                        <span class="ehs_rule_msg">奖惩管理</span><i class="ehs_sel_icon ehs_up_ico"></i>
                                    </div>
                                    <ul class="ehs_select_ul ehs_select_ul_last">
                                        <li class="ehs_select_active"><a onclick="openDlg('b30dc575-14a9-4249-a2de-10ec214a21a6', '../SafeReward/SafeReward/Index', '安全奖励申请、审核（批）')">安全奖励申请、审核（批）</a></li>
                                        <li><a onclick="openDlg('3a4f9d25-1d59-49d8-8555-3ba513ff958b', '../SafePunish/SafePunish/Index', '安全惩罚申报、审核（批）')">安全惩罚申报、审核（批）</a></li>
                                        <li><a onclick="openDlg('2d403b62-8eb4-42b9-aef1-3e9e9b99c600', '../SafeReward/SafeReward/RewardStatistics', '安全奖励统计')">安全奖励统计</a></li>
                                        <li><a onclick="openDlg('10ec7afb-d7be-4ea0-be79-2b4b0c8f9e2e', '../SafePunish/SafePunish/PunishStatistics', '安全惩罚统计')">安全惩罚统计</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="~/content/index/plugins/nicescroll/nicescroll.min.js"></script>
    <script>
        var onOff = true;
        $('.ehs_body').niceScroll({
            cursorcolor: '#142d6d',
            cursorwidth: '10px',
            cursorborderradius: 0,
            cursorminheight: '32'
        })
        $('#ehs_sel1').click(function () {
            // if($('#ehs_table').find('.ehs_select_ul').css('display') == 'block'){
            //     return false
            // }
            if ($(this).find('.ehs_sel_icon').hasClass('ehs_up_ico')) {
                $(this).find('.ehs_sel_icon').removeClass('ehs_up_ico');
                $(this).find('.ehs_sel_icon').addClass('ehs_down_ico');
                $('#ehs_sel1 + .ehs_select_ul').css('display', 'block');
            } else if ($(this).find('.ehs_sel_icon').hasClass('ehs_down_ico')) {
                $(this).find('.ehs_sel_icon').removeClass('ehs_down_ico');
                $(this).find('.ehs_sel_icon').addClass('ehs_up_ico');
                $('#ehs_sel1 + .ehs_select_ul').css('display', 'none');
            }
        })
        $('#ehs_sel2').click(function () {
            if ($(this).find('.ehs_sel_icon').hasClass('ehs_up_ico')) {
                $(this).find('.ehs_sel_icon').removeClass('ehs_up_ico');
                $(this).find('.ehs_sel_icon').addClass('ehs_down_ico');
                $('#ehs_sel2 + .ehs_select_ul').css('display', 'block');
            } else if ($(this).find('.ehs_sel_icon').hasClass('ehs_down_ico')) {
                $(this).find('.ehs_sel_icon').removeClass('ehs_down_ico');
                $(this).find('.ehs_sel_icon').addClass('ehs_up_ico');
                $('#ehs_sel2 + .ehs_select_ul').css('display', 'none');
            }
        })
        $('#ehs_sel3').click(function () {
            if ($(this).find('.ehs_sel_icon').hasClass('ehs_up_ico')) {
                $(this).find('.ehs_sel_icon').removeClass('ehs_up_ico');
                $(this).find('.ehs_sel_icon').addClass('ehs_down_ico');
                $('#ehs_sel3 + .ehs_select_ul').css('display', 'block');
            } else if ($(this).find('.ehs_sel_icon').hasClass('ehs_down_ico')) {
                $(this).find('.ehs_sel_icon').removeClass('ehs_down_ico');
                $(this).find('.ehs_sel_icon').addClass('ehs_up_ico');
                $('#ehs_sel3 + .ehs_select_ul').css('display', 'none');
            }
        })
        $('#ehs_sel4').click(function () {
            if ($(this).find('.ehs_sel_icon').hasClass('ehs_up_ico')) {
                $(this).find('.ehs_sel_icon').removeClass('ehs_up_ico');
                $(this).find('.ehs_sel_icon').addClass('ehs_down_ico');
                $('#ehs_sel4 + .ehs_select_ul').css('display', 'block');
            } else if ($(this).find('.ehs_sel_icon').hasClass('ehs_down_ico')) {
                $(this).find('.ehs_sel_icon').removeClass('ehs_down_ico');
                $(this).find('.ehs_sel_icon').addClass('ehs_up_ico');
                $('#ehs_sel4 + .ehs_select_ul').css('display', 'none');
            }
        })
        $('#ehs_sel5').click(function () {
            if ($(this).find('.ehs_sel_icon').hasClass('ehs_up_ico')) {
                $(this).find('.ehs_sel_icon').removeClass('ehs_up_ico');
                $(this).find('.ehs_sel_icon').addClass('ehs_down_ico');
                $('#ehs_sel5 + .ehs_select_ul').css('display', 'block');
            } else if ($(this).find('.ehs_sel_icon').hasClass('ehs_down_ico')) {
                $(this).find('.ehs_sel_icon').removeClass('ehs_down_ico');
                $(this).find('.ehs_sel_icon').addClass('ehs_up_ico');
                $('#ehs_sel5 + .ehs_select_ul').css('display', 'none');
            }
        })
        $('#ehs_sel6').click(function () {
            if ($(this).find('.ehs_sel_icon').hasClass('ehs_up_ico')) {
                $(this).find('.ehs_sel_icon').removeClass('ehs_up_ico');
                $(this).find('.ehs_sel_icon').addClass('ehs_down_ico');
                $('#ehs_sel6 + .ehs_select_ul').css('display', 'block');
            } else if ($(this).find('.ehs_sel_icon').hasClass('ehs_down_ico')) {
                $(this).find('.ehs_sel_icon').removeClass('ehs_down_ico');
                $(this).find('.ehs_sel_icon').addClass('ehs_up_ico');
                $('#ehs_sel6 + .ehs_select_ul').css('display', 'none');
            }
        })
        $('#ehs_sel7').click(function () {
            if ($(this).find('.ehs_sel_icon').hasClass('ehs_up_ico')) {
                $(this).find('.ehs_sel_icon').removeClass('ehs_up_ico');
                $(this).find('.ehs_sel_icon').addClass('ehs_down_ico');
                $('#ehs_sel7 + .ehs_select_ul').css('display', 'block');
            } else if ($(this).find('.ehs_sel_icon').hasClass('ehs_down_ico')) {
                $(this).find('.ehs_sel_icon').removeClass('ehs_down_ico');
                $(this).find('.ehs_sel_icon').addClass('ehs_up_ico');
                $('#ehs_sel7 + .ehs_select_ul').css('display', 'none');
            }
        })
        $('#ehs_sel8').click(function () {
            if ($(this).find('.ehs_sel_icon').hasClass('ehs_up_ico')) {
                $(this).find('.ehs_sel_icon').removeClass('ehs_up_ico');
                $(this).find('.ehs_sel_icon').addClass('ehs_down_ico');
                $('#ehs_sel8 + .ehs_select_ul').css('display', 'block');
            } else if ($(this).find('.ehs_sel_icon').hasClass('ehs_down_ico')) {
                $(this).find('.ehs_sel_icon').removeClass('ehs_down_ico');
                $(this).find('.ehs_sel_icon').addClass('ehs_up_ico');
                $('#ehs_sel8 + .ehs_select_ul').css('display', 'none');
            }
        })
        $('#ehs_sel9').click(function () {
            if ($(this).find('.ehs_sel_icon').hasClass('ehs_up_ico')) {
                $(this).find('.ehs_sel_icon').removeClass('ehs_up_ico');
                $(this).find('.ehs_sel_icon').addClass('ehs_down_ico');
                $('#ehs_sel9 + .ehs_select_ul').css('display', 'block');
            } else if ($(this).find('.ehs_sel_icon').hasClass('ehs_down_ico')) {
                $(this).find('.ehs_sel_icon').removeClass('ehs_down_ico');
                $(this).find('.ehs_sel_icon').addClass('ehs_up_ico');
                $('#ehs_sel9 + .ehs_select_ul').css('display', 'none');
            }
        })
        $('#ehs_sel10').click(function () {
            if ($(this).find('.ehs_sel_icon').hasClass('ehs_up_ico')) {
                $(this).find('.ehs_sel_icon').removeClass('ehs_up_ico');
                $(this).find('.ehs_sel_icon').addClass('ehs_down_ico');
                $('#ehs_sel10 + .ehs_select_ul').css('display', 'block');
            } else if ($(this).find('.ehs_sel_icon').hasClass('ehs_down_ico')) {
                $(this).find('.ehs_sel_icon').removeClass('ehs_down_ico');
                $(this).find('.ehs_sel_icon').addClass('ehs_up_ico');
                $('#ehs_sel10 + .ehs_select_ul').css('display', 'none');
            }
        })
        $('#ehs_sel11').click(function () {
            if ($(this).find('.ehs_sel_icon').hasClass('ehs_up_ico')) {
                $(this).find('.ehs_sel_icon').removeClass('ehs_up_ico');
                $(this).find('.ehs_sel_icon').addClass('ehs_down_ico');
                $('#ehs_sel11 + .ehs_select_ul').css('display', 'block');
            } else if ($(this).find('.ehs_sel_icon').hasClass('ehs_down_ico')) {
                $(this).find('.ehs_sel_icon').removeClass('ehs_down_ico');
                $(this).find('.ehs_sel_icon').addClass('ehs_up_ico');
                $('#ehs_sel11 + .ehs_select_ul').css('display', 'none');
            }
        })
        $('#ehs_sel12').click(function () {
            if ($(this).find('.ehs_sel_icon').hasClass('ehs_up_ico')) {
                $(this).find('.ehs_sel_icon').removeClass('ehs_up_ico');
                $(this).find('.ehs_sel_icon').addClass('ehs_down_ico');
                $('#ehs_sel12 + .ehs_select_ul').css('display', 'block');
            } else if ($(this).find('.ehs_sel_icon').hasClass('ehs_down_ico')) {
                $(this).find('.ehs_sel_icon').removeClass('ehs_down_ico');
                $(this).find('.ehs_sel_icon').addClass('ehs_up_ico');
                $('#ehs_sel12 + .ehs_select_ul').css('display', 'none');
            }
        })
        $('#ehs_sel13').click(function () {
            if ($(this).find('.ehs_sel_icon').hasClass('ehs_up_ico')) {
                $(this).find('.ehs_sel_icon').removeClass('ehs_up_ico');
                $(this).find('.ehs_sel_icon').addClass('ehs_down_ico');
                $('#ehs_sel13 + .ehs_select_ul').css('display', 'block');
            } else if ($(this).find('.ehs_sel_icon').hasClass('ehs_down_ico')) {
                $(this).find('.ehs_sel_icon').removeClass('ehs_down_ico');
                $(this).find('.ehs_sel_icon').addClass('ehs_up_ico');
                $('#ehs_sel13 + .ehs_select_ul').css('display', 'none');
            }
        })
        $('#ehs_sel100').click(function () {
            if ($(this).find('.ehs_sel_icon').hasClass('ehs_up_ico')) {
                $(this).find('.ehs_sel_icon').removeClass('ehs_up_ico');
                $(this).find('.ehs_sel_icon').addClass('ehs_down_ico');
                $('#ehs_sel100 + .ehs_select_ul').css('display', 'block');
            } else if ($(this).find('.ehs_sel_icon').hasClass('ehs_down_ico')) {
                $(this).find('.ehs_sel_icon').removeClass('ehs_down_ico');
                $(this).find('.ehs_sel_icon').addClass('ehs_up_ico');
                $('#ehs_sel100 + .ehs_select_ul').css('display', 'none');
            }
        })
        $('#ehs_sel14').click(function () {
            // debugger;
            if ($(this).find('.ehs_sel_icon').hasClass('ehs_up_ico')) {
                $(this).find('.ehs_sel_icon').removeClass('ehs_up_ico');
                $(this).find('.ehs_sel_icon').addClass('ehs_down_ico');
                $('#ehs_sel14 + .ehs_select_ul').css({
                    'display': 'block',
                    'left': '214px',
                    'top': '-77px'
                });
            } else if ($(this).find('.ehs_sel_icon').hasClass('ehs_down_ico')) {
                $(this).find('.ehs_sel_icon').removeClass('ehs_down_ico');
                $(this).find('.ehs_sel_icon').addClass('ehs_up_ico');
                $('#ehs_sel14 + .ehs_select_ul').css('display', 'none');
            }
        })

        $('.ehs_select_ul li').hover(function () {
            $('.ehs_select_ul li').removeClass('ehs_select_active');
            $(this).addClass('ehs_select_active');
        })

        $('.ehs_select_ul li').click(function () {
            $(this).parent().css('display', 'none');
           // $(this).parent().prev().find('.ehs_rule_msg').text($(this).text())
            $(this).parent().prev().find('.ehs_sel_icon').removeClass('ehs_down_ico');
            $(this).parent().prev().find('.ehs_sel_icon').addClass('ehs_up_ico');
        })
    </script>
</body>
</html>
