<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Map</title>
    <script src="~/content/scripts/jquery/jquery-1.8.2.min.js"></script>
    <script src="~/content/tyldjsc/js/fullpage.js"></script>
    <script src="~/content/tyldjsc/js/nicescroll.min.js"></script>
    <script src="~/content/tyldjsc/js/swiper.min.js"></script>



    @*三维应用*@
    <link rel="shortcut icon" href="~/Content/scripts/kmIndex3D/@ViewBag.SDmanager/TemplateData/favicon.ico">
    <link href="~/Content/scripts/kmIndex3D/@ViewBag.SDmanager/TemplateData/style.css" rel="stylesheet" />
    <script src="~/Content/scripts/kmIndex3D/@ViewBag.SDmanager/TemplateData/UnityProgress.js"></script>
    <script src="~/Content/scripts/kmIndex3D/@ViewBag.SDmanager/Build/UnityLoader.js"></script>


    <!--即时通信start-->
    <script src="~/Content/scripts/plugins/signalr/jquery.signalR-2.2.0.min.js"></script>
    <script src="@(new ERCHTMS.Busines.SystemManage.DataItemDetailBLL().GetItemValue("SignalRUrl", "MQConfig"))/hubs"></script>

    <script>
        //首页配置信息
        function GetKmIndexConfigure() {
            $.post("../login/GetKmIndexConfigure", {}, function (data) {
                GetSafeDays();
            });
        };

        var signalRUrl = "@(new ERCHTMS.Busines.SystemManage.DataItemDetailBLL().GetItemValue("SignalRUrl", "MQConfig"))";
        //三维应用
        $.ajaxSetup({ async: false });
        var _parentId;
        var selectid;
        var gameInstance;

        $(function () {
            gameInstance = UnityLoader.instantiate("UserCarManager",
            "../Content/scripts/kmIndex3D/@ViewBag.SDmanager/Build/FindPathPlayer.json",
           { onProgress: UnityProgress });
            //var dialogTimer = setTimeout(function () {
            //    SetConfig();
            //}, 30000)
          
        });


        //绑定人员gps信息
        function BindUsserGps(res){
            gameInstance.SendMessage("WorkerUIManage", "UpdatePlayerCarPosMove", res);
            //三维接口配置
        }
     

        //function f_dianji() {
        //    var str = "{\"data\":[{\"X\":\"119.765467\",\"Y\":\"26.373978\"},{\"X\":\"119.764392\",\"Y\":\"26.369937\"}]}";
        //    //var str = "{\"data\":[{\"X\":\"26.37052\",\"Y\":\"119.769998\"},{\"X\":\"26.366545\",\"Y\":\"119.769022\"}]}";
        //    gameInstance.SendMessage("WorkerUIManage", "InitBasicNumFromServer", str);
        //    alert(2);

        //}

    </script>
</head>
<body>
    <div id="UserCarManager"  style ="height: 100%; width: 100%;">
        @*<img src="~/Content/kmIndex/images/center_img.jpg">*@
    </div>
    <script src="~/Content/kmIndex/js/jpush.js"></script> @*SignalR服务Gps数据*@
</body>

</html>
