<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>领导驾驶舱</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <link href="~/Content/styles/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/scripts/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/content/scripts/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/content/scripts/plugins/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="~/content/scripts/plugins/layui/css/layui.css">
    <link rel="stylesheet" href="~/content/styles/desktop/layout.css">
    <link rel="stylesheet" href="~/content/styles/desktop/index.css">
    <link rel="stylesheet" href="~/content/styles/desktop/index2.css">
    <script src="~/content/scripts/jquery/jquery-1.8.2.min.js"></script>
    <script src="~/Content/scripts/business/common.js"></script>
    <style>
        .h3 {
            font-size: 16px;
            line-height: 45px;
            color: #fff;
            text-indent: 10px;
            border-bottom: 2px solid #000e31;
        }

        .main1 ul li dl {
            margin: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #fff;
            width: 245px;
        }

        a {
            margin: 0;
            color: #fff;
            text-decoration: underline;
            cursor: pointer;
        }

            a:hover {
                color: #fff;
            }
    </style>
    <script type="text/javascript">
        var mapUrl = "@ViewBag.MapUrl";
        
        function openTab(id, url, title) {
            top.tablist.newTab({ id: id, url: url, title: title })
        }
    </script>
</head>
<body class="full">
    <div class="bs-warp bs-warp2">
        <div class="bs-main" style="padding:5px 20px 30px">
            <div class="main1">
                <h3>实时监控</h3>
                <ul class="row row_box">
                    <li><dl><img src="~/Content/index/images/realTime2_icon1.png">隐患总数：<a onclick="top.tablist.newTab({ id: '67fdd0b7-6629-48dc-a70f-3eb7ba2df1f0', url: '../HiddenTroubleManage/HTBaseInfo/Index?mode=qbyh', title: '隐患信息',closed: true })"><span id="span0"></span></a>个</dl></li>
                    <li><dl><img src="~/Content/index/images/realTime2_icon2.png">重大隐患：<a onclick="OpenNewTab('重大隐患', '/HiddenTroubleManage/HTBaseInfo/Index?mode=bigHt')"><span id="span1"></span></a>个</dl></li>
                    <li><dl><img src="~/Content/index/images/realTime2_icon3.png">已整改隐患：<a onclick="OpenNewTab('已整改隐患', '/HiddenTroubleManage/HTBaseInfo/Index?mode=qbyzg')"><span id="span2"></span></a>个</dl></li>
                    <li><dl><img src="~/Content/index/images/realTime2_icon4.png">未整改隐患：<a onclick="OpenNewTab('未整改隐患', '/HiddenTroubleManage/HTBaseInfo/Index?mode=qbwzg')"><span id="span3"></span></a>个</dl></li>
                    <li><dl><img src="~/Content/index/images/realTime2_icon5.png">隐患整改率：<span id="spanzgl"></span>%</dl></li>
                    <li><dl><img src="~/Content/index/images/realTime2_icon6.png">危险源总数：<a onclick="OpenNewTab('危险源信息', '/HazardsourceManage/Hisrelationhd_qd/Index?pMode=0')"><span id="span4"></span></a>项</dl></li>
                    <li><dl><img src="~/Content/index/images/realTime2_icon7.png">重大危险源：<a onclick="OpenNewTab('重大危险源信息', '/HazardsourceManage/Hisrelationhd_qd/DangerList?pMode=0')"><span id="span5"></span></a>项</dl></li>
                    <li><dl><img src="~/Content/index/images/realTime2_icon8.png">事故事件总数：<a onclick="openTab('912a6cef-39a1-4bbc-8327-8041a24f6ed9', '../AccidentEvent/Bulletin_deal/Index?pMode=0', '事故信息')"><span id="span6"></span></a>起</dl></li>
                    <li><dl><img src="~/Content/index/images/realTime2_icon9.png">死亡人数：<span id="span7"></span>人</dl></li>
                    <li><dl><img src="~/Content/index/images/realTime2_icon10.png">重伤人数：<span id="span8"></span>人</dl></li>
                    <li><dl><img src="~/Content/index/images/realTime2_icon11.png">安全检查总数：<a onclick="OpenNewTab('安全检查信息', '/SaftyCheck/SaftyCheckDataRecord/IndexView?ctype=')"><span id="span9"></span></a>次</dl></li>
                    <li><dl><img src="~/Content/index/images/realTime2_icon12.png">检查发现隐患：<a onclick="OpenNewTab('隐患信息', '/HiddenTroubleManage/HTBaseInfo/Index?pMode=4&mode=qbyh')"><span id="span10"></span></a>个</dl></li>
                    <li><dl><img src="~/Content/index/images/realTime2_icon13.png">在建外包工程数：<a onclick="OpenNewTab('外包工程信息', '/OutsourcingProject/Outsouringengineer/Index?pMode=0&EngState=002')"><span id="span11"></span></a>项</dl></li>
                    <li><dl><img src="~/Content/index/images/realTime2_icon14.png">外包人员在厂人数：<a onclick="openTab('ea93dc6b-83fc-4ac2-a1b7-56ef6909445c','../PersonManage/Person/Index?pMode=0','在厂外包人员')"><span id="span12"></span></a>个</dl></li>
                    <li><dl><img src="~/Content/index/images/realTime2_icon15.png">正在进行的高风险作业：<a onclick="OpenNewTab('高风险作业信息', '/HighRiskWork/HighRiskStatistics/Report?mode=0')"><span id="span14"></span></a>项</dl></li>
                </ul>
            </div>
            <div class="main2">
                <h3>电厂安全状态及预警</h3>
                <ul>
                    <li style="width:30%;" id="main2-1" onclick="openPage('安全生产预警详情', '/Home/SafetyWarn')">
                        <center style="margin-top:10px;"><img src="~/content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</center>
                    </li>
                    <li id="main2-2" style="width:70%;">
                        <center style="margin-top:10px;"><img src="~/content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</center>
                    </li>
                </ul>
            </div>
            <div class="main4">
                <h3>电厂分布图
                    <a onclick="setStatus(this)" style="float: right; color: #fff;">展开/收起</a>
                </h3>
                <div id="main4"><img src="~/content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</div>
            </div>
            <div class="box-4 main3">
                <ul>
                    <li style="width: 100%;">
                        <h3>安全风险管控
                        <a onclick="setStatus(this)" style="float: right; color: #fff;">展开/收起</a>
                        </h3>
                        <p style="text-align: center;line-height: 36px;height: 10px;"></p>
                        <div id="main3-1" style="background-color: white; width: 917px;">
                            <iframe  style="width:900px;height:700px; display:none;" frameborder="0" id="frmMap"></iframe>
                            <img src="~/Content/index/images/map_img.png" style="width:90%;" id="imgMap">
                        </div>
                    </li>
                   
                </ul>
            </div>
            <div class="main4">
                <h3>月度指标及对比</h3>
                <input type="button" class="btn btn-primary" value="重要月度指标" />
                <div id="main4"><img src="~/content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</div>
            </div>
            <div class="main5">
                <h3>重要指标月度趋势
                    <a onclick="setStatus(this)" style="float: right; color: #fff;">展开/收起</a>
                </h3>
                <div id="main4"><img src="~/content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</div>
            </div>
             
        </div>
    </div>
    <script src="~/content/scripts/plugins/nicescroll/nicescroll.min.js"></script>
    <script src="~/content/scripts/plugins/swiper/js/swiper.min.js"></script>
    <script src="~/content/scripts/plugins/layui/layui.all.js"></script>
    <script src="~/content/scripts/plugins/echarts/echarts.min.js"></script>
    <script src="~/content/scripts/desktop/layout-common.js"></script>
    <script type="text/javascript">
        if (mapUrl.length==0) {
            $("#imgMap").show();
            $("#frmMap").remove();
        } else {
            $("#frmMap").attr("src", mapUrl);
            $("#frmMap").show();
            $("#imgMap").hide();
        }
        function openPage(title, url) {
            var idx = top.dialogOpen({
                id: "warn",
                title: title,
                url: url,
                width: "900px",
                height: ($(top.window).height() - 200) + "px",
                btns: 1,
                btn: ["关闭"],
                callBack: function (iframeId) {
                    top.layer.close(idx);
                }
            });
        }
   
        //初始化加载
        $(function () {
            $('.bs-main').niceScroll({
                autohidemode: false
            });
            $('.bs-nav').niceScroll({
                autohidemode: "cursor",
                cursoropacitymax: 0
            });

            $('.nav_list li').on('click', function () {
                var index = $(this).index();
                $(this).attr('class', 'select').siblings().removeAttr('class', 'select');
            })
        })

        layui.use('laypage', function () {
            var laypage = layui.laypage;
            laypage.render({
                elem: 'page',
                count: 50,
                prev: '<em>&lt;</em>',
                next: '<em>&gt;</em>',
                layout: ['limit', 'prev', 'page', 'next'],
                limits: [10, 20, 50],
                theme: '#75b9e6'
            });
        });

        var json;
        //数量数据统计
        $.post("../Desktop/GetStatData", {}, function (data) {
            json = eval("(" + data + ")");
            var data = [];
            data = JSON.parse(json.resultdata);
            var yzg = 0;
            var wzg = 0;
            for (var i = 0; i < data.length; i++) {
                if ($("#span").html == undefined) continue;
                if (i == 2) {
                    yzg = data[2];
                }
                if (i == 3) {
                    wzg = data[3];
                }
                if (i == 17) {
                    $("#span14").html(data[i]);
                } else {
                    $("#span" + i).html(data[i]);
                }

            }
            var spanzgl = (yzg + wzg) == 0 ? 0 : ((yzg / (yzg + wzg)).toFixed(4)*100).toFixed(2);
            $("#spanzgl").html(spanzgl);
        });

        //隐患统计
        var obj1 = document.getElementById('main4')
        $.post("../Desktop/GetHTChart", {}, function (data) {
            json = eval("(" + data + ")");
            if (json.resultdata==null) {
                $(obj1).html("对不起，暂无数据可显示");
            } else {
                var data1 = [];
                var obj = JSON.parse(json.resultdata);
                data1 = obj.yValues;
                var data2 = [];
                data2 = obj.xValues;
                var option1 = {
                    title: {
                        text: '隐患统计',
                        x: 'center',
                        textStyle: {
                            fontSize: 15,
                            color: '#fff'

                        }
                    },
                    tooltip: {
                        trigger: 'axis',
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis: [
                        {
                            type: 'category',
                            data: data2,
                            axisTick: {
                                alignWithLabel: true
                            },
                            axisLabel: {
                                textStyle: {
                                    color: '#cccccc'
                                }
                            },
                            axisLine: {
                                lineStyle: {
                                    color: '#247b09'
                                }
                            }

                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',


                            axisLabel: {
                                textStyle: {
                                    color: '#cccccc'
                                }
                            },
                            axisLine: {
                                lineStyle: {
                                    color: '#247b09'
                                }
                            },
                            boundaryGap: [0, 0.1],
                            minInterval: 1,
                        }
                    ],
                    series: [

                        {
                            name: '数量',
                            type: 'bar',
                            barWidth: '10%',
                            data: data1,
                            itemStyle: {
                                normal: {
                                    color: function (params) {
                                        var colorList = ['#99cccc', '#ffca28', '#0091ea', '#b3d465', '#99cccc']
                                        return colorList[params.dataIndex]
                                    }
                                }
                            }

                        },
                    ]
                };
                count(obj1, option1);
            }
           
        });




        //var obj2 = document.getElementById('main5')
        //var data2 = [[10, 52, 200, 334, 390, 300, 220], [10, 52, 200, 334, 390, 300, 220], [10, 52, 200, 334, 390, 300, 220]]
        //var option2 = {
        //    title: {
        //        text: '培训合格率趋势率',
        //        x: 'center',
        //        textStyle: {
        //            fontSize: 12,
        //            color: '#fff'

        //        }
        //    },
        //    legend: {
        //        data: ['考试人次', '合格人次', '培训合格率'],
        //        textStyle: {
        //            fontSize: 14,
        //            color: '#ccc'
        //        },

        //        top: 20,

        //    },


        //    xAxis: [
        //        {
        //            type: 'category',
        //            data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
        //            axisLine: {
        //                lineStyle: {
        //                    color: '#fff'
        //                }
        //            }
        //        }
        //    ],
        //    yAxis: [
        //        {
        //            type: 'value',
        //            name: '人数(人)',
        //            min: 0,
        //            axisLabel: {
        //                formatter: '{value}',
        //                textStyle: {
        //                    color: '#cccccc'
        //                }
        //            },
        //            axisLine: {
        //                lineStyle: {
        //                    color: '#fff'
        //                }
        //            }
        //        },
        //        {
        //            type: 'value',
        //            name: '培训合格率(%)',
        //            min: 0,
        //            axisLabel: {
        //                formatter: '{value}%',
        //                textStyle: {
        //                    color: '#cccccc'
        //                }
        //            },
        //            axisLine: {
        //                lineStyle: {
        //                    color: '#fff'
        //                }
        //            }

        //        }
        //    ],
        //    series: [

        //        {
        //            name: '考试人次',
        //            type: 'bar',
        //            barWidth: '10%',
        //            data: data2[0],
        //            color: '#ff7f50'
        //        },
        //        {
        //            name: '合格人次',
        //            type: 'bar',
        //            barWidth: '10%',
        //            data: data2[1],
        //            color: '#87cefa'

        //        },
        //        {
        //            name: '培训合格率',
        //            type: 'line',
        //            barWidth: '10%',
        //            data: data2[2],
        //            itemStyle: {
        //                normal: {
        //                    color: '#325786'
        //                }
        //            }

        //        },
        //    ]
        //};

        ////高风险作业统计
        //var obj3 = document.getElementById('main5-1')
        //var data3 = [];
        //var datatext = [];
        //$.post("../Desktop/GetWorkTypeChart", {}, function (riskVal) {
        //    json = eval("(" + riskVal + ")");
        //    if (json.resultdata != null) {
        //        var obj = JSON.parse(json.resultdata);
        //        for (var i = 0; i < obj.xValues.length; i++) {
        //            var text = obj.xValues[i];
        //            var value = obj.yValues[i];
        //            data3.push({ name: text, value: value });
        //            datatext.push(text);
        //        }
        //        //var data3 = [{ name: '临时用电作业', value: 5 }, { name: '高出作业', value: 50 }, { name: '动火作业', value: 20 }, { name: '受限公间作业', value: 10 }, { name: '起重吊装作业', value: 15 }]
        //        //var color = ['#c00000', '#28a7e1', '#e46c0a', '#ffff00', '#fdb45c']
        //        var option3 = {

        //            title: {
        //                text: '高风险作业类型统计',
        //                textStyle: {
        //                    color: '#fff',
        //                    fontSize: 14,
        //                },
        //                x: 'center'
        //            },
        //            legend: {
        //                selectedMode: true,
        //                bottom: 0,
        //                orient: 'horizontal',
        //                textStyle: {
        //                    fontSize: 14,
        //                    color: '#cccccc'
        //                },
        //                data: datatext,

        //            },

        //            series: [{
        //                type: 'pie',
        //                radius: ['40%', '55%'],
        //                hoverAnimation: true,
        //                // color: color,
        //                label: {
        //                    normal: {


        //                        show: true,
        //                        position: 'absolute',
        //                        left: '-50px',
        //                        formatter: '{b}:{c}个',
        //                        color: '#cccccc'
        //                    }
        //                },
        //                labelLine: {
        //                    normal: {
        //                        show: true,
        //                        length: 15,
        //                        length2: 10,
        //                        lineStyle: {

        //                        }
        //                    }
        //                },
        //                data: data3
        //            }]
        //        };
        //        count(obj3, option3);
        //    } else {
        //        $(obj3).html("对不起，暂无数据可显示");
        //    }

        //});

        ////外包工程类型统计
        //var obj4 = document.getElementById('main6-1')
        //var data4 = [];
        //$.post("../Desktop/GetProjectChart2", {}, function (riskVal) {
        //    json = eval("(" + riskVal + ")");
        //    if (json.resultdata != null) {
        //        var obj = JSON.parse(json.resultdata);
        //        for (var i = 0; i < obj.xValues.length; i++) {
        //            var text = obj.xValues[i];
        //            var value = obj.yValues[i];
        //            data4.push({ name: text, value: value });
        //        }
        //        var color = ['#fdb45c', '#f7464a', '#46bfbd', ]
        //        var option4 = {

        //            title: {
        //                text: '外包工程类型统计',
        //                textStyle: {
        //                    color: '#fff',
        //                    fontSize: 14,
        //                },
        //                x: 'center',
        //                y: 10
        //            },


        //            series: [{
        //                type: 'pie',
        //                radius: ['40%', '55%'],
        //                hoverAnimation: true,
        //                color: color,
        //                label: {
        //                    normal: {
        //                        show: true,
        //                        position: 'absolute',
        //                        left: '-50px',
        //                        formatter: '{b}:{c}个',
        //                        color: '#cccccc'
        //                    }
        //                },
        //                labelLine: {
        //                    normal: {
        //                        show: true,
        //                        length: 15,
        //                        length2: 10,
        //                        lineStyle: {

        //                        }
        //                    }
        //                },
        //                data: data4
        //            }]
        //        };
        //        count(obj4, option4);
        //    } else {
        //        $(obj4).html("对不起，暂无数据可显示");
        //    }

        //});

        ////每月外包人员数量变化趋势图
        //$.post("../Desktop/GetProjectPersonChart", {}, function (riskVal) {
        //    json = eval("(" + riskVal + ")");
        //    if (json.resultdata == null) {
        //        $(obj5).html("对不起，暂无数据可显示");
        //    } else {
        //        var obj = JSON.parse(json.resultdata);

        //        var data5 = [
        //                obj.y,
        //                obj.yJC,
        //                obj.yLC
        //        ]
        //        var data = obj.xValues;
        //        var option5 = {
        //            title: {
        //                text: '每月外包人员数量变化趋势图',
        //                x: 'center',
        //                y: 10,
        //                textStyle: {
        //                    fontSize: 12,
        //                    color: '#fff'

        //                }
        //            },
        //            legend: {
        //                data: ['在厂人员', '进厂人员', '离厂人员'],
        //                textStyle: {
        //                    fontSize: 14,
        //                    color: '#ccc'
        //                },
        //                bottom: 5,
        //            },
        //            tooltip: {
        //                trigger: 'axis'
        //            },
        //            xAxis: [{
        //                type: 'category',
        //                data: data,
        //                axisLine: {
        //                    lineStyle: {
        //                        color: '#fff'
        //                    }
        //                }
        //            }],
        //            yAxis: [{
        //                type: 'value',
        //                name: '人数(人)',
        //                min: 0,
        //                axisLabel: {
        //                    formatter: '{value}',
        //                    textStyle: {
        //                        color: '#cccccc'
        //                    }
        //                },
        //                axisLine: {
        //                    lineStyle: {
        //                        color: '#fff'
        //                    }
        //                },
        //                boundaryGap: [0, 0.1],
        //                minInterval: 1
        //            }
        //                //,{
        //                //    type: 'value',
        //                //    min: 0,
        //                //    axisLabel: {
        //                //        formatter: '{value}',
        //                //        textStyle: {
        //                //            color: '#223550'
        //                //        }
        //                //    },
        //                //    axisLine: {
        //                //        lineStyle: {
        //                //            color: '#223550'
        //                //        }
        //                //    }

        //                //}
        //            ],
        //            series: [

        //                {
        //                    name: '在厂人员',
        //                    type: 'line',
        //                    barWidth: '10%',
        //                    data: data5[0],
        //                    symbol: 'star' + 3,
        //                    symbolSize: 6,
        //                    color: '#96b4d7',
        //                    itemStyle: {
        //                        normal: {
        //                            label: {
        //                                show: true
        //                            }
        //                        },
        //                    },
        //                    lineStyle: {
        //                        color: '#96b4d7',
        //                    }
        //                },
        //                {
        //                    name: '进厂人员',
        //                    type: 'line',
        //                    symbol: 'star' + 3,
        //                    symbolSize: 6,
        //                    barWidth: '10%',
        //                    color: '#9bbb59',
        //                    data: data5[1],
        //                    itemStyle: {
        //                        normal: {
        //                            label: {
        //                                show: true
        //                            }
        //                        },
        //                    },
        //                    lineStyle: {
        //                        color: '#9bbb59'
        //                    }

        //                },
        //                {
        //                    name: '离厂人员',
        //                    type: 'line',
        //                    barWidth: '10%',
        //                    data: data5[2],
        //                    symbol: 'star' + 3,
        //                    color: '#c0504d',
        //                    symbolSize: 6,
        //                    itemStyle: {
        //                        normal: {
        //                            label: {
        //                                show: true
        //                            }
        //                        },
        //                    },
        //                    lineStyle: {
        //                        color: '#c0504d'
        //                    }

        //                },
        //            ]
        //        };
        //        count(obj5, option5);
        //    }
        //});
        //var arrRisk;
        //var obj6 = document.getElementById('main3-2')
        //var data6 = [];
        //var data6text = [];
        //var dataTop = [];
        //$.post("../RiskDatabase/risk/GetRiskRank", function (data) {
        //    json = eval(data);
        //    arrRisk = json;
        //    for (var i = json.length - 1; i >= 0; i--) {
        //        data6.push(json[i].itemr);
        //        data6text.push(json[i].deptname);
        //        dataTop.push('Top' + (i + 1) + ':风险值');
        //    }
        //    var option6 = {
        //        tooltip: {
        //            trigger: 'axis'

        //        },
        //        grid: {
        //            x: 100,
        //            y: 45,
        //            x2: 65,
        //            y2: 20
        //        },
        //        xAxis: [{
        //            type: '',
        //            boundaryGap: [0, 0.01],
        //            splitLine: {
        //                show: false
        //            },
        //            axisLabel: {
        //                formatter: '{value}',
        //                textStyle: {
        //                    color: '#0b203e'
        //                }
        //            },
        //            axisLine: {
        //                lineStyle: {
        //                    color: '#0b203e'
        //                }
        //            }
        //        }],
        //        yAxis: [{
        //            type: 'category',
        //            data: dataTop,
        //            splitLine: {
        //                show: false
        //            },
        //            axisLabel: {
        //                textStyle: {
        //                    color: '#7e8085'
        //                }
        //            },

        //            axisLine: {
        //                lineStyle: {
        //                    color: '#0b203e'
        //                }
        //            },
        //        },
        //        {
        //            type: 'category',
        //            splitLine: {
        //                show: false
        //            },
        //            data: data6text,
        //            axisLabel: {
        //                textStyle: {
        //                    color: '#7e8085'
        //                }
        //            },
        //            axisLine: {
        //                lineStyle: {
        //                    color: '#0b203e'
        //                }
        //            }
        //        }
        //        ],
        //        series: [

        //            {
        //                name: '',
        //                type: 'bar',
        //                barWidth: '50%',
        //                data: data6,
        //                itemStyle: {
        //                    normal: {
        //                        label: {
        //                            show: true,
        //                            position: 'insideRight',
        //                        },

        //                        color: '#12447c',
        //                        barBorderColor: '#0f86ff'
        //                    }
        //                },
        //                lineStyle: {
        //                    color: '#9bbb59'
        //                },
        //                tooltip: {
        //                    trigger: 'item',
        //                    formatter: function (params) {

        //                        if (arrRisk[9 - params.dataIndex] != undefined) {
        //                            var text = "风险排名：" + (10 - params.dataIndex) + "<br />";
        //                            text += "风险值：" + arrRisk[9 - params.dataIndex].itemr + "<br />";
        //                            text += "风险类别：" + arrRisk[9 - params.dataIndex].risktype + "<br />";
        //                            text += "风险描述：" + arrRisk[9 - params.dataIndex].riskdesc + "<br />";
        //                            return text;
        //                        }

        //                    }
        //                }

        //            }
        //        ]
        //    };
        //    count(obj6, option6);
        //});


        var obj4 = document.getElementById('main6-1');
        var obj5 = document.getElementById('main6-2');
        var obj7 = document.getElementById('main2-1');
        var obj8 = document.getElementById('main2-2');
        //预警指数统计
        $(obj7).width(($(window).width()) * 0.3);
        $(obj8).width(($(window).width()) * 0.7);
        $.get("../home/GetWarnValue", {}, function (data) {
            json = eval("(" + data + ")");
            var score = 0;
            if (json.score == null || json.score == undefined) score = 0;
            else
                score = json.score;
            var option7 = {
                tooltip: {
                    formatter: "{a}<br/>{c}{b}分",
                    backgroundColor: 'rgba(255,255,255,0.8)',
                    textStyle: {
                        color: 'black',
                    }

                },

                legend: {
                    x: 'center',
                    bottom: '5%',
                    icon: 'rect',
                    data: ['危险', '较危险', '较安全', '安全'],
                    textStyle: {
                        color: '#cccccc',
                        fontWeight: 100,
                    },
                    color: ['#ff4157', '#f8df76', '#96e8f6', '#5ae6b6'],
                },
                toolbox: {
                    show: false,
                    feature: {
                        mark: { show: true },
                        restore: { show: true },
                        saveAsImage: { show: true }
                    },
                    extraCssText: 'width:160px;height:50px;background:#fff;'
                },

                xAxis: [   //这里有很多的show，必须都设置成不显示
                    {
                        type: 'category',
                        data: [],
                        axisLine: {
                            show: false
                        },
                        splitLine: {
                            show: false
                        },
                        splitArea: {
                            interval: 'auto',
                            show: false
                        }
                    }
                ],
                yAxis: [ //这里有很多的show，必须都设置成不显示
                    {
                        type: 'value',
                        axisLine: {
                            show: false
                        },
                        splitLine: {
                            show: false
                        },
                    }
                ],
                series: [
                    {
                        name: '危险',
                        type: 'bar',
                        itemStyle: {
                            normal: {
                                color: '#ff4157'
                            }
                        }
                    },
                    {
                        name: '较危险',
                        type: 'bar',
                        itemStyle: {
                            normal: {
                                color: '#f8df76'
                            }
                        }

                    },
                    {
                        name: '较安全',
                        type: 'bar',
                        itemStyle: {
                            normal: {
                                color: '#96e8f6'
                            }
                        }

                    },
                    {
                        name: '安全',
                        type: 'bar',
                        itemStyle: {
                            normal: {
                                color: '#5ae6b6'
                            }
                        }

                    },
                    {
                        name: '预警指数',
                        type: 'gauge',
                        center: ['50%', '60%'],    // 默认全局居中
                        radius: '90%',
                        startAngle: 180,
                        endAngle: 0,
                        axisLine: {
                            show: true,
                            lineStyle: {       // 属性lineStyle控制线条样式
                                width: 30,
                                color: [
                                    [0.6, '#ff4157'],
                                    [0.7, '#f8df76'],
                                    [0.9, '#96e8f6'],
                                    [1, '#5ae6b6']
                                ]
                            },

                        },
                        splitLine: {           // 分隔线
                            length: 30,         // 属性length控制线长
                            lineStyle: {       // 属性lineStyle（详见lineStyle）控制线条样式
                                width: 2
                            }
                        },
                        axisTick: {            // 坐标轴小标记
                            length: 20,        // 属性length控制线长

                        },
                        axisLabel: {
                            color: '#fff',
                            distance: 5
                        },
                        pointer: {
                            width: 2
                        },
                        detail: {
                            // 其余属性默认使用全局文本样式，详见TEXTSTYLE
                            fontWeight: 'bolder',
                            formatter: "{score|{value}分}",
                            offsetCenter: [0, '-40%'],
                            height: 30,
                            rich: {
                                score: {
                                    color: '#ff9937',
                                    fontFamily: '微软雅黑',
                                    fontSize: 32,
                                }
                            }

                        },
                        data: [{
                            value: score, label: {
                                textStyle: {
                                    fontSize: 12
                                }
                            }
                        }]
                    }
                ]
            };
            count(obj7, option7);
        });


        //安全预警趋势图
        $.post("../home/GetRiskTrend", {}, function (riskVal) {
            json = eval("(" + riskVal + ")");
            var option8 = {
                title: {
                    text: '安全生产指标预警指数趋势图',
                    left: '4%',
                    top: '5%',
                    textStyle: {
                        color: '#fff',
                        fontWeight: 100,
                    },

                },
                tooltip: {
                    trigger: 'axis',
                    axisPoiner: {
                        type: 'shadow'
                    }
                },
                legend: {
                    right: '10%',
                    top: '5%',
                    icon: 'rect',
                    data: ['危险', '警告', '注意', '安全'],
                    textStyle: {
                        color: '#cccccc',
                        fontWeight: 100,
                    },
                    selected: {
                        '危险': true,
                        '警告': true,
                        '注意': true,
                        '安全': true,
                    }
                },
                color: ['#fdb381', '#f8df76', '#96e8f6', '#5ae6b6'],
                xAxis: {
                    nameLocation: 'center',
                    type: 'category',
                    boundaryGap: true,
                    data: json.x,
                    show: true,
                    axisLabel: {
                        textStyle: {
                            color: '#7e8085'
                        }
                    },
                    axisLine: {
                        lineStyle: {
                            color: '#0b203e'
                        }
                    },
                    axisTick: {
                        show: true
                    }
                },
                grid: {
                    top: '15%',
                    bottom: '5%',
                    left: '5%',
                    containLabel: true
                },
                yAxis: {
                    nameGap: 35,
                    splitNumber: 10,
                    type: 'value',
                    min: '0',
                    max: '100',
                    axisLabel: {
                        textStyle: {
                            color: '#7e8085'
                        }
                    },
                    axisLine: {
                        lineStyle: {
                            color: '#0b203e'
                        }
                    }
                },
                series: [
                    {
                        name: '危险',
                        type: 'line',
                        animation: false,

                        areaStyle: {
                            normal: {
                                color: "#fff"
                            }
                        },
                        itemStyle: {
                            normal: {
                            }
                        },
                        lineStyle: {
                            normal: { width: 1 }
                        },
                        markArea: {
                            data: [[{ yAxis: '0' }, { yAxis: '20' }]]
                        },

                    },
                    {
                        name: '警告',
                        type: 'line',
                        animation: false,
                        areaStyle: {
                            normal: {}
                        },
                        lineStyle: {
                            normal: { width: 1 }
                        },
                        markArea: {
                            data: [[{ yAxis: '20' }, { yAxis: '60' }]]
                        },

                    },
                    {
                        name: '注意',
                        type: 'line',
                        animation: false,
                        areaStyle: {
                            normal: {}
                        },
                        lineStyle: {
                            normal: { width: 1 }
                        },
                        markArea: {
                            data: [[{ yAxis: '60' }, { yAxis: '80' }]]
                        },

                    },
                    {
                        name: '安全',
                        type: 'line',
                        animation: false,
                        areaStyle: {
                            normal: {}
                        },
                        lineStyle: {
                            normal: { width: 1 }
                        },
                        markArea: {
                            data: [[{ yAxis: '80' }, { yAxis: '100' }]]
                        },

                    },
                    {
                        name: '',
                        type: 'line',
                        data: json.y
                    }
                ]
            };
            count(obj8, option8);
        });
        //count(obj2, option2)
        function count(obj, option) {
            var Chart4 = echarts.init(obj)
            var colors = ['#f6b327', '#32d03b', '#ccc'];
            Chart4.setOption(option);
            if (obj.id == "main2-2") {
                Chart4.on("click", function (args) {
                    if (args.name.length > 0) {
                        var time = args.name.replace(".", "-") + "-01";
                        openPage('预警趋势', '/Home/SafetyWarn?time=' + time);
                    }
                });
            }
            if (obj.id == "main4") {
                Chart4.on("click", function (args) {
                    if (args.name == "隐患数量") {
                        top.tablist.newTab({ id: '67fdd0b7-6629-48dc-a70f-3eb7ba2df1f0', url: '../HiddenTroubleManage/HTBaseInfo/Index?mode=qbyh', title: args.name });
                    }
                    if (args.name == "一般隐患数") {
                        OpenNewTab(args.name, '/HiddenTroubleManage/HTBaseInfo/Index?mode=ybqbyh');
                    }
                    if (args.name == "重大隐患数") {
                        OpenNewTab(args.name, '/HiddenTroubleManage/HTBaseInfo/Index?mode=bigHt');
                    }
                    if (args.name == "已整改隐患数") {
                        OpenNewTab(args.name, '/HiddenTroubleManage/HTBaseInfo/Index?mode=qbyzg')
                    }
                    if (args.name == "逾期未整改隐患数") {
                        OpenNewTab(args.name, '/HiddenTroubleManage/HTBaseInfo/Index?mode=qbyqwzg')
                    }
                });
            }
            if (obj.id == "main5-1") {
                Chart4.on("click", function (args) {
                    var status = 8;
                    if (args.name == "高处作业") {
                        status = 1;
                    }
                    if (args.name == "动火作业") {
                        status = 2;
                    }
                    if (args.name == "受限空间作业") {
                        status = 3;
                    }
                    if (args.name == "起重吊装作业") {
                        status = 4;

                    }
                    if (args.name == "临时用电作业") {
                        status = 5;
                    }
                    if (args.name == "临近带电体作业") {
                        status = 6;
                    }
                    if (args.name == "交叉作业") {
                        status = 7;
                    }
                    top.tablist.newTab({ id: '54ca14c9-d2b6-404f-b42b-0cebff07f22f', url: '../HighRiskWork/HighRiskApply/Index?status=' + status, title: args.name })
                    //OpenNewTab(args.name, '/HighRiskWork/HighRiskApply/Index?status=' + status);
                });

            }
            if (obj.id == "main6-1") {
                Chart4.on("click", function (args) {
                    var status = 8;
                    if (args.name == "长协外包") {
                        status = "001";
                    }
                    if (args.name == "临时外包") {
                        status = "002";
                    }

                    OpenNewTab(args.name, '/OutsourcingProject/Outsouringengineer/Index?OutEngType=' + status);
                });

            }
            if (obj.id == "main3-2") {
                Chart4.on("click", function (args) {
                    top.tablist.newTab({ id: 'd472030f-3094-4ad8-89cd-90c949fd4d91', url: '../RiskDatabase/RiskAssess/Show?keyValue=' + arrRisk[arrRisk.length - 1 - args.dataIndex].id, title: '风险详情' })

                });

            }
        }
    </script>
</body>
</html>