@{
    ViewBag.Title = "SafetyRisk";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<style type="text/css">
    .tab1 {
        width: 100%;
        border: 1px solid #ccc;
    }

        .tab1 td {
            background-color: white;
            height: 30px;
            text-align: center;
            border: 1px solid #ccc;
        }
</style>
<script type="text/javascript">
    $(function () {
        $.post("../home/GetRiskList", { time: request("time") }, function (result, status) {
            var json = eval("(" + result + ")");
            var html = "";
            var score = 0;
            $(json.data).each(function (i, item) {
                html += ' <tr> <td class="risk cell">' + item.name + '</td><td class="risk cell">' + item.totalscore + '</td>';
                html += '<td class="risk cell">' + item.descr + '</td><td class="risk cell">' + item.score + '</td><td class="risk cell">' + item.finalscore + '</td></tr>';
                score = parseFloat(score) + parseFloat(item.finalscore);
            });
            html += "<tr><td>权重</td><td colspan='4'>" + json.weight + "</td></tr>";
            html += "<tr><td>应得分</td><td colspan='4'>" + json.allScore + "</td></tr>";
            html += "<tr><td>实得分</td><td colspan='4'>" + json.finalScore + "</td></tr>";
            $("#tab1").append(html);
            $("#tips").remove();
        });
    });
</script>
<div class="row">
    <table cellpadding="0" cellspacing="0" class="tab1" border="1" id="tab1">
        <tr>
            <td class="risk cell">指标项</td>
            <td class="risk cell">指标总分</td>
            <td class="risk cell">评分标准</td>
            <td class="risk cell">扣分</td>
            <td class="risk cell">得分</td>
        </tr>
        <tr id="tips">
            <td colspan="5">
                <div>正在加载数据……</div>
            </td>
        </tr>
      
    </table>
 
</div>