@{
    ViewBag.Title = "SafetyWarn";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<style type="text/css">
    .tab1, .tab0 {
        width: 100%;
        border: 1px solid #ccc;
    }

        .tab1 td, .tab0 td {
            background-color: white;
            height: 30px;
            text-align: center;
            border: 1px solid #ccc;
        }
</style>
<script type="text/javascript">
    var time = request("time");

    $(function () {
        $.post("GetWarnData", { startDate: time}, function (data) {
            if (!!data) {
                var obj = eval("(" + data + ")");
                var resultdata = obj.resultdata;
                $(resultdata).each(function (index, ele) {
                    var serialnum = index + 1;
                    var tabhtml = "<tr><td class=\"check cell\">" + serialnum + "</td><td class=\"check cell\">" + ele.classificationindex + "</td><td class=\"check cell\" id=\"checkScore\">" + ele.classificationscore + "</td></tr>";
                    if (!!tabhtml) {
                        $(".tab0").append(tabhtml);
                    }
                    var btnhtml = "";
                    if (index == 0) {
                        btnhtml += "<button id=\"btn" + ele.classificationcode + "\" class=\"btn btn-primary btn1\" type=\"button\" onclick=\" $('.btn1').removeClass('btn-primary');$(this).addClass('btn-primary');$('.btn1').addClass('btn-default'); $('#con').find('.tab1').hide(); $('#tab" + ele.classificationcode + "').show();\">&nbsp;" + ele.classificationindex + "</button>";
                    }
                    else {
                        btnhtml += "<button id=\"btn" + ele.classificationcode + "\" class=\"btn btn-default btn1\" type=\"button\" onclick=\" $('.btn1').removeClass('btn-primary');$(this).addClass('btn-primary');$('.btn1').addClass('btn-default'); $('#con').find('.tab1').hide(); $('#tab" + ele.classificationcode + "').show();\">&nbsp;" + ele.classificationindex + "</button>";
                    }
                    if (!!btnhtml) {
                        $("#btnControl").append(btnhtml);
                    }
                    var isdisplay = "";
                    if (index != 0) {
                        isdisplay = " style=\"display:none;\"";
                    }
                    var conhtml = "<table cellpadding=\"0\" cellspacing=\"0\" class=\"tab1\" border=\"1\" id=\"tab" + ele.classificationcode + "\" " + isdisplay + "><tr><td class=\"risk cell\">指标项</td> <td class=\"risk cell\">指标总分</td><td class=\"risk cell\">评分标准</td><td class=\"risk cell\">扣分</td><td class=\"risk cell\">得分</td></tr>";
                    $(ele.data).each(function (num, element) {
                        conhtml += "<tr><td class=\"risk cell\">" + element.indexname + "</td><td class=\"risk cell\">" + element.indexscore + "</td><td class=\"risk cell\">" + element.indexstandard + "</td><td class=\"risk cell\">" + element.deductpoint + "</td><td class=\"risk cell\">" + element.score + "</td> </tr>";
                    });
                    conhtml += "</table>";
                    if (!!conhtml) {
                        $("#con").append(conhtml);
                    }
                });
            }
        });
    });
</script>
<div class="row">
    <table cellpadding="0" cellspacing="0" class="tab0" border="1">
        <tr>
            <td class="risk cell">序号</td>
            <td class="risk cell">分项指标名称</td>
            <td class="risk cell">总得分</td>
        </tr>
    </table>
</div>
<div class="row" style="margin-top:10px;">
    <div class="btn-group" id="btnControl">
    </div>
</div>
<div class="row" style="margin-top:10px;" id="con">
</div>

