<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <link href="~/Content/styles/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/scripts/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/content/scripts/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/content/scripts/plugins/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="~/content/scripts/plugins/layui/css/layui.css">
    <link rel="stylesheet" href="~/content/styles/desktop/layout.css">
    <link rel="stylesheet" href="~/content/styles/desktop/xjIndex.css">
    <script src="~/content/scripts/jquery/jquery-1.8.2.min.js"></script>
    <script src="~/Content/scripts/business/common.js"></script>
    <script src="~/Content/scripts/utils/framework-ui.js"></script>
    <style>
        .h3 {
            font-size: 16px;
            line-height: 45px;
            color: #fff;
            text-indent: 10px;
            border-bottom: 2px solid #000e31;
        }

        .main1 ul li dl {
            margin: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #fff;
            width: 245px;
        }

        a {
            margin: 0;
            color: #fff;
            text-decoration: underline;
            cursor: pointer;
        }

            a:hover {
                color: #fff;
            }

        .box_bg ::-webkit-scrollbar {
            display: none;
        }
       
    </style>
    <script type="text/javascript">
        var mapUrl = "@ViewBag.MapUrl";
       
        function openTab(id, url, title) {
            top.tablist.newTab({ id: id, url: url, title: title });
        }
        function showBig() {
            top.tablist.newTab({ id: "Map", url: "../content/areamaps/hdxjhyc/index.html", title: "安全风险等级分布图" });
            //dialogOpenFrame({
            //    id: "Form",
            //    title: '个性化设置-皮肤设置',
            //    url: '/content/areamaps/hdxjhyc/index.html',
            //    width: ($(top.window).width()-100)+"px",
            //    height: ($(top.window).height() - 250) + "px",
            //    callBack: function (iframeId) {
            //    }
            //});
        }
    </script>
</head>
<body class="full">
    <div class="bs-warp bs-warp2">
        <div class="bs-main" style="padding:5px 20px 30px">
            <div class="main1">
                <div class="row row_box">
                    <div class="col-md-9">
                        <h3>实时监控</h3>
                        <ul class="row row_box">
                            <li><dl><img src="~/Content/index/images/realTime2_icon11.png">安全检查总数：<a onclick="OpenNewTab('安全检查信息', '/SaftyCheck/SaftyCheckDataRecord/IndexView?ctype=')"><span id="aqjcSpan"></span></a>次</dl></li>
                            @***日常安全检查总数****@
                            <li><dl><img src="~/Content/index/images/realTime2_icon10.png">日常安全检查总数：<a onclick="OpenNewTab('日常安全检查总数', '/SaftyCheck/SaftyCheckDataRecord/IndexView?ctype=1')"><span id="rcjcSpan"></span></a>次</dl></li>
                            <li><dl><img src="~/Content/index/images/realTime2_icon12.png">检查发现隐患：<a onclick="OpenNewTab('隐患信息', '/HiddenTroubleManage/HTBaseInfo/Index?pMode=4&mode=qbyh')"><span id="jcyhSpan"></span></a>个</dl></li>
                            <li><dl><img src="~/Content/index/images/realTime2_icon1.png">隐患总数：<a onclick="top.tablist.newTab({ id: '67fdd0b7-6629-48dc-a70f-3eb7ba2df1f0', url: '../HiddenTroubleManage/HTBaseInfo/Index?mode=qbyh', title: '隐患信息',closed: true })"><span id="yhSpan"></span></a>个</dl></li>
                            <li><dl><img src="~/Content/index/images/realTime2_icon2.png">重大隐患：<a onclick="OpenNewTab('重大隐患', '/HiddenTroubleManage/HTBaseInfo/Index?mode=bigHt')"><span id="zdSpan"></span></a>个</dl></li>
                            <li><dl><img src="~/Content/index/images/realTime2_icon4.png">未整改隐患：<a onclick="OpenNewTab('未整改隐患', '/HiddenTroubleManage/HTBaseInfo/Index?mode=qbwzg')"><span id="wzgSpan"></span></a>个</dl></li>
                            <li><dl><img src="~/Content/index/images/realTime2_icon5.png">逾期未整改隐患：<a onclick="OpenNewTab('逾期未整改隐患', '/HiddenTroubleManage/HTBaseInfo/Index?mode=qbyqwzg')"><span id="yqwzgSpan"></span></a>个</dl></li>
                            <li><dl><img src="~/Content/index/images/realTime2_icon6.png">隐患整改率：<span id="zglSpan"></span>%</dl></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <div class="box_bg">
                            <div class="bs-head"><h3>待办事项</h3></div>
                            <ul class="bs-list pending_list" id="work" style="overflow-y: scroll; padding:0;">
                                <li style="margin-top:10px;"><a href="javascript:;" style="text-decoration:none;">待执行安全检查数<label style="float: right">0</label></a></li>
                                <li style="margin-top:5px;"><a href="javascript:;" style="text-decoration:none;">待完善隐患数<label style="float: right">0</label></a></li>
                                <li style="margin-top:5px;"><a href="javascript:;" style="text-decoration:none;">待评估隐患数<label style="float: right">0</label></a></li>
                                <li style="margin-top:5px;"><a href="javascript:;" style="text-decoration:none;">待整改隐患数<label style="float: right">0</label></a></li>
                                <li style="margin-top:5px;"><a href="javascript:;" style="text-decoration:none;">待审(核)批整改延期隐患数<label style="float: right">0</label></a></li>
                                <li style="margin-top:5px;"><a href="javascript:;" style="text-decoration:none;">待验收隐患数<label style="float: right">0</label></a></li>
                                <li style="display:none"><a href="javascript:;" style="text-decoration:none;">待复查验证隐患数<label style="float: right">0</label></a></li>
                                <li style="margin-top:5px;"><a href="javascript:;" style="text-decoration:none;">待效果评估隐患数<label style="float: right">0</label></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-4 main3">
                <ul>
                    <li style="width: 60%;">
                        
                        <h3>安全风险等级分布图
                            <a style="color: #75b9e6; font-size: 14px; float: right; font-weight: normal; margin-right: 10px;" onclick="showBig()">查看大图</a>
                        </h3>
                        <p style="text-align: center;line-height: 36px;height: 10px;"></p>
                        <div id="main3-1" style="background-color: white; ">
                            <iframe style="width:100%;height:700px; display:none;" frameborder="0" id="frmMap" name="frmMap"></iframe>
                            <img src="~/Content/index/images/map_img.png" style="width: 90%; overflow:scroll;" id="imgMap">
                        </div>
                    </li>
                    <li style="width: 40%;">
                        <h3>
                            隐患发现/整改排行榜&nbsp;&nbsp;<select name="chooseHidType" id="chooseHidType" title="请选择统计类型" style="width: 138px; color: #555;"><option value="0" selected="selected">按排查单位统计</option> <option value="1">按整改单位统计</option></select> <a onclick="openTab('67fdd0b7-6629-48dc-a70f-3eb7ba2df1f0', '../HiddenTroubleManage/HTBaseInfo/Index', '隐患台账')" style="color: #75b9e6; font-size: 14px; float: right; font-weight: normal; margin-right: 10px;">更多>></a>
                        </h3>
                        <p style="height: 10px;"></p>
                        <div id="chart0"><img src="~/content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</div>
                        <div id="chart1" style="display:none"><img src="~/content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</div>
                    </li>
                </ul>
            </div>
            <div class="main4">
                <div class="row row_box">
                    <div class="col-md-12">
                        <div class="box_bg">
                            <div class="bs-head"><h3>隐患曝光台<a onclick="openTab('67fdd0b7-6629-48dc-a70f-3eb7ba2df1f0', '../HiddenTroubleManage/HTBaseInfo/Index?mode=1', '隐患台账')" style="cursor:pointer" ">更多&gt;&gt;</a> </h3></div>
                            <div class="box_3 swiper-container4">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper" id="ht">
                                        <center style="margin-top:10px;"><img src="../content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</center>
                                    </div>
                                </div>
                                <!-- Add Pagination -->
                                <div class="swiper-button-prev"></div><!--左箭头-->
                                <div class="swiper-button-next"></div><!--右箭头-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main5">
                <div class="row row_box">
                    <div class="col-md-12">
                        <div class="bs-head"><h3>隐患类别统计</h3></div>
                        <div id="chart2" style="width:50%; height:500px; float:left;"><img src="~/content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</div>
                        <div id="chart3" style="width: 50%; height: 500px; float: left; "><img src="~/content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/content/scripts/plugins/nicescroll/nicescroll.min.js"></script>
    <script src="~/content/scripts/plugins/swiper/js/swiper.min.js"></script>
    <script src="~/content/scripts/plugins/layui/layui.all.js"></script>
    <script src="~/content/scripts/plugins/echarts/echarts.min.js"></script>
    <script src="~/content/scripts/desktop/layout-common.js"></script>
    <script type="text/javascript">
        if (mapUrl.length == 0) {
            $("#imgMap").show();
            $("#frmMap").remove();
        } else {

            $("#frmMap").attr("src", mapUrl);
            $("#frmMap").show();
            $("#imgMap").hide();
        }
        var mode = 0;
        var roleNames = "@ERCHTMS.Code.OperatorProvider.Provider.Current().RoleName";
        //初始化操作
        $(function () {
            top.window.$("#items").hide();
            //实时监控数据
            getStatData();
            //待办事项
            getWork();
            //默认按照排查单位进行统计
            HidDiscovery(0);
            //隐患发现排行榜切换
            $("#chooseHidType").change(function () {
                var selVal = $("select[name='chooseHidType']").val(); //选择
                if (selVal == "0") {
                    $("#chart0").css("display", "");
                    $("#chart1").css("display", "none");
                }
                else {
                    $("#chart0").css("display", "none");
                    $("#chart1").css("display", "");
                }
                HidDiscovery(selVal);
            });
            //隐患曝光
            getHt();
            //隐患类别统计
            getHidTypeData();
            //隐患趋势变化图
            getHidTrendData();
        });

        //实时监控数据
        function getStatData() {
            $.post("../Desktop/GetStatData", function (data) {
                var json = eval("(" + data + ")");
                var arr = eval(json.resultdata);
                //安全检查总数
                $("#aqjcSpan").html(arr[9]);
                //日常安全检查总数
                $("#rcjcSpan").html(arr[18]);
                //检查发现隐患
                $("#jcyhSpan").html(arr[10]);
                //隐患总数
                $("#yhSpan").html(arr[0]);
                //重大隐患
                $("#zdSpan").html(arr[1]);
                //未整改隐患
                $("#wzgSpan").html(arr[3]);
                //逾期未整改隐患
                $("#yqwzgSpan").html(arr[15]);
                //隐患整改率
                $("#zglSpan").html(arr[16]);
            });
        }

        //待办事项
        function getWork() {
            var urls = new Array("", "../HiddenTroubleManage/HTPerfection/Index", "../HiddenTroubleManage/HTApproval/Index", "../HiddenTroubleManage/HTChangeInfo/Index",
                    "../HiddenTroubleManage/HTExtension/Index", "../HiddenTroubleManage/HTAcceptInfo/Index", "../HiddenTroubleManage/HTReCheck/Index", "../HiddenTroubleManage/HTEstimate/Index");
            var ids = new Array("", "239a0b2a-598b-480a-b353-091466257aa9", "18e2a7d1-73f6-484c-b2c7-c77f88f0f3e1", "98210480-3531-4441-a913-2ccb93e2f605",
                    "2a9d84a3-01b3-4faa-b8d8-0a601355ceab", "8463a55b-cc36-439a-bcab-f8fb993c0190", "", "f87023f5-c1ca-4d8d-a57b-0354f052a02e","");
            var titles = new Array("", "隐患完善", "隐患评估", "隐患整改", "延期审(核)批", "隐患验收","","整改效果评估","");
            $.post("../Home/GetWorkList", { mode: mode }, function (data) {
                var arr = eval(data);
                $(arr).each(function (i, item) {
                    if (item == 0) {
                        $("#work").find("label").eq(i).html(item);
                    } else {
                        if (i != 0) {
                            $("#work").find("label").eq(i).html("<a href=javascript:openTab('" + ids[i] + "','" + urls[i] + "?mode=" + mode + "','" + titles[i] + "') class='stat_number' title='点击查看详情'>" + item + "</a>");
                        }
                        else {
                            var itemcheck = new Array();
                            itemcheck = item.split(',');
                            $("#work").find("label").eq(i).html("<a href='#' class='stat_number' title='点击查看详情'>" + itemcheck[0] + "</a>");
                            $("#work").find("label").eq(i).attr("onclick", "showBigTrb('" + itemcheck[1] + "','" + itemcheck[2] + "','" + itemcheck[3] + "','" + itemcheck[4] + "','" + itemcheck[5] + "')");

                        }
                    }
                });
            });
        }

        //隐患发现排行榜
        function HidDiscovery(htype) {
            $.post("../HiddenTroubleManage/HTBaseInfo/GetHomePageHiddenByHidType", { qtype: htype, topnum: 15 }, function (data) {
                var obj = eval("(" + data + ")");
                LoadHtChart(obj);
            });
        }

        //隐患发现排行榜
        function LoadHtChart(obj) {
            var dataArray = new Array();
            var yaxisArray = new Array();
            var codeArray = new Array();
            for (var i = 0; i < obj.length; i++) {
                dataArray.push(obj[i].numbers);  //数量
                yaxisArray.push(obj[i].fullname);//部门
                codeArray.push(obj[i].encode);//部门编码
            }
            var htOption = {
                title: {
                    text: '',
                    subtext: ''
                },
                tooltip: {
                    trigger: 'item',
                    formatter: function (tipData) {
                        var curIndex = tipData.dataIndex;
                        var detailData = obj[curIndex].detail;
                        var content = obj[curIndex].fullname + "隐患数量:" + obj[curIndex].numbers + "</br>";
                        for (var i = 0; i < detailData.length; i++) {
                            content += "&nbsp;&nbsp;&nbsp;&nbsp;" + detailData[i].fullname + "隐患数量:" + detailData[i].numbers + "</br>";
                        }
                        return '<span style="display:inline-block;margin-right:5px;border-radius:10px;width:9px;height:9px;background-color:' + tipData.color + '"></span>' + content + '</br>';
                    }
                },
                legend: {
                    orient: 'vertical',
                    x: 'center',
                    y: 'top',
                    data: ['隐患数量'],
                    textStyle: {
                        fontSize: 12,
                        color: 'white'
                    },
                },
                xAxis: [
                    {
                        type: 'value',
                        boundaryGap: [0, 0.01],
                        axisLabel: {
                            textStyle: {
                                color: 'white'
                            }
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'category',
                        data: yaxisArray,
                        axisLabel: {
                            textStyle: {
                                color: 'white'
                            }
                        }
                    }
                ],
                series: [
                    {
                        name: '隐患数量',
                        type: 'bar',
                        data: dataArray,
                        itemStyle: {
                            normal: {
                                color: function (params) {
                                    var colorList = [
                                      '#66FF66', '#7AC1FF', '#F15A24', '#FAFAD2', '#33FFFF',
                                       '#86D04F', '#CC99FE', '#BEBBD8', '#FFFFFF', '#FFFF66'
                                    ];
                                    return colorList[params.dataIndex]
                                },
                                label: {
                                    show: true,
                                    position: 'right',
                                    formatter: '{b}\n{c}'
                                }
                            }
                        }
                    }
                ]
            };

            var selVal = $("select[name='chooseHidType']").val(); //选择

            var title = "";
            var mode = "";
            var hidObj;
            //排查单位
            if (selVal == "0") {
                title = "隐患发现排行榜";
                mode = "yhfxphb";
                //隐患发现/整改排行榜专用
                hidObj = document.getElementById('chart0');
            }
            else //整改单位
            {
                title = "隐患整改排行榜";
                mode = "yhzgphb";
                //隐患发现/整改排行榜专用
                hidObj = document.getElementById('chart1');
            }
            var chartObj = echarts.init(hidObj)
            chartObj.setOption(htOption);
            chartObj.on('click', function (params) {
                var index = params.dataIndex; //索引
                var qdeptcode = codeArray[index];
                //隐患台账
                top.tablist.newTab({ id: '67fdd0b7-6629-48dc-a70f-3eb7ba2df1f0', url: '../HiddenTroubleManage/HTBaseInfo/Index?mode=' + mode + '&qdeptcode=' + qdeptcode, title: title });
            });
        }

        //查看安全检查记录
        function showBigTrb(val1, val2, val3, val4, val5) {
            var title = "安全检查";
            var url = '../SaftyCheck/SaftyCheckDataRecord/check?rcnum=' + val1 + "&zxnum=" + val2 + "&jjrnum=" + val3 + "&jjnum=" + val4 + "&zhnum=" + val5 + "&mode=" + mode;
            openTab("3e3772fb-e1c2-42c9-9f98-fb0477158845", url, "待办安全检查");
        }

        //隐患曝光
        function getHt() {
            $.post("../HiddenTroubleManage/HTStatistics/QueryExposureHid", { num: 20 }, function (data) {
                var obj = eval("(" + data + ")");
                var html = "";
                if (null != obj && obj.length > 0) {
                    for (var i = 0; i < obj.length; i++) {
                        var tempValue = obj[i].hiddescribe.length > 12 ? obj[i].hiddescribe.substring(0, 10) : obj[i].hiddescribe;
                        var url = obj[i].filepath != null ? obj[i].filepath.replace("~", "..") : "#";
                        html += "<div class=\"col-md-2\" style=\"text-align:center;\"><a onclick=viewdata('" + obj[i].id + "','" + obj[i].addtype + "','" + obj[i].workstream + "') class='stat_number' title='点击查看详情' style='cursor:pointer;'><img src=\"" + url + "\" style=\"width:200px; height:150px;\" /><br /> " + tempValue + "</div>"
                    }
                    $("#ht").html(html);
                    new Swiper('.swiper-container4 .swiper-container', {
                        slidesPerView: 6,
                        slidesPerGroup: 6,
                        speed: 1000,
                        spaceBetween: 65,
                        //freeMode: true,
                        allowTouchMove: false,
                        navigation: {
                            nextEl: '.swiper-container4 .swiper-button-next',
                            prevEl: '.swiper-container4 .swiper-button-prev',
                        }
                    });
                } else {
                    $("#ht").html("暂无数据显示");
                }
            });
        }

        //查看隐患详情
        function viewdata(obj, atype, workstream) {
            var rqUrl = "";
            var title = "查看隐患";

            //未整改隐患的查看页面
            if (workstream == "隐患登记") {
                if (atype == "0") {
                    rqUrl = '/HiddenTroubleManage/HTBaseInfo/Form?keyValue=' + obj + '&actiontype=view';
                }
                else if (atype == "2") {
                    rqUrl = '/HiddenTroubleManage/HTBaseInfo/CForm?keyValue=' + obj + '&actiontype=view';
                }
                else  //已整改的查看页面
                {
                    title = "已整改隐患查看";
                    rqUrl = '/HiddenTroubleManage/HTBaseInfo/NewForm?keyValue=' + obj + '&actiontype=view';
                }
            }
            else if (workstream == "隐患完善") {
                rqUrl = '/HiddenTroubleManage/HTPerfection/Form?keyValue=' + obj + '&actiontype=view';
            }
            else if (workstream == "隐患评估") {
                rqUrl = '/HiddenTroubleManage/HTApproval/Form?keyValue=' + obj + '&actiontype=view';
            }
            else if (workstream == "隐患整改") {
                rqUrl = '/HiddenTroubleManage/HTChangeInfo/Form?keyValue=' + obj + '&actiontype=view';
            }
            else if (workstream == "隐患验收") {
                rqUrl = '/HiddenTroubleManage/HTAcceptInfo/Form?keyValue=' + obj + '&actiontype=view';
            }
            else if (workstream == "复查验证") {
                rqUrl = '/HiddenTroubleManage/HTReCheck/Form?keyValue=' + obj + '&actiontype=view';
            }
            else if (workstream == "整改效果评估") {
                rqUrl = '/HiddenTroubleManage/HTEstimate/Form?keyValue=' + obj + '&actiontype=view';
            }
            else if (workstream == "整改结束") {
                rqUrl = '/HiddenTroubleManage/HTBaseInfo/DoneForm?keyValue=' + obj + '&actiontype=view';
            }

            dialogOpen({
                id: 'HidForm',
                title: title,
                url: rqUrl,
                width: ($(top.window).width() - 100) + "px",
                height: ($(top.window).height() - 100) + "px",
                btn: null
            });
        }

        //查看隐患
        function showHT(id) {
            var dlg = dialogOpen({
                id: "Form",
                title: '查看隐患详情',
                url: '/HiddenTroubleManage/HTEstimate/Form?keyValue=' + id + '&actiontype=view',
                width: ($(top.window).width() - 200) + "px",
                height: ($(top.window).height() - 150) + "px",
                btn: ["关闭"],
                callBack: function (iframeId) {
                    top.layer.close(dlg);
                }
            });
        }

        //隐患类别统计
        function getHidTypeData() {
            $.post("../Desktop/GetHtTypeChart", function (data) {
                var json = eval("(" + data + ")");
                var data2 = json.resultdata;
                var dataArray = new Array();
                for (var i = 0; i < data2.length; i++) {
                    dataArray.push(data2[i].name);
                }
                var options = {
                    title: {
                        x: 'center'
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    legend: {
                        orient: 'vertical',
                        x: 'right',
                        y: 'bottom',
                        data: dataArray,
                        textStyle: {
                            fontSize: 12,
                            color: ['#66FF00', '#00BFFF', '#DEB887', '#FFFFFF', '#FFFF00', '#FF69B4', '#F5F5DC', '#EE82EE', '#DC143C', '#66FFFF']
                        },
                    },
                    calculable: true,
                    series: [
                        {
                            name: '隐患数量',
                            type: 'pie',
                            radius: '55%',
                            center: ['50%', '50%'],
                            data: data2,
                            itemStyle: {
                                emphasis: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            },
                            hoverAnimation: true,
                            label: {
                                normal: {
                                    show: true,
                                    formatter: '{b}:{c}个',
                                }
                            },
                            labelLine: {
                                normal: {
                                    show: true,
                                    length: 15,
                                    length2: 10,
                                }
                            }
                        },
                    ],
                    color: ['#66FF00', '#00BFFF', '#DEB887', '#FFFFFF', '#FFFF00', '#FF69B4', '#F5F5DC', '#EE82EE', '#DC143C', '#66FFFF']
                };
                var objId = document.getElementById('chart2');
                LoadChart(objId, options);
            });
        }

        //隐患趋势变化图
        function getHidTrendData() {
            $.post("../Desktop/GetTendencyChart", function (data) {
                var json = eval("(" + data + ")");
                json = JSON.parse(json.resultdata);
                var jData = [
                    json.yYH,
                    json.yJC
                ]
                var options = {
                    legend: {
                        selectedMode: true,
                        bottom: 0,
                        textStyle: {
                            fontSize: 12,
                            color: 'white'
                        },
                        data: ['隐患数量', '安全检查数量'],

                    },
                    tooltip: {
                        trigger: 'axis'
                    },
                    xAxis: [{
                        type: 'category',
                        data: json.xValues,
                        axisLine: {
                            lineStyle: {
                                color: '#cccccc'
                            }
                        }
                    }],
                    yAxis: [{
                        type: 'value',
                        min: 0,
                        minInterval: 1,
                        axisLabel: {
                            formatter: '{value}',
                            textStyle: {
                                color: 'white'
                            }
                        },
                        axisLine: {
                            lineStyle: {
                                color: 'white'
                            }
                        }
                    }
                    ],
                    series: [

            {
                name: '隐患数量',
                type: 'line',
                barWidth: '10%',
                data: jData[0],
                symbol: 'arrow',
                symbolSize: 6,
                color: '#c0504d',
                itemStyle: {
                    normal: {
                        label: {
                            show: true
                        }
                    },
                },
                lineStyle: {
                    color: '#c0504d',
                }
            },
            {
                name: '安全检查数量',
                type: 'line',
                symbol: 'star' + 3,
                symbolSize: 6,
                barWidth: '10%',
                color: '#9bbb59',
                data: jData[1],

                itemStyle: {
                    normal: {
                        label: {
                            show: true
                        }
                    },
                },
                lineStyle: {
                    color: '#9bbb59'
                }
            }]
                };
                var objId = document.getElementById('chart3');
                LoadChart(objId, options);
            });
        }

        //通用的图表事件内容
        function LoadChart(obj, option) {
            var chartObj = echarts.init(obj)
            chartObj.setOption(option);

            chartObj.on('click', function (params) {
                //隐患类别统计
                if (obj.id == "chart2") {
                    if (params.value > 0) {
                        var tId = "";
                        switch (params.name) {
                            case "人身安全隐患":
                                tId = "2efd52b1-a424-4f12-84b8-f0227a147e61";
                                break;
                            case "电力安全事故隐患":
                                tId = "1c27460a-c325-4e1e-b9f3-45730766f161";
                                break;
                            case "设备设施事故隐患":
                                tId = "9dac546e-1a55-4f85-8a64-219ba783cc78";
                                break;
                            case "大坝安全隐患":
                                tId = "6202bb56-5974-4d90-ae75-08a66342ea5b";
                                break;
                            case "安全管理隐患":
                                tId = "de1e5961-3e51-49f4-8668-4fdabffc15c7";
                                break;
                            case "其他事故隐患":
                                tId = "cf0df7fd-9fbf-4545-843c-846efbf3d45b";
                                break;
                        }
                        //隐患
                        top.tablist.newTab({ id: '67fdd0b7-6629-48dc-a70f-3eb7ba2df1f0', url: '../HiddenTroubleManage/HTBaseInfo/Index?mode=pType&bmmark=1&hType=' + tId, title: params.name });
                    }
                }
                else if (obj.id == "chart3") {
                    var seriesname = params.seriesName; //隐患级别名称
                    var qyearmonth = params.name; //月份
                    //隐患列表
                    if (seriesname == "隐患数量") {
                        //隐患数量
                        top.tablist.newTab({ id: '67fdd0b7-6629-48dc-a70f-3eb7ba2df1f0', url: '../HiddenTroubleManage/HTBaseInfo/Index?mode=tendencyht&qyearmonth=' + qyearmonth, title: params.name + seriesname });
                    }
                    else  //安全检查列表
                    {
                        top.tablist.newTab({ id: '3e3772fb-e1c2-42c9-9f98-fb0477158845', url: '../SaftyCheck/SaftyCheckDataRecord/IndexView?pfrom=2&curym=' + qyearmonth, title: params.name + seriesname });
                    }
                }
            });
        }
    </script>
</body>
</html>