<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>华电新疆发电有限公司业务检查监督平台</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <link href="~/Content/styles/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/scripts/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/content/scripts/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/content/scripts/plugins/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="~/content/scripts/plugins/layui/css/layui.css">
    <link rel="stylesheet" href="~/content/styles/desktop/layout1.css">
    <link rel="stylesheet" href="~/content/styles/desktop/index10.css">
    <link rel="stylesheet" href="~/content/styles/desktop/index11.css">
    <script src="~/content/scripts/jquery/jquery-1.8.2.min.js"></script>
    <script src="~/Content/scripts/business/common.js"></script>
    <script src="~/content/scripts/plugins/nicescroll/nicescroll.min.js"></script>
    <script src="~/content/scripts/plugins/swiper/js/swiper.min.js"></script>
    <script src="~/content/scripts/plugins/layui/layui.all.js"></script>
    <script src="~/content/scripts/plugins/echarts/echarts.min.js"></script>
    <script src="~/content/scripts/desktop/layout-common.js"></script>
    @*<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=您的密钥"></script>*@
</head>

<body class="full">
    <div class="bs-warp bs-warp2">
        <div class="bs-main" style="padding:0 20px 30px">
            <div class="main1">
                <h3>实时监控</h3>
                <ul class="row row_box" id="ssjk">
                    <img src="~/content/images/loading1.gif" border="0" />&nbsp;正在加载数据……
                </ul>
            </div>
            <div class="main2">
                <h3>安全生产预警指标</h3>
                <ul>
                    <li style="width: 30%;" id="main2-1" onclick="openPage('安全生产预警详情', '/Home/SafetyWarn')">
                        <center style="margin-top:10px;"><img src="~/content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</center>
                    </li>
                    <li style="width: 70%;" id="main2-2">
                        <center style="margin-top:10px;"><img src="~/content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</center>
                    </li>
                </ul>
            </div>
            <div class="box-4 main3">
                <ul>
                    <li style="width: 60%;">
                        <h3>电厂分布</h3>
                        <div style="height: 781px;" id="main3-1">
                            <img src="~/Content/index/images/map_img.png" style="width:90%;" id="imgMap">
                        </div>
                    </li>
                    <li style="width: 40%;">
                        <h3>电厂隐患</h3>
                        <select style="width:200px;" onchange="setRank(this)" id="htRank">
                            <option value="0" selected="selected">总数排名</option>
                            <option value="1">整改率排名</option>
                            <option value="2">未闭环数量排名</option>
                        </select>
                        <p style="height: 36px;"></p>
                        <div id="main3-2">
                            <img src="~/content/images/loading1.gif" border="0" />&nbsp;正在加载数据……
                        </div>
                    </li>
                </ul>
            </div>
            <div class="box-4 main5">
                <ul>
                    <li>
                        <h3>隐患类别统计</h3>
                        <div id="main4" style="height: 500px;">
                            <center style="margin-top:30px;"><img src="~/content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</center>
                        </div>
                        <p></p>
                    </li>
                    <li>
                        <h3>月度安全指标</h3>
                        <select style="width:200px;" onchange="GetRatioDataOfMonth(this)" id="month"></select>
                        <div class="table-container" style="height: 525px;" id="main5">
                            <table border="1" style="border-collapse: collapse;" cellpadding="0" cellspacing="0" bordercolor="#172b48">
                                <thead>
                                    <tr>
                                        <th>电厂名称</th>
                                        <th>月度安全检查次数</th>
                                        <th>月度发现隐患数量</th>
                                        <th>重大隐患</th>
                                        <th>未闭环隐患</th>
                                        <th>逾期未整改隐患</th>
                                        <th>隐患整改率</th>
                                    </tr>
                                </thead>
                                <tbody id="tabMonth"></tbody>
                            </table>
                            <div style="margin-top:50px; padding-left:50px;">
                                <img src="~/content/images/loading1.gif" border="0" />&nbsp;正在加载数据……
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function changeUser(deptCode) {
            $.ajax({
                url: "../Login/ChangeUser",
                data: { deptCode: deptCode, roleCode: "100102" },
                type: "get",
                dataType: "text",
                success: function (data) {
                    top.Loading(false);
                    var json = eval("(" + data + ")");
                    if (json.type == 1) {
                        top.window.location.href = top.window.location.href + "?args=" + json.resultdata;
                    } else {
                        top.dialogMsg("当前电厂下面还没有符合条件的用户！", 2);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    top.Loading(false);

                },
                beforeSend: function () {
                    top.Loading(true, "正在切换……");
                },
                complete: function () {
                    top.Loading(false);
                }
            });

        }

    </script>
    <script type="text/javascript">
        function openTab(obj, item) {
            if ($(obj).find("dd").text() != "0") {
                top.tablist.newTab(item);
            }
        }
        //查看电厂隐患整改情况
        function showDlg(mode) {
            top.dlgIndex = top.dialogOpen({
                id: "warn",
                title: "电厂隐患整改情况",
                url: "/home/FactoryHtInfo?mode="+mode,
                width: "900px",
                height: "600px",
                btns: 1,
                btn: ["关闭"],
                callBack: function (iframeId) {
                    top.layer.close(top.dlgIndex);
                }
            });
        }
        //实时监控
        function getData() {
            $.get("../Desktop/GetDeptStatData", { itemType: "SSJK" }, function (data) {
                if (data.length>2) {
                    var json = eval("(" + data + ")");
                    var html = "";
                    $(json.resultdata).each(function (i, item) {
                        html += item.itemstyle;
                    });
                   
                    $("#ssjk").html(html);
                }
            });
        }
        $(function () {
            getData();
            $('.table-container').niceScroll({
                autohidemode: false
            })
            $('.bs-main').niceScroll({
                autohidemode: false
            });
            $('.bs-nav').niceScroll({
                autohidemode: "cursor",
                cursoropacitymax: 0
            });

            $('.nav_list li').on('click', function () {
                var index = $(this).index();
                $(this).attr('class', 'select').siblings().removeAttr('class', 'select');
            })
            //initMap();
            GetMonths();
            GetRatioDataOfMonth(document.getElementById("month"));
        })
        layui.use('laypage', function () {
            var laypage = layui.laypage;
            laypage.render({
                elem: 'page',
                count: 50,
                prev: '<em>&lt;</em>',
                next: '<em>&gt;</em>',
                layout: ['limit', 'prev', 'page', 'next'],
                limits: [10, 20, 50],
                theme: '#75b9e6'
            });
        });
        function openPage(title, url) {
            var idx = top.dialogOpen({
                id: "warn",
                title: title,
                url: url,
                width: ($(top.window).width() - 200) + "px",
                height: ($(top.window).height() - 200) + "px",
                btns: 1,
                btn: ["关闭"],
                callBack: function (iframeId) {
                    top.layer.close(idx);
                }
            });
        }
        // 百度地图API功能
        //var map = new BMap.Map("main3-1");
        //map.centerAndZoom(new BMap.Point(117.269945, 31.86713), 13);
        //map.enableScrollWheelZoom(true);
        ////var index = 0;
        //var myGeo = new BMap.Geocoder();
        var arrMap = {};

        var opts = {
            width: 250,     // 信息窗口宽度
            height: 80,     // 信息窗口高度
            title: "信息窗口", // 信息窗口标题
            enableMessage: true//设置允许信息窗发送短息
        };
        //function geocodeSearch(add, index) {
        //    if (index < arrMap.length) {
        //        setTimeout(window.bdGEO, 400);
        //    }
        //    myGeo.getPoint(add, function (point) {
        //        if (point) {
        //            var addr = new BMap.Point(point.lng, point.lat);
        //            addMarker(addr, arrMap[index]);
        //        }
        //    }, "");
        //}
        //// 编写自定义函数,创建标注
        //function addMarker(point, content) {
        //    //var pt = new BMap.Point(116.417, 39.909);
        //    var myIcon = new BMap.Icon("http://lbsyun.baidu.com/jsdemo/img/fox.gif", new BMap.Size(300, 157));
        //    var marker = new BMap.Marker(pt, { icon: myIcon });  // 创建标注
        //    //var marker = new BMap.Marker(point);
        //    map.addOverlay(marker);
        //    addClickHandler(content, marker);
        //}
        //function addClickHandler(content, marker) {
        //    marker.addEventListener("click", function (e) {
        //        openInfo(content, e)
        //    }
        //    );
        //}
        //function openInfo(content, e) {
        //    var p = e.target;
        //    var point = new BMap.Point(p.getPosition().lng, p.getPosition().lat);
        //    var html = "<p>安全状态及得分：" + content.level + "," + content.score + "</p>";
        //    html += "<p>负责人：" + content.man + "</p>";
        //    html += "<p>电厂：<a onclick=\"changeUser('" + content.encode + "')\" title='查看该厂详细数据'>" + content.name + "</a></p>";
        //    html += "<p>地址：" + content.address + "</p>";
        //    var infoWindow = new BMap.InfoWindow(html, opts);  // 创建信息窗口对象 
        //    map.openInfoWindow(infoWindow, point); //开启信息窗口
        //}
        //function initMap() {
        //    $.get("../Desktop/GetFactoryInfo", function (data) {
        //        var json = eval("(" + data + ")");
        //        arrMap = json.resultdata;
        //        $(arrMap).each(function (j, item) {
        //            var addr = item.address;
        //            geocodeSearch(addr,j);
        //        });
        //    });
        //}
        //初始化最近一年的时间
        function GetMonths() {
            var html = "";
            var mon = new Date().getMonth();
            for (var j = 1; j <= 12; j++) {
                var now = new Date();
                var date = new Date(now.setMonth(mon - j));
                var year = date.getFullYear();
                var month = date.getMonth() + 1;
                var mon1 = 0;
                if (month + 1 > 12) {
                    mon1 = month - 11;
                    year += 1;
                } else {
                    mon1 = month + 1;
                }
              
                var time = year + "-" + mon1;
                var time1 = new Date(time + "-1");
                date = new Date(time1.setMonth(time1.getMonth()));
                time1 = date.getMonth() + 1;
                if (time1 < 10) {
                    time1 = "0" + time1;
                }
                time = date.getFullYear() + "-" + time1;
                html += "<option value='" + time + "'>" + time + "</option>";
            }
            $("#month").html(html);
        }
        function setStyle(num) {
            var html = "";
            if (num>0) {
                html += "&nbsp;&nbsp;<img src='../content/images/t_06.png'>&nbsp;" + Math.abs(num) ;
            }
            else if (num<0) {
                html += "&nbsp;&nbsp;<img src='../content/images/t_11.png'>&nbsp;" + Math.abs(num);
            }
            else {
                html += "&nbsp;&nbsp;" + Math.abs(num);
            }
            return html;
        }
        function setUrl(num, i) {
            var urls = new Array("../SaftyCheck/SaftyCheckDataRecord/IndexView?pfrom=1&ctype=", "../HiddenTroubleManage/HTBaseInfo/Index?mode=tendencyht&pType=1", "../HiddenTroubleManage/HTBaseInfo/Index?mode=tendencyht&HtLevel=1", "../HiddenTroubleManage/HTBaseInfo/Index?mode=tendencyht&ChangeStatus=未整改结束", "../HiddenTroubleManage/HTBaseInfo/Index?mode=tendencyht&ChangeStatus=逾期未整改", "../HiddenTroubleManage/HTBaseInfo/Index?mode=qbyh");
            var titles = new Array("安全检查", "发现隐患", "重大隐患", "未闭环隐患", "逾期未整改隐患", "隐患信息");
            var html = num+"";
            if (num>0) {
               html = "<a style='text-decoration:underline;cursor:pointer;color:white;' onclick=\"top.tablist.newTab({ id: '67fdd0b7-6629-48dc-a70f-3eb7ba2df1f0', url: '" + urls[i] + '&qyearmonth=' + $("#month").val()+"', title: '" + titles[i] + "' }) \" style='color:white;cursor:pointer'>" + num + "</a>";
            }  
            return html;
        }
        //月度安全指标
        function GetRatioDataOfMonth(obj) {
            $("#tabMonth").html("");
            $("#main5").find("div").show();
          
            var time = $(obj).val();
            $.post("../Desktop/GetRatioDataOfMonth", { time: time }, function (data) {
                var json = eval("(" + data + ")");
                var html = "";
                var urls = new Array("../SaftyCheck/SaftyCheckDataRecord/IndexView?pfrom=1&ctype=", "../HiddenTroubleManage/HTBaseInfo/Index?mode=tendencyht&pType=1", "../HiddenTroubleManage/HTBaseInfo/Index?mode=tendencyht&HtLevel=1", "../HiddenTroubleManage/HTBaseInfo/Index?mode=tendencyht&ChangeStatus=未整改结束", "../HiddenTroubleManage/HTBaseInfo/Index?mode=tendencyht&ChangeStatus=逾期未整改", "../HiddenTroubleManage/HTBaseInfo/Index?mode=qbyh");
                var titles = new Array("安全检查", "发现隐患", "重大隐患", "未闭环隐患", "逾期未整改隐患", "隐患信息");
                var num1 = 0; var num2 = 0; var num3 = 0; var num4 = 0; var num5 = 0; var num6 = 0;
                var num7 = 0; var num8 = 0; var num9 = 0; var num10 = 0; var num11 = 0; var num12 = 0;
                $(json.resultdata).each(function (i, item) {
                    num1 += parseFloat(item[1]); num2 += parseFloat(item[2]); num3 += parseFloat(item[3]); num4 += parseFloat(item[4]);
                    num5+= parseFloat(item[5]); num6+= parseFloat(item[6]); num7+= parseFloat(item[7]); num8 += parseFloat(item[8]);
                    num9 += parseFloat(item[9]); num10 += parseFloat(item[10]); num11 += parseFloat(item[11]); num12 += parseFloat(item[12]);
                    html += "<tr class='grrow'><td>" + item[0] + "</td>";
                    var i = 0;
                    for (var j = 1; j < 13; j += 2) {
                      
                        if (item[j + 1] > 0) {
                            html += "<td title='与上月对比上升值："+item[j + 1]+"'>";  
                            if (item[j] > 0) {
                                html += "<a style='text-decoration:underline;cursor:pointer;color:white;' onclick=\"top.tablist.newTab({ id: '67fdd0b7-6629-48dc-a70f-3eb7ba2df1f0', url: '" + urls[i] + '&qyearmonth=' + $("#month").val() + "&qdeptcode=" + item[15] + "&HidDepart=" + item[16] + "', title: '" + titles[i] + "' }) \" style='color:white;cursor:pointer'>" + item[j] + "</a>";
                            }
                            else {
                                html += item[j];
                            }
                            html += "&nbsp;&nbsp;<img src='../content/images/t_06.png'>&nbsp;" + item[j + 1] + "</td>";
                        }
                        else if (item[j + 1] < 0) {
                            html += "<td title='与上月对比下降值："+Math.abs(item[j + 1])+"'>";
                            if (item[j] > 0) {
                                html += "<a style='text-decoration:underline;cursor:pointer;color:white;' onclick=\"top.tablist.newTab({ id: '67fdd0b7-6629-48dc-a70f-3eb7ba2df1f0', url: '" + urls[i] + '&qyearmonth=' + $("#month").val() + "&qdeptcode=" + item[15] + "&HidDepart=" + item[16] + "', title: '" + titles[i] + "' }) \" style='color:white;cursor:pointer'>" + item[j] + "</a>";
                            }
                            else {
                                html += item[j];
                            }
                            html += "&nbsp;&nbsp;<img src='../content/images/t_11.png'>&nbsp;" + Math.abs(item[j + 1]) + "</td>";

                        } else {
                            html += "<td>";
                            if (item[j] > 0) {
                                html += "<a style='text-decoration:underline;cursor:pointer;color:white;' onclick=\"top.tablist.newTab({ id: '67fdd0b7-6629-48dc-a70f-3eb7ba2df1f0', url: '" + urls[i] + '&qyearmonth=' + $("#month").val() + "&qdeptcode=" + item[15] + "&HidDepart=" + item[16] + "', title: '" + titles[i] + "' }) \" style='color:white;cursor:pointer'>" + item[j] + "</a>";
                            }
                            else {
                                html += item[j];
                            }
                            html += "&nbsp;&nbsp;" + Math.abs(item[j + 1]) + "</td>";
                        }
                        i++;
                    }
                    html += "</tr>";
                });
                $("#main5").find("div").hide();
                html += '<tr class="grrow"><td>合计</td><td>' + setUrl(num1, 0) + setStyle(num2) + '</td><td>' + setUrl(num3, 1) + '&nbsp;&nbsp;' + setStyle(num4) + '</td><td>' + setUrl(num5, 2) + '&nbsp;&nbsp;' + setStyle(num6) + '</td><td>' + setUrl(num7, 3) + '&nbsp;&nbsp;' + setStyle(num8) + '</td><td>' + setUrl(num9, 4) + '&nbsp;&nbsp;' + setStyle(num10) + '</td><td>' + setUrl(num11,5) + '&nbsp;&nbsp;' + setStyle(num12) + '</td></tr>';
                $("#tabMonth").html(html);
            });
        }
        var arrRisk;
        //电厂隐患排名
        function setRank(obj) {
            var obj6 = document.getElementById('main3-2')
            var data6 = [];
            var data6text = [];
            var dataTop = [];
            $(obj6).html('<img src="../content/images/loading1.gif" border="0" />&nbsp;正在加载数据……');
            $.post("../Desktop/GetRatioDataOfFactory", { mode: $(obj).val() }, function (data) {
                var json = JSON.parse(data);
                if (json.resultdata.length == 0) {
                    $(obj6).html("暂无数据显示");
                } else {
                    arrRisk = json.resultdata;
                    for (var i = arrRisk.length - 1; i >= 0; i--) {
                        data6.push(arrRisk[i].total);
                        data6text.push(arrRisk[i].deptname);
                        dataTop.push('Top' + (i + 1) + "：" + arrRisk[i].deptname);
                    }
                    var option6 = {
                        tooltip: {
                            trigger: 'axis'

                        },
                        grid: {
                            x: 240,
                            y: 45,
                            x2: 0,
                            y2: 20
                        },
                        xAxis: [{
                            type: '',
                            boundaryGap: [0, 0.01],
                            splitLine: {
                                show: false
                            },
                            axisLabel: {
                                formatter: '{value}',
                                textStyle: {
                                    color: '#0b203e'
                                }
                            },
                            axisLine: {
                                lineStyle: {
                                    color: '#0b203e'
                                }
                            }
                        }],
                        yAxis: [{
                            type: 'category',
                            data: dataTop,
                            splitLine: {
                                show: false
                            },
                            axisLabel: {
                                textStyle: {
                                    color: '#7e8085'
                                }
                            },

                            axisLine: {
                                lineStyle: {
                                    color: '#0b203e'
                                }
                            },
                        },
                        {
                            type: 'category',
                            splitLine: {
                                show: false
                            },
                            data: data6text,
                            axisLabel: {
                                textStyle: {
                                    color: '#7e8085'
                                }
                            },
                            axisLine: {
                                lineStyle: {
                                    color: '#0b203e'
                                }
                            }
                        }
                        ],
                        series: [

                            {
                                name: '',
                                type: 'bar',
                                barWidth: '50%',
                                data: data6,
                                itemStyle: {
                                    normal: {
                                        label: {
                                            show: true,
                                            position: 'insideRight',
                                        },

                                        color: '#12447c',
                                        barBorderColor: '#0f86ff'
                                    }
                                },
                                lineStyle: {
                                    color: '#9bbb59'
                                },
                                tooltip: {
                                    trigger: 'item',
                                    formatter: function (params) {
                                        //if (arrRisk[9 - params.dataIndex] != undefined) {
                                        //    var text = "风险排名：" + (10 - params.dataIndex) + "<br />";
                                        //    text += "风险值：" + arrRisk[9 - params.dataIndex].itemr + "<br />";
                                        //    text += "风险类别：" + arrRisk[9 - params.dataIndex].risktype + "<br />";
                                        //    text += "风险描述：" + arrRisk[9 - params.dataIndex].riskdesc + "<br />";
                                        //    return text;
                                        //}

                                    }
                                }

                            }
                        ]
                    };
                    count(obj6, option6);
                }

            });
        }
        var json;
        //实时监控数据统计
        //$.get("../Desktop/GetStatForXJ", function (data) {
        //    json = eval("(" + data + ")");
        //    $(json.resultdata).each(function (i, item) {
             
        //        if ($(".main1").find("dd").eq(i)!=undefined) {
        //             $(".main1").find("dd").eq(i).text(item);
        //        }
               
        //    });
        //});

        //隐患统计
        var obj1 = document.getElementById('main4')
        $.post("../Desktop/GetHtTypeChart", function (data) {
            var json = eval("(" + data + ")");
            var data2 = json.resultdata;
            var dataArray = new Array();
            for (var i = 0; i < data2.length; i++) {
                dataArray.push(data2[i].name);
            }
            var option1 = {
                title: {
                    x: 'center'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient: 'horizontal',
                    x: 'center',
                    y: 'bottom',
                    data: dataArray,
                    textStyle: {
                        fontSize: 10,
                        color: ['#66FF00', '#00BFFF', '#DEB887', '#FFFFFF', '#FFFF00', '#FF69B4', '#F5F5DC', '#EE82EE', '#DC143C', '#66FFFF']
                    },
                },
                calculable: true,
                series: [
                    {
                        name: '隐患数量',
                        type: 'pie',
                        radius: ['20%', '40%'],
                        hoverAnimation: true,
                        center: ['50%', '50%'],
                        data: data2,
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        },
                        hoverAnimation: true,
                        label: {
                            normal: {
                                show: true,
                                formatter: '{b}\n{c}个',
                            }
                        },
                        labelLine: {
                            normal: {
                                show: true,
                                length: 15,
                                length2: 10,
                            }
                        }
                    },
                ],
                color: ['#66FF00', '#00BFFF', '#DEB887', '#FFFFFF', '#FFFF00', '#FF69B4', '#F5F5DC', '#EE82EE', '#DC143C', '#66FFFF']
            };
            count(obj1, option1);
        });

        setRank(document.getElementById("htRank"));


        var obj4 = document.getElementById('main6-1');
        var obj5 = document.getElementById('main6-2');
        var obj7 = document.getElementById('main2-1');
        var obj8 = document.getElementById('main2-2');
        //预警指数统计
        $(obj7).width(($(window).width()) * 0.3);
        $(obj8).width(($(window).width()) * 0.7);
        //$.get("../home/GetWarnValue", {}, function (data) {
        $.get("../home/GetIndexWarnValue", {}, function (data) {
            json = eval("(" + data + ")");
            var score = 0;
            if (json.score == null || json.score == undefined) score = 0;
            else
                score = json.score;
            var option7 = {
                tooltip: {
                    formatter: "{a}<br/>{c}{b}分",
                    backgroundColor: 'rgba(255,255,255,0.8)',
                    textStyle: {
                        color: 'black',
                    }

                },

                legend: {
                    x: 'center',
                    bottom: '5%',
                    icon: 'rect',
                    data: ['危险', '较危险', '较安全', '安全'],
                    textStyle: {
                        color: '#cccccc',
                        fontWeight: 100,
                    },
                    color: ['#ff4157', '#f8df76', '#96e8f6', '#5ae6b6'],
                },
                toolbox: {
                    show: false,
                    feature: {
                        mark: { show: true },
                        restore: { show: true },
                        saveAsImage: { show: true }
                    },
                    extraCssText: 'width:160px;height:50px;background:#fff;'
                },

                xAxis: [   //这里有很多的show，必须都设置成不显示
                    {
                        type: 'category',
                        data: [],
                        axisLine: {
                            show: false
                        },
                        splitLine: {
                            show: false
                        },
                        splitArea: {
                            interval: 'auto',
                            show: false
                        }
                    }
                ],
                yAxis: [ //这里有很多的show，必须都设置成不显示
                    {
                        type: 'value',
                        axisLine: {
                            show: false
                        },
                        splitLine: {
                            show: false
                        },
                    }
                ],
                series: [
                    {
                        name: '危险',
                        type: 'bar',
                        itemStyle: {
                            normal: {
                                color: '#ff4157'
                            }
                        }
                    },
                    {
                        name: '较危险',
                        type: 'bar',
                        itemStyle: {
                            normal: {
                                color: '#f8df76'
                            }
                        }

                    },
                    {
                        name: '较安全',
                        type: 'bar',
                        itemStyle: {
                            normal: {
                                color: '#96e8f6'
                            }
                        }

                    },
                    {
                        name: '安全',
                        type: 'bar',
                        itemStyle: {
                            normal: {
                                color: '#5ae6b6'
                            }
                        }

                    },
                    {
                        name: '预警指数',
                        type: 'gauge',
                        center: ['50%', '60%'],    // 默认全局居中
                        radius: '90%',
                        startAngle: 180,
                        endAngle: 0,
                        axisLine: {
                            show: true,
                            lineStyle: {       // 属性lineStyle控制线条样式
                                width: 30,
                                color: [
                                    [0.6, '#ff4157'],
                                    [0.7, '#f8df76'],
                                    [0.9, '#96e8f6'],
                                    [1, '#5ae6b6']
                                ]
                            },

                        },
                        splitLine: {           // 分隔线
                            length: 30,         // 属性length控制线长
                            lineStyle: {       // 属性lineStyle（详见lineStyle）控制线条样式
                                width: 2
                            }
                        },
                        axisTick: {            // 坐标轴小标记
                            length: 20,        // 属性length控制线长

                        },
                        axisLabel: {
                            color: '#fff',
                            distance: 5
                        },
                        pointer: {
                            width: 2
                        },
                        detail: {
                            // 其余属性默认使用全局文本样式，详见TEXTSTYLE
                            fontWeight: 'bolder',
                            formatter: "{score|{value}分}",
                            offsetCenter: [0, '-40%'],
                            height: 30,
                            rich: {
                                score: {
                                    color: '#ff9937',
                                    fontFamily: '微软雅黑',
                                    fontSize: 32,
                                }
                            }

                        },
                        data: [{
                            value: score, label: {
                                textStyle: {
                                    fontSize: 12
                                }
                            }
                        }]
                    }
                ]
            };
            count(obj7, option7);
        });


        //安全预警趋势图
        $.post("../home/GetRiskTrend", {}, function (riskVal) {
            json = eval("(" + riskVal + ")");
            var option8 = {
                title: {
                    text: '安全生产指标预警指数趋势图',
                    left: '4%',
                    top: '5%',
                    textStyle: {
                        color: '#fff',
                        fontWeight: 100,
                    },

                },
                tooltip: {
                    trigger: 'axis',
                    axisPoiner: {
                        type: 'shadow'
                    }
                },
                legend: {
                    right: '10%',
                    top: '5%',
                    icon: 'rect',
                    data: ['危险', '警告', '注意', '安全'],
                    textStyle: {
                        color: '#cccccc',
                        fontWeight: 100,
                    },
                    selected: {
                        '危险': true,
                        '警告': true,
                        '注意': true,
                        '安全': true,
                    }
                },
                color: ['#fdb381', '#f8df76', '#96e8f6', '#5ae6b6'],
                xAxis: {
                    nameLocation: 'center',
                    type: 'category',
                    boundaryGap: true,
                    data: json.x,
                    show: true,
                    axisLabel: {
                        textStyle: {
                            color: '#7e8085'
                        }
                    },
                    axisLine: {
                        lineStyle: {
                            color: '#0b203e'
                        }
                    },
                    axisTick: {
                        show: true
                    }
                },
                grid: {
                    top: '15%',
                    bottom: '5%',
                    left: '5%',
                    containLabel: true
                },
                yAxis: {
                    nameGap: 35,
                    splitNumber: 10,
                    type: 'value',
                    min: '0',
                    max: '100',
                    axisLabel: {
                        textStyle: {
                            color: '#7e8085'
                        }
                    },
                    axisLine: {
                        lineStyle: {
                            color: '#0b203e'
                        }
                    }
                },
                series: [
                    {
                        name: '危险',
                        type: 'line',
                        animation: false,

                        areaStyle: {
                            normal: {
                                color: "#fff"
                            }
                        },
                        itemStyle: {
                            normal: {
                            }
                        },
                        lineStyle: {
                            normal: { width: 1 }
                        },
                        markArea: {
                            data: [[{ yAxis: '0' }, { yAxis: '20' }]]
                        },

                    },
                    {
                        name: '警告',
                        type: 'line',
                        animation: false,
                        areaStyle: {
                            normal: {}
                        },
                        lineStyle: {
                            normal: { width: 1 }
                        },
                        markArea: {
                            data: [[{ yAxis: '20' }, { yAxis: '60' }]]
                        },

                    },
                    {
                        name: '注意',
                        type: 'line',
                        animation: false,
                        areaStyle: {
                            normal: {}
                        },
                        lineStyle: {
                            normal: { width: 1 }
                        },
                        markArea: {
                            data: [[{ yAxis: '60' }, { yAxis: '80' }]]
                        },

                    },
                    {
                        name: '安全',
                        type: 'line',
                        animation: false,
                        areaStyle: {
                            normal: {}
                        },
                        lineStyle: {
                            normal: { width: 1 }
                        },
                        markArea: {
                            data: [[{ yAxis: '80' }, { yAxis: '100' }]]
                        },

                    },
                    {
                        name: '',
                        type: 'line',
                        data: json.y
                    }
                ]
            };
            count(obj8, option8);
        });

        function count(obj, option) {
            echarts.dispose(obj);
            var Chart4 = echarts.init(obj);
            var colors = ['#f6b327', '#32d03b', '#ccc'];
            Chart4.setOption(option);
            if (obj.id == "main2-2") {
                Chart4.on("click", function (args) {
                    if (args.name.length > 0) {
                        var time = args.name.replace(".", "-") + "-01";
                        openPage('预警趋势', '/Home/SafetyWarn?time=' + time);
                    }
                });
            }
            //隐患类别统计
            if (obj.id == "main4") {
                Chart4.on("click", function (args) {
                    if (args.name.length > 0) {
                        if (args.value > 0) {
                            var tId = "";
                            switch (args.name) {
                                case "人身安全隐患":
                                    tId = "2efd52b1-a424-4f12-84b8-f0227a147e61";
                                    break;
                                case "电力安全事故隐患":
                                    tId = "1c27460a-c325-4e1e-b9f3-45730766f161";
                                    break;
                                case "设备设施事故隐患":
                                    tId = "9dac546e-1a55-4f85-8a64-219ba783cc78";
                                    break;
                                case "大坝安全隐患":
                                    tId = "6202bb56-5974-4d90-ae75-08a66342ea5b";
                                    break;
                                case "安全管理隐患":
                                    tId = "de1e5961-3e51-49f4-8668-4fdabffc15c7";
                                    break;
                                case "其他事故隐患":
                                    tId = "cf0df7fd-9fbf-4545-843c-846efbf3d45b";
                                    break;
                            }
                            //隐患
                            top.tablist.newTab({ id: '67fdd0b7-6629-48dc-a70f-3eb7ba2df1f0', url: '../HiddenTroubleManage/HTBaseInfo/Index?mode=pType&bmmark=1&hType=' + tId, title: args.name });
                        }
                    }
                });
            }

            if (obj.id == "main3-2") {
                Chart4.on("click", function (args) {
                    if ($("#htRank").val() == "2") {
                        top.tablist.newTab({ id: '67fdd0b7-6629-48dc-a70f-3eb7ba2df1f0', url: '../HiddenTroubleManage/HTBaseInfo/Index?mode=tendencyht&ChangeStatus=未整改结束&qdeptcode=' + arrRisk[arrRisk.length - 1 - args.dataIndex].encode, title: arrRisk[arrRisk.length - 1 - args.dataIndex].deptname + "隐患信息" });
                    } else {
                        top.tablist.newTab({ id: '67fdd0b7-6629-48dc-a70f-3eb7ba2df1f0', url: '../HiddenTroubleManage/HTBaseInfo/Index?mode=yhtjinfo&qdeptcode=' + arrRisk[arrRisk.length - 1 - args.dataIndex].encode, title: arrRisk[arrRisk.length - 1 - args.dataIndex].deptname + "隐患信息" });
                    }
                  

                });

            }
            
        }
    </script>
</body>

</html>