<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发电企业安全风险-隐患排查双控管理平台</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <link rel="stylesheet" href="~/content/scripts/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/content/scripts/plugins/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="~/content/scripts/plugins/layui/css/layui.css">
    <link rel="stylesheet" href="~/content/styles/desktop/layout21.css">
    <link rel="stylesheet" href="~/content/styles/desktop/index20.css">
    <link rel="stylesheet" href="~/content/styles/desktop/index22.css">
    <script src="~/content/scripts/jquery/jquery-1.8.2.min.js"></script>
    <script src="~/Content/scripts/business/common.js"></script>
    <script src="~/content/scripts/plugins/nicescroll/nicescroll.min.js"></script>
    <script src="~/content/scripts/plugins/swiper/js/swiper.min.js"></script>
    <script src="~/content/scripts/plugins/layui/layui.all.js"></script>
    <script src="~/content/scripts/plugins/echarts/echarts.min.js"></script>
    <script src="~/content/scripts/desktop/layout-common.js"></script>
    <script type="text/javascript">
        var mapUrl = "@ViewBag.MapUrl";
        function showBig() {
            top.tablist.newTab({ id: "Map", url: mapUrl, title: "安全风险分布图" });
        }
    </script>
</head>

<body class="full">
    <div class="bs-warp bs-warp2">

        <div class="bs-main" style="padding:0 10px 10px">
            <div class="main1">
                <h3>实时监控</h3>
                <div class="row" style="padding: 20px;">
                    <div class="col-md-5">
                        <span>隐患排查治理</span>
                        <ul class="main1_common" style="margin-right: 2%;" id="yhpc">
                            <img src="~/content/images/loading1.gif" border="0" />&nbsp;正在加载数据……
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <span>反违章管理</span>
                        <ul class="main1_center" id="fwz">
                            <img src="~/content/images/loading1.gif" border="0" />&nbsp;正在加载数据……
                        </ul>
                    </div>
                    <div class="col-md-5">
                        <span style="left: 42px;">外包工程管理</span>
                        <ul class="main1_common" style="margin-left: 2%;" id="wbgcgl">
                            <img src="~/content/images/loading1.gif" border="0" />&nbsp;正在加载数据……
                        </ul>
                    </div>
                </div>
            </div>
            <div class="main2">
                <h3>电厂安全状态及预警
                  
                </h3>
               
                <ul>
                    <li onclick="openPage('安全生产预警详情', '/Home/SafetyWarn')" style=" width 30%;" id="main2-1">
                    </li>
                    <li style="width: 70%;" id="main2-2">
                    </li>
                </ul>
            </div>
            <div class="box-4 main3">
                <ul>
                    <li style="width: 60%;">
                        <h3>隐患分布图
                            <a style="color: #75b9e6; font-size: 14px; float: right; font-weight: normal; margin-right: 10px; cursor:pointer;" onclick="showBig()">查看大图</a></h3>
                      
                        <div id="main3-1">
                            <iframe style="width: 100%; height: 710px; display: none; background-color: #fff;" frameborder="0" id="frmMap" name="frmMap"></iframe>
                            <img src="~/Content/index/images/map_img.png" style="width: 100%;" id="imgMap">
                             
                        </div>
                    </li>
                    <li style="width: 40%;position: relative;">
                        <h3>部门隐患</h3>
                        <select onchange="setRank(this)" id="htRank">
                            <option value="0" selected="selected">总数排名</option>
                            <option value="1">整改率排名</option>
                            <option value="2">未闭环数量排名</option>
                        </select>
                        <p style="height: 36px;"></p>
                        <div id="main3-2" style="height:710px;"></div>
                    </li>
                </ul>
            </div>
            <div class="box-4 main5">
                <ul>
                    <li style="width:60%">
                        <h3>安全教育培训</h3>
                        <p></p>
                        <div id="main5"></div>
                    </li>
                    <li style="width:40%">
                        <h3>外包工程流程管理</h3>
                        <p></p>
                        <div style="background: #0b203e;padding-top: 36px;">
                            <ul class="row">
                                <li class='col-md-3'>
                                    <div>
                                        <img src="../content/images/desktop/g_11.png" />
                                        <p>合同协议</p>
                                        <p><a style="text-decoration:underline;color:white;" onclick="OpenNewTab('合同', '/OutsourcingProject/Outsouringengineer/IndexToList?pageType=2')"><span id="span4"></span></a>&nbsp;个,<a style="text-decoration:underline;color:white;" onclick="    OpenNewTab('协议', '/OutsourcingProject/Outsouringengineer/IndexToList?pageType=3')"><span id="span5"></span></a>&nbsp;个</p>
                                    </div>
                                </li>
                                <li class='col-md-3'>
                                    <div>
                                        <img src="../content/images/desktop/g_03.png" />
                                        <p>单位资质审查</p>
                                        <p><a style="text-decoration:underline;color:white;" onclick="OpenNewTab('单位资质审查', '/OutsourcingProject/Aptitudeinvestigateinfo/Index?indexState=1')"><span id="span1"></span></a>&nbsp;个</p>
                                    </div>
                                </li>
                                <li class='col-md-3'>
                                    <div>
                                        <img src="../content/images/desktop/g_06.png" />
                                        <p>人员资质审查</p>
                                        <p><a style="text-decoration:underline;color:white;" onclick="OpenNewTab('人员资质审查', '/OutsourcingProject/Aptitudeinvestigateinfo/PeopleList?indexState=1')"><span id="span2"></span></a>&nbsp;个</p>
                                    </div>
                                </li>
                                <li class='col-md-3'>
                                    <div>
                                        <img src="../content/images/desktop/g_08.png" />
                                        <p>保证金</p>
                                        <p><a style="text-decoration:underline;color:white;" onclick="OpenNewTab('保证金', '/OutsourcingProject/Outsouringengineer/IndexToList?pageType=1')"><span id="span3"></span></a>&nbsp;个</p>
                                    </div>
                                </li>
                            </ul>
                            <div class='down_right'></div>
                            <ul class="row">
                                <li class='col-md-3'>
                                    <div>
                                        <img src="../content/images/desktop/g_22.png" />
                                        <p>入场许可</p>
                                        <p><a style="text-decoration:underline;color:white;" onclick="OpenNewTab('入场许可', '/OutsourcingProject/Intromission/Index?indexState=1')"><span id="span6"></span></a>&nbsp;个</p>
                                    </div>
                                </li>
                                <li class='col-md-3'>
                                    <div>
                                        <img src="../content/images/desktop/g_24.png" />
                                        <p>工器具验收</p>
                                        <p><a style="text-decoration:underline;color:white;" onclick="OpenNewTab('特种设备验收', '/OutsourcingProject/ToolsCheckMain/IndexSp?indexState=1')"><span id="span7"></span></a>&nbsp;个,<a style="text-decoration:underline;color:white;" onclick="    OpenNewTab('普通设备验收', '/OutsourcingProject/ToolsCheckMain/Index?indexState=1')"><span id="span8"></span></a>&nbsp;个</p>
                                    </div>
                                </li>
                                <li class='col-md-3'>
                                    <div>
                                        <img src="../content/images/desktop/g_26.png" />
                                        <p>三措两案</p>
                                        <p><a style="text-decoration:underline;color:white;" onclick="OpenNewTab('三措两案', '/OutsourcingProject/SchemeMeasure/Index?indexState=1')"><span id="span9"></span></a>&nbsp;个</p>
                                    </div>
                                </li>
                                <li class='col-md-3'>
                                    <div>
                                        <img src="../content/images/desktop/g_28.png" />
                                        <p>安全技术交底</p>
                                        <p><a style="text-decoration:underline;color:white;" onclick="OpenNewTab('安全技术交底', '/OutsourcingProject/Outsouringengineer/IndexToList?pageType=4')"><span id="span10"></span></a>&nbsp;个</p>
                                    </div>
                                </li>
                            </ul>
                            <div class='down_right'></div>
                            <ul class="row">
                                <li class='col-md-3'>
                                    <div>
                                        <img src="../content/images/desktop/g_39.png" />
                                        <p>开工申请</p>
                                        <p><a style="text-decoration:underline;color:white;" onclick="OpenNewTab('开工申请', '/OutsourcingProject/Startapplyfor/Index?indexState=1')"><span id="span11"></span></a>&nbsp;个</p>
                                    </div>
                                </li>
                                <li class='col-md-3'>
                                    <div>
                                        <img src="../content/images/desktop/g_42.png" />
                                        <p>开(收)工会</p>
                                        <p><a style="text-decoration:underline;color:white;" onclick="OpenNewTab('开(收)工会', '/OutsourcingProject/WorkMeeting/Index?pageTyoe=5')"><span id="span12"></span></a>&nbsp;个</p>
                                    </div>
                                </li>
                                <li class='col-md-3'>
                                    <div>
                                        <img src="../content/images/desktop/g_44.png" />
                                        <p>安全评价</p>
                                        <p><a style="text-decoration:underline;color:white;" onclick="OpenNewTab('安全评价', '/OutsourcingProject/SafetyEvaluate/Index')"><span id="span13"></span></a>&nbsp;个</p>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </li>

                </ul>
            </div>
            <div class="main6">
                <h3>外包工程统计</h3>
                <ul>
                    <li id="main6-1"><img src="~/content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</li>
                    <li id="main6-2"><img src="~/content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</li>
                </ul>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function openTab(obj, item) {
            if ($(obj).find("dd").text() != "0") {
                top.tablist.newTab(item);
            }
        }
        function getProjectData() {
            $.get("../Desktop/GetProjectData", {}, function (data) {
                if (data.length > 2) {
                    var json = eval("(" + data + ")");
                    var result = eval("(" + json.resultdata + ")");
                    var list = result.data;
                    var list1 = result.data1;
                    $("#span1").html(list[0]); $("#span2").html(list[1]); $("#span9").html(list[2]);
                    $("#span7").html(list[3]); $("#span8").html(list[4]); $("#span6").html(list[5]); $("#span11").html(list[6]);
                    $("#span3").html(list1[0]); $("#span4").html(list1[1]); $("#span5").html(list1[2]);
                    $("#span10").html(list1[3]); $("#span12").html(list1[4]); $("#span13").html(list1[5]);
                }
            });
        }
        function getData() {
            $.get("../Desktop/GetDeptStatData", { itemType: "SSJK" }, function (data) {
                if (data.length > 2) {
                    var json = eval("(" + data + ")");
                    var yhpchtml = "", wbhtml = "", fwzhtml = "";
                    $(json.resultdata).each(function (i, item) {
                        if (item.itemtype == "隐患排查") {
                            yhpchtml += item.itemstyle;
                        }  if (item.itemtype == "外包工程") {
                            wbhtml += item.itemstyle;
                        } if (item.itemtype == "反违章") {
                            fwzhtml += item.itemstyle;
                        }

                    });
                    //alert(yhpchtml);
                    $("#yhpc").html(yhpchtml);
                    $("#fwz").html(fwzhtml);
                    $("#wbgcgl").html(wbhtml);
                }


            });
        }
        $(function () {
            if (mapUrl.length == 0) {
                $("#imgMap").show();
                $("#frmMap").remove();
            } else {
                //$("#frmMap").height($("#main3-1").height());
                $("#frmMap").attr("src", mapUrl);
                $("#frmMap").show();
                $("#imgMap").hide();
            }
            getData(); getProjectData();
            $('.bs-main').niceScroll({
                autohidemode: false
            });
            $('.bs-nav').niceScroll({
                autohidemode: "cursor",
                cursoropacitymax: 0
            });

            $('.nav_list li').on('click', function () {
                var index = $(this).index();
                $(this).attr('class', 'select').siblings().removeAttr('class', 'select');
            })

            //隐患发现排行榜切换
            $("#chooseHidType").change(function () {
                var selVal = $("select[name='chooseHidType']").val(); //选择
                if (selVal == "0") {
                    $("#chart0").css("display", "");
                    $("#chart1").css("display", "none");
                }
                else {
                    $("#chart0").css("display", "none");
                    $("#chart1").css("display", "");
                }
                HidDiscovery(selVal);
            });
        })
        layui.use('laypage', function () {
            var laypage = layui.laypage;
            laypage.render({
                elem: 'page',
                count: 50,
                prev: '<em>&lt;</em>',
                next: '<em>&gt;</em>',
                layout: ['limit', 'prev', 'page', 'next'],
                limits: [10, 20, 50],
                theme: '#75b9e6'
            });
        });

        function openPage(title, url) {
            var idx = top.dialogOpen({
                id: "warn",
                title: title,
                url: url,
                width: ($(top.window).width() - 200) + "px",
                height: ($(top.window).height() - 200) + "px",
                btns: 1,
                btn: ["关闭"],
                callBack: function (iframeId) {
                    top.layer.close(idx);
                }
            });
        }
        var obj2 = document.getElementById('main5')
        var data2 = [[10, 52, 200, 334, 390, 300, 220], [10, 52, 200, 334, 390, 300, 220], [10, 52, 200, 334, 390, 300, 220]]
        var option2 = {
            title: {
                text: '培训合格率趋势率',
                x: 'center',
                textStyle: {
                    fontSize: 16,
                    color: '#fff'

                }
            },
            legend: {
                data: ['考试人次', '合格人次', '培训合格率'],
                textStyle: {
                    fontSize: 14,
                    color: '#ccc'
                },

                top: 30,

            },


            xAxis: [
                {
                    type: 'category',
                    data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
                    axisLine: {
                        lineStyle: {
                            color: '#223550'
                        }
                    }
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    name: '人数(人)',
                    min: 0,
                    axisLabel: {
                        formatter: '{value}',
                        textStyle: {
                            color: '#cccccc'
                        }
                    },
                    axisLine: {
                        lineStyle: {
                            color: '#223550'
                        }
                    }
                },
                {
                    type: 'value',
                    name: '培训合格率(%)',
                    min: 0,
                    axisLabel: {
                        formatter: '{value}%',
                        textStyle: {
                            color: '#cccccc'
                        }
                    },
                    axisLine: {
                        lineStyle: {
                            color: '#223550'
                        }
                    }

                }
            ],
            series: [

                {
                    name: '考试人次',
                    type: 'bar',
                    barWidth: '10%',
                    data: data2[0],
                    color: '#ff7f50'
                },
                {
                    name: '合格人次',
                    type: 'bar',
                    barWidth: '10%',
                    data: data2[1],
                    color: '#87cefa'

                },
                {
                    name: '培训合格率',
                    type: 'line',
                    barWidth: '10%',
                    data: data2[2],
                    itemStyle: {
                        normal: {
                            color: '#325786'
                        }
                    }

                },
            ]
        };

        var arrRisk;
        //电厂隐患排名
        function setRank(obj) {
            var obj6 = document.getElementById('main3-2')
            var data6 = [];
            var data6text = [];
            var dataTop = [];
            $(obj6).html('<img src="../content/images/loading1.gif" border="0" />&nbsp;正在加载数据……');
            $.post("../Desktop/GetRatioDataOfFactory", { mode: $(obj).val(),top:10 }, function (data) {
                var json = JSON.parse(data);
                if (json.resultdata.length == 0) {
                    $(obj6).html("暂无数据显示");
                } else {
                    arrRisk = json.resultdata;
                    for (var i = arrRisk.length - 1; i >= 0; i--) {
                        data6.push(arrRisk[i].total);
                        data6text.push(arrRisk[i].deptname);
                        dataTop.push('Top' + (i + 1) + "：" + arrRisk[i].deptname);
                    }
                    var option6 = {
                        tooltip: {
                            trigger: 'axis'

                        },
                        grid: {
                            x: 230,
                            y: 45,
                            x2: 5,
                            y2: 20
                        },
                        xAxis: [{
                            type: '',
                            boundaryGap: [0, 0.01],
                            splitLine: {
                                show: false
                            },
                            axisLabel: {
                                formatter: '{value}',
                                textStyle: {
                                    color: '#0b203e'
                                }
                            },
                            axisLine: {
                                lineStyle: {
                                    color: '#0b203e'
                                }
                            }
                        }],
                        yAxis: [{
                            type: 'category',
                            data: dataTop,
                            splitLine: {
                                show: false
                            },
                            axisLabel: {
                                textStyle: {
                                    color: '#7e8085'
                                }
                            },

                            axisLine: {
                                lineStyle: {
                                    color: '#0b203e'
                                }
                            },
                        },
                        {
                            type: 'category',
                            splitLine: {
                                show: false
                            },
                            data: data6text,
                            axisLabel: {
                                textStyle: {
                                    color: '#7e8085'
                                }
                            },
                            axisLine: {
                                lineStyle: {
                                    color: '#0b203e'
                                }
                            }
                        }
                        ],
                        series: [

                            {
                                name: '',
                                type: 'bar',
                                barWidth: '50%',
                                data: data6,
                                itemStyle: {
                                    normal: {
                                        label: {
                                            show: true,
                                            position: 'insideRight',
                                        },

                                        color: '#12447c',
                                        barBorderColor: '#0f86ff'
                                    }
                                },
                                lineStyle: {
                                    color: '#9bbb59'
                                },
                                tooltip: {
                                    trigger: 'item',
                                    formatter: function (params) {
                                        //if (arrRisk[9 - params.dataIndex] != undefined) {
                                        //    var text = "风险排名：" + (10 - params.dataIndex) + "<br />";
                                        //    text += "风险值：" + arrRisk[9 - params.dataIndex].itemr + "<br />";
                                        //    text += "风险类别：" + arrRisk[9 - params.dataIndex].risktype + "<br />";
                                        //    text += "风险描述：" + arrRisk[9 - params.dataIndex].riskdesc + "<br />";
                                        //    return text;
                                        //}

                                    }
                                }

                            }
                        ]
                    };
                    count(obj6, option6);
                }

            });
        }
        var json;


        setRank(document.getElementById("htRank"));


        var obj4 = document.getElementById('main6-1');
        var obj5 = document.getElementById('main6-2');
        var obj7 = document.getElementById('main2-1');
        var obj8 = document.getElementById('main2-2');
        //预警指数统计
        $(obj7).width(($(window).width()) * 0.3);
        $(obj8).width(($(window).width()) * 0.7);
        //$.get("../home/GetWarnValue", {}, function (data) {
        $.get("../home/GetIndexWarnValue", {}, function (data) {
            json = eval("(" + data + ")");
            var score = 0;
            if (json.score == null || json.score == undefined) score = 0;
            else
                score = json.score;
            var option7 = {
                tooltip: {
                    formatter: "{a}<br/>{c}{b}分",
                    backgroundColor: 'rgba(255,255,255,0.8)',
                    textStyle: {
                        color: 'black',
                    }

                },

                legend: {
                    x: 'center',
                    bottom: '5%',
                    icon: 'rect',
                    data: ['危险', '较危险', '较安全', '安全'],
                    textStyle: {
                        color: '#cccccc',
                        fontWeight: 100,
                    },
                    color: ['#ff4157', '#f8df76', '#96e8f6', '#5ae6b6'],
                },
                toolbox: {
                    show: false,
                    feature: {
                        mark: { show: true },
                        restore: { show: true },
                        saveAsImage: { show: true }
                    },
                    extraCssText: 'width:160px;height:50px;background:#fff;'
                },

                xAxis: [   //这里有很多的show，必须都设置成不显示
                    {
                        type: 'category',
                        data: [],
                        axisLine: {
                            show: false
                        },
                        splitLine: {
                            show: false
                        },
                        splitArea: {
                            interval: 'auto',
                            show: false
                        }
                    }
                ],
                yAxis: [ //这里有很多的show，必须都设置成不显示
                    {
                        type: 'value',
                        axisLine: {
                            show: false
                        },
                        splitLine: {
                            show: false
                        },
                    }
                ],
                series: [
                    {
                        name: '危险',
                        type: 'bar',
                        itemStyle: {
                            normal: {
                                color: '#ff4157'
                            }
                        }
                    },
                    {
                        name: '较危险',
                        type: 'bar',
                        itemStyle: {
                            normal: {
                                color: '#f8df76'
                            }
                        }

                    },
                    {
                        name: '较安全',
                        type: 'bar',
                        itemStyle: {
                            normal: {
                                color: '#96e8f6'
                            }
                        }

                    },
                    {
                        name: '安全',
                        type: 'bar',
                        itemStyle: {
                            normal: {
                                color: '#5ae6b6'
                            }
                        }

                    },
                    {
                        name: '预警指数',
                        type: 'gauge',
                        center: ['50%', '60%'],    // 默认全局居中
                        radius: '90%',
                        startAngle: 180,
                        endAngle: 0,
                        axisLine: {
                            show: true,
                            lineStyle: {       // 属性lineStyle控制线条样式
                                width: 30,
                                color: [
                                    [0.6, '#ff4157'],
                                    [0.7, '#f8df76'],
                                    [0.9, '#96e8f6'],
                                    [1, '#5ae6b6']
                                ]
                            },

                        },
                        splitLine: {           // 分隔线
                            length: 30,         // 属性length控制线长
                            lineStyle: {       // 属性lineStyle（详见lineStyle）控制线条样式
                                width: 2
                            }
                        },
                        axisTick: {            // 坐标轴小标记
                            length: 20,        // 属性length控制线长

                        },
                        axisLabel: {
                            color: '#fff',
                            distance: 5
                        },
                        pointer: {
                            width: 2
                        },
                        detail: {
                            // 其余属性默认使用全局文本样式，详见TEXTSTYLE
                            fontWeight: 'bolder',
                            formatter: "{score|{value}分}",
                            offsetCenter: [0, '-40%'],
                            height: 30,
                            rich: {
                                score: {
                                    color: '#ff9937',
                                    fontFamily: '微软雅黑',
                                    fontSize: 32,
                                }
                            }

                        },
                        data: [{
                            value: score,
                            label: {
                                textStyle: {
                                    fontSize: 12
                                }
                            }
                        }]
                    }
                ]
            };
            count(obj7, option7);
        });


        //安全预警趋势图
        $.post("../home/GetRiskTrend", {}, function (riskVal) {
            json = eval("(" + riskVal + ")");
            var option8 = {
                title: {
                    text: '安全生产指标预警指数趋势图',
                    left: '4%',
                    top: '5%',
                    textStyle: {
                        color: '#fff',
                        fontWeight: 100,
                    },

                },
                tooltip: {
                    trigger: 'axis',
                    axisPoiner: {
                        type: 'shadow'
                    }
                },
                legend: {
                    right: '10%',
                    top: '5%',
                    icon: 'rect',
                    data: ['危险', '警告', '注意', '安全'],
                    textStyle: {
                        color: '#cccccc',
                        fontWeight: 100,
                    },
                    selected: {
                        '危险': true,
                        '警告': true,
                        '注意': true,
                        '安全': true,
                    }
                },
                color: ['#fdb381', '#f8df76', '#96e8f6', '#5ae6b6'],
                xAxis: {
                    nameLocation: 'center',
                    type: 'category',
                    boundaryGap: true,
                    data: json.x,
                    show: true,
                    axisLabel: {
                        textStyle: {
                            color: '#7e8085'
                        }
                    },
                    axisLine: {
                        lineStyle: {
                            color: '#0b203e'
                        }
                    },
                    axisTick: {
                        show: true
                    }
                },
                grid: {
                    top: '15%',
                    bottom: '5%',
                    left: '5%',
                    containLabel: true
                },
                yAxis: {
                    nameGap: 35,
                    splitNumber: 10,
                    type: 'value',
                    min: '0',
                    max: '100',
                    axisLabel: {
                        textStyle: {
                            color: '#7e8085'
                        }
                    },
                    axisLine: {
                        lineStyle: {
                            color: '#0b203e'
                        }
                    }
                },
                series: [
                    {
                        name: '危险',
                        type: 'line',
                        animation: false,

                        areaStyle: {
                            normal: {
                                color: "#fff"
                            }
                        },
                        itemStyle: {
                            normal: {
                            }
                        },
                        lineStyle: {
                            normal: { width: 1 }
                        },
                        markArea: {
                            data: [[{ yAxis: '0' }, { yAxis: '20' }]]
                        },

                    },
                    {
                        name: '警告',
                        type: 'line',
                        animation: false,
                        areaStyle: {
                            normal: {}
                        },
                        lineStyle: {
                            normal: { width: 1 }
                        },
                        markArea: {
                            data: [[{ yAxis: '20' }, { yAxis: '60' }]]
                        },

                    },
                    {
                        name: '注意',
                        type: 'line',
                        animation: false,
                        areaStyle: {
                            normal: {}
                        },
                        lineStyle: {
                            normal: { width: 1 }
                        },
                        markArea: {
                            data: [[{ yAxis: '60' }, { yAxis: '80' }]]
                        },

                    },
                    {
                        name: '安全',
                        type: 'line',
                        animation: false,
                        areaStyle: {
                            normal: {}
                        },
                        lineStyle: {
                            normal: { width: 1 }
                        },
                        markArea: {
                            data: [[{ yAxis: '80' }, { yAxis: '100' }]]
                        },

                    },
                    {
                        name: '',
                        type: 'line',
                        data: json.y
                    }
                ]
            };
            count(obj8, option8);
        });
        //外包工程类型统计
        var data4 = [];
        $.post("../Desktop/GetProjectChart3", {}, function (riskVal) {
            json = eval("(" + riskVal + ")");
            if (json.resultdata != null) {
                var obj = JSON.parse(json.resultdata);
                for (var i = 0; i < obj.xValues.length; i++) {
                    var text = obj.xValues[i];
                    var value = obj.yValues[i];
                    data4.push({ name: text, value: value });
                }
                var color = ['#fdb45c', '#f7464a', '#46bfbd', ]
                var option4 = {

                    title: {
                        text: '外包工程风险占比统计',
                        textStyle: {
                            color: '#fff',
                            fontSize: 14,
                        },
                        x: 'center',
                        y: 10
                    },


                    series: [{
                        type: 'pie',
                        radius: ['40%', '55%'],
                        hoverAnimation: true,
                        color: color,
                        label: {
                            normal: {
                                show: true,
                                position: 'absolute',
                                left: '-50px',
                                formatter: '{b}:{c}个',
                                color: '#cccccc'
                            }
                        },
                        labelLine: {
                            normal: {
                                show: true,
                                length: 15,
                                length2: 10,
                                lineStyle: {

                                }
                            }
                        },
                        data: data4
                    }]
                };
                count(obj4, option4);
            } else {
                $(obj4).html("暂无数据显示");
            }

        });

        //每月外包人员数量变化趋势图
        $.post("../Desktop/GetProjectPersonChart", {}, function (riskVal) {
            json = eval("(" + riskVal + ")");
            if (json.resultdata == null) {
                $(obj5).html("暂无数据显示");
            } else {
                var obj = JSON.parse(json.resultdata);

                var data5 = [
                        obj.y,
                        obj.yJC,
                        obj.yLC
                ]
                var data = obj.xValues;
                var option5 = {
                    title: {
                        text: '每月外包人员数量变化趋势图',
                        x: 'center',
                        y: 10,
                        textStyle: {
                            fontSize: 12,
                            color: '#fff'

                        }
                    },
                    legend: {
                        data: ['在厂人员', '进厂人员', '离厂人员'],
                        textStyle: {
                            fontSize: 14,
                            color: '#ccc'
                        },
                        bottom: 5,
                    },
                    tooltip: {
                        trigger: 'axis'
                    },
                    xAxis: [{
                        type: 'category',
                        data: data,
                        axisLine: {
                            lineStyle: {
                                color: '#fff'
                            }
                        }
                    }],
                    yAxis: [{
                        type: 'value',
                        name: '人数(人)',
                        min: 0,
                        axisLabel: {
                            formatter: '{value}',
                            textStyle: {
                                color: '#cccccc'
                            }
                        },
                        axisLine: {
                            lineStyle: {
                                color: '#fff'
                            }
                        },
                        boundaryGap: [0, 0.1],
                        minInterval: 1
                    }
                        //,{
                        //    type: 'value',
                        //    min: 0,
                        //    axisLabel: {
                        //        formatter: '{value}',
                        //        textStyle: {
                        //            color: '#223550'
                        //        }
                        //    },
                        //    axisLine: {
                        //        lineStyle: {
                        //            color: '#223550'
                        //        }
                        //    }

                        //}
                    ],
                    series: [

                        {
                            name: '在厂人员',
                            type: 'line',
                            barWidth: '10%',
                            data: data5[0],
                            symbol: 'star' + 3,
                            symbolSize: 6,
                            color: '#96b4d7',
                            itemStyle: {
                                normal: {
                                    label: {
                                        show: true
                                    }
                                },
                            },
                            lineStyle: {
                                color: '#96b4d7',
                            }
                        },
                        {
                            name: '进厂人员',
                            type: 'line',
                            symbol: 'star' + 3,
                            symbolSize: 6,
                            barWidth: '10%',
                            color: '#9bbb59',
                            data: data5[1],
                            itemStyle: {
                                normal: {
                                    label: {
                                        show: true
                                    }
                                },
                            },
                            lineStyle: {
                                color: '#9bbb59'
                            }

                        },
                        {
                            name: '离厂人员',
                            type: 'line',
                            barWidth: '10%',
                            data: data5[2],
                            symbol: 'star' + 3,
                            color: '#c0504d',
                            symbolSize: 6,
                            itemStyle: {
                                normal: {
                                    label: {
                                        show: true
                                    }
                                },
                            },
                            lineStyle: {
                                color: '#c0504d'
                            }

                        },
                    ]
                };
                count(obj5, option5);
            }

        });
        count(obj2, option2)


        function count(obj, option) {
            echarts.dispose(obj);
            var Chart4 = echarts.init(obj);
            var colors = ['#f6b327', '#32d03b', '#ccc'];
            Chart4.setOption(option);
            if (obj.id == "main2-2") {
                Chart4.on("click", function (args) {
                    if (args.name.length > 0) {
                        var time = args.name.replace(".", "-") + "-01";
                        openPage('预警趋势', '/Home/SafetyWarn?time=' + time);
                    }
                });
            }
            if (obj.id == "main6-1") {
                Chart4.on("click", function (args) {
                    var status = 8;
                    if (args.name == "三级安全风险") {
                        status = "003";
                    }
                    if (args.name == "二级安全风险") {
                        status = "002";
                    }
                    if (args.name == "一级安全风险") {
                        status = "001";
                    }
                    OpenNewTab(args.name, '/OutsourcingProject/Outsouringengineer/Index?englevel=' + status);
                });

            }
            if (obj.id == "main3-2") {
                Chart4.on("click", function (args) {
                    if ($("#htRank").val()=="2") {
                        top.tablist.newTab({ id: '67fdd0b7-6629-48dc-a70f-3eb7ba2df1f0', url: '../HiddenTroubleManage/HTBaseInfo/Index?mode=yhzgphb&qWorkstream=1&ChangeStatus=未整改结束&qdeptcode=' + arrRisk[arrRisk.length - 1 - args.dataIndex].encode, title: arrRisk[arrRisk.length - 1 - args.dataIndex].deptname + "隐患信息" });
                    } else {
                        top.tablist.newTab({ id: '67fdd0b7-6629-48dc-a70f-3eb7ba2df1f0', url: '../HiddenTroubleManage/HTBaseInfo/Index?mode=yhtjinfo&qdeptcode=' + arrRisk[arrRisk.length - 1 - args.dataIndex].encode, title: arrRisk[arrRisk.length - 1 - args.dataIndex].deptname + "隐患信息" });
                    }
                  

                });

            }
        }
    </script>

</body>
</html>