@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<!--webUploader文件上传组件-->
<link href="~/content/scripts/plugins/webuploader/webuploader.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/webuploader/webuploader-demo.css" rel="stylesheet" />
<script type="text/javascript" src="~/content/scripts/plugins/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/fileupload.js"></script>
<script src="~/Content/scripts/plugins/uploadify/ajaxfileupload.js"></script>

<script>
    var DriverPreview = request('DriverPreview');
    var DrivingPreview = request('DrivingPreview');
    $(function () {
        $("#DriverPreview").attr("src", DriverPreview);
        $("#DrivingPreview").attr("src", DrivingPreview);
    });


    
</script>
<div style="margin: 10px;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;驾驶证</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            
            <img id="DriverPreview" style="width: 600px; height: 400px;" src="~/Content/images/no.png" />
            
                               
                                
        </div>
    </div>

    <div id="gr" class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;行驶证</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <img id="DrivingPreview" style="width: 600px; height: 400px;" src="~/Content/images/no.png" />
        </div>
    </div>
</div>