@{;
ViewBag.Title = "列表页面";
Layout = "~/Views/Shared/_Index.cshtml";
}
<script src="~/Content/scripts/business/gridhelper.js"></script>
<script>
    ;
    $(function () {
        InitialPage();
        GetGrid();
    });
    //初始化页面
    function InitialPage() {
        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 108.5);
            }, 200);
            e.stopPropagation();
        });
    }
    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() - 170,
            url: "../../CarManage/PrivateCar/GetListJson",
            postData: { queryJson: JSON.stringify({ Type: "1" }) },
            datatype: "json",
            colModel: [
                { label: '主键', name: 'id', hidden: true },
                { label: '主键', name: 'createuserid', hidden: true },
                { label: '主键', name: 'modifyuserid', hidden: true },
                { label: '主键', name: 'modifydate', hidden: true },
                { label: '主键', name: 'createuserdeptcode', hidden: true },
                { label: '主键', name: 'createuserorgcode', hidden: true },
                { label: '主键', name: 'driverlicenseurl', hidden: true },
                { label: '主键', name: 'drivinglicenseurl', hidden: true },
                { label: '主键', name: 'state', hidden: true },
                {
                    label: '操作',
                    name: 'Oper',
                    width: 160,
                    align: 'center',
                    sortable: false
                },
                {
                    label: '车牌号',
                    name: 'carno',
                    index: 'carno',
                    width: 200,
                    align: 'center'
                },
                {
                    label: '内部编号',
                    name: 'model',
                    index: 'model',
                    width: 200,
                    align: 'center'
                },
                {
                    label: '驾驶人',
                    name: 'dirver',
                    index: 'dirver',
                    width: 200,
                    align: 'center'
                },
                {
                    label: '驾驶人电话',
                    name: 'phone',
                    index: 'phone',
                    width: 200,
                    align: 'center'
                },
                 {
                     label: '部门',
                     name: 'deptname',
                     index: 'deptname',
                     width: 200,
                     align: 'center'
                 },

                {
                    label: '登记日期',
                    name: 'createdate',
                    index: 'createdate',
                    width: 200,
                    align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd');
                    }
                }, 
                {
                    label: '进出厂记录',
                    name: 'jclog',
                    index: 'jclog',
                    sortable: false,
                    width: 200,
                    align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = "<a href='javascript:pass(\"" + rowObject.id + "\")'> 查看 </a>";
                        return html;
                    }
                },
                  {
                      label: '违章记录',
                      name: 'wzlog',
                      //index: 'wzlog',
                      sortable: false,
                      width: 200,
                      align: 'center',
                      formatter: function (cellvalue, options, rowObject) {
                          if (rowObject.znum == 0) {
                              return "0";
                          } else {
                              var html = "<a href='javascript:QueryWzList(\"" + rowObject.carno + "\")'>" + rowObject.znum + "条（" + rowObject.num + " 条未处理 ）</a>";
                              return html;
                          }
                      }
                  },


            ],
            viewrecords: true,
            rowNum: 30,
            //multiboxonly: true,
            //multiselect: true,
            pager: "#gridPager",
            sortname: 'CreateDate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: true,
            gridview: true,
            userdata: "userdata",
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);
                gridqx($gridTable);
            }
        });
        //查询条件
        $("#queryCondition .dropdown-menu li").click(function () {
            var text = $(this).find('a').html();
            var value = $(this).find('a').attr('data-value');
            $("#queryCondition .dropdown-text").html(text).attr('data-value', value);
        });
        //查询事件
        $("#btn_Search").click(function () {
            var queryJson = {
                condition: $("#queryCondition").find('.dropdown-text').attr('data-value'),
                keyword: $.trim($("#txt_Keyword").val()),
                Type: "1"
            }
            $gridTable.jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify(queryJson) }, page: 1
            }).trigger('reloadGrid');
        });
        $("#btn_SearchAll").click(function () {
            $("#txt_Keyword").val("");
            $("#queryCondition .dropdown-text").html("选择条件").attr("data-value", "");
            var queryJson = {
                condition: '',
                keyword: '',
                Type: "1"
            }
            $gridTable.jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify(queryJson) }, page: 1
            }).trigger('reloadGrid');
        });
        //查询回车
        $('#txt_Keyword').bind('keypress', function (event) {
            if (event.keyCode == "13") {
                $('#btn_Search').trigger("click");
            }
        });
    }
    //新增
    function btn_add() {
        dialogOpen({
            id: 'Form',
            title: '添加车辆基础信息表',
            url: '/CarManage/PrivateCar/Form',
            width: '1000px',
            height: '800px',
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
            }
        });
    }

    //查看过岗记录
    function pass(keyValue) {
        if (checkedRow(keyValue)) {
            var dlg = dialogOpen({
                id: 'Form',
                title: '查看车辆进出记录',
                url: '/CarManage/Carinlog/BusinessForm?cid=' + keyValue,
                width: '1000px',
                height: '800px',
                btn: ["关闭"],
                callBack: function (iframeId) {
                    top.layer.close(dlg);
                }
            });
        }
    }

    //查看过岗记录
    function Img(img1, img2) {
        if (checkedRow(img1)) {
            var dlg = dialogOpen({
                id: 'Form',
                title: '查看车辆进出记录',
                url: '/CarManage/PrivateCar/ImgView?DriverPreview=' + img1 + '&DrivingPreview=' + img2,
                width: '700px',
                height: '800px',
                btn: ["关闭"],
                callBack: function (iframeId) {
                    top.layer.close(dlg);
                }
            });
        }
    }

    //查看
    function show() {
        var keyValue = $('#gridTable').jqGridRowValue('id');
        if (checkedRow(keyValue)) {
            var dlg = dialogOpen({
                id: 'Form',
                title: '查看车辆基础信息表',
                url: '/CarManage/Carinfo/Form?action=show&keyValue=' + keyValue,
                width: '1000px',
                height: '480px',
                btn: ["关闭"],
                callBack: function (iframeId) {
                    top.layer.close(dlg);
                }
            });
        }
    }
  
    //删除
    function btn_delete() {
        var keyValue = $('#gridTable').jqGridRowValue('id');
        if (keyValue) {
            $.RemoveForm({
                url: '../../CarManage/PrivateCar/RemoveForm',
                param: { keyValue: keyValue },
                success: function (data) {
                    $('#gridTable').trigger('reloadGrid');
                }
            })
        } else {
            dialogMsg('请选择需要删除的车辆基础信息表！', 0);
        }
    }

    //私家车审批
    function examine() {
        var keyValue = $('#gridTable').jqGridRowValue('id');
        var state = $('#gridTable').jqGridRowValue('state');
        if (state == "1") {
            if (checkedRow(keyValue)) {
                var dlg = dialogOpen({
                    id: 'Form',
                    title: '查看车辆审批',
                    url: '/CarManage/PrivateCar/ExamineForm?keyValue=' + keyValue + '&action=show',
                    width: '800px',
                    height: '550px',
                    btn: ["关闭"],
                    callBack: function (iframeId) {
                        top.layer.close(dlg);
                    }
                });
            }
        }
        else {
            if (checkedRow(keyValue)) {
                dialogOpen({
                    id: 'Form',
                    title: '车辆审批',
                    url: '/CarManage/PrivateCar/ExamineForm?keyValue=' + keyValue + '&action=edit',
                    width: '800px',
                    height: '550px',
                    callBack: function (iframeId) {
                        top.frames[iframeId].AcceptClick();
                    }
                });
            }
        }
    }


    //新增
    function add() {
        dialogOpen({
            id: 'Form',
            title: '添加车辆基础信息表',
            url: '/CarManage/PrivateCar/Form',
            width: '1000px',
            height: '480px',
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
            }
        });
    }

    //查看违章记录
    function QueryWzList(carno) {
        if (checkedRow(carno)) {
            var dlg = dialogOpen({
                id: 'Form',
                title: '查看违章记录',
                url: '/CarManage/Carinfo/ViolationRecord?carno=' + carno,
                width: '1000px',
                height: '600px',
                btn: ["关闭"],
                callBack: function (iframeId) {
                    top.layer.close(dlg);
                }
            });
        }
    }

    //编辑
    function edit() {
        var keyValue = $('#gridTable').jqGridRowValue('id');
        if (checkedRow(keyValue)) {
            dialogOpen({
                id: 'Form',
                title: '编辑车辆基础信息表',
                url: '/CarManage/PrivateCar/Form?keyValue=' + keyValue,
                width: '1000px',
                height: '480px',
                callBack: function (iframeId) {
                    top.frames[iframeId].AcceptClick();
                }
            })
        }
    }
</script>
<div class="titlePanel">
    <div class="title-search">
        <table>
            <tr>
                <td>查询条件:</td>
                <td style="padding-left: 10px">
                    <div id="queryCondition" class="btn-group">
                        <a class="btn btn-default dropdown-text" data-toggle="dropdown">选择条件</a>
                        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a data-value="CarNo">车牌号</a></li>
                            <li><a data-value="Dirver">驾驶人</a></li>
                            <li><a data-value="Phone">电话号码</a></li>
                        </ul>
                    </div>
                </td>
                <td style="padding-left: 10px">
                    <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;" />
                </td>
                <td style="padding-left: 5px;">
                    <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>查询</a>
                    <a id="btn_SearchAll" class="btn btn-primary"><i class="fa fa-search-plus"></i>&nbsp;全部</a>
                </td>
            </tr>
        </table>

    </div>
    <div class="toolbar">
        <div class="btn-group">
            <a id="replace" class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>刷新</a>
            @*<a id="add" class="btn btn-default" onclick="btn_add()"><i class="fa fa-plus"></i>新增</a>
        <a id="imp" class="btn btn-default" onclick="importData()"><i class="fa fa-superscript"></i>导入</a>*@
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
</div>
<div class="gridPanel">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>
