@{
    ViewBag.Title = "安全工器具统计";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<!--第三方统计图start-->
<script src="~/Content/Scripts/plugins/highcharts/highcharts.js"></script>
<script src="~/Content/Scripts/plugins/highcharts/highcharts-more.js"></script>
<script src="~/Content/Scripts/plugins/highcharts/modules/exporting.js"></script>
<link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
<script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>

<style type="text/css">
    .tab1 {
        width: 100%;
        border: 1px solid #ccc;
        text-align: center;
    }

    .tab1 td {
        background-color: white;
        height: 30px;
        border: 1px solid #ccc;
    }

    #gridTable1 a, #gridTable2 a, #gridTable3 a {
        text-decoration: underline;
        color: #1688f5;
    }
</style>

<script src="~/Content/scripts/business/Common.js"></script>
<!--第三方统计图end-->
<script>
    var queryJson = "";
    var state = 1;
    var statMode = 1;
    var StartTime = ""; var EndTime = "";
    $(function () {
        InitialPage();
        statDC();
    });

    function InitialPage() {
        
        $(window).resize(function (e) {
            window.setTimeout(function () {
                //$("#gridTable1").setGridHeight();
                $("#gridTable1").setGridWidth($(window).width() - 100);
                $("#gridTable2").setGridWidth($(window).width() - 100);
            }, 800);
            e.stopPropagation();
        });
        queryJson = { "StartTime": StartTime, "EndTime": EndTime, "EquipmentType": statMode };
    }
    function statDC() {
        $("#grid1").show();
        $("#grid2").hide();
        statMode = 1;
        queryJson = { "StartTime": StartTime, "EndTime": EndTime, "EquipmentType": statMode };
        statTJ();
        binggrid2(queryJson, 'gridTable1');
        $("#gridTable1").jqGrid('setGridParam', {
            postData: { queryJson: JSON.stringify(queryJson) }, page: 1
        }).trigger('reloadGrid');
    }

    function statYW() {
        $("#grid1").hide();
        $("#grid2").show();
        statMode = 2;
        queryJson = { "StartTime": StartTime, "EndTime": EndTime, "EquipmentType": statMode };
        statJE();
        binggrid1(queryJson, 'gridTable2');
        $("#gridTable2").jqGrid('setGridParam', {
            postData: { queryJson: JSON.stringify(queryJson) }, page: 1
        }).trigger('reloadGrid');
    }

    //安全工器具数量  statMode=1 表示统计电气安全工器具数量
    function statTJ() {
        var queryJson = { "StartTime": StartTime, "EndTime": EndTime, "EquipmentType": 1 }
        $.get("GetEquipmentTypeStat",
            { queryJson: JSON.stringify(queryJson) },
            function(data) {
                var json = eval("(" + data + ")");
                $('#tjcontainer').highcharts({
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: '电气安全工器具'
                    },
                    xAxis: {
                        categories: json.x
                    },
                    exporting: { enabled: false },
                    yAxis: {
                        min: 0,
                        title: {
                            text: '数量'
                        },
                        labels: {
                            formatter: function() {
                                return this.value + '个';
                            }
                        },
                        stackLabels: {
                            enabled: true,
                            style: {
                                fontWeight: 'bold',
                                color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                            }
                        },
                        tickInterval: 1
                    },
                    legend: {
                        enabled:false
                        //align: 'right',
                        //x: -30,
                        //verticalAlign: 'top',
                        //y: 25,
                        //floating: true,
                        //backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                        //borderColor: '#CCC',
                        //borderWidth: 1,
                        //shadow: false
                    },
                    tooltip: {
                        headerFormat: '<b>{point.x}</b><br/>',
                        pointFormat: '{point.y}个'
                    },
                    plotOptions: {
                        column: {
                            stacking: 'normal',
                            dataLabels: {
                                enabled: true,
                                color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                                style: {
                                    textShadow: '0 0 3px black'
                                }
                            }
                        }
                    },
                    series: json.y
                });
            });
    };


    //安全工器具数量   statMode=2 表示统计机械、化学安全工器具数量
    function statJE() {
        var queryJson = { "StartTime": StartTime, "EndTime": EndTime, "EquipmentType": 2 }
        $.get("GetEquipmentTypeStat", { queryJson: JSON.stringify(queryJson) }, function (data) {
            var json = eval("(" + data + ")");

            $('#tjcontainer').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: '机械、化学安全工器具'
                },
                xAxis: {
                    categories: json.x
                },
                exporting: { enabled: false },
                yAxis: {
                    min: 0,
                    title: {
                        text: '数量（个）'
                    },
                    labels: {
                        formatter: function () {
                            return this.value + '个';
                        }
                    },
                    stackLabels: {
                        enabled: true,
                        style: {
                            fontWeight: 'bold',
                            color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                        }
                    }, tickInterval: 1
                },
                legend: {
                    enabled: false
                    //align: 'right',
                    //x: -30,
                    //verticalAlign: 'top',
                    //y: 25,
                    //floating: true,
                    //backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                    //borderColor: '#CCC',
                    //borderWidth: 1,
                    //shadow: false
                },
                tooltip: {
                    headerFormat: '<b>{point.x}</b><br/>',
                    pointFormat: '{point.y}个'
                },
                plotOptions: {
                    column: {
                        stacking: 'normal',
                        dataLabels: {
                            enabled: true,
                            color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                            style: {
                                textShadow: '0 0 3px black'
                            }
                        }
                    }
                },
                series: json.y
            });
        });
    }


    //安全工器具数量表格
    function binggrid1(queryJson, tid) {
        var $gridTable = $("#" + tid);      
        $gridTable.jqGrid({
            url: "../../ToolEquipmentManage/Toolequipment/GetToolStatisticsList",
            postData: { queryJson: JSON.stringify(queryJson) },
            datatype: "json",
            mtype: "post",
            autoheight: true,
            width: $(window).width() - 100,

            colModel: [
                {
                    label: '名称', name: 'EquipmentName', align: 'center', sortable: false
                },
                {
                    label: '梯子', name: 'num1', align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.num1 > 0) {
                            return "<a href=javascript:openSafeTool('梯子')>" + rowObject.num1 + "</a>";
                        }
                        return rowObject.num1;
                    }
                },
                {
                    label: '安全带', name: 'num2', align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.num2 > 0) {
                            return "<a href=javascript:openSafeTool('安全带')>" + rowObject.num2 + "</a>";
                        }
                        return rowObject.num2;
                    }
                },
                {
                    label: '安全绳', name: 'num3', align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.num3 > 0) {
                            return "<a href=javascript:openSafeTool('安全绳')>" + rowObject.num3 + "</a>";
                        }
                        return rowObject.num3;
                    }
                },
                {
                    label: '登高板', name: 'num4', align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.num4 > 0) {
                            return "<a href=javascript:openSafeTool('登高板')>" + rowObject.num4 + "</a>";
                        }
                        return rowObject.num4;
                    }
                },
                {
                    label: '防护眼睛', name: 'num5', align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.num5 > 0) {
                            return "<a href=javascript:openSafeTool('防护眼睛')>" + rowObject.num5 + "</a>";
                        }
                        return rowObject.num5;
                    }
                },
                {
                    label: '防护面具', name: 'num6', align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.num6 > 0) {
                            return "<a href=javascript:openSafeTool('防护面具')>" + rowObject.num6 + "</a>";
                        }
                        return rowObject.num6;
                    }
                },
                {
                    label: '防毒面具', name: 'num7', align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.num7 > 0) {
                            return "<a href=javascript:openSafeTool('防毒面具')>" + rowObject.num7 + "</a>";
                        }
                        return rowObject.num7;
                    }
                },
                {
                    label: '耐酸手套', name: 'num8', align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.num8 > 0) {
                            return "<a href=javascript:openSafeTool('耐酸手套')>" + rowObject.num8 + "</a>";
                        }
                        return rowObject.num8;
                    }
                },
                {
                    label: '耐酸服', name: 'num9', align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.num9 > 0) {
                            return "<a href=javascript:openSafeTool('耐酸服')>" + rowObject.num9 + "</a>";
                        }
                        return rowObject.num9;
                    }
                },
                {
                    label: '脚扣', name: 'num10', align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.num10 > 0) {
                            return "<a href=javascript:openSafeTool('脚扣')>" + rowObject.num10 + "</a>";
                        }
                        return rowObject.num10;
                    }
                },
                {
                    label: '其他', name: 'num11', align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.num11 > 0) {
                            return "<a href=javascript:openSafeTool('其他')>" + rowObject.num11 + "</a>";
                        }
                        return rowObject.num11;
                    }
                },
                {
                    label: '总计', name: 'Total', align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.Total > 0) {
                            return "<a href=javascript:openSafeTool('')>" + rowObject.Total + "</a>";
                        }
                        return rowObject.Total;
                    }
                }


            ],
            rowNum: 100,
            rownumbers: true
            , gridComplete: function () {

            }
        });
    }

    //安全工器具数量表格
    function binggrid2(queryJson, tid) {
        var $gridTable = $("#" + tid);
        $gridTable.jqGrid({
            url: "../../ToolEquipmentManage/Toolequipment/GetToolStatisticsList",
            postData: { queryJson: JSON.stringify(queryJson) },
            datatype: "json",
            mtype: "post",
            autoheight: true,
            width: $(window).width() - 100,

            colModel: [
                {
                    label: '名称', name: 'EquipmentName', align: 'center', sortable: false
                },
                {
                    label: '绝缘杆', name: 'num1', align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.num1 > 0) {
                            return "<a href=javascript:openSafeTool('绝缘杆')>" + rowObject.num1 + "</a>";
                        }
                        return rowObject.num1;
                    }
                },
                {
                    label: '高压感应验电器', name: 'num2', align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.num2 > 0) {
                            return "<a href=javascript:openSafeTool('高压感应验电器')>" + rowObject.num2 + "</a>";
                        }
                        return rowObject.num2;
                    }
                },
                {
                    label: '绝缘手套', name: 'num3', align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.num3 > 0) {
                            return "<a href=javascript:openSafeTool('绝缘手套')>" + rowObject.num3 + "</a>";
                        }
                        return rowObject.num3;
                    }
                },
                {
                    label: '绝缘靴', name: 'num4', align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.num4 > 0) {
                            return "<a href=javascript:openSafeTool('绝缘靴')>" + rowObject.num4 + "</a>";
                        }
                        return rowObject.num4;
                    }
                },
                {
                    label: '验电笔', name: 'num5', align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.num5 > 0) {
                            return "<a href=javascript:openSafeTool('验电笔')>" + rowObject.num5 + "</a>";
                        }
                        return rowObject.num5;
                    }
                },
                {
                    label: '安全遮拦', name: 'num6', align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.num6 > 0) {
                            return "<a href=javascript:openSafeTool('安全遮拦')>" + rowObject.num6 + "</a>";
                        }
                        return rowObject.num6;
                    }
                },
                {
                    label: '安全标示牌', name: 'num7', align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.num7 > 0) {
                            return "<a href=javascript:openSafeTool('安全标示牌')>" + rowObject.num7 + "</a>";
                        }
                        return rowObject.num7;
                    }
                },
                {
                    label: '接地线', name: 'num8', align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.num8 > 0) {
                            return "<a href=javascript:openSafeTool('接地线')>" + rowObject.num8 + "</a>";
                        }
                        return rowObject.num8;
                    }
                },
                {
                    label: '静电报警器', name: 'num9', align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.num9 > 0) {
                            return "<a href=javascript:openSafeTool('静电报警器')>" + rowObject.num9 + "</a>";
                        }
                        return rowObject.num9;
                    }
                },
                {
                    label: '个人保险绳', name: 'num10', align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.num10 > 0) {
                            return "<a href=javascript:openSafeTool('个人保险绳')>" + rowObject.num10 + "</a>";
                        }
                        return rowObject.num10;
                    }
                },
                {
                    label: '有毒有害可燃气体报警器', name: 'num11', align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.num11 > 0) {
                            return "<a href=javascript:openSafeTool('有毒有害可燃气体报警器')>" + rowObject.num11 + "</a>";
                        }
                        return rowObject.num11;
                    }
                },
                {
                    label: '其他', name: 'num12', align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.num12 > 0) {
                            return "<a href=javascript:openSafeTool('其他')>" + rowObject.num12 + "</a>";
                        }
                        return rowObject.num12;
                    }
                },
                {
                    label: '总计', name: 'Total', align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.Total > 0) {
                            return "<a href=javascript:openSafeTool('')>" + rowObject.Total + "</a>";
                        }
                        return rowObject.Total;
                    }
                }


            ],
            rowNum: 100,
            rownumbers: true
            , gridComplete: function () {

            }
        });
    }

    function openSafeTool(toolname) {
        top.$.cookie('currentmoduleId', "d5a7d6ea-02e9-4cb8-8ec6-7956016f1081", { path: "/" });
        var url = '/ToolEquipmentManage/Toolequipment/SafeTool?toolname=' + toolname + "&equipmenttype=" + statMode;
        var idx = dialogOpen({
            id: 'SafeTool',
            title: '安全工器具列表',
            url: url,
            btns: 1,
            btn: ["关闭"],
            width: ($(top.window).width() - 50) + "px",
            height: ($(top.window).height() - 50) + "px",
            callBack: function (iframeId) {
                top.layer.close(idx);
            }
        });
    }


    function query() {
        StartTime = $("#StartTime").val();
        EndTime = $("#EndTime").val();
        if (statMode == 1) {
            statTJ();
            queryJson = { "StartTime": StartTime, "EndTime": EndTime, "EquipmentType": statMode };
            $("#gridTable1").jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify(queryJson) }, page: 1
            }).trigger('reloadGrid');
        } else if (statMode == 2) {
            statJE();
            queryJson = { "StartTime": StartTime, "EndTime": EndTime, "EquipmentType": statMode };
            $("#gridTable2").jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify(queryJson) }, page: 1
            }).trigger('reloadGrid');
        }


    }

    function reset() {
        //时间
        $("#StartTime").val("");
        $("#EndTime").val("");
        query();
    }
    function exportDataExcel() {
        StartTime = $("#StartTime").val();
        EndTime = $("#EndTime").val();
        $("gridTable1 tr");
        queryJson = { "StartTime": StartTime, "EndTime": EndTime, "EquipmentType": statMode };
        window.location.href = "ExportStatisticsExcel?queryJson=" + JSON.stringify(queryJson);
    }


</script>
<div class="border" id="desktop" style="background: #fff; overflow-y: auto; overflow-x: hidden;">
    <div style="margin-top: 10px;">
        <div class="row">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 5%; padding-left: 30px;">时间范围：<font face="宋体"></font></td>
                    <td style="width: 10%;padding-left: 5px;">
                        <input id="StartTime" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" />
                    </td>
                    <td style="width: 2%; padding-left: 15px;"><span>至</span></td>
                    <td style="width: 10%; padding-left: 5px;">
                        <input id="EndTime" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" />
                    </td>
                    <td style="padding-left:30px">
                        <a id="btn_Search" class="btn btn-primary" onclick="query()"><i class="fa fa-search"></i>&nbsp;查询</a>
                        &nbsp;<a id="btn_Reset" class="btn btn-primary" onclick="reset()"><i class="fa fa-undo"></i>&nbsp;重置</a>
                        &nbsp;<a id="btn_export" class="btn btn-primary" onclick="exportDataExcel()"><i class="fa fa-undo"></i>&nbsp;导出</a>
                    </td>
                    <td align="right">
                        <div class="toolbar">
                            <div class="btn-group">
                                <button id="dcnb" class="btn btn-primary btn10" type="button" onclick="statDC();"><i class="fa fa-bar-chart"></i>&nbsp;电气安全工器具</button>
                            </div>
                            <div class="btn-group">
                                <button id="btntj" class="btn btn-primary btn10" type="button" onclick="statYW();"><i class="fa fa-bar-chart"></i>&nbsp;机械、化学安全工器具</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

        </div>

    </div>

    <div id="divTJ">
        <div class="panel panel-default" style="margin-top: 10px;">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;统计图表</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <div id="tjcontainer" style="margin: 10px;"></div>
            </div>
        </div>
        <div class="row" id="grid1">
            <div class="panel panel-default" style="margin: 10px;">
                <div class="panel-heading">
                    <strong>&nbsp;&nbsp;统计数据</strong>
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" title="展开/收起"></a>
                    </span>
                </div>
                <div class="panel-body">
                    <table id="gridTable1" title="安全工器具"></table>
                </div>
            </div>
        </div>
        <div class="row" id="grid2">
            <div class="panel panel-default" style="margin: 10px;">
                <div class="panel-heading">
                    <strong>&nbsp;&nbsp;统计数据</strong>
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" title="展开/收起"></a>
                    </span>
                </div>
                <div class="panel-body">
                    <table id="gridTable2" title="安全工器具"></table>
                </div>
            </div>
        </div>
    </div>
</div>

