@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>

<script type="text/javascript">
    var actiontype = request("actiontype");
    var ID = request("ID");
    var POINTS = request("POINTS");
    var MONEY = request("MONEY");
    var USERID = request("USERID");
    var USERNAME = request("USERNAME");
    var DEPTNAME = request("DEPTNAME");
    var DEPTID = request("DEPTID");
    var curUserId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().UserId";
    var curUserName = "@ERCHTMS.Code.OperatorProvider.Provider.Current().UserName";
    var curDeptId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptId";
    var curDeptName = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptName";
    $(function () {
        $("#POINTS").val(0);
        $("#MONEY").val(0);

        if (!!actiontype) {
            $("#ID").val(ID);
            $("#POINTS").val(POINTS);
            $("#MONEY").val(MONEY);
            $("#USERID").val(USERID);
            $("#USERNAME").val(USERNAME);
            $("#DEPTNAME").val(DEPTNAME);
            $("#DEPTID").val(DEPTID);
        }

    });


    //奖励信息回调
    function CallAward(dlg, callFormId) {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize();
        top.document.getElementById(callFormId).contentWindow.insertaward(postData);
        top.layer.close(dlg);
    }

    //编辑奖励信息
    function CallEditAward(dlg, callFormId, selobj) {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize();
        postData["ID"] = ID;
        top.document.getElementById(callFormId).contentWindow.updateaward(postData, selobj);
        top.layer.close(dlg);
    }
</script>

<div class="center-Panel" style="margin-top:5px;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;违章奖励信息</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <div style="margin-right: 30px;">
                <table class="form">
                    <tr>
                        <td class="formTitle"><label style="white-space:pre-wrap;">奖励人员</label><span style="color:red;">*</span></td>
                        <td class="formValue">
                            <input id="USERNAME" type="text" class="form-control" isvalid="yes" style="width:95%" readonly onclick="selectMuchUser({ deptId: '', checkMode: 0, mode: 0, winObject: window.document.body, domId: 'USERNAME|0,USERID|2,DEPTID|3,DEPTNAME|5', controlObj: '', clearObj: '' });" checkexpession="NotNull" errormsg="奖励人员" />
                            <input id="USERID" class="form-control" type="hidden" />
                            <input id="ID" class="form-control" type="hidden" />
                        </td>
                        <td class="formTitle"><label style="white-space:pre-wrap;">奖励人员单位</label></td>
                        <td class="formValue">
                            <input id="DEPTNAME" type="text" class="form-control" isvalid="yes" style="width:95%" readonly />
                            <input id="DEPTID" class="form-control" type="hidden" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">奖励积分</td>
                        <td class="formValue">
                            <span style="float:left; width:90%"><input id="POINTS" type="text" class="form-control" isvalid="yes" checkexpession="PositiveNumOrNull" errormsg="奖励积分" /></span>
                            <span style="float:left;line-height:28px;margin-left:5px;">分</span>
                        </td>
                        <td class="formTitle">奖励金额</td>
                        <td class="formValue">
                            <span style="float:left; width:90%"><input id="MONEY" type="text" class="form-control" isvalid="yes" checkexpession="TwoPositiveDoubleOrNull" errormsg="奖励金额" /></span>
                            <span style="float:left;line-height:28px;margin-left:5px;">元</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>