@{
    ViewBag.Title = "违章人员扣分信息";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
<script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script src="~/Content/scripts/business/Common.js"></script>
<script src="~/Content/scripts/business/Grid.js"></script>
<script>
    var DeptId = request("DeptId");
    var Year = request("Year");
    var mode = request("mode");
    //加载页面
    $(function () {

        mode = !!mode ? mode : "history";
       
        //页面初始化
        InitialPage();
        //加载列表
        var arrCol = new Array();
        arrCol.push(
        { label: '单位', name: 'deptname', index: 'deptname', align: 'center', sortable: true },
        { label: '姓名', name: 'realname', index: 'realname', align: 'center', sortable: true });
        if (mode == "history")
        {
            arrCol.push({ label: '考核次数', name: 'wznum', index: 'wznum', align: 'center', sortable: true });
        }
        else
        {  //本年度  违章积分低于8分的人员
            arrCol.push({
                label: '考核次数', name: 'wznum', index: 'wznum', align: 'center', sortable: true,
                formatter: function (cellvalue, options, rowObject) {
                    var rval = !!cellvalue ? cellvalue : 0;
                    if (rval > 0) {
                        rval = "<a style='color:#1688f5;text-decoration:underline;' href=javascript:GoList('" + rowObject.organizeid + "','" + rowObject.userid + "')>" + rowObject.wznum + "</a>";
                    }
                    return rval;
                }
            });
        }
        arrCol.push({ label: '违章扣分', name: 'lllegalpoint', index: 'lllegalpoint', align: 'center', sortable: true },
        { label: '奖励积分', name: 'points', index: 'points', align: 'center', sortable: true },
        {
            label: '违章积分', name: 'personscore', index: 'personscore', align: 'center', sortable: true
        });
        GetGrid("../../LllegalManage/LllegalRegister/GetPersonWzInfo?mode=" + mode + "&DeptId=" + DeptId + "&Year=" + Year, arrCol, "asc", "personscore", false, false, $(window).height() - 170, 40)
    });

    //初始化页面
    function InitialPage() {
        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 108.5);
            }, 200);
            e.stopPropagation();
        });
    }


    //跳转到指定的列表页面
    function GoList(orgid,qval) {
        var url = "";
        var title = "违章列表";
        url = "/LllegalManage/LllegalRegister/SdIndex?wzorgid=" + orgid + "&wzperson=" + qval +  "&action=UnderEight&layerId=GoList";

        var idx = dialogOpen({
            id: 'GoList',
            title: title,
            url: url,
            btns: 1,
            btn: ["关闭"],
            width: ($(top.window).width() - 100) + "px",
            height: ($(top.window).height() - 100) + "px",
            callBack: function (iframeId) {
                top.layer.close(idx);
            }
        });
    }

</script>

<div class="titlePanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>刷新</a>
        </div>
    </div>
</div>
<div class="gridPanel">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>
