@{
    ViewBag.Title = "违章人员扣分信息";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
<script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script src="~/Content/scripts/business/Common.js"></script>
<script src="~/Content/scripts/business/Grid.js"></script>
<script>
    var DeptId = request("DeptId");
    var Year = request("Year");
    //加载页面
    $(function () {
        //页面初始化
        InitialPage();
        //加载列表
        var arrCol = new Array();
        arrCol.push(
        { label: '单位', name: 'deptname', index: 'deptname', align: 'center', sortable: true },
        { label: '姓名', name: 'realname', index: 'realname', align: 'center', sortable: true },
        { label: '考核次数', name: 'wznum', index: 'wznum', align: 'center', sortable: true },
        { label: '违章扣分', name: 'lllegalpoint', index: 'lllegalpoint', align: 'center', sortable: true },
        { label: '奖励积分', name: 'points', index: 'points', align: 'center', sortable: true },
        {
            label: '违章积分', name: 'personscore', index: 'personscore', align: 'center', sortable: true
        });
        GetGrid("../../LllegalManage/LllegalRegister/GetPersonWzInfo?DeptId=" + DeptId + "&Year=" + Year, arrCol, "desc", "realname", false, false, $(window).height() - 170, 40)
    });

    //初始化页面
    function InitialPage() {
        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 108.5);
            }, 200);
            e.stopPropagation();
        });
    }


    //查看视图
    function historyRecord() {
        dialogOpen({
            id: 'HistoryForm',
            title: "查看历史积分记录",
            url: "/LllegalManage/LllegalRegister/IntergralPersonHistory?DeptId=" + DeptId,
            width: ($(top.window).width() - 100) + "px",
            height: ($(top.window).height() - 100) + "px",
            btn: null
        });
    }
</script>

<div class="titlePanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-default" onclick="historyRecord()"><i class="fa fa-search"></i>历史记录</a>
            <a class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>刷新</a>
        </div>
    </div>
</div>
<div class="gridPanel">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>
