@{
    ViewBag.Title = "安全检查统计";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<!--第三方统计图start-->
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>
<script src="~/Content/Scripts/plugins/highcharts/highcharts.js"></script>
<script src="~/Content/Scripts/plugins/highcharts/highcharts-more.js"></script>
<script src="~/Content/Scripts/plugins/highcharts/modules/exporting.js"></script>

<style type="text/css">
    .dropdown-menu > li > a:active {
        color: rgb(38, 38, 38);
        background-color: transparent;
        text-decoration: none;
    }       
    .titlePanel .toolbar i{color:#666666;} 
    .titlePanel .toolbar .btn-primary i{color:#fff;}
    .ui-row-ltr a{padding-left:0px;}
</style>
<script src="~/Content/scripts/business/Common.js"></script>
<!--第三方统计图end-->
<script>
    var state = 1;
    var firstState = 1;
    var deptCode = "@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeCode";
    var deptId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeId";
    var ctype = ""; var belongdistrict = ""; var year = ""; var owndeptcode = "";
    var roleNames = "@ERCHTMS.Code.OperatorProvider.Provider.Current().RoleName";
    $(function () {
        InitialPage();
        stat1();
        GetGrid1();
    });
    //初始化
    function InitialPage() {
        $('#layout').layout({
            applyDemoStyles: true,
            onresize: function () {
                $(window).resize()
            }
        });
        
        $("#btn_Export").click(function () {
            ExportNumber();
        });
    }
    function getQueryJson() {
        var queryJson = {
            startDate: $("#StartDate").val(),
            endDate: $("#EndDate").val()
        };
        return queryJson;
    }
    function ExportNumber() {
        var queryJson = JSON.stringify(getQueryJson());
        var url = "";
        if (state == 1){
            url = "../../SaftyCheck/SaftyCheckStatistics/ExportNumber1?queryJson=" + queryJson;
        } else if(state==2){
            url = "../../SaftyCheck/SaftyCheckStatistics/ExportNumber1?queryJson=" + queryJson;
        }
        else if(state==3){
            url = "../../SaftyCheck/SaftyCheckStatistics/ExportNumber3?queryJson=" + queryJson;
        }
        if(url!="")
            window.location.href = url;
    }

    //检查任务次数统计
    function stat1() {
        $.get("getCheckTaskCount", getQueryJson(), function (data) {
            var json = eval("(" + data + ")");
            $('#tjcontainer').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: '安全检查任务次数统计图'
                },
                xAxis: {
                    categories: json.y
                },
                yAxis: {
                    allowDecimals: false,
                    min: 0,
                    title: {
                        text: '数量（个）'
                    },
                    labels: {
                        formatter: function () {
                            return this.value + '个'
                        }
                    },
                    stackLabels: {
                        enabled: true,
                        style: {
                            fontWeight: 'bold',
                            color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                        }
                    }
                },
                exporting: {
                    enabled: false
                },
                credits: {
                    enabled: false
                },
                tooltip: {
                    crosshairs: true,
                    shared: true
                },
                plotOptions: {
                    column: {
                        stacking: 'normal',
                        dataLabels: {
                            enabled: true,
                            color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                            style: {
                                textShadow: '0 0 3px black'
                            }
                        }
                    }
                },
                series: json.x
                , lang: { noData: "暂无数据可显示!" },
                noData: {
                    position: {
                        align: 'center',
                        verticalAlign: 'middle'
                    },
                    attr: {
                        'stroke-width': 1
                    },
                    style: {
                        fontWeight: 'bold',
                        fontSize: '15px',
                        color: '#202030'
                    }
                }
            });
        });
    }
    //统计图
    function stat() {        
        
    }
    //绑定列表
    function GetGrid1() {
        var $gridTable = $("#gridTable1");
            $gridTable.jqGrid({
                url: "../../SaftyCheck/SaftyCheckStatistics/getCheckTaskData",
                postData: { startDate:$("#StartDate").val(),endDate:$("#EndDate").val() },
                datatype: "json",
                mtype: "post",
                height: 400,
                autowidth: true,
                colModel: [
                    
                    {
                        label: '检查单位', name: 'deptname', align: 'center'
                        
                    },
                    {
                        label: '专项安全检查', name: 'zx', align: 'center',
                        formatter: function (cellvalue, options, rowObject) {
                            var rval = rowObject.zx;
                            if (rval > 0) {
                                rval = "<a style='color:#1688f5;text-decoration:underline;' href=javascript:GoSafetyCheckList('" + rowObject.deptcode + "',2)>" + rowObject.zx + "</a>";
                            }
                            return rval;
                        }
                    },
                    {
                        label: '季节性安全检查', name: 'jj', align: 'center',
                        formatter: function (cellvalue, options, rowObject) {
                            var rval = rowObject.jj;
                            if (rval > 0) {
                                rval = "<a style='color:#1688f5;text-decoration:underline;' href=javascript:GoSafetyCheckList('" + rowObject.deptcode + "',3)>" + rowObject.jj + "</a>";
                            }
                            return rval;
                        }
                    },
                    {
                        label: '节假日前后安全检查', name: 'jjr', align: 'center',
                        formatter: function (cellvalue, options, rowObject) {
                            var rval = rowObject.jjr;
                            if (rval > 0) {
                                rval = "<a style='color:#1688f5;text-decoration:underline;' href=javascript:GoSafetyCheckList('" + rowObject.deptcode + "',4)>" + rowObject.jjr + "</a>";
                            }
                            return rval;
                        }
                    },
                    {
                        label: '综合安全检查', name: 'zh', align: 'center',
                        formatter: function (cellvalue, options, rowObject) {
                            var rval = rowObject.zh;
                            if (rval > 0) {
                                rval = "<a style='color:#1688f5;text-decoration:underline;' href=javascript:GoSafetyCheckList('" + rowObject.deptcode + "',5)>" + rowObject.zh + "</a>";
                            }
                            return rval;
                        }
                    },
                     
                ],
                rowNum: 100,
                rownumbers: true,
                gridComplete: function () {
                }
            });
    }
    function binggridDB(deptCode, ctype, year, belongdistrict, tid) {
        var $gridTable = $("#" + tid);
        var data = $gridTable.jqGrid("getGridParam", "data");
        if (!!data) {
            $gridTable.jqGrid('setGridParam', {
                postData: { deptCode: deptCode, year: year, ctype: ctype, belongdistrict: belongdistrict }, page: 1
            }).trigger('reloadGrid');
        }
        else {
            $gridTable.jqGrid({
                url: "../../SaftyCheck/SaftyCheckStatistics/GetGrpSaftyListDB",
                postData: { deptCode: deptCode, year: year, ctype: ctype, belongdistrict: belongdistrict },
                datatype: "json",
                mtype: "post",
                height: 400,
                autowidth: true,
                colModel: [
                    { label: '部门', name: 'month', align: 'center' },
                     {
                         label: '日常安全检查', name: 'rc', align: 'center',
                         formatter: function (cellvalue, options, rowObject) {
                             var rval = rowObject.rc;
                             if (rval > 0) {
                                 rval = "<a style='color:#1688f5;text-decoration:underline;' href=javascript:GoSafetyCheckList(1,'" + rowObject.deptcode + "','日常安全检查')>" + rowObject.rc + "</a>";
                             }
                             return rval;
                         }
                     },
                    {
                        label: '专项安全检查', name: 'zx', align: 'center',
                        formatter: function (cellvalue, options, rowObject) {
                            var rval = rowObject.zx;
                            if (rval > 0) {
                                rval = "<a style='color:#1688f5;text-decoration:underline;' href=javascript:GoSafetyCheckList(1,'" + rowObject.deptcode + "','专项安全检查')>" + rowObject.zx + "</a>";
                            }
                            return rval;
                        }
                    },
                    {
                        label: '季节性安全检查', name: 'jj', align: 'center',
                        formatter: function (cellvalue, options, rowObject) {
                            var rval = rowObject.jj;
                            if (rval > 0) {
                                rval = "<a style='color:#1688f5;text-decoration:underline;' href=javascript:GoSafetyCheckList(1,'" + rowObject.deptcode + "','季节性安全检查')>" + rowObject.jj + "</a>";
                            }
                            return rval;
                        }
                    },
                    {
                        label: '节假日前后安全检查', name: 'jjr', align: 'center',
                        formatter: function (cellvalue, options, rowObject) {
                            var rval = rowObject.jjr;
                            if (rval > 0) {
                                rval = "<a style='color:#1688f5;text-decoration:underline;' href=javascript:GoSafetyCheckList(1,'" + rowObject.deptcode + "','节假日前后安全检查')>" + rowObject.jjr + "</a>";
                            }
                            return rval;
                        }
                    },
                    {
                        label: '综合安全检查', name: 'zh', align: 'center',
                        formatter: function (cellvalue, options, rowObject) {
                            var rval = rowObject.zh;
                            if (rval > 0) {
                                rval = "<a style='color:#1688f5;text-decoration:underline;' href=javascript:GoSafetyCheckList(1,'" + rowObject.deptcode + "','综合安全检查')>" + rowObject.zh + "</a>";
                            }
                            return rval;
                        }
                    },
                    {
                        label: '省公司安全检查', name: 'sj', align: 'center',
                        formatter: function (cellvalue, options, rowObject) {
                            var rval = rowObject.sj;
                            if (rval > 0) {
                                rval = "<a style='color:#1688f5;text-decoration:underline;' href=javascript:GoSafetyCheckList(1,'" + rowObject.deptid + "','省公司安全检查')>" + rowObject.sj + "</a>";
                            }
                            return rval;
                        }
                    },
                    {
                        label: '检查次数', name: 'sum', align: 'center',
                        formatter: function (cellvalue, options, rowObject) {
                            var rval = rowObject.sum;
                            if (rval > 0) {
                                //rval = "<a style='color:#1688f5;text-decoration:underline;' href=javascript:GoSafetyCheckList(1,'" + rowObject.deptcode + "','')>" + rowObject.sum + "</a>";
                            }
                            return rval;
                        }
                    }
                ],
                rowNum: 100,
                rownumbers: true,
                gridComplete: function () {

                }
            });
        }
    }

    //读取检查内容列表
    function GoSafetyCheckList(deptCode,qtype) {
        var url = '/SaftyCheck/SaftyCheckDataRecord/IndexView?mode=2&code=' + deptCode + '&ctype=' + qtype + '&t1=' + $("#StartDate").val() + "&t2=" + $("#EndDate").val();
        
        var idx = dialogOpen({
            id: 'CheckWindow',
            title: '安全检查列表',
            url: url,
            btns: 1,
            btn: ["关闭"],
            width: ($(top.window).width() - 100) + "px",
            height: ($(top.window).height() - 50) + "px",
            callBack: function (iframeId) {
                top.layer.close(idx);
            }
        });
    }

    //跳转到指定模块菜单
    function OpenNav(Navid) {
        top.$("#nav").find('a#' + Navid).trigger("click");
    }
    function query() {
        if (state == 1) {
            statTJ();
        }
        if (state == 2) {
            statQS();
        }
        if (state == 3) {
            statDB();
        }
    }
    function reset() {
        //时间范围
        var curTime = $("#TimeScope-option li:eq(0)").attr("data-value");
        $("#TimeScope").ComboBoxSetValue(curTime);
        $("#TimeScope").attr("data-text", curTime);
        $("#TimeScope").attr("data-value", curTime);
        //区域范围
        $("#BelongDistrictID").find("div").html("==请选择==");
        $("#BelongDistrictID").find("div").attr("style", "color:#999;")
        $("#BelongDistrictID").removeAttr("data-text");
        $("#BelongDistrictID").removeAttr("data-value");
        $("#BelongDistrictID").removeAttr("data-code");
        $("#BelongDistrictID").removeAttr("data-dept");
        //检查类型
        $("button[data-id='SaftyCheckType']").removeClass().addClass("btn dropdown-toggle btn-default bs-placeholder");
        $("button[data-id='SaftyCheckType']").attr("title", "请选择");
        $("button[data-id='SaftyCheckType'] span:eq(0)").text("请选择");
        ctype = "";
        $("button[data-id='SaftyCheckType']").next().find("ul li").each(function (index, ele) {
            $(this).removeClass();
        });
        //单位
        $("#DeptCode").val(""); $("#DeptName").val("");
        $("#checkDeptType").val("");

        query();
    }
</script>
<div class="ui-layout"style="height: 100%; width: 100%;" id="layout">
     
    <div class="ui-layout-center">
        <div class="center-Panel">
            <div class="titlePanel">
                <div style="margin-top: 10px;">
                    <div class="row">
                        <table style="width: 100%;" class="queryform">
                            <tr>
                                
                                <td style="padding-left: 10px;width:100px;" align="right">时间范围：</td>
                                <td style="padding-left: 5px;width:120px;">
                                    <input id="StartDate" type="text" style="width:100px;" class="form-control input-wdatepicker require1" onfocus="WdatePicker()" />
                                  
                                </td>
                                <td style="width:10px;">-</td>
                               <td style="padding-left: 5px;width:120px;">
                                    <input id="EndDate" type="text" style="width:100px;"  class="form-control input-wdatepicker require1" onfocus="WdatePicker()" />
                                </td>
                                <td>
                                    <a id="btn_Search" class="btn btn-primary" onclick="query()"><i class="fa fa-search"></i>&nbsp;查询</a>
                                    &nbsp;<a id="btn_Reset" class="btn btn-primary" onclick="reset()"><i class="fa fa-undo"></i>&nbsp;重置</a>
                                    &nbsp;<a id="btn_Export" class="btn btn-primary"><i class="fa fa-undo"></i>&nbsp;导出</a>
                                </td>
                                <td align="right">
                                    <div class="toolbar">
                                        <div class="btn-group">
                                            <button id="btntj" class="btn btn-primary btn10" type="button" onclick="state = 1; $('#divTJ').show(); $('#divQS').hide(); $('#divDB').hide(); $('.btn10').removeClass('btn-primary'); $('.btn10').addClass('btn-default'); $(this).addClass('btn-primary'); query();"><i class="fa fa fa-pie-chart"></i>&nbsp;按次数统计</button>
                                            @*<button id="btnqs" class="btn btn-default btn10" type="button" onclick="state = 2; $('#divQS').show(); $('#divTJ').hide(); $('#divDB').hide(); $('.btn10').removeClass('btn-primary'); $('.btn10').addClass('btn-default'); $(this).addClass('btn-primary'); query();"><i class="fa fa fa-area-chart"></i>&nbsp;按完成情况统计</button>*@

                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
          

            <div id="divTJ">
                <div class="panel panel-default" style="margin-top: 10px;">
                    <div class="panel-heading">
                        <strong>&nbsp;&nbsp;统计图表</strong>
                        <span class="tools pull-right">
                            <a class="fa fa-chevron-down" title="展开/收起"></a>
                        </span>
                    </div>
                    <div class="panel-body">
                        <div id="tjcontainer" style="margin: 10px;"></div>
                    </div>
                </div>                
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>&nbsp;&nbsp;统计数据</strong>
                        <span class="tools pull-right">
                            <a class="fa fa-chevron-down" title="展开/收起"></a>
                        </span>
                    </div>
                    <div class="panel-body">
                        <table id="gridTable1" style="width:95%;"></table>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>

