@{
    ViewBag.Title = "GradeSum";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var planid = request('planid');//计划id
    var chaperid = request('chaperid');//大项节点id
    var win = top.ScoreForm.window;

    $(function () {
        $.ajax({
            url: '../../AssessmentManage/AssessmentSum/GetSummarizeInfo',
            data: { planid: planid, chaperid: chaperid },
            dataType: "JSON",
            async: false,
            success: function (data) {
                if (data != null || data != undefined) {
                    $("#sp1").html(data[0].chaptersname);
                    $("#sp2").html(data[0].describe);
                    $("#summarize").val(data[0].selfsum);
                }
            }
        });
    })


    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        $.SaveForm({
            url: "../../AssessmentManage/AssessmentSum/SaveSelfSumInfo?planid=" + planid + "&chaperid=" + chaperid + "&selfsum=" + $("#summarize").val(),
            param: { __RequestVerificationToken: $("input[name='__RequestVerificationToken']").val() },
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
                win.initControl(chaperid);
                win.linkButton(chaperid);
            }
        })
    }
</script>
<div style="margin: 0px; margin-top: 20px; background-color: white; margin-left: 20px;margin-right:20px;">
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="form">
                <tr>
                    <td class="formTitle">一级要素</td>
                    <td class="formValue" colspan="3">
                        <span id="sp1"></span>
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">得分情况</td>
                    <td class="formValue" colspan="3">
                        <span id="sp2"></span>
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">自评总结<font face="宋体">*</font></td>
                    <td class="formValue" colspan='3'>
                        <textarea id="summarize" class="form-control" isvalid="yes" checkexpession="NotNull" style="min-height: 120px;"></textarea>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>