@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<link rel="stylesheet" href="~/Content/scripts/plugins/combo-select/combo.select.css">
<script src="~/Content/scripts/plugins/combo-select/jquery.combo.select.js"></script>  
<script type="text/javascript">
    $(function () {
        $('select').comboSelect();
    });
</script>
<select id="CertName">
    <option value=''></option>
    <option value='01'>特种作业操作证</option>
    <option value='02'>特种设备作业人员证</option>
</select>
