@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<!--webUploader文件上传组件-->
<link href="~/content/scripts/plugins/webuploader/webuploader.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/webuploader/webuploader-demo.css" rel="stylesheet" />
<script type="text/javascript" src="~/content/scripts/plugins/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/fileupload.js"></script>
<script type="text/javascript">
    var keyValue = request('keyValue');
    $(function () {
        initControl();
    });
    //初始化控件
    function initControl() {
       
        keyValue = keyValue.length == 0 ? newGuid() : keyValue;
        file_upload.init({
            keyValue: keyValue, fileNumLimit: 4,multiple:true, extensions: 'jpg,gif,bmp,png', isImage: true, el: '#uploader'
        });
        file_upload.bindFiles(false, true, keyValue, "uploader", false);
    }
</script>
<div style="margin: 10px;">
                <div id="uploader" class="uploader" style="border:1px solid #ccc; margin-top:10px; min-height:200px; margin-bottom:10px;">
                    <div class="queueList" style="padding-top:10px;">
                        <div id="dndArea" class="placeholder">
                            <div class="filePicker" style="margin-left:25px; margin-top:10px;"></div>
                        </div>
                    </div>
                    <div class="statusBar" style="display:none;">
                        <div class="progress">
                            <span class="text">0%</span>
                            <span class="percentage"></span>
                        </div>
                        <div class="info"></div>
                    </div>
                </div>
              
</div>
