@{
    ViewBag.Title = "化学品安全技术说明书";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
<script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script src="~/Content/scripts/business/Common.js"></script>
<script src="~/Content/scripts/business/Grid.js"></script>
<script>
    var _parentId = "";
    var _isOrg = "";
    var IsDanger = "";
    var type = request("type");
    var showAction = true;
    if (type == "select")
        showAction = false
    //加载页面
    $(function () {
        //页面初始化
        InitialPage();
        if (showAction)
            LoadToolBar();
        //加载列表
        var arrCol = new Array();
        arrCol.push(
        { label: 'id', name: 'id', index: 'id', align: 'center', sortable: true, hidden: true },
        { label: 'hxpaqsms', name: 'hxpaqsms', index: 'hxpaqsms', align: 'center', sortable: true, hidden: true },
        {
            label: '化学品安全技术说明书', name: 'sms', index: 'sms', align: 'center', sortable: true,
            formatter: function (cellvalue, options, rowObject) {
                return rowObject.hxpaqsms;
            }
        },
        {
            label: '下载', name: 'sms', index: 'sms', align: 'center', sortable: true, width: 50,
            formatter: function (cellvalue, options, rowObject) {
                return '<a href="../../PublicInfoManage/ResourceFile/DownloadFile?keyValue=-1&filename=' + rowObject.hxpaqsms + '.doc"  style="cursor:pointer" title="下载文件"><i class="fa fa-download"></i></a>';
            }
        }
        );
        GetGrid("../../HazardsourceManage/Aqsms/GetPageListJson", arrCol, "desc", "createdate", showAction, true, $(window).height() - 170, 40);
    });
    //初始化页面
    function InitialPage() {
        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 108.5);
            }, 200);
            e.stopPropagation();
        });
    }

    //加载搜索条件
    function GetQueryJson() {
        var queryJson = {
            Hxpaqsms: $("#Hxpaqsms").val(),
            code: _parentId,
            isOrg: _isOrg
        }
        return queryJson;
    }
    function AcceptClick(options) {

        var winObject = options.winObject;
        var domId = options.domId;//传参获取的ID
        var checkmode = options.checkMode;
        var selVal = new Array();//获取的返回值

        if (winObject != undefined && domId != undefined) {
            if (domId.length > 0) {
                var rowNow = $('#gridTable').jqGrid('getRowData');
                var rowObject = $('#gridTable').jqGrid("getRowData", selectedRowIndex);
                if (selectedRowIndex <= 0) {
                    dialogAlert("请选择一条记录！", 2);
                    return;
                }
                //遍历获取数据
                var ids = domId.split(',');
                //当前选中行的id集合
                var arr = $("#gridTable").jqGrid("getGridParam", "selarrrow");

                //var arr = $('#gridTable').jqGrid("getRowData");
                //单选
                for (var i = 0; i < ids.length; i++) {
                    var dom = $(winObject).find("#" + ids[i]).eq(0);
                    if (dom != undefined) {
                        dom.val(rowObject[ids[i]]);
                        //标记特殊只插入一次数据
                        if (ids[i] == "hxpaqsms") {
                            var grid = $(winObject).find("#gridTableSMS").eq(0);
                            var row = grid.jqGrid('getRowData');
                            //多选时
                            if (checkmode == 1) {
                                //列插入多次
                                for (var j = 0; j < arr.length; j++) {
                                    //重新定义grid
                                    grid = $(winObject).find("#gridTableSMS").eq(0);
                                    row = grid.jqGrid('getRowData');
                                    for (var m = 0; m < rowNow.length; m++) {
                                        //选中的时候
                                        if (rowNow[m].id == arr[j]) {
                                            grid.addRowData(row.length, { id: arr[j], name: rowNow[m].hxpaqsms });
                                        }
                                    }
                                }
                            }
                                
                            else {
                                grid.addRowData(row.length, { id: rowObject.id, name: rowObject[ids[i]] });

                            }
                            //去除无数据显示
                            var unwritten = $(winObject).find(".unwritten").eq(0);
                            unwritten.html("");
                        }


                    }
                }

            }
            if (options.callBack) {
                options.callBack();
            }
            dialogClose();
        }

    }

</script>

<div class="titlePanel">
    <div class="title-search">
        <table>
            <tr>
                <td>化学品安全技术说明书:</td>
                <td style="padding-left: 10px;">
                    <input id="Nofilter" value="Nofilter" type="hidden">
                    <input id="Hxpaqsms" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 180px;" />
                </td>
                <td class="formValue">
                    <div class="ui-filter-list-bottom">
                        <a id="btn_Search" class="btn btn-primary">&nbsp;查&nbsp;&nbsp;询</a>

                    </div>
                </td>
            </tr>
        </table>
    </div>



    <div class="toolbar" id="divToolBar">

    </div>
</div>
<div class="gridPanel">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>
