@{
    ViewBag.Title = "开工申请";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
;
    $(function () {
        InitialPage();
        GetGrid();
    });
    //初始化页面
    function InitialPage() {
        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 150);
            }, 200);
            e.stopPropagation();
        });
    }
    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() - 150,
            url: "../../OutsourcingProject/StartProjectCheckController/GetStartProjectPageListJson",
            datatype: "json",
            colModel: [
                { label: 'ID', name: 'ID', index: 'ID', width: 80, align: 'center',sortable: false ,hidden: true },
                { label: '外包工程', name: 'OUTSOURCINGNAME', index: 'OUTSOURCINGNAME', width: 400, align: 'center',sortable: false  },
                { label: '外包单位', name: 'SERVICESSTARTTIME', index: 'SERVICESSTARTTIME', width: 220, align: 'center',sortable: false  },
                { label: '发包部门', name: 'SERVICESENDTIME', index: 'SERVICESENDTIME', width: 220, align: 'center',sortable: false  },
                { label: '申请类型', name: 'OUTORIN', index: 'OUTORIN', width: 150, align: 'center',sortable: false  },
                { label: '申请单号', name: 'LEGALREP', index: 'LEGALREP', width: 150, align: 'center',sortable: false  },
                { label: '申请人', name: 'LEGALREPPHONE', index: 'LEGALREPPHONE', width: 150, align: 'center', sortable: false },
                { label: '申请开工时间', name: 'LEGALREPPHONE', index: 'LEGALREPPHONE', width: 150, align: 'center', sortable: true },
                { label: '审核结果', name: 'LEGALREPPHONE', index: 'LEGALREPPHONE', width: 150, align: 'center', sortable: false }],
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);
            },
            viewrecords: true,
            rowNum: 15,
            rowList: [15, 30, 50],
            pager: "#gridPager",
            sortname: 'createdate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true
        });
    }
    //新增
    function btn_add() {
        dialogOpen({
            id: 'Form',
            title: '添加外包单位基础信息表',
            url: '/OutsourcingProject/StartProjectCheck/StartProjectFrom',
            width: "900px",
            height: ($(top.window).height() - 150) + "px",
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
            },
            btn: null
        });
    }
    //编辑
    function btn_edit() {
        var keyValue = $('#gridTable').jqGridRowValue('ID');
        if (checkedRow(keyValue)) {
            dialogOpen({
                id: 'Form',
                title: '编辑外包单位基础信息表',
                url: '/OutsourcingProject/StartProjectCheck/StartProjectFrom?keyValue=' + keyValue,
                width: "900px",
                height: ($(top.window).height() - 150) + "px",
                callBack: function (iframeId) {
                    top.frames[iframeId].AcceptClick();
                },
                btn: null
            })
        }
    }
    //删除
    function btn_delete() {
        var keyValue = $('#gridTable').jqGridRowValue('ID');
        if (keyValue) {
            $.RemoveForm({
                url: '../../OutsourcingProject/Outsourcingproject/RemoveForm',
                param: { keyValue: keyValue },
                success: function (data) {
                    $('#gridTable').trigger('reloadGrid');
                }
            })
        } else {
            dialogMsg('请选择需要删除的外包单位基础信息表！', 0);
        }
    }
</script>
<div class="titlePanel">
    <div class="title-search">
        <table>
            <tr>
                <td>
                    时间范围：
                </td>
                <td>
                    <input id="sTime" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
                </td>
                <td style="padding-left:5px;">至</td>
                <td style="padding-left:5px;">
                    <input id="eTime" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
                </td>
                <td style="padding-left:20px;">
                    标题：
                </td>
                <td>
                    <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;" />
                </td>
                <td style="padding-left: 5px;">
                    <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>查询</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="toolbar">
        <div class="btn-group">
            <a id="replace" class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>刷新</a>
            <a id="replace" class="btn btn-default" onclick="btn_add()"><i class="fa fa-refresh"></i>开工申请</a>
            <a id="replace" class="btn btn-default" onclick="btn_edit()"><i class="fa fa-refresh"></i>审核</a>
            <a id="edit" class="btn btn-default" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>查看</a>

        </div>
    </div>
</div>
<div class="gridPanel">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>
