@{
    ViewBag.Title = "开工申请/审核";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
<script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/common.js"></script>
<!--webUploader文件上传组件-->
<link href="~/content/scripts/plugins/webuploader/webuploader.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/webuploader/webuploader-demo.css" rel="stylesheet" />
<script type="text/javascript" src="~/content/scripts/plugins/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/fileupload.js"></script>

<script type="text/javascript">

    var FilesId = request('FilesId');

    $(function () {
        initPage();
    })

    function initPage()
    {
        ComBoxForData("PLANTYPE", "MAE_PlanType");


        FilesId = FilesId.length == 0 ? "@Guid.NewGuid().ToString()" : FilesId;
        file_upload.init({
            keyValue: "1222", fileNumLimit: 1, extensions: 'pdf,doc,docx,zip,rar', isImage: false
        });
    }
</script>

<div style="margin-left: 10px; margin-right: 10px;">

    <div style="margin-top:5px;margin-bottom:5px;padding-right:30px" class="text-right">
        <div class="btn-group ">
            <a class="btn btn-default"><i class="fa fa-refresh"></i>&nbsp;保存</a>
            <a id="add" class="btn btn-default"><i class="fa fa-plus"></i>&nbsp;取消</a>
            <a id="add" class="btn btn-default"><i class="fa fa-plus"></i>&nbsp;提交</a>
        </div>
    </div>

    <div id="BaseInfo" class="tab-pane active" style="padding-right: 30px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;工程基本信息</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起" style="cursor:default"></a>
                </span>
            </div>
            <div class="panel-body">
                <table class="form">
                    <tr>
                        <td class="formTitle">外包工程<font face="宋体">*</font></td>
                        <td class="formValue">
                            <div id="PLANTYPE" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
                        </td>
                        <td class="formTitle">工程编号<font face="宋体">*</font></td>
                        <td class="formValue">
                            <input id="NAME" type="text" maxlength="15" class="form-control" isvalid="yes" checkexpession="NotNull" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">工程类型<font face="宋体">*</font></td>
                        <td class="formValue">
                            <input id="NAME" type="text" maxlength="15" class="form-control" isvalid="yes" checkexpession="NotNull" />
                        </td>
                        <td class="formTitle">所属区域<font face="宋体">*</font></td>
                        <td class="formValue">
                            <input id="USERID_BZ" type="hidden" class="form-control" />
                            <input id="USERNAME_BZ" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" readonly />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">工程风险等级<font face="宋体">*</font></td>
                        <td class="formValue">
                            <input id="DEPARTID_BZ" type="hidden" class="form-control" />

                            <input id="DEPARTNAME_BZ" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" readonly />
                        </td>
                        <td class="formTitle">发包部门<font face="宋体">*</font></td>
                        <td class="formValue">
                            <input id="DEPARTNAME_BZ" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" readonly />
                        </td>
                    </tr>

                    <tr>
                        <td class="formTitle">工程内容<font face="宋体">*</font></td>
                        <td class="formValue" colspan="3">
                            <input id="USERNAME_SH" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" readonly />
                            <input id="USERID_SH" type="hidden" class="form-control" isvalid="yes" checkexpession="NotNull" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;开工申请信息</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起" style="cursor:default"></a>
                </span>
            </div>
            <div class="panel-body">
                <table class="form">
                    <tr>
                        <td class="formTitle">申请单位<font face="宋体">*</font></td>
                        <td class="formValue">
                            <input id="NAME" type="text" maxlength="15" class="form-control" isvalid="yes" checkexpession="NotNull" />
                        </td>
                        <td class="formTitle">申请人<font face="宋体">*</font></td>
                        <td class="formValue">
                            <input id="NAME" type="text" maxlength="15" class="form-control" isvalid="yes" checkexpession="NotNull" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">申请时间<font face="宋体">*</font></td>
                        <td class="formValue">
                            <input id="NAME" type="text" maxlength="15" class="form-control" isvalid="yes" checkexpession="NotNull" />
                        </td>
                        <td class="formTitle">申请单号<font face="宋体">*</font></td>
                        <td class="formValue">
                            <input id="USERID_BZ" type="hidden" class="form-control" />
                            <input id="USERNAME_BZ" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" readonly />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">申请类型<font face="宋体">*</font></td>
                        <td class="formValue">
                            <input id="DEPARTID_BZ" type="hidden" class="form-control" />

                            <input id="DEPARTNAME_BZ" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" readonly />
                        </td>
                        <td class="formTitle">申请开工时间<font face="宋体">*</font></td>
                        <td class="formValue">
                            <input id="DATATIME_BZ" value="@DateTime.Now.ToString("yyyy-MM-dd ")" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" />
                        </td>
                    </tr>

                    <tr>
                        <td class="formTitle">申请原因<font face="宋体">*</font></td>
                        <td class="formValue" colspan="3">
                            <input id="USERNAME_SH" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" readonly />
                            <input id="USERID_SH" type="hidden" class="form-control" isvalid="yes" checkexpession="NotNull" />
                        </td>
                    </tr>

                    <tr>
                        <td class="formTitle">开工申请<br />附件</td>
                        <td class="formValue" colspan='3'>
                            <input id="FilesId" type="text" hidden="hidden" />
                            <div id="uploader" class="uploader" style="border: 1px solid #ccc; margin-top: 10px; min-height: 100px; margin-bottom: 10px;">
                                <div class="queueList">
                                    <div id="dndArea" class="placeholder">
                                        <div class="filePicker" style="margin-left: 25px; margin-top: 10px;"></div>
                                    </div>
                                </div>
                                <div class="statusBar" style="display: none;">
                                    <div class="progress">
                                        <span class="text">0%</span>
                                        <span class="percentage"></span>
                                    </div>
                                    <div class="info"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;审核信息</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起" style="cursor:default"></a>
                </span>
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <tr>
                        <td class="formTitle text-center">审核结果<font face="宋体" color="red">*</font></td>
                        <td class="formValue">
                           <div class="radio-inline">
                               <label><input type="radio" name="optionRadios" value="female" checked/>合格</label>
                           </div>
                            <div class="radio-inline" >
                                <label><input type="radio" name="optionRadios" value="female"/>不合格</label>
                            </div>
                        </td>
                        <td class="formTitle text-center">审核日期<font face="宋体" color="red">*</font></td>
                        <td class="formValue">
                            <input id="NAME" type="text" maxlength="15" class="form-control" isvalid="yes" checkexpession="NotNull" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle text-center">审核意见<font face="宋体" color="red">*</font></td>
                        <td class="formValue" colspan="3">
                            <input id="NAME" type="text" maxlength="15" class="form-control" isvalid="yes" checkexpession="NotNull" />
                        </td>
                        
                    </tr>
                    <tr>
                        <td class="formTitle text-center">审核人<font face="宋体" color="red">*</font></td>
                        <td class="formValue">
                            <input id="DEPARTID_BZ" type="hidden" class="form-control" />
                            <input id="DEPARTNAME_BZ" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" readonly />
                        </td>
                        <td class="formTitle text-center">审核部门<font face="宋体" color="red">*</font></td>
                        <td class="formValue">
                            <input id="DEPARTNAME_BZ" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" readonly />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>


</div>
