@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = request('keyValue');
    var AreaId = request('AreaId');
    var AreaName = request('AreaName');
    $(function () {
        IniDownList();
        initControl();
    });
    //初始化控件
    function initControl() {
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../CarManage/Hikaccess/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                }
            })
        }
    }

    function IniDownList() {
        $("#OutType").ComboBox({
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            param: { EnCode: "InOut" },
            id: "ItemValue",
            text: "ItemName",
            description: "==请选择==",
            height: "200px",
            allowSearch: true
        });
    }

    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize(keyValue);
        if (keyValue == null || keyValue == "") {
            postData["AreaId"] = AreaId;
            postData["AreaName"] = AreaName;
        }
        $.SaveForm({
            url: "../../CarManage/Hikaccess/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }
</script>
<div style="margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle">设备名称<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="DeviceName" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">进出类型<font face="宋体">*</font></td>
            <td class="formValue">
                <div id="OutType" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull">
                </div>
            </td>
        </tr>
        <tr>
            <td class="formTitle">设备配置IP<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="DeviceIP" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">设备ID<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="HikId" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">门禁控制器ID<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="ParentId" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">门禁点通道号<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="channelNos" type="text" class="form-control" isvalid="yes" checkexpession="NumOrNull" />
            </td>
        </tr>
    </table>
</div>
