@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<!--webUploader文件上传组件-->
<link href="~/content/scripts/plugins/webuploader/webuploader.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/webuploader/webuploader-demo.css" rel="stylesheet" />
<script type="text/javascript" src="~/content/scripts/plugins/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/fileupload.js"></script>
<script type="text/javascript">
    var keyValue = request("keyValue"); //主键 隐患信息主键
    $(function () {

        $.ajax({
            type: "get",
            url: "../../HiddenTroubleManage/HTBaseInfo/IsEnableMinimalistMode",
            success: function (data) {
                //启用极简模式
                if (!!parseInt(data)) {
                    $(".form:eq(0) tr:eq(4)").css("display", "none");
                }
            }
        });
        if (!!keyValue) {
            $.SetForm({
                url: "../../HiddenTroubleManage/HTChangeInfo/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                    //整改结果
                    if (data.CHANGERESULT == "1") {
                        $("input[name='CHANGERESULT']:eq(1)").removeAttr("checked");
                        $("input[name='CHANGERESULT']:eq(0)").prop("checked", "checked");
                    }
                    else {
                        $("input[name='CHANGERESULT']:eq(0)").removeAttr("checked");
                        $("input[name='CHANGERESULT']:eq(1)").prop("checked", "checked");
                    }
           
                    uploadify("uploader_hidchangephoto"); //整改图片
                    uploadify("uploader_attachment"); //整改附件
                }
            })
        }
    });


    function uploadify(objId) {
        var folderId = "";
        var fileType = 'bmp,ico,gif,jpeg,jpg,png,psd';
        var isimage = true;
        switch (objId) {
            case "uploader_hidchangephoto": //整改图片
                folderId = $("#HIDCHANGEPHOTO").val();
                break;
            case "uploader_attachment":  //整改附件
                folderId = $("#ATTACHMENT").val();
                fileType = 'bmp,ico,gif,jpeg,jpg,png,psd,zip,rar,doc,docx,xls,xlsx,pdf,txt,chm';
                isimage = false;
                break;
        }
        $.ajax({
            url: '../../PublicInfoManage/ResourceFile/GetFilesByRecId',
            data: { recId: folderId },
            type: "post",
            success: function (data) {
                var objdata = eval("(" + data + ")"); //转化为对象类型
                file_upload.bind(objdata, false , isimage, folderId, objId);
            }
        });
    }

</script>

<div class="center-Panel" style="overflow-y: scroll; height: 600px;">
    <div style="margin-top: 5px;"></div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;隐患整改详情</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <div style="margin-right: 30px;">
                <table class="form">
                    <tr>
                        <td class="formTitle">整改责任人</td>
                        <td class="formValue">
                            <input id="CHANGEPERSONNAME" type="text" class="form-control" disabled="disabled" />
                            <input id="CHANGEPERSON" type="hidden" />
                            <input id="ID" type="hidden" />
                            <input id="HIDCODE" type="hidden" />
                        </td>
                        <td class="formTitle">整改人电话</td>
                        <td class="formValue">
                            <input id="CHANGEDUTYTEL" type="text" class="form-control" disabled="disabled" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">整改责任单位</td>
                        <td class="formValue" colspan="3">
                            <input id="CHANGEDUTYDEPARTNAME" type="text" class="form-control" disabled="disabled" />
                            <input id="CHANGEDUTYDEPARTCODE" type="hidden" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">整改截止时间</td>
                        <td class="formValue" colspan="3">
                            <input id="CHANGEDEADINE" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" disabled="disabled" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">整改完成时间</td>
                        <td class="formValue" colspan="3">
                            <input id="CHANGEFINISHDATE" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" disabled="disabled" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">整改措施</td>
                        <td class="formValue" colspan="3">
                            <textarea id="CHANGEMEASURE" class="form-control" disabled="disabled"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">整改情况描述</td>
                        <td class="formValue" colspan="3">
                            <textarea id="CHANGERESUME" class="form-control" disabled="disabled"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">整改结果</td>
                        <td class="formValue" colspan="3">
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="CHANGERESULT" id="CHANGERESULT1" value="1" checked="checked" disabled="disabled" />已完成
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="CHANGERESULT" id="CHANGERESULT2" value="0" disabled="disabled" />未完成
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">计划治理资金</td>
                        <td class="formValue">
                            <input id="PLANMANAGECAPITAL" type="text" class="form-control" disabled="disabled" />
                        </td>
                        <td class="formTitle">实际治理资金</td>
                        <td class="formValue">
                            <input id="REALITYMANAGECAPITAL" type="text" class="form-control" disabled="disabled" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">整改附件</td>
                        <td class="formValue" colspan="3">
                            <input id="ATTACHMENT" type="hidden" /><!--整改附件-->
                            <div id="uploader_attachment" class="uploader" style="border: 1px solid #ccc; margin-top: 10px; min-height: 120px; margin-bottom: 10px;">
                                <div class="queueList">
                                    <div id="uploader_attachment_place" class="placeholder">
                                        <div class="filePicker" style="margin-left:25px; margin-top:10px;"></div>
                                    </div>
                                </div>
                                <div class="statusBar" style="display:none;">
                                    <div class="progress">
                                        <span class="text">0%</span>
                                        <span class="percentage"></span>
                                    </div>
                                    <div class="info"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">整改图片</td>
                        <td class="formValue" colspan="3">
                            <input type="hidden" id="HIDCHANGEPHOTO" />
                            <div id="uploader_hidchangephoto" class="uploader" style="border: 1px solid #ccc; margin-top: 10px; min-height: 120px; margin-bottom: 10px;">
                                <div class="queueList">
                                    <div id="uploader_hidchangephoto_place" class="placeholder">
                                        <div class="filePicker" style="margin-left:25px; margin-top:10px;"></div>
                                    </div>
                                </div>
                                <div class="statusBar" style="display:none;">
                                    <div class="progress">
                                        <span class="text">0%</span>
                                        <span class="percentage"></span>
                                    </div>
                                    <div class="info"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    body {
        overflow: hidden;
    }
</style>