@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyCode = request("keyCode"); //主键 隐患信息主键
    $(function () {
        GetChangeGrid();
    });

    function GetChangeGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#changeGridTable');
        $gridTable.jqGrid({
            url: "../../HiddenTroubleManage/HTChangeInfo/GetHistoryListJson?keyCode=" + keyCode,
            datatype: "json",
            height: $(window).height() - 300,
            autowidth: true,
            colModel: [
                {
                    label: '操作', name: 'ID', index: 'ID', width: 120, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = "<a href=javascript:Detail('" + rowObject.ID + "')  title='查看'><i class='fa fa-eye'></i></a>";
                        return html;
                    }
                },
                { label: '整改单位', name: 'CHANGEDUTYDEPARTNAME', index: 'CHANGEDUTYDEPARTNAME', width: 150, align: 'center' },
                { label: '整改责任人', name: 'CHANGEPERSONNAME', index: 'CHANGEPERSONNAME', width: 120, align: 'center' },
                {
                    label: '整改结果', name: 'CHANGERESULT', index: 'CHANGERESULT', width: 150, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = rowObject.CHANGERESULT == "0" ? "未完成" : "完成";
                        return html;
                    }
                },
                {
                    label: '整改完成时间', name: 'CHANGEFINISHDATE', index: 'CHANGEFINISHDATE', width: 150, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = formatDate(cellvalue, 'yyyy-MM-dd');
                        return html;
                    }
                }
            ],
            pager: false,
            rowNum: "20",
            sortname: 'changefinishdate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            ondblClickRow: function (id) {

            }
        });
    }

    function Detail(keyValue) {
        dialogOpen({
            id: 'DetailForm',
            title: '隐患整改详情',
            url: '/HiddenTroubleManage/HTChangeInfo/Detail?keyValue=' + keyValue,
            width: ($(top.window).width() - 200) + "px",
            height: '680px',
            btn: null
        });
    }
</script>

<div class="center-Panel" >
    <div style="margin-top: 10px;"></div>
    <div class="panel-Title">隐患整改信息</div>
    <div class="gridPanel">
        <div style="margin-top: 20px; margin-left:10px;">
            <table id="changeGridTable"></table>
        </div>
    </div>
</div>
<style type="text/css">
    body {
        overflow: hidden;
    }
</style>