@{
    ViewBag.Title = "重置密码";
    Layout = "~/Views/Shared/_Form.cshtml";
    var user = ERCHTMS.Code.OperatorProvider.Provider.Current();
    ERCHTMS.Busines.SystemManage.DataItemDetailBLL di = new ERCHTMS.Busines.SystemManage.DataItemDetailBLL();
    List<string> lst = new ERCHTMS.Busines.SystemManage.PasswordSetBLL().IsPasswordRuleStatus(user);
}
<script src="~/Content/scripts/plugins/jquery.md5.js"></script>
<script>
    var keyValue = request('keyValue');
    var isHRDL = "@(lst[0])";
    var pwdReg = "@(lst[1])";
    var pwdMsg = "@(lst[2])";
    var pwdLen = "@(lst[3])";
    $(function () {
        $("#Account").val(request('Account'));
        $("#RealName").val(request('RealName'));
    })
    //保存
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var pwd = $.trim($("#Password").val());
        if (pwd.length > 16) {
            dialogAlert("密码长度不能大于16位", 0);
            return false;
        }
        if (top.isHRDL == "true") {
            if (isStrongPwd(pwd)==false) {
                dialogMsg("密码至少满足" + top.pwdMsg + "且长度至少为" + top.pwdLen + "位", 0);
                return false;
            }
        }
        var postData = $("#form1").formSerialize(keyValue);
        postData["Password"] = pwd;
        $.SaveForm({
            url: "../../BaseManage/User/SaveRevisePassword?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
            }
        })
    }
</script>
<div style="margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle">姓名</td>
            <td class="formValue">
                <input id="RealName" readonly type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">帐户</td>
            <td class="formValue">
                <input id="Account" readonly type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">新密码<font face="宋体">*</font>
            </th>
            <td class="formValue">
                <input id="Password" type="text" class="form-control" placeholder="请输入新密码" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
    </table>
</div>
