/* 分布图样式 */
.instruct_section{
    /* padding-top: 10px; */
    padding-left: 12px;    
    transform: translateX(22px);
    position: absolute;
}
.instruct_section h2{
  line-height: 39px;
  font-size: 20px;
  font-weight: bold;
}
.bgwrap{
    width: 1920px;
    height: 920px;
    margin: 0 auto;
    cursor: pointer;
    /* background: url('../../images/carshop/floor2/bg2.jpg') no-repeat left top; */
    position: absolute;
    top: 0;
    left: -230px;
    /* z-index: 10; */
}
.container{
    width: 100%;
}
.contentBox{
    width: 1583px;
    height: 835px;
    box-sizing: border-box;
    margin: 43px auto 0;
    cursor: pointer;
    background: url('../../images/carshop/floor2/bg.png') no-repeat;
    position: relative;
}
.content{
    width: 100%;
    height: 100%;
    font-size: 12px;
    color: #000;
    position: relative;
}
.content>div{
    position: absolute;
}
.floorview{
  position: absolute;
  left: -70px;
  top: 525px;
  width: 38px;
  border: 1px solid #90969d;
}
.floorview li{
  width: 100%;
  font-size: 16px;
  line-height: 48px;
  text-align: center;
  background-color: #cccccc;
  border-bottom: 1px solid #90969d;
}
.floorview li:last-child{
  border-bottom: none;
}
.floorview li.active{
  background-color: #f4f4f4;
}
.newIcon{
    display: block;
    width: 15px;
    height: 15px;
    background-size: 100% 100%;
    position: absolute;
    left: 90%;
    top: 12%;
    transform: translate(-50%, -50%);
}
.importAccident{
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 85%;
  left: 10%;
  transform: translate(-50%, -50%);
  background: url(../../images/lv1.png) no-repeat;
  background-size: contain;
}

.content>div:hover>ul{
  display: block;
}
.content .itemul{
  display: none;
  position: absolute;
  width: 90px;
  right: -90px;
  color: #000;
  top: 0;
  background: pink;
  z-index: 2;
}


/* 色块定位 */
.index-1{
    left: 668px;
    top: 125px;
}
.word-1{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  line-height: 189px;
  text-align: center;
}

.index-2{
  left: 668px;
  top: 317px;
}
.word-2{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    line-height: 39px;
    text-align: center;
}

.index-3{
  left: 668px;
  top: 359px;
}
.word-3{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    line-height: 72px;
    text-align: center;
}

.index-4{
    left: 202px;
    top: 463px;
}
.word-4{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    line-height: 28px;
    text-align: center;
}

.index-5{
  left: 333px;
  top: 463px;
}
.word-5{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    line-height: 28px;
    text-align: center;
}

.index-6{
  left: 469px;
  top: 463px;
}
.word-6{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    line-height: 28px;
    text-align: center;
}

.index-7{
    left: 605px;
    top: 440px;
}
.word-7{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    line-height: 51px;
    text-align: center;
}

.index-8{
    left: 200px;
    top: 573px;
}
.word-8{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  line-height: 28px;
  text-align: center;
}

.index-9{
  left: 299px;
  top: 573px;
}
.word-9{
    position: absolute;
    left: 91px;
    top: 0;
    width: 60px;
    line-height: 12px;
    text-align: center;
}
.importAccident-9{
  top: 70%;
}
.newIcon-9{
  left: 73%;
}

.index-10{
    left: 691px;
    top: 557px;
}
.word-10{
  position: absolute;
  left: 0px;
  top: 111px;
  width: 60px;
  line-height: 18px;
  text-align: center;
}

.index-11{
    left: 143px;
    top: 679px;
}
.word-11{
  position: absolute;
  left: 30px;
  top: -15px;
  width: 47px;
  line-height: 18px;
  text-align: center;
}

.index-12{
  left: 370px;
  top: 673px;
}
.word-12{
    position: absolute;
    left: 27px;
    top: 17px;
    width: 47px;
    line-height: 16px;
    text-align: center;
}

.index-13{
  left: 542px;
  top: 728px;
}
.word-13{
  position: absolute;
  left: -34px;
  top: -35px;
  width: 72px;
  line-height: 16px;
  text-align: center;
}

.index-14{
    left: 597px;
    top: 660px;
}
.word-14{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  line-height: 63px;
  text-align: center;
}

.index-15{
    left: 609px;
    top: 739px;
}
.word-15{
  position: absolute;
  left: 0;
  top: 6px;
  width: 100%;
  line-height: 12px;
  text-align: center;
}

.index-16{
  left: 184px;
  top: 751px;
}
.word-16{
  position: absolute;
  left: 0;
  top: 6px;
  width: 100%;
  line-height: 12px;
  text-align: center;
}



.index-17{
  right: 677px;
  top: 125px;
}
.word-17{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  line-height: 189px;
  text-align: center;
}

.index-18{
  right: 678px;
  top: 317px;
}
.word-18{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  line-height: 39px;
  text-align: center;
}

.index-19{
  right: 678px;
  top: 359px;
}
.word-19{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  line-height: 72px;
  text-align: center;
}

.index-20{
  right: 618px;
  top: 463px;
}
.word-20{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  line-height: 28px;
  text-align: center;
}

.index-21{
  right: 487px;
  top: 463px;
}
.word-21{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  line-height: 28px;
  text-align: center;
}

.index-22{
  right: 351px;
  top: 463px;
}
.word-22{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  line-height: 28px;
  text-align: center;
}

.index-23{
  right: 182px;
  top: 440px;
}
.word-23{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  line-height: 51px;
  text-align: center;
}

.index-24{
  right: 549px;
  top: 573px;
}
.word-24{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  line-height: 28px;
  text-align: center;
}

.index-25{
  right: 324px;
  top: 573px;
}
.word-25{
  position: absolute;
  left: 91px;
  top: 0;
  width: 60px;
  line-height: 12px;
  text-align: center;
}
.importAccident-25{
  top: 70%;
}
.newIcon-25{
  left: 73%;
}

.index-26{
  right: 111px;
  top: 563px;
}
.word-26{
  position: absolute;
  left: 0px;
  top: 111px;
  width: 60px;
  line-height: 18px;
  text-align: center;
}

.index-27{
  right: 685px;
  top: 679px;
}
.word-27{
  position: absolute;
  left: 30px;
  top: -15px;
  width: 47px;
  line-height: 18px;
  text-align: center;
}

.index-28{
  right: 391px;
  top: 673px;
}
.word-28{
  position: absolute;
  left: 27px;
  top: 17px;
  width: 47px;
  line-height: 16px;
  text-align: center;
}

.index-29{
  right: 267px;
  top: 728px;
}
.word-29{
  position: absolute;
  left: -34px;
  top: -35px;
  width: 72px;
  line-height: 16px;
  text-align: center;
}

.index-30{
  right: 202px;
  top: 660px;
}
.word-30{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  line-height: 63px;
  text-align: center;
}

.index-31{
  right: 204px;
  top: 739px;
}
.word-31{
  position: absolute;
  left: 0;
  top: 6px;
  width: 100%;
  line-height: 12px;
  text-align: center;
}

.index-32{
  right: 610px;
  top: 751px;
}
.word-32{
  position: absolute;
  left: 0;
  top: 6px;
  width: 100%;
  line-height: 12px;
  text-align: center;
}
