/* 分布图样式 */
.instruct_section{
    padding-top: 10px;
    padding-left: 12px;    
    transform: translateX(22px);
    position: absolute;
}
.instruct_section h2{
  line-height: 39px;
  font-size: 20px;
  font-weight: bold;
}
.bgwrap{
    width: 1920px;
    height: 920px;
    margin: 0 auto;
    cursor: pointer;
    /* background: url('../../images/carshop/floor1/bg2.jpg') no-repeat left top; */
    position: absolute;
    top: 0;
    left: -230px;
    /* z-index: 10; */
}
.container{
    width: 100%;
}
.contentBox{
    width: 1583px;
    height: 866px;
    box-sizing: border-box;
    margin: 31px auto 0;
    cursor: pointer;
    background: url('../../images/carshop/floor1/bg.png') no-repeat;
    position: relative;
}
.content{
    width: 100%;
    height: 100%;
    font-size: 12px;
    color: #000;
    position: relative;
}
.content>div{
    position: absolute;
}
.floorview{
  position: absolute;
  left: -70px;
  top: 525px;
  width: 38px;
  border: 1px solid #90969d;
}
.floorview li{
  width: 100%;
  font-size: 16px;
  line-height: 48px;
  text-align: center;
  background-color: #cccccc;
  border-bottom: 1px solid #90969d;
}
.floorview li:last-child{
  border-bottom: none;
}
.floorview li.active{
  background-color: #f4f4f4;
}
.newIcon{
    display: block;
    width: 15px;
    height: 15px;
    background-size: 100% 100%;
    position: absolute;
    left: 90%;
    top: 12%;
    transform: translate(-50%, -50%);
}
.importAccident{
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 85%;
  left: 10%;
  transform: translate(-50%, -50%);
  background: url(../../images/lv1.png) no-repeat;
  background-size: contain;
}

.content>div:hover>ul{
  display: block;
}
.content .itemul{
  display: none;
  position: absolute;
  width: 90px;
  right: -90px;
  color: #000;
  top: 0;
  background: pink;
  z-index: 2;
}

/* 色块定位 */
.index-1{
  left: 640px;
  top: 50px;
}
.word-1{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  line-height: 40px;
  text-align: center;
}

.index-2{
  left: 640px;
  top: 92px;
}
.word-2{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  line-height: 40px;
  text-align: center;
}

.index-3{
  left: 766px;
  top: 92px;
}
.word-3{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  line-height: 40px;
  text-align: center;
}

.index-4{
  left: 640px;
  top: 139px;
}
.word-4{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  line-height: 40px;
  text-align: center;
}

.index-5{
  left: 766px;
  top: 139px;
}
.word-5{
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
  line-height: 20px;
  text-align: center;
}

.index-6{
  left: 814px;
  top: 139px;
}
.word-6{
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    line-height: 61px;
    text-align: center;
}

.index-7{
  left: 640px;
  top: 202px;
}
.word-7{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  line-height: 40px;
  text-align: center;
}

.index-8{
  left: 640px;
  top: 245px;
}
.word-8{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  line-height: 52px;
  text-align: center;
}

.index-9{
  left: 640px;
  top: 299px;
}
.word-9{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  line-height: 52px;
  text-align: center;
}

.index-10{
  left: 746px;
  top: 202px;
}
.word-10{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  line-height: 121px;
  text-align: center;
}

.index-11{
  left: 746px;
  top: 313px;
}
.word-11{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  line-height: 33px;
  text-align: center;
}


.index-12{
  left: 148px;
  top: 377px;
}
.word-12{
  position: absolute;
  left: -15px;
  top: -22px;
  width: 73px;
  line-height: 16px;
  text-align: center;
}
.inf-12a{
  position: absolute;
  left: 421px;
  top: 21px;
  font-size: 16px;
  width: 30px;
  text-align: center;
}
.inf-12b{
  position: absolute;
  left: 339px;
  top: 21px;
  font-size: 16px;
  width: 30px;
  text-align: center;
}
.inf-12c{
  position: absolute;
  left: 256px;
  top: 21px;
  font-size: 16px;
  width: 30px;
  text-align: center;
}
.inf-12d{
  position: absolute;
  left: 174px;
  top: 21px;
  font-size: 16px;
  width: 30px;
  text-align: center;
}
.inf-12e{
  position: absolute;
  left: 92px;
  top: 21px;
  font-size: 16px;
  width: 30px;
  text-align: center;
}
.inf-12f{
  position: absolute;
  left: 10px;
  top: 21px;
  font-size: 16px;
  width: 30px;
  text-align: center;
}

.newIcon-12a{
  left: 99%;
  top: 50%;
}
.newIcon-12b{
  left: 81%;
  top: 50%;
}
.newIcon-12c{
  left: 63%;
  top: 50%;
}
.newIcon-12d{
  left: 45%;
  top: 50%;
}
.newIcon-12e{
  left: 27%;
  top: 50%;
}
.newIcon-12f{
  left: 10%;
  top: 50%;
}

.importAccident-12a{
  left: 91%;
}
.importAccident-12b{
  left: 73%;
}
.importAccident-12c{
  left: 55%;
}
.importAccident-12d{
  left: 37%;
}
.importAccident-12e{
  left: 20%;
}
.importAccident-12f{
  left: 2%;
}

.index-13{
  left: 144px;
  top: 474px;
}
.word-13{
  position: absolute;
  left: 3px;
  top: 4px;
  width: 73px;
  line-height: 16px;
  text-align: center;
}

.index-14{
  left: 272px;
  top: 488px;
}
.word-14{
    position: absolute;
    left: 35px;
    top: -23px;
    width: 107px;
    line-height: 16px;
    text-align: center;
}

.index-15{
  left: 444px;
  top: 465px;
}
.word-15{
    position: absolute;
    left: 5px;
    top: -17px;
    width: 107px;
    line-height: 16px;
    text-align: center;
}

.index-16{
  left: 583px;
  top: 456px;
}
.word-16{
    position: absolute;
    left: -4px;
    top: 10px;
    width: 76px;
    line-height: 16px;
    text-align: center;
}

.index-17{
    left: 662px;
    top: 454px;
}
.word-17{
    position: absolute;
    left: -17px;
    top: 53px;
    width: 53px;
    line-height: 16px;
    text-align: center;
}

.index-18{
  left: 696px;
  top: 454px;
}
.word-18{
  position: absolute;
  left: 12px;
  top: 10px;
  width: 53px;
  line-height: 16px;
  text-align: center
}

.index-19{
  left: 462px;
  top: 502px;
}
.word-19{
  position: absolute;
  left: -91px;
  top: 15px;
  width: 89px;
  line-height: 16px;
  text-align: center;
}

.index-20{
  left: 48px;
  top: 597px;
}
.word-20{
  position: absolute;
  left: 11px;
  top: 11px;
  width: 53px;
  line-height: 16px;
  text-align: center;
}

.index-21{
    left: 144px;
    top: 641px;
}
.word-21{
    position: absolute;
    left: -3px;
    top: 4px;
    width: 56px;
    line-height: 16px;
    text-align: center;
}

.index-22{
  left: 316px;
  top: 588px;
}
.word-22{
    position: absolute;
    left: -92px;
    top: 6px;
    width: 94px;
    line-height: 16px;
    text-align: center;
}

.index-23{
    left: 284px;
    top: 628px;
}
.word-23{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    line-height: 82px;
    text-align: center;
}

.index-24{
  left: 461px;
  top: 607px;
}
.word-24{
  position: absolute;
  left: 0px;
  top: 12px;
  width: 100%;
  line-height: 20px;
  text-align: center;
}

.index-25{
    left: 538px;
    top: 605px;
}
.word-25{
    position: absolute;
    left: -32px;
    top: -35px;
    width: 76px;
    line-height: 16px;
    text-align: center;
}

.index-26{
  left: 531px;
  top: 655px;
}
.word-26{
    position: absolute;
    left: -45px;
    top: 15px;
    width: 47px;
    line-height: 16px;
    text-align: center;
}

.index-27{
  left: 548px;
  top: 656px;
}
.word-27{
    position: absolute;
    left: -26px;
    top: -23px;
    width: 76px;
    line-height: 12px;
    text-align: center;
}

.index-28{
  left: 541px;
  top: 673px;
}
.word-28{
  position: absolute;
  left: -18px;
  top: 17px;
  width: 72px;
  line-height: 12px;
  text-align: center;
}

.index-29{
    left: 630px;
    top: 591px;
}
.word-29{
  position: absolute;
  left: -27px;
  top: -26px;
  width: 63px;
  line-height: 12px;
  text-align: center;
}

.index-30{
  left: 630px;
  top: 652px;
}
.word-30{
  position: absolute;
  left: -27px;
  top: -26px;
  width: 63px;
  line-height: 12px;
  text-align: center;
}

.index-31{
    left: 664px;
    top: 576px;
}
.word-31{
    position: absolute;
    left: 7px;
    top: 92px;
    width: 49px;
    line-height: 22px;
    text-align: center;
}

.index-32{
    left: 78px;
    top: 708px;
}
.word-32{
  position: absolute;
  left: -27px;
  top: -19px;
  width: 101px;
  line-height: 16px;
  text-align: center;
}

.index-33{
    left: 145px;
    top: 705px;
}
.word-33{
    position: absolute;
    left: 42px;
    top: 2px;
    width: 65px;
    line-height: 16px;
    text-align: center;
}


.index-34{
    left: 286px;
    top: 717px;
}
.word-34{
    position: absolute;
    left: 28px;
    top: 0px;
    width: 65px;
    line-height: 16px;
    text-align: center;
}

.index-34{
  left: 286px;
  top: 717px;
}
.word-34{
  position: absolute;
  left: 28px;
  top: 0px;
  width: 65px;
  line-height: 16px;
  text-align: center;
}

.index-35{
  left: 460px;
  top: 715px;
}
.word-35{
  position: absolute;
  left: 2px;
  top: 0px;
  width: 65px;
  line-height: 12px;
  text-align: center;
}

.index-36{
  left: 626px;
  top: 733px;
}
.word-36{
    position: absolute;
    left: -62px;
    top: -12px;
    width: 65px;
    line-height: 12px;
    text-align: center;
}

.index-37{
    left: 71px;
    top: 800px;
}
.word-37{
    position: absolute;
    left: -21px;
    top: 14px;
    width: 49px;
    line-height: 12px;
    text-align: center;
}

.index-38{
  left: 102px;
  top: 773px;
}
.word-38{
  position: absolute;
  left: -7px;
  top: 0px;
  width: 44px;
  line-height: 12px;
  text-align: center;
}

.index-39{
  left: 139px;
  top: 773px;
}
.word-39{
  position: absolute;
  left: -7px;
  top: 40px;
  width: 120px;
  line-height: 12px;
  text-align: center;
}

.index-40{
  left: 160px;
  top: 773px;
}
.word-40{
  position: absolute;
  left: 1px;
  top: 5px;
  width: 50px;
  line-height: 12px;
  text-align: center;
}

.index-41{
  left: 232px;
  top: 773px;
}
.word-41{
  position: absolute;
  left: 44px;
  top: 5px;
  width: 50px;
  line-height: 12px;
  text-align: center;
}

.index-42{
    left: 462px;
    top: 746px;
}
.word-42{
  position: absolute;
  left: 74px;
  top: 5px;
  width: 50px;
  line-height: 12px;
  text-align: center;
}

.index-43{
  left: 528px;
  top: 806px;
}
.word-43{
    position: absolute;
    left: 79px;
    top: 5px;
    width: 85px;
    line-height: 12px;
    text-align: center;
}






.index-44{
  right: 233px;
  top: 377px;
}
.word-44{
  position: absolute;
  left: -15px;
  top: -22px;
  width: 73px;
  line-height: 16px;
  text-align: center;
}
.inf-44a{
  position: absolute;
  left: 421px;
  top: 21px;
  font-size: 16px;
  width: 30px;
  text-align: center;
}
.inf-44b{
  position: absolute;
  left: 339px;
  top: 21px;
  font-size: 16px;
  width: 30px;
  text-align: center;
}
.inf-44c{
  position: absolute;
  left: 256px;
  top: 21px;
  font-size: 16px;
  width: 30px;
  text-align: center;
}
.inf-44d{
  position: absolute;
  left: 174px;
  top: 21px;
  font-size: 16px;
  width: 30px;
  text-align: center;
}
.inf-44e{
  position: absolute;
  left: 92px;
  top: 21px;
  font-size: 16px;
  width: 30px;
  text-align: center;
}
.inf-44f{
  position: absolute;
  left: 10px;
  top: 21px;
  font-size: 16px;
  width: 30px;
  text-align: center;
}

.newIcon-44a{
  left: 99%;
  top: 50%;
}
.newIcon-44b{
  left: 81%;
  top: 50%;
}
.newIcon-44c{
  left: 63%;
  top: 50%;
}
.newIcon-44d{
  left: 45%;
  top: 50%;
}
.newIcon-44e{
  left: 27%;
  top: 50%;
}
.newIcon-44f{
  left: 10%;
  top: 50%;
}

.importAccident-44a{
  left: 91%;
}
.importAccident-44b{
  left: 73%;
}
.importAccident-44c{
  left: 55%;
}
.importAccident-44d{
  left: 37%;
}
.importAccident-44e{
  left: 20%;
}
.importAccident-44f{
  left: 2%;
}


.index-45{
  right: 605px;
  top: 473px;
}
.word-45{
  position: absolute;
  left: 3px;
  top: 4px;
  width: 73px;
  line-height: 16px;
  text-align: center;
}

.index-46{
  right: 423px;
  top: 488px;
}
.word-46{
    position: absolute;
    left: 35px;
    top: -23px;
    width: 107px;
    line-height: 16px;
    text-align: center;
}

.index-47{
  right: 289px;
  top: 466px;
}
.word-47{
    position: absolute;
    left: 5px;
    top: -17px;
    width: 107px;
    line-height: 16px;
    text-align: center;
}

.index-48{
  right: 202px;
  top: 456px;
}
.word-48{
    position: absolute;
    left: -4px;
    top: 10px;
    width: 76px;
    line-height: 16px;
    text-align: center;
}

.index-49{
    right: 177px;
    top: 456px;
}
.word-49{
    position: absolute;
    left: -17px;
    top: 53px;
    width: 53px;
    line-height: 16px;
    text-align: center;
}

.index-50{
  right: 134px;
  top: 454px;
}
.word-50{
  position: absolute;
  left: 15px;
  top: 3px;
  width: 27px;
  line-height: 16px;
  text-align: center;
}

.index-51{
  right: 277px;
  top: 503px;
}
.word-51{
  position: absolute;
  left: -91px;
  top: 15px;
  width: 89px;
  line-height: 16px;
  text-align: center;
}

.index-52{
  right: 680px;
  top: 583px;
}
.word-52{
  position: absolute;
  left: -12px;
  top: 16px;
  width: 85px;
  line-height: 16px;
  text-align: center;
}

.index-53{
    right: 648px;
    top: 641px;
}
.word-53{
    position: absolute;
    left: -3px;
    top: 4px;
    width: 56px;
    line-height: 16px;
    text-align: center;
}

.index-54{
  right: 387px;
  top: 588px;
}
.word-54{
    position: absolute;
    left: -92px;
    top: 6px;
    width: 94px;
    line-height: 16px;
    text-align: center;
}

.index-55{
    right: 395px;
    top: 628px;
}
.word-55{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    line-height: 82px;
    text-align: center;
}

.index-56{
  right: 323px;
  top: 607px;
}
.word-56{
  position: absolute;
  left: 0px;
  top: 12px;
  width: 100%;
  line-height: 20px;
  text-align: center;
}

.index-57{
    right: 281px;
    top: 605px;
}
.word-57{
    position: absolute;
    left: -32px;
    top: -35px;
    width: 76px;
    line-height: 16px;
    text-align: center;
}

.index-58{
  right: 296px;
  top: 655px;
}
.word-58{
    position: absolute;
    left: -45px;
    top: 15px;
    width: 47px;
    line-height: 16px;
    text-align: center;
}

.index-59{
  right: 262px;
  top: 656px;
}
.word-59{
    position: absolute;
    left: -26px;
    top: -23px;
    width: 76px;
    line-height: 12px;
    text-align: center;
}

.index-60{
  right: 286px;
  top: 673px;
}
.word-60{
  position: absolute;
  left: -18px;
  top: 17px;
  width: 72px;
  line-height: 12px;
  text-align: center;
}

.index-61{
    right: 189px;
    top: 591px;
}
.word-61{
  position: absolute;
  left: -27px;
  top: -26px;
  width: 63px;
  line-height: 12px;
  text-align: center;
}

.index-62{
  right: 189px;
  top: 652px;
}
.word-62{
  position: absolute;
  left: -27px;
  top: -26px;
  width: 63px;
  line-height: 12px;
  text-align: center;
}

.index-63{
    right: 106px;
    top: 588px;
}
.word-63{ 
    position: absolute;
    left: 7px;
    top: 92px;
    width: 49px;
    line-height: 22px;
    text-align: center;
}

.index-64{
    right: 716px;
    top: 708px;
}
.word-64{
    position: absolute;
    left: -18px;
    top: -23px;
    width: 101px;
    line-height: 16px;
    text-align: center;
}

.index-65{
  right: 639px;
  top: 704px;
}
.word-65{
    position: absolute;
    left: 42px;
    top: 2px;
    width: 65px;
    line-height: 16px;
    text-align: center;
}


.index-66{
  right: 532px;
  top: 719px;
}
.word-66{
    position: absolute;
    left: 28px;
    top: 0px;
    width: 65px;
    line-height: 16px;
    text-align: center;
}

.index-67{
  right: 308px;
  top: 715px;
}
.word-67{
  position: absolute;
  left: 0;
  top: 0px;
  width: 65px;
  line-height: 12px;
  text-align: center;
}

.index-68{
    right: 185px;
    top: 733px;
}
.word-68{
    position: absolute;
    left: -48px;
    top: 0px;
    width: 50px;
    line-height: 12px;
    text-align: center;
}

.index-69{
    right: 189px;
    top: 805px;
}
.word-69{
  position: absolute;
  left: -36px;
  top: -12px;
  width: 48px;
  line-height: 12px;
  text-align: center;
}

.index-70{
    right: 727px;
    top: 773px;
}
.word-70{
    position: absolute;
    left: -18px;
    top: 35px;
    width: 63px;
    line-height: 12px;
    text-align: center;
}

.index-71{
  right: 624px;
  top: 771px;
}
.word-71{
    position: absolute;
    left: -7px;
    top: 42px;
    width: 120px;
    line-height: 12px;
    text-align: center;
}

.index-72{
    right: 645px;
    top: 771px;
}
.word-72{
    position: absolute;
    left: 3px;
    top: 5px;
    width: 48px;
    line-height: 12px;
    text-align: center;
}

.index-73{
    right: 596px;
    top: 771px;
}
.word-73{
    position: absolute; 
    left: 19px;
    top: 10px;
    width: 50px;
    line-height: 12px;
    text-align: center;
}

.index-74{
  right: 310px;
  top: 746px;
}
.word-74{
    position: absolute;
    left: 74px;
    top: 5px;
    width: 50px;
    line-height: 12px;
    text-align: center;
}

.index-75{
  right: 232px;
  top: 806px;
}
.word-75{
  position: absolute;
  left: 4px;
  top: -3px;
  width: 70px;
  line-height: 12px;
  text-align: center;
}


