@{;
ViewBag.Title = "列表页面";
Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script>
    ;
    $(function () {
        InitialPage();
        GetGrid();
    });
    //初始化页面
    function InitialPage() {
        $('#layout').layout({
            applyDemoStyles: false,
            onresize: function () {
                $(window).resize()
            }
        });
        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 150);
            }, 200);
            e.stopPropagation();
        });
    }

    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() - 150,
            url: "../../AssessmentManage/NoSuitableDetail/GetPageListJson",
            datatype: "json",
            colModel: [
                 { label: '主键', name: 'id', width: 10, align: 'left', hidden: true },
                   {
                       label: '操作', name: 'Oper', width: 100, align: 'center', sortable: false,
                       formatter: function (cellvalue, options, rowObject) {
                           var html = "";
                           if (rowObject.able != null) {
                               var title = rowObject.isUpdate == "修订" ? "修订" : "筛选"
                               html += "<a href=javascript:goToContent()  title='" + title + "'><i class='fa fa-hourglass-o'></i></a>";
                           }
                           return html;
                       }
                   },
                { label: '计划名称', name: 'planname', width: 400, align: 'center', sortable: true },
                {
                    label: '不适宜项条数', name: 'count', width: 120, align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        var cvalue = rowObject.count == null ? "0" : rowObject.count
                        return cvalue;
                    }
                },
                { label: '所占分值', name: 'score', width: 120, align: 'center', sortable: false },
                { label: '个人进度', name: 'progress', width: 150, align: 'center', sortable: false },
                { label: '状态', name: 'status', width: 80, align: 'center', sortable: false }],
            viewrecords: true,
            rowNum: 20,
            rowList: [20, 25, 30],
            pager: "#gridPager",
            sortname: 'createdate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: true,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);
            }
        });
    }

    //筛选
    function goToContent() {
        var keyValue = $('#gridTable').jqGridRowValue('id');
        if (checkedRow(keyValue)) {
            dialogOpen({
                id: 'NoSuitForm',
                title: '筛选不适宜项',
                url: '/AssessmentManage/NoSuitableDetail/Form?planid=' + keyValue,
                width: ($(top.window).width() - 400) + "px",
                height: ($(top.window).height() - 100) + "px",
                callBack: function (iframeId) {
                    top.frames[iframeId].AcceptClick();
                }
            })
        }
    }
</script>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%; padding-left:5px;">
    <div class="ui-layout-center">
        <div class="center-Panel">
            <div class="titlePanel">
                <div class="title-search">
                    <table>
                        <tr>
                            <td></td>
                            <td style="padding-left: 5px;"></td>
                        </tr>
                    </table>
                </div>
                <div class="toolbar">
                    <div class="btn-group">
                        <a id="replace" class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>刷新</a>
                    </div>
                </div>
            </div>
            <div class="gridPanel">
                <table id="gridTable"></table>
                <div id="gridPager"></div>
            </div>
        </div>
    </div>
</div>