@{;
    ViewBag.Title = "台账列表页面";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>
<script>
    var indexstatistics = request('indexstatistics');//首页统计跳转
    var indexnum = request('indexnum');//首页跳转
    $(function () {
        InitialPage();
        GetGrid();
    });
    //初始化页面
    function InitialPage() {
        $('#layout').layout({
            applyDemoStyles: true,
            onresize: function () {
                $(window).resize();
            }
        });

        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 170);
            }, 200);
            e.stopPropagation();
        });


        //通用作业类型
        $("#CommonType").ComboBox({
            param: { EnCode: "CommonType" },
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            description: "======全部======",
            id: "ItemValue",
            text: "ItemName",
            height: "230px"
        });

        $("#btn_Search").click(function () {
            if ($(".ui-filter-list").attr("style").indexOf("block") >= 0) {
                //隐藏搜索框
                var title = $(".ui-filter-text");
                title.trigger("click");
            }
            $('#gridTable').jqGrid('setGridParam', {
                postData: { queryJson: getQueryJson() }, page: 1
            }).trigger('reloadGrid');
        });

        if (!!indexstatistics) {
            $("#CommonType").ComboBoxSetValue(indexstatistics);
            $.ajax({
                url: '../../SystemManage/DataItemDetail/GetListByCodeJson',
                data: { itemCode: "CommonType" },
                dataType: "JSON",
                async: false,
                success: function (result) {
                    if (!!result) {
                        var arr = eval(result);
                        $(arr).each(function (i, item) {
                            if (item.itemvalue == indexstatistics) {
                                $("#CommonType div:eq(0)").text(item.itemname);
                                return false;
                            }
                        });
                    }
                }
            });
            $("#LedgerType").children().eq(2).attr("selected", "selected");
            $("#LedgerType").attr("disabled", "disabled");
        }

        if (!!indexnum) {
            $("#LedgerType").children().eq(2).attr("selected", "selected");
            $("#LedgerType").attr("disabled", "disabled");
        }

    }

    //得到查询条件
    function getQueryJson() {
        var query = {
            worktype: $("#CommonType").attr("data-value"),
            st: $("#StartDate").val(),
            et: $("#EndDate").val(),
            ledgertype: $("#LedgerType").val(),
            keyname: $("#EngineerName").val(),
            applynumber: $("#ApplyNumber").val()
        };
        console.log(query);
        return JSON.stringify(query);
    }

    //重置所有查询条件
    function ResetCondition() {
        //作业类型
        $("#CommonType").attr("data-text", "===全部===");
        $("#CommonType").attr("data-value", "");
        $("#CommonType div:eq(0)").text("===全部===");

        $("#filter-form").find(":input").val("");
    }
    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() - 170,
            url: "../../HighRiskWork/HighRiskCommonApply/GetLedgerListJson",
            datatype: "json",
            postData: { queryJson: getQueryJson() },
            colModel: [
                { label: '主键', name: 'workid', width: 10, align: 'left', sortable: true, hidden: true },
                  {
                      label: '操作', name: 'Oper', width: 100, align: 'center', sortable: false,
                      formatter: function (cellvalue, options, rowObject) {
                          var html = "<a href=javascript:show('" + rowObject.workid + "')  title='查看'><i class='fa fa-eye'></i></a>&nbsp;";
                          if (!!rowObject.ledgertype && rowObject.isoperate == "1") {
                              //即将作业
                              if (rowObject.ledgertype == "即将作业" || rowObject.ledgertype == "作业暂停") {
                                  html += '<a href="javascript:btn_edit(0,\'' + rowObject.workid + '\',\'\')" title="作业开始"><i class="fa fa-cog"></i></a>';
                              }
                              //作业中
                              if (rowObject.ledgertype == "作业中") {
                                  html += '<a href="javascript:btn_edit(1,\'' + rowObject.workid + '\',\'' + rowObject.realityworkstarttime + '\')" title="作业结束"><i class="fa fa-cogs"></i></a>';
                              }
                          }
                          return html;
                      }
                  },
                { label: '申请编号', name: 'applynumber', index: 'applynumber', width: 150, align: 'center', sortable: false },
                { label: '作业状态', name: 'ledgertype', index: 'ledgertype', width: 80, align: 'center', sortable: false },


                { label: '作业类型', name: 'worktype', width: 150, align: 'center', sortable: true },
                { label: '作业单位', name: 'workdeptname', index: 'workdeptname', width: 100, align: 'center', sortable: false },
                { label: '作业单位类别', name: 'workdepttypename', index: 'workdepttypename', width: 200, align: 'center', sortable: false },
                {
                    label: '申请作业时间', name: 'workstarttime', width: 300, align: 'center', sortable: false, formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd hh:mm') + " - " + formatDate(rowObject.workendtime, 'yyyy-MM-dd hh:mm');
                    }
                }, {
                    label: '实际作业时间', name: 'realityworkstarttime', width: 240, align: 'center', sortable: false, formatter: function (cellvalue, options, rowObject) {
                        return formatDate(rowObject.realityworkstarttime, 'yyyy-MM-dd hh:mm') + " - " + formatDate(rowObject.realityworkendtime, 'yyyy-MM-dd hh:mm');
                    }
                },
                { label: '作业地点', name: 'workplace', width: 200, align: 'center', sortable: false },
                { label: '作业申请人', name: 'applyusername', width: 200, align: 'center', sortable: false },
            ],
            viewrecords: true,
            rowNum: 20,
            rowList: [20, 30, 40],
            pager: "#gridPager",
            sortname: 'createdate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: true,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);
            }
        });
    }
    //查看
    function show(id) {
        var keyValue = id;
        var title = "查看高风险通用作业申请";
        url = "/HighRiskWork/HighRiskCommonApply/CheckForm?keyValue=" + keyValue + "&mode=view&state=3"
        if (checkedRow(keyValue)) {
            var dlg = dialogOpen({
                id: "ViewForm",
                title: title,
                url: url,
                width: ($(top.window).width() - 300) + "px",
                height: ($(top.window).height() - 150) + "px",
                btns: 1,
                btn: ["关闭"],
                callBack: function (iframeId) {
                    top.layer.close(dlg);
                }
            });
        }
    }

    function btn_edit(ledgertype, keyValue, starttime) {
        if (keyValue) {
            dialogOpen({
                id: 'Form',
                title: '台账',
                url: "/HighRiskWork/HighRiskCommonApply/LedgerSetting?keyValue=" + keyValue + "&type=1&ledgertype=" + ledgertype + "&starttime=" + starttime,
                width: ($(top.window).width() - 500) + "px",
                height: ($(top.window).height() - 500) + "px",
                btn: ["提交", "关闭"],
                callBack: function (iframeId) {
                    top.frames[iframeId].SubmitAction();
                }
            });
        } else {
            dialogMsg('请选择需要操作的行！', 0);
        }
    }

    //导出
    function exportResult() {
        location.href = "../../HighRiskWork/HighRiskCommonApply/ExportCommonLedgerData?queryJson=" + getQueryJson();
    }
</script>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-center">
        <div class="center-Panel" style="margin-left: 10px; margin-right: 10px;">
            <div class="panel-Title">通用高风险作业台账</div>
            <div class="titlePanel">
                <div class="title-search">
                    <table>
                        <tr>
                            <td>查询条件</td>
                            <td style="padding-left: 10px;">
                                <div class="ui-filter" style="width: 200px;">
                                    <div class="ui-filter-text">
                                        <input id="see" type="hidden" />
                                        请选择过滤条件
                                    </div>
                                    <div class="ui-filter-list" style="width: 420px;">
                                        <table class="form" id="filter-form">
                                            <tr>
                                                <td class="formTitle">作业类型：</td>
                                                <td class="formValue">
                                                    <div id="CommonType" type="select" class="ui-select"></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="formTitle">作业时间：</td>
                                                <td class="formValue">
                                                    <div style="float: left; width: 45%;">
                                                        <input id="StartDate" type="text" value="" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd', maxDate: '#F{$dp.$D(\'EndDate\')}' })">
                                                    </div>
                                                    <div style="float: left; width: 10%; text-align: center;">至</div>
                                                    <div style="float: left; width: 45%;">
                                                        <input id="EndDate" type="text" value="" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd', minDate: '#F{$dp.$D(\'StartDate\')}' })">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="formTitle">作业状态：</td>
                                                <td class="formValue">
                                                    <select id="LedgerType" class="form-control">
                                                        <option value="">===全部===</option>
                                                        <option value="0">即将作业</option>
                                                        <option value="1">作业中</option>
                                                        <option value="3">作业暂停</option>
                                                        <option value="2">已结束</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="formValue" colspan="2">
                                                    <input type="text" class="form-control" id="EngineerName" placeholder="作业单位或工程名称关键字" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="formTitle">申请编号：</td>
                                                <td class="formValue">
                                                    <input type="text" class="form-control" id="ApplyNumber" placeholder="申请编号" />
                                                </td>
                                            </tr>
                                        </table>
                                        <div class="ui-filter-list-bottom">
                                            <a id="btn_Reset" class="btn btn-primary" onclick="ResetCondition()">&nbsp;重&nbsp;&nbsp;置</a>
                                            <a id="btn_Search" class="btn btn-primary">&nbsp;查&nbsp;&nbsp;询</a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="toolbar">
                    <div class="btn-group">
                        <a class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>刷新</a>
                        <a id="export" class="btn btn-default" onclick="exportResult()"><i class="fa fa-download"></i>导出</a>
                    </div>
                </div>
            </div>
            <div class="gridPanel">
                <table id="gridTable"></table>
                <div id="gridPager"></div>
            </div>
        </div>
    </div>
</div>



            
