@{;
  ViewBag.Title = "表单页面";
  Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>


<style>
    .form .formTitle {
        width: 110px;
    }

    .form .formValue select {
        padding: 0px;
    }
</style>
<script>
    var keyValue = request('keyValue');
    var FlowId = request('FlowId');
    var type = request("type");
    var riskFlag = false;
    var dept = "";
    $(function () {
        initControl();
    });
    //初始化控件
    function initControl() {
        if (type == "0") {
            dept = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptId";
        }
        else {
            dept = "@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeId";
        }
    }
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        
        var postData = $("#form1").formSerialize(keyValue);
        postData["FlowId"] = FlowId;
        postData["RecId"] = keyValue;
        $.SaveForm({
            url: "../../HighRiskWork/HighRiskCommonApply/SaveTransferForm?keyValue=",
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
                top.layer.closeAll();
            }
        })
    }
    function chooseUser() {
        if (!!dept) {
            selectUser({ deptId: dept, checkMode: 1, mode: 8, winObject: window.document.body, domId: 'InTransferUserName,InTransferUserAccount,InTransferUserId,', userIds: "InTransferUserId" });
        }
        else {
            selectUser({ deptId: dept, checkMode: 1, mode: 1, winObject: window.document.body, domId: 'InTransferUserName,InTransferUserAccount,InTransferUserId,', userIds: "InTransferUserId" });
        }
        
    }
</script>
<div style="margin-left: 5px; margin-right: 5px;">
    <div id="div1" style="margin-top: 15px;"></div>
    <div id="panel_info" class="panel panel-default">
        <div class="panel-body">
            <table class="form">
                <tr>
                    <td id="titleTag" class="formTitle" style="width:150px;"><span id="sp1">转交人</span> <font face="宋体">*</font></td>
                    <td class="formValue">
                        <input type="text" readonly onclick="chooseUser()" id="InTransferUserName" isvalid="yes" checkexpession="NotNull" class="form-control" />
                        <input type="hidden" id="InTransferUserAccount" />
                        <input type="hidden" id="InTransferUserId" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
