@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    //保存表单;
    function AcceptClick() {
        var keyValue = "";
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize(keyValue);
        postData["ShipUnloading"] = 0;
        if (document.getElementById("txtShipUnloadingY").checked) {
            postData["ShipUnloading"] = 1;
        }
        $.SaveForm({
            url: "../../MatterManage/Calculate/SaveWeightBridge?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
                $.currentIframe().GetWorkRecord();
            }
        })
    }

</script>

<div style="margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle">车牌号<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="Platenumber" type="text" isvalid="yes" checkexpession="NotNull" placeholder="请填写车牌号" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">产品类型<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="Goodsname" type="text" isvalid="yes" checkexpession="NotNull" placeholder="请填写产品名称" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">运货单位<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="TakegoodsName" type="text" isvalid="yes" checkexpession="NotNull" placeholder="请填写提货方" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">是否卸船<font face="宋体">*</font></td>
            <td class="formValue">
                <input name="ShipUnloading" id="txtShipUnloadingY" type="radio" value="1" /><span class="ShipUnloading">是</span>&nbsp;&nbsp;&nbsp;
                <input name="ShipUnloading" id="txtShipUnloadingN" type="radio" value="0" checked="checked" /><span class="ShipUnloading">否</span>
            </td>
        </tr>
        <tr>
            <td class="formTitle">备注</td>
            <td class="formValue">
                <textarea id="Remark" type="text" maxlength="500" class="form-control"></textarea>
            </td>
        </tr>
    </table>
</div>
