@{;
ViewBag.Title = "列表页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/business/gridhelper.js"></script>


<script>
   
    $(function () {    
        GetGrid();
    });
    //加载表格
    function GetGrid() {
        var queryJson = {
            RoughDate: request("RoughDate"),
            Takegoodsname: request("Takegoodsname"),
            Transporttype: request("Transporttype"),
            Goodsname: request("Goodsname")
        }
        debugger;
        var url = "../../MatterManage/Calculate/GetCointDetailList?queryJson=" + JSON.stringify(queryJson);
        var res = "";
        $.post(url, {}, function (data) {
            var list = eval("(" + data + ")")
            for (var i = 0; i < list.length; i++) {
                var entity = list[i];
                var passremark = entity.passremark == null ? "" : entity.passremark;
                var num3 = entity.num3 == null ? "" : entity.num3;
                var num2 = entity.num2 == null ? "" : entity.num2;
                var num1 = entity.num1 == null ? "" : entity.num1;
                var status = entity.status == null ? "" : entity.status;

                var letman = entity.letman == null ? "" : entity.letman;
                var opername = entity.opername == null ? "" : entity.opername;
                var netwneight = entity.netwneight == null ? "" : entity.netwneight;
                var roughusername = entity.roughusername == null ? "" : entity.roughusername;
                var rough = entity.rough == null ? "" : entity.rough;
                var tareusername = entity.tareusername == null ? "" : entity.tareusername;

                var rctime = entity.rctime == null ? "" : entity.rctime;
                var rctime1 = entity.rctime1 == null ? "" : entity.rctime1;
                var balancetime = entity.balancetime == null ? "" : entity.balancetime;
                var mztime = entity.mztime == null ? "" : entity.mztime;
                var mztime1 = entity.mztime1 == null ? "" : entity.mztime1;
                var outdate = entity.outdate == null ? "" : entity.outdate;

                var takegoodsname = entity.takegoodsname == null ? "" : entity.takegoodsname;
                var platenumber = entity.platenumber == null ? "" : entity.platenumber;
                var transporttype = entity.transporttype == null ? "" : entity.transporttype;
                var numbers1 = entity.numbers1 == null ? "" : entity.numbers1;
                var numbers = entity.numbers == null ? "" : entity.numbers;
                var tare = entity.tare == null ? "" : entity.tare;

                res += "<tr><td>" + eval(i+1) + "</td><td>" + rctime + "</td><td>" + rctime1 + "</td><td>" + balancetime + "</td>  <td>" + mztime + "</td><td>" + mztime1 + "</td><td>" + outdate + "</td>";
                res += "<td>" + takegoodsname + "</td><td>" + platenumber + "</td><td>" + transporttype + "</td><td>" + numbers + "</td><td>" + tare + "</td>";
                res += "<td>" + tareusername + "</td><td>" + rough + "</td><td>" + roughusername + "</td><td>" + netwneight + "</td><td>" + opername + "</td><td>" + letman + "</td>";
                res += "<td>" + status + "</td><td>" + passremark + "</td><td>" + num1 + "</td><td>" + num2 + "</td><td>" + num3 + "</td>";
                res += "</tr>";
            }
            $(".bodyClass").append(res);
        });
    }

    
</script>



<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div style="text-align-last:center;" class="ui-layout-center">
        <h3>提货/转运单</h3>
        <div class="center-Panel" style="margin-left: 10px;">
              
                 <table class="ContenSumTitle" id="gridTable">
                    <thead>
                        <tr style="height: 35px; font-weight: bold; background-color: #f5f5f6; ">
                            <td>序号</td>
                            <td>开票日期</td>
                            <td>开票进厂时间</td>
                            <td>空车过磅时间</td>
                            <td>毛重日期</td>
                            <td>毛重过磅时间</td>
                            <td>出厂时间</td>
                            <td>公司</td>
                            <td>车号</td>
                            <td>运输类型</td>
                            <td>单号</td>
                            <td>皮重</td>
                            <td>皮重地磅员</td>
                            <td>毛重</td>
                            <td>毛重地磅员</td>
                            <td>净重</td>
                            <td>入厂开单员</td>
                            <td>出厂开单员</td>
                            <td>预警信息</td>
                            <td>异常放行备注</td>
                            <td>入厂至地磅时间</td>
                            <td>地磅至开单时间</td>
                            <td>总时间</td>
                        </tr>
                    </thead>
                    <tbody class="bodyClass">
                    </tbody>
                </table>
         </div>
    </div>
</div>

<style>

    .ContenSumTitle {
        height: 74px;
        padding: 10px;
        border: 1px solid #ccc;
        margin-left: 10px;
        text-align: center;
    }
        .ContenSumTitle td {
            border: 1px solid #ccc;
            width: 120px;
        }
    .bodyClass tr {
      height:35px;
    }
   

</style>

