@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = request('keyValue');
    var pId = "";
    $(function () {
        //initControl();
        //disabledControl();
        GetGrid();
    });



    //初始化控件
    function initControl(id, num) {
      
      
    }
    
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var url = "../../MatterManage/Calculate/SaveDetailedFrom?keyValue=" + pId;
        $.post(url, { Takegoodsname: $("#Takegoodsname").val(), Goodsname: $("#Goodsname").val(), Remark: $("#Remark").val() }, function (data) {
            $("#gridTable").trigger("reloadGrid");
            reload();
        });
    }



    //加载表格
    function GetGrid() {
        debugger;
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            autowidth: true,
            height: $(top.window).height() - 500,
            postData: { BaseId: keyValue },
            url: "../../MatterManage/Calculate/GetDetailedPageList",
            datatype: "json",
            colModel: [
                { label: 'Id', name: 'id', hidden: true },
                { label: 'isout', name: 'isout', hidden: true },
                {
                    label: '操作', name: 'Oper', index: 'Oper', width: 150, align: 'center', formatter: function (cellvalue, options, rowObject) {
                        var html = "<a href='javascript:show()' title='打印'><i class='fa fa-print'></i></a>";
                        if (rowObject.isout != "1") {
                            html += "<a href='javascript:edit()' title='修改'><i class='fa fa-pencil-square-o'></i></a>";
                        }
                        return html;
                    }
                },
                { label: '提货单号', name: 'numbers', index: 'Numbers', width: 200, align: 'center', sortable: true },
                { label: '运货单位', name: 'takegoodsname', index: 'TakeGoodsName', width: 350, align: 'center', sortable: true },
                { label: '车牌号', name: 'platenumber', index: 'PlateNumber', width: 200, align: 'center', sortable: true },
                //{ label: '运输类型', name: 'transporttype', index: 'TransportType', width: 200, align: 'center', sortable: true },
                { label: '货名', name: 'goodsname', index: 'goodsName', width: 200, align: 'center', sortable: true },
                { label: '毛重', name: 'rough', index: 'rough', width: 200, align: 'center', sortable: true },
                { label: '皮重', name: 'tare', index: 'tare', width: 200, align: 'center', sortable: true },
                { label: '净重', name: 'netwneight', index: 'netwneight', width: 200, align: 'center', sortable: true },
                 {
                     label: '毛重时间', name: 'roughtime', index: 'roughTime', width: 200, align: 'center', sortable: true, formatter: function (cellvalue, options, rowObject) {
                         return formatDate(cellvalue, 'yyyy-MM-dd hh:mm')
                     }
                 },

                { label: '毛重司磅员', name: 'roughusername', index: 'roughUserName', width: 150, align: 'center', sortable: true },
                {
                    label: '皮重时间', name: 'taretime', index: 'tareTime', width: 200, align: 'center', sortable: true, formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd hh:mm')
                    }
                },
                { label: '皮重司磅员', name: 'tareusername', index: 'tareUserName', width: 150, align: 'center', sortable: true },
                {
                    label: '称重单打印时间', name: 'stamptime', index: 'stampTime', width: 250, align: 'center', sortable: true, formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd hh:mm')
                    }
                },
                { label: '备注', name: 'remark', index: 'Remark', width: 300, align: 'center', sortable: true },
            ],
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);
                // gridqxcz($gridTable);
            },
            //viewrecords: true,
            rowNum: 10000,
            // rowList: [30, 50, 100],
            //pager: "#gridPager",
            sortname: 'createdate',
            sortorder: 'desc',
            rownumbers: true,
        });

    }

    //编辑
    function edit() {
        var id = $('#gridTable').jqGridRowValue('id');
        $("#bit_saeve").show();
        //$("#Takegoodsname").attr("readonly", false);
        $("#Remark").attr("readonly", false);
        dialogMsg('请在上方进行编辑！', 0);

        //获取表单
        if (!!id) {
            $.SetForm({
                url: "../../MatterManage/Calculate/GetFormJson",
                param: { keyValue: id },
                success: function (data) {
                    pId = id;
                    if (data != null) {
                        $("#form1").formDeserialize(data);
                        //$("#Weight").val(data.Rough);
                    }
                }
            })
        }
    }

    //打印
    function show() {
        debugger;
        var id = $('#gridTable').jqGridRowValue('id');
        var dlg = dialogOpen({
            id: 'WorkList',
            title: '称重单打印',
            url: '/MatterManage/Calculate/NewStamp?keyValue=' + id,
            width: 950 + "px",
            height: 450 + "px",
            btn: null,
            callBack: function (iframeId) {
                top.layer.close(dlg);
            }
        });
    }



</script>



<div style="margin-top: 20px; margin-right: 30px;">
    <div class="ContenSumTitle">
        <table>
            <tr>
               
                <td class="formTitle">运货单位：</td>
                <td  class="formValue">
                    <input id="Takegoodsname" type="text" readonly="readonly" class="form-control" />
                </td>

                <td width="60px;" class="formTitle">货名：</td>
                <td  class="formValue">
                    <input id="Goodsname" type="text" readonly="readonly" class="form-control" />
                </td>
                @*<td class="formTitle">毛重：</td>
                <td  class="formValue">
                    <input id="Rough" type="text" readonly="readonly" class="form-control" />
                </td>
                <td class="formTitle">皮重：</td>
                <td  class="formValue">
                    <input id="Tare" type="text" readonly="readonly" class="form-control" />
                </td>*@
                <td width="60px;" class="formTitle">备注：</td>
                <td class="formValue">
                    <input id="Remark" type="text" readonly="readonly" class="form-control" />
                </td>

            </tr>
        </table>
        <div class="btn-group1">
            <a onclick="AcceptClick()" id="bit_saeve" style="display:none;" class="layui-layer-btn0">保存</a>
        </div>


     

    </div>
    <div class="gridPanel">
        <table id="gridTable"></table>
        <div id="gridPager"></div>
    </div>
</div>



<style>
    .ContenSumTitle {
        height: 85px;
        padding: 10px;
        border: 1px solid #ccc;
        margin-left: 10px;
        text-align: center;
    }

    .gridPanel {
        padding-top: 10px;
        margin-left: 10px;
    }

    .ClassLeft {
        float: left;
        padding-left: 8px;
        text-align: center;
    }

        .ClassLeft input {
            padding: 0;
            padding-left: 5px;
        }

    .btn-group1 a {
        display: inline-block;
        width: 60px;
        margin-right: 10px;
        height: 24px;
        line-height: 24px;
        background: #5cb85c;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        margin-top: 10px;
        float: right;
        text-decoration: none;
    }

        .btn-group1 a:hover {
            cursor: pointer;
            color: #2e99d4;
        }

    .formValue {
        width:170px;
    }
</style>
