@{;
    ViewBag.Title = "打印页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}


<script>
    var keyValue = request('keyValue');
    var mz = request('Mz');
    var pz = request('Pz');

    //初始化加载
    $(function () {
        f_stamp();
    });


    function initControl() {
        $.SetForm({
            url: "../../MatterManage/Calculate/GetOnlyFormJson",
            param: { keyValue: keyValue },
            success: function (data) {
                $("#form1").formDeserialize(data);
                $("#Roughtime").html(formatDate(data.Roughtime, "yy-MM-dd hh:mm"));
                $("#Taretime").html(formatDate(data.Taretime, "yy-MM-dd hh:mm"));
                $("#Numbers").html(data.Numbers);
                $("#Takegoodsname").html(data.Takegoodsname);
                $("#Goodsname").html(data.Goodsname);
                $("#Rough").html(data.Rough);
                $("#Tare").html(data.Tare);
                $("#Netwneight").html(data.Netwneight);
                $("#Platenumber").html(data.Platenumber);
                $("#Roughusername").html(data.Roughusername == null ? data.Tareusername : data.Roughusername);
                $("#Remark").html(data.Remark);
            }
        })
    }


    //表单提交
    function f_stamp() {
        var url = "../../MatterManage/Calculate/UpateStampTime"
        $.post(url, { keyValue: keyValue }, function (data) {
            //$.currentIframe().reload();
            //$.currentIframe().$("#gridTable").trigger("reloadGrid");
            //$.currentIframe().GetWorkRecord();
            initControl();
            f_print();
        });
    }



    //打印预览
    function f_print() {
        window.onbeforeprint();
        window.print();
        window.onafterprint();
        dialogClose();//打印自动关闭
    }
    window.onbeforeprint = function () {
        $("#Headheight").hide();
        $(".hideTitle").addClass("hideEle");
        $(".TabelContent tr td").css("border", 0);
    }
    window.onafterprint = function () {
        $("#Headheight").show();
        $(".hideTitle").removeClass("hideEle");
        $(".TabelContent tr td").css("border", "1px solid #352e2e");
    }
</script>



<div class="TitleContent">
    <h4>
        <span class="czTitle hideTitle">五联单</span>
        <div class="czTit hideTitle">No: <span>0110778</span></div>
    </h4>
    <table class="TabelContent">
        <tbody>
            <tr id="Headheight"> <td class="hideTitle" style="font-size:24px;font-weight:bold;" colspan="6">称 重 单</td> </tr>
            <tr class="tr1">
                <td class="hideTitle czCol1">
                    提货单号
                </td>
                <td class="czCol2"><label id="Numbers"></label></td>
                <td class="hideTitle czCol3">
                    运货单位
                </td>
                <td class="czCol4"><label id="Takegoodsname"></label></td>
                <td class="hideTitle czCol5">
                    货物名称
                </td>
                <td class="czCol6"><label id="Goodsname"></label></td>
            </tr>
            <tr class="tr2">
                <td class="hideTitle">
                    毛重
                </td>
                <td><label id="Rough"></label></td>
                <td class="hideTitle">
                    皮重
                </td>
                <td><label id="Tare"></label></td>
                <td class="hideTitle">  
                    净重
                </td>
                <td><label id="Netwneight"></label></td>
            </tr>

            <tr class="tr3">
                <td class="hideTitle">
                    毛重时间
                </td>
                <td><label id="Roughtime"></label></td>
                <td class="hideTitle">
                    皮重时间
                </td>
                <td><label id="Taretime"></label></td>
                <td class="hideTitle">
                    车牌号码
                </td>
                <td><label id="Platenumber"></label></td>
            </tr>

            <tr class="tr4">
                <td class="hideTitle">
                    司磅员
                </td>
                <td><label id="Roughusername"></label></td>
                <td class="hideTitle">
                    司机签名
                </td>
                <td></td>
                <td class="hideTitle">
                    备注
                </td>
                <td><label id="Remark"></label></td>
            </tr>
            <tr><td class="hideTitle" style="height:40px; text-align:right;padding-right:10px;" colspan="6">福建华电可门有限公司印制</td></tr>
        </tbody>
    </table>

</div>

<style>
    * {
        font-size: 16px;
    }

    .TitleContent {
        text-align: center;
        /*border: 1px solid #352e2e;*/
        width: 891px;
        height: 284px;
        padding-left: 16px;
        margin-left: 24px;
        margin-top: 17px;
    }

        .TitleContent .czTitle {
            font-size: 22px;
            position: relative;
            left: 67px;
        }

        .TitleContent h4 {
            padding-right: 20px;
            margin-bottom: 15px;
        }

    .TabelContent {
        width: 100%;
        height: 100%;
    }

    TabelContent tr td {
        border: 1px solid #352e2e;
        text-align: center;
    }
    /*.TabelContent tr td:nth-child(4) label {
            left: -25px;
            position: relative;
        }*/
    /*.TabelContent tr td:nth-child(4) {
            border: 1px solid #352e2e;
            text-align: left;
        }
          .TabelContent tr td:nth-child(6) {
            border: 1px solid #352e2e;
            text-align: left;
        }*/

    .czTit {
        width: 110px;
        float: right;
        margin-right: 14px;
    }

    .hideEle {
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .TabelContentHead {
        display: none;
    }

    .czCol1 {
        width: 140px;
    }

    .czCol2 {
        width: 160px;
    }

    .czCol3 {
        width: 80px;
    }

    .czCol4 {
        width: 150px;
    }

    .czCol5 {
        width: 90px;
    }

    .czCol6 {
        width: 150px;
    }
    .tr1 td label {
        padding-top:30px;
    }
    .tr2 td label {
        padding-top:30px;
    }
    .tr3 td label {
        padding-top:25px;
    }
    .tr4 td label {
        padding-top:25px;
    }
    
</style>
