@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
<script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script src="~/Content/scripts/business/Common.js"></script>
<script src="~/Content/scripts/business/Grid.js"></script>
<script>
    var keyValue = request('keyValue');
    var HdId = request('HdId');
    $(function () {
        initControl();
    });
    //初始化控件
    function initControl() {
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../HazardsourceManage/jkcontent/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                }
            })
        }
    }
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize(keyValue);
        postData["HdId"] = HdId;
        $.SaveForm({
            url: "../../HazardsourceManage/jkcontent/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                //$.currentIframe().$("#gridTableJkContent").trigger("reloadGrid");
                top.Form.window.$("#gridTableJkContent").trigger('reloadGrid');
            }
        })
    }
</script>
<div style="margin-top: 20px; margin-right: 30px;">
    @*基本信息*@


    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;监控内容</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">


            <table class="form">
                <tr>
                    <td class="formTitle" style="width:20%">温度：<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="Wd" type="text" maxlength="15" class="form-control" isvalid="yes" checkexpession="NotNull" />

                    </td>
                    <td>℃</td>
                    <td class="formTitle">压力：<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="Yl" type="text" maxlength="15" class="form-control" isvalid="yes" checkexpession="NotNull" />
                    </td>
                    <td>Pa</td>
                </tr>
                <tr>
                    <td class="formTitle">液位：<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="Yw" type="text" maxlength="15" class="form-control" isvalid="yes" checkexpession="NotNull" />
                    </td>
                    <td>mmH2O</td>
                    <td class="formTitle">流量：<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="Ll" type="text" maxlength="15" class="form-control" isvalid="yes" checkexpession="NotNull" />

                    </td>
                    <td>m3/s </td>
                </tr>
                <tr>
                    <td class="formTitle">空气中化学物质浓度：<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="Kqzhxwznd" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />

                    </td>
                    <td>mg/m3 </td>
                    <td class="formTitle">组份：<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="Zf" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">其他：<font face="宋体">*</font></td>
                    <td class="formValue" colspan="4">
                        <textarea id="Qt" type="text" class="form-control" isvalid="yes" checkexpession="NotNull"></textarea>

                    </td>
                </tr>

            </table>
        </div>
    </div>





</div>
