/* 分布图样式 */
.contentBox{
  box-sizing: border-box;
  padding-left: 80px;
  padding-bottom: 30px; 
}
.svgBox{
  width: 1504px;
  height: 858px;  
  margin: 0 auto;
  position: relative;
}
.mainbg{
  width: 100%;
  height: 100%; 
  border: 0;
}
@media screen and (max-width:1000px) {
    .content {
        transform: scale(0.5);
        left: -480px;
        top: -200px;
    }
}
.content{
    /* width: 100%;
    height: 100%; */
    width: 1680px;
    height: 1031px;
    margin: 0 auto;
    background: url('../images/bg2.jpg') no-repeat;
    /* position: absolute; */
    position: relative;
    color: #000;
    left: 0;
    top: 0;
}
.content .instruct_section{
  position: absolute;
  right: 20px;
  bottom: 236px;
} 
.content .itemul：hover{
  display: block;
}
.wordInf{
  position: absolute;
  text-align: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.instruct_section h3{
  height: 188px;
  line-height: 188px;
  font-size: 34px;
  font-weight: bold;
  color: #333;
}
.warning-section{
  padding-left: 18px;
}
.riskul1{
  float: left;
  width: 272px;
}
.riskul2{
  margin-top: 40px;
  float: left;
  width: 190px;
}
.riskul1 li,.riskul2 li{
  height: 20px;
  line-height: 20px;
  margin-bottom: 18px;
  vertical-align: middle;
}
.riskul1 li span{
    float: left;
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 17px;
}
.riskul2>li:nth-child(1) {
  padding-left: 38px;
  background: url(../images/danger2.png) no-repeat left center;
}
.riskul2>li:nth-child(2) {
  padding-left: 38px;
  background: url(../images/danger1.png) no-repeat left center;
}
/* .content>div:hover>ul{
  display: block;
} */
.content .itemul{
  position: absolute;
  top: 0;
  right: -120px;
  width: 120px;
  z-index: 3;
  background-color: pink;
  display: none;
}
.content .itemuls{  
  right: 0;
  left: -120px;
}
.content>div{
  position: absolute;
}
.newIcon{
  display: block;
  /* width: 20px;
  height: 20px; */
  width: 15px;
  height: 15px;
  background-size: 100% 100%;
  position: absolute;
  /* left: 90%;
  top: 85%; */
  left: 80%;
  top: 65%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.importAccident{
  /* width: 20px;
  height: 20px; */
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  top: 85%;
  left: 10%;
  transform: translate(-50%, -50%);
  background: url(../images/danger2.png) no-repeat;
  background-size: contain;
  z-index: 1;
}


/* 弹窗样式 */
.pop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
  display: none;
}
.pop-conetent {
  width: 930px;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: #fff;
  border-radius: 8px;
}
.pop-header {
  height: 48px;
  font-size: 18px;
  color: #333;
  padding: 0 20px;
}
.pop-header h3 {
  line-height: 64px;
  font-size: 18px;
  color: #333;
  font-weight: bold;
}
.pop-header span {
  margin-top: 10px;
  cursor: pointer;
}
.import-pop-content .pop-main {
  padding: 0 20px 20px;
}
/* 按钮入口 */
.area-sectionBox{
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  flex-flow: wrap;
  min-height: 80px;
  border-bottom: 1px solid #f2f2f2;
  /* padding-bottom: 16px; */
  padding: 0 20px 16px;
}
.area-sectionBox li{
  width: 140px;
  height: 50px;
  line-height: 50px;
  background-color: #165ed6;
  border-radius: 8px;
  text-align: center;
  margin-right: 37px;
  margin-bottom: 30px;
}
.area-sectionBox li:nth-of-type(5n){
  margin-right: 0;
}
.area-sectionBox li.active{
  background-color: #3e87ff;
}
.area-sectionBox li a{
  display: block;
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: #fff;
  /* font-weight: bold; */
}
.warning-area{
  padding: 28px 0 0 28px;
}
.warning-area .risk-item{
    display: block;
}
.warning-area .risk1{
  width: 600px;
  float: left;
}
.warning-area .risk2{
  width: 200px;
  float: left;
}
.risk1>li,.risk2>li{
  float: left;
  /* width: 50%; */
  height: 20px;
  font-size: 16px;
  color: #333;
  line-height: 20px;
  margin-bottom: 25px;
}
.risk1>li{
  width: 50%;
}
/* .risk1 .risk-item-last{
  width: 210px;
} */
.risk1>li>span{
  float: left;
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 17px;
}
.redColor{
  background-color: #ff0000;
}
.orangeColor{
  background-color: #f27e18;
  }
.yellowColor{
  background-color: #fff100;
}
.blueColor{
  background-color: #1186f2;
}
.risk2>li{
  float: left;
  font-size: 16px;
  padding-left: 38px;
}
.risk2>li:nth-child(3){
  width: 165px;
}
.risk2>li:nth-child(1){
  background: url('../images/danger2.png') no-repeat left center;
}
.risk2>li:nth-child(2){
  background: url('../images/danger.png') no-repeat left center;
}
.risk2>li:nth-child(3){
  background: url('../images/danger2.png') no-repeat left center;
}
.detailnum{
  color: #eb3838;
  cursor: pointer;
}
.detailnum:hover{
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.msgnum{
  margin-left: 15px;
  color: #1c50c4;
  cursor: pointer;
}
.msgnum:hover{
  opacity: 0.6;
  filter: alpha(opacity=60);
}

/* 弹窗表格区域 */
.highrisk-section{
  margin-top: 13px;
}
.highriskTable{
  max-height: 295px;
  display: inline-block;
  overflow-y: auto;
  width: 100%;
  table-layout: fixed;
  border-collapse:separate;
  text-align: center;
  border-spacing: 0;
  position: relative;
  z-index: 11;
 }
 .highrisktab td{
   padding: 0 3px;
 }
 .highriskTable tr{
     height: 40px;
     /* line-height: 40px; */
 }
 .highriskTable tr th{
   font-weight: bold;
 }
 .highriskTable td{
     /* overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap; */
 }
 .highriskTable tr:first-child th:first-child{
      border-top-left-radius: 8px;         
 }
 .highriskTable tr:first-child th:last-child{
      border-top-right-radius: 8px;
 }
 .highriskTable tr:last-child td:last-child{
     border-bottom-right-radius: 8px;
 }
 .highriskTable tr:last-child td:first-child{
     border-bottom-left-radius: 8px;
 }
 .highriskTable tr:nth-of-type(2n){
     background: #e2e2e2;
 }
 .highriskTable tr:nth-of-type(2n+1){
  background: #fafafa
 }


/* 区域定位 */
.index-1{
  left: 43px;
  top: 145px;
  cursor: pointer;
}
.word-1{
  left: 82px;
  top: 115px;
  width: 56px;
  line-height: 16px;
}

.index-2{
  left: 64px;
  top: 400px;
  cursor: pointer;
}

.index-3{
  left: 133px;
  top: 398px;
  cursor: pointer;
}
.word-3{
    width: 100px;
    left: -20px;
    z-index: 2;
}

.index-4{
  left: 233px;
  top: 407px;
  cursor: pointer;
}
.newIcon-4{
  top: 50%;
}
.importAccident-4{
  top: 50%
}

.index-5{
  left: 288px;
  top: 261px;
  cursor: pointer;
}
.word-5{
  left: -2px;
  top: 63px;
}

.index-6{
  left: 288px;
  top: 406px;
  cursor: pointer;
}
.word-6{
  left: -2px;
  top: 10px;
}

.index-7{
  left: 288px;
  top: 145px;
  cursor: pointer;
}

.index-8{
  left: 532px;
  top: 273px;
  cursor: pointer;
}
.word-8{
  width: 50px;
}

.index-9{
  left: 592px;
  top: 273px;
  cursor: pointer;
  z-index: 2;
}
.word-9{
  width: 50px;
}

.index-10{
  left: 484px;
  top: 303px;
  cursor: pointer;
}

.index-11{
  top: 377px;
  left: 498px;
  cursor: pointer;
}

.index-12{
  top: 377px;
  left: 607px;
  cursor: pointer;
}
.word-12{
  line-height: 16px;
  top: -20px;
}
.newIcon-12{
  left: 68%;
}

.index-13{
  left: 667px;
  top: 279px;
  cursor: pointer;
}

.index-14{
  left: 667px;
  top: 362px;
  cursor: pointer;
}

.index-15{
  left: 694px;
  top: 294px;
  cursor: pointer;
}
.word-15,.word-16{
  z-index: 2;
}
.newIcon-15 {
    left: 15px;
}
.index-16{
  left: 694px;
  top: 377px;
  cursor: pointer;
}
.newIcon-16 {
    left: 15px;
}
.index-17{
  left: 719px;
  top: 280px;
  cursor: pointer;
}
.word-17{
  top: 72px;
}

.index-18{
  left: 1195px;
  top: 235px;
  cursor: pointer;
}

.index-19{
  left: 1195px;
  top: 279px;
  cursor: pointer;
}

.index-20{
  left: 1195px;
  top: 362px;
  cursor: pointer;
}

.index-21-1{
  left: 1158px;
  top: 422px;
  cursor: pointer;
}
.index-21-2{
  left: 1195px;
  top: 415px;
  cursor: pointer;
}
.word-21{
  left: -14px;
  width: 100px;
  z-index: 2;
}

.index-22{
  left: 1272px;
  top: 202px;
  cursor: pointer;
}

.index-23{
  left: 1281px;
  top: 304px;
  cursor: pointer;
}

.index-24{
  left: 43px;
  top: 466px;
  cursor: pointer;
}
.word-24{
  top: 160px;
}

.index-25{
  left: 288px;
  top: 467px;
  cursor: pointer;
}
.word-25{
  top: 160px;
}

.index-26{
  left: 43px;
  top: 812px;
  cursor: pointer;
}
.word-26{
  top: 88px;
}

.index-27{
  left: 190px;
  top: 893px;
  cursor: pointer;
}
.word-27{
  width: 60px;
  left: -7px;
  z-index: 2;
}
.index-28{
  left: 243px;
  top: 854px;
  cursor: pointer;
}
.index-29{
  left: 243px;
  top: 920px;
  cursor: pointer;
}
.index-30{
  left: 335px;
  top: 861px;
  cursor: pointer;
}

.index-31{
  left: 461px;
  top: 841px;
  cursor: pointer;
}
.word-31{
  top: 58px;
}

.index-32-1{
    left: 455px;
    top: 478px;
  cursor: pointer;
}
.index-32-2{
    left: 478px;
    top: 468px;
  cursor: pointer;
}
.word-32{
    width: 50px;
    left: -18px;
    top: -20px;
    z-index: 2;
}

.index-33{
  left: 503px;
  top: 465px;
  cursor: pointer;
}
.word-33{
    width: 32px;
    top: -7px;
    z-index: 2;
}
.index-34{
  left: 525px;
  top: 465px;
  cursor: pointer;
}

.index-35{
    left: 488px;
    top: 505px;
  cursor: pointer;
}
.index-36{
    left: 532px;
    top: 505px;
  cursor: pointer;
}

.index-37{
    left: 643px;
    top: 505px;
  cursor: pointer;
}
.index-38{
  left: 695px;
  top: 478px;
  cursor: pointer;
}

.index-40{
    left: 572px;
    top: 530px;
  cursor: pointer;
}
.index-41{
    left: 474px;
    top: 558px;
  cursor: pointer;
}

.index-42{
    left: 572px;
    top: 558px;
  cursor: pointer;
}
.word-42{
  width: 50px;
  top: -5px;
  z-index: 2;
}
.index-43{
    left: 610px;
    top: 558px;
  cursor: pointer;
}

.index-44{
    left: 776px;
    top: 471px;
  cursor: pointer;
}
.word-44{
    top: 40px;
    z-index: 2;
}

.index-45{
    left: 906px;
    top: 518px;
  cursor: pointer;
}

.index-46{
    left: 986px;
    top: 474px;
  cursor: pointer;
}
.index-47-wrap{
  position: absolute;
  left: 986px;
  top: 510px;
}
.index-47-wrap ul.itemul{
  /* display: block; */
  position: absolute;
  left: 10px;
  top: 0;
}
.index-47{
    /* left: 986px;
    top: 510px; */
    position: absolute;
    left: 0;
    top: 0;
  cursor: pointer;
}
.index-48{
    /* left: 986px;
    top: 540px; */
    position: absolute;
    left: 0;
    top: 30px;
  cursor: pointer;
}
.index-49{
    /* left: 1070px;
    top: 510px; */
    position: absolute;
    left: 83px;
    top: 0;
  cursor: pointer;
}
.index-50{
    left: 1112px;
    top: 474px;
  cursor: pointer;
}
.index-51{
    left: 1221px;
    top: 470px;
  cursor: pointer;
}
.word-51{
    width: 16px;
    left: 30px;
    top: 30px;
}
.index-52{
    left: 459px;
    top: 655px;
  cursor: pointer;
}
.word-52{
  line-height: 16px;
  z-index: 2;
}
.index-53{
    left: 479px;
    top: 624px;
  cursor: pointer;
}
.index-54{
    left: 578px;
    top: 615px;
  cursor: pointer;
}
.index-55{
    left: 578px;
    top: 635px;
  cursor: pointer;
}
.index-56{
    left: 607px;
    top: 623px;
  cursor: pointer;
}
.index-57{
    left: 717px;
    top: 628px;
  cursor: pointer;
}
.word-57{
    width: 35px;
    line-height: 16px;
    top: -7px;
    z-index: 2;
}

.index-58{
    left: 717px;
    top: 656px;
  cursor: pointer;
}
.word-58{
    width: 35px;
    line-height: 16px;
    top: 4px;
    z-index: 2;
}

.index-59{
    left: 479px;
    top: 681px;
  cursor: pointer;
}
.index-60{
    left: 479px;
    top: 702px;
  cursor: pointer;
}
.word-60{
    top: 22px;
    z-index: 2;
}
.index-61{
    left: 479px;
    top: 767px;
  cursor: pointer;
}
.index-62{
    left: 607px;
    top: 681px;
  cursor: pointer;
}
.index-63{
    left: 607px;
    top: 702px;
  cursor: pointer;
}
.word-63{
    top: 22px;
    z-index: 2;
}
.index-64{
    left: 607px;
    top: 767px;
  cursor: pointer;
}
.index-65-wrap{
  position: absolute;
  left: 773px;
  top: 616px;
}
.index-65-wrap ul.itemul{
  /* display: block; */
  position: absolute;
  left: 125px;
  top: 0;
}
.index-65{
    /* left: 773px;
    top: 616px; */
    position: absolute;
    left: 0;
    top: 0;
  cursor: pointer;
}
.index-66{
    /* left: 773px;
    top: 656px; */
    position: absolute;
    left: 0;
    top: 41px;
  cursor: pointer;
}
.index-67{
    left: 833px;
    top: 602px;
  cursor: pointer;
}
.index-68{
    left: 988px;
    top: 601px;
  cursor: pointer;
}
.word-68{
    width: 100px;
    left: -30px;
    z-index: 2;
}
.index-69{
    left: 988px;
    top: 623px;
  cursor: pointer;
}
.index-70{
    left: 1040px;
    top: 601px;
  cursor: pointer;
}
.word-70{
  z-index: 2;
}
.index-71{
    left: 1094px;
    top: 602px;
  cursor: pointer;
}
.word-71{
  top: -5px;
  z-index: 2;
}
.index-72{
    left: 1147px;
    top: 622px;
  cursor: pointer;
}
.index-73{
    left: 778px;
    top: 717px;
  cursor: pointer;
}
.index-74{
    left: 1030px;
    top: 718px;
  cursor: pointer;
}
.word-74{
    width: 100px;
    left: -25px;
    z-index: 2;
}
.index-75{
    left: 1145px;
    top: 718px;
  cursor: pointer;
}
.index-76{
    left: 988px;
    top: 758px;
  cursor: pointer;
}
.index-77{
    left: 1114px;
    top: 762px;
  cursor: pointer;
}
.index-78{
  left: 575px;
  top: 819px;
  cursor: pointer;
}