@{;
ViewBag.Title = "事故起数";
Layout = "~/Views/Shared/_Index.cshtml";
}
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>
<link href="~/content/scripts/plugins/icheck/skins/square/_all.css" type="text/css" rel="stylesheet" />
<script src="~/content/scripts/plugins/icheck/js/icheck.min.js" type="text/javascript"></script>
<script src="~/content/scripts/plugins/icheck/js/custom.min.js" type="text/javascript"></script>

<script>
    var sgtypename = request('sgtypename');//统计页面传进来的参数
    var happentimestart_deal = request('TimeStart');//传进来的开始时间
    var happentimeend_deal = request('TimeEnd');//传进来的结束事件
    var sglevelname = request('sglevelname');//传进来的结束事件
    var rsshsgtypename = request('rsshsgtypename');//传进来的结束事件
    var sgyy = request('sgyy');//传进来的结束事件
    var sgtype = request('sgtype');//传进来的结束事件
    // var Sicktype;//职业病种类
    var check = 1;//默认选择年度发病人员
    var GenCol;
    var FormUrl;
    $(function () {
        InitialPage();
        IsGeneric();
        GetGrid();
    });

    //判断是否是通用版 做页面处理
    function IsGeneric() {
        $.ajax({
            url: top.contentPath + '/Desktop/IsGeneric',
            type: "GET",
            async: false,
            dataType: "text",
            success: function (result) {
                if (result == "true") {
                    FormUrl = "GenericForm";
                    GenCol =  [
                { label: 'createuserid', name: 'createuserid', hidden: true },
                  { label: '主键', name: 'id', index: 'id', align: 'left', sortable: true, hidden: true },
                         { label: '', name: 'departmentcode', hidden: true }, { label: '', name: 'organizecode', hidden: true },
                   { label: '处理主键', name: 'dealid', index: 'dealid', align: 'left', sortable: true, hidden: true },
                        {
                            label: '不安全行为', name: 'baqxwname', index: 'baqxwname', align: 'center', sortable: false
                        },
                             {
                                 label: '不安全状态', name: 'baqztname', index: 'baqztname', align: 'center', sortable: false
                             },
                                  {
                                      label: '间接原因', name: 'jjyyname', index: 'jjyyname', align: 'center', sortable: false
                                  },
       {
           label: '人身伤害事故类别', name: 'rsshsgtypename', index: 'rsshsgtypename', align: 'center', sortable: false
       },
                       {
                           label: '事故等级', name: 'sglevelname', index: 'sglevelname', align: 'center', sortable: false
                       },
                   {
                       label: '事故事件名称', name: 'sgname', index: 'sgname', align: 'center', sortable: false,
                       formatter: function (cellvalue, options, rowObject) {
                           html = "<a href=javascript:show('" + rowObject.id + "','" + rowObject.dealid + "') style='color:blue; text-decoration:underline;padding-left:0px;'  title='查看'>" + cellvalue + "</a>";
                           return html;
                       }
                   },

                
                  { label: '发生时间', name: 'happentime', index: 'happentime', align: 'center', sortable: true },
                  { label: '地点', name: 'areaname', index: 'areaname', align: 'center', sortable: true },
                  { label: '快报人', name: 'sgkbusername', index: 'sgkbusername', align: 'center', sortable: true },
          {
              label: '调查处理状态', name: 'status', align: 'center', sortable: true, formatter: function (cellvalue, options, rowObject) {
                  if (rowObject.issubmit_deal > 0) {
                      return "<div class='data-warn'>已调查处理</div>";
                  }
                  else {
                      return "<div class='data-danger'>未调查处理</div>";
                  }
              }
          }

                    ];

                } else {
                    FormUrl = "Form";
                    GenCol =  [
                { label: 'createuserid', name: 'createuserid', hidden: true },
                  { label: '主键', name: 'id', index: 'id', align: 'left', sortable: true, hidden: true },
                         { label: '', name: 'departmentcode', hidden: true }, { label: '', name: 'organizecode', hidden: true },
                   { label: '处理主键', name: 'dealid', index: 'dealid', align: 'left', sortable: true, hidden: true },
                        {
                            label: '不安全行为', name: 'baqxwname', index: 'baqxwname', align: 'center', sortable: false
                        },
                             {
                                 label: '不安全状态', name: 'baqztname', index: 'baqztname', align: 'center', sortable: false
                             },
                                  {
                                      label: '间接原因', name: 'jjyyname', index: 'jjyyname', align: 'center', sortable: false
                                  },
       {
           label: '人身伤害事故类别', name: 'rsshsgtypename', index: 'rsshsgtypename', align: 'center', sortable: false
       },
                       {
                           label: '事故等级', name: 'sglevelname', index: 'sglevelname', align: 'center', sortable: false
                       },
                   {
                       label: '事故事件名称', name: 'sgname', index: 'sgname', align: 'center', sortable: false,
                       formatter: function (cellvalue, options, rowObject) {
                           html = "<a href=javascript:show('" + rowObject.id + "','" + rowObject.dealid + "') style='color:blue; text-decoration:underline;padding-left:0px;'  title='查看'>" + cellvalue + "</a>";
                           return html;
                       }
                   },

                 { label: '事故或事件类型', name: 'sgtypename', index: 'sgtypename', align: 'center', sortable: true },
                  { label: '发生时间', name: 'happentime', index: 'happentime', align: 'center', sortable: true },
                  { label: '地点', name: 'areaname', index: 'areaname', align: 'center', sortable: true },
                  { label: '快报人', name: 'sgkbusername', index: 'sgkbusername', align: 'center', sortable: true },
          {
              label: '调查处理状态', name: 'status', align: 'center', sortable: true, formatter: function (cellvalue, options, rowObject) {
                  if (rowObject.issubmit_deal > 0) {
                      return "<div class='data-warn'>已调查处理</div>";
                  }
                  else {
                      return "<div class='data-danger'>未调查处理</div>";
                  }
              }
          }

                    ];
                }
            }
        });
    }
    //初始化页面
    function InitialPage() {
        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 108.5);
            }, 200);
            e.stopPropagation();
        });
    }
    //加载表格
    function GetGrid() {
        var query
        query = {
            sgtypename: sgtypename,
            happentimestart_deal: happentimestart_deal,
            happentimeend_deal: happentimeend_deal,
            sglevelname: sglevelname,
            rsshsgtypename: rsshsgtypename,
            sgyy: sgyy,
            sgtype: sgtype
        }

        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() - 108,
            url: "../../AccidentEvent/Report/GetPageListJsonByRsshsgType",
            postData: { queryJson: JSON.stringify(query) },
            datatype: "json",
            colModel: GenCol,
            viewrecords: true,
            rowNum: 30,
            // rowList: [30, 50, 100],
            pager: "#gridPager",
            sortname: 'CreateDate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: true,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $("#" + this.id).getGridParam('selrow');
            },
            loadError: function (xhr, status, error) {
                //top.location.href = "../../Login/Index?Login_Error=1";
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);
            }
        });


    }

    //查看
    function show(keyValue, keyValuedeal) {
        if (checkedRow(keyValue)) {
            var dlg = dialogOpen({
                id: "dealForm",
                title: '查看事故事件快报处理信息',
                url: '/AccidentEvent/Bulletin_deal/' + FormUrl + '?action=show&keyValue=' + keyValue + "&keyValuedeal=" + keyValuedeal,
                width: ($(top.window).width() - 550) + "px",
                height: ($(top.window).height() - 150) + "px",
                btn: ["关闭"],
                callBack: function (iframeId) {
                    top.layer.close(dlg);
                }
            });
        }
    }

</script>


<div class="gridPanel">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>
