@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyCode = request("keyCode"); //主键 隐患信息主键
    $(function () {
        GetAcceptGrid();
    });

    function GetAcceptGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#acceptGridTable');
        $gridTable.jqGrid({
            url: "../../HiddenTroubleManage/HTAcceptInfo/GetHistoryListJson?keyCode=" + keyCode,
            datatype: "json",
            height: $(window).height() - 300,
            autowidth: true,
            colModel: [
                 {
                     label: '操作', name: 'ID', index: 'ID', width: 120, align: 'center',
                     formatter: function (cellvalue, options, rowObject) {
                         var html = "<a href=javascript:Detail('" + rowObject.ID + "')  title='查看'><i class='fa fa-eye'></i></a>";
                         return html;
                     }
                 },
                { label: '验收单位', name: 'ACCEPTDEPARTNAME', index: 'ACCEPTDEPARTNAME', width: 150, align: 'center' },
                { label: '验收人', name: 'ACCEPTPERSONNAME', index: 'ACCEPTPERSONNAME', width: 120, align: 'center' },
                {
                    label: '验收结果', name: 'ACCEPTSTATUS', index: 'ACCEPTSTATUS', width: 120, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = rowObject.ACCEPTSTATUS == "0" ? "不通过" : "通过";
                        return html;
                    }
                },
                {
                    label: '验收时间', name: 'ACCEPTDATE', index: 'ACCEPTDATE', width: 150, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = formatDate(cellvalue, 'yyyy-MM-dd'); //!!rowObject.ACCEPTDATE?rowObject.ACCEPTDATE.replace("00:00:00", ""):"";
                        return html;
                    }
                }
            ],
            pager: false,
            rowNum: "20",
            sortname: 'acceptdate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            ondblClickRow: function (id) {

            }
        });
    }

    function Detail(keyValue)
    {
        dialogOpen({
            id: 'DetailForm',
            title: '隐患验收详情',
            url: '/HiddenTroubleManage/HTAcceptInfo/Detail?keyValue='+keyValue,
            width: ($(top.window).width() - 200) + "px",
            height: '680px',
            btn: null
        });
    }
</script>

<div class="center-Panel" >
    <div style="margin-top: 10px;"></div>
    <div class="panel-Title">隐患验收信息</div>
    <div class="gridPanel">
        <div style="margin-top: 20px; margin-left:10px;">
            <table id="acceptGridTable"></table>
        </div>
    </div>
</div>
<style type="text/css">
    body {
        overflow: hidden;
    }
</style>