@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<script type="text/javascript">
    var keyCode = request("keyCode"); //主键 隐患信息主键
    $(function () {
        GetApprovalGrid();
    });

    function GetApprovalGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#approvalGridTable');
        $gridTable.jqGrid({
            url: "../../HiddenTroubleManage/HTApproval/GetHistoryListJson?keyCode=" + keyCode,
            datatype: "json",
            height: $(window).height() - 300,
            autowidth: true,
            colModel: [
                {
                    label: '操作', name: 'ID', index: 'ID', width: 120, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = "<a href=javascript:Detail('" + rowObject.ID + "')  title='查看'><i class='fa fa-eye'></i></a>";
                        return html;
                    }
                },
                { label: '评估人', name: 'APPROVALPERSONNAME', index: 'APPROVALPERSONNAME', width: 150, align: 'center' },
                { label: '评估单位', name: 'APPROVALDEPARTNAME', index: 'APPROVALDEPARTNAME', width: 120, align: 'center' },
                {
                    label: '评估情况', name: 'APPROVALRESULT', index: 'APPROVALRESULT', width: 150, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = rowObject.APPROVALRESULT == "0" ? "不通过" : "通过";
                        return html;
                    }
                },
                {
                    label: '评估时间', name: 'APPROVALDATE', index: 'APPROVALDATE', width: 150, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = formatDate(cellvalue, 'yyyy-MM-dd');
                        return html;
                    }
                }
            ],
            pager: false,
            rowNum: "20",
            sortname: 'approvaldate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            ondblClickRow: function (id) {

            }
        });
    }

    function Detail(keyValue) {
        dialogOpen({
            id: 'DetailForm',
            title: '隐患评估详情',
            url: '/HiddenTroubleManage/HTApproval/Detail?keyValue=' + keyValue,
            width: ($(top.window).width() - 200) + "px",
            height: '680px',
            btn: null
        });
    }
</script>

<div class="center-Panel" >
    <div style="margin-top: 10px;"></div>
    <div class="panel-Title">隐患评估信息</div>
    <div class="gridPanel">
        <div style="margin-top: 20px; margin-left:10px;">
            <table id="approvalGridTable"></table>
        </div>
    </div>
</div>
<style type="text/css">
    body {
        overflow: hidden;
    }
</style>