@{
    ViewBag.Title = "进出门禁记录";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<script>
    var keyValue = request('keyValue');
    var maxTime = request('maxTime');
    var minTime = request('minTime');
    var instanceId = "";
    var formId = "";
    var isClick = true;
    $(function () {
        DateTime();
        GetGrid();
    });

    //日期默认
    function DateTime() {
        $("#sTime").val(minTime);
        $("#eTime").val(maxTime);
    }

    function GetGrid()
    {
        $gridTable = $("#PageList");

        $gridTable.jqGrid({
            url: "../../Personnelaccess/GetData",
            datatype: "json",
            height: $(window).height() - 230,
            autowidth: true,
            postData: { queryJson: getQueryJson() },
            colModel: [
                { label: '主键', name: 'userid', sortable: true, width: 10, align: 'center', hidden: true },
                { label: '门禁通道名称', name: 'devicename', index: 'devicename', width: 350, align: 'center' },
                { label: '进出时间', name: 'createdate', index: 'outtime', width: 150, align: 'center' },
                { label: '状态', name: 'inout', index: 'inout', width: 350, align: 'center' }
            ],
            viewrecords: true,
            rowNum: 20,
            rowList: [20, 40, 100],
            pager: '#PagePaging',
            //sortname: 'REALNAME',
            //sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: true,
            gridview: true,
            onSelectRow: function () {
            },
            loadError: function (xhr, status, error) {
            },
            gridComplete: function () {
            }
        });

        $("#btn_Search").click(function () {
            $gridTable.jqGrid('setGridParam', {
                postData: { queryJson: getQueryJson() },
                page: 1
            }).trigger('reloadGrid');
        });

    }

    //得到查询条件
    function getQueryJson() {
        var st = $("#sTime").val();
        var et = $("#eTime").val();
        if (st > et && st != "" && et != "") {
            dialogMsg('开始时间不能大于结束时间！', 2);
            return false;
        }
        if (st < minTime) {
            dialogMsg('开始时间不能小于最小时间范围！', 2);
            return false;
        }
        if (et > maxTime) {
            dialogMsg('结束时间不能大于最大时间范围！', 2);
            return false;
        }
        var query = {
            sTime: $("#sTime").val(),
            eTime: $("#eTime").val(),
            inOut: $("#inOut option:selected").val(),
            userID: keyValue
        }
        return JSON.stringify(query);
    }
</script>


<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-center">
        <div class="center-Panel">
            <div class="titlePanel">
                <div class="title-search">
                    <table>
                        <tr>
                            <td id="td3" align="right">日期：</td>
                            <td id="td4" style="padding-left: 5px;">
                                <input id="sTime" type="text" readonly="readonly" isvalid="yes" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
                            </td>
                            <td id="td5" style="padding-left: 15px;"><span>至</span></td>
                            <td id="td6" style="padding-left: 15px;">
                                <input id="eTime" type="text" readonly="readonly" isvalid="yes" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
                            </td>
                            <td id="td10" style="padding-left: 15px;"><span>状态</span> </td>
                            <td id="td11">
                                <select class="form-control" id="inOut" style="width: 150px;">
                                    <option value="" selected="selected">==请选择==</option>
                                    <option value="0">进门</option>
                                    <option value="1">出门</option>
                                </select>
                            </td>
                            <td style="padding-left: 50px;">
                                <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;查询</a>&nbsp;&nbsp;
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="con1" style="margin-top: 10px;" class="gridPanel">
                <table id="PageList">
                </table>
                <div id="PagePaging"></div>
            </div>
        </div>
    </div>
</div>
