@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<!--webUploader文件上传组件-->
<link href="~/content/scripts/plugins/webuploader/webuploader.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/webuploader/webuploader-demo.css" rel="stylesheet" />
<script type="text/javascript" src="~/content/scripts/plugins/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/fileupload.js"></script>
<script src="~/Content/scripts/plugins/uploadify/ajaxfileupload.js"></script>
<style type="text/css">
    .file {
        position: relative;
        display: inline-block;
        overflow: hidden;
        text-decoration: none;
        text-indent: 0;
        cursor: pointer !important;
    }

        .file input {
            position: absolute;
            font-size: 100px;
            right: 0;
            top: 0;
            opacity: 0;
            cursor: pointer !important;
        }

        .file:hover {
            text-decoration: none;
            cursor: pointer !important;
        }

    .XhTab {
        width: 95%;
        min-height: 25px;
        line-height: 25px;
        text-align: center;
        border-collapse: collapse;
        margin-left: 30px;
    }

        /*.XhTab table {
            border: 1px solid #000000;
        }*/
        .XhTab tr th {
            border: 1px solid #000000;
            text-align: center;
        }

        .XhTab tr td {
            border: 1px solid #000000;
            text-align: center;
        }
    .xh {
        width: 10%;
    }
    .jcx {
        width: 40%;
    }
    .jcjg {
        width: 25%;
    }
    .bz {
        width: 25%;
    }
</style>
<script>
    var keyValue = request('keyValue');
    var action = request('action');
    $(function () {
        ini();

        initControl();
        //if (action == "show") {
        //    $("#gr").removeAttr("hidden");
        //    GetGrid();
        //}
    });

    //查看图片
    function ShowImg(url) {
        var w = 1000;
        var h = 700;
        dialogOpen({
            id: "ImgShow",
            title: "查看图片",
            url: '/CarManage/Visitcar/ImgShow?KeyValue=' + url,
            shade: 0.5,
            btn: null,
            width: w + "px",
            height: h + "px",
            callBack: function (iframeId) {

            }
        });

    }

    //初始化控件
    function initControl() {
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../CarManage/Hazardouscar/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                    var carno = data.CarNo;
                    var s = carno.substring(0, 1);
                    var no = carno.substring(1, carno.length);
                    $("#CarNo").val(no);
                    $("#NoHaed").ComboBoxSetValue(s);
                    if (data.DriverLicenseUrl != null) {
                        document.getElementById('DriverPreview').src = top.contentPath + data.DriverLicenseUrl;
                        $("#DriverPreview").attr("onclick", "ShowImg('" + top.contentPath + data.DriverLicenseUrl + "')");
                    }
                    if (data.DrivingLicenseUrl != null) {
                        document.getElementById('DrivingPreview').src = top.contentPath + data.DrivingLicenseUrl;
                        $("#DrivingPreview").attr("onclick", "ShowImg('" + top.contentPath + data.DrivingLicenseUrl + "')");
                    }

                    //获取项目数量列表
                    $.ajax({
                        url: '../../CarManage/Carcheckitemdetail/GetList',
                        data: { Pid: keyValue },
                        type: "Get",
                        async: false,
                        dataType: "Json",
                        success: function (result) {

                            for (var i = 0; i < result.length; i++) {
                                var tab = document.getElementById('Tab');


                                //添加一行数据
                                var tr = tab.insertRow();
                                var td1 = tr.insertCell();
                                var td2 = tr.insertCell();
                                var td3 = tr.insertCell();
                                var td4 = tr.insertCell();
                                var tid = "tr" + (i+1);
                                tr.id = tid;

                                td1.innerHTML = (i + 1);
                                td2.innerHTML = result[i].CheckItem;
                                if (result[i].CheckStatus == 0) {
                                    td3.innerHTML = "";
                                } else if (result[i].CheckStatus == 1) {
                                    td3.innerHTML = "符合";
                                } else {
                                    td3.innerHTML = "不符合";
                                }
                                
                                td4.innerHTML = result[i].Note;
                            }
                        }
                    });
                }
            })
        }
    }

    function ini() {
        $("#NoHaed").ComboBox({
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            param: { EnCode: "CarNo" },
            id: "ItemValue",
            text: "ItemName",
            description: "==请选择==",
            height: "200px",
            allowSearch: true
        });
        $("#GpsId").ComboBox({
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            param: { EnCode: "CarGps" },
            id: "ItemValue",
            text: "ItemName",
            description: "==请选择==",
            height: "200px",
            allowSearch: true
        });

    }








</script>
<div style="margin: 10px;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;车辆基本信息</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <table class="form">
                <tr>
                    <td class="formTitle">车牌号</td>
                    <td class="formValue">
                        <div id="NoHaed" type="select" class="ui-select" style="width: 20%; float: left;" isvalid="yes" checkexpession="NotNull">
                        </div>
                        <input id="CarNo" type="text" style="width: 80%; float: left;" maxlength="6" class="form-control" isvalid="yes" checkexpession="NotNull" />
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">驾驶人</td>
                    <td class="formValue">
                        <input id="Dirver" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">驾驶人电话</td>
                    <td class="formValue">
                        <input id="Phone" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
                    </td>

                </tr>
                <tr>
                    <td class="formTitle">单位</td>
                    <td class="formValue">
                        <input id="TheCompany" type="text" readonly="readonly" isvalid="yes" checkexpession="NotNull" class="form-control" />
                    </td>

                </tr>
                <tr>
                    <td class="formTitle">危化品类型</td>
                    <td class="formValue">
                        <input id="HazardousName" type="text" maxlength="50" class="form-control" isvalid="yes" checkexpession="NotNull" />
                    </td>

                </tr>

                <tr>
                    <td class="formTitle">车辆定位终端</td>
                    <td class="formValue">
                        <input id="GPSNAME" type="text" maxlength="50" class="form-control" isvalid="yes" checkexpession="NotNull" />
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">驾驶证</td>
                    <td class="formValue">
                        <div style="margin-top: 10px; ">
                            <img id="DriverPreview" style="width: 200px; height: 115px;" src="~/Content/images/no.png" />
                        </div>
                    </td>
                </tr>
                <tr>

                    <td class="formTitle">行驶证</td>
                    <td class="formValue">
                        <div style="margin-top: 10px; ">

                            <img id="DrivingPreview" style="width: 200px; height: 115px;" src="~/Content/images/no.png" />

                        </div>

                    </td>
                </tr>
                @*<tr>
                        <td class="formTitle">违章记录</td>
                        <td class="formValue">
                            <input id="MODEL" type="text" class="form-control" />
                        </td>
                    </tr>*@

            </table>
        </div>
    </div>

    <div id="gr" class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;化学品入厂检查表</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <table id="Tab" class="XhTab">
                <tr>
                    <td class="xh">序号</td>
                    <td class="jcx">检查项目</td>
                    <td class="jcjg">检查结果</td>
                    <td class="bz">备注</td>
                </tr>
            </table>
        </div>
    </div>
</div>