@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<style>
    .list-container1 span {
        padding: 0 10px;
    }

    .list-container1 p:hover {
        cursor: pointer;
        color: #2e99d4;
    }

    .list-container1 p {
        margin-bottom: 10px;
    }
</style>
<script>
    var keyValue = request('keyValue');
    $(function () {
        initControl();
        disabledControl();
    });
    //初始化控件
    function initControl() {
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../CarManage/Hazardouscar/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);

                    //获取项目数量列表
                    $.ajax({
                        url: '../../CarManage/Carinlog/GetList',
                        data: { Cid: keyValue },
                        type: "Get",
                        async: false,
                        dataType: "Json",
                        success: function (result) {
                            var html = "";
                            for (var i = 0; i < result.lenght; i++) {
                                var action = "";
                                if (result[i].Status == 0) {
                                    action = "进入";
                                } else {
                                    action = "离开";
                                }
                                html += " <p>" + result[i].CreateDate + " " + action + result[i].Address + "</p>"
                            }
                        }
                    });
                }
            })
        }
    }

    //厂内行驶路线
    function f_OpenItinerary() {

        var dlg = dialogOpen({
            id: 'Form1',
            title: '厂内行驶路线',
            url: '/MatterManage/OurTicket/NotesItinerary?keyValue=' + keyValue + "&type=5",
            width: 1000 + "px",
            height: 750 + "px",
            btn: ["关闭"],
            callBack: function (iframeId) {
                top.layer.close(dlg);
            }
        });


    }

</script>

<div class="kpTitle"><span class="titletext" style="margin-top:20px;">门禁管理</span></div>
<div class="tabel-container1" style="margin-top: 0px; margin-right: 30px; margin-bottom: 15px; margin-left: 30px;">
    <table class="form">
        <tr>
            <td>

                <div id="WorkRecord" class="list-container1">

                </div>
            </td>
        </tr>
    </table>

</div>

<div class="kpTitle"><span class="titletext" style="margin-top:20px;">定位管理</span></div>
<div class="tabel-container1" style="margin-top: 0px; margin-right: 30px; margin-bottom: 15px; margin-left: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle">厂内行驶路线</td>
            <td class="formValue" colspan="5">
                <img onclick="f_OpenItinerary()" src="~/Content/images/luxiantu.png" />
            </td>
        </tr>
    </table>
</div>

<div class="kpTitle"><span class="titletext" style="margin-top:20px;">异常判定</span></div>
<div class="tabel-container1" style="margin-top: 0px; margin-right: 30px; margin-left: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle">厂内行驶路线：</td>
            <td class="formValue">
                <input id="DrivingRoute" type="text" class="form-control" />
            </td>
            <td class="formTitle">厂内停留时间：</td>
            <td class="formValue">
                <input id="ResidenceTime" type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">厂内行驶速度：</td>
            <td class="formValue">
                <input id="DrivingSpeed" type="text" class="form-control" />
            </td>
            <td class="formTitle"></td>
            <td class="formValue"></td>
        </tr>
        <tr>
            <td class="formTitle">备注：</td>
            <td class="formValue" colspan="3">
                <input id="Note" type="text" class="form-control" />
            </td>
        </tr>

    </table>
</div>





<style>
    .tabel-container1 {
        padding: 10px;
        border: 1px solid #ccc;
        float: left;
        padding: 7px;
    }

    .kpTitle {
        margin-left: 30px;
        padding-top: 30px;
        margin-bottom: 10px;
    }

    .titletext {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
    }
</style>