ntainer{
    width:100%;
}
.content{
    width:930px;
    height:700px;
    background:url("./img/bg.jpg");
    margin:0 auto;
    position: relative;
    cursor: pointer;
}
.bottom{
    top: 1142px;
    left: 190px;
    width: 270px;
    height: 360px;
    cursor: initial;
    padding-left: 115px;
}
.bottom>.eg{
    display: block;
}
.content>div{
    position: absolute;
}
.word-2{
    position: absolute;
    top: 39px;
    left: 66px;
    height: 30px;
    width: 200px;
    color: #000;
    font-size: 16px;
    text-align: center;
}
.index-2{
    top: 62px;
    left: 461px;
    z-index:44;
}
.word-1{
    position: absolute;
    top: 39px;
    left: 66px;
    height: 100%;
    width: 20px;
    color: #000;
    font-size: 16px;
    text-align: center;
}
.index-1{
    top: 62px;
    left: 346px;
    z-index:33;
}

.word-3{
    position: absolute;
    top: 120px;
    left: 66px;
    height: 20px;
    width: 100px;
    color: #000;
    font-size: 16px;
    text-align: center;
}
.index-3{
    top: 187px;
    left: 346px;
}
.word-4{
    position: absolute;
    top: 34px;
    left: 36px;
    height: 20px;
    width: 140px;
    color: #000;
    font-size: 16px;
    text-align: center;
}
.hoverc{
    height: 62px;
    width: 88px;
    position: absolute;
    top: 177px;
    left: 458px;
    z-index: 9999;
}

.index-4{
    top: 412px;
    left: 346px;
}
.word-5{
    position: absolute;
    top: 76px;
    left: 36px;
    height: 20px;
    width: 140px;
    color: #000;
    font-size: 16px;
    text-align: center;
}
.index-5{
    top: 177px;
    left: 557px;
}
.word-6{
    position: absolute;
    top: 49px;
    left: -12px;
    height: 20px;
    width: 140px;
    color: #000;
    font-size: 16px;
    text-align: center;
}
.index-6{
    top: 62px;
    left: 772px;
}
.word-7{
    position: absolute;
    top: 29px;
    left: 0;
    height: 20px;
    width: 214px;
    color: #000;
    font-size: 16px;
    text-align: center;
}
.index-7{
    top: 320px;
    left: 557px;
}
.word-8{
    position: absolute;
    top: 29px;
    left: 0;
    height: 20px;
    width: 214px;
    color: #000;
    font-size: 16px;
    text-align: center;
}
.index-8{
    top: 412px;
    left: 557px;
}
.word-9{
    position: absolute;
    top: 342px;
    left: 0;
    height: 20px;
    width: 400px;
    color: #000;
    font-size: 16px;
    text-align: center;
}
.index-9{
    top: 227px;
    left: 346px;
}
.word-10{
    position: absolute;
    top: 29px;
    left: 0;
    height: 20px;
    width: 92px;
    color: #000;
    font-size: 16px;
    text-align: center;
}
.index-10{
    top: 486px;
    left: 813px;
}
.newIcon{
    width: 15px;
    height: 15px;
    background-size: 100% 100%;
    display: block;
    position: absolute;
    top: 76%;
    left: 57%;
    transform: translate(-50%, -50%);
}
.newIcon1{
    width: 15px;
    height: 15px; 
    background-size: 100% 100%;
    display: block;
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.eg {
    width: 270px;
    height: 360px;
}
.eg li {
    width:100%;
    height:28px;
    line-height: 42px;
    margin-bottom:19px;
    color:#fff;
}
.eg li img {
    margin-bottom: 3px;
    margin-right: 26px;
}

.content>div:hover>ul{
    display: block!important;
}
.content .itemul{
    position: absolute;
    top: 0;
    right: -120px;
    width: 120px;
    z-index: 2;
    background-color: pink;
    display: none;
}
.content .anqu{
    position: absolute;
    top: 0;
    left: -120px;
    width: 120px;
    z-index: 2;
    background-color: pink;
    display: none;
}
.importAccident{
    width: 15px;
    height: 15px;
    display: block;
    /* background-color: red; */
    position: absolute;
    top: 76%;
    left: 35%;
    transform: translate(-50%, -50%);
    background: url(./img/danger.png)no-repeat;
    background-size: contain;
}
.importAccident1{
    width: 15px;
    height: 15px;
    display: block;
    /* background-color: red; */
    position: absolute;
    top: 80%;
    left: 30%;
    transform: translate(-50%, -50%);
    background: url(./img/danger.png)no-repeat;
    background-size: contain;
}
.dangers{
    width: 15px;
    height: 16px;
    background-color: #fc0606;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    transform: translate(0,3px);
}
