@{
    ViewBag.Title = "流程预览";
    Layout = "~/Views/Shared/_FlowForm.cshtml";
}
<link href="~/Content/styles/framework-flow.css" rel="stylesheet" />
<style>
    body {
        overflow: auto;
    }

    .panels {
        padding: 10px;
    }
</style>
<script>
    var keyValue = request("keyValue");
    $(function () {
        if (!!keyValue) {
            $.post("GetFlowList", { id: keyValue}, function (data) {
                var schemeContent = JSON.parse(data);
                var tdata = "";
                schemeContent = schemeContent.resultdata;
                $('#FlowPanel').flowdesign({
                    height: $(window).height() + 800,
                    width: 4000,
                    flowcontent: schemeContent,
                    frmData: tdata,
                    haveTool: false,
                    isprocessing: true,
                    isshowsetinfo: false,  //是否显示对应的审核节点信息
                    isshowstatus: "1,2,5",
                    activityId: schemeContent.activeID,
                    nodeData: schemeContent.nodes,
                    preview: 2
                });
                $(".GooFlow_work").next().find("div").eq(2).hide();
            });
        }
    });
</script>
<div class="panels">
    <div id="FlowPanel" style="margin: 0px;border: 1px solid #ccc; "></div>
</div>

