@{
    ViewBag.Title = "流程预览";
    Layout = "~/Views/Shared/_FlowForm.cshtml";
}
<link href="~/Content/styles/framework-flow.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/icheck/skins/all.css?v=1.0.2" rel="stylesheet">
<script src="~/content/scripts/plugins/icheck/js/icheck.js?v=1.0.2"></script>
<script>
    var keyValue = request("keyValue");
    $(function () {
        var schemeContent;
        if (!!keyValue) {
            $.post("../../StandardSystem/StandardApply/GetStandardApplyActionList", { keyValue: keyValue }, function (data) {
                schemeContent = JSON.parse(data);
                var tdata = "";
                $('#FlowPanel').flowdesign({
                    height: $(window).height() - 10,
                    width: $(window).width() - 10,
                    flowcontent: schemeContent,
                    frmData: tdata,
                    haveTool: false,
                    isprocessing: true,
                    isshowsetinfo: false,  //是否显示对应的审核节点信息
                    isshowstatus: "1,2,5",
                    activityId: schemeContent.activeID,
                    nodeData: schemeContent.nodes,
                    preview: 2
                });
                $(".GooFlow_work_inner").height($(window).height() + 300);
                $("#4cbf2d26-c628-4920-8408-cda6826de3db").attr("title", "副部长/主任审核");
                $("#6015d28f-b38b-47ec-b96b-f911afa2f6ee").attr("title", "部长/主任审核");
                $("#1a920f22-f4f3-404a-b0f5-813dff369ac0").attr("title", "管理提升标准化办公室审核并分配部门会签人员");
                $("#16bdf6be-9c3a-48bf-b9ca-46c90d8c869f").attr("title", "会签人员全部审核通过后走下一步流程");
                $("#341d1592-0e86-4be9-9de8-8bbe10339095").attr("title", "管理提升标准化办公室审核并分配分委会审核人员");
                $("#3df46c65-aa95-4277-aba4-ac45070b491b").attr("title", "分委会成员全部审核通过后走总经理审批流程");
                $("#3b7accbc-7ddb-4ca6-9b7a-cb230f9dce8a").attr("title", "总经理审批");
                $("#77a65ce8-2a64-4e70-bb7b-aaffdd6ccbb3").attr("title", "流程审批结束");
                
            });
        }
    });

    

</script>
<div class="panels">
    <div id="FlowPanel" style="margin: 0px;border: 1px solid #ccc;"></div>
</div>
<style>
    body {
        overflow: hidden;
    }
    .panels {
        padding: 10px;
    }
</style>
