@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<link href="~/Content/scripts/plugins/jqgrid/jqgrid.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/dialog/dialog.css" rel="stylesheet" />
<script src="~/Content/scripts/plugins/layout/jquery.layout.js"></script>
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>
<script src="~/Content/scripts/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="~/Content/scripts/plugins/jqgrid/jqgrid.min.js"></script>

<script>
    var DeptCode = request('DeptCode');
    var DeptId = request('DeptId');
    var DeptName = request('DeptName');
    var roleName = "@ERCHTMS.Code.OperatorProvider.Provider.Current().RoleName";
    var keyValue = request('keyValue');

    $(function () {
        GetGrid();
        initControl();
    })
    function GetGrid() {
        var queryJson = {
            DeptCode:DeptCode
        }
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() - 300,
            url: "../../ObserveRecord/Obsplan/GetFeedBackList",
            postData: { queryJson: JSON.stringify(queryJson) },
            datatype: "json",
            colModel: [
                { label: '', name: 'ID', hidden: true, index: 'ID', width: 100, align: 'left', sortable: true },
                 //{
                 //    label: '操作', name: 'oper', width: 120, align: 'center', sortable: false,
                 //    formatter: function (cellvalue, options, rowObject) {
                 //        var html = "";
                 //        //html = "<a href=javascript:show('" + rowObject.id + "')   title='查看'><i class='fa fa-eye'></i></a>";
                 //        //if (rowObject.createuserid == currUserId || (rowObject.createuserdeptcode = currDeptCode && roleName.indexOf("安全管理员") >= 0) || (rowObject.createuserdeptcode = currDeptCode && roleName.indexOf("负责人") >= 0)) {
                 //        //    html += "<a href=javascript:edit('" + rowObject.id + "')   title='编辑'><i class='fa fa-pencil-square-o'></a>";
                 //        //}
                 //        return html;
                 //    }
                 //},
                { label: '操作人', name: 'createusername', index: 'createusername', width: 240, align: 'center', sortable: false },
                { label: '操作时间', name: 'createdate', index: 'createdate', width: 150, align: 'center', sortable: false },
                { label: '意见', name: 'suggest', index: 'suggest', width: 150, align: 'center', sortable: false }
                
            ],
            viewrecords: true,
            rowNum: 30,
            rowList: [30, 50, 100],
            pager: "#gridPager",
            sortname: 'createdate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);
            }
        });
    }
    function initControl() {
        $("#CreateUser").val("@ERCHTMS.Code.OperatorProvider.Provider.Current().UserName");
        $("#CreateDate").val("@DateTime.Now.ToString("yyyy-MM-dd")");
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../ObserveRecord/Obsplan/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                }
            })
        } else {
            //keyValue = keyValue.length == 0 ? newGuid() : keyValue;
            $("#AcceptDept").val(DeptName);
            $("#AcceptDeptId").val(DeptId)
            $("#AcceptDeptCode").val(DeptCode)
        }
    }
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var urlCommit = "";
        if (roleName.indexOf("公司级") >= 0 && roleName.indexOf("安全管理员") >= 0) {
            urlCommit = "../../ObserveRecord/Obsplan/SaveFeedBackFBForm?keyValue=" + keyValue;
        } else if (roleName.indexOf("厂级部门") >= 0 && roleName.indexOf("负责人") >= 0) {
            urlCommit = "../../ObserveRecord/Obsplan/SaveFeedBackEHSForm?keyValue=" + keyValue;
        } else {
            urlCommit = "../../ObserveRecord/Obsplan/SaveFeedBackForm?keyValue=" + keyValue;
        }
        var postData = $("#form1").formSerialize(keyValue);
        $.SaveForm({
            url: urlCommit,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }
</script>
<div style="margin-top: 20px; margin-right: 30px;">
    <div id="obstype" class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;意见记录</strong>
            <span class="tools pull-right">
               <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <div class="gridPanel">
                <table id="gridTable"></table>
                <div id="gridPager"></div>
            </div>
            </div>
        </div>
    <div id="obsInfo" class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;意见信息</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <table class="form">
                <tr>
                    <td class="formTitle"  style="width:120px;">意见接收部门<font face="宋体">*</font></td>
                    <td class="formValue" colspan="3">
                        <input id="AcceptDept" readonly type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
                        <input id="AcceptDeptId" type="hidden" class="form-control" />
                        <input id="AcceptDeptCode" type="hidden" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">操作人<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="CreateUser" readonly type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
                        <input type="hidden" id="ObsPersonId" />
                    </td>
                    <td class="formTitle">操作时间<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="CreateDate" readonly type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">意见详情<font face="宋体">*</font></td>
                    <td class="formValue" colspan="3">
                        <textarea id="Suggest" type="text" class="form-control" rows="4" isvalid="yes" checkexpession="NotNull" style="height:60px;"></textarea>
                    </td>
                </tr>

            </table>
            </div>
        </div>
    </div>