<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--<add name="BaseDb" connectionString="Server=.;Initial Catalog=LeaRunFramework_Base_2016;User ID=sa;Password=bs13579" providerName="System.Data.SqlClient" />-->
  <!--<add name="AccountDb" connectionString="Server=.;Initial Catalog=bsframework;User ID=sa;Password=sa123456" providerName="System.Data.SqlClient" />-->
  <!--<add name="BaseDb" connectionString="Data Source=localhost;port=3306;Initial Catalog=bsframework;user id=root;password=;charset=utf8" providerName="MySql.Data.MySqlClient"/>-->
  <add name="BaseDb" connectionString="DATA SOURCE=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=ORCLCDB)));PASSWORD=123456;PERSIST SECURITY INFO=True;USER ID=C##ERCHTMS_JNJT;" providerName="Oracle.ManagedDataAccess.Client"/>
</connectionStrings>