@{
    ViewBag.Title = "ActivityForm";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script>
    var keyValue = request('keyValue');
    var processId = request('processId');
    var name = request("name");
    var type = request("type");
    $(function () {
        initControl();
    })
    //初始化控件
    function initControl() {

        switch (type) {
            case "startround":
                $("#Kind").val("开始节点");
                break;
            case "stepnode":
                $("#Kind").val("标准节点");
                break;
            case "endround":
                $("#Kind").val("结束节点");
                break;
        }
        //赋值流程实例ID
        $("#ProcessId").val(processId);
        $("#Id").val(keyValue);
        $("#Name").val(name);
        //获取表单
        if (!!keyValue) {

            $.SetForm({
                url: "../../SystemManage/Process/GetActivityEntityJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                }
            });
        }
    }
    //保存表单
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize(keyValue);
        //更新
        if (!!processId) {
            $.SaveForm({
                url: "../../SystemManage/Process/SaveActivityForm?keyValue=" + keyValue,
                param: postData,
                loading: "正在保存数据...",
                success: function () {
                    $("#gridTable").resetSelection();
                    $("#gridTable").trigger("reloadGrid");
                }
            })
        }
        else  //新增
        {
            var objId = "#" + keyValue;
            var name = $("#Name").val();
            var args = objId + "  table tr td:eq(1)";
            $(top.layer.getChildFrame().prevObject).find(args).html(name);
            var index = top.layer.getFrameIndex("FlowNodeForm");
            top.layer.close(index);
        }
        nodename = $("#Name").val();

        return nodename;
    }
</script>
<div style="margin-top: 20px; margin-right: 30px;">
    <table class="form" id="form1">
        <tr>
            <th class="formTitle">节点类型</th>
            <td class="formValue">
                <input type="hidden" id="Id" />
                <input type="hidden" id="Tag" />
                <input type="hidden" id="ProcessId" />
                <select id="Kind" name="Kind" class="selectpicker show-menu-arrow form-control" width="120px" disabled="disabled">
                    <option value="开始节点" selected="selected">开始节点</option>
                    <option value="标准节点">标准节点</option>
                    <option value="结束节点">结束节点</option>
                </select>
            </td>
            <td class="formTitle">节点名称<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="Name" type="text" class="form-control" placeholder="请输入名称" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">序号</td>
            <td class="formValue">
                <input id="AutoId" type="text" class="form-control"  />
            </td>
            <td class="formTitle">节点类型标记</td>
            <td class="formValue">
                <input id="FormName" type="text" class="form-control"  />
            </td>
        </tr>
        <tr>
            <td class="formTitle">宽度</td>
            <td class="formValue">
                <input id="FormWidth" type="text" class="form-control" />
            </td>
            <td class="formTitle">高度</td>
            <td class="formValue">
                <input id="FormHeight" type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">左边距</td>
            <td class="formValue">
                <input id="GraphLeft" type="text" class="form-control" />
            </td>
            <td class="formTitle">上边距</td>
            <td class="formValue">
                <input id="Graphtop" type="text" class="form-control" />
            </td>
        </tr>
    </table>
</div>
