@{
    ViewBag.Title = "ActivityForm";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script>
    var lineid = request("lineid");
    var processid = request('processid');
    $(function () {
        initControl();
    })
    //初始化控件
    function initControl() {

        ////起始流程
        $("#ActivityId").ComboBox({
            id: "id",
            text: "name",
            description: "===请选择===",
            allowSearch: false,
            data: []
        });
        ////目标流程
        $("#ToActivityId").ComboBox({
            id: "id",
            text: "name",
            description: "===请选择===",
            allowSearch: false,
            data: []
        });

        $.SetForm({
            url: "../../SystemManage/Process/GetActionDataJson",
            param: { keyValue: processid },
            success: function (data) {
                if (!!data) {
                    ////起始流程
                    $("#ActivityId").ComboBox({
                        id: "id",
                        text: "name",
                        description: "===请选择===",
                        allowSearch: false,
                        data: data
                    });
                    ////目标流程
                    $("#ToActivityId").ComboBox({
                        id: "id",
                        text: "name",
                        description: "===请选择===",
                        allowSearch: false,
                        data: data
                    });
                }
            }
        });

        //获取表单数据
        if (!!lineid) {
            $.SetForm({
                url: "../../SystemManage/Process/GetConditionEntity",
                param: { keyValue: lineid },
                success: function (data) {
                    if (!!data)
                    {
                        $("#form1").formDeserialize(data);
                        //起始流程
                        $("#ActivityId").ComboBoxSetValue(data.ActivityId);
                        //目标流程
                        $("#ToActivityId").ComboBoxSetValue(data.ToActivityId);
                    }
                }
            });
        }
    }

    //保存表单
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize(lineid);
        $.SaveForm({
            url: "../../SystemManage/Process/SaveConditionForm?keyValue=" + lineid,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
               // $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        });
    }
</script>
<div style="margin-top: 20px; margin-right: 30px;">
    <table class="form" id="form1">
        <tr>
            <th class="formTitle">起始节点<font face="宋体">*</font></th>
            <td class="formValue">
                <input type="hidden" id="Id" />
                <input type="hidden" id="ProcessId" />
                <div id="ActivityId" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull" errormsg="起始节点" />
            </td>
            <td class="formTitle">终止节点<font face="宋体">*</font></td>
            <td class="formValue">
                <div id="ToActivityId" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull" errormsg="终止节点" />
            </td>
        </tr>
        <tr>
            <th class="formTitle"><span style="white-space:pre-wrap;">流程转向标记</span></th>
            <td class="formValue">
                <input id="Expression" type="text" class="form-control" />
            </td>
            <th class="formTitle">备注标记</th>
            <td class="formValue">
                <input id="Remark" type="text" class="form-control" />
            </td>
        </tr>
    </table>
</div>
