@{;
  ViewBag.Title = "列表页面";
  Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script>
    var deptCode = top.currUserOrgCode;
    $(function () {
        InitialPage();
        GetTree();
        GetGrid();
    });
    //初始化页面
    function InitialPage() {
        $("#CheckType").ComboBox({
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            param: { EnCode: "SaftyCheckType" },
            id: "ItemValue",
            text: "ItemName",
            description: "==请选择==",
            height: "200px"
        });
        //安全检查级别
        $("#CheckLevel").ComboBox({
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            param: { EnCode: "SaftyCheckLevel" },
            id: "ItemValue",
            text: "ItemName",
            description: "==请选择==",
            height: "200px"
        });
        $('#layout').layout({
            applyDemoStyles: true,
            onresize: function () {
                $(window).resize()
            }
        });
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $("#gridTable").setGridHeight($(window).height() - 170);
                $("#itemTree").setTreeHeight($(window).height() - 50);

            }, 200);
            e.stopPropagation();
        });
    }
    //加载组织机构树
    function GetTree() {
        var roleName = "@ERCHTMS.Code.OperatorProvider.Provider.Current().RoleName";
        mode = 0;
        if (roleName.indexOf("集团用户") >= 0 || roleName.indexOf("分子公司用户")>=0 || roleName.indexOf("省级用户") >= 0) {
            mode = 9;
            $("#lr-add,#btn_Defind").css("display", "none");
        }
        var json = JSON.stringify(
             {
                 SelectMode: 0,
                 Mode: mode
             }
           );
        _belongdeptid = "@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeId";
        var item = {
            height: $(window).height() - 50,
            url: "../../BaseManage/Department/GetDepartTreeJson?json=" + json,
            onnodeclick: function (item) {
                deptCode = item.Code;//用户所属部门编码
                //_isOrg = item.Sort;
                //_belongdeptid = item.id;
                $('#btn_Search').trigger("click");
            }
        };
        //初始化
        $("#itemTree").treeview(item);
       
    }
    function getType(type) {
        if (type=="1") {
            return "日常安全检查";
        }
        if (type == "2") {
            return "专项安全检查";
        }
        if (type == "3") {
            return "节假日前后安全检查";
        }
        if (type == "4") {
            return "季节性安全检查";
        }
        if (type == "5") {
            return "综合安全检查";
        }
        if (type == "6") {
            return "其他安全检查";
        }
    }
    var isFirst = true;
    var queryJson = {};
    //加载表格
    function GetGrid() {
        queryJson = {
            startTime: $("#StartTime").val(),
            endTime: $("#EndTime").val(),
            checkTitle: $("#txt_Keyword").val(),
            checkType: $("#CheckType").attr("data-value"),
            checkLevel: $("#CheckLevel").attr("data-value"),
            deptCode:deptCode
        }
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            autowidth: true,
            postData: { queryJson: JSON.stringify(queryJson) },
            height: $(window).height() - 200,
            url: "../../SaftyCheck/JTSafetyCheck/GetPageListJson",
            datatype: "json",
            colModel: [
                 { label: '主键', name: 'id', hidden: true }, { label: '', name: 'IsAuto', hidden: true }, { label: '', name: 'IsOver', hidden: true },
                 {
                     label: '操作', name: 'oper', width: 80, align: 'center',sortable:false
                  , formatter: function (cellvalue, options, rowObject) {
                      var html = "<a href=javascript:show('" + rowObject.id + "')  title='查看'><i class='fa fa-eye'></i></a>";                      html += "<a href=javascript:edit('" + rowObject.id + "')  title='修改'><i class='fa fa-pencil-square-o'></i></a>";                      if (top.currUserId == rowObject.createuserid || top.currUserRoleName.indexOf("公司管理员") >= 0 || IsAdmin()) {                          html += "<a href=javascript:del('" + rowObject.id + "')  title='删除'><i class='fa fa-trash-o'></i></a>";
                          return html;
                      }                      return html;                    
                  }
                 },
                 { label: '检查名称', name: 'checktitle', width: 200, align: 'center', sortable: false },
                 {
                     label: '检查类型', name: 'checktype', width: 100, align: 'center', sortable: false
                   , formatter: function (cellvalue, options, rowObject) {
                       return getType(cellvalue);
                   }
                 },
                 {
                     label: '检查时间', name: 'startdate', width: 200, align: 'center', sortable: false
                     , formatter: function (cellvalue, options, rowObject) {
                         return formatDate(cellvalue, 'yyyy-MM-dd') + "至" + formatDate(rowObject.enddate, 'yyyy-MM-dd');
                     }
                 },
                 {
                     label: '检查项数', name: 'total', width: 100, align: 'center', sortable: false, formatter: function (cellvalue, options, rowObject) {
                         if (cellvalue==0) {
                             return cellvalue;
                         } else {
                             return '<a style="cursor:pointer;text-decoration:underline;color:blue;" onclick=\"showItems(\'' + rowObject.id + '\',\'\')\">' + cellvalue + '</a>';
                         }
                        
                     }
                 },
                 {
                     label: '整改项数', name: 'count1', width: 100, align: 'center', sortable: false, formatter: function (cellvalue, options, rowObject) {
                         if (cellvalue == 0) {
                             return cellvalue;
                         } else {
                             return '<a style="cursor:pointer;text-decoration:underline;color:blue;" onclick=\"showItems(\'' + rowObject.id + '\',\'已完成\')\">' + cellvalue + '</a>';
                         }
                     }
                 },
                 {
                     label: '逾期未整改项数', name: 'count2', align: 'center', sortable: false, formatter: function (cellvalue, options, rowObject) {
                         if (cellvalue == 0) {
                             return cellvalue;
                         } else {
                             return '<a style="cursor:pointer;text-decoration:underline;color:blue;" onclick=\"showItems(\'' + rowObject.id + '\',\'逾期未完成\')\">' + cellvalue + '</a>';
                         }
                     }
                 }
            ],
            viewrecords: true,
            rowNum: 30,
            rowList: [30, 50, 100],
            pager: "#gridPager",
            sortname: 'Createtime',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: true,
            gridview: true,
            onSelectRow: function () {
                
            },
            gridComplete: function () {
                if(isFirst){
                    var groupHeaders = new Array();
                    groupHeaders.push(
                        {
                            startColumnName: "total",
                            numberOfColumns: 3,
                            titleText: "<b>整改情况</b>"
                        }
                    );
                    $('#gridTable').jqGrid("setGroupHeaders", {
                        useColSpanStyle: true,
                        groupHeaders: groupHeaders
                    });
                }
               
                //$('#gridTable').setGridWidth(($('.gridPanel').width()));
            }
        });
        //查询事件
        $("#btn_Search").click(function () {
                 isFirst = false;
                 var queryJson = {
                     startTime: $("#StartTime").val(),
                     endTime: $("#EndTime").val(),
                     checkTitle: $("#txt_Keyword").val(),
                     checkType: $("#CheckType").attr("data-value"),
                     checkLevel: $("#CheckLevel").attr("data-value"),
                     deptCode: deptCode
                 }
                 $gridTable.jqGrid('setGridParam', {
                     postData: { queryJson: JSON.stringify(queryJson) }, page: 1
                 }).trigger('reloadGrid');
                 $(".ui-filter-text").removeClass("active").attr("style", "border-bottom-color: rgb(204, 204, 204)");
                 $(".ui-filter-list").hide();
             });
        //查询回车
             $('#txt_Keyword').bind('keypress', function (event) {
                 if (event.keyCode == "13") {
                     $('#btn_Search').trigger("click");
                 }
             });
         }
         
         //导出结果
         function btn_exportResult() {
             
             ////查询条件
             var queryJson = {
                 startTime: $("#StartTime").val(),
                 endTime: $("#EndTime").val(),
                 checkTitle: $("#txt_Keyword").val(),
                 checkType: $("#CheckType").attr("data-value"),
                 checkLevel: $("#CheckLevel").attr("data-value"),
                 deptCode: deptCode
             }
             location.href = "../../SaftyCheck/JTSafetyCheck/ExportData?queryJson=" + queryJson;
         }
         function add() {
             var idx0 = dialogOpen({
                 id: "Form",
                 title: "新增安全检查",
                 url: '/SaftyCheck/JTSafetyCheck/Form?keyValue=&action=add',
                 width: ($(top.window).width() - 100) + "px",
                 height: ($(top.window).height() - 80) + "px",
                 callBack: function (iframeId) {
                     top.document.getElementById(iframeId).contentWindow.AcceptClick();
                 }
             });
         }
         function showItems(id,status) {
             var idx0 = dialogOpen({
                 id: "Form",
                 title: "查看检查发现问题及整改情况",
                 url: '/SaftyCheck/JTSafetyCheck/List?keyValue=' + id+'&status='+status,
                 width: ($(top.window).width() - 100) + "px",
                 height: ($(top.window).height() - 80) + "px",
                 btn: ['关闭'],
                 callBack: function (iframeId) {
                     top.layer.close(idx0);
                 }
             });
         }
         function show(id) {
             var idx0 = dialogOpen({
                 id: "Form",
                 title: "查看安全检查",
                 url: '/SaftyCheck/JTSafetyCheck/Form?keyValue=' + id + '&action=show',
                 width: ($(top.window).width() - 100) + "px",
                 height: ($(top.window).height() - 80) + "px",
                 btn:['关闭'],
                 callBack: function (iframeId) {
                     top.layer.close(idx0);
                 }
             });
         }
         function edit(id) {
             var idx0 = dialogOpen({
                 id: "Form",
                 title: "修改安全检查",
                 url: '/SaftyCheck/JTSafetyCheck/Form?keyValue='+id+'&action=edit',
                 width: ($(top.window).width() - 100) + "px",
                 height: ($(top.window).height() - 80) + "px",
                 callBack: function (iframeId) {
                     top.document.getElementById(iframeId).contentWindow.AcceptClick();
                 }
             });
         }
         function del(id) {
             $.RemoveForm({
                 url: 'RemoveForm?keyValue=' + id,
                 param: { keyValue: id },
                 success: function (data) {
                     window.reload();
                 }
             })
         }
         function exp() {
             var queryJson = {
                 startTime: $("#StartTime").val(),
                 endTime: $("#EndTime").val(),
                 checkTitle: $("#txt_Keyword").val(),
                 checkType: $("#CheckType").attr("data-value"),
                 checkLevel: $("#CheckLevel").attr("data-value")
             }
             window.location.href = "ExportData?queryJson=" + JSON.stringify(queryJson);
         }
</script>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%; ">
    <div class="ui-layout-west">
        <div class="west-Panel">
            <div class="panel-Title">
                <a href="javascript:selectAll();">组织机构树</a>
            </div>
            <div id="itemTree"></div>
        </div>
    </div>
    <div class="ui-layout-center">
        <div class="center-Panel">
            <div class="panel-Title">
                <sqan id="CheckOfTypeName">检查列表</sqan>
                <div class="btn-group" id="forShow" style="float: right;">
                </div>
            </div>
            <div class="titlePanel">
                <div class="title-search">
                    <table>
                        <tr>
                            <td>查询条件</td>
                            <td style="padding-left: 10px;">
                                <div class="ui-filter" style="width: 200px;">
                                    <div class="ui-filter-text">
                                      @*  <strong id="SelectedStartTime">@DateTime.Now.AddMonths(-1).ToString("yyyy-MM-dd")</strong> 至 <strong id="SelectedEndTime">@DateTime.Now.ToString("yyyy-MM-dd")</strong>*@
                                        <input id="see" type="hidden" />
                                        请选择过滤条件
                                    </div>
                                    <div class="ui-filter-list" style="width: 350px;">
                                        <table class="form" id="filter-form">
                                            <tr>
                                                <th class="formTitle">检查时间：</th>
                                                <td class="formValue">
                                                    <input id="Category" type="hidden" value="1" />
                                                    <div style="float: left; width: 45%;">
                                                        <input id="StartTime" readonly type="text" value="" class="form-control input-wdatepicker" onfocus="WdatePicker({maxDate:'%y-%M-%d'})">
                                                    </div>
                                                    <div style="float: left; width: 10%; text-align: center;">至</div>
                                                    <div style="float: left; width: 45%;">
                                                        <input id="EndTime" readonly type="text" value="" class="form-control input-wdatepicker" onfocus="WdatePicker()">
                                                    </div>
                                                </td>
                                            </tr>
                                             <tr>
                                                <td class="formTitle">检查类型：</td>
                                                <td class="formValue">
                                                    <div id="CheckType" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="formTitle">检查级别：</td>
                                                <td class="formValue">
                                                    <div id="CheckLevel" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="formTitle">检查名称：</td>
                                                <td class="formValue">
                                                    <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字"  />
                                                </td>
                                            </tr>
                                        </table>
                                        <div class="ui-filter-list-bottom">

                                            <a id="btn_Search" class="btn btn-primary">&nbsp;查&nbsp;&nbsp;询</a>
                                        </div>
                                    </div>
                                </div>
                            </td>

                        </tr>
                    </table>
                </div>
                <div class="toolbar">
                    <div class="btn-group">
                        <a id="reload" class="btn btn-default" onclick="reload();"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
                        <a id="add" class="btn btn-default btn10" onclick="add()"><i class="fa fa-plus"></i>&nbsp;新增</a>
                        <a  class="btn btn-default btn10" onclick="exp()"><i class="fa fa-plus"></i>&nbsp;导出</a>
                    </div>
                </div>
            </div>
            <div class="gridPanel">
                <table id="gridTable"></table>
                <div id="gridPager"></div>
            </div>
           
        </div>
    </div>
</div>
