@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>
<!--webUploader文件上传组件-->

<script>
    var modulename = request("modulename"); //模块
    var keyValue = request("keyValue"); //模块
    $(function () {
        $("#MODULENAME").val(modulename); //设置
        //违章
        if (modulename == "Lllegal") {
            $(".form tr:eq(0) td:eq(0)").html("违章核准即将到期时间设置");
            $(".form tr:eq(0) td:eq(1)").html("收到核准任务后");

            $(".form tr:eq(1) td:eq(0)").html("违章验收即将到期时间设置");
            $(".form tr:eq(1) td:eq(1)").html("收到验收任务后");

            $(".form tr:eq(2) td:eq(0)").html("违章核准逾期时间设置");
            $(".form tr:eq(2) td:eq(1)").html("收到核准任务后");

            $(".form tr:eq(3) td:eq(0)").html("违章验收逾期时间设置");
            $(".form tr:eq(3) td:eq(1)").html("收到验收任务后");
        }

        //初始化组件
        $.SetForm({
            url: "../../HiddenTroubleManage/HTBaseInfo/GetExpirationList?vdate=" + new Date() + "&modulename=" + modulename,
            success: function (data) {
                $("#form1").formDeserialize(data);
            }
        });
    });


    //提交设置
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize(keyValue);
        $.SaveForm({
            url: "../../HiddenTroubleManage/HTBaseInfo/SaveExpirationForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                dialogClose();
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }
</script>

<div class="center-Panel">
    <div style="margin-top: 5px;"></div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;期限设置</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <div style="margin-right:30px;">
                <table class="form">
                    <tr>
                        <td class="formTitle" style="width:180px;">隐患评估即将到期时间设置：</td>
                        <td class="formTitle">收到评估任务后</td>
                        <td class="formValue">
                            <input id="BEFOREAPPROVE" type="text" class="form-control" errormsg="期限" isvalid="yes" checkexpession="NumNotNull" />
                            <input type="hidden" id="MODULENAME" value="Hidden" />
                        </td>
                        <td class="formTitle"><span>小时未处理</span></td>
                    </tr>
                    <tr>
                        <td class="formTitle" style="width:180px;">隐患验收即将到期时间设置：</td>
                        <td class="formTitle">收到验收任务后</td>
                        <td class="formValue">
                            <input id="BEFOREACCEPT" type="text" class="form-control" errormsg="期限" isvalid="yes" checkexpession="NumNotNull" />
                        </td>
                        <td class="formTitle"><span>小时未处理</span></td>
                    </tr>
                    <tr>
                        <td class="formTitle" style="width:180px;">隐患评估逾期时间设置：</td>
                        <td class="formTitle">收到评估任务后</td>
                        <td class="formValue">
                            <input id="AFTERAPPROVE" type="text" class="form-control" errormsg="期限" isvalid="yes" checkexpession="NumNotNull" />
                        </td>
                        <td class="formTitle"><span>小时未处理</span></td>
                    </tr>
                    <tr>
                        <td class="formTitle" style="width:180px;"><span style="white-space:pre-wrap;">隐患验收逾期时间设置：</span></td>
                        <td class="formTitle">收到验收任务后</td>
                        <td class="formValue">
                            <input id="AFTERACCEPT" type="text" class="form-control" errormsg="期限" isvalid="yes" checkexpession="NumNotNull" />
                        </td>
                        <td class="formTitle"><span>小时未处理</span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

