@{
    ViewBag.Title = "WarningDetail";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<style type="text/css">
    table {
        margin: 20px;
    }

        table tr th {
            border: 1px solid #515b5a;
            text-align: center;
            font: 16px bold;
            height: 36px;
            background: #d3d3d3;
        }

        table tr td {
            border: 1px solid #515b5a;
            font: 14px bold;
            text-align: left;
            height: 80px;
        }
</style>

<script type="text/javascript">
    $(function () {
        $.ajax({
            url: '../../HiddenTroubleManage/HTBaseInfo/GetHiddenRankStandard',
            type: "get",
            success: function (data) {
                if (!!data) {
                    var objData = eval("(" + data + ")");
                    $("#curStandard").html(objData.Description);
                }
            }
        });
    });
</script>
<div id="curStandard"></div>
@*<table>
        <tr>
            <th rowspan="2" style="width:20%;">
                隐患类型
            </th>
            <th colspan="3" style="width: 80%;">隐患级别</th>
        </tr>
        <tr>
            <th style="width:20%;">I级重大隐患</th>
            <th style="width:40%;">II级重大隐患</th>
            <th style="width:30%;">一般隐患</th>
        </tr>
        <tr>
            <td style="text-align:center;">
                人身安全事故隐患
            </td>
            <td>可能导致人身死亡或重伤事故的隐患。</td>
            <td></td>
            <td>可能导致人身轻伤的隐患。</td>
        </tr>
        <tr>
            <td style="text-align:center;">
                电力安全事故隐患
            </td>
            <td>可能导致发生较大及以上事故中电力事故或一般及以上供热事故的隐患。</td>
            <td>可能导致发生A类一般事故中的电力事故隐患或全厂供热中断在24小时以内的隐患。</td>
            <td>可能导致一类障碍或可能导致全厂对外供热达不到地方规定负荷曲线的70%或局部停供的隐患。</td>
        </tr>
        <tr>
            <td style="text-align:center;">
                设备设施事故隐患
            </td>
            <td>可能造成直接经济损失1000万元及以上设备事故的隐患。</td>
            <td>可能造成直接经济损失100万元及以上、1000万元以下的设备事故隐患，或可能导致B类一般事故中设备设施事故的隐患。</td>
            <td>可能造成直接经济损失10万元及以上、100万元以下，或可能造成单台风电机组停机时间超过7天但达不到一般设备事故的隐患。</td>
        </tr>
        <tr>
            <td style="text-align:center;">
                大坝事故隐患
            </td>
            <td>
                1 可能造成水电站大坝或者燃煤发电厂贮灰场大坝溃决的隐患。
                2 安全等级评定为险坝的水电站大坝
                3 安全等级评定为险态灰场的燃煤发电厂贮灰场
            </td>
            <td>
                1 可能造成水电站大坝漫坝、结构物或边坡垮塌、泄洪设施或挡水结构不能正常运行的隐患，或者造成燃煤发电厂贮灰场大坝断裂、倒塌、滑移、灰水灰渣泄漏、排洪设施损坏的隐患。
                2 安全等级评定为病坝的水电站大坝
                3 安全等级评定为病态灰场的燃煤发电厂贮灰场
            </td>
            <td></td>
        </tr>
        <tr>
            <td style="text-align:center;">
                安全管理隐患
            </td>
            <td></td>
            <td>安全监督管理机构未成立，安全责任制未建立，安全管理制度、应急管理严重缺失，安全培训不到位，安全管理执行力严重缺乏，发电机组并网安全性评价未定期开展，水电站大坝未开展安全注册和定期检查，燃煤发电厂贮灰场大坝未开展安全评估、风力发电机组定期维护和停机保护试验未按标准开展等隐患。对复杂自然条件、复杂结构、技术难度大及危险性较大的施工分部分项工程未编制专项施工方案并附安全验算结果，对特种设备、危化品等重要设备设施投入使用前未进行安全检查签证并经检验合格等管理类隐患。</td>
            <td></td>
        </tr>
        <tr>
            <td style="text-align:center;">
                其他事故隐患
            </td>
            <td>可能导致发生《国家突发环境事件应急预案》规定的一般及以上环境污染事故，或较大及以上火灾事故的隐患。</td>
            <td>可能导致地方政府通报的污染物超标排放的隐患或可能导致一般火灾事故及其他对社会造成影响事件的隐患。</td>
            <td>可能导致污染物连续超标排放8小时以上或重点防火部位存在火险的隐患。</td>
        </tr>
    </table>*@
