@{
    ViewBag.Title = "Leave";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script type="text/javascript" src="~/content/scripts/business/common.js"></script>
<script type="text/javascript">
    var keyValue = request('keyValue');
    var equipmentid = request('equipmentid');

    $(function () {
        initControl();
    });

    //初始化控件
    function initControl() {
        //获取表单
        if (!!keyValue) {
            //$.SetForm({
            //    url: "../../PersonManage/blacklist/GetFormJson",
            //    param: { keyValue: keyValue },
            //    success: function (data) {

            //        $("#form1").formDeserialize(data);

            //        var users = $.currentIframe().window.$('#gridTable').jqGridRowValue('realname');
            //        users = users.replace('<div class="blacklist" title="黑名单用户">', "");
            //        $("#UserName").val(users.replace('</div>', ''));
            //        $("#UserId").val($.currentIframe().window.$('#gridTable').jqGridRowValue('userid'));
            //    }
            //})
        } else {

            $("#EquipmentId").val(equipmentid);
            var data = $.currentIframe().window.$("#gridTable");
            if (data.jqGridRowValue("id").length > 0) {
                $("#EquipmentId").val(data.jqGridRowValue("id"));
                $("#EquipmentName").val(data.jqGridRowValue("equipmentname"));
            }


        }
    }
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        dialogConfirm("确认离厂吗？", function (isSure) {
            if (isSure) {
                $.SaveForm({
                    url: "../../EquipmentManage/Equipment/Leave",
                    param: { leaveTime: $("#LeaveTime").val(), equipmentId: $("#EquipmentId").val(), DepartureReason: $("#DepartureReason").val() },
                    loading: "正在处理...",
                    success: function (data) {
                        $.currentIframe().window.$("#gridTable").trigger("reloadGrid");
                    }
                })
            }

        });

    }
</script>
<div style="margin-top: 20px; margin-right: 10px;">
    <div class="row">
        <div class="col-sm-4 control-label">离厂设备<font face="宋体" style="color:red;">*</font>：</div>
        <div class="col-sm-8" >
            <div class="input-group">
                <textarea id="EquipmentName" class="form-control" isvalid="yes" checkexpession="NotNull" rows="2" readonly="readonly"></textarea>
                <input type="hidden" id="EquipmentId" />
                <span id="equipmentselect" class="input-group-addon" onclick="selectEquipmentNormal(this.parentNode, 'EquipmentId,EquipmentName', '1&userIds=normal')" title="选择设备">...</span>
            </div>

        </div>
    </div>
    <div class="row" style="margin-top:10px;">
        <div class="col-sm-4 control-label">离厂时间<font face="宋体" style="color:red;">*</font>：</div>
        <div class="col-sm-8" >
            <input id="LeaveTime" type="text" class="form-control input-wdatepicker" value="@DateTime.Now.ToString("yyyy-MM-dd")" onfocus="WdatePicker()" isvalid="yes" checkexpession="NotNull" />

        </div>
    </div>
    <div class="row" style="margin-top:10px;">
        <div class="col-sm-4 control-label">离厂原因：</div>
        <div class="col-sm-8" >
            <input id="DepartureReason" type="text" class="form-control" maxlength="200" />

        </div>
    </div>
</div>
