@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    $(function () {

    })
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        if ($("#oldYear").val() == $("#newYear").val()) {
            dialogMsg("数据不能复制到同一年,请重新选择年份", 0);
            return;
        } else if (parseInt($("#newYear").val()) < parseInt("@DateTime.Now.Year")) {
            dialogMsg("复制到的年份不能小于当前年份,请重新选择", 0);
            return;
        }
        var urlCommit = "../../ObserveRecord/ObsTask/CopyHistoryData";
        $.SaveForm({
            url: urlCommit,
            param: { oldYear: $("#oldYear").val(), newYear: $("#newYear").val() },
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }
</script>
<div style="margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle">复制<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="oldYear" type="text" class="form-control input-datepicker" isvalid="yes" checkexpession="NotNull" onfocus="WdatePicker({ dateFmt: 'yyyy', maxDate: '#F{$dp.$D(\'newYear\')}' })" />
            </td>
            <td class="formTitle">到<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="newYear" type="text" class="form-control input-datepicker" isvalid="yes" checkexpession="NotNull" onfocus="WdatePicker({ dateFmt: 'yyyy', minDate: '#F{$dp.$D(\'oldYear\')}' })" />
                @*<input id="currYear" type="hidden" class="form-control input-datepicker"  onfocus="WdatePicker({ dateFmt: 'yyyy', })" value="@DateTime.Now.Year" />*@
            </td>
        </tr>
    </table>
</div>
