@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}

<script type="text/javascript">
    var keyValue = request("keyValue"); //主键 隐患信息主键
    $(function () {
        if (!!keyValue) {
            $.SetForm({
                url: "../../HiddenTroubleManage/HTEstimate/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                    //评估结果
                    if (data.ESTIMATERESULT == "1") {
                        $("input[name='ESTIMATERESULT']:eq(1)").removeAttr("checked");
                        $("input[name='ESTIMATERESULT']:eq(0)").prop("checked", "checked");
                    }
                    else {
                        $("input[name='ESTIMATERESULT']:eq(0)").removeAttr("checked");
                        $("input[name='ESTIMATERESULT']:eq(1)").prop("checked", "checked");
                    }
                    GetGrid();
                }
            })
        }
    });

    function GetGrid() {
        var folderId =  $("#ESTIMATEPHOTO").val();
        var selectedRowIndex = 0;
        var $gridTable = $('#estimateGridTable');
        $gridTable.jqGrid({
            url: "../../PublicInfoManage/ResourceFile/GetImageListJsonByFolder?folderId=" + folderId,
            datatype: "json",
            height: $(window).height() - 300,
            autowidth: true,
            colModel: [
                { label: '标记', name: 'FilePath', hidden: true },
                { label: 'FolderId', name: 'FolderId', hidden: true },
                { label: 'FileType', name: 'FileType', hidden: true },
                {
                    label: '文件名', width: $(".profile-content").width() - 350, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        return "<div style='cursor:pointer;'><div style='float: left;'><img src='" + top.contentPath + "/Content/images/filetype/" + rowObject.FileType +
                            ".png' style='width:35px;height:35px;padding:5px;margin-left:-7px;margin-right:5px;' /></div>" +
                            "<div style='float: left;line-height:35px;'><a href='" + top.contentPath + rowObject.FilePath.replace("~", "") + "' target='_blank'>" + rowObject.FileName + "</a></div></div>";
                    }
                },
            ],
            pager: false,
            rowNum: "10",
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            ondblClickRow: function (id) {

            }
        });
    }
</script>

<div class="center-Panel" style="overflow-y: scroll; height: 600px;">
    <div style="margin-top: 5px;"></div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;整改效果评估详情</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <div style="margin-right: 30px;">
                <table class="form">
                    <tr>
                        <td class="formTitle">评估人</td>
                        <td class="formValue">
                            <input id="ESTIMATEPERSONNAME" type="text" class="form-control" disabled="disabled" />
                            <input id="ESTIMATEPERSON" type="hidden" />
                            <input id="ID" type="hidden" />
                            <input id="HIDCODE" type="hidden" />
                        </td>
                        <td class="formTitle">评估单位</td>
                        <td class="formValue">
                            <input id="ESTIMATEDEPARTNAME" type="text" class="form-control" disabled="disabled" />
                            <input id="ESTIMATEDEPARTCODE" type="hidden" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">评估日期</td>
                        <td class="formValue">
                            <input id="ESTIMATEDATE" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" disabled="disabled" />
                        </td>
                        <td class="formTitle">评估情况</td>
                        <td class="formValue">
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="ESTIMATERESULT" id="ESTIMATERESULT1" value="1" disabled="disabled" checked="checked" />评估通过
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="ESTIMATERESULT" id="ESTIMATERESULT2" value="0" disabled="disabled" />评估不通过
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">评估图片</td>
                        <td class="formValue" colspan="3">
                            <input type="hidden" id="ESTIMATEPHOTO" />
                            <!--照片-->
                            <table id="estimateGridTable"></table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    body {
        overflow: hidden;
    }
</style>