@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>
<link href="~/Content/scripts/plugins/uploadify/uploadify.css" rel="stylesheet" />
<link href="~/Content/scripts/plugins/uploadify/uploadify.extension.css" rel="stylesheet" />
<script src="~/Content/scripts/plugins/uploadify/jquery.uploadify.min.js"></script>

<script>
    var keyValue = request("keyValue"); //主键 隐患信息主键
    var actiontype = request("actiontype");
    $(function () {
        //验证当前是否存在flash插件
        var fls = flashChecker();
        var s = "";
        if (!fls.f) {
            var html = "<a href='http://get.adobe.com/cn/flashplayer/' style='text-decoration:none;color:red;' target='_bank'>您的浏览器未安装Flash插件,无法支持上传功能,请下载安装!</a>";
            $("#HidMessage").html(html);
        }
        $(".center-Panel").css({ "width": "100%", "height": ($(top.window).height() - 160) + "px", "padding-top": "38px" });

        initControl();
        GetGrid();
        GetChangeGrid("change"); //整改图片
        GetChangeGrid("attach"); //整改附件
        GetEstimateGrid();
        GetApprovalListGrid();
        GetAcceptListGrid();

        uploadify();
        //查看下
        if (actiontype == "view") {
            $("#btn_Submit").attr("disabled", "disabled");
            $("#uploadify").css("display", "none");
            $("#uploadify-queue").css("display", "none");
            $("#form1 input,textarea , .ui-select, .ui-select-text , .ui-select-option-content").each(function (ele, index) {
                $(this).attr("disabled", "disabled");
            });

            //根据当前隐患，控制整改效果评估是否显示
            var hidRankText = $("#HIDRANK").attr("data-text");
            //当前查看的是一般隐患
            if (hidRankText.indexOf("一般") >= 0) {
                $("#HistoryRecord").css("display", "none"); //整改效果评估面板整体隐藏，一般隐患没有整改效果评估
            }
        }
    });

    //获取历史整改信息
    function GetHistoryChange() {
        var keyCode = $("#HIDCODE").val();

        dialogOpen({
            id: 'HistoryForm',
            title: '隐患整改信息',
            url: '/HiddenTroubleManage/HTChangeInfo/DetailList?keyCode=' + keyCode,
            width: ($(top.window).width() - 200) + "px",
            height: ($(top.window).height() - 200) + "px",
            btn: null
        });
    }

    //获取历史整改效果评估信息
    function GetHistoryEstimate() {
        var keyCode = $("#HIDCODE").val();
        dialogOpen({
            id: 'HistoryForm',
            title: '整改效果评估信息',
            url: '/HiddenTroubleManage/HTEstimate/DetailList?keyCode=' + keyCode,
            width: ($(top.window).width() - 200) + "px",
            height: ($(top.window).height() - 200) + "px",
            btn: null
        });
    }

    //隐患图片 picgridTable
    function GetGrid() {
        var folderId = $("#HIDPHOTO").val();
        var selectedRowIndex = 0;
        var $gridTable = $('#picgridTable');
        $gridTable.jqGrid({
            url: "../../PublicInfoManage/ResourceFile/GetImageListJsonByFolder?folderId=" + folderId,
            datatype: "json",
            height: $(window).height() / 2 - 250,
            autowidth: true,
            colModel: [
                { label: '标记', name: 'FilePath', hidden: true },
                { label: 'FolderId', name: 'FolderId', hidden: true },
                { label: 'FileType', name: 'FileType', hidden: true },
                {
                    label: '文件名', width: $(".profile-content").width() - 350, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        return "<div style='cursor:pointer;'><div style='float: left;'><img src='" + top.contentPath + "/Content/images/filetype/" + rowObject.FileType +
                            ".png' style='width:35px;height:35px;padding:5px;margin-left:-7px;margin-right:5px;' /></div>" +
                            "<div style='float: left;line-height:35px;'><a href='" + top.contentPath + rowObject.FilePath.replace("~", "") + "' target='_blank'>" + rowObject.FileName + "</a></div></div>";
                    }
                },
            ],
            pager: false,
            rowNum: "10",
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            ondblClickRow: function (id) {

            }
        });
    }

    //整改图片 changePicGridTable
    function GetChangeGrid(obj) {
        var folderId = "";
        var $gridTable;
        var selectedRowIndex = 0;
        //隐患整改图片
        if (obj == "change") {
            folderId = $("#HIDCHANGEPHOTO").val();
            $gridTable = $('#changePicGridTable');
        }
        else //隐患整改附件
        {
            folderId = $("#ATTACHMENT").val();
            $gridTable = $('#AttachmentGridTable');
        }
        $gridTable.jqGrid({
            url: "../../PublicInfoManage/ResourceFile/GetImageListJsonByFolder?folderId=" + folderId,
            datatype: "json",
            height: $(window).height() / 2 - 250,
            autowidth: true,
            colModel: [
                { label: '标记', name: 'FilePath', hidden: true },
                { label: 'FolderId', name: 'FolderId', hidden: true },
                { label: 'FileType', name: 'FileType', hidden: true },
                {
                    label: '文件名', width: $(".profile-content").width() - 350, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        return "<div style='cursor:pointer;'><div style='float: left;'><img src='" + top.contentPath + "/Content/images/filetype/" + rowObject.FileType +
                            ".png' style='width:35px;height:35px;padding:5px;margin-left:-7px;margin-right:5px;' /></div>" +
                            "<div style='float: left;line-height:35px;'><a href='" + top.contentPath + rowObject.FilePath.replace("~", "") + "' target='_blank'>" + rowObject.FileName + "</a></div></div>";
                    }
                },
            ],
            pager: false,
            rowNum: "10",
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            ondblClickRow: function (id) {

            }
        });
    }

    //整改效果评估图片 estimateGridTable
    function GetEstimateGrid() {
        var folderId = $("#ESTIMATEPHOTO").val();
        var selectedRowIndex = 0;
        var $gridTable = $('#estimateGridTable');
        $gridTable.jqGrid({
            url: "../../PublicInfoManage/ResourceFile/GetImageListJsonByFolder?folderId=" + folderId,
            datatype: "json",
            height: $(window).height() / 2 - 250,
            autowidth: true,
            colModel: [
                { label: '标记', name: 'FilePath', hidden: true },
                { label: 'FolderId', name: 'FolderId', hidden: true },
                { label: 'FileType', name: 'FileType', hidden: true },
                           {
                               label: '操作', name: 'FileId', index: 'FileId', width: 120, align: 'center',
                               formatter: function (cellvalue, options, rowObject) {
                                   if (actiontype != "view") {
                                       var html = "&nbsp;&nbsp;<a href=javascript:DelPic('" + rowObject.FileId + "')  title='删除'><i class='fa fa-trash-o'></i></a>";
                                       return html;
                                   } else { return ""; }

                               }
                           },
                {
                    label: '文件名', width: $(".profile-content").width() - 350, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        return "<div style='cursor:pointer;'><div style='float: left;'><img src='" + top.contentPath + "/Content/images/filetype/" + rowObject.FileType +
                            ".png' style='width:35px;height:35px;padding:5px;margin-left:-7px;margin-right:5px;' /></div>" +
                            "<div style='float: left;line-height:35px;'><a href='" + top.contentPath + rowObject.FilePath.replace("~", "") + "' target='_blank'>" + rowObject.FileName + "</a></div></div>";
                    }
                },
            ],
            pager: false,
            rowNum: "10",
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            ondblClickRow: function (id) {

            }
        });
    }

    //获取评估列表 approvalGridTable
    function GetApprovalListGrid() {
        var selectedRowIndex = 0;
        var $approvalGridTable = $('#approvalGridTable');
        $approvalGridTable.jqGrid({
            url: "../../HiddenTroubleManage/HTApproval/GetListJson?hideCode=" + $("#HIDCODE").val(),
            datatype: "json",
            height: $(window).height() / 2 - 200,
            autowidth: true,
            colModel: [
                 {
                     label: '操作', name: 'ID', index: 'ID', width: 120, align: 'center',
                     formatter: function (cellvalue, options, rowObject) {
                         var html = "<a href=javascript:Detail('" + rowObject.ID + "')  title='查看'><i class='fa fa-eye'></i></a>";
                         return html;
                     }
                 },
                { label: '评估人', name: 'APPROVALPERSONNAME', index: 'APPROVALPERSONNAME', width: 120, align: 'center' },
                { label: '评估单位', name: 'APPROVALDEPARTNAME', index: 'APPROVALDEPARTNAME', width: 150, align: 'center' },
                {
                    label: '评估情况', name: 'APPROVALRESULT', index: 'APPROVALRESULT', width: 150, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = rowObject.APPROVALRESULT == "0" ? "不通过" : "通过";
                        return html;
                    }
                },
                {
                    label: '评估时间', name: 'APPROVALDATE', index: 'APPROVALDATE', width: 150, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = rowObject.APPROVALDATE.replace("00:00:00", "");
                        return html;
                    }
                }
            ],
            pager: false,
            rowNum: "20",
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            ondblClickRow: function (id) {

            }
        });
    }


    function Detail(keyValue) {
        dialogOpen({
            id: 'DetailForm',
            title: '隐患评估详情',
            url: '/HiddenTroubleManage/HTApproval/Detail?keyValue=' + keyValue,
            width: ($(top.window).width() - 200) + "px",
            height: ($(top.window).height() - 200) + "px",
            btn: null
        });
    }

    function DetailAccetp(keyValue) {
        dialogOpen({
            id: 'DetailForm',
            title: '隐患验收详情',
            url: '/HiddenTroubleManage/HTAcceptInfo/Detail?keyValue=' + keyValue,
            width: ($(top.window).width() - 200) + "px",
            height: ($(top.window).height() - 200) + "px",
            btn: null
        });
    }


    //获取验收列表 acceptGridTable
    function GetAcceptListGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#acceptGridTable');
        $gridTable.jqGrid({
            url: "../../HiddenTroubleManage/HTAcceptInfo/GetListJson?hideCode=" + $("#HIDCODE").val(),
            datatype: "json",
            height: $(window).height() / 2 - 200,
            autowidth: true,
            colModel: [
               {
                   label: '操作', name: 'ID', index: 'ID', width: 120, align: 'center',
                   formatter: function (cellvalue, options, rowObject) {
                       var html = "<a href=javascript:DetailAccetp('" + rowObject.ID + "')  title='查看'><i class='fa fa-eye'></i></a>";
                       return html;
                   }
               },
               { label: '验收人', name: 'ACCEPTPERSONNAME', index: 'ACCEPTPERSONNAME', width: 120, align: 'center' },
               { label: '验收单位', name: 'ACCEPTDEPARTNAME', index: 'ACCEPTDEPARTNAME', width: 120, align: 'center' },
               {
                   label: '验收情况', name: 'ACCEPTSTATUS', index: 'ACCEPTSTATUS', width: 120, align: 'center',
                   formatter: function (cellvalue, options, rowObject) {
                       var html = rowObject.ACCEPTSTATUS == "0" ? "不通过" : "通过";
                       return html;
                   }
               },
               {
                   label: '验收时间', name: 'ACCEPTDATE', index: 'ACCEPTDATE', width: 150, align: 'center',
                   formatter: function (cellvalue, options, rowObject) {
                       var html = rowObject.ACCEPTDATE.replace("00:00:00", "");
                       return html;
                   }
               }
            ],
            pager: false,
            rowNum: "20",
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            ondblClickRow: function (id) {

            }
        });
    }

    //删除图片
    function DelPic(key) {
        $.RemoveForm({
            url: "../../PublicInfoManage/ResourceFile/ThoroughRemoveForm",
            param: { keyValue: key, fileType: "" },
            success: function (data) {
                $("#estimateGridTable").resetSelection();
                $("#estimateGridTable").trigger("reloadGrid");
            }
        })
    }

    //初始化控件
    function initControl() {

        var curDate = "@DateTime.Now.ToString("yyyy-MM-dd")";
        //默认给当前时间
        $("#ESTIMATEDATE").val(curDate);

        //提交流程
        $("#btn_Submit").click(function () {
            SubmitAction();
        });

        $.SetForm({
            url: "../../HiddenTroubleManage/HTBaseInfo/GetInitDataJson",
            success: function (data) {

                //整改效果评估图片
                $("#ESTIMATEPHOTO").val(data.EstimatePhoto);

                //检查类型
                $("#CHECKTYPE").ComboBox({
                    id: "ItemDetailId",
                    text: "ItemName",
                    description: "==请选择==",
                    allowSearch: false,
                    data: data.CheckType
                });
                //隐患类型
                $("#HIDTYPE").ComboBox({
                    id: "ItemDetailId",
                    text: "ItemName",
                    description: "==请选择==",
                    allowSearch: false,
                    data: data.HidType
                });
                //隐患级别
                $("#HIDRANK").ComboBox({
                    id: "ItemDetailId",
                    text: "ItemName",
                    description: "==请选择==",
                    allowSearch: false,
                    data: data.HidRank,
                });
                //培训模板
                $("#TRAINTEMPLATENAME").ComboBox({
                    id: "ItemDetailId",
                    text: "ItemName",
                    description: "==请选择==",
                    allowSearch: false,
                    data: data.TrainTemplateName,
                });
            }
        });



        if ($("#HIDRANK")[0].innerText.indexOf("重大") < 0) {
            //隐藏重大隐患填项
            for (var i = 13; i <= 18; i++) {
                $(".form tr:eq(" + i + ")").css("display", "none");
                $(".form tr:eq(" + i + ") td").each(function (ele, index) {
                    $(this).css("display", "none");
                });
            }
        }

        $("#HIDRANK").change(function (ele) {
            var rankName = $(ele.target).attr("data-text");
            if (rankName.indexOf("重大") > 0) {
                for (var i = 13; i <= 18; i++) {
                    $(".form tr:eq(" + i + ")").removeAttr("style");
                    $(".form tr:eq(" + i + ") td").each(function (ele, index) {
                        $(this).removeAttr("style");
                    });
                }
            }
            else {
                for (var i = 13; i <= 18; i++) {
                    $(".form tr:eq(" + i + ")").css("display", "none");
                    $(".form tr:eq(" + i + ") td").each(function (ele, index) {
                        $(this).css("display", "none");
                    });
                }
            }
        });


        //判断是否违章
        var chkVal = $("input[name='ISBREAKRULE']:checked").val();
        if (chkVal == "0") {
            $(".form tr:eq(9)").css("display", "none");
            $(".form tr:eq(9) td").each(function (ele, index) {
                $(this).css("display", "none");
            });
            $(".form tr:eq(8) td").each(function (index, ele) {
                if (index > 1) {
                    $(this).css("display", "none");
                }
            });
        }

        //是否回退
        var isBackVal = $("input[name='ISBACK']:checked").val();
        //不回退
        if (isBackVal == "0") {
            $(".form tr:eq(27)").css("display", "none");
            $(".form tr:eq(27) td").each(function (ele, index) {
                $(this).css("display", "none");
            });
        }



        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../HiddenTroubleManage/HTBaseInfo/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {

                    //隐患整改
                    if (null != data.changeInfo) {

                        $("#CHANGEID").val(data.changeInfo.ID);
                        $("#form1").formDeserialize(data.changeInfo);
                    }
                    //隐患验收
                    if (null != data.acceptInfo) {
                        $("#ACCEPTID").val(data.acceptInfo.ID);
                        $("#form1").formDeserialize(data.acceptInfo);
                    }

                    //整改效果评估
                    if (null != data.estimateInfo) {
                        if (data.estimateInfo.ESTIMATEPHOTO == null || data.estimateInfo.ESTIMATEPHOTO == "") {
                            data.estimateInfo.ESTIMATEPHOTO = $("#ESTIMATEPHOTO").val();
                        }
                        $("#ESTIMATEID").val(data.estimateInfo.ID);
                        $("#form1").formDeserialize(data.estimateInfo);

                        if (!!data.estimateInfo) {
                            //默认给当前时间
                            $("#ESTIMATEDATE").val(curDate);
                        }
                    }

                    //隐患基本信息
                    if (null != data.baseInfo) {
                        $("#form1").formDeserialize(data.baseInfo);

                        $("#CHECKTYPE").ComboBoxSetValue(data.baseInfo.CHECKTYPE);
                        $("#HIDRANK").ComboBoxSetValue(data.baseInfo.HIDRANK);
                        $("#HIDTYPE").ComboBoxSetValue(data.baseInfo.HIDTYPE);
                        $("#TRAINTEMPLATENAME").ComboBoxSetValue(data.baseInfo.TRAINTEMPLATENAME);


                        //是否违章
                        if (data.baseInfo.ISBREAKRULE == "1") {
                            $("input[name='ISBREAKRULE']:eq(0)").prop("checked", "checked");
                        }
                        else {
                            $("input[name='ISBREAKRULE']:eq(1)").prop("checked", "checked");
                        }

                        //是否挂牌督办
                        if (data.baseInfo.ISGETAFTER == "1") {
                            $("input[name='ISGETAFTER']:eq(0)").prop("checked", "checked");
                        }
                        else {
                            $("input[name='ISGETAFTER']:eq(1)").prop("checked", "checked");
                        }

                        //是否曝光
                        if (data.baseInfo.EXPOSURESTATE == "1") {
                            $("input[name='EXPOSURESTATE']:eq(0)").prop("checked", "checked");
                        }
                        else {
                            $("input[name='EXPOSURESTATE']:eq(1)").prop("checked", "checked");
                        }
                    }


                    if ($("#HIDRANK")[0].innerText.indexOf("重大") > 0) {
                        //隐藏重大隐患填项
                        for (var i = 13; i <= 18; i++) {
                            $(".form tr:eq(" + i + ")").removeAttr("style");
                            $(".form tr:eq(" + i + ") td").each(function (ele, index) {
                                $(this).removeAttr("style");
                            });
                        }
                    }

                }
            })
        }
    }

    //提交流程
    function SubmitAction() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize(keyValue);
        var estimateresultVal = $("input[name='ESTIMATERESULT']:checked").val();
        postData["ESTIMATERESULT"] = estimateresultVal;
        $.SaveForm({
            url: "../../HiddenTroubleManage/HTEstimate/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }


    //上传图片
    function uploadify() {
        var folderId = $("#ESTIMATEPHOTO").val(); //验收照片
        $("#uploadify").uploadify({
            method: 'post',
            uploader: '../../PublicInfoManage/ResourceFile/UploadifyFile?folderId=' + folderId,
            swf: top.contentPath + '/Content/scripts/plugins/uploadify/uploadify.swf',
            buttonText: "上传图片",
            height: 30,
            width: 90,
            fileTypeExts: '*.bmp;*.ico;*.gif;*.jpeg;*.jpg;*.png;*.psd;*.JPEG;*.PNG;*.JPG;*.BMP;',
            removeCompleted: false,
            onSelect: function (file) {
                $("#" + file.id).prepend('<div style="float:left;width:50px;margin-right:2px;"><img src="' + top.contentPath + '/Content/images/filetype/' + file.type.replace('.', '') + '.png" style="width:40px;height:40px;" /></div>');
                $('.border').hide();
            },
            onUploadSuccess: function (file) {
                $("#" + file.id).find('.uploadify-progress').remove();
                $("#" + file.id).find('.data').html(' 恭喜您，上传成功！');
                $("#" + file.id).prepend('<a class="succeed" title="成功" onclick="javascript:$(this).parent().remove();"><i class="fa fa-check-circle"></i></a>');
                Loading(false);
                $("#estimateGridTable").trigger("reloadGrid");  //整改效果评估列表
                Loading(false);
            },
            onUploadError: function (file) {
                $("#" + file.id).removeClass('uploadify-error');
                $("#" + file.id).find('.uploadify-progress').remove();
                $("#" + file.id).find('.data').html(' 很抱歉，上传失败！');
                $("#" + file.id).prepend('<span class="error" title="失败"><i class="fa fa-exclamation-circle"></i></span>');
            }
        });
        $("#uploadify-button").prepend('<i style="opacity: 0.6;" class="fa fa-cloud-upload"></i>&nbsp;');
        $("#uploadify-queue").css("height", "61px");
    }

</script>

<div class="center-Panel">
    <div style="margin-top: 5px;"></div>
    <div class="panel panel-default" id="HistoryRecord">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;整改效果评估&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" onclick="GetHistoryEstimate()">历史整改效果评估记录</a></strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <div style="margin-right: 30px;">
                <table class="form">
                    <tr>
                        <td class="formTitle">评估人</td>
                        <td class="formValue">
                            <input id="ESTIMATEPERSONNAME" type="text" class="form-control" disabled="disabled" />
                            <input id="ESTIMATEPERSON" type="hidden" />
                            <input id="ESTIMATEID" type="hidden" />
                        </td>
                        <td class="formTitle">评估单位</td>
                        <td class="formValue">
                            <input id="ESTIMATEDEPARTNAME" type="text" class="form-control" disabled="disabled" />
                            <input id="ESTIMATEDEPARTCODE" type="hidden" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">评估日期</td>
                        <td class="formValue">
                            <input id="ESTIMATEDATE" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" disabled="disabled" />
                        </td>
                        <td class="formTitle">评估情况</td>
                        <td class="formValue">
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="ESTIMATERESULT" id="ESTIMATERESULT1" value="1" checked="checked" />评估通过
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="ESTIMATERESULT" id="ESTIMATERESULT2" value="0" />评估不通过
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">评估图片</td>
                        <td class="formValue" colspan="3">
                            <input type="hidden" id="ESTIMATEPHOTO" />
                            <input id="uploadify" name="uploadify" type="file" />
                            <!--照片-->
                            <table id="estimateGridTable"></table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div style="margin-top: 5px;"></div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;隐患基本信息</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <div style="margin-right: 30px;">
                <table class="form">
                    <tr>
                        <td class="formTitle">隐患编码</td>
                        <td class="formValue">
                            <input id="HIDCODE" type="text" class="form-control" disabled="disabled" />
                        </td>
                        <td class="formTitle">所属工程</td>
                        <td class="formValue">
                            <input id="HIDPROJECTNAME" type="text" class="form-control" disabled="disabled" />
                            <input id="HIDPROJECT" type="hidden" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">隐患描述</td>
                        <td class="formValue" colspan="3">
                            <textarea id="HIDDESCRIBE" class="form-control" disabled="disabled"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">排查人</td>
                        <td class="formValue">
                            <input id="CHECKMANNAME" type="text" class="form-control" disabled="disabled" />
                            <input id="CHECKMAN" type="hidden" />
                        </td>
                        <td class="formTitle">排查单位</td>
                        <td class="formValue">
                            <input id="CHECKDEPARTNAME" type="text" class="form-control" disabled="disabled" />
                            <input id="CHECKDEPARTID" type="hidden" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">检查类型</td>
                        <td class="formValue">
                            <div id="CHECKTYPE" type="select" class="ui-select" disabled="disabled" />
                        </td>
                        <td class="formTitle">排查日期</td>
                        <td class="formValue">
                            <input id="CHECKDATE" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" disabled="disabled" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">隐患级别</td>
                        <td class="formValue">
                            <div id="HIDRANK" type="select" class="ui-select" disabled="disabled"></div>
                        </td>
                        <td class="formTitle">隐患类别</td>
                        <td class="formValue">
                            <div id="HIDTYPE" type="select" class="ui-select" disabled="disabled"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">是否违章</td>
                        <td class="formValue">
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="ISBREAKRULE" id="ISBREAKRULE1" value="1" disabled="disabled" />是
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="ISBREAKRULE" id="ISBREAKRULE2" value="0" checked="checked" disabled="disabled" />否
                                </label>
                            </div>
                        </td>
                        <td class="formTitle">培训模板</td>
                        <td class="formValue">
                            <div id="TRAINTEMPLATENAME" type="select" class="ui-select" disabled="disabled" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">违章人员</td>
                        <td class="formValue" colspan="3">
                            <input id="BREAKRULEUSERNAMES" type="text" class="form-control" disabled="disabled" />
                            <input id="BREAKRULEUSERIDS" type="hidden" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">是否曝光</td>
                        <td class="formValue">
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="EXPOSURESTATE" id="EXPOSURESTATE1" value="1" disabled="disabled" />是
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="EXPOSURESTATE" id="EXPOSURESTATE2" value="0" checked="checked" disabled="disabled" />否
                                </label>
                            </div>
                        </td>
                        <td class="formTitle">隐患区域*</td>
                        <td class="formValue">
                            <input id="HIDPOINTNAME" type="text" class="form-control" disabled="disabled" />
                            <input id="HIDPOINT" type="hidden" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">隐患地点</td>
                        <td class="formValue" colspan="3">
                            <input id="HIDPLACE" type="text" class="form-control" disabled="disabled" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">隐患报告摘要</td>
                        <td class="formValue" colspan="3">
                            <textarea id="REPORTDIGEST" class="form-control" disabled="disabled"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">隐患产生原因</td>
                        <td class="formValue" colspan="3">
                            <textarea id="HIDREASON" class="form-control" disabled="disabled"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">隐患危害程度</td>
                        <td class="formValue" colspan="3">
                            <textarea id="HIDDANGERLEVEL" class="form-control" disabled="disabled"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">防控措施</td>
                        <td class="formValue" colspan="3">
                            <textarea id="PREVENTMEASURE" class="form-control" disabled="disabled"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">隐患整改计划</td>
                        <td class="formValue" colspan="3">
                            <textarea id="HIDCHAGEPLAN" class="form-control" disabled="disabled"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">应急预案简述</td>
                        <td class="formValue" colspan="3">
                            <textarea id="EXIGENCERESUME" class="form-control" disabled="disabled"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">是否挂牌督办</td>
                        <td class="formValue" colspan="3">
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="ISGETAFTER" id="ISGETAFTER1" value="1" disabled="disabled" />是
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="ISGETAFTER" id="ISGETAFTER2" value="0" checked="checked" disabled="disabled" />否
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">隐患图片</td>
                        <td class="formValue" colspan="3">
                            <input type="hidden" id="HIDPHOTO" />
                            <!--照片-->
                            <table id="picgridTable"></table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div style="margin-top: 5px;"></div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;隐患评估与预评估信息</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <div style="margin-left:10px;">
                <table id="approvalGridTable"></table>
            </div>
        </div>
    </div>
    <div style="margin-top: 5px;"></div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;隐患整改信息&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" onclick="GetHistoryChange()">历史整改记录</a></strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <div style="margin-right: 30px;">
                <table class="form">
                    <tr>
                        <td class="formTitle">整改责任人</td>
                        <td class="formValue">
                            <input id="CHANGEPERSONNAME" type="text" class="form-control" disabled="disabled" />
                            <input id="CHANGEPERSON" type="hidden" />
                            <input id="CHANGEID" type="hidden" />
                        </td>
                        <td class="formTitle">整改人电话</td>
                        <td class="formValue">
                            <input id="CHANGEDUTYTEL" type="text" class="form-control" disabled="disabled" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">整改责任单位</td>
                        <td class="formValue" colspan="3">
                            <input id="CHANGEDUTYDEPARTNAME" type="text" class="form-control" disabled="disabled" />
                            <input id="CHANGEDUTYDEPARTCODE" type="hidden" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">整改截至时间</td>
                        <td class="formValue" colspan="3">
                            <input id="CHANGEDEADINE" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" disabled="disabled" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">整改完成时间</td>
                        <td class="formValue" colspan="3">
                            <input id="CHANGEFINISHDATE" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" disabled="disabled" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">整改措施</td>
                        <td class="formValue" colspan="3">
                            <textarea id="CHANGEMEASURE" class="form-control" disabled="disabled"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">整改情况描述</td>
                        <td class="formValue" colspan="3">
                            <textarea id="CHANGERESUME" class="form-control" disabled="disabled"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">整改结果</td>
                        <td class="formValue" colspan="3">
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="CHANGERESULT" id="CHANGERESULT1" value="1" checked="checked" disabled="disabled" />已完成
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="CHANGERESULT" id="CHANGERESULT2" value="0" disabled="disabled" />未完成
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">计划治理资金(元)</td>
                        <td class="formValue">
                            <input id="PLANMANAGECAPITAL" type="text" class="form-control" disabled="disabled" disabled="disabled" />
                        </td>
                        <td class="formTitle">实际治理资金(元)</td>
                        <td class="formValue">
                            <input id="REALITYMANAGECAPITAL" type="text" class="form-control" disabled="disabled" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">整改附件</td>
                        <td class="formValue" colspan="3">
                            <input id="ATTACHMENT" type="hidden" /><!--整改附件-->
                            <table id="AttachmentGridTable"></table> <!--附件-->
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">整改图片</td>
                        <td class="formValue" colspan="3">
                            <input type="hidden" id="HIDCHANGEPHOTO" />
                            <!--照片-->
                            <table id="changePicGridTable"></table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div style="margin-top: 5px;"></div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;隐患验收信息</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <div style="margin-top: 20px; margin-left:10px;">
                <table id="acceptGridTable"></table>
            </div>
        </div>
    </div>
</div>
<div class="form-button" style=" top: 40px; text-align: left; padding-left: 20px; position: fixed; bottom: auto; z-index: 1000;">
    <div style="float:left;">
        <a id="btn_Submit" class="btn btn-primary"><i class="fa fa-check"></i>&nbsp;提&nbsp;&nbsp;交</a>
    </div>
    <div id="HidMessage" style="width:360px; margin-left:20px; float:left;"></div>
</div>
