@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = request("keyValue"); //主键 违章信息主键
    $(function () {
        GetAcceptGrid();
    });

    function GetAcceptGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#acceptGridTable');
        $gridTable.jqGrid({
            url: "../../LllegalManage/LllegalAccept/GetHistoryListJson?keyValue=" + keyValue,
            datatype: "json",
            height: $(window).height() - 300,
            autowidth: true,
            colModel: [
                 {
                     label: '操作', name: 'ID', index: 'ID', width: 120, align: 'center',
                     formatter: function (cellvalue, options, rowObject) {
                         var html = "<a href=javascript:Detail('" + rowObject.ID + "')  title='查看'><i class='fa fa-eye'></i></a>";
                         return html;
                     }
                 },
                { label: '验收单位', name: 'ACCEPTDEPTNAME', index: 'ACCEPTDEPTNAME', width: 150, align: 'center' },
                { label: '验收人', name: 'ACCEPTPEOPLE', index: 'ACCEPTPEOPLE', width: 120, align: 'center' },
                {
                    label: '验收情况', name: 'ACCEPTRESULT', index: 'ACCEPTRESULT', width: 120, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = rowObject.ACCEPTRESULT == "1" ? "通过" : "不通过";
                        return html;
                    }
                },
                {
                    label: '验收时间', name: 'ACCEPTTIME', index: 'ACCEPTTIME', width: 150, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = formatDate(cellvalue, 'yyyy-MM-dd');
                        return html;
                    }
                }
            ],
            pager: false,
            rowNum: "20",
            sortname: 'accepttime',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            ondblClickRow: function (id) {

            }
        });
    }

    function Detail(keyValue) {
        dialogOpen({
            id: 'DetailForm',
            title: '违章验收详情',
            url: '/LllegalManage/LllegalAccept/Detail?keyValue=' + keyValue,
            width: ($(top.window).width() - 300) + "px",
            height: ($(top.window).height() - 300) + "px",
            btn: null
        });
    }
</script>

<div class="center-Panel">
    <div style="margin-top: 10px;"></div>
    <div class="panel-Title">违章验收信息</div>
    <div class="gridPanel">
        <div style="margin-top: 20px; margin-left:10px;">
            <table id="acceptGridTable"></table>
        </div>
    </div>
</div>
<style type="text/css">
    body {
        overflow: hidden;
    }
</style>