@charset "UTF-8";

.header {
    height: 80px;
    padding: 28px 38px 10px 38px;
    display: flex;
    justify-content: space-between;
}

.header .title {
    height: 42px;
    line-height: 42px;
    font-size: 40px;
    color: #03cff8;
    flex: 1;
}

.header .title.cent {
    text-align: center;
    margin-left: 105px;
}

.header .title.rt {
    text-align: right;
    font-size: 22px;
}

.head_titel {
    font-size: 40px;
    color: #03cff8;
    margin-left: 390px;
    line-height: 32px;
}

.numBox {
    background: url("../images/num_smallBg.png") no-repeat;
    width: 31px;
    height: 46px;
    margin-left: 14px;
    text-align: center;
}

.header .title.rt div {
    float: right;
}

.numBox span {
    font-size: 22px;
    color: #03cff8;
    line-height: 46px;
}

.main_content {
    padding: 25px 45px 35px 45px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.content_box {
    height: 317px;
    text-align: center;
}

.content {
    margin-top: 55px;
    display: flex;
    justify-content: center;
}

.out_box1 {
    background: url("../images/outSource1.png") no-repeat;
    width: 530px;

}

.out_box2 {
    background: url("../images/outSource2.png") no-repeat;
    width: 410px;
}

.out_box3 {
    background: url("../images/ourSource3.png") no-repeat;
    width: 410px;

}

.out_box4 {
    background: url("../images/outSource4.png") no-repeat;
    width: 410px;
}

.numBg {
    background: url("../images/num_bigBg.png") no-repeat;
    width: 88px;
    height: 94px;
    margin-right: 18px;
    line-height: 94px;
}

.numBg1 {
    font-size: 30px;
    color: #03cff8;
    height: 94px;
    margin-top: 55px;
    margin-left: -10px;
}

.content_box span {
    font-size: 26px;
    color: #b1f2ff;
    line-height: 62px;
}

.content_box h1 {
    color: #ffb948;
    font-weight: bold;
    font-size: 48px;
    margin-top: 35px;
}

.content_box h2 {
    color: #ffb948;
    font-size: 22px;
    margin-top: 5px;
}

.content_box h3 {
    color: #ffb948;
    font-size: 32px;
    margin-top: 30px;
}

.content_box h3 img {
    margin-top: -3px;
}

.content_bot {
    height: 569px;
    padding: 0 45px;
    margin-top: 20px;
}

.content_bot.bot1 {
    width: 885px;
    background: url("../images/table_left.png") no-repeat;
}

.content_bot.bot2 {
    width: 921px;
    background: url("../images/table_right.png") no-repeat;
}

table {
    width: 100%;
}

table tr th {
    font-size: 22px;
    color: #00ffc6;
    height: 50px;
}

table tr {
    height: 50px;
}

table tr td {
    text-align: center;
    font-size: 22px;
    color: #03cff8;
}

table tr td div {
    text-align: center;
    margin: 0 auto;
    width: 64px;
    height: 32px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: url("../images/num_bg.png") no-repeat;
}
table tr:nth-child(even){
    background: #0a244c;
}


/**
index1.html
 */

.content_bot1 {
    height: 459px;
    padding: 8px 8px;
}

.content_bot1.bot3 {
    width: 1207px;
    background: url("../images/trendMap1.png") no-repeat;
}
.content_bot1.bot4 {
    width: 592px;
    background: url("../images/trendMap2.png") no-repeat;
}
.content_bot2 {
    height: 431px;
    margin-top: 20px;
    padding: 8px 8px;
}
.content_bot2.bot5 {
    width: 592px;
    background: url("../images/trendBg.png") no-repeat;
}
.temporaryColor{
    display: inline-block;
    width:40px;
    height: 18px;
    background: #169bd4;
    font-weight: normal;
    font-size: 12px;
    color: #d4ffff;
    margin-left: 5px;
}
.temporaryColor1{
    display: inline-block;
    width:40px;
    height: 18px;
    background: #ffb948;
    font-weight: normal;
    font-size: 12px;
    color: #d4ffff;
    margin-left: 5px;
}
.swiper-container{
    display: flex !important;
    flex-wrap: nowrap;
}
.swiper-container .swiper-slide{
    width: calc((100% - 46px)/2)!important;
}
.swiper-slide-active{
    margin-right: 18px!important;
}