@{
    ViewBag.Title = "流程预览";
    Layout = "~/Views/Shared/_FlowForm.cshtml";
}
<link href="~/Content/styles/framework-flow.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/icheck/skins/all.css?v=1.0.2" rel="stylesheet">
<script src="~/content/scripts/plugins/icheck/js/icheck.js?v=1.0.2"></script>
<script>
    var keyValue = request("keyValue");
    var urltype = request("urltype");
    $(function () {
        var schemeContent;
        if (!!keyValue) {
            $.post("../../OutsourcingProject/Aptitudeinvestigateinfo/GetAuditFlowData", { keyValue: keyValue, urltype: urltype }, function (data) {
                schemeContent = JSON.parse(data);
                var tdata = "";
                $('#FlowPanel').flowdesign({
                    height: $(window).height() - 10,
                    width: $(window).width() - 10,
                    flowcontent: schemeContent,
                    frmData: tdata,
                    haveTool: false,
                    isprocessing: true,
                    isshowsetinfo: false,  //是否显示对应的审核节点信息
                    isshowstatus: "1,2,5",
                    activityId: schemeContent.activeID,
                    nodeData: schemeContent.nodes,
                    preview: 2

                });
            });
        }
    });
</script>
<div class="panels">
    <div id="FlowPanel" style="margin: 0px;border: 1px solid #ccc;"></div>
</div>
<style>
    body {
        overflow: hidden;
    }
    .panels {
        padding: 10px;
    }
</style>
