@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<link href="~/Content/scripts/plugins/jqgrid/jqgrid.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/dialog/dialog.css" rel="stylesheet" />
<script src="~/Content/scripts/plugins/layout/jquery.layout.js"></script>
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>
<script src="~/Content/scripts/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="~/Content/scripts/plugins/jqgrid/jqgrid.min.js"></script>
<script>
    keyValue = request('keyValue');
    $(function () {
        InitialPage();
        initControl();
    })
    function initControl() {
        $("input").attr("disabled", "disabled");
        $("textarea").attr("disabled", "disabled");
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../OutsourcingProject/Aptitudeinvestigateinfo/GetHistoryFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data)
                    GetGrid(keyValue);
                    LoadAuditList(keyValue);
                }
            })
        }
    }
    //初始化页面
    function InitialPage() {
        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width())) - 100;
                $('#gridTable').setGridHeight($(window).height() - 108.5);
            }, 200);
            e.stopPropagation();
        });
        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridAudit').setGridWidth(($('.gridPanel').width())) - 100;
                $('#gridAudit').setGridHeight($(window).height() - 108.5);
            }, 200);
            e.stopPropagation();
        });
    }
    //获取人员列表
    function GetGrid(hispeoplereviewid) {
        var queryJson = {
            hispeoplereviewid: hispeoplereviewid
        };
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() - 170,
            url: "../../OutsourcingProject/Aptitudeinvestigatepeople/GetHistoryPageListJson",
            postData: { queryJson: JSON.stringify(queryJson) },
            datatype: "json",
            colModel: [
                { label: 'tid', name: 'tid', hidden: true },
                {
                    label: '操作', name: 'oper', width: 100, align: 'center', formatter: function (cellvalue, options, rowObject) {
                        var html = "<a href=javascript:f_showPeople('" + rowObject.tid + "','" + rowObject.outsourcingname + "','" + rowObject.engineername + "')  title='查看' tg='" + rowObject.tid + "'><i class='fa fa-eye'></i></a>";
                        return html;
                    }
                },
                {
                    label: '外包单位', name: 'outsourcingname', width: 200, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue != null) {
                            return "<div id='" + rowObject.outsourcingname + rowObject.tid + "'>" + cellvalue + "</div>";
                        }
                    }

                },
                {
                    label: '姓名', name: 'realname', width: 150, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue != null) {
                            return "<div id='" + rowObject.tid + "'>" + cellvalue + "</div>";
                        }
                    }

                },
                {
                    label: '身份证号', name: 'identifyid', width: 150, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue != null) {
                            return "<div id='" + rowObject.tid + "'>" + cellvalue + "</div>";
                        }
                    }

                },
                {
                    label: '性别', name: 'gender', width: 100, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        return "<div id='" + rowObject.tid + "'>" + cellvalue + "</div>";
                    }
                },
                {
                    label: '岗位名称', name: 'dutyname', width: 150, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue != null) {
                            return "<div id='" + rowObject.tid + "'>" + cellvalue + "</div>";
                        }
                    }
                },
               {
                   label: '健康状况', name: 'stateofhealth', width: 150, align: 'center',
                   formatter: function (cellvalue, options, rowObject) {

                       if (cellvalue != null && cellvalue != "undefined") {
                           return "<div id='" + rowObject.tid + "'>" + cellvalue + "</div>";
                       } else {
                           return "<div id='" + rowObject.tid + "'></div>";
                       }
                   }
               },
                  {
                      label: '本工种工龄', name: 'workyear', width: 120, align: 'center',
                      formatter: function (cellvalue, options, rowObject) {
                          if (cellvalue != null && cellvalue != "undefined") {
                              return "<div id='" + rowObject.tid + "'>" + cellvalue + "</div>";
                          } else {
                              return "<div id='" + rowObject.tid + "'></div>";
                          }
                      }
                  },
                   {
                       label: '学历', name: 'degreesid', width: 120, align: 'center',
                       formatter: function (cellvalue, options, rowObject) {
                           if (cellvalue != null && cellvalue != "undefined") {
                               return "<div id='" + rowObject.tid + "'>" + cellvalue + "</div>";
                           } else {
                               return "<div id='" + rowObject.tid + "'></div>";
                           }
                       }
                   }
                //{ label: '证书名称', name: 'credentialsname', width: 150, align: 'center' },
                //{ label: '证书编号', name: 'credentialscode', width: 150, align: 'center' },
                //{ label: '有效时间', name: 'validttime', width: 120, align: 'center' }
            ],
            viewrecords: true,
            rowNum: 30,
            multiboxonly: false,
            multiselect: false,
            pager: "#gridPager",
            sortname: 'createdate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);
                var arr = new Array("oper", "outsourcingname", "realname", "identifyid", "gender", "dutyname", "id", "stateofhealth", "workyear", "degrees");
                Merger("gridTable", arr);
            }
        });
    }
    //合并单元格//问题所在：
    function Merger(gridName, arr) {
        //得到显示到界面的id集合
        var mya = $("#" + gridName + "").getDataIDs();
        //数据总行数
        var length = mya.length;
        //定义合并行数
        var rowSpanTaxCount = 1;
        $(arr).each(function (i, item) {
            var CellName = item;
            for (var i = 0; i < length; i += rowSpanTaxCount) {
                //从当前行开始比对下面的信息
                var before = $("#" + gridName + "").jqGrid('getRowData', mya[i]);
                rowSpanTaxCount = 1;
                for (j = i + 1; j <= length; j++) {
                    //和上边的信息对比 如果值一样就合并行数+1 然后设置rowspan 让当前单元格隐藏
                    //alert(mya[j]);
                    var end = $("#" + gridName + "").jqGrid('getRowData', mya[j]);
                    if (before[CellName] == end[CellName]) {
                        rowSpanTaxCount++;
                        $("#" + gridName + "").setCell(mya[j], CellName, '', { display: 'none' });
                    } else {
                        break;
                    }
                }
                $("#" + gridName + "").setCell(mya[i], CellName, '', '', { rowspan: rowSpanTaxCount });
            }
        });
    }
    function f_showPeople(id, outprojectname, engineername) {
        var dlg = dialogOpen({
            id: 'PForm',
            title: '查看人员信息',
            url: '/OutsourcingProject/Aptitudeinvestigatepeople/Form?outprojectname=' + encodeURIComponent(outprojectname) + '&keyValue=' + id + "&mode=view" + "&OutEngineerName=" + encodeURIComponent(engineername) + "&type=history",
            width: ($(top.window).width() - 200) + "px",
            height: ($(top.window).height() -200) + "px",
            btn: ["关闭"],
            callBack: function (iframeId) {
                top.layer.close(dlg);
            }
        });
    }
    function LoadAuditList(hispeoplereviewid) {
        var queryJson = {
            aptitudeid: hispeoplereviewid
        };
        var selectedRowIndex = 0;
        var $gridTable = $('#gridAudit');
        $gridTable.jqGrid({
            autowidth: true,
            height: "200px",
            url: "../../OutsourcingProject/Aptitudeinvestigateaudit/GetPageListJson",
            postData: { queryJson: JSON.stringify(queryJson) },
            datatype: "json",
            colModel: [
                { label: 'id', name: 'id', hidden: true },
                {
                    label: '审核部门', name: 'auditdept', width: 300, align: 'center'
                },
                {
                    label: '审核人', name: 'auditpeople', width: 180, align: 'center'
                },
                
                {
                    label: '审核结果', name: 'auditresult', width: 120, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == "0") {
                            cellvalue = "合格";
                        } else if (cellvalue == "1") {
                            cellvalue = "不合格";
                        }

                        else {
                            cellvalue = "待审核";
                        }
                        return cellvalue;
                    }
                },
            {
                label: '审核意见', name: 'auditopinion', width: 220, align: 'center',
            }, {
                label: '审核时间', name: 'audittime', width: 220, align: 'center', formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
            }
            ],
            viewrecords: true,
            rowNum: 30,
            multiboxonly: false,
            multiselect: false,
            pager: "#AuditPager",
            sortname: 'createdate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);
            }
        });
    }
</script>
<div style="margin-top: 20px; margin-left:20px; margin-right: 30px;">

    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;人员资质信息</strong>
            <span class="tools pull-right">
                @*<a id="HistoryShow" href="javascript:HistoryShow(this)" class="btn btn-primary btn-xs">历史记录</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a id="imp_People" href="javascript:importPeople(this)" class="btn btn-primary btn-xs">导 入</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a id="AddPeople" href="javascript:addPeople(this)" class="btn btn-primary btn-xs">新 增</a>&nbsp;&nbsp;&nbsp;&nbsp;*@
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <div class="gridPanel">
                <table id="gridTable"></table>
                <div id="gridPager"></div>
            </div>
        </div>
    </div>
    <div id="AuditEngineer" class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;审核信息</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <div id="AuditDiv" class="gridPanel">
                <table id="gridAudit"></table>
                <div id="AuditPager"></div>
            </div>
        </div>
    </div>
</div>
