@{;
ViewBag.Title = "列表页面";
Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script src="~/Content/adminDefault/index.js" type="text/javascript"></script>
<script>
    var currentdate = "@DateTime.Now.ToString("yyyy-MM-dd")";
    var reseverone = request("reseverone");  //关联字段
    var resevertwo = request("resevertwo");//关联字段
    var reseverthree = request("reseverthree");//关联字段
    //违章默认登记列表页
    $(function () {
        InitialPage();
        GetGrid();
    });
    //初始化页面
    function InitialPage() {

        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 108.5);
            }, 200);
            e.stopPropagation();
        });

        $.SetForm({
            url: "../../LllegalManage/LllegalRegister/GetQueryConditionJson",
            success: function (data) {
                //违章类型
                $("#LllegalType").ComboBox({
                    id: "ItemDetailId",
                    text: "ItemName",
                    description: "===全部===",
                    allowSearch: false,
                    data: data.LllegalType
                });

                //违章级别
                $("#LllegalLevel").ComboBox({
                    id: "ItemDetailId",
                    text: "ItemName",
                    description: "===全部===",
                    allowSearch: false,
                    data: data.LllegalLevel
                });

                //流程状态
                $("#FlowState").ComboBox({
                    id: "ItemDetailId",
                    text: "ItemName",
                    description: "===全部===",
                    allowSearch: false,
                    data: data.FlowState
                });
            }
        });
    }

    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        //违章基本信息
        var queryJson = {
            lllegaltype: $("#LllegalType").attr("data-value"), //违章类型
            lllegallevel: $("#LllegalLevel").attr("data-value"), //违章级别
            flowstate: $("#FlowState").attr("data-text") == "===全部===" ? "" : $("#FlowState").attr("data-text"), //流程状态
            lllegaldescribe: $("#LllegalDescribe").val(), //违章描述
            reseverone: reseverone, //关联其他应用字段
            resevertwo: resevertwo, //关联其他应用字段
            reseverthree: reseverthree //关联其他应用字段
        };

        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() - 160,
            url: "../../LllegalManage/LllegalRegister/GetListJson",
            postData: { queryJson: JSON.stringify(queryJson) },
            datatype: "json",
            colModel: [
               { label: '主键', name: 'id', index: 'id', width: 100, align: 'center', hidden: true },
               {
                   label: '操作', name: 'oper', index: 'id', width: 120, align: 'center',
                   formatter: function (cellvalue, options, rowObject) {
                       var html = "<a href=javascript:viewdata('" + rowObject.id + "','" + rowObject.addtype + "','" + rowObject.flowstate + "')  title='查看'><i class='fa fa-eye'></i></a>";
                       return html;
                   }
               },
                { label: '登记类型', name: 'addtype', index: 'addtype', width: 100, align: 'center', hidden: true },
                {
                    label: '流程状态', name: 'flowstate', index: 'flowstate', width: 100, align: 'center', sortable: true,
                    formatter: function (cellvalue, options, rowObject) {
                        var html = "";

                        if (!!rowObject.flowstate) {
                            if (rowObject.flowstate == "整改结束") {
                                html = "<div style='background-color:green;'><a href=javascript:OpenViewFlow('" + rowObject.id + "')  style='text-decoration:underline;'  title='违章流程'>" + rowObject.flowstate + "</a></div>";
                            }
                            else if (rowObject.flowstate == "违章整改") {
                                var reformdeadline = rowObject.reformdeadline; //整改截至时间

                                if (!!reformdeadline) {

                                    var d1 = new Date(currentdate.replace(/\-/g, "\/"));  //当前时间

                                    var d2 = new Date(reformdeadline.replace(/\-/g, "\/"));  //整改截至日期

                                    var d3 = new Date(SubtractDays(reformdeadline, 3).replace(/\-/g, "\/")); //提前三天

                                    var d4 = new Date(SubtractDays(reformdeadline, 5).replace(/\-/g, "\/")); //提前五天

                                    html = "<a href=javascript:OpenViewFlow('" + rowObject.id + "')  style='text-decoration:underline;'  title='违章流程'>" + rowObject.flowstate + "</a>";
                                    //逾期未整改
                                    if (d1 > d2) {
                                        html = "<div style='background-color:red;'><a href=javascript:OpenViewFlow('" + rowObject.id + "')  style='text-decoration:underline;'  title='违章流程'>" + rowObject.flowstate + "</a></div>";
                                    }
                                }
                                else {
                                    html = "<a href=javascript:OpenViewFlow('" + rowObject.id + "')  style='text-decoration:underline;'  title='违章流程'>" + rowObject.flowstate + "</a>";
                                }
                            }
                            else {
                                html = "<a href=javascript:OpenViewFlow('" + rowObject.id + "')  style='text-decoration:underline;'  title='违章流程'>" + rowObject.flowstate + "</a>";
                            }
                        }
                        return html;
                    }
                },
                { label: '违章编号', name: 'lllegalnumber', index: 'lllegalnumber', width: 150, align: 'center', sortable: true },
                { label: '违章类型', name: 'lllegaltypename', index: 'lllegaltypename', width: 150, align: 'center', sortable: true },
                { label: '违章级别', name: 'lllegallevelname', index: 'lllegallevelname', width: 150, align: 'center', sortable: true },
                { label: '整改责任人', name: 'reformpeople', index: 'reformpeople', width: 150, align: 'center', sortable: true },
                { label: '验收人', name: 'acceptpeople', index: 'acceptpeople', width: 150, align: 'center', sortable: false },
                {
                    label: '违章描述', name: 'lllegaldescribe', index: 'lllegaldescribe', width: 150, align: 'center', sortable: true,
                    formatter: function (cellvalue, options, rowObject) {
                        var lllegaldescribe = rowObject.lllegaldescribe;

                        if (lllegaldescribe.length > 20) {
                            lllegaldescribe = lllegaldescribe.substring(0, 20) + "......";
                        }
                        return "<div title=" + rowObject.lllegaldescribe + ">" + lllegaldescribe + "</div>";
                    }
                }
            ],
            viewrecords: true,
            rowNum: 15,
            rowList: [15, 30, 50, 100],
            pager: "#gridPager",
            sortname: 'createdate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $("#" + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $("#" + this.id).setSelection(selectedRowIndex, false);
            }
        });


        //查询事件
        $("#btn_Search").click(function () {

            var queryJson = {
                lllegaltype: $("#LllegalType").attr("data-value"), //违章类型
                lllegallevel: $("#LllegalLevel").attr("data-value"), //违章级别
                flowstate: $("#FlowState").attr("data-text") == "===全部===" ? "" : $("#FlowState").attr("data-text"), //流程状态
                lllegaldescribe: $("#LllegalDescribe").val(), //违章描述
                reseverone: reseverone, //关联其他应用字段
                resevertwo: resevertwo, //关联其他应用字段
                reseverthree: reseverthree //关联其他应用字段
            };

            $gridTable.jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify(queryJson) }, page: 1
            }).trigger('reloadGrid');

            $(".ui-filter-list").css("display", "none");
            $(".ui-filter-text ").removeClass("active");
            $(".ui-filter-text ").removeAttr("style");
        });

    }

    //减少天数
    function SubtractDays(date, value) {
        var d = new Date(date);
        d.setDate(d.getDate() - value);
        var m = d.getMonth() + 1;
        return d.getFullYear() + "-" + m + "-" + d.getDate();
    }

    function OpenViewFlow(keyValue) {
        var title = "违章流程图";
        var rqUrl = "/SystemManage/WorkFlow/Detail?keyValue=" + keyValue;
        dialogOpen({
            id: 'LllegalFlowForm',
            title: title,
            url: rqUrl,
            width: ($(top.window).width() / 2 + 200) + "px",
            height: ($(top.window).height() / 2 + 300) + "px",
            btn: null
        });
    }

    //查看视图
    function viewdata(obj, atype, flowstate) {
        var rqUrl = "";
        var title = "";

        //未整改隐患的查看页面
        if (flowstate == "违章登记") {
            title = "查看违章";
            rqUrl = '/LllegalManage/LllegalRegister/Form?keyValue=' + obj + '&actiontype=view';
        }
        else if (flowstate == "违章核准") {
            title = "查看违章";
            rqUrl = '/LllegalManage/LllegalApprove/Form?keyValue=' + obj + '&actiontype=view';
        }
        else if (flowstate == "违章整改") {
            title = "查看违章";
            rqUrl = '/LllegalManage/LllegalReform/Form?keyValue=' + obj + '&actiontype=view';
        }
        else if (flowstate == "违章验收") {
            title = "查看违章";
            rqUrl = '/LllegalManage/LllegalAccept/Form?keyValue=' + obj + '&actiontype=view';
        }
        else {
            if (atype == "0") {
                title = "查看违章";
                rqUrl = '/LllegalManage/LllegalAccept/Form?keyValue=' + obj + '&actiontype=view';
            }
            else  //已整改的查看页面
            {
                title = "已整改违章查看";
                rqUrl = '/LllegalManage/LllegalRegister/NewForm?keyValue=' + obj + '&actiontype=view';
            }
        }

        dialogOpen({
            id: 'LllegalForm',
            title: title,
            url: rqUrl,
            width: ($(top.window).width() - 100) + "px",
            height: ($(top.window).height() - 100) + "px",
            btn: null
        });
    }

    //重置所有查询条件
    function ResetCondition() {

        //违章类型
        $("#LllegalType").attr("data-text", "===全部===");
        $("#LllegalType").attr("data-value", "");
        $("#LllegalType div:eq(0)").text("===全部===");

        //流程级别
        $("#LllegalLevel").attr("data-text", "===全部===");
        $("#LllegalLevel").attr("data-value", "");
        $("#LllegalLevel div:eq(0)").text("===全部===");

        //流程状态
        $("#FlowState").attr("data-text", "===全部===");
        $("#FlowState").attr("data-value", "");
        $("#FlowState div:eq(0)").text("===全部===");

        //违章描述
        $("#LllegalDescribe").val("");
    }


    //导出excel
    function exportinfo() {
        //违章基本信息
        var queryJson = {
            lllegaltype: $("#LllegalType").attr("data-value"), //违章类型
            lllegallevel: $("#LllegalLevel").attr("data-value"), //违章级别
            flowstate: $("#FlowState").attr("data-text") == "===全部===" ? "" : $("#FlowState").attr("data-text"), //流程状态
            lllegaldescribe: $("#LllegalDescribe").val() //违章描述
        };
        window.location.href = "../../LllegalManage/LllegalRegister/ExportExcel?queryJson=" + queryJson + "&fileName=违章基本信息";
    }

</script>

<div class="center-Panel" style="margin-left: 10px; margin-right: 10px;">
    <div class="panel-Title"></div>
    <div class="titlePanel">
        <div class="title-search">
            <table>
                <tr>
                    <td>查询条件:</td>
                    <td style="padding-left: 10px;">
                        <div class="ui-filter" style="width: 350px;">
                            <div class="ui-filter-text">
                                请选择过滤条件
                            </div>
                            <div class="ui-filter-list" style="width: 350px; ">
                                <table class="form" id="filter-form">

                                    <tr>
                                        <td class="formTitle">违章类型：</td>
                                        <td class="formValue">
                                            <div id="LllegalType" type="select" class="ui-select" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="formTitle">违章级别：</td>
                                        <td class="formValue">
                                            <div id="LllegalLevel" type="select" class="ui-select" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="formTitle">流程状态：</td>
                                        <td class="formValue">
                                            <div id="FlowState" type="select" class="ui-select" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="formTitle">违章描述：</td>
                                        <td class="formValue">
                                            <input id="LllegalDescribe" type="text" class="form-control" />
                                        </td>
                                    </tr>
                                </table>
                                <div class="ui-filter-list-bottom">
                                    <a id="btn_Reset" class="btn btn-default" onclick="ResetCondition()">&nbsp;重&nbsp;&nbsp;置</a>
                                    <a id="btn_Search" class="btn btn-primary">&nbsp;查&nbsp;&nbsp;询</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td style="padding-left:10px">
                        <div id="queryCondition" class="btn-group">
                            <a class="btn btn-default dropdown-text" data-toggle="dropdown" aria-expanded="false">颜色说明</a>
                            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li style="width:200px;"><a style="float:left" data-value="逾期未整改">逾期未整改</a><div style="float: left; margin-left:24px; background-color: red; height: 22px; width: 80px;"></div></li>
                                <li style="width:200px;"><a style="float:left" data-value="即将到期未整改">即将到期未整改</a><div style="float: left; background-color: orange; height: 22px; width: 80px;"></div></li>
                                <li style="width:200px;"><a style="float:left" data-value="整改结束">整改结束</a><div style="float: left; background-color: green; margin-left: 36px; height: 22px; width: 80px;"></div></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="toolbar">
            <div class="btn-group">
                <a class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
            </div>
        </div>
    </div>
    <div class="gridPanel">
        <table id="gridTable"></table>
        <div id="gridPager"></div>
    </div>
</div>