@{
    ViewBag.Title = "积分档案";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
<script src="~/Content/scripts/business/Common.js"></script>
<script src="~/Content/scripts/business/Grid.js"></script>
<script src="~/Content/adminDefault/index.js" type="text/javascript"></script>
<script>
    $(function () {
        InitialPage();
        GetGrid();
    });
    //初始化页面
    function InitialPage() {
        //resize重设(表格、树形)宽高
        //$(window).resize(function (e) {
        //    window.setTimeout(function () {
        //        $('#gridTable').setGridWidth(($('.gridPanel').width()));
        //        $("#gridTable").setGridHeight($(window).height() - 108.5);
        //    }, 200);
        //    e.stopPropagation();
        //});
    }
    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        var Year = $("#Year").val();
        $gridTable.jqGrid({
            url: "../../LllegalManage/LllegalRegister/GetDataDeptWZ",
            postData: { Year: $("#Year").val() },
            datatype: "json",
            height: $(window).height() - 120,
            autowidth: true,
            colModel: [
                { label: '主键', name: 'DepartmentId', hidden: true },
                { label: '公司Id', name: 'OrganizeId', hidden: true },
                { label: 'Sort', name: 'Sort', hidden: true },
                { label: 'HasChild', name: 'HasChild', hidden: true },
                { label: "单位", name: "FullName", align: "center", sortable: false },
                { label: "部门编号", name: "EnCode", align: "center", sortable: false, hidden: true },
                {
                    label: "违章次数", name: "DepartWZNum", align: "center", sortable: false, formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue > 0) return "<span style='color:red'>" + cellvalue + "</span>";
                        else return cellvalue;
                    }
                },
                {
                    label: "违章扣分", name: "DepartWZScore", align: "center", sortable: false, formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue > 0) return "<span style='color:red'>" + cellvalue + "</span>";
                        else return cellvalue;
                    }
                },
                {
                    label: "违章积分", name: "DepartWZJF", align: "center", sortable: false, formatter: function (cellvalue, options, rowObject) {
                        var jf = 12 - parseFloat(rowObject.DepartWZScore);
                        if (jf > 0) return "<span style='color:blue'>" + jf + "</span>";
                        else return jf;
                    }
                },
                {
                    label: "人员积分", name: "DepartWZScore", align: "center", sortable: false, formatter: function (cellvalue, options, rowObject) {
                        Year = $("#Year").val();
                        return "<a href=javascript:DialogOpenShow('/LllegalManage/LllegalRegister/IntergralPerson?action=show&Year=" + Year + "&DeptId=" + rowObject.DepartmentId + "','查看人员积分','',''," + true + ") style='color:blue; text-decoration:underline'  title='查看'>详情</a>";
                    }
                }
            ],
            treeGrid: true,
            treeGridModel: "nested",
            ExpandColumn: "EnCode",
            rowNum: "all",
            rownumbers: true,
            onSelectRow: function (rowid) {
                selectedRowIndex = $("#" + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $("#" + this.id).setSelection(selectedRowIndex, false);
            }
        });
        //查询事件
        $("#btn_Search").click(function () {
            $gridTable.jqGrid('setGridParam', {
                postData: {
                    Year: $("#Year").val()
                }
            }).trigger('reloadGrid');
        });
        //查询回车事件
        $('#txt_Keyword').bind('keypress', function (event) {
            if (event.keyCode == "13") {
                $('#btn_Search').trigger("click");
            }
        });
    }
    //导出
    function exported() {
        var Year = $("#Year").val();
        location.href = "../../LllegalManage/LllegalRegister/Export?Year=" + Year;
    }




</script>

<div class="titlePanel">
    <div class="title-search">
        <table>
            <tr>
                <td>违章年度:</td>
                <td>
                    <input id="Year" type="text" style="width: 100px" value="@DateTime.Now.ToString("yyyy")" class="form-control input-datepicker" onfocus="WdatePicker({ dateFmt: 'yyyy' })" />

                </td>
                <td style="padding-left: 5px;">
                    <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>查询</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="toolbar">
        <div class="btn-group">
            @*<a class="btn btn-default" onclick="show()"><i class="fa fa-search"></i>查看</a>*@
            <a class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>刷新</a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>

    </div>
</div>
<div class="gridPanel">
    <table id="gridTable"></table>
</div>
