@{
    ViewBag.Title = "违章人员扣分信息";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
<script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script src="~/Content/scripts/business/Common.js"></script>
<script src="~/Content/scripts/business/Grid.js"></script>
<script>
    var DeptId = request("DeptId");
    var Year = request("Year");
    //加载页面
    $(function () {
        //页面初始化
        InitialPage();
        //加载列表
        var arrCol = new Array();
        arrCol.push(
        { label: '单位', name: 'deptname', index: 'deptname', align: 'center', sortable: true },
        { label: '姓名', name: 'realname', index: 'realname', align: 'center', sortable: true },
        { label: '违章次数', name: 'wznum', index: 'wznum', align: 'center', sortable: true },
        { label: '违章扣分', name: 'lllegalpoint', index: 'lllegalpoint', align: 'center', sortable: true },
        {
            label: '违章积分', name: 'lllegaljf', index: 'lllegaljf', align: 'center', sortable: true, formatter: function (cellvalue, options, rowObject) {
                return (12 - parseFloat(rowObject.lllegalpoint))
            }
        });
        GetGrid("../../LllegalManage/LllegalRegister/GetPersonWzInfo?DeptId=" + DeptId + "&Year=" + Year, arrCol, "desc", "realname", false, false, $(window).height() - 170, 40)
    });
    //初始化页面
    function InitialPage() {
        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 108.5);
            }, 200);
            e.stopPropagation();
        });
    }

    //加载搜索条件
    function GetQueryJson() {
        var queryJson = {
            TimeStart: $("#TimeStart").val(),
            TimeEnd: $("#TimeEnd").val(),
            DangerSourceName: $("#txtDangerSourceName").val(),
            IsDanger: IsDanger,
            code: _parentId,
            isOrg: _isOrg
        }
        return queryJson;
    }



</script>

<div class="titlePanel">
    @*<div class="title-search">
            <table>
                <tr>
                    <td>查询条件</td>
                    <td style="padding-left: 10px;">
                        <div class="ui-filter" style="width: 200px;">
                            <div class="ui-filter-text">
                                <input id="see" type="hidden" />
                                请选择过滤条件
                            </div>
                            <div class="ui-filter-list" style="width: 350px;">
                                <table class="form" id="filter-form" style="margin-left:-20%">
                                    <tr>
                                        <td style="float: right; ">时间范围：</td>
                                        <td class="formValue">
                                            <div style="float: left; ">
                                                <input id="TimeStart" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
                                            </div>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="float:right; "></td>
                                        <td class="formValue">
                                            <div style="float: left;">
                                                <input id="TimeEnd" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="float: right; ">清单名称：</td>
                                        <td class="formValue">
                                            <input id="txtDangerSourceName" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 180px;" />
                                        </td>
                                    </tr>
                                </table>
                                <div class="ui-filter-list-bottom">
                                    <a id="btn_Search" class="btn btn-primary">&nbsp;查&nbsp;&nbsp;询</a>

                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>*@



    <div class="toolbar">

        <div class="btn-group">
            <a class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>刷新</a>
        </div>

    </div>
</div>
<div class="gridPanel">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>
