@{
    ViewBag.Title = "车辆进出厂统计";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
<script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/common.js"></script>
<style type="text/css">
    .dropdown-menu > li > a:active {
        color: rgb(38, 38, 38);
        background-color: transparent;
        text-decoration: none;
    }

    .bor {
        border: 1px solid #000000;
    }
</style>
<script>
    var state = 1;
    var AreaId = "";
    var AreaName = "";
    var SelectDeptArry = [];//选中的部门集合
    var SelectAccessArry = [];//选中的门禁点集合
    $(function () {
        GetAreaTree();
        GetGrid();
    });

    //加载组织机构树
    function GetAreaTree() {
        var item = {
            height: 500,
            url: "../../BaseManage/District/GetTreeJson",
            onnodeclick: function (item) {
                AreaId = item.id;
                AreaName = item.text;
                var queryJson = {
                    AreaId: item.id
                }
                var $gridTable = $('#gridTable');
                $gridTable.jqGrid('setGridParam', {
                    postData: { queryJson: JSON.stringify(queryJson) }, page: 1
                }).trigger('reloadGrid');
            }
        };
        //初始化
        $("#AreaTree").treeview(item);
        if ($("#AreaTree").html().length == 0) {
            $(".ui-layout-west").hide();
            $('.ui-layout-center').css({ "padding-left": "5px" });
        } else {
            //$('#layout').layout({
            //    applyDemoStyles: false,
            //    onresize: function () {
            //        $(window).resize();
            //    }
            //});
        }
    }

    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            autowidth: true,
            height: 475,
            url: "../../CarManage/Hikaccess/GetListJson",
            datatype: "json",
            colModel: [
                { label: '主键', name: 'id', hidden: true },
                {
                    label: '设备名称',
                    name: 'devicename',
                    index: 'devicename',
                    width: 200,
                    align: 'center'
                },
                {
                    label: '设备进出类型',
                    name: 'outtype',
                    index: 'outtype',
                    width: 200,
                    align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        switch (cellvalue) {
                            case 0:
                                return "进门设备";
                                break;
                            case 1:
                                return "出门设备";
                                break;
                        }
                    }
                },

                {
                    label: '设备归属区域',
                    name: 'areaname',
                    index: 'areaname',
                    width: 200,
                    align: 'center'
                }
            ],
            viewrecords: true,
            rowNum: 30,
            //multiboxonly: true,
            multiselect: true,
            pager: "#gridPager",
            sortname: 'CreateDate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: true,
            gridview: true,
            userdata: "userdata",
            onSelectRow: function (rowid, status) {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
                var rowObject = $gridTable.jqGrid('getRowData', rowid);
                var flag = false;
                var num = 0;
                for (var i = 0; i < SelectAccessArry.length; i++) {
                    if (SelectAccessArry[i].id == rowObject.id) {
                        flag = true;
                        num = i;
                    }
                }
                if (flag) {
                    SelectAccessArry.splice(num, 1);
                } else {
                    var dept = { text: rowObject.devicename, id: rowObject.id };
                    SelectAccessArry.push(dept);
                }
                html = "";
                for (var c = 0; c < SelectAccessArry.length; c++) {
                    if (c == 0) {
                        html = SelectAccessArry[c].text;
                    } else {
                        html += "<br/>" + SelectAccessArry[c].text;
                    }
                }
                $("#selectAccess").html(html);
            },
            onSelectAll: function (aRowids, status) {
                $(aRowids).each(function (i, item) {
                    var rowObject = $gridTable.jqGrid('getRowData', item);
                    var flag = false;
                    var num = 0;
                    for (var i = 0; i < SelectAccessArry.length; i++) {
                        if (SelectAccessArry[i].id == rowObject.id) {
                            flag = true;
                            num = i;
                        }
                    }
                    if (flag) {
                        if (!status) {
                            SelectAccessArry.splice(num, 1);
                        }
                    } else {
                        var dept = { text: rowObject.devicename, id: rowObject.id };
                        SelectAccessArry.push(dept);
                    }
                    html = "";
                    for (var c = 0; c < SelectAccessArry.length; c++) {
                        if (c == 0) {
                            html = SelectAccessArry[c].text;
                        } else {
                            html += "<br/>" + SelectAccessArry[c].text;
                        }
                    }
                    $("#selectAccess").html(html);
                });
                $("#lblselect").html("已选中用户(" + $("#users").find("input:checked").length + "人)");
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);
            }
        });

    }

    //保存表单;
    function AcceptClick() {
        if ($("#StartTime").val() == "" || $("#EndTime").val() == "") {
            dialogMsg("请选择权限有效期！", 0);
            return;
        }
        var name = $("#CHECKMANNAME").val();
        var id = $("#CHECKMAN").val();
        if (name == "") {
            dialogMsg("请选择需配置用户！", 0);
            return;
        } else {
            var names = name.split(',');
            var ids = id.split(',');
            for (var i = 0; i < names.length; i++) {
                var dept = { text: names[i], id: ids[i] };
                SelectDeptArry.push(dept);
            }
        }
        if (SelectAccessArry.length == 0) {
            dialogMsg("请选择门禁点！", 0);
            return;
        }
        $.SaveForm({
            url: "../../CarManage/Hikaccessaurhority/SaveForm",
            param: { StartTime: $("#StartTime").val(), EndTime: $("#EndTime").val(), DeptList: SelectDeptArry, AccessList: SelectAccessArry, Type: 1 },
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
                $.currentIframe().GetPersonTree();
            }
        })
    }
</script>
<div class="border" id="desktop" style=" background: #fff; overflow-y: auto;overflow-x:hidden; ">
    <div style="margin-top:10px;">
        <div class="row">
            <table style="width: 100%;">
                <tr>
                    <td>
                        <div style="margin-left: 10px;" class="toolbar">
                            <div class="btn-group">
                                <table>
                                    <tr>
                                        <td>权限有效期:</td>
                                        <td><input id="StartTime" style="width: 200px" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss' })"></td>
                                        <td>-</td>
                                        <td><input id="EndTime" style="width: 200px" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss' })"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

        </div>

    </div>

    <div id="con1" style="margin-top: 10px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;选择需配置用户</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <table>
                    <tr>
                        <td>已选择人员:</td>
                        <td>
                            @**用户名称,用户账号，用户Id,部门Id,部门Code,部门名称,手机号**@
                        <textarea id="CHECKMANNAME" style="width: 1250px; height: 200px;" type="text" class="form-control" errormsg="授权人员" placeholder="请选择需要授权人员" isvalid="yes" checkexpession="NotNull" readonly onclick="selectUser({ deptId: '', checkMode: 1, mode: 0, winObject: window.document.body, domId: 'CHECKMANNAME,,CHECKMAN,CHECKDEPARTID,,CHECKDEPARTNAME' });" >@*CHECKDEPARTNAME*@
                        </textarea>
                        <input id="CHECKMAN" type="hidden" />
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;门禁点选择</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 bor">
                    <div class="panel-Title">
                        选择设备所在区域
                    </div>
                    <div id="AreaTree"></div>
                </div>
                <div class="col-md-6">
                    <table id="gridTable"></table>
                    <div id="gridPager"></div>
                </div>
                <div class="col-md-3 bor">
                    <div class="panel-Title">
                        已选择的门禁点
                    </div>
                    <div id="selectAccess" style="height: 500px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>


</div>

