@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}


<script>
    var keyValue = request('keyValue');
    var action = request('action');
    var state = 0;
    $(function () {
        initControl();
        if (action == "show") {
            disabledControl();
            $("#sumitId").hide();
        }
        if (action == "edit") {
            $("#endtimetr").hide();
        }
        if (action == "endtime") {
            $("#Planendtime").attr("disabled", "disabled");
            $("#ActualEndTime").val(formatDate(new Date(), "yyyy-MM-dd hh:mm:ss"));
            state = 2;//结束作业
        }
    });

    //初始化控件
    function initControl() {
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../KbsDeviceManage/Safeworkcontrol/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                    if (data.State == 2) {
                        $("#sumitId").hide();
                        disabledControl();
                    }
                    //switch (data.Areastate) {
                    //    case 0:
                    //        $("#Areastate").val("正方形");
                    //        break;
                    //    case 1:
                    //        $("#Areastate").val("圆形");
                    //        break;
                    //    case 2:
                    //        $("#Areastate").val("手绘");
                    //        break;
                    //    default:
                    //}
                }
            })
        }
    }
    //保存表单;
    function SaveStampRecord() {
        if (!$('#form1').Validform()) {
            return false;
        }
        if (action == "endtime" && $("#ActualEndTime").val() == "") {
            dialogMsg('实际结束时间不能为空！', 0);
            return false;
        }
       
        var postData = $("#form1").formSerialize(keyValue);
        postData["State"] = state;
        $.SaveForm({
            url: "../../KbsDeviceManage/Safeworkcontrol/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }

    //查看隔离区域
    function ShowArea() {
        var dlg = dialogOpen({
            id: 'ShowArea',
            title: '查看隔离区域',
            url: '/KbsDeviceManage/Safeworkcontrol/ShowArea?keyValue=' + keyValue,
            width: '1000px',
            height: '800px',
            btn: ["关闭"],
            callBack: function (iframeId) {
                top.layer.close(dlg);
            }
        });
    }
    //抓拍记录
    function ShowImgRecord() {
        var dlg = dialogOpen({
            id: 'ShowImgRecord',
            title: '抓拍记录',
            url: '/KbsDeviceManage/Safeworkcontrol/ShowRecordImg?keyValue=' + keyValue,
            width: '800px',
            height: '1000px',
            btn: ["关闭"],
            callBack: function (iframeId) {
                top.layer.close(dlg);
            }
        });
    }

    function f_onfocus() {
        $("#Invalidtime").val($("#ActualEndTime").val());
    };


</script>
<div style="margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle">工作票编号：</td>
            <td class="formValue">
                <input id="Workno" type="text" readonly="readonly" class="form-control" />
            </td>
        </tr>

        <tr>
            <td class="formTitle">工作负责人：</td>
            <td class="formValue">
                <input id="Taskmanagename" type="text" readonly="readonly" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">部门/班组：</td>
            <td class="formValue">
                <input id="Deptname" type="text" readonly="readonly" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">工作成员：</td>
            <td class="formValue">
                <input id="Taskmembername" type="text" readonly="readonly" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">工作任务：</td>
            <td class="formValue">
                <input id="Taskname" type="text" readonly="readonly" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">工作类型：</td>
            <td class="formValue">
                <input id="Tasktype" readonly="readonly" type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">工作风险等级：</td>
            <td class="formValue">
                <input id="DangerLevel" readonly="readonly" type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">工作区域：</td>
            <td class="formValue">
                <input id="Taskregionname" readonly="readonly" type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">许可开始时间：</td>
            <td class="formValue">
                <input id="Actualstarttime" type="text" class="form-control" readonly="readonly" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">计划结束时间：<span style="color:red;">*</span></td>
            <td class="formValue">
                <input id="Planendtime" type="text" onblur="f_onfocus()" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm' })" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">工作票签发人：</td>
            <td class="formValue">
                <input id="IssueName" type="text" readonly="readonly" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">工作许可人：</td>
            <td class="formValue">
                <input id="PermitName" type="text" readonly="readonly" class="form-control" />
            </td>
        </tr>

        <tr>
            <td class="formTitle">监护人（工作单位）：</td>
            <td class="formValue">
                <input id="Guardianname" type="text" readonly="readonly" class="form-control" />
            </td>
        </tr>

        <tr>
            <td class="formTitle">监护人（主管部门）：</td>
            <td class="formValue">
                <input id="ExecutiveNames" type="text" readonly="readonly" class="form-control" />
            </td>
        </tr>

        <tr>
            <td class="formTitle">监护人（安全监察部门）</td>
            <td class="formValue">
                <input id="SupervisionNames" type="text" readonly="readonly" class="form-control" />
            </td>
        </tr>
        @*<tr>
            <td class="formTitle">实际开始时间：</td>
            <td class="formValue">
                <input id="Actualstarttime" type="text" class="form-control" />
            </td>
        </tr>*@
        <tr id="endtimetr">
            <td class="formTitle">实际结束时间：<span style="color:red;">*</span></td>
            <td class="formValue">
                <input id="ActualEndTime" type="text" onblur="f_onfocus()" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm',minDate:$('#Actualstarttime').val(),  maxDate: '@DateTime.Now.ToString("yyyy-MM-dd HH:mm")' })" class="form-control" />
            </td>
        </tr>


        <tr>
            <td class="formTitle">查看：</td>
            <td class="formValue">
                <a onclick="ShowImgRecord()" style=" color:blue;">抓拍记录</a>
            </td>
        </tr>


    </table>
    <div class="btn-group1">
        <a onclick="dialogClose()" id="bit_saeve" class="layui-layer-btn0">取消</a>
        <a onclick="SaveStampRecord()" id="sumitId" class="layui-layer-btn0">确定</a>
    </div>



</div>


<style>
    .formTitle {
        width: 35%;
    }

    .formValue {
        width: 65%;
    }
</style>
<style>
    .btn-group1 {
        float: left;
        width: 300px;
    }

        .btn-group1 a {
            display: inline-block;
            width: 148px;
            margin-right: 10px;
            height: 24px;
            line-height: 24px;
            background: #5cb85c;
            color: #fff;
            text-align: center;
            border-radius: 2px;
            margin-top: 10px;
            float: right;
            text-decoration: none;
        }

    .btn-group1 {
        float: right;
        width: 200px;
        padding-top: 7px;
    }

        .btn-group1 a {
            display: inline-block;
            width: 60px;
            margin-right: 10px;
            height: 24px;
            line-height: 24px;
            background: #5cb85c;
            color: #fff;
            text-align: center;
            border-radius: 2px;
            margin-top: 10px;
            float: right;
            text-decoration: none;
        }

            .btn-group1 a:hover {
                cursor: pointer;
                color: #2e99d4;
            }
</style>