@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = request('keyValue');
    var PostList = "";
    var type = 0;
    $(function () {
        initControl();
        Iniiframe();

    });
    //初始化控件
    function initControl() {
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../KbsDeviceManage/Safeworkcontrol/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    PostList = data.Areacode;
                    type = data.Areastate;
                }
            })
        }
    }


    function threeFn() {
        var frame = document.getElementById('ZbMap');
        var sendData = {
            "name": "addDZWL",
            "data": { Areacode: PostList, Areastate: type, isDetail: 1 }
        }
        frame.contentWindow.postMessage(sendData, "*");
    }

    function Iniiframe() {
        //初始化职位json
        $.ajax({
            url: top.contentPath + "/KbsDeviceManage/Kbsdevice/WebGetThreeUrl",
            type: "post",
            dataType: "text",
            async: false,
            success: function (data) {
                $('#ZbMap').attr('src', data + '/gisbcdl/index.html#/home');
            }
        });

        window.addEventListener('message', receiveMessage, false)
    }

    function threeDIni() {
        var frame = document.getElementById('ZbMap');
        var sendData = {
            "name": "initPage",
            "data": "drawOutDzwl"
        }
        frame.contentWindow.postMessage(sendData, "*");
    }
    function receiveMessage(event) {
        var name = event.data.name;
        if (name == "initPage") {
            threeDIni();
        }
        else if (name == "startWork") {
            threeFn();
        } else if (name == "finishedWork") {
            //var json = eval('(' + event.data.data + ')');
            PostList = event.data.pos;
        }

    }
</script>
<div>
    <iframe name="ZbMap" id="ZbMap" style="width: 1000px;height: 700px;border: medium none;"></iframe>
</div>
