@{
    ViewBag.Title = "抓拍图片";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<script>
    var id = request('keyValue');
    var dlist;
    var index = 0;
    $(function () {
        //查询详情数据
        $.ajax({
            url: "../../KbsDeviceManage/Safeworkcontrol/GetRecordImg?keyValue=" + id,
            type: "post",
            dataType: "Json",
            async: false,
            success: function (data) {
                dlist = data;
            }
        });
        Fz();
        //如果只有一条记录 则隐藏翻页按钮
        if (dlist.length == 1) {
            $("#btn").hide();
        }
    });

    //给空间赋值
    function Fz() {
        document.getElementById("Simg").src = dlist[index].CaptureURL;
    }

    function up() {
        if (index > 0) {
            index--;
        }
        Fz();

    }

    function next() {
        if (index < dlist.length - 1) {
            index++;
        }
        Fz();
    }

</script>

<div id="ImgDiv" style="text-align: center">
    <div class='device-img-warp'>
        <div class='img-container'>
            <img id="Simg" style='margin: 0 auto 10px; display: block;' height='750' width='600' src="">
        </div>
    </div>
    <div id="btn" style="text-align:center;" class="clearfix text-right">
        <input class="my-btn" type="button" onclick="up()" value="上一项" />
        <input class="my-btn" type="button" onclick="next()" value="下一项" />
    </div>
</div>

<style>
    .problem_box {
        padding: 0 35px 20px;
    }

        .problem_box h3 {
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            margin: 20px 0;
        }

    .problem_div {
        margin-bottom: 20px;
    }

    .problem_mesure {
        background: #f7f7f7;
        border: 1px solid #e5e5e5;
        padding: 10px;
        font-size: 16px;
        height: 125px;
    }

    .time_div {
        font-size: 18px;
        line-height: 42px;
    }

    .problem_time {
        display: inline-block;
        padding: 0 10px;
        width: 100px;
        height: 42px;
        line-height: 42px;
        background: #f7f7f7;
        border: 1px solid #e5e5e5;
        font-size: 22px;
        margin-right: 5px;
    }

    .problem_div > p {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .problem_list li {
        float: left;
        margin-right: 15px;
        margin-bottom: 15px;
    }

        .problem_list li img {
            height: 155px;
            width: 185px;
        }

    .my-btn {
        width: 115px;
        height: 40px;
        line-height: 40px;
        background: #588eeb;
        border-radius: 3px;
        border: none;
        font-size: 16px;
        vertical-align: middle;
        color: #fff;
    }
</style>