@{;
  ViewBag.Title = "表单页面";
  Layout = "~/Views/Shared/_Form.cshtml";
}
<link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
<script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/common.js"></script>
<script>
    var keyValue = request('keyValue');
    $(function () {
        initControl();
    });
    //初始化控件
    function initControl() {
        ////所在公司
        //$("#OrganizeId").ComboBoxTree({
        //    url: "../../BaseManage/Organize/GetTreeJson",
        //    description: "==请选择==",
        //    height: "200px"
        //});
        //工程状态类型
        $("#ProjectStatus").ComboBox({
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            param: { EnCode: "ProjectCondition" },
            id: "ItemValue",
            text: "ItemName",
            description: "==请选择==",
            height: "200px"
        });

        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../BaseManage/Project/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                    var start = data.ProjectStartDate;
                    var end = data.ProjectEndDate;
                    if (start == "1900-01-01 00:00:00") {
                        $("#ProjectStartDate").val("");
                    }
                    if (end == "1900-01-01 00:00:00") {
                        $("#ProjectEndDate").val("");
                    }
                }
            })
        }


    }
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        else {
            var start = $("#ProjectStartDate").val();
            var end = $("#ProjectEndDate").val();
            if (start > end && start != "" && end != "") {
                dialogMsg('开始时间不能大于结束时间！', 2);
                return false;
            }
        }

        var postData = $("#form1").formSerialize(keyValue);
        $.SaveForm({
            url: "../../BaseManage/Project/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }
</script>
<div style="margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <th class="formTitle">外包工程名称<font face="宋体">*</font></th>
            <td class="formValue" colspan="3">
                <input id="ProjectName" type="text" class="form-control" isvalid="yes" checkexpession="NotNull"/>
            </td>
        </tr>
        <tr>
            <th class="formTitle">所属单位<font face="宋体">*</font></th>
            <td class="formValue" colspan="3">
                <input id="ProjectDeptName" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" placeholder="请选择所属单位" readonly onclick="selectDept('', 0, 7, '选择部门', document.body, 'ProjectDeptName,ProjectDeptCode', '1');" />
                <input id="ProjectDeptCode" type="hidden" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">项目状态<font face="宋体">*</font></th>
            <td class="formValue" colspan="3">
                <div id="ProjectStatus" type="select" class="ui-select" style="width: 160px" isvalid="yes" checkexpession="NotNull"></div>
            </td>
        </tr>
        <tr>
            <td class="formTitle">工程开始时间</td>
            <td class="formValue">
                <input id="ProjectStartDate" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" style="width: 150px" />
            </td>
            <td class="formTitle">工程结束时间</td>
            <td class="formValue">
                <input id="ProjectEndDate" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" style="width: 150px" />
            </td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td class="formTitle">工程内容</td>
            <td class="formValue" colspan="3">
                <textarea id="ProjectContent" class="form-control" style="height: 100px;"></textarea>
            </td>
        </tr>
    </table>
</div>
