@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyCode = request("keyCode"); //主键 隐患信息主键
    $(function () {
        GetRecheckGrid();
    });

    function GetRecheckGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#recheckGridTable');
        $gridTable.jqGrid({
            url: "../../HiddenTroubleManage/HTReCheck/GetHistoryListJson?keyCode=" + keyCode,
            datatype: "json",
            height: $(window).height() - 300,
            autowidth: true,
            colModel: [
                 {
                     label: '操作', name: 'ID', index: 'ID', width: 120, align: 'center',
                     formatter: function (cellvalue, options, rowObject) {
                         var html = "<a href=javascript:Detail('" + rowObject.ID + "')  title='查看'><i class='fa fa-eye'></i></a>";
                         return html;
                     }
                 },
                { label: '复查单位', name: 'RECHECKDEPARTNAME', index: 'RECHECKDEPARTNAME', width: 150, align: 'center' },
                { label: '复查人', name: 'RECHECKPERSONNAME', index: 'RECHECKPERSONNAME', width: 120, align: 'center' },
                {
                    label: '复查结果', name: 'RECHECKSTATUS', index: 'RECHECKSTATUS', width: 120, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = rowObject.RECHECKSTATUS == "0" ? "验证不合格" : "验证合格";
                        return html;
                    }
                },
                {
                    label: '复查时间', name: 'RECHECKDATE', index: 'RECHECKDATE', width: 150, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = formatDate(cellvalue, 'yyyy-MM-dd');
                        return html;
                    }
                }
            ],
            pager: false,
            rowNum: "20",
            sortname: 'recheckdate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            ondblClickRow: function (id) {

            }
        });
    }

    function Detail(keyValue)
    {
        dialogOpen({
            id: 'DetailForm',
            title: '复查验证详情',
            url: '/HiddenTroubleManage/HTReCheck/Detail?keyValue=' + keyValue,
            width: ($(top.window).width() - 200) + "px",
            height: '680px',
            btn: null
        });
    }
</script>

<div class="center-Panel" >
    <div style="margin-top: 10px;"></div>
    <div class="panel-Title">复查验证信息</div>
    <div class="gridPanel">
        <div style="margin-top: 20px; margin-left:10px;">
            <table id="recheckGridTable"></table>
        </div>
    </div>
</div>
<style type="text/css">
    body {
        overflow: hidden;
    }
</style>