<ion-modal-view>
    <ion-header-bar class="bar-stable nav-bar-block nav-title-slide-ios7">
        <h1 class="title">扩展列表</h1>
        <div class="buttons">
            <button class="button button-clear icon ion-ios-close-empty" ng-click="closeModal()"></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list  list-inset lr-list-type3 mt5">
            
        </div>
        <div class="list list-inset lr-list-type2">
            
        </div>
</ion-content>
</ion-modal-view>
