@{;
  ViewBag.Title = "表单页面";
  Layout = "~/Views/Shared/_Form.cshtml";
}
<!--webUploader文件上传组件-->
<link href="~/content/scripts/plugins/webuploader/webuploader.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/webuploader/webuploader-demo.css" rel="stylesheet" />
<script type="text/javascript" src="~/content/scripts/plugins/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/fileupload.js"></script>
<script>
    var keyValue = request('keyValue');
    var FilesId = request('FilesId');
    var belongtypecode = request('belongtypecode');
    var back = "1";
    //查看
    var mode = request('mode');
    $(function () {
        initControl();
    });
    //初始化控件
    function initControl() {
        FilesId = FilesId.length == 0 ? "@Guid.NewGuid().ToString()" : FilesId;

        file_upload.init({
            keyValue: FilesId, fileNumLimit: 1, extensions: 'pdf,doc,docx,zip,rar', isImage: false
        });
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../StandardSystem/WrittenWork/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                }
            })
        }

        var status = mode == "view" ? false : true;
        file_upload.bindFiles(status, false, FilesId, "uploader", status);
       
        if (mode == "view")
        {
            $("#form1 input,textarea,select, .ui-select, .ui-select-text , .ui-select-option-content").each(function (ele, index) {
                $(this).attr("disabled", "disabled");
            });
        }
    }
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        $("#FilesId").val(FilesId);
        $("#BelongTypeCode").val(belongtypecode);
        var postData = $("#form1").formSerialize(keyValue);
        $.SaveForm({
            url: "../../StandardSystem/WrittenWork/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }

    function callBack(filename, ext) {
        if (!!filename) {
            $("#FileName").val(filename);
        }
    }
</script>
<div style="margin-top: 20px; margin-right: 30px;">

    <table class="form">
        <tr>
            <td class="formTitle">文件和资料名称<font face="宋体">*</font>
                <input id="BelongTypeCode" type="text" hidden="hidden" /></td>
            <td class="formValue" colspan="3">
                <input id="FileName" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">文件编号<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="FileCode" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </td>
            <td class="formTitle">发布日期<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="PublishDate" type="text" isvalid="yes" checkexpession="NotNull" class="form-control input-wdatepicker" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})">
            </td>
        </tr>
        <tr>

            <td class="formTitle">颁发部门<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="IssueDept" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </td>
            <td class="formTitle">实施日期<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="CarryDate" type="text" isvalid="yes" checkexpession="NotNull" class="form-control input-wdatepicker" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})">
            </td>
        </tr>
        <tr>
            <td class="formTitle">文件</td>
            <td class="formValue" colspan='3'>
                <input id="FilesId" type="text" hidden="hidden" />
                <div id="uploader" class="uploader" style="border: 1px solid #ccc; margin-top: 10px; min-height: 100px; margin-bottom: 10px;">
                    <div class="queueList">
                        <div id="dndArea" class="placeholder">
                            <div class="filePicker" style="margin-left: 25px; margin-top: 10px;"></div>
                        </div>
                    </div>
                    <div class="statusBar" style="display: none;">
                        <div class="progress">
                            <span class="text">0%</span>
                            <span class="percentage"></span>
                        </div>
                        <div class="info"></div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
