@{
    ViewBag.Title = "myStoreIndex";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script>;
    var belongtypecode = "@ViewBag.SpecialDept";
    var ids = "";
    var storeids = "";
    $(function () {
        InitialPage();
        GetTree();
        GetGrid();
    });

    //初始化页面
    function InitialPage() {
        $('#layout').layout({
            applyDemoStyles: false,
            onresize: function () {
                $(window).resize()
            }
        });

        $("#itemTree").height($(window).height() - 45);
    }

    //加载组织机构树
    function GetTree() {
        var json = JSON.stringify(
                   {
                       SelectMode: 0,
                       Mode: 15
                   }
                 );
        var item = {
            height: $(window).height() - 52,
            url: "../../BaseManage/Department/GetDepartTreeJson?json=" + json,
            onnodeclick: function (item) {
                belongtypecode = item.Code;//用户所属部门编码
                $('#btn_Search').trigger("click");

            }
        };
        //初始化
        $("#itemTree").treeview(item);
    }
    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() - 170,
            url: "../../StandardSystem/WrittenWork/GetStoreListJson",
            datatype: "json",
            colModel: [{ label: '主键', name: 'storeid', width: 10, align: 'left', sortable: true, hidden: true },
                  {
                      label: '', name: '', width: 40, align: 'center',
                      formatter: function (cellvalue, options, rowObject) {
                          html = "<input type='checkbox' onclick=selData(this,'" + rowObject.lawid + "','" + rowObject.storeid + "') />";
                          return html;
                      }
                  },
                 {
                     label: '操作', name: 'Oper', width: 60, align: 'center', sortable: false,
                     formatter: function (cellvalue, options, rowObject) {
                         var html = "";
                         html += "<a href=javascript:show()  title='查看' name='show'><i class='fa fa-eye'></i></a>";
                         return html;
                     }
                 },
                 { label: '文件和资料名称', name: 'filename', width: 300, align: 'center', sortable: true },
                  { label: '颁发部门', name: 'issuedept', width: 200, align: 'center', sortable: false },
                  { label: '文件编号', name: 'filecode', width: 200, align: 'center', sortable: true },
                   {
                       label: '发布日期', name: 'publishdate', width: 120, align: 'center', sortable: false,
                       formatter: function (cellvalue, options, rowObject) {
                           return formatDate(cellvalue, 'yyyy-MM-dd');
                       }
                   },
                   {
                       label: '实施日期', name: 'carrydate', width: 100, align: 'center', sortable: true,
                       formatter: function (cellvalue, options, rowObject) {
                           return formatDate(cellvalue, 'yyyy-MM-dd');
                       }
                   },
                   { label: '文件主键1', name: 'filesid', width: 10, align: 'left', hidden: true },
                   { label: '书面工作程序id', name: 'lawid', width: 10, align: 'left', hidden: true }],
            viewrecords: true,
            rowNum: 20,
            rowList: [20, 30, 40],
            pager: "#gridPager",
            sortname: 'createdate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $("#" + this.id).setSelection(selectedRowIndex, false);
            }
        });

        //查询事件
        $("#btn_Search").click(function () {
            $gridTable.jqGrid('setGridParam', {
                postData: { queryJson: getQueryJson() }, page: 1
            }).trigger('reloadGrid');
        });
    }

    //得到查询条件
    function getQueryJson() {
        var query = {
            filename: $("#txt_Keyword").val(),
            belongcode: belongtypecode,
        }
        return JSON.stringify(query);
    }

    //查看详情
    function show() {
        var keyValue = $('#gridTable').jqGridRowValue('lawid');
        var FilesId = $('#gridTable').jqGridRowValue('filesid');
        var idx = dialogOpen({
            id: "Form1",
            title: "查看书面工作程序SWP",
            url: '/StandardSystem/WrittenWork/Form?keyValue=' + keyValue + "&FilesId=" + FilesId + "&mode=view",
            width: '700px',
            height: '600px',
            btns: 1,
            btn: ["关闭"],
            callBack: function (iframeId) {
                top.layer.close(idx);
            }
        });
    }

    //选择数据
    function selData(obj, id, storeid) {
        if (obj.checked) {
            ids += id + ",";
            storeids += storeid + ",";
        } else {
            ids = ids.replace(id + ",", "");
            storeids = storeids.replace(storeid + ",", "");
        }
    }

    function cancelstore() {
        if (storeids.length > 0) {
            $.RemoveForm({
                msg: "确定取消收藏？",
                loading: "正在操作数据...",
                url: '../../SafetyLawManage/StoreLaw/RemoveForm',
                param: { keyValue: storeids },
                success: function (data) {
                    $('#gridTable').trigger('reloadGrid');
                    ids = "";
                    storeids = "";
                }
            })
        } else {
            dialogMsg('请选择需要取消收藏的书面工作程序SWP！', 0);
        }
    }


    //导出
    function exportResult() {
        location.href = "../../StandardSystem/WrittenWork/ExportMyStoreData?queryJson=" + getQueryJson();
    }
</script>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-west">
        <div class="west-Panel">
            <div class="panel-Title">
                <div class="col-md-10">
                    组织机构
                </div>
                <div class="col-md-2 text-right" style="padding-right: 8px;">
                    <i class="fa fa-arrow-left" onclick="setBar(this)" style="cursor: pointer;" title="展开/收起"></i>
                </div>
            </div>
            <div id="itemTree"></div>
        </div>
    </div>
    <div class="ui-layout-center">
        <div class="center-Panel">
            <div class="panel-Title">书面工作程序SWP</div>
            <div class="titlePanel">
                <div class="title-search">
                    <table>
                        <tr>
                            <td style="padding-left: 2px;">
                                <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;" />
                            </td>
                            <td style="padding-left: 5px;">
                                <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;查询</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="toolbar">
                    <div class="btn-group">
                        <a id="replace" class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>刷新</a>
                        <a id="export" class="btn btn-default" onclick="exportResult()"><i class="fa fa-download"></i>导出</a>
                        <a id="store" class="btn btn-default" onclick="cancelstore()"><i class="fa fa-drupal"></i>取消收藏</a>
                    </div>
                </div>
            </div>
            <div class="gridPanel">
                <table id="gridTable"></table>
                <div id="gridPager"></div>
            </div>
        </div>
    </div>
</div>
