@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/business/Common.js"></script>
<link href="~/Content/scripts/plugins/jqgrid/jqgrid.css" rel="stylesheet" />
<script src="~/Content/scripts/plugins/jqgrid/jqgrid.min.js"></script>
<link href="~/Content/scripts/plugins/combo-select/combo.select.css" rel="stylesheet" />
<script src="~/Content/scripts/plugins/combo-select/jquery.combo.select.js"></script>

<style type="text/css">
    .combo-select select {
        left: -1px;
        top: -1px;
        width: 0;
        height: 0;
        margin: 0;
        box-shadow: none;
        user-select: none;
        padding-left: 5px;
        height: 28px;
        line-height: 26px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(204, 204, 204);
        border-image: initial;
    }
</style>
<script>
    
    var keyValue = request('keyValue');
    var id = request('id');
    $(function () {
        
        GetGrid();
    });
    //初始化控件
    function initControl() {

    }
    //保存表单
    function AcceptClick() {
        var keyValue = $('#gridTable').jqGridRowValue('ItemId');
        if (keyValue) {
            top.Details.$("#TargetProject").val($('#gridTable').jqGridRowValue('ItemName'));
            top.Details.$("#TargetProjectValue").val($('#gridTable').jqGridRowValue('ItemValue'));
            top.Details.window.setStd();
            dialogClose();
        } else {
            dialogMsg('请选择一条安全生产目标！', 0);
        }
    }


    //加载表格
    function GetGrid() {
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            postData: { EnCode: "TargetProject" },
            datatype: "json",
            height: 400,
            autowidth: true,
            colModel: [
                { label: '主键', name: 'ItemId', hidden: true },
                {
                    label: '目标项目', name: 'ItemName', width: 500, align: 'center', sortable: false
                },{ label: '', name: 'ItemValue', hidden: true },
            ],
            viewrecords: true,
            rowNum: 30,
            sortname: 'CreateDate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
            }
        });
    }
    function OpenSelect(opt) {

    }
</script>
<div style="margin: 0px; margin-top: 20px; background-color: white;">
    <div class="panel panel-default" style="margin-top: 20px;">
        
        <div class="panel-body">
            <table id="gridTable"></table>
            <div id="gridPager"></div>
        </div>
    </div>
</div>
