@{
    ViewBag.Title = "危大工程统计";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<!--第三方统计图start-->
<script src="~/Content/Scripts/plugins/highcharts/highcharts.js"></script>
<script src="~/Content/Scripts/plugins/highcharts/highcharts-more.js"></script>
<script src="~/Content/Scripts/plugins/highcharts/modules/exporting.js"></script>
<link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
<script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>

<style type="text/css">
    /*$ {
        demo .css;
    }*/

    /*.css1 {
        width: 50px;
        font-weight: bold;
    }

    .css2 {
        width: 100px;
    }*/
</style>
<script src="~/Content/scripts/business/Common.js"></script>
<!--第三方统计图end-->
<script>
    var state = 1;
    var year = ""; var month = "";
    $(function () {
        InitialPage();
        statTJ();
        binggrid(year, 'gridTable1');
    })

    function InitialPage() {
        //$('#desktop').height(1000);
        //$(window).resize(function (e) {
        //    window.setTimeout(function () {
        //        $('#desktop').height(1000);
        //    }, 800);
        //    e.stopPropagation();
        //});

        $('#layout').layout({
            applyDemoStyles: true,
            onresize: function () {
                $(window).resize();
            }
        });

        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth($('.center-Panel').width() - 50);
                $('#gridTable').setGridHeight($(window).height() / 2 - 100);
                $('#gridTable1').setGridWidth($('.center-Panel').width() - 50);
                $('#gridTable1').setGridHeight($(window).height() / 2 - 100);
                $('#gridTable2').setGridWidth($('.center-Panel').width() - 50);
                $('#gridTable2').setGridHeight($(window).height() / 2 - 100);
                $('#gridTable3').setGridWidth($('.center-Panel').width() - 50);
                $('#gridTable3').setGridHeight($(window).height() / 2 - 100);
            }, 200);
            e.stopPropagation();
        });
    }

    //危大工程数量
    function statTJ() {
        $("#td1").attr("style", "display:none");
        $("#td2").attr("style", "display:none");
        year = $("#StartDate").val();
        $.get("GetEngineeringCount", { year: year }, function (data) {
            var json = eval("(" + data + ")");
            $('#tjcontainer').highcharts({
                chart: {
                    type: 'column',
                    borderWidth: 1
                },
                title: {
                    text: '危大工程数量'
                },
                xAxis: {
                    categories: json.y
                },
                yAxis: {
                    lineWidth: 1,
                    minorGridLineWidth: 0,
                    minorTickInterval: 'auto',
                    minorTickWidth: 1,
                    gridLineDashStyle: 'longdash',
                    allowDecimals: false,
                    min: 0,
                    title: {
                        text: '数量（个）'
                    },
                    labels: {
                        formatter: function () {
                            return this.value + '个'
                        }
                    },
                    stackLabels: {
                        enabled: true,
                        style: {
                            fontWeight: 'bold',
                            color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                        }
                    }

                },
                exporting: {
                    enabled: false
                },
                credits: {
                    enabled: false
                },
                tooltip: {
                    crosshairs: true,
                    shared: true
                },
                plotOptions: {
                    column: {
                        stacking: 'normal',
                        dataLabels: {
                            enabled: true,
                            color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                            style: {
                                textShadow: '0 0 3px black'
                            }
                        }
                    }
                },
                series: json.x
            , lang: { noData: "暂无数据可显示!" },
                noData: {
                    position: {
                        align: 'center',
                        verticalAlign: 'middle'
                    },
                    attr: {
                        'stroke-width': 1
                    },
                    style: {
                        fontWeight: 'bold',
                        fontSize: '15px',
                        color: '#202030'
                    }
                }
            });
        });
    }

    //危大工程数量表格
    function binggrid(year, tid) {
        var selectedRowIndex = 0;
        var $gridTable = $("#" + tid);
        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() / 2 - 100,
            url: "../../EngineeringManage/EngineeringStatistics/GetEngineeringList",
            postData: { year: year },
            datatype: "json",
            mtype: "post",
            colModel: [
                { label: '工程类别', name: 'typeName', align: 'center', sortable: false },
                { label: '1月', name: 'num1', align: 'center', sortable: false },
                { label: '2月', name: 'num2', align: 'center', sortable: false },
                { label: '3月', name: 'num3', align: 'center', sortable: false },
                { label: '4月', name: 'num4', align: 'center', sortable: false },
                { label: '5月', name: 'num5', align: 'center', sortable: false },
                { label: '6月', name: 'num6', align: 'center', sortable: false },
                { label: '7月', name: 'num7', align: 'center', sortable: false },
                { label: '8月', name: 'num8', align: 'center', sortable: false },
                { label: '9月', name: 'num9', align: 'center', sortable: false },
                { label: '10月', name: 'num10', align: 'center', sortable: false },
                { label: '11月', name: 'num11', align: 'center', sortable: false },
                { label: '12月', name: 'num12', align: 'center', sortable: false }

            ],
            rowNum: 100,
            rownumbers: true,
            shrinkToFit: true,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $("#" + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $("#" + this.id).setSelection(selectedRowIndex, false);
            }
        });
    }

    //工程方案、交底统计
    function statQS() {
        $("#td1").attr("style", "display:none");
        $("#td2").attr("style", "display:none");
        LoadDataQS();
        binggrid1(year, 'gridTable');
    }

    //工程方案、交底数量
    function LoadDataQS() {
        year = $("#StartDate").val();
        $.get("GetEngineeringFile", { year: year }, function (data) {
            var json = eval("(" + data + ")");
            $('#qscontainer').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: '危大工程方案、交底统计'
                },
                subtitle: {
                    text: ''
                },
                xAxis: {
                    categories: json.xValues,
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '数量'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:f} 个</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                exporting: {
                    enabled: false
                },
                credits: {
                    enabled: false
                },
                lang: { noData: "暂无数据可显示!" },
                noData: {
                    position: {
                        align: 'center',
                        verticalAlign: 'middle'
                    },
                    attr: {
                        'stroke-width': 1
                    },
                    style: {
                        fontWeight: 'bold',
                        fontSize: '15px',
                        color: '#202030'
                    }
                },
                series: json.data
            });
        });
    }

    //工程方案、交底表格
    function binggrid1(year, tid) {
        var selectedRowIndex = 0;
        var $gridTable = $("#" + tid);
        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() / 2 - 100,
            url: "../../EngineeringManage/EngineeringStatistics/GetEngineeringFileGrid",
            postData: { year: year },
            datatype: "json",
            mtype: "post",
            colModel: [
                { label: '月份', name: 'months', align: 'center', sortable: false },
                { label: '工程数量', name: 'num1', align: 'center', sortable: false },
                { label: '方案数量', name: 'num2', align: 'center', sortable: false },
                { label: '交底数量', name: 'num3', align: 'center', sortable: false }
            ],
            rowNum: 100,
            rownumbers: true,
            shrinkToFit: true,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $("#" + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $("#" + this.id).setSelection(selectedRowIndex, false);
            }
        });
    }

    //工程进展情况统计
    function statDB() {
        $("#td1").attr("style", "display:none");
        $("#td2").attr("style", "display:none");
        LoadDataDB();
        binggrid2(year, 'gridTable2');
    }

    //工程进展情况数量
    function LoadDataDB() {
        year = $("#StartDate").val();
        $.get("GetEngineeringCase", { year: year }, function (data) {
            var json = eval("(" + data + ")");
            $('#dbcontainer').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: '危大工程进展统计'
                },
                subtitle: {
                    text: ''
                },
                xAxis: {
                    categories: json.xValues,
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '数量'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:f} 个</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                exporting: {
                    enabled: false
                },
                credits: {
                    enabled: false
                },
                lang: { noData: "暂无数据可显示!" },
                noData: {
                    position: {
                        align: 'center',
                        verticalAlign: 'middle'
                    },
                    attr: {
                        'stroke-width': 1
                    },
                    style: {
                        fontWeight: 'bold',
                        fontSize: '15px',
                        color: '#202030'
                    }
                },
                series: json.data
            });
        });
    }

    //工程进展情况数量表格
    function binggrid2(year, tid) {
        var selectedRowIndex = 0;
        var $gridTable = $("#" + tid);
        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() / 2 - 100,
            url: "../../EngineeringManage/EngineeringStatistics/GetEngineeringCaseGrid",
            postData: { year: year },
            datatype: "json",
            mtype: "post",
            colModel: [
                { label: '月份', name: 'months', align: 'center', sortable: false },
                { label: '工程数量', name: 'num4', align: 'center', sortable: false },
                { label: '正在施工数量', name: 'num1', align: 'center', sortable: false },
                { label: '未施工数量', name: 'num2', align: 'center', sortable: false },
                { label: '已完工数量', name: 'num3', align: 'center', sortable: false }
            ],
            rowNum: 100,
            rownumbers: true,
            shrinkToFit: true,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $("#" + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $("#" + this.id).setSelection(selectedRowIndex, false);
            }
        });
    }

    //单位内部、各外委单位对比统计
    function statPA() {
        $("#td1").removeAttr("style");
        $("#td2").removeAttr("style");
        LoadDataPA();
        binggrid3(year, month, 'gridTable3');
    }

    //单位内部、各外委单位对比数量
    function LoadDataPA() {
        year = $("#StartDate").val();
        month = $("#monthTime").val();
        $.get("GetEngineeringContrast", { year: year, month: month }, function (data) {
            var json = eval("(" + data + ")");
            $('#pacontainer').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: '单位内部、各外包单位对比统计'
                },
                subtitle: {
                    text: ''
                },
                xAxis: {
                    categories: json.xValues,
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '数量'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:f} 个</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                exporting: {
                    enabled: false
                },
                credits: {
                    enabled: false
                },
                lang: { noData: "暂无数据可显示!" },
                noData: {
                    position: {
                        align: 'center',
                        verticalAlign: 'middle'
                    },
                    attr: {
                        'stroke-width': 1
                    },
                    style: {
                        fontWeight: 'bold',
                        fontSize: '15px',
                        color: '#202030'
                    }
                },
                series: json.data
            });
        });
    }

    //单位内部、各外委单位对比表格
    function binggrid3(year, month, tid) {
        var selectedRowIndex = 0;
        var $gridTable = $("#" + tid);
        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() / 2 - 100,
            url: "../../EngineeringManage/EngineeringStatistics/GetEngineeringContrastGrid",
            postData: { year: year, month: month },
            datatype: "json",
            mtype: "post",
            colModel: [
                { label: '单位性质', name: 'nametype', align: 'center', sortable: false },
                { label: '工程数量', name: 'num1', align: 'center', sortable: false },
                { label: '正在施工数量', name: 'num2', align: 'center', sortable: false },
                { label: '未施工数量', name: 'num3', align: 'center', sortable: false },
                { label: '已完工数量', name: 'num4', align: 'center', sortable: false },
                { label: '方案数量', name: 'num5', align: 'center', sortable: false },
                { label: '安全交底数量', name: 'num6', align: 'center', sortable: false }
            ],
            rowNum: 100,
            rownumbers: true,
            shrinkToFit: true,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $("#" + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $("#" + this.id).setSelection(selectedRowIndex, false);
            }
        });
    }

    function query() {
        if (state == 1) {
            $("#btntj").trigger("click");
            $("#gridTable1").jqGrid('setGridParam', {
                postData: { year: year }, page: 1
            }).trigger('reloadGrid');
        }
        if (state == 2) {
            $('#divQS').show();
            $('#divTJ').hide();
            $('#divDB').hide();
            $('#divPA').hide();
            $(this).addClass('btn-primary');
            LoadDataQS();
            $("#gridTable").jqGrid('setGridParam', {
                postData: { year: year }, page: 1
            }).trigger('reloadGrid');
        }
        if (state == 3) {
            $('#divQS').hide();
            $('#divTJ').hide();
            $('#divDB').show();
            $('#divPA').hide();
            $(this).addClass('btn-primary');
            LoadDataDB();
            $("#gridTable2").jqGrid('setGridParam', {
                postData: { year: year }, page: 1
            }).trigger('reloadGrid');
        }
        if (state == 4) {
            $('#divQS').hide();
            $('#divTJ').hide();
            $('#divDB').hide();
            $('#divPA').show();
            $(this).addClass('btn-primary');
            LoadDataPA();
            $("#gridTable3").jqGrid('setGridParam', {
                postData: { year: year, month: $("#monthTime").val() }, page: 1
            }).trigger('reloadGrid');
        }
    }

    function reset() {
        //时间
        $("#StartDate").val("@DateTime.Now.ToString("yyyy")");
        $("#monthTime").val("@DateTime.Now.ToString("MM")");
        query();
    }
</script>

<div class="ui-layout" id="layout" style="height: 100%; width: 100%; min-width:1235px;">
    <div class="ui-layout-center">
        <div class="center-Panel">
            <div class="panel-Title">危大工程统计</div>
            <div class="titlePanel">
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 65px; font-weight: bold;" align="right">年度：</td>
                        <td style="width: 80px;">
                            <div style="float: left; width: 70px;">
                                <input id="StartDate" type="text" class="form-control input-wdatepicker" value="@DateTime.Now.ToString("yyyy")" onfocus="WdatePicker({dateFmt:'yyyy'})">
                            </div>
                        </td>
                        <td id="td1" style="display:none;" align="right">月份：</td>
                        <td id="td2" style="display:none;">
                            <div style="float: left; width: 70px;">
                                <input id="monthTime" type="text" class="form-control input-wdatepicker" value="@DateTime.Now.ToString("MM")" onfocus="WdatePicker({dateFmt:'MM'})">
                            </div>
                        </td>
                        <td align="right" style="width: 140px;">
                            <a id="btn_Search" class="btn btn-primary" onclick="query()"><i class="fa fa-search"></i>&nbsp;查询</a>
                            &nbsp;<a id="btn_Reset" class="btn btn-primary" onclick="reset()"><i class="fa fa-undo"></i>&nbsp;重置</a>
                        </td>
                        <td align="right">
                            <div class="toolbar">
                                <div class="btn-group">
                                    <button id="btntj" class="btn btn-primary btn10" type="button" onclick="state = 1; $('#divTJ').show(); $('#divQS').hide(); $('#divDB').hide();$('#divPA').hide(); $('.btn10').removeClass('btn-primary'); $('.btn10').addClass('btn-default'); $(this).addClass('btn-primary'); statTJ();"><i class="fa fa-bar-chart"></i>&nbsp;工程数量统计</button>
                                    <button id="btnqs" class="btn btn-default btn10" type="button" onclick="state = 2; $('#divQS').show(); $('#divTJ').hide(); $('#divDB').hide();$('#divPA').hide(); $('.btn10').removeClass('btn-primary'); $('.btn10').addClass('btn-default'); $(this).addClass('btn-primary'); statQS();"><i class="fa fa-bar-chart"></i>&nbsp;工程方案、交底统计</button>
                                    <button id="btndb" class="btn btn-default btn10" type="button" onclick="state = 3; $('#divQS').hide(); $('#divTJ').hide(); $('#divDB').show();$('#divPA').hide(); $('.btn10').removeClass('btn-primary'); $('.btn10').addClass('btn-default'); $(this).addClass('btn-primary'); statDB();"><i class="fa fa fa-bar-chart"></i>&nbsp;工程进展情况</button>
                                    <button id="btnpa" class="btn btn-default btn10" type="button" onclick="state = 4; $('#divQS').hide(); $('#divTJ').hide(); $('#divDB').hide(); $('#divPA').show(); $('.btn10').removeClass('btn-primary'); $('.btn10').addClass('btn-default'); $(this).addClass('btn-primary'); statPA();"><i class="fa fa fa-bar-chart"></i>&nbsp;单位对比</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="center-Panel" id="divQS" style="display: none;">
            <div class="panel panel-default" style="margin-top: 10px;">
                <div class="panel-heading">
                    <strong>&nbsp;&nbsp;统计图表</strong>
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" title="展开/收起"></a>
                    </span>
                </div>
                <div class="panel-body">
                    <div id="qscontainer" style="margin: 10px;"></div>
                </div>
            </div>
            <div class="panel panel-default" style="margin: 10px;">
                <div class="panel-heading">
                    <strong>&nbsp;&nbsp;统计数据</strong>
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" title="展开/收起"></a>
                    </span>
                </div>
                <div class="panel-body gridPanel">
                    <table id="gridTable"></table>
                </div>
            </div>
        </div>
        <div class="center-Panel" id="divDB" style="display: none;">
            <div class="panel panel-default" style="margin-top: 10px;">
                <div class="panel-heading">
                    <strong>&nbsp;&nbsp;统计图表</strong>
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" title="展开/收起"></a>
                    </span>
                </div>
                <div class="panel-body">
                    <div id="dbcontainer" style="margin: 10px;"></div>
                </div>
            </div>
            <div class="panel panel-default" style="margin: 10px;">
                <div class="panel-heading">
                    <strong>&nbsp;&nbsp;统计数据</strong>
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" title="展开/收起"></a>
                    </span>
                </div>
                <div class="panel-body gridPanel">
                    <table id="gridTable2"></table>
                </div>
            </div>
        </div>
        <div class="center-Panel" id="divTJ">
            <div class="panel panel-default" style="margin-top: 10px;">
                <div class="panel-heading">
                    <strong>&nbsp;&nbsp;统计图表</strong>
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" title="展开/收起"></a>
                    </span>
                </div>
                <div class="panel-body">
                    <div id="tjcontainer" style="margin: 10px;"></div>
                </div>
            </div>
            <div class="panel panel-default" style="margin: 10px;">
                <div class="panel-heading">
                    <strong>&nbsp;&nbsp;统计数据</strong>
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" title="展开/收起"></a>
                    </span>
                </div>
                <div class="panel-body gridPanel">
                    <table id="gridTable1" title="aaaa"></table>
                </div>
            </div>
        </div>
        <div class="center-Panel" id="divPA" style="display: none;">
            <div class="panel panel-default" style="margin-top: 10px;">
                <div class="panel-heading">
                    <strong>&nbsp;&nbsp;统计图表</strong>
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" title="展开/收起"></a>
                    </span>
                </div>
                <div class="panel-body">
                    <div id="pacontainer" style="margin: 10px;"></div>
                </div>
            </div>
            <div class="panel panel-default" style="margin: 10px;">
                <div class="panel-heading">
                    <strong>&nbsp;&nbsp;统计数据</strong>
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" title="展开/收起"></a>
                    </span>
                </div>
                <div class="panel-body gridPanel">
                    <table id="gridTable3" title="aaaa"></table>
                </div>
            </div>
        </div>
    </div>
</div>


