@{;
  ViewBag.Title = "表单页面";
  Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>
<script>
    var keyValue = request("keyValue");
    var workinfotype = top.Form.window.parmworkinfotype;
    var workdepttype = top.Form.window.parmworkdepttype;
    var workdeptname = top.Form.window.parmworkdeptname;
    var workdeptid = top.Form.window.parmworkdeptid;
    var workdeptcode = top.Form.window.parmworkdeptcode;
    var engineeringname = top.Form.window.parmengineeringname;
    var engineeringid = top.Form.window.parmengineeringid;
    var workplace = top.Form.window.parmworkplace;
    var workcontent = top.Form.window.parmworkcontent;
    var workname = top.Form.window.parmworkname;
    var workstarttime = top.Form.window.parmworkstarttime;
    var workendtime = top.Form.window.parmworkendtime;
    var workareaname = top.Form.window.parmworkareaname;
    var workticketno = top.Form.window.parmworkticketno;
    var workusernames = top.Form.window.parmworkusernames;
    var workinfotypeid = top.Form.window.parmworkinfotypeid;
    var handtype = top.Form.window.parmhandtype;
    var workprojectname = top.Form.window.parmworkprojectname;

    var tasktype = request("tasktype");
    var mode = request('mode');

    var rolenames = "@ERCHTMS.Code.OperatorProvider.Provider.Current().RoleName"; //当前用户角色
    var deptid = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptId";

    $(function () {
        if (mode == "add") {
            $("#btnAddWork").attr("disabled", "disabled");
            //部门任务(作业单位类别，作业单位，工程名称默认,不可修改)
            if (tasktype == "0") {
                $("#WorkDeptName").val(workdeptname);
                $("#WorkDeptId").val(workdeptid);
                $("#WorkDeptCode").val(workdeptcode);
                $("#WorkDeptName").val(workdeptname).attr("disabled", "disabled");
                $("input[name='WorkDeptType']").attr("disabled", "disabled");
                projectshow();
            }
            else {
                //新增作业类型为1时
                //$("#td_title_projectname").hide();
                //$("#td_value_projectname").hide();
                //$("input[name='WorkDeptType']:eq(0)").prop("checked", "checked");

                //默认选中外包单位
                $("input[name='WorkDeptType']:eq(1)").prop("checked", "checked");
            }
        }
        else if (mode == "edit" || mode == "view") {
            if (mode == "view") {
                $("#form1 input,textarea,select, .ui-select, .ui-select-text , .ui-select-option-content").each(function (ele, index) {
                    $(this).attr("disabled", "disabled");
                });
            }
            if (tasktype == "0") {
                $("input[name='WorkDeptType']").attr("disabled", "disabled");
                $("#WorkDeptName").val(workdeptname).attr("disabled", "disabled");
            }
            projectshow();
            $("#WorkTaskType").attr("disabled", "disabled");
            $("#btnAddWork").attr("disabled", "disabled");
            $("#WorkTicketNo").val(workticketno);
            $("#WorkStartTime").val(workstarttime);
            $("#WorkEndTime").val(workendtime);
            $("#WorkAreaName").val(workareaname);
            $("#WorkName").val(workname);
            $("#WorkPlace").val(workplace);
            $("#WorkContent").val(workcontent);
            $("#WorkDeptName").val(workdeptname);
            $("#WorkDeptId").val(workdeptid);
            $("#WorkDeptCode").val(workdeptcode);
            $("#WorkUserNames").val(workusernames);
            $("#WorkInfoType").val(workinfotype);
            $("#WorkInfoTypeId").val(workinfotypeid);
            $("#HandType").val(handtype);
            $("#ProjectName").val(workprojectname);

            var strval = "";
            if (!!workinfotype && !!handtype) {
                strval = workinfotype + "," + handtype;
            }
            else if (!!workinfotype) {
                strval = workinfotype;
            }
            else if (!!handtype) {
                strval = handtype;
            }
            $("#WorkTaskType").val(strval);
        }
        initControl();
    });

    function projectshow() {
        if (workdepttype == "0") {//单位内部
            $("#td_title_projectname").hide();
            $("#td_value_projectname").hide();
            $("input[name='WorkDeptType']:eq(0)").prop("checked", "checked");
            $("#EngineeringName").removeAttr("checkexpession").removeAttr("isvalid");
        }
        else if (workdepttype == "1") {//外包单位
            $("input[name='WorkDeptType']:eq(1)").prop("checked", "checked");
            $("#td_title_projectname").show();
            $("#td_value_projectname").show();
            $("#EngineeringName").attr("checkexpession", "NotNull").attr("isvalid", "yes");
            if (tasktype == "0" || mode == "view") {
                $("#EngineeringName").removeAttr("onclick");
            }
            $("#EngineeringName").val(engineeringname);
            $("#EngineeringId").val(engineeringid);
        }
    }

    function initControl() {
        //选择作业单位类别时，控制工程名称显示
        $("input[name='WorkDeptType']").click(function () {
            //0:单位内部,1:外包单位
            if ($(this).val() == "0") {
                $("#td_title_projectname").hide();
                $("#td_value_projectname").hide();
                $("#EngineeringName").removeAttr("checkexpession").removeAttr("isvalid");

            } else {
                $("#td_title_projectname").show();
                $("#td_value_projectname").show();
                $("#EngineeringName").attr("checkexpession", "NotNull").attr("isvalid", "yes");
            }
            //清空文本框(作业单位,工程,作业区域)
            $("#WorkDeptName,#WorkDeptId,#WorkDeptCode,#WorkAreaName,#WorkAreaCode,#EngineeringName,#EngineeringId").val("");
        });

        //区域的处理
        $("#WorkAreaName").attr("onclick", "selectArea(window.document.body, 'WorkAreaName,WorkAreaCode');").attr("placeholder", "请选择作业区域");
    }

    //获取工程详情
    function GetEngineerInfo(id) {
        $.SetForm({
            url: "../../OutsourcingProject/Outsouringengineer/GetFormJson?keyValue=" + id,
            success: function (data) {
                $("#WorkAreaName").val(data.data.ENGINEERAREANAME);
            }
        })
    }

    //选择作业单位
    function selectCompany() {
        var setupcompanytype = $("input[type=radio]:checked").val();
        /**
         1.选择单位内部时，工程名称隐藏,作业单位为所有单位不包含承包商。
         2.选择外包单位时，工程名称显示,作业单位为所有外包单位。
         **/
        if (setupcompanytype == "0") {
            selectDept('', 0, 21, '选择作业单位', document.body, 'WorkDeptName,WorkDeptCode,WorkDeptId', "1", function () {
                $("#WorkUserNames,#WorkUserIds").val("");
                getWorkName();
            });
        } else {
            selectDept('', 0, 22, '选择作业单位', document.body, 'WorkDeptName,WorkDeptCode,WorkDeptId', "1", function () {
                $("#WorkUserNames,#WorkUserIds").val("");
                $("#EngineeringName，#EngineeringId").val("");
                getWorkName();
            });
        }
    }

    function getWorkName() {
        $("#WorkName").val($("#WorkTaskType").val() + "_" + $("#WorkDeptName").val());
    }

    //返回选择后的结果并赋值到dom控件
    //callback:回调函数
    function AcceptClick(callback) {
        if (!$('#form1').Validform()) {
            return false;
        }
        if (callback) {
            var winfotype = $("#WorkInfoType").val();
            var wdepttype = $("input[name='WorkDeptType']:checked").val();
            var wdeptname = $("#WorkDeptName").val();
            var wdeptid = $("#WorkDeptId").val();
            var wdeptcode = $("#WorkDeptCode").val();
            var ename = $("#EngineeringName").val();
            var eid = $("#EngineeringId").val();
            var wplace = $("#WorkPlace").val();
            var wcontent = $("#WorkContent").val();

            var wticketno = $("#WorkTicketNo").val();
            var wstarttime = $("#WorkStartTime").val();
            var wendtime = $("#WorkEndTime").val();
            var wareaname = $("#WorkAreaName").val();
            var wname = $("#WorkName").val();
            var wusernames = $("#WorkUserNames").val();
            var winfotypeid = $("#WorkInfoTypeId").val();
            var htype = $("#HandType").val();
            var wprojectname = $("#ProjectName").val();

            callback({ workinfotype: winfotype, workdepttype: wdepttype, workdeptname: wdeptname, workdeptid: wdeptid, workdeptcode: wdeptcode, engineeringname: ename, engineeringid: eid, workplace: wplace, workcontent: wcontent, workticketno: wticketno, workstarttime: wstarttime, workendtime: wendtime, workareaname: wareaname, workname: wname, workusernames: wusernames, workinfotypeid: winfotypeid, handtype: htype, workprojectname: wprojectname });
        }
        dialogClose();
    }


    //选择通用作业
    function selectWork() {
        var ename = "";
        if (tasktype == "0") {
            if (!!$('#EngineeringName').val()) {
                ename = $('#EngineeringName').val();
            }
        }
        var params = tasktype + "," + $('#WorkInfoTypeId').val() + "," + workdeptid + "," + encodeURIComponent(ename);
        selectCommonWork(window.document.body, 'WorkContent,WorkDeptName,WorkDeptId,WorkDeptCode,WorkPlace,WorkDeptTypeValue,EngineeringName,WorkStartTime,WorkEndTime,WorkAreaName,WorkUserNames,EngineeringId', params, function () {
            loadInit();
            getWorkName();
        });
    }

    //选择设施变动作业
    function selectChange() {
        var ename = "";
        if (tasktype == "0") {
            if (!!$('#EngineeringName').val()) {
                ename = $('#EngineeringName').val();
            }
        }
        var params = tasktype + "," + workdeptid + "," + encodeURIComponent(ename);
        selectChangeWork(window.document.body, 'WorkContent,WorkDeptName,WorkDeptId,WorkDeptCode,WorkPlace,WorkDeptTypeValue,EngineeringName,WorkStartTime,WorkEndTime,WorkAreaName,EngineeringId', params, function () {
            loadInit();
            getWorkName();
        });
    }

    //选择脚手架
    function selectScaffold(type) {
        var ename = "";
        if (tasktype == "0") {
            if (!!$('#EngineeringName').val()) {
                ename = !!$('#EngineeringName').val();
            }
        }
        var params = tasktype + "," + type + "," + workdeptid + "," + encodeURIComponent(ename);
        selectScaffoldWork(window.document.body, 'WorkContent,WorkDeptName,WorkDeptId,WorkDeptCode,WorkPlace,WorkDeptTypeValue,EngineeringName,WorkStartTime,WorkEndTime,WorkAreaName,WorkUserNames,EngineeringId', params, function () {
            loadInit();
            getWorkName();
        });

    }

    function loadInit() {
        if (tasktype == "0") {
            $("input[name='WorkDeptType']").attr("disabled", "disabled");
        }
        if ($("#WorkDeptTypeValue").val() == "0") {//单位内部
            $("input[name='WorkDeptType']:eq(0)").prop("checked", "checked");
            $("#td_title_projectname").hide();
            $("#td_value_projectname").hide();
            $("#EngineeringName").removeAttr("checkexpession").removeAttr("isvalid");

        }
        if ($("#WorkDeptTypeValue").val() == "1") {//外包单位
            $("input[name='WorkDeptType']:eq(1)").prop("checked", "checked");
            $("#td_title_projectname").show();
            $("#td_value_projectname").show();
            $("#EngineeringName").removeAttr("checkexpession").removeAttr("isvalid");
        }
    }

    function selectSpec() {
        var typevalue = $("#WorkInfoTypeId").val();
        if (!!typevalue) {
            if (typevalue == "-1" || typevalue == "-2")//-1:脚手架搭设 -2:脚手架拆除
            {
                selectScaffold(typevalue);
            }
            else if (typevalue == "-3")//设施变动
            {
                selectChange();

            }//高风险作业
            else {
                selectWork();
            }
        }
    }

    //选择作业人员
    function chooseUser() {
        if (!!$("#WorkDeptId").val()) {
            selectUser({ deptId: $('#WorkDeptId').val(), checkMode: 1, mode: 1, winObject: window.document.body, domId: 'WorkUserNames,,WorkUserIds', userIds: "" });
        }
        else {
            dialogMsg('请先选择作业单位！', 0);
        }
    }

    //查看更多
    function showmore() {
        if (!!$("#WorkUserNames").val()) {
            var html = $("#WorkUserNames").val();
            $("#modalBody").html(html);
            $("#QdModal").modal('show');
        }
        else {
            dialogMsg('请选择作业人员！', 0);
        }
    }

    //选择作业
    function selectWorkType() {
        var worktypeid = $("#WorkInfoTypeId").val();
        SelectWorkType(worktypeid, 1, 2, window.document.body, 'WorkInfoType,WorkInfoTypeId', function (callback) {
            $("#HandType").val(callback);
            var type = "";
            if (!!$("#WorkInfoType").val() && !!$("#HandType").val()) {
                type = $("#WorkInfoType").val() + "," + $("#HandType").val();
            }
            else {
                if (!!$("#WorkInfoType").val()) {
                    type = $("#WorkInfoType").val();

                }
                if (!!$("#HandType").val()) {
                    type = $("#HandType").val();
                }
            }
            $("#WorkTaskType").val(type);
            if (!!$("#WorkInfoType").val()) {
                var str = $("#WorkInfoType").val().split(',');
                if (str.length == 1) {
                    $("#btnAddWork").removeAttr("disabled");
                }
                else {
                    $("#btnAddWork").attr("disabled", "disabled");
                }
            }
            getWorkName();
        });
    }

    //选择工程
    function chooseProject() {
        if (!!$("#WorkDeptName").val()) {
            SelectOutProject(window.document.body, 'EngineeringName,EngineeringId', $("#WorkDeptId").val(), function () {
                $("#WorkAreaName").val("");
                GetEngineerInfo($("#EngineeringId").val());
            }, "1");

        }
        else {
            dialogMsg('请先选择作业单位！', 0);
        }

    }

    //获取工程详情
    function GetEngineerInfo(id) {
        $.SetForm({
            url: "../../OutsourcingProject/Outsouringengineer/GetFormJson?keyValue=" + id,
            success: function (data) {
                $("#WorkAreaName").val(data.data.ENGINEERAREANAME);
            }
        })
    }
</script>
<div style="margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle">作业类别<font face="宋体">*</font></td>
            <td class="formValue" colspan="3">
                <input type="hidden" id="Teams" value="@ViewBag.IsTeams" />
                <input type="hidden" id="SuperviseState" value="" />
                <div style="display: flex">
                    <input id="WorkTaskType" type="text" class="form-control" placeholder="请选择作业类型" isvalid="yes" checkexpession="NotNull" onclick="selectWorkType()" readonly />&nbsp;&nbsp;
                    <button id="btnAddWork" type="button" class="btn btn-primary" onclick="selectSpec()">选择作业</button>
                </div>
                <input id="WorkInfoType" type="hidden" />
                <input id="WorkInfoTypeId" type="hidden" />
                <input id="HandType" type="hidden" />
            </td>
            <td class="formTitle" id="tddept">作业单位类别<font face="宋体">*</font></td>
            <td class="formValue" colspan="2">
                <input type="hidden" id="WorkDeptTypeValue" />
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="WorkDeptType" id="WorkDeptType1" value="0" />单位内部
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="WorkDeptType" id="WorkDeptType2" value="1" />外包单位
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td class="formTitle">作业单位<font face="宋体">*</font></td>
            <td class="formValue" colspan="2">
                <input id="WorkDeptName" type="text" class="form-control" placeholder="请选择作业单位" isvalid="yes" checkexpession="NotNull" readonly onclick="selectCompany()" />
                <input type="hidden" id="WorkDeptId" />
                <input type="hidden" id="WorkDeptCode" />
            </td>
            <td class="formTitle" id="td_title_projectname">工程名称<font face="宋体">*</font></td>
            <td class="formValue" id="td_value_projectname" colspan="2">
                <input id="EngineeringName" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" readonly placeholder="请选择工程" onclick="chooseProject();" />
                <input id="EngineeringId" type="hidden" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">项目名称</td>
            <td class="formValue" colspan="2">
                <input id="ProjectName" type="text" class="form-control"/>
            </td>
            <td class="formTitle">作业名称<font face="宋体">*</font></td>
            <td class="formValue" colspan="2">
                <input id="WorkName" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">作业开始时间</td>
            <td class="formValue" colspan="2">
                <input id="WorkStartTime" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm', maxDate: '#F{$dp.$D(\'WorkEndTime\')}' })">
            </td>
            <td class="formTitle">作业结束时间</td>
            <td class="formValue" colspan="2">
                <input id="WorkEndTime" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm', minDate: '#F{$dp.$D(\'WorkStartTime\')}' })">
            </td>
        </tr>
        <tr>
            <td class="formTitle">工作票号</td>
            <td class="formValue" colspan="2">
                <input id="WorkTicketNo" type="text" class="form-control" />
            </td>
            <td class="formTitle">作业区域</td>
            <td class="formValue" colspan="2">
                <input id="WorkAreaName" type="text" class="form-control" readonly />
                <input id="WorkAreaCode" type="hidden" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">作业人员</td>
            <td class="formValue" colspan="4">
                <input id="WorkUserNames" type="text" class="form-control" placeholder="请双击选择作业人员" ondblclick="chooseUser()" />
                <input type="hidden" id="WorkUserIds" value="" />
            </td>
            <td>
                <a id="btn_more" class="btn btn-primary" href="javascript:showmore();"><i class="fa fa-check"></i>&nbsp;更&nbsp;&nbsp;多</a>
            </td>
        </tr>
        <tr>
            <td class="formTitle">作业地点</td>
            <td class="formValue" colspan="5">
                <textarea id="WorkPlace" class="form-control" style="min-height: 30px;" maxlength="200"></textarea>
            </td>
        </tr>
        <tr>
            <td class="formTitle">作业项目(内容)</td>
            <td class="formValue" colspan="5">
                <textarea id="WorkContent" class="form-control" style="min-height: 80px;" maxlength="500"></textarea>
            </td>
        </tr>
    </table>
</div>
<div class="modal" id="QdModal">
    <div class="modal-dialog" style="width: 300px; margin-top: 100px;">
        <div class="modal-content" style="text-align: center;">
            <div class="modal-header">
                <h5>作业人员</h5>
            </div>
            <div class="modal-body" id="modalBody">
            </div>
            <div class="modal-footer">
                <button id="btnModal" type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
