@using ERCHTMS.Busines.OccupationalHealthManage
@{
    ViewBag.Title = "用户管理";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script type="text/javascript">
    var _parentId = "";
    var _isOrg = "";
    var _deptId = "";
    var deptCode = request("deptCode");
    var mode = request("mode");
    var pType = request("pType");
    var pMode = request("pMode");
    var datatype = request("dataType");
    var score = "";
    var issj = true;
    $(function () {
        InitialPage();
        GetTree();
        GetGrid();
    });
    //初始化页面
    function InitialPage() {
        
        //resize重设(表格、树形)宽高
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $("#gridTable").setGridHeight($(window).height() - 210);
                $("#itemTree").setTreeHeight($(window).height()-55);
            }, 200);
            e.stopPropagation();
        });
        if (!!pType) {
            $("#userType").val("安全管理人员");
        }
    }

    //加载组织机构树
    function GetTree() {
        var json = JSON.stringify(
            {
                SelectMode: 0,
                Mode: 400
            }
        );
        var item = {
            height: $(window).height() - 53,
            url: "../../BaseManage/Department/GetDepartTreeJson?json=" + json,
            onnodeclick: function (item) {
                _parentId = item.value;
                _isOrg = item.Sort;
                _deptId = item.id;
                $('#btn_Search').trigger("click");
            }
        };
        //初始化
        $("#itemTree").treeview(item);
        if ($("#itemTree").html().length == 0) {
            $(".ui-layout-west").hide();
            $('.ui-layout-center').css({ "padding-left": "5px" });
            $('#gridTable').setGridWidth(($('.gridPanel').width()));
            $("#gridTable").setGridHeight($(window).height() - 200);
        } else {
            $('#layout').layout({
                applyDemoStyles: false,
                onresize: function () {
                    $(window).resize()
                }
            });
        }
    }

    //加载表格
    function GetGrid() {
      
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            url: "../../PersonManage/Person/GetGXhsPageListJson",
            postData: {queryJson: JSON.stringify({departmentCode: deptCode}) },
            datatype: "json",
            height: $(window).width()>1333?$(window).height() - 210:$(window).height()-310,
            autowidth: true,
            colModel: [
                { label: '主键', name: 'userid', hidden: true },
            
                { label: '', name: 'deptcode', hidden: true },
                { label: '', name: 'organizecode', hidden: true },
                {
                    label: '操作', name: 'Oper', width: 80, align: 'center', sortable: false
                },
                { label: '账号', name: 'account', width: 100, align: 'center'},
                {
                    label: '姓名', name: 'realname', index: 'RealName', width: 100, align: 'center'
                },
                {
                    label: '性别', name: 'gender', index: 'Gender', width: 45, align: 'center'
                },
                {
                    label: '身份证号', name: 'identifyid', width: 140, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue != null) {
                            var value = cellvalue.toString();
                            var sta = value.substring(0, 4);
                            var end = value.substring(value.length - 4, value.length);
                            return sta + "**********" + end;
                        } else {
                            return "";
                        }
                        return cellvalue;


                    }
                },
                { label: '手机', name: 'mobile', index: 'Mobile', width: 90, align: 'center' },
                {
                    label: '单位', name: 'organizename', index: 'OrganizeName', width: 120, align: 'center'

                },
                {
                    label: '部门', name: 'deptname', index: 'DeptName', width: 180, align: 'center'

                },
                { label: '岗位', name: 'dutyname', index: 'DutyName', width: 120, align: 'center' },
                {
                    label: '创建时间', name: 'createdate', index: 'createdate', width: 120, align: 'center'
                    
                }
            ],
            viewrecords: true,
            rowNum: 30,
            multiboxonly: true,
            multiselect: true,
            pager: "#gridPager",
            sortname: 'createdate desc,userid',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: true,
            gridview: true,
            userdata: "userdata",
            onSelectRow: function () {
                selectedRowIndex = $("#" + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                if (issj) {
                    $gridTable.hideCol("score");
                    $gridTable.setGridWidth($(".center-Panel").width());
                }
                $("#" + this.id).setSelection(selectedRowIndex, false);
                var rows = $gridTable.jqGrid("getRowData");//获取当前页记录行数据
                //查询用户对该模块的数据操作权限
                $.post(top.contentPath + "/AuthorizeManage/PermissionJob/GetDataAuthority", { __RequestVerificationToken: $("input[name='__RequestVerificationToken']").val() }, function (data) {
                    var jsonArr = eval("(" + data + ")");
                    $(rows).each(function (i, item) {
                        var uId = item.userid;
                        var dCode = item.deptcode; //获取记录创建人的所属部门Code
                        var oCode = item.organizecode;  //获取记录创建人的所属机构Code
                        var btns = $("td[aria-describedby='gridTable_Oper']").eq(i).children();//获取操作列中定义的操作按钮
                        var html = "";
                        //如果操作列中没有定义任何按钮则根据系统权限设置自动绑定操作按钮
                        if (btns.length == 0) {
                            $(jsonArr).each(function (j, item1) {
                                var authType = parseInt(item1.authorizetype);//获取数据操作权限范围.1：本人,2：本部门，3：本部门及下属部门，4：本机构，5：全部

                                var str = rows[i].istransfer;
                                if (str == "1") {//如果是转出岗则标黄
                                    $('#' + (i + 1)).find("td").css("background-color", "#ffd800");
                                    html = "<a href=\"javascript:showTransfer('" + uId + "')\" title=\"查看转岗\"><i class=\"fa fa-eye\"></i></a>";
                                    //如果标黄则跳过按钮设置
                                    return true;
                                } else {
                                    //$('#' + (i + 1)).find("td").css("background-color", "#ffffff");
                                }


                                switch (authType) {
                                    //本用户
                                case 1:
                                    if (top.currUserId == uId) {
                                        html += "<a href=\"javascript:" + item1.actionname + "('" + uId + "')\" title=\"" + item1.fullname + "\"><i class=\"" + item1.faimage + "\"></i></a>";
                                    }
                                    break;
                                //本部门
                                case 2:
                                    if (top.currUserDeptCode == dCode) {
                                        html += "<a href=\"javascript:" + item1.actionname + "('" + uId + "')\" title=\"" + item1.fullname + "\"><i class=\"" + item1.faimage + "\"></i></a>";
                                    }
                                    break;
                                //本子部门
                                case 3:
                                    if (dCode.indexOf(top.currUserDeptCode) >= 0) {
                                        html += "<a href=\"javascript:" + item1.actionname + "('" + uId + "')\" title=\"" + item1.fullname + "\"><i class=\"" + item1.faimage + "\"></i></a>";
                                    }
                                    break;
                                //本机构
                                case 4:
                                    if (oCode == top.currUserOrgCode) {
                                        html += "<a href=\"javascript:" + item1.actionname + "('" + uId + "')\" title=\"" + item1.fullname + "\"><i class=\"" + item1.faimage + "\"></i></a>";
                                    }
                                    break;
                                case 5:
                                    html += "<a href=\"javascript:" + item1.actionname + "('" + uId + "')\" title=\"" + item1.fullname + "\"><i class=\"" + item1.faimage + "\"></i></a>";
                                    break;
                                }


                            });

                            $("td[aria-describedby='gridTable_Oper']").eq(i).html(html);
                        } else {

                            html = "";
                            //遍历用户对该模块的数据操作权限
                            $(jsonArr).each(function (j, item1) {
                                html += item1.encode + ",";
                                var authType = item1.authorizetype;//获取数据操作权限范围.1：本人,2：本部门，3：本部门及下属部门，4：本机构，5：全部
                                switch (authType) {
                                    //本用户
                                case 1:
                                    if (top.currUserId != uId) {
                                        $(btns).find("a[name='" + item1.itemcode + "']").remove();
                                    }
                                    break;
                                //本部门
                                case 2:
                                    if (top.currUserDeptCode != dCode) {
                                        $(btns).find("a[name='" + item1.itemcode + "']").remove();
                                    }
                                    break;
                                //本子部门
                                case 3:
                                    if (dCode.indexOf(top.currUserDeptCode) < 0) {
                                        $(btns).find("a[name='" + item1.itemcode + "']").remove();
                                    }
                                    break;
                                //本机构
                                case 4:
                                    if (oCode != top.currUserOrgCode) {
                                        $(btns).find("a[name='" + item1.itemcode + "']").remove();
                                    }
                                    break;
                                }
                            });

                            $(btns).each(function (j, dom) {
                                if (html.indexOf(dom.attr("name")) < 0) {
                                    $(dom).remove();
                                }
                            });
                        }

                    });
                });
              
            }
        });
        //$gridTable.authorizeColModel()
        //查询条件
        $("#queryCondition .dropdown-menu li").click(function () {
            var text = $(this).find('a').html();
            var value = $(this).find('a').attr('data-value');
            $("#queryCondition .dropdown-text").html(text).attr('data-value', value)
        });
        //查询事件
        $("#btn_Search").click(function () {
            var queryJson = {
                condition: $("#queryCondition").find('.dropdown-text').attr('data-value'),
                keyword: $.trim($("#txt_Keyword").val()),
                code: _parentId,
                isOrg: _isOrg
            }
            $gridTable.jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify(queryJson) }, page: 1
            }).trigger('reloadGrid');
        });
        $("#btn_SearchAll").click(function () {
            $("#txt_Keyword").val("");
            var queryJson = {
                condition: '',
                keyword: '',
                code: _parentId,
                isOrg: _isOrg
            }
            $gridTable.jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify(queryJson) }, page: 1
            }).trigger('reloadGrid');
        });
        //查询回车
        $('#txt_Keyword').bind('keypress', function (event) {
            if (event.keyCode == "13") {
                $('#btn_Search').trigger("click");
            }
        });
    }

    //查看
    function show(id) {
        var keyValue = id;
        if (checkedRow(keyValue)) {
            var dlg = dialogOpen({
                id: "Form",
                title: '查看人员档案',
                url: '/PersonManage/Person/Form?action=show&keyValue=' + keyValue,
                width: ($(top.window).width() - 100) + "px",
                height: ($(top.window).height() - 100) + "px",
                btn: ["导出", "关闭"],
                callBack: function (iframeId) {
                    var score = $($("#gridTable").jqGridRowValue("score")).text();
                    window.location.href = "../PersonManage/Person/ExportUserInfo?userId=" + keyValue + "&score=" + score;
                    //top.layer.close(dlg);
                }
            });
        }
    }
    //编辑
    function edit(id) {
        var keyValue = id;
        if (checkedRow(keyValue)) {
            top.layer.open({
                type: 2,
                id: "Form",
                title: '修改人员档案',
                content: top.contentPath + '/PersonManage/Person/Form?keyValue=' + keyValue,
                area: [($(top.window).width() - 100) + "px", ($(top.window).height() - 100) + "px"],
                btn: ["保存","关闭"],
                yes: function (iframeId, idx) {
                    top.Form.AcceptClick();
                }
                , complate: function () {

                }
                , btn2: function (idx) {
                    return true;
                }
            });
        }
    }
    //删除
    function del(id) {
        var keyValue = id;
        if (keyValue) {
            $.RemoveForm({
                url: "../../PersonManage/Person/RemoveForm",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#gridTable").trigger("reloadGrid");
                }
            })
        } else {
            dialogMsg('请选择需要删除的记录！', 0);
        }
    }
    //获取域用户
    function syncUsers() {
        var accounts = $("#gridTable").jqGridRowValue("account");
        if (accounts.length == 0) {
            accounts = $.trim($("#txt_Keyword").val());
        }
        top.Loading(true, "正在请求,请稍候……");
        $.post("http://" + window.location.host + "/gxhsapp/api/directory/syncuser", { accounts: accounts }, function (data) {
            top.Loading(false);
            alert(JSON.stringify(data));
        });
    }
    //查询域用户
    function queryUser() {

        var accounts = $.trim($("#txt_Keyword").val());
        if (accounts.length == 0) {
            dialogAlert("请填写账号！");
            return false;
        } else {
            top.Loading(true, "正在请求,请稍候……");
            $.post("http://" + window.location.host + "/gxhsapp/api/directory/queryuser", { accounts: accounts }, function (data) {
                top.Loading(false);
                alert(JSON.stringify(data));
            });
        }
    }
 </script>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-west">
        <div class="west-Panel">
            <div class="panel-Title">
                <div class="col-md-10">
                    组织机构
                </div>
                <div class="col-md-2 text-right" style="padding-right:8px;">
                    <i class="fa fa-arrow-left" onclick="setBar(this)" style="cursor:pointer;" title="展开/收起"></i>
                </div>
            </div>
            <div id="itemTree"></div>
        </div>
    </div>
    <div class="ui-layout-center">
        <div class="center-Panel">
            <div class="panel-Title">人员列表</div>
            <div class="titlePanel">
                <div class="title-search">
                    <table>
                        <tr>
                            <td>
                                <div id="queryCondition" class="btn-group">
                                    <a class="btn btn-default dropdown-text" data-toggle="dropdown" aria-expanded="false" data-value="RealName">姓名</a>
                                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a data-value="RealName">姓名</a></li>
                                        <li><a data-value="Account">账号</a></li>
                                        <li><a data-value="Mobile">手机号</a></li>
                                        <li><a data-value="DeptName">部门</a></li>
                                        <li><a data-value="identifyid">身份证号</a></li>
                                    </ul>
                                </div>
                            </td>
                            <td style="padding-left: 2px;">
                                <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入关键字" style="width: 100px;" />
                            </td>
                            <td style="padding-left: 2px;">
                                <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;查询</a>
                                <a id="btn_SearchAll" class="btn btn-primary"><i class="fa fa-search-plus"></i>&nbsp;全部</a>
                            </td>
                           
                        </tr>
                    </table>

                </div>
                <div class="toolbar" style="margin-left:10px; margin-bottom:5px;">
                    <div class="btn-group">
                        <a class="btn btn-default" onclick="reload();"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
                        <a class="btn btn-default" onclick="syncUsers()"> <i class="fa fa-text-height"></i> &nbsp;获取(更新)域用户</a>
                    </div>
                    @*<script>$('.toolbar').authorizeButton()</script>*@
                </div>
            </div>
            

            <div class="gridPanel">

                <table id="gridTable"></table>
                <div id="gridPager"></div>
            </div>

        </div>
    </div>
</div>







