@{
    ViewBag.Title = "BuilderImage";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script type="text/javascript">
    function AcceptClick() {
        Loading(true, "正在生成……");
        $.post("BuilderImg", { userId: $.currentIframe().window.$("#gridTable").jqGridRowValue("userid"), userName: $.currentIframe().window.$("#gridTable").jqGridRowValue("username") }, function (data) {
            Loading(false);
            var json = eval("("+data+")");
            window.location.href = "../../Utility/DownloadFile?filePath=~/Resource/temp/" + json.resultdata.fileName;
        });
    }
    $(function () {
        var userIds = $.currentIframe().window.$("#gridTable").jqGridRowValue("userid");
        var userNames = $.currentIframe().window.$("#gridTable").jqGridRowValue("username");
        var arrIds = userIds.split(",");
        var arrNames = userNames.split(",");
        var html = "";
        $(arrIds).each(function (i, id) {
            var j = i + 1;
            if (j % 6 == 0) {
                html += "<div class='row'>";
            }
            html += '<div class="col-sm-2" style="text-center:center;"><img src="' + top.contentPath + '/Utility/BuilderImage?keyValue=' + id + '|人员" /><div style="text-align:center;">' + arrNames[i] + '</div></div>';
            if (j % 6 == 0) {
                html += "</div>";
            }
        });
        $("#container").append(html);
    });
</script>
 <div id="container" style="margin:10px;">
 </div>