@{
    ViewBag.Title = "Stat";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<style type="text/css">
    th {
        height: 25px;
    }
    .red{
        color:red;
    }
    .blue {
        color: blue;
    }
</style>
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        initData();
    });
    function initData() {
        $("#con").html('<center style="margin-top: 50px;color:white;color:black;font-size:16px;"><img src="../../content/images/loading1.gif" border="0" />&nbsp;请稍候，正在加载数据……</center>');
        $.get("GetWBUserStat",{deptName:$.trim($("#txtDept").val()),deptType:$("#selType").val()}, function (data) {
            var json = $.parseJSON(data);
            var html = "";
            
            $(json.data).each(function (j, item) {
                html += '<div class="panel panel-default"><div class="panel-heading" style="background-color:white;"><strong>' + j+ "." + item.deptName + '</strong><span class="tools pull-right"><b>实际人数：' + item.count + '人</b>&nbsp;&nbsp;&nbsp;&nbsp;<a class="fa fa-chevron-down" title="展开/收起"></a>';
                html += '</span><div class="panel-body">';
                html += setTableInfo(item.rows);
                html += "</div></div></div>";
            });
            $("#con").html(html);

            jQuery('.panel .tools .fa-chevron-down').click(function () {
                var el = jQuery(this).parent().parent().children(".panel-body");
                if (jQuery(this).hasClass("fa-chevron-down")) {
                    jQuery(this).removeClass("fa-chevron-down").addClass("fa-chevron-up");
                    el.slideUp(200);
                } else {
                    jQuery(this).removeClass("fa-chevron-up").addClass("fa-chevron-down");
                    el.slideDown(200);
                }
            });
            $(".fa-chevron-down:gt(0)").trigger("click");
        });
    }
    //查看
    function show(id) {
        var keyValue = id;
        if (checkedRow(keyValue)) {
            var dlg = dialogOpen({
                id: "Form",
                title: '查看人员档案',
                url: '/PersonManage/Person/Form?action=show&keyValue=' + keyValue,
                width: "900px",
                height: ($(top.window).height() - 100) + "px",
                btn: ["关闭"],
                callBack: function (iframeId) {
                    top.layer.close(dlg);
                }
            });
        }
    }
    function refreshData() {
        $("#txtDept").val("");
        $("#selType").val("");
        initData();
    }
    function setTableInfo(data) {
        var html = '<table cellpadding="0" cellspacing="0" class="table1" border="1" style="width:100%; "><tr><td rowspan="2">单位名称</td><td rowspan="2">合同人数（人）</td><td rowspan="2">实际人数（人）</td><td rowspan="2">缺员（人）</td><td rowspan="2">平均年龄（岁）</td><td colspan="3">地域结构统计</td><td colspan="3">性别统计</td><td colspan="3">年龄统计</td><td colspan="3">文化统计</td><td colspan="3">用工方式统计</td><td rowspan="2">未核验</td></tr>';
        html += '<tr><td>地域结构</td><td>人数</td><td>占比</td><td>性别</td><td>人数</td><td>占比</td><td>年龄</td><td>人数</td><td>占比</td><td>文化程度</td><td>人数</td><td>占比</td><td>用工方式</td><td>人数</td><td>占比</td></tr>';
        var len = data.length;
        $(data).each(function (j, item) {
            if(j==0){
                html += '<tr><td rowspan="' + len + '" >' + item.unitname + '</td><td rowspan="' + len + '" >' + item.sum + '</td><td rowspan="' + len + '">' + item.total + '</td><td rowspan="' + len + '" class="' + (parseInt(item.lack) < 0 ? "red" : "") + '">' + item.lack + '</td><td rowspan="' + len + '">' + item.avgage + '</td><td style="text-align:left">' + item.area + '</td><td>' + item.pcount + '</td><td>' + item.ratio + '</td><td>' + (item.sex == null ? "" : item.sex) + '</td><td>' + (item.sexcount == null ? "" : item.sexcount) + '</td><td>' + (item.sexratio == null ? "" : item.sexratio) + '</td><td>' + item.agerange + '</td><td>' + item.agecount + '</td><td>' + item.ageratio + '</td><td>' + item.xl + '</td><td>' + item.xlcount + '</td><td>' + item.xlratio + '</td><td>' + item.yg + '</td><td>' + item.ygcount + '</td><td>' + item.ygratio + '</td><td>' + (item.status == null ? "" : item.status) + '</td></tr>';
            } else {
                html += '<tr><td style="text-align:left">' + item.area + '</td><td>' + item.pcount + '</td><td>' + item.ratio + '</td><td>' + (item.sex == null ? "" : item.sex) + '</td><td>' + (item.sexcount == null ? "" : item.sexcount) + '</td><td>' + (item.sexratio == null ? "" : item.sexratio) + '</td><td>' + (item.agerange == null ? "" : item.agerange) + '</td><td>' + (item.agecount == null ? "" : item.agecount) + '</td><td>' + (item.ageratio == null ? "" : item.ageratio) + '</td><td>' + (item.xl == null ? "" : item.xl) + '</td><td>' + (item.xlcount == null ? "" : item.xlcount) + '</td><td>' + (item.xlratio == null ? "" : item.xlratio) + '</td><td>' + (item.yg == null ? "" : item.yg) + '</td><td>' + (item.ygcount == null ? "" : item.ygcount) + '</td><td>' + (item.ygratio == null ? "" : item.ygratio) + '</td><td>' + (item.status == null ? "" : item.status) + '</td></tr>';
            }
        });
        html += "</table>";
        return html;
    }
    function selUnit() {
        selectDept('', 0, "88&type="+$("#selType").val(), '选择部门', window.document.body, 'txtDept,deptId', $('#deptId').val());
    }
    function expData() {
        window.location.href = "ExportWBStat?deptName=" + $("#txtDept").val() + "&deptType=" + $("#selType").val();
    }
</script>
<div>
    <div class="row">
        <div id="info" style="padding-left: 10px; font-weight: bold; font-size: 16px; position: fixed; left: 10px; top: 0px; width: 80%; text-align: left; background-color: #f5f5f5; z-index: 10001; padding-top: 5px; ">
            <table>
                <tr>
                    <td>单位名称：</td>
                    <td>
                       <div class="input-group" style="width:100%;">
                           <input type="text" class="form-control" id="txtDept" style="width:200px;" /><span id="ChooseRiskDesc" class="input-group-addon" onclick="selUnit();" title="选择单位"><i class="fa fa-check"></i></span> 
                           <input type="hidden" id="deptId" />
                       </div>
                    </td>
                    <td style="padding-left:10px;">单位类型：</td>
                    <td>
                           <select class="form-control" id="selType" style="width:100px;"><option value=""></option><option value="长协" selected="selected">长协</option><option value="临时">临时</option></select>
                    </td>
                    <td style="padding-left:10px;">
                        <a class="btn btn-primary" onclick="initData()">查询</a>
                    </td>
                </tr>
            </table>
          
        </div>
        <div style="position: fixed; right: 8px; top: 0px; width: 20%; text-align: right; background-color: #f5f5f5; z-index: 1000;padding-top:5px;">
            <a class="btn btn-primary" onclick="refreshData()">刷新</a>&nbsp;&nbsp;&nbsp;<a class="btn btn-primary" onclick="expData()">导出</a>
        </div>
    </div>

    <div id="con" style="margin-top:30px;">

    </div>
</div>
