<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--框架必需start-->

    <script src="~/Content/scripts/jquery/jquery-1.10.2.min.js"></script>
    @System.Web.Optimization.Styles.Render(
    "~/Content/scripts/plugins/tree/css",
    "~/Content/scripts/plugins/wizard/css",
            "~/Content/styles/framework-ui.css")
    @System.Web.Optimization.Scripts.Render(
    "~/Content/scripts/plugins/tree/js",
    "~/Content/scripts/plugins/validator/js",
    "~/Content/scripts/utils/js")
    <script type="text/javascript">
        $(function () {
            initControl();
        })
        //初始化控件
        function initControl() {
            $("#OrganizeId").ComboBoxTree({
                url: top.contentPath + "/BaseManage/Organize/GetTreeJson",
                description: "==请选择==",
                height: "200px"
            });
        }
        //保存表单
        function AcceptClick() {
            if ($("#file1").val().length > 0) {
                var dlg = dialogConfirm("确定导入吗？", function (isSure) {
                    if (isSure) {
                        var orgId = $("#OrganizeId").attr("data-value") == undefined ? "" : $("#OrganizeId").attr("data-value");
                        var fieldName = document.getElementById("rad0").checked ? "EnCode" : "Account";
                        top.layer.close(dlg);
                        $("#form2").attr("action", "ImportUserEncode?orgId=" + orgId + "&fieldName=" + fieldName);
                        top.window.$(".layui-layer-btn0").hide();

                        $.currentIframe().window.isImport = true;
                        Loading(true, "请稍候,正在导入数据……");
                        $("#form2").trigger("submit");
                    }

                });
            }
            else {
                dialogMsg("请选择文件！", 2);
            }
        }
    </script>
</head>

<body>

    <form method="post" action="ImportUserEncode" enctype="multipart/form-data" id="form2">
        <div class="row" style="margin:10px;">
            <div class="col-sm-12" style="margin-bottom:5px;">
                @*<strong>注：请上传指定格式的excel文件. <a target="_blank" href="../../Resource/ExcelTemplate/人员信息_导入模板.xlsx" id="temp" style="color:blue; text-decoration:underline;">点击下载模板</a></strong>*@
            </div>
            <div>
                <table class="form">
                    <tr>
                        <td class="formTitle">单位：</td>
                        <td class="formValue">
                            <div id="OrganizeId" type="selectTree" class="ui-select" isvalid="yes" checkexpession="NotNull">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">更新字段：</td>
                        <td class="formValue">
                            <input type="radio" value="EnCode" id="rad0" name="rad" checked="checked" /><label for="rad0">人员编号/工号</label>
                            <input type="radio" value="Account" id="rad1" name="rad" /><label for="rad1">账号</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">选择文件：</td>
                        <td class="formValue">
                            <input type="file" id="file1" name="file1" class="form-control" />
                            <input type="hidden" id="FileName" name="FileName" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
</body>
</html>
