@{
    ViewBag.Title = "Leave";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script type="text/javascript" src="~/content/scripts/business/common.js"></script>
<script type="text/javascript">
    var keyValue = request('keyValue');
    var Id = request('Id');
    var Name = request('Name');
    var Time = request('Time');
    var Reason = request('Reason');

    $(function () {
        initControl();
    });

    //初始化控件
    function initControl() {
        $("#UserId").val(Id);
        $("#UserName").val(Name);
        $("#LeaveTime").val(Time);
        if (Reason != null) {
            $("#DepartureReason").val(Reason);
        }



    }
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }


        $.SaveForm({
            url: "../../PersonManage/Person/EditLeave?leaveTime=" + $("#LeaveTime").val(),
            param: { userId: $("#UserId").val(), DepartureReason: $("#DepartureReason").val() },
            loading: "正在处理...",
            success: function (data) {
                $.currentIframe().window.$("#gridTable").trigger("reloadGrid");
            }
        });




    }
</script>
<div style="margin-top: 20px; margin-right: 10px;">
    <div class="row">
        <div class="col-sm-4 control-label">离厂人员<font face="宋体" style="color:red;">*</font>：</div>
        <div class="col-sm-8" id="form1">
            <div class="input-group">
                <textarea id="UserName" class="form-control" isvalid="yes" checkexpession="NotNull" rows="2" readonly="readonly"></textarea>
                <input type="hidden" id="UserId" />
                <span id="userselect" class="input-group-addon">...</span>
            </div>

        </div>
    </div>
    <div class="row" style="margin-top:10px;">
        <div class="col-sm-4 control-label">离厂时间<font face="宋体" style="color:red;">*</font>：</div>
        <div class="col-sm-8" id="form1">
            <input id="LeaveTime" type="text" class="form-control input-wdatepicker" value="@DateTime.Now.ToString("yyyy-MM-dd")" onfocus="WdatePicker()" isvalid="yes" checkexpession="NotNull" />

        </div>
    </div>
    <div class="row" style="margin-top:10px;">
        <div class="col-sm-4 control-label">离厂原因：</div>
        <div class="col-sm-8" id="form1">
            <input id="DepartureReason" type="text" class="form-control" maxlength="200" />

        </div>
    </div>
</div>
