@{
    ViewBag.Title = "Stat";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script type="text/javascript">
    $(function () {
        $.get("GetStatInfo", function (data) {
            var arr = eval(data);
            var html = "";
            $(arr).each(function (j,item) {
                html += "<tr>";
                html += "<td style='text-align:center;'>" + (j+1) + "</td>";
                var idx=item.length-1;
                $(item).each(function (i, num) {
                    if (i<item.length-2) {
                       if (i== 0) {
                         html += "<td style='text-align:left;'>" + num + "</td>";
                       } else {
                           if ((i == 1 || i == 2 || i == 4 || i == 6 || i == 8)) {
                               if (num>0) {
                                   html += "<td><a onclick=show('" + item[idx-1] + "',"+i+",'"+item[0].replace(/&nbsp;/g,"")+"',"+item[idx]+") style='text-decoration:underline;cursor:pointer;'>" + num + "</a></td>";
                               }else{
                                 html += "<td>" + num + "</td>";
                               }
                              
                           }else{
                               html += "<td>" + num + "</td>";
                           }
                         
                       }
                    }
                  
                });
                html += "</tr>";
            });
            $(".table1").append(html);
        });
    });
    function show(deptCode, mode, name, type) {
     
        if (mode == 1) {
            top.tablist.newTab({ id: "ea93dc6b-83fc-4ac2-a1b7-56ef6909445c", closed: true, url: "../PersonManage/Person/Index?deptCode=" + deptCode+"&dataType="+type, title: "人员档案" });
        }
        if(mode==2){
            top.tablist.newTab({ id: "ea93dc6b-83fc-4ac2-a1b7-56ef6909445c", closed: true, url: "../PersonManage/Person/Index?deptCode=" + deptCode + "&pType=" + encodeURIComponent("安全管理人员") + "&dataType=" + type, title: "人员档案" });
        }
        if (mode == 4) {
            top.tablist.newTab({ id: "d6046063-9e91-43c6-9cd2-414ca0593b93", closed: true, url: "../PersonManage/Person/List?mode=1&deptCode=" + deptCode + "&dataType=" + type, title: "特种作业人员" });
        }
        if (mode == 6) {
            top.tablist.newTab({ id: "d6046063-9e91-43c6-9cd2-414ca0593b93", closed: true, url: "../PersonManage/Person/List?mode=2&deptCode=" + deptCode + "&dataType=" + type, title: "特种设备作业人员" });
        }
        if (mode == 8) {
            top.tablist.newTab({ id: "d6046063-9e91-43c6-9cd2-414ca0593b93", closed: true, url: "../PersonManage/Blacklist/Index?mode=3&deptCode=" + deptCode + "&dataType=" + type, title: "黑名单人员" });
        }
    }
</script>
<div>
    <table cellpadding="0" cellspacing="0" class="table1" border="1" style="width:100%; ">
        <tr style="font-weight: bold; height:35px;">
            <td style="width: 80px;" align="center" rowspan="2">序号</td>
            <td style="width: 150px;" align="center" rowspan="2">单位</td>
            <td align="center" rowspan="2">在职(厂)人员总数</td>
            <td style="width: 70px;" align="center" colspan="2">安全管理人员</td>
            <td style="width: 60px;" align="center" colspan="2">特种作业人员</td>
            <td align="center" style="width: 110px;" colspan="2">特种设备作业人员</td>
            @*<td align="center" style="width: 200px;" colspan="2">离场人员</td>*@
            <td style="width: 150px;" align="center" colspan="2">黑名单</td>
        </tr>
        <tr style="font-weight: bold; height:35px;">
            <td style="width: 40px;" align="center" >人数</td>
            <td align="center">占本单位员工总数比例(%)</td>
            <td style="width: 40px;" align="center">人数</td>
            <td align="center" ">占本单位员工总数比例(%)</td>
            <td style="width: 40px;" align="center">人数</td>
            <td align="center">占本单位员工总数比例(%)</td>
            @*<td style="width: 40px;" align="center">人数</td>
            <td align="center">占本单位员工总数比例</td>*@
            <td style="width: 40px;" align="center">人数</td>
            <td align="center">占本单位员工总数比例(%)</td>
        </tr>
    </table>
</div>
