@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
<script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/common.js"></script>
<script src="~/Content/scripts/business/Grid.js"></script>
<!--webUploader文件上传组件-->
<link href="~/content/scripts/plugins/webuploader/webuploader.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/webuploader/webuploader-demo.css" rel="stylesheet" />
<script type="text/javascript" src="~/content/scripts/plugins/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/fileupload.js"></script>
<script>
    var keyValue = request('keyValue');
    var keyValuedeal = request('keyValuedeal');
    var type = request('type');
    var action = request('action');
    var checkWay = "";
    var checkDanger = "";
    var Jbtzb = "@Guid.NewGuid().ToString()";
    var Aqpgbg = "@Guid.NewGuid().ToString()";
    var Aqjc = "@Guid.NewGuid().ToString()";
    var Xgfj = "@Guid.NewGuid().ToString()";
    var checkWay = "";
    function loadGrid() {
        //辨识分级记录
        var arrBS = new Array();
        arrBS.push({
            label: '辨识分级记录', name: "dangersource", align: 'center', formatter: function (cellvalue, options, rowObject) {
                return (cellvalue == null ? "" : cellvalue) + "辨识分级记录";

            }
        }
        );
        arrBS.push({
            label: '操作', name: "id", align: 'center', formatter: function (cellvalue, options, rowObject) {

                var html = "<a href=javascript:dialogShowContent('辨识分级记录',$('#divBS').html()) style='color:blue; text-decoration:underline'  title='辨识分级记录'><i class='fa fa-eye'></i></a>";
                return html;
            }
        });

        GetGrid($("#gridTableBS"), arrBS, "80px");
        //安全技术说明书
        var arrSMS = new Array();
        arrSMS.push(
                {
                    label: 'id', name: "id", align: 'center', hidden: true
                },
               {
                   label: '安全技术说明书', name: "name", align: 'center', formatter: function (cellvalue, options, rowObject) {
                       return cellvalue;

                   }
               }
             );
        if (action != "show") {
            arrSMS.push({
                label: '操作', name: 'sms', index: 'sms', align: 'center', sortable: true, width: 50,
                formatter: function (cellvalue, options, rowObject) {
                    var html = "<a href=javascript:delSMS()  title='删除'><i class='fa fa-trash-o'></i></a>";
                    //return html + '<a href="../../HazardsourceManage/Djjd/DownloadFile?keyValue=-1&filename=' + rowObject.name + '.doc"  style="cursor:pointer" title="下载文件"><i class="fa fa-download"></i></a>';
                    return html + '<a href="../../HazardsourceManage/Djjd/DownloadFileForKeyValue?keyValue=' + rowObject.id + '" style="cursor:pointer" title="下载文件"><i class="fa fa-download"></i></a>';

                }
            });
        }
        GetGrid($("#gridTableSMS"), arrSMS, "250px");
        //重大危险源事故应急预案、评审意见、演练计划和评估报告
        var arrEmergencyPlatform = new Array();

        arrEmergencyPlatform.push(
           {
               label: 'id', name: "id", align: 'center', hidden: true
            },
                  {
                      label: 'files', name: "files", align: 'center', hidden: true
                  },
          {
              label: '项目', name: "name",index:"name", align: 'center', formatter: function (cellvalue, options, rowObject) {
                  return cellvalue;

              }
          }, {
              label: '文件', name: "filesname", align: 'center', formatter: function (cellvalue, options, rowObject) {
                  var html = cellvalue;
                  if (rowObject.files == "" && action != "show")
                      html = "<a href=javascript:selEPF('" + rowObject.name + "')  title='选择'><i class='fa fa-hand-spock-o'>选择</i></a>";
                  return html;
              }
          });
        if (action != "show") {
            arrEmergencyPlatform.push(
           {
               label: '操作', name: 'Operfiles', index: 'Operfiles', align: 'center', sortable: true, width: 50,
               formatter: function (cellvalue, options, rowObject) {
                   if (cellvalue == "")
                       return "无";
                   var html = "<a href=javascript:delEPF()  title='删除'><i class='fa fa-trash-o'></i></a>";
                   return html + '<a href="../../HazardsourceManage/Djjd/DownloadFileForKeyValue?keyValue=' + rowObject.files + '" style="cursor:pointer" title="下载文件"><i class="fa fa-download"></i></a>';
               }
           });
        }
        //绑定grid列表信息
        GetGrid($("#gridTableEmergencyPlatform"), arrEmergencyPlatform, "180px");
        //重大危险源安全管理制度及安全操作规程
        var arrGLZD = new Array();

        arrGLZD.push(
           {
               label: 'id', name: "id", align: 'center', hidden: true
           },
                      {
                          label: 'files', name: "files", align: 'center', hidden: true
                      },
          {
              label: '项目名称', name: "name",index:"name", align: 'center', formatter: function (cellvalue, options, rowObject) {
                  return cellvalue;

              }
          }, {
              label: '文件', name: "filesname", align: 'center', formatter: function (cellvalue, options, rowObject) {
                  var html = cellvalue;
                  if (rowObject.files == "" && action != "show")
                      html = "<a href=javascript:selGLZD('" + rowObject.name + "')  title='选择'><i class='fa fa-hand-spock-o'>选择</i></a>";
                  return html;
              }
          });
        if (action != "show") {
            arrGLZD.push(

           {
               label: '操作', name: 'Operfiles', align: 'center', sortable: true, width: 50,
               formatter: function (cellvalue, options, rowObject) {
                   if (cellvalue == "")
                       return "无";
                   var html = "<a href=javascript:delGLZD()  title='删除'><i class='fa fa-trash-o'></i></a>";
                   return html + '<a href="../../HazardsourceManage/Djjd/DownloadFileForKeyValue?keyValue=' + rowObject.files + '" style="cursor:pointer" title="下载文件"><i class="fa fa-download"></i></a>';
               }
           });
        }
        GetGrid($("#gridTableGLZD"), arrGLZD, "100px");
    }



    $(function () {
        loadGrid()

        initControl();

        if (action == "show") {
            $(".titlePanel").hide();
            $("input").attr("readonly", "readonly");
            $("input").attr("disabled", "disabled");
            $("div").attr("disabled", "disabled");
            $("select").attr("disabled", "disabled");
            $("textarea").attr("disabled", "disabled");
        }
    });


    //弹框
    function dialogShowContent(title, content) {
        if (checkWay != "DEC")
            content = $("#divBS2").html();
        var idx = dialogContent({
            id: "win1",
            title: title,
            //btns: 2,
            btn: ["导出", "取消"],
            content: content,
            width: "600px",
            height: "600px",
            callBack: function (iframeId) {
                exportData();
            }
        });

    }



    //初始化控件
    function initControl() {
        //获取表单(危险源清单)
        if (!!keyValue) {
            $.SetForm({
                url: "../../HazardsourceManage/Hazardsource/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                    //
                    var row = $('#gridTableBS').jqGrid('getRowData');
                    $("#gridTableBS").addRowData(row.length, { id: (row.length + 1), dangersource: data.DangerSource });
                    //绑定
                    $("#ADistrictName").html(data.DistrictName);
                    $("#ADangerSource").html(data.DangerSource);
                    $("#AAccidentName").html(data.AccidentName);
                    $("#ADeptName").html(data.DeptName);
                    $("#AJdglzzrFullName").html(data.JdglzrrFullName);
                    $("#AWay").html(data.Way == "DEC" ? "危险化学品重大危险源辨识" : "LEC法风险辨识");

                    $("#AIsDanger").html(data.IsDanger == 1 ? "是" : "否");
                    $("#AGrade").html(data.GradeVal > 0 ? data.Grade : "未定级");
                    checkWay = data.Way;
                    if (data.Way == "DEC") {
                        $("#AItemDecQ").html(data.ItemDecQ);
                        $("#AItemDecQ1").html(data.ItemDecQ1);
                        $("#AItemDecB").html(data.ItemDecB);
                        $("#AItemDecB1").html(data.ItemDecB1);
                        $("#AItemDecR").html(data.ItemDecR);
                    }
                    else {
                        $("#AItemA2").html(data.ItemA);
                        $("#AItemB2").html(data.ItemB);
                        $("#AItemC2").html(data.ItemC);
                        $("#AItemR2").html(data.ItemR);

                        $("#ADistrictName2").html(data.DistrictName);
                        $("#ADangerSource2").html(data.DangerSource);
                        $("#AAccidentName2").html(data.AccidentName);
                        $("#ADeptName2").html(data.DeptName);
                        $("#AJdglzzrFullName2").html(data.JdglzrrFullName);
                        $("#AWay2").html(data.Way == "DEC" ? "危险化学品重大危险源辨识" : "LEC法风险辨识");

                        $("#AIsDanger2").html(data.IsDanger == 1 ? "是" : "否");
                        $("#AGrade2").html(data.GradeVal > 0 ? data.Grade : "未定级");
                    }

                    var dataMeaSures = AjaxCommon("../../RiskDatabase/Measures/GetListJsonForRiskId?riskId1=" + keyValue);

                    var html = "";
                    if (dataMeaSures != null) {

                        for (var i = 0; i < dataMeaSures.rows.length; i++) {
                            html += (i + 1) + "、" + dataMeaSures.rows[i].Content + "</br>";
                        }
                    }
                    $("#AMeaSure").html(html);
                    $("#AMeaSure2").html(html);
                }
            })
        }
        var gridEPF = $("#gridTableEmergencyPlatform");
        var row = gridEPF.jqGrid('getRowData');
        var gridGLZD = $("#gridTableGLZD");
        var rowGLZD = gridGLZD.jqGrid('getRowData');
        var gridSMS = $("#gridTableSMS");
        var rowSMS = gridSMS.jqGrid('getRowData');

        //登记建档副表
        if (!!keyValuedeal) {
            $.SetForm({
                url: "../../HazardsourceManage/Hdjd/GetFormJson",
                param: { keyValue: keyValuedeal },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                    if (data.Jbtzb != null) Jbtzb = data.Jbtzb;
                    if (data.Aqpgbg != null) Aqpgbg = data.Aqpgbg;
                    if (data.Aqjc != null) Aqjc = data.Aqjc;
                    if (data.Xgfj != null) Xgfj = data.Xgfj;


                    //重大危险源事故应急预案、评审意见、演练计划和评估报告
                    gridEPF.addRowData(1, { id: row.length + 1, name: "重大危险源事故应急预案", filesname: GetValue(data.YjyaFileName), files: GetValue(data.YjyaFile), Operfiles: GetValue(data.YjyaFile) });

                    gridEPF.addRowData(2, { id: row.length + 2, name: "应急预案评审意见", filesname: GetValue(data.YjyapsFileName), files: GetValue(data.YjyapsFile), Operfiles: GetValue(data.YjyapsFile) });

                    gridEPF.addRowData(3, { id: row.length + 3, name: "应急预案评演练计划", filesname: GetValue(data.YljhFileName), files: GetValue(data.YljhFile), Operfiles: GetValue(data.YljhFile) });

                    gridEPF.addRowData(4, { id: row.length + 4, name: "演练评估报告", filesname: GetValue(data.YlpgFileName), files: GetValue(data.YlpgFile), Operfiles: GetValue(data.YlpgFile) });

                    //重大危险源安全管理制度及安全操作规程

                    gridGLZD.addRowData(1, { id: rowGLZD.length + 1, name: "重大危险源安全管理制度", files: GetValue(data.GlzdFile), filesname: GetValue(data.GlzdFileName), Operfiles: GetValue(data.GlzdFile) });

                    gridGLZD.addRowData(2, { id: rowGLZD.length + 2, name: "安全操作规程", files: GetValue(data.GzgcFile), filesname: GetValue(data.GzgcFileName), Operfiles: GetValue(data.GzgcFile) });
                    //安全技术说明书

                    if (GetValue(data.Hxpsms) != "") {

                        var arrHxpsms = data.Hxpsms.split(',');
                        var arrHxpsmsIds = data.HxpsmsIds.split(',');
                        for (var i = 0; i < arrHxpsms.length; i++) {
                            gridSMS.addRowData((i + 1), { id: arrHxpsmsIds[i], name: arrHxpsms[i] });
                        }
                    }

                }
            })

        }
        else {
            gridEPF.addRowData(1, { id: row.length + 1, name: "重大危险源事故应急预案", filesname: "", files: "", Operfiles: "" });
            gridEPF.addRowData(2, { id: row.length + 2, name: "应急预案评审意见", filesname: "", files: "", Operfiles: "" });
            gridEPF.addRowData(3, { id: row.length + 3, name: "应急预案评演练计划", filesname: "", files: "", Operfiles: "" });
            gridEPF.addRowData(4, { id: row.length + 4, name: "演练评估报告", files: "", filesname: "", Operfiles: "" });


            gridGLZD.addRowData(1, { id: rowGLZD.length + 1, name: "重大危险源安全管理制度", files: "", Operfiles: "", filesname: "" });
            gridGLZD.addRowData(2, { id: rowGLZD.length + 2, name: "安全操作规程", files: "", Operfiles: "", filesname: "" });


        }
        //重大危险源基本特征表
        ShowOrEdit(action, "uploader", Jbtzb);
        //重大危险源基本特征表
        ShowOrEdit(action, "uploader1", Aqpgbg);
        //重大危险源基本特征表
        ShowOrEdit(action, "uploader2", Aqjc);
        //重大危险源基本特征表
        ShowOrEdit(action, "uploader3", Xgfj);
    }

    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize(keyValuedeal);
        //相关附件和信息
        postData["IsDjjd"] = 1;
        postData["HdId"] = keyValue;
        postData["Jbtzb"] = Jbtzb;
        postData["Aqpgbg"] = Aqpgbg;
        postData["Aqjc"] = Aqjc;
        postData["Xgfj"] = Xgfj;
        //gird附件信息
        //化学品说明书
        var jqTable = $("#gridTableSMS");
        var row = jqTable.jqGrid('getRowData');
        var Hxpsms = "";
        var HxpsmsIds = "";
        for (var i = 0; i < row.length; i++) {
            if (Hxpsms == "")
            { Hxpsms = row[i].name; HxpsmsIds = row[i].id; }
            else
            { Hxpsms += "," + row[i].name; HxpsmsIds += "," + row[i].id; }
        }
        postData["Hxpsms"] = Hxpsms;
        postData["HxpsmsIds"] = HxpsmsIds;
        //重大危险源安全管理制度及安全操作规程
        jqTable = $("#gridTableGLZD");
        row = jqTable.jqGrid('getRowData');
        if (checkValue(row[0].files)) {
            postData["GlzdFile"] = row[0].files;
            postData["GlzdFileName"] = row[0].filesname;
        }
        //操作规程附件
        if (checkValue(row[1].files)) {
            postData["GzgcFile"] = row[1].files;
            postData["GzgcFileName"] = row[1].filesname;
        }
        //重大危险源事故应急预案、评审意见、演练计划和评估报告
        jqTable = $("#gridTableEmergencyPlatform");
        row = jqTable.jqGrid('getRowData');
        //应急预案附件
        if (checkValue(row[0].files)) {
            postData["YjyaFile"] = row[0].files;
            postData["YjyaFileName"] = row[0].filesname;
        }
        //应急预案评审附件
        if (checkValue(row[1].files)) {
            postData["YjyapsFile"] = row[1].files;
            postData["YjyapsFileName"] = row[1].filesname;
        }
        //"应急预案评演练计划附件"
        if (checkValue(row[2].files)) {
            postData["YljhFile"] = row[2].files;
            postData["YljhFileName"] = row[2].filesname;
        }
        //演练评估报告
        if (checkValue(row[3].files)) {
            postData["YlpgFile"] = row[3].files;
            postData["YlpgFileName"] = row[3].filesname;
        }
        //添加数据
        $.SaveForm({
            url: "../../HazardsourceManage/Hdjd/SaveForm?keyValue=" + keyValuedeal,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }

    function checkValue(value) {
        if (value == "" || value == undefined || value == undefined)
            return false;
        return true;

    }

    function GetValue(value) {
        if (value == "" || value == undefined || value == undefined)
            return "";
        return value;

    }

    //导出
    function exportData() {
        var str = location.pathname;
        var arr = str.split("/");
        //去掉Index
        delete arr[arr.length - 1];
        //去掉项目目录
        delete arr[1];
        var dir = arr.join("/");
        location.href = "../" + dir + "Down?keyValue=" + keyValue;

    }

    //加载gride公共方法
    var selectedRowIndex = -1;
    function GetGrid(gridTable, arrCol, height) {
        if (height == "")
            height = $(window).height() - 350;
        var selectedRowIndex = 0;
        var $gridTable = gridTable;
        $gridTable.jqGrid({
            datatype: "json",
            url: "",
            height: height,
            autowidth: true,
            colModel: arrCol,
            viewrecords: true,
            //rownumbers: true,
            shrinkToFit: true,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $("#" + this.id).getGridParam('selrow');
            },
            loadError: function (xhr, status, error) {
            },

        });
    }

    //新增一列
    function addSMS() {
        selectCommon({ rowIndex: $("#gridTableSMS").jqGrid.getGridParam('selrow'), type: "Add", gridId: "gridTableSMS", winObject: window.document.body, domId: "hxpaqsms,id", checkMode: 1 }, "/HazardsourceManage/Aqsms/Index?type=select", "添加化学品安全技术说明书");
    }

    //重大危险源事故应急预案、评审意见、演练计划和评估报告
    function selEPF(name) {
        var urltype = "Reserverplan";
        if (name == "重大危险源事故应急预案") urltype = "Reserverplan";
        if (name == "应急预案评审意见") urltype = "Reserverplan2";
        if (name == "应急预案评演练计划") urltype = "Drillplan";
        if (name == "演练评估报告") urltype = "Drillplanrecord";
        selectCommon({ name: name, rowIndex: $("#gridTableEmergencyPlatform").getGridParam('selrow'), type: "Edit", gridId: "gridTableEmergencyPlatform", winObject: window.document.body, domId: "files,id", checkMode: 0 }, "/HazardsourceManage/Djjd/SelectCommon?urltype=" + urltype, name);
    }
    //重大危险源安全管理制度及安全操作规程
    function selGLZD(name) {
        var urltype = "SafeInstitution";
        if (name == "重大危险源安全管理制度") urltype = "SafeInstitution";
        if (name == "安全操作规程") urltype = "SafeStandards";
        selectCommon({ name: name, rowIndex: $("#gridTableGLZD").getGridParam('selrow'), type: "Edit", gridId: "gridTableGLZD", winObject: window.document.body, domId: "files,id", checkMode: 0 }, "/HazardsourceManage/Djjd/SelectCommon?urltype=" + urltype, name);
    }

    //删除管控措施
    function delSMS() {
        var jqTable = $("#gridTableSMS");
        var idx = dialogConfirm("确认删除吗？", function (isSure) {
            if (isSure) {
                jqTable.delRowData(jqTable.getGridParam('selrow'));
                top.layer.close(idx);
            } else {
                top.layer.close(idx);
            }
        });
        //}
    }

    //删除管控措施
    function delEPF() {
        var jqTable = $("#gridTableEmergencyPlatform");
        var rowNow = jqTable.getGridParam('selrow');
        var rowObject = jqTable.jqGrid("getRowData", rowNow);
        var name = rowObject.name;
        jqTable.jqGrid('setRowData', jqTable.getGridParam('selrow'), {
            files: "", filesname: "", Operfiles: "", name: name
        });
    }

    function delGLZD() {
        var jqTable = $("#gridTableGLZD");
        var rowNow = jqTable.getGridParam('selrow');
        var rowObject = jqTable.jqGrid("getRowData", rowNow);
        var name = rowObject.name;
        jqTable.jqGrid('setRowData', jqTable.getGridParam('selrow'), {
            files: "", filesname: "", Operfiles: "", name: name
        });
    }


</script>

<div style="margin-left: 10px; margin-right: 10px;margin-top:20px">
    <div id="BaseInfo" class="tab-pane active" style="padding-right: 30px;">

        @*值映射*@
        <input type="hidden" id="hxpaqsms" />
        <input type="hidden" id="id" />
        <input type="hidden" id="files" />

        @*基本信息*@
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;基本信息</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <table class="form">
                    <tr>
                        <td class="formTitle">是否备案<font face="宋体">*</font></td>
                        <td class="formValue">
                            <select id="Isba" class=" show-menu-arrow form-control">
                                <option value="0">否</option>
                                <option value="1">是</option>
                            </select>
                        </td>

                        <td class="formTitle">是否核销<font face="宋体">*</font></td>
                        <td class="formValue">
                            <select id="Ishx" class=" show-menu-arrow form-control">
                                <option value="0">否</option>
                                <option value="1">是</option>
                            </select>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
        @*辨识、分级记录*@
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;辨识、分级记录</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <div class="gridPanel">
                    <table id="gridTableBS"></table>
                </div>
            </div>
        </div>
        @*重大危险源基本特征表*@
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>
                    &nbsp;&nbsp;重大危险源基本特征表&nbsp;&nbsp;&nbsp;&nbsp;<strong><a target="_blank" href="../../Resource/ExcelTemplate/危险化学品重大危险源基本特征表.doc" id="temp" style="color:blue; text-decoration:underline;">点击下载模板</a></strong>
                </strong>
                <div class="col-sm-12" style="margin-bottom:5px;">
                </div>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <table class="form">
                    <tr>
                        <td class="formTitle" style="width:150px">选择附件：</td>
                        <td class="formValue" colspan="3">
                            <div id="uploader" class="uploader" style="border: 1px solid #ccc; margin-top: 10px; min-height: 100px; margin-bottom: 10px;">
                                <div class="queueList">
                                    <div id="dndArea" class="placeholder">
                                        <div class="filePicker" style="margin-left: 25px; margin-top: 10px;"></div>
                                    </div>
                                </div>
                                <div class="statusBar" style="display: none;">
                                    <div class="progress">
                                        <span class="text">0%</span>
                                        <span class="percentage"></span>
                                    </div>
                                    <div class="info"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="gridPanel">
                    <table id="gridTable"></table>
                </div>
            </div>
        </div>
        @*涉及的所有化学品安全技术说明书*@
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;涉及的所有化学品安全技术说明书</strong>
                <span class="tools pull-right">
                    <a id="add" class="btn btn-primary btn-xs" onclick="javascript: addSMS()"><i class="fa fa-plus"></i>&nbsp;新增</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                @*<div class="titlePanel">
                    <div class="toolbar">

                        <div class="btn-group">
                            <a id="add" class="btn btn-default" onclick="javascript: addSMS()"><i class="fa fa-plus"></i>&nbsp;新增</a>
                        </div>

                    </div>
                </div>*@

                <div class="gridPanel">

                    <table id="gridTableSMS"></table>
                </div>
            </div>
        </div>

        @*重大危险源安全管理制度及安全操作规程*@
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;重大危险源安全管理制度及安全操作规程</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <div class="gridPanel">
                    <table id="gridTableGLZD"></table>
                </div>
            </div>
        </div>

        @*重大危险源事故应急预案、评审意见、演练计划和评估报告*@
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;重大危险源事故应急预案、评审意见、演练计划和评估报告</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <div class="gridPanel">
                    <table id="gridTableEmergencyPlatform"></table>
                </div>
            </div>
        </div>
        @*安全评估（评价）报告*@
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;安全评估（评价）报告</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <table class="form">
                    <tr>
                        <td class="formTitle" style="width:150px">选择附件：</td>
                        <td class="formValue" colspan="3">
                            <div id="uploader1" class="uploader" style="border: 1px solid #ccc; margin-top: 10px; min-height: 100px; margin-bottom: 10px;">
                                <div class="queueList">
                                    <div id="dndArea" class="placeholder">
                                        <div class="filePicker" style="margin-left: 25px; margin-top: 10px;"></div>
                                    </div>
                                </div>
                                <div class="statusBar" style="display: none;">
                                    <div class="progress">
                                        <span class="text">0%</span>
                                        <span class="percentage"></span>
                                    </div>
                                    <div class="info"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="gridPanel">
                    <table id="gridTable"></table>
                </div>
            </div>
        </div>
        @*安全检测监控系统*@
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;安全检测监控系统、措施说明、检测、检验结果</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <table class="form">
                    <tr>
                        <td class="formTitle" style="width:150px">选择附件：</td>
                        <td class="formValue" colspan="3">
                            <div id="uploader2" class="uploader" style="border: 1px solid #ccc; margin-top: 10px; min-height: 100px; margin-bottom: 10px;">
                                <div class="queueList">
                                    <div id="dndArea" class="placeholder">
                                        <div class="filePicker" style="margin-left: 25px; margin-top: 10px;"></div>
                                    </div>
                                </div>
                                <div class="statusBar" style="display: none;">
                                    <div class="progress">
                                        <span class="text">0%</span>
                                        <span class="percentage"></span>
                                    </div>
                                    <div class="info"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="gridPanel">
                    <table id="gridTable"></table>
                </div>
            </div>
        </div>

        @*相关附件*@
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;相关附件（包括重大危险源的区域位置图、平面布置图、工艺流程图和主要设备一览表；重大危险源关键装置、重点部位的责任人、责任机构名称；重大危险源场所安全警示标志的设置情况；相关附件或照片）</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <table class="form">
                    <tr>
                        <td class="formTitle" style="width:150px">选择附件：</td>
                        <td class="formValue" colspan="3">
                            <div id="uploader3" class="uploader" style="border: 1px solid #ccc; margin-top: 10px; min-height: 100px; margin-bottom: 10px;">
                                <div class="queueList">
                                    <div id="dndArea" class="placeholder">
                                        <div class="filePicker" style="margin-left: 25px; margin-top: 10px;"></div>
                                    </div>
                                </div>
                                <div class="statusBar" style="display: none;">
                                    <div class="progress">
                                        <span class="text">0%</span>
                                        <span class="percentage"></span>
                                    </div>
                                    <div class="info"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="gridPanel">
                    <table id="gridTable"></table>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="divBS" style="margin:0px; display:none;" class="table1 LECItemA">
    <div style="margin:10px;">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th colspan="3">危险源辨识、分级记录</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="text-align:center;" rowspan="6">危险源辨识信息</td>
                    <td>所属区域</td>
                    <td><a id="ADistrictName"></a> </td>
                </tr>
                <tr>

                    <td>危险源名称（场所）</td>
                    <td><a id="ADangerSource"></a> </td>
                </tr>
                <tr>

                    <td>可能导致的事故类型</td>
                    <td><a id="AAccidentName"></a> </td>
                </tr>
                <tr>

                    <td>管控责任部门</td>
                    <td><a id="ADeptName"></a> </td>
                </tr>
                <tr>

                    <td>监督管理责任人</td>
                    <td><a id="AJdglzzrFullName"></a> </td>
                </tr>
            </tbody>



            <tr>
                <td style="text-align:center;" rowspan="20">危险源评估信息</td>
                <td>危险源辨识方法</td>
                <td><a id="AWay"></a> </td>
            </tr>

            <tr>

                <td>危险化学品实际存在量q</td>
                <td><a id="AItemDecQ"></a> </td>
            </tr>
            <tr>

                <td>危险源化学品临界量Q</td>
                <td><a id="AItemDecQ1"></a> </td>
            </tr>
            <tr>

                <td>校正系数 α</td>
                <td><a id="AItemDecB"></a> </td>
            </tr>
            <tr>

                <td>校正系数 β</td>
                <td><a id="AItemDecB1"></a> </td>
            </tr>
            <tr>

                <td>R值</td>
                <td><a id="AItemDecR"></a> </td>
            </tr>


            <tr>

                <td>是否为重大危险源</td>
                <td><a id="AIsDanger"></a> </td>
            </tr>
            <tr>

                <td>重大危险源等级</td>
                <td><a id="AGrade"></a> </td>
            </tr>
            <tbody>
                <tr>
                    <td>安全控制措施</td>
                    <td colspan="2"><a id="AMeaSure"></a> </td>
                </tr>

            </tbody>
        </table>
    </div>

</div>



<div id="divBS2" style="margin:0px; display:none;" class="table1 LECItemA">
    <div style="margin:10px;">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th colspan="3">危险源辨识、分级记录</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="text-align:center;" rowspan="6">危险源辨识信息</td>
                    <td>所属区域</td>
                    <td><a id="ADistrictName2"></a> </td>
                </tr>
                <tr>

                    <td>危险源名称（场所）</td>
                    <td><a id="ADangerSource2"></a> </td>
                </tr>
                <tr>

                    <td>可能导致的事故类型</td>
                    <td><a id="AAccidentName2"></a> </td>
                </tr>
                <tr>

                    <td>管控责任部门</td>
                    <td><a id="ADeptName2"></a> </td>
                </tr>
                <tr>

                    <td>监督管理责任人</td>
                    <td><a id="AJdglzzrFullName2"></a> </td>
                </tr>
            </tbody>



            <tr>
                <td style="text-align:center;" rowspan="20">危险源评估信息</td>
                <td>危险源辨识方法</td>
                <td><a id="AWay2"></a> </td>
            </tr>

            <tr>

                <td>事故发生的可能性L</td>
                <td><a id="AItemA2"></a> </td>
            </tr>
            <tr>

                <td>露于危险环境的频繁程度E</td>
                <td><a id="AItemB2"></a> </td>
            </tr>
            <tr>

                <td>发生事故产生的后果C</td>
                <td><a id="AItemC2"></a> </td>
            </tr>
            <tr>

                <td>风险值D</td>
                <td><a id="AItemR2"></a> </td>
            </tr>

            <tr>

                <td>是否为重大危险源</td>
                <td><a id="AIsDanger2"></a> </td>
            </tr>
            <tr>

                <td>重大危险源等级</td>
                <td><a id="AGrade2"></a> </td>
            </tr>
            <tbody>
                <tr>
                    <td>安全控制措施</td>
                    <td colspan="2"><a id="AMeaSure2"></a> </td>
                </tr>

            </tbody>
        </table>
    </div>

</div>




