@{
    ViewBag.Title = "流程预览";
    Layout = "~/Views/Shared/_FlowForm.cshtml";
}
<link href="~/Content/styles/framework-flow.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/icheck/skins/all.css?v=1.0.2" rel="stylesheet">
<script src="~/content/scripts/plugins/icheck/js/icheck.js?v=1.0.2"></script>
<script>
    var keyValue = request("keyValue");
    var mode = request("mode");
    $(function () {
        var schemeContent;
        var requrl = "../../SystemManage/WorkFlow/GetLllegalActionList";
        var queryJson = { keyValue: keyValue };
        if (!!keyValue) {

            //问题流程图
            if (!!mode )
            {
                if (mode == 0) {
                    requrl = "../../SystemManage/WorkFlow/GetQuestionActionList";
                }
                else if(mode==1)
                {
                    requrl = "../../SystemManage/WorkFlow/GetCommonFlow";
                    queryJson = { title: "发现问题流程", initnum: 10, keyValue: keyValue };
                }
            }
            $.post(requrl, queryJson, function (data) {
                schemeContent = JSON.parse(data);
                var tdata = "";
                $('#FlowPanel').flowdesign({
                    height: $(window).height() - 10,
                    width: $(window).width() - 10,
                    flowcontent: schemeContent,
                    frmData: tdata,
                    haveTool: false,
                    isprocessing: true,
                    isshowsetinfo: false,  //是否显示对应的审核节点信息
                    isshowstatus: "1,2,5",
                    activityId: schemeContent.activeID,
                    nodeData: schemeContent.nodes,
                    preview: 2
                });
                $(".GooFlow_work_inner").height($(window).height() + 300);
            });
        }
    });

    

</script>
<div class="panels">
    <div id="FlowPanel" style="margin: 0px;border: 1px solid #ccc;"></div>
</div>
<style>
    body {
        overflow: hidden;
    }

    .panels {
        padding: 10px;
    }
    /*.label-info {
        background-color: #ffffff;
    }*/

    .label {
        display: inline;
        padding: .2em .4em .2em;
        line-height: 1;
        color: #ffffff;
        text-align: center;
        border-radius: 4px;
        font-size: 12px;
        text-shadow: none;
        font-weight: bold;
        display: inline-block;
    }
</style>
