@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = request('keyValue');
    var pId = request('pId');
    var actiontype = request('actiontype');
    $(function () {
        $("#RecordId").val(pId);//记录父id
        initControl();
    });
    //初始化控件
    function initControl() {
        $("#Result").ComboBox({
            description: "==请选择==",
        });
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../FireManage/TerminalDetectionProject/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                }
            })
        }
    }
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize(keyValue);
        $.SaveForm({
            url: "../../FireManage/TerminalDetectionProject/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                top.Sikp.window.detectionResult = "0";//主表是否合格重新初始化状态
                top.Sikp.$("#gridTable").trigger("reloadGrid");
            }
        })
    }
</script>
<div style="margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle">检测项目<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="RecordId" type="hidden" />
                <input id="Project" type="text" class="form-control"  isvalid="yes" checkexpession="LenStr" length="100"/>
            </td>
        </tr>
        <tr>
            <td class="formTitle">检测内容<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="Content" type="text" class="form-control"  isvalid="yes" checkexpession="LenStr" length="100"/>
            </td>
        </tr>
        <tr>
            <td class="formTitle">检测结果<font face="宋体">*</font></td>
            <td class="formValue">
                @*<input id="Result" type="text" class="form-control" />*@
                <div id="Result" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull">
                    <ul>
                        <li data-value="0">合格</li>
                        <li data-value="1">不合格</li>
                    </ul>
                </div>
            </td>
        </tr>
       
    </table>
</div>
