<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="UTF-8">
    <title>华润电力工作主页</title>
    <link rel="stylesheet" href="~/Content/hrdesktop/css/index.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/hrdesktop/css/swiper.min.css" />
    <script src="~/Content/hrdesktop/js/jquery-2.2.4.min.js"></script>
    <script src="~/Content/hrdesktop/js/swiper.min.js"></script>
    <script src="~/Content/adminWindos/index.js"></script>
    <script src="~/Content/scripts/plugins/dialog/dialog.js"></script>
    <script src="~/Content/scripts/utils/framework-ui.js"></script>
    <script type="text/javascript">

        $(function () {
            $.get("../Standardsystem/GetStandardCount", function (data) {
                var json = eval("(" + data + ")");
                var html = "";
                html += "<li onclick=\"openTab('c85f3e4e-a7cd-4def-ab7c-3b618017591f','../StandardSystem/Standardsystem/Index?standardtype=1&postname=true','技术标准体系')\">技术标准体系文件:" + json.data[0].num + "</li>";
                html += "<li onclick=\"openTab('bddca445-0694-4875-8922-e63283bf3a73','../StandardSystem/Standardsystem/Index?standardtype=2&postname=true','管理标准体系文件')\">管理标准体系文件:" + json.data[1].num + "</li>";
                html += "<li onclick=\"openTab('8c997916-86a9-4340-b16c-cd40a5eada49','../StandardSystem/Standardsystem/Index?standardtype=3&postname=true','岗位标准体系文件')\">岗位标准体系文件:" + json.data[2].num + "</li>";
                html += "<li onclick=\"openTab('1d4500d9-ff1d-4e4e-a7e7-7a6555e18fff','../StandardSystem/Standardsystem/Index?standardtype=4&postname=true','上级标准化文件')\">上级标准化文件:" + json.data[3].num + "</li>";
                html += "<li onclick=\"openTab('23e9ff80-bd8f-487a-bcf0-6b04fcdb636b','../StandardSystem/Standardsystem/Index?standardtype=5&postname=true','指导标准')\">指导标准:" + json.data[4].num + "</li>";
                html += "<li onclick=\"openTab('7a57c180-d76d-43ba-9082-b49a10fe1481','../StandardSystem/Standardsystem/Index?standardtype=6&postname=true','法律法规')\">法律法规:" + json.data[5].num + "</li>";
                $(".dialog").find("ul").eq(0).html(html);
            });
            //管理提升与标准化委员会
            $.get("../Standardoriganzedesc/GetFormJsonByType?type=1", function (data) {
                var json = eval("(" + data + ")");
                if (json) {
                    var html = "";
                    html += "<dd>（一）人员组成：</dd>";
                    html += "<dt>主　　任：" + json.PERSON1 + " </dt>";
                    html += "<dt>执行主任：" + json.PERSON2 + " </dt>";
                    html += " <dt>委　　员：" + json.PERSON3 + " </dt>";
                    html += "<dd>（二）工作职责： </dd>";
                    html += "<dt>" + json.WORKDUTY.replace(/\$/g, '<br/>') + " </dt>";
                    $("#type1").html(html);
                }
            });
            //管理提升与标准化办公室
            $.get("../Standardoriganzedesc/GetFormJsonByType?type=2", function (data) {
                var json = eval("(" + data + ")");
                if (json) {
                    var html = "";
                    html += "<dd>（一）人员组成：</dd>";
                    html += "<dt>主　　任：" + json.PERSON1 + " </dt>";
                    html += "<dt>执行主任：" + json.PERSON2 + " </dt>";
                    html += " <dt>委　　员：" + json.PERSON3 + " </dt>";
                    html += "<dd>（二）工作职责： </dd>";
                    html += "<dt>" + json.WORKDUTY.replace(/\$/g, '<br/>') + " </dt>";
                    $("#type2").html(html);
                }

            });
            //技术标准分类
            $.get("../Standardoriganzedesc/GetFormJsonByType?type=3", function (data) {
                var json = eval("(" + data + ")");
                if (json) {
                    var html = "";
                    html += "<dd>（一）人员组成：</dd>";
                    if (json.PERSON1) {
                        html += "<dt>主　　任：" + json.PERSON1 + " </dt>";
                    }
                    if (json.PERSON2) {
                        html += "<dt>执行主任：" + json.PERSON2 + " </dt>";
                    }
                    if (json.PERSON3) {
                        html += " <dt>委　　员：" + json.PERSON3 + " </dt>";
                    }
                    html += "<dd>（二）工作职责： </dd>";
                    if (json.WORKDUTY) {
                        html += "<dt>" + json.WORKDUTY.replace(/\$/g, '<br/>') + " </dt>";
                    }
                    $("#type3").html(html);
                }

            });

            ////管理标准分委会
            $.get("../Standardoriganzedesc/GetFormJsonByType?type=4", function (data) {
                var json = eval("(" + data + ")");
                if (json) {
                    var html = "";
                    html += "<dd>（一）人员组成：</dd>";
                    html += "<dt>主　　任：" + json.PERSON1 + " </dt>";
                    html += "<dt>执行主任：" + json.PERSON2 + " </dt>";
                    html += " <dt>委　　员：" + json.PERSON3 + " </dt>";
                    html += "<dd>（二）工作职责： </dd>";
                    html += "<dt>" + json.WORKDUTY.replace(/\$/g, '<br/>') + " </dt>";
                    $("#type4").html(html);
                }

            });
            ////岗位标准分委会
            $.get("../Standardoriganzedesc/GetFormJsonByType?type=5", function (data) {
                var json = eval("(" + data + ")");
                if (json) {
                    var html = "";
                    html += "<dd>（一）人员组成：</dd>";
                    html += "<dt>主　　任：" + json.PERSON1 + " </dt>";
                    html += "<dt>执行主任：" + json.PERSON2 + " </dt>";
                    html += " <dt>委　　员：" + json.PERSON3 + " </dt>";
                    html += "<dd>（二）工作职责： </dd>";
                    html += "<dt>" + json.WORKDUTY.replace(/\$/g, '<br/>') + " </dt>";
                    $("#type5").html(html);
                }

            });
            //各部门职责
            $.get("../Standardoriganzedesc/GetFormJsonByType?type=6", function (data) {
                var json = eval("(" + data + ")");
                if (json) {
                    var html = "";
                    html += "<dd>（二）工作职责： </dd>";
                    html += "<dt>" + json.WORKDUTY.replace(/\$/g, '<br/>') + " </dt>";
                    $("#type6").html(html);
                }

            });

            //标准化新闻
            $.get("../StandardNews/GetPageDataTableJsonForDesk", function (data) {
                var json = eval("(" + data + ")");
                if (json.rows) {
                    var html = "";
                    for (var i = 0; i < json.rows.length; i++) {
                        html += "<li onclick=\"news_show('" + json.rows[i].id + "')\"><p>" + json.rows[i].title + "</p><span>" + formatDate(json.rows[i].releasetime, 'yyyy-MM-dd') + "</span></li>";
                    };
                    $("#news").html(html);
                }
            });

            //员工风采
            $.post("../StaffMien/GetTrends?num=5", function (data) {
                var json = eval("(" + data + ")");
                if (json.resultdata) {
                    var html = "";
                    for (var i = 0; i < json.resultdata.length; i++) {
                        var filepath = json.resultdata[i].filepath;
                        if (filepath) {
                            filepath = filepath.replace(/~/g, '../..');
                        }
                        else {
                            filepath = "../../Content/hrdesktop/images/404_r1_c2.png";
                        }
                        html += "<div class='swiper-slide'  onclick=\"staffmien_show('" + json.resultdata[i].id + "')\"><img style='width:557px;height:328px'  src='" + filepath + "' /><p>" + json.resultdata[i].title + "</p></div>";
                    };
                    $(".swiper-wrapper").html(html);


                }
            });

            $('.dialog p').click(function () {
                $('.dialog').hide()
            })
            setTimeout(function () {
                var swiper = new Swiper('.swiper-container', {
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true,
                        renderBullet: function (index, className) {
                            return '<span class="' + className + '">' + (index + 1) + '</span>';
                        },
                    },
                });

                var pt1 = $('.btn').eq(1).position()
                var pw1 = $('.btn').eq(1).width()
                var ph1 = $('.btn').eq(1).height()
                var h1 = $('dl').eq(0).height()
                $('#type1').css({
                    left: pt1.left + pw1 + 40 + 'px',
                    top: (-h1 / 2 + ph1) + 'px'
                })

                var pt2 = $('.btn').eq(2).position()
                var pw2 = $('.btn').eq(2).width()
                var h2 = $('dl').eq(1).height()
                $('dl').eq(1).css({
                    left: pw2 + 40 + 'px',
                    top: -(h2 / 2 + 10) + 'px'
                })

                var pt3 = $('.meet li').eq(0).position()
                var pw3 = $('.meet li').eq(0).width()
                var h3 = $('dl').eq(2).height()
                $('dl').eq(2).css({
                    left: pw3 + 30 + 'px',
                    top: -(h3 / 2 + 10) + 'px'
                })

                var pt4 = $('.meet li').eq(1).position()
                var pw4 = $('.meet li').eq(1).width()
                var h4 = $('dl').eq(3).height()
                $('dl').eq(3).css({
                    left: pw4 + 30 + 'px',
                    top: -(h4 / 2 + 10) + 'px'
                })

                var pt5 = $('.meet li').eq(2).position()
                var pw5 = $('.meet li').eq(2).width()
                var h5 = $('dl').eq(4).height()
                $('dl').eq(4).css({
                    left: pw5 + 30 + 'px',
                    top: -(h5 / 2 + 10) + 'px'
                })

                //let pt6 = $('.dept li').eq(0).position()
                //let pw6 = $('.dept li').eq(0).width()
                //let h6 = $('dl').eq(5).height()
                //$('dl').eq(5).css({
                //    left: pw5 + 'px',
                //    top: -(h5 / 2 ) + 'px'
                //})

            }, 1000)
            $('.btn').eq(1).mouseenter(function () {
                $('dl').eq(0).show()
            }).mouseleave(function () {
                $('dl').eq(0).hide()
            })
            $('.btn').eq(2).mouseenter(function () {
                $('dl').eq(1).show()
            }).mouseleave(function () {
                $('dl').eq(1).hide()
            })
            $('.meet li').mouseenter(function () {
                var index = $(this).index() + 2
                $('dl').eq(index).show()
            }).mouseleave(function () {
                var index = $(this).index() + 2
                $('dl').eq(index).hide()
            })
            $('.dept li').mouseenter(function () {
                $('dl').last().show()
            }).mouseleave(function () {
                var index = $(this).index() + 5
                $('dl').last().hide()
            })
            $("#btn_search").click(function () {
                openTab('', '../StandardSystem/StandardHome/Select?keyword=' + $("#txt_search").val(), '标准体系查询');
                //location.href = "../../StandardSystem/StandardHome/Select?keyword=" + $("#txt_search").val();
            });
            $("#tabstiff").click(function () {
                openTab('52581ea6-875d-4c55-beb4-1963e63a652a', '../StandardSystem/StaffMien/Index', '员工风采');
            })
            $("#tabnews").click(function () {
                openTab('10e6f36c-7ff5-4f36-839d-0d2ce21805e5', '../StandardSystem/StandardNews/Index', '标准化新闻');
            })
        })

        function staffmien_show(id) {
            var keyValue = id;
            var dlg = dialogOpen({
                id: "Form1",
                title: '查看员工风采',
                url: '/Content/SecurityDynamics/Show.html?keyValue=' + keyValue + "&state=3",
                width: "900px",
                height: ($(top.window).height() - 150) + "px",
                btn: ["关闭"],
                callBack: function (iframeId) {
                    top.layer.close(dlg);
                }
            });
        }

        //查看
        function news_show(id) {
            var keyValue = id;
            var dlg = dialogOpen({
                id: "Form",
                title: '查看标准化新闻',
                url: '/Content/SecurityDynamics/Show.html?keyValue=' + keyValue + "&state=2",
                width: "900px",
                height: ($(top.window).height() - 150) + "px",
                btn: ["关闭"],
                callBack: function (iframeId) {
                    top.layer.close(dlg);
                }
            });
        }


        function openTab(id, url, title) {
            if (top.$.tab != undefined) {
                top.$.tab.addTab(id, url, title);
            } else {
                top.tablist.newTab({ id: id, title: title, closed: true, icon: "fa fa-list-alt", url: url, moduleIdCookie: true });
            }
        }
    </script>
</head>
<body>
    <div class="container">
        <img src="~/Content/hrdesktop/images/banner.jpg" alt="" class="banner" />
        <div class="search">
            <input type="text" id="txt_search" placeholder="请输入搜索内容" />
            <p class="btn" id="btn_search">搜索</p>
        </div>
        <div class="main1_box">
            <div>
                <h1>标准化组织机构</h1>
                <div class="con">
                    <div>
                        <p class="btn">
                            管理提升与标准化委员会
                        </p>

                        <dl id="type1">
                            <dd>（一）人员组成：</dd>
                            <dt>主　　任：彭峰 </dt>
                            <dt>执行主任：张瑞龙 </dt>
                            <dt>委　　员：陆军、张开亮、黄亮、慎代娣、周航、皮马光、邓雷凯 </dt>
                            <dd>（二）工作职责： </dd>
                            <dt>1．贯彻执行国家、地方、集团和华润电力有关标准化工作的法律、法规、方针、政策，确定与公司中长期发展规划相适应的标准化工作任务和目标。</dt>
                            <dt>2．审批公司标准体系及标准。</dt>
                            <dt>3．批准公司企业标准化的方针政策，企业标准发布、宣贯、监督与奖励等重大事项。</dt>
                            <dt>4．审批公司标准化工作计划。</dt>
                        </dl>
                        <span class="btn">
                            管理提升与标准化办公室
                            <dl id="type2">
                                <dd>（一）人员组成：</dd>
                                <dt>主<i> 主 </i>任：慎代娣 </dt>
                                <dt>副 主 任：陈大伟 </dt>
                                <dt>成<i> 主 </i>员：邓雷凯、王复琼、吴 翔、张飞帆、曲涛 </dt>
                                <dd>（二）工作职责：</dd>
                                <dt>1．组织建立、健全公司标准体系及编制公司标准体系表。</dt>
                                <dt>2．组织对公司标准的意见征求和审核等具体事务，负责标准的规范化指导，办理标准编号、报批、发布等具体事宜。定期组织标准的复审及修订，并向公司标准化委员会提出处理意见。</dt>
                                <dt>3．组织落实公司标准发布和宣贯、培训工作，并对标准的实施情况进行监督检查。</dt>
                                <dt>4．归口管理各类标准文件，建立标准资料档案。</dt>
                                <dt>5．编制并组织实施公司标准工作计划。</dt>
                                <dt>6．编制公司标准化活动经费预算等。</dt>
                            </dl>
                        </span>
                        <ul class="meet">
                            <li>
                                技术标准分委会
                                <dl id='type3' >
                                    <dd>（一）技术标准分委会人员组成：</dd>
                                    <dt>主 <i> 主 </i> 任：张开亮 </dt>
                                    <dt>副 主 任：邓雷凯 </dt>
                                    <dt>成 <i> 主 </i> 员：李皓、雷虎明、蔡剑、杨敏亮、李志东、廖林、司萌萌、何民华、韦建宁、武鑫 、张男、钱志新、黎明哲、夏宇峰、尤伊笑 、温远、王杲、孟威、杨在洲、程超 、张飞帆。</dt>
                                    <dd>（二）技术标准分委会工作职责： </dd>
                                    <dt>1．归口管理公司技术标准体系； </dt>
                                    <dt>2．组织制定公司技术标准体系表；</dt>
                                    <dt>3．参与编制、审核公司标准化规划和标准化年度计划；</dt>
                                    <dt>4．负责收集和研究采用与技术有关的国际标准和先进标准； </dt>
                                    <dt>5．负责提出公司年度技术标准制（修）订计划建议；</dt>
                                    <dt>6．组织开展技术标准编制工作、负责公司技术标准送审稿的形式审查工作；</dt>
                                    <dt>7．负责开展技术标准复审工作；</dt>
                                    <dt>8．指导和监督公司各部门技术标准制（修）订和实施工作。</dt>
                                </dl>
                            </li>
                            <li style="margin:0 181px;">
                                管理标准分委会
                                <dl id='type4'>
                                    <dd>（一）人员组成：</dd>
                                    <dt>主 <i> 主 </i>  任：张瑞龙  </dt>
                                    <dt>副 主 任：吴翔  </dt>
                                    <dt>成 <i> 主 </i>  员：杜新园、李锋平、王复琼、蔡剑、杨敏亮  </dt>
                                    <dt>李志东、廖林、司萌萌、何民华、刘向阳 </dt>
                                    <dt>韦建宁、武鑫、张男、钱志新、黎明哲  </dt>
                                    <dt>夏宇峰、尤伊笑、温远、王杲、孟威  </dt>
                                    <dt>杨在洲、程超、桑尚科、祝春光、陈若兰  </dt>
                                    <dt>潘修强、唐嘉健、金为殿
                                    <dd>（二）工作职责：</dd>
                                    <dt>1．归口管理公司管理标准体系； </dt>
                                    <dt>2．组织制定公司管理标准体系表； </dt>
                                    <dt>3．参与编制、审核公司标准化规划和标准化年度工作计划； </dt>
                                    <dt>4．负责收集和研究采用国际管理标准和国外先进管理标准； </dt>
                                    <dt>5．负责提出公司年度管理标准制（修）订计划建议；  </dt>
                                    <dt>6．组织开展管理标准编制工作，负责公司管理标准送审稿的形式审查工作； </dt>
                                    <dt>7．负责开展管理标准复审工作； </dt>
                                    <dt>8．指导和监督公司各部门管理标准制（修）订和实施工作。 </dt>
                                </dl>
                            </li>
                            <li>
                                岗位标准分委会
                                <dl id='type5' style="max-width:460px">
                                    <dd>（一）人员组成：</dd>
                                    <dt>主 <i> 主 </i>  任：张瑞龙 </dt>
                                    <dt>副 主 任：慎代娣 </dt>
                                    <dt>成<i> 主 </i>   员：龙云飞、邓雷凯、王复琼、蔡剑、杨敏亮 </dt>
                                    <dt>李志东、廖林、司萌萌、方小强、刘向阳 </dt>
                                    <dt>艾  力、刘涛(天津籍)、王治涛、王善雷 </dt>
                                    <dt>易  庆、吴三寅、纪作军、喻柏生、牛会鹏</dt>
                                    <dt>杜兴展、杨在洲、程超、刘刚、靖自强</dt>
                                    <dd>（二）工作职责：</dd>
                                    <dt>1．归口管理公司岗位标准体系；<br/>2．组织制定公司岗位标准体系表；</dt>
                                    <dt>3．参与编制、审核公司标准化规划和标准化年度工作计划； </dt>
                                    <dt>4．负责收集和研究采用与人力资源有关的国际标准和国外先进标准； </dt>
                                    <dt>5．负责提出公司年度岗位标准制（修）订计划建议； </dt>
                                    <dt>6．组织开展岗位标准编制工作，负责公司岗位标准送审稿的形式审查工作； </dt>
                                    <dt>7．负责开展岗位标准复审工作； </dt>
                                    <dt>8．指导和监督公司各部门岗位标准制（修）订和实施工作。</dt>
                                </dl>
                            </li>
                        </ul>
                        <ul class="dept">
                            <li>
                                发电部
                                <dl style="left:20px;top:-200px" class='common' id='type6'>
                                    <dd>部门职责 </dd>
                                    <dt>1．根据管理提升与标准化委员会的授权，组织本部门开展标准化工作； </dt>
                                    <dt>2．组织落实本部门的标准化工作的宣贯和实施；</dt>
                                    <dt>3．负责组织实施本部门业务领域的国际标准、国家标准、行业标准和华润控股公司、华中大区公司标准，并对标准的实施进行监督检查；</dt>
                                    <dt>4．各部门配合管理提升与标准化办公室进行标准化工作计划的编制、落实； </dt>
                                    <dt>5．负责提出、编制、初审所辖范围内相关标准草案；</dt>
                                    <dt>6．配合监督、检查和评价标准体系运行情况，并实施改进。</dt>
                                </dl>
                            </li>
                            <li style="margin:0 60px 0 57px;">技术支持部</li>
                            <li>EHS部</li>
                            <li style="margin:0 57px 0 52px;">办公室</li>
                            <li>营销部</li>
                        </ul>
                    </div>
                    <img src="~/Content/hrdesktop/images/icon2.png" alt="" />
                </div>
            </div>
        </div>
        <div class="main2">
            <div class="main2_left">
                <h1>
                    标准化新闻
                    <span id="tabnews">更多></span>
                </h1>
                <ul id="news">
                    <li><p>关于召开[三月份安全形势分析会]安全会议的通知</p><span>2018-03-06</span></li>
                    <li><p>关于召开[三月份安全形势分析会]安全会议的通知</p><span>2018-03-06</span></li>
                    <li><p>关于召开[三月份安全形势分析会]安全会议的通知</p><span>2018-03-06</span></li>
                    <li><p>关于召开[三月份安全形势分析会]安全会议的ddddddddddd通知</p><span>2018-03-06</span></li>
                    <li><p>关于召开[三月份安全形势分析会]安全会议的通知</p><span>2018-03-06</span></li>
                    <li><p>关于召开[三月份安全形势分析会]安全会议的通知</p><span>2018-03-06</span></li>
                    <li><p>关于召开[三月份安全形势分析会]安全会议的通知</p><span>2018-03-06</span></li>
                    <li><p>关于召开[三月份安全形势分析会]安全会议的通知</p><span>2018-03-06</span></li>
                </ul>
            </div>
            <div class="main2_right">
                <h1>
                    员工风采
                    <span id="tabstiff">更多></span>
                </h1>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="~/Content/hrdesktop/images/s.jpg" />
                            <p>第二届湖北省安全生产知识竞赛题库知识竞赛题库题库知识竞赛题刻adf</p>
                        </div>
                        <div class="swiper-slide">
                            <img src="~/Content/hrdesktop/images/s.jpg" />
                            <p>第二届湖北省安全生产知识竞赛题库知识竞赛题库题库知识竞赛题刻dsafafa</p>
                        </div>
                        <div class="swiper-slide">
                            <img src="~/Content/hrdesktop/images/s.jpg" />
                            <p>第二届湖北省安全生产知识竞赛题库知识竞赛fsdddddddddddddfadfdsssssssssfsafdsfafafd</p>
                        </div>
                        <div class="swiper-slide">
                            <img src="~/Content/hrdesktop/images/s.jpg" />
                            <p>第二届湖北省安全生产知识竞赛题库知识竞赛题库题库知识竞赛题刻fadsfafa</p>
                        </div>
                    </div>
                    <div class="swiper-pagination" style="height:20px;width:100px;"></div>
                </div>
            </div>
        </div>
        @*<div class="main3">
            <h1>留言区</h1>
            <div class="my_input">
                <input type="text" placeholder="我来说两句" />
                <span>还可以输入300字</span>
                <p class="btn">发表评论</p>
            </div>
            <ul>
                <li>
                    <p class="name"><span>张三的李四</span>2小时前<i>回复</i></p>
                    <p class="desc">器具扩多所军付扩多多多多多多多多多多多多付军所多多多多多多多多多付扩所多付。</p>
                    <div>
                        <input type="text" placeholder="回复一下我的看法" />
                        <span>0/300字</span>
                        <p class="btn">回复</p>
                    </div>
                    <p class="name"><span>张三的李四</span>2小时前<i>回复</i></p>
                    <p class="desc">器具扩多所军付扩多多多多多多多多多多多多付军所多多多多多多多多多付扩所多付。</p>
                </li>
                <li>
                    <p class="name"><span>张三的李四</span>2小时前<i>回复</i></p>
                    <p class="desc">器具扩多所军付扩多多多多多多多多多多多多付军所多多多多多具扩多所军付扩多多多多多多多多多多多多付军所多多多多多多多多多多多多多付扩所多付。</p>
                </li>
            </ul>
        </div>*@
        <div class="dialog">
            <p></p>
            <ul>
                @*<li>技术标准体系文件:1</li>
                <li>管理标准体系文件:1</li>
                <li>岗位标准体系文件:1</li>
                <li>上级标准化文件:1</li>
                <li>指导标准:1</li>
                <li>法律法规:2</li>*@
            </ul>
        </div>
    </div>
</body>
</html>
