@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<!--webUploader文件上传组件-->
<link href="~/content/scripts/plugins/webuploader/webuploader.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/webuploader/webuploader-demo.css" rel="stylesheet" />
<script type="text/javascript" src="~/content/scripts/plugins/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/fileupload.js"></script>
<script type="text/javascript">
    var keyValue = request("keyValue"); //主键 隐患信息主键
    $(function ()
    {
        if (!!keyValue) {
            $.SetForm({
                url: "../../LllegalManage/LllegalAccept/GetEntityJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
     
                    //验收结果
                    if (data.ACCEPTRESULT == "1") {
                        $("input[name='ACCEPTRESULT']:eq(1)").removeAttr("checked");
                        $("input[name='ACCEPTRESULT']:eq(0)").prop("checked", "checked");
                    }
                    else {
                        $("input[name='ACCEPTRESULT']:eq(0)").removeAttr("checked");
                        $("input[name='ACCEPTRESULT']:eq(1)").prop("checked", "checked");
                        $(".form:eq(0) tr:eq(2) td:eq(0)").html("不通过原因"); //验收日期
                    }

                    var folderId = $("#ACCEPTPIC").val();
                    $.ajax({
                        url: '../../PublicInfoManage/ResourceFile/GetFilesByRecId',
                        data: { recId: folderId },
                        type: "post",
                        success: function (data) {
                            var objdata = eval("(" + data + ")"); //转化为对象类型
                            file_upload.bind(objdata, false, true, folderId, "uploader_acceptpic");
                        }
                    });
                }
            })
        }
    });

</script>

<div class="center-Panel" style="overflow-y: scroll; height: 600px;">
    <div style="margin-top: 5px;"></div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;违章验收详情</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <div style="margin-right: 30px;">
                <table class="form">
                    <tr>
                        <td class="formTitle">验收人</td>
                        <td class="formValue">
                            <input id="ACCEPTPEOPLE" class="form-control" placeholder="请选择验收人" errormsg="验收人" checkexpession="NotNull" disabled="disabled" />
                            <input id="ACCEPTPEOPLEID" type="hidden" />
                            <input id="ACCEPTID" type="hidden" />
                        </td>
                        <td class="formTitle">验收单位</td>
                        <td class="formValue">
                            <input id="ACCEPTDEPTNAME" type="text" class="form-control" disabled="disabled" disabled="disabled" />
                            <input id="ACCEPTDEPTCODE" type="hidden" />
                        </td>
                    </tr>
                    <tr>

                        <td class="formTitle">验收情况</td>
                        <td class="formValue">
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="ACCEPTRESULT" id="ACCEPTRESULT1" value="1" checked="checked" disabled="disabled" />通过
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="ACCEPTRESULT" id="ACCEPTRESULT2" value="0" disabled="disabled" />不通过
                                </label>
                            </div>
                        </td>
                        <td class="formTitle">验收日期</td>
                        <td class="formValue">
                            <input id="ACCEPTTIME" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" isvalid="yes" checkexpession="NotNull" errormsg="验收日期" disabled="disabled" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">验收意见</td>
                        <td class="formValue" colspan="3">
                            <textarea id="ACCEPTMIND" class="form-control" isvalid="yes" checkexpession="NotNull" length="2000" errormsg="验收意见" disabled="disabled"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">验收图片</td>
                        <td class="formValue" colspan="3">
                            <input id="ACCEPTPIC" type="hidden" /><!--验收相片-->
                            <div id="uploader_acceptpic" class="uploader" style="border:1px solid #ccc; margin-top:10px; min-height:200px; margin-bottom:10px;">
                                <div class="queueList">
                                    <div id="uploader_acceptpic_place" class="placeholder">
                                        <div class="filePicker" style="margin-left:25px; margin-top:10px;"></div>
                                    </div>
                                </div>
                                <div class="statusBar" style="display:none;">
                                    <div class="progress">
                                        <span class="text">0%</span>
                                        <span class="percentage"></span>
                                    </div>
                                    <div class="info"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    body {
        overflow: hidden;
    }
</style>