@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<script type="text/javascript">

    var _parentId = "";
    var _isOrg = "";
    var safetyCheckObjectID = ""; //主键 安全检查对象
    var safetyCheckType = "";  //安全检查类型
    $(function () {
        safetyCheckObjectID = request("SAFETYCHECKOBJECTID");  //检查传入的参数
        safetyCheckType = request("SAFETYCHECKTYPE");  //检查传入的参数

        //初始化组件
        $.SetForm({
            url: "../../HiddenTroubleManage/HTBaseInfo/GetQueryConditionJson",
            success: function (data) {

                //隐患级别
                $("#HidRank").ComboBox({
                    id: "ItemDetailId",
                    text: "ItemName",
                    description: "===全部===",
                    allowSearch: false,
                    data: data.HidRank
                });

                changeStatus = data.ChangeStatus; //隐患整改状态

                $("#HidRank").change(function (ele) {

                    var changeData = new Array();

                    changeData = changeStatus.concat();
                    //重大隐患
                    if (ele.currentTarget.innerText.indexOf("重大") >= 0) {
                        changeData.splice(4, 2);
                    }
                    else if (ele.currentTarget.innerText.indexOf("一般") >= 0)//一般隐患
                    {
                        changeData.splice(6, 1);
                    }
                    else {
                        changeData.splice(0, 7);
                    }
                    //整改状态
                    $("#ChangeStatus").ComboBox({
                        id: "ItemDetailId",
                        text: "ItemName",
                        description: "===全部===",
                        allowSearch: false,
                        data: changeData
                    });
                    if (changeData.length == 0 || changeData == null) {
                        $("#ChangeStatus").attr("data-text", "===全部===");
                        $("#ChangeStatus").attr("data-value", "");
                        $("#ChangeStatus div:eq(0)").text("===全部===");
                        $("#ChangeStatus-option ul li").each(function (index, ele) {
                            if (index > 0) {
                                $(this).remove();
                            }
                        });
                    }
                });

                //整改状态
                $("#ChangeStatus").ComboBox({
                    id: "ItemDetailId",
                    text: "ItemName",
                    description: "===全部===",
                    allowSearch: false,
                    data: null
                });

                //流程状态
                $("#WorkStream").ComboBox({
                    id: "ItemDetailId",
                    text: "ItemName",
                    description: "===全部===",
                    allowSearch: false,
                    data: data.WorkStream
                });

                //安全检查类型
                $("#SaftyCheckType").ComboBox({
                    id: "ItemDetailId",
                    text: "ItemName",
                    description: "===全部===",
                    allowSearch: false,
                    data: data.SaftyCheckType,
                });

                //隐患类型
                $("#HidType").ComboBox({
                    id: "ItemDetailId",
                    text: "ItemName",
                    description: "===全部===",
                    allowSearch: false,
                    data: data.HidType,
                });
            }
        });


        GetGrid();

    });

    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        var IsBreakRule = $("input[name='IsBreakRule']:checked").val();
        //隐患基本信息
        var queryJson = {
            code: _parentId,
            isOrg: _isOrg,
            action: "Ledger",
            checkId: safetyCheckObjectID,
            checkType: safetyCheckType,
            StartTime: $("#StartTime").val(), //创建开始时间
            EndTime: $("#EndTime").val(),//创建结束时间
            HidRank: $("#HidRank").attr("data-value"), //隐患级别
            ChangeStatus: $("#ChangeStatus").attr("data-text") == "===全部===" ? "" : $("#ChangeStatus").attr("data-text"), //隐患状态
            WorkStream: $("#WorkStream").attr("data-text") == "===全部===" ? "" : $("#WorkStream").attr("data-text"), //流程状态
            SaftyCheckType: $("#SaftyCheckType").attr("data-value"), //检查类型
            HidType: $("#HidType").attr("data-value"), //隐患类型
            HidDescribe: $("#HidDescribe").val(), //隐患描述
            IsBreakRule: IsBreakRule,  //是否违章
            DataScope:"本人登记"
        };

        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() - 160,
            url: "../../HiddenTroubleManage/HTBaseInfo/GetListJson",
            postData: { queryJson: JSON.stringify(queryJson) },
            datatype: "json",
            colModel: [
                { label: '主键', name: 'id', index: 'id', width: 100, align: 'center', hidden: true },
                { label: '隐患编码', name: 'hidcode', index: 'hidcode', width: 150, align: 'center', sortable: true },
                { label: '隐患类别', name: 'hidtypename', index: 'hidtypename', width: 150, align: 'center', sortable: true },
                { label: '隐患级别', name: 'hidrankname', index: 'hidrankname', width: 150, align: 'center', sortable: true },
                { label: '隐患描述', name: 'hiddescribe', index: 'hiddescribe', width: 150, align: 'center', sortable: true }
            ],
            viewrecords: true,
            rowNum: 15,
            rowList: [15, 30, 50, 100],
            pager: "#gridPager",
            sortname: 'createdate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $("#" + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $("#" + this.id).setSelection(selectedRowIndex, false);
            }
        });


        //权限规则
        //$gridTable.authorizeColModel()
        //查询事件
        $("#btn_Search").click(function () {
            var queryJsons = {
                code: _parentId,
                isOrg: _isOrg,
                action: "Ledger",
                checkId: safetyCheckObjectID,
                checkType: safetyCheckType,
                StartTime: $("#StartTime").val(), //创建开始时间
                EndTime: $("#EndTime").val(),//创建结束时间
                HidRank: $("#HidRank").attr("data-value"), //隐患级别
                ChangeStatus: $("#ChangeStatus").attr("data-text") == "===全部===" ? "" : $("#ChangeStatus").attr("data-text"), //隐患状态
                WorkStream: $("#WorkStream").attr("data-text") == "===全部===" ? "" : $("#WorkStream").attr("data-text"), //流程状态
                SaftyCheckType: $("#SaftyCheckType").attr("data-value"), //检查类型
                HidType: $("#HidType").attr("data-value"), //隐患类型
                HidDescribe: $("#HidDescribe").val(), //隐患描述
                IsBreakRule: $("input[name='IsBreakRule']:checked").val(),
                DataScope: "本人登记"//是否违章
            };

            $gridTable.jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify(queryJsons) }, page: 1
            }).trigger('reloadGrid');


            $(".ui-filter-list").css("display", "none");
            $(".ui-filter-text ").removeClass("active");
            $(".ui-filter-text ").removeAttr("style");
        });

    }

    //重置所有查询条件
    function ResetCondition() {
        var startTime = "@DateTime.Now.AddMonths(-1).ToString("yyyy-MM-dd")";
        var endTime = "@DateTime.Now.ToString("yyyy-MM-dd")";
        //开始时间
        $("#StartTime").val(startTime);
        //结束时间
        $("#EndTime").val(endTime);
        //隐患级别
        $("#HidRank").attr("data-text", "===全部===");
        $("#HidRank").attr("data-value", "");
        $("#HidRank div:eq(0)").text("===全部===");
        //整改状态
        $("#ChangeStatus").attr("data-text", "===全部===");
        $("#ChangeStatus").attr("data-value", "");
        $("#ChangeStatus div:eq(0)").text("===全部===");
        //流程状态
        $("#WorkStream").attr("data-text", "===全部===");
        $("#WorkStream").attr("data-value", "");
        $("#WorkStream div:eq(0)").text("===全部===");
        //检查类型
        $("#SaftyCheckType").attr("data-text", "===全部===");
        $("#SaftyCheckType").attr("data-value", "");
        $("#SaftyCheckType div:eq(0)").text("===全部===");
        //隐患类型
        $("#HidType").attr("data-text", "===全部===");
        $("#HidType").attr("data-value", "");
        $("#HidType div:eq(0)").text("===全部===");

        //违章行为
        $("input[name='IsBreakRule']:eq(0)").removeAttr("checked");
        $("input[name='IsBreakRule']:eq(1)").prop("checked", "checked");

        //隐患描述
        $("#HidDescribe").val("");
    }


    //回调对象
    function GetObjectData(winObject, data) {
        var keyValue = $('#gridTable').jqGridRowValue('id');
        if (!!keyValue) {
            $.SetForm({
                url: "../../HiddenTroubleManage/HTBaseInfo/GetFormJson",
                param: { keyValue: keyValue },
                success: function (mdata) {
                    var selVal = new Array(mdata.baseInfo.HIDDESCRIBE, mdata.baseInfo.CHECKMANNAME, mdata.baseInfo.CHECKMAN, mdata.baseInfo.CHECKDEPARTNAME, mdata.baseInfo.CHECKDEPARTID,
                        mdata.baseInfo.CHECKTYPE, mdata.baseInfo.CHECKDATE, mdata.baseInfo.HIDRANK, mdata.baseInfo.HIDTYPE, mdata.changeInfo.CHANGEPERSONNAME, mdata.changeInfo.CHANGEPERSON,
                        mdata.changeInfo.CHANGEDUTYTEL, mdata.changeInfo.CHANGEDUTYDEPARTNAME, mdata.changeInfo.CHANGEDUTYDEPARTCODE, mdata.changeInfo.CHANGEDEADINENUM, mdata.changeInfo.PLANMANAGECAPITAL,mdata.changeInfo.CHANGEMEASURE,
                        mdata.acceptInfo.ACCEPTPERSONNAME, mdata.acceptInfo.ACCEPTPERSON, mdata.acceptInfo.ACCEPTDEPARTNAME, mdata.acceptInfo.ACCEPTDEPARTCODE, mdata.baseInfo.HIDPOINT, mdata.baseInfo.HIDPOINTNAME);

                    for (var j = 0; j < data.length; j++) {
                        if (data[j].length >= 0) {
                            if (data[j] != "") {

                                var dom = $(winObject).find("#" + data[j]).eq(0);
                            
                                if (dom != undefined && dom[0] != undefined) {
                                    if (dom[0].tagName == "DIV") {
                                        var text = $(winObject).find("#" + data[j] + "-option").eq(0).find("li[data-value='" + selVal[j] + "']").eq(0).text();
                                        $(dom[0]).ComboBoxSetValue(selVal[j]);
                                        $(dom[0]).attr("data-text", text);

                                        if (text.indexOf("重大") >= 0 && j == 7)
                                        {
                                            for (var i = 10; i <= 15; i++) {

                                                $(winObject).find(".form tr:eq(" + i + ")").removeAttr("style");
                                                $(winObject).find(".form tr:eq(" + i + ") td").each(function (ele, index) {
                                                    $(this).removeAttr("style");
                                                });
                                            }
                                        }
                                        if (text.indexOf("一般") >= 0 && j == 7)
                                        {
                                              for (var i = 10; i <= 15; i++) {
                                                  $(winObject).find(".form tr:eq(" + i + ")").css("display", "none");
                                                  $(winObject).find(".form tr:eq(" + i + ") td").each(function (ele, index) {
                                                      $(this).css("display", "none");
                                                  });
                                              }
                                        }
                                        $(dom[0]).attr("data-value", selVal[j]);
                                        $(dom[0]).find("div:eq(0)").text(text);
                                    }
                                    else {
                                        dom.val(selVal[j]);
                                    }
                                }

                            }
                        }
                    }
                }
            });
        }
        dialogClose();
    }
</script>

<div class="center-Panel">
    <div class="panel-Title">隐患信息</div>
    <div class="titlePanel">
        <div class="title-search">
            <table>
                <tr>
                    <td>查询条件:</td>
                    <td style="padding-left: 10px;">
                        <div class="ui-filter" style="width: 350px;">
                            <div class="ui-filter-text">
                                请选择过滤条件
                            </div>
                            <div class="ui-filter-list" style="width: 350px; ">
                                <table class="form" id="filter-form">
                                    <tr>
                                        <th class="formTitle">创建时间：</th>
                                        <td class="formValue">
                                            <input id="Category" type="hidden" value="1" />
                                            <div style="float: left; width: 45%;">
                                                <input id="StartTime" readonly type="text" value=@DateTime.Now.AddMonths(-1).ToString("yyyy-MM-dd") class="form-control input-wdatepicker" onfocus="WdatePicker({maxDate:'%y-%M-%d'})">
                                            </div>
                                            <div style="float: left; width: 10%; text-align: center;">至</div>
                                            <div style="float: left; width: 45%;">
                                                <input id="EndTime" readonly type="text" value=@DateTime.Now.ToString("yyyy-MM-dd") class="form-control input-wdatepicker" onfocus="WdatePicker({maxDate:'%y-%M-%d'})">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="formTitle">隐患级别：</td>
                                        <td class="formValue">
                                            <div id="HidRank" type="select" class="ui-select" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="formTitle">隐患状态：</td>
                                        <td class="formValue">
                                            <div id="ChangeStatus" type="select" class="ui-select" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="formTitle">流程状态：</td>
                                        <td class="formValue">
                                            <div id="WorkStream" type="select" class="ui-select" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="formTitle">检查类型：</td>
                                        <td class="formValue">
                                            <div id="SaftyCheckType" type="select" class="ui-select" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="formTitle">隐患类型：</td>
                                        <td class="formValue">
                                            <div id="HidType" type="select" class="ui-select" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="formTitle">隐患描述：</td>
                                        <td class="formValue">
                                            <input id="HidDescribe" type="text" class="form-control" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="formTitle">违章行为：</td>
                                        <td class="formValue">
                                            <div class="radio-inline">
                                                <label>
                                                    <input type="radio" name="IsBreakRule" id="IsBreakRule1" value="1" />是
                                                </label>
                                            </div>
                                            <div class="radio-inline">
                                                <label>
                                                    <input type="radio" name="IsBreakRule" id="IsBreakRule2" value="0" checked="checked" />否
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <div class="ui-filter-list-bottom">
                                    <a id="btn_Reset" class="btn btn-default" onclick="ResetCondition()">&nbsp;重&nbsp;&nbsp;置</a>
                                    <a id="btn_Search" class="btn btn-primary">&nbsp;查&nbsp;&nbsp;询</a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="gridPanel">
        <table id="gridTable"></table>
        <div id="gridPager"></div>
    </div>
</div>
