@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}

<script type="text/javascript">
    var keyValue = request("keyValue");
    $(function () {
        $("#form1").attr("enctype", "multipart/form-data");
        if (!!keyValue) {
            if (keyValue == "Yes") {
                $("#importNo").remove(); //隐藏新隐患导入
            }
            else {
                $("#importYes").remove(); //隐藏已整改隐患导入
            }
        }
    });


    //ajax  提交待上传的文件
    function AcceptClick() {
        var postData = new FormData();
        postData.append("file", $("#file")[0].files[0]);
        $.ajax({
            url: "../../HiddenTroubleManage/HTBaseInfo/UploadifyHidden?actionType=" + keyValue,
            type: "post",
            data: postData,
            processData: false,
            cache: false,
            contentType: false,
            loading: "正在保存数据...",
            success: function () {
                dialogClose();
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        });
    }
</script>
<div class="center-Panel">
    <div style="margin-top: 10px;"></div>
    <div class="gridPanel" style="font-size:14px;">
        <span style="margin:10px ; text-align:center; font-size:14px">
            选择导入的文件必须是符合指定格式的Microsoft Excel文档
        </span>
        <div style="margin-top:20px;"></div>
        <div style="margin:10px;" id="importNo">数据导入模板:&nbsp;&nbsp;<a href="~/Resource/ExcelTemplate/隐患导入模板.xls" target="_blank" style="font-size:14px;">[模板下载]</a></div>
        <div style="margin:10px;" id="importYes">已整改隐患数据导入模板:&nbsp;&nbsp;<a href="~/Resource/ExcelTemplate/已整改隐患导入模板.xls" target="_blank" style="font-size:14px;">[模板下载]</a></div>
        <div style="margin-top:20px;"></div>
        <div style="margin:10px;">请选择要导入的文件:&nbsp;&nbsp;</div>
        <div style="margin-top:20px;"></div>
        <div style="margin:10px;">
            <table class="form">
                <tr>
                    <td class="formTitle">
                        <input id="file" name="file" type="file" class="form-control" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<style type="text/css">
    body {
        overflow: hidden;
    }
</style>


