@{;
ViewBag.Title = "列表页面";
Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    var applyid = request('applyid');

    $(function () {
        InitialPage();
        GetGrid();
    });
    //初始化页面
    function InitialPage() {
        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 170);
            }, 200);
            e.stopPropagation();
        });
    }
    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        var queryJson = {
            applyid: applyid
        }
        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() - 170,
            url: "../../OutsourcingProject/Startapplyfor/GetHistoryPageList",
            postData: { queryJson: JSON.stringify(queryJson) },
            datatype: "json",
            colModel: [
                { label: 'id', name: 'id', index: 'id', width: 100, align: 'center', sortable: false, hidden: true },
                {
                    label: '操作', name: 'oper', width: 80, align: 'center', sortable: false, formatter: function (cellvalue, options, rowObject) {
                        var html = "<a href=javascript:f_ShowHistory('" + rowObject.id + "','" + rowObject.auditid + "','" + rowObject.outengineerid + "')  title='查看'><i class='fa fa-eye'></i></a>";
                        return html;
                    }
                },
                { label: '申请单号', name: 'applyno', index: 'applyno', width: 180, align: 'center' },
                { label: '申请类型', name: 'applytype', index: 'applytype', width: 150, align: 'center' },
                { label: '申请开工时间', name: 'applyreturntime', index: 'applyreturntime', width: 180, align: 'center', formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' } },
                 { label: '申请单位', name: 'outproject', index: 'outproject', width: 150, align: 'center' },
                { label: '申请人', name: 'applypeople', index: 'applypeople', width: 150, align: 'center' },
                { label: '申请时间', name: 'applytime', index: 'applytime', width: 150, align: 'center', formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' } },
                  { label: '审核部门', name: 'flowdeptname', index: 'flowdeptname', width: 150, align: 'center', sortable: true },
                { label: '审核状态', name: 'flowname', index: 'flowname', width: 150, align: 'center', sortable: true },
                {
                    label: '流程状态', name: 'isinvestover', index: 'isinvestover', width: 100, align: 'center', sortable: true, formatter: function (cellvalue, options, rowObject) {
                        var content = "";
                        var isinvestover = rowObject.isinvestover;
                        if (rowObject.iscommit == "1" && isinvestover == "0") {
                            content = "审查状态";
                        } else if (rowObject.iscommit == "1" && isinvestover == "1") {
                            content = "审核状态";
                        } 
                        return content;
                    }
                }
            ],
            viewrecords: true,
            rowNum: 30,
            rowList: [30, 50, 100],
            pager: "#gridPager",
            sortname: 'createdate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);
            }
        });
    }
    function f_ShowHistory(Id, auditId, engineerid) {
        var dlg = dialogOpen({
            id: 'HistoryForm',
            title: '查看历史记录',
            url: '/OutsourcingProject/Startapplyfor/HistoryForm?keyValue=' + Id + '&HisAuditId=' + auditId + '&engineerid=' + engineerid,
            width: ($(top.window).width() - 200) + "px",
            height: ($(top.window).height() - 200) + "px",
            btn: ["关闭"],
            callBack: function (iframeId) {
                top.layer.close(dlg);
            }
        });
    }
</script>

<div class="gridPanel">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>