@{
    ViewBag.Title = "岗位管理";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<link href="~/content/scripts/plugins/icheck/skins/square/_all.css" type="text/css" rel="stylesheet" />
<script src="~/content/scripts/plugins/icheck/js/icheck.min.js" type="text/javascript"></script>
<script src="~/content/scripts/plugins/icheck/js/custom.min.js" type="text/javascript"></script>
<style type="text/css">
    .tab10 td{
        background-color:white;
        height:45px;
        padding-left:5px;
    }
    .textbox1 {
        width: 40px;
        border-radius: 5px;
        box-shadow: none;
        font-size: 9pt;
        height: 22px;
        padding-top: 4px;
        padding-bottom: 1px;
        padding-right: 0px;
        padding-left: 5px;
        resize: none;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
    }
</style>
<script type="text/javascript">
    var keyValue = "黑名单标准设置";
    var itemId = "hmdbz";
    var itemCode = "black";
    $(function () {
        initControl();
    })
    //初始化控件
    function initControl() {
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../BaseManage/BlackSet/GetItemListJson",
                param: { itemName: keyValue },
                success: function (data) {
                    $(data).each(function (i,item) {
                        if (item.Status == 1) {
                            $(".icheck").eq(i).find("input:checkbox").eq(0).get(0).checked = true;
                        }
                        else {
                            $(".icheck").eq(i).find("input:checkbox").eq(0).get(0).checked = false;
                        }
                        if (item.ItemValue != null) {
                            var arr = item.ItemValue.split('|');
                            $(arr).each(function (j, val) {
                              $(".icheck").eq(i).find(".textbox1").eq(j).val(val);
                           });
                        }
                        
                    });
                }
            });
        }
        $('.icheck input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%'
        });
        //$.post("../../personmanage/blacklist/GetBlacklistUsers", function (data) {
        //    alert(data);
        //});
    }
    //保存表单
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var val = "";
        var arr = new Array();
        var isOK = true;
        $(".icheck").each(function (i, dom) {
            var itemCode = $(dom).attr("code");
            var status = 0;
            var itemValue = "";
            var itemName = "";
            var isError = false;
            $(dom).find("input").each(function (j,ipt) {
                if (j == 0) {
                    if(ipt.checked){
                        status = 1;
                    }
                } else {
                    itemValue += $(ipt).val() + "|";
                }
                if ($.trim($(ipt).val()).length == 0 && isError == false && status==1) {
                    isError = true;
                    if (isOK==true) {
                        isOK = false;
                    }
                }
            });
           
            if (itemCode == "01") {
                if (status == 1 && isError) {
                    alert("普通人员年龄条件填写不完整！");
                    return false;
                } else {
                    itemName = "普通人员年龄条件(该范围之外)：男 " + $(dom).find("input:text").eq(0).val() + "-" + $(dom).find("input:text").eq(1).val() + "周岁，女" + $(dom).find("input:text").eq(2).val() + "-" + $(dom).find("input:text").eq(3).val() + "周岁";
                }
            }
            else if (itemCode == "06") {
                if (status == 1 && isError) {
                    alert("特种作业人员年龄条件填写不完整！");
                    return false;
                } else {
                    itemName = "特种作业人员年龄条件(该范围之外)：男 " + $(dom).find("input:text").eq(0).val() + "-" + $(dom).find("input:text").eq(1).val() + "周岁，女" + $(dom).find("input:text").eq(2).val() + "-" + $(dom).find("input:text").eq(3).val() + "周岁";
                }
            }
            else if (itemCode == "07") {
                if (status == 1 && isError) {
                    alert("监理人员年龄条件填写不完整！");
                    return false;
                } else {
                    itemName = "监理人员年龄条件(该范围之外)：男 " + $(dom).find("input:text").eq(0).val() + "-" + $(dom).find("input:text").eq(1).val() + "周岁，女" + $(dom).find("input:text").eq(2).val() + "-" + $(dom).find("input:text").eq(3).val() + "周岁";
                }
            }
            else if (itemCode == "08") {
                if (status == 1 && isError) {
                    alert("特种设备作业人员年龄条件填写不完整！");
                    return false;
                } else {
                    itemName = "特种设备作业人员年龄条件(该范围之外)：男 " + $(dom).find("input:text").eq(0).val() + "-" + $(dom).find("input:text").eq(1).val() + "周岁，女" + $(dom).find("input:text").eq(2).val() + "-" + $(dom).find("input:text").eq(3).val() + "周岁";
                }
            }
            else if (itemCode == "11") {
                if (status == 1 && isError) {
                    alert("外委人员年龄条件填写不完整！");
                    return false;
                } else {
                    itemName = "外委人员年龄条件(该范围之外)：男 " + $(dom).find("input:text").eq(0).val() + "-" + $(dom).find("input:text").eq(1).val() + "周岁，女" + $(dom).find("input:text").eq(2).val() + "-" + $(dom).find("input:text").eq(3).val() + "周岁";
                }
            }
            else if (itemCode == "10") {
                itemName = "超龄人员不允许导入(新增)到系统中";
            }
            else {
                itemName = $("#td" + itemCode).attr("title") + $(dom).find("input:text").eq(0).val();
            }
            arr.push({
                Id: newGuid(),
                Remark:itemName,
                ItemCode: itemCode,
                ItemValue: itemValue.substring(0,itemValue.length-1),
                DeptCode: top.currUserOrgCode,
                Status: status,
                SortCode: i,
                CreateDate:formatDate(new Date(),'yyyy-MM-dd hh:mm:ss')

            });
        });
        if(isOK==true){
            $.SaveForm({
                url: "../../BaseManage/BlackSet/SaveForm",
                param: { itemJson: JSON.stringify(arr) },
                loading: "正在保存数据...",
                success: function () {
                    $.currentIframe().$("#gridTable").trigger("reloadGrid");
                }
            })
        } else {
            dialogMsg("请填写正确且完整的数据！",0);
        }
       
    }
</script>
<div style="margin-left: 10px; margin-top: 20px; margin-right: 30px;">
    <table cellpadding="0" cellspacing="0" class="table1" border="1" style="width:100%; background-color:#ccc;">
        <tr style="font-weight: bold;">
            <td style="width: 40px;" align="center">启用</td>
            <td align="center">加入黑名单标准</td>
        </tr>
        <tr class="icheck" code="01">
            <td style="width: 40px;" align="center"><input type="checkbox" value="1" /></td>
            <td id="td01">
                普通人员年龄条件(该范围之外)：男&nbsp;&nbsp;<input type="text" class="textbox1" isvalid="yes" checkexpession="NumOrNull" />-<input type="text" class="textbox1" isvalid="yes" checkexpession="NumOrNull" />周岁，女&nbsp;&nbsp;<input type="text" class="textbox1" isvalid="yes" checkexpession="NumOrNull" />-<input type="text" class="textbox1" isvalid="yes" checkexpession="NumOrNull" />周岁

            </td>
        </tr>
        <tr class="icheck" code="06">
            <td style="width: 40px;" align="center"><input type="checkbox" value="1" /></td>
            <td id="td06">
                特种作业人员年龄条件(该范围之外)：男&nbsp;&nbsp;<input type="text" class="textbox1" isvalid="yes" checkexpession="NumOrNull" />-<input type="text" class="textbox1" isvalid="yes" checkexpession="NumOrNull" />周岁，女&nbsp;&nbsp;<input type="text" class="textbox1" isvalid="yes" checkexpession="NumOrNull" />-<input type="text" class="textbox1" isvalid="yes" checkexpession="NumOrNull" />周岁

            </td>
        </tr>
        <tr class="icheck" code="08">
            <td style="width: 40px;" align="center"><input type="checkbox" value="1" /></td>
            <td id="td08">
                特种设备作业人员年龄条件(该范围之外)：男&nbsp;&nbsp;<input type="text" class="textbox1" isvalid="yes" checkexpession="NumOrNull" />-<input type="text" class="textbox1" isvalid="yes" checkexpession="NumOrNull" />周岁，女&nbsp;&nbsp;<input type="text" class="textbox1" isvalid="yes" checkexpession="NumOrNull" />-<input type="text" class="textbox1" isvalid="yes" checkexpession="NumOrNull" />周岁

            </td>
        </tr>
        <tr class="icheck" code="07">
            <td style="width: 40px;" align="center"><input type="checkbox" value="1" /></td>
            <td id="td07">
                监理人员年龄条件(该范围之外)：男&nbsp;&nbsp;<input type="text" class="textbox1" isvalid="yes" checkexpession="NumOrNull" />-<input type="text" class="textbox1" isvalid="yes" checkexpession="NumOrNull" />周岁，女&nbsp;&nbsp;<input type="text" class="textbox1" isvalid="yes" checkexpession="NumOrNull" />-<input type="text" class="textbox1" isvalid="yes" checkexpession="NumOrNull" />周岁
            </td>
        </tr>
        <tr class="icheck" code="11">
            <td style="width: 40px;" align="center"><input type="checkbox" value="1" /></td>
            <td id="td11">
                外委人员年龄条件(该范围之外)：男&nbsp;&nbsp;<input type="text" class="textbox1" isvalid="yes" checkexpession="NumOrNull" />-<input type="text" class="textbox1" isvalid="yes" checkexpession="NumOrNull" />周岁，女&nbsp;&nbsp;<input type="text" class="textbox1" isvalid="yes" checkexpession="NumOrNull" />-<input type="text" class="textbox1" isvalid="yes" checkexpession="NumOrNull" />周岁
            </td>
        </tr>
        <tr class="icheck" code="02">
            <td style="width: 40px;" align="center"><input type="checkbox" value="1" /></td>
            <td id="td02" title="安全培训考试不合格大于等于">安全培训考试不合格大于等于&nbsp;&nbsp;<input type="text" class="textbox1" isvalid="yes" checkexpession="NumOrNull" /></td>
        </tr>
        <tr class="icheck" code="03">
            <td style="width: 40px;" align="center"><input type="checkbox" value="1" /></td>
            <td id="td03" title="一般违章次数大于等于">一般违章次数大于等于&nbsp;&nbsp;<input type="text" class="textbox1" isvalid="yes" checkexpession="NumOrNull" /> </td>
        </tr>
        <tr class="icheck" code="04">
            <td style="width: 40px;" align="center"><input type="checkbox" value="1" /></td>
            <td id="td04" title="严重违章次数大于等于">严重违章次数大于等于&nbsp;&nbsp;<input type="text" class="textbox1" isvalid="yes" checkexpession="NumOrNull" /> </td>
        </tr>
        <tr class="icheck" code="05">
            <td style="width: 40px;" align="center"><input type="checkbox" value="1" /></td>
            <td id="td05" title="人员安全积分小于等于">人员安全积分小于等于&nbsp;&nbsp;<input type="text" class="textbox1" isvalid="yes" checkexpession="NumOrNull" /></td>
        </tr>
        <tr class="icheck" code="12">
            <td style="width: 40px;" align="center"><input type="checkbox" value="1" /></td>
            <td id="td12" title="外委人员违章积分小于等于">外委人员违章积分小于等于&nbsp;&nbsp;<input type="text" class="textbox1" isvalid="yes" checkexpession="NumOrNull" /></td>
        </tr>
        <tr class="icheck" code="10">
            <td style="width: 40px;" align="center"><input type="checkbox" value="1" /></td>
            <td id="td10" title="超龄人员不允许导入(新增)本系统">超龄人员不允许导入(新增)到系统中</td>
        </tr>
    </table>
  
    
</div>
<div class="text-center" style="margin-top:10px;"><input type="button" class="btn btn-primary" value="保  存" onclick="AcceptClick()" /> </div>