<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>综合信息</title>
    <link rel="stylesheet" href="~/content/Comprehensive/css/common.css" />
    <link rel="stylesheet" href="~/content/Comprehensive/css/information.css" />
    <link rel="stylesheet" href="~/content/Comprehensive/css/swiper.min.css">
    <style type="text/css">
        #Content p {
            padding-top: 10px;
        }
    </style>
</head>
<body>
    <div class="section infoTop">
        <a class="infoBtn">EHS组织机构&gt;</a>
    </div>

    <div class="section infoMiddle clearfix">
        <div class="info2_left">
            <h1 class="main_title">
                通知公告
                <span id="tabnews"><a>更多></a></span>
            </h1>
            <ul id="news">
                @*<li>
                    <p>关于召开[三月份安全形势分析会]安全会议的通知</p><span>2018-03-06</span>
                </li>
                <li>
                    <p>关于召开[三月份安全形势分析会]安全会议的通知</p><span>2018-03-06</span>
                </li>
                <li>
                    <p>关于召开[三月份安全形势分析会]安全会议的通知</p><span>2018-03-06</span>
                </li>
                <li>
                    <p>关于召开[三月份安全形势分析会]安全会议的ddddddddddd通知</p><span>2018-03-06</span>
                </li>
                <li>
                    <p>关于召开[三月份安全形势分析会]安全会议的通知</p><span>2018-03-06</span>
                </li>
                <li>
                    <p>关于召开[三月份安全形势分析会]安全会议的通知</p><span>2018-03-06</span>
                </li>
                <li>
                    <p>关于召开[三月份安全形势分析会]安全会议的通知</p><span>2018-03-06</span>
                </li>
                <li>
                    <p>关于召开[三月份安全形势分析会]安全会议的通知</p><span>2018-03-06</span>
                </li>*@
            </ul>
        </div>

        <div class="info2_right">
            <h1 class="main_title">
                理念政策
            </h1>
            <dl id="Content">
                @*<dd class="clearfix"><strong>诚实守信：</strong><span>诚信经营，信守承诺，忠诚地履行自身承担的义务。</span></dd>
                    <dd class="clearfix"><strong>依法合规：</strong><span>遵守法律法规及行业标准，依法合规经营。</span></dd>
                    <dd class="clearfix"><strong>以人为本：</strong><span>尊重员工，促使员工全面发展，帮助员工实现自我价值。</span></dd>
                    <dd class="clearfix"><strong>全员参与：</strong><span>包含相关方的全体员工共同参与公司安全、健康、环保工作。</span></dd>
                    <dd class="clearfix"><strong>风险预控：</strong><span>致力于控制风险，确保设备系统安全稳定运行，一切作业过程安全可控。</span></dd>
                    <dd class="clearfix"><strong>安全环保：</strong><span>为员工创造安全的工作条件，实现零意外、零伤害；致力于环境的可持续性发展，保护环境、和谐发展。</span></dd>
                    <dd class="clearfix"><strong>节能高效：</strong><span>节约资源、清洁生产。</span></dd>
                    <dd class="clearfix"><strong>健康幸福：</strong><span>身体健康、生活幸福。</span></dd>
                    <dd class="clearfix"><strong>持续发展：</strong><span>持续不断努力为企业和社会创造一个更加安全、健康、环保的工作环境。</span></dd>
                    <dd class="clearfix"><strong>追求卓越：</strong><span>精益管理、持续改善、树立标杆。</span></dd>*@
            </dl>
        </div>
    </div>

    <div class="infoBottom">
        <div class="section">
            <h1 class="main_title">
                荣誉展示
                <span id="tabnews1"><a>更多></a></span>
            </h1>
            <div class="infoBox">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        @*<div class="swiper-slide">
                            <a href="javascript:;"><img src="images/infoImg1.jpg"><p>第二届湖北省安全生产知识竞赛题库知识竞赛题库</p></a>
                        </div>
                        <div class="swiper-slide">
                            <a href="javascript:;"><img src="images/infoImg2.jpg"><p>凝心聚力勇创佳绩—建筑安全事业部团建活动</p></a>
                        </div>
                        <div class="swiper-slide">
                            <a href="javascript:;"><img src="images/infoImg3.jpg"><p>第二届湖北省安全生产知识竞赛题库知识竞赛题库</p></a>
                        </div>
                        <div class="swiper-slide">
                            <a href="javascript:;"><img src="images/infoImg4.jpg"><p>关于组织参加2017年安全评价师考试的通知</p></a>
                        </div>
                        <div class="swiper-slide">
                            <a href="javascript:;"><img src="images/infoImg1.jpg"><p>第二届湖北省安全生产知识竞赛题库知识竞赛题库</p></a>
                        </div>*@
                    </div>

                </div>
                <!-- Add Pagination -->
                <div class="swiper-button-prev"></div><!--左箭头-->
                <div class="swiper-button-next"></div><!--右箭头-->
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/content/scripts/jquery/jquery-1.8.2.min.js"></script>
<script src="~/content/scripts/plugins/swiper/js/swiper.min.js"></script>
<script src="~/Content/adminWindos/index.js"></script>
<script src="~/Content/scripts/plugins/dialog/dialog.js"></script>
<script src="~/Content/scripts/utils/framework-ui.js"></script>
<script>
    new Swiper('.swiper-container', {
        slidesPerView: 4,
        slidesPerGroup: 4,
        speed: 1000,
        spaceBetween: 15,
        //freeMode: true,
        observer: true,
        observeParents: true,
        allowTouchMove: false,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        }
    });
    $(function () {
        htmlReplace();
        //通知公告
        $.get("../../RoutineSafetyWork/Announcement/GetIndexJson", function (data) {
            var json = eval("(" + data + ")");
            if (json.rows.length > 0) {
                var html = "";
                for (var i = 0; i < json.rows.length; i++) {
                    html += "<li onclick=\"news_show('" + json.rows[i].id + "','" + json.rows[i].issend + "')\"><p>" + json.rows[i].title + "</p><span>" + formatDate(json.rows[i].releasetime, 'yyyy-MM-dd') + "</span></li>";
                };
                $("#news").html(html);
            }
        });

        //荣誉展示
        $.post("../Honours/GetTrends?num=6", function (data) {
            var json = eval("(" + data + ")");
            if (json.resultdata) {
                var html = "";
                for (var i = 0; i < json.resultdata.length; i++) {
                    var filepath = json.resultdata[i].filepath;
                    if (filepath) {
                        filepath = filepath.replace(/~/g, '../..');
                    }
                    else {
                        filepath = "../../Content/hrdesktop/images/404_r1_c2.png";
                    }
                    html += "<div class='swiper-slide'  onclick=\"honour_show('" + json.resultdata[i].id + "')\"><a href='javascript:;'><img src='" + filepath + "' /><p>" + json.resultdata[i].title + "</p></a></div>";
                };
                $(".swiper-wrapper").html(html);


            }
        });
        $("#tabnews").click(function () {
            openTab('fe8d5f36-64a1-408e-8aa7-42469400ef0c', '../RoutineSafetyWork/Announcement/Index', '通知公告');
        })
        $("#tabnews1").click(function () {
            openTab('da4c8689-5baf-4a63-8fd7-d798dd240619', '../ComprehensiveManage/Honours/Index', '荣誉分享');
        })
        $(".infoBtn").click(function () {
            openTab('', '../ComprehensiveManage/MainPage/Organ', '组织机构');
        })
    })
    var keyValuePage = "";
    //理念政策
    function htmlReplace() {
        //if (!!keyValue) {
        $.ajax({
            url: "../../ComprehensiveManage/Conceptpolicy/GetData",
            data: { keyValue: keyValuePage },
            success: function (data) {
                if (!!data) {
                    if (data != "null") {
                        var ndata = eval("(" + data + ")");
                        keyValuePage = ndata[0].Id;
                        $("#Content").html(ndata[0].Content);
                    }
                }
            }
        })
        //}
    }
    function honour_show(id) {
        var keyValue = id;
        var dlg = dialogOpen({
            id: "Form1",
            title: '查看荣誉分享',
            url: '/Content/SecurityDynamics/Show.html?keyValue=' + keyValue + "&state=4",
            width: "900px",
            height: ($(top.window).height() - 150) + "px",
            btn: ["关闭"],
            callBack: function (iframeId) {
                top.layer.close(dlg);
            }
        });
    }

    //查看
    function news_show(id, issend) {
        var dlg = dialogOpen({
            id: "Form",
            title: '查看通知公告',
            url: '/Content/SecurityDynamics/showNotice.html?keyValue=' + id + "&issend=" + issend,
            width: "900px",
            height: ($(top.window).height() - 150) + "px",
            btn: ["关闭"],
            callBack: function (iframeId) {
                top.layer.close(dlg);
            }
        });
    }
</script>
