@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" style="width: 2807px;">
<head>
    <meta charset="UTF-8">
    <title>安全生产保障体系组织机构图</title>
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/organization.css" />
</head>
<body class="or_bg or_bg2">
    <div class="organization">
        <img src="images/or_logo.png" class="organization_logo">
        <h1 class="or_title">安全生产保障体系组织机构图</h1>
        <div class="turnDiv clearfix">
            <a href="organization1.html">安全生产监督体系</a>
            <a href="organization2.html">安全生产保障体系</a>
        </div>
        <div class="organization_main1">
            <div class="organization_top">
                <p style="padding-right: 30px;margin-bottom: 0;"><span style="width: 382px;">公司助理总经理：张开亮</span></p>
            </div>
            <div class="organization_con2 clearfix">
                <div class="organization2_dep1">
                    <h3 class="department_title">公司管理层</h3>
                    <div class="department_con" style="margin-bottom: 43px;">
                        <p>公司副总经理：张瑞龙</p>
                        <p>公司技术总监：陆军</p>
                    </div>
                </div>

                <div class="organization2_dep2">
                    <h3 class="department_title">办公室</h3>
                    <div class="department_con">
                        <p><strong>办公室主任：</strong></p>
                        <p>慎代娣13508645390</p>
                    </div>
                    <div class="department_con">
                        <p><strong>办公室副主任：</strong></p>
                        <p>陈大13476957119</p>
                    </div>
                    <div class="department_con">
                        <p><strong>人力资源主管：</strong></p>
                        <p>婧自强18872833877</p>
                    </div>
                    <div class="department_con">
                        <p><strong>消防保卫：</strong></p>
                        <p>程文涛18727800887</p>
                    </div>
                    <div class="department_con">
                        <p><strong>燃料内控监督：</strong></p>
                        <p>潘修强13451108441</p>
                    </div>
                    <div class="department_con">
                        <p><strong>车辆管理：</strong></p>
                        <p>祝春光15872844177</p>
                    </div>
                    <div class="department_con">
                        <p><strong>食品安全：</strong></p>
                        <p>徐新文15271265328</p>
                    </div>
                    <div class="department_con">
                        <p><strong>燃煤登记：</strong></p>
                        <p>李文征15872876661</p>
                    </div>
                </div>

                <div class="organization2_dep6">
                    <h3 class="department_title">营销部</h3>
                    <div class="department_con">
                        <p>营销部副部长：周航15827925028</p>
                        <p>营销部副部长：吴翔13797797602</p>
                    </div>
                </div>

                <div class="organization2_dep3">
                    <h3 class="department_title">发电部</h3>
                    <div class="department_con">
                        <p><strong>发电部部长：</strong></p>
                        <p>黄亮13797238396</p>
                    </div>
                    <div class="department_con">
                        <p><strong>发电部副部长：</strong></p>
                        <p>李皓13789924449</p>
                    </div>
                    <div class="department_con">
                        <p><strong>发电部副部长：</strong></p>
                        <p>龙云飞13997531112</p>
                    </div>
                    <div class="department_con">
                        <p><strong>发电部副部长：</strong></p>
                        <p>李烽平13972825236</p>
                    </div>
                    <div class="department_con">
                        <p><strong>发电部副部长：</strong></p>
                        <p>王复琼13797232816</p>
                    </div>
                    <div class="department_con">
                        <p><strong>电气运行：</strong></p>
                        <p>蔡剑13871103969</p>
                    </div>
                    <div class="department_con">
                        <p><strong>汽机运行：</strong></p>
                        <p>杨敏亮15972388756</p>
                    </div>
                    <div class="department_con">
                        <p><strong>锅炉运行：</strong></p>
                        <p>李志东18727800718</p>
                    </div>
                    <div class="department_con">
                        <p><strong>灰硫运行：</strong></p>
                        <p>司萌萌13545580828</p>
                    </div>
                    <div class="department_con">
                        <p><strong>化学运行：</strong></p>
                        <p>廖林13872155042</p>
                    </div>
                    <div class="department_con">
                        <p><strong>燃料运行：</strong></p>
                        <p>方小强13997531033</p>
                    </div>
                    <div class="department_con">
                        <p><strong>煤场机务：</strong></p>
                        <p>袁亚楠13797230101</p>
                    </div>
                    <div class="department_con">
                        <p><strong>采制样班长：</strong></p>
                        <p>刘涛13997542603</p>
                    </div>
                    <div class="department_con">
                        <p><strong>计量：</strong></p>
                        <p>艾力15272661512</p>
                    </div>
                    <div class="department_con">
                        <p><strong>运行班：</strong></p>
                        <p>一值值长：雷虎明13687140799</p>
                        <p>二值值长：张宏亮13986625920</p>
                        <p>三值值长：刘涛13972846900</p>
                        <p>四值值长：李铁军13797231347</p>
                        <p>五值值长：林勇强13997501401</p>
                    </div>
                </div>

                <div class="organization2_dep4">
                    <h3 class="department_title">技术支持部</h3>
                    <div class="department_con">
                        <p><strong>技术支持部部长：</strong></p>
                        <p>张开亮</p>
                    </div>
                    <div class="department_con">
                        <p><strong>技术支持部副部长：</strong></p>
                        <p>邓雷凯13997549162</p>
                    </div>
                    <div class="department_con">
                        <p><strong>技术支持部副部长：</strong></p>
                        <p>杜新园13886507379</p>
                    </div>
                    <div class="department_con">
                        <p><strong>汽机专业：</strong></p>
                        <p>王善雷13997501345</p>
                    </div>
                    <div class="department_con">
                        <p><strong>锅炉专业：</strong></p>
                        <p>王治涛13997504696</p>
                    </div>
                    <div class="department_con">
                        <p><strong>电气专业：</strong></p>
                        <p>易庆13476905926</p>
                    </div>
                    <div class="department_con">
                        <p><strong>热控专业：</strong></p>
                        <p>吴三寅13997531116</p>
                    </div>
                    <div class="department_con">
                        <p><strong>化环专业：</strong></p>
                        <p>喻柏生13797251331</p>
                    </div>
                    <div class="department_con">
                        <p><strong>灰硫专业：</strong></p>
                        <p>纪作军13997531111</p>
                    </div>
                    <div class="department_con">
                        <p><strong>土建专业：</strong></p>
                        <p>杨在洲13872175484</p>
                    </div>
                    <div class="department_con">
                        <p><strong>信息专业：</strong></p>
                        <p>杜兴展13476950099</p>
                    </div>
                    <div class="department_con">
                        <p><strong>燃料专业：</strong></p>
                        <p>牛会鹏15272064110</p>
                    </div>
                    <div class="department_con">
                        <p><strong>仓库主管：</strong></p>
                        <p>胡凤龙13545578628</p>
                    </div>
                </div>

                <div class="organization2_dep5">
                    <h3 class="department_title">长协外委单位</h3>
                    <div class="department_con">
                        <p><strong>湖北能创（运行）：</strong></p>
                        <p>王政18371501570</p>
                    </div>
                    <div class="department_con">
                        <p><strong>湖北能创（检修）：</strong></p>
                        <p>樊友新13972817360</p>
                    </div>
                    <div class="department_con">
                        <p><strong>山西电建：</strong></p>
                        <p>李金道18871506152</p>
                    </div>
                    <div class="department_con">
                        <p><strong>北京中地：</strong></p>
                        <p>王永武18471351677</p>
                    </div>
                    <div class="department_con">
                        <p><strong>武汉重工：</strong></p>
                        <p>常伟15972380051</p>
                    </div>
                    <div class="department_con">
                        <p><strong>山东电建：</strong></p>
                        <p>郭新伟18218770665</p>
                    </div>
                    <div class="department_con">
                        <p><strong>湖北电建：</strong></p>
                        <p>李震宇15072377599</p>
                    </div>
                    <div class="department_con">
                        <p><strong>泰山电建（运行）：</strong></p>
                        <p>王跃烽18371527816</p>
                    </div>
                    <div class="department_con">
                        <p><strong>淮南星昊：</strong></p>
                        <p>代怀延12871136001</p>
                    </div>
                    <div class="department_con">
                        <p><strong>河南古城：</strong></p>
                        <p>李小兵15272679136</p>
                    </div>
                    <div class="department_con">
                        <p><strong>郑州三六三：</strong></p>
                        <p>褚桂勇15660162081</p>
                    </div>
                    <div class="department_con">
                        <p><strong>京山华麟：</strong></p>
                        <p>许锋18872824009</p>
                    </div>
                    <div class="department_con">
                        <p><strong>蒲圻特起：</strong></p>
                        <p>魏绍为13797254658</p>
                    </div>
                    <div class="department_con">
                        <p><strong>上海倍安：</strong></p>
                        <p>何细雄13797254658</p>
                    </div>
                    <div class="department_con">
                        <p><strong>矿山起重：</strong></p>
                        <p>卜祥茂15093931698</p>
                    </div>
                    <div class="department_con">
                        <p><strong>雪迪龙CEMS维护：</strong></p>
                        <p>唐彬18164008945</p>
                    </div>
                    <div class="department_con">
                        <p><strong>华维斯博：</strong></p>
                        <p>周军18872824009</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="js/jquery-2.2.4.min.js"></script>
<style>
</style>
