@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" style="width: 3135px;">
<head>
    <meta charset="UTF-8">
    <title>安全生产监督体系组织机构图</title>
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/organization.css" />
</head>
<body class="or_bg or_bg1">
    <div class="organization">
        <img src="images/or_logo.png" class="organization_logo">
        <h1 class="or_title">安全生产监督体系组织机构图</h1>
        <div class="turnDiv clearfix">
            <a href="organization1.html">安全生产监督体系</a>
            <a href="organization2.html">安全生产保障体系</a>
        </div>
        <div class="organization_main1">
            <div class="organization_top">
                <p><span>公司总经理：彭峰</span></p>
                <p><strong>EHS部副部长：皮马光15027382382</strong></p>
            </div>
            <div class="organization_con1 clearfix">
                <div class="organization1_dep1">
                    <h3 class="department_title">办公室</h3>
                    <div class="department_con">
                        <p>办公室安全员：程文涛18727800887</p>
                        <p>燃煤登记：李文征15872876661</p>
                    </div>
                </div>

                <div class="organization1_dep2">
                    <h3 class="department_title">营销部</h3>
                    <div class="department_con">
                        <p>副产品营销岗：唐嘉键18727800721</p>
                    </div>
                </div>

                <div class="organization1_dep3">
                    <h3 class="department_title">EHS部</h3>
                    <div class="department_con">
                        <p>安全监督岗：李为民15997977000</p>
                        <p>安全监督岗：黄家喜13997532868</p>
                        <p>安全监督岗：桑尚科13797231150</p>
                        <p>安全监督岗：张飞帆13797230817</p>
                        <p>安全监督岗：刘&nbsp;&nbsp;&nbsp;&nbsp;刚13789926000</p>
                        <p>环保节能与职业健康岗：范成竹13986624546</p>
                    </div>
                </div>

                <div class="organization1_dep4">
                    <h3 class="department_title">发电部</h3>
                    <div class="department_con1">
                        <p>发电部安全员：王少勇15027375986</p>
                        <p>发电部安全员：魏&nbsp;&nbsp;&nbsp;&nbsp;蕾18207246281</p>
                    </div>
                    <div class="department_con">
                        <p><strong>集控班组</strong></p>
                        <p>一值安全员：赵晓龙18608113511</p>
                        <p>二值安全员：魏志红13476957379</p>
                        <p>三值安全员：陈占鳌18727800726</p>
                        <p>四值安全员：殷溪源18371541358</p>
                        <p>五值安全员：乔&nbsp;&nbsp;&nbsp;&nbsp;可13476938321</p>
                    </div>
                    <div class="department_con">
                        <p><strong>湖北能创（辅控运行）</strong></p>
                        <p><strong>王静静15871940780</strong></p>
                        <p>一值安全员：刘&nbsp;&nbsp;&nbsp;&nbsp;犇18608688613</p>
                        <p>二值安全员：宋博华15926924412</p>
                        <p>三值安全员：杨&nbsp;&nbsp;&nbsp;&nbsp;智13972826616</p>
                        <p>四值安全员：徐振环13687141400</p>
                    </div>
                    <div class="department_con">
                        <p><strong>湖北能创（辅控运行）</strong></p>
                        <p><strong>王静静15871940780</strong></p>
                        <p>一值安全员：刘&nbsp;&nbsp;&nbsp;&nbsp;犇18608688613</p>
                        <p>二值安全员：宋博华15926924412</p>
                        <p>三值安全员：杨&nbsp;&nbsp;&nbsp;&nbsp;智13972826616</p>
                        <p>四值安全员：徐振环13687141400</p>
                    </div>
                    <div class="department_con">
                        <p><strong>泰山电建（燃料运行）</strong></p>
                        <p><strong>李新文15997985532</strong></p>
                        <p>一值安全员：邹永清15972495837</p>
                        <p>二值安全员：李春丙13986623279</p>
                        <p>三值安全员：邓新华13508645082</p>
                        <p>四值安全员：刘勇文13451117317</p>
                    </div>
                    <div class="department_con">
                        <p><strong>翻车机运行：徐元旦15972380035</strong></p>
                        <p>翻车机安全员：樊新民15872011964</p>
                    </div>
                    <div class="department_con">
                        <p><strong>采制样班组</strong></p>
                        <p>采制样班组安全员：蒲勇军13545600126</p>
                    </div>
                </div>

                <div class="organization1_dep5">
                    <h3 class="department_title">技术支持部</h3>
                    <div class="department_con">
                        <p><strong>技术支持部安全员：</strong></p>
                        <p>刘洪雷15871955445</p>
                    </div>
                    <div class="department_con">
                        <p><strong>技术支持部安全员：</strong></p>
                        <p>田冰13972846488</p>
                    </div>
                    <div class="department_con">
                        <p><strong>锅炉专业：</strong></p>
                        <p>刘昌泉13971806712</p>
                    </div>
                    <div class="department_con">
                        <p><strong>汽机专业：</strong></p>
                        <p>向欢18727864021</p>
                    </div>
                    <div class="department_con">
                        <p><strong>热控专业：</strong></p>
                        <p>成连杰13476950051</p>
                    </div>
                    <div class="department_con">
                        <p><strong>电气专业：</strong></p>
                        <p>张磊13789920997</p>
                    </div>
                    <div class="department_con">
                        <p><strong>输煤、土建专业：</strong></p>
                        <p>夏宇峰15926931756</p>
                    </div>
                    <div class="department_con">
                        <p><strong>化学化验班组：</strong></p>
                        <p>贺建强13319406807</p>
                    </div>
                    <div class="department_con">
                        <p><strong>仓库班组：</strong></p>
                        <p>孟威15272713659</p>
                    </div>
                    <div class="department_con">
                        <p><strong>灰硫：</strong></p>
                        <p>李德志13545581196</p>
                    </div>
                </div>

                <div class="organization1_dep6">
                    <h3 class="department_title">长协外委单位</h3>
                    <div class="clearfix organization_dep6_main">
                        <div class="organization_dep6_1 fl">
                            <div class="department_con">
                                <p><strong>河南古城：法金霞15272681682</strong></p>
                                <p>锅炉专业安全员：陈占锋13598902086</p>
                                <p>汽机专业安全员：刘尚辉15271297853</p>
                                <p>热控专业安全员：苏建康13476943635</p>
                                <p>电气专业安全员：李明刚15272681191</p>
                            </div>
                            <div class="department_con">
                                <p><strong>湖北能创：何有宝17671847605</strong></p>
                                <p>一期脱硫机务班组：龚元志13872161017</p>
                                <p>一期除灰机务班组：魏华15872838887</p>
                                <p>一期灰硫电控班组：佘正良13872176246</p>
                            </div>
                            <div class="department_con">
                                <p><strong>山西电建：路通18871531296</strong></p>
                                <p>一期制粉机务班组：田泽军18903778044</p>
                                <p>一期制粉电控班组：杨波1363984309</p>
                            </div>
                            <div class="department_con">
                                <p><strong>武汉重工：徐元旦15972380035(61135)</strong></p>
                                <p>翻车机运行班组：樊新民15872011964</p>
                                <p>翻车机检修班组：童仁祥13997518887</p>
                            </div>
                            <div class="department_con">
                                <p><strong>山东电建：孟林林18254770610</strong></p>
                                <p>二期锅炉班组：冯计强13485361526</p>
                                <p>二期汽机班组：周生忠18079760701</p>
                                <p>二期电气班组：路彬15966645036</p>
                                <p>二期热控班组：张怀欣18353056868</p>
                            </div>
                        </div>
                        <div class="organization_dep6_2 fr">
                            <div class="department_con">
                                <p><strong>淮南星昊：张航15872052150</strong></p>
                                <p>一期化学机务班长：任爱华15872049535</p>
                                <p>一期化学电控班组：方和年18271136011</p>
                                <p>二期化学机务班组：邹长青15972382226</p>
                                <p>二期化学电控班组：陈普庆18371506847</p>
                            </div>
                            <div class="department_con">
                                <p><strong>北京中地：汪贤明18727837327</strong></p>
                                <p>输煤机务一班：刘光军15972519995</p>
                                <p>输煤机务二班：吕添成18271126280</p>
                                <p>输煤电控班组：郑长武13997512489</p>
                            </div>
                            <div class="department_con">
                                <p><strong>郑州三六三：石威18872821746</strong></p>
                                <p>二期制粉电控班组：李二青13872165945</p>
                                <p>二期制粉机务班组：马继春15872813624</p>
                            </div>
                            <div class="department_con">
                                <p><strong>湖北电建：张蕾13971209727</strong></p>
                                <p>二期灰硫机务班组：樊友良13971822713</p>
                                <p>二期灰硫电控班组：胡勇13207113881</p>
                            </div>
                            <div class="department_con">
                                <p><strong>蒲圻特起：冯少林13997509691</strong></p>
                            </div>
                            <div class="department_con">
                                <p><strong>上海倍安：葛颖丽15872806629</strong></p>
                            </div>
                            <div class="department_con">
                                <p><strong>矿山起重：李训涛18317717582</strong></p>
                            </div>
                            <div class="department_con">
                                <p><strong>雪迪龙CEMS维护：刘衍棋18602724208</strong></p>
                            </div>
                            <div class="department_con">
                                <p><strong>华维斯博：杨永兰15872867816</strong></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="organization1_dep7">
                    <h3 class="department_title">安健环员工代表</h3>
                    <div class="department_con2">
                        <p><strong>01区</strong>（生活、办公区）：邹婵18727787131</p>
                        <p><strong>02区</strong>（循环水区域）：梅运强18727800890</p>
                        <p><strong>03区</strong>（一期水处理区域）：韩健15271278275</p>
                        <p><strong>04区</strong>（二期水处理区域）：廖林13872155042</p>
                        <p><strong>05区</strong>（一期水处理区域1）：龚文斌15717247917</p>
                        <p><strong>06区</strong>（二期水处理区域1）：但春龙13476949760</p>
                        <p><strong>07区</strong>（一期、二期主机配电室区域）：蔡剑13871103969</p>
                        <p><strong>08区</strong>（一期、二期辅控配电室区域）：黎媛18371535755</p>
                        <p><strong>09区</strong>（一期集控楼区域）：龙腾15872037645</p>
                        <p><strong>10区</strong>（二期集控楼区域）：李红阳13997540551</p>
                        <p><strong>11区</strong>（一、二期汽机房区域）：杨敏亮15972388756</p>
                        <p><strong>12区</strong>（一期汽机房区域1）：邵鹏飞15272731134</p>
                        <p><strong>13区</strong>（一期汽机房区域2）：杨豹18727791423</p>
                        <p><strong>14区</strong>（二期汽机房区域1）：邓志生13477763433</p>
                        <p><strong>15区</strong>（二期汽机房区域2）：赵航15872037505</p>
                        <p><strong>16区</strong>（一、二期锅炉区域）：李志东18727800718</p>
                        <p><strong>17区</strong>（一期制粉区域）：黄庭辉18696246816</p>
                        <p><strong>18区</strong>（二期制粉区域）：陈赛15872046517</p>
                        <p><strong>19区</strong>（#1锅炉区域）：许振基18727824417</p>
                        <p><strong>20区</strong>（#2锅炉区域）：苑小龙18727824417</p>
                        <p><strong>21区</strong>（#3锅炉区域）：袁东旭18371505010</p>
                        <p><strong>22区</strong>（#4锅炉区域）：徐冲13545581446</p>
                        <p><strong>23区</strong>（#1、2灰控区域）：温远15271253150</p>
                        <p><strong>24区</strong>（#3、4灰控区域）：司萌萌13545580828</p>
                        <p><strong>25区</strong>（一期除灰区域）：项胜18202545993</p>
                        <p><strong>26区</strong>（二期除灰区域）：沈志13476952150</p>
                        <p><strong>27区</strong>（烟囱区域）：杨在洲13872175484</p>
                        <p><strong>28区</strong>（一期煤场区域）：方小强13997531033</p>
                        <p><strong>29区</strong>（一期上煤区域）：张新建18372768316</p>
                        <p><strong>30区</strong>（二期煤场区域）：袁亚楠13797230101</p>
                        <p><strong>31区</strong>（二期上煤区域）：马朝辉13476909368</p>
                        <p><strong>32区</strong>（翻车机区域）：唐仲秋18871506918</p>
                        <p><strong>33区</strong>（计量区域）：艾力15272661512</p>
                        <p><strong>34区</strong>（余煤清扫区域）：刘辉13997542603</p>
                        <p><strong>35区</strong>（入厂煤采样区域）：刘涛13997542603</p>
                        <p><strong>36区</strong>（煤制样及化验区域）：顾水13476891120</p>
                        <p><strong>37区</strong>（南门区域）：唐嘉键18727800721</p>
                        <p><strong>38区</strong>（一期道路和绿化）：邹谭亮13165691667</p>
                        <p><strong>39区</strong>（二期道路和绿化）：王晓明18727845136</p>
                        <p><strong>40区</strong>（仓储区域）：胡凤龙13545578628</p>
                        <p><strong>41区</strong>（消防楼区域）：程文涛18727800887</p>
                        <p><strong>42区</strong>（食堂）：徐新文15271265328</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="js/jquery-2.2.4.min.js"></script>
<style>
</style>
