@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = request('keyValue');
    var AreaCode = request('AreaCode');
    var areaId = request('areaId');
    var action = request('action');
    var time = "@DateTime.Now";
    var username = "@ERCHTMS.Code.OperatorProvider.Provider.Current().UserName";

    $(function () {
        $("#CreateDate").val(time);
        $("#OperUserName").val(username);
        initControl();
        if (action == "show") {
            disabledControl();
            $("#showstate").show();
            $("#StationState").val("在线");
        }
        if (action == "add") {
            $("#AreaId").ComboBoxTreeSetValue(areaId);
            $("#AreaId").trigger("change");
        }

    });
    //初始化控件
    function initControl() {
        $("#AreaId").ComboBoxTree({
            url: top.contentPath + "/BaseManage/District/GetTreeJson?AreaCode=" + AreaCode,
            description: "==请选择==",
            allowSearch: true
        });

        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../KbsDeviceManage/BaseStation/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                    $("#AreaId").ComboBoxTreeSetValue(data.AreaId);
                    $("#AreaId").trigger("change");
                }
            })
        }
    }
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize(keyValue);
        postData["AreaId"] = $("#AreaId").attr('data-value');
        postData["AreaCode"] = $("#AreaId").attr('data-code');
        postData["AreaName"] = $("#AreaId").attr('data-text');
        if (keyValue == "") { postData["State"] = "在线" };
        $.SaveForm({
            url: "../../KbsDeviceManage/BaseStation/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().Search();
            }
        })
    }
    //新增
    function GetPos() {
        var dlg = dialogOpen({
            id: 'GetPos',
            title: '标注',
            url: '/KbsDeviceManage/BaseStation/GetPos',
            width: '1003px',
            height: '800px',
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
                top.layer.close(dlg);
            }
        });
    }

</script>
<div style="margin-top: 20px; margin-right: 30px;">
    <table class="form">

        <tr>
            <td class="formTitle">基站ID<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="StationID" type="text" maxlength="20" class="form-control" placeholder="输入字符长度请控制在（1-20）以内" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">基站名称<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="StationName" type="text" maxlength="20" class="form-control" placeholder="输入字符长度请控制在（1-20）以内" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">基站型号<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="StationType" type="text" maxlength="20" class="form-control" placeholder="输入字符长度请控制在（1-20）以内" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">区域<font face="宋体">*</font></td>
            <td class="formValue">
                <div id="AreaId" type="selectTree" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
            </td>
        </tr>
        <tr>
            <td class="formTitle">楼层编号<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="FloorCode" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" readonly="readonly" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">基站坐标<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="StationCode" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" readonly="readonly" style="float: left; width: 70%; margin-right: 5px;" />
                <a id="btn_Sea" style="float: left; width: 25%; " onclick="GetPos()" class="btn btn-primary">标注</a>
            </td>
        </tr>
        <tr>
            <td class="formTitle">IP地址<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="StationIP" type="text" class="form-control" isvalid="yes" checkexpession="IsIP" />
            </td>
        </tr>
        <tr id="showstate" style="display:none;">
            <td class="formTitle">基站状态<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="State" readonly="readonly" type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">创建时间<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="CreateDate" type="text"  disabled="disabled"  onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm' })" class="form-control" readonly="readonly" isvalid="yes" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">操作人</td>
            <td class="formValue">
                <input id="OperUserName" type="text" class="form-control" readonly="readonly" isvalid="yes" />
            </td>
        </tr>


    </table>
</div>
