@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/kbsjs/ThreeD.js"></script>
<script>
    var keyValue = request('keyValue');
    var DistrictId = request('DistrictId');
    var ptype = request('type');
    var pNum = request('pNum');


    var point = "";
    var floorId = "";
    var Radius = "";
    $(function () {
        Iniiframe();
    });



    //保存表单;
    function AcceptClick() {
        if (ptype == "dzwl") {
            top.Edit.window.$("#StationCode").val(point);
            top.Edit.window.$("#Radius").val(Radius);
        }
        else {
            top.Form.window.$("#StationCode").val(point);
            top.Form.window.$("#FloorCode").val(floorId);
        }
    }

</script>
<div>
    <iframe name="ZbMap" id="ZbMap" style="width: 1000px;height: 700px;border: medium none;"></iframe>
</div>
