@{;
ViewBag.Title = "列表页面";
Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<link type="text/css" rel="stylesheet" href="~/Content/styles/kbscss/common.css">
<link type="text/css" rel="stylesheet" href="~/Content/styles/kbscss/dilog.css">
<script src="~/Content/scripts/business/gridhelper.js"></script>

<style type="text/css">
    .btndiv {
        float: left;
        width: 58px;
        height: 29px;
        background: inherit;
        border: none;
        border-radius: 14px;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        color: rgb(67, 67, 67);
        text-align: center;
        line-height: 25px;
        cursor: pointer;
    }

    .activebtndiv {
        float: left;
        width: 58px;
        height: 29px;
        background: inherit;
        background-color: rgba(24, 144, 255, 1);
        border: none;
        border-radius: 14px;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        color: #FFFFFF;
        text-align: center;
        line-height: 25px;
    }
</style>
<script>
    var selectStatus = "";
    var areaCode = "";
    var areaId = "";
    var DistrictCode = request('DistrictCode');
    var IndexStatus = request('selectStatus');


    $(function () {
        locaIndex();
        GetTree();
        InitialPage();
        GetGrid();
    });
    
    //首页统计跳转
    function locaIndex() {
        if (IndexStatus != "") {
            var id = "";
            selectStatus = IndexStatus == 0 ? "在线" : "离线";
            if (selectStatus == "在线") {
                id = "zx";
            }
            else {
                id = "lx";
            }
            var div = $("#status").children('div');
            for (var i = 0; i < div.length; i++) {
                var ids = div.eq(i).attr("id");
                if (ids != "undefined") {
                    $("#" + ids).removeClass();
                    if (id == ids) {
                        $("#" + ids).addClass("activebtndiv");
                    } else {
                        $("#" + ids).addClass("btndiv");
                    }
                }
            }
        }
    }


    //加载组织机构树
    function GetTree() {
        var item = {
            height: $(window).height() - 48,
            url: "../../BaseManage/District/GetTreeJson",
            onnodeclick: function (item) {
                debugger;
                areaCode = item.Code;
                areaId = item.id;
                Search();
            }
        };
        //初始化
        $("#itemTree").treeview(item);
        if ($("#itemTree").html().length == 0) {
            $(".ui-layout-west").hide();
            $('.ui-layout-center').css({ "padding-left": "5px" });
        } else {
            $('#layout').layout({
                applyDemoStyles: false,
                onresize: function () {
                    $(window).resize();
                }
            });
        }
    }
    //初始化页面
    function InitialPage() {
        $('#layout').layout({
            applyDemoStyles: false,
            onresize: function () {
                $(window).resize();
            }
        });
        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 227);
            }, 200);
            e.stopPropagation();
        });

     

    }
    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var queryJson = {
            selectStatus: selectStatus,
            AreaCode: DistrictCode,
            Search: $("#txt_Keyword").val()
        }

        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() - 227,
            url: "../../KbsDeviceManage/BaseStation/GetPageListJson",
            postData: { queryJson: JSON.stringify(queryJson) },
            datatype: "json",
            loadonce: true,
            colModel: [
                {
                    label: '操作', name: 'Oper', width: 100, align: 'center', sortable: false
                },
                { label: '主键', name: 'ID', width: 100, align: 'center', sortable: false, hidden: true },
                { label: '基站ID', name: 'StationID', index: 'CameraId', width: 200, align: 'center', sortable: true },
                { label: '基站名称', name: 'StationName', index: 'StationName', width: 200, align: 'center', sortable: true },
                { label: '基站型号', name: 'StationType', index: 'StationType', width: 250, align: 'center', sortable: false },
                { label: '区域', name: 'AreaName', index: 'AreaName', width: 200, align: 'center', sortable: false },
                { label: '楼层编号', name: 'FloorCode', index: 'FloorCode', width: 200, align: 'center', sortable: false },
                {
                    label: '状态', name: 'State', width: 100, align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        return cellvalue;
                    }
                },
                { label: '创建时间', name: 'CreateDate', index: 'CreateDate', width: 150, align: 'center', sortable: true },
                { label: '操作人', name: 'OperUserName', index: 'OperUserName', width: 100, align: 'center', sortable: false }

            ],
            viewrecords: true,
            rowNum: 20,
            rowList: [20, 50, 100],
            pager: "#gridPager",
            sortname: 'CreateDate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);
                kbsgridqx($gridTable);
            },
            loadComplete: function () {
                //加载完后执行
            }
        });
    }
    function SelectFun(id, pid) {
        var div = $("#" + pid).children('div');
        for (var i = 0; i < div.length; i++) {
            var ids = div.eq(i).attr("id");
            if (ids != "undefined") {
                $("#" + ids).removeClass();
                if (id == ids) {
                    $("#" + ids).addClass("activebtndiv");
                } else {
                    $("#" + ids).addClass("btndiv");
                }
            }
        }
        selectStatus = $("#" + id).attr("sValue");
        Search();
    }

    //查询
    function Search() {
        var queryJson = {
            selectStatus: selectStatus,
            AreaCode: areaCode,
            Search: $("#txt_Keyword").val()
        }
        $("#gridTable").setGridParam({ url: top.contentPath + "/KbsDeviceManage/BaseStation/GetPageListJson" });
        $("#gridTable").setGridParam({ datatype: 'json', page: 1 })
            .jqGrid('setGridParam', { page: 1, postData: { queryJson: JSON.stringify(queryJson) } })
            .trigger("reloadGrid");
        stat();
        IndexStatus = "";
    }

    //新增
    function add() {
        dialogOpen({
            id: 'Form',
            title: '添加基站信息',
            url: '/KbsDeviceManage/BaseStation/Form?action=add&areaId=' + areaId,
            width: '600px',
            height: '500px',
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
            }
        });
    }
    //编辑
    function edit(keyValue) {
        if (checkedRow(keyValue)) {
            dialogOpen({
                id: 'Form',
                title: '编辑基站信息',
                url: '/KbsDeviceManage/BaseStation/Form?keyValue=' + keyValue,
                width: '600px',
                height: '500px',
                callBack: function (iframeId) {
                    top.frames[iframeId].AcceptClick();
                }
            })
        }
    }
    //删除
    function del(keyValue) {
        if (keyValue) {
            $.RemoveForm({
                url: '../../KbsDeviceManage/BaseStation/RemoveForm',
                param: { keyValue: keyValue },
                success: function (data) {
                    //$('#gridTable').trigger('reloadGrid');
                    Search();
                }
            })
        } else {
            dialogMsg('请选择需要删除的记录！', 0);
        }
    }
    //查看
    function btn_show(keyValue) {
        //var keyValue = $('#gridTable').jqGridRowValue('ID');
        if (checkedRow(keyValue)) {
            var dlg = dialogOpen({
                id: 'Form',
                title: '编辑基站信息',
                url: '/KbsDeviceManage/BaseStation/Form?action=show&&keyValue=' + keyValue,
                width: '600px',
                height: '510px',
                btn: ["关闭"],
                callBack: function (iframeId) {
                    top.layer.close(dlg);
                }
            })
        }
    }

    //统计
    function btn_count() {
        var dlg = dialogOpen({
            id: "LableForm",
            title: '基站统计信息',
            url: '/KbsDeviceManage/BaseStation/Static',
            width: '800px',
            height: '500px',
            btn: ["关闭"],
            callBack: function (iframeId) {
                top.layer.close(dlg);
            }
        });
    }

    //导入
    function btn_import() {
        dialogOpen({
            id: "Import",
            title: '导入基站信息',
            url: '/KbsDeviceManage/BaseStation/Import',
            width: "500px",
            height: "450px",
            callBack: function (iframeId) {
                top.document.getElementById(iframeId).contentWindow.AcceptClick();
            },
            cancel: function (index) {
                Search();
            }
        });
    }




</script>


<div class="main">
    <div class="main_top">
<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-west">
        <div class="west-Panel">
            <div class="panel-Title">
                <div class="col-md-10">
                    区域
                </div>
                <div class="col-md-2 text-right" style="padding-right:8px;">
                    <i class="fa fa-arrow-left" onclick="setBar(this)" style="cursor:pointer;" title="展开/收起"></i>
                </div>
            </div>
            <div id="itemTree"></div>
        </div>
    </div>
    <div class="ui-layout-center">
        <div class="center-Panel" style="height: 54px;">
            <div style="margin-top: 5px;">
                <div class="row">
                    <div id="status" class="col-md-12">
                        <div class="btndiv" style="font-weight: bold; width: 86px; cursor:default;">基站状态:</div>
                        <div id="qb" class="activebtndiv" onclick="SelectFun('qb', 'status')" svalue="">全部</div>
                        <div id="zx" class="btndiv" onclick="SelectFun('zx', 'status')" svalue="在线">在线</div>
                        <div id="lx" class="btndiv" onclick="SelectFun('lx', 'status')" svalue="离线">离线</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="center-Panel">
            <div class="titlePanel">
                <div class="title-search">
                    <div class="btn-group">
                    </div>
                </div>
                <div class="toolbar">
                    <table>
                        <tr>
                            <td>
                                <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;" />
                            </td>
                            <td style="padding-left: 5px;">
                                <a id="btn_Search" class="btn btn-primary" onclick="Search()"><i class="fa fa-search"></i>搜索</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <script>$('.title-search').authorizeButton()</script>
            </div>
            <div class="gridPanel">
                <table id="gridTable"></table>
                <div id="gridPager"></div>
            </div>
        </div>

    </div>
        </div>

</div>
    <div class="dilelog lg">
        <div class="dilelog_box">
            <div class="dilelog_top clearfix">
                <h3 class="fl">基站数量统计</h3>
                <div class="dilelog_right">
                    <span>总数：<i id="ZNum"></i> 个</span>
                    <span>在线：<i id="OnlineNum"></i> 个</span>
                </div>
            </div>
            <div class="clearfix dilelog_chart">
                <div id="chart4" class="fl dilelog_quan"></div>
            </div>
            <div class="tableDiv1" id="tabcontent">
             
            </div>
            
        </div>
        <div class="table_left">
            <span id="btn_left_lg" class="leftDownImg active"></span>
        </div>
    </div>
</div>

<script src="~/Content/scripts/kbsjs/echarts.min.js"></script>
<script src="~/Content/scripts/kbsjs/dilog.js"></script>
<script src="~/Content/scripts/business/BaseStationStatic.js"></script>