
@{
    ViewBag.Title = "ShowTip";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<style>
    table {
        position:absolute;
        left:10%;
        top:30%;
    }
</style>
<table style="text-align:center;">
    <tr>
        <td rowspan="2">全员安全观察卡参与率=</td>
        <td style="border-bottom:1px solid;">已提交观察卡数量</td>
        <td rowspan="2">X</td>
        <td style="border-bottom:1px solid;">实际提交人数</td>
        <td rowspan="2">*100%</td>
    </tr>
    <tr>
        <td>应提交人员总数*累计周数</td>
        <td>应提交人员总数</td>
    </tr>
</table>