@{;
    ViewBag.Title = "列表页面";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script src="~/Content/scripts/business/gridhelper.js"></script>
<script>
    ;
    $(function () {
        InitialPage();
        GetGrid();
    });
    //初始化页面
    function InitialPage() {
        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 170);
            }, 200);
            e.stopPropagation();
        });
    }
    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() - 170,
            url: "../../KbsDeviceManage/Arealocation/GetListJson",
            datatype: "json",
            colModel: [{ label: '主键', name: 'DistrictID', hidden: true, key: true },
            {
                label: '坐标表id', name: 'ID', hidden: true
            },
            {
                label: '操作',
                name: 'Oper',
                width: 160,
                align: 'center',
                sortable: false
            },
            {
                label: '区域名称',
                name: 'DistrictName',
                index: 'DistrictName',
                width: 200,
                align: 'center'
            },
            {
                label: '区域编码',
                name: 'DistrictCode',
                index: 'DistrictCode',
                width: 200,
                align: 'center'
            },
            {
                label: '是否配置坐标点位',
                name: 'sid',
                width: 200,
                align: 'center',
                sortable: false,
                formatter: function (cellvalue, options, rowObject) {
                    if (rowObject.ID != null && rowObject.ID != "") {
                        return "是";
                    } else {
                        return "否";
                    }
                }
            }

            ],
            treeGrid: true,
            treeGridModel: "nested",
            ExpandColumn: "DistrictCode",
            shrinkToFit: true,
            rowNum: "all",
            rownumbers: true,
            rownumWidth: 60,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);

                gridqx($gridTable);
            }

        });
    }
    //新增
    function AreaBind() {
        var districtid = $('#gridTable').jqGridRowValue('DistrictID');
        var keyValue = $('#gridTable').jqGridRowValue('ID');
        if (checkedRow(districtid)) {
            dialogOpen({
                id: 'Form',
                title: '配置区域坐标',
                url: '/KbsDeviceManage/Arealocation/Form?keyValue=' + keyValue + "&DistrictId=" + districtid,
                width: '1000px',
                height: '800px',
                callBack: function (iframeId) {
                    top.frames[iframeId].AcceptClick();
                }
            });
        }
    }
</script>
<div class="titlePanel">
    <div class="title-search">
        <table>
            <tr>
                <td>
                    <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;" />
                </td>
                <td style="padding-left: 5px;">
                    <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>查询</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="toolbar">
        <div class="btn-group">
            <a id="replace" class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>刷新</a>
        </div>
    </div>
</div>
<div class="gridPanel">
    <table id="gridTable"></table>
</div>
