.dilelog{
    width: 4.8rem;
    border-left: 0.01rem solid #cccccc;
    background-color: #ffffff;
    height: 100%;
    /* float: right; */
    position: fixed;
    right: -4.8rem;
    top:0;
    transition: all 0.5s;
}
.dilelog.show {
    right: 0;

}
.dilelog.hide {
    right: -4.8rem;
}
.dilelog_box {
    overflow-y: scroll;
    height: 100%;
    overflow-x: hidden;
}

.dilelog_top h3{
    padding-left: 0.2rem;
    font-size: 0.14rem;
    line-height: 0.5rem;
    font-weight: bold;
    color: #666666;
}
.dilelog_top{
   border-bottom: 1px solid #cccccc;
}
.dilelog_chart{
    width: 4.8rem;
    height: 4.10rem;
    overflow: hidden;
    /* background-color:#666666; */
}
#chart4{
    width: 60%;
    height: 4.10rem;
}
.dilelog_quan{
   
    margin: 0% 20%;
    /* background-color: black */
    /* margin-left: 1.25rem; */
}
.dilelog_right{
    float: right;
    line-height: 0.5rem;
    margin-right: 0.3rem;
    font-weight: bold;
    color: #999999;
}
.dilelog_right>span>i{
    font-style:initial;
    color: #2e99d4;
}
.table1{
    width: 100%;
}
.table1 th{
    height: 0.46rem;
    background: #f2f2f2;
    font-size: 0.14rem;
    font-weight: bold;
    color: #666666;
}
.table1 td{
    border-bottom: 0.01rem solid #e8e8e8;
    border-right: 0.01rem solid #e8e8e8;
    font-weight: 600;
    text-align: center;
    height: 0.46rem;
}
.group_underline{
    color: #2e99d4;
    text-decoration: underline;
}
.table_left{
    width: 100%;
    height: 100%;
    /* position: fixed; */
}
.leftDownImg{
    width: 0.2rem;
    height: 1rem;
    display: block;
    position: absolute;
    left:-0.2rem;
    top:38%;
    background-repeat: no-repeat;
    background-image: url("../../images/kbs/rightDownImg.png") !important;
    /* left: 0!important; */
}
.leftDownImg:hover{
    background-image: url("../../images/kbs/rightDownImg1.png") !important;
}
.leftDownImg.active {
    background-image: url("../../images/kbs/leftDownImg.png") !important;
}
.leftDownImg.active:hover{
    background-image: url("../../images/kbs/leftDownImg.png") !important;
}