.sec_top{
    height: 0.51rem;
    border-bottom: 1px solid #eff6ff;
}
.sec_top h3{
    padding-left: 0.2rem;
    font-size: 0.16rem;
    line-height: 0.5rem;
    font-weight: bold;
}
.nav{
    float: left !important;
    width: 2.9rem !important;
}
.main_center{
    width: 12.5rem !important;
}
.main_right{
    width: 6.3rem !important;
}
.sec4_con{
    height: 3.2rem;
}
.sec4_list{
    margin-right: 0.1rem;
}
.sec4_list li{
    float: left;
    height: 0.51rem;
    line-height: 0.5rem;
    margin: 0 0.15rem;
    cursor: pointer;
}
.sec4_list li.active{
    color: #2e99d4;
    border-bottom: 1px solid #2e99d4;
}
.range_box{
    width: 30%;
    padding: 0.20rem 0.15rem 0 0.1rem;
}
.range_title{
    height: 0.24rem;
    line-height: 0.24rem;
    margin-bottom: 0.4rem;
    padding-right: 0.05rem;
}
.range_title img{
    height: 0.24rem;
    width: 0.24rem;
    float: right;
    cursor: pointer;
}
.rangeList{
    height: 2.31rem;
}
.rangeList li{
    height: 0.18rem;
    line-height: 0.18rem;
    font-size: 0.12rem;
    margin-bottom: 0.15rem;
    padding-right: 0.15rem;
}
.rangeList li i{
    display: block;
    float: left;
    width: 0.18rem;
    height: 0.18rem;
    font-style: normal;
    /* border-radius: 0.09rem; */
    text-align: center;
    background: #f0f2f5;
    margin-right: 0.1rem;
}
.rangeList li i.top3{
    background: #0da9ff;
    color: #fff;
}
.rangeList li .rangeNum{
    color: #0da9ff;
}
#chart1{
    width: 69%;
    height: 3.2rem;
}
.sec5_con{
    height: 3rem;
    overflow-y: scroll;
    overflow-x: hidden;
}
#chart2{
    width: 45%;
    height: 3rem;
}
.legend_box1{
    width: 100%;
    padding-top: 0.2rem;
}
.legendList1 li{
    height: 0.2rem;
    margin-bottom: 0.2rem;
    line-height: 0.2rem;
}
.legendList1 li img{
    margin-right: 0.1rem;
}
.legendList1 li span,.legendList1 li img{
    display: block;
    height: 0.2rem;
    float: left;
}
.legendList1 li .danger{
    width: 28%;
}
.legendList1 li .per_span{
    margin-right: 0.3rem;
    color: #999;
    height: 0.2rem;
    border-left: 1px solid #ccc;
    padding-left: 0.2rem;
}
.sec6_con{
    height: 3.2rem;
}
#chart3{
    width: 45%;
    height: 3.2rem;
}
.legend_box2{
    width: 55%;
    padding-top: 0.55rem;
}
.legendList2 li{
    height: 0.2rem;
    margin-bottom: 0.2rem;
    line-height: 0.2rem;
}
.legendList2 li img{
    margin-right: 0.1rem;
}
.legendList2 li span,.legendList2 li img{
    display: block;
    height: 0.12rem;
    float: left;
    line-height: 0.12rem;
}
.legendList2 li .danger{
    width: 35%;
}
.legendList2 li .per_span{
    /* margin-right: 0.2rem; */
    color: #999;
    height: 0.2rem;
    border-left: 1px solid #ccc;
    padding-left: 0.1rem;
    width: 35%;
}

.date_select {
    height: 0.35rem;
    line-height:0.35rem;
    text-align: center;
    /* border-radius: 0.05rem; */
    border:1px solid #2e99d4;
    font-size: 0.14rem;
    width: 2.6rem;
    float: right;
    margin: 0.07rem 0.2rem 0 0;
    text-align: left;
    padding: 0 0.2rem 0 0.1rem;
    background: url('../../images/kbs/date_icon1.png') no-repeat right 5px center;
    background-size: 0.16rem 0.17rem;
}
.date_select:focus{
    background: url('../../images/kbs/date_icon2.png') no-repeat right 5px center;
    background-size: 0.16rem 0.17rem;
}
.btn-default {
    background-color: #fff !important;
    border: 1px solid #828080 !important;
    /* border-radius: 3px !important; */
    cursor: pointer;
}
.btn-primary {
    background-color: #08c !important;
    border: 1px solid #08c !important;
    /* border-radius: 3px !important; */
    color: #fff !important;
    cursor: pointer;
}
.btn-primary:hover{
    background-color: #357ebd !important;
}
.secTit_list li{
    height: 0.51rem;
    line-height: 0.5rem;
    margin: 0 0.15rem;
    cursor: pointer;
    font-weight: bold;
    float: left;
    font-size: 0.16rem;
}
.secTit_list li.active{
    color: #2e99d4;
    border-bottom: 2px solid #2e99d4;
}

.secTitChar_list li{
    height: 0.51rem;
    line-height: 0.5rem;
    margin: 0 0.15rem;
    cursor: pointer;
    font-weight: bold;
    float: left;
    font-size: 0.16rem;
}
.secTitChar_list li.active{
    color: #2e99d4;
    border-bottom: 2px solid #2e99d4;
}

.opt{
    position: absolute;
    right: .1rem;
    top: .7rem;
    overflow: hidden;
}
.opt .on-off {
    border-radius: .04rem;
    padding: .08rem;
    float: left;
    background: #fff;
    cursor: pointer;
}
.opt .on-off img{
    width: .26rem;
    height: .25rem;   
}
.opt ul{
    display: none;
    position: relative;
    float: left;
    margin-right: .2rem;
    background: #fff;
    border-radius: .04rem;
    padding: .08rem 0 ;
}
.opt ul::after{
    position: absolute;
    right: -0.16rem;
    top: 50%;
    margin-top: -0.08rem;
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-width: .08rem;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
}
.opt li{
    float: left;
    padding: 0 .2rem 0 .4rem;
    height: .24rem;
    line-height: .24rem;
    padding-left: .44rem;
    border-right: 1px solid #ccc;
    color: #333;
    font-size: .12rem;
    cursor: pointer;
}
.opt li:last-child{
    border-right: none;
}

.opt li:nth-child(1){
    background: url(../../images/kbs/1-1.png) no-repeat 0.22rem center;
    background-size: .14rem .16rem;
}
.opt li.active:nth-child(1){
    background: url(../../images/kbs/1-2.png) no-repeat 0.22rem center;
    background-size: .14rem .16rem;
}
.opt li:nth-child(2){
    background: url(../../images/kbs/2-1.png) no-repeat 0.22rem center;
    background-size: .15rem .16rem;
}
.opt li.active:nth-child(2){
    background: url(../../images/kbs/2-2.png) no-repeat 0.22rem center;
    background-size: .15rem .16rem;
}
.opt li:nth-child(3){
    background: url(../../images/kbs/3-1.png) no-repeat 0.22rem center;
    background-size: .13rem .16rem;
}
.opt li.active:nth-child(3){
    background: url(../../images/kbs/3-2.png) no-repeat 0.22rem center;
    background-size: .13rem .16rem;
}
.opt li:nth-child(4){
    background: url(../../images/kbs/4-1.png) no-repeat 0.22rem center;
    background-size: .16rem .16rem;
}
.opt li.active:nth-child(4){
    background: url(../../images/kbs/4-2.png) no-repeat 0.22rem center;
    background-size: .16rem .16rem;
}


/*
Theme Name: decentra Framework Template
Description: Themed developed in Oct 2017, new clean and simplified layout.
Author: louis xie
Version: 1.0
*/
*{
    box-sizing: border-box;
  }
  html,
  body,
  div,
  dl,
  dt,
  dd,
  ul,
  ol,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  pre,
  code,
  form,
  fieldset,
  legend,
  input,
  button,
  textarea,
  p,
  blockquote,
  th,
  td {
    margin: 0;
    padding: 0;
  }
  body {
    background: #fff;
    color: #333;
    font-size: 14px;
    font-family: 'Microsoft YaHei', sans-serif;
  }
  td,
  th,
  caption {
    font-size: 14px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: normal;
    font-size: 100%;
    font-size: 0.16rem;
    font-weight: bold;
  }
  address,
  caption,
  cite,
  code,
  dfn,
  em,
  strong,
  th,
  var {
    font-style: normal;
    font-weight: normal;
  }
  a {
    color: #333;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none !important;
  }
  a:focus,
  a:hover {
    text-decoration: none;
  }
  em {
    font-style: normal;
  }
  img {
    border: 0;
    vertical-align: middle;
  }
  img {
    border: none;
  }
  ol,
  ul,
  li {
    list-style: none;
  }
  input,
  textarea,
  select,
  button {
    vertical-align: middle;
    font-size: 0.14rem;
    font-family: inherit;
    line-height: normal;
    outline: none;
    text-indent: 0.08rem;
  }
  button {
    cursor: pointer;
  }
  table {
    border-collapse: collapse;
  }
  video {
    object-fit: contain;
  }
  .clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  .clearfix {
    *zoom: 1;
  }
  .fl {
    float: left;
  }
  .f2{
    float:right;
  }
  .fr {
    float: right;
  }

  .clear {
    clear: both;
  }
  html{
      font-size: 100px;
      width:100%;
      height:100%;
  }
  body{
      width:100%;
      height:100%;
      background: #f8f8f8;
  }
  .main{
    padding-top: 0.1rem;
    width: 19rem;
    margin: 0 auto;
    height: 100%;
  }
  .main_top,.main_left > div,.main_center > div,.main_right > div{
    background: #fff;
    /* border-radius: 0.1rem; */
  }
  .main_top{
    margin-bottom: 0.2rem;
    height: 1rem;
  }
  .main_left{
    width: 3rem;
    margin-right: 0.15rem;
  }
  .section1,.section3,.section5{
    height: 4.12rem;
    margin-bottom: 0.2rem;
  }
  .section2,.section4,.section6{
    height: 3.8rem;
  }
  .main_center{
    width: 9.7rem;
  }
  .main_right{
    width: 6rem;
  }
  