@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>

<script type="text/javascript">
    var keyValue = request("keyValue"); //主键
    var actiontype = request("actiontype"); //操作动作
    var deptid = request("deptid"); //机构id
    var deptname = request("deptname"); //机构名称
    var addtionId = request("addtionId");  
    $(function () {


        //查看下
        if (actiontype == "view") {
            $("#btn_Save").attr("disabled", "disabled");
            $("#form1 input,textarea , .ui-select, .ui-select-text , .ui-select-option-content").each(function (ele, index) {
                $(this).attr("disabled", "disabled");
            });
            $("#form1 input,textarea , .ui-select, .ui-select-text , .ui-select-option-content").each(function (ele, index) {
                $(this).attr("readonly", "readonly");
            });
        }

        if (!!deptid) {
            $("#DEPTID").val(deptid);
        }
        if (!!deptname) {
            $("#DEPTNAME").val(deptname);
        }
        if (!!addtionId) {
            $("#WFADDTIONID").val(addtionId);
        }

        //获取表单数据
        if (!!keyValue) {
            $.SetForm({
                url: "../../HiddenTroubleManage/WfCondition/GetAddtionRoleFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    //详情
                    if (null != data) {
                        $("#form1").formDeserialize(data);
                        //是否指定角色
                        if (data.ISCONTAIN == "是") {
                            $("input[name='ISCONTAIN']:eq(0)").prop("checked", "checked");
                        }
                        else {
                            $("input[name='ISCONTAIN']:eq(1)").prop("checked", "checked");
                        }
                    }
                }
            });
        }

    });


    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize(keyValue);
        //是否指定角色
        var ishrole = $("input[name='ISCONTAIN']:checked").val();
        postData["ISCONTAIN"] = ishrole;

        $.SaveForm({
            url: "../../HiddenTroubleManage/WfCondition/SaveAddtionRoleForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
            }
        });
    }

</script>

<div class="center-Panel">
    <div style="margin-top: 5px;"></div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;流程导向配置条件管理&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <div style="margin-right: 30px;">
                <table class="form">     
                     <tr>
                        <td class="formTitle">所属部门</td>
                        <td class="formValue" colspan="3">
                            <input id="DEPTNAME" type="text" class="form-control" />
                            <input id="DEPTID" type="hidden" />
                            <input id="WFADDTIONID" type="hidden" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">是否包含当前角色</td>
                        <td class="formValue">
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="ISCONTAIN" id="ISCONTAIN1" value="是" />是
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="ISCONTAIN" id="ISCONTAIN2" value="否" checked="checked" />否
                                </label>
                            </div>
                        </td>
                        <td class="formTitle">指定角色</td>
                        <td class="formValue">
                            <input id="ROLENAME" type="text" class="form-control" placeholder="请选择指定角色" readonly onclick="selectRole('', '', 1, 2, window.document.body, 'ROLENAME,ROLEID');" />
                            <input id="ROLEID" type="hidden" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
