@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/plugins/crypto/crypto.min.js" type="text/javascript"></script>
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>

<script type="text/javascript">
    var keyValue = request("keyValue"); //主键
    var settingid = request("settingid"); //流程配置条件id
    var actiontype = request("actiontype"); //操作动作
    var mode = request("mode"); //
    var orgId = request("orgid"); //机构id
    var orgName = request("orgname"); //机构名称

    $(function () {

        if (!!settingid) {
            $("#SETTINGID").val(settingid); //
        }

        //为空，则赋值
        if (!!keyValue) {
            $("#ID").val(keyValue);
        }
        else {
            var tempid = "@Guid.NewGuid().ToString()";
            keyValue = tempid;
            $("#ID").val(tempid);
        }

        //查看下
        if (actiontype == "view") {
            $("#btn_Save").attr("disabled", "disabled");
            $("#form1 input,textarea , .ui-select, .ui-select-text , .ui-select-option-content").each(function (ele, index) {
                $(this).attr("disabled", "disabled");
            });
            $("#form1 input,textarea , .ui-select, .ui-select-text , .ui-select-option-content").each(function (ele, index) {
                $(this).attr("readonly", "readonly");
            });
        }

        var settingtype = [{ ItemName: "起始流程" }, { ItemName: "目标流程" }];
        //流程转向类型
        $("#SETTINGTYPE").ComboBox({
            id: "ItemName",
            text: "ItemName",
            description: "===请选择===",
            allowSearch: false,
            data: settingtype
        });

        if (!!mode) {
            if (mode == "start") {
                $("#SETTINGTYPE").ComboBoxSetValue("起始流程");
            }
            else {
                $("#SETTINGTYPE").ComboBoxSetValue("目标流程");
            }
            $("#SETTINGTYPE").attr("disabled", "disabled");
        }

        var depttype = [{ ItemName: "班组" }, { ItemName: "专业" }, { ItemName: "部门" }, { ItemName: "厂级" },{ ItemName: "省级" }, { ItemName: "承包商" },{ ItemName: "其他" }];
        //部门性质
        $("#DEPTTYPE").ComboBox({
            id: "ItemName",
            text: "ItemName",
            description: "===请选择===",
            allowSearch: false,
            data: depttype
        });

        var choosetype = [{ ItemName: "本部门" }, { ItemName: "本机构" }, { ItemName: "上级部门" }, { ItemName: "上级部门(含专业过滤)" }, { ItemName: "指定部门" }, { ItemName: "发包部门" }, { ItemName: "发包部门(含专业过滤)" }, { ItemName: "上一流程生产者" }, { ItemName: "其他" }];
        //部门选择性质
        $("#CHOOSETYPE").ComboBox({
            id: "ItemName",
            text: "ItemName",
            description: "===请选择===",
            allowSearch: false,
            data: choosetype
        });

        //获取表单数据
        if (!!keyValue) {
            $.SetForm({
                url: "../../HiddenTroubleManage/WfCondition/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    //详情
                    if (null != data) {
                 
                        $("#form1").formDeserialize(data);

                        //流程转向类型
                        $("#SETTINGTYPE").ComboBoxSetValue(data.SETTINGTYPE);
                        //部门性质
                        $("#DEPTTYPE").ComboBoxSetValue(data.DEPTTYPE);
                        //部门选择性质
                        $("#CHOOSETYPE").ComboBoxSetValue(data.CHOOSETYPE);

                        //角色判定形式
                        if (data.ROLERULE == "包含") {
                            $("input[name='ROLERULE']:eq(0)").prop("checked", "checked");
                        }
                        else {
                            $("input[name='ROLERULE']:eq(1)").prop("checked", "checked");
                        }

                        //是否执行脚本
                        if (data.ISEXECSQL == "是") {
                            $("input[name='ISEXECSQL']:eq(0)").prop("checked", "checked");

                            $("#CHOOSETYPE").attr("data-text", "===请选择===");
                            $("#CHOOSETYPE").attr("data-value", "");
                            $("#DEPTTYPE").attr("data-text", "===全部===");
                            $("#DEPTTYPE").attr("data-value", "");
                            $("#DEPTTYPE div:eq(0)").text("===全部===");
                            $("#ROLETYPE").val("");
                            $("#ROLECODE").val("");

                            $("#btn_addend").css("display", "none");

                            $(".form tr:eq(3)").css("display", "none");
                            $(".form tr:eq(4)").css("display", "none");
                            $(".form tr:eq(6)").css("display", "");
                        }
                        else {
                            $("input[name='ISEXECSQL']:eq(1)").prop("checked", "checked");

                            $(".form tr:eq(3)").css("display", "");
                            $(".form tr:eq(4)").css("display", "");
                            $(".form tr:eq(6)").css("display", "none");

                            if (data.CHOOSETYPE == "指定部门") {
                                $("#btn_addend").css("display", "");
                                $(".form tr:eq(4)").css("display", "none");
                            }
                            else {
                                $("#btn_addend").css("display", "none");
                                $(".form tr:eq(4)").css("display", "");
                            }
                        }
                    }
                }
            });
        }

        //选择
        $("#CHOOSETYPE").change(function () {
            var value = $(this).ComboBoxGetValue();
            if (value == "指定部门") {
                $("#btn_addend").css("display", "");
                $(".form tr:eq(4)").css("display", "none");
            }
            else {
                $("#DEPTTYPE").attr("data-text", "===全部===");
                $("#DEPTTYPE").attr("data-value", "");
                $("#DEPTTYPE div:eq(0)").text("===全部===");
                $("#ROLETYPE").val("");
                $("#ROLECODE").val("");

                $("#btn_addend").css("display", "none");
                $(".form tr:eq(4)").css("display", "");
            }
        });



        //	是否执行脚本获取条件
        $("input[name='ISEXECSQL']").change(function () {
            var isexecsql = $("input[name='ISEXECSQL']:checked").val();
            if (isexecsql == "是") {

                $("#CHOOSETYPE").attr("data-text", "===请选择===");
                $("#CHOOSETYPE").attr("data-value", "");
                $("#DEPTTYPE").attr("data-text", "===全部===");
                $("#DEPTTYPE").attr("data-value", "");
                $("#DEPTTYPE div:eq(0)").text("===全部===");
                $("#ROLETYPE").val("");
                $("#ROLECODE").val("");

                $("#btn_addend").css("display", "none");

                $(".form tr:eq(3)").css("display", "none");
                $(".form tr:eq(4)").css("display", "none");
                $(".form tr:eq(6)").css("display", "");
            }
            else
            {
                $(".form tr:eq(3)").css("display", "");
                $(".form tr:eq(4)").css("display", "");
                $(".form tr:eq(6)").css("display", "none");
            }
        });


        //加载指定列表
        LoadGrid();


        if (!!orgId) {
            $("#ORGANIZEID").val(orgId);
        }

        if (!!orgName) {
            $("#ORGANIZENAME").val(orgName);
        }
    });



    //加载指定条件
    function LoadGrid() {
        var selectedRowIndex = 0;
        var gridTable = $('#gridTable');

        gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() / 2,
            url: "../../HiddenTroubleManage/WfCondition/GetAddtionListJson",
            postData: { conditionId: keyValue },
            datatype: "json",
            colModel: [
                 { label: '主键', name: 'ID', index: 'ID', width: 100, align: 'center', hidden: true },
                 {
                     label: '操作', name: 'oper', index: 'ID', width: 160, align: 'center',
                     formatter: function (cellvalue, options, rowObject) {
                         var html = "<a href=javascript:view('" + rowObject.ID + "')  title='查看'><i class='fa fa-eye'></i></a>";
                         html += "&nbsp;&nbsp;&nbsp;<a href=javascript:remove('" + rowObject.ID + "')  title='删除'><i class='fa fa-trash-o'></i></a>";
                         html += "&nbsp;&nbsp;&nbsp;<a href=javascript:edit('" + rowObject.ID + "','" + rowObject.ORGANIZEID + "','" + rowObject.ORGANIZENAME + "')  title='编辑'><i class='fa fa-pencil-square-o'></i></a>";
                         return html;
                     }
                 },
                 { label: '所属机构单位', name: 'ORGANIZENAME', index: 'ORGANIZENAME', width: 250, align: 'center', sortable: true },
                { label: '指定部门', name: 'DEPTNAME', index: 'DEPTNAME', width: 250, align: 'center', sortable: true },
                { label: '是否指定角色', name: 'ISHROLE', index: 'ISHROLE', width: 150, align: 'center', sortable: true },
                { label: '指定角色', name: 'ROLENAME', index: 'ROLENAME', width: 150, align: 'center', sortable: true },
                { label: '是否指定人员', name: 'ISHUSER', index: 'ISHUSER', width: 150, align: 'center', sortable: true },
                { label: '指定人员', name: 'USERNAME', index: 'USERNAME', width: 150, align: 'center', sortable: true }
            ],
            viewrecords: true,
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $("#" + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $("#" + this.id).setSelection(selectedRowIndex, false);
            }
        });
    }


    //添加指定部门对象
    function add() {
        var rqUrl = '/HiddenTroubleManage/WfCondition/BaseAddtiionForm?keyValue=&conditionid=' + keyValue + '&orgid=' + orgId + '&orgname=' + orgName;
        var title = "新增指定部门信息";
        dialogOpen({
            id: 'AddCAForm',
            title: title,
            url: rqUrl,
            width: ($(top.window).width() - 200) + "px",
            height: ($(top.window).height() - 200) + "px",
            callBack: function (iframeId) {
                top.document.getElementById(iframeId).contentWindow.AcceptClick();
            }
        });
    }


    //删除
    function remove(obj) {
        $.RemoveForm({
            url: '../../HiddenTroubleManage/WfCondition/RemoveAddtionForm',
            param: { keyValue: obj },
            success: function (data) {
                $('#gridTable').trigger('reloadGrid');
            }
        });
    }

    //编辑视图
    function edit(obj,organizeId, organizeName) {
        var rqUrl = '/HiddenTroubleManage/WfCondition/BaseAddtiionForm?keyValue=' + obj + '&orgid=' + organizeId + '&orgname=' + organizeName;
        var title = "编辑流程指定部门信息";
        dialogOpen({
            id: 'EditCAForm',
            title: title,
            url: rqUrl,
            width: ($(top.window).width() - 100) + "px",
            height: ($(top.window).height() - 100) + "px",
            callBack: function (iframeId) {
                top.document.getElementById(iframeId).contentWindow.AcceptClick();
            }
        });
    }

    //查看视图
    function view(obj) {
        var rqUrl = '/HiddenTroubleManage/WfCondition/BaseAddtiionForm?keyValue=' + obj + '&actiontype=view';
        var title = "查看流程指定部门信息";

        var dlg = dialogOpen({
            id: 'ViewCAForm',
            title: title,
            url: rqUrl,
            width: ($(top.window).width() - 100) + "px",
            height: ($(top.window).height() - 100) + "px",
            btn: ["关闭"],
            callBack: function (iframeId) {
                top.layer.close(dlg);
            }
        });
    }


    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize(keyValue);

        //是否执行脚本
        var isexecsql = $("input[name='ISEXECSQL']:checked").val();
        //角色判定形式
        var rolerule = $("input[name='ROLERULE']:checked").val();
        if (isexecsql == "是") {
            postData["ISEXECSQL"] = isexecsql;
        }
        else
        {
            postData["ROLERULE"] = rolerule;
        }


        var flowcode = "bosafety";
        //脚本
        if (!!$("#SQLCONTENT").val()) {
            var SQLCONTENT = encodeURIComponent($("#SQLCONTENT").val());
            postData["SQLCONTENT"] = encryptByDES(SQLCONTENT, flowcode, flowcode).toUpperCase();
        }


        $.SaveForm({
            url: "../../HiddenTroubleManage/WfCondition/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
            }
        });
    }

</script>

<div class="center-Panel">
    <div style="margin-top: 5px;"></div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;流程导向配置条件管理&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <div style="margin-right: 30px;">
                <table class="form">
                    <tr>
                        <td class="formTitle"><span style="white-space:pre-wrap;">流程配置条件名称</span></td>
                        <td class="formValue">
                            <input id="EXPLAINS" type="text" class="form-control" />
                            <input id="ID" type="hidden" />
                            <input id="SETTINGID" type="hidden" />
                        </td>
                        <td class="formTitle"><span style="white-space:pre-wrap;">是否执行脚本获取条件</span></td>
                        <td class="formValue">
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="ISEXECSQL" id="ISEXECSQL1" value="是" />是
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="ISEXECSQL" id="ISEXECSQL2" value="否" checked="checked" />否
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">流程转向类型</td>
                        <td class="formValue" colspan="3">
                            <div id="SETTINGTYPE" type="select" class="ui-select" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle"><span style="white-space:pre-wrap;">所属机构单位名称代码</span></td>
                        <td class="formValue">
                            <input id="ORGANIZENAME" type="text" class="form-control" />
                        </td>
                        <td class="formTitle"><span style="white-space:pre-wrap;">所属机构单位ID代码</span></td>
                        <td class="formValue">
                            <input id="ORGANIZEID" type="text" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">部门选择形式</td>
                        <td class="formValue">
                            <div id="CHOOSETYPE" type="select" class="ui-select" />
                        </td>
                        <td class="formTitle">角色判定形式</td>
                        <td class="formValue">
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="ROLERULE" id="ROLERULE1" value="包含" checked="checked" />包含
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="ROLERULE" id="ROLERULE2" value="不包含" />不包含
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">部门性质</td>
                        <td class="formValue">
                            <div id="DEPTTYPE" type="select" class="ui-select" />
                        </td>
                        <td class="formTitle">角色性质</td>
                        <td class="formValue">
                            <input id="ROLETYPE" type="text" class="form-control" placeholder="请选择角色性质" readonly onclick="selectRole('', '', 1, 2, window.document.body, 'ROLETYPE,ROLECODE');" />
                            <input id="ROLECODE" type="hidden" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">备注</td>
                        <td class="formValue" colspan="3">
                            <textarea id="REMARKS" class="form-control" isvalid="yes" rows="6" checkexpession="LenStrOrNull" length="2000"></textarea>
                        </td>
                    </tr>
                    <tr style="display:none">
                        <td class="formTitle">脚本</td>
                        <td class="formValue" colspan="3">
                            <textarea id="SQLCONTENT" class="form-control" isvalid="yes" rows="8" checkexpession="LenStrOrNull" length="4000"></textarea>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div style="margin-top: 5px;" class="marginTop"></div>
    <div class="panel panel-default" id="panel1">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;指定部门条件信息</strong>
            <span class="tools pull-right">
                <a class="btn btn-primary btn-xs" onclick='javascript: $("#gridTable").trigger("reloadGrid")'>&nbsp;刷新</a>&nbsp;&nbsp;
                <a id="btn_addend" href="javascript:add()" style="display:none;" class="btn btn-primary btn-xs">新 增</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <div style="margin-left:10px;">
                <table id="gridTable"></table>
                <div id="gridPager"></div>
            </div>
        </div>
    </div>
</div>
