@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/business/detailAgency.js"></script>
<script>
    var keyValue = request('keyValue');
    var actiontype = request('actiontype');
    $(function () {        
        //创建代理
        var detailAgc = new detailAgency({
            keyValue: keyValue,
            actiontype:actiontype,
            saveParam: {              
                url: '../../LllegalStandard/Lllegalstandard/SaveForm'
            }
        });
        //初始化数据
        detailAgc.initialPage([
            {
                url: '../../LllegalStandard/Lllegalstandard/GetFormJson',
                param: { keyValue: keyValue },
                ctrls: [
                    { Id: 'LEGTYPE', memberId: 'ItemDetailId', memberText: 'ItemName', description: '==全部==', dataProName: 'data.LllegalType' },
                    { Id: 'LEGLEVEL', memberId: 'ItemDetailId', memberText: 'ItemName', description: '==全部==', dataProName: 'data.LllegalLevel' },
                    { Id: 'BUSTYPE', memberId: 'ItemDetailId', memberText: 'ItemName', description: '==全部==', dataProName: 'data.LIIegalBusType' }
                ],
                forms: [{ Id: 'form1', dataProName: 'data.data' }]
            }
        ]);
        //定义规则
        var rule1 = new pageRule({ ruleId: 'rule1', onExecute: setTitle });
        detailAgc.addRule(rule1);
        //执行规则
        detailAgc.exePageRule(); 
    })
    function setTitle() {
        $(".formTitle").css("width", "145px");
    }
</script>
<div style="margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle">违章描述<span style="color:red;">*</span></td>
            <td class="formValue" colspan="3">
                <textarea id="DES" style="height: 80px;" errormsg="违章描述值不能为空，" class="form-control"  isvalid="yes" checkexpession="LenStr" length="2000"></textarea>
            </td>
        </tr>
        <tr>
            <td class="formTitle">违章级别<span style="color:red;">*</span></td>
            <td class="formValue">
                <div id="LEGLEVEL" type="select" errormsg="违章级别" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
            </td>
            <td class="formTitle">违章类型<span style="color:red;">*</span></td>
            <td class="formValue">
                <div id="LEGTYPE" type="select" errormsg="违章类型" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
            </td>
        </tr>
        <tr>
            <td class="formTitle">作业类型<span style="color:red;">*</span></td>
            <td class="formValue" colspan="3">
                <div id="BUSTYPE" type="select" errormsg="作业类型" style="width:345px;"  class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
            </td>
        </tr>
        <tr>
            <td class="formTitle">违章责任人扣分（分）</td>
            <td class="formValue">
                <input id="DESCORE" type="text" class="form-control" isvalid="yes" checkexpession="OnePositiveDoubleOrNull" />
            </td>
            <td class="formTitle">违章责任人考核（元）</td>
            <td class="formValue">
                <input id="DEMONEY" type="text" class="form-control" isvalid="yes" checkexpession="TwoPositiveDoubleOrNull" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">第一联责人扣分（分）</td>
            <td class="formValue">
                <input id="FIRSTDESCORE" type="text" class="form-control" isvalid="yes" checkexpession="OnePositiveDoubleOrNull" />
            </td>
            <td class="formTitle">第一联责人考核（元）</td>
            <td class="formValue">
                <input id="FIRSTDEMONEY" type="text" class="form-control" isvalid="yes" checkexpession="TwoPositiveDoubleOrNull" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">第二联责人扣分（分）</td>
            <td class="formValue">
                <input id="SECONDDESCORE" type="text" class="form-control" isvalid="yes" checkexpession="OnePositiveDoubleOrNull" />
            </td>
            <td class="formTitle">第二联责人考核（元）</td>
            <td class="formValue">
                <input id="SECONDDEMONEY" type="text" class="form-control" isvalid="yes" checkexpession="TwoPositiveDoubleOrNull" />
            </td>
        </tr>       
    </table>
</div>
