@{
    ViewBag.Title = "列表页面";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script src="~/Content/scripts/business/listAgency.js"></script>
<script>
    //=================
    //用户信息
    //=================
    var userId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().UserId"; //当前用户Id
    var deptCode = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptCode";//当前用户所属部门Code
    var orgCode = "@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeCode";//当前用户所属机构Code
    //导入刷新用
    var isImport = false;
    //=================
    //页面加载完成
    //=================
    $(function () {

        $('#layout').layout({
            applyDemoStyles: true,
            onresize: function () {
                $(window).resize();
            }
        });

        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 136);
            }, 200);
            e.stopPropagation();
        });

        var winHeight = $(window).height();
        //====================
        //创建页面代理
        //====================
        var lagc = new listAgency({
            gridId: "gridTable",
            gridHeight: winHeight - 108.5,
            gridOptions: {
                height: winHeight - 136,
                url: "../../LllegalStandard/LllegalStandard/GetListJson",
                datatype: "json",
                pager: "#gridPager",
                sortname: 'CreateDate',
                sortorder: 'desc'
            },
            gridColumns: [
                { label: 'createuserid', name: 'createuserid', hidden: true },
                { label: 'createuserdeptcode', name: 'createuserdeptcode', hidden: true },
                { label: 'createuserorgcode', name: 'createuserorgcode', hidden: true },
                { label: '主键', name: 'id', hidden: true },
                { label: '操作', name: 'Oper', width: 100, align: 'center' },
                { label: '违章描述', name: 'des', index: 'des', width: 400, align: 'center', sortable: true },
                { label: '违章类型', name: 'legtypename', index: 'legtypename', width: 150, align: 'center', sortable: true },
                { label: '违章级别', name: 'leglevalname', index: 'leglevalname', width: 150, align: 'center', sortable: true },
                { label: '作业类型', name: 'bustypename', index: 'bustypename', width: 150, align: 'center', sortable: true },
                { label: '违章责任人扣分', name: 'descore', index: 'descore', width: 150, align: 'center', sortable: true },
                { label: '违章责任人考核', name: 'demoney', index: 'demoney', width: 150, align: 'center', sortable: true },
                { label: '第一联责人扣分', name: 'firstdescore', index: 'firstdescore', width: 150, align: 'center', sortable: true },
                { label: '第一联责人考核', name: 'firstdemoney', index: 'firstdemoney', width: 150, align: 'center', sortable: true },
                { label: '第二联责人扣分', name: 'seconddescore', index: 'seconddescore', width: 150, align: 'center', sortable: true },
                { label: '第二联责人考核', name: 'seconddemoney', index: 'seconddemoney', width: 150, align: 'center', sortable: true }
            ],
            hasPowerOper: true,
            userInfo: {
                userId: userId,
                deptCode: deptCode,
                orgCode: orgCode
            }
        });
        //====================
        //初始化
        //====================
        lagc.initialPage([{
            url: '../../LllegalStandard/LllegalStandard/GetInitDataJson',
            ctrls: [
                { Id: 'LllegalType', memberId: 'ItemDetailId', memberText: 'ItemName', description: '==全部==', dataProName: 'data.LllegalType' },
                { Id: 'LllegalLevel', memberId: 'ItemDetailId', memberText: 'ItemName', description: '==全部==', dataProName: 'data.LllegalLevel' }
            ]
        }]);
        //====================
        //绑定页面控件
        //====================
        lagc.bindPageControls({
            searchId: "btn_Search",
            resetId: "btn_Reset",
            refreshId: "refresh",
            addId: "add",
            impId: "imp",
        });
        //====================
        //添加页面跳转地址参数
        //====================
        lagc.addPageGotoUrl({
            addArg: {
                title: '添加违章标准',
                url: '/LllegalStandard/LllegalStandard/Form'
            },
            editArg: {
                title: '编辑违章标准',
                url: '/LllegalStandard/LllegalStandard/Form'
            },
            delArg: { url: '../../LllegalStandard/LllegalStandard/RemoveForm' },
            editArg: {
                title: '违章标准信息',
                url: '/LllegalStandard/LllegalStandard/Form'
            },
            detailArg: {
                title: '违章标准信息',
                url: '/LllegalStandard/LllegalStandard/Form'
            },
            impArg: {
                id: "Import",
                title: '导入',
                url: '/LllegalStandard/LllegalStandard/Import',
                cancel: function (index) {
                    if (isImport) {
                        isImport = false;
                        lagc.queryData();
                    }
                }
            }
        });
    });
</script>
<style type="text/css">
    .ui-select {
        width: 200px;
    }

    .formTitle {
        padding-left: 10px;
    }
</style>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-center">
        <div class="center-Panel" style="margin-left: 10px; margin-right: 10px;">
            <div class="titlePanel">
                <div class="title-search" id="queryArea">
                    <table>
                        <tr>
                            <td class="formTitle">违章类型：</td>
                            <td class="formValue">
                                <div id="LllegalType" type="select" class="ui-select" data-value="" querypro="lllegaltype" />
                            </td>
                            <td class="formTitle">违章级别：</td>
                            <td class="formValue">
                                <div id="LllegalLevel" type="select" class="ui-select" data-value="" querypro="lllegallevel" />
                            </td>
                            <td class="formTitle">
                                <input id="LllegalDescribe" type="text" class="form-control" querypro="lllegaldescribe" placeholder="请输入要查询关键字（违章描述关键字搜索）" style="width: 300px;" />
                            </td>
                            <td style="padding-left: 5px;">
                                <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>查询</a>
                                <a id="btn_Reset" class="btn btn-primary"><i class="fa fa-undo"></i>&nbsp;重置</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="toolbar">
                    <div class="btn-group">
                        <a id="refresh" class="btn btn-default"><i class="fa fa-refresh"></i>刷新</a>
                        <a id="add" class="btn btn-default"><i class="fa fa-plus"></i>新增</a>
                        <a id="imp" class="btn btn-default"><i class="fa fa-file-excel-o"></i>导入</a>
                    </div>
                </div>
            </div>
            <div class="gridPanel">
                <table id="gridTable"></table>
                <div id="gridPager"></div>
            </div>
        </div>
    </div>
</div>
