@{
    ViewBag.Title = "车辆进出厂统计";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
<script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>

<style type="text/css">
    .dropdown-menu > li > a:active {
        color: rgb(38, 38, 38);
        background-color: transparent;
        text-decoration: none;
    }

    .Tj tr, .Tj td {
        border: 1px solid #000000;
    }

    .Tj {
        width: 100%;
        min-height: 25px;
        line-height: 25px;
        text-align: center;
        border-collapse: collapse;
    }

    .pop {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 100;
        display: none;
    }

    .pop-conetnt {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        /*background: #fff;*/
        background: rgba(0, 0, 0, 0.3);
        border-radius: 4px;
    }
</style>
<script>
    var type = request('type');
    var area = request('area');
    $(function () {
        GetGrid();
        jQuery("#btn_Search").click(function () {
            jQuery('#gridTable').jqGrid('setGridParam', {page:1}).trigger('reloadGrid')
        });

        jQuery("#btn_Search").click(function () {
            jQuery("#Name").val("");
            jQuery("#DeptName").val("");
            jQuery('#gridTable').jqGrid('setGridParam', { page: 1 }).trigger('reloadGrid')
        });
    });


    //计算两个时间中间间隔
    function dattdifference(sDate1, sDate2) {
        var dateSpan, tempDate, iDays;
        sDate1 = Date.parse(sDate1);
        sDate2 = Date.parse(sDate2);
        dateSpan = sDate2 - sDate1;
        //dateSpan = Math.abs(dateSpan);
        iDays = Math.floor(dateSpan / (3600 * 1000) * 100) / 100;
        return iDays;
    }

    function createParams() {
        var params = {
            AreaName:area,
            UserType: type,
            Isout: 0,
            Inout: 0,
            Name: jQuery("#Name").val(),
            DeptName:jQuery("#DeptName").val()
        }
        if (area == "一号岗")
            params = jQuery.extend(params, { StartTime:'@DateTime.Now.AddDays(-1).ToString("yyyy-MM-dd HH:mm:ss")' });
        else
            params = jQuery.extend(params, { StartTime: '@DateTime.Now.AddDays(-3).ToString("yyyy-MM-dd HH:mm:ss")' });
        return params;
    }

    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');

        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() - 300,
            url: "../../CarManage/Hikinoutlog/GetListJson",
            postData: { queryJson: JSON.stringify(createParams()) },
            datatype: "json",
            colModel: [
                { label: '主键', name: 'id', hidden: true },
                {
                    label: '姓名',
                    name: 'username',
                    index: 'username',
                    width: 200,
                    align: 'center'
                },
                {
                    label: '部门',
                    name: 'deptname',
                    index: 'deptname',
                    width: 200,
                    align: 'center'
                },
                {
                    label: '门禁点',
                    name: 'devicename',
                    index: 'devicename',
                    width: 200,
                    align: 'center'
                },
                {
                    label: '门禁点区域',
                    name: 'areaname',
                    index: 'areaname',
                    width: 200,
                    align: 'center'
                },
                {
                    label: '出\入',
                    name: 'inout',
                    index: 'inout',
                    width: 200,
                    align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        switch (cellvalue) {
                            case 0:
                                return "进门";
                                break;
                            case 1:
                                return "出门";
                                break;
                        }
                    }
                },
                {
                    label: '事件类型',
                    name: 'eventtype',
                    index: 'eventtype',
                    width: 200,
                    align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        switch (cellvalue) {
                            case 1:
                                return "人脸通过事件";
                                break;
                            case 2:
                                return "车辆放行事件";
                                break;
                            case 3:
                                return "门禁刷卡事件";
                                break;
                            case 4:
                                return "门禁指纹通过事件";
                                break;
                        }
                    }
                },
                {
                    label: '抓拍照片',
                    name: 'screenshot',
                    index: 'screenshot',
                    width: 200,
                    align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = "<img width='35'title='点击查看大图' height='35'  onclick=ShowImg('" +
                            cellvalue +
                            "') src='" +
                            cellvalue +
                            "'>";
                        return html;
                    }
                },
                {
                    label: '（入）时间',
                    name: 'createdate',
                    index: 'createdate',
                    width: 200,
                    align: 'center'
                }
                ,
                {
                    label: '逗留时长',
                    name: 'Time',
                    width: 200,
                    align: 'center',
                    sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        var now = new Date();
                        var nowday = now.getFullYear() + "-" + (now.getMonth() + 1) + "-" + now.getDate() + " " + now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds();
                        var t = dattdifference(rowObject.createdate, nowday);
                        return t + "h";
                    }
                }
            ],
            viewrecords: true,
            rowNum: 30,
            //multiboxonly: true,
            //multiselect: true,
            pager: "#gridPager",
            sortname: 'deptname',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: true,
            gridview: true,
            userdata: "userdata",
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);
            }
        });

    }

    function ShowImg(url) {
        ////查看图片
        //var w = 1200;
        //var h = 960;
        //dialogOpen({
        //    id: "DetailPrject",
        //    title: "查看图片",
        //    url: '/CarManage/Hikdevice/ImgShow?Url=' + url,
        //    shade: 0.5,
        //    btn: null,
        //    width: w + "px",
        //    height: h + "px",
        //    callBack: function (iframeId) {

        //    }
        //});

        $("#pop").show();
        $("#imgShow").attr("src", url);
    }

</script>
<div class="border" id="desktop" style=" background: #fff; overflow-y: auto;overflow-x:hidden; ">
    <div id="con1" style="margin-top: 10px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;人员清单</strong>
            </div>
            <div class="panel-body">
                <div class="row" style="margin: 10px;">
                    <table style="width:100%; margin-bottom:15px;">
                        <tr>
                            <th style="width:65px;font-weight:bold;" align="right">姓名：</th>
                            <td style="width:90px;">
                                <input type="text" id="Name" class="form-control" />
                            </td>
                            <th style="width:65px;font-weight:bold;" align="right" class="area">所属部门：</th>
                            <td style="width:90px;" class="area">
                                <input type="text" id="DeptName" class="form-control" />
                            </td>
                            <td width="140" align="right">
                                <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;查询</a>&nbsp;
                                <a id="btn_Reset" class="btn btn-primary"><i class="fa fa-undo"></i>&nbsp;重置</a>
                            </td>
                        </tr>
                    </table>
                    <table id="gridTable"></table>
                    <div id="gridPager"></div>
                </div>
            </div>
        </div>
    </div>


</div>

<div class="pop" id="pop" style="display:none;" onclick="$('#pop').hide()">
    <div class="pop-conetnt">
        <img id="imgShow" width="800" height="600" />
    </div>
</div>

