@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/business/common.js"></script>
<script>
    var keyValue = request('keyValue');
    var RecId = request('RecId');
    var action = request('action');
    var type = request('type');
    $(function () {
        if (action == "view") {
            $("#form1").find("input,textarea,.ui-select,.ui-select-text,.ui-select-option-content,.show-menu-arrow").each(function (ele, index) {
                var it = $(this);
                it.attr("disabled", "disabled");
                it.attr("readonly", "readonly");
            });
        }
        initControl();
    });
    //初始化控件
    function initControl() {
        if (type == 0) {
            $(".LimitedSpace").hide();
            $("#DangerousData").removeAttr("isvalid");
            $("#GasData").removeAttr("isvalid");
            $("#OxygenContentData").removeAttr("isvalid");
        }
        else if (type == 1) {
            $(".WhenHot").hide();
            $("#AnalysisData").removeAttr("isvalid");
            $("#date").html("取样时间<font face=\"宋体\">*</font>");
            $("#place").html("取样部位<font face=\"宋体\">*</font>")
        }
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../DangerousJob/WhenHotAnalysis/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                }
            })
        }
    }
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize(keyValue);
        postData["RecId"] = RecId;
        $.SaveForm({
            url: "../../DangerousJob/WhenHotAnalysis/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                top.Form.window.$("#DescriptionTable").trigger("reloadGrid");
            }
        })
    }
    //选中分析人
    function selectDutyUser() {
        selectUser({ deptId: '', checkMode: 0, mode: 0, winObject: window.document.body, domId: 'AnalysisPerson,,AnalysisPersonId' });
    }
</script>
<div style="margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle" id="date" style="width:200px">动火分析时间<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="AnalysisDate" type="text" isvalid="yes" checkexpession="NotNull"  value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm")" class="form-control input-wdatepicker" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})" />
            </td>
        </tr>
        <tr>
            <td class="formTitle" id="place">采样地点<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="SamplingPlace" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr class="WhenHot">
            <td class="formTitle">分析数据<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="AnalysisData" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">分析人<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="AnalysisPerson" type="text" class="form-control" readonly="readonly" onclick="selectDutyUser()" isvalid="yes" checkexpession="NotNull" value="@ERCHTMS.Code.OperatorProvider.Provider.Current().UserName"/>
                <input id="AnalysisPersonId" type="hidden" value="@ERCHTMS.Code.OperatorProvider.Provider.Current().UserId"/>
            </td>
        </tr>
        <tr class="LimitedSpace">
            <td class="formTitle">有毒有害介质分析数据<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="DangerousData" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr class="LimitedSpace">
            <td class="formTitle">可燃气分析数据<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="GasData" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr class="LimitedSpace">
            <td class="formTitle">含氧量分析数据<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="OxygenContentData" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
    </table>
</div>
