@{;
ViewBag.Title = "报表";
Layout = "~/Views/Shared/_Form.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>报表</title>
    <script src="~/Content/Scripts/plugins/highcharts/highcharts.js"></script>
    <script src="~/Content/Scripts/plugins/highcharts/highcharts-more.js"></script>
    <script src="~/Content/Scripts/plugins/highcharts/modules/exporting.js"></script>
    <link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
    <script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="~/content/scripts/business/common.js"></script>
    <script type="text/javascript" src="~/Content/scripts/business/powerplant_statistics.js"></script>
    <style type="text/css">
        .li {
        }

        .tab0 {
            width: 100%;
            border: 1px solid #ccc;
        }

            .tab0 td {
                background-color: #f7f7f7;
                height: 40px;
                text-align: center;
                border: 1px solid #ccc;
                width: 16.666%;
            }

            .tab0 th {
                background-color: #f7f7f7;
                height: 40px;
                text-align: center;
                border-color: #ccc;
                width: 16.666%;
            }

        .tab1 {
            width: 100%;
            border: 1px solid #ccc;
        }

            .tab1 td {
                background-color: white;
                height: 30px;
                border: 1px solid #ccc;
            }

        a {
            color: black;
        }

        .stat_number {
            text-decoration: underline;
        }
    </style>

    <script>
        var id = 0;
        var roleNames = "@ERCHTMS.Code.OperatorProvider.Provider.Current().RoleName";
        $(function () {
            InitialPage();
            changeTab(6, $("#btnWarn1"));

        });

        //初始化
        function InitialPage() {
            $('#desktop').height($(window).height() - 22);
            $(window).resize(function (e) {
                window.setTimeout(function () {
                    $('#desktop').height($(window).height() - 22);
                    $("#gridTable").setGridWidth(($(window).width() - 100));
                },
                    200);
                e.stopPropagation();
            });
        }

        //导航切换
        function changeTab(idx, obj) {
            if (idx == 7) {
                $("#td6").show();
                $("#td66").show();
                $("#td7").hide();
                $("#td77").hide();
            } else {
                $("#td6").hide();
                $("#td66").hide();
                $("#td7").show();
                $("#td77").show();
            }
            id = idx;
            $(".con0").hide();
            $(".con0").eq(idx).show();
            $(".btn-default").removeClass("btn-primary");
            $(".li").removeClass("btn-primary");
            $(obj).addClass("btn-primary");
            $(".btn-default").addClass("btn-default");
            //拼接列表
            drawChart(idx);

        }

        function Search() {
            drawChart(id);
        }

        function drawChart(type) {
            var year = $("#StartDate").val();
            var selt =  $("#bjnf").val();
            switch (type) {
                case 0:
                    binggrid0(year, type);
                    break;
                case 1:
                    binggrid1(year, type);
                    break;
                case 2:
                    binggrid2(year, type);
                    break;
                case 3:
                    binggrid3(year, type);
                    break;
                case 4:
                    binggrid4(year, type);
                    break;
                case 5:
                    binggrid5(year, type);
                    break;
                case 6:
                    binggrid6(year, type);
                    break;
                case 7:
                    year = "@Convert.ToInt32(DateTime.Now.ToString("yyyy"))";
                    binggrid7(year, selt, type);
                    break;
                //default:
                //    binggrid6(year, type);
                //    break;
            }

        }

        //导出
        function exported() {
            var year = $("#StartDate").val();
            if (id === 7) {
                var selt = $("#bjnf").val();
                if (selt === "1") {
                    year = year - 5;
                }              
               else if (selt === "2") {
                    year = year - 10;
                }
            }       
            location.href = "../../PowerPlantInside/PowerPlantInside/ExportStatisticsExcel?year=" + year + "&mode=" + id;
        }

        function getSGCount() {
            var txt = $(".ui-paging-info").html();
            if (txt == "无数据显示") {
                $("#sSGKB").html("0");
            }
            else {
                var nowtxt = txt.split("，")[0];
                var num = nowtxt.replace("检索到", "").replace("条记录", "");
                $("#sSGKB").html(num);
            }
        }
    </script>

</head>
<body>

    <div class="center-Panel">
        <div class="panel-Title">事故事件统计</div>
        <div class="titlePanel">
            <div class="title-search" id="search">

                <table class="queryform" id="searchTab">
                    <tr>
                        <td style="width: 65px; font-weight: bold;" align="right" id="td7">年度：</td>
                        <td style="width: 80px;" id="td77">
                            <div style="float: left; width: 70px;">
                                <input id="StartDate" type="text" class="form-control input-wdatepicker" value="@DateTime.Now.ToString("yyyy")" onfocus="WdatePicker({dateFmt:'yyyy'})">
                            </div>
                        </td>
                        <td class="formTitle" id="td6"> 比较年份：</td>
                        <td class="formValue" id="td66">
                            <select id="bjnf" class=" show-menu-arrow form-control" style="width:100px;">
                                <option value="1">近五年</option>
                                <option value="2">近十年</option>

                            </select>
                        </td>


                        <td class="formValue">
                            <a id="btn_Search" class="btn btn-primary" onclick="Search();"><i class="fa fa-search"></i>查询</a>
                        </td>
                        <td class="formValue">
                            <a id="btn_export" class="btn btn-primary" onclick="exported();"><i class="fa fa-download"></i>导出</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="toolbar">
                <div class="btn-group">
                    <a id="btnWarn1" class="btn btn-default" onclick="changeTab(6, this)"><i class="fa fa fa-pie-chart"></i>&nbsp;月度变化统计</a>
                    <a id="btnWarn2" class="btn btn-default" onclick="changeTab(7, this)"><i class="fa fa fa-area-chart"></i>&nbsp;年度对比统计</a>
                    <a id="btnWarn3" class="btn btn-default btn10 dropdown-toggle btn11" data-toggle="dropdown"><i class="fa fa fa-bar-chart"></i>&nbsp;事故事件统计&nbsp;<i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu pull-right btn11">
                        <li><a class="li" id="btntype" onclick="changeTab(0,this)"><i></i>事故事件类型统计</a></li>
                        <li><a class="li" id="btnxz" onclick="changeTab(1,this)"><i></i>事故事件性质统计</a></li>
                        <li><a class="li" id="btnys" onclick="changeTab(2, this)"><i></i>影响事故事件因素统计</a></li>
                        <li><a class="li" id="btndept" onclick="changeTab(3, this)"><i></i>事故事件发生的部门统计</a></li>
                        <li><a class="li" id="btnzy" onclick="changeTab(4, this)"><i></i>事故事件所属的专业统计</a></li>
                        <li><a class="li" id="btnjz" onclick="changeTab(5, this)"><i></i>事故事件所属的系统统计</a></li>
                    </ul>

                </div>
            </div>
        </div>


        <div class="portal-panel" style="margin-left:0px;">
            <div class="panel panel-default" id="divTB">
                <div class="panel-heading">
                    <strong>&nbsp;&nbsp;统计图表</strong>
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" title="展开/收起"></a>
                    </span>
                </div>
                <div class="panel-body">
                    <div id="dbcontainer" style="margin:10px;">
                        <div class="portal-panel" style="margin-left:0px;">
                            <div class="row" style="margin-top: 10px;">
                                <div class="row" style="margin-top: 10px;">
                                    <div class="btn-group">
                                    </div>
                                </div>
                            </div>

                            <div id="divSGSJBB">
                                <div class="row" style="margin-top: 10px;">
                                    <div class="btn-group">


                                    </div>
                                </div>

                                <!---事故事件类型统计--->

                                <div id="con0" style="width: 100%; float: left;" class="row con0">

                                    <div class="portal-panel-title" style="font-weight: bold; color: #41b1c6;">

                                        <div id="c0" style="position: relative; left: -15px;">
                                            <center style="margin-top:50px;"><img src="../../content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</center>
                                        </div>



                                    </div>
                                </div>
                                <!---事故事件性质统计--->

                                <div id="con1" style="width: 100%; display:none; float: left;" class="row con0">
                                    <div class="portal-panel-title" style="font-weight: bold; color: #41b1c6;">


                                        <div id="c1" style="position: relative; left: -15px; width: 100%;">
                                            <center style="margin-top:50px;"><img src="../../content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</center>
                                        </div>



                                    </div>
                                </div>

                                <!---影响事故事件因素统计--->

                                <div id="con2" style="width: 100%; display:none; float: left;" class="row con0">
                                    <div class="portal-panel-title" style="font-weight: bold; color: #41b1c6;">


                                        <div id="c2" style="position: relative; left: -15px; width: 100%;">
                                            <center style="margin-top:50px;"><img src="../../content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</center>
                                        </div>



                                    </div>
                                </div>

                            </div>

                            <div id="divSGSJBM">
                                <div class="row" style="margin-top: 10px;">
                                    <div class="btn-group">


                                    </div>
                                </div>

                                <!---事故事件发生的部门统计--->

                                <div id="con3" style="width: 100%; float: left;" class="row con0">

                                    <div class="portal-panel-title" style="font-weight: bold; color: #41b1c6;">

                                        <div id="c3" style="position: relative; left: -15px;">
                                            <center style="margin-top:50px;"><img src="../../content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</center>
                                        </div>



                                    </div>
                                </div>
                                <!---事故事件所属的专业统计--->

                                <div id="con4" style="width: 100%; display:none; float: left;" class="row con0">
                                    <div class="portal-panel-title" style="font-weight: bold; color: #41b1c6;">


                                        <div id="c4" style="position: relative; left: -15px; width: 100%;">
                                            <center style="margin-top:50px;"><img src="../../content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</center>
                                        </div>



                                    </div>
                                </div>

                                <!---事故事件所属的机组统计--->

                                <div id="con5" style="width: 100%; display:none; float: left;" class="row con0">
                                    <div class="portal-panel-title" style="font-weight: bold; color: #41b1c6;">


                                        <div id="c5" style="position: relative; left: -15px; width: 100%;">
                                            <center style="margin-top:50px;"><img src="../../content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</center>
                                        </div>



                                    </div>
                                </div>

                            </div>

                            <div id="divWSSJBB">
                                <!---月度变化统计--->

                                <div id="con6" style="width: 100%; float: left;" class="row con0">

                                    <div class="portal-panel-title" style="font-weight: bold; color: #41b1c6;">

                                        <div id="c6" style="position: relative; left: -15px;">
                                            <center style="margin-top:50px;"><img src="../../content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</center>
                                        </div>



                                    </div>
                                </div>


                                <!---年度对比统计--->

                                <div id="con7" style="width: 100%; display:none; float: left;" class="row con0">
                                    <div class="portal-panel-title" style="font-weight: bold; color: #41b1c6;">


                                        <div id="c7" style="position: relative; left: -15px; width: 100%;">
                                            <center style="margin-top:50px;"><img src="../../content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</center>
                                        </div>



                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="row" id="grid">
                <div class="panel panel-default" style="margin: 10px;">
                    <div class="panel-heading">
                        <strong>&nbsp;&nbsp;统计数据</strong>
                        <span class="tools pull-right">
                            <a class="fa fa-chevron-down" title="展开/收起"></a>
                        </span>
                    </div>
                    <div class="panel-body" id="divgrid">
                        <table id="gridTable"></table>
                    </div>
                </div>
            </div>       
        </div>

    </div>



</body>
</html>
