@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/kbsjs/ThreeD.js"></script>
<script>
    var keyValue = request('keyValue');
    var DistrictId = request('DistrictId');
    var point = "";
    var ptype = request('type');
    var floorId = "";
    $(function () {
        Iniiframe();
    });
    //function threeFn() {
    //    var frame = document.getElementById('ZbMap');
    //    var sendData = {
    //        "name": "startPos",
    //        "data": "取点方法"
    //    }
    //    frame.contentWindow.postMessage(sendData, "*");
    //}

    //function Iniiframe() {
    //    //初始化职位json
    //    $.ajax({
    //        url: top.contentPath + "/KbsDeviceManage/Kbsdevice/GetThreeUrl",
    //        type: "post",
    //        dataType: "text",
    //        async: false,
    //        success: function (data) {
    //            $('#ZbMap').attr('src', data + '/gisbcdl/index.html#/home');
    //        }
    //    });

    //    window.addEventListener('message', receiveMessage, false)
    //}

    //function threeDIni() {
    //    var frame = document.getElementById('ZbMap');
    //    var sendData = {
    //        "name": "initPage",
    //        "data": "getOutPos"
    //    }
    //    frame.contentWindow.postMessage(sendData, "*");
    //}
    //function receiveMessage(event) {
    //    var name = event.data.name;
    //    if (name == "initPage") {
    //        threeDIni();
    //    }
    //    else if (name == "startWork") {
    //        threeFn();
    //    } else if (name == "finishedWork") {
    //        point = event.data.data;
    //        floorId = event.data.floorId;
    //    }
    //}

    //保存表单;
    function AcceptClick() {
        top.Form.window.$("#CameraPoint").val(point);
        top.Form.window.$("#FloorNo").val(floorId);
    }

</script>
<div>
    <iframe name="ZbMap" id="ZbMap" style="width: 1000px;height: 700px;border: medium none;"></iframe>
</div>
