@using ERCHTMS.Code
@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var KbscameraIndexCode = request('keyValue');
    var Hkappkey = "@(new ERCHTMS.Busines.SystemManage.DataItemDetailBLL().GetItemValue("Hikappkey").Split('|')[0])";
    var Hksecret = "@(new ERCHTMS.Busines.SystemManage.DataItemDetailBLL().GetItemValue("Hikappkey").Split('|')[1])";
    var HikIp = "@(new ERCHTMS.Busines.SystemManage.DataItemDetailBLL().GetItemValue("HikHttpsIP"))";
    var HikPort = "@(new ERCHTMS.Busines.SystemManage.DataItemDetailBLL().GetItemValue("HikPort"))";//海康平台端口号
    var RecordLocation = 0；//此参数在实时预览无作用，只为防止报错
    //var index = top.layer.getFrameIndex(window.name);
    //var id = "layui-layer" + (index).toString();
    var mode = 0;//实时
    var height = $(window).height()-30;
    var width = $(window).width()-10;
</script>
<style>
    html, body {
        padding: 0;
        margin: 0;
    }

    .playWnd {
        margin-left: 0px;
        margin-top: 0px;
        /*width: 10px;*/ /*播放容器的宽和高设定*/
        /*height: 60px;*/
    }

    .operate {
        margin-top: 24px;
    }

    .operate::after {
        content: '';
        display: block;
        clear: both;
    }
</style>
<a href="~/Resource/Upfile/VideoWebPlugin.exe">&nbsp;&nbsp;没有视频播放插件？点击这里下载</a>
<!--视频窗口展示-->
<div id="playWnd" class="playWnd"></div>
@*海康摄像头*@
@*<script src="~/content/scripts/videojs/jquery-1.12.4.min.j s"></script>*@
<script src="~/content/scripts/kbsjs/jsencrypt.min.js"></script>
<script src="~/content/scripts/kbsjs/jsWebControl-1.0.0.min.js"></script>
<script src="~/Content/scripts/kbsjs/PlayVideo.js"></script>
<script>
    //页面加载时创建播放实例初始化
    $(window).load(function () {
        $("#playWnd").css("height", height);
        $("#playWnd").css("width", width);
        initPlugin();
        setTimeout('cameraplay()', 10000);
    });
</script>