@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<!--webUploader文件上传组件-->
<link href="~/content/scripts/plugins/webuploader/webuploader.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/webuploader/webuploader-demo.css" rel="stylesheet" />
<script type="text/javascript" src="~/content/scripts/plugins/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/fileupload.js"></script>
<script>

    var mode = request('mode');
    var keyValue = request('keyValue');
    var hdkm = "@(new ERCHTMS.Busines.SystemManage.DataItemDetailBLL().GetItemValue("KMIndexUrl"))";
    $(function () {
        initControl();
        if (mode == "info") {
            $('input').attr("disabled", "disabled");
            $('textarea').attr("disabled", "disabled");
            $('#A_UnitInfo').show();
        } else {
            $('#A_UnitInfo').hide();
        }
        //$('#UnitInfo input').attr("disabled", "disabled");
        //$('#UnitInfo textarea').attr("disabled", "disabled");
    });
    //初始化控件
    function initControl() {
        if (hdkm == "" || hdkm == null || hdkm == "undefined") {
            $("#div9").hide();
            $("#div10").hide();
            $("#div9 input").each(function (index, ele) {
                $(this).removeAttr("isvalid");
            });
            $("#div10 input").each(function (index, ele) {
                $(this).removeAttr("isvalid");
            });
        }
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../OutsourcingProject/Outsourcingproject/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    if (data.zzData != null) {
                        $("#form1").formDeserialize(data.zzData);

                        if (data.zzData.ISXK == "1") {
                            document.getElementById("isxk2").checked = true;
                        } else {
                            document.getElementById("isxk1").checked = true;
                        }
                        if (data.zzData.ISZZZJ == "1") {
                            document.getElementById("iszzzj2").checked = true;
                        } else {
                            document.getElementById("iszzzj1").checked = true;
                        }
                        GetZzzjGrid(data.zzData.ID);
                        file_upload.bindFiles(false, false, data.zzData.ID + "10", 'uploader10', false);
                        file_upload.bindFiles(false, false, data.zzData.ID + "09", 'uploader9', false);
                        file_upload.bindFiles(false, false, data.zzData.ID + "07", 'uploader7', false);
                        file_upload.bindFiles(false, false, data.zzData.ID + "06", 'uploader6', false);
                        file_upload.bindFiles(false, false, data.zzData.ID + "05", 'uploader5', false);
                        file_upload.bindFiles(false, false, data.zzData.ID + "04", 'uploader4', false);
                        //file_upload.bindFiles(false, false, data.zzData.ID + "03", 'uploader3', false);
                        file_upload.bindFiles(false, false, data.zzData.ID + "02", 'uploader2', false);
                        file_upload.bindFiles(false, false, data.zzData.ID + "01", 'uploader1', false);
                    }
                    $("#form1").formDeserialize(data.data);

                }
            })
        }
    }
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize(keyValue);
        $.SaveForm({
            url: "../../OutsourcingProject/Outsourcingproject/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }
    function f_ShowZzzj(id) {
        var dlg = dialogOpen({
            id: 'ZzzjForm',
            title: '查看资质证件',
            url: '/OutsourcingProject/Aptitudeinvestigateinfo/AddZzzjForm?mode=View&keyValue=' + id,
            width: "600px",
            height: "500px",
            btn: ["关闭"],
            callBack: function (iframeId) {
                top.layer.close(dlg);
            }
        })
    }
    function GetZzzjGrid(InfoId) {
        var queryJson = {
            InfoId: InfoId
        };
        var selectedRowIndex = 0;
        var $gridTable = $('#ZzzjgridTable');
        $gridTable.jqGrid({
            autowidth: true,
            height: "200px",
            url: "../../OutsourcingProject/Aptitudeinvestigateinfo/GetZzzjPageJson",
            postData: { queryJson: JSON.stringify(queryJson) },
            datatype: "json",
            colModel: [
                { label: 'id', name: 'id', hidden: true },
                {
                    label: '操作', name: 'oper', width: 150, align: 'center', formatter: function (cellvalue, options, rowObject) {
                        var html = "";
                        html += "<a href=javascript:f_ShowZzzj('" + rowObject.id + "')  title='查看' ><i class='fa fa-eye'></i></a>";
                        //if (rowObject.createuserid == currUserID && EditFlag) {
                        //    html += "<a href=javascript:f_EditZzzj('" + rowObject.id + "')  title='编辑'><i class='fa fa-pencil-square-o'></i></a>";
                        //    html += "<a href=javascript:f_DelZzzj('" + rowObject.id + "')   title='删除'><i class='fa fa-trash-o'></i></a>";
                        //}
                        return html;
                    }
                },
                { label: '资质证件号', name: 'cqcode', width: 150, align: 'center' },
                { label: '资质范围', name: 'cqrange', width: 200, align: 'center' },
                { label: '资质等级', name: 'cqlevel', width: 150, align: 'center' },
                {
                    label: '有效期', name: 'indete', width: 220, align: 'center'
                , formatter: function (cellvalue, options, rowObject) {
                    return rowObject.starttime + "~~" + rowObject.endtime;
                }
                },
                { label: '发证机关', name: 'cqorg', width: 150, align: 'center' }
            ],
            viewrecords: true,
            rowNum: 30,
            multiboxonly: false,
            multiselect: false,
            pager: "#ZzzjgridPager",
            sortname: 'createdate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);
            }
        });

    }
</script>
<div style="margin-top: 20px; margin-right: 30px;">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#OutProject" data-toggle="tab">外包单位基本信息</a></li>
        <li><a id="A_UnitInfo" href="#UnitInfo" data-toggle="tab">单位资质信息</a></li>

    </ul>
    <div class="tab-content" style="padding-top: 15px;">
        <div id="OutProject" class="tab-pane active" style="padding-right: 30px;">
            <table class="form">
                <tr>
                    <td class="formTitle">外包单位名称<font face="宋体">*</font></td>
                    <td class="formValue" colspan="3">
                        <input id="OUTSOURCINGNAME" type="text" readonly="readonly" class="form-control" isvalid="yes" checkexpession="NotNull" />
                    </td>
                    @*<td class="formTitle">统一社会信用代码</td>
                    <td class="formValue">
                        <input id="CREDITCODE" type="text" class="form-control" />
                    </td>*@
                </tr>
                <tr>
                    <td class="formTitle">法人代表<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="LEGALREP" type="text" class="form-control" />
                    </td>
                    <td class="formTitle">法人代表电话</td>
                    <td class="formValue">
                        <input id="LEGALREPPHONE" type="text" class="form-control" checkexpession="MobileOrPhoneOrNull" />
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">法人代表传真</td>
                    <td class="formValue">
                        <input id="LEGALREPFAX" type="text" class="form-control" />
                    </td>
                    <td class="formTitle">联系人<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="LINKMAN" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">联系人电话<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="LINKMANPHONE" type="text" class="form-control" isvalid="yes" checkexpession="MobileOrPhone" />
                    </td>
                    <td class="formTitle">联系人传真</td>
                    <td class="formValue">
                        <input id="LINKMANFAX" type="text" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">电子邮箱</td>
                    <td class="formValue">
                        <input id="EMAIL" type="text" class="form-control" isvalid="yes" checkexpession="isEmailOrNull" />
                    </td>
                    <td class="formTitle">合同人数(人)</td>
                    <td class="formValue">
                        <input id="ContractPersonNum" type="text" class="form-control" isvalid="yes" checkexpession="PositiveNumOrNull" />
                    </td>
                    
                </tr>
                <tr>
                    <td class="formTitle">企业地址</td>
                    <td class="formValue" colspan="3">
                        <input id="ADDRESS" type="text" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">外包单位概况</td>
                    <td class="formValue" colspan='3'>
                        <textarea id="GENERALSITUATION" maxlength="2000" class="form-control"></textarea>
                    </td>
                </tr>

            </table>
        </div>
        <div id="UnitInfo" class="tab-pane" style="padding-right: 30px;">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>营业执照</h5>
                    <div class="ibox-tools">

                    </div>
                </div>
                <div class="ibox-content">
                    <table class="form">
                        <tr>
                            <td class="formTitle">发证机关</td>
                            <td class="formValue">
                                <input id="BUSCERTIFICATE" type="text" class="form-control" />
                            </td>
                            <td class="formTitle">统一社会信用代码</td>
                            <td class="formValue">
                                <input id="BUSCODE" type="text" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">有效时间起</td>
                            <td class="formValue">
                                <input id="BUSVALIDSTARTTIME" type="text" class="form-control input-datepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
                            </td>
                            <td class="formTitle">有效时间止</td>
                            <td class="formValue">
                                <input id="BUSVALIDENDTIME" type="text" class="form-control input-datepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
                            </td>
                        </tr>
                    </table>
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>营业执照</h5>
                            <div class="ibox-tools">

                            </div>
                        </div>
                        <div class="ibox-content">

                            <div id="uploader1" class="uploader" style="border:1px solid #ccc; margin-top:10px; min-height:80px; margin-bottom:10px;">
                                <div class="queueList">
                                    <div id="File1" class="placeholder">
                                        <div class="filePicker" style="margin-left:25px; margin-top:10px;"></div>
                                    </div>
                                </div>
                                <div class="statusBar" style="display:none;">
                                    <div class="progress">
                                        <span class="text">0%</span>
                                        <span class="percentage"></span>
                                    </div>
                                    <div class="info"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <h5>安全生产许可证</h5>
                    <div class="ibox-tools">

                    </div>
                </div>
                <div class="ibox-content">
                    <table class="form">
                        <tr>
                            <td class="formTitle" style="width:200px;">本工程是否需要安全生产许可证</td>
                            <td class="formValue icheck">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="isxk" id="isxk1" value="0" checked="checked" />是
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="isxk" id="isxk2" value="1" />否
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">发证机关</td>
                            <td class="formValue">
                                <input id="SPLCERTIFICATE" type="text" class="form-control" />
                            </td>
                            <td class="formTitle">许可证号</td>
                            <td class="formValue">
                                <input id="SPLCODE" type="text" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">有效时间起</td>
                            <td class="formValue">
                                <input id="SPLVALIDSTARTTIME" type="text" class="form-control input-datepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
                            </td>
                            <td class="formTitle">有效时间止</td>
                            <td class="formValue">
                                <input id="SPLVALIDENDTIME" type="text" class="form-control input-datepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
                            </td>
                        </tr>

                    </table>
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>安全生产许可证</h5>
                            <div class="ibox-tools">

                            </div>
                        </div>
                        <div class="ibox-content">

                            <div id="uploader2" class="uploader" style="border:1px solid #ccc; margin-top:10px; min-height:80px; margin-bottom:10px;">
                                <div class="queueList">
                                    <div id="File2" class="placeholder">
                                        <div class="filePicker" style="margin-left:25px; margin-top:10px;"></div>
                                    </div>
                                </div>
                                <div class="statusBar" style="display:none;">
                                    <div class="progress">
                                        <span class="text">0%</span>
                                        <span class="percentage"></span>
                                    </div>
                                    <div class="info"></div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <h5>资质证件</h5>
                    <div class="ibox-tools">

                    </div>
                </div>
                <div class="ibox-content">
                    <table class="form">
                        <tr>
                            <td class="formTitle" style="width:200px;">本工程是否需要资质证件</td>
                            <td class="formValue icheck">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="iszzzj" id="iszzzj1" value="0" checked="checked" />是
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="iszzzj" id="iszzzj2" value="1" />否
                                    </label>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div class="gridPanel">
                        <table id="ZzzjgridTable"></table>
                        <div id="ZzzjgridPager"></div>
                    </div>
                  
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <h5>其它资质</h5>
                    <div class="ibox-tools">

                    </div>
                </div>
                <div class="ibox-content">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>近三年施工简历附件</h5>
                            <div class="ibox-tools">

                            </div>
                        </div>
                        <div class="ibox-content">

                            <div id="uploader4" class="uploader" style="border:1px solid #ccc; margin-top:10px; min-height:80px; margin-bottom:10px;">
                                <div class="queueList">
                                    <div id="File4" class="placeholder">
                                        <div class="filePicker" style="margin-left:25px; margin-top:10px;"></div>
                                    </div>
                                </div>
                                <div class="statusBar" style="display:none;">
                                    <div class="progress">
                                        <span class="text">0%</span>
                                        <span class="percentage"></span>
                                    </div>
                                    <div class="info"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>授权委托书</h5>
                            <div class="ibox-tools">

                            </div>
                        </div>
                        <div class="ibox-content">
                            <table class="form">
                                <tr>
                                    <td class="formTitle">授权人</td>
                                    <td class="formValue">
                                        <input id="Mandator" style="width:80%;float:left;" type="text" class="form-control" />
                                        <input id="MandatorId" type="hidden" class="form-control" />
                                    </td>
                                    <td class="formTitle">代理人(委托人)</td>
                                    <td class="formValue">
                                        <input id="Certigier" style="width:80%;float:left;" type="text" class="form-control" />
                                        <input id="CertigierId" type="hidden" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="formTitle">有效时间起</td>
                                    <td class="formValue">
                                        <input id="ImpowerStartTime" type="text" class="form-control input-datepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd', maxDate: '#F{$dp.$D(\'ImpowerEndTime\')}' })" />
                                    </td>
                                    <td class="formTitle">有效时间止</td>
                                    <td class="formValue">
                                        <input id="ImpowerEndTime" type="text" class="form-control input-datepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd', minDate: '#F{$dp.$D(\'ImpowerStartTime\')}' })" />
                                    </td>
                                </tr>

                            </table>
                            <div id="uploader5" class="uploader" style="border:1px solid #ccc; margin-top:10px; min-height:80px; margin-bottom:10px;">
                                <div class="queueList">
                                    <div id="File5" class="placeholder">
                                        <div class="filePicker" style="margin-left:25px; margin-top:10px;"></div>
                                    </div>
                                </div>
                                <div class="statusBar" style="display:none;">
                                    <div class="progress">
                                        <span class="text">0%</span>
                                        <span class="percentage"></span>
                                    </div>
                                    <div class="info"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>承诺书 </h5>
                            <div class="ibox-tools">

                            </div>
                        </div>
                        <div class="ibox-content">

                            <div id="uploader6" class="uploader" style="border:1px solid #ccc; margin-top:10px; min-height:80px; margin-bottom:10px;">
                                <div class="queueList">
                                    <div id="File6" class="placeholder">
                                        <div class="filePicker" style="margin-left:25px; margin-top:10px;"></div>
                                    </div>
                                </div>
                                <div class="statusBar" style="display:none;">
                                    <div class="progress">
                                        <span class="text">0%</span>
                                        <span class="percentage"></span>
                                    </div>
                                    <div class="info"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="ibox" id="div9">
                        <div class="ibox-title">
                            <h5>合同信息</h5>
                            <div class="ibox-tools">

                            </div>
                        </div>
                        <div class="ibox-content">
                            <table class="form">
                                <tr>
                                    <td class="formTitle" style="width:100px;">甲方签订单位/人</td>
                                    <td class="formValue">
                                        <input id="COMPACTFIRSTPARTY" type="text" class="form-control" />
                                    </td>
                                    <td class="formTitle" style="width:100px;">乙方签订单位/人</td>
                                    <td class="formValue">
                                        <input id="COMPACTSECONDPARTY" type="text" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="formTitle">合同生效时间</td>
                                    <td class="formValue">
                                        <input id="COMPACTTAKEEFFECTDATE" type="text" class="form-control" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
                                    </td>
                                    <td class="formTitle">合同终止时间</td>
                                    <td class="formValue">
                                        <input id="COMPACTEFFECTIVEDATE" type="text" class="form-control" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="formTitle">合同编号</td>
                                    <td class="formValue">
                                        <input id="COMPACTNO" type="text" class="form-control" />
                                    </td>
                                    <td class="formTitle">合同金额</td>
                                    <td class="formValue">
                                        <input id="COMPACTMONEY" type="text" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="formTitle">备注</td>
                                    <td class="formValue" colspan="3">
                                        <textarea id="COMPACTREMARK" class="form-control" rows="4"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="formTitle">合同附件</td>
                                    <td class="formValue" colspan="3">
                                        <div id="uploader9" class="uploader" style="border:1px solid #ccc; margin-top:10px; min-height:200px; margin-bottom:10px;">
                                            <div class="queueList">
                                                <div id="uploaderFile9" class="placeholder">
                                                    <div class="filePicker" style="margin-left:25px; margin-top:10px;"></div>
                                                </div>
                                            </div>
                                            <div class="statusBar" style="display:none;">
                                                <div class="progress">
                                                    <span class="text">0%</span>
                                                    <span class="percentage"></span>
                                                </div>
                                                <div class="info"></div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="ibox" id="div10">
                        <div class="ibox-title">
                            <h5>安全生产管理协议签订信息</h5>
                            <div class="ibox-tools">

                            </div>
                        </div>
                        <div class="ibox-content">
                            <table class="form">
                                <tr>
                                    <td class="formTitle" style="width:120px;">甲方签订单位/人员</td>
                                    <td class="formValue">
                                        <input id="PROTOCOLFIRSTPARTY" type="text" class="form-control" />
                                    </td>
                                    <td class="formTitle" style="width:120px;">乙方签订单位/人员</td>
                                    <td class="formValue">
                                        <input id="PROTOCOLSECONDPARTY" type="text" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="formTitle">签订地点</td>
                                    <td class="formValue">
                                        <input id="SIGNPLACE" type="text" class="form-control" />
                                    </td>
                                    <td class="formTitle">签订时间</td>
                                    <td class="formValue">
                                        <input id="SIGNDATE" type="text" class="form-control" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="formTitle">协议签订<br />凭证上传</td>
                                    <td class="formValue" colspan="3">
                                        <div id="uploader10" class="uploader" style="border:1px solid #ccc; margin-top:10px; min-height:200px; margin-bottom:10px;">
                                            <div class="queueList">
                                                <div id="uploaderFile10" class="placeholder">
                                                    <div class="filePicker" style="margin-left:25px; margin-top:10px;"></div>
                                                </div>
                                            </div>
                                            <div class="statusBar" style="display:none;">
                                                <div class="progress">
                                                    <span class="text">0%</span>
                                                    <span class="percentage"></span>
                                                </div>
                                                <div class="info"></div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>其他审核文件</h5>
                            <div class="ibox-tools">

                            </div>
                        </div>
                        <div class="ibox-content">

                            <div id="uploader7" class="uploader" style="border:1px solid #ccc; margin-top:10px; min-height:80px; margin-bottom:10px;">
                                <div class="queueList">
                                    <div id="File7" class="placeholder">
                                        <div class="filePicker" style="margin-left:25px; margin-top:10px;"></div>
                                    </div>
                                </div>
                                <div class="statusBar" style="display:none;">
                                    <div class="progress">
                                        <span class="text">0%</span>
                                        <span class="percentage"></span>
                                    </div>
                                    <div class="info"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
