@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>
<script>
    var keyValue = request('keyValue');
    var pId = request('pId');
    var equipmentName = request('name');//设备名称
    var extinguisherType = request('type');//灭火器类型
    var actiontype = request('actiontype');
    $(function () {
        $("#EquipmentId").val(pId);//记录父id
        initControl();
    });
    //初始化控件
    function initControl() {
        //$("#BarrelOrBox").ComboBox({
        //    description: "==请选择==",
        //});
        //$("#StressOrValve").ComboBox({
        //    description: "==请选择==",
        //});
        //$("#EffuserOrSpearhead").ComboBox({
        //    description: "==请选择==",
        //});
        //$("#SealOrWater").ComboBox({
        //    description: "==请选择==",
        //});
        //$("#Sanitation").ComboBox({
        //    description: "==请选择==",
        //});
        //$("#Verdict").ComboBox({
        //    description: "==请选择==",
        //});
        $("#tb select , .ui-select, .ui-select-text , .ui-select-option-content").each(function (ele, index) {
            $(this).ComboBox({
                description: "==请选择==",
            });
            $(this).ComboBoxSetValue("1");
        });
        //责任人 责任部门等通用信息显示
        $("#JbxxFrom input,select , .ui-select, .ui-select-text , .ui-select-option-content").each(function (ele, index) {
            $(this).val(top.Form.$('#' + this.id).val());
        });
        //$('#Specifications').val(top.Form.$('#Specifications').attr("data-value"));
        //根据设备名称和类型判断显示的界面
        if (equipmentName == 'MHQ') {
            if (extinguisherType == 'CO2') {
                $("#ySpan").html("重量(公斤)");

                $("#Weight").removeAttr("style");
                $("#StressOrValve").attr("style", "display: none");
                $("#StressOrValve").attr("isvalid", "no");
            } else {
                $("#Weight").attr("isvalid", "no");
            }
            $('#tr_2').hide();
            $('#tr_14').hide(); $('#tr_15').hide();//情况描述和结论隐藏
        } else if (equipmentName == 'SNXHS' || equipmentName == 'SWXHS') {
            $("#tSpan").html("箱体");
            $("#ySpan").html("阀门");
            $("#pSpan").html("枪头");
            $("#fSpan").html("水带");
            $('#tr_0').hide(); $('#tr_1').hide();
            $('#tr_14').hide(); $('#tr_15').hide();//情况描述和结论隐藏
            $("#Weight").removeAttr("checkexpession");
        } else {
            $('#jbxxDiv').hide();//基本信息隐藏
            $('#tr_11').hide();
            $("#tr_11 input,textarea,select , .ui-select, .ui-select-text , .ui-select-option-content").each(function (ele, index) {
                $(this).attr("isvalid", "no");
            });
            $('#tr_12').hide();
            $("#tr_12 input,textarea,select , .ui-select, .ui-select-text , .ui-select-option-content").each(function (ele, index) {
                $(this).attr("isvalid", "no");
            });
            $('#tr_13').hide();
            $("#tr_13 input,textarea,select , .ui-select, .ui-select-text , .ui-select-option-content").each(function (ele, index) {
                $(this).attr("isvalid", "no");
            });
        }
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../FireManage/ExamineRecord/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                }
            })
        }
        //查看
        if (actiontype == "view") {
            $("#btn_Save").css("display", "none");
            $("#btn_Submit").css("display", "none");
            //$(".center-Panel").removeAttr("style");
            $(".form-button").css("display", "none");
            $("#form1 input,textarea,select , .ui-select, .ui-select-text , .ui-select-option-content").each(function (ele, index) {
                $(this).attr("disabled", "disabled");
            });
        }
    }
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize(keyValue);
        $.SaveForm({
            url: "../../FireManage/ExamineRecord/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                top.Form.window.initControl();
                top.Form.$("#gridTable").trigger("reloadGrid");
            }
        })
    }
</script>
<div style="margin-left: 10px; margin-right: 10px;">
    <div class="tab-content" style="padding-top: 15px;">
        <div id="BaseInfo" class="tab-pane active" style="padding-right: 30px;">
            <div class="center-Panel" id="jbxxDiv">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>&nbsp;&nbsp;基本信息</strong>
                        <span class="tools pull-right">
                            <a class="fa fa-chevron-down" title="展开/收起"></a>
                        </span>
                    </div>
                    <div class="panel-body">
                        <table class="form" id="JbxxFrom">
                            <tr>
                                <td class="formTitle">责任部门<font face="宋体">*</font></td>
                                <td class="formValue">
                                    <input id="DutyDept" type="text" class="form-control" readonly />
                                </td>
                                <td class="formTitle">编号<font face="宋体">*</font></td>
                                <td class="formValue">
                                    <input id="EquipmentCode" type="text" class="form-control" readonly/>
                                </td>
                            </tr>
                            <tr id="tr_0">
                                <td class="formTitle">类型<font face="宋体">*</font></td>
                                <td class="formValue">
                                    <input id="ExtinguisherType" type="text" class="form-control" readonly/>
                                </td>
                                <td class="formTitle">出厂时间<font face="宋体">*</font></td>
                                <td class="formValue">
                                    <input id="LeaveDate" type="text" class="form-control input-wdatepicker" disabled="disabled"  onfocus="WdatePicker({ dateFmt: 'yyyy-MM' })"/>
                                </td>
                            </tr>
                            <tr id="tr_1">
                                <td class="formTitle">规格型号<font face="宋体">*</font></td>
                                <td class="formValue">
                                    <input id="Specifications" type="text" class="form-control" readonly/>
                                </td>
                                <td class="formTitle">下次充装时间<font face="宋体">*</font></td>
                                <td class="formValue">
                                    <input id="NextFillDate" type="text" class="form-control input-wdatepicker" disabled="disabled"  onfocus="WdatePicker({ dateFmt: 'yyyy-MM' })"/>
                                </td>
                            </tr>
                            <tr id="tr_2">
                                <td class="formTitle">枪头数(支)<font face="宋体">*</font></td>
                                <td class="formValue">
                                    <input id="Spearhead" type="text" class="form-control" readonly />
                                <td class="formTitle">水带数(盘)
                                <font face="宋体">*</font></td>
                                <td class="formValue">
                                    <input id="WaterBelt" type="text" class="form-control" readonly />
                                </td>
                            </tr>
                            <tr>
                                <td class="formTitle">配置位置</td>
                                <td class="formValue">
                                    <input id="Location" type="text" class="form-control" readonly/>
                                </td>
                                <td class="formTitle">责任人<font face="宋体">*</font></td>
                                <td class="formValue">
                                    <input id="DutyUser" type="text" class="form-control" readonly/>
                                </td>
                            </tr>
                            <tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="center-Panel">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>&nbsp;&nbsp;检查记录</strong>
                        <span class="tools pull-right">
                            <a class="fa fa-chevron-down" title="展开/收起"></a>
                        </span>
                    </div>
                    <div class="panel-body">
                        <table class="form">
                            <tr>
                                <td class="formTitle">检查人<font face="宋体">*</font></td>
                                <td class="formValue">
                                    <input id="ExaminePersonId" type="hidden" value="@ERCHTMS.Code.OperatorProvider.Provider.Current().UserId" />
                                    <input id="ExaminePerson" type="text" class="form-control" readonly value="@ERCHTMS.Code.OperatorProvider.Provider.Current().UserName" />
                                    <input id="EquipmentId" type="hidden" />
                                </td>
                                <td class="formTitle">检查时间<font face="宋体">*</font></td>
                                <td class="formValue">
                                    <input id="ExamineDate" type="text" class="form-control input-wdatepicker" value="@DateTime.Now.ToString("yyyy-MM-dd")" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" isvalid="yes" checkexpession="NotNull" disabled="disabled" />
                                </td>
                            </tr>
                            <tr id="tr_11">
                                <td class="formTitle"><span id="tSpan">筒体</span></td>
                                <td class="formValue">
                                    <div id="BarrelOrBox" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull">
                                        <ul>
                                            <li data-value="1">合格</li>
                                            <li data-value="0">不合格</li>
                                        </ul>
                                    </div>
                                </td>
                                <td class="formTitle"><span id="ySpan">压力</span></td>
                                <td class="formValue">
                                    <div id="StressOrValve" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull">
                                        <ul>
                                            <li data-value="1">合格</li>
                                            <li data-value="0">不合格</li>
                                        </ul>
                                    </div>
                                    <input id="Weight" type="text" class="form-control" checkexpession="NumNotNull" isvalid="yes" style="display: none;" />
                                </td>
                            </tr>
                            <tr id="tr_12">
                                <td class="formTitle"><span id="pSpan">喷管</span></td>
                                <td class="formValue">
                                    <div id="EffuserOrSpearhead" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull">
                                        <ul>
                                            <li data-value="1">合格</li>
                                            <li data-value="0">不合格</li>
                                        </ul>
                                    </div>
                                </td>
                                <td class="formTitle"><span id="fSpan">封铅</span></td>
                                <td class="formValue">
                                    <div id="SealOrWater" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull">
                                        <ul>
                                            <li data-value="1">合格</li>
                                            <li data-value="0">不合格</li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr id="tr_13">
                                <td class="formTitle">卫生</td>
                                <td class="formValue">
                                    <div id="Sanitation" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull">
                                        <ul>
                                            <li data-value="1">合格</li>
                                            <li data-value="0">不合格</li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr id="tr_14">
                                <td class="formTitle">情况描述</td>
                                <td class="formValue" colspan="3">
                                    <textarea id="Describe" class="form-control" style="height: 120px;"></textarea>
                                </td>
                            </tr>
                            <tr id="tr_15">
                                <td class="formTitle">结果</td>
                                <td class="formValue">
                                    <div id="Verdict" type="select" class="ui-select">
                                        <ul>
                                            <li data-value="1">合格</li>
                                            <li data-value="0">不合格</li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="formTitle">备注</td>
                                <td class="formValue" colspan="3">
                                    <textarea id="Remark" class="form-control" style="height: 120px;" isvalid="yes" checkexpession="LenStrOrNull" length="500"></textarea>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>