@{;
    ViewBag.Title = "列表页面";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<style type="text/css">
    #Content p {
        padding-top: 10px;
    }
</style>
<script src="../scripts/jquery/jquery-1.10.2.min.js"></script>
<script src="../scripts/utils/framework-ui.js"></script>
<script>
    var keyValuePage = "";
    var ehsDeptCode = "@ViewBag.ehsDepartCode";//EHS部门Code
    var userRole = "@ERCHTMS.Code.OperatorProvider.Provider.Current().RoleName"; //当前用户角色
    var deptCode = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptCode";//当前用户所属部门Code
    //var htmlStr = "<p><strong>诚实守信：</strong>诚信经营，信守承诺，忠诚地履行自身承担的义务。</p>< p > <strong>依法合规：</strong>遵守法律法规及行业标准，依法合规经营。</p><p><strong>以人为本：</strong>尊重员工，促使员工全面发展，帮助员工实现自我价值。</p><p><strong>全员参与：</strong>包含相关方的全体员工共同参与公司安全、健康、环保工作。</p><p><strong>风险预控：</strong>致力于控制风险，确保设备系统安全稳定运行，一切作业过程安全可控。</p><p><strong>安全环保：</strong>为员工创造安全的工作条件，实现零意外、零伤害；致力于环境的可持续性发展，保护环境、和谐发展。</p><p><strong>节能高效：</strong>节约资源、清洁生产。</p><p><strong>健康幸福：</strong>身体健康、生活幸福。</p><p><strong>持续发展：</strong>持续不断努力为企业和社会创造一个更加安全、健康、环保的工作环境。</p><p><strong>追求卓越：</strong>精益管理、持续改善、树立标杆。</p>";
    $(function () {
        //InitialPage();
        //GetGrid();
        resize();
        $('#edit').hide();
        if ((deptCode == ehsDeptCode && (userRole.indexOf("专工") >= 0 || userRole.indexOf("负责人") >= 0)) || userRole.indexOf("公司管理员") >= 0) {
            $('#edit').show();
        }
        htmlReplace();
    });
    function resize() {
        $('#pageayout').height($(window).height() - 180);
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#pageayout').height($(window).height() - 180);
            }, 200);
            e.stopPropagation();
        });
    }
    //初始化页面
    function InitialPage() {
        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 108.5);
            }, 200);
            e.stopPropagation();
        });
    }
    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() - 108.5,
            url: "../../ComprehensiveManage/Conceptpolicy/GetListJson",
            datatype: "json",
            colModel: [
            ],
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);
            }
        });
    }
    //新增
    function btn_add() {
        dialogOpen({
            id: 'Form',
            title: '添加理念政策',
            url: '/ComprehensiveManage/Conceptpolicy/Form',
            width: 'px',
            height: 'px',
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
            }
        });
    }
    //编辑
    function btn_edit() {
        var keyValue = keyValuePage;
        //if (checkedRow(keyValue)) {
            dialogOpen({
                id: 'Form',
                title: '编辑理念政策',
                url: '/ComprehensiveManage/Conceptpolicy/Form?keyValue=' + keyValue,
                width: '800px',
                height: '500px',
                callBack: function (iframeId) {
                    top.frames[iframeId].AcceptClick();
                }
            })
        //}
    }
    //删除
    function btn_delete() {
        var keyValue = $('#gridTable').jqGridRowValue('ID');
        if (keyValue) {
            $.RemoveForm({
                url: '../../ComprehensiveManage/Conceptpolicy/RemoveForm',
                param: { keyValue: keyValue },
                success: function (data) {
                    $('#gridTable').trigger('reloadGrid');
                }
            })
        } else {
            dialogMsg('请选择需要删除的理念政策！', 0);
        }
    }
    //刷新界面
    function htmlReplace() {
        //if (!!keyValue) {
            $.ajax({
                url: "../../ComprehensiveManage/Conceptpolicy/GetData",
                data: { keyValue: keyValuePage },
                success: function (data) {
                    if (!!data) {
                        if (data != "null") {
                            var ndata = eval("(" + data + ")");
                            keyValuePage = ndata[0].Id;
                            $("#Content").html(ndata[0].Content);
                        }
                    } else {
                        $("#Content").html(htmlStr);
                    }
                }
            })
        //}
    }
</script>
<div class="titlePanel">
    <div class="toolbar">
        <div class="btn-group">
            <a id="replace" class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>刷新</a>
            @*<a id="add" class="btn btn-default" onclick="btn_add()"><i class="fa fa-plus"></i>新增</a>*@
            <a id="edit" class="btn btn-default" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>编辑</a>
            @*<a id="delete" class="btn btn-default" onclick="btn_delete()"><i class="fa fa-trash-o"></i>删除</a>*@
        </div>
    </div>
</div>
<div class="gridPanel">
    <div id="pageayout" class="border" style="background: #fff; overflow: auto;padding-top:100px;" @*style="background: rgb(255, 255, 255);border: 1px solid rgb(204, 204, 204);width:100%;height:100%"*@>
        <div id="Content" style="margin:0 auto;width:554px;height:600px;">
            请添加理念政策！
        </div>
    </div>
</div>
