@{
    ViewBag.Title = "SpecificToolFroms";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
<script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/common.js"></script>
<!--webUploader文件上传组件-->
<link href="~/content/scripts/plugins/webuploader/webuploader.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/webuploader/webuploader-demo.css" rel="stylesheet" />
<script type="text/javascript" src="~/content/scripts/plugins/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/fileupload.js"></script>
<link rel="stylesheet" href="~/Content/scripts/plugins/combo-select/combo.select.css">
<script src="~/Content/scripts/plugins/combo-select/jquery.combo.select.js"></script>
<script type="text/javascript">

    var keyValue = request('keyValue');
    var isDel = false;

    $(function () {
        $("input").attr("disabled", "disabled")
        $("textarea").attr("disabled", "disabled")
        initPage();
    })

    function initPage()
    {
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../OutsourcingProject/ToolsCheckMain/GetSpecificToolsHistoryForm",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);

                    file_upload.bindFiles(isDel, false, data.REGISTERCARDFILE, "uploader", isDel);
                    file_upload.bindFiles(isDel, false, data.QUALIFIED, "uploader2", isDel);
                    file_upload.bindFiles(isDel, false, data.CHECKREPORTFILE, "uploader3", isDel);
                    file_upload.bindFiles(isDel, false, data.SPECIFICTOOLSFILE, "uploader4", isDel);
                }
            })
        }
    }

</script>
<div style="margin-left: 10px; margin-right: 10px;padding-right:20px">
    <table class="form" style="margin-top:10px;margin-right:10px">
        <tr>
            <td class="formTitle">所在区域<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="AREANAME" type="text" class="form-control" />
            </td>
            <td class="formTitle">设备名称<font face="宋体">*</font></td>
            <td class="formValue" id="tdEqSelect">
                <input id="TOOLSNAME" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" readonly />
            </td>
        </tr>
        <tr>
            <td class="formTitle">所属关系<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="RELATION" type="text" value="外包单位所有" class="form-control" readonly />
            </td>
            <td class="formTitle">设备类别<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="TOOLSTYPE" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" readonly />
            </td>
        </tr>
        <tr>
            <td class="formTitle">外包单位<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="OUTCOMPANYNAME" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" readonly />
            </td>
            <td class="formTitle">外包工程<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="OUTPROJECTNAME" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" readonly />
            </td>
        </tr>
        <tr>
            <td class="formTitle">操作人员</td>
            <td class="formValue">
                <input id="OPERATIONPEOPLE" type="text" class="form-control" />
            </td>
            <td class="formTitle">规格型号<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="TOOLSMODEL" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">安全管理人员<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="SAFEMANAGER" type="text" class="form-control" isvalid="yes" checkexpession="NotNull"  />
            </td>
            <td class="formTitle">联系电话</td>
            <td class="formValue">
                <input id="PHONENUMBER" type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">最近检验日期<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="CHECKDATE" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" isvalid="yes" checkexpession="NotNull"/>
            </td>
            <td class="formTitle">检验周期（天）<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="CHECKDAYS" type="text" class="form-control" isvalid="yes" checkexpession="NotNull"/>
            </td>
        </tr>
        <tr>
            <td class="formTitle">下次检验日期<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="NEXTCHECKDATE" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" disabled="disabled" isvalid="yes" checkexpession="NotNull"/>
            </td>
            <td class="formTitle">出厂编号</td>
            <td class="formValue">
                <input id="TOOLSINITNUMBER" type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">购置时间</td>
            <td class="formValue">
                <input id="TOOLSBUYDATE" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" />
            </td>
            <td class="formTitle">制造单位</td>
            <td class="formValue">
                <input id="TOOLSMADECOMPANY" type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">管控部门</td>
            <td class="formValue">
                <input id="MANAGERDEPT" type="text" class="form-control" readonly />
            </td>
            <td class="formTitle">出厂年月</td>
            <td class="formValue">
                <input id="TOOLSMADEDATE" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">使用登记书编号<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="REGISTERNUMBER" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">使用登记<br />证书</td>
            <td class="formValue" colspan='3'>
                <div id="uploader" class="uploader" style="border: 1px solid #ccc; margin-top: 10px; min-height: 100px; margin-bottom: 10px;">
                    <div class="queueList">
                        <div id="dndArea" class="placeholder">
                            <div class="filePicker" style="margin-left: 25px; margin-top: 10px;"></div>
                        </div>
                    </div>
                    <div class="statusBar" style="display: none;">
                        <div class="progress">
                            <span class="text">0%</span>
                            <span class="percentage"></span>
                        </div>
                        <div class="info"></div>
                    </div>
                </div>
            </td>
        </tr>

        <tr>
            <td class="formTitle">质量合格证明</td>
            <td class="formValue" colspan='3'>
                <div id="uploader2" class="uploader" style="border: 1px solid #ccc; margin-top: 10px; min-height: 100px; margin-bottom: 10px;">
                    <div class="queueList">
                        <div id="dndArea1" class="placeholder">
                            <div class="filePicker" style="margin-left: 25px; margin-top: 10px;"></div>
                        </div>
                    </div>
                    <div class="statusBar" style="display: none;">
                        <div class="progress">
                            <span class="text">0%</span>
                            <span class="percentage"></span>
                        </div>
                        <div class="info"></div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="formTitle">检验报告</td>
            <td class="formValue" colspan='3'>
                <div id="uploader3" class="uploader" style="border: 1px solid #ccc; margin-top: 10px; min-height: 100px; margin-bottom: 10px;">
                    <div class="queueList">
                        <div id="dndArea2" class="placeholder">
                            <div class="filePicker" style="margin-left: 25px; margin-top: 10px;"></div>
                        </div>
                    </div>
                    <div class="statusBar" style="display: none;">
                        <div class="progress">
                            <span class="text">0%</span>
                            <span class="percentage"></span>
                        </div>
                        <div class="info"></div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="formTitle">特种设备档案</td>
            <td class="formValue" colspan='3'>
                <div id="uploader4" class="uploader" style="border: 1px solid #ccc; margin-top: 10px; min-height: 100px; margin-bottom: 10px;">
                    <div class="queueList">
                        <div id="dndArea3" class="placeholder">
                            <div class="filePicker" style="margin-left: 25px; margin-top: 10px;"></div>
                        </div>
                    </div>
                    <div class="statusBar" style="display: none;">
                        <div class="progress">
                            <span class="text">0%</span>
                            <span class="percentage"></span>
                        </div>
                        <div class="info"></div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

