@{
    ViewBag.Title = "特种设备申请/审核";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<script type="text/javascript" src="~/content/scripts/business/common.js"></script>
<!--webUploader文件上传组件-->
<link href="~/content/scripts/plugins/webuploader/webuploader.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/webuploader/webuploader-demo.css" rel="stylesheet" />
<script type="text/javascript" src="~/content/scripts/plugins/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/fileupload.js"></script>
<script>
    var keyValue = request('keyValue');
    var auditId = request('HisAuditId');

    $(function () {
        $("input").attr("disabled", "disabled")
        $("textarea").attr("disabled", "disabled")
        initPage();
        //GetProjectTools();
        GetSpTools();
    })
    function initPage() {
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../OutsourcingProject/ToolsCheckMain/GetHistoryForm",
                param: { keyValue: keyValue, auditId: auditId },
                success: function (data) {
                    $("#form1").formDeserialize(data.histools);
                    LoadAuditList();
                }
            })
        }
        //file_upload.bindFiles(false, false, keyValue, "uploader", false);

    }

    function GetProjectTools() {
        var selectedRowIndex = 0;
        var queryJson = {
            toolsid: keyValue
        }
        var $ProjectToolsTable = $('#toolsTable');
        $ProjectToolsTable.jqGrid({
            autowidth: true,
            height: 300,
            url: "../../OutsourcingProject/ToolsCheckMain/GetHistoryProjectTools",
            postData: { queryJson: JSON.stringify(queryJson) },
            datatype: "json",
            colModel: [{ label: '主键', name: 'id', index: 'id', hidden: true },
                {
                    label: '操作', name: 'oper', width: 100, align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        var html = "<a href=javascript:show('" + rowObject.id + "','3')  title='查看'><i class='fa fa-eye'></i></a>";
                        return html;
                    }
                },
                            { label: '外包单位', name: 'toolsdeptname', index: 'TOOLSDEPTNAME', width: 260, align: 'center' },
                            { label: '设备名称', name: 'toolsname', index: 'TOOLSNAME', width: 200, align: 'center' },
                            { label: '规格型号', name: 'toolstype', index: 'TOOLSTYPE', width: 180, align: 'center' },
                            { label: '购置时间', name: 'toolsbuytime', index: 'TOOLSBUYTIME', width: 150, align: 'center', formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' } },
                            { label: '出厂年月', name: 'toolsinittime', index: 'TOOLSINITTIME', width: 150, align: 'center', formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' } }

            ],
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.projecttoolsid).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.projecttoolsid).setSelection(selectedRowIndex, false);
            },
            viewrecords: true,
            rowNum: 15,
            rowList: [15, 30, 50],
            pager: "#gridPager",
            sortname: 'createdate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true
        });
    }

    //加载表格
    function GetSpTools() {
        var selectedRowIndex = 0;
        var queryJson = {
            toolsid: keyValue
        }
        var $spToolsTable = $('#spToolsTable');
        $spToolsTable.jqGrid({
            autowidth: true,
            height: 300,
            url: "../../OutsourcingProject/ToolsCheckMain/GetHistorySpecificTools",
            postData: { queryJson: JSON.stringify(queryJson) },
            datatype: "json",
            colModel: [{ label: '主键', name: 'specifictoolsid', hidden: true },
                {
                    label: '操作', name: 'oper', width: 120, align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        var html = "<a href=javascript:show('" + rowObject.specifictoolsid + "','4')  title='查看'><i class='fa fa-eye'></i></a>";
                        return html;
                    }
                },
                 { label: '外包单位', name: 'outcompanyname', index: 'outcompanyname', width: 260, align: 'center' },
                 { label: '设备名称', name: 'toolsname', index: 'toolsname', width: 200, align: 'center' },
                 { label: '规格型号', name: 'toolsmodel', index: 'toolsmodel', width: 150, align: 'center' },
                 { label: '购置时间', name: 'toolsbuydate', index: 'toolsbuydate', width: 180, align: 'center', formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' } },
                { label: '最近检验日期', name: 'checkdate', index: 'checkdate', width: 150, align: 'center', formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' } },
                { label: '下次检验日期', name: 'nextcheckdate', index: 'nextcheckdate', width: 350, align: 'center', formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' } }

            ],
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);
            },
            viewrecords: true,
            rowNum: 15,
            rowList: [15, 30, 50],
            pager: "#spToolsgridPager",
            sortname: 'createdate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: true,
            gridview: true
        });
    }
    //查看
    function show(id, type) {
        var url;
        var title;
        if (type == "3") {
            title = "查看施工器具";
            url = "/OutsourcingProject/ToolsCheckMain/HistoryProjectToolFroms?keyValue=";
        } else if (type == "4") {
            title = "查看特种设备";
            url = "/OutsourcingProject/ToolsCheckMain/HistorySpecificToolFroms?keyValue=";
        }
        if (checkedRow(id)) {
            var dlg = dialogOpen({
                id: "Form1",
                title: title,
                url: url + id,
                width: "800px",
                height: ($(top.window).height() - 150) + "px",
                btn: ["关闭"],
                callBack: function (iframeId) {
                    top.layer.close(dlg);
                }
            });
        }
    }

    function LoadAuditList() {
        var queryJson = {
            aptitudeid: keyValue
        };
        var selectedRowIndex = 0;
        var $gridTable = $('#gridAudit');
        $gridTable.jqGrid({
            autowidth: true,
            height: "200px",
            url: "../../OutsourcingProject/ToolsCheckMain/GetPageListJson",
            postData: { queryJson: JSON.stringify(queryJson) },
            datatype: "json",
            colModel: [
                { label: 'auditid', name: 'auditid', hidden: true },
                {
                    label: '审核部门', name: 'auditdept', width: 250, align: 'center', sortable: false,
                },
                {
                    label: '审核人', name: 'auditpeople', width: 150, align: 'center', sortable: false,
                },
               
                {
                    label: '审核结果', name: 'auditresult', width: 120, align: 'center',sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == "0") {
                            cellvalue = "合格";
                        } else if (cellvalue == "1") {
                            cellvalue = "不合格";
                        }

                        else {
                            cellvalue = "待审核";
                        }
                        return cellvalue;
                    }
                },
            {
                label: '审核意见', name: 'auditopinion', width: 220, align: 'center', sortable: false,
            }, {
                label: '审核时间', name: 'audittime', width: 100, align: 'center', formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }, sortable: false,
            },
             {
                 label: '审核附件', name: 'auditfile', width: 100, align: 'center', sortable: false,
                 formatter: function (cellvalue, options, rowObject) {
                     return loadFile(cellvalue);
                 }
             }
            ],
            viewrecords: true,
            rowNum: 10,
            multiboxonly: false,
            multiselect: false,
            pager: "#AuditPager",
            sortname: 'audittime',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.auditid).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.auditid).setSelection(selectedRowIndex, false);
            }
        });
    }

    //加载附件
    function loadFile(cellvalue) {
        $.ajax({
            url: '../../OutsourcingProject/ToolsCheckMain/GetFiles',
            data: { fileId: cellvalue },
            dataType: "JSON",
            async: false,
            success: function (result) {
                if (result == "" || result == undefined || result == null) {
                    cellvalue = "&nbsp;&nbsp;无";
                }
                else {
                    cellvalue = "<a href=javascript:GetFile('" + cellvalue + "') style='color:blue; text-decoration:underline'  title='查看文件'>有</a>";
                }
            }
        });
        return cellvalue;
    }


    //查看附件
    function GetFile(keyValue) {
        $("#modalBody").html("");
        var html = '<div id="uploader" class="uploader" style="border:1px solid #ccc; margin-top:10px; min-height:200px; margin-bottom:10px;"><div class="queueList">';
        html += '<div id="dndArea1" class="placeholder">';
        html += '<div class="filePicker" style="margin-left:25px; margin-top:10px;"></div></div></div>';
        html += '<div class="statusBar" style="display:none;">';
        html += ' <div class="progress">';
        html += '<span class="text">0%</span>';
        html += '<span class="percentage"></span>';
        html += '</div>';
        html += '<div class="info"></div>';
        html += '</div>';
        html += '</div>';
        $("#modalBody").append(html);

        //绑定附件
        file_upload.bindFiles(false, false, keyValue, "uploader", false);
        $("#MaintainingRecordFile").modal('show');

    }
</script>

<div class="center-Panel">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;设备验收申请信息</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起" style="cursor: default"></a>
            </span>
        </div>
        <div class="panel-body">
            <ul class="nav nav-tabs">
                <li style="display:none;"><a href="#projectTools" id="tab1" data-toggle="tab">施工器具</a></li>
                <li class="active"><a href="#spTools" id="tab2" data-toggle="tab">特种设备</a></li>
            </ul>

            <div class="tab-content">
                <div id="projectTools" class="tab-pane" style="display:none;">
                    <div class="center-Panel">
                        <div style="margin-top: 10px; margin-bottom: 10px">
                            @*  <a id="importTools" class="btn btn-default" onclick="ImportTools()" style="margin-left: 5px"><i class="fa fa-exclamation-circle"></i>&nbsp;导入</a>
                            <a id="projectToolsadd" class="btn btn-default" onclick="addProjectTools()"><i class="fa fa-plus"></i>&nbsp;新增</a>*@
                        </div>
                        <div class="gridPanel">
                            <table id="toolsTable"></table>
                            <div id="gridPager"></div>
                        </div>
                    </div>
                </div>
                <div id="spTools" class="tab-pane active">
                    <div class="center-Panel">
                        <div style="margin-top: 10px; margin-bottom: 10px">
                            @*<a class="btn btn-default" style="margin-left:5px"><i class="fa fa-exclamation-circle"></i>&nbsp;导入</a>*@
                            @*  <a id="spToolsadd" class="btn btn-default" onclick="addSpecificTools()"><i class="fa fa-plus"></i>&nbsp;新增</a>*@
                        </div>
                        <div class="gridPanel">
                            <table id="spToolsTable"></table>
                            <div id="spToolsgridPager"></div>
                        </div>
                    </div>
                </div>

            </div>

            <table id="form2" class="form" style="margin-top: 10px">
                <tr>
                    <td class="formTitle">申请时间<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="APPLYTIME" value="@DateTime.Now" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" readonly />
                    </td>
                    <td class="formTitle">申请人<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="APPLYPEOPEL" value="@ERCHTMS.Code.OperatorProvider.Provider.Current().UserName" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" readonly />
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;审核信息</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起" style="cursor: default"></a>
            </span>
        </div>
        <div class="panel-body">
            <div id="AuditDiv" class="gridPanel">
                <table id="gridAudit"></table>
                <div id="AuditPager"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="MaintainingRecordFile">
    <div class="modal-dialog" style="width: 600px;">
        <div class="modal-content" style="text-align: center;">
            <div class="modal-header">
                <h5>查看审核附件</h5>
            </div>
            <div class="modal-body" id="modalBody">
            </div>
            <div class="modal-footer">
                <button id="btnModal" type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
