@{
    ViewBag.Title = "ProjectToolFroms";
    Layout = "~/Views/Shared/_Form.cshtml";
}


<!--webUploader文件上传组件-->
<link href="~/content/scripts/plugins/webuploader/webuploader.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/webuploader/webuploader-demo.css" rel="stylesheet" />
<script type="text/javascript" src="~/content/scripts/plugins/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/fileupload.js"></script>
<script type="text/javascript" src="~/Content/scripts/business/common.js"></script>

<script type="text/javascript">

    var keyValue = request('keyValue');

    $(function () {
        $("input").attr("disabled", "disabled")
        $("textarea").attr("disabled", "disabled")
        //加载工器具设备分类
        ComBoxForData("TOOLTYPE", "ToolEquipmentType");
        initPage();
    })

    function initPage()
    {
        //加载工器具设备分类
        ComBoxForData("TOOLTYPE", "ToolEquipmentType");
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../OutsourcingProject/ToolsCheckMain/GetProToolsHistoryForm",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                }
            })
        }
        file_upload.bindFiles(false, false, keyValue, "uploader", false);
    }



</script>
<div style="margin-left: 10px; margin-right: 10px;padding-right:20px">
    <table id="form1" class="form" style="margin-top:10px;margin-right:10px">
        <tr>
            <td class="formTitle">设备名称<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="TOOLSID" type="hidden" />
                <input id="TOOLSNAME" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </td>
            <td class="formTitle">设备分类<font face="宋体">*</font></td>
            <td class="formValue">
                <div id="TOOLTYPE" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
                @*<input id="TOOLTYPE" type="text" readonly="readonly" class="form-control" isvalid="yes" checkexpession="NotNull" />*@
            </td>
        </tr>
        <tr>
            <td class="formTitle">所属单位<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="TOOLSDEPTID" type="hidden" />
                <input id="TOOLSDEPTNAME" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" readonly />
            </td>
            <td class="formTitle">规格型号<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="TOOLSTYPE" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">数&nbsp;&nbsp;量<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="TOOLSCOUNT" type="text" class="form-control" isvalid="yes" checkexpession="PositiveNum" />
            </td>
            <td class="formTitle">购置时间</td>
            <td class="formValue">
                <input id="TOOLSBUYTIME" value="@DateTime.Now.ToString("yyyy-MM-dd ")" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">出厂年月</td>
            <td class="formValue">
                <input id="TOOLSINITTIME" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" />
            </td>
            <td class="formTitle">出厂编号</td>
            <td class="formValue">
                <input id="TOOLSINITNUMBER" type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">制造单位</td>
            <td class="formValue">
                <input id="TOOLSMADECOMPANY" type="text" class="form-control" />
            </td>
            <td class="formTitle">最近检验日期</td>
            <td class="formValue">
                <input id="TOOLSCHECKDATE" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" onblur="setDate()" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">检验周期（天）</td>
            <td class="formValue">
                <input id="CHECKDAYS" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" onblur="setDate()" />
            </td>
            <td class="formTitle">下次检验日期</td>
            <td class="formValue">
                <input id="NEXTCHECKDATE" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" disabled="disabled" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">备注</td>
            <td class="formValue" colspan="3">
                <textarea class="form-control" disabled="disabled" id="REMARK"></textarea>
            </td>
        </tr>
        <tr>
            <td class="formTitle">机具设备<br />档案</td>
            <td class="formValue" colspan='3'>
                <input id="FilesId" type="text" hidden="hidden" />
                <div id="uploader" class="uploader" style="border: 1px solid #ccc; margin-top: 10px; min-height: 100px; margin-bottom: 10px;">
                    <div class="queueList">
                        <div id="dndArea" class="placeholder">
                            <div class="filePicker" style="margin-left: 25px; margin-top: 10px;"></div>
                        </div>
                    </div>
                    <div class="statusBar" style="display: none;">
                        <div class="progress">
                            <span class="text">0%</span>
                            <span class="percentage"></span>
                        </div>
                        <div class="info"></div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>