@{;
ViewBag.Title = "列表页面";
Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    var toolsid = request('toolsid');

    $(function () {
        InitialPage();
        GetGrid();
    });
    //初始化页面
    function InitialPage() {
        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 170);
            }, 200);
            e.stopPropagation();
        });
    }
    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        var queryJson = {
            toolsid: toolsid
        }
        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() - 170,
            url: "../../OutsourcingProject/ToolsCheckMain/GetToolsHistoryPageList",
            postData: { queryJson: JSON.stringify(queryJson) },
            datatype: "json",
            colModel: [
                { label: 'id', name: 'id', index: 'id', width: 100, align: 'center', sortable: false, hidden: true },
                {
                    label: '操作', name: 'oper', width: 80, align: 'center', sortable: false, formatter: function (cellvalue, options, rowObject) {
                        var html = "<a href=javascript:f_ShowHistory('" + rowObject.id + "','" + rowObject.auditid + "')  title='查看'><i class='fa fa-eye'></i></a>";
                        return html;
                    }
                },
                { label: '申请人', name: 'applypeopel', index: 'createusername', width: 120, align: 'center', sortable: false },
                { label: '申请时间', name: 'applytime', index: 'createdate', width: 120, align: 'center', sortable: true, formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' } },
                { label: '审核人', name: 'auditpeople', index: 'auditpeople', width: 120, align: 'center', sortable: false },
                { label: '审核结果', name: 'auditresult', index: 'auditresult', width: 150, align: 'center', sortable: false }
            ],

            viewrecords: true,
            rowNum: 30,
            rowList: [30, 50, 100],
            pager: "#gridPager",
            sortname: 'createdate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);
            }
        });
    }
    function f_ShowHistory(Id, auditId) {
        var dlg = dialogOpen({
            id: 'HistoryForm',
            title: '查看历史记录',
            url: '/OutsourcingProject/ToolsCheckMain/HistoryToolsFromsSp?keyValue=' + Id + '&HisAuditId=' + auditId,
            width: ($(top.window).width() - 200) + "px",
            height: ($(top.window).height() - 200) + "px",
            btn: ["关闭"],
            callBack: function (iframeId) {
                top.layer.close(dlg);
            }
        });
    }
</script>

<div class="gridPanel">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>