@{
    ViewBag.Title = "工具器设备验收";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>
<script src="~/Content/scripts/plugins/dialog/mobile/layer.js"></script>
<script>
    var roleNames = "@ERCHTMS.Code.OperatorProvider.Provider.Current().RoleName";//当前用户角色
    var UserId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().UserId";//当前用户id
    var DeptId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptId";//当前用户部门id
    var indexState = request('indexState');//首页代办
    var projectid = request('projectid');//工程管理流程图跳转

    $(function () {
        OutConfigAjax(roleNames);
        InitialPage();
        GetGrid();
    });
    //初始化页面
    function InitialPage() {
        //if (roleNames.indexOf("承包商") >= 0 && roleNames.indexOf("负责人") >= 0) {
        //    $("#add").css("display", "");
        //}
        $('#layout').layout({
            applyDemoStyles: true,
            onresize: function () {
                $(window).resize();
            }
        });

        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 170);
            }, 200);
            e.stopPropagation();
        });
        //查询条件
        $("#queryCondition .dropdown-menu li").click(function () {
            var text = $(this).find('a').html();
            var value = $(this).find('a').attr('data-value');
            $("#queryCondition .dropdown-text").html(text).attr('data-value', value)
        });
    }
    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() - 170,
            url: top.contentPath + "/OutsourcingProject/ToolsCheckMain/GetToolsCheckPageListJson",
            datatype: "json",
            postData: { queryJson: JSON.stringify({ equiptype: "1", indexState: indexState, projectid: projectid }) },
            colModel: [
                { label: '主键', name: 'id', hidden: true },
                {
                    label: '操作', name: 'oper', width: 100, align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        var html = "<a href=javascript:btn_view('" + rowObject.toolsid + "')  title='查看'><i class='fa fa-eye'></i></a>";

                        //当issaved为0,则为登记状态，可以编辑，反之则无法编辑
                        if (UserId == rowObject.createuserid && rowObject.issaved == "0") {
                            html += "<a href=javascript:btn_edit('" + rowObject.toolsid + "')  title='修改'><i class='fa fa-pencil-square-o'></i></a>&nbsp;";
                            html += "<a href=javascript:btn_delete('" + rowObject.toolsid + "')  title='删除'><i class='fa fa-trash-o'></i></a>&nbsp;";
                        }
                        if (rowObject.isover == '0' && rowObject.issaved == '1') {
                            if (rowObject.approveuserids.indexOf(UserId + ",") >= 0) {
                                html += "<a href=javascript:btn_aduit('" + rowObject.toolsid + "')  title='审核'><i class='fa fa-check'></i></a>";
                            }
                        }
                        return html;
                    }
                },
                 {
                     label: '流程状态', name: 'isover', index: 'isover', width: 180, align: 'center', sortable: true, formatter: function (cellvalue, options, rowObject) {
                         var content = "申请中";
                         var isover = rowObject.isover;
                         if (rowObject.issaved == "1") {
                             if (isover == "1") {
                                 content = "审核（批）通过";
                             } else {
                                 content = "审核（批）中";
                             }
                         }
                         return '<a style="text-decoration:underline;color:blue"  href="javascript:btn_viewflow(\'' + rowObject.toolsid + '\',\'4\')">' + content + '</a>';
                     }
                 },
                { label: 'TOOLSID', name: 'toolsid', index: 'TOOLSID', width: 80, align: 'center', sortable: false, hidden: true },
                { label: 'OUTPROJECTID', name: 'outprojectid', index: 'OUTPROJECTID', width: 80, align: 'center', sortable: false, hidden: true },
                { label: 'OUTENGINEERID', name: 'outengineerid', index: 'TOOLSID', width: 80, align: 'center', sortable: false, hidden: true },
                { label: '外包工程', name: 'engineername', index: 'ENGINEERNAME', width: 300, align: 'center', sortable: false },
                { label: '外包单位', name: 'fullname', index: 'OUTSOURCINGNAME', width: 300, align: 'center', sortable: false },
                { label: '工程类型', name: 'engineertype', index: 'engineertype', width: 150, align: 'center', sortable: true },
                { label: '工程风险等级', name: 'engineerlevel', index: 'engineerlevel', width: 150, align: 'center', sortable: true },
                { label: '所属区域', name: 'districtname', index: 'districtname', width: 180, align: 'center', sortable: true },
                { label: '责任部门', name: 'engineerletdept', index: 'engineerletdept', width: 220, align: 'center' },
                { label: '申请时间', name: 'applytime', index: 'APPLYTIME', width: 120, align: 'center', sortable: false },
                { label: '申请人', name: 'applypeopel', index: 'APPLYPEOPEL', width: 120, align: 'center', sortable: false }
                //{ label: '审核部门', name: 'flowdeptname', index: 'flowdeptname', width: 150, align: 'center', sortable: true },
                //{ label: '审核状态', name: 'flowname', index: 'flowname', width: 120, align: 'center', sortable: true },
            ],
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.toolsid).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.toolsid).setSelection(selectedRowIndex, false);
            },
            viewrecords: true,
            rowNum: 15,
            rowList: [15, 30, 50],
            pager: "#gridPager",
            sortname: 'createdate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: true,
            gridview: true

        });
        //查询事件
        $("#btn_Search").click(function () {
            var StartTime = $("#sTime").val();
            var EndTime = $("#eTime").val();
            if (new Date(StartTime.replace("-", "/").replace("-", "/")) > new Date(EndTime.replace("-", "/").replace("-", "/"))) {
                alert("开始时间不可大于结束时间！");
                return;
            }
            var queryJson = {
                sTime: StartTime,
                eTime: EndTime,
                condition: $("#queryCondition").find('.dropdown-text').attr('data-value'),
                equiptype: "1",
                txtSearch: $("#txt_Keyword").val(), indexState: indexState,
                projectid: projectid
            }
            $gridTable.jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify(queryJson) }, page: 1
            }).trigger('reloadGrid');
        });
    }
    //流程图
    function btn_viewflow(id, urltype) {
        if (id) {
            var title = "安全/电动工器具验收审核流程图";
            var rqUrl = "/OutsourcingProject/ToolsCheckMain/Flow?keyValue=" + id;
            dialogOpen({
                id: 'FlowForm',
                title: title,
                url: rqUrl,
                width: ($(top.window).width() - 200) + "px",
                height: ($(top.window).height() - 50) + "px",
                btn: null
            });
        } else {
            dialogMsg('请选择查看行！', 0);
        }
    }
    //新增
    function add() {
        dialogOpen({
            id: 'Form',
            title: '新增安全/电动工器具验收',
            url: '/OutsourcingProject/ToolsCheckMain/ToolCheckFroms?actiontype=add',
            width: ($(top.window).width() - 200) + "px",
            height: ($(top.window).height() - 150) + "px",
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
            },
            btn: null
        });
    }

    //编辑
    function btn_edit(id) {
        var keyValue = id;
        if (checkedRow(keyValue)) {
            dialogOpen({
                id: 'Form',
                title: '编辑安全/电动工器具验收',
                url: '/OutsourcingProject/ToolsCheckMain/ToolCheckFroms?keyValue=' + keyValue + "&actiontype=edit",
                width: ($(top.window).width() - 200) + "px",
                height: ($(top.window).height() - 150) + "px",
                callBack: function (iframeId) {
                    top.frames[iframeId].AcceptClick();
                },
                btn: null
            })
        }
    }

    //查看
    function btn_view(id) {
        var keyValue = id;
        if (checkedRow(keyValue)) {
            var dlg = dialogOpen({
                id: "Form",
                title: '查看安全/电动工器具验收',
                url: '/OutsourcingProject/ToolsCheckMain/ToolCheckFroms?keyValue=' + keyValue + '&actiontype=view',
                width: ($(top.window).width() - 200) + "px",
                height: ($(top.window).height() - 150) + "px",
                btn: ["关闭"],
                callBack: function (iframeId) {
                    top.layer.close(dlg);
                }
            });
        }
    }
    //删除
    function btn_delete(id) {
        var keyValue = id;
        if (keyValue) {
            $.RemoveForm({
                url: '../OutsourcingProject/ToolsCheckMain/RemoveForm',
                param: { keyValue: keyValue },
                success: function (data) {
                    $('#gridTable').trigger('reloadGrid');
                }
            })
        } else {
            dialogMsg('请选择需要删除的设备工器具！', 0);
        }
    }

    //审核设备工器具验收
    function btn_aduit(id) {
        var keyValue = id;
        if (checkedRow(keyValue)) {
            dialogOpen({
                id: 'PeopleForm',
                title: '审核安全/电动工器具验收',
                url: '/OutsourcingProject/ToolsCheckMain/ToolCheckFroms?keyValue=' + keyValue + "&actiontype=audit",
                width: ($(top.window).width() - 200) + "px",
                height: ($(top.window).height() - 150) + "px",
                btn: ["审核", "关闭"],
                callBack: function (iframeId) {
                    top.frames[iframeId].AcceptAudit();
                }
            })
        }
    }
</script>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-center">
        <div class="center-Panel" style="margin-left: 10px; margin-right: 10px;">
            <div class="panel-Title">安全/电动工器具验收</div>
            <div class="titlePanel">
                <div class="title-search">
                    <table>
                        <tr>
                            <td>
                                申请时间：
                            </td>
                            <td>
                                <input id="sTime" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
                            </td>
                            <td style="padding-left:5px;">至</td>
                            <td style="padding-left:5px;">
                                <input id="eTime" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
                            </td>
                            <td style="padding-left:20px;">
                                <div id="queryCondition" class="btn-group">
                                    <a class="btn btn-default dropdown-text" data-toggle="dropdown">选择条件</a>
                                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a data-value="ENGINEERNAME">外包工程名称</a></li>
                                        <li><a data-value="fullname">外包单位名称</a></li>
                                    </ul>
                                </div>
                            </td>
                            <td>
                                <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询的外包工程" style="width: 200px;" />
                            </td>
                            <td style="padding-left: 5px;">
                                <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>查询</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="toolbar">
                    <div class="btn-group">
                        <a class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>刷新</a>
                        <a id="add" class="btn btn-default" onclick="add()"><i class="fa fa-plus"></i>新增</a>
                    </div>
                    <script>$('.toolbar').authorizeButton()</script>
                </div>
            </div>
            <div class="gridPanel">
                <table id="gridTable"></table>
                <div id="gridPager"></div>
            </div>
        </div>
    </div>
</div>
            
