@{
    ViewBag.Title = "ProjectToolFroms";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
<script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/common.js"></script>
<!--webUploader文件上传组件-->
<link href="~/content/scripts/plugins/webuploader/webuploader.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/webuploader/webuploader-demo.css" rel="stylesheet" />
<script type="text/javascript" src="~/content/scripts/plugins/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/fileupload.js"></script>

<script type="text/javascript">
    var DeptId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptId";//当前用户部门ID
    var DeptName = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptName";//当前用部门
    var toolsId = request('toolsId');//工器具主表ID
    var keyValue = request('keyValue');
    var actiontype = request('actiontype');
    var outengineerid = request("outengineerid");//外包单位id
    
    $(function () {
        initPage();
    })

    function initPage()
    {
        //$("#TOOLSDEPTID").val(DeptId);
        //$("#TOOLSDEPTNAME").val(DeptName);
        $("#TOOLSID").val(toolsId);
        //加载工器具设备分类
        ComBoxForData("TOOLTYPE", "ToolEquipmentType");

        loadDeptData();

        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../OutsourcingProject/ToolsCheckMain/GetProjectToolsFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                }
            })
        }
        keyValue = keyValue.length == 0 ? "@Guid.NewGuid().ToString()" : keyValue;
        file_upload.init({
            keyValue: keyValue, fileNumLimit: 1, extensions: 'pdf,doc,docx,zip,rar', isImage: false
        });
        var isDel = actiontype == "view" ? false : true;
        file_upload.bindFiles(isDel, false, keyValue, "uploader", isDel);
    }



    //根据外包单位id获取外包单位信息
    function loadDeptData() {
        $.ajax({
            url: '../../OutsourcingProject/ToolsCheckMain/GetOutDeptData',
            data: { outengineerid: outengineerid },
            dataType: "JSON",
            async: false,
            success: function (result) {
                if (!!result) {
                    //外包单位名称,外包单位id,外包单位名称,外包单位code
                    $("#TOOLSDEPTID").val(result[1]);
                    $("#TOOLSDEPTNAME").val(result[2]);
                }
            }
        });
    }

    //保存表单
    function AcceptClick()
    {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize();
        $.SaveForm({
            url: "../../OutsourcingProject/ToolsCheckMain/SaveProjectToolsForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                top.Form.$("#toolsTable").trigger("reloadGrid");
            } 
        });
    }

    function setDate() {
        var CheckDate = $("#TOOLSCHECKDATE").val();
        var CheckDateCycle = $("#CHECKDAYS").val();
        if(!CheckDateCycle){}
        else if (!(/(^[1-9]\d*$)/.test(CheckDateCycle))) {
            dialogMsg('检验周期请输入整数！', 0);
            $("#CHECKDAYS").val("");
        } else {
            if (CheckDate != null && CheckDate.length > 0 && CheckDate.indexOf("-") > 0) {
                var date = new Date(CheckDate.replace(/-/g, "/"));
                date.setDate(date.getDate() + parseInt(CheckDateCycle));
                var retime = date.getFullYear() + "-" + ("00" + (date.getMonth() + 1).toString()).substr(("00" + (date.getMonth() + 1).toString()).length - 2, 2) + "-" + ("00" + date.getDate().toString()).substr(("00" + date.getDate().toString()).length - 2, 2);
                $("#NEXTCHECKDATE").val(retime);
            }
        }

    }
</script>
<div style="margin-left: 10px; margin-right: 10px;padding-right:20px">
    <table id="form1" class="form" style="margin-top:10px;margin-right:10px">
        <tr>
            <td class="formTitle">设备名称<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="TOOLSID" type="hidden" />
                <input id="TOOLSNAME" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </td>
            <td class="formTitle">设备分类<font face="宋体">*</font></td>
            <td class="formValue">
                <div id="TOOLTYPE" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
            </td>
        </tr>
        <tr>
            <td class="formTitle">所属单位<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="TOOLSDEPTID" type="hidden" />
                <input id="TOOLSDEPTNAME" type="text"  class="form-control" isvalid="yes" checkexpession="NotNull" readonly/>
            </td>
            <td class="formTitle">规格型号<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="TOOLSTYPE" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">数&nbsp;&nbsp;量<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="TOOLSCOUNT" type="text" class="form-control" isvalid="yes" checkexpession="PositiveNum" />
            </td>
            <td class="formTitle">购置时间</td>
            <td class="formValue">
                <input id="TOOLSBUYTIME" value="@DateTime.Now.ToString("yyyy-MM-dd ")" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">出厂年月</td>
            <td class="formValue">
                <input id="TOOLSINITTIME" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" />
            </td>
            <td class="formTitle">出厂编号</td>
            <td class="formValue">
                <input id="TOOLSINITNUMBER" type="text" class="form-control"  />
            </td>
        </tr>
        <tr>
            <td class="formTitle">制造单位</td>
            <td class="formValue">
                <input id="TOOLSMADECOMPANY" type="text" class="form-control" />
            </td>
            <td class="formTitle">最近检验日期</td>
            <td class="formValue">
                <input id="TOOLSCHECKDATE" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" onblur="setDate()" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">检验周期（天）</td>
            <td class="formValue">
                <input id="CHECKDAYS" type="text" class="form-control" onblur="setDate()" />
            </td>
            <td class="formTitle">下次检验日期</td>
            <td class="formValue">
                <input id="NEXTCHECKDATE" type="text" class="form-control" disabled="disabled" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">备注</td>
            <td class="formValue" colspan="3">
                <textarea class="form-control" id="REMARK"></textarea>
            </td>
        </tr>
        <tr>
            <td class="formTitle">机具设备<br />档案</td>
            <td class="formValue" colspan='3'>
                <input id="FilesId" type="text" hidden="hidden" />
                <div id="uploader" class="uploader" style="border: 1px solid #ccc; margin-top: 10px; min-height: 100px; margin-bottom: 10px;">
                    <div class="queueList">
                        <div id="dndArea" class="placeholder">
                            <div class="filePicker" style="margin-left: 25px; margin-top: 10px;"></div>
                        </div>
                    </div>
                    <div class="statusBar" style="display: none;">
                        <div class="progress">
                            <span class="text">0%</span>
                            <span class="percentage"></span>
                        </div>
                        <div class="info"></div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>