@{;
    ViewBag.Title = "列表页面";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script>        ;
    var standardtype = request("standardtype");
    var enCode = "";
    var parentId = "";
    var catoryname = "";
    var ids = "";
    var titlecontent = "";
    $(function () {
        InitialPage();
        GetTree();
    });
    //初始化页面
    function InitialPage() {
        //resize重设布局;
        $('#layout').layout({
            applyDemoStyles: false,
            onresize: function () {
                $(window).resize()
            }
        });

        $("#itemTree").height($(window).height() - 45);
        $("#itemTree").height(800);
    }
    //加载树
    function GetTree() {
        var arr = [];
        //if (top.currUserRoleName.indexOf("精益管理岗特定人员") >= 0) {
            arr = [
                {
                    title: "新增",
                    text: '<i class="fa fa-file-text-o"  name="toolbtn"></i>', callback: "add"
                },
            {
                title: "修改",
                text: '<i class="fa fa-pencil-square-o toolbtn" name="toolbtn"></i>', callback: "edit"

            },
            {
                title: "删除",
                text: '<i class="fa fa-trash-o toolbtn" name="toolbtn"></i>', callback: "del"

            }];
        //}
        //加载组织机构树
        var item = {
            height: $(window).height() - 60,
            url: "../../StandardSystem/ElementManager/GetElementTreeJson",
            onnodeclick: function (item) {
                //enCode = item.Code.split('|')[0];
                //if (enCode == "00") enCode = "0";
                //parentId = item.id;
                //catoryname = item.text;
                //$("#btn_Search").click();
                //$("#add").css("display", "");
                //$("#export").css("display", "");
            }
            , isTool: true
            //自定义工具栏
            , nodeTools: arr
        };
        //初始化分类树
        dtree = $("#itemTree").treeview(item);
        $($("#itemTree").find("div[unselectable='on']").eq(0)).find("span[title='删除']").remove();
        $($("#itemTree").find("div[unselectable='on']").eq(0)).find("span[title='修改']").remove();
    }

    //新增标准
    function add(id, code, name) {
        dialogOpen({
            id: "win",
            title: "新增相应元素",
            url: '/StandardSystem/ElementManager/Form?keyValue=&parentId=' + id + "&code=" + code + "&parentName=" + name,
            width: "600px",
            height: "300px",
            callBack: function (iframeId) {
                top.document.getElementById(iframeId).contentWindow.AcceptClick();
            }
        });

    };
    //编辑
    function edit(id, code, name) {
        var idx = dialogOpen({
            id: "win0",
            title: "修改相应元素",
            url: '/StandardSystem/ElementManager/Form?keyValue=' + id + "&parentName=" + name,
            width: "600px",
            height: "300px",
            callBack: function (iframeId) {
                top.document.getElementById(iframeId).contentWindow.AcceptClick();
                //$.currentIframe().window.$("#gridTable").trigger('reloadGrid');
            }
        });

    }
    //删除标准
    function del(id) {
        var keyValue = id;
        if (keyValue) {
            $.RemoveForm({
                url: "../../StandardSystem/ElementManager/RemoveForm",
                param: { keyValue: keyValue },
                msg: "确定删除吗?相关联的数据将同步删除，无法恢复！",
                success: function (data) {
                    GetTree();
                    //$('#gridTable').jqGrid('setGridParam', {
                    //    postData: { queryJson: JSON.stringify({ keyWord: $("#txtKeyword").val(), enCode: enCode }) }, page: 1
                    //}).trigger('reloadGrid');
                }
            })
        } else {
            dialogMsg('请选择需要删除的数据！', 0);
        }
    }
</script>

<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-west">
        <div class="west-Panel">
            <div class="panel-Title">
                <div class="col-md-10">
                    相应元素结构
                </div>
            </div>
            <div id="itemTree"></div>
        </div>
    </div>
    <div class="ui-layout-center">
        <div class="center-Panel" style="margin-left: 10px;">
            @*<div class="titlePanel">
                <div class="title-search">
                    <table>
                        <tr>
                            <td style="padding-left:10px">
                                岗位:
                            </td>
                            <td style="padding-left: 4px;">
                                <input id="txt_station" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;" />
                            </td>
                            <td style="padding-left:10px">
                                文件名称:
                            </td>
                            <td style="padding-left: 4px;">
                                <input id="txt_filename" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;" />
                            </td>
                            <td style="padding-left: 5px;">
                                <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;查询</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="toolbar">
                    <div class="btn-group">
                        <a id="replace" class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>刷新</a>
                        <a id="add" class="btn btn-default" onclick="btn_add()"><i class="fa fa-plus"></i>新增</a>
                        <a id="enter" class="btn btn-default" onclick="importData()"><i class="fa fa-exclamation-circle"></i>导入</a>
                        <a id="export" class="btn btn-default" onclick="exportResult()"><i class="fa fa-download"></i>导出</a>
                        <a id="store" class="btn btn-default" onclick="storeData()"><i class="fa fa-drupal"></i>收藏</a>
                        <a id="mystore" class="btn btn-default" onclick="mystoreData()"><i class="fa fa-shopping-basket"></i>我的收藏</a>
                    </div>
                    <script>$('.toolbar').authorizeButton()</script>
                </div>
            </div>
            <div class="gridPanel">
                <table id="gridTable"></table>
                <div id="gridPager"></div>
            </div>*@
        </div>
    </div>
</div>
