@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
<script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/common.js"></script>
<!--webUploader文件上传组件-->
<link href="~/content/scripts/plugins/webuploader/webuploader.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/webuploader/webuploader-demo.css" rel="stylesheet" />
<script type="text/javascript" src="~/content/scripts/plugins/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/fileupload.js"></script>
<script type="text/javascript">
    var pdbz = request('pdbz');

    $(function () {
        $("#tlaqsg").hide();
        $("#tqtsg").hide();
        if (pdbz == "dlaqsg") {
            $("#tlaqsg").show();
        }
        else {
            $.ajax({
                url: top.contentPath + '/Desktop/IsGeneric',
                type: "GET",
                async: false,
                dataType: "text",
                success: function (result) {
                    if (result == "true") {
                        $("#bt").html("&nbsp;&nbsp;事故等级划分标准");

                    } else {
                        $("#bt").html("&nbsp;&nbsp;电力人身伤亡事故、设备事故等级划分标准");
                    }
                }
            });
            $("#tqtsg").show();
        }
    });

</script>

<body>
<div style="margin-top: 20px; margin-right: 30px;">
    <div class="panel panel-default" id="tqtsg">
        <div class="panel-heading">
            <strong id="bt"></strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
                <input id="ID" type="hidden" class="form-control"/>
            </span>
        </div>
        <div class="panel-body">

            <table class="form">
                <tr>
                    <td>
                        （一）特别重大事故，是指造成30人以上死亡，或者100人以上重伤（包括急性工业中毒，下同），或者1亿元以上直接经济损失的事故；
                        <br/>
                        （二）重大事故，是指造成10人以上30人以下死亡，或者50人以上100人以下重伤，或者5000万元以上1亿元以下直接经济损失的事故；
                        <br/>
                        （三）较大事故，是指造成3人以上10人以下死亡，或者10人以上50人以下重伤，或者1000万元以上5000万元以下直接经济损失的事故；
                        <br/>
                        （四）一般事故，是指造成3人以下死亡，或者10人以下重伤，或者1000万元以下直接经济损失的事故。
                        <br/>
                        注：“以上”包括本数，“以下”不包括本数。



                    </td>
                </tr>
            </table>

        </div>
    </div>

    <div class="panel panel-default" id="tlaqsg">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;电力安全事故等级评定标准</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
                <input id="ID" type="hidden" class="form-control"/>
            </span>
        </div>
        <div class="panel-body">

            <table class="form" border="1" cellpadding="1" cellspacing="1">
                <tr>
                    <td>
                        事故等级\判定项
                    </td>
                    <td>
                        造成电网减供负荷的比例
                    </td>
                    <td>
                        造成城市供电用户停电的比例
                    </td>
                    <td>
                        发电厂或者变电站因安全故障造成全厂（站）对外停电的影响和持续时间
                    </td>
                    <td>
                        发电机组因安全故障停运的时间和后果
                    </td>
                    <td>
                        供热机组对外停止供热的时间
                    </td>
                </tr>
                <tr>
                    <td>特别重大事故</td>
                    <td>
                        区域性电网减供负荷30%以上
                        电网负荷20000兆瓦以上的省、自治区电网，减供负荷30%以上
                        电网负荷5000兆瓦以上20000兆瓦以下的省、自治区电网，减供负荷40%以上
                        直辖市电网减供负荷50%以上
                        电网负荷2000兆瓦以上的省、自治区人民政府所在地城市电网减供负荷60%以上

                    </td>
                    <td>
                        直辖市60%以上供电用户停电
                        电网负荷2000兆瓦以上的省、自治区人民政府所在地城市70%以上供电用户停电

                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>重大事故</td>
                    <td>
                        区域性电网减供负荷10%以上30%以下
                        电网负荷20000兆瓦以上的省、自治区电网，减供负荷13%以上30%以下
                        电网负荷5000兆瓦以上20000兆瓦以下的省、自治区电网，减供负荷16%以上40%以下
                        电网负荷1000兆瓦以上5000兆瓦以下的省、自治区电网，减供负荷50%以上
                        直辖市电网减供负荷20%以上50%以下
                        省、自治区人民政府所在地城市电网减供负荷40%以上（电网负荷2000兆瓦以上的，减供负荷40%以上60%以下）
                        电网负荷600兆瓦以上的其他设区的市电网减供负荷60%以上

                    </td>
                    <td>
                        直辖市30%以上60%以下供电用户停电
                        省、自治区人民政府所在地城市50%以上供电用户停电（电网负荷2000兆瓦以上的，50%以上70%以下）
                        电网负荷600兆瓦以上的其他设区的市70%以上供电用户停电

                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>较大事故</td>
                    <td>
                        区域性电网减供负荷7%以上10%以下
                        电网负荷20000兆瓦以上的省、自治区电网，减供负荷10%以上13%以下
                        电网负荷5000兆瓦以上20000兆瓦以下的省、自治区电网，减供负荷12%以上16%以下
                        电网负荷1000兆瓦以上5000兆瓦以下的省、自治区电网，减供负荷20%以上50%以下
                        电网负荷1000兆瓦以下的省、自治区电网，减供负荷40%以上
                        直辖市电网减供负荷10%以上20%以下
                        省、自治区人民政府所在地城市电网减供负荷20%以上40%以下
                        其他设区的市电网减供负荷40%以上（电网负荷600兆瓦以上的，减供负荷40%以上60%以下）
                        电网负荷150兆瓦以上的县级市电网减供负荷60%以上

                    </td>
                    <td>
                        直辖市15%以上30%以下供电用户停电
                        省、自治区人民政府所在地城市30%以上50%以下供电用户停电
                        其他设区的市50%以上供电用户停电（电网负荷600兆瓦以上的，50%以上70%以下）
                        电网负荷150兆瓦以上的县级市70%以上供电用户停电

                    </td>
                    <td>
                        发电厂或者220千伏以上变电站因安全故障造成全厂（站）对外停电，导致周边电压监视控制点电压低于调度机构规定的电压曲线值20%并且持续时间30分钟以上，或者导致周边电压监视控制点电压低于调度机构规定的电压曲线值10%并且持续时间1小时以上
                    </td>
                    <td>
                        发电机组因安全故障停止运行超过行业标准规定的大修时间两周，并导致电网减供负荷
                    </td>
                    <td>
                        供热机组装机容量200兆瓦以上的热电厂，在当地人民政府规定的采暖期内同时发生2台以上供热机组因安全故障停止运行，造成全厂对外停止供热并且持续时间48小时以上
                    </td>
                </tr>
                <tr>
                    <td>一般事故</td>
                    <td>
                        区域性电网减供负荷4%以上7%以下
                        电网负荷20000兆瓦以上的省、自治区电网，减供负荷5%以上10%以下
                        电网负荷5000兆瓦以上20000兆瓦以下的省、自治区电网，减供负荷6%以上12%以下
                        电网负荷1000兆瓦以上5000兆瓦以下的省、自治区电网，减供负荷10%以上20%以下
                        电网负荷1000兆瓦以下的省、自治区电网，减供负荷25%以上40%以下
                        直辖市电网减供负荷5%以上10%以下
                        省、自治区人民政府所在地城市电网减供负荷10%以上20%以下
                        其他设区的市电网减供负荷20%以上40%以下
                        县级市减供负荷40%以上（电网负荷150兆瓦以上的，减供负荷40%以上60%以下）

                    </td>
                    <td>
                        直辖市10%以上15%以下供电用户停电
                        省、自治区人民政府所在地城市15%以上30%以下供电用户停电
                        其他设区的市30%以上50%以下供电用户停电
                        县级市50%以上供电用户停电（电网负荷150兆瓦以上的，50%以上70%以下）

                    </td>
                    <td>
                        发电厂或者220千伏以上变电站因安全故障造成全厂（站）对外停电，导致周边电压监视控制点电压低于调度机构规定的电压曲线值5%以上10%以下并且持续时间2小时以上
                    </td>
                    <td>
                        发电机组因安全故障停止运行超过行业标准规定的小修时间两周，并导致电网减供负荷
                    </td>
                    <td>
                        供热机组装机容量200兆瓦以上的热电厂，在当地人民政府规定的采暖期内同时发生2台以上供热机组因安全故障停止运行，造成全厂对外停止供热并且持续时间24小时以上
                    </td>
                </tr>

            </table>

        </div>
    </div>


</div>
</body>

