@{
    ViewBag.Title = "流程预览";
    Layout = "~/Views/Shared/_FlowForm.cshtml";
}
<link href="~/Content/styles/framework-flow.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/icheck/skins/all.css?v=1.0.2" rel="stylesheet">
<script src="~/content/scripts/plugins/icheck/js/icheck.js?v=1.0.2"></script>
<script>
    var keyValue = request("keyValue");
    $(function () {
        var schemeContent;
        if (!!keyValue) {
            $.post("../../WorkPlan/PlanApply/GetDepartPlanApplyActionList", { keyValue: keyValue }, function (data) {
                schemeContent = JSON.parse(data);
                var tdata = "";
                $('#FlowPanel').flowdesign({
                    height: $(window).height() - 10,
                    width: $(window).width() - 10,
                    flowcontent: schemeContent,
                    frmData: tdata,
                    haveTool: false,
                    isprocessing: true,
                    isshowsetinfo: false,  //是否显示对应的审核节点信息
                    isshowstatus: "1,2,5",
                    activityId: schemeContent.activeID,
                    nodeData: schemeContent.nodes,
                    preview: 2
                });
                $(".GooFlow_work_inner").height($(window).height() + 300);
                $(".GooFlow_work").css("overflow-x", "hidden");
                $("#6ce8c4c0-1b36-42af-8b2a-2df07635c7f8").attr("title", "部门安全员、部门负责人上报部门工作计划");
                $("#c264dcae-822f-4abf-8ae8-6c5bafa08c59").attr("title", "本部门负责人审核");
                $("#11b09e02-7f63-493a-80ec-b4b15d4031b2").attr("title", "EHS部门负责人审核");
                $("#1712100a-d991-46cc-984c-11128530937f").attr("title", "分管领导审批");
                $("#f5f746b4-9d17-4d84-b878-ce3d1111bf71").attr("title", "流程审批结束");                            
            });
        }
    });
</script>
<div class="panels">
    <div id="FlowPanel" style="margin: 0px;border: 1px solid #ccc;"></div>
</div>
<style>
    body {
        overflow: hidden;
    }
    .panels {
        padding: 10px;
    }
</style>
