<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RemoteBaseDb"  value="DATA SOURCE=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)
    (SERVICE_NAME=orcl)));PASSWORD=1234;PERSIST SECURITY INFO=True;USER ID=c##erchtms_xss;" />
  </appSettings>
</configuration>
