.main-left{
    position: relative;
    /* top: 35px; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main-left1-border{
    background:url('../img/bgleft1.png') no-repeat;
    background-size:100% 100%;
    overflow: hidden;
    width:1335px;
    height:555px;
    margin-left:25px;
  
}
.main-left2-border{
    background:url('../img/bgleft2.png') no-repeat;
    background-size:100% 100%;
    overflow: hidden;
    width:668px;
    height:555px;
    /* margin-left:-45px; */

}
.main-left3-border{
    background:url('../img/bgleft3.png') no-repeat;
    background-size:100% 100%;
    overflow: hidden;
    width:647px;
    height:444px;
   position: relative;
   margin-left:25px;


}
.main-left4-border{
    background:url('../img/bgleft4.png') no-repeat;
    background-size:100% 100%;
    overflow: hidden;
    width:647px;
    height:443px;
    margin:0 35px;

}
.main-left5-border{
    background:url('../img/bgleft5.png') no-repeat;
    background-size:100% 100%;
    overflow: hidden;
    width:661px;
    height:443px;
    /* margin-left:-35px; */
    position: relative;


}
.main_left1{
    width:1296px;
    height:595px;
    padding:20px 0;
    background: url(../img/tit1.png) no-repeat 220px 70px;
    background-size: 120px 30px;
    overflow: hidden;
}
.chartsTitle{
    width:360px;
    position: absolute;
    color: #fff;
    font-size: 20px;
    text-align: center;
    top: 390px;
    z-index: 20;
}
.main_left1 .charts1{
    width:440px;
    height: 435px;
    margin-top: 120px;
    float:left;
    margin-left:60px;
}
.tableDiv1{
    width:calc(100% - 520px);
    height:530px;
    float:right;


}
.main_left1 .tableDiv1 table{
    width:100%;
    line-height: 48px;
    height:298px;
}
.main_left1 .tableDiv1 table tbody tr:hover{
    cursor: pointer;
    border:1px solid #5bb4c6;
    box-sizing: border-box;
}

.chartsTitle > h1{
    font-size: 22px;
    color: #fff100;
    font-weight: bold;
    margin-bottom: 6px;
}
.tableTit{
    height:80px;
    line-height: 65px;
    background: url(../img/tit6.png) no-repeat 3px 20px;
    background-size: 96px 24px;
    border-bottom:1px solid #1d304e;
    box-sizing: border-box;
    margin-bottom:40px;
    position: relative;
}
.tableTit::before{
    content:'';
    width:110px;
    height:3px;
    position: absolute;
    left:0;
    bottom:0;
    background: #1378fe;
}
.tableTit span{
    float: right;
    background: url(../img/more.png) no-repeat right center;
    color:#fff;
    background-size: 80px 30px;
    display: block;
    width:80px;
    text-align: center;
    cursor: pointer;
}
.notice{
    background: url(../img/notice.png) no-repeat 3px 32px;;
    background-size:21px 20px;
    padding-top:30px;
    border-top:1px solid #162256
}
.notice p{
    margin-left:40px;
    color:#fff;
    font-size:18px;
}
.notice p span{
    float:right;
    font-size:16px;
    color:#9c9eab;
    margin-right:10px;
}
.main-left2-inner{
    width:92%;
    margin:0 auto;
    margin-top:40px;
    margin-bottom:20px;
}
.section_title{
    margin-left:15px;
}
.inner1{
   
    margin-left:45px;
}
.inner1-left{
    height: 30px;
    line-height: 30px;
    margin-left:45px;
}
.inner1-left p{
    font-size:12px;
    color:#91b0f3;
}   
.inner1-rgiht .modules_list{
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    height:100px;
}
.inner1-rgiht .modules_list li{
    /* float:left; */
    cursor: pointer;
}
.inner1-rgiht .modules_list li{
    width:120px;
    height:97px;
    border-radius: 10px;
    background: rgba(91,177,205,.1);
    box-sizing: border-box;

}
.activ{
    margin-left:3px;
}
.modules_list li img{
    margin: 11px 0 10px;
}
.inner1-rgiht .modules_list li:hover{
    width:120px;
    height:96px;
    border-radius: 10px;
    background: rgba(91,177,205,.2);
    border:1px solid #5bb1cd;
}
.inner1:nth-of-type(1){
    margin-bottom:0;
}
.inner1:nth-of-type(2){
    margin-top:0;
}
.main-left3-border h2{
    position: absolute;
    left:35px;
    top:30px;
}
.charts2{
    width:590px;
    height: 405px;
    margin-left: 40px;
    position: absolute;
    top:60px;
    padding-bottom:10px;
}
.left4-top{
    margin-top:30px;
    margin-left:35px;
    display: flex;
    justify-content: space-between;
    
}
.tabs{
    width:192px;
    height:31px;
    position: relative;
    margin-right:30px;
    background: url(../img/1.png) no-repeat;
    background-size: 182px 31px;
}
.tabs li{
    float:left;
    height:31px;
    line-height: 31px;
    text-align: center;
    color:#fff;
    width:60px;
    cursor: pointer;

}

.tableDivs{
    width:570px;
    margin-right:30px;
    margin-top:40px;
    
}
.tableDivs table tr{
    height:48px;
    line-height: 48px;
    box-sizing: border-box;
}
.tableDivs table tbody tr:hover{
    border:1px solid #5bb1cd;
}
.tableDivs table{
    width: 100%;
    border-bottom:1px solid #171f5a;
}
.charts3{
    width:560px;
    height:350px;
    margin-left:40px;
}
.swiper-container {
    width:100%;
}
.swiper-button-prev{
    background: url(../img/left.png) no-repeat;
    top:60%;

}
.swiper-button-next{
    background: url(../img/right.png) no-repeat;
    right:-10px;
    top:60%;

}
.swip-middle2{
    position: relative;
}