@charset "UTF-8";
.sec2_main{
    padding-left: 17px;
    margin-top: 25px;
}
.sec2_left{
    width: 844px;
}
.sec_modules{
    margin-bottom: 12px;
}
.modules_tit{
    font-size: 16px;
    color: #9dbfff;
    margin-bottom: 15px;
}
.boLeft{
    display: block;
    height: 13px;
    width: 5px;
    background: #9dbfff;
    float: left;
    margin: 5px 10px 0 4px;
}
.modules_list li{
    float: left;
    margin-right: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.modules_list li:hover{
    background: url("../images/setion2/liBg_2.png") no-repeat;
}
/* .modules_list li img{
    margin: 20px 0 10px;
} */
.modules_list li p{
    color: #f4f9fb;
    font-size: 14px;
}
.modules_list li p span{
    color: #ffa500;
    font-size: 24px;
    font-weight: bold;
}
.main-left3-border{

}
/* .main-left3-border > div,.main-left4-border > div{
    width: 997px;
    height: 587px;
    background: url("../images/bgleft2.png") no-repeat;
}
.main-left4-border{
    position: relative;
    top: -224px;
} */
.mlF_54{
    margin-left: -54px;
}
.center2_1,.center3_1{
    width: 1151px;
    height: 587px;
    background: url("../images/centerLeft.png") no-repeat;
}
.center2_2,.center3_2{
    width: 1811px;
    height: 587px;
    background: url("../images/middle2.png") no-repeat;
    margin-left: -56px;
}
.center2_3,.center3_3{
    width: 1051px;
    height: 587px;
    background: url("../images/centerRight.png") no-repeat;
    margin-left: -56px;
}
.center2_3 > div,.center3_3 > div{
    margin: 50px 50px 50px 64px;
    width: 937px;
    height: 487px;
    padding: 20px 36px;
}
.center2_2 > div,.center3_2 > div{
    margin: 50px 50px 50px 64px;
    width: 1697px;
    height: 487px;
    padding: 20px 0 20px 39px;
}
.procedure_div{
    position: relative;
    padding: 24px 0 0 66px;
}
.procedure_list li{
    float: left;
    margin: 0 60px 32px 0;
    background: url("../images/procedure_bg1.png") no-repeat;
    width: 144px;
    height: 104px;
    text-align: center;
}
.procedure_list li:hover{
    background: url("../images/procedure_bg2.png") no-repeat;
}
.procedure_list li:nth-child(4n){
    margin-right: 0;
}
.procedure_list li img{
    margin: 12px 0 5px;
}
.procedure_list li p{
    font-size: 16px;
    color: #fff;
}
.procedure_list li p span{
    font-weight: bold;
    color: #ffa500;
}
.procedure_div > span{
    position: absolute;
}
.arrow_1{
    top: 66px;
    left: 231px;
}
.arrow_2{
    top: 66px;
    left: 434px;
}
.arrow_3{
    top: 66px;
    left: 638px;
}
.arrow_4{
    top: 133px;
    left: 742px;
}
.arrow_5{
    top: 200px;
    left: 231px;
}
.arrow_6{
    top: 200px;
    left: 434px;
}
.arrow_7{
    top: 200px;
    left: 638px;
}
.arrow_8{
    top: 269px;
    left: 130px;
}
.arrow_9{
    top: 337px;
    left: 231px;
}
.arrow_10{
    top: 337px;
    left: 434px;
}
#chart7{
    width: 855px;
    height: 390px;
    margin-top: 45px;
}
#chart5,#chart6{
    width: 1658px;
    height: 400px;
    margin-top: 10px;
}