@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
<script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script>
    var keyValue = request('keyValue');
    var pName = request('parentName');
    var pId= request('parentId');
    $(function () {
        initControl();
    });
    //初始化控件
    function initControl() {
        //加载区域
        $("#STID").ComboBoxTree({
            url: "../../OutsourcingProject/Safestandarditem/GetStandardTreeJson",
            height: "300px",
            description: "请选择",
            allowSearch: true,

        }).bind("change", function () {
            var code = $(this).attr('data-Code');
            var arr=code.split('|');
            if (arr[1]=="1") {
                dialogMsg("请选择最后一级标准节点！",0);
                return;
            }
        });
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../OutsourcingProject/Safestandarditem/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);

                }
            })
        }
        else {
            $("#ParentName").val(pName);
        }
        
        if(!!pId){
            $("#STID").ComboBoxSetValue(pId);
        }
    }
    //保存表单
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var code = $("#STID").attr('data-Code');
        var arr = code.split('|');
        if (arr[1] == "1") {
            dialogMsg("请选择最后一级标准节点！", 0);
            return;
        }
        var postData = $("#form1").formSerialize(keyValue);
        postData["ParentId"] = pId;
        $.SaveForm({
                url: "../../OutsourcingProject/Safestandarditem/SaveForm?keyValue=" + keyValue,
                param: postData,
                loading: "正在保存数据...",
                success: function () {
                    $.currentIframe().window.$("#gridTable").trigger('reloadGrid');
                }
            })
    }

</script>
<div style="margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle">选择标准<font face="宋体">*</font></td>
            <td class="formValue">
                <div id="STID" type="selectTree"  class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
            </td>
        </tr>
        <tr>
            <td class="formTitle"><span style="white-space:pre-wrap;">考核内容</span><font face="宋体">*</font></td>
            <td class="formValue">
                <textarea type="text" id="CONTENT" rows="7" class="form-control" isvalid="yes" checkexpession="NotNull"></textarea>
            </td>
        </tr>
        @*<tr>
            <td class="formTitle">整改要求<font face="宋体">*</font></td>
            <td class="formValue">
                <textarea type="text" id="Require" class="form-control" isvalid="yes" checkexpession="NotNull"></textarea>
            </td>
        </tr>
        <tr>
            <td class="formTitle">检查依据</td>
            <td class="formValue">
                <textarea type="text" id="Norm" class="form-control"></textarea>
            </td>
        </tr>*@
    </table>
</div>