@{
    ViewBag.Title = "打印视图";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script type="text/javascript">

    var keyValue = request('keyValue');
    var BaseUlr;
    var ysTpye;

    $(function () {
       // GetDriverUplodUrl();
        initControl();
        //SaveStampRecord();
        SaveStampRecord();
    });


    //初始化控件
    function initControl() {
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../MatterManage/OurTicket/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                    //$("#Getdata").html(formatDate(data.Getdata, "yyyy年MM月dd日 hh:mm"));
                    var strTime = formatDate(data.Getdata, "yyyy") + "&nbsp;&nbsp;&nbsp;&nbsp;" + formatDate(data.Getdata, "MM") + "&nbsp;&nbsp;&nbsp;&nbsp;" + formatDate(data.Getdata, "dd") + "&nbsp;&nbsp;" + formatDate(data.Getdata, "hh:mm")
                    $("#Getdata").html(strTime);
                    $("#Getdata1").html(formatDate(data.Getdata, "yyyy年MM月dd日 hh:mm"));
                    $("#Numbers").html(data.Numbers);
                    $("#Producttype").html(data.Producttype);
                    $("#Platenumber").html(data.Platenumber);
                    $("#Takegoodsname").html(data.Takegoodsname);
                    $("#Opername").html(data.Opername);
                    $("#Remark").html(data.Remark);
                    $("#OutDate").html(formatDate(data.OutDate, "hh:mm"));
                    //$("#Weight").html(data.Weight);
                    $("#Dress").html(data.Dress);
                    if (data.Transporttype == "转运") {
                        $("#Title").html("可门发电有限公司" + data.Producttype + "转运单");
                        ysTpye = 1;
                    }
                    else {
                        $("#Title").html("可门发电有限公司" + data.Producttype + "提货单");
                    }
                    $("#DressTitle").html("装" + data.Producttype + "点");
                }
            })
        }
    }

    //司机扫描二维码上传信息
    function GetDriverUplodUrl() {
        var url = "../../MatterManage/Operticketmanager/GetDriverUplodUrl";
        $.post(url, { keyValue: keyValue }, function (data) {
            var html = "";
            BaseUlr = data;
            html += '<div style="text-center:center;margin-right:15px;"><img style="width: 85px; background-size: cover;"  src="' + top.contentPath + '/Utility/BuilderSmallImage?keyValue=' + data + '&length=7" /><div style="text-align:center;">' + "" + '</div></div>';
            $("#container").append(html);
            //setTimeout(function () {
            //    f_print();
            //}, 1000)
           
        });
    }


    //添加打印工作记录
    function SaveStampRecord() {
        var url = "../../MatterManage/Operticketmanager/SaveStampRecord";
        $.post(url, { keyValue: keyValue }, function (data) {
            $.currentIframe().GetWorkRecord();
            $.currentIframe().$("#gridTable").trigger("reloadGrid");
            f_print();
        });
    }


    //司机上传个人信息
    function f_stamp() {
       //window.location.href = "http://10.36.1.170/ERCHTMS.Web/Content/SecurityDynamics/index.html?keyValue=" + keyValue;
        window.location.href = BaseUlr;
    }


    //打印预览
    function f_print() {
        window.onbeforeprint();
        window.print();
        window.onafterprint();
        dialogClose();//打印自动关闭
    }

    window.onbeforeprint = function () {
        $(".btn-group1").hide();
        if (ysTpye == 1) {
            $("#DressHide").hide();
        }
        $("#Getdata1").hide();
        $("#Getdata").show();
        $(".hideTitle").addClass("hideEle");
        $(".TabelContent tr td").css("border", 0);
    }
    window.onafterprint = function () {
        $(".btn-group1").show();
        $("#DressHide").show();
        $("#Getdata").hide();
        $("#Getdata1").show();
        $(".hideTitle").removeClass("hideEle");
        $(".TabelContent tr td").css("border", "1px solid #352e2e");
    }


</script>






<div class="TitleContent" >
    <span id="Title" class="hideTitle">可门发电有限公司提货单</span>
    <h5 class="TabelTitle hideTitle">NO: <span>0001579</span></h5>
    <table class="TabelContent">
        <thead>
            <tr class="TabelContentHead">
                <th width="234"></th>
                <th width="300"></th>
                <th width="147"></th>
                <th width="243"></th>
            </tr>
        </thead>
        <tbody>
            <tr class="tr1">
                <td class="hideTitle">
                    进场时间
                </td>
                <td class="hideTitle"><label style="display:none;" id="Getdata"></label>
                    <label style="position: relative;left:-25px;word-spacing:4px" id="Getdata1"></label>
                </td>
                <td class="hideTitle">
                    提货单号
                </td>
                <td><label id="Numbers"></label></td>
            </tr>
            <tr class="tr2">
                <td class="hideTitle">
                    副产品类型
                </td>
                <td>
                    <label id="Producttype"></label>
                </td>
                <td class="hideTitle">
                    车牌号码
                </td>
                <td><label id="Platenumber"></label></td>
            </tr>
            <tr class="tr3">
                <td id="DressTitle" class="hideTitle">
                    装灰点
                </td>
                <td id="DressHide"><label id="Dress"></label></td>
                <td class="hideTitle">
                    重量（吨）
                </td>
                <td class="hideTitle"><label id="Weight">@ViewBag.weight</label></td>
            </tr>

            <tr class="tr4">
                <td class="hideTitle">
                    提货方（运输人）
                </td>
                <td><label id="Takegoodsname"></label></td>
                <td class="hideTitle">
                    供货方
                </td>
                <td class="hideTitle"><label>可门发电有限公司</label></td>
            </tr>
            <tr class="tr5">
                <td class="hideTitle">
                    开单员
                </td>
                <td><label id="Opername"></label></td>
                <td class="hideTitle">
                    出厂时间
                </td>
                <td class="hideTitle"><label id="OutDate"></label></td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="TabelContent_col1 fl"><span class="hideTitle">备注</span>&nbsp;&nbsp;<label class="hideTitle" id="Remark"></label></div>
                    <div class="TabelContent_col2 hideTitle fl">司机签名</div>
                    <div class="TabelContent_col3 fr" style="text-align:right;margin-right:5px;" id="container"></div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="btn-group1">
        <a onclick="dialogClose()" id="bit_saeve" class="layui-layer-btn0">取消</a>
        <a onclick="SaveStampRecord()" id="" class="layui-layer-btn0">打印</a>
    </div>
    @*<div class="btn-group1">
        <a onclick="f_stamp()" id="bit_stamp" class="layui-layer-btn0">司机上传信息</a>
    </div>*@


</div>




<style>
    * {
        font-size: 19.2px;
    }
    .fl{
        float: left;
    }
    .fr{
        float: right;
    }

    .TitleContent {
        width: 941px;
        height: 360px;
        padding-left: 16px;
        margin-left: 24px;
        margin-top: 57px;
        text-align: center;
    }

    #Title {
        font-size: 22px;
        font-weight: bold;
    }

    .TabelContent {
        width: 100%;
        height: 100%;
        margin-top: 30px;
    }

    .TabelContent tr td {
        border: 1px solid #352e2e;
        text-align: center;
    }
    .TabelTitle {
        margin-top: 28px;
        /*width: 90px;*/
        float: right;
        margin-right: 25px;
    }
    .TabelContentHead {
        display: none;
    } 
</style>

<style>

    .btn-group1 {
        float: left;
        width: 300px;
    }

    .btn-group1 a {
        display: inline-block;
        width: 148px;
        margin-right: 10px;
        height: 24px;
        line-height: 24px;
        background: #5cb85c;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        margin-top: 10px;
        float: right;
        text-decoration: none;
    }
    .TabelContent_col1 {
        display: block;
        vertical-align: middle;
        width: 50%;
        padding-left: 120px;
        height: 75px;
        line-height: 50px;
        text-align: left;
    }
    .TabelContent_col2 {
        width: 20%;
        padding-left: 20px;
        height: 75px;
        line-height: 50px;
        text-align: left;
    }
    .TabelContent_col3 {
        width: 25%;
        padding-left: 20px;
        height: 75px;
        text-align: right;
        margin-right: 15px;
    }
    .hideEle {
        opacity: 0;
        filter: alpha(opacity=0);
    }
    .btn-group1 {
        float: right;
        width: 200px;
        padding-top: 7px;
    }

        .btn-group1 a {
            display: inline-block;
            width: 60px;
            margin-right: 10px;
            height: 24px;
            line-height: 24px;
            background: #5cb85c;
            color: #fff;
            text-align: center;
            border-radius: 2px;
            margin-top: 10px;
            float: right;
            text-decoration: none;
        }

            .btn-group1 a:hover {
                cursor: pointer;
                color: #2e99d4;
            }

     .tr1 td label {
        padding-top:25px;
    }
    .tr2 td label {
        padding-top:25px;
    }
    .tr3 td label {
        padding-top:30px;
    }
    .tr4 td label {
        padding-top:30px;
    }
    .tr5 td label {
        padding-top:30px;
    }
</style>
