@{;
    ViewBag.Title = "列表页面";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script src="~/Content/scripts/business/gridhelper.js"></script>


<script>
    $(function () {
        InitialPage();
        GetGrid();
    });


    //初始化页面
    function InitialPage() {
        $('#layout').layout({
            applyDemoStyles: false,
            onresize: function () {
                $(window).resize()
            }
        });
        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 280);
                $("#itemTree").setTreeHeight($(window).height() - 50);
            }, 200);
            e.stopPropagation();
        });
    }


    //加载表格
    var selectedRowIndex = -1;
    function GetGrid() {
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            autowidth: true,
            height: $(top.window).height() - 280,
            url: "../../MatterManage/Operticketmanager/GetTemplate",
            datatype: "json",
            colModel: [
                { label: '转运类型标识id', name: 'transporttypeid', index: 'transporttypeid', hidden: true },
                { label: '副产品类型id', name: 'producttypeid', index: 'producttypeid', hidden: true },
                { label: '装灰点id', name: 'dressid', index: 'dressid', hidden: true },
                { label: '提货方id', name: 'takegoodsid', index: 'takegoodsid', hidden: true },
                { label: '转运类型名称', name: 'transporttypename', index: 'transporttypename', width: 300, align: 'center', sortable: true },
                { label: '副产品类型', name: 'producttypename', index: 'producttypename', width: 300, align: 'center', sortable: true },
                { label: '装灰点', name: 'dressname', index: 'dressname', width: 200, align: 'center', sortable: true },
                { label: '提货方', name: 'takegoodsname', index: 'takegoodsname', width: 200, align: 'center', sortable: true },
                { label: '排序', name: 'templatesort', index: 'templatesort', width: 200, align: 'center', sortable: true },
            ],
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            viewrecords: true,
            rowNum: 100,
            pager: "#gridPager",
            sortname: 'createdate',
            sortorder: 'desc',
            rownumbers: true
        });
    }
    //查看
    function GetSelect() {
        var selectRow = $('#gridTable').getRowData(selectedRowIndex);
        if (selectRow)
            return selectRow;
        else {
            dialogMsg('请选择需要的模板！', 0);
            return false;
        }
    }

</script>


<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-center">
        <div class="center-Panel" style="margin-left: 10px;">
            <div class="gridPanel">
                <table id="gridTable"></table>
                <div id="gridPager"></div>
            </div>
        </div>
    </div>
</div>
