
#test-n2 {
	position: relative;
	width: 100% !important;
}

#test-n2  #layui-laydate1,#test-n2  #layui-laydate1 .layui-laydate-main,#test-n2 .layui-laydate-content table{
	width: 100%;
}

#test-n2 .layui-laydate-content table tbody{
	height:calc(100vh - 240px)!important;
}
.text_box{
	padding: 15px !important;
}
.layui-laydate-header {
     border: 1px solid #e2e2e2; 
  }
.layui-laydate-content{
		padding: 0!important;
	}
	.layui-laydate-footer{
		display: none;
	}
	#test::before {
    position: absolute;
    content: '';
    right: 42%;
    bottom: 9px;
    width: 5px;
    background: red;
    height: 5px;
    border-radius: 50%;}
	.laydate-day-mark::after{
		left: 42%;
		top: 32px!important;
	}
	.container{
		width: 100%;
		display: flex;
		padding-top: 10px;
	}
	.layui-inline{
		width: 50%;
	}
	.right{
		width: 100%;
        text-indent: 20px;
        height: 355px;
        border :1px solid #ccc;
		border-left: 0;
	}
	.group{
		height: 43px;
		display: flex;
		padding-right: 10px;
		align-items: center;
		justify-content: flex-end;
		border-bottom: 1px solid #ccc;
	} 
	.right input{
		height: 26px;
		width: 10%;
		border: 0;
		margin-left: 20px;
		border-radius: 2px;
		background: #75b9e6;
		color:#fff;
		font-size: 14px;
	}
	.right input:hover{
		cursor: pointer;
	}
	.right p{
		line-height: 29px;
		display: flex;
		border-bottom: 1px solid #ccc;
		justify-content: space-between;
	}
	.add{
		 padding-right: 20px;
		 color: #75b9e6;
	}
	.right ul{
		margin-top: 20px;
	}
	.right ul li{
		line-height: 26px;
		height: 26px;
	}
	.right ul li span{
		display: inline-block;
		width: 5px;
		height: 5px;
		border-radius: 50%;
	}
	.add:hover{cursor: pointer;}
	.layui-this{background: #fff!important;color: blue;}
	th{padding: 0;background: #F2F2F2;}
	td{
		line-height: 36px;
	}