@charset "UTF-8";
.full,.bs-header,.bs-aside{background: #000e31;}
.bs-aside > ul > li.active > a, .bs-aside > ul > li:hover > a{
    background: #1a2746;
}
.bs-warp2 .bs-main{background: #031938;height: calc(100% - 30px);color: #fff;}
.main1{
	background: #0b203e;
	margin: 20px 0;
	height: 268px;
}
.main1 ul li dl,.bs-main h3,.main2,.main3,.main4,.main5,.main6{background: #102542;}
nav{background: #031938;}
nav {border-bottom:2px solid #000e31; position: relative;height:30px;}
nav li{padding:0 2% 0 20px;font-size:12px ;line-height:28px ;color: #999999;border-right:2px solid #000e31;float: left;position: relative;cursor: pointer;}
nav li:hover,nav .select{color: #fff;background: #102542;}
nav li span{position: absolute;font-size: 14px;right: 10px;display: inline-block;height: 28px;width: 20px;text-align: center;}
.bs-warp2 .bs-main h3{font-size:16px ;line-height:45px ;color: #fff;text-indent: 10px;border-bottom: 2px solid #000e31;}
.main1 div{
	height: 172px;
	position: relative;
}
.main1 span{
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	padding: 0 14px 0 10px;
	position:absolute ;
	top: -8px;
	left: 30px;
	background: #0b203e;
}
select::-ms-expand{display: none;}
 select:hover{
 	cursor: pointer;
 }
.select{color: #fff;background: #102542;}
.main1 ul{padding: 16px 12px 10px 12px;height: 172px;background: #0b203e;border: 1px solid #223550;}
.main1 ul li{float: left;line-height: 40px;text-indent: 20px;width: 50%;}
/*.main1 ul li:nth-of-type(2n){
	padding-left: 16px;
}*/
.main1 ul li img{margin-right: 15px;margin-top: -2px;}
.main1 ul li dl{margin: 0;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; }
.main1 ul li:hover dl{background: #293b55;}
.main1 .main1_center li{width:100%;}
.main2{height: 490px;}

.main2 ul{width:100%;display: flex;}
.main2 ul li{width:100%;height: 400px;margin-top: 20px;}
.main2 ul li:first-child{border-right: 1px solid #1e3557;}
.main3{height: 793px;margin-top:18px;}
.main4{height: 480px;margin-top: 18px;}
.main5{height: 560px;margin-top:18px;}
.box-4 h3{margin-top: 0;}
.box-4 ul{display: flex;}
.main5 ul{height: 560px;}
.main3 select{position: absolute;-moz-appearance:none;-webkit-appearance:none;appearance:none;right: 10px;top: 7px;width:145px;line-height: 30px;border:1px solid #0f86ff; background: url(../../images/desktop/header_up.png) no-repeat 120px center #102542;text-indent:10px;font-size: 14px;}
.box-4 li:first-child{background: #031938;padding-right: 18px;}
.main5 .row{padding:0 40px;width:100%;background: #0b203e;
height:100px;}
.main5 .down_right{height:50px;width:100%;background: url(../../images/desktop/dd_03.png)no-repeat 84% center;padding:0 40px;}
.main5 .row li{
	float: left;
	height: 100px;
}
.main5 .row li{
	background: url(../../images/desktop/g_18.png)no-repeat right center #0b203e;
}
.main5 .row:nth-of-type(2) li{
	background: url(../../images/desktop/g_35.png)no-repeat right center #0b203e;
}

.main5 .row li:last-child{background-image: none;}
.main5 .row li div{
	border-radius: 8px;
	background: #132744;
	height: 100px;
	overflow: hidden;
}

.main5 .row li div img{
	display: block;
	margin:14px auto 10px;
}
.main5 .row li div p{
	background:#132744 ;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	text-align: center;
}
.main5 .row li:hover div{
	cursor: pointer;
	border:1px solid #0f86ff;}
.box-4 div{background:#0b203e;}
.main5 div{height: 490px;}
.box-4 p{height: 24px;background: #0b203e;}
.main6{height: 530px;margin-top: 18px;}
.main6 ul li{height: 460px;width:40%;float: left;}
.main6 ul li:last-child{width:60%;}
.main4 div{height: 330px;margin-top: 44px;}
/*.main3 div{padding-bottom: 10px;height: px;}*/

#main3-1 img{height: 100%;}