@charset "UTF-8";

table {
    width: 98%;
    margin-top: 30px;
    margin-left: 10px;
    border-color: #172b48;
}

th, td {
    height: 48px;
    line-height: 48px;
    width: 14.28%;
    font-size: 14px;
    color: #f2f2f2;
    text-align: center;
    min-width: 120px;
}

td {
    color: #cccccc;
    position: relative;
}

thead {
    background: #172b48;
}
/*td img{position: absolute;right: 28%;top: 16px;}*/
td span {
    position: absolute;
    right: 15%;
    top: 0px;
}

tr:nth-of-type(even) {
    background: #172b48;
}

select::-ms-expand {
    display: none;
}

select:hover {
    cursor: pointer;
}

.full, .bs-header, .bs-aside {
    background: #000e31;
}

    .bs-aside > ul > li.active > a, .bs-aside > ul > li:hover > a {
        background: #1a2746;
    }

.bs-warp2 .bs-main {
    background: #031938;
    height: calc(100% - 30px);
    color: #fff;
    padding-bottom: 0;
}

.main1 ul li dl, .bs-main h3, .main2, .main3, .main4, .main5, .main6 {
    background: #102542;
}

nav {
    background: #031938;
}

nav {
    border-bottom: 2px solid #000e31;
    position: relative;
    height: 30px;
}

    nav li {
        padding: 0 2% 0 20px;
        font-size: 12px;
        line-height: 28px;
        color: #999999;
        border-right: 2px solid #000e31;
        float: left;
        position: relative;
        cursor: pointer;
    }

        nav li:hover, nav .select {
            color: #fff;
            background: #102542;
        }

        nav li span {
            position: absolute;
            font-size: 14px;
            right: 10px;
            display: inline-block;
            height: 28px;
            width: 20px;
            text-align: center;
        }

.bs-warp2 .bs-main h3 {
    font-size: 16px;
    line-height: 45px;
    color: #fff;
    text-indent: 10px;
    border-bottom: 2px solid #000e31;
}

.main1 ul {
    padding: 20px 0 18px 2.5%;
    height: 180px;
    background: #0b203e;
}

.main1 {
    margin-top: 20px;
}

.main1 li { /*width:180px;*/
    width: 9%;
    float: left;
    height: 100%;
    background: #132744;
    margin-right: 1.66%;
    padding-top: 20px;
}

.main1 li img {
    margin: 0 auto;
    display: block;
    margin-bottom: 12px;
}

.main1 li dl {
    text-align: center;
}

.main1 li dd {
    font-size: 24px;
    color: #fb463e;
    line-height: 40px;
}

.main2 {
    height: 495px;
}

.main2 ul {
    width: 100%;
    display: flex;
}

.main2 ul li {
    width: 100%;
    height: 400px;
    margin-top: 20px;
}

.main2 ul li:first-child {
    border-right: 1px solid #1e3557;
}

.main2 select {
 position: absolute;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    left: 200px;
    top: 274px;
    width: 145px;
    line-height: 30px;
    border: 1px solid #0f86ff;
    background: url(../images/header_up.png) no-repeat 120px center #102542;
    text-indent: 10px;
    font-size: 14px;
}


.main3 {
    height: 828px;
    margin-top: 18px;
    position: relative;
}


 .main3 select, .main5 select {
    position: absolute;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    right: 10px;
    top: 7px;
    width: 145px;
    line-height: 30px;
    border: 1px solid #0f86ff;
    background: url(../images/header_up.png) no-repeat 120px center #102542;
    text-indent: 10px;
    font-size: 14px;
}

.main4 {
    height: 480px;
    margin-top: 18px;
}

.main5 {
    height: 560px;
    margin-top: 18px;
    position: relative;
}

.box-4 h3 {
    margin-top: 0;
}

.box-4 ul {
    display: flex;
}

.main5 ul {
    height: 560px;
}

.box-4 li:first-child {
    background: #031938;
    padding-right: 18px;
}

.main5 li:first-child {
    width: 40%;
}

.main5 li:last-child {
    width: 60%;
}

.main6 {
    height: 530px;
    margin-top: 18px;
}

    .main6 ul li {
        height: 480px;
        width: 40%;
        float: left;
    }

        .main6 ul li:last-child {
            width: 60%;
        }

.main4 div {
    height: 330px;
    margin-top: 44px;
}

#main3-2 {
    padding-bottom: 10px;
    height: 745px;
}

#main3-1 img {
    height: 100%;
}

#ssjk li {
    cursor: pointer;
}
