@charset "UTF-8";
.full,.bs-header,.bs-aside{background: #000e31;}
.bs-aside > ul > li.active > a, .bs-aside > ul > li:hover > a{
    background: #1a2746;
}
.bs-warp2 .bs-main{background: #031938;height: calc(100% - 30px);color: #fff;}

.main1 ul li dl,.bs-main h3,.main2,.main3,.main4,.main5,.main6{background: #102542;}
nav{background: #031938;}
nav {border-bottom:2px solid #000e31; position: relative;height:30px;}
nav li{padding:0 2% 0 20px;font-size:12px ;line-height:28px ;color: #999999;border-right:2px solid #000e31;float: left;position: relative;cursor: pointer;}
nav li:hover,nav .select{color: #fff;background: #102542;}
nav li span{position: absolute;font-size: 14px;right: 10px;display: inline-block;height: 28px;width: 20px;text-align: center;}
.bs-warp2 .bs-main h3{font-size:16px ;line-height:45px ;color: #fff;text-indent: 10px;border-bottom: 2px solid #000e31;}
.main1 ul{padding: 4px 10px;height: 180px;background: #0b203e;}
.main1 ul li{float: left;line-height: 40px;text-indent: 20px;margin-top: 10px;width: 20%;padding: 0 20px;}
.main1 ul li img{margin-right: 15px;margin-top: -2px;}
.main1 ul li dl{margin: 0;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.main1 ul li:hover dl{background: #293b55;}
.main2{height: 490px;}

.main2 ul{width:100%;display: flex;}
.main2 ul li{width:100%;height: 400px;margin-top: 20px;}
.main2 ul li:first-child{border-right: 1px solid #1e3557;}
.main3{height: 793px;margin-top:18px;}
.main4{height: 480px;margin-top: 18px;}
.main5{height: 560px;margin-top:18px;}
.box-4 h3{margin-top: 0;}
.box-4 ul{display: flex;}
.main5 ul{height: 560px;}
.box-4 li:first-child{background: #031938;padding-right: 18px;}
.main5 li:first-child{width:40%;}
.main5 li:last-child{width:60%;}
.box-4 div{background:#0b203e;}
.main5 div{height: 490px;}
.box-4 p{height: 24px;background: #0b203e;}
.main6{height: 530px;margin-top: 18px;}
.main6 ul li{height: 480px;width:40%;float: left;}
.main6 ul li:last-child{width:60%;}
.main4 > div{height: 330px;margin-top: 44px;}
.main3 > ul > li > div{padding-bottom: 10px;height: 710px;}

#main3-1 img{height: 100%;}