@charset "utf-8";
html,.full{height:100%;overflow: hidden;}
body{background:#f8f8f8;color:#666;font-family:"微软雅黑";}
ul,h1,h2,h3,h4,h5,h6,p{padding: 0;margin: 0;}
li{list-style: none;}
a{color:#555;}
a:hover,a:active,a:focus{color:#555;text-decoration: none;}
.box_bg{background: #fff;}
.row_box{margin-bottom: 20px;}

/*头部*/
.bs-header{height:65px;position:absolute;left:0;top:0;right:0;z-index:2;background: #75b9e6;color: #fff;}
.bs-header h1{margin:0;padding-left:25px;font-size:20px;line-height: 65px;text-shadow: 5px 4px 12px #5ba5e2;}
.bs-header h1 img{vertical-align: middle;margin-right:10px;}
.header_list{}
.header_list > li{height: 65px;float: left;cursor: pointer;line-height: 65px;}
.header_list > li:hover{background: #3396d8;}
.header_list > li:hover > ul{display: block;}
.header_list > li > div{position: relative;padding:0 20px 0 60px;}
.header_list > li:first-child > div{background: url("../images/header_icon1.png") no-repeat 20px center;}
.header_list > li:last-child > div{background: url("../images/header_icon2.png") no-repeat 20px center;}
.header_list > li > div > span{display: inline-block;color: #fff;position: absolute;border-radius: 2px;background: #f68484;height: 18px;width: 18px;
    top:12px;left: 35px;line-height: 18px;text-align: center;font-size: 12px;}

.backlog_list{background: #fff;width: 280px;position: absolute;border:1px solid #bcbebf;display: none;}
.backlog_list li{height: 40px;line-height: 40px;color: #808ca1;padding:0 12px 0 18px;}
.backlog_list li:hover{background: #f3f6f7;}
.backlog_list li span{float: right;display: inline-block;height: 18px;line-height: 18px;width: 30px;text-align: center;color: #fff;background: #79b7e6;margin-top: 11px;}

.user_center{margin-right: 20px;position: relative;cursor: pointer;}
.user_center:hover{background: #3396d8;}
.user_center:hover > ul{display: block;}
.user_center > div{padding: 0 20px 0 35px;height: 65px;line-height: 65px;overflow: hidden;}
.user_center > div img{margin-right: 20px;}

.user_list{width: 100%;position: absolute;background: #fff;border:1px solid #bcbebf;display: none;}
.user_list li{height: 58px;line-height: 58px;color: #808ca1;padding-left: 35px;}
.user_list li img{margin-right: 10px;margin-top: -3px;}
.user_list li:hover{background: #f3f6f7;}

.header_up{display: inline-block;background: url("../images/header_up.png") no-repeat center center;width: 12px;height: 12px;float: right;margin: 28px 0 0 20px;}

/*左侧导航*/
.bs-aside{position:absolute;width:240px;top:0;bottom:0;min-height:100%;padding-top:65px;left:0;background: #333333;color:#fff;transition: width .5s;}
.bs-aside a{color:#cccccc;font-size:14px;}
.bs-aside .bs-toggle{display: block;text-align:center;line-height: 30px;font-size:16px;background: #252525;}
.bs-aside .bs-toggle:hover{background: #444;}
.bs-aside > ul > li > a{display: block;height:48px;line-height: 48px;transition: padding-left .5s;}
.bs-aside > ul > li.layui-this > a,.bs-aside > ul > li:hover > a{background: #6baad6 !important;color: #fff !important;}
.bs-nav > li > a > i{background-repeat: no-repeat;background-position: left center;display: inline-block;height: 24px;width: 24px;float: left;margin: 12px 10px 0 0;}
.bs-nav > li.layui-this > a > i,.bs-nav > li:hover > a > i{background-position: right center;}
.bs-nav > li > a > i.nav_icon1{background-image: url("../images/nav_icon1.png");}
.bs-nav > li > a > i.nav_icon2{background-image: url("../images/nav_icon2.png");}
.bs-nav > li > a > i.nav_icon3{background-image: url("../images/nav_icon3.png");}
.bs-nav > li > a > i.nav_icon4{background-image: url("../images/nav_icon4.png");}
.bs-nav > li > a > i.nav_icon5{background-image: url("../images/nav_icon5.png");}
.bs-nav > li > a > i.nav_icon6{background-image: url("../images/nav_icon6.png");}
.bs-nav > li > a > i.nav_icon7{background-image: url("../images/nav_icon7.png");}
.bs-nav > li > a > i.nav_icon8{background-image: url("../images/nav_icon8.png");}
.bs-nav > li > a > i.nav_icon9{background-image: url("../images/nav_icon9.png");}
.bs-nav > li > a > i.nav_icon10{background-image: url("../images/nav_icon10.png");}
.bs-nav > li > a > i.nav_icon11{background-image: url("../images/nav_icon11.png");}
.bs-nav > li > a > i.nav_icon12{background-image: url("../images/nav_icon12.png");}
.bs-nav > li > a > i.nav_icon13{background-image: url("../images/nav_icon13.png");}
.bs-nav > li > a > i.nav_icon14{background-image: url("../images/nav_icon14.png");}
.bs-nav > li > a > i.nav_icon15{background-image: url("../images/nav_icon15.png");}
.bs-nav > li > a > i.nav_icon16{background-image: url("../images/nav_icon16.png");}
.bs-nav > li > a > i.nav_icon17{background-image: url("../images/nav_icon17.png");}
.bs-nav > li > a > i.nav_icon18{background-image: url("../images/nav_icon18.png");}
.bs-nav > li > a > i.nav_icon19{background-image: url("../images/nav_icon19.png");}
/*主体*/
.bs-main{height:100%;overflow-y: auto;position:relative;}
/*底部*/
.bs-footer{height:60px;color:#cccccc;font-size:14px;text-align:center;background: #333333;position: absolute;bottom:0;left:240px;right:0;transition: left .5s;padding-top: 10px;}
.bs-footer p{margin-bottom: 0;}
.bs-footer p span{color: #428bca;margin-right: 15px;}
.bs-footer p span:last-child{margin-right: 0;}
/*列表*/
.bs-nav{padding:0;height:calc(100% - 95px);position: relative;}
/*折叠*/
.bs-warp{padding:0px ;position: relative;height:100%;transition: padding-left .5s;}
.bs-warp.fold{padding-left:40px;}
.bs-warp.fold .bs-aside{width:40px;}
.bs-warp.fold .bs-aside > ul > li > a .nav_icon + span,.bs-warp.fold .bs-aside > ul > li > dl{display: none;}
.bs-warp.fold .bs-aside > ul > li > a{padding-left: 8px;}
.bs-warp.fold .bs-footer{left:40px;}

.bs-warp2 .bs-header h1{text-shadow: none;}
.full .bs-footer{background: #000000;left: 0;}
.bs-warp2 .bs-aside{min-height: calc(100% - 60px);}
.bs-warp2 .bs-aside .bs-toggle{background: #040a1e;}
.bs-warp2 .header_list > li > div > span{background: #f39800;border-radius: 9px;}
.bs-warp2 .header_list > li:hover{background: #1a2746;}
.bs-warp2 .user_center:hover{background: #1a2746;}
.bs-warp2 .bs-aside > ul > li.layui-this > a,.bs-warp2 .bs-aside > ul > li:hover > a{background: #1a2746 !important;border-left: 3px solid #0f86ff;}
.bs-warp2 .bs-aside > ul > li > a,.bs-warp2 .bs-aside > ul > li > a{border-left-color:#0f86ff;}
.bs-warp2.bs-warp.fold .bs-aside > ul > li > a{padding-left: 5px;}

/*重写bootstrap*/
.row{margin-left: 0 !important;margin-right: 0 !important;}
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9{padding-left: 10px !important;padding-right: 10px !important;}
/*重写swiper*/
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{background-image:url("../images/prev_icon.png") !important; }
.swiper-button-next, .swiper-button-prev{width: 44px !important;background-size: 44px 44px !important;top: 40% !important;outline: none;}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{background-image:url("../images/next_icon.png") !important;}
/*重写layui*/
.layui-nav-tree{width: 100% !important;}
.layui-nav-tree .layui-nav-item{line-height: 48px !important;}
.layui-nav-tree .layui-nav-item a{height: 48px !important;}
.layui-nav-tree .layui-nav-bar{display: none !important;}
.layui-nav-tree .layui-nav-child a{padding-left: 44px !important;line-height: 48px !important;}
.layui-nav .layui-nav-item a{padding: 0 10px;}
.bs-warp2 .layui-nav-tree .layui-nav-child a:hover,.bs-warp2 .layui-nav-tree .layui-nav-child a.layui-this{background: #1a2746 !important;}
.bs-warp2 .layui-nav-tree .layui-nav-child dd.layui-this,.bs-warp2 .layui-nav-tree .layui-nav-child dd.layui-this a,
.bs-warp2 .layui-nav-tree .layui-this,.bs-warp2 .layui-nav-tree .layui-this>a,.bs-warp2 .layui-nav-tree .layui-this>a:hover{background: #1a2746 !important;}
