@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyCode = request("keyCode"); //编码
    var keyValue = request("keyValue"); //主键 隐患信息主键
    $(function () {
        GetEstimateGrid();
    });

    function GetEstimateGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#htextensionGridTable');
        $gridTable.jqGrid({
            url: "../../HiddenTroubleManage/HTExtension/GetListJson?keyValue=" + keyCode,
            datatype: "json",
            height: $(window).height() - 150,
            autowidth: true,
            colModel: [
                {
                    label: '操作', name: 'ID', index: 'ID', width: 120, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = "<a href=javascript:viewdata('" + rowObject.ID + "','" + rowObject.HIDCODE + "','" + rowObject.HANDLETYPE + "')  title='查看'><i class='fa fa-eye'></i></a>";
                        return html;
                    }
                },
                { label: '处理人', name: 'HANDLEUSERNAME', index: 'HANDLEUSERNAME', width: 150, align: 'center' },
                { label: '处理单位', name: 'HANDLEDEPTNAME', index: 'HANDLEDEPTNAME', width: 150, align: 'center' },
                {
                    label: '处理结果', name: 'POSTPONERESULT', index: 'POSTPONERESULT', width: 150, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = "";
                        if (rowObject.POSTPONERESULT == "1") {
                            html = "同意";
                        }
                        else if (rowObject.POSTPONERESULT == "0") {
                            html = "不同意";
                        }
                        else
                        {
                            html = "无";
                        }
                        return html;
                    }
                },
                {
                    label: '处理意见', name: 'POSTPONEOPINION', index: 'POSTPONEOPINION', width: 250, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = "";
                        if (rowObject.POSTPONERESULT == "1" || rowObject.POSTPONERESULT == "0") {
                            html = rowObject.POSTPONEOPINION;
                        }
                        else
                        {
                            html = "无";
                        }
                        return html;
                    }
                },
                {
                    label: '处理时间', name: 'HANDLEDATE', index: 'HANDLEDATE', width: 150, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = rowObject.HANDLEDATE.replace("00:00:00", "");

                        if (html.length > 10)
                        {
                            html = html.substring(0, 10);
                        }
                        return html;
                    }
                },
               {
                   label: '处理类型', name: 'HANDLETYPE', index: 'HANDLETYPE', width: 250, align: 'center',
                   formatter: function (cellvalue, options, rowObject) {
                       var html = "";
                       if (rowObject.HANDLETYPE == "0") {
                           html = "整改人申请";
                       }
                       else if (rowObject.HANDLETYPE == "1") {
                           html = "本部门负责人审核";
                       }
                       else {
                           html = "指定部门批复";
                       }
                       return html;
                   }
               },
            ],
            pager: false,
            rowNum: "30",
            sortname: 'HANDLEDATE',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            ondblClickRow: function (id) {

            }
        });
    }

    function viewdata(obj, cobj,htype) {
        dialogOpen({
            id: 'HTExtensionForm',
            title: '查看整改延期审批记录',
            url: '/HiddenTroubleManage/HTExtension/Form?keyID=' + obj + "&actiondo=view&keyCode=" + cobj + "&keyValue=" + keyValue + "&hType=" + htype,
            width: ($(top.window).width() - 200) + "px",
            height: '480px',
            btn: null
        });
    }
</script>

<div class="center-Panel" style="overflow-y: scroll; height: 600px; padding-top: 10px; ">
    <div class="panel-Title">整改延期申请审批/批复处理记录</div>
    <div class="gridPanel">
        <div style="margin-top: 20px; margin-left:10px;">
            <table id="htextensionGridTable"></table>
        </div>
    </div>
</div>
<style type="text/css">
    body {
        overflow: hidden;
    }
</style>