@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Jurisdiction</title>


    <script>

        var UserIds = request('userId');

        $(function () {
            initControl();
        })

        //初始化控件
        function initControl() {

        }


        //保存表单;
        function AcceptClick() {
            $.ajax({
                url: '../../PersonManage/PersonMg/IsHaveJurisdiction?userids=' + UserIds,
                type: "POST",
                async: true,
                dataType: "Json",
                success: function (result) {
                    if (result.UserImg != "") {
                        dialogMsg("用户考勤周期结束时间未设置【" + result.UserImg + "】", 2);
                        return false;
                    }
                    if (result.UserName != "") {
                        dialogMsg("临时表中找不到对应用户信息【" + result.UserName + "】", 2);
                        return false;
                    }
                    if (!$('#form1').Validform()) {
                        return false;
                    }
                    var postData = $("#form1").formSerialize(UserIds);
                    var res = "";
                    if (document.getElementById("Post1").checked) {
                        res += "一号岗" + ",";
                    }
                    if (document.getElementById("Post2").checked) {
                        res += "码头岗" + ",";
                    }
                    if (document.getElementById("Post3").checked) {
                        res += "三号岗" + ",";
                    }
                    if (document.getElementById("Post4").checked) {
                        res += "生活区岗";
                    }
                    if (res == "") {
                        dialogMsg("请至少选择一个通行岗！", 2);
                        return false;
                    }
                    postData["PassPost"] = res;
                    $.SaveForm({
                        url: "../../PersonManage/PersonMg/SaveUserJurisdiction",
                        param: { UserEntity: postData, userids: UserIds, type: "1" },
                        loading: "正在保存数据...",
                        close: true,
                        success: function () {
                            $.currentIframe().$("#gridTable").trigger("reloadGrid");
                        }
                    });
                }
            });
        }


    </script>

</head>




<body>
    <div >
        <div style="margin-top: 40px; margin-left: 69px; ">注：门岗处人脸识别权限与门禁卡权限一致。</div>
        <div class="bodyClass">

            <div style="float: left; height: 150px; margin-top: 78px; ">
                <span >
                    通行岗选择
                </span>

            </div>
            <div style="float: left; height: 200px; margin-left: 50px; margin-top: 32px; ">

                <table>
                    @*<tr>
                    <td rowspan="5">
                        通行岗选择
                    </td>
                </tr>*@
                    <tr>
                        <td class="formValue">
                            <input id="Post1" type="checkbox" />一号岗

                        </td>
                    </tr>
                    <tr>
                        <td class="formValue">
                            <input id="Post2" type="checkbox" />码头岗
                        </td>
                    </tr>

                    <tr>
                        <td class="formValue">
                            <input id="Post3" type="checkbox" />三号岗

                        </td>
                    </tr>

                    <tr>
                        <td class="formValue">
                            <input id="Post4" type="checkbox" />生活区岗
                        </td>
                    </tr>

                </table>
            </div>

           
        </div>
    </div>
</body>

</html>


<style>

    * {
        padding: 0px;
        margin: 0px;
        font-size: 15px;
    }

    .bodyClass {
        margin:10px;
    }

        .bodyClass table tr {
            width: 30px;
            height: 30px;
        }




</style>
