<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--框架必需start-->
    <script src="~/Content/scripts/jquery/jquery-1.10.2.min.js"></script>
    <link href="~/Content/styles/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/scripts/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Content/scripts/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!--框架必需end-->
    <!--bootstrap组件start-->
    <link href="~/Content/scripts/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/scripts/bootstrap/bootstrap.extension.css" rel="stylesheet" />
    <script src="~/Content/scripts/bootstrap/bootstrap.min.js"></script>
  
    <script src="~/Content/scripts/plugins/datepicker/WdatePicker.js"></script>
    @System.Web.Optimization.Styles.Render("~/Content/scripts/plugins/jqgrid/css",
    "~/Content/scripts/plugins/tree/css",
    "~/Content/scripts/plugins/datetime/css",
    "~/Content/scripts/plugins/wizard/css",
    "~/Content/styles/framework-ui.css")
    @System.Web.Optimization.Scripts.Render("~/Content/scripts/plugins/jqgrid/js",
    "~/Content/scripts/plugins/tree/js",
    "~/Content/scripts/plugins/validator/js",
    "~/Content/scripts/plugins/wizard/js",
    "~/Content/scripts/plugins/datepicker/js",
    "~/Content/scripts/utils/js")
    <script>

        $(function () {
            initControl();
        })
        //初始化控件
        function initControl() {
       
        }
        //保存表单
        function AcceptClick() {
            if ($("#file1").val().length > 0) {
                // alert($("#DepartmentId").attr('data-value'));
                $("#form1").attr("action", "ImportTempUserList");
                top.window.$(".layui-layer-btn0").hide();
                $.currentIframe().window.isImport = true;
                Loading(true, "请稍候,正在导入数据……");
                $("#form1").trigger("submit");

            }
            else {
                dialogMsg("请选择文件！", 2);
            }
        }
    </script>
</head>
<body>
    <form action="ImportUser" method="post" enctype="multipart/form-data" id="form1">
        <div class="row" style="margin:10px;">
            <div class="col-sm-12" style="margin-bottom:5px;">
                <strong>
                    <strong> 注：请上传指定格式的excel文件. <a target="_blank" href="../../Resource/ExcelTemplate/临时人员导入模板.xlsx" id="temp" style="color:blue; text-decoration:underline;">点击下载模板</a></strong><br />
                    1.请将一张或多张jpg人脸图片放入一个文件夹中。<br />
                    2.临时人员导入模板和人脸图片文件夹压缩在一个zip文件包中<br />
                    3.如果人脸图片已上传用户，会自动忽略。<br />
                    4.照片名称请改为人员录入时所填写手机号，填写错误或者手机号无对应人员则全部上传不成功，照片名称示例：18900558888.jpg
                </strong>
            </div>
            <div>
                <table class="form">
                    <tr>
                        <td class="formTitle">选择文件：<font face="宋体">*</font></td>
                        <td class="formValue">
                            <input type="file" id="file1" name="file1" class="form-control" />
                            <input type="hidden" id="FileName" name="FileName" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        @*防止跨站请求伪造*@
        @Html.AntiForgeryToken()
    </form>
</body>
</html>

