@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}

<script type="text/javascript">
    var keyValue = request("keyValue"); //主键 隐患信息主键
    $(function () {
        if (!!keyValue) {
            $.SetForm({
                url: "../../LllegalManage/LllegalApprove/GetEntityJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data.approveData); //绑定核准详情
                    $("#form1").formDeserialize(data.punishData); //绑定考核内容

                    if (!!data.approveData.APPROVERESULT)
                    {
                        //核准结果
                        if (data.approveData.APPROVERESULT == "1")
                        {
                            $("input[name='APPROVALRESULT']:eq(0)").prop("checked", "checked");  //完成
                        }
                        else {
                            $("input[name='APPROVALRESULT']:eq(1)").prop("checked", "checked"); //未完成
                            $(".form:eq(0) tr:eq(2) td:eq(0)").html("不通过原因"); //验收日期
                        }
                    }
                    
                }
            })
        }
    });

</script>

<div class="center-Panel" style="overflow-y: scroll; height: 600px;">
    <div style="margin-top: 5px;"></div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;违章核准详情</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <div style="margin-right:30px;">
                <table class="form">
                    <tr>
                        <td class="formTitle">核准人</td>
                        <td class="formValue">
                            <input id="APPROVEPERSON" class="form-control" placeholder="请选择核准人" errormsg="核准人" isvalid="yes" checkexpession="NotNull" disabled="disabled" />
                            <input id="APPROVEPERSONID" type="hidden" />
                            <input id="APPROVEID" type="hidden" />
                            <input id="APPROVEDEPTCODE" type="hidden" />
                            <input id="APPROVEDEPTNAME" type="hidden" />
                        </td>
                        <td class="formTitle">核准时间</td>
                        <td class="formValue">
                            <input id="APPROVEDATE" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" isvalid="yes" checkexpession="NotNull" errormsg="核准时间" disabled="disabled" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">核准结果</td>
                        <td class="formValue">
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="APPROVERESULT" id="APPROVERESULT1" value="1" checked="checked" disabled="disabled" />通过
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="APPROVERESULT" id="APPROVERESULT2" value="0" disabled="disabled" />不通过
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">核准意见</td>
                        <td class="formValue" colspan="3">
                            <textarea id="APPROVEREASON" class="form-control" checkexpession="NotNull" length="2000" errormsg="核准意见" disabled="disabled"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">违章责任人</td>
                        <td class="formValue">
                            <input id="PERSONINCHARGENAME" class="form-control" placeholder="请选择违章责任人" errormsg="违章责任人" isvalid="yes" checkexpession="NotNull" disabled="disabled" />
                            <input id="PERSONINCHARGEID" type="hidden" />
                            <input id="PUNISHID" type="hidden" />
                        </td>
                        <td class="formTitle">考核内容</td>
                        <td class="formValue">
                            <table>
                                <tr>
                                    <td>
                                        经济处罚
                                    </td>
                                    <td style="padding-left:5px;"><input id="ECONOMICSPUNISH" type="number" style="margin:0px auto; width: 80px" class="form-control" disabled="disabled" /></td>
                                    <td style="padding-left:5px;">元</td>
                                    <td style="padding-left:10px;"></td>
                                    <td>
                                        违章扣分
                                    </td>
                                    <td style="padding-left:5px;"><input id="LLLEGALPOINT" type="number" style="margin:0px auto; width: 80px" class="form-control" disabled="disabled" /></td>
                                    <td style="padding-left:5px;">分</td>
                                    <td style="padding-left: 10px;"></td>
                                    <td>
                                        待岗
                                    </td>
                                    <td style="padding-left:5px;"><input id="AWAITJOB" type="number" style="margin:0px auto; width: 80px" class="form-control" disabled="disabled" /></td>
                                    <td style="padding-left:5px;">月</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">
                            <span style="white-space:pre-wrap;">违章第一联责任人</span>
                        </td>
                        <td class="formValue">
                            <input id="FIRSTINCHARGENAME" class="form-control" placeholder="请选择违章第一联责任人" errormsg="违章第一联责任人" checkexpession="NotNull" disabled="disabled" />
                            <input id="FIRSTINCHARGEID" type="hidden" />
                        </td>
                        <td class="formTitle">考核内容</td>
                        <td class="formValue">
                            <table>
                                <tr>
                                    <td>
                                        经济处罚
                                    </td>
                                    <td style="padding-left:5px;"><input id="FIRSTECONOMICSPUNISH" type="number" style="margin:0px auto; width: 80px" class="form-control" disabled="disabled" /></td>
                                    <td style="padding-left:5px;">元</td>
                                    <td style="padding-left:10px;"></td>
                                    <td>
                                        违章扣分
                                    </td>
                                    <td style="padding-left:5px;"><input id="FIRSTLLLEGALPOINT" type="number" style="margin:0px auto; width: 80px" class="form-control" disabled="disabled" /></td>
                                    <td style="padding-left:5px;">分</td>
                                    <td style="padding-left: 10px;"></td>
                                    <td>
                                        待岗
                                    </td>
                                    <td style="padding-left:5px;"><input id="FIRSTAWAITJOB" type="number" style="margin:0px auto; width: 80px" class="form-control" disabled="disabled" /></td>
                                    <td style="padding-left:5px;">月</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">
                            <span style="white-space:pre-wrap;">违章第二联责任人</span>
                        </td>
                        <td class="formValue">
                            <input id="SECONDINCHARGENAME" class="form-control" placeholder="请选择违章第二联责任人" errormsg="违章第二联责任人" checkexpession="NotNull" disabled="disabled" />
                            <input id="SECONDINCHARGEID" type="hidden" />
                        </td>
                        <td class="formTitle">考核内容</td>
                        <td class="formValue">
                            <table>
                                <tr>
                                    <td>
                                        经济处罚
                                    </td>
                                    <td style="padding-left:5px;"><input id="SECONDECONOMICSPUNISH" type="number" style="margin:0px auto; width: 80px" class="form-control" disabled="disabled" /></td>
                                    <td style="padding-left:5px;">元</td>
                                    <td style="padding-left:10px;"></td>
                                    <td>
                                        违章扣分
                                    </td>
                                    <td style="padding-left:5px;"><input id="SECONDLLLEGALPOINT" type="number" style="margin:0px auto; width: 80px" class="form-control" disabled="disabled" /></td>
                                    <td style="padding-left:5px;">分</td>
                                    <td style="padding-left: 10px;"></td>
                                    <td>
                                        待岗
                                    </td>
                                    <td style="padding-left:5px;"><input id="SECONDAWAITJOB" type="number" style="margin:0px auto; width: 80px" class="form-control" disabled="disabled" /></td>
                                    <td style="padding-left:5px;">月</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="form-button" style=" top: 10px; text-align: left; padding-left: 20px; position: fixed; bottom: auto; z-index: 1000;">
    <div style="float:left;">
        &nbsp; &nbsp;
    </div>
    <div id="HidMessage" style="width:360px; margin-left:20px; float:left;"></div>
</div>
<style type="text/css">
    body {
        overflow: hidden;
    }
</style>