@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<script type="text/javascript">
    var keyValue = request("keyValue"); //主键 隐患信息主键
    $(function () {
        GetApproveGrid();
    });

    function GetApproveGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#approveGridTable');
        $gridTable.jqGrid({
            url: "../../LllegalManage/LllegalApprove/GetHistoryListJson?keyValue=" + keyValue,
            datatype: "json",
            height: $(window).height() - 300,
            autowidth: true,
            colModel: [
                {
                    label: '操作', name: 'ID', index: 'ID', width: 120, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = "<a href=javascript:Detail('" + rowObject.ID + "')  title='查看'><i class='fa fa-eye'></i></a>";
                        return html;
                    }
                },
                { label: '核准人', name: 'APPROVEPERSON', index: 'APPROVEPERSON', width: 150, align: 'center' },
                { label: '核准单位', name: 'APPROVEDEPTNAME', index: 'APPROVEDEPTNAME', width: 120, align: 'center' },
                {
                    label: '核准结果', name: 'APPROVERESULT', index: 'APPROVERESULT', width: 150, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = rowObject.APPROVERESULT == "1" ? "通过" : "不通过";
                        return html;
                    }
                },
                {
                    label: '核准时间', name: 'APPROVEDATE', index: 'APPROVEDATE', width: 150, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = "";
                        if (!!rowObject.APPROVEDATE)
                        {
                            html = rowObject.APPROVEDATE.replace("00:00:00", "");
                        }
                        return html;
                    }
                }
            ],
            pager: false,
            rowNum: "20",
            sortname: 'approvedate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            ondblClickRow: function (id) {

            }
        });
    }

    function Detail(keyValue) {
        dialogOpen({
            id: 'DetailForm',
            title: '违章核准详情',
            url: '/LllegalManage/LllegalApprove/Detail?keyValue=' + keyValue,
            width: ($(top.window).width() - 200) + "px",
            height: '680px',
            btn: null
        });
    }
</script>

<div class="center-Panel">
    <div style="margin-top: 10px;"></div>
    <div class="panel-Title">违章核准信息</div>
    <div class="gridPanel">
        <div style="margin-top: 20px; margin-left:10px;">
            <table id="approveGridTable"></table>
        </div>
    </div>
</div>
<style type="text/css">
    body {
        overflow: hidden;
    }
</style>