@{
    ViewBag.Title = "历史记录";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
<script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script src="~/Content/scripts/business/Common.js"></script>
<script src="~/Content/scripts/business/Grid.js"></script>
<script>
    var _parentId = "";
    var _isOrg = "";
    var IsDanger = "";
    //加载页面
    $(function () {
        //页面初始化
        InitialPage();
        //加载列表
        var arrCol = new Array();
        arrCol.push(
         {
             label: '操作', name: 'Oper', width: 150, align: 'center', formatter: function (cellvalue, options, rowObject) {
                 var html = "";
                  html += "<a href=javascript:Action('delete') style='color:blue; text-decoration:underline'  title='删除'><i class='fa fa-trash-o'></i></a>";
                  html += "<a href=javascript:DialogOpenShow('/HazardsourceManage/History/HistoryRecord?historyId=" + rowObject.id + "&dangersourcename=" + rowObject.dangersourcename + "','查看历史记录','',''," + true + ") style='color:blue; text-decoration:underline'  title='查看'><i class='fa fa-eye'></i></a>";
                  return html;
             }
         },
        { label: '主键', name: 'id', index: 'id', align: 'center', sortable: true, hidden: true },
        { label: '危险源辨识评估清单名称', name: 'dangersourcename', index: 'dangersourcename', align: 'center', sortable: true },
        {
            label: '设为历史记录时间', name: 'createdate', index: 'createdate', align: 'center', sortable: true, formatter: function (cellvalue, options, rowObject) {
                return formatDate(cellvalue, 'yyyy-MM-dd hh:mm:ss');
            }
        },
        { label: '设为历史记录人员', name: 'createusername', index: 'createusername', align: 'center', sortable: true });
        GetGrid("../../HazardsourceManage/History/GetPageListJson", arrCol, "desc", "createdate", false, false, $(window).height() - 170, 40)
    });
    //初始化页面
    function InitialPage() {
        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 108.5);
            }, 200);
            e.stopPropagation();
        });
    }

    //加载搜索条件
    function GetQueryJson() {
        var queryJson = {
            TimeStart: $("#TimeStart").val(),
            TimeEnd: $("#TimeEnd").val(),
            DangerSourceName: $("#txtDangerSourceName").val(),
            IsDanger: IsDanger,
            code: _parentId,
            isOrg: _isOrg
        }
        return queryJson;
    }

    //平台导入
    function ImportForPlamt() {
        var keyValue = "";
        $.ConfirmAjax({
            msg: "确定导入平台数据吗？",
            url: '../../HazardsourceManage/Hazardsource/ImportForPlamt',
            param: { keyValue: keyValue },
            success: function (data) {
                $('#gridTable').trigger('reloadGrid');
            }
        })

    }
    //仅查看重大危险源
    function searchIsDanger() {
        IsDanger = "1";
        var $gridTable = $('#gridTable');
        var queryJson = GetQueryJson();
        $gridTable.jqGrid('setGridParam', {
            postData: { queryJson: JSON.stringify(queryJson) }, page: 1
        }).trigger('reloadGrid');

    }
    //设为历史记录
    function SetHistory() {
        var queryJson = GetQueryJson();
        $.ConfirmAjax({
            msg: "确定设为历史记录吗？",
            url: '../../HazardsourceManage/Hazardsource/SetHistory',
            param: { queryJson: JSON.stringify(queryJson) },
            success: function (data) {
                $('#gridTable').trigger('reloadGrid');
            }
        })
    }
</script>

<div class="titlePanel">
    <div class="title-search">
        <table>
            <tr>
                <td>查询条件</td>
                <td style="padding-left: 10px;">
                    <div class="ui-filter" style="width: 200px;">
                        <div class="ui-filter-text">
                            <input id="see" type="hidden" />
                            请选择过滤条件
                        </div>
                        <div class="ui-filter-list" style="width: 350px;">
                            <table class="form" id="filter-form" style="margin-left:-20%">
                                <tr>
                                    <td style="float: right; ">时间范围：</td>
                                    <td class="formValue">
                                        <div style="float: left; ">
                                            <input id="TimeStart" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td style="float:right; "></td>
                                    <td class="formValue">
                                        <div style="float: left;">
                                            <input id="TimeEnd" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="float: right; ">清单名称：</td>
                                    <td class="formValue">
                                        <input id="txtDangerSourceName" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 180px;" />
                                    </td>
                                </tr>
                            </table>
                            <div class="ui-filter-list-bottom">
                                <a id="btn_Search" class="btn btn-primary">&nbsp;查&nbsp;&nbsp;询</a>

                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>



    <div class="toolbar">

        <div class="btn-group">
            <a class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>刷新</a>
        </div>

    </div>
</div>
<div class="gridPanel">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>
