@{
    ViewBag.Title = "Leave";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script type="text/javascript" src="~/content/scripts/business/common.js"></script>
<script type="text/javascript">
    var keyValue = request('keyValue');
    var specialequipmentid = request('specialequipmentid');

    $(function () {
        initControl();
    });

    //初始化控件
    function initControl() {
        //获取表单
        if (!!keyValue) {
            //$.SetForm({
            //    url: "../../PersonManage/blacklist/GetFormJson",
            //    param: { keyValue: keyValue },
            //    success: function (data) {

            //        $("#form1").formDeserialize(data);

            //        var users = $.currentIframe().window.$('#gridTable').jqGridRowValue('realname');
            //        users = users.replace('<div class="blacklist" title="黑名单用户">', "");
            //        $("#UserName").val(users.replace('</div>', ''));
            //        $("#UserId").val($.currentIframe().window.$('#gridTable').jqGridRowValue('userid'));
            //    }
            //})
        } else {

            $("#SpecialEquipmentId").val(specialequipmentid);
            var data = $.currentIframe().window.$("#gridTable");
            if (data.jqGridRowValue("id").length > 0) {
                $("#SpecialEquipmentId").val(data.jqGridRowValue("id"));
                $("#SpecialEquipmentName").val(data.jqGridRowValue("normalequipmentname"));
            }


        }
    }
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        dialogConfirm("确认离厂吗？", function (isSure) {
            if (isSure) {
                $.SaveForm({
                    url: "../../EquipmentManage/SpecialEquipment/Leave",
                    param: { leaveTime: $("#LeaveTime").val(), specialequipmentId: $("#SpecialEquipmentId").val(), DepartureReason: $("#DepartureReason").val() },
                    loading: "正在处理...",
                    success: function (data) {
                        $.currentIframe().window.$("#gridTable").trigger("reloadGrid");
                    }
                })
            }

        });

    }

    //
</script>
<div style="margin-top: 20px; margin-right: 10px;">
    <div class="row">
        <div class="col-sm-4 control-label">离厂设备<font face="宋体" style="color:red;">*</font>：</div>
        <div class="col-sm-8">
            <div class="input-group">
                <textarea id="SpecialEquipmentName" class="form-control" isvalid="yes" checkexpession="NotNull" rows="2" readonly="readonly"></textarea>
                <input type="hidden" id="SpecialEquipmentId" />
                <span id="userselect" class="input-group-addon" onclick="selectEquipment(window.document.body, 'SpecialEquipmentId,SpecialEquipmentName', '1&type=special&userIds=normal')" title="选择特种设备">...</span>
            </div>

        </div>
    </div>
    <div class="row" style="margin-top:10px;">
        <div class="col-sm-4 control-label">离厂时间<font face="宋体" style="color:red;">*</font>：</div>
        <div class="col-sm-8">
            <input id="LeaveTime" type="text" class="form-control input-wdatepicker" value="@DateTime.Now.ToString("yyyy-MM-dd")" onfocus="WdatePicker()" isvalid="yes" checkexpession="NotNull" />

        </div>
    </div>
    <div class="row" style="margin-top:10px;">
        <div class="col-sm-4 control-label">离厂原因：</div>
        <div class="col-sm-8">
            <input id="DepartureReason" type="text" class="form-control" maxlength="200" />

        </div>
    </div>
</div>
