@{;
ViewBag.Title = "列表页面";
    //Layout = "~/Views/Shared/_Index.cshtml";
}

<link rel="stylesheet" href="~/Content/scripts/plugins/zTree/css/demo.css" type="text/css">
<link rel="stylesheet" href="~/Content/scripts/plugins/zTree/css/metroStyle/metroStyle.css" type="text/css">
<script type="text/javascript" src="~/Content/scripts/jquery/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="~/Content/scripts/utils/framework-ui.js"></script>
<script type="text/javascript" src="~/Content/scripts/plugins/zTree/js/jquery.ztree.core.js"></script>
<script type="text/javascript" src="~/Content/scripts/plugins/zTree/js/jquery.ztree.excheck.js"></script>
<script type="text/javascript" src="~/Content/scripts/plugins/zTree/js/jquery.ztree.exedit.js"></script>

<script type="text/javascript">

    var setting = {
        async: {
            enable: true,
            url: "../../EquipmentManage/Equipment/GetRemoteEquipmentTreeJson",
            autoParam: ["id", "name=n", "level=lv"],
            otherParam: { "otherParam": "zTreeAsyncTest" },
            type: "get",
            dataType: "json",
            dataFilter: filter
        },
        callback: {
            onClick: nodeClick
        }
    };

    function nodeClick(event, treeId, treeNode, clickFlag) {
        $("#equName").val(treeNode.name);
        $("#equId").val(treeNode.id);
        $("#equCode").val(treeNode.code);
    }

    function filter(treeId, parentNode, childNodes) {
        if (!childNodes) return null;
        for (var i = 0, l = childNodes.length; i < l; i++) {
            childNodes[i].name = childNodes[i].name.replace(/\.n/g, '.');
        }
        return childNodes;
    }

    $(document).ready(function () {
        $.fn.zTree.init($("#treeDemo"), setting);
    });


    function AcceptClick(winObject, domId) {
        if (!!$("#equId").val()) {
            var devicename = $("#equName").val();
            var deviceid = $("#equId").val();
            var devicecode = $("#equCode").val();

            var ids = domId.split(',');
            var selVal = new Array(devicename, deviceid, devicecode);

            for (var j = 0; j < ids.length; j++) {
                if (ids[j].length >= 0) {
                    if (!!ids[j]) {
                        //此处为用户账号，要获取对应的用户id
                        var dom = $(winObject).find("#" + ids[j]).eq(0);
                        if (dom != undefined) {
                            dom.val(selVal[j]);
                           // $(dom).attr("disabled", "disabled");
                        }
                    }
                }
            }
        }
        else {
            dialogAlert("请选择设备!", 2);
            return;
        }
        dialogClose();
    }
</script>
<div class="gridPanel">
    <ul id="treeDemo" class="ztree"></ul>
    <input type="hidden" id="equId" />
    <input type="hidden" id="equName" />
    <input type="hidden" id="equCode" />
</div>

