@{
    ViewBag.Title = "工作流节点设置";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<link href="~/Content/styles/framework-ckbox-radio.css" rel="stylesheet" />
<link href="~/Content/styles/framework-flow.css" rel="stylesheet" />
<script>
    var node, nodelist = [], frmContentJson, frmType, NodePramData;
    $(function () {
        initLoadPageData();
        initControl();
    })
    //初始化控件
    function initControl() {
        $("#ModuleName").ComboBox({
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            param: { EnCode: "OutProcessManagement" },
            id: "ItemValue",
            text: "ItemName",
            description: "==请选择==",
            height: "200px"
        })
    }
    function initLoadPageData() {
        var _FlowDesignObject = top.FlowDesign.FlowDesignObject;
        node = _FlowDesignObject.$nodeData[_FlowDesignObject.$focus];
        node.id = _FlowDesignObject.$focus;
        for (var i in _FlowDesignObject.$nodeData) {
            _FlowDesignObject.$nodeData[i]["id"] = i;
            nodelist.push(_FlowDesignObject.$nodeData[i]);
        }
    }
    //保存字段设置
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var baseinfo = $("#form1").formSerialize();
        baseinfo["NodeCode"] = $("#ModuleName").attr("data-value");
        baseinfo["NodeName"] = $("#ModuleName").attr("data-text");
        top.FlowDesign.callBackNode(node.id, baseinfo, NodePramData);
        dialogClose();
    }
</script>
    <div style="margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle">关联模块名称<font face="宋体">*</font></td>
            <td class="formValue">
                <div id="ModuleName" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
            </td>
        </tr>
    </table>
</div>

<style>
    .standtab-pane {
        width:224px;
        border-right:1px solid #ccc;
        float:left;
    }
</style>
