@{;
ViewBag.Title = "列表页面";
Layout = "~/Views/Shared/_Index.cshtml";
}
<script>

    var roleNames = "@ERCHTMS.Code.OperatorProvider.Provider.Current().RoleName";
    var currDeptId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptId";
    var pageType = request('pageType');

    $(function () {
        InitialPage();
        GetGrid();
    });
    //初始化页面
    function InitialPage() {
        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 136.5);
            }, 200);
            e.stopPropagation();
        });
    }
    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        var queryJson = {
            pageType: pageType
        }
        var colModel = [
                { label: 'ID', name: 'id', index: 'ID', width: 50, align: 'center', sortable: false, hidden: true },
                {
                    label: '外包工程名称', name: 'engineername', width: 180, align: 'center', sortable: false, formatter: function (cellvalue, options, rowObject) {
                        var html = "<a href=javascript:showProject('" + rowObject.id + "')  style='text-decoration:underline;color:blue;' >" + cellvalue + "</a>";
                        return html;
                    }
                },
                { label: '工程类型', name: 'engineertype', width: 100, align: 'center', sortable: false },
                { label: '工程风险等级', name: 'engineerlevel',  width: 120, align: 'center', sortable: false },
                {
                    label: '外包单位', name: 'outprojectname', width: 180, align: 'center', sortable: false, formatter: function (cellvalue, options, rowObject) {
                        var html = "<a href=javascript:showUnit('" + rowObject.unitid + "')  style='text-decoration:underline;color:blue;' >" + cellvalue + "</a>";
                        return html;
                    }
                },
                  { label: '外包单位工程负责人', name: 'engineerdirector', width: 120, align: 'center', sortable: false },
                  { label: '外包单位工程负责人电话', name: 'engineerdirectorphone', width: 120, align: 'center', sortable: false },
                  { label: '责任部门', name: 'engineerletdept', width: 120, align: 'center', sortable: false },
                  { label: '责任负责人', name: 'engineerletdept',  width: 120, align: 'center', sortable: false },
                  { label: '责任负责人电话', name: 'engineerletpeoplephone',  width: 120, align: 'center', sortable: false },
                { label: '创建时间', name: 'createdate', index: 'createdate', width: 20, align: 'center', sortable: true, hidden: true }
        ];
        switch (pageType) {
            case "1"://保证金
                colModel.push({ label: '缴纳金额', name: 'paymentmoney', width: 120, align: 'center', sortable: false });
                colModel.push({ label: '缴纳状态', name: 'mid', width: 120, align: 'center', sortable: false });
                break;
            case "2"://合同
                colModel.push({ label: '合同签订情况', name: 'cid', width: 120, align: 'center', sortable: false });
                break;
            case "3"://协议
                colModel.push({ label: '安全管理协议签订协议', name: 'pid', width: 120, align: 'center', sortable: false });
                break;
            case "4"://安全技术交底
                colModel.push({ label: '安全交底情况', name: 'kid', width: 120, align: 'center', sortable: false });
                break;
            default:
        }
        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() - 160,
            url: "../../OutsourcingProject/Outsouringengineer/GetIndexToList",
            postData: { queryJson: JSON.stringify(queryJson) },
            datatype: "json",
            colModel: colModel,
            viewrecords: true,
            rowNum: 15,
            rowList: [15, 30, 50, 100],
            pager: "#gridPager",
            sortname: 'createdate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);
            }
        });


        //查询事件
        $("#btn_Search").click(function () {
            var queryJson = {
                pageType: pageType
            }
            $gridTable.jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify(queryJson) }, page: 1
            }).trigger('reloadGrid');
        });
    }
    function showProject(id) {
        var keyValue = id;
        if (checkedRow(keyValue)) {
            var dlg = dialogOpen({
                id: 'Form',
                title: '查看外包工程信息',
                url: '/OutsourcingProject/Outsouringengineer/Form?keyValue=' + keyValue + "&mode=view",
                width: ($(top.window).width() - 200) + "px",
                height: ($(top.window).height() - 200) + "px",
                btn: ["关闭"],
                callBack: function (iframeId) {
                    top.layer.close(dlg);
                }
            })
        }
    }
    function showUnit(id) {
        var keyValue = id;
        if (checkedRow(keyValue)) {
            var dlg = dialogOpen({
                id: 'Form',
                title: '查看外包单位基础信息',
                url: '/OutsourcingProject/Outsourcingproject/Form?keyValue=' + keyValue + "&mode=info",
                width: ($(top.window).width() - 600) + "px",
                height: ($(top.window).height() - 300) + "px",
                btn: ["关闭"],
                callBack: function (iframeId) {
                    top.layer.close(dlg);
                }
            })
        }
    }

</script>
<div class="titlePanel">
    <div class="title-search">
    </div>
    <div class="toolbar">
        <div class="btn-group">

        </div>
    </div>
</div>
<div class="gridPanel">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>
