@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<style>
    .tdleft {
        text-align: left;
    }
</style>
<div style="margin-top: 20px; margin-right: 30px;">

    <div class="panel panel-default">
    
        <div class="panel-body">
            <p>
                1、一级安全风险（高度风险）：总投资在500万元及以上的工程；同一时刻施工现场人员数量在30人及以上的工程；作业过程存在高风险，不加控制可能发生特别重大事故的工程（如：锅炉酸洗、油罐清洗、环保设施防腐、锅炉本体内检修、烟囱防腐等）。
            </p>
            <p>
                2、二级安全风险（显著风险）：总投资在500万元以下100万元及以上的工程；同一时刻施工现场人员数量在30人以下10人及以上的工程；不加控制可能发生较大及以上事故的工程（如：脚手架或临时检修平台上作业、大型起吊作业、防火重点部位或场所的作业、高温高压设备上作业、土石方工作、转动设备附近、受限空间内部、电气设备附近、高温高压设备附近等区域作业）。
            </p>
            <p>
                3、三级安全风险（一般风险）：总投资在100万元以下的工程；同一时刻施工现场人员数量在10人以下的工程；作业过程存在较低的安全风险，不加控制可能发生一般及以上事故的工程（如：已停运单一设备的安装、检修、改造、调试）。
            </p>
        </div>
    </div>

</div>
