@{
    ViewBag.Title = "新闻管理";
    Layout = "~/Views/Shared/_Form.cshtml";
}
@*<link href="~/Content/scripts/plugins/simditor/css/simditor.css" rel="stylesheet" />
<script src="~/Content/scripts/plugins/simditor/js/module.min.js"></script>
<script src="~/Content/scripts/plugins/simditor/js/uploader.min.js"></script>
<script src="~/Content/scripts/plugins/simditor/js/hotkeys.min.js"></script>
<script src="~/Content/scripts/plugins/simditor/js/simditor.min.js"></script>*@
<script src="~/Content/scripts/plugins/ckeditor/ckeditor.js"></script>
<script>
    var keyValue = request('keyValue');
    var category = request('category');
    var editor = null;
    $(function () {
         
        CKEDITOR.replace('NewsContent');
        initControl();
    })
    //初始化控件
    function initControl() {
        //栏目
        $("#Category").ComboBox({
            param: { EnCode: "NewsCategory" },
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            description: "==请选择==",
            id: "ItemValue",
            text: "ItemName",
            height: "230px"
        });
        //获取表单
        if (!!keyValue) {
            editor = CKEDITOR.instances.NewsContent;
            $.SetForm({
                url: "../../PublicInfoManage/News/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                    editor.insertHtml(data.NewsContent);
                }
            });
        } else {
            $("#Category").ComboBoxTreeSetValue(category);
        }
    }
    //保存表单
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        editor = CKEDITOR.instances.NewsContent;
        var postData = {
            FullHead: $("#FullHead").val(),
            Category: $("#Category").attr('data-value'),
            ReleaseTime: $("#ReleaseTime").val(),
            AuthorName: $("#AuthorName").val(),
            CompileName: $("#CompileName").val(),
            TagWord: $("#TagWord").val(),
            Keyword: $("#Keyword").val(),
            NewsContent: editor.getData()
        }
        $.SaveForm({
            url: "../../PublicInfoManage/News/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }
</script>  
<div style="margin: 10px;">
    <table class="form" style="table-layout: auto;width:100%">
        <tr>
            <td class="formTitle" style="width:100px;">标题<font face="宋体">*</font></td>
            <td class="formValue" colspan="3">
                <input id="FullHead" type="text" class="form-control" placeholder="请输入标题" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <td class="formTitle" style="width:100px;">栏目<font face="宋体">*</font></td>
            <td class="formValue" style="width:400px;">
                <div id="Category" type="select" class="ui-select" style="width:350px;"></div>
            </td>
            <td class="formTitle" style="width:120px;">发布时间<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="ReleaseTime" type="text" class="form-control" value="@BSFramework.Util.Time.GetToday("yyyy/MM/dd HH:mm")" />
            </td>
        </tr>
        <tr>
            <td class="formTitle" style="width:100px;">作者<font face="宋体">*</font></td>
            <td class="formValue" style="width:400px;">
                <input id="AuthorName" type="text" class="form-control" placeholder="请输入作者" isvalid="yes" checkexpession="NotNull" />
            </td>
            <td class="formTitle" style="width:120px;">编辑<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="CompileName" type="text" class="form-control" placeholder="请输入编辑" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <td class="formTitle" style="width:100px;">Tag标签</td>
            <td class="formValue" style="width:400px;">
                <input id="TagWord" type="text" class="form-control" placeholder="多个标签之间用“,”分隔，最多不超过10个" />
            </td>
            <td class="formTitle" style="width:120px;">关键字</td>
            <td class="formValue">
                <input id="Keyword" type="text" class="form-control" placeholder="多个关键字之间用“,”分隔，最多不超过10个" />
            </td>
        </tr>
        <tr>
            <th class="formTitle" valign="top" style="padding-top: 4px;">内容</th>
            <td class="formValue" colspan="3">
                <textarea id="NewsContent" class="form-control" rows="5" name="NewsContent"></textarea>
            </td>
        </tr>
    </table>
</div>
