/* 分布图样式 */
.contentBox{
  box-sizing: border-box;
  padding-left: 80px;
  padding-bottom: 30px; 
}
.svgBox{
  width: 1504px;
  height: 858px;  
  margin: 0 auto;
  position: relative;
}
.mainbg{
  width: 100%;
  height: 100%; 
  border: 0;
}
.content{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /* background: url('./img/bg.jpg') no-repeat; */
    position: absolute;
    color: #000;
    left: 0;
    top: 0;
}
.content .instruct_section{
  position: absolute;
  right: 20px;
  bottom: 236px;
} 
.instruct_section h3{
  height: 188px;
  line-height: 188px;
  font-size: 34px;
  font-weight: bold;
  color: #333;
}
.warning-section{
  padding-left: 18px;
}
.riskul1{
  float: left;
  width: 272px;
}
.riskul2{
  margin-top: 40px;
  float: left;
  width: 190px;
}
.riskul1 li,.riskul2 li{
  height: 20px;
  line-height: 20px;
  margin-bottom: 18px;
  vertical-align: middle;
}
.riskul1 li span{
    float: left;
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 17px;
}
.riskul2>li:nth-child(1) {
  padding-left: 38px;
  background: url(../images/danger2.png) no-repeat left center;
}
.riskul2>li:nth-child(2) {
  padding-left: 38px;
  background: url(../images/danger.png) no-repeat left center;
}
.content>div:hover>ul{
  display: block;
}
.content .itemul{
  position: absolute;
  top: 0;
  right: -120px;
  width: 120px;
  z-index: 2;
  background-color: pink;
  display: none;
}
.content .itemuls{  
  right: 0;
  left: -120px;
}
.content>div{
  position: absolute;
}
.newIcon{
  display: block;
  width: 20px;
  height: 20px;
  background-size: 100% 100%;
  position: absolute;
  left: 90%;
  top: 85%;
  transform: translate(-50%, -50%);
}
.importAccident{
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 85%;
  left: 10%;
  transform: translate(-50%, -50%);
  background: url(../images/danger2.png) no-repeat;
  background-size: contain;
}


/* 弹窗样式 */
.pop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
  display: none;
}
.pop-conetent {
  width: 930px;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: #fff;
  border-radius: 8px;
}
.pop-header {
  height: 48px;
  font-size: 18px;
  color: #333;
  padding: 0 20px;
}
.pop-header h3 {
  line-height: 64px;
  font-size: 18px;
  color: #333;
  font-weight: bold;
}
.pop-header span {
  margin-top: 10px;
  cursor: pointer;
}
.import-pop-content .pop-main {
  padding: 0 20px 20px;
}
/* 按钮入口 */
.area-sectionBox{
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  flex-flow: wrap;
  min-height: 80px;
  border-bottom: 1px solid #f2f2f2;
  /* padding-bottom: 16px; */
  padding: 0 20px 16px;
}
.area-sectionBox li{
  width: 140px;
  height: 50px;
  line-height: 50px;
  background-color: #165ed6;
  border-radius: 8px;
  text-align: center;
  margin-right: 37px;
  margin-bottom: 30px;
}
.area-sectionBox li:nth-of-type(5n){
  margin-right: 0;
}
.area-sectionBox li.active{
  background-color: #3e87ff;
}
.area-sectionBox li a{
  display: block;
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: #fff;
  /* font-weight: bold; */
}
.warning-area{
  padding: 28px 0 0 28px;
}
.warning-area .risk-item{
    display: block;
}
.warning-area .risk1{
  width: 600px;
  float: left;
}
.warning-area .risk2{
  width: 200px;
  float: left;
}
.risk1>li,.risk2>li{
  float: left;
  /* width: 50%; */
  height: 20px;
  font-size: 16px;
  color: #333;
  line-height: 20px;
  margin-bottom: 25px;
}
.risk1>li{
  width: 50%;
}
/* .risk1 .risk-item-last{
  width: 210px;
} */
.risk1>li>span{
  float: left;
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 17px;
}
.redColor{
  background-color: #ff0000;
}
.orangeColor{
  background-color: #f27e18;
}
.yellowColor{
  background-color: #fff100;
}
.blueColor{
  background-color: #1186f2;
}
.risk2>li{
  float: left;
  font-size: 16px;
  padding-left: 38px;
}
.risk2>li:nth-child(3){
  width: 165px;
}
.risk2>li:nth-child(1){
  background: url('../images/danger2.png') no-repeat left center;
}
.risk2>li:nth-child(2){
  background: url('../images/danger.png') no-repeat left center;
}
.risk2>li:nth-child(3){
  background: url('../images/danger2.png') no-repeat left center;
}
.detailnum{
  color: #eb3838;
  cursor: pointer;
}
.detailnum:hover{
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.msgnum{
  margin-left: 15px;
  color: #1c50c4;
  cursor: pointer;
}
.msgnum:hover{
  opacity: 0.6;
  filter: alpha(opacity=60);
}

/* 弹窗表格区域 */
.highrisk-section{
  margin-top: 13px;
}
.highriskTable{
max-height: 295px;
overflow-y: auto;
display: inline-block;
  width: 100%;
  table-layout: fixed;
  border-collapse:separate;
  text-align: center;
  border-spacing: 0;
  position: relative;
  z-index: 11;
 }
 .highrisktab td{
   padding: 0 3px;
 }
 .highriskTable tr{
     height: 40px;
     /* line-height: 40px; */
 }
 .highriskTable tr th{
   font-weight: bold;
 }
 .highriskTable td{
     /* overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap; */
 }
 .highriskTable tr:first-child th:first-child{
      border-top-left-radius: 8px;         
 }
 .highriskTable tr:first-child th:last-child{
      border-top-right-radius: 8px;
 }
 .highriskTable tr:last-child td:last-child{
     border-bottom-right-radius: 8px;
 }
 .highriskTable tr:last-child td:first-child{
     border-bottom-left-radius: 8px;
 }
 .highriskTable tr:nth-of-type(2n){
     background: #e2e2e2;
 }
 .highriskTable tr:nth-of-type(2n+1){
  background: #fafafa
 }


/* 区域定位 */
.index-1{
  left: 237px;
  top: 260px;
  cursor: pointer;
}

.index-2{
  left: 303px;
  top: 285px;
  cursor: pointer;
}

.index-3{
  left: 2px;
  top: 110px;
  cursor: pointer;
}

.index-4{
  left: 386px;
  top: 285px;
  cursor: pointer;
}
.newIcon-4{
  top: 50%;
}
.importAccident-4{
  top: 50%
}

.index-5{
  left: 477px;
  top: 529px;
  cursor: pointer;
}

.index-6{
  left: 2px;
  top: 173px;
  cursor: pointer;
}

.index-7{
  left: 236px;
  top: 295px;
  cursor: pointer;
}

.index-8{
  top: 109px;
  left: 646px;
  cursor: pointer;
}

.index-9{
  left: 800px;
  top: 110px;
  cursor: pointer;
  z-index: 2;
}

.index-10{
  left: 476px;
  top: 285px;
  cursor: pointer;
}

.index-11{
  left: 800px;
  top: 15px;
  cursor: pointer;
}

.index-12{
  left: 645px;
  top: 259px;
  cursor: pointer;
}
.newIcon-12{
  left: 68%;
}

.index-13{
  left: 305px;
  top: 260px;
  cursor: pointer;
}

.index-14{
  left: 2px;
  top: 674px;
  cursor: pointer;
}

.index-15{
  left: 236px;
  top: 530px;
  cursor: pointer;
}

.index-16{
  left: 236px;
  top: 109px;
  cursor: pointer;
}

.index-17{
  left: 330px;
  top: 530px;
  cursor: pointer;
}

.index-18{
  left: 236px;
  top: 747px;
  cursor: pointer;
}