@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>
<script>
    var keyValue = request('keyValue');
    $(function () {
        initControl();
    });
    //初始化控件
    function initControl() {
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../RoutineSafetyWork/UserGroupManage/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                }
            })
        }
    }
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize(keyValue);
        $.SaveForm({
            url: "../../RoutineSafetyWork/UserGroupManage/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }
</script>
<div style="margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle">用户组名称<font face="宋体">*</font></td>
            <td class="formValue" style="width:300px;">
                <input id="UserGroupName" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" style="width:300px;" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">选择成员<font face="宋体">*</font></td>
            <td class="formValue">
                <textarea id="UserName" class="form-control" readonly isvalid="yes" checkexpession="NotNull" style="width:300px;height:200px;" onclick="selectUser({ deptId: '', userIds: 'yhz', checkMode: 1, mode: 0, winObject: window.document.body, domId: 'UserName,,UserId' });"></textarea>
                <input id="UserId" type="hidden" />
            </td>
            @*<td>
                <input type="button" value="更多" style="margin-left:20px;" />
            </td>*@
        </tr>
    </table>
</div>
