@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>
<script type="text/javascript">
    var keyValue = request('keyValue');
    var actiontype = request('actiontype');
    $(function () {
        initControl();

        if (actiontype == "view") {
            $("#form1 input,textarea , .ui-select, .ui-select-text , .ui-select-option-content").each(function (ele, index) {
                $(this).attr("disabled", "disabled");
            });
            $("#form1 input,textarea , .ui-select, .ui-select-text , .ui-select-option-content").each(function (ele, index) {
                $(this).attr("readonly", "readonly");
            });
        }
    });
    //初始化控件
    function initControl() {
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../AuthorizeManage/ModuleListColumnAuth/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                }
            })
        }
    }
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize(keyValue);
        $.SaveForm({
            url: "../../AuthorizeManage/ModuleListColumnAuth/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }
</script>
<div style="margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle">模块名称<span style="color:red;">*</span></td>
            <td class="formValue">
                <input id="MODULENAME" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" errormsg="模块名称" readonly onclick="selectModule('', 0, 0, '选择功能模块', window.document.body, 'MODULENAME,MODULEID','')" />
                <input type="hidden" id="MODULEID" />
                <input type="hidden" id="LISTTYPE" value="0" />
            </td>
            <td class="formTitle">列表主键<span style="color:red;">*</span></td>
            <td class="formValue">
                <input id="LISTKEYFIELD" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" errormsg="列表主键" />
            </td>
        </tr>
        <tr>
            <td class="formTitle"><span style="white-space:pre-wrap;">列表中的列名集合项</span><span style="color:red;">*</span> </td>
            <td class="formValue" colspan='3'>
                <textarea id="LISTCOLUMNNAME" class="form-control" rows="6" isvalid="yes" checkexpession="NotNull" errormsg="列表中的列名集合项"></textarea>
            </td>
        </tr>
        <tr>
            <td class="formTitle"><span style="white-space:pre-wrap;">列表中的列字段集合项</span><span style="color:red;">*</span> </td>
            <td class="formValue" colspan='3'>
                <textarea id="LISTCOLUMNFIELDS" class="form-control" rows="6"  isvalid="yes" checkexpession="NotNull" errormsg="列表中的列字段集合项"></textarea>
            </td>
        </tr>
        <tr>
            <td class="formTitle"><span style="white-space:pre-wrap;">默认列表中的列名集合项</span><span style="color:red;">*</span> </td>
            <td class="formValue" colspan='3'>
                <textarea id="DEFAULTCOLUMNNAME" class="form-control" rows="6"  isvalid="yes" checkexpession="NotNull" errormsg="默认列表中的列名集合项"></textarea>
            </td>
        </tr>
        <tr>
            <td class="formTitle"><span style="white-space:pre-wrap;">默认列表中的列字段集合项</span><span style="color:red;">*</span> </td>
            <td class="formValue" colspan='3'>
                <textarea id="DEFAULTCOLUMNFIELDS" class="form-control" rows="6" isvalid="yes" checkexpession="NotNull" errormsg="默认列表中的列字段集合项"></textarea>
            </td>
        </tr>
        <tr>
            <td class="formTitle">备注</td>
            <td class="formValue" colspan='3'>
                <textarea id="REMARK" class="form-control" rows="3"></textarea>
            </td>
        </tr>
    </table>
</div>