@{;
ViewBag.Title = "列表页面";
Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script type="text/javascript">
    $(function () {
        InitialPage();
        GetGrid();
    });
    //初始化页面
    function InitialPage() {
        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 108.5);
            }, 200);
            e.stopPropagation();
        });
    }
    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;

        var queryJson = {
            modulename: $("#txt_Keyword").val(),
            type: 0
        };
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() - 108.5,
            url: "../../AuthorizeManage/ModuleListColumnAuth/GetListByType",
            postData: { queryJson: JSON.stringify(queryJson) },
            datatype: "json",
            colModel: [
                { label: 'id', name: 'id', index: 'id', width: 30, align: 'center', hidden: true },
                 {
                     label: '操作', name: 'oper', index: 'id', width: 120, align: 'center',
                     formatter: function (cellvalue, options, rowObject) {

                         var html = "<a href=javascript:btn_show('" + rowObject.id + "')  title='查看'><i class='fa fa-eye'></i></a>";

                         html += "&nbsp;&nbsp;&nbsp;<a href=javascript:btn_edit('" + rowObject.id + "')  title='修改'><i class='fa fa-pencil-square-o'></i></a>";

                         html += "&nbsp;&nbsp;&nbsp;<a href=javascript:btn_delete('" + rowObject.id + "')  title='删除'><i class='fa fa-trash-o'></i></a>";
                    
                         return html;
                     }
                 },
                { label: '模块名称', name: 'modulename', index: 'modulename', width: 200, align: 'center', sortable: true },
                { label: '创建人', name: 'username', index: 'username', width: 100, align: 'center', sortable: true },
                { label: '列表列名', name: 'listcolumnname', index: 'listcolumnname', width: 360, align: 'center', sortable: true },
                { label: '默认列表', name: 'defaultcolumnname', index: 'defaultcolumnname', width: 360, align: 'center', sortable: true },
                { label: '列表标记', name: 'listtype', index: 'listtype', width: 150, align: 'center', sortable: true }
            ],
            viewrecords: true,
            rowNum: 15,
            rowList: [15, 30, 50, 100],
            pager: "#gridPager",
            sortname: 'createdate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $("#" + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $("#" + this.id).setSelection(selectedRowIndex, false);
            }
        });
    }
    //新增
    function btn_add() {
        dialogOpen({
            id: 'AddListForm',
            title: '添加应用模块列表的列查看权限设置表',
            url: '/AuthorizeManage/ModuleListColumnAuth/Form',
            width: ($(top.window).width() - 300) + "px",
            height: ($(top.window).height() - 300) + "px",
            callBack: function (iframeId) {
                top.document.getElementById(iframeId).contentWindow.AcceptClick();
            }
        });
    }
    //编辑
    function btn_edit(keyValue) {
        dialogOpen({
            id: 'EditListForm',
            title: '编辑应用模块列表的列查看权限设置表',
            url: '/AuthorizeManage/ModuleListColumnAuth/Form?keyValue=' + keyValue,
            width: ($(top.window).width() - 300) + "px",
            height: ($(top.window).height() - 300) + "px",
            callBack: function (iframeId) {
                top.document.getElementById(iframeId).contentWindow.AcceptClick();
            }
        })
    }

    //查看
    function btn_show(keyValue) {
        dialogOpen({
            id: 'ViewListForm',
            title: '编辑应用模块列表的列查看权限设置表',
            url: '/AuthorizeManage/ModuleListColumnAuth/Form?keyValue=' + keyValue + "&actiontype=view",
            width: ($(top.window).width() - 300) + "px",
            height: ($(top.window).height() - 300) + "px",
            btn:null
        })
    }
    //删除
    function btn_delete(keyValue) {
        if (keyValue) {
            $.RemoveForm({
                url: '../../AuthorizeManage/ModuleListColumnAuth/RemoveForm',
                param: { keyValue: keyValue },
                success: function (data) {
                    $('#gridTable').trigger('reloadGrid');
                }
            })
        } else {
            dialogMsg('请选择需要删除的应用模块列表的列查看权限设置表！', 0);
        }
    }
</script>
<div class="titlePanel">
    <div class="title-search">
        <table>
            <tr>
                <td>
                    <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;" />
                </td>
                <td style="padding-left: 5px;">
                    <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i> 查询</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="toolbar">
        <div class="btn-group">
            <a id="replace" class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>刷新</a>
            <a id="add" class="btn btn-default" onclick="btn_add()"><i class="fa fa-plus"></i>新增</a>
        </div>
    </div>
</div>
<div class="gridPanel">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>