@{;
Layout = "~/Views/Shared/_Form.cshtml";
}
<script type="text/javascript">
    //?moduleId=' + currentmoduleId + "&refreshlist=gridTable",
    var moduleId = request("moduleId");  //模块id
    var refreshlist = request("refreshlist");  //待刷新的列表
    var keyValue = "";//主键
    var listcolumnName = "";
    var listcolumnFields = "";
    var defaultFields = "";
    var defaultName = "";
    var layerId = request("layerId");

    $(function () {
        //初始化值
        $.SetForm({
            url: "../../AuthorizeManage/ModuleListColumnAuth/GetColumnAuth",
            param: { moduleId: moduleId },
            success: function (result) {
                var html = "";
                if (!!result) {
                    $("#form1").formDeserialize(result.data);
                    listcolumnName = result.data.LISTCOLUMNNAME;//列名称
                    listcolumnFields = result.data.LISTCOLUMNFIELDS; //列
                    defaultFields = result.data.DEFAULTCOLUMNFIELDS;//默认列
                    defaultName = result.data.DEFAULTCOLUMNNAME;//默认列名称

                    var arrayColumnName = listcolumnName.split(',');
                    var arrayColumnFields = listcolumnFields.split(',');

                    var arrayDefaultName = defaultName.split(',');
                    var arrayDefaultFields = defaultFields.split(',');
                    //非系统自带的
                    if (!result.isSystem) {
                        keyValue = result.data.ID   //主键
                    }

                    for (var i = 0; i < arrayColumnName.length; i++) {
                        var checkContent = "";
                        var curId = arrayColumnFields[i];
                        var curName = arrayColumnName[i];
                        for (var j = 0; j < arrayDefaultFields.length; j++) {
                            if (curId == arrayDefaultFields[j]) {
                                checkContent = " checked=\"checked\"";
                            }
                        }
                        var content = "<li><div class=\"CheckInput\"><input type=\"checkbox\" id=\"" + curId + "\"  title=\"" + curName + "\" onclick=\"clickCheck(this)\"  class=\"form-control\" value=\"" + curId + "\" name=\"ModuleColumn\" " + checkContent + " /></div><div class=\"CheckLabel\">" + curName + "</div></li>"
                        html += content;
                    }
                }
                if (!!html) {
                    $(".CheckPanel ul").html(html);
                }
            }
        });
    });

    function clickCheck(obj)
    {
        if ($(obj).attr("checked"))
        {
            $(obj).removeAttr("checked");
        }
        else 
        {
            $(obj).attr("checked", "checked");
        }
    }


    //保存信息
    function AcceptClick() {
        var columnName = "";
        var columnFields = "";
     
        $("input[name='ModuleColumn']:checkbox").each(function (index, ele) {
            if ($(this).attr("checked")) {
                columnFields += $(this).attr("value") + ",";
                columnName += $(this).attr("title") + ",";
            }
        });
        if (!!columnFields) {
            columnFields = columnFields.substring(0, columnFields.length - 1);
            columnName = columnName.substring(0, columnName.length - 1);
        }
        if (!$('#form1').Validform()) {
            return false;
        }

        if (!!columnFields) {
            var postData = $("#form1").formSerialize(keyValue);
            postData["LISTTYPE"] = 1; //类型
            postData["DEFAULTCOLUMNFIELDS"] = columnFields;
            postData["DEFAULTCOLUMNNAME"] = columnName;
            $.SaveForm({
                url: "../../AuthorizeManage/ModuleListColumnAuth/SaveForm?keyValue=" + keyValue,
                param: postData,
                loading: "正在保存数据...",
                success: function () {
                    if (!!layerId) {
                        top.document.getElementById(layerId).contentWindow.reload();
                    }
                    else {
                        $.currentIframe().reload();
                    }
                }
            })
        }
        else {
            dialogMsg("请至少选择一列!", 0);
            return false;
        }
    }

</script>
<style type="text/css">
    .CheckPanel ul {
        width: 100%;
        height: 100%;
    }

        .CheckPanel ul li {
            width: 200px;
            float: left;
            margin-top: 10px;
            height: 32px;
        }

    .CheckInput {
        width: 60px;
        float: left;
    }

    .CheckLabel {
        line-height: 32px;
    }
</style>
<div class="CheckPanel">
    <div style="margin:20px;">
        <ul>
            @*<li><div class="CheckInput"><input type="checkbox" id="xax1" class="form-control" value="11" name="hah" checked="checked" /></div><div class="CheckLabel">啊哈哈啊哈哈啊哈哈</div></li>
                <li><div class="CheckInput"><input type="checkbox" id="xax2" class="form-control" value="11" name="hah" /></div> <div class="CheckLabel">啊哈哈</div></li>
                <li><div class="CheckInput"><input type="checkbox" id="xax1" class="form-control" value="11" name="hah" checked="checked" /></div><div class="CheckLabel">啊哈哈啊哈哈啊哈哈</div></li>
                <li><div class="CheckInput"><input type="checkbox" id="xax2" class="form-control" value="11" name="hah" /></div> <div class="CheckLabel">啊哈哈</div></li>
                <li><div class="CheckInput"><input type="checkbox" id="xax1" class="form-control" value="11" name="hah" checked="checked" /></div><div class="CheckLabel">啊哈哈啊哈哈啊哈哈</div></li>
                <li><div class="CheckInput"><input type="checkbox" id="xax1" class="form-control" value="11" name="hah" checked="checked" /></div><div class="CheckLabel">啊哈哈啊哈哈啊哈哈</div></li>
                <li><div class="CheckInput"><input type="checkbox" id="xax2" class="form-control" value="11" name="hah" /></div> <div class="CheckLabel">啊哈哈</div></li>
                <li><div class="CheckInput"><input type="checkbox" id="xax2" class="form-control" value="11" name="hah" /></div> <div class="CheckLabel">啊哈哈</div></li>*@
        </ul>
    </div>
    <input type="hidden" id="MODULENAME" />
    <input type="hidden" id="LISTKEYFIELD" />
    <input type="hidden" id="MODULEID" />
    <input type="hidden" id="LISTCOLUMNFIELDS" />
    <input type="hidden" id="LISTCOLUMNNAME" />
</div>