@{;
ViewBag.Title = "列表页面";
Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script type="text/javascript" src="~/content/scripts/business/common.js"></script>
<script>
    var deptcode = "@(new ERCHTMS.Busines.SystemManage.DataItemDetailBLL().GetItemValue("AccreditDept"))";
    var jsdept = "@(new ERCHTMS.Busines.SystemManage.DataItemDetailBLL().GetItemValue("JsdeptCode"))";
    var orgid = "@(new ERCHTMS.Busines.SystemManage.DataItemDetailBLL().GetItemCode("AccreditDept"))";
    var ehsDeptCode = "@ViewBag.ehsDepartCode";//EHS部门Code
    $(function () {
        //样品类型
        InitialPage();
        GetGrid();
    });
    //初始化页面
    function InitialPage() {
        ComBoxForData("SampleType", "WaterType");

        var kz = 0;
        if (orgid == top.currUserOrgId) {
            if (top.currUserDeptCode.indexOf(jsdept) >= 0 || top.currUserDeptCode == ehsDeptCode || top.currUserRoleName.indexOf("公司管理员") >= 0 || top.currUserRoleName.indexOf("超级管理员") >= 0) {
                kz = 1;
            }
        }
        if (kz == 1) {
            $("#add").show();
        } else {
            $("#add").hide();
        }
        $('#layout').layout({
            applyDemoStyles: false,
            onresize: function () {
                $(window).resize()
            }
        });
        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 170);
            }, 200);
            e.stopPropagation();
        });
    }

    //加载表格
    function GetGrid() {
        var queryJson = {
            keyword: $("#txt_Keyword").val(),
            sampletype: $("#SampleType").attr('data-text') == "==请选择==" ? "" : $("#SampleType").attr('data-value'),
            testdate: $("#iptdate").val()
        }

        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGridEx({
            autowidth: true,
            height: $(window).height() - 170,
            url: "../../EnvironmentalManage/Waterquality/GetPageListJson",
            datatype: "json",
            postData: { queryJson: JSON.stringify(queryJson) },
            colModel: [
                { label: '主键', name: 'id', hidden: true },
                {
                    label: '创建用户id',
                    name: 'createuserid',
                    index: 'createuserid',

                    align: 'left',
                    sortable: true,
                    hidden: true
                },
                {
                    label: '创建时间',
                    name: 'createdate',
                    index: 'createdate',

                    align: 'left',
                    sortable: true,
                    hidden: true
                },
                {
                    label: '创建用户',
                    name: 'createusername',
                    index: 'createusername',

                    align: 'left',
                    sortable: true,
                    hidden: true
                },
                {
                    label: '修改用户id',
                    name: 'modifyuserid',
                    index: 'modifyuserid',

                    align: 'left',
                    sortable: true,
                    hidden: true
                },
                {
                    label: '修改时间',
                    name: 'modifydate',
                    index: 'modifydate',

                    align: 'left',
                    sortable: true,
                    hidden: true
                },
                {
                    label: '修改用户',
                    name: 'modifyusername',
                    index: 'modifyusername',

                    align: 'left',
                    sortable: true,
                    hidden: true
                },
                {
                    label: '创建用户所属部门编码',
                    name: 'createuserdeptcode',
                    index: 'createuserdeptcode',

                    align: 'left',
                    sortable: true,
                    hidden: true
                },
                {
                    label: '创建用户所属机构编码',
                    name: 'createuserorgcode',
                    index: 'createuserorgcode',

                    align: 'left',
                    sortable: true,
                    hidden: true
                },
                {
                    label: '操作', name: 'oper', index: 'id', width: 120, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = "<a href=javascript:show('" + rowObject.id + "')  title='查看'><i class='fa fa-eye'></i></a>";
                        //if ((orgid == top.currUserOrgId) && (((deptcode.indexOf(top.currUserDeptCode) >= 0 || jsdept.indexOf(top.currUserDeptCode) >= 0) && (top.currUserRoleName.indexOf("负责人") >= 0 || (rowObject.createuserid == top.currUserId && top.currUserRoleName.indexOf("专业级用户") >= 0))) || top.currUserDeptCode == ehsDeptCode || top.currUserRoleName.indexOf("公司管理员") >= 0)) {
                        //    html += "&nbsp;&nbsp;&nbsp;<a href=javascript:edit('" + rowObject.id + "')  title='修改'><i class='fa fa-pencil-square-o'></i></a>";
                        //}
                        //if ((orgid == top.currUserOrgId) && (((deptcode.indexOf(top.currUserDeptCode) >= 0 || jsdept.indexOf(top.currUserDeptCode) >= 0) && top.currUserRoleName.indexOf("负责人") >= 0) || top.currUserDeptCode == ehsDeptCode || top.currUserRoleName.indexOf("公司管理员") >= 0)) {
                        //    html += "&nbsp;&nbsp;&nbsp;<a href=javascript:del('" + rowObject.id + "')  title='删除'><i class='fa fa-trash-o'></i></a>";
                        //}
                        if ((top.currUserRoleName.indexOf("超级管理员") >= 0) || ((orgid == top.currUserOrgId) && ((top.currUserDeptCode.indexOf(jsdept) >= 0 && rowObject.createuserid == top.currUserId) || (top.currUserDeptCode == jsdept && top.currUserRoleName.indexOf("负责人") >= 0) || top.currUserDeptCode == ehsDeptCode || top.currUserRoleName.indexOf("公司管理员") >= 0))) {
                            html += "&nbsp;&nbsp;&nbsp;<a href=javascript:edit('" + rowObject.id + "')  title='修改'><i class='fa fa-pencil-square-o'></i></a>";

                        }
                        if ((top.currUserRoleName.indexOf("超级管理员") >= 0) || ((orgid == top.currUserOrgId) && ((top.currUserDeptCode.indexOf(jsdept) >= 0 && rowObject.createuserid == top.currUserId) || (top.currUserDeptCode == jsdept && top.currUserRoleName.indexOf("负责人") >= 0) || top.currUserDeptCode == ehsDeptCode || top.currUserRoleName.indexOf("公司管理员") >= 0))) {
                            html += "&nbsp;&nbsp;&nbsp;<a href=javascript:del('" + rowObject.id + "')  title='删除'><i class='fa fa-trash-o'></i></a>";
                        }
                        return html;
                    }
                },
                    { label: '样品编号', name: 'sampleno', index: 'sampleno', align: 'center', sortable: true },
                    { label: '样品名称', name: 'sampletype', index: 'sampletype', align: 'center', sortable: true },
                    { label: '试验人员', name: 'testusername', index: 'testusername', align: 'center', sortable: true },
                    { label: '试验日期', name: 'testdate', index: 'testdate', align: 'center', sortable: true }
            ],
            viewrecords: true,
            rowNum: 15,
            rowList: [15, 30, 50],
            pager: "#gridPager",
            sortname: 'createdate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: true,
            gridview: true,
            //multiselect: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            }
        });
        //查询事件
        $("#btn_Search").click(function () {
            if ($(".ui-filter-list").attr("style").indexOf("block") >= 0) {
                ////隐藏搜索框
                var title = $(".ui-filter-text");

                title.trigger("click");
            }
            var queryJson = {
                keyword: $("#txt_Keyword").val(),
                sampletype: $("#SampleType").attr('data-text') == "==请选择==" ? "" : $("#SampleType").attr('data-value'),
                testdate: $("#iptdate").val()
            }

            $gridTable.jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify(queryJson) }, page: 1
            }).trigger('reloadGrid');
        });
        //查询回车
        $('#txt_Keyword').bind('keypress', function (event) {
            if (event.keyCode == "13") {
                $('#btn_Search').trigger("click");
            }
        });

    }
    //新增
    function add() {
        dialogOpen({
            id: 'Form',
            title: '添加水质分析',
            url: '/EnvironmentalManage/Waterquality/Form',
            width: ($(top.window).width() - 100) + "px",
            height: ($(top.window).height() - 100) + "px",
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
            }
        });
    }
    //编辑
    function edit() {
        var keyValue = $('#gridTable').jqGridRowValue('id');
        if (checkedRow(keyValue)) {
            dialogOpen({
                id: 'Form',
                title: '编辑水质分析',
                url: '/EnvironmentalManage/Waterquality/Form?keyValue=' + keyValue,
                width: ($(top.window).width() - 100) + "px",
                height: ($(top.window).height() - 100) + "px",
                callBack: function (iframeId) {
                    top.frames[iframeId].AcceptClick();
                }
            })
        }
    }
    //删除
    function del() {
        var keyValue = $('#gridTable').jqGridRowValue('id');
        if (keyValue) {
            $.RemoveForm({
                url: '../../EnvironmentalManage/Waterquality/RemoveForm',
                param: { keyValue: keyValue },
                success: function (data) {
                    $('#gridTable').trigger('reloadGrid');
                }
            })
        } else {
            dialogMsg('请选择需要删除的水质分析！', 0);
        }
    }

    //查看
    function show() {
        var keyValue = $('#gridTable').jqGridRowValue('id');
        if (checkedRow(keyValue)) {
            var dlg = dialogOpen({
                id: "Form",
                title: '查看水质分析',
                url: '/EnvironmentalManage/Waterquality/Form?action=show&keyValue=' + keyValue,
                width: ($(top.window).width() - 100) + "px",
                height: ($(top.window).height() - 100) + "px",
                btn: ["关闭"],
                callBack: function (iframeId) {
                    top.layer.close(dlg);
                }
            });
        }
    }

    //导出Excel
    function exportData() {
        var queryJson = {
            keyword: $("#txt_Keyword").val(),
            sampletype: $("#SampleType").attr('data-text') == "==请选择==" ? "" : $("#SampleType").attr('data-value'),
            testdate: $("#iptdate").val()
        }
        window.location.href = "exportExcelData?queryJson=" + JSON.stringify(queryJson);
    }

    //导出单据
    function exportWord() {
        var keyValue = $('#gridTable').jqGridRowValue('id');
        if (!!keyValue) {
            window.location.href = "ExportWaterqualityWord?keyValue=" + keyValue;
        }
        else {
            dialogMsg('请选择一条需要导出的单据！', 0);
        }

    }

</script>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%; ">
    <div class="ui-layout-center">
        <div class="center-Panel" style="margin-left:10px;">
            <div class="titlePanel">
                <div class="title-search">
                    <table>
                        <tr>
                            <td>查询条件</td>
                            <td style="padding-left: 10px;">
                                <div class="ui-filter" style="width: 200px;">
                                    <div class="ui-filter-text">
                                        请选择过滤条件
                                    </div>
                                    <div class="ui-filter-list" style="width: 350px;float:left;">
                                        <table class="form" id="filter-form" style="margin-left: -20%">
                                            <tr>
                                                <td style="float: right;">样品编号：</td>
                                                <td class="formValue">
                                                    <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 180px;" />
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="float: right;">
                                                    样品名称：
                                                </td>
                                                <td class="formValue">
                                                    <div id="SampleType" type="select" class="ui-select" style="width: 180px;"></div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="float: right;">试验日期：</td>
                                                <td class="formValue">
                                                    <input id="Category" type="hidden" value="1" />
                                                    <div style="float: left;">
                                                        <input id="iptdate" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
                                                    </div>

                                                </td>
                                            </tr>

                                        </table>
                                        <div class="ui-filter-list-bottom">
                                            <a id="btn_Search" class="btn btn-primary">&nbsp;查&nbsp;&nbsp;询</a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td style="padding-left: 10px;">
                                <div class="ui-filter-list-bottom">
                                    <a id="btn_export" onclick="exportWord()" class="btn btn-primary">下载试验单据</a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="toolbar">

                    <div class="btn-group">
                        <a class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>刷新</a>
                        <a id="add" onclick="add()" class="btn btn-default"><i class="fa fa-plus"></i>新增</a>
                        <a id="export" class="btn btn-default" onclick="exportData()"><i class="fa fa-download"></i>&nbsp;导出</a>
                    </div>
                    @*<script>$('.toolbar').authorizeButton()</script>*@
                </div>
            </div>
            <div class="gridPanel">
                <table id="gridTable"></table>
                <div id="gridPager"></div>
            </div>
        </div>
    </div>
</div>