@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var UserName = "@ERCHTMS.Code.OperatorProvider.Provider.Current().UserName";
    var keyValue = request('keyValue');
    $(function () {
        initControl();
    });


    //初始化控件
    function initControl() {
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../MatterManage/OurTicket/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                    $("#Getdata").val(formatDate(data.Getdata, "yyyy-MM-dd hh:mm"));
                    if (data.LetMan == null) {
                        $("#LetMan").val(UserName);
                    }
                }
            })
        }
    }

    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize(keyValue);
        if ($("input[type='checkbox']:checked").length>0)
            postData["Status"] = "异常";
        $.SaveForm({
            url: "../../MatterManage/OurTicket/UpateContent?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }

    //异常放行选项
    function f_checkItem(obj) {
        if (obj.checked) {
            var str = $(obj).next().text();
            var text = $("#PassRemark").val();
            if (text == "") {
                $("#PassRemark").val(text + str);
            }
            else {
                $("#PassRemark").val(text + "，" + str);
            }
        }
        else {
            var text = $("#PassRemark").val();
            var str = $(obj).next().text();
            $("#PassRemark").val(text.replace("，" + str, '').replace(str, ''));
        }

    }



</script>

<div style="margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle">车牌号：</td>
            <td class="formValue">
                <input id="Platenumber" type="text" readonly="readonly" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">时间：</td>
            <td class="formValue">
                <input id="Getdata" type="text" readonly="readonly" class="form-control">
            </td>
        </tr>
        <tr>
            <td class="formTitle">放行人：</td>
            <td class="formValue">
                <input id="LetMan" type="text" readonly="readonly" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">备注<font face="宋体">*</font></td>
            <td class="formValue">
                <textarea id="PassRemark" type="text" maxlength="500" style=" height: 124px" isvalid="yes" class="form-control"></textarea>
            </td>
        </tr>
        <tr>
            <td class="formTitle">异常放行选项：</td>
            <td style="font-size: 20px;" class="formValue">
                <input onclick="f_checkItem(this)" type="checkbox" /><label>超载卸载，等禁行时间</label>&nbsp; &nbsp;&nbsp;&nbsp;
                <input onclick="f_checkItem(this)" type="checkbox" /><label>等禁行时间，装少了重装</label> &nbsp; &nbsp;&nbsp;&nbsp;
                <input onclick="f_checkItem(this)" type="checkbox" /><label>库里装灰慢</label> <br />
                <input onclick="f_checkItem(this)" type="checkbox" /><label>新司机进厂对路不熟悉</label> &nbsp; &nbsp;&nbsp;&nbsp;
                <input onclick="f_checkItem(this)" type="checkbox" /><label>地磅路堵了，耽误时间</label> &nbsp; &nbsp;&nbsp;&nbsp;
                <input onclick="f_checkItem(this)" type="checkbox" /><label>作废</label> <br />
                <input onclick="f_checkItem(this)" type="checkbox" /><label>蓝海路封路</label> &nbsp; &nbsp;&nbsp;&nbsp;
                <input onclick="f_checkItem(this)" type="checkbox" /><label>打印机故障作废</label> &nbsp; &nbsp;&nbsp;&nbsp;
                <input onclick="f_checkItem(this)" type="checkbox" /><label>地磅出了点小故障</label> <br />
                <input onclick="f_checkItem(this)" type="checkbox" /><label>库里修布袋</label>  &nbsp; &nbsp;&nbsp;&nbsp;
                <input onclick="f_checkItem(this)" type="checkbox" /><label>超载卸载</label> <br />

            </td>


        </tr>

    </table>
</div>
