@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}


<script>
    var keyValue = request('keyValue');

    $(function () {
        initControl();
        disabledControl();
    });
    //初始化控件
    function initControl() {
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../MatterManage/OurTicket/GetProcessFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                    $("#Getdata").val(formatDate(data.Getdata, "yyyy-MM-dd hh:mm"));
                    $("#OutDate").val(formatDate(data.OutDate, "yyyy-MM-dd hh:mm"));
                    $("#RCdbTime").val(data.RCdbTime == "0" ? "" : data.RCdbTime + "分钟");
                    $("#DbOutTime").val(data.RCdbTime == "0" ? "" : data.DbOutTime + "分钟");
                    if (data.StayTime != null) {
                        $("#StayTime").val(data.StayTime + "分钟");
                    }
                }
            })
        }
    }

    //厂内行驶路线
    function f_OpenItinerary() {
        var dlg = dialogOpen({
            id: 'Form1',
            title: '厂内行驶路线',
            url: '/MatterManage/OurTicket/NotesItinerary?keyValue=' + keyValue + "&type=4",
            width: 1000 + "px",
            height: 750 + "px",
            btn: ["关闭"],
            callBack: function (iframeId) {
                top.layer.close(dlg);
            }
        });
    }



   
</script>


<div class="kpTitle"><span class="titletext" style="margin-top:20px;">开票管理</span></div>
<div class="tabel-container1" style="margin-top: 0px; margin-right: 30px; margin-bottom:15px; margin-left: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle">提货/转运单号：</td>
            <td class="formValue">
                <input id="Numbers" type="text"  class="form-control" />
            </td>
            <td class="formTitle">开单员：</td>
            <td class="formValue">
                <input id="Opername" type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">提货方：</td>
            <td class="formValue">
                <input id="Takegoodsname" type="text" class="form-control" />
            </td>
            <td class="formTitle">供货方：</td>
            <td class="formValue">
                <input id="Supplyname" type="text" value="华电可门" class="form-control" />
            </td>
        </tr>

        <tr>
            <td class="formTitle">运输类型：</td>
            <td class="formValue">
                <input id="Transporttype" type="text" class="form-control" />
            </td>
            <td class="formTitle">副产品类型：</td>
            <td class="formValue">
                <input id="Producttype" type="text" class="form-control" />
                @*<select id="Producttype" onchange="f_checktext(this,0)" type="text" class="form-control">
                    <option>粉煤灰</option>
                    <option>石膏</option>
                    <option>炉底渣</option>
                </select>*@
            </td>
        </tr>
        <tr>
            <td class="formTitle">车牌号：</td>
            <td class="formValue">
                <input id="Platenumber" type="text" class="form-control" />
            </td>
            <td class="formTitle">装料点：</td>
            <td class="formValue">
                <input id="Dress" type="text" class="form-control" />
                @*<select id="Dress" type="text" class="form-control"></select>*@
            </td>
        </tr>
        <tr>
            <td class="formTitle">进厂时间：</td>
            <td class="formValue">
                <input id="Getdata" type="text"  class="form-control">
            </td>
            <td class="formTitle">出厂时间：</td>
            <td class="formValue">
                <input id="OutDate" type="text" class="form-control">
            </td>
        </tr>

        <tr>
            <td class="formTitle">备注：</td>
            <td class="formValue" colspan="3">
                <input id="Remark" type="text" class="form-control" />
            </td>
        </tr>
    </table>
</div>

<div class="kpTitle"><span class="titletext" style="margin-top:20px;">门禁管理</span></div>
<div class="tabel-container1" style="margin-top: 0px; margin-right: 30px; margin-bottom: 15px; margin-left: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle">入厂至地磅时间：</td>
            <td class="formValue">
                <input id="RCdbTime" type="text" class="form-control" />
            </td>
            <td class="formTitle">地磅至出厂时间：</td>
            <td class="formValue">
                <input id="DbOutTime" type="text" class="form-control" />
            </td>
            <td class="formTitle">总时间：</td>
            <td class="formValue">
                <input id="StayTime" type="text" class="form-control" />
            </td>

        </tr>


    </table>
</div>

<div class="kpTitle"><span class="titletext" style="margin-top:20px;">定位管理</span></div>
<div class="tabel-container1" style="margin-top: 0px; margin-right: 30px; margin-bottom: 15px; margin-left: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle">入库时间：</td>
            <td class="formValue">
                <input id="GoDatabasetime" type="text" class="form-control" />
            </td>
            <td class="formTitle">出库时间：</td>
            <td class="formValue">
                <input id="OutDatabasetime" type="text" class="form-control" />
            </td>
            <td class="formTitle">入库次数：</td>
            <td class="formValue">
                <input id="DataBaseNum" type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">厂内行驶路线</td>
            <td class="formValue" colspan="5">
                 <img onclick="f_OpenItinerary()" src="~/Content/images/luxiantu.png" />
            </td>
        </tr>
    </table>
</div>

<div class="kpTitle"><span class="titletext" style="margin-top:20px;">异常判定</span></div>
<div class="tabel-container1" style="margin-top: 0px; margin-right: 30px; margin-left: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle">车辆净重：</td>
            <td class="formValue">
                <input id="NetweightStatus" type="text" class="form-control" />
            </td>
            <td class="formTitle">入库次数：</td>
            <td class="formValue">
                <input id="Supplyname" type="text" class="form-control" />
            </td>
        </tr>
         <tr>
             @*<td class="formTitle">门禁准入：</td>
             <td class="formValue">
                 <input id="Supplyname" type="text" class="form-control" />
             </td>
             <td class="formTitle">门禁准出：</td>
             <td class="formValue">
                 <input id="Supplyname" type="text" class="form-control" />
             </td>*@
             <td class="formTitle">厂内逗留时间：</td>
             <td class="formValue">
                 <input id="StayTimeStatus" type="text" class="form-control" />
             </td>
             <td class="formTitle">厂内行驶路线：</td>
             <td class="formValue">
                 <input id="TravelStatus" type="text" class="form-control" />
             </td>
         </tr>
        <tr>
            <td class="formTitle">备注：</td>
            <td class="formValue" colspan="3">
                <input id="PassRemark" type="text" class="form-control" />
            </td>
        </tr>
      
    </table>
</div>





<style>
    .tabel-container1 {
        padding: 10px;
        border: 1px solid #ccc;
        float: left;
        padding: 7px;
    }

    .kpTitle {
        margin-left: 30px;
        padding-top: 30px;
        margin-bottom: 10px;
    }
    .titletext {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
    }
</style>