@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}

<script src="~/content/scripts/jquery/jquery-1.8.2.min.js"></script>

@*三维应用*@
<link rel="shortcut icon" href="~/Content/scripts/3DNotesItinerary/TemplateData/favicon.ico">
<link href="~/Content/scripts/3DNotesItinerary/TemplateData/style.css" rel="stylesheet" />
<script src="~/Content/scripts/3DNotesItinerary/TemplateData/UnityProgress.js"></script>
<script src="~/Content/scripts/3DNotesItinerary/Build/UnityLoader.js"></script>





<script>
    var keyValue = request('keyValue');
    var type = request('type');


    //三维应用
    $.ajaxSetup({ async: false });
    var gameInstance;
    var _parentId;
    var selectid;

    $(function () {
        //初始化三维
        gameInstance = UnityLoader.instantiate("gameContainer", top.contentPath + "/Content/scripts/3DNotesItinerary/Build/FindPathPlayer.json", { onProgress: UnityProgress });
        gameInstance.SendMessage("IconCanvas", "GetDataStr", "{\"data\":[{\"id\":\"1\",\"x\":-104,\"y\":251,\"scale\":1}]}");
        //var dialogTimer = setTimeout(function () {
        //    SetItinerary();
        //}, 3000)

    });

    ////初始化三维行驶路线
    function SetItinerary() {
        var json = "";
        $.ajax({
            url: '../../CarManage/Routeconfig/GetCarPoint?id=' + keyValue + '&type=' + type,
            type: "GET",
            async: false,
            dataType: "text",
            success: function (result) {
                if (result == undefined || result == "") {
                    gameInstance.SendMessage("FindPathPlayer", "Receive", "{\"data\":[],\"ID\":\"" + keyValue + "\"}");
                } else {
                    gameInstance.SendMessage("FindPathPlayer", "Receive", result);
                }
            }
        });
    }

    function BindUsserGps(res) {
       
    }

</script>



<div>

   
    <div id="gameContainer" style="width: 1000px; height: 650px;"></div>
    

</div>



