@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = request('keyValue');;

    $(function () {
        //initControl();
        //disabledControl();
        GetGrid();
    });

    //初始化控件
    function initControl() {
        //获取表单
        //if (!!keyValue) {
        //    $.SetForm({
        //        url: "../../MatterManage/OurTicket/GetFormJson",
        //        param: { keyValue: keyValue },
        //        success: function (data) {
        //            $("#form1").formDeserialize(data);
        //            $("#Getdata").val(formatDate(data.Getdata, "yyyy-MM-dd hh:mm"));
        //            $("#OutDate").val(formatDate(data.OutDate, "yyyy-MM-dd hh:mm"));
        //            if (data.Remark != null && data.PassRemark != null) {
        //                $("#PassRemark").val(data.PassRemark + "/" + data.Remark);
        //            }
        //            else if (data.Remark != null) {
        //                $("#PassRemark").val(data.Remark);
        //            }
        //            else {
        //                $("#PassRemark").val(data.PassRemark);
        //            }
        //        }
        //    })
        //}
    }
    //保存表单;
    function AcceptClick() {
        //if (!$('#form1').Validform()) {
        //    return false;
        //}
        //var postData = $("#form1").formSerialize(keyValue);
        //$.SaveForm({
        //    url: "../../MatterManage/OurTicket/UpateContent?keyValue=" + keyValue,
        //    param: postData,
        //    loading: "正在保存数据...",
        //    success: function () {
        //        $.currentIframe().$("#gridTable").trigger("reloadGrid");
        //    }
        //})
    }



    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            autowidth: true,
            height: $(top.window).height() - 500,
            postData: { BaseId: keyValue },
            url: "../../MatterManage/Calculate/GetDetailedPageList",
            datatype: "json",
            colModel: [
                { label: 'Id', name: 'id', hidden: true },
                { label: 'isout', name: 'isout', hidden: true },
                //{ label: '操作', name: 'Oper', index: 'Oper', width: 150, align: 'center' },
                { label: '提货单号', name: 'numbers', index: 'Numbers', width: 200, align: 'center', sortable: true },
                { label: '提货方', name: 'takegoodsname', index: 'TakeGoodsName', width: 350, align: 'center', sortable: true },
                { label: '车牌号', name: 'platenumber', index: 'PlateNumber', width: 200, align: 'center', sortable: true },
                { label: '运输类型', name: 'transporttype', index: 'TransportType', width: 200, align: 'center', sortable: true },
                { label: '副产品类型', name: 'goodsname', index: 'goodsName', width: 200, align: 'center', sortable: true },
                { label: '毛重', name: 'rough', index: 'rough', width: 200, align: 'center', sortable: true },
                { label: '皮重', name: 'tare', index: 'tare', width: 200, align: 'center', sortable: true },
                { label: '净重', name: 'netwneight', index: 'netwneight', width: 200, align: 'center', sortable: true },
                {
                    label: '毛重时间', name: 'roughtime', index: 'roughTime', width: 250, align: 'center', sortable: true, formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd hh:mm')
                    }
                },

                { label: '毛重司磅员', name: 'roughusername', index: 'roughUserName', width: 200, align: 'center', sortable: true },
                {
                    label: '皮重时间', name: 'taretime', index: 'tareTime', width: 250, align: 'center', sortable: true, formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd hh:mm')
                    }
                },
                { label: '皮重司磅员', name: 'tareusername', index: 'tareUserName', width: 200, align: 'center', sortable: true },
                //{
                //    label: '称重单打印时间', name: 'stamptime', index: 'stampTime', width: 200, align: 'center', sortable: true, formatter: function (cellvalue, options, rowObject) {
                //        return formatDate(cellvalue, 'yyyy-MM-dd hh:mm')
                //    }
                //},
                { label: '备注', name: 'remark', index: 'Remark', width: 300, align: 'center', sortable: true },
            ],
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function (data) {
                debugger;
                $('#' + this.id).setSelection(selectedRowIndex, false);
                var rowDatas = $("#gridTable").jqGrid("getRowData");
                var tareWeight = 0, roughWeight = 0, netWeight = 0;
                jQuery.each(rowDatas, function (index, item) {
                    tareWeight = eval(tareWeight + parseInt(item.tare));
                    roughWeight = eval(roughWeight + parseInt(item.rough));
                    netWeight = eval(netWeight + parseInt(item.netwneight));
                });

                $("#txtCount").val(rowDatas.length);
                $("#txtTareWeight").val(tareWeight);
                $("#txtRoughWeight").val(roughWeight);
                $("#txtNetWeight").val(netWeight);
                // gridqxcz($gridTable);
            },
            //viewrecords: true,
            rowNum: 10000,
            // rowList: [30, 50, 100],
            //pager: "#gridPager",
            sortname: 'createdate',
            sortorder: 'desc',
            rownumbers: true,
        });

    }



</script>

<div style="margin-top: 20px; margin-right: 30px; display:none;">
    @*<table class="form">
            <tr>
                <td class="formTitle">提货/转运单号：</td>
                <td class="formValue">
                    <input id="Numbers" type="text"  class="form-control" />
                </td>
                <td class="formTitle">提货方：</td>
                <td class="formValue">
                    <input id="Takegoodsname" type="text" class="form-control" />
                </td>
              </tr>
            <tr>
                <td class="formTitle">运输类型：</td>
                <td class="formValue">
                    <input id="Transporttype" type="text" class="form-control" />
                </td>
                <td class="formTitle">副产品类型：</td>
                <td class="formValue">
                    <select id="Producttype" onchange="f_checktext(this,0)" type="text" class="form-control">
                        <option>粉煤灰</option>
                        <option>石膏</option>
                        <option>炉底渣</option>
                    </select>
                </td>

            </tr>

            <tr>
                <td class="formTitle">是否按轨迹行驶：</td>
                <td class="formValue">
                    <input id="IsTrajectory" type="text" class="form-control" />
                </td>
                <td class="formTitle">是否第一次入厂：</td>
                <td class="formValue">
                    <input id="IsFirst" type="text" class="form-control" />
                </td>
            </tr>

            <tr>
                <td class="formTitle">入库次数：</td>
                <td class="formValue">
                    <input id="DataBaseNum" type="text" class="form-control" />

                </td>
                <td class="formTitle">称重次数：</td>
                <td class="formValue">
                    <input id="WeighingNum" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="formTitle">进厂时间：</td>
                <td class="formValue">
                    <input id="Getdata" type="text" class="form-control">
                </td>
                <td class="formTitle">出厂时间：</td>
                <td class="formValue">
                    <input id="OutDate" type="text" class="form-control">
                </td>
            </tr>
            <tr>
                <td class="formTitle">厂内逗留时间：</td>
                <td class="formValue">
                    <input id="StayTime" type="text" class="form-control" />
                </td>
                <td class="formTitle">厂内状态：</td>
                <td class="formValue">
                    <input id="Status" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="formTitle">车牌号：</td>
                <td class="formValue">
                    <input id="Platenumber" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="formTitle">备注：</td>
                <td class="formValue" colspan="3">
                    <input id="PassRemark" type="text" class="form-control" />
                </td>
            </tr>
        </table>*@
</div>

<div style="margin-top: 20px; margin-right: 30px;">
    <div class="ContenSumTitle">
        <table>
            <tr>
                <td style="border: 1px solid #ccc; width:120px;">
                    <label style="font-size: 15px; font-weight: bold;">合计</label>
                </td>
                <td style="border: 1px solid #ccc; width:600px;height:50px;">
                    <div style="font-size: 15px; font-weight: bold;padding-top: 2px;" class="ClassLeft">记录</div><div class="ClassLeft"><input id="txtCount" type="text" style="width:80px;" name="name" readonly="readonly" class="form-control" /></div>
                    <div style=" padding-left: 30px; font-size: 15px; font-weight: bold; padding-top: 2px;" class="ClassLeft">毛重</div><div class="ClassLeft"><input id="txtRoughWeight" type="text" style="width:80px;" name="name" readonly="readonly" class="form-control" /></div>
                    <div style=" padding-left: 30px; font-size: 15px; font-weight: bold; padding-top: 2px;" class="ClassLeft">皮重</div><div class="ClassLeft"><input id="txtTareWeight" type="text" style="width:80px;" name="name" readonly="readonly" class="form-control" /></div>
                    <div style=" padding-left: 30px; font-size: 15px; font-weight: bold; padding-top: 2px;" class="ClassLeft">净重</div><div class="ClassLeft"><input id="txtNetWeight" type="text" style="width:80px;" name="name" readonly="readonly" class="form-control" /></div>
                </td>
            </tr>
        </table>
    </div>
    <div class="gridPanel">
        <table id="gridTable"></table>
        <div id="gridPager"></div>
    </div>
</div>

<style>
    .ContenSumTitle {
        height: 74px;
        padding: 10px;
        border: 1px solid #ccc;
        margin-left: 10px;
        text-align: center;
    }

    .gridPanel {
        padding-top: 10px;
        margin-left: 10px;
    }

    .ClassLeft {
        float: left;
        padding-left: 8px;
        text-align: center;
    }

        .ClassLeft input {
            padding: 0;
            padding-left: 5px;
        }
</style>


