@{
    ViewBag.Title = "打印视图";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script type="text/javascript">

    var keyValue = request('keyValue');
    var weight = request("weight");
    var newtime="@DateTime.Now.ToString("HH:mm")"

    $(function () {
        //SaveStampRecord();
        initControl();
        
    });


    //初始化控件
    function initControl() {
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../MatterManage/OurTicket/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                    //$("#Getdata").html(formatDate(data.Getdata, "yyyy年MM月dd日 hh:mm"));
                    var strTime = "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"+formatDate(data.Getdata, "yyyy") + "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" + Number(formatDate(data.Getdata, "MM")) + "&nbsp;&nbsp;&nbsp;&nbsp;" + formatDate(data.Getdata, "dd") + "&nbsp;&nbsp;&nbsp;" + formatDate(data.Getdata, "hh:mm")
                    $("#Getdata1").html(formatDate(data.Getdata, "yyyy年MM月dd日 hh:mm"));
                    $("#Getdata").html(strTime);
                    $("#OutDate").html(newtime);
                    if (data.OutDate != null) {
                        $("#OutDate").html(formatDate(data.OutDate, "hh:mm"));
                    }
                    $("#Numbers").html(data.Numbers);
                    $("#Producttype").html(data.Producttype);
                    $("#Platenumber").html(data.Platenumber);
                    $("#Dress").html(data.Dress);
                    $("#Takegoodsname").html(data.Takegoodsname);
                    $("#Opername").html(data.Opername);
                    $("#Remark").html(data.Remark);
                    $("#Dress").html(data.Dress);
                    if (data.Transporttype == "转运") {
                        $("#Title").html("可门发电有限公司" + data.Producttype + "转运单");
                    }
                    else {
                        $("#Title").html("可门发电有限公司" + data.Producttype + "提货单");
                    }
                    $("#DressTitle").html("装" + data.Producttype + "点");
                    $("#Weight").html(weight);
                    SaveStampRecord();
                }
            })
        }
    }

    var shipLoading = 0;
    //添加打印工作记录
    function SaveStampRecord() {
        var url = "../../MatterManage/OurTicket/UpateOutTime";
        $.getJSON(url, { keyValue: keyValue }, function (data) {
            $.currentIframe().$("#gridTable").trigger("reloadGrid");            
            if (data.resultdata)
                shipLoading =data.resultdata.ShipLoading;
            f_print();
        });
    }


    //打印预览
    function f_print() {
        window.onbeforeprint();
        window.print();
        window.onafterprint();
        dialogClose();//打印自动关闭
    }

    window.onbeforeprint = function () {      
          $(".hideTitle").addClass("hideEle");
        if (shipLoading == 1) {
            $(".shipLoading").removeClass("hideEle");
        }
            
        $(".btn-group1").hide();
        $("#Getdata1").hide();
        $("#Getdata").show();

        $(".TabelContent tr td").css("border", 0);
    }
    window.onafterprint = function () {
        $(".btn-group1").show();
        $("#Getdata1").show();
        $("#Getdata").hide();
        $(".hideTitle").removeClass("hideEle");
        $(".TabelContent tr td").css("border", "1px solid #352e2e");
    }
</script>






<div class="TitleContent">
    <div class="TitleContentHead">
        <span id="Title" class="hideTitle">可门发电有限公司粉煤灰提货单</span>
        <h5 class="TabelTitle hideTitle">NO: <span>0001579</span></h5>
    </div>
    <table class="TabelContent">
        <thead>
            <tr class="TabelContentHead">
                <th width="234"></th>
                <th width="300"></th>
                <th width="147"></th>
                <th width="243"></th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td class="hideTitle">
                    进场时间
                </td>
                <td>
                    <label style="position: relative;left:-25px;word-spacing:4px;display:none;padding-top:30px;" id="Getdata"></label>
                    <label style="position: relative;left:-25px;word-spacing:4px;padding-top:30px;" id="Getdata1"></label>
                </td>
                <td class="hideTitle">
                    提货单号
                </td>
                <td><label class="hideTitle shipLoading" id="Numbers"></label></td>
            </tr>
            <tr>
                <td class="hideTitle">
                    副产品类型
                </td>
                <td>
                    <label class="hideTitle shipLoading" id="Producttype"></label>
                </td>
                <td class="hideTitle">
                    车牌号码
                </td>
                <td><label class="hideTitle shipLoading" id="Platenumber"></label></td>
            </tr>
            <tr>
                <td class="hideTitle">
                    装灰点
                </td>
                <td><label class="hideTitle shipLoading" id="Dress"></label></td>
                <td class="hideTitle">
                    重量（吨）
                </td>
                <td><label id="Weight" style="padding-top:30px;"></label></td>
            </tr>

            <tr>
                <td class="hideTitle">
                    提货方（运输人）
                </td>
                <td><label class="hideTitle shipLoading" id="Takegoodsname"></label></td>
                <td class="hideTitle">
                    供货方
                </td>
                <td class="hideTitle"><label>可门发电有限公司</label></td>
            </tr>
            <tr>
                <td class="hideTitle">
                    开单员
                </td>
                <td><label class="hideTitle shipLoading" id="Opername"></label></td>
                <td class="hideTitle">
                    出厂时间
                </td>
                <td><label id="OutDate" style="padding-top:30px;"></label></td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="TabelContent_col1 fl"><span class="hideTitle">备注</span>&nbsp;&nbsp;<label id="Remark"></label></div>
                    <div class="TabelContent_col2 hideTitle fl">司机签名</div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="btn-group1">
        <a onclick="dialogClose()" id="bit_saeve" class="layui-layer-btn0">取消</a>
        <a onclick="SaveStampRecord()" id="" class="layui-layer-btn0">打印</a>
    </div>

</div>




<style>
    * {
        font-size: 19.2px;
    }

    .fl {
        float: left;
    }

    .fr {
        float: right;
    }

    .TitleContent {
        width: 941px;
        height: 360px;
        padding-left: 16px;
        margin-left: 24px;
        margin-top: 44px;
        text-align: center;
    }

    #Title {
        font-size: 22px;
        font-weight: bold;
    }

    .TabelContent {
        width: 100%;
        margin-top: 30px;
    }

        .TabelContent tr {
            height: 55px;
        }

            .TabelContent tr td {
                border: 1px solid #352e2e;
                text-align: center;
            }

    .TabelTitle {
        margin-top: 28px;
        /*width: 90px;*/
        float: right;
        margin-right: 25px;
    }

    .TabelContentHead {
        display: none;
    }

    #container {
        /*width: 100px;
        height: 100px;*/
    }

    .btn-group1 {
        float: left;
        width: 300px;
    }

        .btn-group1 a {
            display: inline-block;
            width: 148px;
            margin-right: 10px;
            height: 24px;
            line-height: 24px;
            background: #5cb85c;
            color: #fff;
            text-align: center;
            border-radius: 2px;
            margin-top: 10px;
            float: right;
            text-decoration: none;
        }

    .TabelContent_col1 {
        display: block;
        vertical-align: middle;
        width: 50%;
        padding-left: 120px;
        /*height: 75px;
        line-height: 75px;*/
        text-align: left;
    }

    .TabelContent_col2 {
        width: 20%;
        padding-left: 20px;
        /*height: 75px;
        line-height: 75px;*/
        text-align: left;
    }

    .TabelContent_col3 {
        width: 25%;
        padding-left: 20px;
        height: 75px;
        text-align: right;
        margin-right: 15px;
    }

    .hideEle {
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .showEle {
        opacity: 100;
        filter: alpha(opacity=100);
    }

    .layui-layer-btn .layui-layer-btn0 {
        background: #5cb85c;
        border: 1px solid #4cae4c;
        color: #fff;
    }

    .btn-group1 {
        float: right;
        width: 200px;
    }

        .btn-group1 a {
            display: inline-block;
            width: 60px;
            margin-right: 10px;
            height: 24px;
            line-height: 24px;
            background: #5cb85c;
            color: #fff;
            text-align: center;
            border-radius: 2px;
            margin-top: 10px;
            float: right;
            text-decoration: none;
        }

            .btn-group1 a:hover {
                cursor: pointer;
                color: #2e99d4;
            }
</style>
