@{
    ViewBag.Title = "Select";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script type="text/javascript">
    var selectedRowIndex = -1;
    var checktype = request('checkType');
    $(function () {
        InitialPage();
        GetGrid();
    });
    //初始化页面
    function InitialPage() {
        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $("#gridTable").setGridHeight($(window).height() - 136.5);

            }, 200);
            e.stopPropagation();
        });
    }

    //加载表格
    function GetGrid() {
        var queryJson = {
            checktype: checktype
        }
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            postData: { queryJson: JSON.stringify(queryJson) }, page: 1,
            autowidth: true,
            height: $(window).height() - 142,
            url: "../../HighRiskWork/HighRiskApply/GetSelectWorkJson",
            datatype: "json",
            colModel: [
                { label: '主键', name: 'workid', width: 10, align: 'left', sortable: false, hidden: true },
                { label: '作业类型', name: 'worktype', width: 150, align: 'center', sortable: true },
                { label: '作业内容', name: 'workcontent', width: 200, align: 'center', sortable: false },
                { label: '作业单位', name: 'applydeptname', width: 150, align: 'center', sortable: false },
                { label: '单位id', name: 'applydeptid', width: 10, align: 'left', sortable: false, hidden: true },
                { label: '单位code', name: 'applydeptcode', width: 10, align: 'left', sortable: false, hidden: true },
                {
                    label: '作业开始时间', name: 'workstarttime', width: 10, hidden: true, formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd hh:mm');
                    }
                },
                {
                    label: '结束时间', name: 'workendtime', width: 10, hidden: true, formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd hh:mm');
                    }
                },
                {
                    label: '作业时间', name: 'workstarttime', width: 300, align: 'center', sortable: false, formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd hh:mm') + " - " + formatDate(rowObject.workendtime, 'yyyy-MM-dd hh:mm');
                    }
                }, { label: '作业地点', name: 'workplace', width: 200, align: 'center', sortable: false }
            ],
            viewrecords: true,
            rowNum: 10,
            rowList: [10, 15, 20],
            pager: "#gridPager",
            sortname: 'createdate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);
            }
        });
    }


    //返回选择后的结果并赋值到dom控件
    //winObject:窗体中需要查找domId的对象，一般可写成window.document.body
    //domId：接收返回值的dom节点的ID，多个用逗号分隔
    function AcceptClick(winObject, domId) {
        if (selectedRowIndex <= 0) {
            dialogAlert("请选择作业信息!", 2);
            return;
        }
        else {
            var workcontent = $("#gridTable tr:eq(" + selectedRowIndex + ") td:eq(3)").attr("title");
            var applydeptname = $("#gridTable tr:eq(" + selectedRowIndex + ") td:eq(4)").attr("title");
            var applydeptid = $("#gridTable tr:eq(" + selectedRowIndex + ") td:eq(5)").attr("title");
            var applydeptcode = $("#gridTable tr:eq(" + selectedRowIndex + ") td:eq(6)").attr("title");
            var workstarttime = $("#gridTable tr:eq(" + selectedRowIndex + ") td:eq(7)").attr("title");
            var workendtime = $("#gridTable tr:eq(" + selectedRowIndex + ") td:eq(8)").attr("title");
            var workplace = $("#gridTable tr:eq(" + selectedRowIndex + ") td:eq(10)").attr("title");
            var workid = $("#gridTable tr:eq(" + selectedRowIndex + ") td:eq(1)").attr("title");

            var arr = domId.split(',');
            $(winObject).find("#" + arr[0]).val(workcontent);
            $(winObject).find("#" + arr[1]).val(applydeptname);
            $(winObject).find("#" + arr[2]).val(applydeptid);
            $(winObject).find("#" + arr[3]).val(applydeptcode);
            $(winObject).find("#" + arr[4]).val(workstarttime);
            $(winObject).find("#" + arr[5]).val(workendtime);
            $(winObject).find("#" + arr[6]).val(workplace);
            $(winObject).find("#" + arr[7]).val(workid);
        }
        dialogClose();
    }
</script>
<div class="gridPanel">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>
