@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/plugins/ckeditor/ckeditor.js"></script>
<script src="~/Content/scripts/plugins/simditor/js/module.min.js"></script>
<script src="~/Content/scripts/plugins/simditor/js/uploader.min.js"></script>
<script src="~/Content/scripts/plugins/simditor/js/hotkeys.min.js"></script>
<link href="~/Content/scripts/plugins/cxColor/css/jquery.cxcolor.css" rel="stylesheet" />
<script src="~/Content/scripts/plugins/cxColor/js/jquery.cxcolor.js"></script>
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>
<script>
    var keyValue = request('keyValue');
    var actiontype = request('actiontype');
    var IsCommit = request('IsCommit');
    var editor = null;
    $(function () {
        CKEDITOR.replace('ConfigContent', { startupMode: "source" });
        //CKEDITOR.replace('ConfigContent');
        initPage();
        initControl();

        if (IsCommit == "1") {
            $("#btn_Save").hide();
        } else {
            $("#btn_Save").show();
        }
    });
    //初始化控件
    function initControl() {
        if (actiontype == "view") {
            $("input").attr("readonly", "readonly");
            $("textarea").attr("disabled", "disabled");
            
            $(".ui-select").attr("disabled", "disabled");
            $(".form-button").css("display", "none");
            $("#div1").css("display", "none");
        }
        //获取表单
        if (!!keyValue) {
            editor = CKEDITOR.instances.ConfigContent;
            $.SetForm({
                url: "../../RiskDataBaseConfig/Riskdatabaseconfig/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                    if (data != null) {
                        editor.setData(data.ConfigContent);
                        if (data.RiskTypeCode != undefined || data.RiskTypeCode != "") {
                            $("#RiskType").ComboBoxSetValue(data.RiskTypeCode);
                            $("#RiskType").trigger("change");
                        }
                        if (data.ConfigTypeCode != undefined || data.ConfigTypeCode != "") {
                            $("#ConfigType").ComboBoxSetValue(data.ConfigTypeCode);
                            $("#ConfigType").trigger("change");
                        }
                      
                        $("#ItemType").ComboBoxSetValue(data.ItemTypeCode);
                    }
                      

                }
            })
        }
        //保存
        $("#btn_Save").click(function () {
            $("#IsCommit").val("0");
            AcceptClick();
        });
        //发送
        $("#btn_Submit").click(function () {
            $("#IsCommit").val("1");
            AcceptClick();
        });
    }
    function initPage() {
        $("#RiskType").ComboBox({
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            param: { EnCode: "RiskDataBaseConfig" },
            id: "ItemValue",
            text: "ItemName",
            description: "==请选择==",
            height: "200px"
        }).bind("change", function () {
            var value = $(this).attr("data-value");
            if (value == "" || value == undefined) return;
            $("#ConfigType").ComboBox({
                url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
                param: { EnCode: value, Remark: "001" },
                id: "ItemValue",
                text: "ItemName",
                description: "==请选择==",
                height: "200px"
            }).bind("change", function () {
                var value = $(this).attr("data-value");
               
                if (value == "" || value == undefined) return;
                $.ajax({
                    url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
                    type: "GET",
                    data: { EnCode: value },
                    async: false,
                    dataType: "json",
                    success: function (result) {
                        if (result.length > 0) {
                            $("#tr3").show();
                            $("#ItemType").attr("isvalid", "yes").attr("checkexpession", "NotNull");
                            $("#ItemType").ComboBox({
                                data: result,
                                id: "ItemValue",
                                text: "ItemName",
                                description: "==请选择==",
                                height: "200px"
                            });
                        } else {
                            $("#ItemType").ComboBox({
                                description: "==请选择==",
                                height: "200px"
                            });
                            $("#tr3").hide();
                           
                            $("#ItemType").removeAttr("isvalid", "yes").removeAttr("checkexpession", "NotNull");
                        }
                    }
                });
            });
        });
        $("#ConfigType").ComboBox({
            description: "==请选择==",
            height: "200px"
        });
        $("#ItemType").ComboBox({
            description: "==请选择==",
            height: "200px"
        });
    }
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        editor = CKEDITOR.instances.ConfigContent;
        if (editor.getData().length <= 0) {
            dialogMsg('请填写动态内容！', 0);
            return false;
        }
        var postData = {
            DeptId: $("#DeptId").val(),
            DeptCode: $("#DeptCode").val(),
            DeptName: $("#DeptName").val(),
            IsCommit:$("#IsCommit").val(),
            RiskType: $("#RiskType").attr("data-text"),
            ConfigType: $("#ConfigType").attr("data-text"),
            RiskTypeCode: $("#RiskType").attr("data-value"),
            ConfigTypeCode: $("#ConfigType").attr("data-value"),
            ConfigContent: editor.getData(),
            ItemType: $("#ItemType").attr("data-text"),
            ItemTypeCode: $("#ItemType").attr("data-value"),
            DataType:"2"
        }
        if (actiontype == "add") {
            $.SetForm({
                url: "../../RiskDataBaseConfig/Riskdatabaseconfig/IsExitByType",
                param: { RiskType: $("#RiskType").attr("data-text"), ConfigType: $("#ConfigType").attr("data-text"), ItemType: $("#ItemType").attr("data-text") },
                success: function (data) {
                    if (!data) {
                        dialogMsg('该类型的安全风险配置已经存在,不能重复添加！', 0);
                        return false;
                    } else {
                        $.SaveForm({
                            url: "../../RiskDataBaseConfig/Riskdatabaseconfig/SaveForm?keyValue=" + keyValue,
                            param: postData,
                            loading: "正在保存数据...",
                            success: function () {
                                $.currentIframe().$("#gridTable").trigger("reloadGrid");
                            }
                        })
                    }
                }
            })
        } else {
            $.SaveForm({
                url: "../../RiskDataBaseConfig/Riskdatabaseconfig/SaveForm?keyValue=" + keyValue,
                param: postData,
                loading: "正在保存数据...",
                success: function () {
                    $.currentIframe().$("#gridTable").trigger("reloadGrid");
                }
            })
        }
     
    }
 
</script>
<div style="padding-top: 50px; margin-right: 30px;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;基础信息</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <table class="form">
                <tr>

                    <td class="formTitle">所属电厂<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="IsCommit" type="hidden" />
                        <input id="DeptId" type="hidden" class="form-control" value="@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeId" />
                        <input id="DeptCode" type="hidden" class="form-control" value="@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeCode" />
                        <input id="DeptName" type="text" class="form-control" isvalid="yes" value="@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeName" checkexpession="NotNull" onclick="selectDept('', 0, 13, '所属部门', document.body, 'DeptName,DeptCode,DeptId')" />
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">风险类别<font face="宋体">*</font></td>
                    <td class="formValue">
                        <div id="RiskType" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">配置类别<font face="宋体">*</font></td>
                    <td class="formValue">
                        <div id="ConfigType" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
                    </td>
                </tr>
                <tr style="display:none;" id="tr3">
                    <td class="formTitle">所属类别<font face="宋体">*</font></td>
                    <td class="formValue">
                        <div id="ItemType" type="select" class="ui-select"></div>
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">配置内容<font face="宋体">*</font></td>
                    <td class="formValue">
                        <textarea id="ConfigContent" class="form-control"></textarea>
                    </td>
                </tr> 
            </table>
        </div>
        </div>
    </div>
<div id="btngroup" class="form-button" style=" top:40px;  text-align: left; padding-left: 20px; position: fixed; bottom: auto; z-index: 1000;">
    <a id="btn_Save"  class="btn btn-primary"><i class="fa fa-mail-forward"></i>&nbsp;确&nbsp;&nbsp;认</a>
    &nbsp;&nbsp;
    <a id="btn_Submit"  class="btn btn-primary"><i class="fa fa-mail-forward"></i>&nbsp;提&nbsp;&nbsp;交</a>
    &nbsp;&nbsp;
</div>