@{;
    ViewBag.Title = "列表页面";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>;
    $(function () {
        InitialPage();
        GetGrid();
    });
    //初始化页面
    function InitialPage() {
        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() -145);
            }, 200);
            e.stopPropagation();
        });
    }
    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() - 145,
            url: "../../PersonManage/UserScore/GetPageListJson",
            datatype: "json",
            colModel: [
                 { label: 'id', name: 'itemid', hidden: true },
                 //{ label: 'OrganizeCode', name: 'organizecode', hidden: true }, { label: 'departmentcode', name: 'departmentcode', hidden: true }, { label: 'userid', name: 'userid', hidden: true },
                {
                    label: '姓名', name: 'realname', width: 150, align: 'center', sortable: true,
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue != null) {
                            return "<div id='" + rowObject.userid + "'>" + cellvalue + "</div>";
                        } else {
                            return "<div id='" + rowObject.userid + "'></div>";
                        }

                    }
                },
                {
                    label: '性别', name: 'gender', width: 60, align: 'center', sortable: true,
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue != null) {
                            return "<div id='" + rowObject.userid + "'>" + cellvalue + "</div>";
                        } else {
                            return "<div id='" + rowObject.userid + "'></div>";
                        }

                    }
                },
                {
                    label: '身份证号', name: 'identifyid', width: 150, align: 'center', sortable: true,
                    formatter: function (cellvalue, options, rowObject) {
                        var idcard;
                        if (cellvalue != null) {
                            var value = cellvalue.toString();
                            var sta = value.substring(0, 4);
                            var end = value.substring(value.length - 4, value.length);
                            idcard = sta + "**********" + end;
                        }
                        if (cellvalue != null) {
                            return "<div id='" + rowObject.userid + "'>" + idcard + "</div>";
                        } else {
                            return "<div id='" + rowObject.userid + "'></div>";
                        }

                    }
                },
                {
                    label: '单位/部门', name: 'deptname', width: 150, align: 'center', sortable: true,
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue != null) {
                            return "<div id='" + rowObject.userid + "'>" + cellvalue + "</div>";
                        } else {
                            return "<div id='" + rowObject.userid + "'></div>";
                        }

                    }
                },
                { label: '积分项目', name: 'itemname', width: 300, align: 'center', sortable: true },
                { label: '积分值', name: 'score', width: 80, align: 'center', sortable: true },
                { label: '积分类型', name: 'itemtype', width: 100, align: 'center', sortable: true },
                { label: '考核时间', name: 'createdate', width: 150, align: 'center', sortable: true }, 
                { label: '考核人员', name: 'createusername', align: 'center', sortable: true }
            ],
            viewrecords: true,
            rowNum: 30,
            rownumWidth:60,
            rowList: [30, 50, 100],
            pager: "#gridPager",
            sortname: 'realname asc,createdate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: true,
            gridview: true,
            gridComplete: function () {
              
                var arr = new Array("realname", "gender", "identifyid", "deptname");
                Merger("gridTable", arr);
            }
        });
        //查询事件
        $("#btn_Search").click(function () {
            var queryJson = {
                keyword: $("#txt_Keyword").val()
            }
            $gridTable.jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify(queryJson) },
                page: 1
            }).trigger('reloadGrid');
        });
        //查询回车
        $('#txt_Keyword').bind('keypress', function (event) {
            if (event.keyCode == "13") {
                $('#btn_Search').trigger("click");
            }
        });
        $("#btn_SearchAll").click(function () {
            $("#txt_Keyword").val('');
            var queryJson = {
                keyword:""
            }
            $gridTable.jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify(queryJson) },
                page: 1
            }).trigger('reloadGrid');
        });
    }
    //新增
    function add() {
        dialogOpen({
            id: 'Form',
            title: '添加人员积分',
            url: '/PersonManage/UserScore/Edit',
            width: '1000px',
            height: '500px',
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
            }
        });
    }
    //查看
    function show(id) {
        var keyValue = !!id ? id : $('#gridTable').jqGridRowValue('itemid');
            var idx=dialogOpen({
                id: 'Form',
                title: '查看详情',
                url: '/PersonManage/UserScore/Edit?mode=Show&keyValue=' + keyValue,
                width: '1000px',
                height: '500px',
                btn:["关闭"],
                callBack: function (iframeId) {
                    top.layer.close(idx);
                }
            })
    }
    //编辑
    function edit(id) {
        var keyValue = !!id ? id : $('#gridTable').jqGridRowValue('itemid');
        if (checkedRow(keyValue)) {
            dialogOpen({
                id: 'Form',
                title: '编辑人员积分',
                url: '/PersonManage/UserScore/Edit?keyValue=' + keyValue,
                width: '1000px',
                height: '500px',
                callBack: function (iframeId) {
                    top.frames[iframeId].AcceptClick();
                }
            })
        }
    }
    //删除
    function del(id) {
        var keyValue = !!id ? id : $('#gridTable').jqGridRowValue('itemid');
        if (keyValue) {
            $.RemoveForm({
                url: '../../PersonManage/UserScore/RemoveForm',
                param: { keyValue: keyValue },
                success: function (data) {
                    $('#gridTable').trigger('reloadGrid');
                }
            })
        } else {
            dialogMsg('请选择需要删除的人员积分！', 0);
        }
    }
</script>
<div class="titlePanel">
    <div class="title-search">
        <table>
            <tr>
                <td>
                    <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入姓名或部门名称或积分项目进行搜索" style="width: 250px;" />
                </td>
                <td style="padding-left: 5px;">
                    <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>查询</a>
                    <a id="btn_SearchAll" class="btn btn-primary"><i class="fa fa-search-plus"></i>&nbsp;全部</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="toolbar">
        <div class="btn-group">
            <a id="replace" class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>刷新</a>
            
        </div>
    </div>
</div>
<div class="gridPanel">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>
