@{;
ViewBag.Title = "列表页面";
Layout = "~/Views/Shared/_Index.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Map</title>
    <script src="~/content/scripts/jquery/jquery-1.8.2.min.js"></script>
    <script src="~/content/tyldjsc/js/fullpage.js"></script>
    <script src="~/content/tyldjsc/js/nicescroll.min.js"></script>
    <script src="~/content/tyldjsc/js/swiper.min.js"></script>


    @*三维应用*@
    <link rel="shortcut icon" href="~/Content/scripts/CarLocation/@ViewBag.SDmanager/TemplateData/favicon.ico">
    <link href="~/Content/scripts/CarLocation/@ViewBag.SDmanager/TemplateData/style.css" rel="stylesheet" />
    <script src="~/Content/scripts/CarLocation/@ViewBag.SDmanager/TemplateData/UnityProgress.js"></script>
    <script src="~/Content/scripts/CarLocation/@ViewBag.SDmanager/Build/UnityLoader.js"></script>

    <!--即时通信start-->
    <script src="~/Content/scripts/plugins/signalr/jquery.signalR-2.2.0.min.js"></script>
    <script src="@(new ERCHTMS.Busines.SystemManage.DataItemDetailBLL().GetItemValue("SignalRUrl", "MQConfig"))/hubs"></script>

    <script>
        //首页配置信息
        function GetKmIndexConfigure() {
            $.post("../login/GetKmIndexConfigure", {}, function (data) {
            });
        };

        var signalRUrl = "@(new ERCHTMS.Busines.SystemManage.DataItemDetailBLL().GetItemValue("SignalRUrl", "MQConfig"))";
        //三维应用
        $.ajaxSetup({ async: false });
        var _parentId;
        var selectid;
        var gameInstance;

        $(function () {
            gameInstance = UnityLoader.instantiate("UserCarManager",
            "../../Content/scripts/CarLocation/@ViewBag.SDmanager/Build/FindPathPlayer.json",
           { onProgress: UnityProgress });
        });


        //绑定车辆gps信息
        //三维工程项目名 FindPathPlayer
        //三维调用方法名 UpdatePlayerCarPosMove
        function BindUsserGps(res) {
            gameInstance.SendMessage("FindPathPlayer", "UpdatePlayerCarPosMove", res);
        }

    </script>
</head>
<body>
    <div id="ContentStr" style="background-color: #f1e8e8; width: 200px; height: 200px; display:none;">
    </div>
    <div id="UserCarManager" style="height: 90%; width: 100%;">
    </div>
    <script src="~/Content/kmIndex/js/jpush.js"></script> @*SignalR服务Gps数据*@
</body>

</html>
