@{;
ViewBag.Title = "列表页面";
Layout = "~/Views/Shared/_Index.cshtml";
}
<script src="~/Content/scripts/business/gridhelper.js"></script>
@*<script src="https://webapi.amap.com/maps?v=1.4.14&key=您申请的key值&plugin=AMap.PolyEditor"></script>
    <script src="https://a.amap.com/jsapi_demos/static/demo-center/js/demoutils.js"></script>*@
<style>
    .gridPanel {
        background: #fff;
        border: 1px solid #ccc;
        margin: 0px;
        position: relative;
    }
</style>
<script>
    $(function () {
        $('.gridPanel').height($(window).height() - 100);
        iniMap();
    });



    function iniMap() {
        var path;
        //var map = new AMap.Map("container", {
        //    center: [119.768602928571, 26.3668279285714],
        //    zoom: 14
        //});
        $.ajax({
            url: '../../CarManage/CarinLog/GetTrajectory?Cid=xnsjd&Type=1&STime=' + $("#StartTime").val() + "&ETime=" + $("#EndTime").val(),
            type: "GET",
            async: false,
            dataType: "text",
            success: function (result) {
                path = eval("([" + result + "])");
            }
        });

        //var polyline = new AMap.Polyline({
        //    path: path,
        //    isOutline: true,
        //    outlineColor: '#ffeeff',
        //    borderWeight: 3,
        //    strokeColor: "#3366FF",
        //    strokeOpacity: 1,
        //    strokeWeight: 6,
        //    // 折线样式还支持 'dashed'
        //    strokeStyle: "solid",
        //    // strokeStyle是dashed时有效
        //    strokeDasharray: [10, 5],
        //    lineJoin: 'round',
        //    lineCap: 'round',
        //    zIndex: 50,
        //});

        //polyline.setMap(map);
        //// 缩放地图到合适的视野级别
        //map.setFitView([polyline]);
    }


</script>
<div class="titlePanel">
    <div class="title-search">
        <table>
            <tr>
                <td>查询条件:</td>
                <td style="padding-left: 5px">开始时间</td>
                <td style="padding-left: 10px">
                    <input id="StartTime" type="text" class="form-control" placeholder="请选择开始时间" readonly="readonly" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" style="width: 200px;" />
                </td>
                <td style="padding-left: 5px">
                    至
                </td>
                <td style="padding-left: 10px">
                    <input id="EndTime" type="text" class="form-control" placeholder="请选择结束时间" readonly="readonly" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" style="width: 200px;" />
                </td>
                <td style="padding-left: 5px;">
                    <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>查询</a>
                    <a id="btn_SearchAll" class="btn btn-primary"><i class="fa fa-search-plus"></i>&nbsp;全部</a>
                </td>
            </tr>
        </table>

    </div>
    <div class="toolbar">
        <div class="btn-group">
            <a id="replace" class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>刷新</a>
        </div>
    </div>
</div>
<div class="gridPanel">
    <div id="container"></div>
</div>
