@{
    ViewBag.Title = "车辆进出厂统计";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<!--第三方统计图start-->
<script src="~/Content/Scripts/plugins/highcharts/highcharts.js"></script>
<script src="~/Content/Scripts/plugins/highcharts/highcharts-more.js"></script>
<script src="~/Content/Scripts/plugins/highcharts/modules/exporting.js"></script>
<link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
<script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>

<style type="text/css">
    .dropdown-menu > li > a:active {
        color: rgb(38, 38, 38);
        background-color: transparent;
        text-decoration: none;
    }
</style>
@System.Web.Optimization.Scripts.Render("~/Content/scripts/business/CarInLog")
@*<script src="~/Content/scripts/business/Common.js"></script>
    <script src="~/Content/scripts/business/RiskStat.js"></script>*@
<!--第三方统计图end-->
<script>
    var state = 1;
    var deptCode = ""; var CarType = "";
    var InLog = "";
</script>
<div class="border" id="desktop" style=" background: #fff; overflow-y: auto;overflow-x:hidden; ">
    <div style="margin-top:10px;">
        <div class="row">
            <table style="width:100%;">
                <tr>
                    <td style="width: 65px; font-weight: bold;" align="right">时间范围：</td>
                    <td style="width:400px;">
                        <input id="Category" type="hidden" value="1" />
                        <div style="float: left; width: 150px;">
                            <input id="StartDate" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})">
                        </div>
                        <div style="float: left; width: 20px; text-align:center; margin-top:5px;">至</div>
                        <div style="float: left; width:150px;">
                            <input id="EndDate" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })">
                        </div>
                    </td>
                    <td style="width: 65px; font-weight: bold; display: none;" align="right" class="area">车辆类型：</td>
                    <td style="width: 90px; display: none;" class="area">
                        <select id="CarType" class="selectpicker show-menu-arrow form-control"  style="width: 80px;">
                            <option value="">全部</option>
                            <option value="0">电厂班车</option>
                            <option value="1">私家车</option>
                            <option value="2">商务公车</option>
                            <option value="3">拜访车辆</option>
                            <option value="4">物料车辆</option>
                            <option value="5">危化品车辆</option>
                        </select>
                    </td>
                    
                    <td style="width: 65px; font-weight: bold; display: none;" align="right" class="area">进出类型：</td>
                    <td style="width: 90px; display: none;" class="area">
                        <select id="InLog" class="selectpicker show-menu-arrow form-control"  style="width: 80px;">
                            <option value="">全部</option>
                            <option value="0">进厂</option>
                            <option value="1">出厂</option>
                        </select>
                    </td>

                    <td align="right" style="width: 140px;">
                        <a id="btn_Search" class="btn btn-primary" onclick="query()"><i class="fa fa-search"></i>&nbsp;查询</a>
                        &nbsp;<a id="btn_Reset" class="btn btn-primary" onclick="reset()"><i class="fa fa-undo"></i>&nbsp;重置</a>
                    </td>
                    <td align="right">
                        <div class="toolbar">
                            <div class="btn-group">
                                <button id="btntj" class="btn btn-primary btn10" type="button" onclick="state = 1;$('.area1').hide();$('.area').hide();$('#con1').show();$('#con2').hide();$('.btn10').removeClass('btn-primary');$('.btn10').addClass('btn-default');$(this).addClass('btn-primary');"><i class="fa fa fa-pie-chart"></i>&nbsp;进出类型统计</button>
                                <button id="btnqs" class="btn btn-default btn10" type="button" onclick="state = 2;$('.area1').show();$('.area').show();$('#con1').hide();$('#con2').show();$('.btn10').removeClass('btn-primary');$('.btn10').addClass('btn-default');$(this).addClass('btn-primary');stat1();"><i class="fa fa fa-area-chart"></i>&nbsp;进出详情</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

        </div>

    </div>

    <div id="con1">
        <div class="panel panel-default" style="margin-top:10px;">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;统计图表</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <div class="row" style="overflow: hidden; height: 460px;">
                    <div style="width: 100%;" id="div1">

                        <div class="portal-panel-content" style="margin-top: 10px; overflow: hidden;">
                            <div id="piecontainer">
                                <center style="margin-top:50px;">正在加载数据……</center>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;统计数据</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <div class="row" style="margin:10px;">
                    <table id="gridTable"></table>
                </div>
            </div>
        </div>
    </div>
    <div id="con2" style="display:none;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;统计数据</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <div class="row" style="margin:10px;">
                    <table id="gridTable2"></table>
                </div>
            </div>
        </div>
    </div>

</div>

