@{;
    ViewBag.Title = "列表页面";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>    ;
    var orgCode = "@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeCode";
    var UserId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().UserId";//当前用户ID
    var role = "@ERCHTMS.Code.OperatorProvider.Provider.Current().RoleName";//获取当前用户权限集合
    var IsSystem = "@ERCHTMS.Code.OperatorProvider.Provider.Current().IsSystem";
    $(function () {
        InitialPage();
        GetGrid();
    });
    //初始化页面
    function InitialPage() {
        $("#RiskType").ComboBox({
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            param: { EnCode: "RiskDataBaseConfig" },
            id: "ItemValue",
            text: "ItemName",
            description: "==请选择==",
            height: "200px"
        })
        var data = [{ ItemName: "LEC", ItemValue: "LEC" }, { ItemName: "风险矩阵法", ItemValue: "风险矩阵法" }, { ItemName: "PSE", ItemValue: "PSE" }];
        $("#WayType").ComboBox({
            data: data,
            id: "ItemValue",
            text: "ItemName",
            description: "==请选择==",
            height: "200px"
        });
        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 136.5);
            }, 200);
            e.stopPropagation();
        });
    }
    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() - 190,
            url: "../../RiskDataBaseConfig/Riskwayconfig/GetPageListJson",
            datatype: "json",
            colModel: [
                { label: '', name: 'id', hidden: true },
                { label: '', name: 'createuserid', hidden: true },
                { label: '', name: 'createuserdeptcode', hidden: true },
                { label: '', name: 'createuserorgcode', hidden: true },
               {
                   label: '操作', name: 'oper', width: 120, align: 'center', sortable: false,
                   formatter: function (cellvalue, options, rowObject) {

                       var html = "<a href=javascript:show('" + rowObject.id + "')  title='查看'><i class='fa fa-eye'></i></a>";

                       html += "<a href=javascript:create('" + rowObject.id + "')  title='快速创建'><i class='fa fa-file-text-o'></i></a>";

                       if ((rowObject.createuserid == UserId && rowObject.iscommit != 1) || IsSystem == "True") {
                           html += "<a href=javascript:edit('" + rowObject.id + "','" + rowObject.iscommit + "')  title='修改'><i class='fa fa-pencil-square-o'></i></a>";
                           html += "<a href=javascript:delExplain('" + rowObject.id + "')  title='删除'><i class='fa fa-trash-o'></i></a>";
                       }
                       return html;
                   }
               },
                { label: '风险类别', name: 'risktype', index: 'risktype', width: 180, align: 'center', sortable: true },
                { label: '取值类别', name: 'waytype', width: 180, align: 'center', sortable: true },
                { label: '创建时间', name: 'createdate', index: 'createdate', align: 'center', sortable: true },
                { label: '所属单位', name: 'deptname', align: 'center', sortable: true },
                {
                    label: '是否提交', name: 'iscommit', align: 'center', formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == 1) return "已提交"
                        else return "未提交";
                    }
                }
            ],
            viewrecords: true,
            rowNum: 30,
            rowList: [30, 50, 100],
            pager: "#gridPager",
            sortname: 'createdate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: true,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);
            }
        });
        //查询事件
        $("#btn_Search").click(function () {
            $gridTable.jqGrid('setGridParam', {
                postData: {
                    queryJson: JSON.stringify({
                        RiskType: $("#RiskType").attr("data-value"),
                        WayType: $("#WayType").attr("data-value")
                    })
                }, page: 1
            }).trigger('reloadGrid');
        });
    }
    //新增
    function btn_add() {
      var dlg=  dialogOpen({
            id: 'Form',
            title: '添加安全风险管控取值配置',
            url: '/RiskDataBaseConfig/Riskwayconfig/Form?actiontype=add',
            width: ($(top.window).width() - 600) + "px",
            height: ($(top.window).height() - 300) + "px",
            btn:null,
            callBack: function (iframeId) {
                top.layer.close(dlg);
            }
        });
    }
    //快速新建
    function create(id) {
        var keyValue = id;
        var dlg = dialogOpen({
            id: 'Form',
            title: '快速新建安全风险管控配置',
            url: '/RiskDataBaseConfig/Riskwayconfig/CreateForm?keyValue=' + keyValue + '&actiontype=create&IsCommit=0',
            width: ($(top.window).width() - 600) + "px",
            height: ($(top.window).height() - 300) + "px",
            btn: null,
            callBack: function (iframeId) {
                top.layer.close(dlg);
            }
        })

    }
    //编辑
    function show(id) {
        var keyValue = id;
        if (checkedRow(keyValue)) {
            var dlg = dialogOpen({
                id: 'Form',
                title: '查看安全风险管控取值配置',
                url: '/RiskDataBaseConfig/Riskwayconfig/Form?keyValue=' + keyValue + '&actiontype=view',
                width: ($(top.window).width() - 600) + "px",
                height: ($(top.window).height() - 300) + "px",
                btn: null,
                callBack: function (iframeId) {
                    top.layer.close(dlg);
                }
            })
        }
    }
    //编辑
    function edit(id,IsCommit) {
        var keyValue = id;
        if (checkedRow(keyValue)) {
            var dlg = dialogOpen({
                id: 'Form',
                title: '编辑安全风险管控取值配置',
                url: '/RiskDataBaseConfig/Riskwayconfig/Form?keyValue=' + keyValue + '&actiontype=eidt&IsCommit=' + IsCommit,
                width: ($(top.window).width() - 600) + "px",
                height: ($(top.window).height() - 300) + "px",
                btn: null,
                callBack: function (iframeId) {
                    top.layer.close(dlg);
                }
            })
        }
    }
    //删除
    function delExplain(id) {
        var keyValue = id;
        if (keyValue) {
            $.RemoveForm({
                url: '../../RiskDataBaseConfig/Riskwayconfig/RemoveForm',
                param: { keyValue: keyValue },
                success: function (data) {
                    $('#gridTable').trigger('reloadGrid');
                }
            })
        } else {
            dialogMsg('请选择需要删除的安全风险管控取值配置表！', 0);
        }
    }
</script>
<div class="titlePanel">
    <div class="title-search">
        <table>
            <tr>
            <tr>
                <td>风险类别&nbsp;&nbsp;</td>
                <td>
                    <div id="RiskType" type="select" class="ui-select" style="width: 200px;"></div>
                </td>
                <td>&nbsp;&nbsp;取值类别&nbsp;&nbsp;</td>
                <td>
                    <div id="WayType" type="select" class="ui-select" style="width: 200px;"></div>
                </td>
                <td style="padding-left: 5px;">
                    <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>查询</a>
                </td>
            </tr>
            </tr>
        </table>
    </div>
    <div class="toolbar">
        <div class="btn-group">
            <a id="replace" class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>刷新</a>
            <a id="add" class="btn btn-default" onclick="btn_add()"><i class="fa fa-plus"></i>新增</a>
            @*<a id="edit" class="btn btn-default" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>编辑</a>
            <a id="delete" class="btn btn-default" onclick="btn_delete()"><i class="fa fa-trash-o"></i>删除</a>*@
        </div>
    </div>
</div>
<div class="gridPanel">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>
