<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>广西华昇安全生产智能管控中心</title>
    <link rel="stylesheet" href="../Content/areamaps/gxhs/swiper.min.css">
    <link rel="stylesheet" href="../Content/areamaps/gxhs/index.css">
    <style>
        /* css样式重置 */
        body, p, dl, dt, dd, h1, h2, h3, h4, h5, h6, dl, dt, dd, form, fieldset, input, button, th, td {
            padding: 0;
            margin: 0;
            font-family: 'Microsoft Yahei','微软雅黑',Helvetica,sans-serif;
        }

        body {
            font-size: 14px;
        }

        ul, ol, li {
            padding: 0;
            margin: 0;
            list-style: none;
        }

        i {
            font-style: normal;
        }

        a {
            text-decoration: none;
            color: #fff;
        }

        img {
            border: 0;
            vertical-align: middle;
        }

        .clearfix:after {
            display: block;
            content: '';
            clear: both;
            visibility: hidden;
            height: 0;
        }

        input, textarea, select, option, fieldset, button {
            margin: 0;
            padding: 0;
            vertical-align: top;
            outline: none;
            border: 0;
            line-height: normal;
        }

        .clearfix {
            zoom: 1;
        }

        .fl {
            float: left;
        }

        .fr {
            float: right;
        }

        tr:hover {
            cursor: pointer;
        }
    </style>
    <style>
        #huadian_container {
            width: 1080px;
            height: 1920px;
            /* position: relative;
            top: 80px; */
            margin: 0 auto;
            color: #fff;
            background: url(../Content/areamaps/gxhs/images/bg.png) no-repeat center center;
        }

        .huadian_header {
            width: 100%;
            height: 70px;
            line-height: 70px;
            background: #000e31;
            position: relative;
        }

        .huadian_header_item1 {
            padding-left: 12px;
            margin-right: 10px;
        }

        .huadian_header_item2 {
            margin-top: 18px;
            padding-left: 9px;
            line-height: 20px;
            border-left: 1px solid #9197a5;
        }

        .huadian_header_item3 {
            width: 260px;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            font-size: 30px;
            font-weight: 800;
            color: #02f0ff;
            text-align: center;
        }

        .huadian_header_item4 {
            margin: 12px 22px 0 0;
            line-height: 24px;
        }

        .huadian_contentbox {
            width: 1040px;
            padding-top: 10px;
            margin: 0 auto;
            position: relative;
        }

        .huadian_header_item4 .head_date {
            padding-left: 24px;
            height: 24px;
            background: url('../Content/areamaps/gxhs/images/icon6.png') no-repeat 0 center;
        }

        .huadian_header_item4 .head_time {
            margin: 0 20px 0 30px;
        }

        .huadian_header_item4 .head_blu {
            color: #02f0ff;
        }

        .huadian_header_item4 .head_change {
            padding: 0 6px;
        }

        .huadian_header_item4 .safeDays {
            margin-right: 20px;
        }

        .huadian_header_item4 .head_speTime {
            color: #fff;
            background: #0a82e8;
            padding: 0 4px;
            margin-right: 4px;
            border-radius: 4px;
        }

        #temporaryPack {
            min-height: 400px;
            max-height: 702px;
            position: relative;
        }

        #highrisk {
            min-height: 400px;
            /* max-height: 582px; */
            max-height: 620px;
            position: relative;
        }

        .temporaryPack_head {
            height: 50px;
            line-height: 50px;
            padding: 0 20px;
            background: #7f1119;
            border-radius: 8px;
        }

            .temporaryPack_head h3 {
                font-size: 21px;
                font-weight: bold;
                color: #fff;
            }

        .huadian_contentbox .yel {
            color: #fff10d;
            margin-left: 11px;
        }

        .workersCount {
            margin-left: 46px;
        }

        .workStatistic {
            height: 50px;
            line-height: 50px;
            padding-left: 20px;
        }

        .cart_item {
            font-weight: bold;
            color: #ff4157;
        }

        .tempConstruction_item {
            margin: 0 45px 0 25px;
        }

        .huadian_contentbox .blu {
            color: #02f0ff;
            margin-left: 12px;
        }

        .outerUnitBox {
            vertical-align: middle;
        }

        .outerUnit_item {
            width: 100%;
            /* height: 256px; */
            margin: 0 20px 10px 0;
            position: relative;
        }

        .outerUnit_item_wrap {
            width: 100%;
            height: 100%;
            background: #11429d;
            border-radius: 8px;
            opacity: 0.2;
            -moz-opacity: 0.2;
            -khtml-opacity: 0.2;
            filter: alpha(opacity=10);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 11;
        }

        .outerUnit_item:nth-child(2n) {
            margin-right: 0;
        }

        .outerUnit_intro {
            padding: 7px 0 0 20px;
        }

            .outerUnit_intro h3 {
                font-weight: bold;
                color: #ff4157;
                height: 34px;
                line-height: 34px;
            }

        .outerUnit_intro_l {
            width: 270px;
        }

        .outerUnit_intro_r {
            width: 200px;
        }

        .outerUnit_intro_item {
            height: 32px;
            line-height: 32px;
            margin-right: 45px;
            color: #fff;
        }

        .outerUnit_intro_img {
            margin-right: 10px;
        }

        .taskTable {
            margin-top: 10px;
            width: 100%;
            border-collapse: collapse;
            text-align: center;
        }

            .taskTable td {
                padding: 0 8px;
                border-right: 1px solid #134184;
                border-bottom: 1px solid #134184;
            }

            .taskTable .contentCol {
                /* text-indent: 32px; */
            }

            .taskTable tr {
                height: 30px;
            }

        .taskTable_head {
            color: #02f0ff;
            font-weight: normal;
        }

        .taskTable .taskTable_head {
            background: #0c3471;
            height: 30px;
            line-height: 30px;
        }

        .taskTable .lastRow td {
            border-bottom: 0;
        }

        .taskTable tr td:last-child {
            border-right: 0;
        }

        .mySwiper {
            padding-bottom: 25px;
        }

        .swiper-pagination-bullet {
            background: #fff;
            opacity: 1;
        }

        .swiper-pagination-bullet-active {
            background: #00b5e2;
            box-shadow: 0 0 5px 4px #0c3471;
        }

        .highriskTable {
            width: 100%;
            table-layout: fixed;
            border-collapse: separate;
            text-align: center;
            border-spacing: 0;
            position: relative;
            z-index: 11;
        }

            .highriskTable tr {
                height: 40px;
                /* line-height: 40px; */
            }

            .highriskTable td {
                /* overflow: hidden;
           text-overflow: ellipsis;
           white-space: nowrap; */
            }

            .highriskTable tr:first-child th:first-child {
                border-top-left-radius: 8px;
            }

            .highriskTable tr:first-child th:last-child {
                border-top-right-radius: 8px;
            }

            .highriskTable tr:last-child td:last-child {
                border-bottom-right-radius: 8px;
            }

            .highriskTable tr:last-child td:first-child {
                border-bottom-left-radius: 8px;
            }

            .highriskTable tr:nth-of-type(2n) {
                background: #0d397b;
            }

            .highriskTable tr:nth-of-type(2n+1) {
                background: #0c3269;
            }

        .risk_level1 {
            color: #ff4157;
        }

        .risk_level2 {
            color: #ff9c00;
        }

        .risk_level3 {
            color: #f0ff00;
        }

        .risk_level4 {
            color: #00a8ff;
        }

        .mySwiper2 {
            padding-bottom: 35px;
        }

        .learningBox {
            padding-top: 14px;
        }

        .learingRules_l, .learingRules_r {
            /* width: 515px; */
            /* height: 408px; */
            width: 100%;
            min-height: 200px;
            background: #092754;
            border-radius: 8px;
        }

        .learingRules_head {
            height: 50px;
            line-height: 50px;
            background: #0d3570;
            font-size: 17px;
            vertical-align: middle;
            padding-left: 20px;
            border-radius: 8px 8px 0 0;
        }

            .learingRules_head .redIcon {
                width: 25px;
                height: 25px;
                background: #ff4157;
                border-radius: 50%;
                position: relative;
                top: 13px;
                margin-right: 10px;
            }

                .learingRules_head .redIcon i {
                    position: absolute;
                    top: -13px;
                    left: 8px;
                }

        .learningRulesContent {
            padding: 20px 30px 18px 30px;
        }

            .learningRulesContent p {
                font-size: 14px;
                text-indent: 32px;
                line-height: 23px;
                margin-bottom: 7px;
            }

        .mySwiper3 {
            padding-bottom: 35px;
        }

        .last_outerUnit_intro_item {
            margin-right: 20px;
        }

        .first_outerUnit_intro_item {
            margin-right: 28px;
        }

        .nodata {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-211px,-146px);
            text-align: center;
        }

        .hidden {
            display: none;
        }

        /* 切换按钮 */
        .navBox {
            /* width: 100%; */
            width: 1080px;
            position: fixed;
            bottom: 60px;
            z-index: 500;
        }

            .navBox .navL {
                position: absolute;
                left: 20px;
            }

            .navBox .navR {
                position: absolute;
                left: 1010px;
            }
        /* 未整改隐患、违章 */
        .reactyfy_headbar {
            width: 470px;
        }

        .reactyfy_content {
            margin-top: 42px;
            padding-left: 20px;
        }

        .reactyfyimgBox {
            position: relative;
            display: inline-block;
        }

        .overdue {
            position: absolute;
            right: 0;
            top: 0;
            width: 64px;
            height: 23px;
            display: block;
            background: url('../Content/areamaps/gxhs/images/overdue.png') no-repeat left top;
        }

        .reactyfyli_l, reactyfyUl_r {
            width: 480px;
            padding-right: 15px;
        }

        .reactyfy_dt {
            margin-right: 17px;
        }

        .reactyfy_dd {
            width: 300px;
            color: #fefefe;
        }

        .reacty_description {
            width: 224px;
            line-height: 17px;
            /* white-space: nowrap; */
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        .blueColor {
            color: #5d97fa;
        }

        .yellowColor {
            color: #f0ff00;
        }

        .redColor {
            color: #e93c52;
        }

        .orangeColor {
            color: #ff9c00;
        }

        .reacty_section1 {
            margin: 3px 0 6px;
        }

        .reacty_section2 {
            line-height: 27px;
        }

        .reacty_secL {
            width: 145px;
        }

        .reacty_secR {
            width: 150px;
        }

        .reactyfyli_l {
            margin-bottom: 28px;
        }

            .reactyfyli_l:last-child {
                margin-bottom: 0;
            }

        .mySwiper4 {
            padding-bottom: 42px;
        }

        .noShow {
            width: 100%;
            position: absolute;
            bottom: 0;
            z-index: -100;
        }

        .show {
            width: 100%;
            position: absolute;
            top: 100%;
            z-index: 100;
        }

        /* 风险、隐患、作业信息弹框 */
        #bjcontainer {
            position: relative;
        }

        .riskDialog {
            position: absolute;
            left: 35px;
            top: 230px;
            width: 970px;
            max-height: 800px;
            font-size: 13px;
            padding: 0 25px;
            box-sizing: border-box;
            background-color: #121c3c;
            border-radius: 8px;
            z-index: 11;
            display: none;
        }

            .riskDialog .closeBtn {
                width: 12px;
                height: 12px;
                background: url('../Content/areamaps/gxhs/images/closeBtn.png') no-repeat center center;
                position: absolute;
                right: 15px;
                top: 15px;
                cursor: pointer;
            }

        .riskMsgBox {
            padding-left: 10px;
        }

        .risktit {
            margin-top: 25px;
            border-left: 4px solid #fff;
            padding-left: 10px;
        }

        .riskitem {
            margin-right: 62px;
            line-height: 33px;
        }

        .riskUnit_item {
            margin: 10px 0 30px;
        }
        .mySwiper-box{
            display: flex;
            display: -webkit-flex;
            justify-content: space-between;
        }
        .mySwiper-box .swiper-container{
             width: 50%;
             padding-bottom: 25px;
        }
    </style>
    <script src="../Content/areamaps/gxhs/jquery-2.2.4.min.js"></script>
    <script src="../Content/areamaps/gxhs/swiper.min.js"></script>
</head>
<body>
    <div id="huadian_container">
        <div class="huadian_header clearfix">
            <div class="huadian_header_item1 fl"><img src="../Content/areamaps/gxhs/images/gxlogo.png" alt=""></div>
            <!-- <div class="huadian_header_item2 fl">
                <p>贵州华电毕节</p>
                <p>热电有限公司</p>
            </div> -->
            <h2 class="huadian_header_item3">
                安全管控重要数据
            </h2>
            <div class="huadian_header_item4 fr">
                <div class="huadian_header_row1 clearfix">
                    <div class="head_date fl">2020/06/14</div>
                    <div class="head_time fl">10:34</div>
                    <div class="head_temperature fl">27℃～14℃</div>
                </div>
                <div class="huadian_header_row2 clearfix">
                    <div class="weather fr">
                        <i class="head_blu">晴</i><span class="head_change">转</span><i class="head_blu">多云</i>
                    </div>
                    <div class="safeDays fr">安全生产天数 <i class="head_speTime">0</i><i class="head_speTime">4</i><i class="head_speTime">2</i><i class="head_speTime">9</i>天</div>
                </div>
            </div>
        </div>
        <div class="huadian_contentbox">
            <!-- 安全风险四色分布图 -->
            <div id="temporaryPack">
                <div class="temporaryPack_head clearfix">
                    <h3 class="fl">安全风险四色分布图</h3>
                    <div class="workersCount fr">重大风险数量：<i class="yel" id="zdcount">@ViewBag.Zdcount</i>个</div>
                    <div class="temporaryCount fr">较大风险数量：<i class="yel" id="jdcount">@ViewBag.Jdcount</i>个</div>
                </div>

                <div id="bjcontainer">
                    <div class="bjcontent"></div>
                    <!-- 风险、隐患、作业信息弹框 -->
                    <div class="riskDialog">
                        <div class="riskMsgBox">
                            <div class="saferisk risktit">
                                <h4>安全风险信息</h4>
                            </div>
                            <div class="clearfix">
                                <div class="riskitem blueColor fl">低风险：120个</div>
                                <div class="riskitem yellowColor fl">一般风险： 120个</div>
                                <div class="riskitem orangeColor fl">较大风险： 120个</div>
                                <div class="riskitem redColor fl">重大风险： 120个</div>
                            </div>
                            <div class="hiderisk risktit">
                                <h4>未闭环隐患信息</h4>
                            </div>
                            <div class="clearfix">
                                <div class="riskitem blueColor fl">低风险：120个</div>
                                <div class="riskitem redColor fl">重大风险： 120个</div>
                            </div>
                            <div class="homewokrkrisk risktit">
                                <h4>当前作业信息</h4>
                            </div>
                        </div>
                        <div class="riskUnit_item">
                            <table class="highriskTable" cellspacing="0">
                                <tr class="taskTable_head">
                                    <th width="5%%">序号</th>
                                    <th width="20%">作业单位</th>
                                    <th width="15%">作业类型</th>
                                    <th width="20%">作业内容</th>
                                    <th width="10%">风险等级</th>
                                    <th width="10%">监护人</th>
                                    <th width="10%">批准人</th>
                                </tr>
                                <tr class="risk_level1">
                                    <td>1</td>
                                    <td>中建国信工程建设有限公司中建国信工程建设</td>
                                    <td>有限空间</td>
                                    <td>#3机除氧平台机除氧平台机除3机除氧平台机除氧平台机除3机</td>
                                    <td>重大风险</td>
                                    <td>张三、李四</td>
                                    <td>蒋有才</td>
                                </tr>
                                <tr class="risk_level2">
                                    <td>1</td>
                                    <td>中建国信工程建设有限公司</td>
                                    <td>有限空间</td>
                                    <td>#3机除氧平台</td>
                                    <td>重大风险</td>
                                    <td>张三、李四</td>
                                    <td>蒋有才</td>
                                </tr>
                                <tr class="risk_level3">
                                    <td>1</td>
                                    <td>中建国信工程建设有限公司</td>
                                    <td>6米以上脚手架搭设</td>
                                    <td>#3机除氧平台</td>
                                    <td>重大风险</td>
                                    <td>张三、李四</td>
                                    <td>蒋有才</td>
                                </tr>
                                <tr class="risk_level4">
                                    <td>1</td>
                                    <td>中建国信工程建设有限公司</td>
                                    <td>有限空间</td>
                                    <td>#3机除氧平台</td>
                                    <td>重大风险</td>
                                    <td>张三、李四</td>
                                    <td>蒋有才</td>
                                </tr>

                            </table>
                        </div>
                        <div class="closeBtn"></div>
                    </div>
                </div>
            </div>
            <!-- 高风险作业 -->
            <div id="highrisk">
                <div class="temporaryPack_head clearfix">
                    <h3 class="fl">当前高风险作业</h3>
                    <div class="workersCount fr"> 作业人数：<i class="yel" id="workPersonNum">-</i>人</div>
                    <div class="temporaryCount fr">高风险作业（进行中）数量：<i class="yel" id="workNum">-个</i></div>
                </div>
                <div class="swiper-container mySwiper2">
                    <div class="swiper-wrapper" id="divWork">
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="nodata hidden"><img src="../Content/areamaps/gxhs/images/nodata.png" alt=""></div>
            </div>
            <!-- 规章制度学习 -->
            <div id="ruleLearning" class="noShow">
                <div class="temporaryPack_head clearfix">
                    <h3 class="fl">今日规章制度学习</h3>
                    <div class="workersCount fr"> 篇章数：<i class="yel" id="count">-</i>篇</div>
                </div>
                <div class="learningBox">
                    <div class="swiper-container mySwiper3">
                        <div class="swiper-wrapper" id="news">
                            <br />
                            <img src="~/content/images/loading1.gif" border="0" style="width: 30px; height: 30px;" />
                            &nbsp;正在加载数据……
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
            <!-- 未整改隐患、未整改违章 -->
            <div id="reactyfy" class="show">
                <div class="reactyfy_head clearfix ">
                    <div class="temporaryPack_head reactyfy_headbar fl clearfix">
                        <h3 class="fl">未整改隐患</h3>
                        <div class="workersCount fr">逾期未整改数量 <i class="yel" id="yqwzghtcount">0个</i></div>
                        <div class="temporaryCount fr">未整改总数<i class="yel" id="wzghtcount">0个</i></div>
                    </div>
                    <div class="temporaryPack_head reactyfy_headbar fr clearfix">
                        <h3 class="fl">未整改违章</h3>
                        <div class="workersCount fr">逾期未整改数量<i class="yel" id="yqwzglllegalcount">0个</i></div>
                        <div class="temporaryCount fr">未整改总数<i class="yel" id="wzglllegalcount">0个</i></div>
                    </div>
                </div>
                @*<div class="swiper-container mySwiper4">
                    <div class="swiper-wrapper" id="divyh">
                    </div>
                    <div class="swiper-pagination"></div>
                </div>*@
                <div class="mySwiper-box">
                    <div class="swiper-container mySwiper5">
                        <div class="swiper-wrapper" id="divyh">
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <div class="swiper-container mySwiper6">
                        <div class="swiper-wrapper" id="divwz">
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                
                @*<div class="swiper-container mySwiper4">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="reactyfy_content clearfix">
                                <ul class="reactyfyUl_l fl">
                                    <li class="reactyfyli_l">
                                        <dl class="reactyfy_dl clearfix">
                                            <dt class="reactyfy_dt fl">
                                                <span class="reactyfyimgBox">
                                                    <img src="../Content/areamaps/gxhs/images/reactyfy1.jpg" alt="">
                                                    <i class="overdue"></i>
                                                </span>
                                            </dt>
                                            <dd class="reactyfy_dd fl">
                                                <div class="reacty_section1 clearfix">
                                                    <span class="reacty_tit blueColor fl">隐患描述：</span>
                                                    <div class="reacty_description fl">5#路与6#路交叉处深基坑施工防护围挡缺失或设置不规范</div>
                                                </div>
                                                <div class="reacty_section2">
                                                    <div class="reacty_secL fl"><span class="blueColor">隐患级别：</span><i class="yellowColor">一般隐患</i></div>
                                                    <div class="reacty_secR fr"><span class="blueColor">隐患类别：</span>现场类隐患</div>
                                                </div>
                                                <div class="reacty_section2">
                                                    <div class="reacty_secL fl"><span class="blueColor">责任人：</span>王鹏辉</div>
                                                    <div class="reacty_secR fr"><span class="blueColor">截止时间：</span>2020-06-15</div>
                                                </div>
                                            </dd>
                                        </dl>
                                    </li>
                                    <li class="reactyfyli_l">
                                        <dl class="reactyfy_dl clearfix">
                                            <dt class="reactyfy_dt fl">
                                                <span class="reactyfyimgBox">
                                                    <img src="../Content/areamaps/gxhs/images/reactyfy2.jpg" alt="">
                                                </span>
                                            </dt>
                                            <dd class="reactyfy_dd fl">
                                                <div class="reacty_section1 clearfix">
                                                    <span class="reacty_tit blueColor fl">隐患描述：</span>
                                                    <div class="reacty_description fl">分解分级113槽罐顶配电箱接线不规范</div>
                                                </div>
                                                <div class="reacty_section2">
                                                    <div class="reacty_secL fl"><span class="blueColor">隐患级别：</span><i class="yellowColor">一般隐患</i></div>
                                                    <div class="reacty_secR fr"><span class="blueColor">隐患类别：</span>现场类隐患</div>
                                                </div>
                                                <div class="reacty_section2">
                                                    <div class="reacty_secL fl"><span class="blueColor">责任人：</span>周成刚</div>
                                                    <div class="reacty_secR fr"><span class="blueColor">截止时间：</span>2020-06-15</div>
                                                </div>
                                            </dd>
                                        </dl>
                                    </li>
                                    <li class="reactyfyli_l">
                                        <dl class="reactyfy_dl clearfix">
                                            <dt class="reactyfy_dt fl">
                                                <span class="reactyfyimgBox">
                                                    <img src="../Content/areamaps/gxhs/images/reactyfy3.jpg" alt="">
                                                </span>
                                            </dt>
                                            <dd class="reactyfy_dd fl">
                                                <div class="reacty_section1 clearfix">
                                                    <span class="reacty_tit blueColor fl">隐患描述：</span>
                                                    <div class="reacty_description fl">作业临边无防护或者防护不到位</div>
                                                </div>
                                                <div class="reacty_section2">
                                                    <div class="reacty_secL fl"><span class="blueColor">隐患级别：</span><i class="yellowColor">一般隐患</i></div>
                                                    <div class="reacty_secR fr"><span class="blueColor">隐患类别：</span>现场类隐患</div>
                                                </div>
                                                <div class="reacty_section2">
                                                    <div class="reacty_secL fl"><span class="blueColor">责任人：</span>王鹏辉</div>
                                                    <div class="reacty_secR fr"><span class="blueColor">截止时间：</span>2020-06-15</div>
                                                </div>
                                            </dd>
                                        </dl>
                                    </li>
                                </ul>
                                <ul class="reactyfyUl_r fr">
                                    <li class="reactyfyli_l">
                                        <dl class="reactyfy_dl clearfix">
                                            <dt class="reactyfy_dt fl">
                                                <span class="reactyfyimgBox">
                                                    <img src="../Content/areamaps/gxhs/images/reactyfy5.jpg" alt="">
                                                </span>
                                            </dt>
                                            <dd class="reactyfy_dd fl">
                                                <div class="reacty_section1 clearfix">
                                                    <span class="reacty_tit blueColor fl">违章描述：</span>
                                                    <div class="reacty_description fl">计控楼高空作业不系安全带</div>
                                                </div>
                                                <div class="reacty_section2">
                                                    <div class="reacty_secL fl"><span class="blueColor">违章级别：</span><i class="redColor">严重违章</i></div>
                                                    <div class="reacty_secR fr"><span class="blueColor">违章类别：</span>违章作业</div>
                                                </div>
                                                <div class="reacty_section2">
                                                    <div class="reacty_secL fl"><span class="blueColor">责任人：</span>金宗亮</div>
                                                    <div class="reacty_secR fr"><span class="blueColor">截止时间：</span>2020-06-15</div>
                                                </div>
                                            </dd>
                                        </dl>
                                    </li>
                                    <li class="reactyfyli_l">
                                        <dl class="reactyfy_dl clearfix">
                                            <dt class="reactyfy_dt fl">
                                                <span class="reactyfyimgBox">
                                                    <img src="../Content/areamaps/gxhs/images/reactyfy6.jpg" alt="">
                                                </span>
                                            </dt>
                                            <dd class="reactyfy_dd fl">
                                                <div class="reacty_section1 clearfix">
                                                    <span class="reacty_tit blueColor fl">违章描述：</span>
                                                    <div class="reacty_description fl">热电站存在施工用电“三级配电箱”未按照要求设置漏电保护器</div>
                                                </div>
                                                <div class="reacty_section2">
                                                    <div class="reacty_secL fl"><span class="blueColor">违章级别：</span><i class="orangeColor">较严重违章</i></div>
                                                    <div class="reacty_secR fr"><span class="blueColor">违章类别：</span>装置违章</div>
                                                </div>
                                                <div class="reacty_section2">
                                                    <div class="reacty_secL fl"><span class="blueColor">责任人：</span>李宝财</div>
                                                    <div class="reacty_secR fr"><span class="blueColor">截止时间：</span>2020-06-15</div>
                                                </div>
                                            </dd>
                                        </dl>
                                    </li>
                                    <li class="reactyfyli_l">
                                        <dl class="reactyfy_dl clearfix">
                                            <dt class="reactyfy_dt fl">
                                                <span class="reactyfyimgBox">
                                                    <img src="../Content/areamaps/gxhs/images/reactyfy7.jpg" alt="">
                                                    <i class="overdue"></i>
                                                </span>
                                            </dt>
                                            <dd class="reactyfy_dd fl">
                                                <div class="reacty_section1 clearfix">
                                                    <span class="reacty_tit blueColor fl">违章描述：</span>
                                                    <div class="reacty_description fl">车牌号为豫A08S6P的车辆存在“货车载人”的违规违章行为</div>
                                                </div>
                                                <div class="reacty_section2">
                                                    <div class="reacty_secL fl"><span class="blueColor">违章级别：</span><i class="yellowColor">一般违章</i></div>
                                                    <div class="reacty_secR fr"><span class="blueColor">违章类别：</span>违章作业</div>
                                                </div>
                                                <div class="reacty_section2">
                                                    <div class="reacty_secL fl"><span class="blueColor">责任人：</span>金宗亮</div>
                                                    <div class="reacty_secR fr"><span class="blueColor">截止时间：</span>2020-06-15</div>
                                                </div>
                                            </dd>
                                        </dl>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="reactyfy_content clearfix">
                                <ul class="reactyfyUl_l fl">
                                    <li class="reactyfyli_l">
                                        <dl class="reactyfy_dl clearfix">
                                            <dt class="reactyfy_dt fl">
                                                <span class="reactyfyimgBox">
                                                    <img src="../Content/areamaps/gxhs/images/reactyfy4.jpg" alt="">
                                                    <i class="overdue"></i>
                                                </span>
                                            </dt>
                                            <dd class="reactyfy_dd fl">
                                                <div class="reacty_section1 clearfix">
                                                    <span class="reacty_tit blueColor fl">隐患描述：</span>
                                                    <div class="reacty_description fl">配电箱内违规使用插排</div>
                                                </div>
                                                <div class="reacty_section2">
                                                    <div class="reacty_secL fl"><span class="blueColor">隐患级别：</span><i class="yellowColor">一般隐患</i></div>
                                                    <div class="reacty_secR fr"><span class="blueColor">隐患类别：</span>电气安全</div>
                                                </div>
                                                <div class="reacty_section2">
                                                    <div class="reacty_secL fl"><span class="blueColor">责任人：</span>周成刚</div>
                                                    <div class="reacty_secR fr"><span class="blueColor">截止时间：</span>2020-06-15</div>
                                                </div>
                                            </dd>
                                        </dl>
                                    </li>
                                </ul>
                                <ul class="reactyfyUl_r fr">
                                    <li class="reactyfyli_l">
                                        <dl class="reactyfy_dl clearfix">
                                            <dt class="reactyfy_dt fl">
                                                <span class="reactyfyimgBox">
                                                    <img src="../Content/areamaps/gxhs/images/reactyfy8.jpg" alt="">
                                                </span>
                                            </dt>
                                            <dd class="reactyfy_dd fl">
                                                <div class="reacty_section1 clearfix">
                                                    <span class="reacty_tit blueColor fl">违章描述：</span>
                                                    <div class="reacty_description fl">
                                                        高处作业人员未佩戴、未系挂安全带
                                                    </div>
                                                </div>
                                                <div class="reacty_section2">
                                                    <div class="reacty_secL fl"><span class="blueColor">违章级别：</span><i class="redColor">严重违章</i></div>
                                                    <div class="reacty_secR fr"><span class="blueColor">违章类别：</span>违章作业</div>
                                                </div>
                                                <div class="reacty_section2">
                                                    <div class="reacty_secL fl"><span class="blueColor">责任人：</span>金宗亮</div>
                                                    <div class="reacty_secR fr"><span class="blueColor">截止时间：</span>2020-06-15</div>
                                                </div>
                                            </dd>
                                        </dl>
                                    </li>
                                    <li class="reactyfyli_l">
                                        <dl class="reactyfy_dl clearfix">
                                            <dt class="reactyfy_dt fl">
                                                <span class="reactyfyimgBox">
                                                    <img src="../Content/areamaps/gxhs/images/reactyfy9.jpg" alt="">
                                                </span>
                                            </dt>
                                            <dd class="reactyfy_dd fl">
                                                <div class="reacty_section1 clearfix">
                                                    <span class="reacty_tit blueColor fl">违章描述：</span>
                                                    <div class="reacty_description fl">高处作业安全管理不到位，现场安全管理松懈</div>
                                                </div>
                                                <div class="reacty_section2">
                                                    <div class="reacty_secL fl"><span class="blueColor">违章级别：</span><i class="redColor">严重违章</i></div>
                                                    <div class="reacty_secR fr"><span class="blueColor">违章类别：</span>违章作业</div>
                                                </div>
                                                <div class="reacty_section2">
                                                    <div class="reacty_secL fl"><span class="blueColor">责任人：</span>李宝财</div>
                                                    <div class="reacty_secR fr"><span class="blueColor">截止时间：</span>2020-06-15</div>
                                                </div>
                                            </dd>
                                        </dl>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>*@
            </div>
        </div>
        <!-- 切换按钮 -->
        <div class="navBox">
            <a class="navL" href="javascript:;"><img src="../Content/areamaps/gxhs/images/leftico.png" alt=""></a>
            <a class="navR" href="javascript:;"><img src="../Content/areamaps/gxhs/images/rightico.png" alt=""></a>
        </div>
    </div>
    <script type="text/javascript">
        //var apiUrl = "http://10.36.1.36/erchtmsapp/api/";
       var apiUrl = "@(new ERCHTMS.Busines.SystemManage.DataItemDetailBLL().GetItemValue("WebApiUrl", "AppSettings"))";
        //var apiUrl = "http://10.36.1.70/erchtmsapp/api/";
        //设置时间
        function setTime() {
            var currDate = new Date();
            var strDate = currDate.getFullYear() + "/" + (currDate.getMonth() + 1) + "/" + currDate.getDate();
            $(".head_date").text(strDate);
            var hour = currDate.getHours() < 10 ? "0" + currDate.getHours() : currDate.getHours();
            var min = currDate.getMinutes() < 10 ? "0" + currDate.getMinutes() : currDate.getMinutes();
            $(".head_time").text(hour + ":" + min);
        }
        $(function () {
            setTime();
            window.setInterval("setTime()", 1000);
            getRiskWorkStat();
            getNews();
            getWeather();
            initMap();
            getDays();
            getHtAndLllegalInfoForHome();
            initDlg();
            window.setInterval("refreshData()", 300000);
        });
        //查看区域下的风险，隐患及作业信息
        function initDlg() {
            $("img[sno]").each(function (i,img) {
                $(img).parent().click(function () {
                    $(".riskDialog").show();
                    $.get(apiUrl + "basedata/GetRiskInfoByCode", { code: $(img).attr("sno"), orgCode: "00019" }, function (json) {
                        if (json.code == 0) {
                            var html = "";
                            var colors = ["blueColor", "yellowColor", "orangeColor", "redColor"];
                            $(json.data.risk).each(function (i, item) {

                                html += '<div class="riskitem fl '+colors[i]+'">'+item.grade+'：'+item.num+'个</div>';
                            });
                            $("#risk").html(html);

                            html = "";
                            colors = ["blueColor","redColor"];
                            $(json.data.ht).each(function (i, item) {
                                html += '<div class="riskitem fl ' + colors[i] + '">' + item.name + '：' + item.num + '个</div>';
                            });
                            $("#ht").html(html);
                            html = "";
                            $(json.data.work).each(function (k, item1) {
                                var grade = getLevel(item1.RiskTypeValue);
                                html += '<tr class="risk_level' + grade + ' row0"><td>' + (k + 1) + '</td><td>' + cutString(item1.WorkDept, 12) + '</td><td>' + cutString(item1.WorkType, 10) + '</td><td>' + cutString(item1.WorkPlace, 10) + '</td><td>' + cutString(item1.WorkContent, 29) + '</td><td>' + item1.RiskType + '</td><td>' + cutString(item1.WorkTutelagePerson, 8) + '</td><td>' + cutString(item1.AuditUserName, 4) + '</td></tr>';
                            });
                            $("#work").find(".row0").remove();
                            $("#work").append(html);

                        }

                    });

                });
            });
        }
        //定时刷新数据
        function refreshData() {
            getRiskWorkStat();
            getNews();
            initMap();
            getDays();
            getHtAndLllegalInfoForHome();
            getWeather();
        }
        //截取字符串
        function cutString(str, len) {
            if (str!=null && str!=undefined) {
                if (str.length > len) {
                    return str.substring(0, len) + "...";
                } else {
                    return str;
                }
            } else {
                return "";
            }

        }
        function newTab() {

        }
        function showDlg(areaCode) {
            alert(areaCode);
        }
        function initMap() {
            $(".importAccident").hide();
            $(".itemul").html('');
            var arr = new Array();
            $("img[sno]").each(function (i, dom) {
                arr.push($(dom).attr("sno"));
            });
            var mode = 1;
            if (arr.length > 0) {
                $.post("../Utility/GetAreaStatus", { areaCodes: arr.toString(), orgCode: "00019", mode: mode, }, function (data) {
                    var json = JSON.parse(data);
                    $(json.resultdata).each(function (i, item) {
                        var imgs = $("img[sno='" + item.code + "']");
                        if (imgs != undefined && imgs != null) {
                            imgs.each(function (k, img0) {
                                var img = $(img0);
                                var src = img.attr("src");
                                var arr0 = src.split('/');
                                src = arr0[0] + "/" + arr0[1] + "/" + arr0[2] + "/" + arr0[3] + "/" + arr0[4] + "/" + getGrade(item.status) + "/" + arr0[6];
                                img.attr("src", src);
                                var areaCode = item.areacode;
                                var html = "";
                                var num = "";
                                var arr;
                                if (item.htnum.length > 0) {
                                    if (mode == 2) {
                                        var res = JSON.parse(item.htnum);
                                        $(res).each(function (k, sm) {
                                            if (sm.Count > 0) {
                                                html += "<li>" + sm.Grade + "：<a onclick=showInfo('" + sm.AreaCode + "','" + sm.Grade + "','" + item.content + "') title='点击查看详情'>" + sm.Count + "</a></li>";
                                            }
                                        });
                                    }
                                    else {
                                        arr = item.htnum.split(',');
                                        if (arr[0] != 0) {
                                            img.parent().find(".importAccident").css({ "background-color": "#f08200" });
                                            img.parent().find(".importAccident").show();
                                            html += "<li>一般隐患：<a onclick=\"newTab({id:'67fdd0b7-6629-48dc-a70f-3eb7ba2df1f0',title:'一般隐患',url: '../HiddenTroubleManage/HTBaseInfo/Index?ChangeStatus=" + encodeURIComponent("未整改结束") + "&mode=ybqbyh&code=" + areaCode + "'})\" title='点击查看详情'>" + arr[0] + "</a></li>";
                                        }
                                        if (arr[1] != 0) {
                                            img.parent().find(".importAccident").css({ "background-color": "red" });
                                            img.parent().find(".importAccident").show();
                                            html += "<li>重大隐患：<a onclick=\"newTab({id:'67fdd0b7-6629-48dc-a70f-3eb7ba2df1f0',title:'重大隐患',url: '../HiddenTroubleManage/HTBaseInfo/Index?ChangeStatus=" + encodeURIComponent("未整改结束") + "&mode=bigHt&code=" + areaCode + "'})\" title='点击查看详情'>" + arr[1] + "</a></li>";
                                        }
                                    }

                                }
                                if (item.fxnum != null) {
                                    if (item.fxnum.length > 0) {
                                        arr = item.fxnum.split(',');
                                        $(arr).each(function (k, num) {
                                            var grade = ""
                                            if (k == 0) {
                                                grade = "重大";
                                            }
                                            if (k == 1) {
                                                grade = "较大";
                                            }
                                            if (k == 2) {
                                                grade = "一般";
                                            }
                                            if (k == 3) {
                                                grade = "低";
                                            }
                                            if (num > 0) {
                                                html += "<li>" + grade + "风险：<a onclick=\"newTab({id:'d472030f-3094-4ad8-89cd-90c949fd4d91',title:'" + grade + "风险清单',url: '../RiskDatabase/DangerSource/List?mode=1&year=&level=" + (k + 1) + "&code=" + areaCode + "'})\" title='点击查看详情'>" + num + "</a></li>";
                                            }

                                        });

                                    }
                                }
                                if (html.length > 0) {
                                    img.parent().find(".itemul").html(html);
                                } else {
                                    img.parent().find(".itemul").remove();
                                }

                            });
                        }

                    });
                    $(".itemul").each(function (j, dom) {
                        if ($(dom).html().length == 0) {
                            $(dom).remove();
                        }
                    });
                    //Loading(false);
                });
            }
            else {
               // Loading(false);
            }
        }
        //根据状态设置区域图片颜色
        function getGrade(status) {

            var color = "grey";
            if (status == 1) {
                color = "red";
            }
            if (status == 2) {
                color = "orange";
            }
            if (status == 3) {
                color = "yellow";
            }
            if (status == 4) {
                color = "blue";
            }
            return color;
        }
        //根据高风险级别设置字体颜色
        function getLevel(val) {
            var grade = "0";
            if (val == "0") {
                grade = "1";
            }
            if (val == "1") {
                grade = "2";
            }
            if (val == "2") {
                grade = "3";
            }
            if (val == "3") {
                grade = "4";
            }
            return grade;
        }
        var mySwiper2;
        //获取今日高风险作业信息
        function getRiskWorkStat() {
            $("#divImg2").removeClass("hidden");
            $("#divImg2").find("img").attr("src", "../content/images/xss/going.png");
            //apiUrl = "http://10.36.1.70/erchtmsapp/api/";
            $.post(apiUrl + "JobSafetyCardApply/GetTodayWorkDataForGXHS?orgcode=00019", { orgcode: "00019" }, function (json) {
                if (json.code == 0) {
                    $("#workPersonNum").text(json.data.totalPersonNum);
                    $("#workNum").text(json.data.totalProNum);
                    var html = '';
                    $(json.data.tempData).each(function (j, item) {

                        if (item.TodayWorkList.length <= 10) {
                            html += '<div class="swiper-slide"><div class="workStatistic clearfix" ><div class="cart_item fl"></div><div class="tempConstruction_item fl"></div>';
                            html += '<div class="workers_item fl"></div></div><div class="highriskUnit_item">';
                            html += '<table class="highriskTable" cellspacing="0"><tr class="taskTable_head"><th width="22">作业单位</th><th width="16">作业类型</th><th width="22">作业地点</th><th width="30">作业内容</th><th width="16">风险等级</th> <th width="14">监护人</th><th width="10">批准人</th></tr>';
                            $(item.TodayWorkList).each(function (k, item1) {
                                var grade = getLevel(item1.RiskTypeValue);
                                html += '<tr class="risk_level' + grade + '"><td>' + cutString(item1.WorkDept, 12) + '</td><td>' + cutString(item1.WorkType, 10) + '</td><td>' + cutString(item1.WorkPlace, 16) + '</td><td>' + cutString(item1.WorkContent, 29) + '</td><td>' + item1.RiskType + '</td><td>' + cutString(item1.WorkTutelagePerson, 8) + '</td><td>' + cutString(item1.AuditUserName, 4) + '</td></tr>';
                            });
                            html += "</table><div class='outerUnit_item_wrap'>";
                            html += "</div></div></div>";
                        } else {
                            var str = '<div class="swiper-slide"><div class="workStatistic clearfix"><div class="cart_item fl"></div><div class="tempConstruction_item fl"></div>';
                            str += '<div class="workers_item fl"></div></div><div class="highriskUnit_item">';
                            str += '<table class="highriskTable" cellspacing="0"><tr class="taskTable_head"><th width="22">作业单位</th><th width="16">作业类型</th><th width="22">作业地点</th><th width="20">作业内容</th><th width="10">风险等级</th> <th width="10">监护人</th><th width="10">批准人</th></tr>';
                            var str1 = "";
                            $(item.TodayWorkList).each(function (k, item1) {
                                var i = k + 1;
                                var grade = getLevel(item1.RiskTypeValue);
                                str1 += '<tr class="risk_level' + grade + '"><td>' + cutString(item1.WorkDept, 12) + '</td><td>' + cutString(item1.WorkType, 10) + '</td><td>' + cutString(item1.WorkPlace, 12) + '</td><td>' + cutString(item1.WorkContent, 12) + '</td><td>' + item1.RiskType + '</td><td>' + cutString(item1.WorkTutelagePerson, 6) + '</td><td>' + cutString(item1.AuditUserName, 4) + '</td></tr>';
                                if (k > 0 && i % 9 == 0) {
                                    html += str + str1;
                                    html += "</table><div class='outerUnit_item_wrap'></div></div></div>"
                                    str1 = "";

                                }
                                if (i % 9 != 0 && k == item.TodayWorkList.length - 1) {
                                    html += str + str1;
                                    html += "</table><div class='outerUnit_item_wrap'></div></div></div>"
                                }
                            });

                        }
                    });

                    if (html.length == 0) {
                        html = "";
                        $("#divImg2").find("img").attr("src", "../content/images/xss/nodata.png");
                    } else {
                        $("#divImg2").addClass("hidden");
                    }
                    $("#divWork").html(html);
                    $(".mySwiper2").find(".swiper-notification").remove();
                    if (json.data.tempData.length > 0) {
                        if (mySwiper2 != null) {
                            mySwiper2.destroy();
                        }
                        mySwiper2 = new Swiper('.mySwiper2', {
                            autoplay: {
                                stopOnLastSlide: true,
                                delay: 8000,
                                disableOnInteraction: false
                            },
                            pagination: {
                                el: '.swiper-pagination'
                            },
                            loop: true
                        });
                    }

                }
            });
        }
        var mySwiper3;
        //获取规章制度学习内容
        function getNews() {

            $.post(apiUrl + "basedata/getNews", function (json) {
                var html = "";
                if (json.code == 0) {
                    $("#count").text(json.count);
                    $(json.data).each(function (j, item) {
                        html += '<div class="swiper-slide"><div class="learningWrap clearfix"><div class="learingRules_l fl"><h3 class="learingRules_head clearfix">';
                        html += '<div class="redIcon fl"><i>' + (j + 1) + '</i></div><div class="learingRules_headmsg fl">' + item.Title + '</div></h3> <div class="learningRulesContent">' + item.Content + '</div></div></div> </div>';
                    });
                }
                if (html.length == 0) {
                    html = "<br /><br />暂无数据";

                }
                $("#news").html(html);
                $(".mySwiper3").find(".swiper-notification").remove();
                if (json.count > 1) {
                    if (mySwiper3 != null) {
                        mySwiper3.destroy();
                    }
                    mySwiper3 = new Swiper('.mySwiper3', {
                        autoplay: {
                            stopOnLastSlide: true,
                            delay: 10000,
                            disableOnInteraction: false
                        },
                        pagination: {
                            el: '.swiper-pagination'
                        },
                        loop: true
                    })
                }
            });
        }
        //获取天气预报
        function getWeather() {
            var url = "http://api.map.baidu.com/telematics/v3/weather?location=防城港&output=json&ak=WcLjizhBNNayeSkR712CRMFR";
            $.ajax(url, {
                dataType: 'jsonp',
                crossDomain: true,
                success: function (data) {
                    if (!!data.results) {
                        var result = data.results[0];
                        var todayObj = result.weather_data[0]; //当天天气对象
                        var weatherData = todayObj.weather + ',' + todayObj.wind;
                        $(".head_temperature").text(todayObj.temperature);
                        $(".weather").text(weatherData);
                    }
                }
            });
        }
        //获取安全生产天数
        function getDays() {
            $.get(apiUrl + "basedata/GetSafeDays", function (data) {
                if (data.length > 0) {
                    var html = "安全生产天数 ";
                    var arr = data.split('');
                    $(arr).each(function (i, num) {
                        html += "<i class='head_speTime'>" + num + "</i>";
                    });
                    $(".safeDays").html(html);
                }
            });
        }
        //隐患与违章
        function is_blank(img) {
            var url = img;
            if (!img) {
                url = "../content/images/no_xss.png";
            } else {
                if (url.indexOf(",") >= 0) {
                    url = url.substring(0, url.indexOf(","));
                }
            }
            return url;
        }
        function setFontColor(level, mode) {
            if (mode == 0) {
                if (level.indexOf("一般") >= 0) {
                    return '<i class="yellowColor">' + level + "</i>";
                } else {
                    return '<i class="redColor">' + level + "</i>";
                }
            } else {
                if (level.indexOf("一般") >= 0) {
                    return '<i class="yellowColor">' + level + "</i>";
                } else {
                    if (level.indexOf("较严重") >= 0) {
                        return '<i class="orangeColor">' + level + "</i>";
                    } else {
                        return '<i class="redColor">' + level + "</i>";
                    }
                }
            }

        }
        function is_deadline(deadline) {
            var r = false;
            if (!!deadline) {
                today = new Date(new Date().toLocaleDateString());
                deday = new Date(deadline);
                r = deday < today;
            }
            return r;
        }
        var mySwiper4;
        var mySwiper5;
        var mySwiper6;
        //获取未整改违章和隐患
        function getHtAndLllegalInfoForHome() {
            var url = apiUrl + "BaseData/getHtAndLllegalInfoForHome?code=00019";
            //var url = "http://localhost/erchtmsapp/api/BaseData/getHtAndLllegalInfoForHome?code=00019";
            $.post(url, function (json) {
                if (json.Code == 0) {
                    $("#wzghtcount").text(json.data.wzghtcount + "个");
                    $("#yqwzghtcount").text(json.data.yqwzghtcount + "个");
                    $("#wzglllegalcount").text(json.data.wzglllegalcount + "个");
                    $("#yqwzglllegalcount").text(json.data.yqwzglllegalcount + "个");
                    var slide = "";
                    var wzghtdata = json.data.wzghtdata;
                    $("#divyh").html("");
                    slide = '<div class="swiper-slide">';
                    slide += '<div class="reactyfy_content clearfix">';
                    slide += '<ul class="reactyfyUl_l fl">';
                    for (var i = 0; i < wzghtdata.length; i++) {
                        var item = wzghtdata[i];
                        if (i % 3 == 0 && i > 0) {
                            slide += '</ul>';
                            slide += '</div>';
                            slide += '</div>';
                            slide += '<div class="swiper-slide">';
                            slide += '<div class="reactyfy_content clearfix">';
                            slide += '<ul class="reactyfyUl_l fl">';
                        }

                        slide += '  <li class="reactyfyli_l">';
                        slide += '          <dl class="reactyfy_dl clearfix">';
                        slide += '             <dt class="reactyfy_dt fl">';
                        slide += '              <span class="reactyfyimgBox">';
                        slide += '                    <img style="width:160px;height:95px;" src="' + is_blank(item.filepath) + '" alt="">';
                        if (is_deadline(item.changedeadine)) {
                            slide += '                    <i class="overdue"></i>';
                        }
                        slide += '                    </span>';
                        slide += '                </dt>';
                        slide += '              <dd class="reactyfy_dd fl">';
                        slide += '                    <div class="reacty_section1 clearfix">';
                        slide += '                        <span class="reacty_tit blueColor fl">隐患描述：</span>';
                        slide += '                      <div class="reacty_description fl">' + cutString(item.hiddescribe,35) + '</div>';
                        slide += '              </div>';
                        slide += '              <div class="reacty_section2">';
                        slide += '                  <div class="reacty_secL fl"><span class="blueColor">隐患级别：</span>' + setFontColor(cutString(item.hidrankname, 4), 0) + '</div>';
                        slide += '                  <div class="reacty_secR f1"><span class="blueColor">隐患类别：</span>' + cutString(item.hidtypename,4) + '</div>';
                        slide += '              </div>';
                        slide += '              <div class="reacty_section2">';
                        slide += '                  <div class="reacty_secL fl" title="' + item.actionpersonname + '"><span class="blueColor">责任人：</span>' + cutString(item.actionpersonname, 5) + '</div>';
                        slide += '                  <div class="reacty_secR f1"><span class="blueColor">截止时间：</span>' + item.changedeadine + '</div>';
                        slide += '              </div>';
                        slide += '          </dd>';
                        slide += '      </dl>';
                        slide += '  </li>';
                    }
                    slide += '</ul>';
                    slide += '</div>';
                    slide += '</div>';
                    $("#divyh").html(slide);
                    $(".mySwiper4").find(".swiper-notification").remove();
                    if (wzghtdata.length > 0) {
                        if (mySwiper4 != null) {
                            mySwiper4.destroy();
                        }
                        mySwiper4 = new Swiper('.mySwiper4', {
                            autoplay: {
                                stopOnLastSlide: true,
                                delay: 9000,
                                disableOnInteraction: false
                            },
                            pagination: {
                                el: '.swiper-pagination'
                            },
                            loop: true
                        })
                    }

                    var wzglllegaldata = json.data.wzglllegaldata;
                    $("#divwz").html("");
                    slide = '<div class="swiper-slide">';
                    slide += '<div class="reactyfy_content clearfix">';
                    slide += '<ul class="reactyfyUl_r fr">';
                    for (var i = 0; i < wzglllegaldata.length; i++) {
                        var item = wzglllegaldata[i];
                        if (i % 3 == 0 && i > 0) {
                            slide += '</ul>';
                            slide += '</div>';
                            slide += '</div>';
                            slide += '<div class="swiper-slide">';
                            slide += '<div class="reactyfy_content clearfix">';
                            slide += '<ul class="reactyfyUl_l fl">';
                        }
                        slide += '  <li class="reactyfyli_l">';
                        slide += '      <dl class="reactyfy_dl clearfix">';
                        slide += '          <dt class="reactyfy_dt fl">';
                        slide += '              <span class="reactyfyimgBox">';
                        slide += '                  <img style="width:160px;height:95px;"  src="' + is_blank(item.filepath) + '" alt="">';
                        if (is_deadline(item.reformdeadline)) {
                            slide += '                    <i class="overdue"></i>';
                        }
                        slide += '              </span>';
                        slide += '          </dt>';
                        slide += '          <dd class="reactyfy_dd fl">';
                        slide += '              <div class="reacty_section1 clearfix">';
                        slide += '                  <span class="reacty_tit blueColor fl">违章描述：</span>';
                        slide += '                  <div class="reacty_description fl">' + cutString(item.lllegaldescribe,35) + '</div>';
                        slide += '              </div>';
                        slide += '              <div class="reacty_section2">';
                        slide += '                  <div class="reacty_secL fl"><span class="blueColor">违章级别：</span>' + setFontColor(cutString(item.lllegallevelname, 4),1) + '</div>';
                        slide += '                  <div class="reacty_secR f1"><span class="blueColor">违章类别：</span>' + cutString(item.lllegaltypename,4) + '</div>';
                        slide += '              </div>';
                        slide += '              <div class="reacty_section2">';
                        slide += '                  <div class="reacty_secL fl" title="' + item.reformpeople + '"><span class="blueColor">责任人：</span>' + cutString(item.reformpeople, 5) + '</div>';
                        slide += '                  <div class="reacty_secR f1"><span class="blueColor">截止时间：</span>' + item.reformdeadline + '</div>';
                        slide += '              </div>';
                        slide += '          </dd>';
                        slide += '      </dl>';
                        slide += '  </li>';
                    }
                    slide += '</ul>';
                    slide += '</div>';
                    slide += '</div>';
                    $("#divwz").html(slide);
                    $(".mySwiper5").find(".swiper-notification").remove();
                    if (wzglllegaldata.length > 0) {
                        if (mySwiper5 != null) {
                            mySwiper5.destroy();
                        }
                        mySwiper5 = new Swiper('.mySwiper5', {
                            autoplay: {
                                stopOnLastSlide: true,
                                delay: 10000,
                                disableOnInteraction: false
                            },
                            pagination: {
                                el: '.swiper-pagination'
                            },
                            loop: true
                        })
                    }

                    mySwiper6 = new Swiper('.mySwiper6', {
                        autoplay: {
                            stopOnLastSlide: true,
                            delay: 10000,
                            disableOnInteraction: false
                        },
                        pagination: {
                            el: '.swiper-pagination'
                        },
                        loop: true
                    })
                }
            });
        }
        //第一模块轮播
        var mySwiper = new Swiper('.mySwiper', {
            autoplay: {
                stopOnLastSlide: true,
                delay: 5000,
                disableOnInteraction: false
            },
            pagination: {
                el: '.swiper-pagination'
            },
            loop: true
        })
        //高风险作业模块轮播
        var mySwiper2 = new Swiper('.mySwiper2', {
            autoplay: {
                stopOnLastSlide: true,
                delay: 5000,
                disableOnInteraction: false
            },
            pagination: {
                el: '.swiper-pagination'
            },
            loop: true
        })
        //规章制度模块轮播
        var mySwiper3 = new Swiper('.mySwiper3', {
            autoplay: {
                stopOnLastSlide: true,
                delay: 10000,
                disableOnInteraction: false
            },
            mouseWheelControl: true,
            pagination: {
                el: '.swiper-pagination'
            },
            loop: true
        })
        //// 未整改隐患、违章轮播
        //var mySwiper4 = new Swiper('.mySwiper4', {
        //    autoplay: {
        //        stopOnLastSlide: true,
        //        delay: 10000,
        //        disableOnInteraction: false
        //    },
        //    pagination: {
        //        el: '.swiper-pagination'
        //    },
        //    loop: true
        //})

        // 模块切换
        $('.navL,.navR').click(function () {
            $('#ruleLearning,#reactyfy').toggleClass('noShow').toggleClass('show')
            new Swiper('.mySwiper3', {
                autoplay: {
                    stopOnLastSlide: true,
                    delay: 10000,
                    disableOnInteraction: false
                },
                pagination: {
                    el: '.swiper-pagination'
                },
                loop: true
            })
            new Swiper('.mySwiper4', {
                autoplay: {
                    stopOnLastSlide: true,
                    delay: 10000,
                    disableOnInteraction: false
                },
                pagination: {
                    el: '.swiper-pagination'
                },
                loop: true
            })
        })

        //弹框关闭事件
        $('.closeBtn').click(function () {
            $('.riskDialog').hide()
        })
        $(document).mouseup(function (e) {
            var _con = $('目标区域');
            if (!_con.is(e.target) && _con.has(e.target).length === 0) {
                $('.riskDialog').hide()
            }
        })
    </script>
</body>
</html>