<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>康巴什</title>
    <link rel="stylesheet" href="~/content/hrdesktop/css/swiper.min.css">
    <link rel="stylesheet" href="~/content/areamaps/hdbj/index1.css">
    <style>
        /* css样式重置 */
        body, p, dl, dt, dd, h1, h2, h3, h4, h5, h6, dl, dt, dd, form, fieldset, input, button, th, td {
            padding: 0;
            margin: 0;
            font-family: 'Microsoft Yahei','微软雅黑',Helvetica,sans-serif;
        }

        body {
            font-size: 14px;
        }

        ul, ol, li {
            padding: 0;
            margin: 0;
            list-style: none;
        }

        i {
            font-style: normal;
        }

        a {
            text-decoration: none;
            color: #fff;
        }

        img {
            border: 0;
            vertical-align: middle;
        }

        .clearfix:after {
            display: block;
            content: '';
            clear: both;
            visibility: hidden;
            height: 0;
        }

        input, textarea, select, option, fieldset, button {
            margin: 0;
            padding: 0;
            vertical-align: top;
            outline: none;
            border: 0;
            line-height: normal;
        }

        .clearfix {
            zoom: 1;
        }

        .fl {
            float: left;
        }

        .fr {
            float: right;
        }

        tr:hover {
            cursor: pointer;
        }

        .nodata {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-211px,-146px);
            text-align: center;
        }

        .hidden {
            display: none;
        }

        .highriskTable td {
            text-wrap: normal;
        }
    </style>
    <style>
        #huadian_container {
            font-size: 14px;
            width: 1080px;
            height: 1920px;
            /* position: relative;
            top: 80px; */
            margin: 0 auto;
            color: #fff;
            background: url(../content/images/xss/bg.png) no-repeat center center;
        }

        .huadian_header {
            width: 100%;
            height: 70px;
            line-height: 70px;
            background: #000e31;
            position: relative;
        }

        .huadian_header_item1 {
            padding-left: 12px;
            margin-right: 10px;
            margin-top: 15px;
        }

        .huadian_header_item2 {
            margin-top: 18px;
            padding-left: 9px;
            line-height: 20px;
            border-left: 1px solid #9197a5;
        }

        .huadian_header_item3 {
            width: 260px;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            font-size: 30px;
            font-weight: 800;
            color: #02f0ff;
            text-align: center;
        }

        .huadian_header_item4 {
            margin: 12px 22px 0 0;
            line-height: 24px;
        }

        .huadian_contentbox {
            width: 1040px;
            padding-top: 10px;
            margin: 0 auto;
            position: relative;
        }

        .huadian_header_item4 .head_date {
            padding-left: 24px;
            height: 24px;
            background: url('../content/images/xss/icon6.png') no-repeat 0 center;
        }

        .huadian_header_item4 .head_time {
            margin: 0 20px 0 30px;
        }

        .huadian_header_item4 .head_blu {
            color: #02f0ff;
        }

        .huadian_header_item4 .head_change {
            padding: 0 6px;
        }

        .huadian_header_item4 .safeDays {
            margin-right: 20px;
        }

        .huadian_header_item4 .head_speTime {
            color: #fff;
            background: #0a82e8;
            padding: 0 4px;
            margin-right: 4px;
            border-radius: 4px;
        }

        #temporaryPack {
            min-height: 400px;
            max-height: 861px;
            position: relative;
        }

        #highrisk {
            min-height: 936px;
            max-height: 1000px;
            position: relative;
        }

        .temporaryPack_head {
            height: 50px;
            line-height: 50px;
            padding: 0 20px;
            background: #7f1119;
            border-radius: 8px;
            margin-bottom: 10px;
        }

            .temporaryPack_head h3 {
                font-size: 21px;
                font-weight: bold;
                color: #fff;
            }

        .huadian_contentbox .yel {
            color: #fff10d;
            margin-left: 11px;
        }

        .workersCount {
            margin-left: 46px;
        }

        .workStatistic {
            height: 50px;
            line-height: 50px;
            padding-left: 20px;
        }

        .cart_item {
            font-weight: bold;
            color: #ff4157;
        }

        .tempConstruction_item {
            margin: 0 45px 0 25px;
        }

        .huadian_contentbox .blu {
            color: #02f0ff;
            margin-left: 12px;
        }

        .outerUnitBox {
            vertical-align: middle;
        }

        .outerUnit_item {
            width: 100%;
            /* height: 256px; */
            margin: 0 20px 10px 0;
            position: relative;
        }

        .outerUnit_item_wrap {
            width: 100%;
            height: 100%;
            background: #11429d;
            border-radius: 8px;
            opacity: 0.2;
            -moz-opacity: 0.2;
            -khtml-opacity: 0.2;
            filter: alpha(opacity=10);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 11;
        }

        .outerUnit_item:nth-child(2n) {
            margin-right: 0;
        }

        .outerUnit_intro {
            padding: 7px 0 0 20px;
        }

            .outerUnit_intro h3 {
                font-weight: bold;
                color: #ff4157;
                height: 34px;
                line-height: 34px;
            }

        .outerUnit_intro_l {
            width: 270px;
        }

        .outerUnit_intro_r {
            width: 200px;
        }

        .outerUnit_intro_item {
            height: 32px;
            line-height: 32px;
            margin-right: 45px;
            color: #fff;
        }

        .outerUnit_intro_img {
            margin-right: 10px;
        }

        .taskTable {
            margin-top: 10px;
            width: 100%;
            border-collapse: collapse;
            text-align: center;
        }

            .taskTable td {
                padding: 0 8px;
                border-right: 1px solid #134184;
                border-bottom: 1px solid #134184;
            }

            .taskTable .contentCol {
                /* text-indent: 32px; */
            }

            .taskTable tr {
                height: 30px;
            }

        .taskTable_head {
            color: #02f0ff;
            font-weight: normal;
        }

        .taskTable .taskTable_head {
            background: #0c3471;
            height: 30px;
            line-height: 30px;
        }

        .taskTable .lastRow td {
            border-bottom: 0;
        }

        .taskTable tr td:last-child {
            border-right: 0;
        }

        .mySwiper {
            padding-bottom: 25px;
        }

        .swiper-pagination-bullet {
            background: #fff;
            opacity: 1;
        }

        .swiper-pagination-bullet-active {
            background: #00b5e2;
            box-shadow: 0 0 5px 4px #0c3471;
        }

        .highriskTable {
            width: 100%;
            table-layout: fixed;
            border-collapse: separate;
            text-align: center;
            border-spacing: 0;
        }

            .highriskTable tr {
                height: 40px;
            }

            .highriskTable td {
                /*overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal !important;*/
            }

            .highriskTable tr:first-child th:first-child {
                border-top-left-radius: 8px;
            }

            .highriskTable tr:first-child th:last-child {
                border-top-right-radius: 8px;
            }

            .highriskTable tr:last-child td:last-child {
                border-bottom-right-radius: 8px;
            }

            .highriskTable tr:last-child td:first-child {
                border-bottom-left-radius: 8px;
            }

            .highriskTable tr:nth-of-type(2n) {
                background: #0d397b;
            }

            .highriskTable tr:nth-of-type(2n+1) {
                background: #0c3269;
            }

        .risk_level1 {
            color: #ff4157;
        }

        .risk_level2 {
            color: #ff9c00;
        }

        .risk_level3 {
            color: #f0ff00;
        }

        .risk_level4 {
            color: #00a8ff;
        }

        .mySwiper2 {
            padding-bottom: 35px;
        }

        .learningBox {
            padding-top: 14px;
        }

        .learingRules_l, .learingRules_r {
            /* width: 515px; */
            /* height: 408px; */
            width: 100%;
            min-height: 200px;
            background: #092754;
            border-radius: 8px;
        }

        .learingRules_head {
            height: 50px;
            line-height: 50px;
            background: #0d3570;
            font-size: 17px;
            vertical-align: middle;
            padding-left: 20px;
            border-radius: 8px 8px 0 0;
        }

            .learingRules_head .redIcon {
                width: 25px;
                height: 25px;
                background: #ff4157;
                border-radius: 50%;
                position: relative;
                top: 13px;
                margin-right: 10px;
            }

                .learingRules_head .redIcon i {
                    position: absolute;
                    top: -13px;
                    left: 8px;
                }

        .learningRulesContent {
            padding: 20px 30px 18px 30px;
        }

            .learningRulesContent p {
                font-size: 16px;
                text-indent: 32px;
                line-height: 23px;
                margin-bottom: 7px;
            }

        .mySwiper3 {
            padding-bottom: 35px;
        }

        .last_outerUnit_intro_item {
            margin-right: 20px;
        }

        .first_outerUnit_intro_item {
            margin-right: 28px;
        }
        /* 切换按钮 */
        .navBox {
            width: 100%;
            height: 40px;
            position: absolute;
            top: 220px;
            z-index: 500;
        }

            .navBox .navL {
                position: absolute;
                left: 0;
            }

            .navBox .navR {
                position: absolute;
                right: 0;
            }
        /* 未整改隐患、违章 */
        .wrapBox {
            position: relative;
            min-height: 430px;
        }

        .reactyfy_headbar {
            width: 470px;
        }

        .reactyfy_content {
            margin-top: 12px;
            padding-left: 0;
        }

        .reactyfyimgBox {
            position: relative;
            display: inline-block;
        }

        .overdue {
            position: absolute;
            right: 0;
            top: 0;
            width: 64px;
            height: 23px;
            display: block;
            background: url('../content/images/xss/overdue.png') no-repeat left top;
        }

        .reactyfyli_l, reactyfyUl_r {
            width: 510px;
        }

        .reactyfy_dt {
            margin-right: 10px;
        }

        .reactyfy_dd {
            width: 338px;
            color: #fefefe;
        }

        .reacty_description {
            width: 240px;
            line-height: 17px;
            /* white-space: nowrap; */
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        .blueColor {
            color: #5d97fa;
        }

        .yellowColor {
            color: #f0ff00;
        }

        .redColor {
            color: #e93c52;
        }

        .orangeColor {
            color: #ff9c00;
        }

        .reacty_section1 {
            margin: 0 0 6px;
        }

        .reacty_section2 {
            line-height: 27px;
        }

        .reacty_secL {
            width: 162px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .reacty_secR {
            width: 171px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .reactyfyli_l {
            margin-bottom: 20px;
        }

            .reactyfyli_l:last-child {
                margin-bottom: 0;
            }

        .mySwiper4 {
            padding-bottom: 42px;
            width: 510px;
            float: left;
        }

        .mySwiper5 {
            padding-bottom: 42px;
            width: 510px;
            float: right;
        }

        .noShow {
            width: 100%;
            position: absolute;
            z-index: -100;
            top: 0;
        }

        .show {
            width: 100%;
            position: absolute;
            top: 0;
            z-index: 100;
        }

        .reactyfyUl_l {
            font-size: 14px;
        }

        /* 风险、隐患、作业信息弹框 */
        #bjcontainer {
            position: relative;
        }

        .riskDialog {
            position: fixed;
            left: 50%;
            top: 150px;
            transform: translate(-490px);
            width: 970px;
            max-height: 800px;
            font-size: 13px;
            padding: 0 25px;
            box-sizing: border-box;
            background-color: #121c3c;
            border-radius: 8px;
            z-index: 111;
        }

            .riskDialog .closeBtn {
                width: 12px;
                height: 12px;
                background: url('../content/images/xss/closeBtn.png') no-repeat center center;
                position: absolute;
                right: 15px;
                top: 15px;
                cursor: pointer;
            }

        .riskMsgBox {
            padding-left: 10px;
        }

        .risktit {
            margin-top: 25px;
            border-left: 4px solid #fff;
            padding-left: 10px;
        }

        .riskitem {
            margin-right: 62px;
            line-height: 33px;
        }

        .riskUnit_item {
            margin: 10px 0 30px;
        }

        .itemul {
            background-color: pink;
            z-index: 9999;
            padding: 10px;
            display: none;
            border-radius: 10%;
            color: black;
        }

            .itemul a {
                color: black;
            }
    </style>
    <script src="~/content/scripts/jquery/jquery-2.0.3.min.js"></script>
    <script src="~/content/hrdesktop/js/swiper.min.js"></script>
    <script type="text/javascript">
        var apiUrl = "@(new ERCHTMS.Busines.SystemManage.DataItemDetailBLL().GetItemValue("WebApiUrl", "AppSettings"))";
        var TDUrl = "@(new ERCHTMS.Busines.SystemManage.DataItemDetailBLL().GetItemValue("WebKbsThreeDURL"))";
        //var apiUrl = "http://10.36.1.70/erchtmsapp/api/";
        //设置时间
        function setTime() {
            var currDate = new Date();
            var strDate = currDate.getFullYear() + "/" + eval(currDate.getMonth() + 1) + "/" + currDate.getDate();
            $(".head_date").text(strDate);
            var hour = currDate.getHours() < 10 ? "0" + currDate.getHours() : currDate.getHours();
            var min = currDate.getMinutes() < 10 ? "0" + currDate.getMinutes() : currDate.getMinutes();
            var seconds = currDate.getSeconds() < 10 ? "0" + currDate.getSeconds() : currDate.getSeconds();
            $(".head_time").text(hour + ":" + min + ":" + seconds);
        }

        $(function () {
            setTime();
            window.setInterval("setTime()", 1000);
            GetDangerWorkToday();
            getWeather();
            //initMap();
            getDays();
            window.setInterval("refreshData()", 300000);
            $('#ZbMap').attr('src', TDUrl + '/gisbcdl/index.html#/fxse');
        });

        //定时刷新数据
        function refreshData() {
            GetDangerWorkToday();
            //initMap();
            getDays();
            getWeather();
        }
        //截取字符串
        function cutString(str, len) {
            if (str != null && str != undefined) {
                if (str.length > len) {
                    return str.substring(0, len) + "...";
                } else {
                    return str;
                }
            } else {
                return "";
            }

        }
        function initMap() {
            $(".importAccident").hide();
            $(".itemul").html('');
            var arr = new Array();
            $("img[sno]").each(function (i, dom) {
                arr.push($(dom).attr("sno"));
            });
            var mode = 1;
            if (arr.length > 0) {
                $.post("../Utility/GetAreaStatus", { areaCodes: arr.toString(), orgCode: "0017001001001001", mode: mode, }, function (data) {
                    var json = JSON.parse(data);
                    $(json.resultdata).each(function (i, item) {
                        var imgs = $("img[sno='" + item.code + "']");
                        if (imgs != undefined && imgs != null) {
                            imgs.each(function (k, img0) {
                                var img = $(img0);
                                var src = img.attr("src");
                                var arr0 = src.split('/');
                                src = arr0[0] + "/" + arr0[1] + "/" + arr0[2] + "/" + arr0[3] + "/" + arr0[4] + "/" + getGrade(item.status) + "/" + arr0[6];
                                img.attr("src", src);
                                var areaCode = item.areacode;
                                var html = "";
                                var num = "";
                                var arr;
                                if (item.htnum.length > 0) {
                                    if (mode == 2) {
                                        var res = JSON.parse(item.htnum);
                                        $(res).each(function (k, sm) {
                                            if (sm.Count > 0) {
                                                html += "<li>" + sm.Grade + "：<a onclick=showInfo('" + sm.AreaCode + "','" + sm.Grade + "','" + item.content + "') title='点击查看详情'>" + sm.Count + "</a></li>";
                                            }
                                        });
                                    }
                                    else {
                                        arr = item.htnum.split(',');
                                        if (arr[0] != 0) {
                                            img.parent().find(".importAccident").css({ "background-color": "#f08200" });
                                            img.parent().find(".importAccident").show();
                                            html += "<li>一般隐患：<a onclick=\"newTab({id:'67fdd0b7-6629-48dc-a70f-3eb7ba2df1f0',title:'一般隐患',url: '../HiddenTroubleManage/HTBaseInfo/Index?ChangeStatus=" + encodeURIComponent("未整改结束") + "&mode=ybqbyh&code=" + areaCode + "'})\" title='点击查看详情'>" + arr[0] + "</a></li>";
                                        }
                                        if (arr[1] != 0) {
                                            img.parent().find(".importAccident").css({ "background-color": "red" });
                                            img.parent().find(".importAccident").show();
                                            html += "<li>重大隐患：<a onclick=\"newTab({id:'67fdd0b7-6629-48dc-a70f-3eb7ba2df1f0',title:'重大隐患',url: '../HiddenTroubleManage/HTBaseInfo/Index?ChangeStatus=" + encodeURIComponent("未整改结束") + "&mode=bigHt&code=" + areaCode + "'})\" title='点击查看详情'>" + arr[1] + "</a></li>";
                                        }
                                    }

                                }
                                if (item.fxnum != null) {
                                    if (item.fxnum.length > 0) {
                                        arr = item.fxnum.split(',');
                                        $(arr).each(function (k, num) {
                                            var grade = ""
                                            if (k == 0) {
                                                grade = "重大";
                                            }
                                            if (k == 1) {
                                                grade = "较大";
                                            }
                                            if (k == 2) {
                                                grade = "一般";
                                            }
                                            if (k == 3) {
                                                grade = "低";
                                            }
                                            if (num > 0) {
                                                html += "<li>" + grade + "风险：<a onclick=\"newTab({id:'d472030f-3094-4ad8-89cd-90c949fd4d91',title:'" + grade + "风险清单',url: '../RiskDatabase/DangerSource/List?mode=1&year=&level=" + (k + 1) + "&code=" + areaCode + "'})\" title='点击查看详情'>" + num + "</a></li>";
                                            }

                                        });

                                    }
                                }
                                if (html.length > 0) {
                                    img.parent().find(".itemul").html(html);
                                } else {
                                    img.parent().find(".itemul").remove();
                                }

                            });
                        }

                    });
                    $(".itemul").each(function (j, dom) {
                        if ($(dom).html().length == 0) {
                            $(dom).remove();
                        }
                    });
                    //Loading(false);
                });
            }
            else {
                // Loading(false);
            }
        }
        //根据状态设置区域图片颜色
        function getGrade(status) {

            var color = "grey";
            if (status == 1) {
                color = "red";
            }
            if (status == 2) {
                color = "orange";
            }
            if (status == 3) {
                color = "yellow";
            }
            if (status == 4) {
                color = "blue";
            }
            return color;
        }
        //根据高风险级别设置字体颜色
        function getLevel(val) {
            var grade = "0";
            if (val == "0") {
                grade = "1";
            }
            if (val == "1") {
                grade = "2";
            }
            if (val == "2") {
                grade = "3";
            }
            if (val == "3") {
                grade = "4";
            }
            return grade;
        }
        var mySwiper2;
        //获取今日高风险作业信息
        var MyMar;
        function GetDangerWorkToday() {
            $("#divImg2").removeClass("hidden");
            $("#divImg2").find("img").attr("src", "../content/images/xss/going.png");
            //apiUrl = "http://10.36.1.81/erchtmsapp/api/";
            jQuery.getJSON("./GetDangerWorkToday", {}, function (json) {
                var contentHtml = "";
                var workToady = 0;
                if (json && json.length>0) {
                    jQuery.each(json, function (index, item) {
                        contentHtml += "<div class='module'>";

                        var showTitle = item.Taskname;
                        if (showTitle.length > 18)
                            showTitle = item.Taskname.substring(0, 18) + "...";
                        contentHtml += "<div class='module_title'>";
                        contentHtml += "<span class='title' title='" + item.Taskname + "'>" + showTitle + "</span><span class='time'>" + item.Actualstarttime + "至  " + item.Planendtime +"</span>";
                        contentHtml += "<span class='jiao_bg'>" + eval(index+1) + "</span>";
                        contentHtml += "</div>";

                        contentHtml += "<div style='overflow:hidden;position:relative;'>";

                        //class='left_content' 开始
                        contentHtml += "<div class='left_content'><div class='ul_content'>";
                        if (item.Remark == "1") {
                            workToady += 1;
                            var manageState = jQuery.grep(item.MonitorUsers, function (user) {
                                return user.type == 3 && user.state == 1 && user.username==item.Taskmanagename;
                            });
                            var stateImg = "<img src='../Content/areamaps/kbs/images/notinplace.png' alt=''>";
                            if (manageState.length>0)
                                stateImg = "<img src='../Content/areamaps/kbs/images/Alreadyinplace.png' alt=''>";
                            contentHtml += "<ul><li><div> 风险等级：<span>" + item.DangerLevel + "</span></div ><div>工作负责人：" + item.Taskmanagename + stateImg+" </div></li>";
                        }
                        else {
                            contentHtml += "<ul><li><div> 风险等级：<span>" + item.DangerLevel + "</span></div ><div>工作负责人：" + item.Taskmanagename + "</div></li>";
                        }
                        contentHtml += "<li><div> 部门/班组：<span>" + item.Deptname + "</span></div ><div>工作票签发人：" + item.IssueName + " </div></li>";
                        var area = item.Taskregionname;
                        if (item.Taskregionname.length > 5)
                            area = item.Taskregionname.substring(0, 5) + "...";
                        contentHtml += "<li><div> 工作区域：<span title='" + item.Taskregionname + "'>" + area + "</span></div ><div>工作许可人：" + item.PermitName + "</div></li></ul></div>";

                        //class="table_content"  开始
                        contentHtml += "<div style='clear:both;'></div><div class='table_content'><table><tr><td>监护人(施工单位)</td> <td>监护人(主管部门)</td><td>监护人(安全督察部)</td></tr>";
                        var Guardian = new Array();
                        if (item.Guardianname)
                            Guardian = item.Guardianname.split(",");
                        var Executive = new Array();
                        if (item.ExecutiveNames)
                            Executive = item.ExecutiveNames.split(",");
                        var Supervision = new Array();
                        if (item.SupervisionNames)
                            Supervision = item.SupervisionNames.split(",");
                        var maxLength = Guardian.length > Executive.length ? Guardian.length : Executive.length;
                        maxLength = maxLength > Supervision.length ? maxLength : Supervision.length;
                        for (var i = 0; i < maxLength; i++) {
                            contentHtml += "<tr>"
                            //进行中作业
                            if (item.Remark == "1") {
                                var stateImg = "<img src='../Content/areamaps/kbs/images/notinplace.png' alt=''>";
                                if (i < Guardian.length) {
                                    var userState = jQuery.grep(item.MonitorUsers, function (user) {
                                        return user.type == 0 && user.state == 1 && user.username == Guardian[i];
                                    });
                                    if (userState.length > 0)
                                        stateImg = "<img src='../Content/areamaps/kbs/images/Alreadyinplace.png' alt=''>";
                                    contentHtml += "<td>" + Guardian[i] + stateImg+" </td>";
                                }
                                else
                                    contentHtml += "<td></td>";
                                if (i < Executive.length) {
                                    var userState = jQuery.grep(item.MonitorUsers, function (user) {
                                        return user.type == 1 && user.state == 1 && user.username == Executive[i];
                                    });
                                    if (userState.length > 0)
                                        stateImg = "<img src='../Content/areamaps/kbs/images/Alreadyinplace.png' alt=''>";
                                    contentHtml += "<td>" + Executive[i] + stateImg +" </td>";
                                }
                                else
                                    contentHtml += "<td></td>";
                                if (i < Supervision.length) {
                                    var userState = jQuery.grep(item.MonitorUsers, function (user) {
                                        return user.type == 2 && user.state == 1 && user.username == Executive[i];
                                    });
                                    if (userState.length > 0)
                                        stateImg = "<img src='../Content/areamaps/kbs/images/Alreadyinplace.png' alt=''>";
                                    contentHtml += "<td>" + Supervision[i] + stateImg +"</td>";
                                }
                                else
                                    contentHtml += "<td></td>";
                            }
                            else {//未开始和已完成作业
                                if (i < Guardian.length)
                                    contentHtml += "<td>" + Guardian[i] + " </td>";
                                else
                                    contentHtml += "<td></td>";
                                if (i < Executive.length)
                                    contentHtml += "<td>" + Executive[i] + " </td>";
                                else
                                    contentHtml += "<td></td>";
                                if (i < Supervision.length)
                                    contentHtml += "<td>" + Supervision[i] + "</td>";
                                else
                                    contentHtml += "<td></td>";
                            }
                            contentHtml += "</tr>"
                        };
                        //table 结束
                        contentHtml += "</table>";

                        //class="table_content" 结束
                        contentHtml += "</div>";
                        //class='left_content' 结束
                        contentHtml += "</div>";

                        //class='right_content' 开始
                        contentHtml += "<div class='right_content'>";
                        if (item.Remark == "0")
                            contentHtml += "<div class='right_img'><img src='../Content/areamaps/kbs/images/notinserive.png' alt=''></div>";
                        else if (item.Remark == "1")
                            contentHtml += "<div class='right_img'><img src='../Content/areamaps/kbs/images/underway.png' alt=''></div>";
                        else if (item.Remark == "2")
                            contentHtml += "<div class='right_img'><img src='../Content/areamaps/kbs/images/finished.png' alt=''></div>";

                        contentHtml += "<div class='red_green' > <span><img src='../Content/areamaps/kbs/images/notinplace.png' alt=''>未到位</span><span><img src='../Content/areamaps/kbs/images/Alreadyinplace.png' alt=''>已到位</span> </div>";

                        //class='right_content' 结束
                        contentHtml += "</div>";

                        contentHtml += "</div>";

                        //class='module' 结束
                        contentHtml += "</div>";
                    });

                    $("#workTotal").text(json.length);
                    $("#workToday").text(workToady);
                    jQuery("#marquePic1").html(contentHtml);
                    var speed = 20;
                    if (marquePic1.scrollHeight > demo.clientHeight) {
                        marquePic2.innerHTML = marquePic1.innerHTML
                        if (MyMar)
                             clearInterval(MyMar);
                        MyMar = setInterval("Marquee()", speed);
                        demo.onmouseover = function () {
                            clearInterval(MyMar);
                        }
                        demo.onmouseout = function () {
                            clearInterval(MyMar);
                            MyMar = setInterval("Marquee()", speed);
                        }
                    }
                }
            });
        }

        function Marquee() {
            if (demo.scrollTop >= marquePic1.scrollHeight) {
                demo.scrollTop = 0
            } else {
                demo.scrollTop++;
            }
        }

        //获取天气预报
        function getWeather() {
            var url = "http://api.map.baidu.com/telematics/v3/weather?location=康巴什&output=json&ak=WcLjizhBNNayeSkR712CRMFR";
            $.ajax(url, {
                dataType: 'jsonp',
                crossDomain: true,
                success: function (data) {
                    if (!!data.results) {
                        var result = data.results[0];
                        var todayObj = result.weather_data[0]; //当天天气对象
                        var weatherData = todayObj.weather + ',' + todayObj.wind;
                        $(".head_temperature").text(todayObj.temperature);
                        $(".weather").text(weatherData);
                    }
                }
            });
        }
        //获取安全生产天数
        function getDays() {
            $.get(apiUrl + "basedata/GetSafeDays", function (data) {
                if (data.length > 0) {
                    var html = "安全生产天数 ";
                    var arr = data.split('');
                    $(arr).each(function (i, num) {
                        html += "<i class='head_speTime'>" + num + "</i>";
                    });
                    $(".safeDays").html(html);
                }
            });
        }
    </script>
</head>
<body>
    <div id="huadian_container">
        <div class="huadian_header clearfix">
            <div class="huadian_header_item1 fl"><img src="../content/areamaps/kbs/images/kbsLogo.png" alt=""></div>
            @*<div class="huadian_header_item2 fl">
                    <p>贵州华电毕节</p>
                    <p>热电有限公司</p>
                </div>*@
            <h2 class="huadian_header_item3">
                安全管控重要数据
            </h2>
            <div class="huadian_header_item4 fr">
                <div class="huadian_header_row1 clearfix">
                    <div class="head_date fl">2019/05/29</div>
                    <div class="head_time fl">10:34</div>
                    <div class="head_temperature fl">27℃～14℃</div>
                </div>
                <div class="huadian_header_row2 clearfix">
                    <div class="weather fr">
                        <i class="head_blu">晴</i><span class="head_change">转</span><i class="head_blu">多云</i>
                    </div>
                    <div class="safeDays fr">
                    </div>
                </div>
            </div>
        </div>
        <div class="huadian_contentbox">
            <!-- 高风险作业 -->
            <div id="highrisk">
                <div class="temporaryPack_head clearfix">
                    <h3 class="fl">今日高风险作业</h3>
                    <div class="workersCount fr"> 当日作业总数：<i class="yel" id="workTotal">-</i>个</div>
                    <div class="temporaryCount fr">作业(进行中)数量：<i class="yel" id="workToday">-</i>个</div>

                </div>
                <div style="height: 886px; overflow: hidden;" id="demo">
                    <div id="marquePic1">
                        @*<div class="module">
                                <div class="module_title">
                                    <span class="title">#1锅炉房#3磨煤机大修，磨辊吊出检查</span> <span class="time">2020-11-17 09:30:00  至  2020-11-22 17:30:00</span>
                                    <span class="jiao_bg">1</span>
                                </div>
                                <div style="overflow: hidden;position: relative;">
                                    <div class="left_content">
                                        <div class="ul_content">
                                            <ul>
                                                <li>
                                                    <div>风险登记：<span>一级风险</span></div>
                                                    <div>工作负责人：张兵 <img src="~/Content/areamaps/kbs/images/Alreadyinplace.png" alt=""></div>
                                                </li>
                                                <li>
                                                    <div>部门/班组：河北工程-锅炉班</div>
                                                    <div>工作票签发人：张三 </div>
                                                </li>
                                                <li>
                                                    <div>工作区域：#1锅炉房#3磨煤机</div>
                                                    <div>工作许可人：李四 </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="table_content">
                                            <table>
                                                <tr>
                                                    <td>施工单位</td>
                                                    <td>主管部门</td>
                                                    <td>安全督察部</td>
                                                </tr>
                                                <tr>
                                                    <td>徐宝华 <img src="~/Content/areamaps/kbs/images/notinplace.png" alt=""> </td>
                                                    <td>张全 <img src="~/Content/areamaps/kbs/images/notinplace.png" alt=""> </td>
                                                    <td>任旭东 <img src="~/Content/areamaps/kbs/images/Alreadyinplace.png" alt=""> </td>
                                                </tr>
                                                <tr>
                                                    <td>徐宝华 <img src="~/Content/areamaps/kbs/images/notinplace.png" alt=""> </td>
                                                    <td>张全 <img src="~/Content/areamaps/kbs/images/notinplace.png" alt=""> </td>
                                                    <td>任旭东 <img src="~/Content/areamaps/kbs/images/Alreadyinplace.png" alt=""> </td>
                                                </tr>
                                                <tr>
                                                    <td>徐宝华 <img src="~/Content/areamaps/kbs/images/notinplace.png" alt=""> </td>
                                                    <td>张全 <img src="~/Content/areamaps/kbs/images/notinplace.png" alt=""> </td>
                                                    <td>任旭东 <img src="~/Content/areamaps/kbs/images/Alreadyinplace.png" alt=""> </td>
                                                </tr>
                                                <tr>
                                                    <td>徐宝华 <img src="~/Content/areamaps/kbs/images/notinplace.png" alt=""> </td>
                                                    <td>张全 <img src="~/Content/areamaps/kbs/images/notinplace.png" alt=""> </td>
                                                    <td>任旭东 <img src="~/Content/areamaps/kbs/images/Alreadyinplace.png" alt=""> </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="right_content">
                                        <div class="right_img"><img src="~/Content/areamaps/kbs/images/underway.png" alt=""></div>
                                        <div class="red_green">
                                            <span><img src="~/Content/areamaps/kbs/images/notinplace.png" alt="">未到位</span>
                                            <span><img src="~/Content/areamaps/kbs/images/Alreadyinplace.png" alt="">已到位</span>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                    <div id="marquePic2">

                    </div>
                </div>
                @*<div class="nodata hidden" id="divImg2"><img src="../content/areamaps/hdbj/images/nodata.png" alt=""></div>*@
            </div>
            <!-- 风险四色图 -->
            <div id="temporaryPack">
                <div class="temporaryPack_head clearfix">
                    <h3 class="fl">安全风险四色分布图</h3>
                    <div class="workersCount fr">重大风险数量：<i class="yel" id="zdcount">@ViewBag.Zdcount</i>个</div>
                    <div class="temporaryCount fr">较大风险数量：<i class="yel" id="jdcount">@ViewBag.Jdcount</i>个</div>
                </div>

                <div id="bjcontainer">
                    <iframe id="ZbMap" style="width: 100%;height: 800px;border: medium none;"></iframe>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        //弹框关闭事件
        $('.closeBtn').click(function () {
            $('.riskDialog').hide()
        })
        $(document).mouseup(function (e) {
            var _con = $('目标区域');
            if (!_con.is(e.target) && _con.has(e.target).length === 0) {
                $('.riskDialog').hide()
            }
        })
    </script>
</body>
</html>