<!doctype html>





<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="~/content/scripts/jquery/jquery-1.8.2.min.js"></script>
    <link rel="stylesheet" href="~/Content/kmztIndex/css/common.css">
    <link rel="stylesheet" href="~/Content/kmztIndex/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="~/Content/kmztIndex/css/table.css">
    <link rel="stylesheet" href="~/Content/kmztIndex/css/main.css">
    <link rel="stylesheet" href="~/Content/kmztIndex/css/liMarquee.css">
    <title>华电可门安全生产智能管控中心</title>

    @*三维应用*@
    <link rel="shortcut icon" href="~/Content/scripts/3DMapOccurred/TemplateData/favicon.ico">
    <link href="~/Content/scripts/3DMapOccurred/TemplateData/style.css" rel="stylesheet" />
    <script src="~/Content/scripts/3DMapOccurred/TemplateData/UnityProgress.js"></script>
    <script src="~/Content/scripts/3DMapOccurred/Build/UnityLoader.js"></script>

</head>






<body>
    <div class="container">
        <header class="clearfix">
            <img src="~/Content/kmztIndex/img/logo.png" alt="">
            <div class="weather">
                <p>
                    <strong></strong>
                    <i>8 : 30</i>
                    <i class="head_temperature">22°C~7°C</i>
                    <span class="weather1">晴转多云</span>

                </p>
                <ul class="time">
                    <li>安全生产天数</li>
                    <li>
                        <span class="SafeDay4">0</span>
                    </li>
                    <li>
                        <span class="SafeDay3">0</span>
                    </li>
                    <li>
                        <span class="SafeDay2">0</span>
                    </li>
                    <li>
                        <span class="SafeDay1">0</span>
                    </li>
                    <li>天</li>
                </ul>
            </div>
        </header>

        <div class="swiper-container ">
            <div class="swiper-wrapper">


                <div class="swiper-slide">
                    <div class="main2">
                        <h2 class="section_title">
                            <img src="~/Content/kmztIndex/img/title.png">
                            <span>作业人数 : <strong id="workPersonNum"></strong>人</span>
                            <span>作业（进行中）数量 : <strong id="workNum"></strong>个</span>
                        </h2>
                        <div class="tableDiv1">
                            <table>
                                <colgroup>
                                    <col width="18%">
                                    <col width="18%">
                                    <col width="18%">
                                    <col width="18%">
                                    <col width="18%">
                                    <col width="5%">
                                    <col width="5%">
                                </colgroup>
                                <thead>
                                <th>作业单位</th>
                                <th>作业内容</th>
                                <th>作业地点</th>
                                <th>作业内容</th>
                                <th>风险等级</th>
                                <th>监护人</th>
                                <th>批准人</th>
                                </thead>
                            </table>
                            <div class="tableData">
                                <table>
                                    <colgroup>
                                        <col width="18%">
                                        <col width="18%">
                                        <col width="18%">
                                        <col width="18%">
                                        <col width="18%">
                                        <col width="5%">
                                        <col width="5%">
                                    </colgroup>
                                    <tbody id="divWork"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <ul class="main3">
                        <li>
                            <h2 class="section_title">
                                <img src="~/Content/kmztIndex/img/title3.png">
                                <span>未整改总数 : <strong id="wzghtcount"></strong>个</span>
                                <span>逾期未整改数量 : <strong id="yqwzghtcount"></strong>个</span>
                            </h2>
                            <dl id="divyh" class="yh"></dl>
                        </li>
                        <li>
                            <h2 class="section_title">
                                <img src="~/Content/kmztIndex/img/title2.png">
                                <span>未整改总数 : <strong id="wzglllegalcount"></strong>个</span>
                                <span>逾期未整改数量 : <strong id="yqwzglllegalcount"></strong>个</span>
                            </h2>
                            <dl id="divwz" class="wz"></dl>
                        </li>
                    </ul>
                </div>

                @*三维部分*@
                <div class="swiper-slide">
                    <div class="main1">
                        <div id="UserCarManager"></div>
                        @*<img src="~/Content/kmztIndex/img/main1.png" alt="">*@
                    </div>
                </div>

            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <script src="~/Content/kmztIndex/js/jquery.min.js"></script>
    <script src="~/Content/kmztIndex/swiper/js/swiper.min.js"></script>
    <script src="~/Content/kmztIndex/js/jquery.liMarquee.js"></script>
    <script>

        var Index = 1;
        var apiUrl = "@(new ERCHTMS.Busines.SystemManage.DataItemDetailBLL().GetItemValue("WebApiUrl", "AppSettings"))";
        //var apiUrl = "http://10.36.1.170/erchtmsapp/api/";


        //三维应用
        $.ajaxSetup({ async: false });
        var _parentId;
        var selectid;
        var gameInstance;
        var num=0;

        var flag = false;


        //初始化加载
        $(function(){

            gameInstance = UnityLoader.instantiate("UserCarManager",
            "../Content/scripts/3DMapOccurred/Build/3DMapOccurred.json",
           { onProgress: UnityProgress });
            //var dialogTimer = setTimeout(function () {
            //    SetConfig();
            //}, 10000)
            //SetConfig();

            getRiskWorkStat();
            getHtAndLllegalInfoForHome();
            getWeather();
            GetSafeDays();
            //window.setInterval("refreshData()", 50000);


            getCurrentTime()
            var time2=null
            setInterval(()=>{
                getCurrentTime()
                },1000)
            new Swiper('.swiper-container',{//一屏二屏切换
                pagination:{
                    el:'.swiper-pagination'
                },
                on:{
                    slideChange:function(){
                        if (this.realIndex==1) {
                            //    if (!flag) {
                            //        flag = true;
                            //    } else {
                            SetConfig();
                            //    }

                        }else{


                            if (!flag) {
                                flag = true;
                            } else {
                                getRiskWorkStat();
                                getHtAndLllegalInfoForHome();

                                $(".tableData ").liMarquee('destroy')
                                $(".tableData ").liMarquee({ //表格向上滚动
                                    direction: 'up',
                                    scrollamount: 20,//滚动速度
                                    runshort:false
                                })



                                $(".wz ").liMarquee('destroy')
                                $(".wz").liMarquee({ //表格向上滚动
                                    direction: 'up',
                                    scrollamount: 20,//滚动速度
                                    runshort:false
                                })
                                $(".yh ").liMarquee('destroy')
                                $(".yh").liMarquee({ //表格向上滚动
                                    direction: 'up',
                                    scrollamount: 20,//滚动速度
                                    runshort:false
                                })
                            }
                        }
                        var that = this
                        //var t=[5000,20000]
                        var t=[60000,252000]
                        clearTimeout(time2)

                        this.autoplay.stop()
                        time2 =setTimeout(function(){
                            that.autoplay.start();

                        },t[this.realIndex])
                    }
                },
                loop:true
            });

        });


        function SetConfig(){
            //初始化三维行驶路线
            gameInstance.SendMessage("Player", "Init", "");
        }

        //安全生产天数
        function GetSafeDays(){
            var Days="@ViewBag.SafeDay";//安全生产天数
            if (Days.length>0) {
                switch (Days.length) {
                    case 1:
                        $(".SafeDay1").html(Days);
                        break;
                    case 2:
                        $(".SafeDay1").html(Days.substr(1,1));
                        $(".SafeDay2").html(Days.substr(0,1));
                        break;
                    case 3:
                        $(".SafeDay1").html(Days.substr(2,1));
                        $(".SafeDay2").html(Days.substr(1,1));
                        $(".SafeDay3").html(Days.substr(0,1));
                        break;
                    case 4:
                        $(".SafeDay1").html(Days.substr(3,1));
                        $(".SafeDay2").html(Days.substr(2,1));
                        $(".SafeDay3").html(Days.substr(1,1));
                        $(".SafeDay4").html(Days.substr(0,1));
                        break;
                    default:
                }
            }
        }



        //截取字符串
        function cutString(str, len) {
            if (str!=null && str!=undefined) {
                if (str.length > len) {
                    return str.substring(0, len) + "...";
                } else {
                    return str;
                }
            } else {
                return "";
            }

        }

        //隐患与违章
        function is_blank(img) {
            var url = img;
            if (!img) {
                url = "../content/images/no_xss.png";
            } else {
                if (url.indexOf(",") >= 0) {
                    url = url.substring(0, url.indexOf(","));
                }
            }
            return url;
        }

        function setFontColor(level, mode) {
            if (mode == 0) {
                if (level.indexOf("一般") >= 0) {
                    return '<i class="yellowColor">' + level + "</i>";
                } else {
                    return '<i class="redColor">' + level + "</i>";
                }
            } else {
                if (level.indexOf("一般") >= 0) {
                    return '<i class="yellowColor">' + level + "</i>";
                } else {
                    if (level.indexOf("较严重") >= 0) {
                        return '<i class="orangeColor">' + level + "</i>";
                    } else {
                        return '<i class="redColor">' + level + "</i>";
                    }
                }
            }

        }

        //获取天气预报
        function getWeather() {
            var url = "http://api.map.baidu.com/telematics/v3/weather?location=@ViewBag.weather&output=json&ak=WcLjizhBNNayeSkR712CRMFR";
                $.ajax(url, {
                    dataType: 'jsonp',
                    crossDomain: true,
                    success: function (data) {
                        if (!!data.results) {
                            var result = data.results[0];
                            var todayObj = result.weather_data[0]; //当天天气对象
                            $(".head_temperature").text(todayObj.temperature);//温度
                            $(".weather1").text(todayObj.weather);//天气描述
                        }
                    }
                });
        }

        //首页配置信息
        function GetKmIndexConfigure(){
            $.post("../login/GetKmIndexConfigure", { }, function (data) {
                GetSafeDays();
            });
        };


        //获取今日高风险作业信息
        function getRiskWorkStat() {
            //00005001001001001
            //00001001001001001可门
            $("#divWork").html('');
            $.post(apiUrl + "HighRiskWork/GetTodayWorkDataForGZBJ?orgcode=00001001001001001", { orgcode: "00001001001001001" }, function (json) {
                if (json.code == 0) {
                    $("#workPersonNum").text(json.data.totalPersonNum);
                    $("#workNum").text(json.data.totalProNum);
                    var html = '';
                    $(json.data.tempData).each(function (j, item) {
                        $(item.TodayWorkList).each(function (k, item1) {
                            html += "<tr><td>" +
                                cutString(item1.WorkDept, 12) +
                                "</td><td>" +
                                cutString(item1.WorkType, 10) +
                                "</td><td>" +
                                cutString(item1.WorkPlace, 16) +
                                "</td><td>" +
                                cutString(item1.WorkContent, 29) +
                                "</td><td>" +
                                item1.RiskType +
                                "</td><td>" +
                                cutString(item1.WorkTutelagePerson, 8) +
                                "</td><td>" +
                                cutString(item1.AuditUserName, 4) +
                                "</td></tr>";
                        });
                    });


                    $("#divWork").html(html);
                    $(".tableData ").liMarquee({ //表格向上滚动
                        direction: 'up',
                        scrollamount: 20,//滚动速度
                        runshort:false
                    })

                }
            });
        }

        //获取未整改违章和隐患
        function getHtAndLllegalInfoForHome() {
            $("#divyh").html('')
            $("#divwz").html("");
            var url = apiUrl + "BaseData/getHtAndLllegalInfoForHome?code=00001001001001001";
            //var url = "http://localhost/erchtmsapp/api/BaseData/getHtAndLllegalInfoForHome?code=00005001001001001";
            $.post(url, function (json) {
                if (json.Code == 0) {
                    $("#wzghtcount").text(json.data.wzghtcount);
                    $("#yqwzghtcount").text(json.data.yqwzghtcount);
                    $("#wzglllegalcount").text(json.data.wzglllegalcount);
                    $("#yqwzglllegalcount").text(json.data.yqwzglllegalcount);
                    var slide = "";
                    var wzghtdata = json.data.wzghtdata;
                    $("#divyh").html("");
                    for (var i = 0; i < wzghtdata.length; i++) {
                        var item = wzghtdata[i];
                        slide += "<dt>" +
                            "<img src=\""+is_blank(item.filepath)+"\" alt=\"\">" +
                            "<div class=\"desc\">" +
                            "<h3>隐患描述 : <i>"+ cutString(item.hiddescribe,35)+"</i></h3>" +
                            "<p>" +
                            "<span>隐患级别 : <strong class=\"color1\">"+ setFontColor(cutString(item.hidrankname, 8), 0) +"</strong> </span>" +
                            "<span>隐患类别 : <strong>"+ cutString(item.hidtypename,8) +"</strong> </span>" +
                            "</p>" +
                            "<p>" +
                            "<span>责任人 : <strong>"+ cutString(item.actionpersonname, 5) +"</strong> </span>" +
                            "<span>截止时间 : <strong>"+ item.changedeadine +"</strong> </span>" +
                            "</p>" +
                            "</div>" +
                            "</dt>";
                    }
                    $("#divyh").html(slide);
                    var wz="";
                    var wzglllegaldata = json.data.wzglllegaldata;
                    $("#divwz").html("");
                    for (var i = 0; i < wzglllegaldata.length; i++) {
                        var item = wzglllegaldata[i];

                        wz+=" <dt>"+
                            "<img src=\""+ is_blank(item.filepath) +"\" alt=\"\">"+
                            "<div class=\"desc\">"+
                            "<h3>违章描述 : <i>"+ cutString(item.lllegaldescribe,35) +"</i></h3>"+
                            "<p>"+
                            "<span>违章级别 : <strong class=\"color1\">"+ setFontColor(cutString(item.lllegallevelname, 8),1) +"</strong> </span>"+
                            "<span>违章类别 : <strong>"+ cutString(item.lllegaltypename,8) +"</strong> </span>"+
                            "</p>"+
                            "<p>"+
                            "<span>责任人 : <strong>" + cutString(item.reformpeople, 5) +"</strong> </span>"+
                            "<span>截止时间 : <strong>"+ item.reformdeadline +"</strong> </span>"+
                            "</p>"+
                            "</div>"+
                            "</dt>";
                    }
                    $("#divwz").html(wz);


                    $('#divwz').liMarquee({ //未整改向上滚动
                        direction: 'up',
                        scrollamount: 20,
                        runshort:false
                    })
                    $('#divyh').liMarquee({ //未整改向上滚动
                        direction: 'up',
                        scrollamount: 20,
                        runshort:false
                    })
                }
            });
        }



        //swiper-no-swiping

        function addString(t){//时间格式转
            var res = t
            if(res< 10){
                res = 0+''+ t
            }
            return res
        }
        function getCurrentTime(){//获取当前时间
            var obj = new Date()
            var m = addString((obj.getMonth()+1))
            var d = addString(obj.getDate())
            var h = addString(obj.getHours())
            var mm = addString(obj.getMinutes())
            var s = addString(obj.getSeconds())
            var date = obj.getFullYear()+'/'+m+'/'+d;
            var time =h+':'+mm+':'+s
            $('.weather p i').eq(0).html(time)
            $('.weather p strong').html(date)
            if ( mm==59 && s==59) {
                getWeather();//天气一小时刷一次
                GetKmIndexConfigure();//安全生成天数
            }
        }




    </script>
</body>
</html>