<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>生产区大屏</title>
    <script src="~/Content/kmIndex/js/jquery.min.js"></script>
    <style type="text/css">
        .content {
            width: 640px;
            height: 384px;
            background: black;
            color: red;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            text-align: center;
        }
            .content table {
                width: 100%;
                height: 100%;
                border-collapse: collapse;
                border: none;
            }
                .content table td {
                    /*border:1px solid red;*/
                    width: 12.5%;
                    font-size: 20px;
                    font-weight: bold;
                    font-family: "STSong",宋体,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
                    border: solid red 1px;
                    height: 40px;
                    line-height: 40px;
                }

                .content table thead td {
                    font-size: 20px;
                    font-weight: bold;
                }

                .content table td:nth-child(1) {
                    font-size: 20px;
                    font-weight: bold;
                }

        .title {
            font-size: 30px;
            margin: 40px 0 15px 0;
        }

        .date {
            color: #21E924;
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 18px;
            font-weight: bold;
        }

        .number {
            display: inline-block;
            background: #262626;
            width: 14px;
            height: 23px;
            font-weight: bold;
            line-height: 23px;
            border-radius: 2px;
        }

        .foot {
            margin-top: 20px;
            /*position: relative;
            top: -10px;*/
            font-weight: bold;
            font-size: 18px;
            font-family: "STSong",宋体,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
            /*display: flex;*/
            flex-direction: column;
            justify-content: center;
            height: 65px;
        }

        .body_content {
            padding: 0 0 0 0px;
        }

        .content_color {
            color: #21E924;
            font-size: 20px;
            font-weight: bold;
        }

        .red_text {
            color: red;
        }
    </style>
</head>
<body>
    <div class="content">
        <div id="lblTitleContent" style="width:500px;margin:20px auto 0px auto; height: 50px; font-size: 38px; position:relative; white-space:nowrap; overflow:hidden; ">
            <div id="noticeList" style="position:absolute; top:0; height:20px;">
                <span id="lblTitle">欢迎集团和省公司领导莅</span>
            </div>
        </div>
        <div class="date">
            <img src="~/Content/kmIndex/screen/img/date.png" alt="" class="img_date">
            <span id="lblDate">2020年/9/11</span>&nbsp;&nbsp;&nbsp;&nbsp;
            <span id="lblWeek">星期五</span>&nbsp;&nbsp;&nbsp;&nbsp;
            <span id="lblTime">09:25:25</span>&nbsp;&nbsp;&nbsp;&nbsp;
            <span>安全生产</span>
            <span id="lblSafeNum1" class="number">3</span>
            <span id="lblSafeNum2" class="number">0</span>
            <span id="lblSafeNum3" class="number">5</span>
            <span id="lblSafeNum4" class="number">2</span>
            <span>天</span>
        </div>
        <div class="body_content">
            <table cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <td>人/区</td>
                        <td>生产区</td>
                        <td>三期区</td>
                        <td>码头区</td>
                        <td colspan="4">电厂车辆区域类型统计</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="tr1td1">电厂</td>
                        <td id="tr1td2" class="content_color">0</td>
                        <td id="tr1td3" class="content_color">0</td>
                        <td id="tr1td4" class="content_color">0</td>
                        <td id="tr1td5" class="content_color red_text">总车辆</td>
                        <td id="tr1td6" class="content_color">0</td>
                        <td id="tr1td7" class="content_color red_text">码头区</td>
                        <td id="tr1td8" class="content_color">0</td>
                    </tr>
                    <tr>
                        <td id="tr2td1">外委</td>
                        <td id="tr2td2" class="content_color">0</td>
                        <td id="tr2td3" class="content_color">0</td>
                        <td id="tr2td4" class="content_color">0</td>
                        <td id="tr2td5" class="content_color red_text">生产区</td>
                        <td id="tr2td6" class="content_color">0</td>
                        <td id="tr2td7" class="content_color red_text">拜访车</td>
                        <td id="tr2td8" class="content_color">0</td>
                    </tr>
                    <tr>
                        <td id="tr3td1">临时</td>
                        <td id="tr3td2" class="content_color">0</td>
                        <td id="tr3td3" class="content_color">0</td>
                        <td id="tr3td4" class="content_color">0</td>
                        <td id="tr3td5" class="content_color red_text">生活区</td>
                        <td id="tr3td6" class="content_color">0</td>
                        <td id="tr3td7" class="content_color red_text">物料车</td>
                        <td id="tr3td8" class="content_color">0</td>
                    </tr>
                    <tr>
                        <td id="tr4td1">统计</td>
                        <td id="tr4td2" class="content_color">0</td>
                        <td id="tr4td3" class="content_color">0</td>
                        <td id="tr4td4" class="content_color">0</td>
                        <td id="tr4td5" class="content_color red_text">三期区</td>
                        <td id="tr4td6" class="content_color">0</td>
                        <td id="tr4td7" class="content_color red_text">危化品</td>
                        <td id="tr4td8" class="content_color">0</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="clear: both;"></div>
        
        <div class="foot">
            <span id="lblLastTime">15:35 :35</span>&nbsp;&nbsp;
            <span id="lblLastDept"> </span>&nbsp;&nbsp;
            <span id="lblLastChanel">进入 1#门禁</span>
        </div>
       
    </div>
</body>
<script type="text/javascript">

    jQuery.fn.textScroll = function () {
        var p = $(this), c = p.children(), speed = 3000; //值越大速度越小
        var cw = c.width(), pw = p.width();
        var t = (cw / 100) * speed;
        var f = null, t1 = 0;
        function ani(tm) {
            counttime();
            c.animate({ left: -cw }, tm, "linear", function () {
                c.css({ left: pw }); clearInterval(f); t1 = 0; t = ((cw + pw) / 100) * speed; ani(t);
            });
        }
        function counttime() {
            f = setInterval(function () {
                t1 += 10;
            }, 10);
        }
        p.on({
            mouseenter: function () {
                c.stop(false, false);
                clearInterval(f);
                console.log(t1);
            }, mouseleave: function () {
                ani(t - t1);
                console.log(t1);
            }
        });
        ani(t);
    }


    jQuery(function () {
        loadStatistic();
        GetKmIndexConfigure();
        jQuery("#lblTitleContent").textScroll();//aaa为最外层div的Id  也可写Class  如：$(".aaa") 此处aaa为class名

    });
    currentTime();
    setInterval("currentTime()", 1000);
    setInterval("loadStatistic()", 5000);
    setInterval("GetKmIndexConfigure()", 1000 * 60 * 60 * 3);

    function loadStatistic() {
        jQuery.getJSON("../Login/GetPersonNums", {}, function (result) {
            if (result) { }
            var data = result.PersonData;
            var area1 = 0, area2 = 0, area3 = 0;
            for (var i = 0; i < data.length; i++) {
                area1 = area1 + data[i].stationCount1;
                area2 = area2 + data[i].stationCount2;
                area3 = area3 + data[i].stationCount3;
                jQuery("#tr" + eval(data[i].userType + 1) + "td2").text(data[i].stationCount1);
                jQuery("#tr" + eval(data[i].userType + 1) + "td3").text(data[i].stationCount2);
                jQuery("#tr" + eval(data[i].userType + 1) + "td4").text(data[i].stationCount3);
            }
            jQuery("#tr4td2").text(area1);
            jQuery("#tr4td3").text(area2);
            jQuery("#tr4td4").text(area3);
            var total = 0;
            var visitCount = 0;
            jQuery.each(result.CarData, function (index, item) {
                total = eval(total + item.carcount);
                if (item.address == "码头岗") {
                    jQuery("#tr1td8").html(item.carcount);
                }
                else if (item.address == "一号岗") {
                    jQuery("#tr2td6").html(item.carcount);
                }

                else if (item.address == "生活区") {
                    jQuery("#tr3td6").html(item.carcount);
                }
                else if (item.address == "4") {
                    jQuery("#tr3td8").html(item.carcount);
                }
                else if (item.address == "3" || item.address == "6") {
                    visitCount = eval(visitCount + item.carcount);
                }
                else if (item.address == "三号岗") {
                    jQuery("#tr4td6").html(item.carcount);
                }
                else if (item.address == "5") {
                    jQuery("#tr4td8").html(item.carcount);
                }
            });
            //拜访车辆
            jQuery("#tr2td8").html(visitCount);
            //总车辆
            jQuery("#tr1td6").html(total);

            var lastRecord = result.LastData;
            if (lastRecord) {
                jQuery("#lblLastDept").html(lastRecord.DeptName + " " + lastRecord.UserName);
                //jQuery("#lblLastDate").html(lastRecord.CreateDate.substr(0, 10));
                jQuery("#lblLastTime").html(lastRecord.CreateDate.substr(-8));
                jQuery("#lblLastChanel").html(lastRecord.AreaName + lastRecord.DeviceName);
            }
        });
    }


    //首页配置信息
    function GetKmIndexConfigure() {
        jQuery.getJSON("../Login/GetScreenSafetyDay", {}, function (result) {
            if (result) {
                Days = result.safeDay;
                switch (Days.length) {
                    case 1:
                        jQuery("#lblSafeNum4").html(Days);
                        break;
                    case 2:
                        jQuery("#lblSafeNum4").html(Days.substr(1, 1));
                        jQuery("#lblSafeNum3").html(Days.substr(0, 1));
                        break;
                    case 3:
                        jQuery("#lblSafeNum4").html(Days.substr(2, 1));
                        jQuery("#lblSafeNum3").html(Days.substr(1, 1));
                        jQuery("#lblSafeNum2").html(Days.substr(0, 1));
                        break;
                    case 4:
                        jQuery("#lblSafeNum4").html(Days.substr(3, 1));
                        jQuery("#lblSafeNum3").html(Days.substr(2, 1));
                        jQuery("#lblSafeNum2").html(Days.substr(1, 1));
                        jQuery("#lblSafeNum1").html(Days.substr(0, 1));
                        break;
                    default:
                }
                jQuery("#lblTitle").html(result.notice);
            }
        });
    };

    function currentTime() {
        var currentDatetime = new Date();
        var year = currentDatetime.getFullYear();
        var month = eval(currentDatetime.getMonth() + 1);
        var day = currentDatetime.getDate();
        var week = currentDatetime.getDay();
        var hour = currentDatetime.getHours();
        var minutes = currentDatetime.getMinutes();
        var seconds = currentDatetime.getSeconds();
        if (minutes < 10)
            minutes = "0" + minutes;
        if (seconds < 10)
            seconds = "0" + seconds;
        var date = year + "-" + month + "-" + day;
        jQuery("#lblDate").html(date);

        var weekStr = "";
        switch (week) {
            case 1:
                weekStr = "星期一";
                break;
            case 2:
                weekStr = "星期二";
                break;
            case 3:
                weekStr = "星期三";
                break;
            case 4:
                weekStr = "星期四";
                break;
            case 5:
                weekStr = "星期五";
                break;
            case 6:
                weekStr = "星期六";
                break;
            case 0:
                weekStr = "星期日";
                break;
        }
        jQuery("#lblWeek").html(weekStr);
        var time = hour + ":" + minutes + ":" + seconds;
        jQuery("#lblTime").html(time);
    }
</script>
</html>