    @{
    ViewBag.Title = "岗位管理";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>
<script>
    var keyValue = request('keyValue');
    $(function () {
        initControl();
    })
    //初始化控件
    function initControl() {
        //单位性质
        ComBoxForData("OrgXZ", "MeaOrgXZ");

        //所在公司
        $("#OrganizeCode").ComboBoxTree({
            url: "../../BaseManage/Organize/GetTreeJson",
            description: "==请选择==",
            height: "200px"
        });
        $("#RESERVERPLANID").ComboBox({
            url: "../../EmergencyPlatform/Reserverplan/GetListJson",
            param: { queryJson: "" },
            id: "ID",
            text: "NAME",
            description: "==请选择==",
            height: "200px",
            allowSearch: true
        });


        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../EmergencyPlatform/Drillplan_ww/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                    $("#RESERVERPLANID").ComboBoxSetValue(data.RESERVERPLANID);
                    $("#OrganizeCode").ComboBoxSetValue(data.ORGANIZECODE);
                }
            });
        }
    }
    //保存表单
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize(keyValue);
        postData["RESERVERPLANNAME"] = $("#RESERVERPLANID").attr('data-text');
        postData["RESERVERPLANID"] = $("#RESERVERPLANID").attr('data-value');
        postData["ORGANIZEIDNAME"] = $("#OrganizeCode").attr('data-text');
        postData["OrganizeCode"] = $("#OrganizeCode").attr('data-value');
        postData["OrgXZNAME"] = $("#OrgXZ").attr('data-text');
        postData["OrgXZ"] = $("#OrgXZ").attr('data-value');
        $.SaveForm({
            url: "../../EmergencyPlatform/Drillplan_ww/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");


            }
        })
    }
</script>
<div style="margin-left: 10px; margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <th class="formTitle">所在公司<font face="宋体">*</font></th>
            <td class="formValue">
                <div id="OrganizeCode" type="selectTree" class="ui-select" isvalid="yes" checkexpession="NotNull">
                </div>
            </td>
        </tr>

        <tr>
            <td class="formTitle">工程名称<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="NAME" type="text" class="form-control" placeholder="请输入名称" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>

        <tr>
            <td class="formTitle">应急演练名称</td>
            <td class="formValue">
                <div id="RESERVERPLANID" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>

            </td>
        </tr>

        <tr>
            <th class="formTitle">单位性质<font face="宋体">*</font></th>
            <td class="formValue">
                <div id="OrgXZ" type="selectTree" class="ui-select" isvalid="yes" checkexpession="NotNull">
                </div>
            </td>
        </tr>
    </table>
</div>
