@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<!--webUploader文件上传组件-->
<link href="~/content/scripts/plugins/webuploader/webuploader.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/webuploader/webuploader-demo.css" rel="stylesheet" />
<script type="text/javascript" src="~/content/scripts/plugins/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/fileupload.js"></script>
<script type="text/javascript">
    var keyValue = request("keyValue"); //主键 问题信息主键
    $(function ()
    {
        if (!!keyValue) {
            $.SetForm({
                url: "../../QuestionManage/QuestionVerify/GetEntityJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                    //验证结果
                    if (!!data.VERIFYSIGN) {
                        $("#VERIFYSIGN").attr("src", data.VERIFYSIGN);
                    }

                    //通过
                    if (data.VERIFYRESULT == "1") { 
                        $("input[name='VERIFYRESULT']:eq(0)").prop("checked", "checked");
                    }
                    //未通过
                    if (data.VERIFYRESULT == "0") {
                        $("input[name='VERIFYRESULT']:eq(1)").prop("checked", "checked");
                        $(".form:eq(0) tr:eq(2) td:eq(0)").html("不通过原因"); //验证时间
                    }
                }
            })
        }
    });

</script>

<div class="center-Panel" style="overflow-y: scroll; height: 600px;">
    <div style="margin-top: 5px;"></div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;违章验收详情</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <div style="margin-right: 30px;">
                <table class="form">
                    <tr>
                        <td class="formTitle">验证人</td>
                        <td class="formValue">
                            <input id="VERIFYPEOPLENAME" class="form-control" disabled="disabled" />
                            <input id="VERIFYPEOPLE" type="hidden" />
                            <input id="VERIFYID" type="hidden" />
                        </td>
                        <td class="formTitle">验证部门</td>
                        <td class="formValue">
                            <input id="VERIFYDEPTNAME" type="text" class="form-control" disabled="disabled" />
                            <input id="VERIFYDEPTCODE" type="hidden" />
                            <input id="VERIFYDEPTID" type="hidden" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">验证结果</td>
                        <td class="formValue">
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="VERIFYRESULT" id="VERIFYRESULT1" value="1" disabled="disabled" />通过
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="VERIFYRESULT" id="VERIFYRESULT2" value="0" disabled="disabled" />不通过
                                </label>
                            </div>
                        </td>
                        <td class="formTitle">验证时间</td>
                        <td class="formValue">
                            <input id="VERIFYDATE" type="text" class="form-control input-wdatepicker" disabled="disabled" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">验证意见</td>
                        <td class="formValue" colspan="3">
                            <textarea id="VERIFYOPINION" class="form-control" disabled="disabled"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">签名</td>
                        <td class="formValue" colspan="3">
                            <div style="float:left; width:20%">
                                <img id="VERIFYSIGN" style="height: 50px; width:95%;" />
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    body {
        overflow: hidden;
    }
</style>