@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = request('keyValue');
    var DistrictId = request('DistrictId');
    $(function () {
        initControl();
    });
    //初始化控件
    function initControl() {
       
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../CarManage/Areagps/GetFormJson",
                param: { keyValue: keyValue },
                success: function(data) {
                    $("#form1").formDeserialize(data);
                }
            })
        } else {
            $.SetForm({
                url: "../../BaseManage/District/GetFormJson",
                param: { keyValue: DistrictId },
                success: function (data) {
                    $("#AreaName").val(data.DistrictName);
                }
            })
        }
    }
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize(keyValue);
        $.SaveForm({
            url: "../../CarManage/Areagps/SaveForm?keyValue=" + keyValue,
            param: { DistrictId: DistrictId, PointList: $("#PointList").val() },
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }
</script>
<div style="margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle">区域名称</td>
            <td class="formValue">
                <input id="AreaName" type="text" class="form-control"  />
            </td>
        </tr>
        <tr>
            <td class="formTitle">点位坐标集合</td>
            <td class="formValue">
                <textarea id="PointList" style="height: 230px;" class="form-control"></textarea><br />
            </td>
        </tr>
    </table>
</div>
