@{;
  ViewBag.Title = "表单页面";
  Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = request('keyValue');
    var typecode = request('typecode');
    $(function () {
        initControl();
    });
    //初始化控件
    function initControl() {
        if (!!typecode) {
            $.SetForm({
                url: "../../FireManage/EverydayProjectSet/GetOrderNumber",
                param: { typecode: typecode },
                success: function (data1) {
                    $("#OrderNumber").val(data1);
                }
            })
        }
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../FireManage/EverydayProjectSet/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                }
            })
        }
    }
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        $("#TypeNum").val(typecode);
        var postData = $("#form1").formSerialize(keyValue);
        $.SaveForm({
            url: "../../FireManage/EverydayProjectSet/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }
</script>
<div style="margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle" style="width: 30%">巡查项目名称<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="TypeNum" type="text" hidden="hidden" />
                <input id="MeasureName" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" maxlength="500"/>
            </td>
        </tr>
        <tr>
            <td class="formTitle">情况/结果<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="MeasureResultOne" type="text" class="form-control"  isvalid="yes" checkexpession="NotNull" maxlength="50"/>
            </td>
        </tr>
        <tr>
            <td class="formTitle">情况/结果<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="MeasureResultTwo" type="text" class="form-control"  isvalid="yes" checkexpession="NotNull" maxlength="50"/>
            </td>
        </tr>
        <tr>
            <td class="formTitle">顺序号<font face="宋体">*</font></td>
            <td class="formValue">
                <input id="OrderNumber" type="text" class="form-control"  isvalid="yes" checkexpession="PositiveNum" maxlength="50"/>
            </td>
        </tr>

    </table>
</div>
