*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
img{
    border: none;
    vertical-align: middle;
}
.container{
    width:100%;
}
.content{
    width:1237px;
    height:840px;
    background:url("./img/bg.jpg");
    margin:0 auto;
    position: relative;
    cursor: pointer;
}
.content>div{
    position: absolute;
}
.content>div>img{
    display: block;
}
.index-1{
    top: 81px;
    left: 75px;
}
.word-1{
    position: absolute;
    top: 31px;
    left: 17px;
    color: #000000;
    font-size: 14px;
    letter-spacing: 5px;
}
.index-2{
    top: 168px;
    left: 117px;
}
.word-2{
    position: absolute;
    top: 10px;
    left: 7px;
    width: 15px;
    color: #000000;
    font-size: 14px;
}
.index-3{
    top: 179px;
    left: 25px;
}
.word-3{
    position: absolute;
    top: 70px;
    left: 12px;
    width: 15px;
    line-height: 32px;
    color: #000000;
    font-size: 14px;
}
.index-4{
    top: 534px;
    left: 25px;
}
.word-4{
    position: absolute;
    top: 17px;
    left: 12px;
    width: 15px;
    line-height: 32px;
    color: #000000;
    font-size: 14px;
}
.index-5{
    top: 128px;
    left: 199px;
}
.word-5{
    position: absolute;
    text-align: center;
    line-height: 17px;
    width: 118px;
    top: 0;
    color: #000000;
    font-size: 14px;
}
.index-6{
    top: 159px;
    left: 213px;
}
.word-6{
    position: absolute;
    top: 7px;
    left: 23px;
    width: 16px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    font-size: 14px;
}
.index-7{
    top: 235px;
    left: 212px;
}
.word-7{
    position: absolute;
    top: 110px;
    left: 0;
    width: 172px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    font-size: 14px;
    letter-spacing: 7px;
}
.index-8{
    top: 520px;
    left: 208px;
}
.word-8{
    position: absolute;
    top: 0;
    left: 0;
    width: 99px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    font-size: 14px;
    letter-spacing: 5px;
}
.index-9{
    top: 531px;
    left: 307px;
}
.word-9{
    position: absolute;
    top: 0;
    left: 0;
    width: 58px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    font-size: 14px;
}
.index-10{
    top: 124px;
    left: 494px;
}
.word-10{
    position: absolute;
    top: 0;
    left: 0;
    width: 106px;
    line-height: 66px;
    text-align: center;
    color: #000000;
    font-size: 14px;
    letter-spacing: 5px;
}
.index-11{
    top: 218px;
    left: 437px;
}
.word-11{
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    line-height: 51px;
    text-align: center;
    color: #000000;
    font-size: 14px;
    letter-spacing: 5px;
}
.index-12{
    top: 297px;
    left: 437px;
}
.word-12{
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    line-height: 32px;
    text-align: center;
    color: #000000;
    font-size: 14px;
    letter-spacing: 5px;
}
.index-13{
    top: 297px;
    left: 629px;
}
.word-13{
    position: absolute;
    top: 0;
    left: 0;
    width: 98px;
    line-height: 32px;
    text-align: center;
    color: #000000;
    font-size: 14px;
}
.index-14{
    top: 297px;
    left: 732px;
}
.word-14{
    position: absolute;
    top: 0;
    left: 0;
    width: 124px;
    line-height: 32px;
    text-align: center;
    color: #000000;
    font-size: 14px;
}
.index-15{
    top: 288px;
    right: 268px;
}
.word-15{
    position: absolute;
    top: 5px;
    left: 0;
    width: 86px;
    line-height: 32px;
    text-align: center;
    color: #000000;
    font-size: 14px;
}
.index-16{
    top: 414px;
    right: 268px;
}
.word-16{
    position: absolute;
    top: 15px;
    left: 0;
    width: 86px;
    line-height: 32px;
    text-align: center;
    color: #000000;
    font-size: 14px;
    letter-spacing: 5px;
}
.index-17{
    top: 497px;
    right: 268px;
}
.word-17{
    position: absolute;
    top: 0;
    left: 0;
    width: 86px;
    line-height: 31px;
    text-align: center;
    color: #000000;
    font-size: 14px;
    letter-spacing: 5px;
}
.index-18{
    top: 546px;
    right: 328px;
}
.word-18{
    position: absolute;
    top: 0;
    left: 7px;
    width: 14px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    font-size: 14px;
}
.index-19{
    bottom: 184px;
    right: 276px;
}
.word-19{
    position: absolute;
    top: 0;
    left: 0;
    width: 55px;
    line-height: 44px;
    text-align: center;
    color: #000000;
    font-size: 14px;
}
.index-20{
    top: 309px;
    right: 91px;
}
.word-20{
    position: absolute;
    top: 0;
    left: 0;
    width: 142px;
    line-height: 142px;
    text-align: center;
    color: #000000;
    font-size: 14px;
}
.index-21{
    top: 482px;
    right: 91px;
}
.word-21{
    position: absolute;
    top: 0;
    left: 0;
    width: 142px;
    line-height: 142px;
    text-align: center;
    color: #000000;
    font-size: 14px;
}
.index-22{
    bottom: 420px;
    left: 426px;
}
.word-22{
    position: absolute;
    top: 0;
    left: 0;
    width: 72px;
    line-height: 55px;
    text-align: center;
    color: #000000;
    font-size: 14px;
}
.index-23{
    bottom: 420px;
    left: 515px;
}
.word-23{
    position: absolute;
    top: 0;
    left: 0;
    width: 72px;
    line-height: 55px;
    text-align: center;
    color: #000000;
    font-size: 14px;
}
.index-24{
    bottom: 370px;
    left: 485px;
}
.word-24{
    position: absolute;
    top: 11px;
    left: 48px;
    width: 30px;
    text-align: center;
    color: #000000;
    font-size: 14px;
}
.index-25{
    bottom: 364px;
    left: 423px;
}
.word-25{
    position: absolute;
    top: 0;
    left: 0;
    width: 61px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    font-size: 12px;
}
.index-26{
    bottom: 306px;
    left: 426px;
}
.word-26{
    position: absolute;
    top: 0;
    left: 0;
    width: 72px;
    line-height: 55px;
    text-align: center;
    color: #000000;
    font-size: 14px;
}
.index-27{
    bottom: 306px;
    left: 515px;
}
.word-27{
    position: absolute;
    top: 0;
    left: 0;
    width: 72px;
    line-height: 55px;
    text-align: center;
    color: #000000;
    font-size: 14px;
}
.index-28{
    bottom: 284px;
    left: 423px;
}
.word-28{
    position: absolute;
    top: 0;
    left: 0;
    width: 167px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    font-size: 14px;
}
.index-29{
    bottom: 401px;
    right: 541px;
}
.word-29{
    position: absolute;
    top: 0;
    left: 0;
    width: 81px;
    line-height: 69px;
    text-align: center;
    color: #000000;
    font-size: 14px;
}
.index-30{
    bottom: 399px;
    right: 445px;
}
.word-30{
    position: absolute;
    top: 0;
    left: 0;
    width: 81px;
    line-height: 71px;
    text-align: center;
    color: #000000;
    font-size: 14px;
}
.index-31{
    bottom: 320px;
    right: 541px;
}
.word-31{
    position: absolute;
    top: 0;
    left: 0;
    width: 81px;
    line-height: 69px;
    text-align: center;
    color: #000000;
    font-size: 14px;
}
.index-32{
    bottom: 321px;
    right: 445px;
}
.word-32{
    position: absolute;
    top: 0;
    left: 0;
    width: 81px;
    line-height: 71px;
    text-align: center;
    color: #000000;
    font-size: 14px;
}
.index-33{
    bottom: 287px;
    right: 548px;
}
.word-33{
    position: absolute;
    top: 0;
    left: 0;
    width: 72px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    font-size: 14px;
}
.index-34{
    bottom: 287px;
    right: 451px;
}
.word-34{
    position: absolute;
    top: 0;
    left: 0;
    width: 93px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    font-size: 14px;
}
.index-35{
    bottom: 39px;
    left: 139px;
}
.word-35{
    position: absolute;
    top: 0;
    left: 7px;
    width: 15px;
    line-height: 18px;
    text-align: center;
    color: #000000;
    font-size: 14px;
}
.index-36{
    bottom: 153px;
    left: 205px;
}
.word-36{
    position: absolute;
    top: 20px;
    left: 19px;
    width: 15px;
    line-height: 32px;
    text-align: center;
    color: #000000;
    font-size: 14px;
}
.index-37{
    bottom: 151px;
    left: 298px;
}
.word-37{
    position: absolute;
    top: 0;
    left: 0;
    width: 19px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    font-size: 14px;
}
.index-38{
    bottom: 155px;
    left: 329px;
}
.word-38{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #000000;
    font-size: 14px;
}
.index-39{
    bottom: 107px;
    left: 500px;
}
.word-39{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #000000;
    font-size: 14px;
}
.index-40{
    bottom: 148px;
    left: 552px;
}
.word-40{
    position: absolute;
    top: 5px;
    left: 6px;
    width: 14px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    font-size: 14px;
}
.index-41{
    bottom: 167px;
    right: 588px;
}
.word-41{
    position: absolute;
    top: 5px;
    left: 14px;
    width: 14px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    font-size: 14px;
}
.index-42{
    bottom: 167px;
    right: 399px;
}
.word-42{
    position: absolute;
    top: 5px;
    left: 14px;
    width: 14px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    font-size: 14px;
}
.index-43{
    bottom: 88px;
    left: 205px;
}
.word-43{
    position: absolute;
    top: 3px;
    left: 6px;
    width: 47px;
    line-height: 17px;
    color: #000000;
    font-size: 14px;
}
.index-44{
    bottom: 27px;
    left: 205px;
}
.word-44{
    position: absolute;
    top: 0;
    left: -2px;
    width: 62px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    font-size: 12px;
}
.index-45{
    bottom: 107px;
    left: 297px;
}
.word-45{
    position: absolute;
    top: 0;
    left: 0;
    width: 84px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    font-size: 14px;
}
.index-46{
    bottom: 107px;
    left: 385px;
}
.word-46{
    position: absolute;
    top: 0;
    left: 0;
    width: 89px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    font-size: 12px;
}
.index-47{
    bottom: 55px;
    left: 304px;
}
.word-47{
    position: absolute;
    top: 0;
    left: 0;
    width: 66px;
    line-height: 13px;
    text-align: center;
    color: #000000;
    font-size: 12px;
}
.index-48{
    bottom: 60px;
    left: 376px;
}
.word-48{
    position: absolute;
    top: 0;
    left: 0;
    width: 99px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    font-size: 14px;
    letter-spacing: 5px;
}
.index-49{
    bottom: 403px;
    right: 399px;
}
.word-49{
    position: absolute;
    top: 0;
    left: 0;
    width: 46px;
    line-height: 59px;
    text-align: center;
    color: #000000;
    font-size: 14px;
}
.index-50{
    bottom: 330px;
    right: 399px;
}
.word-50{
    position: absolute;
    top: 0;
    left: 0;
    width: 46px;
    line-height: 59px;
    text-align: center;
    color: #000000;
    font-size: 14px;
}
.newIcon{
    width: 15px;
    height: 15px;
    background-size: 100% 100%;
    display: block;
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
}
.newIcon1{
    width: 15px;
    height: 15px;
    background-size: 100% 100%;
    display: block;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.content>div:hover>ul{
    display: block;
}
.content .itemul{
    position: absolute;
    top: 0;
    right: -120px;
    width: 120px;
    z-index: 2;
    background-color: pink;
    display: none;
    font-size: 14px;
    color: #333;
}