@{
    ViewBag.Title = "BuilderImage";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script type="text/javascript">
    function AcceptClick() {
        Loading(true, "正在生成……");
        $.post("BuilderImg", { deptName: $.currentIframe().window.$("#gridTable").jqGridRowValue("deptname"), postName: $.currentIframe().window.$("#gridTable").jqGridRowValue("postname") }, function (data) {
            Loading(false);
            var json = eval("("+data+")");
            window.location.href = "../../Utility/DownloadFile?filePath=~/Resource/temp/" + json.resultdata.fileName;
        });
    }
    $(function () {
        var deptNames = $.currentIframe().window.$("#gridTable").jqGridRowValue("deptname");
        var postNames = $.currentIframe().window.$("#gridTable").jqGridRowValue("postname");
        var arrIds = deptNames.split(",");
        var arrNames = postNames.split(",");
        var html = "";
        $(arrIds).each(function (i, deptname) {
            var j = i + 1;
            if (j % 6 == 0) {
                html += "<div class='row'>";
            }
            var code = deptname + "-" + arrNames[i];
            html += '<div class="col-sm-2 text-center" style="padding-bottom:10px;"><img src="' + top.contentPath + '/Utility/BuilderImage?keyValue=' + code + '|岗位" /><div>' + code + '</div></div>';
            if (j % 6 == 0) {
                html += "</div>";
            }
        });
        $("#container").append(html);
    });
</script>
 <div id="container" style="margin:10px;">
 </div>