@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}

<script src="~/Content/scripts/business/common.js"></script>
<script>
    $(function () {
        GetData("岗位风险", "危险源类别", "", "divtab", "2");
        $("input").click(function () {
            $(this).attr("checked", this.checked);
            var cls = $(this).attr("class");
            var level = $(this).attr("level");
            switch (level) {
                case "3":
                    $("input").each(function (i, item) {
                        if ($(item).attr("class") != cls && $(item).attr("level") == 3) {
                            $(item).prop("checked", false).attr("checked", false);
                        }

                        if ($(item).attr("level") == 2 && !($(item).attr("class").indexOf(cls) >= 0)) {
                            $(item).prop("checked", false).attr("checked", false);
                        }
                    })
                    $(".Pro." + cls).prop("checked", "checked").attr("checked", "checked");
                    var cls2 = $(".Pro." + cls).attr("class");
                    $("input").each(function (i, item) {
                        if (!(cls2.indexOf($(item).attr("class")) >= 0) && $(item).attr("level") == 1) {
                            $(item).prop("checked", false).attr("checked", false);
                        } else if (cls2.indexOf($(item).attr("class")) >= 0 && $(item).attr("level") == 1) {
                            $(item).prop("checked", "checked").attr("checked", "checked");
                        }
                    })
                    break;
                case "2":

                    $("input").each(function (i, item) {
                        if (!(cls.indexOf($(item).attr("class")) >= 0) && $(item).attr("level") == 3) {
                            $(item).prop("checked", false).attr("checked", false);
                        }
                        if (!(cls.indexOf($(item).attr("class")) >= 0) && $(item).attr("level") == 2) {
                            $(item).prop("checked", false).attr("checked", false);
                        }

                        if (!(cls.indexOf($(item).attr("class")) >= 0) && $(item).attr("level") == 1) {
                            $(item).prop("checked", false).attr("checked", false);
                        } else if (cls.indexOf($(item).attr("class")) >= 0 && $(item).attr("level") == 1) {
                            $(item).prop("checked", "checked").attr("checked", "checked");
                        }
                    })
                    break;
                case "1":
                    $("input").each(function (i, item) {
                        if (!(cls.indexOf($(item).attr("class")) >= 0) && $(item).attr("level") == 2) {
                            $(item).prop("checked", false).attr("checked", false);
                            var itcls = $(item).attr("class");
                            $("input").each(function (i, item) {
                                if (!(cls.indexOf($(item).attr("class")) >= 0) && $(item).attr("level") == 3) {
                                    $(item).prop("checked", false).attr("checked", false);
                                }
                            })
                        }
                        if (!(cls == $(item).attr("class")) && $(item).attr("level") == 1) {
                            $(item).prop("checked", false).attr("checked", false);
                        } else if (cls == $(item).attr("class") && $(item).attr("level") == 1) {
                            $(item).prop("checked", "checked").attr("checked", "checked");
                        }
                    })
                    break;
                default:
            }
        })
    })
    function AcceptClick() {
        var str = "";
        $("input").each(function (i, item) {
            if ($(item).attr("checked") && $(item).attr("level") == 2) {
                top.win.window.$("#DangerSource").val($(item).val());
            }
            if ($(item).attr("checked") && $(item).attr("level") == 3) {
                str += $(item).val() + ",";
            }
            if ($(item).attr("checked") && $(item).attr("level") == 1) {
                top.win.window.$("#DangerSourceType").val($(item).val());
            }
        })
        if (str.length > 0) {
            str = str.substring(0, str.length - 1);
            top.win.window.$("#RiskDesc").val(str);
        } else {
            top.win.window.$("#RiskDesc").val("");
        }
        dialogClose();
    }
</script>

<div style="margin-top: 20px; margin-right: 30px;">

    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;岗位危险源及危险因素分类</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
                <input id="ID" type="hidden" class="form-control" />
            </span>
        </div>
        <div class="panel-body" id="divtab">
            @*<table id="tab1" cellpadding="0" border="1" style="width: 100%; text-align: left;" align="left">
                <tr style="font-size:20px;font-weight:bold;height:40px;">
                    <td style="width:120px;"><label>危险源分类</label></td>
                    <td><label>危险源</label></td>
                    <td style="width:500px;"><label>危险因素</label></td>
                </tr>
                <tr>
                    <td rowspan="13"><label><input class="parent70" type="checkbox" level="1" value="安全生产责任" />&nbsp;<label>安全生产责任</label>&nbsp;&nbsp;&nbsp;</label></td>
                    <td><label><input type="checkbox" level="2" class="Pro t1 parent70" value="安全生产岗位职责执行漏洞" />&nbsp;<label>安全生产岗位职责执行漏洞</label>&nbsp;&nbsp;&nbsp;</label></td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="未建立健全本单位的安全生产责任制或不完善" />&nbsp;&nbsp; 未建立健全本单位的安全生产责任制或不完善</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="未制定本单位安全生产规章制度和操作规程或不完善" />&nbsp;&nbsp; 未制定本单位安全生产规章制度和操作规程或不完善</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="安全生产投入不足或不能保证有效实施" />&nbsp;&nbsp; 安全生产投入不足或不能保证有效实施</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="对安全生产工作不重视,安全隐患消除不及时" />&nbsp;&nbsp; 对安全生产工作不重视,安全隐患消除不及时</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="未制定应急预案或不完善" />&nbsp;&nbsp; 未制定应急预案或不完善</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="发生事故迟报、瞒报、漏报" />&nbsp;&nbsp; 发生事故迟报、瞒报、漏报</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="未组织制定安全生产教育和培训计划,或执行不力" />&nbsp;&nbsp; 未组织制定安全生产教育和培训计划,或执行不力</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="未制定安全生产目标、指标,应科学、合理,并经企业主要负责人审批,以正式文件形式下达（安全生产1号文件）或不明确" />&nbsp;&nbsp; 未制定安全生产目标、指标,应科学、合理,并经企业主要负责人审批,以正式文件形式下达（安全生产1号文件）或不明确</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="未组织召开月度安全生产分析会分析安全生产目标与指标的情况" />&nbsp;&nbsp; 未组织召开月度安全生产分析会分析安全生产目标与指标的情况</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="未定期组织有关部门对安全生产费用提取和使用管理情况进行检查、考核,记录不完善" />&nbsp;&nbsp; 未定期组织有关部门对安全生产费用提取和使用管理情况进行检查、考核,记录不完善</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="未定期组织召开安全生产委员会会议" />&nbsp;&nbsp; 未定期组织召开安全生产委员会会议</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="未建立联系点制度,未每月参加1次班组安全活动" />&nbsp;&nbsp; 未建立联系点制度,未每月参加1次班组安全活动</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="企业主要领导未掌握本企业上一年风险评估工作开展情况,未亲自布署下一年度的风险评估工作" />&nbsp;&nbsp; 企业主要领导未掌握本企业上一年风险评估工作开展情况,未亲自布署下一年度的风险评估工作</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="未定期参加安全培训,未取得安全管理资格证书" />&nbsp;&nbsp; 未定期参加安全培训,未取得安全管理资格证书</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="安全知识不足和管理能力缺失" />&nbsp;&nbsp; 安全知识不足和管理能力缺失</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="未对从业人员进行安全生产教育和培训,无必要的安全知识,不熟悉有关安全生产规章制度和安全操作规程,未经安全生产教育和培训合格,上岗作业" />&nbsp;&nbsp; 未对从业人员进行安全生产教育和培训,无必要的安全知识,不熟悉有关安全生产规章制度和安全操作规程,未经安全生产教育和培训合格,上岗作业</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="特种作业人员未按照国家有关规定经专门的安全作业培训,未取得特种作业操作资格证书,上岗作业" />&nbsp;&nbsp; 特种作业人员未按照国家有关规定经专门的安全作业培训,未取得特种作业操作资格证书,上岗作业</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="危化品未建立专门的安全管理制度,未采取可靠安全措施" />&nbsp;&nbsp; 危化品未建立专门的安全管理制度,未采取可靠安全措施</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="未对安全设备进行经常性维护、保养,并定期检测。维护、保养、监测无记录,有关人员未签字" />&nbsp;&nbsp; 未对安全设备进行经常性维护、保养,并定期检测。维护、保养、监测无记录,有关人员未签字</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="未制止和纠正违章指挥、强令冒险作业、违反操作规程的行为" />&nbsp;&nbsp; 未制止和纠正违章指挥、强令冒险作业、违反操作规程的行为</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="未制定本单位安全生产规章制度、操作规程和生产安全事故应急救援预案,或不完善" />&nbsp;&nbsp; 未制定本单位安全生产规章制度、操作规程和生产安全事故应急救援预案,或不完善</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="检查本单位的安全生产状况不及时,排查生产安全事故隐患不及时,针对隐患未提出安全生产管理的建议" />&nbsp;&nbsp; 检查本单位的安全生产状况不及时,排查生产安全事故隐患不及时,针对隐患未提出安全生产管理的建议</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="未建立安全生产教育和培训档案,如未记录安全生产教育和培训的时间、内容、参加人员以及考核结果等情况" />&nbsp;&nbsp; 未建立安全生产教育和培训档案,如未记录安全生产教育和培训的时间、内容、参加人员以及考核结果等情况</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="未对重大危险源应当登记建档,未进行定期检测、评估、监控，没有制定应急预案,告知从业人员和相关人员在紧急情况下应当采取的应急措施" />&nbsp;&nbsp; 未对重大危险源应当登记建档,未进行定期检测、评估、监控，没有制定应急预案,告知从业人员和相关人员在紧急情况下应当采取的应急措施</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="未安排用于配备劳动防护用品、进行安全生产培训的经费" />&nbsp;&nbsp; 未安排用于配备劳动防护用品、进行安全生产培训的经费</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="重大危险源及有关安全措施、应急措施未报有关地方人民政府安全生产监督管理部门和有关部门备案" />&nbsp;&nbsp; 重大危险源及有关安全措施、应急措施未报有关地方人民政府安全生产监督管理部门和有关部门备案</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="企业未对从业人员提供符合国家标准或者行业标准的劳动防护用品,并监督、教育从业人员按照使用规则佩戴、使用" />&nbsp;&nbsp; 业未对从业人员提供符合国家标准或者行业标准的劳动防护用品,并监督、教育从业人员按照使用规则佩戴、使用</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="发生生产安全事故时,单位的主要负责人未组织抢救,在事故调查处理期间擅离职守" />&nbsp;&nbsp; 发生生产安全事故时,单位的主要负责人未组织抢救,在事故调查处理期间擅离职守</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="生产经营单位未与承包单位、承租单位签订专门的安全生产管理协议，或者未在承包合同、租赁合同中约定各自的安全生产管理职责;生产经营单位未对承包单位、承租单位的安全生产工作统一协调、管理,未定期进行安全检查,发现安全问题的,未及时督促整改" />&nbsp;&nbsp; 生产经营单位未与承包单位、承租单位签订专门的安全生产管理协议，或者未在承包合同、租赁合同中约定各自的安全生产管理职责;生产经营单位未对承包单位、承租单位的安全生产工作统一协调、管理,未定期进行安全检查,发现安全问题的,未及时督促整改</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><input level="2" type="checkbox" value="应急工作职责执行漏洞" class="Pro t2 parent70" />&nbsp;<label>应急工作职责执行漏洞</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t2" level="3" value="未成立由安全第一责任人任总指挥的应急管理体系,并履行相应的职责" />&nbsp;&nbsp; 未成立由安全第一责任人任总指挥的应急管理体系,并履行相应的职责</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t2" level="3" value="未完善通信与信息保障、应急队伍保障、应急物资装备保障、经费保障等应急保障体系建设,没有做到救援预案、救援组织、救援人员、配备相应的器材和设备“四落实”" />&nbsp;&nbsp; 未完善通信与信息保障、应急队伍保障、应急物资装备保障、经费保障等应急保障体系建设,没有做到救援预案、救援组织、救援人员、配备相应的器材和设备“四落实”</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t2" level="3" value="应急预案不符合有关规定要求" />&nbsp;&nbsp; 高温</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t2" level="3" value="未开展应急救援专项培训和定期组织演练,未对应急预案进行评估和改进，以提高应急救援能力" />&nbsp;&nbsp; 未开展应急救援专项培训和定期组织演练,未对应急预案进行评估和改进，以提高应急救援能力</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t2" level="3" value="企业重大危险源,未登记建档,未向当地政府主管部门备案;未进行定期检测、评估、监控，并制订应急预案,告知从业人员和相关人员在紧急情况下应当采取的应急措施" />&nbsp;&nbsp; 企业重大危险源,未登记建档,未向当地政府主管部门备案;未进行定期检测、评估、监控，并制订应急预案,告知从业人员和相关人员在紧急情况下应当采取的应急措施</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" value="重大危险源工作职责执行漏洞" level="2" class="Pro t3 parent70" />&nbsp;<label>重大危险源工作职责执行漏洞</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t3" value="未对本单位的危险化学品设备设施和使用场所进行重大危险源辨识" />&nbsp;&nbsp; 未对本单位的危险化学品设备设施和使用场所进行重大危险源辨识</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t3" value="未对重大危险源进行安全评估和分级,依据《危险化学品重大危险源监督管理暂行规定》中的分级方法确定重大危险源等级,安全评估未形成重大危险源安全评估报告" />&nbsp;&nbsp; 未对重大危险源进行安全评估和分级,依据《危险化学品重大危险源监督管理暂行规定》中的分级方法确定重大危险源等级,安全评估未形成重大危险源安全评估报告</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t3" value="未对应进行重大危险源重新进行辨识、安全评估及分级" />&nbsp;&nbsp; 未对应进行重大危险源重新进行辨识、安全评估及分级</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t3" value="未按要求向当地主管部门进行重大危险源备案" />&nbsp;&nbsp; 未按要求向当地主管部门进行重大危险源备案</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t3" value="发电企业向地方主管部门登记备案之后,未于15日之内,向分（子）公司进行重大危险源备案" />&nbsp;&nbsp; 发电企业向地方主管部门登记备案之后,未于15日之内,向分（子）公司进行重大危险源备案</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t3" value="未规定企业主要负责人为本单位重大危险源安全管理第一责任人,对本单位的重大危险源安全管理工作全面负责" />&nbsp;&nbsp; 未规定企业主要负责人为本单位重大危险源安全管理第一责任人,对本单位的重大危险源安全管理工作全面负责</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t3" value="重大危险源设备设施的运行、检修和维护工作未明确具体责任部门和责任人员,生产技术管理部门未指定专人负责重大危险源的安全生产管理,相关工作责任和要求未明确纳入部门职责和岗位责任标准" />&nbsp;&nbsp; 重大危险源设备设施的运行、检修和维护工作未明确具体责任部门和责任人员,生产技术管理部门未指定专人负责重大危险源的安全生产管理,相关工作责任和要求未明确纳入部门职责和岗位责任标准</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t3" value="未建立健全重大危险源有关标准制度,未在相关标准制度中体现重大危险源有关内容,并采取有效措施保证执行" />&nbsp;&nbsp; 未建立健全重大危险源有关标准制度,未在相关标准制度中体现重大危险源有关内容,并采取有效措施保证执行</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t3" value="未对重大危险源及时、逐项进行登记,并建立档案和管理台帐,或内容不全面" />&nbsp;&nbsp; 未对重大危险源及时、逐项进行登记,并建立档案和管理台帐,或内容不全面</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t3" value="未对重大危险源的管理和操作岗位人员进行安全操作技能培训" />&nbsp;&nbsp; 未对重大危险源的管理和操作岗位人员进行安全操作技能培训</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t3" value="未每年应针对重大危险源制定安全技术劳动保障措施和反事故措施计划,明确专项费用,确保相关措施执行到位" />&nbsp;&nbsp; 未每年应针对重大危险源制定安全技术劳动保障措施和反事故措施计划,明确专项费用,确保相关措施执行到位</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t3" value="未针对重大危险源建立健全安全监测监控体系" />&nbsp;&nbsp; 未针对重大危险源建立健全安全监测监控体系</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t3" value="未定期对重大危险源的安全设施和安全监测监控系统进行检测、检验，并进行经常性维护、保养，保证重大危险源的安全设施和安全监测监控系统有效、可靠运行。维护、保养、检测未建立台帐、作好记录,无有关人员签字" />&nbsp;&nbsp; 未定期对重大危险源的安全设施和安全监测监控系统进行检测、检验，并进行经常性维护、保养，保证重大危险源的安全设施和安全监测监控系统有效、可靠运行。维护、保养、检测未建立台帐、作好记录,无有关人员签字</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t3" value="主要负责人、分管负责人和安全监督管理人员未经常深入现场，监督检查重大危险源有关制度、规程的执行情况，未及时发现和解决存在的问题,消除安全隐患" />&nbsp;&nbsp; 主要负责人、分管负责人和安全监督管理人员未经常深入现场，监督检查重大危险源有关制度、规程的执行情况，未及时发现和解决存在的问题,消除安全隐患</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t3" value="未结合企业隐患排查制度,建立健全重大危险源隐患排查机制,未按规定每半年集中组织开展一次重大危险源隐患排查治理工作。未按要求对发现的各类隐患应立即组织整改,重大隐患应及时上报分（子）公司和集团公司备案" />&nbsp;&nbsp; 未结合企业隐患排查制度,建立健全重大危险源隐患排查机制,未按规定每半年集中组织开展一次重大危险源隐患排查治理工作。未按要求对发现的各类隐患应立即组织整改,重大隐患应及时上报分（子）公司和集团公司备案</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t3" value="重大危险源运行、检修和维护工作进行外包的，未严格审查外包单位相关资质。在外包项目安全管理协议当中，未明确外包单位日常管理、隐患排查、风险预控等工作职责和要求。发现存在重大隐患的，未立即要求外包单位消除隐患，未在必要时中止外包合同执行" />&nbsp;&nbsp; 作业人员</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t3" value="未在重大危险源所在场所设置明显的安全警示标志,悬挂应急撤离路线,写明紧急情况下的应急处置办法。" />&nbsp;&nbsp; 未在重大危险源所在场所设置明显的安全警示标志,悬挂应急撤离路线,写明紧急情况下的应急处置办法。</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t3" value="未制定重大危险源事故应急预案，未按照地方主管部门要求对应急预案进行审查备案" />&nbsp;&nbsp; 未制定重大危险源事故应急预案，未按照地方主管部门要求对应急预案进行审查备案</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t3" value="未将重大危险源可能发生的事故后果和应急措施等信息,以适当方式告知可能受影响的单位、区域及人员。外来人员进入重大危险源区域前必须进行风险告知" />&nbsp;&nbsp; 未将重大危险源可能发生的事故后果和应急措施等信息,以适当方式告知可能受影响的单位、区域及人员。外来人员进入重大危险源区域前必须进行风险告知</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t3" value="未建立应急救援组织,配备必要的防护装备及应急救援器材、设备、物资,并保障其完好和方便使用" />&nbsp;&nbsp; 未建立应急救援组织,配备必要的防护装备及应急救援器材、设备、物资,并保障其完好和方便使用</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t3" value="未制定重大危险源事故应急演练计划。对重大危险源专项应急预案,每年至少进行一次应急演练;对重大危险源现场处置方案,每半年至少进行一次应急演练" />&nbsp;&nbsp; 未制定重大危险源事故应急演练计划。对重大危险源专项应急预案,每年至少进行一次应急演练;对重大危险源现场处置方案,每半年至少进行一次应急演练</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t3" value="重大危险源事故未按要求采取实战演练方式,应详细制定演练方案和演练脚本,事故监测、人员疏散、医疗救护、信息发布等均应纳入演练内容" />&nbsp;&nbsp; 重大危险源事故未按要求采取实战演练方式,应详细制定演练方案和演练脚本,事故监测、人员疏散、医疗救护、信息发布等均应纳入演练内容</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t3" value="未与地方政府建立重大危险源应急联动机制。" />&nbsp;&nbsp; 未与地方政府建立重大危险源应急联动机制。</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" value="规程、规章制度执行漏洞" class="Pro t4 parent70" level="2" />&nbsp;<label>规程、规章制度执行漏洞</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t4" value="企业未根据上级法规、标准、规定、规程、反事故技术措施和设备系统实际情况,编制本企业各类设备(含安全设备)现场运行规程、检修工艺规程及质量标准、本系统的调度规程和管理制度,未经主管生产领导(或总工程师)批准后执行" />&nbsp;&nbsp; 企业未根据上级法规、标准、规定、规程、反事故技术措施和设备系统实际情况,编制本企业各类设备(含安全设备)现场运行规程、检修工艺规程及质量标准、本系统的调度规程和管理制度,未经主管生产领导(或总工程师)批准后执行</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t4" value="生产设备和系统管辖范围未划分明确,有管理空白点、无正式书面依据（设备分界规定、协议等）" />&nbsp;&nbsp; 生产设备和系统管辖范围未划分明确,有管理空白点、无正式书面依据（设备分界规定、协议等）</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t4" value="需要经生产副总或总工程师批准（或经总工程师同意后请示上级批准）暂时退出的保护、自动装置是否明确,保护、自动装置退出后没有审批手续及具体安全措施并严格执行" />&nbsp;&nbsp; 需要经生产副总或总工程师批准（或经总工程师同意后请示上级批准）暂时退出的保护、自动装置是否明确,保护、自动装置退出后没有审批手续及具体安全措施并严格执行</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t4" value="缺陷管理制度不健全,未做到定期分析和及时上报缺陷;缺陷通知单填写、传递不及时，记录不齐全;缺陷未能及时处理，发生因缺陷有条件处理而未及时处理造成的事故" />&nbsp;&nbsp; 缺陷管理制度不健全,未做到定期分析和及时上报缺陷;缺陷通知单填写、传递不及时，记录不齐全;缺陷未能及时处理，发生因缺陷有条件处理而未及时处理造成的事故</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t4" value="企业未严格执行各项技术监督规程、标准;技术监督网未建立健全;技术监督专责人员未及时做出专业总结分析,报主管领导作为指导生产决策依据" />&nbsp;&nbsp; 企业未严格执行各项技术监督规程、标准;技术监督网未建立健全;技术监督专责人员未及时做出专业总结分析,报主管领导作为指导生产决策依据</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t4" value="企业未每年公布一次经总工或生产副总经理批准的本企业现行有效的现场规程、系统图、管理制度清单,并按清单为各部门、班组、各岗位配齐有关的规程制度" />&nbsp;&nbsp; 企业未每年公布一次经总工或生产副总经理批准的本企业现行有效的现场规程、系统图、管理制度清单,并按清单为各部门、班组、各岗位配齐有关的规程制度</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t4" value="规程制度覆盖面不能全面且符合生产实际;现场规程的补充或修订是否及时,不符合上级新颁规程和反措要求,设备系统变动后能否及时修订;现场规程是否每年进行一次复审、修订(宜每3～5年进行一次全面修订);现场规程的补充或修订是否严格,未履行审批程序,并书面通知有关人员,未及时修改个人保管的规程制度,现场在用规程不能保证正确、完备和有效" />&nbsp;&nbsp; 规程制度覆盖面不能全面且符合生产实际;现场规程的补充或修订是否及时,不符合上级新颁规程和反措要求,设备系统变动后能否及时修订;现场规程是否每年进行一次复审、修订(宜每3～5年进行一次全面修订);现场规程的补充或修订是否严格,未履行审批程序,并书面通知有关人员,未及时修改个人保管的规程制度,现场在用规程不能保证正确、完备和有效</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t4" value="设备系统变动(含采用新工艺、新技术、新材料或使用新设备等)记录、有关图纸资料变更不及时、准确;从业人员不了解、掌握其安全技术特性,未采取有效的安全防护措施" />&nbsp;&nbsp; 设备系统变动(含采用新工艺、新技术、新材料或使用新设备等)记录、有关图纸资料变更不及时、准确;从业人员不了解、掌握其安全技术特性,未采取有效的安全防护措施</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t4" value="管理制度未及时补充、完善，对从业人员是否进行培训教育,制度执行不严格" />&nbsp;&nbsp; 管理制度未及时补充、完善，对从业人员是否进行培训教育,制度执行不严格</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t4" value="主管生产副职每月未至少参加一次部门或班组一级的安全分析活动;未每月至少进行一次生产现场夜间巡视;未定期召开检修会议,对安全工作提出具体要求" />&nbsp;&nbsp; 主管生产副职每月未至少参加一次部门或班组一级的安全分析活动;未每月至少进行一次生产现场夜间巡视;未定期召开检修会议,对安全工作提出具体要求</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t4" value="运行分析未定期进行,对影响安全运行的问题没有原因分析和改进措施,异常分析工作不及时,原因分析不清楚" />&nbsp;&nbsp; 运行分析未定期进行,对影响安全运行的问题没有原因分析和改进措施,异常分析工作不及时,原因分析不清楚</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" value="两票三制工作职责执行漏洞" level="2" class="Pro t5 parent70" />&nbsp;<label>两票三制工作职责执行漏洞</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t5" value="“两票”管理制度不健全；未制订“两票”合格评价标准和动态考核办法；未对检查统计发现的问题能否及时提出改进措施，无记录可查；专业技术人员对“两票”未进行统计、分析和考评，安监部门监督不到位" />&nbsp;&nbsp; “两票”管理制度不健全；未制订“两票”合格评价标准和动态考核办法；未对检查统计发现的问题能否及时提出改进措施，无记录可查；专业技术人员对“两票”未进行统计、分析和考评，安监部门监督不到位</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t5" value="交接班制度不健全，未对交接准备、交接内容、交接方式和执行程序作出明确规定，执行制度不认真，无完整记录" />&nbsp;&nbsp; 交接班制度不健全，未对交接准备、交接内容、交接方式和执行程序作出明确规定，执行制度不认真，无完整记录</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t5" value="设备定期试验、轮换制度不健全，未根据规程、制度和设备厂商说明书，对运行设备（含安全设备)和备用设备定期进行测试、启动、投切或轮换运行作出明确规定；执行不认真，无完整记录" />&nbsp;&nbsp; 设备定期试验、轮换制度不健全，未根据规程、制度和设备厂商说明书，对运行设备（含安全设备)和备用设备定期进行测试、启动、投切或轮换运行作出明确规定；执行不认真，无完整记录</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t5" value="未制订“两票三制”现场执行情况全过程检查制度，执行不认真，无检查考核记录，能否发现问题，并认真总结经验，及时整改；评价期内发生过违反“两票三制”造成的事故" />&nbsp;&nbsp; 未制订“两票三制”现场执行情况全过程检查制度，执行不认真，无检查考核记录，能否发现问题，并认真总结经验，及时整改；评价期内发生过违反“两票三制”造成的事故</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t5" value="企业未建立健全标准化管理制度，未建立健全管理岗位标准；未对标准化作业指导书编制、审批、执行、评价、考核、持续改进全过程管理作出明确规定，未严格执行" />&nbsp;&nbsp; 企业未建立健全标准化管理制度，未建立健全管理岗位标准；未对标准化作业指导书编制、审批、执行、评价、考核、持续改进全过程管理作出明确规定，未严格执行</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" value="特种设备工作职责执行漏洞" level="2" class="Pro t6 parent70" />&nbsp;<label>特种设备工作职责执行漏洞</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t6" value="特种设备使用单位，未严格执行本条例和有关安全生产的法律、行政法规的规定，保证特种设备的安全使用" />&nbsp;&nbsp; 特种设备使用单位，未严格执行本条例和有关安全生产的法律、行政法规的规定，保证特种设备的安全使用</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t6" value="特种设备使用单位未建立特种设备安全技术档案" />&nbsp;&nbsp; 特种设备使用单位未建立特种设备安全技术档案</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t6" value="特种设备使用单位未对在用特种设备进行经常性日常维护保养，并定期自行检查" />&nbsp;&nbsp; 特种设备使用单位未对在用特种设备进行经常性日常维护保养，并定期自行检查</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t6" value="特种设备使用单位未对特种设备作业人员进行特种设备安全、节能教育和培训，保证特种设备作业人员具备必要的特种设备安全、节能知识" />&nbsp;&nbsp; 特种设备使用单位未对特种设备作业人员进行特种设备安全、节能教育和培训，保证特种设备作业人员具备必要的特种设备安全、节能知识</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t6" value="迟报、漏报、瞒报或者谎报事故" />&nbsp;&nbsp; 迟报、漏报、瞒报或者谎报事故</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t6" value="妨碍事故救援或者事故调查处理" />&nbsp;&nbsp; 妨碍事故救援或者事故调查处理</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" value="职业健康工作职责执行漏洞" level="2" class="Pro t8 parent70" />&nbsp;<label>职业健康工作职责执行漏洞</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t8" value="职业健康管理不到位,制度、台帐不健全" />&nbsp;&nbsp; 职业健康管理不到位,制度、台帐不健全</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t8" value="现场职业病危害警示标识不齐全" />&nbsp;&nbsp; 现场职业病危害警示标识不齐全</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t8" value="噪声控制不满足要求，或未采取必要的控制措施" />&nbsp;&nbsp; 噪声控制不满足要求，或未采取必要的控制措施</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t8" value="电离辐射防护不到位" />&nbsp;&nbsp; 电离辐射防护不到位</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t8" value="安全标志管理不规范，安全标志台帐不健全" />&nbsp;&nbsp; 安全标志管理不规范，安全标志台帐不健全</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t8" value="正压式空气呼吸器管理不规范" />&nbsp;&nbsp; 正压式空气呼吸器管理不规范</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" value="消防管理工作职责执行漏洞" level="2" class="Pro t9 parent70" />&nbsp;<label>消防管理工作职责执行漏洞</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t9" value="消防安全制度、消防安全操作规程未制定、不完善或不熟悉" />&nbsp;&nbsp; 消防安全制度、消防安全操作规程未制定、不完善或不熟悉</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t9" value="未按照国家有关规定配置消防设施和器材、设置消防安全标志，未定期组织检验、维修，消防设施和器材有缺失或失效" />&nbsp;&nbsp; 未按照国家有关规定配置消防设施和器材、设置消防安全标志，未定期组织检验、维修，消防设施和器材有缺失或失效</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t9" value="疏散通道、安全出口不畅通，未设置符合国家规定的消防安全疏散标志" />&nbsp;&nbsp; 疏散通道、安全出口不畅通，未设置符合国家规定的消防安全疏散标志</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t9" value="未对职工进行消防安全培训或培训效果不好" />&nbsp;&nbsp; 未对职工进行消防安全培训或培训效果不好</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t9" value="未制定灭火和应急疏散预案或预案不完善，未定期组织消防演练演练效果不好" />&nbsp;&nbsp; 未制定灭火和应急疏散预案或预案不完善，未定期组织消防演练演练效果不好</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t9" value="未实行防火安全责任制或责任不清晰，未确定本单位和所属各部门、岗位的消防安全责任人" />&nbsp;&nbsp; 未实行防火安全责任制或责任不清晰，未确定本单位和所属各部门、岗位的消防安全责任人</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" value="交通安全工作职责执行漏洞" level="2" class="Pro t10 parent70" />&nbsp;<label>交通安全工作职责执行漏洞</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t10" value="驾驶员违规违章行驶" />&nbsp;&nbsp; 驾驶员违规违章行驶</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t10" value="极端天气下出行作业" />&nbsp;&nbsp; 极端天气下出行作业</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t10" value="擅改车辆结构功能" />&nbsp;&nbsp; 擅改车辆结构功能</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t10" value="不符合安全配置要求" />&nbsp;&nbsp; 不符合安全配置要求</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t10" value="未明确交通安全职责" />&nbsp;&nbsp; 未明确交通安全职责</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t10" value="未进行事故责任追究" />&nbsp;&nbsp; 未进行事故责任追究</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" value="危化品工作职责执行漏洞" level="2" class="Pro t11 parent70" />&nbsp;<label>危化品工作职责执行漏洞</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t11" value="未向从业人员告知岗位、环境危险因素和险情处置要点" />&nbsp;&nbsp; 未向从业人员告知岗位、环境危险因素和险情处置要点</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t11" value="危险化学品作业人员，未按照国家和地方有关规定取得相应资格证书" />&nbsp;&nbsp; 危险化学品作业人员，未按照国家和地方有关规定取得相应资格证书</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t11" value="未将重大危险源可能发生的事故后果和应急措施等信息，未以适当方式告知可能受影响的单位、区域及人员" />&nbsp;&nbsp; 未将重大危险源可能发生的事故后果和应急措施等信息，未以适当方式告知可能受影响的单位、区域及人员</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t11" value="危险化学品运输车辆到达接卸停泊地点后，未熄火并切断总电源，未对车辆应采取有效防滑制动措施，导除静电" />&nbsp;&nbsp; 危险化学品运输车辆到达接卸停泊地点后，未熄火并切断总电源，未对车辆应采取有效防滑制动措施，导除静电</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t11" value="危险化学品接卸作业未遵守安全管理制度、作业标准和操作规程" />&nbsp;&nbsp; 危险化学品接卸作业未遵守安全管理制度、作业标准和操作规程</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t11" value="危险化学品的存放未严格遵循分类、分项、专库、专储的原则" />&nbsp;&nbsp; 危险化学品的存放未严格遵循分类、分项、专库、专储的原则</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t11" value="危险化学品未储存在专用仓库（容器）、专用场地或者专用储存室（以下统称专用仓库）内，未安排专人负责管理；剧毒化学品未在专用仓库或保险柜内单独存放，未实行双人收发、双人保管" />&nbsp;&nbsp; 危险化学品未储存在专用仓库（容器）、专用场地或者专用储存室（以下统称专用仓库）内，未安排专人负责管理；剧毒化学品未在专用仓库或保险柜内单独存放，未实行双人收发、双人保管</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t11" value="危险化学品专用仓库不符合国家标准和行业标准的要求，未设置明显的标志" />&nbsp;&nbsp; 危险化学品专用仓库不符合国家标准和行业标准的要求，未设置明显的标志</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t11" value="未根据危险化学品的种类和危险特性，未设置相关安全设备设施。新建、改建、扩建的危险化学品建设项目未报地方安全生产监督管理部门进行安全条件审查" />&nbsp;&nbsp; 未根据危险化学品的种类和危险特性，未设置相关安全设备设施。新建、改建、扩建的危险化学品建设项目未报地方安全生产监督管理部门进行安全条件审查</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t11" value="用于危险化学品的容器、管道、阀门、表计等设备未与接触的危险化学品种类相适应" />&nbsp;&nbsp; 用于危险化学品的容器、管道、阀门、表计等设备未与接触的危险化学品种类相适应</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t11" value="危险化学品压力容器未按照《压力容器使用管理规则》（TSG R5002）注册登记，未按照《固定式压力容器安全技术监察规程》（TSG21）规定监督管理" />&nbsp;&nbsp; 危险化学品压力容器未按照《压力容器使用管理规则》（TSG R5002）注册登记，未按照《固定式压力容器安全技术监察规程》（TSG21）规定监督管理</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t11" value="未对安全隐患难以立即排除的，未及时制定治理方案，落实整改措施、责任、资金、时限和预案" />&nbsp;&nbsp; 未对安全隐患难以立即排除的，未及时制定治理方案，落实整改措施、责任、资金、时限和预案</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t11" value="未制定本单位危险化学品事故应急预案，未报地方安全生产监督管理部门和上级单位备案" />&nbsp;&nbsp; 未制定本单位危险化学品事故应急预案，未报地方安全生产监督管理部门和上级单位备案</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t11" value="未制定危险化学品事故应急预案演练计划，专项应急预案演练至少每年进行一次，现场处置方案演练至少每半年进行一次，或不按要求执行" />&nbsp;&nbsp; 未制定危险化学品事故应急预案演练计划，专项应急预案演练至少每年进行一次，现场处置方案演练至少每半年进行一次，或不按要求执行</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" value="反违章管理工作职责执行漏洞" level="2" class="Pro t12 parent70" />&nbsp;<label>反违章管理工作职责执行漏洞</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t12" value="未按照违章的定义，结合实际，编制出各类典型违章和习惯性违章范例名录，作为查处违章的重要依据。未定期组织员工学习，纳入每年安规考试内容" />&nbsp;&nbsp; 未按照违章的定义，结合实际，编制出各类典型违章和习惯性违章范例名录，作为查处违章的重要依据。未定期组织员工学习，纳入每年安规考试内容</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t12" value="反违章工作未克服“以罚代管”和“只管不罚”的做法，未对各类违章都要通过“教育、曝光、处罚、整改”四个步骤进行处理，未做到“四不放过”" />&nbsp;&nbsp; 反违章工作未克服“以罚代管”和“只管不罚”的做法，未对各类违章都要通过“教育、曝光、处罚、整改”四个步骤进行处理，未做到“四不放过”</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t12" value="各级（企业、部门、班组）第一责任人对本单位的反违章工作全面负责，未对反违章工作提供人员、物质条件和管理平台。各级分管副职对分管范围内的反违章工作未直接负责，策划、组织、开展分管范围内的反违章工作" />&nbsp;&nbsp; 各级（企业、部门、班组）第一责任人对本单位的反违章工作全面负责，未对反违章工作提供人员、物质条件和管理平台。各级分管副职对分管范围内的反违章工作未直接负责，策划、组织、开展分管范围内的反违章工作</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" value="安全监督管理工作职责执行漏洞" level="2" class="Pro t13 parent70" />&nbsp;<label>安全监督管理工作职责执行漏洞</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t13" value="安监部门负责人未定期组织召开安全网例会和活动，落实上级有关安全生产监督工作要求，分析企业安全生产动态，研究下一阶段安监工作重点，提出建设性意见" />&nbsp;&nbsp; 安监部门负责人未定期组织召开安全网例会和活动，落实上级有关安全生产监督工作要求，分析企业安全生产动态，研究下一阶段安监工作重点，提出建设性意见</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t13" value="未对劳保用品、安全工具、安全防护用品的购置、发放和使用进行监督和检查" />&nbsp;&nbsp; 未对劳保用品、安全工具、安全防护用品的购置、发放和使用进行监督和检查</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t13" value="安全监督部门未对二级单位安全指标完成情况进行考核" />&nbsp;&nbsp; 安全监督部门未对二级单位安全指标完成情况进行考核</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" value="安全生产教育和培训执行漏洞" level="2" class="Pro t14 parent70" />&nbsp;<label>安全生产教育和培训执行漏洞</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t14" value="未订购有关音像、杂志、报刊等学习资料，并认真组织学习" />&nbsp;&nbsp; 未订购有关音像、杂志、报刊等学习资料，并认真组织学习</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t14" value="特种作业人员未做到全部持证上岗。" />&nbsp;&nbsp; 9.	特种作业人员未做到全部持证上岗。</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t14" value="在岗生产人员离岗3个月及以上的运行值班人员，未经过熟悉设备系统、熟悉运行方式的跟班实习，并经《安全工作规程》考试合格后，方可再上岗工作" />&nbsp;&nbsp; 在岗生产人员离岗3个月及以上的运行值班人员，未经过熟悉设备系统、熟悉运行方式的跟班实习，并经《安全工作规程》考试合格后，方可再上岗工作</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" level="1" class="parent73" value="人员资质" />&nbsp;<label>人员资质</label>&nbsp;&nbsp;&nbsp;</td>
                    <td><input type="checkbox" value="人员资质不满足" level="2" class="Pro m5 parent73" />&nbsp;<label>人员资质不满足</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="m5" value="无相应的安全资格证书" />&nbsp;&nbsp; 无相应的安全资格证书</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="m5" value="不适应现场安全施工要求的老、弱、病、残人员" />&nbsp;&nbsp; 不适应现场安全施工要求的老、弱、病、残人员</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="m5" value="特种作业人员无证或证件超期" />&nbsp;&nbsp; 特种作业人员无证或证件超期</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="m5" value="未经三级安全教育或考试不合格合格上岗" />&nbsp;&nbsp; 未经三级安全教育或考试不合格合格上岗</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" level="1" class="parent74" value=" 劳动防护" />&nbsp;<label>劳动防护</label>&nbsp;&nbsp;&nbsp;</td>
                    <td><input type="checkbox" level="2" class="Pro m6 parent74" value="劳动防护不到位" />&nbsp;<label>劳动防护不到位</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="m6" value="劳动防护用品使用不符合要求或失效" />&nbsp;&nbsp; 劳动防护用品使用不符合要求或失效</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" level="1" class="parent75" value=" 作业环境" />&nbsp;<label>作业环境</label>&nbsp;&nbsp;&nbsp;</td>
                    <td><input type="checkbox" level="2" class="Pro m7 parent75" value="作业环境有缺陷" />&nbsp;<label>作业环境有缺陷</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="m7" value="岗位涉及的作业场所井、坑、孔、洞或沟道盖板缺失或不完整" />&nbsp;&nbsp; 岗位涉及的作业场所井、坑、孔、洞或沟道盖板缺失或不完整</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="m7" value="楼梯、步道、栏杆、平台不符合安全要求" />&nbsp;&nbsp; 楼梯、步道、栏杆、平台不符合安全要求</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="m7" value="现场照明缺失" />&nbsp;&nbsp; 现场照明缺失</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" level="1" class="parent76" value=" 职业健康" />&nbsp;<label>职业健康</label>&nbsp;&nbsp;&nbsp;</td>
                    <td><input type="checkbox" level="2" class="Pro m8 parent76" value="存在职业健康危害因素" />&nbsp;<label>存在职业健康危害因素</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="m8" value="现场存在的粉尘、噪声、辐射、高温、有毒有害等职业危险因素" />&nbsp;&nbsp; 现场存在的粉尘、噪声、辐射、高温、有毒有害等职业危险因素</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" level="1" class="parent78" value=" 事故经验" />&nbsp;<label>事故经验</label>&nbsp;&nbsp;&nbsp;</td>
                    <td><input type="checkbox" level="2" class="Pro m10 parent78" value="不安全事件" />&nbsp;<label>不安全事件</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="m8" value="发生过的不安全事件" />&nbsp;&nbsp; 发生过的不安全事件</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" level="1" class="parent79" value=" 事故经验" />&nbsp;<label>事故责任</label>&nbsp;&nbsp;&nbsp;</td>
                    <td><input type="checkbox" level="2" class="Pro m11 parent79" value="发生异常、未遂、二类障碍、一类障碍、一般及以上人员责任事故" />&nbsp;<label>发生异常、未遂、二类障碍、一类障碍、一般及以上人员责任事故</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="m11" value="发生异常，未遂、二类、一类障碍，一般及以上人员责任事故" />&nbsp;&nbsp; 发生异常，未遂、二类、一类障碍，一般及以上人员责任事故</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td rowspan="11"><input type="checkbox" level="1" class="parent80" value=" 人身安全" />&nbsp;<label>人身安全</label>&nbsp;&nbsp;&nbsp;</td>
                    <td><input type="checkbox" level="2" class="Pro n13 parent80" value="高处坠落" />&nbsp;<label>高处坠落</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="n13" value="存在登高禁忌症" />&nbsp;&nbsp; 存在登高禁忌症</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="n13" value="高处作业平台、作业面强度不足等" />&nbsp;&nbsp; 高处作业平台、作业面强度不足等</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="n13" value="安全防护设施缺陷" />&nbsp;&nbsp; 安全防护设施缺陷</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" level="2" class="Pro n2 parent80" value="起重伤害" />&nbsp;<label>起重伤害</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="n2" value="起重机械“带病运行”（保护失灵、安全装置不全、钢丝绳和卸卡缺陷）" />&nbsp;&nbsp; 起重机械“带病运行”（保护失灵、安全装置不全、钢丝绳和卸卡缺陷）</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="n2" value="过载" />&nbsp;&nbsp; 过载</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="n2" value="起重机械倾倒" />&nbsp;&nbsp; 起重机械倾倒</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="n2" value="吊物绑扎不牢" />&nbsp;&nbsp; 吊物绑扎不牢</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="n2" value="起重机械作业半径或行走范围内无准入管理" />&nbsp;&nbsp; 起重机械作业半径或行走范围内无准入管理</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" level="2" class="Pro n3 parent80" value="物体打击" />&nbsp;<label>物体打击</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="n3" value="工作现场或进出现场通道上工器具、材料、物料、设备零部件飞出、掉落" />&nbsp;&nbsp; 工作现场或进出现场通道上工器具、材料、物料、设备零部件飞出、掉落</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" level="2" class="Pro n4 parent80" value="触电" />&nbsp;<label>触电</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="n4" value="电气设备接地装置失效" />&nbsp;&nbsp; 电气设备接地装置失效</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="n4" value="带电部分防护失效" />&nbsp;&nbsp; 带电部分防护失效</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="n4" value="小于安全距离作业" />&nbsp;&nbsp; 小于安全距离作业</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" level="2" class="Pro n5 parent80" value="机械伤害" />&nbsp;<label>机械伤害</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="n5" value="转动机械无防护或防护缺失" />&nbsp;&nbsp; 转动机械无防护或防护缺失</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="n5" value="输煤皮带、斗轮机、采样机启动无预警" />&nbsp;&nbsp; 输煤皮带、斗轮机、采样机启动无预警</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="n5" value="各类工器具、机加工设备可能造成砸、碰、挤压" />&nbsp;&nbsp; 各类工器具、机加工设备可能造成砸、碰、挤压</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" level="2" class="Pro n6 parent80" value="灼烫伤" />&nbsp;<label>灼烫伤</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="n6" value="高温蒸汽、灰、渣、水、管道防护失效" />&nbsp;&nbsp; 高温蒸汽、灰、渣、水、管道防护失效</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="n6" value="液氨、强酸、强碱泄漏" />&nbsp;&nbsp; 液氨、强酸、强碱泄漏</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" level="2" class="Pro n7 parent80" value="火灾爆炸" />&nbsp;<label>火灾爆炸</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="n7" value="可燃物堆放随意" />&nbsp;&nbsp; 可燃物堆放随意</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="n7" value="积煤积粉长期不清理" />&nbsp;&nbsp; 积煤积粉长期不清理</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="n7" value="电气设备长期过载" />&nbsp;&nbsp; 电气设备长期过载</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="n7" value="易燃易爆品火源管控不足" />&nbsp;&nbsp; 易燃易爆品火源管控不足</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="n7" value="动火作业不履行相关程序" />&nbsp;&nbsp; 动火作业不履行相关程序</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" level="2" class="Pro n8 parent80" value="中毒窒息" />&nbsp;<label>中毒窒息</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="n8" value="有限空间作业通风不良、没有检测手段" />&nbsp;&nbsp; 有限空间作业通风不良、没有检测手段</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="n8" value="液氨等有毒有害物质泄漏、扩散" />&nbsp;&nbsp; 液氨等有毒有害物质泄漏、扩散</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" level="2" class="Pro n9 parent80" value="坍塌" />&nbsp;<label>坍塌</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="n9" value="脚手架材质、结构不合理" />&nbsp;&nbsp; 脚手架材质、结构不合理</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="n9" value="工件、物料堆置过高" />&nbsp;&nbsp; 工件、物料堆置过高</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="n9" value="建构筑物、平台结构不牢" />&nbsp;&nbsp; 建构筑物、平台结构不牢</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="n9" value="积煤、积灰、炉膛结焦" />&nbsp;&nbsp; 积煤、积灰、炉膛结焦</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" level="2" class="Pro n10 parent80" value="淹溺" />&nbsp;<label>淹溺</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="n10" value="码头、水源地现场安全防护缺失" />&nbsp;&nbsp; 码头、水源地现场安全防护缺失</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="n10" value="作业人员安全防护不完整" />&nbsp;&nbsp; 作业人员安全防护不完整</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="n10" value="有限空间作业突然来水" />&nbsp;&nbsp; 有限空间作业突然来水</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" level="2" class="Pro n11 parent80" value="车辆伤害" />&nbsp;<label>车辆伤害</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="n11" value="无证驾驶" />&nbsp;&nbsp; 无证驾驶</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="n11" value="客货混装" />&nbsp;&nbsp; 客货混装</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="n11" value="车辆带“病”运行" />&nbsp;&nbsp; 车辆带“病”运行</label></div></li>
                        </ul>
                    </td>
                </tr>
            </table>*@



        </div>
    </div>

</div>
