@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}

<script src="~/Content/scripts/business/common.js"></script>
<script>
    $(function () {
        GetData("区域风险", "危险源", "", "divtab", "2");
        $("input").click(function () {
            $(this).attr("checked", this.checked);
            var cls = $(this).attr("class");
            var level = $(this).attr("level");
            switch (level) {
                case "3":
                    $("input").each(function (i, item) {
                        if ($(item).attr("class") != cls && $(item).attr("level") == 3) {
                            $(item).prop("checked", false).attr("checked", false);
                        }

                        if ($(item).attr("level") == 2 && !($(item).attr("class").indexOf(cls) >= 0)) {
                            $(item).prop("checked", false).attr("checked", false);
                        }
                    })
                    $(".Pro." + cls).prop("checked", "checked").attr("checked", "checked");
                    break;
                case "2":
                    $("input").each(function (i, item) {
                        if (!(cls.indexOf($(item).attr("class")) >= 0) && $(item).attr("level") == 3) {
                            $(item).prop("checked", false).attr("checked", false);
                        }
                        if (!(cls.indexOf($(item).attr("class")) >= 0) && $(item).attr("level") == 2) {
                            $(item).prop("checked", false).attr("checked", false);
                        }
                    })
                    break;
                default:
            }
        })
    })
    function AcceptClick() {
        var str = "";
        var str1 = "";
        $("input").each(function (i, item) {
            if ($(item).attr("checked") && $(item).attr("level") == 2) {
                str1 += $(item).val() + ",";
            }
            if ($(item).attr("checked") && $(item).attr("level") == 3) {
                str += $(item).val() + ",";
            }
        })
        if (str.length > 0) {
            str = str.substring(0, str.length - 1);
            top.win.window.$("#RiskDesc").val(str);
        } else {
            top.win.window.$("#RiskDesc").val("");
        }
        if (str1.length > 0) {
            str1 = str1.substring(0, str1.length - 1);
            top.win.window.$("#DangerSource").val(str1);
        } else {
            top.win.window.$("#DangerSource").val("");
        }
        dialogClose();
    }
</script>

<div style="margin-top: 20px; margin-right: 30px;">

    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;危险源分类</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
                <input id="ID" type="hidden" class="form-control" />
            </span>
        </div>
        <div class="panel-body" id="divtab">
            @*<table id="tab1" cellpadding="0" border="1" style="width:100%;text-align:left;" align="left">
                <tr style="font-size:20px;font-weight:bold;height:40px;">
                    <td style="width:120px;"><label>危险源分类</label></td>
                    <td style="width:260px;"><label>危险源</label></td>
                    <td style="width:180px;"><label>危险因素</label></td>
                    <td style="width:200px;"><label>释义</label></td>
                    <td><label>示例</label></td>
                </tr>
                <tr>
                    <td rowspan="4"><div class='radio-inline icheck'><label>&nbsp;<label>生产系统（或设备设施）</label>&nbsp;&nbsp;&nbsp;</label></div></td>
                    <td rowspan="4">
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="2" type='checkbox' value="噪声" />&nbsp;&nbsp; 噪声</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="2" type='checkbox' value="粉尘" />&nbsp;&nbsp; 粉尘</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="2" type='checkbox' value="振动" />&nbsp;&nbsp; 振动</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="2" type='checkbox' value="转动设备" />&nbsp;&nbsp; 转动设备</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="2" type='checkbox' value="运动物，包括抛射物、飞溅物、坠落物、反弹物等" />&nbsp;&nbsp; 运动物，包括抛射物、飞溅物、坠落物、反弹物等</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="2" type='checkbox' value="明火" />&nbsp;&nbsp; 明火</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="2" type='checkbox' value="电，包括各电压等级交流电、直流电" />&nbsp;&nbsp; 电，包括各电压等级交流电、直流电</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="2" type='checkbox' value="高温物质，包括高温气体、高温液体、高温固体" />&nbsp;&nbsp; 高温物质，包括高温气体、高温液体、高温固体</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="2" type='checkbox' value="低温物质，包括低温气体、低温液体低温固体等" />&nbsp;&nbsp; 低温物质，包括低温气体、低温液体低温固体等</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="2" type='checkbox' value="危化品" />&nbsp;&nbsp; 危化品</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="2" type='checkbox' value="其他" />&nbsp;&nbsp; 其他</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="承载能力不足" />&nbsp;&nbsp; 承载能力不足</label></div></li>
                        </ul>
                    </td>
                    <td><label>指生产系统中的设备、管道、线路等载体承载系统能量（如压力、温度、电流、电压、应力等）的能力不能满足要求。</label></td>
                    <td><label>汽水管道破裂、零部件断裂脱落、消防水管道法兰漏水等</label></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="参数监测不到位" />&nbsp;&nbsp; 参数监测不到位</label></div></li>
                        </ul>
                    </td>
                    <td><label>由于监测仪器、设备、设施缺失、失灵、损坏，导致对生产系统关键指标（如压力、温度、电流、电压、应力、气体浓度等）不能及时准确有效监测。</label></td>
                    <td><label>烟感探头失灵、漏氢检测仪未安装或失灵等</label></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="控制能力不够" />&nbsp;&nbsp; 控制能力不够</label></div></li>
                        </ul>
                    </td>
                    <td><label>指在正常、异常、事故情况下控制能量的设备、设施损坏、缺失或不完善。</label></td>
                    <td><label>流量阀和安全门失灵、电缆桥架上有积粉、隔音罩缺失、除尘装置运行效果差等</label></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="防护措施不完善" />&nbsp;&nbsp; 防护措施不完善</label></div></li>
                        </ul>
                    </td>
                    <td><label>指生产系统应具备的保证现场人员安全的防护功能措施，防护措施不完善包括安全设施、应急措施、标识等缺失、不完善或损坏。</label></td>
                    <td><label>防护罩缺损、防护栏不全等</label></td>
                </tr>


                <tr>
                    <td rowspan="28"><div class='radio-inline icheck'><label>&nbsp;<label>生产系统（或设备设施）</label>&nbsp;&nbsp;&nbsp;</label></div></td>
                    <td rowspan="2">
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="2" type='checkbox' value="照明" />&nbsp;&nbsp; 照明</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="3" type='checkbox' value="室内采光照明不良" />&nbsp;&nbsp; 室内采光照明不良</label></div></li>
                        </ul>
                    </td>
                    <td><label>指照度不足或过强、烟尘弥漫影响照明等</label></td>
                    <td><label></label></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="3" type='checkbox' value="室外作业场地光照不良" />&nbsp;&nbsp; 室外作业场地光照不良</label></div></li>
                        </ul>
                    </td>
                    <td><label>指光照不足或过强、烟尘弥漫影响光照等</label></td>
                    <td><label></label></td>
                </tr>

                <tr>
                    <td rowspan="2">
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="2" type='checkbox' value="通风" />&nbsp;&nbsp; 通风</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="3" type='checkbox' value="室内作业场所空气不良" />&nbsp;&nbsp; 室内作业场所空气不良</label></div></li>
                        </ul>
                    </td>
                    <td><label>指自然通风差、无强制通风、风量不足或气流过大、缺氧或有害气体超限等</label></td>
                    <td><label></label></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="3" type='checkbox' value="室外作业场地空气不良" />&nbsp;&nbsp; 室外作业场地空气不良</label></div></li>
                        </ul>
                    </td>
                    <td><label>指自然通风差或气流过大、作业场地缺氧或有害气体超限等</label></td>
                    <td><label></label></td>
                </tr>

                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="2" type='checkbox' value="安全标示" />&nbsp;&nbsp; 安全标示</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="3" type='checkbox' value="安全标示缺少、不足" />&nbsp;&nbsp; 安全标示缺少、不足</label></div></li>
                        </ul>
                    </td>
                    <td><label>指安全警示牌、职业危害告知牌、应急照明等配置不符合要求或损坏。</label></td>
                    <td><label></label></td>
                </tr>

                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="2" type='checkbox' value="脚手架" />&nbsp;&nbsp; 脚手架</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="3" type='checkbox' value="脚手架未验收合格、脚手架搭设不符合要求或脚手架缺陷" />&nbsp;&nbsp; 脚手架未验收合格、脚手架搭设不符合要求或脚手架缺陷</label></div></li>
                        </ul>
                    </td>
                    <td><label>指未按脚手架相关要求搭设或验收脚手架</label></td>
                    <td><label></label></td>
                </tr>

                <tr>
                    <td rowspan="9">
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="2" type='checkbox' value="地面" />&nbsp;&nbsp; 地面</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="3" type='checkbox' value="室内地面滑" />&nbsp;&nbsp; 室内地面滑</label></div></li>
                        </ul>
                    </td>
                    <td><label>指室内地面、通道、楼梯被任何液体、熔融物质润湿，结冰或有其他易滑物等</label></td>
                    <td><label></label></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="3" type='checkbox' value="室外作业场地和交通设施湿滑" />&nbsp;&nbsp; 室外作业场地和交通设施湿滑</label></div></li>
                        </ul>
                    </td>
                    <td><label>包括铺设好的地面区域、阶梯、通道、道路、小路等被任何液体、熔融物质润湿，冰雪覆盖或有其他易滑物等</label></td>
                    <td><label></label></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="3" type='checkbox' value="室内地面不平" />&nbsp;&nbsp; 室内地面不平</label></div></li>
                        </ul>
                    </td>
                    <td><label></label></td>
                    <td><label></label></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="3" type='checkbox' value="室外作业场地不平" />&nbsp;&nbsp; 室外作业场地不平</label></div></li>
                        </ul>
                    </td>
                    <td><label>包括不平坦的地面和路面，有铺设的、未铺设的、草地、小鹅卵石或碎石地面和路面</label></td>
                    <td><label></label></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="3" type='checkbox' value="房屋基础下沉" />&nbsp;&nbsp; 房屋基础下沉</label></div></li>
                        </ul>
                    </td>
                    <td><label></label></td>
                    <td><label></label></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="3" type='checkbox' value="室外作业场地基础下沉" />&nbsp;&nbsp; 室外作业场地基础下沉</label></div></li>
                        </ul>
                    </td>
                    <td><label></label></td>
                    <td><label></label></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="3" type='checkbox' value="室内给、排水不良" />&nbsp;&nbsp; 室内给、排水不良</label></div></li>
                        </ul>
                    </td>
                    <td><label></label></td>
                    <td><label></label></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="3" type='checkbox' value="室内涌水" />&nbsp;&nbsp; 室内涌水</label></div></li>
                        </ul>
                    </td>
                    <td><label></label></td>
                    <td><label></label></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="3" type='checkbox' value="室外作业场地涌水" />&nbsp;&nbsp; 室外作业场地涌水</label></div></li>
                        </ul>
                    </td>
                    <td><label></label></td>
                    <td><label></label></td>
                </tr>

                <tr>
                    <td rowspan="2">
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="2" type='checkbox' value="孔洞" />&nbsp;&nbsp; 孔洞</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="3" type='checkbox' value="地面开口缺陷" />&nbsp;&nbsp; 地面开口缺陷</label></div></li>
                        </ul>
                    </td>
                    <td><label>包括升降梯井、电梯井、阀门井、排水沟、水沟、水渠等</label></td>
                    <td><label></label></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="3" type='checkbox' value="墙和天花板上的开口缺陷" />&nbsp;&nbsp; 墙和天花板上的开口缺陷</label></div></li>
                        </ul>
                    </td>
                    <td><label>包括修车坑、门窗开口、检修孔等</label></td>
                    <td><label></label></td>
                </tr>

                <tr>
                    <td rowspan="2">
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="2" type='checkbox' value="空间" />&nbsp;&nbsp; 空间</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="3" type='checkbox' value="作业场所狭窄" />&nbsp;&nbsp; 作业场所狭窄</label></div></li>
                        </ul>
                    </td>
                    <td><label></label></td>
                    <td><label></label></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="3" type='checkbox' value="作业场所杂乱" />&nbsp;&nbsp; 作业场所杂乱</label></div></li>
                        </ul>
                    </td>
                    <td><label></label></td>
                    <td><label></label></td>
                </tr>

                <tr>
                    <td rowspan="4">
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="2" type='checkbox' value="楼梯、栏杆、门、围栏等" />&nbsp;&nbsp; 楼梯、栏杆、门、围栏等</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="3" type='checkbox' value="室内梯架缺陷" />&nbsp;&nbsp; 室内梯架缺陷</label></div></li>
                        </ul>
                    </td>
                    <td><label>包括楼梯、阶梯、电动梯和活动梯架，以及这些设施的扶手、扶栏和护栏、护网等</label></td>
                    <td><label></label></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="3" type='checkbox' value="室外阶梯和活动梯架缺陷" />&nbsp;&nbsp; 室外阶梯和活动梯架缺陷</label></div></li>
                        </ul>
                    </td>
                    <td><label>包括这些设施的扶手、扶栏和护栏、护网等</label></td>
                    <td><label></label></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="3" type='checkbox' value="门和围栏缺陷" />&nbsp;&nbsp; 门和围栏缺陷</label></div></li>
                        </ul>
                    </td>
                    <td><label>包括大门、栅栏和铁丝网等</label></td>
                    <td><label></label></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="3" type='checkbox' value="防护栏杆缺陷" />&nbsp;&nbsp; 防护栏杆缺陷</label></div></li>
                        </ul>
                    </td>
                    <td><label></label></td>
                    <td><label></label></td>
                </tr>

                <tr>
                    <td rowspan="2">
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="2" type='checkbox' value="通道、出口" />&nbsp;&nbsp; 通道、出口</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="3" type='checkbox' value="安全通道缺陷" />&nbsp;&nbsp; 安全通道缺陷</label></div></li>
                        </ul>
                    </td>
                    <td><label>包括无安全通道，安全通道狭窄、不畅等</label></td>
                    <td><label></label></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="3" type='checkbox' value="安全出口缺陷" />&nbsp;&nbsp; 安全出口缺陷</label></div></li>
                        </ul>
                    </td>
                    <td><label>包括无安全出口、设置不合理等</label></td>
                    <td><label></label></td>
                </tr>

                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="2" type='checkbox' value="温度、湿度" />&nbsp;&nbsp; 温度、湿度</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="3" type='checkbox' value="温度、湿度、气压不适" />&nbsp;&nbsp; 温度、湿度、气压不适</label></div></li>
                        </ul>
                    </td>
                    <td><label>包括无安全通道，安全通道狭窄、不畅等</label></td>
                    <td><label></label></td>
                </tr>

                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="2" type='checkbox' value="建筑物和其他结构" />&nbsp;&nbsp; 建筑物和其他结构</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="3" type='checkbox' value="建筑物和其他结构缺陷" />&nbsp;&nbsp; 建筑物和其他结构缺陷</label></div></li>
                        </ul>
                    </td>
                    <td><label>包括建筑中或拆毁中的墙壁、桥梁、建筑物；筒仓、固定的槽罐和容器；屋顶、塔楼等</label></td>
                    <td><label></label></td>
                </tr>

                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="2" type='checkbox' value="其他" />&nbsp;&nbsp; 其他</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="3" type='checkbox' value="其他作业环境不良" />&nbsp;&nbsp; 其他作业环境不良</label></div></li>
                        </ul>
                    </td>
                    <td><label></label></td>
                    <td><label></label></td>
                </tr>
            </table>*@



        </div>
    </div>

</div>
