@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/business/common.js"></script>
<link href="~/content/scripts/plugins/icheck/skins/square/_all.css" type="text/css" rel="stylesheet" />
<script src="~/content/scripts/plugins/icheck/js/icheck.min.js" type="text/javascript"></script>
<script src="~/content/scripts/plugins/icheck/js/custom.min.js" type="text/javascript"></script>
<script>
    var IsGdxy = false;
    $(function () {
        IsGdxy = GetVersion();
        GetData("设备风险", "故障类型", "", "divtab", "2");
        $("input").click(function () {
            $(this).attr("checked", this.checked);
            var cls = $(this).attr("class");
            var level = $(this).attr("level");
            switch (level) {
                case "3":
                    $("input").each(function (i, item) {
                        if ($(item).attr("class") != cls && $(item).attr("level") == 3) {
                            $(item).prop("checked", false).attr("checked", false);
                        }

                        if ($(item).attr("level") == 2 && !($(item).attr("class").indexOf(cls) >= 0)) {
                            $(item).prop("checked", false).attr("checked", false);
                        }
                    })
                    $(".Pro." + cls).prop("checked", "checked").attr("checked", "checked");
                    var cls2 = $(".Pro." + cls).attr("class");
                    $("input").each(function (i, item) {
                        if (!(cls2.indexOf($(item).attr("class")) >= 0) && $(item).attr("level") == 1) {
                            $(item).prop("checked", false).attr("checked", false);
                        } else if (cls2.indexOf($(item).attr("class")) >= 0 && $(item).attr("level") == 1) {
                            $(item).prop("checked", "checked").attr("checked", "checked");
                        }
                    })
                    break;
                case "2":
                    $("input").each(function (i, item) {
                        if (!(cls.indexOf($(item).attr("class")) >= 0) && $(item).attr("level") == 3) {
                            $(item).prop("checked", false).attr("checked", false);
                        }
                        if (!(cls.indexOf($(item).attr("class")) >= 0) && $(item).attr("level") == 2) {
                            $(item).prop("checked", false).attr("checked", false);
                        }

                        if (!(cls.indexOf($(item).attr("class")) >= 0) && $(item).attr("level") == 1) {
                            $(item).prop("checked", false).attr("checked", false);
                        } else if (cls.indexOf($(item).attr("class")) >= 0 && $(item).attr("level") == 1) {
                            $(item).prop("checked", "checked").attr("checked", "checked");
                        }
                    })
                    break;
                case "1":
                    $("input").each(function (i, item) {
                        if ($(item).attr("level") == 2 && (!(cls.indexOf($(item).attr("class")) >= 0))) {
                            $(item).prop("checked", false).attr("checked", false);
                            var itcls = $(item).attr("class");
                            $("input").each(function (i, item) {
                                if ($(item).attr("level") == 3 && (!(cls.indexOf($(item).attr("class")) >= 0))) {
                                    $(item).prop("checked", false).attr("checked", false);
                                }
                            })
                        }
                        if (!(cls == $(item).attr("class")) && $(item).attr("level") == 1) {
                            $(item).prop("checked", false).attr("checked", false);
                        } else if (cls == $(item).attr("class") && $(item).attr("level") == 1) {
                            $(item).prop("checked", "checked").attr("checked", "checked");
                        }
                    })
                    break;
                default:
            }
        })
    })
    function AcceptClick() {
        var str = "";
        if (IsGdxy) {
            $("input").each(function (i, item) {
                if ($(item).attr("checked") && $(item).attr("level") == 2) {
                    top.win.window.$("#FaultType").val($(item).val());
                }
                if ($(item).attr("checked") && $(item).attr("level") == 3) {
                    str += $(item).val() + ",";
                }
                if ($(item).attr("checked") && $(item).attr("level") == 1) {
                    top.win.window.$("#FaultCategory").val($(item).val());
                }
            })
            if (str.length > 0) {
                str = str.substring(0, str.length - 1);
                top.win.window.$("#RiskDesc").val(str);
            } else {
                top.win.window.$("#RiskDesc").val("");
            }
        } else {
            $("input").each(function (i, item) {
                if ($(item).attr("checked") && $(item).attr("level") == 2) {
                    top.win.window.$("#FaultType").val($(item).val());
                }
                if ($(item).attr("checked") && $(item).attr("level") == 3) {
                    str += $(item).val() + ",";
                }
            })
            if (str.length > 0) {
                str = str.substring(0, str.length - 1);
                top.win.window.$("#RiskDesc").val(str);
            } else {
                top.win.window.$("#RiskDesc").val("");
            }
        }
      
        dialogClose();
    }
</script>
<div style="margin-top: 20px; margin-right: 30px;">

    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;故障类型清单</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
                <input id="ID" type="hidden" class="form-control" />
            </span>
        </div>
        <div class="panel-body" id="divtab">
            @*<table id="tab1" cellpadding="0" border="1" style="width: 100%; text-align: left;" align="left">
                    <tr style="font-size:20px;font-weight:bold;height:40px;">
                        <td style="width:120px;"><label>故障类别</label></td>
                        <td style="width:180px;"><label>故障类型</label></td>
                        <td><label>危害因素</label></td>
                        <td><label>备注</label></td>
                    </tr>
                    <tr>
                        <td rowspan="64"><label><input class="parent4" type="checkbox" level="1" value="物理性危险" />&nbsp;<label>物理性危险</label>&nbsp;&nbsp;&nbsp;</label></td>
                        <td rowspan="7"><label><input type="checkbox" level="2" class="Pro t1 parent4" value="设备、附件缺陷" />&nbsp;<label>设备、附件缺陷</label>&nbsp;&nbsp;&nbsp;</label></td>
                        <td>
                            <ul>
                                <li>
                                    <label>损坏型故障:</label>
                                    <div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="断裂" />&nbsp;&nbsp; 断裂</label></div>
                                    <div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="碎裂" />&nbsp;&nbsp; 碎裂</label></div>
                                    <div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="开裂" />&nbsp;&nbsp; 开裂</label></div>
                                    <div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="点蚀" />&nbsp;&nbsp; 点蚀</label></div>
                                    <div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="烧蚀" />&nbsp;&nbsp; 烧蚀</label></div>
                                    <div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="短路" />&nbsp;&nbsp; 短路</label></div>
                                    <div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="击穿" />&nbsp;&nbsp; 击穿</label></div>
                                    <div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="变形" />&nbsp;&nbsp; 变形</label></div>
                                    <div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="弯曲" />&nbsp;&nbsp; 弯曲</label></div>
                                    <div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="拉伤" />&nbsp;&nbsp; 拉伤</label></div>
                                    <div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="龟裂" />&nbsp;&nbsp; 龟裂</label></div>
                                    <div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="压痕" />&nbsp;&nbsp; 压痕</label></div>
                                    <div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="其它" />&nbsp;&nbsp; 其它</label></div>
                                </li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>
                    <tr>

                        <td>
                            <ul>
                                <li>
                                    <label>退化型故障:</label>
                                    <div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="老化" />&nbsp;&nbsp; 老化</label></div>
                                    <div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="劣化" />&nbsp;&nbsp; 劣化</label></div>
                                    <div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="变质" />&nbsp;&nbsp; 变质</label></div>
                                    <div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="剥落" />&nbsp;&nbsp; 剥落</label></div>
                                    <div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="异常磨损" />&nbsp;&nbsp; 异常磨损</label></div>
                                    <div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="疲劳" />&nbsp;&nbsp; 疲劳</label></div>
                                </li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>
                    <tr>

                        <td>
                            <ul>
                                <li>
                                    <label>松脱型故障:</label>
                                    <div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="松动" />&nbsp;&nbsp; 松动</label></div>
                                    <div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="脱落" />&nbsp;&nbsp; 脱落</label></div>
                                    <div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="其它" />&nbsp;&nbsp; 其它</label></div>
                                </li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>
                    <tr>

                        <td>
                            <ul>
                                <li>
                                    <label>失调型故障:</label>
                                    <div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="压力过高或过低" />&nbsp;&nbsp; 压力过高或过低</label></div>
                                    <div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="温度过高或过低" />&nbsp;&nbsp; 温度过高或过低</label></div>
                                    <div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="行程失调" />&nbsp;&nbsp; 行程失调</label></div>
                                    <div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="间隙过大或过小" />&nbsp;&nbsp; 间隙过大或过小</label></div>
                                </li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>
                    <tr>

                        <td>
                            <ul>
                                <li>
                                    <label>堵塞与渗漏型故障:</label>
                                    <div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="堵塞" />&nbsp;&nbsp; 堵塞</label></div>
                                    <div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="气阻" />&nbsp;&nbsp; 气阻</label></div>
                                    <div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="漏水" />&nbsp;&nbsp; 漏水</label></div>
                                    <div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="漏气" />&nbsp;&nbsp; 漏气</label></div>
                                    <div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="渗油" />&nbsp;&nbsp; 渗油</label></div>
                                    <div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="漏电" />&nbsp;&nbsp; 漏电</label></div>
                                </li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>
                    <tr>

                        <td>
                            <ul>
                                <li>
                                    <label>性能衰退或功能失效型故障:</label>
                                    <div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="功能失效" />&nbsp;&nbsp; 功能失效</label></div>
                                    <div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="性能衰退" />&nbsp;&nbsp; 性能衰退</label></div>
                                    <div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="异响" />&nbsp;&nbsp; 异响</label></div>
                                    <div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="过热" />&nbsp;&nbsp; 过热</label></div>
                                </li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>
                    <tr>

                        <td>
                            <ul>

                                <li>
                                    <div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="设备、附件其他缺陷" />&nbsp;&nbsp; 设备、附件其他缺陷</label></div>
                                </li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td rowspan="6"><label><input type="checkbox" level="2" class="Pro t21 parent4" value="防护缺陷" />&nbsp;<label>防护缺陷</label>&nbsp;&nbsp;&nbsp;</label></td>
                        <td>
                            <ul>
                                <li>
                                    <div class='radio-inline icheck'><label><input class="t21" level="3" type='checkbox' value="无防护" />&nbsp;&nbsp; 无防护</label></div>
                                </li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li>
                                    <div class='radio-inline icheck'><label><input class="t21" level="3" type='checkbox' value="防护装置、设施缺陷" />&nbsp;&nbsp; 防护装置、设施缺陷</label></div>
                                </li>
                            </ul>
                        </td>
                        <td><label>指防护装置、设施本身安全性、可靠性差，包括防护装置、设施、防护用品损坏、失效、失灵等</label></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li>
                                    <div class='radio-inline icheck'><label><input class="t21" level="3" type='checkbox' value="防护不当" />&nbsp;&nbsp; 防护不当</label></div>
                                </li>
                            </ul>
                        </td>
                        <td><label>指防护装置、设施和防护用品不符合要求、使用不当。不包括防护距离不够</label></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li>
                                    <div class='radio-inline icheck'><label><input class="t21" level="3" type='checkbox' value="支撑不当" />&nbsp;&nbsp; 支撑不当</label></div>
                                </li>
                            </ul>
                        </td>

                        <td><label>包括矿井、建筑施工支护不符合要求</label></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li>
                                    <div class='radio-inline icheck'><label><input class="t21" level="3" type='checkbox' value="防护距离不够" />&nbsp;&nbsp; 防护距离不够</label></div>
                                </li>
                            </ul>
                        </td>
                        <td><label>指设备布置、机械、电气、防火、防爆等安全距离不够和卫生防护距离不够等</label></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li>
                                    <div class='radio-inline icheck'><label><input class="t21" level="3" type='checkbox' value="其他防护缺陷" />&nbsp;&nbsp; 其他防护缺陷</label></div>
                                </li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td rowspan="5"><input type="checkbox" value="电伤害" level="2" class="Pro t3 parent4" />&nbsp;<label>电伤害</label>&nbsp;&nbsp;&nbsp;</td>
                        <td>
                            <ul>
                                <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t3" value="带电部位裸露" />&nbsp;&nbsp; 带电部位裸露</label></div></li>
                            </ul>
                        </td>
                        <td><label>指人员易触及的裸露带电部位</label></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t3" value="漏电" />&nbsp;&nbsp; 漏电</label></div></li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t3" value="静电和杂散电流" />&nbsp;&nbsp; 静电和杂散电流</label></div></li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t3" value="电火花" />&nbsp;&nbsp; 电火花</label></div></li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t3" value="其他电伤害" />&nbsp;&nbsp; 其他电伤害</label></div></li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td rowspan="4"><input type="checkbox" value="噪声" class="Pro t34 parent4" level="2" />&nbsp;<label>噪声</label>&nbsp;&nbsp;&nbsp;</td>
                        <td>
                            <ul>
                                <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t34" value="机械性噪声" />&nbsp;&nbsp; 机械性噪声</label></div></li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t34" value="电磁性噪声" />&nbsp;&nbsp; 电磁性噪声</label></div></li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t34" value="流体动力性噪声" />&nbsp;&nbsp; 流体动力性噪声</label></div></li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t34" value="其他噪声" />&nbsp;&nbsp; 其他噪声</label></div></li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>

                    <tr>
                        <td rowspan="4"><input type="checkbox" value="振动危害" class="Pro t5 parent4" level="2" />&nbsp;<label>振动危害</label>&nbsp;&nbsp;&nbsp;</td>
                        <td>
                            <ul>
                                <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t5" value="机械性振动" />&nbsp;&nbsp; 机械性振动</label></div></li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t5" value="电磁性振动" />&nbsp;&nbsp; 电磁性振动</label></div></li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t5" value="流体动力性振动" />&nbsp;&nbsp; 流体动力性振动</label></div></li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t5" value="其他振动" />&nbsp;&nbsp; 其他振动</label></div></li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>

                    <tr>
                        <td><input type="checkbox" value="电离辐射" level="2" class="Pro t6 parent4" />&nbsp;<label>电离辐射</label>&nbsp;&nbsp;&nbsp;</td>
                        <td></td>
                        <td><label></label></td>
                    </tr>

                    <tr>
                        <td rowspan="6"><input type="checkbox" value="非电离辐射" class="Pro t7 parent4" level="2" />&nbsp;<label>非电离辐射</label>&nbsp;&nbsp;&nbsp;</td>
                        <td>
                            <ul>
                                <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t7" value="紫外辐射" />&nbsp;&nbsp; 紫外辐射</label></div></li>
                            </ul>
                        </td>
                        <td><label>包括Χ射线、γ射线、α粒子、β粒子、中子、质子、高能电子束等</label></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t7" value="激光辐射" />&nbsp;&nbsp; 激光辐射</label></div></li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t7" value="微波辐射" />&nbsp;&nbsp; 微波辐射</label></div></li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t7" value="超高频辐射" />&nbsp;&nbsp; 超高频辐射</label></div></li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t7" value="高频电磁场" />&nbsp;&nbsp; 高频电磁场</label></div></li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t7" value="工频电场" />&nbsp;&nbsp; 工频电场</label></div></li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>

                    <tr>
                        <td rowspan="8"><input type="checkbox" value="运动物伤害" class="Pro t8 parent4" level="2" />&nbsp;<label>运动物伤害</label>&nbsp;&nbsp;&nbsp;</td>
                        <td>
                            <ul>
                                <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t8" value="抛射物" />&nbsp;&nbsp; 抛射物</label></div></li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t8" value="飞溅物" />&nbsp;&nbsp; 飞溅物</label></div></li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t8" value="坠落物" />&nbsp;&nbsp; 坠落物</label></div></li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t8" value="反弹物" />&nbsp;&nbsp; 反弹物</label></div></li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t8" value="土、岩滑动" />&nbsp;&nbsp; 土、岩滑动</label></div></li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t8" value="料堆（垛）滑动" />&nbsp;&nbsp; 料堆（垛）滑动</label></div></li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t8" value="气流卷动" />&nbsp;&nbsp; 气流卷动</label></div></li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t8" value="其他运动物伤害" />&nbsp;&nbsp; 其他运动物伤害</label></div></li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>

                    <tr>
                        <td><input type="checkbox" value="明火" level="2" class="Pro t9 parent4" />&nbsp;<label>明火</label>&nbsp;&nbsp;&nbsp;</td>
                        <td></td>
                        <td><label></label></td>
                    </tr>

                    <tr>
                        <td rowspan="4"><input type="checkbox" value="高温物质" level="2" class="Pro t10 parent4" />&nbsp;<label>高温物质</label>&nbsp;&nbsp;&nbsp;</td>
                        <td>
                            <ul>
                                <li>
                                    <div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t10" value="高温气体" />&nbsp;&nbsp; 高温气体</label></div>
                                </li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t10" value="高温液体" />&nbsp;&nbsp; 高温液体</label></div></li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t10" value="高温固体" />&nbsp;&nbsp; 高温固体</label></div></li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t10" value="其他高温物质" />&nbsp;&nbsp; 其他高温物质</label></div></li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>

                    <tr>
                        <td rowspan="4"><input type="checkbox" value="低温物质" level="2" class="Pro t11 parent4" />&nbsp;<label>低温物质</label>&nbsp;&nbsp;&nbsp;</td>
                        <td>
                            <ul>
                                <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t11" value="低温气体" />&nbsp;&nbsp; 低温气体</label></div></li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t11" value="低温液体" />&nbsp;&nbsp; 低温液体</label></div></li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t11" value="低温固体" />&nbsp;&nbsp; 低温固体</label></div></li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t11" value="其他低温物质" />&nbsp;&nbsp; 其他低温物质</label></div></li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>

                    <tr>
                        <td rowspan="6"><input type="checkbox" value="信号缺陷" level="2" class="Pro t12 parent4" />&nbsp;<label>信号缺陷</label>&nbsp;&nbsp;&nbsp;</td>
                        <td>
                            <ul>
                                <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t12" value="无信号设施" />&nbsp;&nbsp; 无信号设施</label></div></li>
                            </ul>
                        </td>
                        <td><label>指应设信号设施处无信号，如无紧急撤离信号等</label></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t12" value="信号选用不当" />&nbsp;&nbsp; 信号选用不当</label></div></li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t12" value="信号位置不当" />&nbsp;&nbsp; 信号位置不当</label></div></li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t12" value="信号不清" />&nbsp;&nbsp; 信号不清</label></div></li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t12" value="信号显示不准" />&nbsp;&nbsp; 信号显示不准</label></div></li>
                            </ul>
                        </td>
                        <td><label>指信号量不足，如响度、亮度、对比度、信号维持时间不够等</label></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t12" value="其他信号缺陷" />&nbsp;&nbsp; 其他信号缺陷</label></div></li>
                            </ul>
                        </td>
                        <td><label>包括信号显示错误、显示滞后或超前等</label></td>
                    </tr>

                    <tr>
                        <td rowspan="6"><input type="checkbox" value="标志缺陷" level="2" class="Pro t13 parent4" />&nbsp;<label>标志缺陷</label>&nbsp;&nbsp;&nbsp;</td>
                        <td>
                            <ul>
                                <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t13" value="无标志" />&nbsp;&nbsp; 无标志</label></div></li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>

                    <tr>
                        <td>
                            <ul>
                                <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t13" value="标志不清晰" />&nbsp;&nbsp; 标志不清晰</label></div></li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t13" value="标志不规范" />&nbsp;&nbsp; 标志不规范</label></div></li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t13" value="标志位置缺陷" />&nbsp;&nbsp; 标志位置缺陷</label></div></li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t13" value="标志位置缺陷" />&nbsp;&nbsp; 标志位置缺陷</label></div></li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t13" value="其他标志缺陷" />&nbsp;&nbsp; 其他标志缺陷</label></div></li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>

                    <tr>
                        <td><input type="checkbox" value="有害光照" level="2" class="Pro t14 parent4" />&nbsp;<label>有害光照</label>&nbsp;&nbsp;&nbsp;</td>
                        <td></td>
                        <td><label>包括直射光、反射光、眩光、频闪效应等</label></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" value="其他物理性危险和有害因素" level="2" class="Pro t15 parent4" />&nbsp;<label>其他物理性危险和有害因素</label>&nbsp;&nbsp;&nbsp;</td>
                        <td></td>
                        <td><label></label></td>
                    </tr>

                    <tr>
                        <td rowspan="9"><label><input class="p2" type="checkbox" level="1" value="化学性危险" />&nbsp;<label>化学性危险</label>&nbsp;&nbsp;&nbsp;</label></td>
                        <td><div class='radio-inline icheck'><label><input type="checkbox" level="2" class="Pro k1 p2" value="爆炸品" />&nbsp;<label>爆炸品</label>&nbsp;&nbsp;&nbsp;</label></div></td>
                        <td></td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td><label><input type="checkbox" level="2" class="Pro k2 p2" value="压缩气体和液化气体" />&nbsp;<label>压缩气体和液化气体</label>&nbsp;&nbsp;&nbsp;</label></td>
                        <td></td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td><label><input type="checkbox" level="2" class="Pro k3 p2" value="易燃液体" />&nbsp;<label>易燃液体</label>&nbsp;&nbsp;&nbsp;</label></td>
                        <td></td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td><label><input type="checkbox" level="2" class="Pro k4 p2" value="易燃固体、自燃物品和遇湿易燃物品" />&nbsp;<label>易燃固体、自燃物品和遇湿易燃物品</label>&nbsp;&nbsp;&nbsp;</label></td>
                        <td></td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td><label><input type="checkbox" level="2" class="Pro k5 p2" value="氧化剂和有机过氧化物" />&nbsp;<label>氧化剂和有机过氧化物</label>&nbsp;&nbsp;&nbsp;</label></td>
                        <td></td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td><label><input type="checkbox" level="2" class="Pro k6 p2" value="有毒品" />&nbsp;<label>有毒品</label>&nbsp;&nbsp;&nbsp;</label></td>
                        <td></td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td><label><input type="checkbox" level="2" class="Pro k7 p2" value="腐蚀品" />&nbsp;<label>腐蚀品</label>&nbsp;&nbsp;&nbsp;</label></td>
                        <td></td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td><label><input type="checkbox" level="2" class="Pro k8 p2" value="粉尘与气溶胶" />&nbsp;<label>粉尘与气溶胶</label>&nbsp;&nbsp;&nbsp;</label></td>
                        <td></td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td><label><input type="checkbox" level="2" class="Pro k9 p2" value="其他化学性危险" />&nbsp;<label>其他化学性危险</label>&nbsp;&nbsp;&nbsp;</label></td>
                        <td></td>
                        <td><label></label></td>
                    </tr>


                    <tr>
                        <td rowspan="5"><label><input class="l3" type="checkbox" level="1" value="生物性危险" />&nbsp;<label>生物性危险</label>&nbsp;&nbsp;&nbsp;</label></td>
                        <td><label><input type="checkbox" level="2" class="Pro m1 l3" value="致病微生物" />&nbsp;<label>致病微生物</label>&nbsp;&nbsp;&nbsp;</label></td>
                        <td>
                            <ul>
                                <li><div class='radio-inline icheck'><label><input type="checkbox" level="3" class="m1" value="细菌" />&nbsp;<label>细菌</label>&nbsp;&nbsp;&nbsp;</label></div></li>
                                <li><div class='radio-inline icheck'><label><input type="checkbox" level="3" class="m1" value="病毒" />&nbsp;<label>病毒</label>&nbsp;&nbsp;&nbsp;</label></div></li>
                                <li><div class='radio-inline icheck'><label><input type="checkbox" level="3" class="m1" value="真菌" />&nbsp;<label>真菌</label>&nbsp;&nbsp;&nbsp;</label></div></li>
                                <li><div class='radio-inline icheck'><label><input type="checkbox" level="3" class="m1" value="其他致病微生物" />&nbsp;<label>其他致病微生物</label>&nbsp;&nbsp;&nbsp;</label></div></li>
                            </ul>
                        </td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td><label><input type="checkbox" level="2" class="Pro m2 l3" value="传染病媒介物" />&nbsp;<label>传染病媒介物</label>&nbsp;&nbsp;&nbsp;</label></td>
                        <td></td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td><label><input type="checkbox" level="2" class="Pro m3 l3" value="致害动物" />&nbsp;<label>致害动物</label>&nbsp;&nbsp;&nbsp;</label></td>
                        <td></td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td><label><input type="checkbox" level="2" class="Pro m4 l3" value="致害植物" />&nbsp;<label>致害植物</label>&nbsp;&nbsp;&nbsp;</label></td>
                        <td></td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                        <td><label><input type="checkbox" level="2" class="Pro m5 l3" value="其他生物性危险和有害因素" />&nbsp;<label>其他生物性危险和有害因素</label>&nbsp;&nbsp;&nbsp;</label></td>
                        <td></td>
                        <td><label></label></td>
                    </tr>

                </table>*@



        </div>
    </div>

</div>
