@{
    ViewBag.Title = "安全风险清单";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
<script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/common.js"></script>
<script>
    var historyid = request('historyId');
    var areaCode = request("code");
    var IsGdxy = false;//版本标示

    $(function () {
        IsGdxy = GetVersion();
        InitialPage();
        GetTree();
        GetGrid();
    })

    //初始化页面
    function InitialPage() {
        var roleNames = "@ERCHTMS.Code.OperatorProvider.Provider.Current().RoleName";
        if (roleNames.indexOf("集团用户") >= 0) {
            deptCode = "00";
        }
        else
        {
            deptCode = top.currUserOrgCode;
        }

        //resize重设(表格、树形)宽高
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $("#gridTable").setGridHeight($(window).height() - 240);
                $("#itemTree").height($(window).height() - 65);

            }, 200);
            e.stopPropagation();
        });

    }

    //加载树
    var deptCode = "";//部门编码
    function GetTree() {
        var json = JSON.stringify(
            {
                SelectMode: 0,
                Mode: 0
            }
        );
        url = "../../BaseManage/Department/GetDepartTreeJson?json=" + json;
        //加载组织机构树
        var item = {
            height: $(window).height() - 65,
            url: url,
            onnodeclick: function (item) {
                deptCode = item.Code;
                areaCode = "";
                var $gridTable = $("#gridTable");
                $('#btn_Search').trigger("click");
            }
        };
        //初始化部门树
        $("#itemTree").treeview(item);


        if ($("#itemTree").html().length == 0) {
            $(".ui-layout-west").hide();
            $('.ui-layout-center').css({ "padding-left": "5px" });
            $('#gridTable').setGridWidth(($('.gridPanel').width()));
            $("#gridTable").setGridHeight($(window).height() - 200);
        } else {
            $('#layout').layout({
                applyDemoStyles: false,
                onresize: function () {
                    $(window).resize()
                }
            });
        }
    }
    var isAll = false;
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $("#gridTable");
        $gridTable.jqGrid({
            url: "../../RiskDatabase/RiskAssess/GetAssessHistoryPageListJson",
            postData: { queryJson: JSON.stringify({ historyid: historyid, deptCode: deptCode, riskType: $("#RiskType").val()}) },
            datatype: "json",
            height: $(window).height() - 200,
            width: 3000,
            colModel: [
                { label: '主键', name: 'keyvalue', hidden: true }, { label: '', name: 'areaid', hidden: true }, { label: '', name: 'createuserorgcode', hidden: true },
                { label: '', name: 'createuserid', hidden: true }, { label: '', name: 'deptcode', hidden: true }, { label: '', name: 'risktype', hidden: true },
                {
                    label: '操作', name: 'Oper', index: 'Oper', width: 100, align: 'center', sortable: false
                    , formatter: function (cellvalue, options, rowObject) {
                        var html = "";
                        html += "<a href=javascript:show('" + rowObject.id + "')  title='查看详情' style='text-decoration:underline'><i class='fa fa-eye' ></i></a>";
                        return html;
                    }
                },
                { label: '作业活动', name: 'name', index: 'name', width: 100, align: 'center' },
                { label: '活动步骤', name: 'workcontent', index: 'workcontent', width: 100, align: 'center' },
                { label: '危害名称', name: 'harmname', index: 'harmname', width: 100, align: 'center' },
                { label: '危害种类', name: 'hazardtype', index: 'hazardtype', width: 100, align: 'center' },
                { label: '危害及有关信息描述', name: 'harmdescription', index: 'harmdescription', width: 150, align: 'center' },
                { label: '设备名称', name: 'equname', index: 'equname', width: 100, align: 'center' },
                { label: '所在地点', name: 'districtname', index: 'districtname', width: 100, align: 'center' },
                {
                    label: '是否特种设备', name: 'isspecialequ', index: 'isspecialequ', width: 100, align: 'center', formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == 0) {
                            return "是";
                        }
                        else {
                            return "否";
                        }
                    }
                },
                { label: '检查项目名称', name: 'checkprojectname', index: 'checkprojectname', width: 100, align: 'center' },
                { label: '检查标准', name: 'checkstandard', index: 'checkstandard', width: 100, align: 'center' },
                { label: '风险描述', name: 'riskdesc', index: 'riskdesc', width: 150, align: 'center' },
                { label: '风险种类', name: 'typesofrisk', index: 'typesofrisk', width: 100, align: 'center' },
                { label: '风险范畴', name: 'riskcategory', index: 'riskcategory', width: 100, align: 'center' },
                { label: '暴露于风险的人员、设备信息', name: 'exposedrisk', index: 'exposedrisk', width: 150, align: 'center' },
                { label: '不符合标准情况及后果', name: 'consequences', index: 'consequences', width: 150, align: 'center' },
                { label: '现有的控制措施', name: 'existingmeasures', index: 'existingmeasures', width: 150, align: 'center' },
                { label: '后果', name: 'itema', index: 'itema', width: 120, align: 'center' },
                { label: '暴露', name: 'itemb', index: 'itemb', width: 120, align: 'center' },
                { label: '可能性', name: 'itemc', index: 'itemc', width: 120, align: 'center' },
                {
                    label: '风险值', name: 'itemr', index: 'itemr', width: 120, align: 'center', formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue) {
                            switch (rowObject.gradeval) {
                                case 1:
                                    return "<div style='background-color:red;color:white'>" + cellvalue + "</div>";
                                    break;
                                case 2:
                                    return "<div style='background-color:orange;color:white'>" + cellvalue + "</div>";
                                    break;
                                case 3:
                                    return "<div style='background-color:yellow;color:black'>" + cellvalue + "</div>";
                                    break;
                                case 4:
                                    return "<div style='background-color:blue;color:white'>" + cellvalue + "</div>";
                                    break;
                                default:
                            }
                        }
                        else {
                            return "";
                        }
                    } },
                { label: '建议采取的控制措施', name: 'advicemeasures', index: 'advicemeasures', width: 200, align: 'center' },
                { label: '控制措施的有效性', name: 'effectiveness', index: 'effectiveness', width: 100, align: 'center' },
                { label: '措施的成本因素', name: 'costfactor', index: 'costfactor', width: 100, align: 'center' },
                { label: '控制措施判断后果', name: 'measuresresult', index: 'measuresresult', width: 100, align: 'center' },
                {
                    label: '措施的采纳', name: 'isadopt', index: 'isadopt', align: 'center', formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == 0) {
                            return "采纳";
                        }
                        else if (cellvalue == 1) {
                            return "不采纳";
                        } else {
                            return "";
                        }
                        
                    }
                }
            ],
            pager: "#gridPager",
            viewrecords: true,
            rowNum: 15,
            rowList: [15, 30, 50, 100],
            rownumbers: true,
            rownumWidth: 50,
            sortname: 'createdate desc,id',
            sortorder: 'desc',
            shrinkToFit: false,
            onSelectRow: function (rowid) {
                selectedRowIndex = $("#" + this.id).getGridParam('selrow');
                var objData = $gridTable.getRowData(rowid);
                areaId = objData.AreaId;
                areaName = objData.AreaName;
            },
            gridComplete: function () {
                var rows = $gridTable.jqGrid("getRowData");//获取当前页记录行数据
                var rowIds = $("#gridTable").jqGrid("getDataIDs");
                if ($("#RiskType").val() == "作业活动") {
                    $('#gridTable').showCol(["name", "workcontent", "harmname", "hazardtype", "harmdescription", "exposedrisk"]);
                    $('#gridTable').hideCol(["equname", "districtname", "isspecialequ", "checkprojectname", "checkstandard", "consequences"]);
                }
                else if ($("#RiskType").val() == "设备设施") {
                    $('#gridTable').hideCol(["name", "workcontent", "harmname", "hazardtype", "harmdescription", "exposedrisk"]);
                    $('#gridTable').showCol(["equname", "districtname", "isspecialequ", "checkprojectname", "checkstandard", "consequences"]);
                }
                //$("#RiskType").val(firstrow.risktype);
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').jqGrid("destroyGroupHeader");
                $('#gridTable').jqGrid("setGroupHeaders", {
                    useColSpanStyle: true,
                    groupHeaders: [{ startColumnName: "itema", numberOfColumns: 4, titleText: "<b>风险等级</b>" }],
                });
                //var rowIds = $("#gridTable").jqGrid("getDataIDs");
                //for (var k = 0; k < rowIds.length; k++) {
                //    var curRowData = $("#gridTable").getRowData(rowIds[k]);
                //    if (curRowData.createuserdeptcode != curdeptcode) {
                //        $("#jqg_gridTable_" + rowIds[k]).hide();
                //    }
                //}
            }
        });
        //查询事件
        $("#btn_Search").click(function () {
            isAll = false;
            $gridTable.jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify({ historyid: historyid, deptCode: deptCode, grade: $("#Grade").val(), Name: $("#Name").val(), riskType: $("#RiskType").val() }) }, page: 1
            }).trigger('reloadGrid');

        });
        $("#btn_SearchAll").click(function () {
            isAll = true;
            $("#txtKeyword").val(""); $("#Grade").val("");
            $(".inner li").removeClass("selected");
            $gridTable.jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify({ historyid: historyid, deptCode: deptCode, grade: "", Name: "", riskType: $("#RiskType").val() }) }, page: 1
            }).trigger('reloadGrid');

        });
    }
    //查看
    function show(id) {
        //查看详情
        var idx = dialogOpen({
            id: "win",
            title: "风险辨识评估信息",
            url: '/RiskDatabase/RiskAssess/Show?keyValue=' + id + "&mode=history",
            width: ($(top.window).width() - 80) + "px",
            height: ($(top.window).height() - 20) + "px",
            btns: 1,
            btn: ["关闭"],
            callBack: function (iframeId) {
                top.layer.close(idx);
            }
        });
    }
</script>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-west" id="divTree">
        <div class="west-Panel">
            <div class="panel-Title">
                <div class="col-md-10">
                    组织机构
                </div>
                <div class="col-md-2 text-right" style="padding-right:8px;">
                    <i class="fa fa-arrow-left" onclick="setBar(this)" style="cursor:pointer;" title="展开/收起"></i>
                </div>
            </div>
            <div id="itemTree"></div>
        </div>
    </div>
    <div class="ui-layout-center" style="margin-left: 5px;">
        <div class="center-Panel">
            <div class="panel-Title" id="pelTitle">风险清单</div>
            <div class="titlePanel">
                <div class="title-search">
                    <table>
                        <tr>
                            <td class="formTitle">风险类型：</td>
                            <td class="formValue">
                                <select id="RiskType" class="form-control" style="width:100px;">
                                    @Html.Raw(new ERCHTMS.Busines.SystemManage.DataItemDetailBLL().GetOptionsString("RiskType"))
                                </select>
                            </td>
                            <td class="formTitle">风险等级：</td>
                            <td class="formValue">
                                <select id="Grade" class="form-control" style="width:100px;">
                                    <option value="">请选择</option>
                                    <option value="重大风险">一级风险</option>
                                    <option value="较大风险">二级风险</option>
                                    <option value="一般风险">三级风险</option>
                                    <option value="低风险">四级风险</option>
                                </select>
                            </td>
                            <td class="formValue" style="padding-left:10px">
                                <input type="text" class="form-control" style="width:200px" id="Name" name="Name" placeholder="按作业活动、设备名称进行关键字搜索" />
                            </td>
                            <td style="padding-left: 5px;">
                                <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;查询</a>
                                <a id="btn_SearchAll" class="btn btn-primary"><i class="fa fa-search-plus"></i>&nbsp;全部</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="toolbar">
                    <div class="btn-group">
                        <a id="relfash" class="btn btn-default" onclick="reload();"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
                    </div>
                </div>
            </div>
            <div class="gridPanel">
                <table id="gridTable"></table>
                <div id="gridPager"></div>
            </div>
        </div>
    </div>
</div>