@{
    ViewBag.Title = "危险点管理";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
<script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/common.js"></script>
<script>
    var areaCode = request("areaCode");
    var areaName = "";
    var areaId = "";
    var areaIds = request("areaId");
    var planId = request("planId");
    var status = request("status");
    var date = request("pDate");
    var flag = true;
    var IsGdxy = false;//版本标示

    $(function () {
        IsGdxy = GetVersion();
        InitialPage();
       
    });
    //初始化页面
    function InitialPage() {
        var todayDate=new Date("@DateTime.Now.ToString("yyyy/MM/dd")");
        var endDate = new Date(date.replace(/-/g, "/"));
        if (status == 1 || Date.parse(todayDate) > Date.parse(endDate)) {
            $("#add").remove(); flag = false;
        }
        //layout布局
        $('#layout').layout({
            applyDemoStyles: false,
            onresize: function () {
                $(window).resize()
            }
        });
        //resize重设(表格、树形)宽高
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width() - 100));
                $("#gridTable").setGridHeight($(window).height() - 141);

            }, 200);
            e.stopPropagation();
        });
        $("#itemTree").height($(window).height() - 52);
        $.ajax({
            url: "../../RiskDatabase/RiskPlan/GetCurrUserArea",
            data: { planId:planId},
            type: "post",
            dataType: "text",
            //async: false,
            success: function (data) {
                areaIds = data;
                GetTree();
                GetGrid();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {

            }
        });
    }
    //加载树
    function GetTree() {
        var o = {
            onnodeclick: function (item) {
                areaCode = item.code;
                areaId =item.id;
                height: $(window).height() - 52;
                //展开下级
                // $(".bbit-tree-selected").children('.bbit-tree-ec-icon').trigger("click");
                $('#btn_Search').trigger("click");
            },
            method: "GET",
            datatype: "json",
            url: "../../RiskDatabase/DangerSource/GetTreeJson1?ids="+areaIds+"&organizeId=@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeId"
        };
        $("#itemTree").treeview(o);
    }
    //查看详情
    function show(id) {
        var idx = dialogOpen({
            id: "win",
            title: "风险辨识评估信息",
            url: '/RiskDatabase/RiskAssess/Show?keyValue=' + id,
            width: ($(top.window).width() - 80) + "px",
            height: ($(top.window).height() - 20) + "px",
            btns: 1,
            btn: ["关闭"],
            callBack: function (iframeId) {
                top.layer.close(idx);
            }
        });

    }
    //编辑风险评估
    function edit(id) {
        dialogOpen({
            id: "win",
            title: "风险辨识评估",
            url: '/RiskDatabase/RiskAssess/Details?keyValue=' + id + "&areaId=" + areaId + "&areaName=" + encodeURIComponent(areaName)+"&planId="+planId,
            width: ($(top.window).width() - 80) + "px",
            height: ($(top.window).height() - 20) + "px",
            callBack: function (iframeId) {
                top.document.getElementById(iframeId).contentWindow.AcceptClick();
            }
        });

    }
    //删除风险评估
    function del(id) {
        var keyValue = !!id ? id : $("#gridTable").jqGridRowValue("id");
        if (keyValue) {
            $.RemoveForm({
                url: "../../RiskDatabase/RiskAssess/RemoveForm",
                param: { keyValue: keyValue, planId: planId },
                success: function (data) {
                    $("#gridTable").trigger("reloadGrid");
                    $.currentIframe().window.$("#gridTable").trigger("reloadGrid");
                }
            })
        } else {
            dialogMsg('请选择需要删除的数据！', 0);
        }
    }
    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $("#gridTable");
        $gridTable.jqGrid({
            url: "../../RiskDatabase/RiskAssess/GetAssessPageListJson",
            postData: { queryJson: JSON.stringify({ areaCode: areaCode, AreaIds: areaIds, areaId: areaId }) },
            datatype: "json",
            height: $(window).height() - 200,
            autowidth: true,
            shrinkToFit: false,
            colModel: [
               { label: '主键', name: 'id', hidden: true },
               {
                   label: '操作', name: 'Oper', index: 'Oper', width: 150, align: 'center', sortable: false,
                   formatter: function (cellvalue, options, rowObject) {
                       var html = "";
                       html += "<a href=javascript:show('" + rowObject.id + "')  title='查看'><i class='fa fa-eye'></i></a>";
                       if (flag) {
                           html += "<a href=javascript:edit('" + rowObject.id + "')  title='修改'><i class='fa fa-pencil-square-o'></i></a>";
                           html += "<a href=javascript:del('" + rowObject.id + "')  title='删除'><i class='fa fa-trash-o'></i></a>";
                       }
                       return html;
                   }
               },
              { label: '风险类别', name: 'risktype', width: 80, align: 'center', hidden: true },
               { label: '作业任务', name: 'worktask', width: 150, align: 'center', hidden: true },
               { label: '单元', name: 'element', width: 150, align: 'center', hidden: true },
               { label: '设备名称', name: 'equipmentname', width: 150, align: 'center', hidden: true },
               { label: "所在位置", name: "districtname", width: 100, align: "center" },

               { label: '工序', name: 'process', width: 150, align: 'center', hidden: true },
               { label: '项目', name: 'project', width: 150, align: 'center', hidden: true },

               { label: '风险点类别', name: 'majornametype', width: 150, align: 'center', hidden: true },
               { label: '风险点', name: 'majorname', width: 150, align: 'center', hidden: true },
               {
                   label: '存储地点', name: 'place', index: 'districtname', width: 150, align: 'center', hidden: true, formatter: function (cellvalue, options, rowObject) {
                       return rowObject.districtname;
                   }
               },
               { label: '名称', name: 'toolordanger', width: 150, align: 'center', hidden: true },
               { label: '包装单位', name: 'packuntil', width: 120, align: 'center', hidden: true },
               { label: '数量', name: 'packnum', width: 80, align: 'center', hidden: true },
               { label: '规格型号/储存重量或容积', name: 'storagespace', width: 150, align: 'center', hidden: true },


               { label: '职业病危害因素', name: 'description', width: 200, align: 'center', hidden: true },
                {
                    label: "危险源", name: "faultordanger", width: 100, align: "center", hidden: true,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.riskType == "设备") {
                            if (rowObject.faulttype == null) return "";
                            else return rowObject.faulttype;
                        } else {
                            if (rowObject.dangersource == null) return "";
                            else return rowObject.dangersource;
                        }
                    }
                },
               { label: '部门', name: 'postdept', width: 150, align: 'center', hidden: true },
               { label: '岗位名称', name: 'jobname', width: 120, align: 'center', hidden: true },
               { label: '人员', name: 'postperson', width: 80, align: 'center', hidden: true },

               { label: '涉及系统', name: 'hjsystem', width: 150, align: 'center' },

               { label: '所含设备设施', name: 'hjequpment', width: 150, align: 'center', hidden: true },
               {
                   label: '危险源类别', name: 'dangersourcetype', width: 150, align: 'center', formatter: function (cellvalue, options, rowObject) {
                       if (rowObject.risktype == "设备") {
                           if (rowObject.faultcategory == null) return "";
                           else return rowObject.faultcategory;
                       } else {
                           if (rowObject.dangersourcetype == null) return "";
                           else return rowObject.dangersourcetype;
                       }
                   }
               },
               { label: '危险源', name: 'dangersource', width: 150, align: 'center' },
               { label: '部件', name: 'parts', width: 100, align: 'center', hidden: true },
               { label: "故障类型", name: "faulttype", width: 100, align: "center", hidden: true },
               { label: '危害因素', name: 'riskdesc', width: 300, align: 'left', headerAlign: 'center' },
               { label: '危害后果', name: 'result', width: 120, align: 'center' },
                 { label: '风险值', name: 'itemr', width: 80, align: 'center' },
               { label: '工程技术措施', name: 'f1', width: 200, align: 'left', headerAlign: 'center' },
               { label: '管理措施', name: 'f2', width: 200, align: 'left', headerAlign: 'center' },
               { label: '培训教育措施', name: 'f3', width: 200, align: 'left', headerAlign: 'center' },
               { label: '个体防护措施', name: 'f4', width: 200, align: 'left', headerAlign: 'center' },
               { label: '应急处置措施', name: 'f5', width: 200, align: 'left', headerAlign: 'center' },

               { label: '风险分级', name: 'grade', width: 80, align: 'center' },
               {
                   label: "管控层级", name: "levelname", width: 100, align: "center", formatter: function (cellvalue, options, rowObject) {
                       return rowObject.levelname == null || rowObject.levelname == "null" || rowObject.levelname == undefined ? "" : rowObject.levelname;
                   }
               },
               { label: "管控责任单位", name: "deptname", width: 80, align: "center" },
                { label: "管控责任岗位", name: "postname", width: 100, align: "center" },
               { label: "责任人", name: "dutyperson", width: 100, align: "center" },
               { label: "创建时间", name: "createdate", align: "center" }
            ],
            pager: "#gridPager",
            viewrecords: true,
            rowNum: 15,
            rowList: [15,30, 50, 100],
            rownumbers: true,
            sortname: 'createdate',
            sortorder: 'desc',
            onSelectRow: function (rowid) {
                selectedRowIndex = $("#" + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                if (IsGdxy) {
                    var groupHeaders = new Array();
                    groupHeaders.push(
                        {
                            startColumnName: "f1",
                            numberOfColumns: 5,
                            titleText: "<b>现有控制措施</b>"
                        }
                    );
                    if ($("#RiskType").val() == "职业病危害" && !isAll) {
                        $gridTable.showCol(["majorname", "description"]);
                        $gridTable.hideCol(["riskdesc", "faultordanger", "risktype", "majornametype", "project", "element", "faulttype", "result", "dangersource", "worktask", "process", "equipmentname", "parts", "jobname", "toolordanger", "dangersourcetype", "hjsystem", "hjequpment", "place", "packuntil", "packnum", "storagespace", "postdept", "postperson"]);
                    }
                    else if ($("#RiskType").val() == "作业" && !isAll) {
                        $gridTable.showCol(["worktask", "process", "riskdesc", "districtname", "result", "project"]);
                        $gridTable.hideCol(["majorname", "faultordanger", "risktype", "majornametype", "element", "faulttype", "description", "postdept", "postperson", "equipmentname", "parts", "jobname", "toolordanger", "dangersourcetype", "hjsystem", "hjequpment", "place", "packuntil", "packnum", "storagespace"]);
                        groupHeaders.push({
                            startColumnName: "process",
                            numberOfColumns: 2,
                            titleText: "<b>作业步骤</b>"
                        });
                    }
                    else if ($("#RiskType").val() == "设备" && !isAll) {
                        $gridTable.showCol(["equipmentname", "faulttype", "parts", "riskdesc", "result", "element", "dangersource", "dangersourcetype"]);
                        $gridTable.hideCol(["majorname", "faultordanger", "risktype", "project", "hjequpment", "hjsystem", "majornametype", "postdept", "postperson", "description", "worktask", "process", "faulttype", "place", "packuntil", "packnum", "storagespace"]);
                        groupHeaders.push({
                            startColumnName: "element",
                            numberOfColumns: 3,
                            titleText: "<b>风险点</b>"
                        });
                        groupHeaders.push({
                            startColumnName: "dangersourcetype",
                            numberOfColumns: 3,
                            titleText: "<b>危险源项目</b>"
                        });

                    }
                    else if ($("#RiskType").val() == "区域" && !isAll) {
                        $gridTable.showCol(["dangersource", "riskdesc", "result", "hjsystem", "hjequpment"]);
                        $gridTable.hideCol(["equipmentname", "risktype", "faulttype", "project", "majornametype", "faultordanger", "postdept", "postperson", "element", "parts", "majorname", "description", "worktask", "process", "jobname", "toolordanger", "dangersourcetype", "place", "packuntil", "packnum", "storagespace"]);

                    }
                    else if ($("#RiskType").val() == "管理" && !isAll) {
                        $gridTable.showCol(["dangersource", "riskdesc", "majornametype", "result", "dangersourcetype", "majorname"]);
                        $gridTable.hideCol(["equipmentname", "risktype", "faulttype", "project", "districtname", "faultordanger", "postdept", "postperson", "element", "parts", "description", "worktask", "process", "jobname", "toolordanger", "hjsystem", "hjequpment", "place", "packuntil", "packnum", "storagespace"]);
                        groupHeaders.push({
                            startColumnName: "dangersourcetype",
                            numberOfColumns: 2,
                            titleText: "<b>危险源</b>"
                        });
                    }
                    else if ($("#RiskType").val() == "岗位" && !isAll) {
                        $gridTable.showCol(["dangersource", "riskdesc", "result", "jobname", "dangersourcetype", "postdept", "postperson"]);
                        $gridTable.hideCol(["equipmentname", "risktype", "districtname", "project", "faulttype", "majornametype", "faultordanger", "element", "parts", "majorname", "description", "worktask", "process", "toolordanger", "hjsystem", "hjequpment", "place", "packuntil", "packnum", "storagespace"]);
                        groupHeaders.push({
                            startColumnName: "postdept",
                            numberOfColumns: 3,
                            titleText: "<b>风险点</b>"
                        });
                    }
                    else if ($("#RiskType").val() == "工器具及危化品" && !isAll) {
                        $gridTable.showCol(["dangersource", "riskdesc", "result", "toolordanger", "majornametype", "dangersourcetype", "place", "packuntil", "packnum", "storagespace"]);
                        $gridTable.hideCol(["equipmentname", "risktype", "faulttype", "project", "faultordanger", "element", "postdept", "postperson", "parts", "majorname", "districtname", "description", "worktask", "process", "jobname", "hjsystem", "hjequpment"]);
                        groupHeaders.push({
                            startColumnName: "place",
                            numberOfColumns: 5,
                            titleText: "<b>风险点</b>"
                        });
                    }
                    else {
                        $gridTable.showCol(["riskdesc", "faultordanger", "risktype", "result"]);
                        $gridTable.hideCol(["majorname", "risktype", "description", "project", "faulttype", "majornametype", "postdept", "postperson", "element", "equipmentname", "parts", "dangersource", "worktask", "process", "jobname", "toolordanger", "dangersourcetype", "hjsystem", "hjequpment", "place", "packuntil", "packnum", "storagespace"]);
                    }
                    $('#gridTable').setGridWidth(($('.gridPanel').width()));
                    $('#gridTable').jqGrid("destroyGroupHeader");
                    $('#gridTable').jqGrid("setGroupHeaders", {
                        useColSpanStyle: true,
                        groupHeaders: groupHeaders
                    });
                } else {
                    if ($("#RiskType").val() == "职业病危害" && !isAll) {
                        $gridTable.showCol(["majorname", "description"]);
                        $gridTable.hideCol(["riskdesc", "faultordanger", "faulttype", "result", "dangersource", "worktask", "process",
                            "equipmentname", "parts", "jobname", "toolordanger", "dangersourcetype", "hjsystem", "hjequpment", "f1", "f2", "f3", "f4", "f5", "dutyperson"]);
                    }
                    else if ($("#RiskType").val() == "作业" && !isAll) {
                        $gridTable.showCol(["worktask", "process", "riskdesc", "result"]);
                        $gridTable.hideCol(["majorname", "faultordanger", "faulttype", "description", "equipmentname", "parts",
                            "dangersource", "jobname", "toolordanger", "dangersourcetype", "hjsystem", "hjequpment", "f1", "f2", "f3", "f4", "f5", "dutyperson"]);

                    }
                    else if ($("#RiskType").val() == "设备" && !isAll) {
                        $gridTable.showCol(["equipmentname", "faulttype", "parts", "riskdesc", "result"]);
                        $gridTable.hideCol(["majorname", "faultordanger", "description", "worktask", "process", "dangersource", "f1", "f2", "f3", "f4", "f5", "dutyperson"]);

                    }
                    else if ($("#RiskType").val() == "区域" && !isAll) {
                        $gridTable.showCol(["dangersource", "riskdesc", "result", "hjsystem", "hjequpment"]);
                        $gridTable.hideCol(["equipmentname", "faulttype", "faultordanger", "parts", "majorname", "description",
                            "worktask", "process", "jobname", "toolordanger", "dangersourcetype", "f1", "f2", "f3", "f4", "f5", "dutyperson"]);

                    }
                    else if ($("#RiskType").val() == "管理" && !isAll) {
                        $gridTable.showCol(["dangersource", "riskdesc", "result"]);
                        $gridTable.hideCol(["equipmentname", "faulttype", "faultordanger", "parts", "majorname", "description", "worktask",
                            "process", "jobname", "toolordanger", "dangersourcetype", "hjsystem", "hjequpment", "f1", "f2", "f3", "f4", "f5", "dutyperson"]);

                    }
                    else if ($("#RiskType").val() == "岗位" && !isAll) {
                        $gridTable.showCol(["dangersource", "riskdesc", "result", "jobname", "dangersourcetype"]);
                        $gridTable.hideCol(["equipmentname", "faulttype", "faultordanger", "parts", "majorname",
                            "description", "worktask", "process", "toolordanger", "hjsystem", "hjequpment", "f1", "f2", "f3", "f4", "f5", "dutyperson"]);

                    }
                    else if ($("#RiskType").val() == "工器具及危化品" && !isAll) {
                        $gridTable.showCol(["dangersource", "riskdesc", "result", "toolordanger", "dangersourcetype"]);
                        $gridTable.hideCol(["equipmentname", "faulttype", "faultordanger", "parts", "majorname",
                            "description", "worktask", "process", "jobname", "hjsystem", "hjequpment", "f1", "f2", "f3", "f4", "f5", "dutyperson"]);

                    }
                    else {
                        $gridTable.showCol(["riskdesc", "faultordanger", "risktype", "result"]);
                        $gridTable.hideCol(["majorname", "description", "faulttype", "equipmentname", "parts", "dangersource",
                            "worktask", "process", "jobname", "toolordanger", "dangersourcetype", "hjsystem", "hjequpment", "f1", "f2", "f3", "f4", "f5", "dutyperson"]);
                    }
                    $('#gridTable').setGridWidth(($('.gridPanel').width()));
                }
            }
        });
        //查询事件
        $("#btn_Search").click(function () {
            isAll = false;
            $gridTable.jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify({ areaCode: areaCode, keyWord: $("#txtKeyword").val(), grade: $("#Grade").val(), AreaIds: areaIds, riskType: $("#RiskType").val() }) }, page: 1
            }).trigger('reloadGrid');
        });
        $("#btn_SearchAll").click(function () {
            isAll = true;
            $("#txtKeyword").val(""); $("#Grade").val("");
            $("#RiskType").val("");
            $gridTable.jqGrid('setGridParam', {
                postData: { areaCode: "", keyWord: "", accType: "", grade: "", deptCode: "", riskType: $("#RiskType").val() }, page: 1
            }).trigger('reloadGrid');
        });
    }
    var isAll = false;
    //辨识评估
    function addDanger() {
        var idx0 = dialogOpen({
            id: "win",
            title: "风险辨识评估",
            url: '/RiskDatabase/RiskAssess/Details?keyValue=&planId=' + planId + "&areaId=" + areaId,
            width: ($(top.window).width() - 100) + "px",
            height: ($(top.window).height() - 80) + "px",
            callBack: function (iframeId) {
                top.document.getElementById(iframeId).contentWindow.AcceptClick();
            }
        });
    };
</script>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-west">
        <div class="west-Panel">
            <div class="panel-Title">区域信息</div>
            <div id="itemTree" style="overflow: auto; height:500px; ">
            </div>
        </div>
    </div>
    <div class="ui-layout-center">
        <div class="center-Panel">
            <div class="panel-Title" id="pelTitle">风险清单</div>
            <div class="titlePanel">
                <div class="title-search">
                    <table>
                        <tr>
                            <td>
                                风险类别&nbsp;&nbsp;
                            </td>
                            <td>
                                <select id="RiskType" class="form-control">
                                    <option value="">请选择</option>
                                    @Html.Raw(new ERCHTMS.Busines.SystemManage.DataItemDetailBLL().GetOptionsString("RiskType"))
                                </select>
                            </td>
                            <td>
                                &nbsp;&nbsp;风险分级&nbsp;&nbsp;
                            </td>
                            <td>
                                <select id="Grade" class="form-control">
                                    <option value="">请选择</option>
                                    <option value="重大风险">重大风险</option>
                                    <option value="较大风险">较大风险</option>
                                    <option value="一般风险">一般风险</option>
                                    <option value="低风险">低风险</option>
                                </select>
                            </td>
                            <td width="10"></td>
                            <td>
                                <input id="txtKeyword" type="text" class="form-control" placeholder="请输入危害描述或危险源进行搜索" style="width: 200px;" />
                            </td>
                            <td style="padding-left: 5px;">
                                <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;查询</a>
                                <a id="btn_SearchAll" class="btn btn-primary"><i class="fa fa-search-plus"></i>&nbsp;全部</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="toolbar">
                    <div class="btn-group">
                        <a id="refresh" class="btn btn-default" onclick="reload();"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
                        <a id="add" class="btn btn-default" onclick="addDanger()"><i class="fa fa-plus"></i>&nbsp;新增</a>
                    </div>
                    @*<script>$('.toolbar').authorizeButton()</script>*@
                </div>
            </div>
            <div class="gridPanel">
                <table id="gridTable"></table>
                <div id="gridPager"></div>
            </div>
        </div>
    </div>
</div>
