@{
    ViewBag.Title = "岗位风险卡";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    var deptCode = request("deptCode");
    var postId = request("postId");
    var postName = request("postName");
    var deptName = request("deptName");
    $(function () {
       
        InitialPage();
        GetGrid();
    });
    //初始化页面
    function InitialPage() {
        $("#postname").text(postName); $("#deptname").text(deptName);
    }
    //加载表格
    function GetGrid() {
        var $gridTable = $("#gridTable");
        $gridTable.jqGrid({
            url: "../../RiskDatabase/RiskAssess/GetCardInfoJson",
            postData: { queryJson: JSON.stringify({ deptCode1: deptCode, postId: postId }) },
            datatype: "json",
            height: $(window).height() - 140,
            autowidth: true,
            colModel: [
               {
                   label: '岗位风险', name: 'content', width: 300, align: 'center'
                   ,formatter: function (cellvalue, options, rowObject) {
                       return "[" + rowObject.districtname + "] " + rowObject.dangersource;
                    }
               },
               { label: '风险后果', name: 'result', width: 300, align: 'center' },
               { label: '预控措施', name: 'measure', width: 300, align: 'left' }
            ],
            pager: "#gridPager",
            viewrecords: true,
            sortname: 'districtname',
            sortorder: 'asc',
            rowNum: 20,
            rowList: [20, 50, 100],
            rownumbers: true
        });
    }
</script>
<div  id="layout" style="height: 100%; width: 100%;">
    <div class="row">
        <div class="col-md-3 col-xs-3">部门：<label id="deptname"></label></div>
        <div class="col-md-3 col-xs-3">岗位：<label id="postname"></label></div>
    </div>
    <div class="row" style="margin-top:10px;">
            <div class="gridPanel">
                <table id="gridTable"></table>
                <div id="gridPager"></div>
            </div>
    </div>
</div>
