@{
    ViewBag.Title = "岗位风险卡";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    $(function () {
       
        InitialPage();
        GetGrid();
    });
    //初始化页面
    function InitialPage() {
        //resize重设(表格、树形)宽高
        //$(window).resize(function (e) {
        //    window.setTimeout(function () {
        //        $('#gridTable').setGridWidth(($(".titlePanel").width()));
        //        $("#gridTable").setGridHeight($(window).height() - 140);
        //    }, 200);
        //    e.stopPropagation();
        //});
    }
    //查看详情
    function show(deptcode, postid, postname, deptname) {
       var idx= dialogOpen({
            id: "win",
            title: "查看岗位风险告知卡信息",
            url: '/RiskDatabase/RiskAssess/RiskCardDetails?deptCode=' + deptcode + "&postId=" +postid + "&postName=" + encodeURIComponent(postname) + "&deptName=" + encodeURIComponent(deptname),
            width: ($(top.window).width() - 80) + "px",
            height: ($(top.window).height() - 20) + "px",
            btns: 1,
            btn: ["关闭"],
            callBack: function (iframeId) {
                top.layer.close(idx);
            }
        });

    }
    
    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $("#gridTable");
        $gridTable.jqGrid({
            url: "../../RiskDatabase/RiskAssess/GetCardListJson",
            datatype: "json",
            height: $(window).height() - 142,
            autowidth: true,
            colModel: [
              { label: '', name: 'deptcode', hidden: true }, { label: '', name: 'postid', hidden: true },
               {
                   label: '操作', name: 'Oper', index: 'Oper', width: 100, align: 'center', sortable: false,
                   formatter: function (cellvalue, options, rowObject) {
                       var html = "";
                       html += "&nbsp;&nbsp;&nbsp;<a href=javascript:show('" + rowObject.deptcode + "','"+rowObject.postid+"','"+rowObject.postname+"','"+rowObject.deptname+"')  title='修改'><i class='fa fa-pencil-square-o'></i></a>";
                       html += "&nbsp;&nbsp;&nbsp;<a href=javascript:download('" + rowObject.deptcode + "','" + rowObject.postid + "','" + rowObject.postname + "','" + rowObject.deptname + "')  title='删除'><i class='fa fa-trash-o'></i></a>";
                       return html;
                   }
               },
               { label: '部门', name: 'deptname', index: "deptname", width: 300, align: 'center' },
               { label: '岗位', name: 'postname', index: "postname", width: 300, align: 'center' }
            ],
            pager: "#gridPager",
            viewrecords: true,
            rowNum: 15,
            rowList: [15, 50, 100],
            sortname: 'deptcode',
            sortorder: 'desc',
            rownumbers: true,
            onSelectRow: function (rowid) {
                selectedRowIndex = $("#" + this.id).getGridParam('selrow');
            }
            //,gridComplete: function () {
            //    $("#" + this.id).setSelection(selectedRowIndex, false);

            //}
        });
        //查询事件
        $("#btn_Search").click(function () {
            $gridTable.jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify({ keyValue: $("#txtkeyWord").val() }) }
            }).trigger('reloadGrid');
        });
        $("#btn_SearchAll").click(function () {
            $("#txtkeyWord").val("");
            $gridTable.jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify({ keyValue: $("#txtkeyWord").val() }) }
            }).trigger('reloadGrid');
        });
    }
    //下载导出风险卡
    function download(deptcode, postid, postname, deptname) {
        var queryJson = JSON.stringify({ keyValue: $("#txtkeyWord").val() });
        window.location.href = "../../RiskDatabase/RiskAssess/ExportCard?queryJson=" + queryJson + "&fileName=岗位风险告知卡&postName=" + encodeURIComponent(postname) + "&deptName=" +encodeURIComponent(deptname);
    }
</script>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-center">
        <div class="center-Panel">
            <div class="titlePanel">
                <div class="title-search">
                    <table>
                        <tr>
                            <td width="10"></td>
                            <td>
                                <input id="txtkeyWord" type="text" class="form-control" placeholder="请输入部门名称或岗位名称搜索" style="width: 200px;" />
                            </td>
                            <td style="padding-left: 5px;">
                                <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;查询</a>
                                <a id="btn_SearchAll" class="btn btn-primary"><i class="fa fa-search-plus"></i>&nbsp;全部</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="toolbar">
                    <div class="btn-group">
                    </div>
                    <script>$('.toolbar').authorizeButton()</script>
                </div>
            </div>
            <div class="gridPanel">
                <table id="gridTable"></table>
                <div id="gridPager"></div>
            </div>
        </div>
    </div>
</div>
