@{

    Layout = "~/Views/Shared/_Index.cshtml";
}
<link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
<script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script src="~/Content/scripts/business/Common.js"></script>
<script>
    var keyValue = request('keyValue');
    var mode = request('mode');
    var IsGdxy = false;

    $(function () {
        IsGdxy = GetVersion();
        initControl();
        GetGrid();
    })
    //初始化控件
    function initControl() {
        //获取表单
        if (!!keyValue) {
            var url = mode == "history" ? "../../RiskDatabase/RiskAssess/GetHistoryFormJson" : "../../RiskDatabase/RiskAssess/GetFormJson";
            $.SetForm({
                url: url,
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#Way").val(data.Way);
                    $("#Way").trigger("change");
                    $("#container").formDeserialize(data);
                    selRiskType(document.getElementById("RiskType"));
                }
            });
        }
    }
    //加载表格
    function GetGrid() {
        var arr = new Array("", "1", "2", "3", "4");
        var types = new Array("工程技术", "管理", "个体防护", "培训教育", "应急处置");
        $(arr).each(function (i, idx) {
            var $gridTable = $("#gridTable" + idx);
            $gridTable.jqGrid({
                url: "../../RiskDatabase/Measures/GetListJson",
                postData: { riskId: !!keyValue ? keyValue : "-1", typeName: types[i] },
                datatype: "json",
                height: 200,
                width: $(window).width() - 100,
                cellEdit: true,
                sortable: false,
                colModel: [
                    { label: '主键', name: 'id', hidden: true },
                    {
                        label: '具体措施', name: 'content', width: 300, align: 'left', headerAlign: "center", sortable: false

                    }
                ],
                viewrecords: true,
                rowNum: 20,
                rowList: [20, 50, 100],
                rownumbers: true

            });

        });
    }
    function selRiskType(obj) {
        var val = $(obj).val();
        switch (val) {
            case "设备":
                $("#tabContent").find("tr").show();
                $("#tr80").show(); $("#tr5").hide(); $("#tr71").hide(); $("#tr72").hide(); $("#tr74").hide(); $("#tr75").hide();
                $("#tr1").show(); $("#tr2").show(); $("#tr3").hide(); $("#tr4").hide(); $("#tr0").show();
                $("#tr10").hide(); $("#tr20").hide(); $("#tr30").hide(); $("#tr40").hide(); $("#tr73").hide();
                $("#tr205").hide(); $("#tr201").hide(); $("#tr202").hide(); $("#tr203").hide(); $("#tr204").hide();
                $("#tr81").show(); $("#tr200").hide(); $("#tr100").show(); $("#tr61").hide();
                $("#tab101").show(); $("#tdDistrictId").html("").append("所属区域<font face='宋体'>*</font>");
                if (IsGdxy == false) {
                    $("#spanFaultType").show();
                } else {
                    $("#spanFaultType").hide();
                }
                break;
            case "管理":
                $("#tabContent").find("tr").show();
                $("#tr80").hide(); $("#tr71").hide(); $("#tr72").show(); $("#tr74").hide(); $("#tr75").hide(); $("#tr73").hide();
                $("#tr0").show(); $("#tr1").hide(); $("#tr2").hide(); $("#tr3").hide(); $("#tr4").hide();
                $("#tr10").show(); $("#tr20").hide(); $("#tr30").hide(); $("#tr40").hide();
                $("#tr201").hide(); $("#tr202").hide(); $("#tr100").hide(); $("#tr200").show(); $("#tr61").hide();
                $("#tr81").hide(); $("#tr203").hide(); $("#tr204").hide(); $("#tr205").hide();
                $("#tab101").show(); $("#tdDangerSourceType").html("").append("危险源(类别)"); $("#tdDangerSource").html("").append("危险源(控制重点)<font face='宋体'>*</font>");
                $("#tdDistrictId").html("").append("所属区域<font face='宋体'>*</font>");
                if (IsGdxy == false) {
                    $("#tr10").hide();
                    $("#tr72").hide();
                }
                break;
            case "区域":
                $("#tabContent").find("tr").show();
                $("#tr80").hide(); $("#tr71").hide(); $("#tr72").hide(); $("#tr74").show(); $("#tr75").show(); $("#tr73").hide();
                $("#tr1").hide(); $("#tr2").hide(); $("#tr3").hide(); $("#tr4").hide(); $("#tr0").show();
                $("#tr10").hide(); $("#tr20").hide(); $("#tr30").hide(); $("#tr40").hide();
                $("#tr203").hide(); $("#tr204").hide(); $("#tr205").hide(); $("#tr81").hide();
                $("#tr201").hide(); $("#tr202").hide(); $("#tr100").hide(); $("#tr200").hide(); $("#tr61").hide();
                $("#tab101").show(); $("#tdDangerSource").html("").append("危险源<font face='宋体'>*</font>"); $("#tdDistrictId").html("").append("所属区域<font face='宋体'>*</font>");
                break;
            case "作业":
                $("#tabContent").find("tr").show();
                $("#tr80").hide(); $("#tr71").hide(); $("#tr72").hide(); $("#tr74").hide(); $("#tr75").hide(); $("#tr73").hide();
                $("#tr1").hide(); $("#tr2").hide(); $("#tr3").show(); $("#tr4").show(); $("#tr0").show();
                $("#tr10").hide(); $("#tr20").hide(); $("#tr30").hide(); $("#tr40").hide();
                $("#tr201").hide(); $("#tr202").hide(); $("#tr81").hide();
                $("#tr203").hide(); $("#tr204").hide(); $("#tr205").hide();
                $("#tr100").hide(); $("#tr200").hide();
                $("#tab101").show();
                $("#tdDangerSource").html("").append("危险源<font face='宋体'>*</font>"); $("#tdDistrictId").html("").append("所属区域<font face='宋体'>*</font>");
                break;
            case "职业病危害":
                $("#tabContent").find("tr").hide();
                $("#tr80").hide(); $("#tr5").hide();
                $("#tr74").hide(); $("#tr75").hide(); $("#tr71").hide(); $("#tr72").hide(); $("#tr73").hide();
                $("#tr").show(); $("#tr10").show(); $("#tr20").show(); $("#tr30").show(); $("#tr40").show(); $("#tr0").show();
                $("#tr50").show(); $("#tr60").show(); $("#tr70").show(); $("#tr201").hide(); $("#tr202").hide();
                $("#tr100").hide(); $("#tr61").hide();
                $("#tab101").show(); $("#tdDistrictId").html("").append("所属区域<font face='宋体'>*</font>");
                break;
            case "岗位":
                $("#tr1").hide(); $("#tr2").hide(); $("#tr80").hide();
                $("#tr10").hide(); $("#tr20").hide(); $("#tr30").hide(); $("#tr40").hide();
                $("#tr3").hide(); $("#tr4").hide(); $("#tr74").hide(); $("#tr75").hide();
                $("#tr71").show(); $("#tr72").show(); $("#tr73").hide();
                $("#tr5").show(); $("#tr6").show(); $("#tr8").show();
                $("#tr203").hide(); $("#tr204").hide(); $("#tr205").hide();
                $("#tr201").show(); $("#tr202").show(); $("#tr100").hide(); $("#tr200").hide();
                $("#tr61").hide(); $("#tr81").hide();
                $("#tab101").show(); $("#tdDangerSourceType").html("").append("危险源类别");
                $("#tdDistrictId").html("").append("所属区域<font face='宋体'>*</font>");
                $("#tdDangerSource").html("").append("危险源<font face='宋体'>*</font>");
                break;
            case "工器具及危化品":
                $("#tr1").hide(); $("#tr2").hide(); $("#tr80").hide();
                $("#tr10").hide(); $("#tr20").hide(); $("#tr30").hide(); $("#tr40").hide();
                $("#tr3").hide(); $("#tr4").hide(); $("#tr74").hide(); $("#tr75").hide();
                $("#tr71").hide(); $("#tr72").show(); $("#tr73").show();
                $("#tr5").show(); $("#tr6").show(); $("#tr8").show();
                $("#tr201").hide(); $("#tr202").hide(); $("#tr203").show(); $("#tr204").show(); $("#tr205").show();
                $("#tr200").show(); $("#tr100").hide(); $("#tr61").hide();
                $("#tab101").show(); $("#tdDangerSourceType").html("").append("危险源类别");
                $("#tdDistrictId").html("").append("所属区域(存储地点)<font face='宋体'>*</font>");
                break;
        }
        //通用版本代码标示
        if (IsGdxy == false) {
            $("#tr200").hide();
            $("#tr201").hide();
            $("#tr202").hide();
            $("#tr203").hide();
            $("#tr204").hide();
            $("#tr205").hide();
            $("#tr61").hide();
            $("#tr100").hide();
            $("#tr81").hide();
        }
    }
    //切换风险评估方法
    function ChangeWay(obj) {
        var value = $(obj).val()
        switch (value) {
            case "LEC":
                $("#trple").show();
                $("#ItemC").attr("isvalid", "yes").attr("checkexpession", "NotNull");
                $("#tditemc").html("").append("发生伤害后果的严重程度C<font face='宋体'>*</font>")
                $("#tditemc1").html("").append("暴露于危险环境的频繁程度E<font face='宋体'>*</font>")
                $("#tditemc2").html("").append("事故发生的可能性L<font face='宋体'>*</font>")
                break;
            case "风险矩阵法":
                $("#tditemc").html("").append("发生伤害后果的严重程度S<font face='宋体'>*</font>")
                $("#tditemc2").html("").append("事故发生的可能性L<font face='宋体'>*</font>")
                $("#trple").hide();
                $("#ItemC").removeAttr("isvalid").removeAttr("checkexpession");
                break;
            case "PSE":
                $("#trple").show();
                $("#ItemC").attr("isvalid", "yes").attr("checkexpession", "NotNull");
                $("#tditemc").html("").append("事故后果严重程度S<font face='宋体'>*</font>")
                $("#tditemc1").html("").append("事故暴露的可能性E<font face='宋体'>*</font>")
                $("#tditemc2").html("").append("事故发生的可能性P<font face='宋体'>*</font>")
                break;
            default:
                break;
        }
        $("#ItemA").val("");
        $("#ItemB").val("");
        $("#ItemC").val("");
        $("#ItemR").val("");
        $("#Grade").val("");
    }
</script>
<div style="margin:10px;" id="container">

    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;风险辨识</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <table class="form" id="tabContent">
                <tr id="tr">
                    <td class="formTitle" style="width:150px;">风险类别<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="RiskType" type="text" class="form-control" placeholder="请输入风险后果" isvalid="yes" checkexpession="NotNull" readonly />
                    </td>
                </tr>
                <tr id="tr100">
                    <td class="formTitle" style="width:150px;">单元</td>
                    <td class="formValue">
                        <input id="Element" type="text" class="form-control"  readonly />
                    </td>
                </tr>
                <tr id="tr0">
                    <td id="tdDistrictId" class="formTitle" style="width:150px;">所属区域<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="DistrictName" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" readonly />
                    </td>
                </tr>
                <tr  id="tr200" style="display:none;">
                    <td class="formTitle">风险点类别</td>
                    <td class="formValue">
                        <input id="MajorNameType" type="text" class="form-control" placeholder="请输入设备" />
                    </td>
                </tr>
                <tr id="tr10" style="display:none;">
                    <td class="formTitle">风险点<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="MajorName" type="text" class="form-control" placeholder="风险点" />
                    </td>
                </tr>
                <tr id="tr20" style="display:none;">
                    <td class="formTitle">职业病危害因素<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="Description" type="text" class="form-control" placeholder="职业病危害因素" />
                    </td>
                </tr>
                <tr id="tr30" style="display:none;">
                    <td class="formTitle">作业分级<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="HarmType" type="text" class="form-control" />

                    </td>
                </tr>
                <tr id="tr40" style="display:none;">
                    <td class="formTitle">导致的职业病或健康损伤<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input type="text" id="HarmProperty" class="form-control" isvalid="yes" checkexpession="NotNull"></input>
                    </td>
                </tr>
                <tr id="tr1" style="display:none;">
                    <td class="formTitle">设备名称<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="EquipmentName" type="text" class="form-control" placeholder="请输入设备名称" isvalid="yes" checkexpession="NotNull" />
                    </td>
                </tr>
                <tr id="tr2" style="display:none;">
                    <td class="formTitle">部件</td>
                    <td class="formValue">
                        <input id="Parts" type="text" class="form-control" placeholder="请输入部件" isvalid="yes" checkexpession="NotNull" />
                    </td>
                </tr>
                <tr id="tr81" style="display:none;">
                    <td class="formTitle">故障类别</td>
                    <td class="formValue">
                        <input id="FaultCategory" type="text" class="form-control" placeholder="请输入故障分类" />
                    </td>
                </tr>
                <tr id="tr80" style="display:none;">
                    <td class="formTitle">故障类型<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="FaultType" type="text" class="form-control" placeholder="请输入故障类型" />
                    </td>
                </tr>
                <tr id="tr3">
                    <td class="formTitle">工作任务<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="WorkTask" type="text" class="form-control" placeholder="请输入工作任务" isvalid="yes" checkexpession="NotNull" />
                    </td>
                </tr>
                <tr id="tr4">
                    <td class="formTitle">工序（作业步骤）<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="Process" type="text" class="form-control" placeholder="请输入工序" isvalid="yes" checkexpession="NotNull" />
                    </td>
                </tr>
                <tr id="tr61">
                    <td class="formTitle">项目</td>
                    <td class="formValue">
                        <input id="Project" type="text" class="form-control" placeholder="请输入项目" />
                    </td>
                </tr>
                <tr id="tr201" style="display:none;">
                    <td class="formTitle">部门</td>
                    <td class="formValue">
                        <input id="PostDept" type="text" class="form-control" placeholder="请选择部门" />
                        <input id="PostDeptId" type="hidden" class="form-control" />
                        <input id="PostDeptCode" type="hidden" class="form-control" />
                    </td>
                </tr>
                <tr id="tr71" style="display:none;">
                    <td class="formTitle">岗位名称<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="JobName" type="text" class="form-control" placeholder="请输入岗位名称" />
                    </td>
                </tr>
                <tr id="tr202" style="display:none;">
                    <td class="formTitle">人员</td>
                    <td class="formValue">
                        <input id="PostPerson" type="text" class="form-control" placeholder="请选择人员"  />
                        <input id="PostPersonId" type="hidden" class="form-control" />
                    </td>
                </tr>
                <tr id="tr73" style="display:none;">
                    <td class="formTitle">工器具/危化品<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="ToolOrDanger" type="text" class="form-control" placeholder="请输入工器具/危化品" />
                    </td>
                </tr>
                <tr id="tr203" style="display:none;">
                    <td class="formTitle">包装单位/生产单位</td>
                    <td class="formValue">
                        <input id="PackUntil" type="text" class="form-control" placeholder="请输入" />
                    </td>
                </tr>
                <tr id="tr204" style="display:none;">
                    <td class="formTitle">数量</td>
                    <td class="formValue">
                        <input id="PackNum" type="text" class="form-control" placeholder="请输入" />
                    </td>
                </tr>
                <tr id="tr205" style="display:none;">
                    <td class="formTitle">规格型号/储存重量或容积</td>
                    <td class="formValue">
                        <input id="StorageSpace" type="text" class="form-control" placeholder="请输入" />

                    </td>
                </tr>
                <tr id="tr72" style="display:none;">
                    <td id="tdDangerSourceType" class="formTitle">危险源类别</td>
                    <td class="formValue">
                        <input id="DangerSourceType" type="text" class="form-control" placeholder="请输入危险源类别" />
                    </td>
                </tr>
                <tr id="tr74" style="display:none;">
                    <td class="formTitle">系统</td>
                    <td class="formValue">
                        <input id="HjSystem" type="text" class="form-control" placeholder="请输入系统" />
                    </td>
                </tr>
                <tr id="tr75" style="display:none;">
                    <td class="formTitle">设备</td>
                    <td class="formValue">
                        <input id="HjEqupment" type="text" class="form-control" placeholder="请输入设备" />
                    </td>
                </tr>
                <tr id="tr5">
                    <td id="tdDangerSource" class="formTitle">危险源<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="DangerSource" type="text" class="form-control" placeholder="请输入危险源或潜在事件" isvalid="yes" checkexpession="NotNull" readonly />
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">危害因素</td>
                    <td class="formValue">
                        <input id="RiskDesc" type="text" class="form-control" placeholder="请输入风险描述" isvalid="yes" checkexpession="NotNull" />
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">危害后果<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="Result" type="text" class="form-control" placeholder="请输入风险后果" isvalid="yes" checkexpession="NotNull" readonly />
                    </td>
                </tr>
                <tr id="tr70">
                    <td class="formTitle">管控层级<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="LevelName" type="text" class="form-control"  isvalid="yes" checkexpession="NotNull" readonly />
                    </td>
                </tr>
                <tr id="tr50">
                    <td class="formTitle">管控责任单位<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="DeptName" type="text" class="form-control" placeholder="" isvalid="yes" checkexpession="NotNull" readonly />
                    </td>
                </tr>
                <tr id="tr60">
                    <td class="formTitle">管控责任岗位</td>
                    <td class="formValue">
                        <input id="PostName" type="text" class="form-control" placeholder="" readonly />
                    </td>
                </tr>
                <tr id="tr91">
                    <td class="formTitle">管控责任人</td>
                    <td class="formValue">
                        <input id="DutyPerson" type="text" class="form-control"  />
                        <input id="DutyPersonId" type="hidden" />
                    </td>
                </tr>
            </table>
        </div>

    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;采取的风险控制措施</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <ul class="nav nav-tabs">
                <li class="active" data-index=""><a href="#con" data-toggle="tab">工程技术</a></li>
                <li data-index="1"><a href="#con1" data-toggle="tab">管理</a></li>
                <li data-index="2"><a href="#con2" data-toggle="tab">个体防护</a></li>
                <li data-index="3"><a href="#con3" data-toggle="tab">培训教育</a></li>
                <li data-index="4"><a href="#con4" data-toggle="tab">应急处置</a></li>

            </ul>
            <div class="tab-content" style="padding-top: 15px;">
                <div id="con" class="tab-pane active" style="padding-right: 30px;">
                    <table id="gridTable" typename="工程技术"></table>
                    <div id="gridPager"></div>
                </div>
                <div id="con1" class="tab-pane" style="padding-right: 30px;">
                    <table id="gridTable1" typename="管理"></table>
                    <div id="gridPager1"></div>
                </div>
                <div id="con2" class="tab-pane" style="padding-right: 30px;">
                    <table id="gridTable2" typename="个体防护"></table>
                    <div id="gridPager2"></div>
                </div>
                <div id="con3" class="tab-pane" style="padding-right: 30px;">
                    <table id="gridTable3" typename="培训教育"></table>
                    <div id="gridPager3"></div>
                </div>
                <div id="con4" class="tab-pane" style="padding-right: 30px;">
                    <table id="gridTable4" typename="应急处置"></table>
                    <div id="gridPager4"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;风险控制效果评估</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <table class="form" id="tab101">
                <tr>
                    <td class="formTitle" style="width: 180px;">风险评估方法</td>
                    <td class="formValue" colspan="3">
                        <select id="Way" onchange="ChangeWay(this)" class="form-control">
                            <option value="LEC">LEC</option>
                            <option value="风险矩阵法">风险矩阵法</option>
                            <option value="PSE">PSE</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td id="tditemc2" class="formTitle Way1">发生伤害的可能性L<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="ItemA" type="text" class="form-control" placeholder="请选择" isvalid="yes" checkexpession="NotNull" readonly  />
                    </td>
                    <td id="tditemc" class="formTitle Way2">发生伤害后果的严重程度C<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="ItemB" type="text" class="form-control" placeholder="请选择" isvalid="yes" checkexpession="NotNull" readonly  />
                    </td>
                </tr>
                <tr id="trple">
                    <td id="tditemc1" class="formTitle Way2">暴露于危险环境的频繁程度E<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="ItemC" type="text" class="form-control" placeholder="请选择" isvalid="yes" checkexpession="NotNull" readonly />
                    </td>
                </tr>
                <tr>
                    <td class="formTitle Way4">风险值R<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="ItemR" type="text" class="form-control" placeholder="结果自动计算" readonly />
                    </td>
                    <td class="formTitle Way5" style="width:150px;">风险等级<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="Grade" type="text" class="form-control" placeholder="自动获取" readonly />
                        <input id="GradeVal" type="hidden" />
                    </td>
                </tr>

            </table>
            @*<table class="form">
                <tr>
                    <td class="formTitle" style="width:150px;">风险评估方法<font face="宋体">*</font></td>
                    <td class="formValue" colspan="3">
                        <input id="Way" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" readonly />
                    </td>
                </tr>
                <tr>
                    <td class="formTitle Way1">事故发生的可能性L<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="ItemA" type="text" class="form-control" placeholder="请选择" readonly isvalid="yes" checkexpession="NotNull" />

                    </td>
                    <td class="formTitle Way2">露于危险环境的频繁程度E<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="ItemB" type="text" class="form-control" placeholder="请选择" readonly isvalid="yes" checkexpession="NotNull" />

                    </td>
                </tr>
                <tr>
                    <td class="formTitle Way3">发生事故产生的后果C<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="ItemC" type="text" class="form-control" placeholder="请选择" readonly isvalid="yes" checkexpession="NotNull" />

                    </td>
                    <td class="formTitle">风险值R<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="ItemR" type="text" class="form-control" placeholder="结果自动计算" readonly isvalid="yes" checkexpession="NotNull" />

                    </td>
                </tr>
                <tr>
                    <td class="formTitle" style="width:150px;">风险等级<font face="宋体">*</font></td>
                    <td class="formValue" colspan="3">
                        <input id="Grade" type="text" class="form-control" placeholder="自动获取" readonly isvalid="yes" checkexpession="NotNull" />
                        <input id="GradeVal" type="hidden" />
                    </td>
                </tr>
            </table>*@
        </div>
    </div>
</div>
