 @{
    ViewBag.Title = "风险统计";
    Layout = "~/Views/Shared/_Index.cshtml";
}
    <!--第三方统计图start-->
    <script src="~/Content/Scripts/plugins/highcharts/highcharts.js"></script>
    <script src="~/Content/Scripts/plugins/highcharts/highcharts-more.js"></script>
    <script src="~/Content/Scripts/plugins/highcharts/modules/exporting.js"></script>
<link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
<script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>

<style type="text/css">
    .dropdown-menu > li > a:active {
        color: rgb(38, 38, 38);
        background-color:transparent;
        text-decoration: none;
    }
</style>
 @System.Web.Optimization.Scripts.Render("~/Content/scripts/business/stat")
@*<script src="~/Content/scripts/business/Common.js"></script>
<script src="~/Content/scripts/business/RiskStat.js"></script>*@
    <!--第三方统计图end-->
    <script type="text/javascript">
    var state = 1;
    var deptCode = ""; var riskGrade = "";
        var roleNames = "@ERCHTMS.Code.OperatorProvider.Provider.Current().RoleName";
        var gxhs = "@(new ERCHTMS.Busines.SystemManage.DataItemDetailBLL().GetItemValue("广西华昇版本"))";
        $(function () {
            initPage();
        });
        function initPage() {
            //resize重设布局;
            $(window).resize(function (e) {
                window.setTimeout(function () {
                    reGridSize();
                    //$('#gridTable2').setGridHeight($(window).height() - 145);
                }, 200);
                e.stopPropagation();
            });
        }
        function reGridSize() {
            $('#gridTable1').setGridWidth(($(window).width() - 100));
            $('#gridTable2').setGridWidth(($(window).width()-100));
            $('#gridTable').setGridWidth(($(window).width() - 100));
        }
</script>
    <div class="border" id="desktop" style=" background: #fff; overflow-y: auto;overflow-x:hidden; ">
    <div style="margin-top:10px;">
        <div class="row">
            <table style="width:100%;">
                <tr>
                    <td style="width:55px; font-weight:bold;" align="right">单位：</td>
                    <td style="width:145px;">
                        <input id="DeptName" type="text" style="width: 140px;" class="form-control" placeholder="请选择单位" readonly onclick="selectDept('', 0, 0, '选择单位', window.document.body, 'DeptName,DeptCode,,,,IsOrg');" />
                        <input id="DeptCode" type="hidden" /><input id="IsOrg" type="hidden" />

                    </td>
                    <td style="font-weight: bold; text-align:right; width:65px; display:none;" class="area1">区域范围：</td>
                    <td class="area1" style=" display: none; width: 145px;">
                        <input id="AreaName" type="text" class="form-control" readonly onclick="selectArea(window.document.body, 'AreaName,AreaCode');" style="width:140px;" />
                        <input id="AreaCode" type="hidden" class="form-control" />
                    </td>
                    <td style="width: 65px; font-weight: bold;" align="right">时间范围：</td>
                    <td style="width:165px;">
                        <input id="Category" type="hidden" value="1" />
                        <div style="float: left; width: 70px;">
                            <input id="StartDate" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({dateFmt:'yyyy'})">
                        </div>
                        <div style="float: left; width: 20px; text-align:center; margin-top:5px;">至</div>
                        <div style="float: left; width:70px;">
                            <input id="EndDate" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy' })">
                        </div>
                    </td>

                    <td style="width:65px; font-weight:bold; display:none;" align="right" class="area">风险级别：</td>
                    <td style="width: 90px; display: none;" class="area">
                        <select id="riskGrade" class="selectpicker show-menu-arrow form-control" multiple style="width:80px;">
                            @{
                                if (!string.IsNullOrWhiteSpace(new ERCHTMS.Busines.SystemManage.DataItemDetailBLL().GetItemValue("广西华昇版本")))
                                {
                                    <option value="">全部</option>
                                    <option value="重大风险">一级风险</option>
                                    <option value="较大风险">二级风险</option>
                                    <option value="一般风险">三级风险</option>
                                    <option value="低风险">四级风险</option>
                                }
                                else
                                {
                                    <option value="">全部</option>
                                    <option value="重大风险">重大风险</option>
                                    <option value="较大风险">较大风险</option>
                                    <option value="一般风险">一般风险</option>
                                    <option value="低风险">低风险</option>
                                }
                            }
                        </select>
                    </td>

                    <td align="right" style="width:140px;">
                        <a id="btn_Search" class="btn btn-primary" onclick="query()"><i class="fa fa-search"></i>&nbsp;查询</a>
                        &nbsp;<a id="btn_Reset" class="btn btn-primary" onclick="reset()"><i class="fa fa-undo"></i>&nbsp;重置</a>
                    </td>
                    <td align="right">
                        <div class="toolbar">
                            <div class="btn-group">
                                <button id="btntj" class="btn btn-primary btn10" type="button" onclick="state = 1; reGridSize(); $('.area1').hide(); $('.area').hide(); $('#con1').show(); $('#con2').hide(); $('#con3').hide(); $('.btn10').removeClass('btn-primary'); $('.btn10').addClass('btn-default'); $(this).addClass('btn-primary');"><i class="fa fa fa-pie-chart"></i>&nbsp;统计图</button>
                                <button id="btnqs" class="btn btn-default btn10" type="button" onclick="state = 2; $('.area1').show(); $('.area').show(); $('#con1').hide(); $('#con2').show(); $('#con3').hide(); $('.btn10').removeClass('btn-primary'); $('.btn10').addClass('btn-default'); $(this).addClass('btn-primary'); stat1();"><i class="fa fa fa-area-chart"></i>&nbsp;趋势图</button>
                                <button id="btndb" class="btn btn-default btn10 dropdown-toggle btn11" data-toggle="dropdown" type="button"><i class="fa fa fa-bar-chart"></i>&nbsp;对比图&nbsp;<i class="fa fa-caret-down"></i></button>
                                <ul class="dropdown-menu pull-right btn11">
                                    <li><a id="btndw" onclick="reGridSize();dwSearch()"><i></i>按单位对比</a></li>
                                    <li><a id="btnqy" onclick="reGridSize();qySearch()"><i></i>按区域对比</a></li>
                                </ul>
                                <button id="dbt" class="btn btn-default btn10" data-toggle="dropdown" type="button" onclick="dwSearch()" style="display:none;"><i class="fa fa fa-bar-chart"></i>&nbsp;对比图&nbsp;</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

        </div>

    </div>

    <div id="con1">
        <div class="panel panel-default" style="margin-top:10px;">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;统计图表</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <div class="row" style="overflow: hidden; height: 460px;">
                    <div style="width: 50%; float: left;" id="div1">

                        <div class="portal-panel-content" style="margin-top: 10px; overflow: hidden;">
                            <div id="piecontainer">
                                <center style="margin-top:50px;">正在加载数据……</center>
                            </div>
                        </div>
                    </div>
                    <div style="width: 50%; float: left;" id="div2">

                        <div class="portal-panel-content" style="margin-top: 10px; overflow: hidden;">
                            <div id="areacontainer">
                                <center style="margin-top:50px;">正在加载数据……</center>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;统计数据</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <div class="row" style="margin:10px;">
                    <table id="gridTable"></table>
                </div>
            </div>
        </div>
    </div>
    <div id="con2" style="display:none;">
        <div id="qscontainer" style="margin-top:20px;"></div>
    </div>
        <div id="con3" style="display:none;">
            <div class="panel panel-default" style="margin-top:10px;">
                <div class="panel-heading">
                    <strong>&nbsp;&nbsp;统计图表</strong>
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" title="展开/收起"></a>
                    </span>
                </div>
                <div class="panel-body">
                    <div id="dbcontainer" style="margin:10px;">
                        <center style="margin-top:50px;">正在加载数据……</center>
                    </div>
                </div>
            </div>
            <div class="row" id="grid1">
                <div class="panel panel-default" style="margin:10px;">
                    <div class="panel-heading">
                        <strong>&nbsp;&nbsp;统计数据</strong>
                        <span class="tools pull-right">
                            <a class="fa fa-chevron-down" title="展开/收起"></a>
                        </span>
                    </div>
                    <div class="panel-body">
                        <table id="gridTable1"></table>
                    </div>
                </div>
            </div>
            <div class="row" id="grid2">
                <div class="panel panel-default" style="margin:10px;">
                    <div class="panel-heading">
                        <strong>&nbsp;&nbsp;统计数据</strong>
                        <span class="tools pull-right">
                            <a class="fa fa-chevron-down" title="展开/收起"></a>
                        </span>
                    </div>
                    <div class="panel-body">
                        <table id="gridTable2" ></table>
                    </div>
                </div>
            </div>
        </div>
            </div>

