@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}

<script src="~/Content/scripts/business/common.js"></script>
<script>
    var flag = 0;
    $(function () {
        GetData("工器具及危化品风险", "风险点类别", "危险化学品风险点", "divtab", "2");
        GetData("工器具及危化品风险", "风险点类别", "工器具风险点", "divtab", "2");
        $("#tab2").hide();
        $("#tab1 input").click(function () {
            $(this).attr("checked", this.checked);
            var cls = $(this).attr("class");
            var level = $(this).attr("level");
            var ck=$(this).attr("ck");
            switch (level) {
                case "3":
                    $("#tab1 input").each(function (i, item) {
                        if ($(item).attr("ck") == undefined) {
                            if ($(item).attr("class") != cls && $(item).attr("level") == 3) {
                                $(item).prop("checked", false).attr("checked", false);
                            }
                        } else {
                            if ($(item).attr("level") == 3) {
                                if (($(item).attr("class") == cls  && ck != $(item).attr("ck"))
                                || ($(item).attr("class") != cls && ck != $(item).attr("ck"))
                                    || ($(item).attr("class") != cls && ck == $(item).attr("ck"))) {
                                    $(item).prop("checked", false).attr("checked", false);
                                }
                            }
                            
                        }
                        if ($(item).attr("level") == 2 && !($(item).attr("class").indexOf(cls) >= 0)) {
                            $(item).prop("checked", false).attr("checked", false);
                        }
                    })
                    $("#tab1 .Pro." + cls).prop("checked", "checked").attr("checked", "checked");
                    var cls2 = $("#tab1 .Pro." + cls).attr("class");
                    $("#tab1 input").each(function (i, item) {
                        if (!(cls2.indexOf($(item).attr("class")) >= 0) && $(item).attr("level") == 1) {
                            $(item).prop("checked", false).attr("checked", false);
                        } else if (cls2.indexOf($(item).attr("class")) >= 0 && $(item).attr("level") == 1) {
                            $(item).prop("checked", "checked").attr("checked", "checked");
                        }
                    })
                    break;
                case "2":
                    $("#tab1 input").each(function (i, item) {
                        if (!(cls.indexOf($(item).attr("class")) >= 0) && $(item).attr("level") == 3) {
                            $(item).prop("checked", false).attr("checked", false);
                        }
                        if (!(cls.indexOf($(item).attr("class")) >= 0) && $(item).attr("level") == 2) {
                            $(item).prop("checked", false).attr("checked", false);
                        }

                        if (!(cls.indexOf($(item).attr("class")) >= 0) && $(item).attr("level") == 1) {
                            $(item).prop("checked", false).attr("checked", false);
                        } else if (cls.indexOf($(item).attr("class")) >= 0 && $(item).attr("level") == 1) {
                            $(item).prop("checked", "checked").attr("checked", "checked");
                        }
                    })
                    break;
                case "1":
                    $("#tab1 input").each(function (i, item) {
                        if (!(cls.indexOf($(item).attr("class")) >= 0) && $(item).attr("level") == 2) {
                            $(item).prop("checked", false).attr("checked", false);
                            var itcls = $(item).attr("class");
                            $("#tab1 input").each(function (i, item) {
                                if (!(cls.indexOf($(item).attr("class")) >= 0) && $(item).attr("level") == 3) {
                                    $(item).prop("checked", false).attr("checked", false);
                                }
                            })
                        }
                        if (!(cls == $(item).attr("class")) && $(item).attr("level") == 1) {
                            $(item).prop("checked", false).attr("checked", false);
                        } else if (cls == $(item).attr("class") && $(item).attr("level") == 1) {
                            $(item).prop("checked", "checked").attr("checked", "checked");
                        }
                    })
                    break;
                default:
            }
        })

        $("#tab2 input").click(function () {
            $(this).attr("checked", "checked");
            var cls = $(this).attr("class");
            var level = $(this).attr("level");
            var ck = $(this).attr("ck");
            switch (level) {
                case "3":
                    $("#tab2 input").each(function (i, item) {
                        if ($(item).attr("ck") == undefined) {
                            if ($(item).attr("class") != cls && $(item).attr("level") == 3) {
                                $(item).prop("checked", false).attr("checked", false);
                            }
                        } else {
                            if ($(item).attr("level") == 3) {
                                if (($(item).attr("class") == cls && ck != $(item).attr("ck"))
                                || ($(item).attr("class") != cls && ck != $(item).attr("ck"))
                                    || ($(item).attr("class") != cls && ck == $(item).attr("ck"))) {
                                    $(item).prop("checked", false).attr("checked", false);
                                }
                            }

                        }
                        if ($(item).attr("level") == 2 && !($(item).attr("class").indexOf(cls) >= 0)) {
                            $(item).prop("checked", false).attr("checked", false);
                        }
                    })
                    $("#tab2 .Pro." + cls).prop("checked", "checked").attr("checked", "checked");
                    var cls2 = $("#tab2 .Pro." + cls).attr("class");
                    $("#tab2 input").each(function (i, item) {
                        if (!(cls2.indexOf($(item).attr("class")) >= 0) && $(item).attr("level") == 1) {
                            $(item).prop("checked", false).attr("checked", false);
                        } else if (cls2.indexOf($(item).attr("class")) >= 0 && $(item).attr("level") == 1) {
                            $(item).prop("checked", "checked").attr("checked", "checked");
                        }
                    })
                    break;
                case "2":
                    $("#tab2 input").each(function (i, item) {
                        if (!(cls.indexOf($(item).attr("class")) >= 0) && $(item).attr("level") == 3) {
                            $(item).prop("checked", false).attr("checked", false);
                        }
                        if (!(cls.indexOf($(item).attr("class")) >= 0) && $(item).attr("level") == 2) {
                            $(item).prop("checked", false).attr("checked", false);
                        }

                        if (!(cls.indexOf($(item).attr("class")) >= 0) && $(item).attr("level") == 1) {
                            $(item).prop("checked", false).attr("checked", false);
                        } else if (cls.indexOf($(item).attr("class")) >= 0 && $(item).attr("level") == 1) {
                            $(item).prop("checked", "checked").attr("checked", "checked");
                        }
                    })
                    break;
                case "1":
                    $("#tab2 input").each(function (i, item) {
                        if (!(cls.indexOf($(item).attr("class")) >= 0) && $(item).attr("level") == 2) {
                            $(item).prop("checked", false).attr("checked", false);
                            var itcls = $(item).attr("class");
                            $("#tab2 input").each(function (i, item) {
                                if (!(cls.indexOf($(item).attr("class")) >= 0) && $(item).attr("level") == 3) {
                                    $(item).prop("checked", false).attr("checked", false);
                                }
                            })
                        }
                        if (!(cls == $(item).attr("class")) && $(item).attr("level") == 1) {
                            $(item).prop("checked", false).attr("checked", false);
                        } else if (cls == $(item).attr("class") && $(item).attr("level") == 1) {
                            $(item).prop("checked", "checked").attr("checked", "checked");
                        }
                    })
                    break;
                default:
            }
        })
    })
    function AcceptClick() {
        debugger;
        var str = "";
        var str1 = "";

        var str2 = "";
        var str3 = "";
        $("#tab1 input").each(function (i, item) {
            if ($(item).attr("checked") && $(item).attr("level") == 3) {
                str = $(item).val() ;
            }
            if ($(item).attr("checked") && $(item).attr("level") == 1) {
                str3 = $(item).val();
                var cls = $(item).attr("class");
                str3 += "("
                var str4 = "";
                $("#tab1 input").each(function (i, item) {
                    if ($(item).attr("checked") && $(item).attr("level") == 2 && ($(item).attr("class").indexOf(cls) >= 0)) {
                        str4 += $(item).val() + ",";
                    }
                })
                if (str4.length > 0) {
                    str4 = str4.substring(0, str4.length - 1);
                    str3 += str4 + "),";
                } else {
                    str3 = str3.substring(0, str3.length - 1) + ",";
                }
            }
        })
        $("#tab2 input").each(function (i, item) {
            if ($(item).attr("checked") && $(item).attr("level") == 3) {
                str1 = $(item).val();
            }
            if ($(item).attr("checked") && $(item).attr("level") == 1) {
                str2 = $(item).val();
            }
        })
        if (str3.length > 0) {
            str3 = str3.substring(0, str3.length - 1);
        }
      
        if (flag == 1) {
            top.win.window.$("#ToolOrDanger").val(str1);
            top.win.window.$("#MajorNameType").val(str2);
        } else {
            top.win.window.$("#ToolOrDanger").val(str);
            top.win.window.$("#MajorNameType").val(str3);
        }
        dialogClose();
    }
    function changeTab(obj) {
        if ($(obj).val() == "1") {
            flag = 1;
            $("#tab1").hide();
            $("#tab2").show();
        } else {
            flag = 0;
            $("#tab1").show();
            $("#tab2").hide();
        }
    }
</script>

<div style="margin-top: 20px; margin-right: 30px;">

    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;工器具/危化品风险点清单</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
                <input id="ID" type="hidden" class="form-control" />
            </span>
        </div>
        <div class="panel-body" id="divtab">
            <span>类别：<input type="radio" value="0" name="r1" checked="checked" onclick="changeTab(this)" />&nbsp;<label>危险化学品风险点</label>&nbsp;&nbsp;&nbsp;<input type="radio" value="1" name="r1" onclick="changeTab(this)" />&nbsp;<label>工器具风险点</label>&nbsp;&nbsp;&nbsp;</span>
            @*<table id="tab1" cellpadding="0" border="1" style="width: 100%; text-align: left;" align="left">
                <tr style="font-size:20px;font-weight:bold;height:40px;">
                    <td colspan="2" style="width:120px;"><label>风险点类别</label></td>
                    <td><label>风险点</label></td>
                </tr>
                <tr>
                    <td rowspan="4"><div class='radio-inline icheck'><label><input class="parent99" type="checkbox" level="1" value="爆炸品" />&nbsp;<label>爆炸品</label>&nbsp;&nbsp;&nbsp;</label></div></td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro t2 parent99" level="2" type='checkbox' value="有整体爆炸危险的物质和物品" />&nbsp;&nbsp; 有整体爆炸危险的物质和物品</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="3" type='checkbox' value="高氯酸" />&nbsp;&nbsp; 高氯酸</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro t3 parent99" level="2" type='checkbox' value="具有燃烧危险和较小爆炸危险的物质和物品" />&nbsp;&nbsp; 具有燃烧危险和较小爆炸危险的物质和物品</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t3" level="3" type='checkbox' value="二亚硝基苯" />&nbsp;&nbsp; 二亚硝基苯</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro t4 parent99" level="2" type='checkbox' value="无重大危险的爆炸物质和物品" />&nbsp;&nbsp; 无重大危险的爆炸物质和物品</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t4" level="3" type='checkbox' value="四唑并-1-乙酸" />&nbsp;&nbsp; 四唑并-1-乙酸</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro t5 parent99" level="2" type='checkbox' value="核爆炸物品" />&nbsp;&nbsp; 核爆炸物品</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul></ul>
                    </td>
                </tr>

                <tr>
                    <td rowspan="3"><div class='radio-inline icheck'><label><input class="parent2" type="checkbox" level="1" value="压缩气体和液化气体" />&nbsp;<label>压缩气体和液化气体</label>&nbsp;&nbsp;&nbsp;</label></div></td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro k2 parent2" level="2" type='checkbox' value="易燃气体" />&nbsp;&nbsp; 易燃气体</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="k2" ck="p1" level="3" type='checkbox' value="氨气" />&nbsp;&nbsp; 氨气</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="k2" ck="p2" level="3" type='checkbox' value="一氧化碳" />&nbsp;&nbsp; 一氧化碳</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="k2" ck="p3" level="3" type='checkbox' value="甲烷" />&nbsp;&nbsp; 甲烷</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro k3 parent2" level="2" type='checkbox' value="不燃气体(包括助燃气体)" />&nbsp;&nbsp; 不燃气体(包括助燃气体)</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="k3" ck="p1" level="3" type='checkbox' value="氮气" />&nbsp;&nbsp; 氮气</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="k3" ck="p2" level="3" type='checkbox' value="氧气" />&nbsp;&nbsp; 氧气</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="k3" ck="p3" level="3" type='checkbox' value="其它" />&nbsp;&nbsp; 其它</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro k4 parent2" level="2" type='checkbox' value="有毒气体" />&nbsp;&nbsp; 有毒气体</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="k4" ck="p1" level="3" type='checkbox' value="氯(液化的)" />&nbsp;&nbsp; 氯(液化的)</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="k4" ck="p2" level="3" type='checkbox' value="氨(液化的)" />&nbsp;&nbsp; 氨(液化的)</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="k4" ck="p3" level="3" type='checkbox' value="其它" />&nbsp;&nbsp; 其它</label></div></li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td rowspan="3"><div class='radio-inline icheck'><label><input class="parent3" type="checkbox" level="1" value="易燃液体" />&nbsp;<label>易燃液体</label>&nbsp;&nbsp;&nbsp;</label></div></td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro m1 parent3" level="2" type='checkbox' value="低闪点液体,即闪点低于-18℃的液体" />&nbsp;&nbsp; 低闪点液体，即闪点低于-18℃的液体</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="m1" ck="p1" level="3" type='checkbox' value="乙醛" />&nbsp;&nbsp; 乙醛</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="m1" ck="p2" level="3" type='checkbox' value="丙酮" />&nbsp;&nbsp; 丙酮</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="m1" ck="p3" level="3" type='checkbox' value="其它" />&nbsp;&nbsp; 其它</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro m2 parent3" level="2" type='checkbox' value="中闪点液体,即闪点在-18℃—＜23℃的液体" />&nbsp;&nbsp; 中闪点液体，即闪点在-18℃—＜23℃的液体</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="m2" ck="p1" level="3" type='checkbox' value="苯" />&nbsp;&nbsp; 苯</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="m2" ck="p2" level="3" type='checkbox' value="甲醇" />&nbsp;&nbsp; 甲醇</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="m2" ck="p3" level="3" type='checkbox' value="其它" />&nbsp;&nbsp; 其它</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro m3 parent3" level="2" type='checkbox' value="高闪点液体,即闪点在23℃以上的液体" />&nbsp;&nbsp; 高闪点液体，即闪点在23℃以上的液体</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="m3" ck="p1" level="3" type='checkbox' value="环辛烷" />&nbsp;&nbsp; 环辛烷</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="m3" ck="p2" level="3" type='checkbox' value="氯苯" />&nbsp;&nbsp; 氯苯</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="m3" ck="p3" level="3" type='checkbox' value="苯甲醚" />&nbsp;&nbsp; 苯甲醚</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="m3" ck="p4" level="3" type='checkbox' value="其它" />&nbsp;&nbsp; 其它</label></div></li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td rowspan="3"><div class='radio-inline icheck'><label><input class="parent4" type="checkbox" level="1" value="易燃固体、自燃物品和遇湿易燃物品" />&nbsp;<label>易燃固体、自燃物品和遇湿易燃物品</label>&nbsp;&nbsp;&nbsp;</label></div></td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro l1 parent4" level="2" type='checkbox' value="易燃固体" />&nbsp;&nbsp; 易燃固体</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="l1" ck="p1" level="3" type='checkbox' value="红磷" />&nbsp;&nbsp; 红磷</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="l1" ck="p2" level="3" type='checkbox' value="硫磺" />&nbsp;&nbsp; 硫磺</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="l1" ck="p3" level="3" type='checkbox' value="其它" />&nbsp;&nbsp; 其它</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro l2 parent4" level="2" type='checkbox' value="自燃物品" />&nbsp;&nbsp; 自燃物品</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="l2" ck="p1" level="3" type='checkbox' value="黄磷" />&nbsp;&nbsp; 黄磷</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="l2" ck="p2" level="3" type='checkbox' value="三氯化钛" />&nbsp;&nbsp; 三氯化钛</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="l2" ck="p3" level="3" type='checkbox' value="其它" />&nbsp;&nbsp; 其它</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro l3 parent4" level="2" type='checkbox' value="遇湿易燃物品" />&nbsp;&nbsp; 遇湿易燃物品</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="l3" ck="p1" level="3" type='checkbox' value="金属钠" />&nbsp;&nbsp; 金属钠</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="l3" ck="p2" level="3" type='checkbox' value="氢化钾" />&nbsp;&nbsp; 氢化钾</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="l3" ck="p3" level="3" type='checkbox' value="其它" />&nbsp;&nbsp; 其它</label></div></li>
                        </ul>
                    </td>
                </tr>


                <tr>
                    <td rowspan="2"><div class='radio-inline icheck'><label><input class="parent5" type="checkbox" level="1" value="氧化剂和有机过氧化物" />&nbsp;<label>氧化剂和有机过氧化物</label>&nbsp;&nbsp;&nbsp;</label></div></td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro u1 parent5" level="2" type='checkbox' value="氧化剂" />&nbsp;&nbsp; 氧化剂</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="u1" ck="p1" level="3" type='checkbox' value="氯酸铵" />&nbsp;&nbsp; 氯酸铵</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="u1" ck="p2" level="3" type='checkbox' value="高锰酸钾" />&nbsp;&nbsp; 高锰酸钾</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="u1" ck="p3" level="3" type='checkbox' value="其它" />&nbsp;&nbsp; 其它</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro u2 parent5" level="2" type='checkbox' value="有机过氧化物" />&nbsp;&nbsp; 有机过氧化物</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="u2" ck="p1" level="3" type='checkbox' value="过氧化苯甲酰" />&nbsp;&nbsp; 过氧化苯甲酰</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="u2" ck="p2" level="3" type='checkbox' value="过氧化甲乙酮" />&nbsp;&nbsp; 过氧化甲乙酮</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="u2" ck="p3" level="3" type='checkbox' value="其它" />&nbsp;&nbsp; 其它</label></div></li>
                        </ul>
                    </td>
                </tr>



                <tr>
                    <td><div class='radio-inline icheck'><label><input class="parent6" type="checkbox" level="1" value="毒害品" />&nbsp;<label>毒害品</label>&nbsp;&nbsp;&nbsp;</label></div></td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input hidden="hidden" class="Pro b1 parent6" level="2" type='checkbox' /></label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="b1" ck="p1" level="3" type='checkbox' value="各种氰化物" />&nbsp;&nbsp; 各种氰化物</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="b1" ck="p2" level="3" type='checkbox' value="砷化物" />&nbsp;&nbsp; 砷化物</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="b1" ck="p3" level="3" type='checkbox' value="化学农药" />&nbsp;&nbsp; 化学农药</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="b1" ck="p4" level="3" type='checkbox' value="其它" />&nbsp;&nbsp; 其它</label></div></li>
                        </ul>
                    </td>
                </tr>


                <tr>
                    <td><div class='radio-inline icheck'><label><input class="parent7" type="checkbox" level="1" value="放射性物品" />&nbsp;<label>放射性物品</label>&nbsp;&nbsp;&nbsp;</label></div></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td rowspan="3"><div class='radio-inline icheck'><label><input class="parent8" type="checkbox" level="1" value="腐蚀品" />&nbsp;<label>腐蚀品</label>&nbsp;&nbsp;&nbsp;</label></div></td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro r1 parent8" level="2" type='checkbox' value="酸性腐蚀品" /><label>酸性腐蚀品</label>&nbsp;&nbsp;&nbsp;</label></label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="r1" ck="p1" level="3" type='checkbox' value="硫酸" />&nbsp;&nbsp; 硫酸</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="r1" ck="p2" level="3" type='checkbox' value="硝酸" />&nbsp;&nbsp; 硝酸</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="r1" ck="p3" level="3" type='checkbox' value="盐酸" />&nbsp;&nbsp; 盐酸</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="r1" ck="p4" level="3" type='checkbox' value="其它" />&nbsp;&nbsp; 其它</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro r2 parent8" level="2" type='checkbox' value="碱性腐蚀品" /><label>碱性腐蚀品</label>&nbsp;&nbsp;&nbsp;</label></label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="r2" ck="p1" level="3" type='checkbox' value="氢氧化钠" />&nbsp;&nbsp; 氢氧化钠</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="r2" ck="p2" level="3" type='checkbox' value="硫氢化钙" />&nbsp;&nbsp; 硫氢化钙</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="r2" ck="p3" level="3" type='checkbox' value="其它" />&nbsp;&nbsp; 其它</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro r3 parent8" level="2" type='checkbox' value="其它腐蚀品" /><label>其它腐蚀品</label>&nbsp;&nbsp;&nbsp;</label></label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="r3" ck="p1" level="3" type='checkbox' value="苯酚钠" />&nbsp;&nbsp; 苯酚钠</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="r3" ck="p2" level="3" type='checkbox' value="二氯乙醛" />&nbsp;&nbsp; 二氯乙醛</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="r3" ck="p3" level="3" type='checkbox' value="其它" />&nbsp;&nbsp; 其它</label></div></li>
                        </ul>
                    </td>
                </tr>
            </table>


            <table id="tab2" cellpadding="0" border="1" style="width: 100%; text-align: left;" align="left">
                <tr style="font-size:20px;font-weight:bold;height:40px;">
                    <td style="width:120px;"><label>风险点类别</label></td>
                    <td><label>风险点</label></td>
                </tr>
                <tr>
                    <td>
                        <div class='radio-inline icheck'><label><input class="Pro t2 parent51" level="2" hidden="hidden" type='checkbox' /></label></div>
                        <div class='radio-inline icheck'><label><input class="parent51" type="checkbox" level="1" value="一般工器具" />&nbsp;<label>一般工器具</label>&nbsp;&nbsp;&nbsp;</label></div>
                    </td>

                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t2" ck="p1" level="3" type='checkbox' value="大锤" />&nbsp;&nbsp; 大锤</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t2" ck="p2" level="3" type='checkbox' value="手锤" />&nbsp;&nbsp; 手锤</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t2" ck="p3" level="3" type='checkbox' value="液压搬运车" />&nbsp;&nbsp; 液压搬运车</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t2" ck="p4" level="3" type='checkbox' value="手推车" />&nbsp;&nbsp; 手推车</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t2" ck="p5" level="3" type='checkbox' value="吊具类(手拉葫芦、钢丝绳、卸扣、吊带等)" />&nbsp;&nbsp; 吊具类(手拉葫芦、钢丝绳、卸扣、吊带等)</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t2" ck="p6" level="3" type='checkbox' value="其它" />&nbsp;&nbsp; 其它</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class='radio-inline icheck'><label><input class="Pro t3 parent52" level="2" hidden="hidden" type='checkbox' /></label></div>
                        <div class='radio-inline icheck'><label><input class="parent52" type="checkbox" level="1" value="绝缘安全工器具" />&nbsp;<label>绝缘安全工器具</label>&nbsp;&nbsp;&nbsp;</label></div>
                    </td>

                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t3" ck="p1" level="3" type='checkbox' value="绝缘棒" />&nbsp;&nbsp; 绝缘棒</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t3" ck="p2" level="3" type='checkbox' value="绝缘档板" />&nbsp;&nbsp; 绝缘档板</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t3" ck="p3" level="3" type='checkbox' value="绝缘罩" />&nbsp;&nbsp; 绝缘罩</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t3" ck="p4" level="3" type='checkbox' value="绝缘夹钳" />&nbsp;&nbsp; 绝缘夹钳</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t3" ck="p5" level="3" type='checkbox' value="验电笔(器)" />&nbsp;&nbsp; 验电笔(器)</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t3" ck="p6" level="3" type='checkbox' value="绝缘手套" />&nbsp;&nbsp; 绝缘手套</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t3" ck="p7" level="3" type='checkbox' value="橡胶绝缘靴" />&nbsp;&nbsp; 橡胶绝缘靴</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t3" ck="p8" level="3" type='checkbox' value="绝缘绳" />&nbsp;&nbsp; 绝缘绳</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t3" ck="p9" level="3" type='checkbox' value="核相器电阻管" />&nbsp;&nbsp; 核相器电阻管</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t3" ck="p10" level="3" type='checkbox' value="绝缘梯" />&nbsp;&nbsp; 绝缘梯</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t3" ck="p11" level="3" type='checkbox' value="接地线" />&nbsp;&nbsp; 接地线</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t3" ck="p12" level="3" type='checkbox' value="其它" />&nbsp;&nbsp; 其它</label></div></li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class='radio-inline icheck'><label><input class="Pro t4 parent53" level="2" hidden="hidden" type='checkbox' /></label></div>
                        <div class='radio-inline icheck'><label><input class="parent53" type="checkbox" level="1" value="防护安全工器具" />&nbsp;<label>防护安全工器具</label>&nbsp;&nbsp;&nbsp;</label></div>
                    </td>

                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t4" ck="p1" level="3" type='checkbox' value="安全带" />&nbsp;&nbsp; 安全带</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t4" ck="p2" level="3" type='checkbox' value="安全帽" />&nbsp;&nbsp; 安全帽</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t4" ck="p3" level="3" type='checkbox' value="防坠器" />&nbsp;&nbsp; 防坠器</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t4" ck="p4" level="3" type='checkbox' value="安全绳" />&nbsp;&nbsp; 安全绳</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t4" ck="p5" level="3" type='checkbox' value="升降板" />&nbsp;&nbsp; 升降板</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t4" ck="p6" level="3" type='checkbox' value="脚扣" />&nbsp;&nbsp; 脚扣</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t4" ck="p7" level="3" type='checkbox' value="梯子" />&nbsp;&nbsp; 梯子</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t4" ck="p8" level="3" type='checkbox' value="各类安全围栏、围网" />&nbsp;&nbsp; 各类安全围栏、围网</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t4" ck="p9" level="3" type='checkbox' value="防尘口罩" />&nbsp;&nbsp; 防尘口罩</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t4" ck="p10" level="3" type='checkbox' value="过滤式防毒面具" />&nbsp;&nbsp; 过滤式防毒面具</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t4" ck="p11" level="3" type='checkbox' value="自给式空气呼吸器" />&nbsp;&nbsp; 自给式空气呼吸器</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t4" ck="p12" level="3" type='checkbox' value="长管面具" />&nbsp;&nbsp; 长管面具</label></div></li>

                            <li><div class='radio-inline icheck'><label><input class="t4" ck="p13" level="3" type='checkbox' value="焊接眼面防护具" />&nbsp;&nbsp; 焊接眼面防护具</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t4" ck="p14" level="3" type='checkbox' value="防冲击眼护具" />&nbsp;&nbsp; 防冲击眼护具</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t4" ck="p15" level="3" type='checkbox' value="防护服" />&nbsp;&nbsp; 防护服</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t4" ck="p16" level="3" type='checkbox' value="防护足部安全鞋" />&nbsp;&nbsp; 防护足部安全鞋</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t4" ck="p17" level="3" type='checkbox' value="防静电鞋和导电鞋" />&nbsp;&nbsp; 防静电鞋和导电鞋</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t4" ck="p18" level="3" type='checkbox' value="电绝艳鞋" />&nbsp;&nbsp; 电绝艳鞋</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t4" ck="p19" level="3" type='checkbox' value="耐酸碱鞋" />&nbsp;&nbsp; 耐酸碱鞋</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t4" ck="p20" level="3" type='checkbox' value="耐酸碱靴" />&nbsp;&nbsp; 耐酸碱靴</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t4" ck="p21" level="3" type='checkbox' value="其它" />&nbsp;&nbsp; 其它</label></div></li>

                        </ul>
                    </td>
                </tr>


                <tr>
                    <td>
                        <div class='radio-inline icheck'><label><input class="Pro t5 parent54" level="2" hidden="hidden" type='checkbox' /></label></div>
                        <div class='radio-inline icheck'><label><input class="parent54" type="checkbox" level="1" value="手持电动工具" />&nbsp;<label>手持电动工具</label>&nbsp;&nbsp;&nbsp;</label></div>
                    </td>

                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t5" ck="p1" level="3" type='checkbox' value="手电钻(电钻、电锤、冲击钻等)" />&nbsp;&nbsp; 手电钻(电钻、电锤、冲击钻等)</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t5" ck="p2" level="3" type='checkbox' value="角向磨" />&nbsp;&nbsp; 角向磨</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t5" ck="p3" level="3" type='checkbox' value="电铣刀" />&nbsp;&nbsp; 电铣刀</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t5" ck="p4" level="3" type='checkbox' value="电剪刀" />&nbsp;&nbsp; 电剪刀</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t5" ck="p5" level="3" type='checkbox' value="电(气)动板手" />&nbsp;&nbsp; 电(气)动板手</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t5" ck="p6" level="3" type='checkbox' value="电动磨孔机" />&nbsp;&nbsp; 电动磨孔机</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t5" ck="p7" level="3" type='checkbox' value="电动破口机" />&nbsp;&nbsp; 电动破口机</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t5" ck="p8" level="3" type='checkbox' value="瓷砖切割机" />&nbsp;&nbsp; 瓷砖切割机</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t5" ck="p9" level="3" type='checkbox' value="电铬铁" />&nbsp;&nbsp; 电铬铁</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t5" ck="p10" level="3" type='checkbox' value="电吹风" />&nbsp;&nbsp; 电吹风</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t4" ck="p11" level="3" type='checkbox' value="其它" />&nbsp;&nbsp; 其它</label></div></li>
                        </ul>
                    </td>
                </tr>


                <tr>
                    <td>
                        <div class='radio-inline icheck'><label><input class="Pro t6 parent55" level="2" hidden="hidden" type='checkbox' /></label></div>
                        <div class='radio-inline icheck'><label><input class="parent55" type="checkbox" level="1" value="移动式电动工具" />&nbsp;<label>移动式电动工具</label>&nbsp;&nbsp;&nbsp;</label></div>
                    </td>

                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t6" ck="p1" level="3" type='checkbox' value="电焊机" />&nbsp;&nbsp; 电焊机</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t6" ck="p2" level="3" type='checkbox' value="抽水泵" />&nbsp;&nbsp; 抽水泵</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t6" ck="p3" level="3" type='checkbox' value="砂轮锯" />&nbsp;&nbsp; 砂轮锯</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t6" ck="p4" level="3" type='checkbox' value="空压机" />&nbsp;&nbsp; 空压机</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t6" ck="p5" level="3" type='checkbox' value="水磨机" />&nbsp;&nbsp; 水磨机</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t6" ck="p6" level="3" type='checkbox' value="电加热器" />&nbsp;&nbsp; 电加热器</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t6" ck="p7" level="3" type='checkbox' value="电动绞丝机" />&nbsp;&nbsp; 电动绞丝机</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t6" ck="p8" level="3" type='checkbox' value="电动研磨机" />&nbsp;&nbsp; 电动研磨机</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t6" ck="p9" level="3" type='checkbox' value="探伤仪" />&nbsp;&nbsp; 探伤仪</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t6" ck="p10" level="3" type='checkbox' value="吸铁钻" />&nbsp;&nbsp; 吸铁钻</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t6" ck="p11" level="3" type='checkbox' value="锯管机" />&nbsp;&nbsp; 锯管机</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t6" ck="p12" level="3" type='checkbox' value="轴流风扇" />&nbsp;&nbsp; 轴流风扇</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t6" ck="p13" level="3" type='checkbox' value="其它" />&nbsp;&nbsp; 其它</label></div></li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class='radio-inline icheck'><label><input class="Pro t7 parent56" level="2" hidden="hidden" type='checkbox' /></label></div>
                        <div class='radio-inline icheck'><label><input class="parent56" type="checkbox" level="1" value="施工机械类" />&nbsp;<label>施工机械类</label>&nbsp;&nbsp;&nbsp;</label></div>
                    </td>

                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t7" ck="p1" level="3" type='checkbox' value="工程车" />&nbsp;&nbsp; 工程车</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t7" ck="p2" level="3" type='checkbox' value="挖掘类机械" />&nbsp;&nbsp; 挖掘类机械</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t7" ck="p3" level="3" type='checkbox' value="桩机" />&nbsp;&nbsp; 桩机</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t7" ck="p4" level="3" type='checkbox' value="起重机" />&nbsp;&nbsp; 起重机</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t7" ck="p5" level="3" type='checkbox' value="厂内机动车辆" />&nbsp;&nbsp; 厂内机动车辆</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t7" ck="p6" level="3" type='checkbox' value="混凝土泵车" />&nbsp;&nbsp; 混凝土泵车</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t7" ck="p7" level="3" type='checkbox' value="其它" />&nbsp;&nbsp; 其它</label></div></li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class='radio-inline icheck'><label><input class="Pro t8 parent57" level="2" hidden="hidden" type='checkbox' /></label></div>
                        <div class='radio-inline icheck'><label><input class="parent57" type="checkbox" level="1" value="气瓶" />&nbsp;<label>气瓶</label>&nbsp;&nbsp;&nbsp;</label></div>
                    </td>

                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t8" ck="p1" level="3" type='checkbox' value="氧气" />&nbsp;&nbsp; 氧气</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t8" ck="p2" level="3" type='checkbox' value="乙炔" />&nbsp;&nbsp; 乙炔</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t8" ck="p3" level="3" type='checkbox' value="丙烷" />&nbsp;&nbsp; 丙烷</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t8" ck="p4" level="3" type='checkbox' value="氢气" />&nbsp;&nbsp; 氢气</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t8" ck="p5" level="3" type='checkbox' value="氩气" />&nbsp;&nbsp; 氩气</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t8" ck="p6" level="3" type='checkbox' value="二氧化碳" />&nbsp;&nbsp; 二氧化碳</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t8" ck="p7" level="3" type='checkbox' value="其它" />&nbsp;&nbsp; 其它</label></div></li>
                        </ul>
                    </td>
                </tr>
            </table>*@
        </div>
    </div>

</div>
