@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/business/common.js"></script>

<script>
    var flag = 0;
    $(function () {
        GetData("工器具及危化品风险", "危险源类别", "危险化学品危险源及危害因素分类", "divtab", "2");
        GetData("工器具及危化品风险", "危险源类别", "工器具危险源及危害因素分类", "divtab", "2");
        $("#tab2").hide();
        $("#tab1 input").click(function () {
            $(this).attr("checked", this.checked);
            var cls = $(this).attr("class");
            var level = $(this).attr("level");
            var ck = $(this).attr("ck");
            switch (level) {
                case "3":
                    $("#tab1 input").each(function (i, item) {
                        if ($(item).attr("ck") == undefined) {
                            if ($(item).attr("class") != cls && $(item).attr("level") == 3) {
                                $(item).prop("checked", false).attr("checked", false);
                            }
                        } else {
                            if ($(item).attr("level") == 3) {
                                if (($(item).attr("class") == cls && ck != $(item).attr("ck"))
                                || ($(item).attr("class") != cls && ck != $(item).attr("ck"))
                                    || ($(item).attr("class") != cls && ck == $(item).attr("ck"))) {
                                    $(item).prop("checked", false).attr("checked", false);
                                }
                            }

                        }
                        if ($(item).attr("level") == 2 && !($(item).attr("class").indexOf(cls) >= 0)) {
                            $(item).prop("checked", false).attr("checked", false);
                        }
                    })
                    $("#tab1 .Pro." + cls).prop("checked", "checked").attr("checked", "checked");
                    var cls2 = $("#tab1 .Pro." + cls).attr("class");
                    $("#tab1 input").each(function (i, item) {
                        if (!(cls2.indexOf($(item).attr("class")) >= 0) && $(item).attr("level") == 1) {
                            $(item).prop("checked", false).attr("checked", false);
                        } else if (cls2.indexOf($(item).attr("class")) >= 0 && $(item).attr("level") == 1) {
                            $(item).prop("checked", "checked").attr("checked", "checked");
                        }
                    })
                    break;
                case "2":
                    $("#tab1 input").each(function (i, item) {
                        if (!(cls.indexOf($(item).attr("class")) >= 0) && $(item).attr("level") == 3) {
                            $(item).prop("checked", false).attr("checked", false);
                        }
                        if (!(cls.indexOf($(item).attr("class")) >= 0) && $(item).attr("level") == 2) {
                            $(item).prop("checked", false).attr("checked", false);
                        }

                        if (!(cls.indexOf($(item).attr("class")) >= 0) && $(item).attr("level") == 1) {
                            $(item).prop("checked", false).attr("checked", false);
                        } else if (cls.indexOf($(item).attr("class")) >= 0 && $(item).attr("level") == 1) {
                            $(item).prop("checked", "checked").attr("checked", "checked");
                        }
                    })
                    break;
                case "1":
                    $("#tab1 input").each(function (i, item) {
                        if (!(cls.indexOf($(item).attr("class")) >= 0) && $(item).attr("level") == 2) {
                            $(item).prop("checked", false).attr("checked", false);
                            var itcls = $(item).attr("class");
                            $("#tab1 input").each(function (i, item) {
                                if (!(cls.indexOf($(item).attr("class")) >= 0) && $(item).attr("level") == 3) {
                                    $(item).prop("checked", false).attr("checked", false);
                                }
                            })
                        }
                        if (!(cls == $(item).attr("class")) && $(item).attr("level") == 1) {
                            $(item).prop("checked", false).attr("checked", false);
                        } else if (cls == $(item).attr("class") && $(item).attr("level") == 1) {
                            $(item).prop("checked", "checked").attr("checked", "checked");
                        }
                    })
                    break;
                default:
            }
        })

        $("#tab2 input").click(function () {
            $(this).attr("checked", "checked");
            var cls = $(this).attr("class");
            var level = $(this).attr("level");
            var ck = $(this).attr("ck");
            switch (level) {
                case "3":
                    $("#tab2 input").each(function (i, item) {
                        if ($(item).attr("ck") == undefined) {
                            if ($(item).attr("class") != cls && $(item).attr("level") == 3) {
                                $(item).prop("checked", false).attr("checked", false);
                            }
                        } else {
                            if ($(item).attr("level") == 3) {
                                if (($(item).attr("class") == cls && ck != $(item).attr("ck"))
                                || ($(item).attr("class") != cls && ck != $(item).attr("ck"))
                                    || ($(item).attr("class") != cls && ck == $(item).attr("ck"))) {
                                    $(item).prop("checked", false).attr("checked", false);
                                }
                            }

                        }
                        if ($(item).attr("level") == 2 && !($(item).attr("class").indexOf(cls) >= 0)) {
                            $(item).prop("checked", false).attr("checked", false);
                        }
                    })
                    $("#tab2 .Pro." + cls).prop("checked", "checked").attr("checked", "checked");
                    var cls2 = $("#tab2 .Pro." + cls).attr("class");
                    $("#tab2 input").each(function (i, item) {
                        if (!(cls2.indexOf($(item).attr("class")) >= 0) && $(item).attr("level") == 1) {
                            $(item).prop("checked", false).attr("checked", false);
                        } else if (cls2.indexOf($(item).attr("class")) >= 0 && $(item).attr("level") == 1) {
                            $(item).prop("checked", "checked").attr("checked", "checked");
                        }
                    })
                    break;
                case "2":
                    $("#tab2 input").each(function (i, item) {
                        if (!(cls.indexOf($(item).attr("class")) >= 0) && $(item).attr("level") == 3) {
                            $(item).prop("checked", false).attr("checked", false);
                        }
                        if (!(cls.indexOf($(item).attr("class")) >= 0) && $(item).attr("level") == 2) {
                            $(item).prop("checked", false).attr("checked", false);
                        }

                        if (!(cls.indexOf($(item).attr("class")) >= 0) && $(item).attr("level") == 1) {
                            $(item).prop("checked", false).attr("checked", false);
                        } else if (cls.indexOf($(item).attr("class")) >= 0 && $(item).attr("level") == 1) {
                            $(item).prop("checked", "checked").attr("checked", "checked");
                        }
                    })
                    break;
                case "1":
                    $("#tab2 input").each(function (i, item) {
                        if (!(cls.indexOf($(item).attr("class")) >= 0) && $(item).attr("level") == 2) {
                            $(item).prop("checked", false).attr("checked", false);
                            var itcls = $(item).attr("class");
                            $("#tab2 input").each(function (i, item) {
                                if (!(cls.indexOf($(item).attr("class")) >= 0) && $(item).attr("level") == 3) {
                                    $(item).prop("checked", false).attr("checked", false);
                                }
                            })
                        }
                        if (!(cls == $(item).attr("class")) && $(item).attr("level") == 1) {
                            $(item).prop("checked", false).attr("checked", false);
                        } else if (cls == $(item).attr("class") && $(item).attr("level") == 1) {
                            $(item).prop("checked", "checked").attr("checked", "checked");
                        } 
                    })
                    break;
                default:
            }
        })
    })
    function AcceptClick() {
        var str = "";
        var str1 = "";

        var str2 = "";
        var str3 = "";

        var str4 = "";
        var str5 = "";
        $("#tab1 input").each(function (i, item) {
            if ($(item).attr("checked") && $(item).attr("level") == 3) {
                str5 += $(item).val() + ",";
            }
            if ($(item).attr("checked") && $(item).attr("level") == 1) {
                str = $(item).val();
            }
            if ($(item).attr("checked") && $(item).attr("level") == 2) {
                str1 = $(item).val();
            }
        })
        $("#tab2 input").each(function (i, item) {
            if ($(item).attr("checked") && $(item).attr("level") == 2) {
                str3 = $(item).val();
            }
            if ($(item).attr("checked") && $(item).attr("level") == 1) {
                str2 = $(item).val();
            }
            if ($(item).attr("checked") && $(item).attr("level") == 3) {
                str4 += $(item).val()+",";
            }
        })
        if (str4.length > 0) {
            str4 = str4.substring(0, str4.length - 1);
        }
        if (str5.length > 0) {
            str5 = str5.substring(0, str5.length - 1);
        }

        if (flag == 1) {
            top.win.window.$("#DangerSourceType").val(str2);
            top.win.window.$("#DangerSource").val(str3);
            top.win.window.$("#RiskDesc").val(str4);
        } else {
            top.win.window.$("#DangerSourceType").val(str);
            top.win.window.$("#DangerSource").val(str1);
            top.win.window.$("#RiskDesc").val(str5);
        }
        dialogClose();
    }
    function changeTab(obj) {
        if ($(obj).val() == "1") {
            flag = 1;
            $("#tab1").hide();
            $("#tab2").show();
        } else {
            flag = 0;
            $("#tab1").show();
            $("#tab2").hide();
        }
    }
</script>

<div style="margin-top: 20px; margin-right: 30px;">

    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;工器具/危化品危险源及危害因素分类</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
                <input id="ID" type="hidden" class="form-control" />
            </span>
        </div>
        <div class="panel-body" id="divtab">
            <span>类别：<input type="radio" value="0" name="r1" checked="checked" onclick="changeTab(this)" />&nbsp;<label>危险化学品危险源及危害因素分类</label>&nbsp;&nbsp;&nbsp;<input type="radio" value="1" name="r1" onclick="changeTab(this)" />&nbsp;<label>工器具危险源及危害因素分类</label>&nbsp;&nbsp;&nbsp;</span>
            @*<table id="tab1" cellpadding="0" border="1" style="width: 100%; text-align: left;" align="left">
                <tr style="font-size:20px;font-weight:bold;height:40px;">
                    <td style="width:120px;"><label>危险源类别</label></td>
                    <td style="width:180px;"><label>危险源</label></td>
                    <td><label>危险因素</label></td>
                    <td><label>备注</label></td>
                </tr>
                <tr>
                    <td rowspan="17"><div class='radio-inline icheck'><label><input class="parent99" type="checkbox" level="1" value="理化危险" />&nbsp;<label>理化危险</label>&nbsp;&nbsp;&nbsp;</label></div></td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro t2 parent99" level="2" type='checkbox' value="爆炸物" />&nbsp;&nbsp; 爆炸物</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="3" type='checkbox' value="受热" />&nbsp;&nbsp; 受热</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="3" type='checkbox' value="摩擦" />&nbsp;&nbsp; 摩擦</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="3" type='checkbox' value="撞击" />&nbsp;&nbsp; 撞击</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="3" type='checkbox' value="其它" />&nbsp;&nbsp; 其它</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro t3 parent99" level="2" type='checkbox' value="易燃气体" />&nbsp;&nbsp; 易燃气体</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t3" level="3" type='checkbox' value="受热" />&nbsp;&nbsp; 受热</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t3" level="3" type='checkbox' value="明火" />&nbsp;&nbsp; 明火</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t3" level="3" type='checkbox' value="其它" />&nbsp;&nbsp; 其它</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro t4 parent99" level="2" type='checkbox' value="气溶胶" />&nbsp;&nbsp; 气溶胶</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t4" level="3" type='checkbox' value="吸入" />&nbsp;&nbsp; 吸入</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro t5 parent99" level="2" type='checkbox' value="氧化性气体" />&nbsp;&nbsp; 氧化性气体</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t5" level="3" type='checkbox' value="受热" />&nbsp;&nbsp; 受热</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t5" level="3" type='checkbox' value="明火" />&nbsp;&nbsp; 明火</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro t6 parent99" level="2" type='checkbox' value="加压气体" />&nbsp;&nbsp; 加压气体</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t6" level="3" type='checkbox' value="撞击" />&nbsp;&nbsp; 撞击</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t6" level="3" type='checkbox' value="摩擦" />&nbsp;&nbsp; 摩擦</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro t7 parent99" level="2" type='checkbox' value="易燃液体" />&nbsp;&nbsp; 易燃液体</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t7" level="3" type='checkbox' value="受热" />&nbsp;&nbsp; 受热</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t7" level="3" type='checkbox' value="明火" />&nbsp;&nbsp; 明火</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro t8 parent99" level="2" type='checkbox' value="易燃固体" />&nbsp;&nbsp; 易燃固体</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t8" level="3" type='checkbox' value="受热" />&nbsp;&nbsp; 受热</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t8" level="3" type='checkbox' value="震动" />&nbsp;&nbsp; 震动</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t8" level="3" type='checkbox' value="摩擦" />&nbsp;&nbsp; 摩擦</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro t19 parent99" level="2" type='checkbox' value="自反应物质和混合物" />&nbsp;&nbsp; 自反应物质和混合物</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t19" level="3" type='checkbox' value="受热" />&nbsp;&nbsp; 受热</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro t10 parent99" level="2" type='checkbox' value="自热物质和混合物" />&nbsp;&nbsp; 自热物质和混合物</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t10" level="3" type='checkbox' value="接触" />&nbsp;&nbsp; 接触</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro t11 parent99" level="2" type='checkbox' value="自燃液体" />&nbsp;&nbsp; 自燃液体</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t11" level="3" type='checkbox' value="吸入" />&nbsp;&nbsp; 吸入</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro t12 parent99" level="2" type='checkbox' value="自燃固体" />&nbsp;&nbsp; 自燃固体</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t12" level="3" type='checkbox' value="受热" />&nbsp;&nbsp; 受热</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t12" level="3" type='checkbox' value="摩擦" />&nbsp;&nbsp; 摩擦</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t12" level="3" type='checkbox' value="撞击" />&nbsp;&nbsp; 撞击</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t12" level="3" type='checkbox' value="其它" />&nbsp;&nbsp; 其它</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro t13 parent99" level="2" type='checkbox' value="遇水放出易燃气体的物质和混合物" />&nbsp;&nbsp; 遇水放出易燃气体的物质和混合物</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t13" level="3" type='checkbox' value="受热" />&nbsp;&nbsp; 受热</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t13" level="3" type='checkbox' value="震动" />&nbsp;&nbsp; 震动</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t13" level="3" type='checkbox' value="撞击" />&nbsp;&nbsp; 撞击</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro t14 parent99" level="2" type='checkbox' value="金属腐蚀物" />&nbsp;&nbsp; 金属腐蚀物</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t14" level="3" type='checkbox' value="接触" />&nbsp;&nbsp; 接触</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro t15 parent99" level="2" type='checkbox' value="氧化性液体" />&nbsp;&nbsp; 氧化性液体</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t15" level="3" type='checkbox' value="受热" />&nbsp;&nbsp; 受热</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t15" level="3" type='checkbox' value="明火" />&nbsp;&nbsp; 明火</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro t16 parent99" level="2" type='checkbox' value="氧化性固体" />&nbsp;&nbsp; 氧化性固体</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t16" level="3" type='checkbox' value="受热" />&nbsp;&nbsp; 受热</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t16" level="3" type='checkbox' value="明火" />&nbsp;&nbsp; 明火</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t16" level="3" type='checkbox' value="撞击" />&nbsp;&nbsp; 撞击</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t16" level="3" type='checkbox' value="摩擦" />&nbsp;&nbsp; 摩擦</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro t17 parent99" level="2" type='checkbox' value="有机过氧化物" />&nbsp;&nbsp; 有机过氧化物</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t17" level="3" type='checkbox' value="受热" />&nbsp;&nbsp; 受热</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t17" level="3" type='checkbox' value="撞击" />&nbsp;&nbsp; 撞击</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t17" level="3" type='checkbox' value="摩擦" />&nbsp;&nbsp; 摩擦</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro t18 parent99" level="2" type='checkbox' value="压缩气体和液化气体" />&nbsp;&nbsp; 压缩气体和液化气体</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t18" level="3" type='checkbox' value="受热" />&nbsp;&nbsp; 受热</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t18" level="3" type='checkbox' value="撞击" />&nbsp;&nbsp; 撞击</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t18" level="3" type='checkbox' value="强烈震动" />&nbsp;&nbsp; 强烈震动</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>


                <tr>
                    <td rowspan="12"><div class='radio-inline icheck'><label><input class="parent2" type="checkbox" level="1" value="健康危害" />&nbsp;<label>健康危害</label>&nbsp;&nbsp;&nbsp;</label></div></td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro m3 parent2" level="2" type='checkbox' value="急性毒性" />&nbsp;&nbsp; 急性毒性</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="m3" level="3" type='checkbox' value="吸入" />&nbsp;&nbsp; 吸入</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro m4 parent2" level="2" type='checkbox' value="皮肤腐蚀/刺激" />&nbsp;&nbsp; 皮肤腐蚀/刺激</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="m4" level="3" type='checkbox' value="接触" />&nbsp;&nbsp; 接触</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro m5 parent2" level="2" type='checkbox' value="严重眼损伤/眼刺激" />&nbsp;&nbsp; 严重眼损伤/眼刺激</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="m5" level="3" type='checkbox' value="接触" />&nbsp;&nbsp; 接触</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro m6 parent2" level="2" type='checkbox' value="呼吸道或皮肤致敏" />&nbsp;&nbsp; 呼吸道或皮肤致敏</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="m6" level="3" type='checkbox' value="吸入" />&nbsp;&nbsp; 吸入</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="m6" level="3" type='checkbox' value="接触" />&nbsp;&nbsp; 接触</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro m7 parent2" level="2" type='checkbox' value="生殖细胞致突变性" />&nbsp;&nbsp; 生殖细胞致突变性</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="m7" level="3" type='checkbox' value="误食" />&nbsp;&nbsp; 误食</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="m7" level="3" type='checkbox' value="接触" />&nbsp;&nbsp; 接触</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro m8 parent2" level="2" type='checkbox' value="致癌性" />&nbsp;&nbsp; 致癌性</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="m8" level="3" type='checkbox' value="误食" />&nbsp;&nbsp; 误食</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="m8" level="3" type='checkbox' value="接触" />&nbsp;&nbsp; 接触</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro m9 parent2" level="2" type='checkbox' value="生殖毒性" />&nbsp;&nbsp; 生殖毒性</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="m9" level="3" type='checkbox' value="误食" />&nbsp;&nbsp; 误食</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="m9" level="3" type='checkbox' value="接触" />&nbsp;&nbsp; 接触</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro m10 parent2" level="2" type='checkbox' value="特异性靶器官毒性(一次接触)" />&nbsp;&nbsp; 特异性靶器官毒性(一次接触)</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="m10" level="3" type='checkbox' value="接触" />&nbsp;&nbsp; 接触</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro m11 parent2" level="2" type='checkbox' value="特异性靶器官毒性(反复接触)" />&nbsp;&nbsp; 特异性靶器官毒性(反复接触)</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="m11" level="3" type='checkbox' value="接触" />&nbsp;&nbsp; 接触</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro m12 parent2" level="2" type='checkbox' value="吸入危害" />&nbsp;&nbsp; 吸入危害</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="m12" level="3" type='checkbox' value="吸入" />&nbsp;&nbsp; 吸入</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro m13 parent2" level="2" type='checkbox' value="有毒品" />&nbsp;&nbsp; 有毒品</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="m13" level="3" type='checkbox' value="吸入" />&nbsp;&nbsp; 吸入</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro m14 parent2" level="2" type='checkbox' value="腐蚀品" />&nbsp;&nbsp; 腐蚀品</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="m14" level="3" type='checkbox' value="接触" />&nbsp;&nbsp; 接触</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>

                <tr>
                    <td rowspan="2"><div class='radio-inline icheck'><label><input class="parent3" type="checkbox" level="1" value="环境危害" />&nbsp;<label>环境危害</label>&nbsp;&nbsp;&nbsp;</label></div></td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro p11 parent3" level="2" type='checkbox' value="危害水生环境" />&nbsp;&nbsp; 危害水生环境</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="p11" level="3" type='checkbox' value="接触" />&nbsp;&nbsp; 接触</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro p12 parent3" level="2" type='checkbox' value="危害臭氧层" />&nbsp;&nbsp; 危害臭氧层</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="p12" level="3" type='checkbox' value="挥发" />&nbsp;&nbsp; 挥发</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>

                <tr>
                    <td rowspan="7"><div class='radio-inline icheck'><label><input class="parent4" type="checkbox" level="1" value="管理缺陷" />&nbsp;<label>管理缺陷</label>&nbsp;&nbsp;&nbsp;</label></div></td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro h1 parent4" level="2" type='checkbox' value="存储环境不良" />&nbsp;&nbsp; 存储环境不良</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="h1" level="3" type='checkbox' value="空气不良" />&nbsp;&nbsp; 空气不良</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="h1" level="3" type='checkbox' value="室内温度超限" />&nbsp;&nbsp; 室内温度超限</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="h1" level="3" type='checkbox' value="湿度超限" />&nbsp;&nbsp; 湿度超限</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="h1" level="3" type='checkbox' value="气压不适" />&nbsp;&nbsp; 气压不适</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro h2 parent4" level="2" type='checkbox' value="安全技术明书缺失" />&nbsp;&nbsp; 安全技术明书缺失</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="h2" level="3" type='checkbox' value="危险化学品生产企业未提供与其生产的危险化学品相符的化学品安全技术说明书。" />&nbsp;&nbsp; 危险化学品生产企业未提供与其生产的危险化学品相符的化学品安全技术说明书。</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="h2" level="3" type='checkbox' value="化学品安全技术说明书所载明的内容不符合国家标准的要求。" />&nbsp;&nbsp; 化学品安全技术说明书所载明的内容不符合国家标准的要求。</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro h3 parent4" level="2" type='checkbox' value="安全标签缺失" />&nbsp;&nbsp; 安全标签缺失</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="h3" level="3" type='checkbox' value="危险化学品包装（包括外包装件）上未粘贴或者拴挂与包装内危险化学品相符的化学品安全标签。" />&nbsp;&nbsp;危险化学品包装（包括外包装件）上未粘贴或者拴挂与包装内危险化学品相符的化学品安全标签。</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="h3" level="3" type='checkbox' value="化学品安全标签所载明的内容不符合国家标准的要求。" />&nbsp;&nbsp; 化学品安全标签所载明的内容不符合国家标准的要求。</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro h4 parent4" level="2" type='checkbox' value="危化品包装不符合要求" />&nbsp;&nbsp; 危化品包装不符合要求</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="h4" level="3" type='checkbox' value="危险化学品包装物、容器的材质以及危险化学品包装的型式、规格、方法和单件质量（重量）,与所包装的危险化学品的性质和用途不相适应。" />&nbsp;&nbsp;危险化学品包装物、容器的材质以及危险化学品包装的型式、规格、方法和单件质量（重量）,与所包装的危险化学品的性质和用途不相适应。</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="h4" level="3" type='checkbox' value="重复使用的危险化学品包装物、容器,使用单位在重复使用前未进行检查；化学品包装物、容器存在安全隐患,未及时维修或者更换。" />&nbsp;&nbsp; 重复使用的危险化学品包装物、容器,使用单位在重复使用前未进行检查；化学品包装物、容器存在安全隐患,未及时维修或者更换。</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro h5 parent4" level="2" type='checkbox' value="安全防护设施缺失" />&nbsp;&nbsp; 安全防护设施缺失</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="h5" level="3" type='checkbox' value="生产、储存危险化学品的单位，未根据危险化学品生产、储存的危险化学品的种类和危险特性，在作业场所设置相应的监测、监控、通风、防晒、调温、防火、灭火、防爆、泄压、防毒、中和、防潮、防雷、防静电、防腐、防泄漏以及防护围堤或者隔离操作等安全设施、设备。" />&nbsp;&nbsp;生产、储存危险化学品的单位，未根据危险化学品生产、储存的危险化学品的种类和危险特性，在作业场所设置相应的监测、监控、通风、防晒、调温、防火、灭火、防爆、泄压、防毒、中和、防潮、防雷、防静电、防腐、防泄漏以及防护围堤或者隔离操作等安全设施、设备。</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="h5" level="3" type='checkbox' value="未按照国家标准、行业标准或者国家有关规定对监测、监控、通风、防晒、调温、防火、灭火、防爆、泄压、防毒、中和、防潮、防雷、防静电、防腐、防泄漏以及防护围堤或者隔离操作等安全设施、设备，进行经常性维护、保养。" />&nbsp;&nbsp; 未按照国家标准、行业标准或者国家有关规定对监测、监控、通风、防晒、调温、防火、灭火、防爆、泄压、防毒、中和、防潮、防雷、防静电、防腐、防泄漏以及防护围堤或者隔离操作等安全设施、设备，进行经常性维护、保养。</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="h5" level="3" type='checkbox' value="生产、储存危险化学品的单位，未在其作业场所和安全设施、设备上设置明显的安全警示标志。" />&nbsp;&nbsp;生产、储存危险化学品的单位，未在其作业场所和安全设施、设备上设置明显的安全警示标志。</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="h5" level="3" type='checkbox' value="监测、监控、通风、防晒、调温、防火、灭火、防爆、泄压、防毒、中和、防潮、防雷、防静电、防腐、防泄漏以及防护围堤或者隔离操作等安全设施、设备存在设备缺陷。" />&nbsp;&nbsp; 监测、监控、通风、防晒、调温、防火、灭火、防爆、泄压、防毒、中和、防潮、防雷、防静电、防腐、防泄漏以及防护围堤或者隔离操作等安全设施、设备存在设备缺陷。</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="h5" level="3" type='checkbox' value="生产、储存危险化学品的单位，未在其作业场所设置通信、报警装置，并保证处于适用状态。" />&nbsp;&nbsp;生产、储存危险化学品的单位，未在其作业场所设置通信、报警装置，并保证处于适用状态。</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="h5" level="3" type='checkbox' value="作业场所设置通信、报警装置存在设备缺陷。" />&nbsp;&nbsp; 作业场所设置通信、报警装置存在设备缺陷。</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro h6 parent4" level="2" type='checkbox' value="储存场所不符合规定" />&nbsp;&nbsp; 储存场所不符合规定</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="h6" level="3" type='checkbox' value="生产、储存危险化学品的企业，未委托具备国家规定的资质条件的机构，对本企业的安全生产条件每3年进行一次安全评估。" />&nbsp;&nbsp;生产、储存危险化学品的企业，未委托具备国家规定的资质条件的机构，对本企业的安全生产条件每3年进行一次安全评估。</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="h6" level="3" type='checkbox' value="危险化学品未储存在专用仓库、专用场地或者专用储存室（以下统称专用仓库）内，并无专人负责管理。" />&nbsp;&nbsp; 危险化学品未储存在专用仓库、专用场地或者专用储存室（以下统称专用仓库）内，并无专人负责管理。</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="h6" level="3" type='checkbox' value="剧毒化学品以及储存数量构成重大危险源的其他危险化学品，未在专用仓库内单独存放，未实行双人收发、双人保管制度。" />&nbsp;&nbsp;剧毒化学品以及储存数量构成重大危险源的其他危险化学品，未在专用仓库内单独存放，未实行双人收发、双人保管制度。</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="h6" level="3" type='checkbox' value="危险化学品专用仓库未按国家标准、行业标准的要求，设置明显的标志。" />&nbsp;&nbsp;危险化学品专用仓库未按国家标准、行业标准的要求，设置明显的标志。</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="h6" level="3" type='checkbox' value="储存剧毒化学品、易制爆危险化学品的专用仓库，未按照国家有规定设置相应的技术防范设施。" />&nbsp;&nbsp;储存剧毒化学品、易制爆危险化学品的专用仓库，未按照国家有规定设置相应的技术防范设施。</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="h6" level="3" type='checkbox' value="危险化学品的储存方式、方法以及储存数量不符合国家标准或者国家有关规定。" />&nbsp;&nbsp; 危险化学品的储存方式、方法以及储存数量不符合国家标准或者国家有关规定。</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="Pro h7 parent4" level="2" type='checkbox' value="安全设施未定期检测、检验" />&nbsp;&nbsp; 安全设施未定期检测、检验</label></div></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="h7" level="3" type='checkbox' value="储存危险化学品的单位未对其危险化学品专用仓库的安全设施、设备定期进行检测、检验。" />&nbsp;&nbsp;储存危险化学品的单位未对其危险化学品专用仓库的安全设施、设备定期进行检测、检验。</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
            </table>


            <table id="tab2" cellpadding="0" border="1" style="width: 100%; text-align: left;" align="left">
                <tr style="font-size:20px;font-weight:bold;height:40px;">
                    <td style="width:120px;"><label>危险源类别</label></td>
                    <td><label>危险源</label></td>
                    <td><label>危险因素</label></td>
                    <td><label>备注</label></td>
                </tr>
                <tr>
                    <td rowspan="12">
                        <div class='radio-inline icheck'><label><input class="parent51" type="checkbox" level="1" value="物理性危险和危害因素" />&nbsp;<label>物理性危险和危害因素</label>&nbsp;&nbsp;&nbsp;</label></div>
                    </td>
                    <td>
                        <div class='radio-inline icheck'><label><input class="Pro t2 parent51" type="checkbox" level="2" type='checkbox' value="工具及附件缺陷" /><label>工具及附件缺陷</label>&nbsp;&nbsp;&nbsp;</label></div>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="3" type='checkbox' value="强度不够" />&nbsp;&nbsp; 强度不够</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="3" type='checkbox' value="刚度不够" />&nbsp;&nbsp; 刚度不够</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="3" type='checkbox' value="稳定性差" />&nbsp;&nbsp; 稳定性差</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="3" type='checkbox' value="密封不良" />&nbsp;&nbsp; 密封不良</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="3" type='checkbox' value="耐腐蚀性差" />&nbsp;&nbsp; 耐腐蚀性差</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="3" type='checkbox' value="应力集中" />&nbsp;&nbsp; 应力集中</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="3" type='checkbox' value="外形缺陷" />&nbsp;&nbsp; 外形缺陷</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="3" type='checkbox' value="外露运动件" />&nbsp;&nbsp; 外露运动件</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="3" type='checkbox' value="操纵器缺陷" />&nbsp;&nbsp; 操纵器缺陷</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="3" type='checkbox' value="制动器缺陷" />&nbsp;&nbsp; 制动器缺陷</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="3" type='checkbox' value="控制器缺陷" />&nbsp;&nbsp; 控制器缺陷</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t2" level="3" type='checkbox' value="设备、设施、工具、附件其他缺陷" />&nbsp;&nbsp; 设备、设施、工具、附件其他缺陷</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <div class='radio-inline icheck'><label><input class="Pro t3 parent51" type="checkbox" level="2" type='checkbox' value="防护缺陷" /><label>防护缺陷</label>&nbsp;&nbsp;&nbsp;</label></div>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t3" level="3" type='checkbox' value="无防护" />&nbsp;&nbsp; 无防护</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t3" level="3" type='checkbox' value="防护装置、设施缺陷" />&nbsp;&nbsp; 防护装置、设施缺陷</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t3" level="3" type='checkbox' value="防护不当" />&nbsp;&nbsp; 防护不当</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t3" level="3" type='checkbox' value="支撑不当" />&nbsp;&nbsp; 支撑不当</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t3" level="3" type='checkbox' value="防护距离不够" />&nbsp;&nbsp; 防护距离不够</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t3" level="3" type='checkbox' value="其他防护缺陷" />&nbsp;&nbsp; 其他防护缺陷</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <div class='radio-inline icheck'><label><input class="Pro t4 parent51" type="checkbox" level="2" type='checkbox' value="电伤害" /><label>电伤害</label>&nbsp;&nbsp;&nbsp;</label></div>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t4" level="3" type='checkbox' value="带电部位裸露" />&nbsp;&nbsp; 带电部位裸露</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t4" level="3" type='checkbox' value="漏电" />&nbsp;&nbsp; 漏电</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t4" level="3" type='checkbox' value="静电和杂散电流" />&nbsp;&nbsp; 静电和杂散电流</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t4" level="3" type='checkbox' value="电火花" />&nbsp;&nbsp; 电火花</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t4" level="3" type='checkbox' value="其他电伤害" />&nbsp;&nbsp; 其他电伤害</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <div class='radio-inline icheck'><label><input class="Pro t6 parent51" type="checkbox" level="2" type='checkbox' value="噪声" /><label>噪声</label>&nbsp;&nbsp;&nbsp;</label></div>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t6" level="3" type='checkbox' value="噪声的声能" />&nbsp;&nbsp; 噪声的声能</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <div class='radio-inline icheck'><label><input class="Pro t7 parent51" type="checkbox" level="2" type='checkbox' value="振动危害" /><label>振动危害</label>&nbsp;&nbsp;&nbsp;</label></div>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t7" level="3" type='checkbox' value="机械性振动" />&nbsp;&nbsp; 机械性振动</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t7" level="3" type='checkbox' value="其他振动危害" />&nbsp;&nbsp; 其他振动危害</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <div class='radio-inline icheck'><label><input class="Pro t8 parent51" type="checkbox" level="2" type='checkbox' value="非电离辐射" /><label>非电离辐射</label>&nbsp;&nbsp;&nbsp;</label></div>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t8" level="3" type='checkbox' value="紫外辐射" />&nbsp;&nbsp; 紫外辐射</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t8" level="3" type='checkbox' value="高频电磁场" />&nbsp;&nbsp; 高频电磁场</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t8" level="3" type='checkbox' value="工频电场" />&nbsp;&nbsp; 工频电场</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <div class='radio-inline icheck'><label><input class="Pro t9 parent51" type="checkbox" level="2" type='checkbox' value="运动物伤害" /><label>运动物伤害</label>&nbsp;&nbsp;&nbsp;</label></div>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t9" level="3" type='checkbox' value="抛射物" />&nbsp;&nbsp; 抛射物</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t9" level="3" type='checkbox' value="飞溅物" />&nbsp;&nbsp; 飞溅物</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t9" level="3" type='checkbox' value="坠落物" />&nbsp;&nbsp; 坠落物</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t9" level="3" type='checkbox' value="反弹物" />&nbsp;&nbsp; 反弹物</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t9" level="3" type='checkbox' value="其他运动物伤害" />&nbsp;&nbsp; 其他运动物伤害</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <div class='radio-inline icheck'><label><input class="Pro t10 parent51" type="checkbox" level="2" type='checkbox' value="明火" /><label>明火</label>&nbsp;&nbsp;&nbsp;</label></div>
                    </td>
                    <td>
                        <ul></ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <div class='radio-inline icheck'><label><input class="Pro t11 parent51" type="checkbox" level="2" type='checkbox' value="高温物质" /><label>高温物质</label>&nbsp;&nbsp;&nbsp;</label></div>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t11" level="3" type='checkbox' value="高温气体" />&nbsp;&nbsp; 高温气体</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t11" level="3" type='checkbox' value="高温液体" />&nbsp;&nbsp; 高温液体</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t11" level="3" type='checkbox' value="高温固体" />&nbsp;&nbsp; 高温固体</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t11" level="3" type='checkbox' value="其他高温物质 " />&nbsp;&nbsp; 其他高温物质 </label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <div class='radio-inline icheck'><label><input class="Pro t12 parent51" type="checkbox" level="2" type='checkbox' value="高温物质" /><label>低温物质</label>&nbsp;&nbsp;&nbsp;</label></div>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t12" level="3" type='checkbox' value="低温气体" />&nbsp;&nbsp; 低温气体</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t12" level="3" type='checkbox' value="低温液体" />&nbsp;&nbsp; 低温液体</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t12" level="3" type='checkbox' value="低温固体" />&nbsp;&nbsp; 低温固体</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t12" level="3" type='checkbox' value="其他低温物质 " />&nbsp;&nbsp; 其他低温物质 </label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <div class='radio-inline icheck'><label><input class="Pro t13 parent51" type="checkbox" level="2" type='checkbox' value="信号缺陷" /><label>信号缺陷</label>&nbsp;&nbsp;&nbsp;</label></div>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t13" level="3" type='checkbox' value="无信号设施" />&nbsp;&nbsp; 无信号设施</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t13" level="3" type='checkbox' value="信号选用不当" />&nbsp;&nbsp; 信号选用不当</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t13" level="3" type='checkbox' value="信号位置不当" />&nbsp;&nbsp; 信号位置不当</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t13" level="3" type='checkbox' value="信号不清 " />&nbsp;&nbsp; 信号不清 </label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t13" level="3" type='checkbox' value="信号显示不准" />&nbsp;&nbsp; 信号显示不准</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t13" level="3" type='checkbox' value="其他信号缺陷 " />&nbsp;&nbsp; 其他信号缺陷 </label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <div class='radio-inline icheck'><label><input class="Pro t14 parent51" type="checkbox" level="2" type='checkbox' value="标志缺陷" /><label>标志缺陷</label>&nbsp;&nbsp;&nbsp;</label></div>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t14" level="3" type='checkbox' value="无标志" />&nbsp;&nbsp; 无标志</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t14" level="3" type='checkbox' value="标志不清晰" />&nbsp;&nbsp; 标志不清晰</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t14" level="3" type='checkbox' value="标志不规范" />&nbsp;&nbsp; 标志不规范</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t14" level="3" type='checkbox' value="标志选用不当 " />&nbsp;&nbsp; 标志选用不当 </label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t14" level="3" type='checkbox' value="标志位置缺陷" />&nbsp;&nbsp; 标志位置缺陷</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t14" level="3" type='checkbox' value="其他标志缺陷 " />&nbsp;&nbsp; 其他标志缺陷 </label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <div class='radio-inline icheck'><label><input class="parent52" type="checkbox" level="1" value="环境因素" />&nbsp;<label>环境因素</label>&nbsp;&nbsp;&nbsp;</label></div>
                    </td>
                    <td>
                        <div class='radio-inline icheck'><label><input class="Pro t15 parent52" type="checkbox" level="2" type='checkbox' value="室内作业场所环境不良" /><label>室内作业场所环境不良</label>&nbsp;&nbsp;&nbsp;</label></div>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t15" level="3" type='checkbox' value="室内温度、湿度、其他室内作业场所环境不良" />&nbsp;&nbsp; 室内温度、湿度、其他室内作业场所环境不良</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <div class='radio-inline icheck'><label><input class="parent53" type="checkbox" level="1" value="管理因素" />&nbsp;<label>管理因素</label>&nbsp;&nbsp;&nbsp;</label></div>
                    </td>
                    <td>
                        <div class='radio-inline icheck'><label><input class="Pro t16 parent53" type="checkbox" level="2" type='checkbox' value="管理因素缺陷" /><label>管理因素缺陷</label>&nbsp;&nbsp;&nbsp;</label></div>
                    </td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t16" level="3" type='checkbox' value="操作规程不规范" />&nbsp;&nbsp; 操作规程不规范</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t16" level="3" type='checkbox' value="事故应急预案及响应缺陷" />&nbsp;&nbsp; 事故应急预案及响应缺陷</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t16" level="3" type='checkbox' value="培训制度不完善" />&nbsp;&nbsp; 培训制度不完善</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t16" level="3" type='checkbox' value="无相关检验检测管理制度" />&nbsp;&nbsp; 无相关检验检测管理制度</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t16" level="3" type='checkbox' value="其他管理因素缺陷" />&nbsp;&nbsp; 其他管理因素缺陷</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
            </table>*@
        </div>
    </div>

</div>
