@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/business/common.js"></script>
<link href="~/content/scripts/plugins/icheck/skins/square/_all.css" type="text/css" rel="stylesheet" />
<script src="~/content/scripts/plugins/icheck/js/icheck.min.js" type="text/javascript"></script>
<script src="~/content/scripts/plugins/icheck/js/custom.min.js" type="text/javascript"></script>
<script>
    var risktype = request("risktype");
    $(function () {
        GetData(risktype, "风险种类", "", "divtab", "2");
        $("input").click(function () {
            $(this).attr("checked", this.checked);
            var cls = $(this).attr("class");
            var level = $(this).attr("level");
            switch (level) {
                case "3":
                    $(".Pro." + cls).prop("checked", "checked").attr("checked", "checked");
                    var cls2 = $(".Pro." + cls).attr("class");
                    $("input").each(function (i, item) {
                        if (cls2.indexOf($(item).attr("class")) >= 0 && $(item).attr("level") == 1) {
                            $(item).prop("checked", "checked").attr("checked", "checked");
                        }
                    })
                    break;
                case "2":
                    $("input").each(function (i, item) {
                        if (cls.indexOf($(item).attr("class")) >= 0 && $(item).attr("level") == 1) {
                            $(item).prop("checked", "checked").attr("checked", "checked");
                        }
                    })
                    break;
                default:
            }
        })
    })
    function AcceptClick() {
        var str1 = "";
        var str2 = "";
        var str3 = "职业性疾病(";
        var checkzyxjb = false;
        $("input").each(function (i, item) {
            if ($(item).attr("checked") && $(item).attr("level") == 1) {
                str1 += $(item).val();
                str1 += ","
            }
            else if ($(item).attr("checked") && $(item).attr("level") == 2) {
                str2 += $(item).val();
                str2 += ","
            }
            else if ($(item).attr("checked") && $(item).attr("level") == 3) {
                if ($(item).attr("special") == "zyxjb") {
                    str3 += $(item).val();
                    str3 += "、";
                    checkzyxjb = true;
                }
            }
        });
        if (checkzyxjb == true) {
            str2 = str2.replace("职业性疾病,", "") + str3.substring(0, str3.length - 1) + ")" + ",";
        }
        if (str1.length > 0) {
            str1 = str1.substring(0, str1.length - 1);
            top.win.window.$("#RiskCategory").val(str1);
        } else {
            top.win.window.$("#RiskCategory").val("");
        }
        if (str2.length > 0) {
            str2 = str2.substring(0, str2.length - 1);
            top.win.window.$("#TypesOfRisk").val(str2);
        } else {
            top.win.window.$("#TypesOfRisk").val("");
        }
        dialogClose();
    }
</script>
<div style="margin-top: 20px; margin-right: 30px;">

    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;危害后果</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
                <input id="ID" type="hidden" class="form-control" />
            </span>
        </div>
        <div class="panel-body" id="divtab">
        </div>
    </div>

</div>
