@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<style>
    .tdleft {
        text-align:left;
    }
</style>
<script>
    $(function () {
        $.ajax({
            url: "../../RiskDataBaseConfig/Workfile/GetWrokFileData",
            type: "GET",
            async: false,
            dataType: "json",
            success: function (result) {
                if (result.length > 0) {
                    $("#divtab").append(result[0].FileExplain);
                }
            }
        });
    })
</script>
<div style="margin-top: 20px; margin-right: 30px;">

    <div class="panel panel-default" >
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;作业任务清单</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
                <input id="ID" type="hidden" class="form-control" />
            </span>
        </div>
        <div class="panel-body" id="divtab">
            @*<h3 style="text-align:center;">设备生命周期内作业任务清单</h3>
            <table cellpadding="0" border="1" style="width:100%;text-align:center;" align="center">
                
                <tr style="font-size:20px;font-weight:bold;height:40px;">
                    <td style="width:40px;"><label>序号</label></td>
                    <td><label>设备生命周期阶段</label></td>
                    <td><label>可导致危险的作业任务示例</label></td>
                </tr>
                <tr>
                    <td >1</td>
                    <td class="tdleft">运输</td>
                    <td class="tdleft">
                        -运输<br />
                        -接卸
                    </td>
                </tr>
                <tr>
                    <td >2</td>
                    <td class="tdleft">安装</td>
                    <td class="tdleft">
                        -安装准备（如地基、隔板装置）<br />
                        -零部件、设备的安装<br />
                        -与处理系统（如排气系统、污水装置）连接<br />
                        -与动力源（如电源、压缩空气）连接<br />
                        -与控制系统连接，控制逻辑的设定<br />
                        -辅助流体（如润滑油、润滑剂）的供给、填充、加装;
                        -安全防护装置（如防护罩等）<br />
                        -固定、锚定
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td class="tdleft">试运转</td>
                    <td class="tdleft">
                        -设备逻辑试验<br />
                        -设备空载运行<br />
                        -测试<br />
                        -负载试验或最大负载试验
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td class="tdleft">运行</td>
                    <td class="tdleft">
                        -设备操作调整<br />
                        -设备启停<br />
                        -设备试验<br />
                        -设备定期切换<br />
                        -设备异常处理<br />
                    </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td class="tdleft">
                        清洁<br />
                        维护
                    </td>
                    <td class="tdleft">
                        -调整<br />
                        -清洁<br />
                        -拆除/移除设备的部件、组件和装置<br />
                        -保养<br />
                        -润滑<br />
                        -更换零部件<br />
                        -更换磨损部件
                    </td>
                </tr>
                <tr>
                    <td>6</td>
                    <td class="tdleft">故障查找/故障排除</td>
                    <td class="tdleft">
                        -调整<br />
                        -拆除/移除设备的部件、组件和装置<br />
                        -故障查找<br />
                        -控制装置和保护装置失效后恢复<br />
                        -卡滞<br />
                        -修理<br />
                        -更换机械的部件、组件和装置<br />
                        -营救被困人员
                    </td>
                </tr>
                <tr>
                    <td>7</td>
                    <td class="tdleft">
                        拆卸<br />
                        停用
                    </td>
                    <td class="tdleft">
                        -断开及能量消耗<br />
                        -停用<br />
                        -拆卸
                    </td>
                </tr>
            </table>*@

        </div>
    </div>

</div>
