@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/business/common.js"></script>
<link href="~/content/scripts/plugins/icheck/skins/square/_all.css" type="text/css" rel="stylesheet" />
<script src="~/content/scripts/plugins/icheck/js/icheck.min.js" type="text/javascript"></script>
<script src="~/content/scripts/plugins/icheck/js/custom.min.js" type="text/javascript"></script>

<script>
    var flag = 0;

    $(function () {
        GetData("作业风险", "危害因素", "作业前危害和有害因素分类", "divtab", "2");
        GetData("作业风险", "危害因素", "作业中人的危险和有害因素分类", "divtab", "2");
        $("#tab2").hide();
        $("#tab1 input").click(function () {
            $(this).attr("checked", this.checked);
            var cls = $(this).attr("class");
            var level = $(this).attr("level");
            switch (level) {
                case "3":
                    $("#tab1 input").each(function (i, item) {
                        if ($(item).attr("class") != cls && $(item).attr("level") == 3) {
                            $(item).prop("checked", false).attr("checked", false);
                        }
                    })
                    break;
                default:
            }
        })
        $("#tab2 input").click(function () {
            $(this).attr("checked", "checked");
            var cls = $(this).attr("class");
            var level = $(this).attr("level");
            switch (level) {
                case "4":
                    $("#tab2 input").each(function (i, item) {
                        if ($(item).attr("level") == 3 && ($(item).attr("class").indexOf(cls) >= 0)) {
                            $(item).prop("checked", "checked").attr("checked", "checked");
                            var Itemcls = $(item).attr("class");
                        }
                    })
                    break;
                default:
            }
        })
    })

    function changeTab(obj) {
        if ($(obj).val() == "1") {
            flag = 1;
            $("#tab1").hide();
            $("#tab2").show();
        } else {
            flag = 0;
            $("#tab1").show();
            $("#tab2").hide();
        }
    }
    function AcceptClick() {
        var str = "";
        var str1 = "";
        $("#tab1 input").each(function (i, item) {
            if ($(item).attr("checked") && $(item).attr("level") == 3) {
                str += $(item).val() + ",";
            }
        })
        $("#tab2 input").each(function (i, item) {
            if ($(item).attr("checked") && $(item).attr("level") == 3) {
                str1 += $(item).val();
                var cls = $(item).attr("class");
                str1 += "("
                var str2 = "";
                $("#tab2 input").each(function (i, item) {
                    if ($(item).attr("checked") && $(item).attr("level") == 4 && (cls.indexOf($(item).attr("class")) >= 0)) {
                        str2 += $(item).val() + ",";
                    }
                })
                if (str2.length > 0) {
                    str2 = str2.substring(0, str2.length - 1);
                    str1 += str2 + "),";
                } else {
                    str1 = str1.substring(0, str1.length - 1)+",";
                }
              
            }
        })
        if (str.length > 0) {
            str = str.substring(0, str.length - 1);
        }
        if (str1.length > 0) {
            str1 = str1.substring(0, str1.length - 1);
        } 
        if (flag == 1) {
            top.win.window.$("#RiskDesc").val(str1);
        } else {
            top.win.window.$("#RiskDesc").val(str);
        }
        dialogClose();
    }
</script>
<div style="margin-top: 20px; margin-right: 30px;">

    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;危害因素</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
                <input id="ID" type="hidden" class="form-control" />
            </span>
        </div>
        <div class="panel-body" id="divtab">
            <span>类别：<input type="radio" value="0" name="r1" checked="checked" onclick="changeTab(this)" />&nbsp;<label>作业前危险和有害因素分类</label>&nbsp;&nbsp;&nbsp;<input type="radio" value="1" name="r1" onclick="changeTab(this)" />&nbsp;<label>作业中人的危险和有害因素分类</label>&nbsp;&nbsp;&nbsp;</span>
            @*<table id="tab1" cellpadding="0" border="1" style="width: 100%; text-align: left;" align="left">

                <tr style="font-size:20px;font-weight:bold;height:40px;">
                    <td style="width:120px;"><label>分类</label></td>
                    <td><label>项目</label></td>
                    <td><label>危害因素</label></td>
                </tr>
                <tr>
                    <td rowspan="5">&nbsp;<label>作业前危害和有害因素分类</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;<label>设备设施</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t1" level="3" value="突然启动" />&nbsp;&nbsp; 突然启动</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t1" level="3" value="接地不良" />&nbsp;&nbsp; 接地不良</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t1" level="3" value="标识残缺" />&nbsp;&nbsp; 标识残缺</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t1" class="t1" level="3" value="隔离不全" />&nbsp;&nbsp; 隔离不全</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t1" level="3" value="报警失灵" />&nbsp;&nbsp; 报警失灵</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t1" level="3" value="特种设备未检验" />&nbsp;&nbsp; 特种设备未检验</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;<label>现场环境</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t2" level="3" value="高空临边" />&nbsp;&nbsp; 高空临边</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t2" level="3" value="通风不良" />&nbsp;&nbsp; 通风不良</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t2" level="3" value="照明不足" />&nbsp;&nbsp; 照明不足</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t2" level="3" value="间距不够" />&nbsp;&nbsp; 间距不够</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t2" level="3" value="通道不畅" />&nbsp;&nbsp; 通道不畅</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t2" level="3" value="标示不清" />&nbsp;&nbsp; 标示不清</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t2" level="3" value="地面湿滑" />&nbsp;&nbsp; 地面湿滑</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;<label>人员因素</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t3" level="3" value="精神不佳" />&nbsp;&nbsp; 精神不佳</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t3" level="3" value="带病作业" />&nbsp;&nbsp; 带病作业</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t3" level="3" value="作业禁忌" />&nbsp;&nbsp; 作业禁忌</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t3" level="3" value="未经培训" />&nbsp;&nbsp; 未经培训</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t3" level="3" value="不具资格" />&nbsp;&nbsp; 不具资格</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t3" level="3" value="不熟悉设备" />&nbsp;&nbsp; 不熟悉设备</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t3" level="3" value="不熟悉工艺" />&nbsp;&nbsp; 不熟悉工艺</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t3" level="3" value="不熟悉应急" />&nbsp;&nbsp; 不熟悉应急</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t3" level="3" value="人员安排不当" />&nbsp;&nbsp; 人员安排不当</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;<label>防护用品</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t4" level="3" value="选用不当" />&nbsp;&nbsp; 选用不当</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t4" level="3" value="残损失效" />&nbsp;&nbsp; 残损失效</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t4" level="3" value="超期使用" />&nbsp;&nbsp; 超期使用</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t4" level="3" value="佩戴不当" />&nbsp;&nbsp; 佩戴不当</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t4" level="3" value="无法应急" />&nbsp;&nbsp; 无法应急</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;<label>工具器具</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t5" level="3" value="选用不当" />&nbsp;&nbsp; 选用不当</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t5" level="3" value="残损失效" />&nbsp;&nbsp; 残损失效</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t5" level="3" value="功能不全" />&nbsp;&nbsp; 功能不全</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t5" level="3" value="未经检验" />&nbsp;&nbsp; 未经检验</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t5" level="3" value="使用不当" />&nbsp;&nbsp; 使用不当</label></div></li>
                        </ul>
                    </td>
                </tr>
            </table>
            <table id="tab2" cellpadding="0" border="1" style="width: 100%; text-align: left;" align="left">

                <tr style="font-size:20px;font-weight:bold;height:40px;">
                    <td style="width:120px;"><label>分类</label></td>
                    <td><label>项目</label></td>
                    <td colspan="2" style="width:40%;"><label>危害因素</label></td>
                    <td><label>示例</label></td>
                </tr>
                <tr>
                    <td rowspan="20">&nbsp;<label>作业中人的危险和有害因素分类</label>&nbsp;&nbsp;&nbsp;</td>
                    <td rowspan="5">&nbsp;<label>人的因素：心理、生理性危险和有害因素</label>&nbsp;&nbsp;&nbsp;</td>
                    <td><input type="checkbox" level="3" class="m1 p2 p1" value="负荷超限" rowspan="4" />&nbsp;<label>负荷超限</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="4" class="m1" value="体力负荷超限" />&nbsp;&nbsp; 体力负荷超限</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="4" class="m1" value="听力负荷超限" />&nbsp;&nbsp; 听力负荷超限</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="4" class="m1" value="视力负荷超限" />&nbsp;&nbsp; 视力负荷超限</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="4" class="m1" value="其他负荷超限" />&nbsp;&nbsp; 其他负荷超限</label></div></li>

                        </ul>
                    </td>
                    <td><label>连续重体力劳动、环境温度超过40℃以上露天作业、照明不足等</label>&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td><input type="checkbox" level="3" class="m2 p2 p1" value="健康状况异常" />&nbsp;<label>健康状况异常</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>   </td>
                    <td><label>带病作业等</label>&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td><input type="checkbox" level="3" class="m3 p2 p1" value="从事禁忌作业" />&nbsp;<label>从事禁忌作业</label>&nbsp;&nbsp;&nbsp;</td>
                    <td></td>
                    <td><label>人员有高空禁忌症等</label>&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td><input type="checkbox" level="3" class="m4 p2 p1" value="心理异常" />&nbsp;<label>心理异常</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="4" class="m4" value="情绪异常" />&nbsp;&nbsp; 情绪异常</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="4" class="m4" value="冒险心理" />&nbsp;&nbsp; 冒险心理</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="4" class="m4" value="过度紧张" />&nbsp;&nbsp; 过度紧张</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="4" class="m4" value="其他心理异常" />&nbsp;&nbsp; 其他心理异常</label></div></li>
                        </ul>
                    </td>
                    <td><label>精神不佳、情绪不稳定、行车司机注意力不集中等</label>&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td><input type="checkbox" level="3" class="m5 p2 p1" value="辨识功能缺陷" />&nbsp;<label>辨识功能缺陷</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="4" class="m5" value="感知延迟" />&nbsp;&nbsp; 感知延迟</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="4" class="m5" value="辨识错误" />&nbsp;&nbsp; 辨识错误</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="4" class="m5" value="其他辨识功能缺陷" />&nbsp;&nbsp; 其他辨识功能缺陷</label></div></li>
                        </ul>
                    </td>
                    <td><label>走错间隔等</label>&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td rowspan="3">&nbsp;<label>人的因素：行为性危险和有害因素</label>&nbsp;&nbsp;&nbsp;</td>
                    <td><input type="checkbox" level="3" class="p1 p3 m6" value="指挥错误" rowspan="指挥错误" />&nbsp;<label>指挥错误</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="4" class="m6" value="指挥失误" />&nbsp;&nbsp; 指挥失误</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="4" class="m6" value="违章指挥" />&nbsp;&nbsp; 违章指挥</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="4" class="m6" value="其他指挥错误" />&nbsp;&nbsp; 其他指挥错误</label></div></li>
                        </ul>
                    </td>
                    <td><label>人员安排不当、起重作业指挥混乱等</label>&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td><input type="checkbox" level="3" class="p1 p3 m7" value="操作错误" rowspan="3" />&nbsp;<label>操作错误</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="4" class="m7" value="误操作" />&nbsp;&nbsp; 误操作</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="4" class="m7" value="违章作业" />&nbsp;&nbsp; 违章作业</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="4" class="m7" value="其他操作错误" />&nbsp;&nbsp; 其他操作错误</label></div></li>
                        </ul>
                    </td>
                    <td><label>误将运行的设备停电、单手抡大锤、手提电动工具的导线或转动部分、在起吊重物下逗留和行走等</label>&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td><input type="checkbox" class="p1 p3 m8" level="3" value="监护失误" />&nbsp;<label>监护失误</label>&nbsp;&nbsp;&nbsp;</td>
                    <td></td>
                    <td><label>作业无人监护</label>&nbsp;&nbsp;&nbsp;</td>
                </tr>
            </table>*@
        </div>
    </div>

</div>
