@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/business/common.js"></script>
<link href="~/content/scripts/plugins/icheck/skins/square/_all.css" type="text/css" rel="stylesheet" />
<script src="~/content/scripts/plugins/icheck/js/icheck.min.js" type="text/javascript"></script>
<script src="~/content/scripts/plugins/icheck/js/custom.min.js" type="text/javascript"></script>
<script>
    $(function () {
        GetData("作业风险", "危害后果", "", "divtab", "2");
        $("input").click(function () {
            $(this).attr("checked", this.checked);
            var cls = $(this).attr("class");
            var level = $(this).attr("level");
            switch (level) {
                case "3":
                    $(".Pro." + cls).prop("checked", "checked").attr("checked", "checked");
                    var cls2 = $(".Pro." + cls).attr("class");
                    $("input").each(function (i, item) {
                        if (cls2.indexOf($(item).attr("class")) >= 0 && $(item).attr("level") == 1) {
                            $(item).prop("checked", "checked").attr("checked", "checked");
                        }
                    })
                    break;
                case "2":
                    $("input").each(function (i, item) {
                        if (cls.indexOf($(item).attr("class")) >= 0 && $(item).attr("level") == 1) {
                            $(item).prop("checked", "checked").attr("checked", "checked");
                        }
                    })
                    break;
                default:
            }
        })
    })
    function AcceptClick() {
        var str1 = "";
        $("input").each(function (i, item) {
            if ($(item).attr("checked") && $(item).attr("level") == 2) {
                str1 += $(item).val();
                var cls = $(item).attr("class");
                str1 += "("
                var str2 = "";
                $("input").each(function (i, item) {
                    if ($(item).attr("checked") && $(item).attr("level") == 3 && (cls.indexOf($(item).attr("class")) >= 0)) {
                        str2 += $(item).val() + ",";
                    }
                })
                if (str2.length > 0) {
                    str2 = str2.substring(0, str2.length - 1);
                    str1 += str2 + "),";
                } else {
                    str1 = str1.substring(0, str1.length - 1) + ",";
                }

            }
        })
        if (str1.length > 0) {
            str1 = str1.substring(0, str1.length - 1);
            top.win.window.$("#Result").val(str1);
        } else {
            top.win.window.$("#Result").val("");
        }
        dialogClose();
    }
</script>
<div style="margin-top: 20px; margin-right: 30px;">

    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;危害后果</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
                <input id="ID" type="hidden" class="form-control" />
            </span>
        </div>
        <div class="panel-body" id="divtab">
            @*<table id="tab1" cellpadding="0" border="1" style="width: 100%; text-align: left;" align="left">
                <tr style="font-size:20px;font-weight:bold;height:40px;">
                    <td style="width:120px;"><label>项目</label></td>
                    <td colspan="2"><label>危害后果</label></td>
                </tr>
                <tr>
                    <td>&nbsp;<label>企业职工伤亡事故</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="Pro p1" level="2" value="物体打击" />&nbsp;&nbsp; 物体打击</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="Pro p1" level="2" value="车辆伤害" />&nbsp;&nbsp; 车辆伤害</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="Pro p1" level="2" value="机械伤害" />&nbsp;&nbsp; 机械伤害</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="Pro p1" level="2" value="起重伤害" />&nbsp;&nbsp; 起重伤害</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="Pro p1" level="2" value="触电" />&nbsp;&nbsp; 触电</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="Pro p1" level="2" value="淹溺" />&nbsp;&nbsp; 淹溺</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="Pro p1" level="2" value="灼烫" />&nbsp;&nbsp; 灼烫</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="Pro p1" level="2" value="火灾" />&nbsp;&nbsp; 火灾</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="Pro p1" level="2" value="高处坠落" />&nbsp;&nbsp; 高处坠落</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="Pro p1" level="2" value="坍塌" />&nbsp;&nbsp; 坍塌</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="Pro p1" level="2" value="冒顶片帮" />&nbsp;&nbsp; 冒顶片帮</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="Pro p1" level="2" value="透水" />&nbsp;&nbsp; 透水</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="Pro p1" level="2" value="放炮" />&nbsp;&nbsp; 放炮</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="Pro p1" level="2" value="火药爆炸" />&nbsp;&nbsp; 火药爆炸</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="Pro p1" level="2" value="瓦斯爆炸" />&nbsp;&nbsp; 瓦斯爆炸</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="Pro p1" level="2" value="锅炉爆炸" />&nbsp;&nbsp; 锅炉爆炸</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="Pro p1" level="2" value="容器爆炸" />&nbsp;&nbsp; 容器爆炸</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="Pro p1" level="2" value="其他爆炸" />&nbsp;&nbsp; 其他爆炸</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="Pro p1" level="2" value="中毒和窒息" />&nbsp;&nbsp; 中毒和窒息</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="Pro p1" level="2" value="其他伤害" />&nbsp;&nbsp; 其他伤害</label></div></li>
                        </ul>
                    </td>
                    <td style="width:30%"></td>
                </tr>
                <tr>
                    <td rowspan="11">&nbsp;<label>企业部分职业病</label>&nbsp;&nbsp;&nbsp;</td>
                    <td rowspan="2"><input type="checkbox" level="2" class="Pro t2 p2" value="职业性尘肺病及其他呼吸系统疾病" />&nbsp;<label>职业性尘肺病及其他呼吸系统疾病</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <label>尘肺病：</label>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t2" level="3" value="矽肺" />&nbsp;&nbsp; 矽肺</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t2" level="3" value="煤工尘肺" />&nbsp;&nbsp; 煤工尘肺</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t2" level="3" value="石棉肺" />&nbsp;&nbsp; 石棉肺</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t2" level="3" value="电焊工尘肺" />&nbsp;&nbsp; 电焊工尘肺</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t2" level="3" value="其它" />&nbsp;&nbsp; 其它</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>

                    <td>
                        <label>其他呼吸系统疾病：</label>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t2" level="3" value="过敏性肺炎" />&nbsp;&nbsp; 过敏性肺炎</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t2" level="3" value="金属及其化合物粉尘肺沉着病（锡、铁、锑、钡及其化合物等）" />&nbsp;&nbsp; 金属及其化合物粉尘肺沉着病（锡、铁、锑、钡及其化合物等）</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t2" level="3" value="其它" />&nbsp;&nbsp; 其它</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" level="2" value="职业性皮肤病" class="Pro t3 p2" />&nbsp;<label>职业性皮肤病</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t3" level="3" value="接触性皮炎" />&nbsp;&nbsp; 接触性皮炎</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t3" level="3" value="光接触性皮炎" />&nbsp;&nbsp; 光接触性皮炎</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t3" level="3" " value=" 电光性皮炎" />&nbsp;&nbsp; 电光性皮炎</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t3" level="3" value="化学性皮肤灼伤" />&nbsp;&nbsp; 化学性皮肤灼伤</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t3" level="3" value="其它" />&nbsp;&nbsp; 其它</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" level="2" value="职业性眼病" class="Pro t4 p2" />&nbsp;<label>职业性眼病</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t4" level="3" value="化学性眼部灼伤" />&nbsp;&nbsp; 化学性眼部灼伤</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t4" level="3" value="电光性眼炎" />&nbsp;&nbsp; 电光性眼炎</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t4" level="3" value="其它" />&nbsp;&nbsp; 其它</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" level="2" value="职业性耳鼻喉口腔疾病" class="Pro t5 p2" />&nbsp;<label>职业性耳鼻喉口腔疾病</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t5" level="3" value="噪声聋" />&nbsp;&nbsp; 噪声聋</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t5" level="3" value="爆震聋" />&nbsp;&nbsp; 爆震聋</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t5" level="3" value="其它" />&nbsp;&nbsp; 其它</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" level="2" value="职业性化学中毒" class="Pro t6 p2" />&nbsp;<label>职业性化学中毒</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t6" level="3" value="钒及其化合物中毒" />&nbsp;&nbsp; 钒及其化合物中毒</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t6" level="3" value="磷及其化合物中毒" />&nbsp;&nbsp; 磷及其化合物中毒</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t6" level="3" value="氯气中毒" />&nbsp;&nbsp; 氯气中毒</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t6" level="3" value="二氧化硫中毒" />&nbsp;&nbsp; 二氧化硫中毒</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t6" level="3" value="氨中毒" />&nbsp;&nbsp; 氨中毒</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t6" level="3" value="氮氧化合物中毒" />&nbsp;&nbsp; 氮氧化合物中毒</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t6" level="3" value="一氧化碳中毒" />&nbsp;&nbsp; 一氧化碳中毒</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t6" level="3" value="二硫化碳中毒" />&nbsp;&nbsp; 二硫化碳中毒</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t6" level="3" value="硫化氢中毒" />&nbsp;&nbsp; 硫化氢中毒</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t6" level="3" value="汽油中毒" />&nbsp;&nbsp; 汽油中毒</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t6" level="3" value="其它" />&nbsp;&nbsp; 其它</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" level="2" value="物理因素所致职业病" class="Pro t7 p2" />&nbsp;<label>物理因素所致职业病</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t7" level="3" value="中暑" />&nbsp;&nbsp; 中暑</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t7" level="3" value="减压病" />&nbsp;&nbsp; 减压病</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t7" level="3" value="手臂振动病" />&nbsp;&nbsp; 手臂振动病</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t7" level="3" value="激光所致眼（角膜、晶状体、视网膜）损伤" />&nbsp;&nbsp; 激光所致眼（角膜、晶状体、视网膜）损伤</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t7" level="3" value="冻伤" />&nbsp;&nbsp; 冻伤</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t7" level="3" value="其它" />&nbsp;&nbsp; 其它</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" level="2" class="Pro t8 p2" value="职业性放射性疾病" />&nbsp;<label>职业性放射性疾病</label>&nbsp;&nbsp;&nbsp;</td>
                    <td></td>
                </tr>
                <tr>
                    <td><input type="checkbox" level="2" class="Pro t9 p2" value="职业性传染病" />&nbsp;<label>职业性传染病</label>&nbsp;&nbsp;&nbsp;</td>
                    <td></td>
                </tr>
                <tr>
                    <td><input type="checkbox" level="2" class="Pro t10 p2" value="职业性肿瘤" />&nbsp;<label>职业性肿瘤</label>&nbsp;&nbsp;&nbsp;</td>
                    <td></td>
                </tr>
                <tr>
                    <td><input type="checkbox" level="2" class="Pro t11 p2" value="其他职业病" />&nbsp;<label>其他职业病</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t11" level="3" value="金属烟热" />&nbsp;&nbsp; 金属烟热</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t11" level="3" value="其它" />&nbsp;&nbsp; 其它</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;<label>按污染对象分类的环境污染</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="Pro p3" level="2" value="大气环境污染" />&nbsp;&nbsp; 大气环境污染</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="Pro p3" level="2" value="地表水体环境污染" />&nbsp;&nbsp; 地表水体环境污染</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="Pro p3" level="2" value="地下水体环境污染" />&nbsp;&nbsp; 地下水体环境污染</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="Pro p3" level="2" value="海洋环境污染" />&nbsp;&nbsp; 海洋环境污染</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="Pro p3" level="2" value="土壤环境污染" />&nbsp;&nbsp; 土壤环境污染</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="Pro p3" level="2" value="外层空间环境污染" />&nbsp;&nbsp; 外层空间环境污染</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="Pro p3" level="2" value="声环境污染" />&nbsp;&nbsp; 声环境污染</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="Pro p3" level="2" value="振动环境污染" />&nbsp;&nbsp; 振动环境污染</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="Pro p3" level="2" value="放射性环境污染" />&nbsp;&nbsp; 放射性环境污染</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="Pro p3" level="2" value="电磁环境污染" />&nbsp;&nbsp; 电磁环境污染</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="Pro p3" level="2" value="光环境污染" />&nbsp;&nbsp; 光环境污染</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="Pro p3" level="2" value="热环境污染" />&nbsp;&nbsp; 热环境污染</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="Pro p3" level="2" value="嗅觉环境污染" />&nbsp;&nbsp; 嗅觉环境污染</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="Pro p3" level="2" value="其他环境污染" />&nbsp;&nbsp; 其他环境污染</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>&nbsp;<label>设备危害后果</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="Pro p4" level="2" value="设备部件损坏" />&nbsp;&nbsp; 设备部件损坏</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="Pro p4" level="2" value="设备降出力运行" />&nbsp;&nbsp; 设备降出力运行</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="Pro p4" level="2" value="设备停运" />&nbsp;&nbsp; 设备停运</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="Pro p4" level="2" value="设备泄露" />&nbsp;&nbsp; 设备泄露</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="Pro p4" level="2" value="系统效率降低" />&nbsp;&nbsp; 系统效率降低</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="Pro p4" level="2" value="系统停运" />&nbsp;&nbsp; 系统停运</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="Pro p4" level="2" value="机组降出力运行" />&nbsp;&nbsp; 机组降出力运行</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="Pro p4" level="2" value="机组停运" />&nbsp;&nbsp; 机组停运</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="Pro p4" level="2" value="其他设备危害" />&nbsp;&nbsp; 其他设备危害</label></div></li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
            </table>*@



        </div>
    </div>

</div>
