@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/business/common.js"></script>

<script>
    var IsGdxy = false;
    $(function () {
        IsGdxy = GetVersion();
        GetData("作业风险", "工序(作业步骤)", "", "divtab", "2");
        $("input").click(function () {
            $(this).attr("checked", this.checked);
            var cls = $(this).attr("class");
            var level = $(this).attr("level");
            switch (level) {
                case "3":
                    $("input").each(function (i, item) {
                        if ($(item).attr("class") != cls && $(item).attr("level") == 3) {
                            $(item).prop("checked", false).attr("checked", false);
                        }

                        if ($(item).attr("level") == 2 && !($(item).attr("class").indexOf(cls) >= 0)) {
                            $(item).prop("checked", false).attr("checked", false);
                        }
                    })
                    $(".Pro." + cls).prop("checked", "checked").attr("checked", "checked");
                    var cls2 = $(".Pro." + cls).attr("class");
                    $("input").each(function (i, item) {
                        if (!(cls2.indexOf($(item).attr("class")) >= 0) && $(item).attr("level") == 1) {
                            $(item).prop("checked", false).attr("checked", false);
                        } else if (cls2.indexOf($(item).attr("class")) >= 0 && $(item).attr("level") == 1) {
                            $(item).prop("checked", "checked").attr("checked", "checked");
                        }
                    })
                    break;
                case "2":

                    $("input").each(function (i, item) {
                        if (!(cls.indexOf($(item).attr("class")) >= 0) && $(item).attr("level") == 3) {
                            $(item).prop("checked", false).attr("checked", false);
                        }
                        if (!(cls.indexOf($(item).attr("class")) >= 0) && $(item).attr("level") == 2) {
                            $(item).prop("checked", false).attr("checked", false);
                        }

                        if (!(cls.indexOf($(item).attr("class")) >= 0) && $(item).attr("level") == 1) {
                            $(item).prop("checked", false).attr("checked", false);
                        } else if (cls.indexOf($(item).attr("class")) >= 0 && $(item).attr("level") == 1) {
                            $(item).prop("checked", "checked").attr("checked", "checked");
                        }
                    })
                    break;
                case "1":
                    $("input").each(function (i, item) {
                        if (!(cls.indexOf($(item).attr("class")) >= 0) && $(item).attr("level") == 2) {
                            $(item).prop("checked", false).attr("checked", false);
                            var itcls=$(item).attr("class");
                            $("input").each(function (i, item) {
                                if (!(cls.indexOf($(item).attr("class")) >= 0) && $(item).attr("level") == 3) {
                                    $(item).prop("checked", false).attr("checked", false);
                                }
                            })
                        }
                        if (!(cls == $(item).attr("class")) && $(item).attr("level") == 1) {
                            $(item).prop("checked", false).attr("checked", false);
                        } else if (cls == $(item).attr("class") && $(item).attr("level") == 1) {
                            $(item).prop("checked", "checked").attr("checked", "checked");
                        }
                    })
                    break;
                default:
            }
        })
    })
    function AcceptClick() {
        var str = "";
        if (IsGdxy) {
            $("input").each(function (i, item) {
                if ($(item).attr("checked") && $(item).attr("level") == 2) {
                    top.win.window.$("#Project").val($(item).val());
                }
                if ($(item).attr("checked") && $(item).attr("level") == 3) {
                    str += $(item).val() + ",";
                }
                if ($(item).attr("checked") && $(item).attr("level") == 1) {
                    top.win.window.$("#Process").val($(item).val());
                }
            })
            if (str.length > 0) {
                str = str.substring(0, str.length - 1);
                top.win.window.$("#DangerSource").val(str);
            } else {
                top.win.window.$("#DangerSource").val("");
            }
        } else {
            var process = "";
            $("input").each(function (i, item) {
                if ($(item).attr("checked") && $(item).attr("level") == 2) {
                    process+=$(item).val();
                }
                if ($(item).attr("checked") && $(item).attr("level") == 3) {
                    str += $(item).val() + ",";
                }
                if ($(item).attr("checked") && $(item).attr("level") == 1) {
                    process += $(item).val();
                }
            })
            top.win.window.$("#Process").val(process);
            if (str.length > 0) {
                str = str.substring(0, str.length - 1);
                top.win.window.$("#DangerSource").val(str);
            } else {
                top.win.window.$("#DangerSource").val("");
            }
        }
       
        dialogClose();
    }
</script>

<div style="margin-top: 20px; margin-right: 30px;">

    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;作业步骤清单</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
                <input id="ID" type="hidden" class="form-control" />
            </span>
        </div>
        <div id="divtab" class="panel-body">
            
            @*<table id="tab1" cellpadding="0" border="1" style="width: 100%; text-align: left;" align="left">
                <tr style="font-size:20px;font-weight:bold;height:40px;">
                    <td style="width:120px;"><label>分类</label></td>
                    <td><label>项目</label></td>
                    <td><label>危险源</label></td>
                </tr>
                <tr>
                    <td rowspan="5"><label><input class="parent" type="checkbox" level="1" value="作业前风险辨识" /><label>作业前风险辨识</label>&nbsp;&nbsp;&nbsp;</label></td>
                    <td><label><input type="checkbox" level="2" class="Pro t1 parent" value="设备设施" />&nbsp;<label>设备设施</label>&nbsp;&nbsp;&nbsp;</label></td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="高压电源" />&nbsp;&nbsp; 高压电源</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="低压电源" />&nbsp;&nbsp; 低压电源</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="感应电压" />&nbsp;&nbsp; 感应电压</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="电气设备" />&nbsp;&nbsp; 电气设备</label></div></li>
                            <li><div class='radio-inline icheck'><label><input class="t1" level="3" type='checkbox' value="转动设备" />&nbsp;&nbsp; 转动设备</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><input level="2" type="checkbox" value="现场环境" class="Pro t2 parent" />&nbsp;<label>现场环境</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t2" level="3" value="噪音" />&nbsp;&nbsp; 噪音</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t2" level="3" value="粉尘" />&nbsp;&nbsp; 粉尘</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t2" level="3" value="高温" />&nbsp;&nbsp; 高温</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t2" level="3" value="低温" />&nbsp;&nbsp; 低温</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t2" level="3" value="高压" />&nbsp;&nbsp; 高压</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t2" level="3" value="振动" />&nbsp;&nbsp; 振动</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t2" level="3" value="辐射" />&nbsp;&nbsp; 辐射</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t2" level="3" value="绊脚物" />&nbsp;&nbsp; 绊脚物</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t2" level="3" value="废料" />&nbsp;&nbsp; 废料</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' class="t2" level="3" value="建筑物" />&nbsp;&nbsp; 建筑物</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" value="人员因素" level="2" class="Pro t3 parent" />&nbsp;<label>人员因素</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t3" value="作业人员" />&nbsp;&nbsp; 作业人员</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" value="防护用品" class="Pro t4 parent" level="2" />&nbsp;<label>防护用品</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t4" value="安全带" />&nbsp;&nbsp; 安全带</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t4" value="安全帽" />&nbsp;&nbsp; 安全帽</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t4" value="工作服" />&nbsp;&nbsp; 工作服</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t4" value="呼吸器官防护" />&nbsp;&nbsp; 呼吸器官防护</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t4" value="听觉器官防护" />&nbsp;&nbsp; 听觉器官防护</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t4" value="眼(面)部防护" />&nbsp;&nbsp; 眼(面)部防护</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t4" value="足部防护" />&nbsp;&nbsp; 足部防护</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t4" value="手(臂)部防护" />&nbsp;&nbsp; 手(臂)部防护</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" value="工具器具" level="2" class="Pro t5 parent" />&nbsp;<label>工具器具</label>&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <ul>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t5" value="电动工具" />&nbsp;&nbsp; 电动工具</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t5" value="手动工具" />&nbsp;&nbsp; 手动工具</label></div></li>
                            <li><div class='radio-inline icheck'><label><input type='checkbox' level="3" class="t5" value="气动工具" />&nbsp;&nbsp; 气动工具</label></div></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" level="1" class="parent3" value="作业过程" /><label>作业过程</label>&nbsp;&nbsp;&nbsp;</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><input type="checkbox" level="1" class="pf" value=" 作业结束" /><label>作业结束</label>&nbsp;&nbsp;&nbsp;</td>
                    <td><input type="checkbox" level="2" class="Pro m1 pf" value="现场恢复" /><label>现场恢复</label>&nbsp;&nbsp;&nbsp;</td>
                    <td></td>
                </tr>
            </table>*@
         
        

        </div>
    </div>

</div>
