@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<style type="text/css">
    .form .formTitle {
        position: relative;
        left: 0px;
        text-align: right;
        white-space: nowrap;
        font-weight: normal;
        width: 120px;
    }
</style>
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>
<!--webUploader文件上传组件-->
<link href="~/content/scripts/plugins/webuploader/webuploader.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/webuploader/webuploader-demo.css" rel="stylesheet" />
<script type="text/javascript" src="~/content/scripts/plugins/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/fileupload.js"></script>

<link href="~/content/scripts/plugins/icheck/skins/square/_all.css" type="text/css" rel="stylesheet" />
<script src="~/content/scripts/plugins/icheck/js/icheck.min.js" type="text/javascript"></script>
<script src="~/content/scripts/plugins/icheck/js/custom.min.js" type="text/javascript"></script>

<script src="~/Content/scripts/plugins/jquery.md5.js"></script>
<script src="~/Content/scripts/plugins/uploadify/ajaxfileupload.js"></script>

<script src="~/Content/scripts/plugins/combo-select/jquery.combo.select.js"></script>
<link rel="stylesheet" href="~/Content/scripts/plugins/combo-select/combo.select.css">

<link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
<script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script>
    var userId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().UserId";//当前用户ID
    var keyValue = request('keyValue');
    var actiontype = request('actiontype');
    var pId = request('pId');
    var EvaluatePlanId = request('EvaluatePlanId');
    var reform = request('reform');//整改
    $(function () {
        $("#MainId").val(pId);//记录父id
        $("#EvaluatePlanId").val(EvaluatePlanId);//记录计划ID
        initControl();
    });

    //初始化控件
    function initControl() {
        $("#Opinion").attr("disabled", "disabled");
        $("#FinishTime").attr("disabled", "disabled");
        
        //符合性
        $("#IsConform").ComboBox({
            description: "==请选择==",
        }).bind("change", function () {
            if ($("#IsConform").attr("data-value") == "0") {
                $("#Opinion").val("");
                $("#FinishTime").val("");
                $("#Opinion").attr("disabled", "disabled");
                $("#FinishTime").attr("disabled", "disabled");
                $("#FinishTime").attr("isvalid", "no");
                $("#Opinion").attr("isvalid", "no");

                $("#td_Opinion").html("整改意见");

                $("#td_FinishTime").html("整改截止时间");
            } else {
                $("#Opinion").removeAttr("disabled");
                $("#FinishTime").removeAttr("disabled");
                $("#FinishTime").attr("isvalid", "yes");
                $("#Opinion").attr("isvalid", "yes");

                $("#td_Opinion").html("整改意见<font face=\"宋体\">*</font>");

                $("#td_FinishTime").html("整改截止时间<font face=\"宋体\">*</font>");
            }
        });
        //默认
        $("#IsConform").ComboBoxSetValue("0");
        $("#FinishTime").attr("isvalid", "no");
        $("#Opinion").attr("isvalid", "no");
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../EvaluateManage/EvaluateDetails/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    debugger;
                    categoryLoad(data.Category);
                    $("#form1").formDeserialize(data);
                    if (!reform) {
                        if ($("#IsConform").attr("data-value") == "0") {
                            $("#Opinion").attr("disabled", "disabled");
                            $("#FinishTime").attr("disabled", "disabled");
                            $("#FinishTime").attr("isvalid", "no");
                            $("#Opinion").attr("isvalid", "no");
                        } else {
                            $("#Opinion").removeAttr("disabled");
                            $("#FinishTime").removeAttr("disabled");
                            $("#FinishTime").attr("isvalid", "yes");
                            $("#Opinion").attr("isvalid", "yes");
                        }
                    }
                }
            })
        } else {//新增，先自动生成ID
            keyValue = keyValue.length == 0 ? "@Guid.NewGuid().ToString()" : keyValue;
        }
        
        if (!!reform) {//整改页面
            $("#FileName").attr("disabled", "disabled");
            $("#Category").attr("disabled", "disabled");
            $("#DutyDept").attr("disabled", "disabled");
            $("#Clause").attr("disabled", "disabled");
            $("#Describe").attr("disabled", "disabled");
            $("#IsConform").attr("disabled", "disabled");
            $("#Opinion").attr("disabled", "disabled");
            $("#FinishTime").attr("disabled", "disabled");
            $("#FinishTime").attr("disabled", "disabled");
            $("#Remake").attr("disabled", "disabled");
            $("#OpenStandardsystem,#OpenStandardsystem1").css("display", "none");//从标准体系中选择

            var isDel = false;
            file_upload.init({
                keyValue: keyValue, extensions: '', isImage: false, el: '#uploader', extensions: 'doc,docx,xls,xlsx,ppt,pptx,pdf,jpg,jepg,png,gif,mp4,avi', fileSingleSizeLimit: 500 * 1024 * 1024
            });

            file_upload.bindFiles(isDel, false, keyValue, "uploader", isDel);
        } else {  //评价详情页面
            $('#tr10,#tr11').hide();
            $("#Measure").attr("isvalid", "no");
            $("#PracticalFinishTime").attr("isvalid", "no");

            var isDel = actiontype == "view" ? false : true;
            file_upload.init({
                keyValue: keyValue, extensions: '', isImage: false, el: '#uploader', extensions: 'doc,docx,xls,xlsx,ppt,pptx,pdf,jpg,jepg,png,gif,mp4,avi', fileSingleSizeLimit: 500 * 1024 * 1024
            });

            file_upload.bindFiles(isDel, false, keyValue, "uploader", isDel);

            $("#StandardId").bind("change", function () {
                var StandardId = $("#StandardId").val();//法律法规ID
                //file_upload.bindFiles(true, false, StandardId, "uploader", isDel);
                //if (!!StandardId) {
                //    $.SetForm({
                //        url: "../../EmergencyPlatform/Reserverplan/GetFormJson",
                //        param: { keyValue: StandardId },
                //        success: function (data) {
                //            ShowOrEdit("edit", "uploader", StandardId);
                //        }
                //    })
                //}
                $.ajax({
                    url: '../../PublicInfoManage/ResourceFile/GetFilesByRecId',
                    data: { recId: StandardId },
                    type: "post",
                    success: function (data) {
                        var objdata = eval("(" + data + ")"); //转化为对象类型
                        file_upload.bind(objdata, false, false, keyValue, "uploader");
                    }
                });
            });
        }
        if (actiontype == "view") {
            $("#OpenStandardsystem,#OpenStandardsystem1").css("display", "none");//从标准体系中选择
        }
        if (actiontype == "add") {
            categoryLoad("");
        }
    }
    //大类小类加载
    function categoryLoad(category) {
        //大类
        $("#Category").ComboBox({
            url: "../../EvaluateManage/EvaluateDetails/GetCategoryListJson",
            param: {},
            id: "ID",
            text: "NAME",
            description: "==请选择==",
            height: "200px"
        }).bind("change", function () {
            $("#CategoryName").val($("#Category").attr("data-text"));
            category = $("#Category").attr("data-value");
            $("#Rank").attr("data-text", null);
            $("#Rank").attr("data-value", null);
            $("#Rank div:eq(0)").text("==请选择==");
            if (category != "") {
                $("#Rank").ComboBox({
                    url: "../../EvaluateManage/EvaluateDetails/GetRankListJson",
                    param: { Category: category },
                    id: "ID",
                    text: "NAME",
                    description: "==请选择==",
                    height: "200px"
                });
            }
        });
        $("#Rank").attr("data-text", null);
        $("#Rank").attr("data-value", null);
        $("#Rank div:eq(0)").text("==请选择==");
        $("#Rank").ComboBox({
            url: "../../EvaluateManage/EvaluateDetails/GetRankListJson",
            param: { Category: category },
            id: "ID",
            text: "NAME",
            description: "==请选择==",
            height: "200px"
        }).bind("change", function () {
            $("#RankName").val($("#Rank").attr("data-text"));
        });
    }
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        //debugger;
        var postData = $("#form1").formSerialize(keyValue);
        //postData.Rank = $("#Rank").attr("data-value");
        $.SaveForm({
            url: "../../EvaluateManage/EvaluateDetails/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                //$.currentIframe().$("#gridTable").trigger("reloadGrid");
                top.Form.$("#gridTable").trigger("reloadGrid");
                top.Form.$("#gridTable2").trigger("reloadGrid");
            }
        })
    }
    //打开从标准体系中选择
    function showStandardsystem(str,val) {
        var idx0 = dialogOpen({
            id: 'StandardsystemWin',
            title: '选择' + str,
            url: '/StandardSystem/Standardsystem/Index?actiontype=select&standardtype=' + val,
            width: '98%',
            height: '98%',
            btn: null,
            callBack: function (iframeId) {
            }
        });
    }
    function setStd(StandardId) {
        $.ajax({
            url: '../../PublicInfoManage/ResourceFile/GetFilesByRecId',
            data: { recId: StandardId },
            type: "post",
            success: function (data) {
                
                //先清空附件列表
                $("#uploader").children().eq(0).children().eq(1).remove();

                var objdata = eval("(" + data + ")"); //转化为对象类型
                //file_upload.bind(objdata, true, false, keyValue, "uploader");
                
                $.ajax({
                    url: "../../EvaluateManage/EvaluateDetails/PostFile?keyValue=" + keyValue,
                    data: { postData: JSON.stringify(objdata) },
                    type: "post",
                    success: function (data) {
                        //$("#uploader").children().eq(0).children().eq(0).remove();
                        file_upload.bindFiles(true, false, keyValue, "uploader", true);
                    }
                });
            }
        });
    }
    //选择用户
    function openSelectUser() {
        selectUser({ deptId: '', checkMode: 0, mode: 0, winObject: window.document.body, domId: 'EvaluatePerson,,EvaluatePersonId,,,,' });
    }
</script>
<div style="margin-top: 20px; margin-right: 30px;margin-left: 20px;">
    <table class="form">
        <tr>
            <td class="formTitle">文件编号及名称<font face="宋体">*</font></td>
            <td class="formValue" colspan="3">
                <input id="MainId" type="hidden" />
                <input id="EvaluatePlanId" type="hidden" />
                <input id="StandardId" type="hidden" />
                <div style="float:left;width:75%;">
                    <input id="FileName" type="text" class="form-control" isvalid="yes" checkexpession="LenStr" length="50" />
                </div>

                <div style="float:left;width:10%;text-align:center;margin-top:0px;margin-left:5px;">
                    <input type="button" value="从法律法规中选择" onclick="showStandardsystem('法律法规',6)" id="OpenStandardsystem" class="btn btn-primary" />
                </div>
                <div style="float:left;width:10%;text-align:center;margin-top:0px;margin-left:25px;">
                    <input type="button" value="从指导标准中选择" onclick="showStandardsystem('指导标准',5)" id="OpenStandardsystem1" class="btn btn-primary" />
                </div>
            </td>
        </tr>
        <tr>
            <td class="formTitle">评价人</td>
            <td class="formValue" colspan="3">
                <input id="EvaluatePersonId" type="hidden" value="@ERCHTMS.Code.OperatorProvider.Provider.Current().UserId" />
                <input id="EvaluatePerson" type="text" class="form-control" readonly onclick="openSelectUser()" value="@ERCHTMS.Code.OperatorProvider.Provider.Current().UserName" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">大类</td>
            <td class="formValue">
                <input id="CategoryName" type="hidden" />
                <div id="Category" type="select" class="ui-select" ></div>
            </td>
            <td class="formTitle">小类</td>
            <td class="formValue">
                <input id="RankName" type="hidden" />
                <div id="Rank" type="select" class="ui-select" ></div>
            </td>
        </tr>
        <tr>
            <td class="formTitle">颁布部门</td>
            <td class="formValue">
                <input id="DutyDept" type="text" class="form-control" isvalid="yes" checkexpession="LenStrOrNull" length="30" />
            </td>
            <td class="formTitle">实施日期</td>
            <td class="formValue">
                <input id="PutDate" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">纳入企业标准的名称<font face="宋体">*</font></td>
            <td class="formValue" colspan="3">
                <input id="NormName" type="text" class="form-control" isvalid="yes" checkexpession="LenStr" length="300" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">适用条款<font face="宋体">*</font></td>
            <td class="formValue" colspan="3">
                <textarea id="Clause" class="form-control" style="height: 50px;" isvalid="yes" checkexpession="LenStr" length="300"></textarea>
            </td>
        </tr>
        <tr>
            <td class="formTitle">适用范围<font face="宋体">*</font></td>
            <td class="formValue" colspan="3">
                <textarea id="ApplyScope" class="form-control" style="height: 50px;" isvalid="yes" checkexpession="LenStr" length="300"></textarea>
            </td>
        </tr>
        <tr>
            <td class="formTitle">符合性<font face="宋体">*</font></td>
            <td class="formValue" colspan="3">
                <div id="IsConform" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull">
                    <ul>
                        <li data-value="0">符合</li>
                        <li data-value="1">不符合</li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td class="formTitle">现状符合性描述<font face="宋体">*</font></td>
            <td class="formValue" colspan="3">
                <input id="Describe" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <td class="formTitle" id="td_Opinion">整改意见</td>
            <td class="formValue" colspan="3">
                <textarea id="Opinion" class="form-control" style="height: 80px;" isvalid="yes" checkexpession="LenStr" length="300"></textarea>
            </td>
        </tr>
        <tr>
            <td class="formTitle" id="td_FinishTime">整改截止时间</td>
            <td class="formValue">
                <input id="FinishTime" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm' })" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">备注</td>
            <td class="formValue" colspan="3">
                <textarea id="Remake" class="form-control" style="height: 80px;" isvalid="yes" checkexpession="LenStrOrNull" length="200"></textarea>
            </td>
        </tr>
        <tr>
            <td class="formTitle">附件信息</td>
            <td class="formValue" colspan="3">
                <div id="uploader" class="uploader" style="border:1px solid #ccc; margin-top:10px; min-height:200px; margin-bottom:10px;">
                    <div class="queueList">
                        <div id="uploaderFile" class="placeholder">
                            <div class="filePicker" style="margin-left:25px; margin-top:10px;"></div>
                        </div>
                    </div>
                    <div class="statusBar" style="display:none;">
                        <div class="progress">
                            <span class="text">0%</span>
                            <span class="percentage"></span>
                        </div>
                        <div class="info"></div>
                    </div>
                </div>
            </td>
        </tr>
        <tr id="tr10">
            <td class="formTitle">整改措施</td>
            <td class="formValue" colspan="3">
                <textarea id="Measure" class="form-control" style="height: 80px;" isvalid="yes" checkexpession="LenStr" length="200"></textarea>
            </td>
        </tr>
        <tr id="tr11">
            <td class="formTitle">整改实际完成时间</td>
            <td class="formValue" colspan="3">
                <input id="PracticalFinishTime" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm' })" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
    </table>
</div>
