<!DOCTYPE html>

<html>
<head>
    <script src="~/Content/Scripts/jquery/jquery-1.10.2.min.js"></script>
    @System.Web.Optimization.Styles.Render("~/Content/styles/framework-ui.css")
    <link href="~/Content/scripts/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/scripts/bootstrap/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script type="text/javascript">
        function GetQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) {
                return unescape(r[2]);
            }
            else {
                return null;
            }
        }
        var mode = 0;
        $(function () {
            mode = GetQueryString("mode");
            var height = ($(top.window).height() - 200) + "px";
            $("#btn1").html("待办日常检查数（" + GetQueryString("rcnum") + ")");
            $("#btn2").html("待办专项检查数（" + GetQueryString("zxnum") + ")");
            $("#btn3").html("待办节假日检查数（" + GetQueryString("jjrnum") + ")");
            $("#btn4").html("待办季节检查数（" + GetQueryString("jjnum") + ")");
            $("#btn5").html("待办综合检查数（" + GetQueryString("zhnum") + ")");
            //设置默认选中的选项卡
            var ctype = 1;
            var pageIndex = "ZXIndex";
            var btn = "#btn1";
            if (GetQueryString("rcnum") != 0) {
                ctype = 1;
                pageIndex = "Index";
            } else if (GetQueryString("zxnum") != 0) {
                ctype = 2;
                btn = "#btn2";
            } else if (GetQueryString("jjrnum") != 0) {
                ctype = 3;
                btn = "#btn3";
            } else if (GetQueryString("jjnum") != 0) {
                ctype = 4;
                btn = "#btn4";
            } else if (GetQueryString("zhnum") != 0) {
                ctype = 5;
                btn = "#btn5";
            }
            
            $("#iframe").attr("src", "../SaftyCheckDataRecord/" + pageIndex + "?ctype=" + ctype + "&indexData=1&mode=" + mode);
            $(".btn1").removeClass("btn-primary");
            $(btn).addClass("btn-primary");
            $(".btn1").addClass("btn-default");
            $(".iframe").attr("style", "width:100%;height:" + height);

        })

        //导航切换
        function changeTab(idx, obj) {
          
            $(".btn1").removeClass("btn-primary");
            $(obj).addClass("btn-primary");
            $(".btn1").addClass("btn-default");
            var ctype = 0;
            var cname = "";
            switch (idx) {
                
                case 1:
                    ctype = idx + 1;
                    cname = "专项安全检查";
                    break;
                case 2:
                    ctype = idx + 1;
                    cname = "节假日安全检查";
                    break;
                case 3:
                    ctype = idx + 1;
                    cname = "季节性安全检查";
                    break;
                case 4:
                    ctype = idx + 1;
                    cname = "综合性安全检查";
                    break;
                default:

            }
           
            if (idx == 0)
            {
                $("#iframe").attr("src", "../SaftyCheckDataRecord/Index?ctype=1&indexData=1&mode=" + mode);
               
            } else {
                $("#iframe").attr("src", "../SaftyCheckDataRecord/ZXIndex?ctype=" + ctype + "&cname=" + cname + "&indexData=1&mode=" + mode);
            }
        }


    </script>
</head>
<body>
    <div id="desktop" style="margin: 10px; background: #fff; overflow-y: auto; overflow-x: hidden;">
        <div class="portal-panel">
            <div class="row" style="margin-top: 10px;">
                <div class="btn-group">
                    <button id="btn1" class="btn btn-primary btn1" type="button" onclick="changeTab(0,this)">&nbsp;日常检查</button>
                    <button id="btn2" class="btn btn-default btn1" type="button" onclick="changeTab(1,this)"></button>
                    <button id="btn3" class="btn btn-default btn1" type="button" onclick="changeTab(2,this)"></button>
                    <button id="btn4" class="btn btn-default btn1" type="button" onclick="changeTab(3,this)"></button>
                    <button id="btn5" class="btn btn-default btn1" type="button" onclick="changeTab(4,this)"></button>
                </div>
            </div>
            <div>
                <iframe id="iframe"  class="iframe" frameborder="0"></iframe>
            </div>

        </div>
    </div>
</body>
</html>
