@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = request('keyValue');
  
    $(function () {
        initControl();
    });
    //初始化控件
    function initControl() {
        $("#CheckType").ComboBoxTree({
            url: "../../HiddenTroubleManage/Publicity/GetExamineTypeDataJson",
            description: "==请选择==",
            allowSearch: false
        });
    }
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        dialogConfirm("确认提交吗？", function (isSure) {
            if (isSure) {
                var postData = $("#form1").formSerialize();
                postData["CheckId"] = keyValue;
                $.SaveForm({
                    url: "../../SaftyCheck/SaftyCheckData/Make?keyValue=",
                    param: postData,
                    loading: "正在保存数据...",
                    success: function () {
                       
                    }
                })
            }
        });
       
    }
</script>
<div style="margin: 10px;">
            <table class="form">
                <tr>
                    <td class="formTitle" style="width:120px; ">公示检查类型<font face="宋体">*</font></td>
                    <td class="formValue">
                        <div id="CheckType" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">年度<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="Year" type="text" name="Year" class="form-control input-wdatepicker" value="2020" isvalid="yes" checkexpession="NotNull" onfocus="WdatePicker({dateFmt:'yyyy'})" />
                    </td>
                </tr>
              
                <tr>
                    <td class="formTitle">展示类别<font face="宋体">*</font></td>
                    <td class="formValue">
                        <select id="TimeType" class="form-control" isvalid="yes" checkexpession="NotNull">
                            <option value="1">按月</option>
                            <option value="2">按周</option>
                        </select>
                    </td>
                </tr>
            </table>
</div>
