@{
    ViewBag.Title = "选择部门";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var deptId = request('deptId');
    var checkMode = request('checkMode');
    var mode = request('mode');
    var deptIds = request('deptIds');
    var type = request('type');
    $(function () {
        initControl();
    })
    //初始化数据
    function initControl() {
        var json = JSON.stringify(
             {
                 Ids:deptId,
                 SelectMode: checkMode,
                 Mode: mode,
                 DeptIds:deptIds
             }
           );
        var item = {
            cascadecheck: false,
           // height: 540,
            showcheck: true,
            //url: "../../BaseManage/Department/GetDepartTreeJson?json=" + json,
            url: "../../SaftyCheck/SaftyCheckDataRecord/GetDepartTreeJson?json=" + json,
        };
        $("#DeptTree").treeview(item);
    }    //返回选择后的结果并赋值到dom控件    //winObject:窗体中需要查找domId的对象，一般可写成window.document.body    //domId：接收返回值的dom节点的ID，多个用逗号分隔，顺序依次为部门名称,部门Code，部门Id（多选用逗号分隔）    //callback:回调函数    function AcceptClick(winObject, domId, _win, callback) {
        var selVal = new Array();
        if (winObject != undefined && domId != undefined) {
            if (domId.length > 0) {
                var deptTree = $("#DeptTree");
                if (checkMode == 1) {
                    selVal = new Array(deptTree.getCheckedTexts(), deptTree.getCheckedValues(), deptTree.getCheckedIds(), deptTree.getSelectedManagerNames(), deptTree.getSelectedManagerAccounts());
                } else {
                    var currentNode = deptTree.getCurrentNode();
                    selVal = new Array(currentNode.text, currentNode.value, currentNode.id);
                    if (currentNode.managerName != undefined && currentNode.managerName != null) {
                        selVal.push(currentNode.managerName);
                    }
                    if (currentNode.managerAccount != undefined && currentNode.managerAccount != null) {
                        selVal.push(currentNode.managerAccount);
                    }
                }

                var ids = domId.split(',');
                for (var j = 0; j < ids.length; j++) {
                    if (ids[j].length > 0) {
                        var dom = $(winObject).find("#" + ids[j]).eq(0);
                        if (dom != undefined) {
                            dom.val(selVal[j]);
                        }
                    }

                }
            }
            
            if (deptTree.getCheckedTexts().length == 0) {
                dialogMsg("请选择正确的部门/单位",0);
                return;
            }
            if (_win != undefined) {
                if (typeof (_win.callBackSelect) == "function") {
                    _win.callBackSelect(selVal);
                }

            }
            dialogClose();
        }
    }
</script>
<div style="margin: 10px;">
    <div id="DeptTree"></div>
</div>
