@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>
<link href="~/content/scripts/plugins/icheck/skins/square/_all.css" type="text/css" rel="stylesheet" />
<script src="~/content/scripts/plugins/icheck/js/icheck.min.js" type="text/javascript"></script>
<script src="~/content/scripts/plugins/icheck/js/custom.min.js" type="text/javascript"></script>
<script>
    
    var risklength = "";
    var mode = request('mode');
    $(function () {
        GetGrid();
      
    });
    
    //加载表格(检查表详情项)
    var data = new Array();
    function GetGrid() {
        data.push({
            userid: "",
            content:""
        });
        var $gridTable = $("#gridTable");
        $gridTable.jqGrid({
            data: data,
            datatype: "local",
            height: $(top.window).height()-270,
            autowidth: true,
            rowNum: 1000000,
            rownumbers: true,
            shrinkToFit: true,
            colModel: [
                {
                    label: '操作', name: 'oper',width:30,align:'center',sortable: false
                  , formatter: function (cellvalue, options, rowObject) {
                      return "<a href='javascript:delRow(this,"+options.rowId+")' title='删除'><i class='fa fa-trash-o'></i></a>";
                    }
                },
                {
                    label: '检查人员', name: 'userid', align: 'left', sortable: false, headerAlign: 'center'
                    , formatter: function (cellvalue, options, rowObject) {
                        return "<input style='width:100%;height:30px;border-color:red' type='text' class='form-control' placeholder='请选择检查人员' value='" + cellvalue + "'  onclick=selCheckUsers(this) isvalid='yes' checkexpession='NotNull'  />";
                    }
                },
                {
                    label: '检查对象', name: 'content', align: 'left', sortable: false, headerAlign: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        return "<textarea title='双击可选择检查对象' style='border: none;width:100%;height:40px;padding:0px;margin:0px;text-valign:top;' class='form-control checkcontent' type='text' ondblclick='selContents(this)' placeholder='双击可选择检查对象'>" + cellvalue + "</textarea>";
                        }
                }
            ]
        });
    }
    function setStatus(obj, mode) {
        if (mode == 0) {
            top.window.$("#divUsers").find(".chkUser").each(function (i, dom) {
                this.checked = obj.checked;
            });
        }
        if (mode == 1) {
            top.window.$("#divUsers").find(".chkUser").each(function (i, dom) {
                this.checked = !this.checked;
            });
        }
    }
    function selCheckUsers(obj) {
        var uIds = top.Details.window.$("#CheckLevelID").val() + "," + top.Details.window.$("#CheckManageManID").val()
        $.post("../../BaseManage/User/GetUserJson", { UserIDs: uIds }, function (data) {
            var html = "";
            html += "<div style='padding:20px;' id='divUsers'><table style='width:95%' cellpadding='0' cellspacing='0' class='table1' border='1'><tr><td style='width:20%;font-weight:bold;text-align:center;'>检查人员</td><td style='width:60%;font-weight:bold;text-align:center;'>部门</td><td style='width:20%;font-weight:bold;text-align:center;'><input type='checkbox' id='chkAll' style='width:25px;height:25px;' title='全选或全不选' onclick=\"top.window.frames['Work'].window.setStatus(this,0)\" /><label for='chkAll'></label></td></tr>";
            //var names = top.Details.window.$("#CheckUsers").val().split(',');
            var val = $(obj).attr("accounts");
            var names = top.Details.window.$("#CheckUsers").val().split(',');
            var accounts = top.Details.window.$("#CheckLevelID").val().split(',');
            var codes = top.Details.window.$("#CheckDeptCode").val().split(',');
            if (top.Details.window.$("#CheckManageMan").val().length > 0) {
                if ($.inArray(top.Details.window.$("#CheckManageMan").val(), names) < 0) {
                    names.push(top.Details.window.$("#CheckManageMan").val());
                    accounts.push(top.Details.window.$("#CheckManageManID").val());
                    codes.push(top.Details.window.$("#AllotDept").val());
                }
            }
            var json = $.parseJSON(data);
            $(json).each(function (j,item) {
                html += "<tr><td style='text-align:center;'>" + item.realname + "</td><td style='text-align:center;'>" + item.deptname + "</td><td style='text-align:center;'><input type='checkbox' class='chkUser' value='" + item.account + "' style='width:25px;height:25px;' id='chk" + j + "' code='" + item.deptcode + "' name='" + item.realname + "'";
                if (val != undefined) {
                    if (val.indexOf(item.account) >= 0) {
                        html += " checked='true'";
                    }
                }
                html += " /></td></tr></div>";

            });
            html += "</table></div>";
            var dlg = dialogContent({
                id: "seluser",
                content: html,
                title: "选择检查人员",
                width: "600px",
                height: "500px",
                callBack: function (iframeId) {
                    var arr = top.window.$("#divUsers").find("input:checked[code]");
                    if (arr.length == 0) {
                        dialogMsg("请选择人员！", 0);
                    } else {
                        var users = "";
                        var codes = "";
                        var accounts = "";
                        $(arr).each(function (j, dom) {
                            users += $(dom).attr("name") + ",";
                            accounts += $(dom).val() + ",";
                            codes += $(dom).attr("code") + ",";
                        });
                        if (users.length > 0) {
                            users = users.substring(0, users.length - 1);
                            codes = codes.substring(0, codes.length - 1);
                            accounts = accounts.substring(0, accounts.length - 1);
                        }
                        $(obj).val(users);
                        $(obj).attr("accounts", accounts);
                        $(obj).attr("codes", codes);
                        top.layer.close(dlg);
                    }
                }
            });

        });
        //$(names).each(function (j, name) {
        //    var account = "unknow";
        //    if (accounts.length>0) {
        //        account = accounts[j];
        //    }
        //   var code = "-100";
        //   if (codes.length > 0) {
        //       code = codes[j];
        //    }
        //   html += "<tr><td>" + name + "</td><td>1111</td><td><input type='checkbox' class='chkUser' value='" + account + "' style='width:25px;height:25px;' id='chk" + j + "' code='" + code + "' name='" + name + "'";
        //    if (val != undefined) {
        //        if (val.indexOf(account) >= 0) {
        //            html += " checked='true'";
        //        }
        //    }
        //    html += " /></td></tr></div>";
        //});
      
    }
    //保存表单
    function AcceptClick() {
        var isSure = true;
        $("#gridTable").find("textarea").each(function (j, dom) {
            var names = $(dom).parent().prev().find("input:text").eq(0).val(); //检查人员姓名（多个逗号分隔）
            var accounts = $(dom).parent().prev().find("input:text").eq(0).attr("accounts"); //检查人员账号（多个逗号分隔）
            var codes = $(dom).parent().prev().find("input:text").eq(0).attr("codes");//检查人员部门（多个逗号分隔）
            if (names.length == 0) {
                dialogMsg("检查人员不能为空！", 0);
                isSure = false;
                return false;
            }
        });
        if (!isSure) {
            dialogMsg("检查人员不能为空！", 0);
            return;
        } else {
            $("#gridTable").find("textarea").each(function (j, dom) {
                var names = $(dom).parent().prev().find("input:text").eq(0).val(); //检查人员姓名（多个逗号分隔）
                var accounts = $(dom).parent().prev().find("input:text").eq(0).attr("accounts"); //检查人员账号（多个逗号分隔）
                var codes = $(dom).parent().prev().find("input:text").eq(0).attr("codes");//检查人员部门（多个逗号分隔）
                if ($(dom).attr("ids") != undefined) {
                    var arr = $(dom).attr("ids").split(','); //检查对象Id（多个逗号分隔）
                    //批量给列表中的选择检查对象的检查人员赋值
                    $(arr).each(function (i, item) {
                        top.Details.window.$("#gridTable").find("input:text[stid='" + item + "']").val(names);//检查人员姓名（多个逗号分隔）
                        top.Details.window.$("#gridTable").find("input:text[stid='" + item + "']").attr("uid", accounts);//检查人员账号（多个逗号分隔）
                        top.Details.window.$("#gridTable").find("input:text[stid='" + item + "']").attr("ucode", codes);//检查人员部门（多个逗号分隔）
                    });
                }
                else {
                    var arr = [];
                    arr.push({
                        pkid: newGuid(),
                        count: "0",
                        require: "符合安全管理要求",
                        content: "",
                        rid: "",
                        name: $(dom).val().length == 0 ? names + "根据检查分工安排的检查对象" : $(dom).val(),
                        stid: newGuid(),
                        checkobjecttype: "",
                        checkman: names,
                        checkmanid: accounts,
                        belongdept: codes
                    });                    top.Details.window.fillItems(arr);
                }
            });
            dialogClose();
        }
      
    }
    //选择检查对象
    function selContents(obj) {
        var html = "<div style='padding:20px;' id='divUsers'><table style='width:95%' cellpadding='0' cellspacing='0' class='table1' border='1'><tr><td style='width:90%;font-weight:bold;text-align:center;'>检查对象</td><td style='width:20%;font-weight:bold;text-align:center;'><input type='checkbox' id='chkAll' style='width:25px;height:25px;' title='全选或全不选' onclick=\"top.window.frames['Work'].window.setStatus(this,0)\" /><label for='chkAll'></label></td></tr>";
        var names = top.Details.window.$("#gridTable").find(".name1:visible").find("span");//获取列表中所有的检查对象
        var val = $(obj).attr("ids");
        var ids="";
        $("#gridTable").find(".checkcontent").each(function (i, dom1) {
            if ($(obj).attr("ids") != undefined) {
                if ($(obj).attr("ids") != $(dom1).attr("ids")) {
                    ids += $(dom1).attr("ids") + ",";
                }
            
            } else {
                ids += $(dom1).attr("ids") + ",";
            }
        });
        $(names).each(function (j, dom) {
                if (ids.indexOf($(dom).attr("id")) < 0) {
                    html += "<tr><td style='text-align:left;'>" + $(dom).text() + "</td><td style='text-align:center;'><input type='checkbox' style='width:25px;height:25px;' class='chkUser' value='" + $(dom).attr("id") + "' id='chk" + j + "' ckname='" + $(dom).text() + "' ";
                        if (val != undefined) {
                            if (val.indexOf($(dom).attr("id")) >= 0) {
                                html += " checked='true'";
                            }
                        }
                        html += " /></td></tr></div>";
                  }
        });
        html += "</table></div>";
        var dlg = dialogContent({
            id: "seluser",
            content: html,
            title: "选择检查对象",
            width: "500px",
            height: ($(top.window).height()-100)+"px",
            callBack: function (iframeId) {
                var arr = top.window.$("#divUsers").find("input:checked[value]");
                if (arr.length == 0) {
                    dialogMsg("请选择检查对象！", 0);
                } else {
                    var texts = "";
                    var ids = "";
                    $(arr).each(function (j, dom) {
                        texts += $(dom).attr("ckname") + ",";
                        ids += $(dom).val() + ",";
                    });
                    if (texts.length > 0) {
                        texts = texts.substring(0, texts.length - 1);
                        ids = ids.substring(0, ids.length - 1);
                    }
                    $(obj).val(texts);
                    $(obj).attr("ids", ids);
                    top.layer.close(dlg);
                }
            }
        });
    }
    //动态新增行
    function addRow(obj) {
        var grid= $("#gridTable");
        var len = grid.find(".jqgrow").length;
        grid.addRowData(len + 1, {
            userid: "",
            content: ""
        });
    }
    //删除行
    function delRow(obj,rowId) {
        var grid = $("#gridTable");
        var idx = dialogConfirm("确认删除吗？", function (isSure) {
            if (isSure) {
                grid.delRowData(rowId);
                top.layer.close(idx);
            }
        });
       
    }
</script>
<div style="margin: 10px;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;检查工作安排</strong>
            <span class="tools pull-right">
                <a href="javascript:addRow(this)" id="btnAdd" class="btn btn-primary btn-xs">新增</a>&nbsp;&nbsp;
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <table id="gridTable"></table>
            <div id="gridPager"></div>
        </div>
    </div>
</div>
